/* .view-bid-container {
    padding: 16px;
  } */

.back-button-box {
    margin-bottom: 10px;
}

.details-box {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table td button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.simple-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.simple-btn span {
    font-size: 18px;
}

.asset-table table td button.simple-btn span img {
    width: 22px;
}

.asset-table table td button.simple-btn.exclainmation-icon span img {
    transform: rotate(180deg);
}

.asset-table table td .payment-btn {
    line-height: 34px;
    height: 34px;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}

.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
}

.product-wrapper {
    padding: 15px;
    margin-bottom: 100px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
}

.mat-card {
    padding: 0px;
}

.default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
}

.default-tbl mat-row,
.default-tbl .mat-header-row {
    border-color: #e0e4e8;
}

.default-tbl mat-cell,
.default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    white-space: nowrap;
    height: 42px;
    padding: 15px 21px;
}

.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
}

.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 52px;
    min-width: 100px;
}

.default-tbl mat-row:hover {
    background-color: #f8fbfd;
}

.asset-table table tr:hover {
    background-color: #f8fbfd;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
    border-color: #e0e4e8;
}

.details-box strong {
    display: block;
}

.details-box p {
    min-height: 41px;
}


@media(max-width:767px) { 
 
    .asset-table table td .mobile-btn {
        width: auto !important;
    border-radius: 4px;
    padding: 0px 10px;
    }
}