<div class="confirmation-popup popup modal-popup">
  <div class="popup-hdr">
    <h4 class="m-0">Confirmation</h4>
    <button type="button" class="close-btn mat-button" aria-label="Close" (click)="closeDialog()">
      <img src="../../../../../../assets/images/Close.svg" alt="">
    </button>
  </div>
  <div class="popup-body">
    <div class="">
      Are You sure want to delete?
    </div>

    <div class="text-right mt-3">
      <button type="button" class="default-btn-outline mr-2 px-3" (click)="closeDialog()">cancel</button>
     <button type="button" class="default-btn px-4" (click)="accept()">ok</button>
    </div>
    
  </div> 
</div>