.confirmation-popup {
  background: white;
}

.mat-dialog-actions .default-btn
{
    background: #0092cb;
    color: #fff;
    border: 1px solid #0092cb;
    margin: 0;
    line-height: 34px;
    border-radius: 4px;
}
.mat-dialog-actions button.default-btn:first-child
{
    background-color: #fff;
    border: 1px solid #0092cb;
    color: #0092cb;
}
.mat-dialog-actions button.default-btn:last-child
{ 
   background: #0092cb;
    color: #fff;

}
.min-w-90
{
    min-width: 90px
}
mat-dialog-actions, mat-dialog-content
{
    padding: 0 !important;
    margin: 0 !important;
    min-height: auto;
}
.modal-popup-container .card-content {
    padding-bottom: 0;
}
mat-dialog-content
{
    margin-bottom: 15px !important;
}
@media(max-width:474px)
{
    .modal-popup-container
    {
        padding: 15px 10px;
    }
}
