<div class="div-wraapper user-management-page">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Customer Management</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
                <h3 class="admin-page-title">Customer Management</h3>
            </div>
            <div class="admin-page-button header-add-btn col-lg-6 col-md-4 col-sm-4 col-4">
                <button class="default-btn float-right" mat-button (click)='addusernav()'>
        <i class="fa fa-plus" aria-hidden="true"></i> Add User</button>
            </div>
        </div>
        <div class="row mb-3 used-upload-section" [formGroup]="filterUserForm">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <!-- <label for="">Search by Mobile Number</label> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Search by Mobile Number" (keydown.enter)="filterData()" oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text" maxlength="10" formControlName="Mobile">
                </mat-form-field>
                <mat-error>
                    <div class="validation-err" *ngIf="filterUserForm.get('Mobile')?.touched && filterUserForm.get('Mobile')?.hasError('required')">
                        Please enter Mobile Number.
                    </div>
                </mat-error>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <!-- <label for="">Search by First Name</label> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Search by First Name" (keydown.enter)="filterData()" type="text" formControlName="Name">
                </mat-form-field>
                <mat-error>
                    <div class="validation-err" *ngIf="filterUserForm.get('Name')?.touched && filterUserForm.get('Name')?.hasError('required')">
                        Please enter Name.
                    </div>
                </mat-error>
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12 submit-buttons text-right">
                <!-- <button class="default-btn" mat-button (click)='getusersfn()'>Search</button>
          <button class="default-btn float-right" mat-button (click)='getusersfn()'>Reset</button> -->
                <!-- <div class="comback-btn">
        <button mat-flat-button (click)="resetData()">Reset</button>
      </div> -->
                <div class="comsaveandcont-btn search-btn p-0 ml-3">
                    <button mat-flat-button [disabled]="filterUserForm.get('Name')?.value=='' && filterUserForm.get('Mobile')?.value=='' " (click)="filterData()">Search</button>
                </div>

            </div>
        </div>


        <div class="desktop-table">
            <div class="asset-table">
                <div class="inner-table mb-3">
                    <ejs-grid #grid id='Grid' [dataSource]="data" [allowPaging]="true" [allowSorting]="true" [allowFiltering]="true" [toolbar]='toolbarOptions' [filterSettings]='filterOptions' [pageSettings]='pageSettings' [allowExcelExport]='true' (toolbarClick)='toolbarClick($event)'>
                        <e-columns>
                            <!-- <e-column type='checkbox' width='50'></e-column>        -->
                            <e-column field='firstName' headerText='First Name' width=150></e-column>
                            <e-column field='email' headerText='Email' width=200></e-column>
                            <e-column field='phoneNumber' headerText='Phone Number' width=150></e-column>
                            <e-column field='kyc_verified' headerText='Kyc Verified' width=150></e-column>
                            <e-column headerText='Address Proof Added ?' width=200>
                                <ng-template #template let-data>
                                    <div class="editdlt-btn d-flex">

                                        {{getStatus(data?.pan_address_proof)}}
                                    </div>
                                </ng-template>
                            </e-column>
                            <e-column field='state' headerText='State' width=120></e-column>
                            <e-column field='city' headerText='City' width=120></e-column>
                            <e-column field='Groups' headerText='Groups' width=120></e-column>
                            <e-column headerText='IsActive ?' width=120>
                                <ng-template #template let-data>
                                    <div class="editdlt-btn d-flex">
                                        <mat-slide-toggle [checked]="data.status=='active'" (click)="togglestatus(data.UserName,data.status)" [disableRipple]="true">
                                        </mat-slide-toggle>
                                    </div>
                                </ng-template>
                            </e-column>
                            <e-column headerText='Action' width=140 class="actions">
                                <ng-template #template let-data>
                                    <div class="editdlt-btn d-flex">
                                        <!-- <button *ngIf="data.kyc_verified == 'Verified'" (click)='editusernav($event, data.UserName)'><img src="../../../assets/images/editicon.svg" alt=""></button> -->
                                        <!-- <button *ngIf="(data.kyc_verified == 'Pending' && this.role==this.apiRouteService.roles.callcenter)  || this.role==this.apiRouteService.roles.superadmin || (data.kyc_verified == 'Pending' && this.role==this.apiRouteService.roles.admin)"
                  (click)='editusernav($event, data.UserName)'><img src="../../../assets/images/editicon.svg"
                    alt=""></button> -->
                                        <button *ngIf="(data.kyc_verified == 'Pending' && this.role==this.apiRouteService.roles.callcenter)  || this.role==this.apiRouteService.roles.superadmin || (data.kyc_verified == 'Pending' && this.role==this.apiRouteService.roles.admin)" (click)='editusernav($event, data.UserName)'
                                            class="table-row-btn" mat-button><span><img
                      src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span></button>
                                        <div *ngIf="data.kyc_verified == 'Pending' && (this.role==this.apiRouteService.roles.callcenter || this.role==this.apiRouteService.roles.superadmin || this.role==this.apiRouteService.roles.admin)">
                                            <button (click)='verifyusernav(data.UserName)' class="table-row-btn verifybtn"><img
                      src="../../../assets/images/verified.svg" alt="" width="16" title="Verify"></button>
                                        </div>
                                        <!-- <mat-slide-toggle [checked]="data.status=='active'" (click)="togglestatus(data.UserName,data.status)" [disableRipple]="true">
                </mat-slide-toggle> -->
                                    </div>
                                </ng-template>
                            </e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>




    </div>
</div>