.div-wraapper {
    width: calc(100% - 18em);
    padding: 15px;
    margin-left: auto;
    transition: 0.5s;
}

.modal-popup .popup-body {
    height: 400px;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
}

table {
    width: 100%;
}

.user-mng-tbl {
    margin-top: 20px;
}

.e-grid {
    margin-bottom: 50px;
}

.e-grid .e-rowcell {
    font-size: 12px;
    line-height: 21px;
    padding: 15px 21px;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
    background-color: #0D4FA3;
    color: #fff;
    height: 52px;
}

.e-checkbox-wrapper .e-frame,
.e-css.e-checkbox-wrapper .e-frame {
    background-color: #D3D8DD;
    border-color: transparent;
}

.e-headercell .e-checkbox-wrapper .e-frame,
.e-headercell .e-css.e-checkbox-wrapper .e-frame {
    background-color: #6E96C8;
}

.e-checkbox-wrapper .e-frame,
.e-css.e-checkbox-wrapper .e-frame {
    height: 15px;
    width: 15px;
    padding: 1px 0;
    font-size: 10px !important;
}

.e-grid td.e-active {
    background: #ffffff;
}

.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    color: #ffffff;
}

.e-filtermenudiv.e-icons.e-icon-filter {
    display: none;
}

.e-columnheader .e-headercell:nth-child(1) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(2) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(3) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(4) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(6) .e-filtermenudiv.e-icons.e-icon-filter {
    display: block;
}

.e-columnheader .e-headercell:nth-child(1) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(2) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(3) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(4) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(6) .e-filtermenudiv.e-icons.e-icon-filter::before {
    content: url(../../../assets/images/filtericn.svg);
}

.editdlt-btn button {
    background: transparent;
    border: none;
}


/* .e-lib.e-keyboard {display: none;} */

.asset-table .inner-table .e-grid {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th {
    font-size: 12px;
    font-weight: 600;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table td button.table-row-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn span {
    font-size: 18px;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}

.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}

.comback-btn button,
.search-btn button {
    padding: 2px 30px !important;
    height: 40px;
    line-height: 34px;
}

.used-upload-section label {
    color: #77828a;
    font-weight: 500;
}

.comback-btn {
    padding: 0px;
}

.header-add-btn button i {
    font-size: 0px;
}

@media (max-width:767px) {
    .div-wraapper {
        width: 100%!important
    }
    .asset-table colgroup#GridcolGroup,
    .asset-table tr.e-columnheader {
        display: none;
    }
    .asset-table .div-wraapper {
        width: 100%;
    }

    .asset-table td {padding: 0 21px 0 21px !important;}
    .header-add-btn button i{font-size: 18px;}
    .header-add-btn button {font-size: 0px;}  

    .asset-table td {
        flex: 1 1 50%;
    }
    .asset-table tbody tr {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    .header-add-btn button i {
        font-size: 18px;
    }
    .header-add-btn button {
        font-size: 0px;
    }
}

@media (max-width: 575.98px) {
    .comsaveandcont-btn button {
        width: 100%;
    }
    .comsaveandcont-btn {
        display: inline-block;
        width: 49%;
        padding: 0;
    }
    .comback-btn {
        display: inline-block;
        padding: 0 0rem 1rem;
        width: 49%;
    }
    .comback-btn button {
        width: 100%;
    }
}


/* 
div#Grid_toolbarItems {
    display: none;
} */