.banner-bx {
    padding: 50px 0px;
    background: url(/assets/images/sellbanner.svg) no-repeat;
    background-size: cover; 
    background-color: #f0f6fa;
    background-position: center;
    height:350px;
    border-radius: 0px 0px 10px 10px;
}

.view-all-btn {
    width: 100px;
    height: 36px;
    border: 1px solid #0d4fa3;
    border-radius: 8px;
    opacity: 1;
    color: #0d4fa3;
    background: transparent;
    font-size: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
}
.we-deal-section .product-box-wrap {cursor: default;}

.banner-container{
    padding: 0 30px;
}
.bannerdtlbx {
    padding: 25px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 700px;
    color: #fff;
    margin: 0px 0px 0px 0px;
}
.bannerdtlbx h3 {
    line-height: 24px;
    margin-bottom: 30px;
}
.bannerdtlbx h1 {
    font-weight: 700;
    font-size: 1.75rem;
}
.equipment-container {
    position: relative;  
}
.prdct-bx {
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height:300px;
}
.prdct-bx-txt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000061;
}
.prdct-bx-txt span {
    background: rgba(0, 0, 0, 0.67);
    color: #fff;
    letter-spacing: 1.52px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 20px;
}
.we-deal-section {
    margin-bottom: 20px;
}
.card-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 15px;
}
.we-deal-section ngx-light-carousel.wrapper.c-accent {
    padding: 0 7.5px;
}

.product-box-image img {background-size: auto;}

/* .partner-box-image img {
    height: 80px;
    object-fit: contain;
    margin:0 auto;
} */
.partner-box-image img {
    max-width: 100%;
    max-height: 80px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    width: 100%;
    height: auto;
  }
.partner-box-wrap {
    margin: 0 auto;
    display: block;
}
.equipment-container ngx-light-carousel {
    position: relative;
    padding: 0px;
    margin-bottom: 0px !important;
}
.featured-section{    
    margin: 0 0 20px;
}

.featured-section .featured-product {
    margin-top: 0px;
    margin-bottom: 0px;
}

.forbulkorder {
    box-shadow: 0 0 6px #d2dce6;
    padding: 40px 0;
    background: url('../../../../../assets/images/bulkorder-bg.svg') no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.forbulkorder .equipment-container {
    padding: 0px 45px;
}
.forbulkorder h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0px 0px 4px #00000029;
}
.forbulkorder p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
}
.forbulkorder button {
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 33%);
}

.our-partners-bx {
    margin: 0 0 20px;
}
.our-partners-bx h2 {
    font-size: 24px;
    color: #001229;
    font-weight: 500;
    margin-bottom: 15px;
}

ngx-light-carousel .carousel {
    padding: 10px 0px;
}
ngx-light-carousel article {
    padding: 0px 7.5px;
}
ngx-light-carousel article .item {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    overflow: hidden;
}

.prdct-bx img {height: 300px;object-fit: cover;}


button.theme-lg-btn {
    box-shadow: 0 3px 6px rgb(0 0 0 / 60%);
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 15px!important;
    width: 170px;
    height: 45px;
}

.content-wrapper {
    background: #eff2f4;
    padding-bottom: 20px
}

.euipment-img-card {
    background-color: #fff;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    padding: 15px 15px 0px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .banner-bx {height: 250px; padding: 30px 0;}
    .euipment-img-card {padding: 15px 15px 10px;}
    .bannerdtlbx {
        padding: 20px 15px 25px;
    }
    .banner-container {padding: 0px 15px;}
    .equipment-container {
        padding: 0px 0px;
    }
    .bannerdtlbx h1 {
        font-size: 19px;
    }
    button.theme-lg-btn {padding: 5px 15px!important; width: auto; height: 36px; font-size: 12px; border-radius: 4px; line-height: 26px;}
    .bannerdtlbx h3 {
        font-size: 14px;
        line-height: 26px;
    }
    /* .we-deal-section ngx-light-carousel.wrapper.c-accent {
        padding: 0px 55px;
    } */
    .we-deal-section h2, .featured-section h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .featured-section .theme-btn {
        padding: 0px 20px;
    }
    .forbulkorder .equipment-container {
        margin-left: 0px;
    }
    .forbulkorder h2 {
        font-size: 22px;
    }
    .forbulkorder p {
        font-size: 14px;
    }
    .product-box-image {
        height: 150px;
    }
    .prdct-bx {height: auto;}
    
    .prdct-bx img {height: 150px;}
    .section-title {font-size: 18px;}
    .we-deal-section .section-header {padding: 10px 10px 0px;}
    .forbulkorder {padding: 30px 15px; }
    .our-partners-bx .section-header {padding: 15px 15px 0px;}
    .forbulkorder button {margin-bottom: 0px;}
    .product-image {width: 100%;}
    .featured-section .section-header {padding: 10px 10px 0px;}
}
/* ngx-light-carousel{width:100% !important} */
ngx-light-carousel article{min-width: 320px;max-width: 320px;}
.breadcrumb {
    background-color: initial;
    margin: 0;
    padding: 0.75rem 0 .75rem;
}
.site-content {
    padding: 0px 0 0px;
}

@media (max-width:767px){
.banner-bx {height: 250px; padding: 30px 0; margin-bottom: 0px;}
    .prdct-bx {
        margin-bottom: 7.5px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
    }
    .pl-md-2, .px-md-2 {
        padding-left: .25rem!important;
    }
    .banner-bx {
        margin-bottom: 7.5px !important;
    }
    /* .banner-bx {height: 150px!important; padding: 30px 0;} */
    .product-box-image {height: 100px;}
    ngx-light-carousel article {
        min-width: 320px;
        max-width: 100%;
    }
    .site-content {padding: 0px;}
    .content-wrapper {padding-top: 10px;}
    .forbulkorder .equipment-container {padding: 0px;} 
    .equipment-container .item {padding: 0px 10px 10px !important;}
    .product-item {padding: 0px 10px 10px;}
    article.partner-box-item {margin: 0px 10px 10px;}
   
}


@media (max-width:992px){

    .banner-bx {height: 250px; padding: 30px 0;} 
    
}

/* .img-spinner {
    background-position: center;
      background-repeat: no-repeat; 
  } */

  .equipment-container .item {
    padding: 0px 5px;
}
article.partner-box-item {
    border: 1px solid #eee;
    padding: 10px !important;
    height: 100px;
    margin: 0px 5px 15px;
}
.partner-box-image {
    display: flex;
    justify-content: center;
}




.spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;     
    
  }
  
  .spinner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
  } 
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.849);
  }
  .loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0,-50%);
    justify-content: center;
  }
  .loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
  }
  .loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
    background: #1A50B1;
  }
  .loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
    background: #3B428D;
  }
  .loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
    background: #643161;
  }
  .loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
    background: #832540;
  }
  .loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
    background: #A01922;
  }
  .loading .dot:nth-child(5)::before {
    animation-delay: 1s;
  }
  @keyframes wave {
    50%, 75% {
      transform: scale(2.0);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  .spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
    }
  