<div *ngIf="loading" class="spinnerOuter">
    <div class="spinner">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<div class='site-content' [hidden]="loading" *ngIf="bannerList && bannerList.length">

    <div class="banner-bx" [ngStyle]="{ 'background-image': 'url(' + topBanner?.img_url + ')'}">
        <div class="banner-container" [ngClass]="topBanner?.button_label != null ? '' : 'hand-icon'">
            <a [routerLink]="['/new-equipment-dashboard/equipment-list']">
                <div class="bannerdtlbx"
                    (click)="redirectIfNoButton(topBanner?.button_label,'/new-equipment-dashboard/equipment-list',topBanner)">
                    <h1 class="f-30 f-700">{{topBanner?.banner_title}}</h1>
                    <p class="f-14 f-300">{{topBanner?.banner_description}}</p>
                    <button class="theme-lg-btn" *ngIf="topBanner?.button_label != null"
                        [routerLink]="['/new-equipment-dashboard/equipment-list']"
                        mat-button>{{topBanner?.button_label}}</button>
                </div>
            </a>
        </div>

    </div>
    <!-- banner-bx -->
    <div class="content-wrapper">
        <div class="container-custom">
            <div class="equipment-container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Equipment List</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="euipment-img-card">
                    <div class="row">
                        <div class="prdct-item col-md-6 pr-3 pr-md-2 pr-lg-2 col-6"
                            (click)="redirectIfNoButton(leftBanner?.button_label,leftBanner?.banner_link,leftBanner)">
                            <div class="prdct-bx" [ngClass]="leftBanner?.button_label != null ? '' : 'hand-icon'">
                                <!-- *ngIf="leftBanner?.img_url != null && leftBanner?.img_url != ''" -->
                                <img [hidden]="loading" (load)="onLoad()"
                                    [src]="leftBanner?.img_url  ?leftBanner?.img_url :'../../../assets/images/default-thumbnail.jpg'"
                                    alt="" class="w-100 img-spinner">
                                <!-- <img *ngIf="leftBanner?.img_url == null || leftBanner?.img_url == ''" src="../../../assets/images/default-thumbnail.jpg"
                             /> -->
                                <div class="banner-content">
                                    <h3 class="banner-title">{{leftBanner?.banner_title}}</h3>
                                    <button class="btn banner-btn" *ngIf="leftBanner?.button_label != null"
                                        (click)="redirectToScreen(leftBanner?.banner_link,leftBanner)">{{leftBanner?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                        <!-- *ngIf="rightBanner?.img_url != null && rightBanner?.img_url != ''" -->
                        <div class="prdct-item col-md-6 pl-3 pl-md-2 pl-lg-2 col-6 col-sm-6"
                            (click)="redirectIfNoButton(rightBanner?.button_label,rightBanner?.banner_link,rightBanner)">
                            <div class="prdct-bx" [ngClass]="rightBanner?.button_label != null ? '' : 'hand-icon'">
                                <img appLazyLoad imageLoader
                                    [src]="rightBanner?.img_url ? rightBanner?.img_url :'../../../assets/images/default-thumbnail.jpg'"
                                    alt="" class="w-100 img-spinner">
                                <!-- <img *ngIf="rightBanner?.img_url == null || rightBanner?.img_url == ''" 
                                src="../../../assets/images/default-thumbnail.jpg"
                             /> -->
                                <div class="banner-content">
                                    <h3 class="banner-title">{{rightBanner?.banner_title}}</h3>
                                    <button class="btn banner-btn" *ngIf="rightBanner?.button_label != null"
                                        (click)="redirectToScreen(rightBanner?.banner_link,rightBanner)">{{rightBanner?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="prdct-item col-md-6 pr-3 pr-md-2 pr-lg-2 col-6 col-sm-6"
                            (click)="redirectIfNoButton(bottomLeftBanner?.button_label,bottomLeftBanner?.banner_link,bottomLeftBanner)">
                            <div class="prdct-bx" [ngClass]="bottomLeftBanner?.button_label != null ? '' : 'hand-icon'">
                                <!-- *ngIf="bottomLeftBanner?.img_url != null && bottomLeftBanner?.img_url != ''" -->
                                <img appLazyLoad imageLoader [src]="bottomLeftBanner?.img_url ? 
                            bottomLeftBanner?.img_url : '../../../assets/images/default-thumbnail.jpg'" alt=""
                                    class="w-100 img-spinner">
                                <!-- <img *ngIf="bottomLeftBanner?.img_url == null || bottomLeftBanner?.img_url == ''" src="../../../assets/images/default-thumbnail.jpg"
                             /> -->
                                <div class="banner-content">
                                    <h3 class="banner-title">{{bottomLeftBanner?.banner_title}}</h3>
                                    <button class="btn banner-btn" *ngIf="bottomLeftBanner?.button_label != null"
                                        (click)="redirectToScreen(bottomLeftBanner?.banner_link,bottomLeftBanner)">{{bottomLeftBanner?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="prdct-item col-md-6 pl-3 pl-md-2 pl-lg-2 col-6 col-sm-6"
                            (click)="redirectIfNoButton(bottomRightBanner?.button_label,bottomRightBanner?.banner_link,bottomRightBanner)">
                            <div class="prdct-bx"
                                [ngClass]="bottomRightBanner?.button_label != null ? '' : 'hand-icon'">
                                <!-- *ngIf="bottomRightBanner?.img_url != null && bottomRightBanner?.img_url != ''" -->
                                <img appLazyLoad imageLoader [src]="bottomRightBanner?.img_url ? 
                            bottomRightBanner?.img_url : '../../../assets/images/default-thumbnail.jpg'" alt=""
                                    class="w-100 img-spinner">
                                <!-- <img *ngIf="bottomRightBanner?.img_url == null || bottomRightBanner?.img_url == ''"
                                src="../../../assets/images/default-thumbnail.jpg" /> -->
                                <div class="banner-content">
                                    <h3 class="banner-title">{{bottomRightBanner?.banner_title}}</h3>
                                    <button class="btn banner-btn" *ngIf="bottomRightBanner?.button_label != null"
                                        (click)="redirectToScreen(bottomRightBanner?.banner_link,bottomRightBanner)">{{bottomRightBanner?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- equipment-container -->
            <div class="we-deal-section">
                <div class="equipment-container card-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">We Deal In</h3>
                        <button class="view-all-btn" (click)="viewAllCategories()">View All</button>
                    </div>
                    <!-- <ngx-light-carousel style="display: block; " [data]="categoryList" *ngIf="categoryList?.length"
                        [options]="options2" class="wrapper c-accent">
                        <section ngx-light-carousel-container class="content">
                            <article class="product-box-item cursor-pointer" ngx-light-carousel-item
                                *ngFor="let item of categoryList">
                                <div class="product-box-wrap" (click)="redirectByCategory(item.id)">
                                    <div class="product-box-summery">
                                        <div class="product-box-image">
                                            <img appLazyLoad imageLoader class="img-spinner"
                                                [src]="item?.img_url ? item?.img_url : '../../../assets/images/default-thumbnail.jpg'">

                                        </div>
                                        <div class="product-box-name">
                                            {{item?.display_name}}
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <ng-template #infiniteContainer></ng-template>
                        </section>
                        <ng-template #carouselPrev>
                            <div class="click-area">
                            </div>
                        </ng-template>
                        <ng-template #carouselNext>
                            <div class="click-area">
                            </div>
                        </ng-template>

                        <ng-template #carouselDot let-model>
                            <div class="ball bg-accent"></div>
                        </ng-template>

                        <ng-template #carouselProgress let-progress>
                            <div class="progress"></div>
                        </ng-template>
                    </ngx-light-carousel>-->

                    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                        <div class="item" style="width: 100%" *ngFor="let item of categoryList;">
                            <div class="product-box-wrap"  (click)="redirectByCategory(item.id)">
                                <div class="product-box-summery">
                                    <div class="product-box-image">
                                        <img class="img-spinner" appLazyLoad
                                            [src]="item?.vector_img ? item?.vector_img : '../../../assets/images/default-thumbnail.jpg'">
                                    </div>
                                    <div class="product-box-name">
                                        {{item?.display_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </owl-carousel>


                </div>
            </div>
            <!-- we-deal-section -->
            <div class="featured-section" *ngIf="newProductList?.length > 0">
                <div class="equipment-container card-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">Our Featured Products</h3>
                        <button class="view-all-btn" mat-button (click)="viewProductListing()">View All</button>
                    </div>

                    <div class="">
                        <!-- <ngx-light-carousel style="display: block;" [data]="newProductList" [options]="options3"
                            class="wrapper c-accent">
                            <section ngx-light-carousel-container class="content">
                                <article class="product-item cursor-pointer active" ngx-light-carousel-item
                                    *ngFor="let product of newProductList">
                                    <div class="product-wrap">
                                        <div class="product-image">
                                            <img appLazyLoad imageLoader class="img-spinner"
                                                src="{{product?.primary_image ? product?.primary_image :'../../../assets/images/logo.png'}}"
                                                alt="">
                                            <div class="product-wishlist" *ngIf="this.cognitoId">
                                                <img src="../../../assets/images/heart-wishlist.svg"
                                                    *ngIf="!product?.is_watchlist" (click)="addToWishlist(product?.id)"
                                                    alt="" class="wishlist-icon">
                                                <img src="../../../assets/images/heart-wishlist-active.png"
                                                    *ngIf="product?.is_watchlist"
                                                    (click)="removeFromWatchlist(product?.id)" alt=""
                                                    class="wishlist-icon">
                                            </div>

                                        </div>
                                        <div class="product-summery">
                                            <h3 class="product-title" *ngIf="product.product_name">
                                                {{product.product_name + ' ' +
                                                product.variant
                                                + ' ' + product.mfg_year}}</h3>
                                            <h3 class="product-title" *ngIf="!product.product_name">
                                                {{product?.category?.display_name + ' ' +
                                                product?.brand?.display_name+ ' ' +product?.model?.name
                                                }}</h3>
                                            <p class="product-price" *ngIf="product.selling_price">₹
                                                {{product.selling_price}}</p>
                                            <p class="product-price" *ngIf="!product.selling_price">₹ 0</p>
                                            <ul class="product-info" *ngIf="product?.tech_fields?.length">
                                                <li *ngFor="let tech of product.tech_fields">
                                                    <div class="product-subtitle">{{tech.field_name}}</div>
                                                    <div class="product-titlename">{{tech.field_value}}</div>
                                                </li>
                                            </ul>
                                            <ul class="product-info" *ngIf="!product?.tech_fields?.length">
                                                <li>
                                                    <div class="product-subtitle"> Info. Not Available</div>
                                                    <div class="product-titlename"></div>

                                                </li>
                                                <li>
                                                    <div class="product-subtitle"> Info. Not Available</div>
                                                    <div class="product-titlename"></div>

                                                </li>
                                                <li>
                                                    <div class="product-subtitle"> Info. Not Available</div>
                                                    <div class="product-titlename"></div>

                                                </li>
                                            </ul>
                                            <div class="row mt-2">
                                                                    <div class="col-6 pt-3">
                                                                        <mat-checkbox class="f-10">Add to Compare</mat-checkbox>
                                                                    </div>
                                                                    <div class="col-6 text-right">
                                                                        <img src="../../../assets/images/ashok-leyland.svg"
                                                                            class="img-fluid" alt="">
                                                                    </div>
                                                                </div> 
                                            <button class="product-view-btn"
                                                (click)="redirectToEquipmentDetail('New',product.id)" mat-button>View
                                                Details</button>

                                        </div>
                                    </div>
                                </article>
                                <ng-template #infiniteContainer></ng-template>
                            </section>
                            <ng-template #carouselPrev>
                                <div class="click-area">
                                </div>
                            </ng-template>
                            <ng-template #carouselNext>
                                <div class="click-area">
                                </div>
                            </ng-template>

                            <ng-template #carouselDot let-model>
                                <div class="ball bg-accent"></div>
                            </ng-template>

                            <ng-template #carouselProgress let-progress>
                                <div class="progress"></div>
                            </ng-template>
                        </ngx-light-carousel> -->

                        <owl-carousel [options]="FeaturedSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                            <section class="content" *ngFor="let product of newProductList">
                                <article class="product-item cursor-pointer">
                                    <div class="product-wrap">
                                        <div class="product-image">
                                            <img class="img-spinner" appLazyLoad
                                                src="{{product?.primary_image ? product?.primary_image :'../../../assets/images/logo.png'}}"
                                                alt="">
                                            <div class="product-wishlist" *ngIf="this.cognitoId">
                                                <img src="../../../assets/images/heart-wishlist.svg"
                                                    *ngIf="!product?.is_watchlist" (click)="addToWishlist(product?.id)"
                                                    alt="" class="wishlist-icon">
                                                <img src="../../../assets/images/heart-wishlist-active.png"
                                                    *ngIf="product?.is_watchlist"
                                                    (click)="removeFromWatchlist(product?.id)" alt=""
                                                    class="wishlist-icon">
                                            </div>

                                        </div>
                                        <div class="product-summery">
                                            <h3 class="product-title" *ngIf="product.product_name">
                                                {{product.product_name + ' ' +
                                                + product.mfg_year}}</h3>
                                            <h3 class="product-title" *ngIf="!product.product_name">
                                                {{product?.category?.display_name + ' ' +
                                                product?.brand?.display_name+ ' ' +product?.model?.name
                                                }}</h3>
                                            <p class="product-price" *ngIf="product.selling_price">₹
                                                {{product.selling_price}}</p>
                                            <p class="product-price" *ngIf="!product.selling_price">₹ 0</p>
                                            <ul class="product-info" *ngIf="product?.tech_fields?.length">
                                                <div class="tech-info-no">
                                                    <span>Tech Specs Not Available</span>
                                                </div>
                                                <li *ngFor="let tech of product.tech_fields | slice:0:3">
                                                    <div class="product-subtitle">
                                                        {{getTechTitle(tech.field_name,tech?.field_unit)}}</div>
                                                    <div class="product-titlename">{{tech.field_value}}</div>
                                                </li>
                                            </ul>
                                            <ul class="product-info" *ngIf="!product?.tech_fields?.length">
                                                <div class="tech-info-no">
                                                    <span>Tech Specs Not Available</span>
                                                </div>
                                                <li *ngIf="product.gross_Weight">
                                                    <div class="product-subtitle">Gross<br>Weight </div>
                                                    <div class="product-titlename">{{product.gross_Weight}} kg</div>
                                                </li>
                                                <li *ngIf="product.engine_power">
                                                    <div class="product-subtitle">Engine<br> Power </div>
                                                    <div class="product-titlename">{{product.engine_power}} cc</div>

                                                </li>

                                                <li *ngIf="product.bucket_capacity">
                                                    <div class="product-subtitle">Bucket<br>Capacity </div>
                                                    <div class="product-titlename">{{product.bucket_capacity}} kg</div>
                                                </li>
                                            </ul>

                                            <button class="product-view-btn"
                                                (click)="redirectToEquipmentDetail('New',product.id)" mat-button>View
                                                Details</button>

                                        </div>
                                    </div>
                                </article>
                            </section>
                        </owl-carousel>
                    </div>
                </div>
            </div>
            <!-- featured-section -->
            <div class="forbulkorder">
                <div class="equipment-container">
                    <h2>FOR BULK ORDERS</h2>
                    <p class="f-300">Wholesale is selling goods in tremendous quantities at a low unit price to retail
                        merchants. Choose your desired equipments and get a quote.</p>
                    <button class="default-btn mt-2" (click)="opencallpopup('Bulk Order Request')" mat-button>Request a call back</button>
                </div>
            </div>
            <!-- forbulkorder -->
            <div class="featured-section" *ngIf="offeringsList && offeringsList.length > 0">
                <div class="equipment-container card-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">Our Offerings</h3>
                    </div>
                    <div class="">
                        <!-- <ngx-light-carousel style="display: block;" [data]="offeringsList" [options]="options3"
                            class="wrapper c-accent">
                            <section ngx-light-carousel-container class="content">
                                <article class="product-item cursor-pointer active" ngx-light-carousel-item
                                    *ngFor="let product of offeringsList">
                                    <div class="product-wrap">
                                        <div class="product-image">
                                             
                                            <img appLazyLoad imageLoader class="img-spinner"
                                                src="{{product?.primary_image ? product?.primary_image : '../../../assets/images/logo.png'}}"
                                                alt="">
                                            
                                            <div class="product-wishlist">
                                                <img src="../../../assets/images/watchlist-inactive.svg"
                                                    *ngIf="!product?.is_watchlist" (click)="addToWishlist(product?.id)"
                                                    alt="" class="wishlist-icon">
                                                <img src="../../../assets/images/watchlist-active.svg"
                                                    *ngIf="product?.is_watchlist"
                                                    (click)="removeFromWatchlist(product?.id)" alt=""
                                                    class="wishlist-icon">
                                            </div>

                                        </div>
                                        <div class="product-summery">
                                            <h3 class="product-title" *ngIf="product.product_name">
                                                {{product.product_name }}</h3>
                                            <h3 class="product-title" *ngIf="!product.product_name">
                                                {{product?.category?.display_name + ' ' + product?.brand?.display_name+
                                                ' ' +product?.model?.name }}</h3>
                                            <p class="product-price" *ngIf="product.selling_price">₹
                                                {{product.selling_price}}</p>
                                            <p class="product-price" *ngIf="!product.selling_price">₹ 0</p>
                                 
                                            <button class="product-view-btn"
                                                (click)="redirectToEquipmentDetail('New',product.id)" mat-button>View
                                                Details</button>
                                        </div>
                                    </div>
                                </article>
                                <ng-template #infiniteContainer></ng-template>
                            </section>
                            <ng-template #carouselPrev>
                                <div class="click-area">
                                </div>
                            </ng-template>
                            <ng-template #carouselNext>
                                <div class="click-area">
                                </div>
                            </ng-template>

                            <ng-template #carouselDot let-model>
                                <div class="ball bg-accent"></div>
                            </ng-template>

                            <ng-template #carouselProgress let-progress>
                                <div class="progress"></div>
                            </ng-template>
                        </ngx-light-carousel> -->

                        <owl-carousel [options]="FeaturedSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                            <section class="content" *ngFor="let product of offeringsList">
                                <article class="product-item cursor-pointer">
                                    <div class="product-wrap">
                                        <div class="product-image">
                                            <img appLazyLoad imageLoader class="img-spinner"
                                                src="{{product?.primary_image ? product?.primary_image : '../../../assets/images/logo.png'}}"
                                                alt="">

                                            <div class="product-wishlist" *ngIf="this.cognitoId">
                                                <img src="../../../assets/images/heart-wishlist.svg"
                                                    *ngIf="!product?.is_watchlist" (click)="addToWishlist(product?.id)"
                                                    alt="" class="wishlist-icon">
                                                <img src="../../../assets/images/heart-wishlist-active.png"
                                                    *ngIf="product?.is_watchlist"
                                                    (click)="removeFromWatchlist(product?.id)" alt=""
                                                    class="wishlist-icon">
                                            </div>

                                        </div>
                                        <div class="product-summery">
                                            <h3 class="product-title" *ngIf="product.product_name">
                                                {{product.product_name }}</h3>
                                            <h3 class="product-title" *ngIf="!product.product_name">
                                                {{product?.category?.display_name + ' ' + product?.brand?.display_name+
                                                ' ' +product?.model?.name }}</h3>
                                            <p class="product-price" *ngIf="product.selling_price">₹
                                                {{product.selling_price}}</p>
                                            <p class="product-price" *ngIf="!product.selling_price">₹ 0</p>

                                            <button class="product-view-btn"
                                                (click)="redirectToEquipmentDetail('New',product.id)" mat-button>View
                                                Details</button>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </owl-carousel>

                    </div>
                </div>
            </div>
            <!-- featured-section -->
            <div class="our-partners-bx" *ngIf="brandList?.length">
                <div class="equipment-container card-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">Our Valued Partners</h3>
                        <button class="view-all-btn" (click)="viewAllBrands()">View All</button>
                    </div>
                    <div class="">
                        <!-- <ngx-light-carousel style="display: block;" [data]="brandList" [options]="options2"
                            class="wrapper c-accent">
                            <section ngx-light-carousel-container class="content">
                                <article class="partner-box-item cursor-pointer" ngx-light-carousel-item
                                    *ngFor="let item of brandList">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery" (click)="redirectByBrand(item?.id)">
                                            <div class="partner-box-image">
                                                 
                                                <img appLazyLoad imageLoader class="img-spinner"
                                                    [src]="item?.brand_logo_image ? item?.brand_logo_image : ''"
                                                    alt="Brand Image">
                                                 
                                            </div>
                                            <div class="partner-box-name">{{item?.brand?.name}}</div>
                                        </div>
                                    </div>
                                </article>
                                
                                <ng-template #infiniteContainer></ng-template>
                            </section>

                           
                            <ng-template #carouselPrev>
                                <div class="click-area">
                                </div>
                            </ng-template>
                            <ng-template #carouselNext>
                                <div class="click-area">
                                </div>
                            </ng-template>

                            <ng-template #carouselDot let-model>
                                <div class="ball bg-accent"></div>
                            </ng-template>

                            <ng-template #carouselProgress let-progress>
                                <div class="progress"></div>
                            </ng-template>
                        </ngx-light-carousel> -->

                        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                            <section class="content" *ngFor="let item of brandList">
                                <article class="partner-box-item cursor-pointer">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery" (click)="redirectByBrand(item?.id)">
                                            <div class="partner-box-image">
                                                <img appLazyLoad imageLoader class="img-spinner"
                                                    [src]="item?.brand_logo_image ? item?.brand_logo_image : ''"
                                                    alt="Brand Image">
                                            </div>
                                            <div class="partner-box-name">{{item?.brand?.name}}</div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </owl-carousel>
                    </div>
                </div>
            </div>
            <!-- our-partners-bx -->
        </div>
        <!-- container-custom -->
    </div>
    <!-- content-wrapper -->

</div>