<button class="btn btn-default default-btn-outline back-home-btn d-none d-md-none"
    [class.d-inline-block]="this.router.url.includes('/customer/dashboard/') || this.router.url.includes('dashboard/my-agreements')"
    [routerLink]="['/customer/dashboard']">Back to Menu</button>
<div class="sidebar sidebar-custom"
    [class.sidebar-dashboard]="router.url.includes('customer') || router.url.includes('admin-dashboard')"
    [class.sidebar-mobile]="this.router.url.includes('dashboard/my-agreements') || router.url.includes('customer/dashboard/')">
    <div class="sidebar-container">
        <ul>
            <li class="parent-list"
                [class.active]="!this.router.url.includes('/customer/dashboard/') && !this.router.url.includes('dashboard/my-agreements')"
                *ngIf="isAccesible('Dashboard')"><a [routerLink]="['/customer/dashboard']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon dashboard-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/dashboard-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/dashboard-black.png" />
                    </div>
                    <span class="menu-txt"> Dashboard</span>
                </a></li>
            <li [class.active]="this.router.url.includes('/customer/dashboard/MyAssets') || this.router.url.includes('/customer/dashboard/used-products')"
                *ngIf="isAccesible('My Assets')" class="parent-list">
                <a href="javascript:void(0)" (click)="showsubmenu3()">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/asset-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/asset-icon-black.png" />
                    </div>
                    <span class="menu-txt">
                        My Assets Listing </span>
                    <span class="material-icons float-right">
                        keyboard_arrow_down
                    </span>
                </a>

                <ul class="submenu" [ngClass]="addClass3 ? 'show' : 'hide'">
                    <li *ngIf="isAccesible('New Equipments')">
                        <a [routerLink]="['/customer/dashboard/MyAssets']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            New Equipments </a>
                    </li>
                    <li *ngIf="isAccesible('Used Equipments')">
                        <a [routerLink]="['/customer/dashboard/used-products']" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">

                            Used Equipments</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="isAccesible('Customer Management')" class="parent-list"
                [class.active]="this.router.url.includes('appRouteEnum.CustomerManagementCallcenterUrl]')"><a
                    [routerLink]="[appRouteEnum.CustomerManagementCallcenterUrl]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white"
                            src="../../../assets/images/customer-management-icon-white.png" />
                        <img class="sidebar-icon-black"
                            src="../../../assets/images/customer-management-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Customer Management</span>
                </a></li>

            <li *ngIf="isAccesible('My Transactions')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/my-transaction')"><a
                    [routerLink]="['/customer/dashboard/my-transaction']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/transection-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/transection-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Transactions</span> <span class="notification-counter">3</span>
                </a></li>
            <li *ngIf="isAccesible('Auction Payment History')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/auction-payment-history')"><a
                    [routerLink]="['/customer/dashboard/auction-payment-history']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/auction-payment-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/auction-payment-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Auction Payment History</span>
                </a></li>

            <li *ngIf="isAccesible('Auction Fulfilment List')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/auction-fulfilment-list')"><a
                    [routerLink]="['/customer/dashboard/auction-fulfilment-list']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/auction-list-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/auction-list-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Auction Fulfilment List</span>
                </a></li>
            <li *ngIf="isAccesible('Bulk upload')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/auction-fulfilment-list')"><a
                    [routerLink]="['/admin-dashboard/bulk-listing']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/bulk-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/bulk-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Bulk Upload Listing</span>
                </a></li>

            <li *ngIf="isAccesible('My Trades')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/my-trade/trade-details-dashboard')"><a
                    [routerLink]="['/customer/dashboard/my-trade/trade-details-dashboard']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/trade-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/trade-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Trades</span>
                </a></li>

            <li *ngIf="isAccesible('My Insta Request')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/insta-valuation-request')"><a
                    [routerLink]="['/customer/dashboard/insta-valuation-request']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon mb-0">
                        <img class="sidebar-icon-white" src="../../../assets/images/insta-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/insta-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Insta Valuation</span>
                </a></li>

            <li *ngIf="isAccesible('My Advanced Request')"
                [class.active]="this.router.url.includes('/customer/dashboard/advanced-valuation-request')"
                class="parent-list"><a [routerLink]="['/customer/dashboard/advanced-valuation-request']"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon mb-0">
                        <img class="sidebar-icon-white" src="../../../assets/images/advance-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/advance-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Advanced Valuation</span>
                </a></li>

            <li *ngIf="isAccesible('My Reports')" class="parent-list"><a [routerLink]="">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/report-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/report-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Reports</span>
                </a></li>
            <li *ngIf="isAccesible('My Wallet')" [class.active]="this.router.url.includes('/customer/dashboard/wallet')"
                class="parent-list"><a [routerLink]="['/customer/dashboard/wallet']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/wallet-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/wallet-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Wallet</span>
                </a></li>
            <li *ngIf="isAccesible('My Account')" class="parent-list"><a [routerLink]="">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/my-account-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/my-account-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Account</span>
                </a></li>
            <li *ngIf="isAccesible('My Profile')"
                [class.active]="this.router.url.includes(this.appRouteEnum.Profile) || this.router.url.includes('/customer/dashboard/partner-dealer/basic-details')"
                class="parent-list"><a (click)="redirectToPage('profile')">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/profile-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/profile-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Profile</span>
                </a></li>
            <!-- <li *ngIf="isAccesible('My Profile')"><a (click)="redirectToPage('entity')">My Entity</a></li> -->
            <li *ngIf="isAccesible('My Enquires')"
                [class.active]="this.router.url.includes('/customer/dashboard/my-enquiries') || this.router.url.includes('/customer/dashboard/enquiry-chat')"
                class="parent-list"><a
                    [routerLink]="['/customer/dashboard/my-enquiries'] || ['/customer/dashboard/enquiry-chat']"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/enquiry-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/enquiry-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Enquiries</span>
                </a></li>
            <li *ngIf="isAccesible('Enterprise Valuation Request')"
                [class.active]="this.router.url.includes('/customer/dashboard/my-enetrprise-valuation-request')"
                class="parent-list"><a [routerLink]="['/customer/dashboard/my-enetrprise-valuation-request']"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/enterprise-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/enterprise-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Enterprise Valuation Request</span>
                </a></li>
            <!-- <li *ngIf="isAccesible('My Agreements')"><a  [routerLink]="['/dashboard/my-agreements']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Agreements</a></li> -->
            <li *ngIf="isAccesible('My Agreements') && (showAgreementLink || showAgreementLinkForBidder)"
                class="parent-list"
                [class.active]="this.router.url.includes('dashboard/my-agreements') || this.router.url.includes('/customer/dashboard/partner-dealer/agreement-details')">
                <a [class.active]="this.router.url.includes('dashboard/my-agreements') || this.router.url.includes('/customer/dashboard/partner-dealer/agreement-details')"
                    (click)="redirectToPage('agreement')">

                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/agreement-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/agreement-icon-black.png" />
                    </div>
                    <span class="menu-txt"> My Agreements</span>
                </a></li>
            <li *ngIf="isAccesible('Demo Request')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/my-demo')"><a
                    [routerLink]="['/customer/dashboard/my-demo']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/demo-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/demo-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Demo Requests</span>
                </a></li>
            <li *ngIf="isAccesible('Enterprise Valuation Requests')"><a
                    [routerLink]="['/customer/dashboard/bulk-listing-enterprise']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/bulk-list-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/bulk-list-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Bulk Upload Enterprise Valuation
                        Requests</span>
                </a></li>
            <li *ngIf="isAccesible('Bulk Upload Requests')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/bulk-listing') && !this.router.url.includes('/customer/dashboard/bulk-listing-enterprise')">
                <a [routerLink]="['/customer/dashboard/bulk-listing']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">

                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/bulk-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/bulk-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Bulk Upload Requests</span>
                </a></li>
            <li *ngIf="isAccesible('Wishlist')" class="parent-list"
                [class.active]="this.router.url.includes('/customer/dashboard/watchlist')"><a
                    [routerLink]="['/customer/dashboard/watchlist']">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/watchlist-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/watchlist-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Watchlist</span>
                </a></li>
            <li class="parent-list" [class.active]="this.router.url.includes('/customer/dashboard/change-password')">
                <a [routerLink]="['/customer/dashboard/change-password']">
                    <div class="sidebar-icon">
                        <img class="sidebar-icon-white" src="../../../assets/images/password-icon-white.png" />
                        <img class="sidebar-icon-black" src="../../../assets/images/password-icon-black.png" />
                    </div>
                    <span class="menu-txt"> Change Password</span>
                </a>
            </li>
        </ul>
        <div class="switch-role parent-list">
            <span class="label-Switch">Switch role:</span>
            <mat-select [(ngModel)]="userRole" (selectionChange)="switchRole(userRole)">
                <mat-option *ngFor="let role of this.rolesArray" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </div>
    </div>
</div>