.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table tr td:last-child {
    background-color: #fff;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table .mat-row button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.table-row-btn span {
    font-size: 18px;
}

.asset-table .mat-row button.simple-btn.view-icon img {
    width: 22px;
}

.asset-table .mat-cell button.simple-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}


/* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */

.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
}



.mat-card {
    padding: 0px;
}

.default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
}

.default-tbl mat-row,
.default-tbl .mat-header-row {
    border-color: #e0e4e8;
}

.default-tbl mat-cell,
.default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    white-space: nowrap;
    height: 42px;
    padding: 15px 21px;
}

.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
}

.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
}

.default-tbl mat-row:hover {
    background-color: #f8fbfd;
}

.asset-table table tr:hover {
    background-color: #f8fbfd;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
    border-color: #e0e4e8;
}

.exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 2px 20px;
    height: 40px;
}

.table-pagination ul {
    vertical-align: middle;
    float: right;
}

.table-pagination ul li {
    display: inline-block;
    vertical-align: middle;
}

.table-pagination ul li a {
    background: #e0e4e8;
    margin-left: 8px;
    border: 0px solid #e9eef2;
    text-align: center;
    padding: 0px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    color: #000000;
}

.table-pagination ul li.active a {
    background-color: #0D4FA3;
    color: #fff;
}

.table-pagination ul li.previous-item.disabled a,
.table-pagination ul li.next-item.disabled a {
    background: #e0e4e8;
    border: 0px;
    cursor: not-allowed;
}

.table-pagination ul li.disabled:hover {
    cursor: not-allowed;
}

.table-pagination .table-recond {
    float: left;
    vertical-align: middle;
}

.table-pagination ul li.previous-item a,
.table-pagination ul li.next-item a {
    background-color: #fff;
    border: 1px solid #0D4FA3;
}

.table-pagination ul li a span.material-icons {
    font-size: 28px;
    line-height: 52px;
    color: #0D4FA3;
}

.table-pagination ul li.previous-item.disabled a span.material-icons,
.table-pagination ul li.next-item.disabled a span.material-icons {
    color: #989898;
}

.no-record {
    padding: 10px;
}

.exportWrapper button i {
    font-size: 0px;
}




@media screen and (max-width: 767px) {
    .exportWrapper button {
        font-size: 0px;
        padding: 6px 20px;
    }
    .exportWrapper button i {
        font-size: 18px;
        padding-top: 0px;
        padding-right: 0px !important;
    }
    .exportWrapper,
    .header-btn {
        vertical-align: middle;
    }
    .enquiry-clouser-wrap {
        margin-bottom: 5px;
        background: #d5e5f0;
        padding: 5px;
        border: 1px solid #badaef;
        font-size: 12px;
    }
}

@media (max-width:767px) {
    .enquiry-clouser-wrap {
        background: #eff2f4;
        border: 1px solid #dedede;
        padding: 5px;
        font-size: 12px;
    }
}