<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">New Equipment Lead</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
                <h3 class="admin-page-title">New Equipment Lead</h3>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-4 col-4">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row my-3">
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                                <mat-option>Select Status</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-4 col-lg-3 col-sm-6">
          <mat-form-field floatLabel="never">
            <mat-select class="form-control" placeholder="Select Duration"
              (selectionChange)="equipmentRequiredFilter($event?.value)">
              <mat-option>Select Duration</mat-option>
              <mat-option value={{status?.value}} *ngFor="let status of equipmentRequiredOptions;">
                {{status?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

                </div>
            </div>

            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table mat-table class="mat-table custom-mat-table w-100" [dataSource]="dataSource" matSort matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Id</span> {{data?.id}}
                                    <span class="mx-1" *ngIf="data.is_notification">
                  <mat-icon class="cursor-pointer"> notifications</mat-icon>
                </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__category__display_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Category</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Equipment Category</span> {{data?.new_equipment?.category?.display_name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__brand__display_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Brand</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Equipment Brand</span> {{data?.new_equipment?.brand?.display_name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__model__name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Model</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Equipment Model</span> {{data?.new_equipment?.model?.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="remarks">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                                <td mat-cell class="CategoryId-cell" *matCellDef="let data">
                                    <span class="mobile-label">Description</span>
                                    <p style="margin-bottom:0px;">{{data?.remarks}}</p>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="user__first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Name</th>
                                <td mat-cell class="CategoryId-cell" *matCellDef="let data">
                                    <span class="mobile-label">Buyer Name</span> {{data?.user?.first_name}} {{data?.user?.last_name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="user__mobile_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Contact</th>
                                <td mat-cell class="CategoryId-cell" *matCellDef="let data">
                                    <span class="mobile-label">Buyer Contact</span> {{data?.user?.mobile_number}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__seller__first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller Name</th>
                                <td mat-cell class="ModelId-cell" *matCellDef="let data">
                                    <span class="mobile-label">Seller Name</span> {{data?.new_equipment?.seller?.first_name}} {{data?.new_equipment?.seller?.last_name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__seller__mobile_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller Contact</th>
                                <td mat-cell class="ModelId-cell" *matCellDef="let data">
                                    <span class="mobile-label">Seller Contact</span> {{data?.new_equipment?.seller?.mobile_number}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Request Date</span> {{data?.updated_at | date:'dd-MM-yyyy'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_offer_enquiry">
                                <th mat-header-cell *matHeaderCellDef>Enquiry Type</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Enquiry Type</span> {{data?.is_offer_enquiry ? 'Offer Enquiry' : 'General Enquiry'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Status</span> {{getEnquiryStatus(data?.status)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Action</span>
                                    <button class="simple-btn view-icon mr-2" (click)="viewEnquiry(data.id)" mat-button>
                  <!-- <mat-icon class=" cursor-pointer"></mat-icon> -->
                  <span><img src="../../../assets/images/visibility.svg" alt="View" title="View"></span>
                </button>
                                    <button class="simple-btn mr-2 delet-icon " (click)="deleteEnquiry(data.id)" mat-button>
                  <!-- <mat-icon class="cursor-pointer"></mat-icon> -->
                  <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
                </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        </table>
                        <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                    </div>
                </div>
                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
            </div>



        </div>
    </div>
</div>