<div class="equipvalmadeeasy-main-container">
    <div class="banner-bx assetvaluated-banner-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="small-qtt">
                        <h2>Get your Asset valuated</h2>

                        <form [formGroup]="sellEquipmentForm">
                            <!-- <div class="">
                            <label for="" class="f-12 d-block">Is your Equipment</label>
                            <mat-radio-group aria-label="Select an option" formControlName="newused">
                                <mat-radio-button value="1">New</mat-radio-button>
                                <mat-radio-button value="2">Used</mat-radio-button>
                            </mat-radio-group>
                        </div> -->
                            <!-- <div class="mb-2">
                            <label for="" class="f-12 d-block">You are a</label>
                            <mat-radio-group aria-label="Select an option" formControlName="customerType">
                                <mat-radio-button value="1">Dealer</mat-radio-button>
                                <mat-radio-button value="2">Manufacture</mat-radio-button>
                            </mat-radio-group>
                        </div> -->
                            <div class="mb-2">
                                <label for="category" class="f-12">Category<em>*</em></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto" placeholder="" type="text" (blur)="trimSpaces($event)"  (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateValidations();onCategorySelect($event.option.value)">
                                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
                                        <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="mb-2" *ngIf="sellEquipmentForm?.get('category')?.value == 'Other'">
                                <label for="otherCategory" class="f-12">Other Category<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_category">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    <label for="" class="f-12">Brand<em>*</em></label>
                                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                        <input matInput [matAutocomplete]="auto1" placeholder="" type="text" (blur)="trimSpaces($event)"  (keyup)="filterValuesBrand($event)" formControlName='brand' maxlength="256">
                                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="updateValidations();onBrandSelect($event.option.value)">
                                            <mat-option *ngIf="brandList?.length == 0" value="0">Other</mat-option>
                                            <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand.name}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <label for="" class="f-12">Model<em>*</em></label>
                                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                        <input matInput [matAutocomplete]="auto3" placeholder=""  (blur)="trimSpaces($event)"  (keyup)="filterValuesModal($event)" type="text" formControlName='model' maxlength="256">
                                        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="updateValidations();onModalSelect($event.option.value)">
                                            <mat-option *ngIf="modelList?.length == 0" value="Other">Other</mat-option>
                                            <mat-option *ngFor="let model of modelList " [value]="model">{{model.name}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-2" *ngIf="sellEquipmentForm?.get('brand')?.value == 'Other'">
                                    <label for="otherBrand" class="f-12">Other Brand<em>*</em></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_brand">
                                    </mat-form-field>
                                </div>
                                <div class="col-6 mb-2" *ngIf="sellEquipmentForm?.get('model')?.value == 'Other'">
                                    <label for="otherModel" class="f-12">Other Model<em>*</em></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_model">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="" class="f-12 d-block">Is your Equipment Registered?<em>*</em></label>
                                <mat-radio-group aria-label="Select an option" formControlName="is_equipment_registered" (change)="updateValidations()">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="mb-2" *ngIf="sellEquipmentForm?.get('is_equipment_registered')?.value == '1'">
                                <label for="" class="f-12">Registration Number<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName="rc_number">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="valuate-btn">
                                    <button class="default-btn-outline w-100" type="submit" mat-button [disabled]="!sellEquipmentForm.valid" (click)="submit()">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row custome-row">
            <div class="col-sm-12 col-12 col-md-12 col-lg-8">
                <div class="equipmentvalmadeeasy-main-container used-equipment-main-container mt-4">
                    <div class="asset-valuated-intro-box">
                        <h1>Advance Valuation </h1>
                        <div class="subtile">
                            <p>In today’s competitive and unpredictable business world, it is essential for companies to have accurate, timely and cost-effective valuations of their machinery and equipment. At iQuippo, our experienced team of equipment valuation
                                experts is dedicated to providing our clients with an objective & supportable valuation conclusions, which are provided in timely, well-organized appraisal reports.</p>

                        </div>
                    </div>
                    <h2 class="main-heading font-valuation-heading">Get the advance valuation report in just 4 steps</h2>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card">
                                <img src="assets/images/form-icon.png" class="img-fluid" alt="">
                                <div class="equip-name pt-4">Select Asset</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card">
                                <img src="assets/images/pmt-icon.png" class="img-fluid" alt="">
                                <div class="equip-name pt-4">Submit the details</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card">
                                <img src="assets/images/stream-icon.png" class="img-fluid" alt="">
                                <div class="equip-name">Schedule physical inspection of your asset</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                            <div class="card">
                                <img src="assets/images/stream-icon.png" class="img-fluid" alt="">
                                <div class="equip-name pt-1">Get detailed 60 checkpoints valuation report with image & video</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <p style="
              margin-top: 2em;
              font-size: 16px;
          ">
                                Valuation is a most powerful driver of how you manage your business. Professional valuation of equipment is one of the important way to determine the real value of the assets. Our team of experts performs comprehensive analysis during evaluation of equipment
                                to calculate the value as precise as possible.</p>
                        </div>
                    </div>

                    <!-- <div class="row">
                  <div class="col-sm-3">
                     <div class="card">
                         <div class="image-box">
                          <img src="assets/images/form-icon.png" class="img-fluid" alt="">
                         </div>               
                      <div class="steps-head">1.Fill Form</div>
                      <div class="steps-description">Fill in the form and select the asset details, location and your concerns. 
                      </div>
                     </div>
                        
                     
                  </div>
                  <div class="col-sm-3">
                      <div class="card">
                          <div class="image-box">
                           <img src="assets/images/pmt-icon.png" class="img-fluid" alt="">
                          </div>               
                       <div class="steps-head">2.Make Payment</div>
                       <div class="steps-description">Confirm your payment after filling the form</div>
                      </div>
                         
                      
                   </div>
                   <div class="col-sm-3">
                      <div class="card">
                          <div class="image-box">
                           <img src="assets/images/inspect-icon.png" class="img-fluid" alt="">
                          </div>               
                       <div class="steps-head">3.We Inspect</div>
                       <div class="steps-description">Once we receive the payment our team member goes and inspect the product</div>
                      </div>
                         
                      
                   </div>
                   <div class="col-sm-3">
                      <div class="card">
                          <div class="image-box">
                           <img src="assets/images/stream-icon.png" class="img-fluid" alt="">
                          </div>               
                       <div class="steps-head">4.Live Stream</div>
                       <div class="steps-description">Watch our team member do the inspection of the asset by streaming it live.</div>
                      </div>
                         
                      
                   </div>
              </div>  -->
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-12">
                <img src="assets/images/advance-right-image.png" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</div>