<div class="confirmation-popup popup modal-popup">
    <div class="popup-hdr">
        <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="close-btn mat-button" aria-label="Close" (click)="closeDialog()">
            <img src="../../../../../../assets/images/Close.svg" alt="">
          </button>
        </div>
        <div class="popup-body overflow-hidden">
        <div class=""> Are You sure want to delete?</div>
        <div class="mt-4 text-right">
          <button type="button" class="btn default-btn-outline px-3 mr-3" (click)="closeDialog()">cancel</button>
          <button type="button" class="btn default-btn px-4" (click)="accept()">ok</button>
        </div>
        </div> 
        
</div>