<div class="product-wrapper">
    <div class="bg-fff mh-100p product-listing">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/customer/dashboard']">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Watch List</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="admin-page-header col-lg-12 col-md-12">
                <h3 class="admin-page-title mb-3">Watchlist</h3>
            </div>
            <div class="admin-page-header col-lg-12 col-md-12" *ngIf="productList && productList.length <= 0">
                <div class="row">
                    <div class="col-sm-12">
                            <div class="no-content-box">
                            <div class="no-content-img mt-5 mb-4">
                                <img src="../../../assets/images/image-asset-5.png" />
                            </div>
                            <div class="not-content-txt">
                                <h2>No Asset in your watchlist</h2>
                                <p>Please click on heart icon to add your asset in watchlist.</p> 
                            </div>
                            </div>
                   </div>
                </div>
            </div>
            <div class="row m-0 w-100 column-container">
                <div class="product-list" *ngFor="let product of productList">
                    <div class="featured-product ">
                        <div class="img-bx" *ngIf="product && product?.used_equipment">
                            <img src="{{product && product?.used_equipment && product?.used_equipment?.primary_image  ? product?.used_equipment?.primary_image : '../../../assets/images/default-thumbnail.jpg'}}"
                                class="img-fluid primary-img" alt="">
                            <div class="product-wishlist" *ngIf="this.cognitoId">
                                <img src="../../../assets/images/heart-wishlist-active.png"
                                    (click)="removeFromWatchlist(product?.used_equipment?.id, 'used')" alt=""
                                    class="wishlist-icon">
                            </div>
                            <div class="tags">
                            </div>
                        </div>
                        <div class="img-bx" *ngIf="product && product?.new_equipment">
                            <img src="{{product && product?.new_equipment && product?.new_equipment?.primary_image  ? product?.new_equipment?.primary_image : '../../../assets/images/default-thumbnail.jpg'}}"
                                class="img-fluid primary-img" alt="">
                            <div class="product-wishlist" *ngIf="this.cognitoId">
                                <img src="../../../assets/images/heart-wishlist-active.png"
                                    (click)="removeFromWatchlist(product?.new_equipment?.id, 'new')" alt=""
                                    class="wishlist-icon">
                            </div>
                            <div class="tags">
                            </div>
                        </div>

                        <div class="detailsbx pt-4">
                            <h3 class="product-title mb-0" *ngIf="product && product?.used_equipment">
                                {{product?.used_equipment?.product_name ?
                                (product?.used_equipment?.product_name + ' ') : '' }}
                                {{product?.used_equipment?.variant ? (product?.used_equipment?.variant + '
                                ') : ''}}
                                {{product?.used_equipment?.mfg_year ? product?.used_equipment?.mfg_year :
                                ''}}

                                {{!product?.used_equipment?.product_name &&
                                !product?.used_equipment?.variant
                                && !product?.used_equipment?.mfg_year ? 'NaN' : '' }}

                            </h3>
                            <div *ngIf="product && product?.used_equipment" class="price mb-2">
                                <p class="price mb-1" *ngIf="!product?.used_equipment?.is_price_on_request">
                                    {{product?.used_equipment?.selling_price ? '₹' +
                                    product?.used_equipment?.selling_price : ''}}</p>
                                <p class="price mb-1 price-rqst" *ngIf="product?.used_equipment?.is_price_on_request">
                                    Price on Request</p>
                                <!-- {{product?.used_equipment?.selling_price ? '₹' +
                                            product?.used_equipment?.selling_price : ''}} -->
                            </div>

                            <h3 *ngIf="product && product?.new_equipment" class="product-title mb-0">
                                {{product?.new_equipment?.product_name ?
                                (product?.new_equipment?.product_name + ' ') : '' }}
                                {{product?.new_equipment?.variant ? (product?.new_equipment?.variant + ' ')
                                : ''}}
                                {{product?.new_equipment?.mfg_year ? product?.new_equipment?.mfg_year : ''}}

                                {{!product?.new_equipment?.product_name && !product?.new_equipment?.variant
                                && !product?.new_equipment?.mfg_year ? 'NaN' : '' }}

                            </h3>
                            <div *ngIf="product && product?.new_equipment" class="price mb-2">
                                <p>{{product?.new_equipment?.selling_price ? '₹' +
                                    product?.new_equipment?.selling_price : 'NaN'}}</p>
                            </div>

                            <ul class="vehicle-cap-dtl product-detail">
                                <li *ngFor='let fields of product?.new_equipment?.tech_fields  | slice:0:3'>
                                    <div *ngIf='fields.visible_on_front'>
                                    </div>
                                    <div class="product-subtitle">{{fields?.field_name}}</div>
                                    <div class="product-titlename">{{fields?.field_value}} {{fields?.field_unit}}</div>
                                </li>
                            </ul>
                            <ul class="vehicle-cap-dtl product-detail">
                                <li *ngFor='let fields of product?.used_equipment?.tech_fields  | slice:0:3'>
                                    <div *ngIf='fields.visible_on_front'>
                                    </div>
                                    <div class="product-subtitle">{{fields?.field_name}}</div>
                                    <div class="product-titlename">{{fields?.field_value}} {{fields?.field_unit}}</div>
                                </li>
                            </ul>
                            <div class="text-center mt-3 mb-2" *ngIf="product && product?.new_equipment">
                                <button class="view-details-btn m-x-auto"
                                    [routerLink]="['/new-equipment-dashboard/equipment-details/' + product?.new_equipment?.id]"
                                    mat-button>View Details</button>
                            </div>

                            <div class="text-center mt-3 mb-2" *ngIf="product && product?.used_equipment">
                                <button class="view-details-btn m-x-auto"
                                    [routerLink]="['/used-equipment-dashboard/equipment-details/' + product?.used_equipment?.id]"
                                    mat-button>View Details</button>
                            </div>

                            <!-- <div class="row">
                                            <div class="col-6 pt-3">
                                            </div>
                                            <div class="col-6 text-right" *ngIf="product && product?.used_equipment &&  product?.used_equipment?.brand &&
                                                 product?.used_equipment?.brand.brand_logo_image">
                                                <img src={{product?.used_equipment?.brand.brand_logo_image}}
                                                    class="img-fluid" alt="">
                                            </div>
                                            <div class="col-6 text-right" *ngIf="product && product?.new_equipment &&  product?.new_equipment?.brand &&
                                                 product?.new_equipment?.brand.brand_logo_image">
                                                <img src={{product?.new_equipment?.brand.brand_logo_image}}
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div> -->
                        </div>
                    </div>
                </div>
            </div> 

            

        </div>

        
    </div>




</div>