.main-wrapper{
    padding: 15px 0;
    background: #EFF2F4;
}
.product-listing {
    padding: 10px 15px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}
.more-options-btn{
    color: #0F3D94;
    text-decoration: none !important;
    margin-top: 20px;
}
.pricefilter mat-checkbox{
    padding: 7px 0 3px;
    border-bottom:1px solid #EFEFEF;
}
.viewport{
    height: 1400px;
    width: 100%;
}
.primary-img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.product-search-container {padding: 0px 15px;}
.product-listing .mat-select {line-height: 40px; float: right; font-size: 14px; max-width: 270px; display: block; height: 40px; padding: 0px 10px!important; border: 0px impo !important;}
.product-listing .featured-product {margin-top: 0px; margin-bottom: 15px;}
.equipment-list.viewport .cdk-virtual-scroll-content-wrapper {padding: 0px 15px;}
/* .detailsbx .price {font-size: 22px; font-weight: 500;} */
.product-detail .product-detail li {width: auto; margin-right: 9px;}
.product-detail li:last-child {width: auto; margin-right: 0px;}
.view-details-btn {font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 0px !important;}

.featured-product .img-bx {height: 160px;}
.primary-img {height: 160px;}

.category-section
 {font-size: 15px; font-weight: 600; margin-bottom: 8px;margin-top: 0px !important;}






.vehicle-cap-dtl {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 41px;
}
.featured-product {
    border: 1px solid #c4cfd8;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}



.category-filter .mat-checkbox-label {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-overflow: clip;
    white-space: normal;
}
.content-list{padding-left:0px;}
.mat-select-value {
    line-height: 40px;
}
.listing-filters label {
    color: #747086;
    margin-bottom: 4px;
    white-space: normal;
}
.mat-select-value {
    line-height: 40px;
}
.breadcrumb li.breadcrumb-item {
    font-size: 12px;
}
.category-section-div {
    margin-bottom: 2em;
}
.column-container{
    flex-wrap: wrap;
    justify-content: normal;
}
.recent-view-section {
    margin: 1em 0;
}
.recent-view-section .product-detail-container {
    padding: 15px;
}
.recent-view-section .product-detail-container h2{margin:0px 0px 15px; font-size:24px;}
.recent-view-section article {
    padding: 0px 7.5px;
}
.compare-wrapper {background-color: #f5f8fa; border-bottom: 1px solid #b8bbbe;}
.compare-container .product-wrap {width: 85%;}
.product-image {padding: 0px; position: relative;}
.remove-compare {
    width: 35px;
    min-width: inherit; 
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;;
    border-radius: 50%;
    background-color: #ffefec;
}
.product-image > img {height: 160px;}
/* .product-title {height: auto;} */
.model-no {font-size: 12px; margin-bottom: 10px;}
.product-price {font-size: 18px;}
.pluc-icon span {font-size: 30px; font-weight: 500;}
.pluc-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
}
.product-img .preview-bx {min-height: 320px;}
.product-compare-btn {position: absolute;
    right: 0px;
    z-index: 9;}
.product-compare-btn button {font-size: 18px; right: 0px; bottom: 90px;}

    .recent-view-section{padding:0px;}

    
    .product-wrapper {
        padding: 15px;
        width: calc(100% - 18em);
        margin-bottom: 40px !important;
        margin-left: auto;
        transition: 0.5s;
      }


    
@media (max-width:991px){
    .eqpmt-name {margin-top: 20px; font-size: 18px; height: auto;}
    .main-wrapper{margin-top:4em;}
}


@media screen and (max-width: 992px) and (min-width: 768px) {
    
  }


@media (max-width: 767px){
    .product-wrapper {
        padding: 20px 15px;
        width: 100%;
        float: none;
        transition: 0.5s;
        margin-top: 0px !important;
      }
    .compare-container {margin-top: 60px;}
    .compare-container .product-wrap {margin-bottom: 15px;;}
    .compare-button {margin: 0px !important; padding: 0px !important;}
    .compare-div {flex: 1 1 100%; max-width: 100%;}
    .compare-parent {display: block;}
    h2.compare-title {border-radius: 8px 8px 1px 0px; padding: 10px 20px; font-size: 18px;}
    .compare-heading {font-size: 20px; pad: 10px;}
}

