.auction-lot-images {
    background: #fff;
    height: 100%;
    background: transparent linear-gradient(180deg, #ffffff 80%, #808080 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #d2d7da;
    border-radius: 8px;
    border-radius: 15px;
    min-height: 450px;
    overflow: hidden;
    position: relative;
}
/* .auction-lot-thumbnail {
    width: 90px;
    margin-right: 30px;
    min-width: 90px;
}
.auction-lot-thumb{
    margin-bottom: 15px;   
    width: 90px;
    height: 90px;
} */
.theme-btn {
    border: 0px;
}
.auction-box {
    background-color: #fff;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    padding: 15px 15px 0;
    margin: 0px 15px 15px 15px;
}
.slider-arrow ul li {display: inline-block; vertical-align: middle;}
.slider-arrow ul li a {display: block; width: 40px; height: 40px; line-height: 40px; text-align: center;
border: 1px solid #0D4FA3; border-radius: 6px; font-size: 24px; color: #0D4FA3;}
.auction-lot-thumb img{
    border-radius: 6px;
    border: 1px solid #b8c4cf;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.auction-lot-image{
   width: 100%;
}
.auction-lot-image img{
    border-radius: 6px;
    border: 1px solid #b8c4cf;
    width: 100%;
}
.auction-lot-name {
    font-size: 18px;
    margin-bottom: 10px;
    /* color: #0d4fa3; */
    background: #eee;
    display: block;
    padding: 10px
}
.auction-lot-title {
    font-size: 22px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.auction-lot-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.auction-lot-infoitem {
    width: 95%;
    padding: 0 0px 10px;
    margin: 5px auto;
    display: flex;
    position: relative;
    border-bottom: 1px solid #eee;
}
.auction-lot-infoitem span {
    color: #727272;
    width: 50%;
    display: block;
    position: relative;
    min-width: 165px;
}
.auction-lot-infoitem span:after {
    content: ":";
    position: absolute;
    right: 20%;
    /* margin-right: 20%; */
    /* float: right; */
    top: 0;
}
.auction-lot-infoitem strong {
    color: #000;
    font-weight: 600;
    width: 50%;
}
.auction-lot-infoitem.w-100 span {
    width: 25%;
}
.auction-lot-infoitem.w-100 strong {
    width: 75%;
}
.auction-lot-btn{
    margin-top: 25px;
}

@media only screen and (max-width: 767px) {
    .backbtn-auct button{width:100% !important;}
    .auction-lot-images{       
        flex-wrap: wrap;
    }
    .auction-box {
        padding: 10px;
        margin: 10px;
    }
    .auction-lot-title {font-size: 16px; margin-top: 15px;padding: 0px 10px;}
    .auction-lot-summery {
        border: 1px solid #eee;
    }
    .auction-lot-info {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0px;
    }
    .auction-lot-name {
        font-size: 18px;
        margin-bottom: 10px;
           background: #d8d8d8;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .auction-lot-thumbnail {
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        order: 2;
    }   
    .auction-lot-thumb {
        margin: 0 3px;
        width: 50px;
        height: 50px;
    }
    .auction-lot-image{
        width: 100%;
        order: 1;
    }
    .auction-lot-infoitem span{
        width: 100%;  
    }
    .auction-lot-infoitem strong {width: 100%;}
    .auction-lot-infoitem{
        width: auto;    
        min-width: 100%;     
    }
    .auction-lot-infoitem.w-100 span {
        width: auto;
    }
    .auction-lot-infoitem span:after {       
        right: 10%;       
    }
}

.mySlides{
    display: none;
}

.auction-lot-detail{
    margin-top: 15px;
    border: 1px solid #eee;
    padding: 10px;
}
.auction-lot-summery {
    background: #fbfdff;
    padding: 5px;
}

