<div class="site-content">
    <div class="breadcrumb-container">
        <div class="container-custom">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/auctions']">Auctions</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lot</li>
            </ol>
        </div>
    </div>

    <!-- class="mySlides" -->
    <div class="auction-box">
        <div class="auction-lot-section">
            <div class="container-custom-lots" *ngFor="let item of lotAuctionData">
                <div *ngIf="item?.assets && item?.assets.length">
                    <div class="auction-lot-detail" *ngFor="let obj of item?.assets; let i = index">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-12" *ngIf="obj?.asset && obj?.asset?.visuals && obj?.asset?.visuals.length">
                                <div class="auction-lot-images">
                                    <gallery id="basic-test" gallerize fluid [items]="lotVisualsImageData[i]"></gallery>
                                    <!-- <div class="auction-lot-thumbnail">
                                        <div class="auction-lot-thumb"><img src="{{objVisual?.url}}" alt=""></div>
                                    </div>                                    
                                    <div class="auction-lot-image" *ngIf="objVisual.is_primary && i==0">
                                        <img src="{{objVisual?.url}}" class="img-fluid" alt="">
                                    </div>
                                    <div class="auction-lot-image" *ngIf="!objVisual.is_primary && i==0">
                                        <img src="{{obj?.asset?.visuals[0].url}}" class="img-fluid" alt="">
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12" *ngIf="obj?.asset && obj?.asset?.visuals && !obj?.asset?.visuals.length">
                                <div class="auction-lot-images">
                                    <div class="auction-lot-thumbnail">
                                        <div class="auction-lot-thumb">
                                            <img src="../../../assets/images/default-thumbnail.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="auction-lot-image">
                                        <img src="../../../assets/images/default-thumbnail.jpg" class="img-fluid"
                                            alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                                <div class="auction-lot-summery">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="auction-lot-name"> {{item.lot_number ? ' Lot no. ' +
                                                item.lot_number : '' }}</div>
                                        </div>
                                    </div>

                                    <h1 class="auction-lot-title">{{item.title}}</h1>
                                    <div class="auction-lot-info">
                                        <div class="auction-lot-infoitem"><span>Brand</span> <strong>{{obj.asset &&
                                                obj.asset.brand ? obj.asset.brand.name : "NA"}}</strong></div>
                                        <div class="auction-lot-infoitem"><span>Category</span> <strong>{{obj.asset &&
                                                obj.asset.category ? obj.asset.category.name : "NA"}}</strong></div>
                                        <div class="auction-lot-infoitem"><span>Year of Mfg.</span> <strong>{{obj.asset
                                                &&
                                                obj.asset.mfg_year ? obj.asset.mfg_year : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Modal</span> <strong>{{obj.asset &&
                                                obj.asset.model ? obj.asset.model.name : "NA"}}</strong></div>
                                        <div class="auction-lot-infoitem"><span>Date of Invoice</span>
                                            <strong>{{item.date_of_invoice ? item.date_of_invoice : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>UOM</span>
                                            <strong>{{item.measurement_unit ? item.measurement_unit : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Reg.No./S.No.</span> <strong>{{obj.asset
                                                &&
                                                obj.asset.rc_number ? obj.asset.rc_number : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Start Price</span>
                                            <strong>{{item.start_price ? item.start_price : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Bid Increment</span>
                                            <strong>{{item.bid_increments && item.bid_increments.length > 0 ?
                                                item.bid_increments[0].increment_type_display_name : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Start Date</span>
                                            <strong>{{item.starts_at ?
                                                (item.starts_at | date : 'dd-MM-yyyy') : "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Location</span>
                                            <strong>{{obj.asset && obj.asset.location ? obj.asset.location.location :
                                                "NA"}}</strong>
                                        </div>
                                        <div class="auction-lot-infoitem"><span>Additonal Info
                                            </span><strong>{{item.additional_info ? item.additional_info :
                                                "NA"}}</strong>
                                        </div>
                                    </div>
                                    <div class="auction-lot-btn"
                                        *ngIf="currentDate >= item.starts_at && currentDate <= item.ends_at">
                                        <button class="theme-btn btn-block" (click)="auctionbid()">View
                                            {{auctionDataById?.sale_type_display_name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 mx-md-4 mx-lg-4 my-2" *ngIf="item.assets && !item.assets.length">
                    <div class="col-sm-12">
                        <div class="no-content-box">
                            <div class="not-content-txt">
                                <h2>Assets are not mapped with this {{item.lot_number ? ' Lot no. ' + item.lot_number
                                    :''}}
                                </h2>
                            </div>
                            <div class="no-content-img mt-5 mb-4">
                                <img src="../../../assets/images/image-asset-3.png" />
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-sm-12 pt-3 pb-3 backbtn-auct">
                <div class="slider-arrow text-right">
                    <ul class="list-unstyled mb-0">
                        <li class="">
                            <button class="default-btn-outline btn-block" [routerLink]="['/auctions/auction-detail',  auctionDataById.id, auctionDataById.auction_engine_auction_id]">
                                Back
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>