<div class="product-wrapper">
    <div class="product-wrapper-box">
        <!-- <div class="back-btn">
    <button class="default-btn">Back</button>
  </div> -->

        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">My Transactions</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-6 col-8">
                <h3 class="admin-page-title">My Transactions</h3>
            </div>
            <div class="col-md-6 col-lg-6 col-4">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg mr-0 theme-btn mat-button" (click)="export()"><i
              class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row mt-3">
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                                <mat-option>Select Status</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Service" (selectionChange)="serviceTypeFilter($event?.value)">
                                <mat-option>Select Service</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of serviceTypeOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortColumn($event)" matSortActive="transaction__payment_date" matSortDirection="desc">

                            <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8 default-tbl" matSort
          (matSortChange)="onSortColumn($event)" matSortActive="payment_date" matSortDirection="desc"> -->
                            <!-- Assets Txnid Column -->
                            <ng-container matColumnDef="transaction__transaction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction ID</span> {{element?.transaction?.transaction_id}}
                                </td>
                            </ng-container>

                            <!-- Assets id Column -->
                            <ng-container matColumnDef="transaction__payment_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment ID</span> {{element?.transaction?.payment_id ? element?.transaction?.payment_id : '-'}}</td>
                            </ng-container>

                            <!-- Assets Order id Column -->
                            <ng-container matColumnDef="transaction__order_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Order ID</span> {{element?.transaction?.order_id ? element?.transaction?.order_id : '-'}}
                                </td>
                            </ng-container>

                            <!-- payment service Column -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Service </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Service</span> {{getServiceType(element?.type)}} </td>
                            </ng-container>

                            <ng-container matColumnDef="transaction__payment_mode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Payment Mode</span> {{element?.transaction?.payment_mode}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="transaction__payment_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Payment Type</span> {{element?.type == 1 && element?.transaction?.emd_details ? 'EMD' : element?.type && element?.transaction?.fulfilment ? 'Fulfilment' : '-'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="transaction__unique_control_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Unique Control No</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Unique Control No</span> {{element?.transaction?.unique_control_number}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="transaction_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Type</span> {{(element?.transaction?.is_refunded) ? 'Refund' : ((element?.transaction_type == 'Dr') ? 'Payment' : 'Receipt')}}
                                </td>
                            </ng-container>

                            <!-- Assets id Column -->
                            <ng-container matColumnDef="transaction__asset_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Asset ID</span> {{element?.transaction?.asset_id?.id ? element?.transaction?.asset_id?.id : '-'}}</td>
                            </ng-container>

                            <!--Asset name Column -->
                            <ng-container matColumnDef="transaction__used_equipment__product_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Asset Name</span> {{element?.transaction?.asset_id?.product_name ? element?.transaction?.asset_id?.product_name : '-'}} </td>
                            </ng-container>

                            <!-- amount Column -->
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Amount</span> {{element?.amount | number: '1.'}} </td>
                            </ng-container>

                            <!-- payment payment status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Status</span> {{getPaymentStatus(element?.status)}} </td>
                            </ng-container>

                            <!-- payment date Column -->
                            <ng-container matColumnDef="transaction__payment_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Date</span> {{element?.transaction?.payment_date | date:'dd-MM-yyyy hh:mm a'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="transaction__updated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Date</span> {{element?.transaction?.updated_at | date:'dd-MM-yyyy hh:mm a'}} </td>
                            </ng-container>

                            <!-- column Action -->
                            <ng-container matColumnDef="action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Action</span>
                                    <button class="simple-btn view-icon mr-2" mat-button (click)="showReceipt(element)">
                    <span><img src="../../../assets/images/visibility.svg"></span>
                    <!-- <mat-icon class="action-icon">receipt</mat-icon> -->
                  </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <!-- </mat-table> -->
                        </table>
                        <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                    </div>
                </div>
                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>

            </div>

            

        </div>
    </div>
</div>