.popup-body {
    padding: 20px 20px 20px ;
    max-height: 80vh;
    overflow-y: auto;
}
.popup {
    background: #fff;
    border-radius: 20px;
}

.amount {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.amount-txt {
    font-size: 16px;
    font-weight: 500;
} 


@media (max-width:600px){ 
    .amount {
        font-size: 18px; 
    }
    .amount-txt {
        font-size: 14px; 
    } 
    
}
