<div class="popup modal-popup">
    <div class="popup-hdr">
      <h4 class="m-0">please confirm selling price</h4> 
    </div> 
    <div class="popup-body">
      <p class="amount" [innerHTML]="description1"></p>
      <p class="amount-txt"> {{description | numberToWords}}</p>
      <div class="text-right">
          <button class="default-btn-outline plr-md-40 mr-3" mat-dialog-close  (click)="dialogRef.close(false)" mat-button>No</button>
              <button class="default-btn plr-md-40"[mat-dialog-close]="true" (click)="dialogRef.close(true)" mat-button >Yes</button>
      </div>
  </div> 
  </div>
  