/* .custom-table-main {
    width: 80% !important;
    float: right;
}

.custom-table-main table {
    border-radius: 0px;
    margin-top: 0px
}

.custom-table-main table th {
    background: #0d4fa3;
    color: #fff;
    font-weight: 500;
}

.custom-table-main table tr td {
    border-bottom: 1px #eff0f2 solid;
}

.custom-table-main table th,
.custom-table-main table td {
    font-size: 15px !important;
}

.action-cell a {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin: 2px;
    line-height: 20px;
    background: #ddd;
    cursor: pointer;
}

.importBtn {
    position: relative;
}

.importBtn input.custom-file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
} */

.banner-sub-section {
    padding: 10px;
    border: 1px solid #d8d8d8;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #f9f9f9;
}

.datepicker-input {
    position: relative;
}

.custom-file .cust-upload-txt {
    position: relative;
    font-weight: 500;
    top: 11px;
    left: 10px;
}

.datepicker-input .calender-icon {
    top: -17px;
    right: 0px;
}

.custom-file .custom-file-label {
    text-align: left;
}

.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table .mat-row button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.table-row-btn span {
    font-size: 18px;
}

.asset-table .mat-cell button.simple-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}


/* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */

.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
}



.mat-card {
    padding: 0px;
}

.default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
}

.default-tbl mat-row,
.default-tbl .mat-header-row {
    border-color: #e0e4e8;
}

.default-tbl mat-cell,
.default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    white-space: nowrap;
    height: 42px;
    padding: 15px 21px;
}

.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
}

.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
}

.default-tbl mat-row:hover {
    background-color: #f8fbfd;
}

.asset-table table tr:hover {
    background-color: #f8fbfd;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
    border-color: #e0e4e8;
}

.table-pagination ul {
    vertical-align: middle;
    float: right;
}

.table-pagination ul li {
    display: inline-block;
    vertical-align: middle;
}

.table-pagination ul li a {
    background: #e0e4e8;
    margin-left: 8px;
    border: 0px solid #e9eef2;
    text-align: center;
    padding: 0px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    color: #000000;
}

.table-pagination ul li.active a {
    background-color: #0D4FA3;
    color: #fff;
}

.table-pagination ul li.previous-item.disabled a,
.table-pagination ul li.next-item.disabled a {
    background: #e0e4e8;
    border: 0px;
    cursor: not-allowed;
}

.table-pagination ul li.disabled:hover {
    cursor: not-allowed;
}

.table-pagination .table-recond {
    float: left;
    vertical-align: middle;
}

.table-pagination ul li.previous-item a,
.table-pagination ul li.next-item a {
    background-color: #fff;
    border: 1px solid #0D4FA3;
}

.table-pagination ul li a span.material-icons {
    font-size: 28px;
    line-height: 52px;
    color: #0D4FA3;
}

.table-pagination ul li.previous-item.disabled a span.material-icons,
.table-pagination ul li.next-item.disabled a span.material-icons {
    color: #989898;
}

.no-record {
    padding: 10px;
}

.user-management-heading select {
    border: 1px solid #c4cfd8 !important;
    height: 40px;
    border-radius: 6px;
    padding-left: 15px !important;
    background: #f5f8fa !important
}

.header-btn button {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background-color: #0d4fa3;
}

.lisFile {
    top: 1px;
    height: 40px;
}

.lisFile ul.selectedFile {
    padding: 0px 0px 0px 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lisFile ul li a.file-upload {
    padding-top: 10px;
}

.lisFile ul li a.delet-icon {
    margin-top: 2px;
}

.add-more-field {
    border: 1px solid #c4cfd8;
    border-radius: 6px;
}

.add-more-field label {
    color: #77828a;
    font-weight: 500;
}

.add-more-field h4.title {
    font-size: 16px;
    color: #fff;
    background-color: #0f3d94;
    padding: 15px 10px;
    border-radius: 6px 6px 0px 0px;
}

.add-more-field form {
    padding: 10px;
}

.mat-radio-button {
    width: 50%;
}


/* new css added end here */

.search-box {
    text-align: right;
}

.row.banner-redirect-row {
    background: #ffffff;
    width: 100%;
    margin: 10px auto 0em;
    padding: 5px 0px;
    border: 1px solid #eee;
}

.conditionalrow {
    width: 100%;
    background: #fff;
    margin: 0em auto 1em!important;
}

.row.ordiv {
    padding: 10px;
    font-weight: 500;
}

::ng-deep .mat-tooltip.red-tooltip {
    background-color: rgba(32, 27, 27, 0.418) !important;
    color: white !important
}

.upload-input label {
    color: #77828a;
    font-weight: 600;
}

.upload-input .custom-file {
    position: relative;
    height: 46px;
}

.upload-input .custom-file-input {
    position: absolute;
    height: 46px;
    cursor: pointer;
}

.upload-input .custom-file-label {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 0px;
    line-height: 46px;
}

.upload-input .custom-file .upload-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.upload-input .custom-file .cust-upload-txt {
    position: absolute;
    top: 0px;
    left: 10px;
}

.upload-input .custom-file .cust-upload-txt .blue-txt {
    text-decoration: none;
}

.custom-file {
    height: auto;
}

.selectedFile {
    list-style: none;
    margin: 10px 0px;
    border: none;
    background: #D8E9FF;
    padding: 5px;
}

.selectedFile li {
    display: flex;
    justify-content: space-between;
}

mat-radio-button {
    width: 50%;
}

.selectedFile i {
    color: red;
    line-height: 30px;
    margin-right: 10px;
}

.imgFile {
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: 4px;
    height: 45px;
    background: #f5f8fa;
}

.imgHeight {
    height: 80px;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #d2d4d6;
    width: 102px;
}

.imgFile {
    width: calc(100% - 17px);
    position: absolute;
    top: 27px;
    z-index: 9;
    left: 16px;
    border-radius: 4px;
    height: 43px;
    background: #f5f8fa;
}

.imgFile ul li {
    list-style: none;
}

.imgFile ul li a.file-upload {
    font-size: 14px;
    white-space: nowrap;
    padding-top: 0px;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0d4fa3;
    vertical-align: middle;
    font-weight: 500;
}

.imgFile ul.selectedFile {
    background: #f5f8fa;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.imgFile ul li a {
    padding-top: 5px;
    color: #0f3d94;
}

.imgFile ul li span.delet-icon {
    width: 34px;
    height: 34px;
    cursor: pointer;
    background: #dee5ea;
    margin-top: 0px;
    margin-right: 10px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.custom-file {
    height: 46px;
}

.edit-upload-img {
    position: relative;
}

.edit-upload-img .delet-icon img {
    width: 12px;
}

.edit-upload-img .delet-icon {
    position: absolute;
    left: 70px;
    top: 10px;
    background: #fff;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.header-btn button i {
    font-size: 0px;
}



span.required {
    color: red;
    margin-left: 5px;
}

.mat-dialog-actions {
    margin-bottom: 0px;
}

p.description-clip {
    margin: 0px;
    width: 98%;
    white-space: normal;
    max-height: 100px;
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .header-btn button {
        font-size: 0px;
        height: 34px;
    }
    .header-btn button i {
        font-size: 18px;
        padding-top: 4px;
        padding-right: 0px !important;
    }
    .exportWrapper,
    .header-btn {
        vertical-align: middle;
    }
}

img.thumbnail.category-img {
    width: 60px;
}

p.word-custom-wrap {
    word-break: break-word;
    max-width: 240px;
    white-space: normal;
}

@media(max-width:767px) {
    p.word-custom-wrap {
        word-break: break-word;
        max-width: 98%;
        white-space: normal;
    }
    .asset-table td:nth-child(7),
    .asset-table td:nth-child(8) {
        min-height: 101px !important;
    }
    .asset-table td:nth-child(1),
    .asset-table td:nth-child(2) {
        min-height: 70px !important;
    }
}