<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">DashBoard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Banner Settings</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
                    <h3 class="admin-page-title">Banner Settings</h3>
                </div>
                <div class="admin-page-buttons col-lg-6 col-md-4 col-sm-4 col-4" *ngIf="!this.showForm">
                    <div class="text-right header-btn">
                        <button mat-button class="" (click)="AddForm()"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                    </div>
                </div>
            </div>
            <div class="custom-table-main">
                <div class="user-management">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 user-management-heading mb-3">
                            <label class="d-block f-12">Page Name</label>
                            <select class="mdc-text-field__input form-control" [(ngModel)]='bannerType' (change)="changesBannerSetting($event.target.value)" placeholder="Select Page Name">
                            <option value="">-- Select Banner Type --</option>
                            <option value="New" selected>New</option>
                            <option value="Used">Used</option>
                            <option value="Homepage">Homepage</option>
                        </select>
                        </div>
                    </div>
                    <div class="add-more-field mb-3" *ngIf="this.showForm">
                        <h4 class="title">{{editId ? 'Update' : 'Add'}} Banner</h4>

                        <form [formGroup]='bannerForm'>
                            <div class="row">
                                <div class='form-group col-sm-6 col-lg-4 col-md-6' *ngIf="this.bannerType != 'Homepage'">
                                    <label class="d-block f-12">Banner Type<span class="required">*</span></label>
                                    <mat-select formControlName="bannerTypeDropdown" (selectionChange)="changesBannerType($event.value)" placeholder="Select Banner Type">
                                        <mat-option>--Select Banner Type--</mat-option>
                                        <mat-option value="1">Jumbotron</mat-option>
                                        <mat-option value="2">Marketing Banner</mat-option>
                                    </mat-select>
                                    <div *ngIf="bannerForm?.get('bannerTypeDropdown')?.touched && 
                                    bannerForm?.get('bannerTypeDropdown')?.hasError('required')">
                                        <span class="validation-err">Please select banner type.</span>
                                    </div>
                                </div>
                                <div class='form-group col-sm-6 col-lg-4 col-md-6' *ngIf="this.bannerType == 'Homepage'">
                                    <label class="d-block f-12">Section<span class="required">*</span></label>
                                    <mat-select formControlName="section" placeholder="Select Section">
                                        <mat-option>--Select Banner Type--</mat-option>
                                        <mat-option *ngFor="let section of homepageSections" [value]="section.id">
                                            {{section.name}}</mat-option>
                                    </mat-select>
                                    <div *ngIf="bannerForm?.get('section')?.touched && 
                                bannerForm?.get('section')?.hasError('required')">
                                        <span class="validation-err">Please select banner type.</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-lg-4 col-md-6" *ngIf="this.bannerType == 'New'">
                                    <label class="d-block f-12">Position<span class="required">*</span></label>
                                    <mat-select formControlName="position" placeholder="Select Position">
                                        <mat-option>--Select Position--</mat-option>
                                        <mat-option *ngFor="let pos of positionArray" [value]="pos.Text">
                                            {{pos.Name}}
                                        </mat-option>

                                    </mat-select>

                                    <div *ngIf="bannerForm.get('position')?.errors && bannerForm.get('position')?.invalid 
                            && (bannerForm.get('position')?.touched || bannerForm.get('position')?.dirty)">
                                        <span *ngIf="bannerForm.get('position')?.errors?.required" class="validation-err">Please select
                                        position</span>
                                    </div>
                                </div>

                                <div class='form-group col-sm-6 col-lg-4 col-md-6' *ngIf="this.bannerType == 'Used'">
                                    <label class="d-block f-12">Sort Order<span class="required">*</span></label>
                                    <mat-select formControlName="priority" (selectionChange)="changesBannerType($event.value)" placeholder="Select Priority">
                                        <mat-option>--Select Priority--</mat-option>
                                        <mat-option *ngFor="let pos of priorityArray" [value]="pos.value">
                                            {{pos.value}}
                                        </mat-option>
                                    </mat-select>

                                    <div *ngIf="bannerForm.get('priority')?.errors && bannerForm.get('priority')?.invalid 
                            && (bannerForm.get('priority')?.touched || bannerForm.get('priority')?.dirty)">
                                        <span *ngIf="bannerForm.get('priority')?.errors?.required" class="validation-err">Please select
                                        priority</span>
                                    </div>

                                </div>

                                <div class="form-group col-sm-6 col-lg-4 col-md-6" *ngIf="this.bannerType == 'Homepage'">
                                    <label class="d-block f-12">Sort Order<span class="required">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="order" formControlName="order" />
                                    </mat-form-field>
                                    <div *ngIf="bannerForm.get('order')?.errors && bannerForm.get('order')?.invalid 
                                && (bannerForm.get('order')?.touched || bannerForm.get('order')?.dirty)">
                                        <span *ngIf="bannerForm.get('order')?.errors?.required" class="validation-err">Please select
                                        order</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='form-group col-sm-6 col-lg-4 col-md-6'>
                                    <label class="d-block f-12">Banner Title</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Banner Title" formControlName="bannerTitle" maxlength="50" />
                                    </mat-form-field>
                                    <div *ngIf="bannerForm?.get('bannerTitle')?.touched && 
                                    bannerForm?.get('bannerTitle')?.hasError('required')">
                                        <span class="validation-err">Please enter banner title.</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-6 col-lg-4 col-md-6">
                                    <label class="d-block f-12">Banner Description</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Banner Description" formControlName="bannerDescription" maxlength="200" />
                                    </mat-form-field>
                                </div>

                                <div class='form-group col-sm-6 col-lg-4 col-md-6'>
                                    <label class="d-block f-12">Button Text</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Button Text" formControlName="buttonText" maxlength="20" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-lg-4 col-md-6 mb-3" *ngIf="bannerPageType == '1'">
                                    <label class="d-block f-12">Upload Banner Image<span class="required">*</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="handleUpload($event,'front','IMAGE');">
                                        <label class="custom-file-label p-0"><span class="upload-icon2"></span>
                                        <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                file</span></span></label>
                                        <div class="lisFile" *ngIf="documentName1 && documentName1.length > 0">
                                            <ul class="selectedFile">
                                                <li>
                                                    <a class="file-upload" href="{{documentName1[documentName1.length-1].url}}" target="_blank">{{documentName1[documentName1.length-1].name}}</a>
                                                    <a class="delet-icon" (click)="resetFile1()">
                                                        <img src="../../../assets/images/Delete_icon.svg" />
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="edit-upload-img">
                                            <span *ngIf="bannerImage">
                                            <img src={{bannerImage}} alt="" class="imgHeight">
                                            <span class="delet-icon" (click)="deleteBannerImage(bannerImage)">
                                                <img src="../../../assets/images/Delete_icon.svg">
                                            </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div *ngIf="bannerForm?.get('imageUrl')?.touched &&
                                bannerForm?.get('imageUrl')?.hasError('required') && this.documentName1?.length == 0">
                                        <span class="validation-err">Please add banner image</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-4 col-md-6 mb-3" *ngIf="bannerPageType == '2'">
                                    <label class="d-block f-12">Upload Banner Image<span class="required">*</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="handleUpload($event,'front','IMAGE');">
                                        <label class="custom-file-label p-0"><span class="upload-icon2"></span>
                                        <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                file</span></span></label>
                                        <div class="lisFile" *ngIf="documentName2 && documentName2.length > 0">
                                            <ul class="selectedFile">
                                                <li>
                                                    <a class="file-upload" href="{{documentName2[documentName2.length-1].url}}" target="_blank">{{documentName2[documentName2.length-1].name}}</a>
                                                    <a class="delet-icon" (click)="resetFile2()">
                                                        <img src="../../../assets/images/Delete_icon.svg" />
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="edit-upload-img">
                                            <span *ngIf="bannerImage">
                                            <img src={{bannerImage}} alt="" class="imgHeight">
                                            <span class="delet-icon" (click)="deleteBannerImage(bannerImage)">
                                                <img src="../../../assets/images/Delete_icon.svg">
                                            </span>
                                            </span>
                                        </div>

                                    </div>
                                    <div *ngIf="bannerForm?.get('imageUrl')?.touched &&
                                bannerForm?.get('imageUrl')?.hasError('required') && this.documentName2?.length == 0">
                                        <span class="validation-err">Please add banner image</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-4 col-md-6 mb-3" *ngIf="bannerPageType == '3'">
                                    <label class="d-block f-12">Upload Banner Image<span class="required">*</span></label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="handleUpload($event,'front','IMAGE');">
                                        <label class="custom-file-label p-0"><span class="upload-icon2"></span>
                                        <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                file</span></span></label>
                                        <div class="lisFile" *ngIf="documentName3 && documentName3.length > 0">
                                            <ul class="selectedFile">
                                                <li>
                                                    <a class="file-upload" href="{{documentName3[documentName3.length-1].url}}" target="_blank">{{documentName3[documentName3.length-1].name}}</a>
                                                    <a class="delet-icon" (click)="resetFile3()">
                                                        <img src="../../../assets/images/Delete_icon.svg" />
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>


                                    </div>
                                    <div class="edit-upload-img">
                                        <span *ngIf="bannerImage">
                                        <img src={{bannerImage}} alt="" class="imgHeight">
                                        <span class="delet-icon" (click)="deleteBannerImage(bannerImage)">
                                            <img src="../../../assets/images/Delete_icon.svg">
                                        </span>
                                        </span>
                                    </div>
                                    <div *ngIf="bannerForm?.get('imageUrl')?.touched &&
                                bannerForm?.get('imageUrl')?.hasError('required') && this.documentName3?.length == 0">
                                        <span class="validation-err">Please add banner image</span>
                                    </div>
                                </div>
                                <div class='form-group col-sm-6 col-lg-4 col-md-6'>
                                    <label class="d-block f-12">Alt. Image Text</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Alt. Image Text" formControlName="altImageText" />
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class='form-group col-sm-6 col-lg-4 col-md-6 yofmanu'>
                                    <label class="d-block f-12">Start Date</label>
                                    <mat-form-field floatLabel="never" class="datepicker-input">
                                        <input matInput [min]="minDate" [matDatepicker]="picker" (click)="picker.open()" readonly formControlName='startDate' placeholder="Enter Start Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                <img src="../../../assets/images/calendar.svg" />
                                            </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class='form-group col-sm-6 col-lg-4 col-md-6 yofmanu'>
                                    <label class="d-block f-12">End Date</label>
                                    <mat-form-field floatLabel="never" class="datepicker-input">
                                        <input placeholder="Enter end Date" matInput [min]="bannerForm?.get('startDate')?.value" [matDatepicker]="picker1" (click)="picker1.open()" readonly formControlName='endDate'>
                                        <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-icon">
                                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                <img src="../../../assets/images/calendar.svg" />
                                            </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-sm-6 col-lg-4 col-md-6">
                                    <label class="d-block f-12">Is Active <span class="required">*</span></label>
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="isActive" formControlName="isActive">
                                        <mat-radio-button [checked]="isActive == false" value="false">No</mat-radio-button>
                                        <mat-radio-button [checked]="isActive == true" value="true">Yes</mat-radio-button>
                                    </mat-radio-group>
                                    <div *ngIf="bannerForm?.get('isActive')?.touched && bannerForm?.get('isActive')?.hasError('required')">
                                        <span class="validation-err">Please select status</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-lg-4 col-md-6">
                                    <label class="d-block f-12">&nbsp;</label>
                                    <mat-checkbox formControlName="mark_for_lead"  (change)="checkedLeadCheckbox($event)">Mark Image For Lead Capturing</mat-checkbox>
                                </div>
                            </div>
                            <div class="banner-sub-section" *ngIf="bannerForm?.get('mark_for_lead')?.value != true">
                                <div class="row banner-redirect-row">
                                    <div class='form-group col-sm-6 col-lg-4 col-md-6'>
                                        <label class="d-block f-12">Redirection Url<span class="required">*</span></label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="Enter Redirection Url" formControlName="redirectionUrl" />
                                        </mat-form-field>
                                        <div *ngIf="bannerForm?.get('redirectionUrl')?.touched && 
                                bannerForm?.get('redirectionUrl')?.hasError('required')">
                                            <span class="validation-err">Please select redirection url</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row ordiv">
                                    <div class="col-sm-12 text-center">OR</div>
                                </div>

                                <ng-container>
                                    <div class="row pt-3 mt-3 conditionalrow" *ngIf="this.bannerType == 'Homepage'">
                                        <div class="form-group col-sm-6 col-lg-4 col-md-6 mb-0">
                                            <label class="d-block f-12">Redirect To</label>
                                            <mat-select class="mdc-text-field__input form-control" formControlName="redirectTo" (selectionChange)="changesRedirectionColumns($event.value)">
                                                <mat-option value="">-- Select --</mat-option>
                                                <mat-option value="1" selected>New</mat-option>
                                                <mat-option value="2">Used</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>

                                    <div formArrayName="redirectionLogic">
                                        <div class="row pt-3 mt-3 conditionalrow " *ngFor="let banners of bannerForm?.get('redirectionLogic')?.controls; index as i;trackBy:trackByFn">
                                            <ng-container [formGroupName]="i">
                                                <div class="form-group  col-sm-6 col-lg-3 col-md-6 m-0">
                                                    <label class="d-block f-12">Column</label>
                                                    <mat-select formControlName="column" placeholder="Select Column" (selectionChange)="columnsChange($event.value,i)">
                                                        <mat-option>--Select Column--</mat-option>
                                                        <mat-option *ngFor="let column of columns" [value]="column.name">
                                                            {{getColumnName(column.name)}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                                <div class="form-group col-sm-6 col-lg-6 col-md-4 m-0">
                                                    <label class="d-block f-12">Condition</label>
                                                    <mat-select formControlName="condition" placeholder="Select Condition">
                                                        <mat-option>--Select Condition--</mat-option>
                                                        <mat-option *ngFor="let cond of this.conditionArray[i]" [value]="cond">
                                                            {{getConditionName(cond)}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                                <div class="form-group col-sm-6 col-lg-3 col-md-6 m-0">
                                                    <label class="d-block f-12">Value</label>
                                                    <!-- <mat-form-field floatLabel="never" >
                                                <input matInput placeholder="Enter Value" formControlName="value" />
                                            </mat-form-field> -->
                                                    <mat-form-field floatLabel="never" matAutocompleteOrigin *ngIf="!this.listData[i]">
                                                        <input matInput [matAutocomplete]="auto1" placeholder="Search seller by mobile number" (keyup)="searchSeller($event)" type="text" maxlength="256" formControlName='value'>
                                                        <mat-autocomplete #auto1="matAutocomplete">
                                                            <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(i,seller?.cognito_id)" [value]="seller?.first_name">
                                                                {{seller?.first_name}} ({{seller?.mobile_number}})</mat-option>
                                                            <mat-option *ngIf="sellerList?.length == 0" value="">No such user exists with valid Agreement
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-form-field floatLabel="never" matAutocompleteOrigin *ngIf="bannerForm?.get('redirectionLogic')?.controls[i]?.get('column').value == 'category'">
                                                        <input matInput [matAutocomplete]="auto2" placeholder="Search Category" (keyup)="filterValuesCategory($event, i)" type="text" maxlength="256" formControlName='value'>
                                                        <mat-autocomplete #auto2="matAutocomplete">
                                                            <mat-option *ngFor="let data of categoryList" (onSelectionChange)="onValueSelect(data.id,i)" [value]="data.name">
                                                                {{data.name}}</mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-form-field floatLabel="never" matAutocompleteOrigin *ngIf="bannerForm?.get('redirectionLogic')?.controls[i]?.get('column').value == 'brand'">
                                                        <input matInput [matAutocomplete]="auto3" placeholder="Search Brand" (keyup)="filterValuesBrand($event, i)" type="text" maxlength="256" formControlName='value'>
                                                        <mat-autocomplete #auto3="matAutocomplete">
                                                            <mat-option *ngFor="let data of brandList" (onSelectionChange)="onValueSelect(data.id,i)" [value]="data.name">
                                                                {{data.name}}</mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <mat-form-field floatLabel="never" matAutocompleteOrigin *ngIf="bannerForm?.get('redirectionLogic')?.controls[i]?.get('column').value == 'model'">
                                                        <input matInput [matAutocomplete]="auto4" placeholder="Search Model" (keyup)="filterValuesModal($event, i)" type="text" maxlength="256" formControlName='value'>
                                                        <mat-autocomplete #auto4="matAutocomplete">
                                                            <mat-option *ngFor="let data of modelList" (onSelectionChange)="onValueSelect(data.id,i)" [value]="data.name">
                                                                {{data.name}}</mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                    <!-- <mat-form-field floatLabel="never" matAutocompleteOrigin >
                                                <input matInput [matAutocomplete]="auto"  placeholder="" type="text" (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let category of categoryList" (onSelectionChange)="updateValidations();onCategorySelect(category.id)" [value]="category.name" >{{category.name}}</mat-option>
                                            </mat-autocomplete>
                                            </mat-form-field> -->
                                                    <mat-select *ngIf="this.listData[i] && bannerForm?.get('redirectionLogic')?.controls[i]?.get('column').value == 'certificate'" formControlName="value">
                                                        <mat-option *ngFor="let data of listData[i]" [value]="data.id">
                                                            {{data.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                                <div class="form-group col-sm-6 text-right col-lg-3 ml-auto col-md-6 mb-3 mt-4" *ngIf="i>=1">
                                                    <button mat-button class="default-btn-outline" (click)="removeRedirectionRow(i)">Remove
                                                Row</button>
                                                </div>

                                            </ng-container>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-3 mt-3 text-right" *ngIf=" getBannersRedirectionLength() < this.maxArrayLength">
                                                <button mat-button class="default-btn" (click)="addBannerLogicRow()">Add Another
                                            Row</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <mat-dialog-actions align="end">
                                        <button class="default-btn-outline mr-3" mat-button (click)="cancelForm()">Cancel</button>
                                        <button class="default-btn" mat-button matTooltipClass='red-tooltip' matTooltip="{{editId
                                        ? 'Update' : 'Save'}} banner for {{bannerType}}" (click)="saveForm(bannerForm.value)">{{editId
                                        ? 'Update' : 'Save'}}</button>
                                    </mat-dialog-actions>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="user-management-top-section">

                    <div class="row search-box">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-12 mb-3 ">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" type="text" class="">
                            </mat-form-field>
                            <!-- <mat-form-field>section__in
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()"
                                #input />
                        </mat-form-field> -->
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3" *ngIf="this.bannerType == 'Homepage'">
                            <mat-form-field floatLabel="never">
                                <mat-select placeholder="Select Section" (selectionChange)="statusFilter($event?.value)">
                                    <mat-option [value]="">--Select Section--</mat-option>
                                    <mat-option *ngFor="let section of homepageSections" [value]="section.id">
                                        {{section.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3" *ngIf="this.bannerType == 'New'">
                            <mat-form-field floatLabel="never">
                                <mat-select placeholder="Select Position" (selectionChange)="statusPosFilter($event?.value)">
                                    <mat-option [value]="">--Select Position--</mat-option>
                                    <mat-option *ngFor="let pos of positionArray" [value]="pos.Text">
                                        {{pos.Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3" *ngIf="this.bannerType == 'Used'">
                            <mat-form-field floatLabel="never">
                                <mat-select placeholder="Select sort order" (selectionChange)="statusSortFilter($event?.value)">
                                    <mat-option [value]="">--Select Sort Order--</mat-option>
                                    <mat-option *ngFor="let pos of priorityArray" [value]="pos.value">
                                        {{pos.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="desktop-table">

                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource1" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banner Id</th>
                                    <td mat-cell class="category-cell" *matCellDef="let data">
                                        <span class="mobile-label">Banner Id</span> {{data.id}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="image">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banner Image</th>
                                    <td mat-cell *matCellDef="let data">
                                        <span class="mobile-label">Banner Image</span>
                                        <img class="thumbnail category-img" [src]="data.img_url" alt="iQuippo" />
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="banner_title">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banner Title</th>
                                    <td mat-cell class="category-cell" *matCellDef="let data">
                                        <span class="mobile-label">Banner Title</span>
                                        <p style="margin-bottom:0px;" class="word-custom-wrap">{{data.banner_title}}</p>

                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="banner_description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Banner Description</th>
                                    <td mat-cell class="brand-cell" *matCellDef="let data">
                                        <span class="mobile-label">Banner Description</span>
                                        <p class="description-clip">{{data.banner_description}}</p>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Position</span> {{data.position}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="banner_link">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Redirection Url</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Redirection Url</span>
                                        <p style="margin-bottom:0px;" class="word-custom-wrap">
                                            {{data.banner_link}}
                                        </p>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="priority">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort Order</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Sort Order</span> {{data.priority}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="section">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Section</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Section</span> {{data.section ? transformEnum(homepageSectionsType[data.section]) : ''}}
                                    </td>

                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sort Order</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Sort Order</span> {{data.order}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="start_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Start Date</span> {{data.start_date | date:'dd-MM-yyyy'}}</td>
                                </ng-container>
                                <ng-container matColumnDef="end_date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">End Date</span> {{data.end_date | date:'dd-MM-yyyy'}}</td>
                                </ng-container>
                                <ng-container matColumnDef="is_active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell class="gross-weight-cell" *matCellDef="let data">
                                        <span class="mobile-label">Status</span> {{data.is_active ? 'Active' : 'Inactive'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button mat-button class="simple-btn mr-2" (click)="findDataById(element.id)">
                                        <span><img src="../../../assets/images/editicon.svg" alt="Edit"
                                                title="Edit"></span>
                                    </button>
                                            <button mat-button class="simple-btn delet-icon" (click)="deleteField(element.id)">
                                        <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                title="Delete"></span>
                                    </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="getColumns();sticky:true;"></tr>
                                <tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
                                <!-- </mat-table> -->
                            </table>
                            <div class="no-record" *ngIf="specList?.results?.length == 0">No records found</div>
                        </div>
                    </div>
                    <mat-paginator [length]="specList?.count" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
                </div>




            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</mat-card>