<div class="model-heading modal-popup">
    <h3 *ngIf="idsData.isSubAuctionIds || idsData.isLotIds"> Ids List </h3>
    <h3 *ngIf="idsData?.auctionLotIds">View Lot Details</h3>
    <h3 *ngIf="idsData.isUCN">Unique Control Number's List</h3>
    <h3 *ngIf="idsData.isFromAuctionPaymentHistory">Lots</h3>
    <h3 *ngIf="idsData.isEmdDetails">EMD Details</h3>
    <button class="close-btn" (click)="close()">
        <span class="mat-button-wrapper">
            <img alt="" src="../../../../../../assets/images/Close.svg">
        </span>
    </button>
</div>

<div class="model-form-body" *ngIf="idsData.isSubAuctionIds">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Subauction Ids</th>
                <th>Count</th>
            </tr>

            <tr>
                <td>
                    {{ids}}
                </td>
                <td>{{idsData.ids.length}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData.isFromAuctionPaymentHistory">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Lot Ids</th>
                <th>Count</th>
            </tr>

            <tr>
                <td>
                    {{ids}}
                </td>
                <td>{{idsData?.ids[0].lots?.length}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData.isEmdDetails">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Auction Id</th>
                <th>Parent Auction</th>
                <th>Lots</th>
                <th>Client Reference ID</th>
                <th>Eligible for Refund</th>
                <th>Baton No</th>
            </tr>

            <tr *ngFor="let obj of idsData?.ids?.emd_details">
                <td>
                    <span *ngIf="obj?.auction_emd?.emd_subauctions && obj?.auction_emd?.emd_subauctions?.length > 0">
                        <span *ngFor="let sub of obj?.auction_emd?.emd_subauctions">
                            {{ sub?.auction?.auction_engine_auction_id ? sub?.auction?.auction_engine_auction_id : '-'}}
                        </span>
                    </span>
                    <span
                        *ngIf="obj?.auction_emd?.emd_subauctions && !obj?.auction_emd?.emd_subauctions?.length || !obj?.auction_emd?.emd_subauctions ">
                        {{ obj?.auction_emd?.auction?.auction_engine_auction_id ?
                        obj?.auction_emd?.auction?.auction_engine_auction_id : '-'}}
                    </span>
                </td>
                <td>
                    {{obj?.auction_emd?.auction?.auction_engine_auction_id ?
                    obj?.auction_emd?.auction?.auction_engine_auction_id : '-'}}
                </td>
                <!-- <td>
                    <span *ngIf="!obj?.lots?.length">
                        -
                    </span>
                    <span [ngClass]="obj?.lots?.length > 50 ? 'max-lots-count' : 'min-lots-count' ">
                        {{obj?.lots?.join(", ")}}
                    </span>
                </td> -->
                <td>
                    <span class="lot-data" *ngIf="obj?.auction_emd?.emd_type == 'AU'">
                            {{obj?.auction_emd?.lots?.join(", ")}} 
                    </span>

                    <span *ngIf="obj?.auction_emd?.emd_subauctions && obj?.auction_emd?.emd_subauctions?.length > 0">
                        <span class="lot-data" *ngFor="let sub of obj?.auction_emd?.emd_subauctions">
                            {{sub?.lots?.join(", ")}}
                        </span>
                    </span>
                    
                    <span
                        *ngIf="obj?.auction_emd?.emd_subauctions && !obj?.auction_emd?.emd_subauctions?.length || !obj?.auction_emd?.emd_subauctions">
                        <span class="lot-data" *ngFor="let emd of obj?.auction_emd?.emd_lots; let isLast=last">
                            {{emd?.lot?.lot_number}} {{isLast ? '' : ', '}}
                        </span>
                    </span>

                </td>
                <td>
                    <span>
                        {{obj?.client_reference_id ? obj?.client_reference_id : '-'}}
                    </span>
                </td>
                <td>
                    <span>
                        {{obj?.eligible_for_refund ? obj?.eligible_for_refund : '-'}}
                    </span>
                </td>
                <td>
                    <span>
                        {{obj?.baton_number ? obj?.baton_number : '-'}}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData?.auctionLotIds">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Auction Id</th>
                <th>Sub Auction(s)</th>
                <th>Lot Numbers</th>
                <th>Count</th>
            </tr>

            <tr *ngFor="let sub of ids">
                <td>{{idsData?.auctionId}}</td>
                <td>{{idsData?.isSubauctions ? sub?.auction_engine_id : '-'}}</td>
                <td>
                    <span *ngIf="sub?.lotIds?.length" class="lot-data"
                        [ngClass]="sub?.lotIds?.length > 50 ? 'max-lots-count' : 'min-lots-count' ">{{sub?.lotIds.join(",
                        ")}}</span>
                    <span *ngIf="!sub?.lotIds?.length" class="lot-data min-lots-count">No lots mapped for this
                        auction</span>
                </td>
                <td>{{sub?.lotIds.length}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData.isLotIds">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Lot Ids</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>
                    <span [ngClass]="idsData?.ids?.length > 50 ? 'max-lots-count' : 'min-lots-count' ">{{ids}}</span>
                </td>
                <td>{{idsData?.ids?.length}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData.isUCN">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Unique Control Number's</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>
                    <p class="uniqe-number">{{ids}}</p>
                </td>
                <td>{{idsData.ids.length}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="model-form-body" *ngIf="idsData.isFromFulfilment">
    <div class="table-responsive">
        <table>
            <tr>
                <th>Asset Ids</th>
                <th>Count</th>
            </tr>

            <tr>
                <td>
                    {{idsData.ids.join(", ")}}
                </td>
                <td>{{idsData?.ids.length}}</td>
            </tr>
        </table>
    </div>
</div>