<div class="product-wrapper">
    <div class="product-wrapper-box refund-online">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Refund(Online) Account</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-12">
                <h3 class="admin-page-title">Refund(Online) Account</h3>
            </div>
        </div>

        <div class="user-management-top-section">
            <div class="row mt-3">
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <label class="f-12 d-block">Type of Transactions</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Type of Transactions</mat-label>
                        <mat-select [(ngModel)]="transactionTypeValue" placeholder="Select Transaction Type"
                            (selectionChange)="transactionChange($event?.value)">
                            <mat-option *ngFor="let type of transactionType" [value]="type.value">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <mat-tab-group (selectedTabChange)="onTabChanged($event);">

            <mat-tab label="Initiated" class="">
                <div class="custom-table-main">
                    <div class="user-management-top-section refund-online">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 mb-3">
                                <form [formGroup]="initaitedForm">
                                    <div class="row export-row mb-2">
                                        <div class="col-sm-4">
                                            <!-- <label class="f-12 d-block  invisible">date</label> -->
                                            <mat-form-field class="datepicker-input" floatLabel="never">
                                                <input matInput class="form-control"
                                                    formControlName='initaitedStartDate' [max]="now"
                                                    placeholder="From Date" [matDatepicker]="picker1" readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                                <div *ngIf="initaitedForm?.get('initaitedStartDate')?.touched && 
                      initaitedForm?.get('initaitedStartDate')?.hasError('required')">
                                                    <span class="validation-err">Please select start date</span>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <!-- [min]="getEndDate()" -->
                                        <div class="col-sm-4">
                                            <!-- <label class="f-12 d-block  invisible">date</label> -->
                                            <mat-form-field class="datepicker-input" floatLabel="never">
                                                <input matInput class="form-control" formControlName='initaitedEndDate'
                                                    [min]="initaitedGetEndDate()" [max]="now" placeholder="To Date"
                                                    [matDatepicker]="picker2" readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker2">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                                                <div *ngIf="initaitedForm?.get('initaitedEndDate')?.touched && 
                      initaitedForm?.get('initaitedEndDate')?.hasError('required')">
                                                    <span class="validation-err">Please select end date</span>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12 col-md-4 pt-md-2  pt-sm-2">
                                            <div class="text-right exportWrapper">
                                                <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                                                <button mat-button class="default-btn importBtn mr-0"
                                                    (click)="export('InitiatdRefund')"><i
                                                        class="fa fa-file-excel-o pr-2  fa-lg"
                                                        aria-hidden="true"></i>Export</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Search" [(ngModel)]="searchInitiatedText"
                                        (keydown.enter)="searchInitiatedList()" (keyup)="searchInitiatedList()"
                                        autocomplete="off" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table
                                    [dataSource]="initiatedDataSource" matSort
                                    (matSortChange)="onInitiatedSortColumn($event)" matSortActive="payment_date"
                                    matSortDirection="desc">

                                    <ng-container matColumnDef="Transaction_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Id</span> {{element?.transaction &&
                                            element?.transaction?.transaction_id ? element?.transaction?.transaction_id
                                            : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Refund Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Id</span> {{element?.refund_id ?
                                            element?.refund_id : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="UCN">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>UCN</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">UCN</span> {{element?.transaction &&
                                            element?.unique_control_number ? element?.unique_control_number : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Asset_Id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset_Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset_Id</span> {{element?.transaction &&
                                            element?.transaction?.asset_id && element?.transaction?.asset_id.id ?
                                            element?.transaction?.asset_id.id : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="AuctionId_ID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auction ID</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span>
                                            <span
                                                *ngFor="let obj of element?.transaction?.emd_details ; let isLast=last">
                                                <span>{{obj?.auction?.auction_engine_auction_id ?
                                                    obj?.auction?.auction_engine_auction_id :
                                                    '-'}} {{isLast ? '' : ', '}}
                                                </span>
                                            </span>
                                            <span
                                                *ngIf="!element?.transaction || !element?.transaction?.emd_details">-</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Order_Id">
                                        <th mat-header-cell *matHeaderCellDef>Order Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Order ID</span>
                                            {{element?.payment_gateway_order_id ? element?.payment_gateway_order_id :
                                            '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Payment_Id">
                                        <th mat-header-cell *matHeaderCellDef>Payment Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Payment ID</span>
                                            {{element?.payment_gateway_payment_id ? element?.payment_gateway_payment_id
                                            : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Transaction_Type">
                                        <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Type</span> {{element?.type ?
                                            getTransactionType(element?.type) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="User_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">User Name</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.first_name ?
                                            element?.transaction?.buyer?.first_name : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Mobile_No">
                                        <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Mobile No</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.mobile_number ?
                                            element?.transaction?.buyer?.mobile_number : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Email</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.email ?
                                            element?.transaction?.buyer?.email : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Amount">
                                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Amount</span> {{element?.transaction &&
                                            element?.transaction?.amount ? element?.transaction?.amount : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Transaction_Status">
                                        <th mat-header-cell *matHeaderCellDef> Transaction Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Status</span>
                                            {{element?.transaction?.payment_status ?
                                            getPaymentStatus(element?.transaction?.payment_status) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Status">
                                        <th mat-header-cell *matHeaderCellDef> Refund Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Status</span> {{element?.status ?
                                            getPaymentStatus(element?.status) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Amount">
                                        <th mat-header-cell *matHeaderCellDef> Refund Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Amount</span> {{element?.amount ?
                                            element?.amount : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Type">
                                        <th mat-header-cell *matHeaderCellDef> Refund Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Type</span> {{element?.refund_type ?
                                            element?.refund_type : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Request_Date">
                                        <th mat-header-cell *matHeaderCellDef> Request Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Date</span> {{element?.created_at ?
                                            (element?.created_at | date:'dd-MM-yyyy') : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Action</span>
                                            <button mat-button class="simple-btn">
                                                <span (click)="viewRalization(element)">
                                                    <img src="../../../assets/images/visibility.svg" alt="View"
                                                        title="View">
                                                </span>
                                            </button>
                                            <button class="simple-btn view-icon mr-2 exclainmation-icon" mat-button
                                                (click)="approveRefund(element)">
                                                <span><img src="../../../assets/images/approve.svg" alt="Approve"
                                                        title="Approve" /></span>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
                                    <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>
                                </table>

                                <div class="no-record" *ngIf="!initiatedDataSource?.data?.length">No records found</div>
                            </div>
                        </div>

                        <mat-paginator [length]="initiatedTotalCount" [pageIndex]="0" [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onInitiatedPageChange($event)"></mat-paginator>
                    </div>




                </div>
            </mat-tab>

            <mat-tab label="Refunded">
                <div class="custom-table-main">
                    <div class="user-management-top-section">

                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 mb-3">
                                <form [formGroup]="refundedForm">
                                    <div class="row export-row mb-2">
                                        <div class="col-sm-5">
                                            <!-- <label class="f-12 d-block  invisible">date</label> -->
                                            <mat-form-field class="datepicker-input" floatLabel="never">
                                                <input matInput class="form-control" formControlName='refundedStartDate'
                                                    [max]="now" placeholder="From Date" [matDatepicker]="picker3"
                                                    readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker3">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                                                <div *ngIf="refundedForm?.get('refundedStartDate')?.touched && 
                      refundedForm?.get('refundedStartDate')?.hasError('required')">
                                                    <span class="validation-err">Please select start date</span>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <!-- [min]="getEndDate()" -->
                                        <div class="col-sm-5">
                                            <!-- <label class="f-12 d-block  invisible">date</label> -->
                                            <mat-form-field class="datepicker-input" floatLabel="never">
                                                <input matInput class="form-control" formControlName='refundedEndDate'
                                                    [min]="refundedGetEndDate()" [max]="now" placeholder="To Date"
                                                    [matDatepicker]="picker4" readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker4">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker4 disabled="false"></mat-datepicker>
                                                <div *ngIf="refundedForm?.get('refundedEndDate')?.touched && 
                      refundedForm?.get('refundedEndDate')?.hasError('required')">
                                                    <span class="validation-err">Please select end date</span>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-2 col-md-12 pt-md-2  pt-sm-2">
                                            <div class="text-right exportWrapper">
                                                <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                                                <button mat-button class="default-btn importBtn mr-0"
                                                    (click)="export('refunded')"><i
                                                        class="fa fa-file-excel-o pr-2  fa-lg"
                                                        aria-hidden="true"></i>Export</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Search" [(ngModel)]="searchRefundedText"
                                        (keyup)="searchRefundedList()" (keydown.enter)="searchRefundedList()"
                                        autocomplete="off" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">

                                <table class="mat-table custom-mat-table w-100" mat-table
                                    [dataSource]="refundedDataSource" matSort
                                    (matSortChange)="onRefundedSortColumn($event)" matSortActive="payment_date"
                                    matSortDirection="desc">

                                    <ng-container matColumnDef="Transaction_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Id</span> {{element?.transaction &&
                                            element?.transaction?.transaction_id ? element?.transaction?.transaction_id
                                            : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Refund Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Id</span> {{element?.refund_id ?
                                            element?.refund_id : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="UCN">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>UCN</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">UCN</span> {{element?.transaction &&
                                            element?.unique_control_number ? element?.unique_control_number : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Asset_Id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset Id</span> {{element?.transaction &&
                                            element?.transaction?.asset_id && element?.transaction?.asset_id.id ?
                                            element?.transaction?.asset_id.id : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="AuctionId_ID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auction ID</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span>
                                            <span
                                                *ngFor="let obj of element?.transaction?.emd_details; let isLast=last">
                                                <span>{{obj?.auction?.auction_engine_auction_id ?
                                                    obj?.auction?.auction_engine_auction_id :
                                                    '-'}}{{isLast ? '' : ', '}}
                                                </span>
                                            </span>
                                            <span
                                                *ngIf="!element?.transaction || !element?.transaction?.emd_details">-</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Order_Id">
                                        <th mat-header-cell *matHeaderCellDef>Order Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Order ID</span>
                                            {{element?.payment_gateway_order_id ? element?.payment_gateway_order_id :
                                            '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Payment_Id">
                                        <th mat-header-cell *matHeaderCellDef>Payment Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Payment ID</span>
                                            {{element?.payment_gateway_payment_id ? element?.payment_gateway_payment_id
                                            : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Transaction_Type">
                                        <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Type</span> {{element?.type ?
                                            getTransactionType(element?.type) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="User_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">User Name</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.first_name ?
                                            element?.transaction?.buyer?.first_name : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Mobile_No">
                                        <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Mobile No</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.mobile_number ?
                                            element?.transaction?.buyer?.mobile_number : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Email</span> {{element?.transaction &&
                                            element?.transaction?.buyer && element?.transaction?.buyer?.email ?
                                            element?.transaction?.buyer?.email : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Amount">
                                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Amount</span> {{element?.transaction &&
                                            element?.transaction?.amount ? element?.transaction?.amount : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Transaction_Status">
                                        <th mat-header-cell *matHeaderCellDef> Transaction Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Transaction Status</span>
                                            {{element?.transaction?.payment_status ?
                                            getPaymentStatus(element?.transaction?.payment_status) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Status">
                                        <th mat-header-cell *matHeaderCellDef> Refund Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Status</span> {{element?.status ?
                                            getPaymentStatus(element?.status) : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Amount">
                                        <th mat-header-cell *matHeaderCellDef> Refund Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Amount</span> {{element?.amount ?
                                            element?.amount : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Refund_Type">
                                        <th mat-header-cell *matHeaderCellDef> Refund Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Type</span> {{element?.refund_type ?
                                            element?.refund_type : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Request_Date">
                                        <th mat-header-cell *matHeaderCellDef> Request Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Refund Date</span> {{element?.created_at ?
                                            (element?.created_at | date:'dd-MM-yyyy') : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Actions</span>
                                            <button mat-button class="simple-btn">
                                                <span (click)="viewRalization(element)">
                                                    <img src="../../../assets/images/visibility.svg" alt="View"
                                                        title="View">
                                                </span>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
                                    <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>
                                </table>

                                <div class="no-record" *ngIf="!refundedDataSource?.data?.length">No records found</div>
                            </div>
                        </div>


                        <mat-paginator [length]="refundedTotalCount" [pageIndex]="0" [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onRefundedPageChange($event)"></mat-paginator>
                    </div>




                </div>
            </mat-tab>

        </mat-tab-group>


    </div>
</div>