.main-heading {
    font-size: 32px;
    font-weight: 700;
}



.mat-card {
    padding: 0px;
}

.default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
}

.default-tbl mat-row,
.default-tbl .mat-header-row {
    border-color: #e0e4e8;
}

.default-tbl mat-cell,
.default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    height: 42px;
    padding: 15px 21px;
}

.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
}

.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
}

.default-tbl mat-row:hover {
    background-color: #f8fbfd;
}

.asset-table .table-hover tbody tr:hover {
    background-color: #f8fbfd;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
    border-color: #e0e4e8;
}

.asset-table .inner-table {
    border-radius: 10px;
    border: 1px solid #e0e4e8;
}

.no-record {
    padding: 10px;
}

.asset-table .mat-row button.simple-btn.view-icon img {
    width: 22px;
}

.category-img {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 2px;
}

.asset-table .mat-row .mat-cell .mat-button {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.excel-export-section button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 5px 20px;
}

.exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 2px 20px;
}

.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table .mat-row button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.table-row-btn span {
    font-size: 18px;
}

.asset-table .mat-cell button.simple-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table .mat-cell button.simple-btn.view-icon img {
    width: 18px;
}

.asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}


/* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */

.asset-table table th {
    background-color: #0D4FA3;
    color: #fff;
}

.datepicker-input {
    position: relative;
}

.datepicker-input .calender-icon {
    position: absolute;
    top: -19px;
    right: 10px;
}

.datepicker-input.park-since .calender-icon {
    top: -32px;
}

@-moz-document url-prefix() {
    .datepicker-input .calender-icon { 
        top: -40px !important; 
    }
  }


@media screen and (max-width: 767px) {
    .header-btn button {
        padding: 6px 8px !important;
    }

}

button.simple-btn img {
    width: 20px;
}

.row.export-row.mb-2 {
    background: #f7f7f7;
    padding: 1em 0em;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #eee;
}

@media(max-width:767px) {
    .row.export-row.mb-2 input {
        margin-bottom: 15px;
    }
    .row.export-row button {
        width: auto;
    }
    .exportWrapper button {font-size: 0px;}
    .exportWrapper button i {font-size: 18px; padding-right: 0px !important;}
}