.main-wrapper {
    padding: 15px 0;
    background: #eff2f4;
}

.preview-bx {
    background: #fff;
    height: 100%;
    background: transparent linear-gradient(180deg, #ffffff 80%, #808080 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #d2d7da;
    border-radius: 8px;
    border-radius: 15px;
    min-height: 450px;
    overflow: hidden;
    position: relative;
}

.product-detail-container .pdp-card {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.preview-bx img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 400px;
}


/* .preview-bx > img:first-child{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: static;
    margin: 0;
    max-height: inherit;
} */

.preview-bx img.copyr8-logo {
    position: absolute;
    width: 100px;
    opacity: 0.3;
}

.preview-bx .tags p {
    margin-bottom: 8px;
    padding: 4px 15px 4px 4px;
    color: #fff;
    font-size: 10px;
    text-align: left;
    border-radius: 0 6px 6px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.preview-bx .tags p.verified-tag {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
}

.preview-bx button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: scale(0.7);
}

.save2wl {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #656565;
    border: 1px solid #707070;
    border-radius: 50px;
    margin-bottom: 0;
    padding: 12px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    z-index: 11;
}

.save2wl img {
    position: relative;
    margin-right: 0px;
}

.specs-value .specs-value-txt {
    margin-bottom: 3px;
    color: #4b535a;
}

.specs-value .specs-value-title {
    font-weight: 600;
}


/* .product-feature ul li {
    border: 1px solid #cad1d6;
    border-radius: 6px;
    background: #eff2f4;
    max-width: 32.7%;
    box-shadow: 0px 0px 5px #eee;
} */

.product-feature {
    margin-top: 10px;
}

.specs-value .specs-value-txt strong {
    font-weight: 400;
}

.eqpmt-name {
    font-size: 22px;
    color: #3D3855;
    margin-bottom: 10px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 36px;
}

.eqmnt-catgry {
    font-size: 14px;
    color: #3D3855;
    margin-bottom: 10px;
    line-height: 17px;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px #d2dce6;
}

.asset-id-location .location-asset-id {
    max-width: 23% !important;
}

.asset-id-location .location-asset-location {
    max-width: 39% !important;
}

.eqmnt-catgry .eqmnt-catgry-txt {
    font-weight: 400;
    color: #9ea7ad;
    padding-right: 10px;
}

.eqmnt-catgry .eqmnt-catgry-lbel {
    font-weight: 500;
}

.eqmnt-catgry span {
    color: #001229;
    margin-bottom: 10px;
    font-size: 14px;
}

.equiment-detail-box {
    background: #eff2f4;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d6dde2;
    margin-bottom: 10px;
}

.bid-place-btn button {
    font-size: 14px;
    border-radius: 4px;
}

.offers {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border: 1px solid #cbcbcb52;
    padding: 20px;
    max-width: 450px;
}

.offers p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
}

.offers ul {
    padding-left: 20px;
    margin: 0;
}

.offers ul li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}

.offers ul li::before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-left: -20px;
    background: #cfcfcf;
    margin-right: 8px;
}

.offers a {
    font-size: 10px;
    color: #0f3d94;
    text-decoration: none !important;
}

.btns-bx {
    padding: 10px 0 0px;
}

.btns-bx ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pro-disc {
    padding-top: 50px;
}

.colling-period-timer span {
    width: 50px;
    display: inline-block;
    height: 35px;
    background: transparent linear-gradient(279deg, #1a50b1, #a01922);
    border-radius: 4px;
    text-align: center;
    line-height: 34px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: 0 0 4px #d2dce6;
}

.pro-disc h2 {
    font-size: 30px;
    color: #0d4fa3;
    font-weight: 600;
    margin-bottom: 15px;
}

.pro-disc p {
    font-size: 20px;
    color: #3d3855;
}

.pro-disc ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 10px;
}

.pro-disc ul li {
    margin-right: 40px;
    display: inline-block;
}

.pro-disc ul li p {
    margin-bottom: 0;
    font-size: 20px;
    color: #3d3855;
    font-weight: 600;
}

.pro-disc ul li p:last-child {
    font-size: 18px;
    color: #7b8289;
    font-weight: 400;
}

.timer span {
    padding: 8px 20px;
    background: #fbfbfb;
    border: 1px solid #eeeeee;
    font-weight: 500;
    margin-right: 20px;
    vertical-align: middle;
}

.preview-bx .thumbnail-img {
    position: absolute;
    left: 5px;
    bottom: 20px;
    height: 80px;
    max-height: 18%;
    top: inherit;
    right: inherit;
    margin: inherit;
}

.preview-bx.product-sub-img {
    background: transparent;
    border: 0px;
}

.preview-bx.product-sub-img {
    height: auto;
    width: auto;
    object-fit: cover;
    position: relative;
    margin: 0;
    max-height: inherit;
}

.preview-bx .thumbnail-img {
    left: 0px;
}

.preview-bx .thumbnail-img2 {
    bottom: 120px;
}

.preview-bx .thumbnail-img3 {
    bottom: 220px;
}

.preview-bx .thumbnail-img4 {
    bottom: 320px;
}

.product-detail-container {
    padding: 0px 30px;
}

.product-detail-container .video-container {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.recent-view-section .product-detail-container {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.vehicle-cap-dtl p {
    font-size: 12px;
    text-transform: capitalize;
    color: #212529;
    margin-bottom: 5px;
    font-weight: 500;
    word-wrap: break-word;
    width: 100%;
    word-break: break-word;
    text-overflow: clip;
}

.vehicle-cap-dtl p:last-child {
    font-size: 12px;
    color: #7b8289;
}

.deail-table ul {
    margin: 0px;
    border: 1px solid #e0e4e8;
}

.deail-table ul li {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 10px;
    min-height: 40px;
}

.deail-table ul li span {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.deail-table ul li.grey {
    background-color: #f8fbfd;
}

.asset-listdetails h3.product-manufacturing-year {
    margin-left: 0px;
}

.sold-detail.pdp-sticker {
    top: 14px;
    left: -13px;
}

.reserve-batch {
    font-size: 14px;
    padding: 7px 15px;
    background: #fdedd2;
    color: #bb7b0c;
    font-weight: 500;
    border-radius: 6px;
    margin-left: 20px;
}

.video-container h2 {
    font-size: 18px;
    color: #001229;
    font-weight: 600;
    margin-bottom: 15px;
}

.noOfBIds {
    margin-top: 5px;
}

.reserved-detail img {
    width: 120px;
}

.sold-detail img {
    width: 90px;
}

.equipmwnt-video-section {
    padding: 15px 0 0px;
}

.reserve-batch span {
    padding-left: 7px;
}

h1.price-on-request.price-rqst {
    display: inline-block;
    padding: 3px 15px;
    border: 1px dashed #fd3e45;
    border-radius: 4px;
    background: #fff6f7;
    color: #e0454a;
    margin-top: 5px;
    margin-bottom: 10px;
}

.pdp-sticker {
    position: absolute;
    z-index: 999;
    top: 20px;
    left: -2px;
}

@media (max-width:991px) {
    .eqpmt-name {
        margin-top: 15px;
        font-size: 26px;
    }
    .breadcrumb-container {
        display: none;
    }
    .timer {
        margin-bottom: 20px;
    }
    .timer .mat-form-field {
        margin-bottom: 10px;
    }
    .deail-table ul li {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .detail-table ul li span {
        font-size: 12px;
        flex: 1 1 50%;
        width: 50%;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }
}

.product-detail-accordian {
    margin-top: 1em;
    padding: 0px 0px;
}

@media (max-width: 768px) {
    .preview-bx {
        min-height: 350px;
    }
    .eqmnt-catgry {
        font-size: 14px;
    }
    .state-city-offers {
        padding: 10px 0px;
    }
    .deail-table ul li {
        padding: 5px 12px;
    }
    .recent-view-section {
        padding: 0px 15px;
    }
    .recent-view-section .product-detail-container {
        padding: 0px 10px !important;
        margin: 0px 10px;
    }
    ngx-light-carousel article {
        padding: 0px 10px;
    }
    .product-wrap {
        width: 100%;
    }
    .product-detail-container {
        padding: 0px 0px;
    }
    /* .product-summery h3 {font-size: 18px;} */
    .recent-view-container {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    .main-wrapper {
        padding: 5px 0px 1px;
    }
    .product-detail-container .pdp-card {
        margin: 10px;
        padding: 10px !important;
    }
    .eqpmt-name {
        font-size: 18px;
        height: auto;
    }
    .bid-place-btn {
        margin-top: 15px;
        margin-right: 0px !important;
    }
    .asset-id-location .eqmnt-catgry {
        display: block;
        max-width: 100% !important;
    }
    .equiment-detail-box .categ-name {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    .equiment-detail-box .bran-name {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        border-left: 1px solid #c6cbce;
        padding-left: 10px;
    }
    .equiment-detail-box .bran-name .eqmnt-catgry-lbel,
    .equiment-detail-box .categ-name .eqmnt-catgry-lbel {
        white-space: nowrap;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .eqmnt-catgry .eqmnt-catgry-txt {
        display: block;
        line-height: normal;
        margin-bottom: 0px;
        font-size: 13px;
    }
    .asset-id-location .location-asset-location {
        max-width: 100% !important;
    }
    .brand-name {
        padding: 0px !important;
        border: 0px !important;
    }
    /* .product-feature ul li {
        max-width: 100%;
        flex: 1 1 100%;
    } */
    .equipment-video-detail .carousel {
        width: 100%;
    }
    .equipment-video-detail video {
        width: 100%;
        height: 180px;
    }
    .product-detail-container .video-container {
        margin: 10px;
        padding: 10px !important;
    }
}

.header-detail {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 15px;
}

.last-date-payment {
    font-size: 12px;
    color: #e4181e;
    line-height: 40px;
}


/* .specs-value-txt {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
} */


/* .price {

  margin-top: 0.5rem;
} */

.countdown-box label {
    margin-bottom: 5px;
    font-weight: 600;
}


/* .countdown-box .colling-period-timer {
  padding: 8px 10px;
    border: 1px dashed #7d96c3;
    border-radius: 4px;
    background: #eff5ff;
    width: 200px;
} */

.countdown-box .colling-period-timer label {
    font-weight: normal;
}

.colling-period-timer span {
    display: inline-block;
    width: 72px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0D4FA3;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 5px;
}

.colling-period-timer .time-day,
.colling-period-timer .time-hour,
.colling-period-timer .time-minuts,
.colling-period-timer .time-second {
    width: 80px;
}

@media (max-width: 767px) {
    .deail-table ul li span {
        font-size: 12px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
    div#payment .card-body {
        padding: 0px;
    }
    .equipmwnt-video-section {
        padding: 0px 0 0px;
    }
    .equiment-detail-box {
        background: #eff2f4;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #d6dde2;
        margin-bottom: 10px;
    }
    .deail-table ul li.grey.extra-li {
        display: none;
    }
    .bid-place-btn {
        flex: none;
        width: 50%;
    }
    .btn-details {
        flex: 1 1 50%;
    }
    .bid-place-btn {
        flex: 1 1 50% !important;
        justify-content: center;
        align-items: center;
        margin: 1em auto 0 !important;
    }
    .col-sm-6.buttons-revice button {
        border-radius: 0px !important;
    }
    .btn-details .bid-place-btn {
        width: 100%;
    }
    .btn-details button {
        width: 100%
    }
    .buttons-revice {
        padding: 0px;
        position: fixed;
        bottom: 0px;
        z-index: 9;
        left: 0px;
        right: 0px;
        width: 100%;
        flex: 1 1 100%;
        max-width: 100%;
    }
    .eqmnt-catgry span {
        color: #001229;
        margin-bottom: 0px;
        font-size: 12px!important;
        white-space: normal !important;
        word-break: break-word;
    }
    .eqmnt-catgry[_ngcontent-smt-c22] .eqmnt-catgry-txt[_ngcontent-smt-c22] {
        font-size: 12px!important;
    }
    .bid-place-btn {
        flex: 1 1 40%;
        margin-right: 0em;
    }
    div#basic .card-body,
    div#technical .card-body,
    #payment .card-body {
        padding: 0.5em;
    }
    div#technical ul li:nth-child(even),
    div#basic ul li:nth-child(even) {
        background-color: #fff !important;
    }
    div#technical ul li:nth-child(odd),
    div#basic ul li:nth-child(odd) {
        background-color: #f8fbfd!important;
    }
    .recent-view-container h2 {
        padding-top: 15px !important;
    }
    .eqmnt-catgry .brand-name {
        display: block;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .specs-value {
        width: 65%;
    }
    .asset-id-location {
        display: flex;
        justify-content: space-between;
        align-items: normal;
        font-weight: 500;
        flex-wrap: wrap;
    }
    .asset-id-location .eqmnt-catgry {
        max-width: 50%;
        flex: 1 1 50%;
        line-height: 26px;
        border-right: none !important;
    }
    .eqmnt-catgry img {
        margin-right: 10px;
    }
}

.product-feature ul li:last-child {
    margin-right: 0px;
}

gallery-core[imageSize=contain] gallery-slider .g-image-item {
    background-size: contain !important;
}

.asset-id-location .eqmnt-catgry {
    margin: 0px;
    padding: 0.5em;
    border-right: 1px solid #b0b6d8;
    margin-right: 0.5em;
}

.asset-id-location {
    display: flex;
    justify-content: normal;
    align-items: normal;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px #d2dce6;
    background: #fff;
    margin: 0px 0px 10px;
}

.brand-name {
    padding-left: 5px;
    border-left: 1px solid #c6ced4;
}

.asset-id-location span.brand-name {
    margin: 0px;
}

.asset-id-location .eqmnt-catgry {
    margin: 0px;
    box-shadow: none;
    padding: 0px;
    /* white-space: nowrap; */
    width: 100%;
    border-radius: 0px;
    /* overflow: hidden;
  text-overflow: ellipsis; */
}


/* Tooltip css starts */

.info-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #bb7b0c;
    margin-left: 7px;
    font-style: italic;
    border: 1px solid #bb7b0c;
    border-radius: 50%;
    padding: 2px 6px;
    width: 18px;
    height: 18px;
    line-height: 14px;
    font-weight: 600;
}

.info-tooltip .info-tooltip-text {
    visibility: hidden;
    font-weight: normal;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
}

.info-tooltip .info-tooltip-top {
    width: 160px;
    bottom: 148%;
    left: 50%;
    margin-left: -60px;
}

.info-tooltip .info-tooltip-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 38%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.info-tooltip:hover {
    cursor: pointer;
}

.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
    cursor: pointer;
}


/* Tooltip css ends */

img.total-bids {
    width: 20px;
}

.buttons-revice {
    display: flex;
}

.default-btn,
.default-btn-outline {
    min-width: inherit !important;
}

.bid-place-btn {
    flex: 1 1 40%;
}

@media (max-width: 576px) {
    .product-feature ul li {
        background: #094fa3!important;
        border: 1px solid #094fa3!important;
        box-shadow: 0 1px 3px #d2dce6;
        color: #fff;
        max-width: 32% !important;
        flex: 1 1 33% !important;
        margin: 0px 5px 0px 0px !important;
    }
    .product-feature ul li img {
        display: none;
    }
    .specs-value {
        width: 100%;
    }
    .specs-value .specs-value-txt {
        color: #ffffff;
        /* width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
    }
    .asset-id-location {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        background: #eff2f4;
        box-shadow: none;
    }
    .eqmnt-catgry .eqmnt-catgry-txt {
        /* text-overflow: ellipsis; */
        /* overflow: hidden; */
        padding: 0px;
    }
    .asset-id-location .eqmnt-catgry:first-child {
        width: 30%;
    }
    .asset-id-location .eqmnt-catgry:last-child {
        margin: 0px;
    }
    .asset-id-location .eqmnt-catgry {
        padding: 5px 10px;
        border-radius: 6px;
        box-shadow: 0 1px 3px #d2dce6;
        background: #fff;
        margin: 0px 5px 0px 0px;
        width: 33%;
        line-height: 20px;
        flex: none;
    }
    .product-feature ul li:last-child {
        margin-right: 0px !important;
    }
}

.bid-place-btn.ng-star-inserted {
    margin-right: 15px;
}

.product-feature ul li {
    background: #fafafa;
    border: 1px solid #cad1d6;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0px 0px 3px 2px #e9e9e9;
    align-items: start;
}

.listdateimg span {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    color: #fff;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}

.listing-date-details {
    margin-bottom: 8px;
}

.listdateimg {
    position: relative;
    width: 110px;
    height: 30PX;
    border-radius: 60px;
    text-align: center;
    display: block;
    margin-right: 5px;
    display: inline-block;
}

.listdateimg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.asset-id-location .eqmnt-catgry {
    max-width: inherit!important;
    flex: 1 1 33%;
    line-height: 21px;
}