<div class="main-wrapper">
    <div class="product-detail-container">
        <div class="bg-fff p-3 pdp-card">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/used-equipment-dashboard/dashboard']">Used
                                    Equipment</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Used Equipment Detail</li>
                        </ol>
                    </div>
                </div>
                <div class="col-12 col-sm-6 text-right mb-2" *ngIf="isPreview">
                    <button class="default-btn-outline mr-3" (click)='backToPrevious()' mat-button>Back</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="preview-bx">
                        <div class="listing-date-details"
                            *ngIf="equipmentDetails?.status != 3 && equipmentDetails?.status != 5 && equipmentDetails?.certificate_obj && equipmentDetails?.certificate_obj.length">
                            <div class="listdateimg" *ngFor="let certi of equipmentDetails?.certificate_obj">
                                <img
                                    [src]="certi?.certificate_logo_image">
                                <span>{{certi?.name}}</span>
                            </div>
                        </div>
                        <div class="save2wl" *ngIf="this.cognitoId">
                            <img *ngIf="!equipmentDetails?.is_watchlist" src="../../../assets/images/heart-wishlist.svg"
                                (click)="addToWishlist(equipmentDetails?.id)" alt="">
                            <img *ngIf="equipmentDetails?.is_watchlist"
                                src="../../../assets/images/heart-wishlist-active.png"
                                (click)="removeFromWatchlist(equipmentDetails?.id)" alt="">
                        </div>
                        <span *ngIf="equipmentDetails?.status == 3" class="reserved-detail pdp-sticker">
                            <img src="../../../assets/images/reserved-badge.png" alt="">
                        </span>
                        <span *ngIf="equipmentDetails?.status == 5" class="sold-detail pdp-sticker">
                            <img src="../../../assets/images/sold-badge.png" alt="">
                        </span>
                        <gallery id="basic-test" gallerize fluid [items]="visualImageData"
                            *ngIf="visualImageData?.length">
                        </gallery>
                    </div>

                </div>
                <div class="col-md-12 col-lg-6">
                    <h1 class="eqpmt-name">
                        <span *ngIf="equipmentDetails?.product_name">{{equipmentDetails?.product_name}}</span>
                        <span *ngIf="!equipmentDetails?.product_name">{{equipmentDetails?.model?.name == 'Other' ?
                            equipmentDetails?.other_model : equipmentDetails?.model?.name }}</span>
                    </h1>

                    <div class="equiment-detail-box">
                        <div class="eqmnt-catgry" *ngIf="equipmentDetails?.product_name">
                            <div class="categ-name">
                                <span class="eqmnt-catgry-txt">Category :</span>
                                <span class="eqmnt-catgry-lbel"> {{equipmentDetails?.category?.name == 'Other' ?
                                    equipmentDetails?.other_category : equipmentDetails?.category?.display_name}}
                                </span>
                            </div>
                            <div class="bran-name">
                                <span class="brand-name eqmnt-catgry-txt">Brand :</span>
                                <span class="eqmnt-catgry-lbel">
                                    {{equipmentDetails?.brand.name == 'Other' ?
                                    equipmentDetails?.other_brand :
                                    equipmentDetails?.brand.display_name}}
                                </span>
                            </div>
                        </div>

                        <div class="asset-id-location mb-0">
                            <div class="eqmnt-catgry location-asset-id border-0">
                                <span class="eqmnt-catgry-txt">Asset ID :</span>
                                <span class="eqmnt-catgry-lbel">{{equipmentDetails?.id}}</span>
                            </div>
                            <div class="eqmnt-catgry location-asset-location border-0">
                                <span class="brand-name eqmnt-catgry-txt">Location :</span>
                                <span class="eqmnt-catgry-lbel">
                                    {{equipmentDetails?.pin_code?.city?.name ? equipmentDetails?.pin_code?.city?.name :
                                    "NA"}}
                                </span>
                            </div>
                            <div class="eqmnt-catgry mr-0 border-0">
                                <span class="brand-name eqmnt-catgry-txt">Manufactured In :</span>
                                <span class="eqmnt-catgry-lbel"> {{equipmentDetails?.mfg_year}}</span>
                            </div>
                        </div>


                        <div class="product-feature">
                            <!-- <ul *ngIf="equipmentDetails?.tech_fields && equipmentDetails?.tech_fields?.length > 0">
                            <ng-container *ngFor="let tech of equipmentDetails?.tech_fields; let i = index">
                                <li *ngIf="3 > i">
                                    <img src="../../../assets/images/milling-machine.svg" alt=""
                                        class="tech-img mr-2 mt-1">

                                    <div class="specs-value">
                                        <div class="specs-value-txt"><strong
                                                [innerHTML]="getTechTitle(tech?.field_name,fields?.field_unit)"></strong>
                                        </div>
                                        <p class="specs-value-title">{{tech?.field_value}} </p>
                                    </div>

                                </li>
                            </ng-container>
                        </ul> -->
                            <ul class="vehicle-cap-dtl product-detail" *ngIf="equipmentDetails?.tech_fields?.length >0">

                                <li *ngFor='let fields of equipmentDetails?.tech_fields | slice:0:3'>
                                    <img src="../../../assets/images/milling-machine.svg" alt=""
                                        class="tech-img mr-2 mt-1">
                                    <div class="specs-value">
                                        <div *ngIf='fields.visible_on_front'>

                                        </div>

                                        <div class="specs-value-txt">{{fields?.field_name}}</div>
                                        <div class="specs-value-title">{{fields?.field_value}} {{(tech?.field_unit)}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul *ngIf="equipmentDetails?.tech_fields?.length ==0">
                                <li *ngIf="equipmentDetails?.engine_power">
                                    <img src="../../../assets/images/milling-machine.svg" alt=""
                                        class="tech-img mr-2 mt-1">
                                    <div class="specs-value">
                                        <div class="specs-value-txt"><strong>Engine<br>Power </strong></div>
                                        <p class="specs-value-title">{{equipmentDetails?.engine_power}} cc</p>
                                    </div>
                                </li>
                                <li *ngIf="equipmentDetails?.bucket_capacity">
                                    <img src="../../../assets/images/milling-machine.svg" alt=""
                                        class="tech-img mr-2 mt-1">
                                    <div class="specs-value">
                                        <div class="specs-value-txt"><strong>Bucket<br>Capacity </strong></div>
                                        <p class="specs-value-title">{{equipmentDetails?.bucket_capacity}} kg</p>
                                    </div>
                                </li>
                                <li *ngIf="equipmentDetails?.gross_Weight">
                                    <img src="../../../assets/images/milling-machine.svg" alt=""
                                        class="tech-img mr-2 mt-1">
                                    <div class="specs-value">
                                        <div class="specs-value-txt"><strong>Gross<br>Weight </strong></div>
                                        <p class="specs-value-title">{{equipmentDetails?.gross_Weight}} kg</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btns-bx" *ngIf="documentArray?.length">
                        <ul>
                            <li *ngFor="let doc of documentArray">
                                <a href="{{doc.docUrl}}">
                                    <img src="../../../assets/images/download-icn.svg" alt="">
                                    <span>{{doc?.docName}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row price-detail">
                        <div class="col-sm-6">
                            <h4 [ngClass]="{'price-rqst' : equipmentDetails?.is_price_on_request,  'price' : !equipmentDetails?.is_price_on_request}"
                                *ngIf="!equipmentDetails?.is_coming_soon">
                                <span *ngIf="!equipmentDetails?.is_price_on_request" class="align-middle">&#8377;</span>
                                <span class="price-rqst" *ngIf="equipmentDetails?.is_price_on_request"> Price on
                                    request</span>
                                <!-- <span
                                    *ngIf="!equipmentDetails?.is_price_on_request && !equipmentDetails?.is_insta_sale">
                                    ******</span> -->
                                <span *ngIf="equipmentDetails?.is_insta_sale">
                                    {{equipmentDetails?.selling_price}}</span>
                                <span *ngIf="equipmentDetails?.status == 3" matTooltip="Reserved"
                                    class="reserve-batch">Reserved<span>
                                        <div class="info-tooltip">i
                                            <span class="info-tooltip-text info-tooltip-top">An asset becomes reserved
                                                by paying an advance amount</span>
                                        </div>
                                    </span>
                                </span>
                            </h4>
                        </div>
                        <div class="col-sm-6" *ngIf="equipmentDetails?.is_online_bidding">
                            <div class=" noOfBIds">
                                <h4><img class="total-bids" src="../../../assets/images/auction.png">
                                    {{equipmentDetails?.status == 5 ? equipmentDetails?.no_of_bids :
                                    equipmentDetails?.no_of_active_bids}}
                                </h4>
                            </div>
                        </div>

                    </div>

                    <div class="row"
                        *ngIf="!isPreview && equipmentDetails?.is_coming_soon && (equipmentDetails?.status == 2)">
                        <div class="col-sm-7">
                            <h4>Coming Soon</h4>
                        </div>
                        <div class="col-sm-5" *ngIf="!isSameUser">
                            <div class="buy-now-btn">
                                <button class="default-btn w-100" mat-button (click)="notifyMe()"
                                    [disabled]="equipmentDetails?.requested_for_notify || disabledNotify">Notify
                                    Me</button>
                            </div>
                        </div>
                    </div>

                    <div class="row"
                        *ngIf="!isPreview && equipmentDetails?.is_insta_sale && !isSameUser && !equipmentDetails?.is_coming_soon && (equipmentDetails?.status == 2)">
                        <div class="col-sm-6 col-12 mr-auto text-left">
                            <div class="buy-now-btn">
                                <button class="default-btn w-100" mat-button (click)="buyNow()">Buy Now</button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <h6 *ngIf="!isPreview && equipmentDetails?.is_insta_sale" class="last-date-payment">Last
                                date of Payment: {{equipmentDetails?.last_date_insta_payment | date:'dd-MM-yyyy'}}</h6>
                        </div>
                        <div class="col-sm-6 col-12">
                            <h6 *ngIf="!isPreview && equipmentDetails?.is_online_bidding" class="last-date-payment">Last
                                date of Payment: {{equipmentDetails?.last_date_bid_payment | date:'dd-MM-yyyy'}}</h6>
                        </div>
                    </div>

                    <div class="row mt-3" *ngIf="!isPreview && equipmentDetails?.is_online_bidding && !isSameUser 
                        && !equipmentDetails?.is_coming_soon && (equipmentDetails?.status == 2)">
                        <div class="col-sm-6">
                            <mat-form-field floatLabel="never">
                                <input placeholder="" type="text" autocomplete="off" matInput [(ngModel)]='placeBid'
                                    #placeBidInput="ngModel" pattern="^[0-9]*$" maxlength="8" />
                            </mat-form-field>
                            <div *ngIf="placeBidInput?.errors">
                                <span class="validation-err d-block" *ngIf="placeBidInput?.errors?.pattern">
                                    Characters are not allowed
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6" *ngIf="(!tradeBidData) || (tradeBidData && !tradeBidData.length)">
                            <div class="bid-place-btn">
                                <button class="default-btn-outline btn-block mr-3" (click)='placeBidFn()'
                                    [disabled]="placeBidInput.invalid" mat-button>Place Bid</button>
                            </div>
                        </div>

                        <div class="col-sm-6 buttons-revice">
                            <div class="bid-place-btn" *ngIf="tradeBidData && tradeBidData.length > 0">
                                <button class="default-btn-outline btn-block mr-3" (click)='modifyBid()'
                                    [disabled]="placeBidInput.invalid" mat-button>Revise Bid</button>
                            </div>

                            <div class="btn-details"
                                *ngIf="!isPreview && equipmentDetails?.is_online_bidding && !isSameUser && !equipmentDetails?.is_coming_soon && (equipmentDetails?.status == 2)">
                                <div class="" *ngIf="tradeBidData && tradeBidData.length > 0">
                                    <div class="bid-place-btn">
                                        <button class="default-btn plr-md-40" (click)="bidWithdraw()"
                                            mat-button>Withdraw Bid</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="equipmentDetails?.is_cooling_period && (equipmentDetails?.status == 2)">
                        <div class="col-sm-12">
                            <div class="countdown-box mt-3"
                                *ngIf="getTimeLeft(equipmentDetails?.cooling_period_end_time) as elapsed">
                                <label>Countdown Start</label>
                                <div class="colling-period-timer">
                                    <span>{{elapsed.days + 'D'}}</span> : <span>{{elapsed.hours + 'H'}} : </span>
                                    <span>{{elapsed.minutes + 'M'}}</span> : <span>{{elapsed.seconds + 'S'}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="equipmwnt-video-section" *ngIf="visualVideoData?.length">
        <div class="product-detail-container">
            <div class="video-container bg-fff p-3 pt-3">
                <div class="equipment-video-detail">
                    <h2 class="text-left">Equipment Video</h2>
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let video of visualVideoData">
                            <div class="picsum-img-wrapper">
                                <video controls>
                                    <source [src]="video?.url">
                                </video>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>

    <div class="equipmwnt-video-section">
        <div class="product-detail-container">
            <div class="video-container bg-fff p-3 pt-3">
                <h2 class="text-left">Equipment Details</h2>
                <div class="product-detail-accordian  mt-3">
                    <ngb-accordion [closeOthers]="true" activeIds="basic">
                        <ngb-panel id="basic">
                            <ng-template ngbPanelTitle>
                                Basic Information
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="deail-table">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span><strong>Asset Id</strong></span>
                                            <span>{{equipmentDetails?.id}}</span>
                                        </li>
                                        <li>
                                            <span><strong>Brand/Model</strong></span>
                                            <span>{{equipmentDetails?.brand?.display_name}} /
                                                {{equipmentDetails?.model?.name}}</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Category</strong></span>
                                            <span>{{equipmentDetails?.category?.display_name}}</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Manufacturing Year</strong></span>
                                            <span>{{equipmentDetails?.mfg_year}}</span>
                                        </li>
                                        <li>
                                            <span><strong>Price (Excl. Tax.)</strong></span>
                                            <span><a *ngIf="!equipmentDetails?.is_price_on_request">&#8377;</a>
                                                {{getPrice(equipmentDetails)}}</span>
                                        </li>
                                        <li>
                                            <span><strong>Location</strong></span>
                                            <span>{{equipmentDetails?.pin_code?.city?.name}},
                                                {{equipmentDetails?.pin_code?.city?.state?.name}},
                                                {{equipmentDetails?.pin_code?.city?.state?.country?.name}}</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Availability of Original Invoice</strong></span>
                                            <span>{{equipmentDetails?.is_original_invoice ? 'Yes' : 'NO'}}</span>
                                        </li>
                                        <li class="grey extra-li"></li>
                                    </ul>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="technical">
                            <ng-template ngbPanelTitle>
                                Technical Information
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="deail-table">
                                    <ul class="list-unstyled">
                                        <li *ngFor="let tech of equipmentDetails?.tech_fields">
                                            <span><strong>{{tech?.field_name}}</strong></span>
                                            <span>{{tech?.field_value}} {{tech?.field_unit}}</span>
                                        </li>
                                        <li>
                                            <span><strong>Engine Power </strong></span>
                                            <span>{{equipmentDetails?.engine_power}} cc</span>
                                        </li>
                                        <li>
                                            <span><strong>Gross Weight </strong></span>
                                            <span>{{equipmentDetails?.gross_Weight}} kg</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Operating Weight </strong></span>
                                            <span>{{equipmentDetails?.operating_weight}} kg</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Bucket Capacity </strong></span>
                                            <span>{{equipmentDetails?.bucket_capacity}} kg</span>
                                        </li>
                                        <li>
                                            <span><strong>Lifting Capacity </strong></span>
                                            <span>{{equipmentDetails?.lifting_capacity}} kg</span>
                                        </li>
                                        <li>
                                            <span><strong>Motor Operating Hours</strong></span>
                                            <span>{{equipmentDetails?.motor_operating_hours}}</span>
                                        </li>
                                        <li class="grey">
                                            <span><strong>Fuel Type</strong></span>
                                            <span>{{getEquipmentFuelType(equipmentDetails?.fuel_type)}}</span>
                                        </li>
                                        <li class="grey extra-li"></li>
                                    </ul>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="payment">
                            <ng-template ngbPanelTitle>
                                Payment Terms &amp; Conditions
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <h5>To Buy:</h5>
                                <ul>
                                    <li>Buyer must make full payment within the stipulated time period as communicated
                                        by the facilitator.</li>
                                    <li>In case the buyer fails to deposit the sale consideration within the stipulated
                                        time frame, the Security Deposit would stand forfeited and offer as null and
                                        void.
                                    </li>
                                    <li>Payment can be made online through iQuippo payment gateway or directly into the
                                        bank account through cheque, DD, RTGS or NetBanking.</li>
                                </ul>
                                <div class="bankDetails pl-3">
                                    <table class="table">
                                        <tr>
                                            <td>Bank Name:</td>
                                            <td>AXIS BANK LIMITED</td>
                                        </tr>
                                        <tr>
                                            <td>Branch Name:</td>
                                            <td>ELECTRONIC COMPLEX,SALT LAKE,SECTOR-V</td>
                                        </tr>
                                        <tr>
                                            <td>Account Number:</td>
                                            <td>917020058796837</td>
                                        </tr>
                                        <tr>
                                            <td>Account Holder Name:</td>
                                            <td>IQUIPPO SERVICES LIMITED</td>
                                        </tr>
                                        <tr>
                                            <td>IFSC Code:</td>
                                            <td>UTIB0000319</td>
                                        </tr>
                                    </table>
                                </div>
                                <ul class="mt-2">
                                    <li>Listed Price inclusive of GST and Parking & Upkeep Charges.</li>
                                    <li>TCS over and above the offer amount.</li>
                                </ul>

                                <h5 class="mt-3">To Bid:</h5>
                                <ul>
                                    <li>In case the asset is listed in auction, bidder needs to agree to the terms &
                                        conditions, and deposit an EMD for the offer to be considered as a proxy bid.
                                    </li>
                                    <li>In case the bid is approved in the auction, the buyer needs to deposit the
                                        consideration price as per the terms and conditions of the auction. Failure to
                                        do so will result in forfeiture of EMD.</li>
                                    <li>Payment can be made online through iQuippo payment gateway or directly into the
                                        bank account through cheque, DD, RTGS or NetBanking.</li>
                                    <li>Offer to be made inclusive of GST.</li>
                                    <li>TCS and Parking &amp; Upkeep Charges as applicable and payable by the buyer over
                                        and above the offer amount.</li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>


    <div class="recent-view-section" *ngIf="!isPreview && recentlyViewedList?.length > 0">
        <div class="product-detail-container bg-fff">
            <div class="recent-view-container">
                <h2>Recently Viewed</h2>
                <owl-carousel [options]="recentViewSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                    <section class="content" *ngFor="let product of recentlyViewedList;let i = index;">
                        <article class="product-item cursor-pointer">
                            <div class="product-wrap">
                                <div class="product-image">
                                    <img class="w-100" [src]="product?.used_equipment?.primary_image">
                                </div>
                                <div class="product-summery">
                                    <h3 class="product-title" *ngIf="product?.used_equipment?.product_name">
                                        {{product?.used_equipment?.product_name}}</h3>
                                    <h3 class="product-title" *ngIf="!product?.used_equipment?.product_name">
                                        {{product?.used_equipment?.category?.display_name + ' '
                                        +product?.used_equipment?.brand?.display_name+ ' '
                                        +product?.used_equipment?.model?.name+ ' ' + product?.used_equipment?.mfg_year}}
                                    </h3>
                                    <p class="price mb-1" *ngIf="!product?.used_equipment?.is_price_on_request">
                                        ₹ {{product?.used_equipment?.selling_price}}</p>
                                    <p class="price-rqst mb-1" *ngIf="product?.used_equipment?.is_price_on_request">
                                        Price on Request</p>
                                    <ul class="vehicle-cap-dtl" *ngIf="!product?.used_equipment?.tech_fields?.length">

                                        <li *ngIf="product?.used_equipment?.engine_power">
                                            <p>Engine Power</p>
                                            <p>{{product?.used_equipment?.bucket_capacity}} cc</p>
                                        </li>
                                        <li *ngIf="product?.used_equipment?.bucket_capacity">
                                            <p>Bucket Capacity </p>
                                            <p>{{product?.used_equipment?.bucket_capacity}} kg</p>
                                        </li>
                                        <li *ngIf="product?.used_equipment?.operating_weight">
                                            <p>Operating Weight </p>
                                            <p>{{product?.used_equipment?.operating_weight}} kg</p>
                                        </li>
                                    </ul>
                                    <ul class="vehicle-cap-dtl product-detail"
                                        *ngIf="product?.used_equipment?.tech_fields?.length >0">

                                        <li *ngFor='let fields of product?.used_equipment?.tech_fields | slice:0:3'>
                                            <div *ngIf='fields.visible_on_front'>

                                            </div>
                                            <div class="product-subtitle">{{fields?.field_name}}</div>
                                            <div class="product-titlename">{{fields?.field_value}}
                                                {{(tech?.field_unit)}}</div>
                                        </li>
                                    </ul>
                                    <div class="text-center mt-4 mb-3">
                                        <button class="view-details-btn m-x-auto"
                                            [routerLink]="['/used-equipment-dashboard/equipment-details/'+product?.used_equipment?.id]"
                                            mat-button>View Details</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>

                </owl-carousel>
            </div>
        </div>
    </div>
</div>