<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/products/used-products']">Products</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Used Products</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-3 col-md-12">
                <h3 class="admin-page-title">Used Products</h3>
            </div>
            <div class="col-lg-9 text-right" *ngIf="isEdit">
                <div class="save-btn">
                    <span class="mr-2" *ngIf="this.editableRowData != null"><b>Asset Id:</b> {{this.editableRowData.id}}</span>
                    <span class="mr-2"><b>Service Type: </b>
                    <span *ngIf="this.editableRowData.is_sell == true">Portal Sale</span>
                    <span *ngIf="this.editableRowData.is_sell == true && (this.editableRowData.is_auction == true || this.editableRowData.is_valuation == true)">, </span>
                    <span *ngIf="this.editableRowData.is_auction == true">Auction</span>
                    <span *ngIf="this.editableRowData.is_auction == true && this.editableRowData.is_valuation == true">, </span>
                    <span *ngIf="this.editableRowData.is_valuation == true">Valuation</span>
                    <span *ngIf="this.editableRowData.is_loa_generated == true">( LOA Generated )</span>
                </span>
                    <span *ngIf="this.editableRowData != null" class="status-asset"><b>Status:</b>
                        {{getStatus(this.editableRowData.status)}}</span>
                    <!-- <button mat-button class="default-btn" type="button" *ngIf = "isEdit" (click)="backToList(); Close()">Cancel</button>-->
                    <button mat-button class="default-btn"
                        *ngIf="isEdit && !isApproved && this.editableRowData.status != 5 && (this.editableRowData?.is_sell == true || this.editableRowData?.is_auction == true)" type="button"
                        (click)="approve()">Approve</button>
                    <button mat-button class="default-btn-outline"
                        *ngIf="isEdit && !isApproved && this.editableRowData.status != 5 && (this.editableRowData?.is_sell == true || this.editableRowData?.is_auction == true)" type="button"
                        (click)="reject()">Reject</button>
                    <!-- <button mat-button class="default-btn" type="submit" *ngIf = "isEdit && !isApproved" [disabled] = "isApproved" (click)="next()">Update</button> -->
                    <!-- <button mat-button class="default-btn" type="submit" *ngIf = "!isEdit" (click)="next()">Save & Continue</button>-->
                </div>
            </div>
        </div>

        <form [formGroup]="basicDetailsForm">
            <section class="used-upload-section upload-sub-section">
                <h3 class="title">Seller information</h3>
                <div class="sub-section-field">
                    <div class="row">

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="f-12 d-block">Seller Type</label>
                            <mat-select placeholder="Customer" [(ngModel)]="sellerTypeValue"
                                (selectionChange)="sellerTypeSelect(sellerTypeValue)" formControlName="seller_type">
                                <mat-option *ngFor="let type of sellerTypeArray" [value]="type.value">
                                    {{ type.typeName }}
                                </mat-option>
                            </mat-select>
                            <div
                                *ngIf="(basicDetailsForm.get('seller_type')?.touched || submitted) && basicDetailsForm?.get('seller_type')?.hasError('required')">
                                <span class="validation-err">Please select seller type</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for=""> Mobile number<span
                                    class="required">*</span></label>
                            <!-- <mat-form-field floatLabel="never" matAutocompleteOrigin>
                            <input matInput [matAutocomplete]="auto1" placeholder="Enter Name" type="text" 
                            (keyup)="searchSeller($event.target.value)" formControlName='name' maxlength="256">
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller.cognito_id)" [value]="seller.first_name">
                                    {{seller.first_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->
                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput #autoCompleteInput [matAutocomplete]="autoTest"
                                    #trigger="matAutocompleteTrigger" placeholder="Search seller by mobile number"
                                    (keyup)="keyPress($event)" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                    (keyup.enter)="keyPress($event);trigger.openPanel()" type="text" maxlength="10"
                                    formControlName='mobile'>
                                <mat-autocomplete #autoTest="matAutocomplete">
                                    <mat-option *ngFor="let seller of sellerList"
                                        (onSelectionChange)="onSellerSelect(seller.mobile_number)"
                                        [value]="seller.first_name">
                                        {{seller.first_name}} ({{seller.mobile_number}})</mat-option>
                                    <!-- <mat-option *ngIf="sellerList?.length == 0" value="">No such user exists with valid
                                    Agreement</mat-option> -->
                                </mat-autocomplete>
                            </mat-form-field>

                            <div
                                *ngIf="(basicDetailsForm.get('mobile')?.touched || submitted) && basicDetailsForm?.get('mobile')?.hasError('required')">
                                <span class="validation-err">Please enter the mobile number</span>
                            </div>
                            <div *ngIf="(basicDetailsForm.get('mobile')?.touched) && this.isMobileInvalid">
                                <span class="validation-err">Please enter valid mobile number.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">ISD Code</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter ISD Code" type="text" formControlName='isd_code'
                                    readonly>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('isd_code')?.touched || submitted) && basicDetailsForm?.get('isd_code')?.hasError('required')">
                                <span class="validation-err">Please enter the ISD code.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for=""> Name</label>
                            <!-- <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Mobile Number" type="text" formControlName='mobile' readonly>
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('mobile')?.touched || submitted) && basicDetailsForm?.get('mobile')?.hasError('required')">
                            <span class="validation-err">Please enter the mobile.</span>
                        </div> -->

                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Name" type="text" formControlName='name' readonly>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('name')?.touched || submitted) && basicDetailsForm?.get('name')?.hasError('required')">
                                <span class="validation-err">Please enter the name.</span>
                            </div>

                            <!-- <div
                            *ngIf="(basicDetailsForm.get('mobile')?.touched || submitted) && (basicDetailsForm?.get('mobile')?.hasError('minlength') || basicDetailsForm?.get('mobile')?.hasError('maxlength'))">
                            <span class="validation-err">Please enter the 10 digit mobile.</span>
                        </div> -->
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for=""> Email</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Email ID" type="text" readonly
                                    formControlName='selleremail'>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('selleremail')?.touched || submitted) && basicDetailsForm?.get('selleremail')?.hasError('required')">
                                <span class="validation-err">Please enter the seller email.</span>
                            </div>
                            <div
                                *ngIf="(basicDetailsForm.get('selleremail')?.touched || submitted) && basicDetailsForm?.get('selleremail')?.hasError('email')">
                                <span class="validation-err">Please enter the valid seller email.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for=""> Alternate Email</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Alternate Email" type="text"
                                    formControlName='alternate_email'>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('alternate_email')?.touched || submitted) && basicDetailsForm?.get('alternate_email')?.hasError('required')">
                                <span class="validation-err">Please enter the seller alternate email.</span>
                            </div>
                            <div
                                *ngIf="(basicDetailsForm.get('alternate_email')?.touched || submitted) && basicDetailsForm?.get('alternate_email')?.hasError('email')">
                                <span class="validation-err">Please enter the valid seller alternate email.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vehicle-basic-dtl used-upload-section mt-3 upload-sub-section">
                <h3 class="title">Basic Details </h3>
                <div class="sub-section-field">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Category<span class="required">*</span></label>
                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto" placeholder="Enter Category" type="text"
                                    (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                <mat-autocomplete #auto="matAutocomplete"
                                    (optionSelected)="updateValidations();onCategorySelect($event.option.value)">
                                    <mat-option *ngFor="let category of categoryList" [value]="category">
                                        {{category.name}}
                                    </mat-option>
                                    <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('category')?.touched || submitted) && basicDetailsForm?.get('category')?.hasError('required')">
                                <span class="validation-err">Please select the category.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('category')?.value == 'Other'">
                            <label for="" class="f-12 d-block">Other Category</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter other Category" autocomplete="off" type="text"
                                    formControlName="otherCategory">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('otherCategory')?.touched || submitted) && basicDetailsForm?.get('otherCategory')?.hasError('required')">
                                <span class="validation-err">Please enter the category.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Brand<span class="required">*</span></label>
                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto2" placeholder="Enter Brand" type="text"
                                    (keyup)="filterValuesBrand($event)" formControlName='brand' maxlength="256">
                                <mat-autocomplete #auto2="matAutocomplete"
                                    (optionSelected)="updateValidations();onBrandSelect($event.option.value)">
                                    <mat-option *ngIf="brandList?.length == 0" value="0">Other</mat-option>
                                    <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('brand')?.touched || submitted) && basicDetailsForm?.get('brand')?.hasError('required')">
                                <span class="validation-err">Please enter the brand.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('brand')?.value == 'Other'">
                            <label for="" class="f-12 d-block">Other Brand</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter other Brand" autocomplete="off" type="text"
                                    formControlName="otherBrand">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('otherBrand')?.touched || submitted) && basicDetailsForm?.get('otherBrand')?.hasError('required')">
                                <span class="validation-err">Please enter the brand.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Model<span class="required">*</span></label>
                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto3" placeholder="Enter Model"
                                    (keyup)="filterValuesModal($event)" type="text" formControlName='model'
                                    maxlength="256">
                                <mat-autocomplete #auto3="matAutocomplete"
                                    (optionSelected)="updateValidations();onModalSelect($event.option.value)">
                                    <mat-option *ngIf="modelList?.length == 0" value="Other">Other</mat-option>
                                    <mat-option *ngFor="let model of modelList " [value]="model">{{model.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('model')?.touched || submitted) && basicDetailsForm?.get('model')?.hasError('required')">
                                <span class="validation-err">Please select the model.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('model')?.value == 'Other'">
                            <label for="" class="f-12 d-block">Other Model</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Other model" (blur)="onOtherModelSelect()"
                                    autocomplete="off" type="text" formControlName="otherModel">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('otherModel')?.touched || submitted) && basicDetailsForm?.get('otherModel')?.hasError('required')">
                                <span class="validation-err">Please enter the model.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is your Equipment Registered?<span
                                    class="required">*</span></label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_equipment_registered">
                                <mat-radio-button [value]="1">Yes</mat-radio-button>
                                <mat-radio-button [value]="0" (click)="postVaahanDetails(0)">No
                                </mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_equipment_registered')?.touched || submitted) && basicDetailsForm?.get('is_equipment_registered')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm.get('is_equipment_registered').value =='1'">
                            <label for="" class="f-12 d-block">Registration Number <span
                                    class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="text" formControlName="registrationNumber"
                                    maxlength="25" (blur)="postVaahanDetails(1)">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('registrationNumber')?.touched && basicDetailsForm?.get('registrationNumber')?.hasError('required')">
                                <span class="validation-err">Please enter Registration Number.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Chassis No.</label>
                            <mat-form-field floatLabel="never">
                                <input matInput type="text" placeholder="Enter Chasis No."
                                    formControlName="chassisNumber" maxlength="25">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('chassisNumber')?.touched && basicDetailsForm?.get('chassisNumber')?.hasError('required')">
                                <span class="validation-err">Chassis No is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Engine No.</label>
                            <mat-form-field floatLabel="never">
                                <input matInput type="text" placeholder="Enter engine No."
                                    formControlName="engineNumber" maxlength="25">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('engineNumber')?.touched && basicDetailsForm?.get('engineNumber')?.hasError('required')">
                                <span class="validation-err">Engine No. is required.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Machine Serial No. </label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter machine seral No." type="text"
                                    formControlName="machineSerialNumber" maxlength="25">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('machineSerialNumber')?.touched && basicDetailsForm?.get('machineSerialNumber')?.hasError('required')">
                                <span class="validation-err">Machine Serial No is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Engine Power (cc) </label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="text" placeholder="Enter Engine Power"
                                    formControlName="enginePower" maxlength="10">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('enginePower')?.touched && basicDetailsForm?.get('enginePower')?.hasError('required')">
                                <span class="validation-err">Engine Power (cc) is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Gross Weight (kg)</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Gross Weight" type="text"
                                    formControlName="grossWeight" maxlength="10">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('grossWeight')?.touched && basicDetailsForm?.get('grossWeight')?.hasError('required')">
                                <span class="validation-err">Gross Weight (kg) is required.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Operating Weight (kg) </label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Operating Weight " type="text"
                                    formControlName="operationWeight" maxlength="10">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('operationWeight')?.touched && basicDetailsForm?.get('operationWeight')?.hasError('required')">
                                <span class="validation-err">Operating Weight (kg) is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Bucket Capacity (kgs) </label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Bucket Capacity" type="text"
                                    formControlName="bucketCapacity" (keyup)="onKeydownEvent($event)"  oninput="this.value=this.value.replace(/[^(10|\d)(\.\d{1,2})?$]/g,'')"  maxlength="10">
                            </mat-form-field>
                            <!-- <div
                                *ngIf="basicDetailsForm?.get('bucketCapacity')?.touched && basicDetailsForm?.get('bucketCapacity')?.hasError('required')">
                                <span class="validation-err">Bucket Capacity (kg) is required.</span>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Lifting Capacity (kg)</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Lifting Capacity" type="text"
                                    formControlName="liftingCapacity" maxlength="10">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('liftingCapacity')?.touched && basicDetailsForm?.get('liftingCapacity')?.hasError('required')">
                                <span class="validation-err">Lifting Capacity (kg) is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Fuel Type </label>
                            <mat-select aria-label="Select an option" formControlName="fuelType">
                                <mat-option value="">--Select--</mat-option>
                                <mat-option [value]="1">Diesel</mat-option>
                                <mat-option [value]="2">Petrol</mat-option>
                                <mat-option [value]="3">CNG</mat-option>
                            </mat-select>
                            <!-- <div
                                *ngIf="(basicDetailsForm.get('is_first_owned')?.touched || submitted) && basicDetailsForm?.get('is_first_owned')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Do you have RC Copy available?<span
                                    class="required">*</span></label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_rc_available">
                                <mat-radio-button value="true">Yes</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_rc_available')?.touched || submitted) && basicDetailsForm?.get('is_rc_available')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is it first owned?<span class="required">*</span></label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_first_owned">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_first_owned')?.touched || submitted) && basicDetailsForm?.get('is_first_owned')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 yofmanu">
                            <label for="" class="f-12 d-block">Year of Manufacture<span
                                    class="required">*</span></label>
                            <!-- <mat-form-field floatLabel="never" class="datepicker-input">
                            <input matInput [matDatepicker]="dp1" [(ngModel)]="mfg_year" placeholder="Enter Year of Manufacture"
                                formControlName="mfg_year" readonly [max]="todayDate">
                            <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                                <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                                (yearSelected)="chosenYearHandler($event, dp1)"> 
                            </mat-datepicker>
                        </mat-form-field> -->
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input matInput id="Date" placeholder="Enter Year of Manufacture" readonly
                                    [value]="basicDetailsForm.get('mfg_year')?.value | dateFilter: 'yyyy'">
                                <input matInput formControlName="mfg_year" [(ngModel)]="mfg_year" [matDatepicker]="dp1"
                                    class="shadow-dateInput" [max]="todayDate" />
                                <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                                    (yearSelected)="closeDatePicker(dp1,$event)">
                                </mat-datepicker>
                            </mat-form-field>

                            <div
                                *ngIf="(basicDetailsForm.get('mfg_year')?.touched || submitted) && basicDetailsForm?.get('mfg_year')?.hasError('required')">
                                <span class="validation-err">Please enter the year of Manufacture.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Customer Reference Number</label>
                            <mat-form-field floatLabel="never">
                                <input matInput maxlength="15" placeholder="Enter Customer Reference Number" type="text"
                                    formControlName="customer_reference_number">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Pincode<span class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input (keyup)="getLocationData()" matInput placeholder="Enter Pincode" type="text"
                                    formControlName="location" maxlength="6">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('location')?.touched || submitted) && basicDetailsForm?.get('location')?.hasError('required') && stateList?.length == 0">
                                <span class="validation-err">Please enter the Pincode.</span>
                            </div>
                            <div
                                *ngIf="basicDetailsForm?.get('location')?.touched && basicDetailsForm?.get('location')?.hasError('required') && (stateList?.length == 0 || validatePincode())">
                                <span class="validation-err">Please enter valid pincode.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Address<span class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Address" type="text" formControlName="asset_address">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('asset_address')?.touched || submitted) && basicDetailsForm?.get('asset_address')?.hasError('required')">
                                <span class="validation-err">Please enter the Address.</span>
                            </div>
                        </div>

                        <!-- <div class="col-md-4 mb-3">
                        <label class="form-label f-12 d-block" for="">Relationship Manager</label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter RM Name" type="text" formControlName="RMName">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('RMName')?.touched || submitted) && basicDetailsForm?.get('RMName')?.hasError('required')">
                            <span class="validation-err">Please enter the Customer Reference Number.</span>
                        </div>
                    </div> -->
                        <!-- <div class="col-md-4 mb-3">
                        <label class="form-label f-12 d-block" for="">Trade Type</label>
                        Sell
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label f-12 d-block" for="">Product Name</label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Product Name" type="text" disabled
                                formControlName="Prdoduct_name">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('Prdoduct_name')?.touched || submitted) && basicDetailsForm?.get('Prdoduct_name')?.hasError('required')">
                            <span class="validation-err">Please enter the Address.</span>
                        </div>
                    </div> -->
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Alternate Contact Number</label>
                            <div class="row">
                                <div class="col-4 p-r-0">
                                    <mat-select class="ptb-5 card-select payment-card-slct" value="+91"
                                        formControlName="country">
                                        <mat-select-trigger>
                                            <div class="d-block">
                                                <img src="../../../assets/images/indflag.png" class="saved-card-icn"
                                                    alt="">
                                                <div class="prefix-number">
                                                    <p class="mb-0 f-16 ln-20">+91</p>
                                                </div>
                                            </div>
                                        </mat-select-trigger>
                                        <mat-option value="+91">
                                            <div class="d-block">
                                                <img src="../../../assets/images/indflag.png" class="saved-card-icn"
                                                    alt="">
                                                <div class="prefix-number">
                                                    <p class="mb-0 f-16 ln-20">+91</p>
                                                </div>
                                            </div>
                                        </mat-option>
                                    </mat-select>
                                    <div
                                        *ngIf="(basicDetailsForm.get('country')?.touched || submitted) && basicDetailsForm?.get('country')?.hasError('required')">
                                        <span class="validation-err">Please enter the Country Code.</span>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Alternate Contact Number" maxlength="10"
                                            minlength="0" type="text" formControlName="alt_contact_number">
                                    </mat-form-field>
                                    <div
                                        *ngIf="(basicDetailsForm.get('alt_contact_number')?.touched || submitted) && basicDetailsForm?.get('alt_contact_number')?.hasError('required')">
                                        <span class="validation-err">Please enter the Contact Number.</span>
                                    </div>
                                    <div
                                        *ngIf="(basicDetailsForm.get('alt_contact_number')?.touched || submitted) && basicDetailsForm?.get('alt_contact_number')?.hasError('minLength')">
                                        <span class="validation-err">Please enter the valid contact number.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Select Active<span class="required">*</span> </label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_active">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_active')?.touched || submitted) && basicDetailsForm?.get('is_active')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Certificate</label>
                            <mat-form-field floatLabel="never">
                                <mat-select class="select-new-ui" formControlName="certificate"
                                    placeholder="Select certificate" multiple>
                                    <mat-option *ngFor="let certificate of certificateList" [value]="certificate.id">
                                        {{certificate.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('certificate')?.touched || submitted) && basicDetailsForm?.get('certificate')?.hasError('required')">
                                <span class="validation-err">Please enter the certificate.</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Product Name </label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Product name" type="text"
                                    formControlName='Product_name' maxlength="256" readonly>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('Product_name')?.touched) && basicDetailsForm?.get('Product_name')?.hasError('required')">
                                <span class="validation-err">Please enter product name.</span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6 col-sm-6 col-lg-4 mb-3" *ngIf="isBuyerPremiumApplicable">
                            <div class="fixed-cost">
                                <label for="" class="form-label f-12 d-block">Buyer's Premium Type</label>
                                <mat-slide-toggle formControlName="enableCost" class="mt-2 fixed-toggle"
                                    (change)="enableCost($event)" [disableRipple]="true"></mat-slide-toggle><span class="form-label f-12" style="margin-left: 5px;" *ngIf="!percentPremium">Flat premium</span><span class="form-label f-12" *ngIf="percentPremium" style="margin-left: 5px;">Percent(%) premium</span>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-4 mb-3" *ngIf="isBuyerPremiumApplicable">
                            <label for="" class="form-label f-12 d-block">Buyer's premium</label>
                            <mat-form-field *ngIf="!percentPremium" floatLabel="never">
                                <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                    formControlName='premium_value1'>
                            </mat-form-field>
                            <mat-form-field *ngIf="percentPremium" floatLabel="never">
                                <input matInput placeholder="" maxlength="3"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                    formControlName='premium_value2'>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Product Condition<span class="required">*</span></label>
                           
                            <mat-form-field floatLabel="never">
                                <mat-select class="select-new-ui" formControlName="asset_condition">
                                    <mat-option value="">Select Product Condition</mat-option>
                                    <mat-option value="EX">EXCELLENT</mat-option>
                                    <mat-option value="VGD">VERY GOOD</mat-option>
                                    <mat-option value="GD">GOOD</mat-option>
                                    <mat-option value="AVG">AVERAGE</mat-option>
                                    <mat-option value="BAVG">BELOW AVERAGE</mat-option>
                                    <mat-option value="SCR">SCRAP</mat-option>
                                    <mat-option value="POOR">POOR</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('asset_condition')?.touched || submitted) && basicDetailsForm?.get('asset_condition')?.hasError('required')">
                                <span class="validation-err">Please select Product Condition.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-4 mb-3" style="display:none;">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="text" formControlName='buyerPremiumType'>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">KMR/HMR<span class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter KMR/HMR" maxlength="15"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text"
                                    formControlName="mileage">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('mileage')?.touched || submitted) && basicDetailsForm?.get('mileage')?.hasError('required')">
                                <span class="validation-err">Please enter KMR/HMR.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Relationship Manager</label>
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Relationship Manager"
                                    formControlName='relationship_manager'>
                                    <mat-option>Relationship Manager</mat-option>
                                    <!-- <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                {{status?.name}}
                              </mat-option> -->
                                    <mat-option *ngFor="let manager of relationshipManager;" [value]="manager?.id">
                                        {{manager?.user?.first_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label f-12 d-block" for="">Description of Asset</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Enter Description of Asset" type="text"
                                    formControlName="asset_description">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('asset_description')?.touched || submitted) && basicDetailsForm?.get('asset_description')?.hasError('required')">
                                <span class="validation-err">Please enter the Description of Asset.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </form>  -->
            </section>

            <section class="used-upload-section mt-3 upload-sub-section">
                <h3 class="title">Document and Pricing Information</h3>
                <div class="sub-section-field">
                    <div class="row">

                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="form-label f-12 d-block" for="">Motor operationg hours<span
                                class="required">*</span></label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter motor operating hours" type="text"
                                formControlName="motor_operating_hours">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('motor_operating_hours')?.touched || submitted) && basicDetailsForm?.get('motor_operating_hours')?.hasError('required')">
                            <span class="validation-err">Please enter Motor operationg hours.</span>
                        </div>
                    </div> -->




                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Do you want to get inspection and valuation done by
                                iQuippo
                                team?</label>
                            <mat-radio-group aria-label="Select an option" formControlName="inspectionYN">
                                <mat-radio-button value='true'>Yes</mat-radio-button>
                                <mat-radio-button value='false'>No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('inspectionYN')?.touched || submitted) && basicDetailsForm?.get('inspectionYN')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('inspectionYN')?.value == 'true'">
                            <label for="" class="f-12 d-block">Upload Document</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    (change)="handleUpload($event,'EQUIPMENT_DETAIL','front');">
                                <label class="custom-file-label custom-file-label2" for="front"><span
                                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                        class="upload-icon2"></span></label>
                            </div>
                            <div class="lisFile" *ngIf="documentName.length > 0">
                                <ul class="selectedFile m-0">
                                    <li *ngFor="let document of documentName;let i=index">
                                        <a class="file-upload" href="{{document.url}}"
                                            target="_blank">{{document.name}}</a>
                                        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                        <a class="delet-icon" (click)="resetFile(i,document.url)">
                                            <img src="../../../assets/images/Delete_icon.svg" />
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('inspectionYN')?.value == 'true'">
                            <label for="" class="f-12 d-block">Valuation Amount <span class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                    (keyup)="checkValuatioAmount()" placeholder="Enter Valuation Amount" type="text"
                                    formControlName="valuationValue">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('valuationValue')?.touched &&  basicDetailsForm?.get('valuationValue')?.hasError('required')">
                                <span class="validation-err">Please enter valuation Amount.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Do you have service logs available? <span
                                    class="required">*</span></label>
                            <mat-radio-group aria-label="Select an option" formControlName="isServiceLogs">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="basicDetailsForm?.get('isServiceLogs')?.touched &&  basicDetailsForm?.get('isServiceLogs')?.hasError('required')">
                                <span class="validation-err">Please select Do you have service logs available?</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('isServiceLogs')?.value == 1">
                            <label for="" class="f-12 d-block">Upload Service logs</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    (change)="handleUpload($event,'SERVICE_LOG','front');">
                                <label class="custom-file-label custom-file-label2" for="front"><span
                                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                        class="upload-icon2"></span></label>
                            </div>
                            <div class="lisFile" *ngIf="serviceLogName.length > 0">
                                <ul class="selectedFile m-0">
                                    <li *ngFor="let sdocument of serviceLogName;let i=index">
                                        <a class="file-upload" href="{{sdocument.url}}"
                                            target="_blank">{{sdocument.name}}</a>
                                        <a class="delet-icon" (click)="resetServiceFile(i,sdocument.url)">
                                            <img src="../../../assets/images/Delete_icon.svg" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Availability of Original Invoice<span
                                    class="required">*</span></label>
                            <mat-radio-group aria-label="Select an option"
                                formControlName="AvailabilityofOriginalInvoice">
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="0">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('AvailabilityofOriginalInvoice')?.touched || submitted) && basicDetailsForm?.get('AvailabilityofOriginalInvoice')?.hasError('required')">
                                <span class="validation-err">Please enter the Availability of Original Invoice.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('AvailabilityofOriginalInvoice')?.value == 1">
                            <label for="" class="f-12 d-block">Upload Original Invoice</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    (change)="handleUpload($event,'INVOICE','front');">
                                <label class="custom-file-label custom-file-label2" for="front"><span
                                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                        class="upload-icon2"></span></label>
                            </div>
                            <div class="lisFile" *ngIf="invoiceName.length > 0">
                                <ul class="selectedFile m-0">
                                    <li *ngFor="let sdocument of invoiceName;let i=index">
                                        <a class="file-upload" href="{{sdocument.url}}"
                                            target="_blank">{{sdocument.name}}</a>
                                        <a class="delet-icon" (click)="resetinvoiceFile(i,sdocument.url)">
                                            <img src="../../../assets/images/Delete_icon.svg" />
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Do you have Parking charges information?<span
                                    class="required">*</span> </label>
                            <mat-radio-group aria-label="Select an option" formControlName="isParkingCharges">
                                <mat-radio-button value="1" (click)="checkParkingValidation(1)">Yes</mat-radio-button>
                                <mat-radio-button value="0" (click)="checkParkingValidation(0)">No</mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('isParkingCharges')?.value == 1">
                            <label for="" class="f-12 d-block">Parked Since </label>
                            <!-- <mat-form-field class="datepicker-input" floatLabel="never">
                            <input matInput class="form-control" [max]="todayDate" [matDatepicker]="picker2"
                                formControlName="parkedSince" readonly>
                            <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker2">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                        </mat-form-field> -->

                            <mat-form-field floatLabel="never" class="datepicker-input park-since">
                                <input matInput [matDatepicker]="picker2" placeholder="" formControlName="parkedSince"
                                    readonly [max]="todayDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-icon">
                                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2 startView="multi-year" panelClass="example-month-picker">
                                </mat-datepicker>
                            </mat-form-field>
                            <!-- <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="parkedSince">
                        </mat-form-field> -->
                            <div
                                *ngIf="basicDetailsForm?.get('parkedSince')?.touched &&  basicDetailsForm?.get('parkedSince')?.hasError('required')">
                                <span class="validation-err">Please select parked since</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm?.get('isParkingCharges')?.value == 1">
                            <label for="" class="f-12 d-block">Parking Charge per day </label>
                            <mat-form-field floatLabel="never">
                                <input matInput (keyup)="parkingCharges()" placeholder="Enter Parking charge per day"
                                    type="text" formControlName="parkingChargePerDay" maxlength="10">
                            </mat-form-field>
                            <div
                                *ngIf="basicDetailsForm?.get('parkingChargePerDay')?.touched &&  basicDetailsForm?.get('parkingChargePerDay')?.hasError('required')">
                                <span class="validation-err">Please enter parking charges</span>
                            </div>
                            <!-- <div
                                *ngIf="(basicDetailsForm.get('parkingChargePerDay')?.touched) && (basicDetailsForm?.get('parkingChargePerDay')?.hasError('maxlength'))">
                                <span class="validation-err">Only 10 digits allowed</span>
                            </div>
                            <div
                                *ngIf="(basicDetailsForm.get('parkingChargePerDay')?.touched) && (basicDetailsForm?.get('parkingChargePerDay')?.hasError('pattern'))">
                                <span class="validation-err">Alphabets are not allowed</span>
                            </div>
                            <div
                            *ngIf="vehicleDetailsForm?.get('parkingChargePerDay')?.touched &&  vehicleDetailsForm?.get('parkingChargePerDay')?.hasError('required')">
                            <span class="validation-err">Please enter parking charges per day</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="form-label f-12 d-block" for="">Reserved price</label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Reserved Price" type="text" maxlength="10"
                                formControlName="ReservedPrice">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('ReservedPrice')?.touched || submitted) && basicDetailsForm?.get('ReservedPrice')?.hasError('required')">
                            <span class="validation-err">Please enter the reserved Price.</span>
                        </div>
                    </div> -->
                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label for="" class="f-12 d-block">Seller will like to provide price on request <span
                                class="required">*</span></label>
                        <mat-radio-group aria-label="Select an option" formControlName="isPriceOnRequest">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="0">No</mat-radio-button>
                        </mat-radio-group>
                        <div
                            *ngIf="basicDetailsForm?.get('isPriceOnRequest')?.touched &&  basicDetailsForm?.get('isPriceOnRequest')?.hasError('required')">
                            <span class="validation-err">Please select Would you like to provide price on
                                request?</span>
                        </div>
                    </div> -->

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is Equipment Available for Insta Sale<span
                                    class="required">*</span> </label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_insta_sale">
                                <mat-radio-button value="1" [disabled]="this.editableRowData?.status==3"
                                    (click)="checkPrice();checkBidAvailable()" (change)="validateLastDate()">Yes
                                </mat-radio-button>
                                <mat-radio-button value="0" [disabled]="this.editableRowData?.status==3"
                                    (change)="validateLastDate()">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_insta_sale')?.touched || submitted) && basicDetailsForm?.get('is_insta_sale')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm.get('is_insta_sale')?.value == '1'">
                            <label for="" class="f-12 d-block">Last date of Payment <span
                                    class="required">*</span></label>
                            <mat-form-field class="datepicker-input" floatLabel="never">
                                <input matInput class="form-control" [min]="todayDate" [matDatepicker]="picker1"
                                    formControlName="last_date_insta_payment" readonly>
                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('last_date_insta_payment')?.touched || submitted) && basicDetailsForm?.get('last_date_insta_payment')?.hasError('required')">
                                <span class="validation-err">Please select last date of payment.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is Equipment Available for Auction<span
                                    class="required">*</span>
                            </label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_auction">
                                <mat-radio-button [disabled]="this.editableRowData?.status==3" value="1"
                                    (click)="checkAuction();checkBidAvailable()">Yes</mat-radio-button>
                                <mat-radio-button [disabled]="this.editableRowData?.status==3" value="0">No
                                </mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_auction')?.touched || submitted) && basicDetailsForm?.get('is_auction')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is Equipment Coming soon<span class="required">*</span>
                            </label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_coming_soon">
                                <mat-radio-button value="1" [disabled]="this.editableRowData?.status==3"
                                    (click)="disableChecks('1');checkBidAvailable()">Yes</mat-radio-button>
                                <mat-radio-button value="0" [disabled]="this.editableRowData?.status==3"
                                    (click)="disableChecks('0')">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_coming_soon')?.touched || submitted) && basicDetailsForm?.get('is_coming_soon')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Is Equipment Available for Online Bidding<span
                                    class="required">*</span> </label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_online_bidding">
                                <mat-radio-button value="1" [disabled]="this.editableRowData?.status==3"
                                    (click)="checkReservePrice('1');" (change)="validateBidLastDate()">Yes
                                </mat-radio-button>
                                <mat-radio-button value="0" [disabled]="this.editableRowData?.status==3"
                                    (click)="checkBidAvailable()" (change)="validateBidLastDate()">No</mat-radio-button>
                            </mat-radio-group>
                            <div
                                *ngIf="(basicDetailsForm.get('is_online_bidding')?.touched || submitted) && basicDetailsForm?.get('is_online_bidding')?.hasError('required')">
                                <span class="validation-err">Please select an option.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3"
                            *ngIf="basicDetailsForm.get('is_online_bidding')?.value == '1'">
                            <label for="" class="f-12 d-block">Last date of Payment<span class="required">*</span>
                            </label>
                            <mat-form-field class="datepicker-input" floatLabel="never">
                                <input matInput class="form-control" [min]="todayDate" [matDatepicker]="picker1"
                                    formControlName="last_date_bidding_payment" readonly>
                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('last_date_bidding_payment')?.touched || submitted) && basicDetailsForm?.get('last_date_bidding_payment')?.hasError('required')">
                                <span class="validation-err">Please select last date of payment.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label class="form-label f-12 d-block" for="">Selling price<span
                                    class="required">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Sell Price" type="text" (keyup)="enterPrice()"
                                    maxlength="8" formControlName="SellPrice">
                            </mat-form-field>
                            <div
                                *ngIf="(basicDetailsForm.get('SellPrice')?.touched || submitted) && basicDetailsForm?.get('SellPrice')?.hasError('required')">
                                <span class="validation-err">Please enter the sell Price.</span>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="basicDetailsForm.get('is_online_bidding')?.value == 1">
                        <label for="" class="f-12 d-block">Reserved Price <span class="required">*</span></label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Reserved Price" type="text"
                                formControlName="reservedprice">
                        </mat-form-field>
                        <div
                            *ngIf="basicDetailsForm?.get('reservedprice')?.touched &&  basicDetailsForm?.get('reservedprice')?.hasError('required')">
                            <span class="validation-err">Please enter reserved price.</span>
                        </div>
                    </div> -->
                    </div>
                    <div
                        *ngIf="(this.submitted && basicDetailsForm.get('is_online_bidding')?.value == '0' &&basicDetailsForm.get('is_insta_sale')?.value == '0'&&basicDetailsForm.get('is_auction')?.value == '0'&&basicDetailsForm.get('is_coming_soon')?.value == '0') ">
                        <span class="validation-err">Please select a disposal mode</span>
                    </div>
                    <!-- <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label for="" class="f-12 d-block">Book Value</label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Booking Value" type="text" maxlength="9"
                                formControlName="bookValue" maxlength="10">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('bookValue')?.touched) && (basicDetailsForm?.get('bookValue')?.hasError('maxlength'))">
                            <span class="validation-err">Only 10 digits allowed</span>
                        </div>
                        <div
                            *ngIf="(basicDetailsForm.get('bookValue')?.touched) && (basicDetailsForm?.get('bookValue')?.hasError('pattern'))">
                            <span class="validation-err">Alphabets are not allowed</span>
                        </div>
                    </div>
                </div> -->

                </div>
            </section>
            <div class="row mt-3" *ngIf="!addVisual && !isEdit">
                <div class="col-12 mb-12 text-right">
                    <div class="save-btn">
                        <button mat-button class="default-btn" type="button"
                            (click)="backToList(); Close()">Back</button>
                        <button mat-button class="default-btn" type="submit" *ngIf="!isEdit" (click)="onSubmit()">Add
                            Visuals</button>
                    </div>
                </div>
            </div>
            <app-visuals *ngIf="addVisual" [assetId]="assetId"></app-visuals>
            <div class="row mt-3" *ngIf="addVisual && !isEdit">
                <div class="col-12 mb-12 text-right">
                    <div class="save-btn">
                        <button mat-button class="default-btn" type="submit" (click)="onSubmit()">Save &
                            Continue</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3" *ngIf="isEdit">
                <div class="col-12 mb-12 text-right">
                    <div class="save-btn">
                        <button mat-button class="default-btn" type="button"
                            (click)="backToList(); Close()">Back</button>
                        <button mat-button class="default-btn" type="submit"
                            *ngIf="this.editableRowData?.status!=3 && this.editableRowData?.status!=5 &&  (this.editableRowData?.is_sell == true || this.editableRowData?.is_auction == true)"
                            (click)="onSubmit()">Update</button>
                        <button mat-button class="default-btn" type="submit" (click)="preview()">Asset Preview</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>