.primary-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}

.primary-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.progress1 {
    width: 80%;
    position: absolute;
    top: 48%;
    left: 10%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    height: 4px;
    border-radius: 2px;
}

.progress2 {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    display: block;
    height: 4px;
    border-radius: 2px;
}

.mini-custom-file .custom-file {
    height: 46px;
}

.vehicle-dtl {
    padding: 20px 0;
}

.dtl-bx {
    background: #f5f8fa 0% 0% no-repeat padding-box;
    border: 1px solid #c4cfd8;
    border-radius: 16px;
    padding: 20px;
}

.imgbx {
    position: relative;
}

.imgbx img {
    border: 1px solid #c4cfd8;
    border-radius: 10px;
}

.imgbx span {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 2px 8px;
    background: #0d4fa3;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}

mat-radio-button {
    width: 50%;
}

.vehicle-basic-dtl {
    font-size: 14px;
}

.custom-file {
    height: 46px;
}

.progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
    width: calc(100% - 170px);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}



.main-heading {
    font-size: 32px;
    font-weight: 700;
}

.upload-sub-section .title {
    font-size: 16px;
    background: #0f3d94;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
}

.used-upload-section label {
    color: #77828a;
    font-weight: 500;
}

.save-btn button {
    padding: 0 15px;
    margin-left: 1em;
    display: inline-block;
}

.upload-sub-section {
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    background: #fdfdfd;
}

.upload-sub-section .sub-section-field {
    padding: 10px;
}

.custom-file {
    height: 46px;
}

.datepicker-input {
    position: relative;
}

.datepicker-input .calender-icon {
    position: absolute;
    top: -19px;
    right: 10px;
}

.datepicker-input.park-since .calender-icon {
    top: -32px;
}

.lisFile {
    width: 90%;
    position: absolute;
    top: 27px;
    z-index: 9;
    left: 18px;
    border-radius: 4px;
    height: 40px;
    background: #f5f8fa;
}

.lisFile ul.selectedFile {
    background: #f5f8fa;
    padding-left: 15px !important;
    margin: 0px;
    padding: 3px 0px 0px;
}

.lisFile ul li a.file-upload {
    padding-top: 7px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .save-btn button {
        width: 100%;
        margin: 0px 0px 10px;
    }
}

@media screen and (max-width: 768px) {
   
    .main-heading {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        line-height: 28px;
    }
    .save-btn button {
        padding: 5px 35px;
    }
    .used-upload-section .title {
        font-size: 14px; 
    }
    .upload-sub-section .title {font-size: 14px;}
}

.payment-card-slct {
    width: inherit !important;
    min-width: inherit !important;
    padding-left: 5px;
}

.payment-card-slct .d-block {
    display: block !important;
    line-height: 40px;
}

.p-r-0 {
    padding-right: 0px !important;
}

.brand-img-label label {
    color: #77828a;
    font-weight: 600;
}

.upload-input .custom-file {
    position: relative;
    height: 46px;
}

.upload-input .custom-file-input {
    position: absolute;
    height: 46px;
    cursor: pointer;
}

.upload-input .custom-file-label {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 0px;
    line-height: 46px;
}

.upload-input .custom-file .upload-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.upload-input .custom-file .cust-upload-txt {
    position: absolute;
    top: 0px;
    left: 10px;
}

.upload-input .custom-file .cust-upload-txt .blue-txt {
    text-decoration: none;
}

.custom-file {
    height: auto;
}

.selectedFile {
    list-style: none;
    margin: 10px 0px;
    border: none;
    background: #D8E9FF;
    padding: 5px;
}

.selectedFile li {
    display: flex;
    justify-content: space-between;
}

mat-radio-button {
    width: 50%;
}

.selectedFile i {
    color: red;
    line-height: 30px;
    margin-right: 10px;
}

.imgFile {
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: 4px;
    height: 45px;
    background: #f5f8fa;
}

.imgHeight {
    height: 80px;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #d2d4d6;
    width: 102px;
    margin-right: 10px;
}

.imgFile {
    width: calc(100% - 35px);
    position: absolute;
    top: 27px;
    z-index: 9;
    left: 16px;
    border-radius: 4px;
    height: 43px;
    background: #f5f8fa;
}

.imgFile ul li {
    list-style: none;
}

.imgFile ul li a.file-upload {
    font-size: 14px;
    white-space: nowrap;
    padding-top: 0px;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0d4fa3;
    vertical-align: middle;
    font-weight: 500;
}

.imgFile ul.selectedFile {
    background: #f5f8fa;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.imgFile ul li a {
    padding-top: 5px;
    color: #0f3d94;
}

.imgFile ul li span.delet-icon {
    width: 34px;
    height: 34px;
    background: #dee5ea;
    margin-top: 0px;
    cursor: pointer;
    margin-right: 0px;
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
    vertical-align: middle;
}

.custom-file {
    height: 46px;
}

.edit-upload-img {
    position: relative;
}

.edit-upload-img .delet-icon img {
    width: 12px;
}

.edit-upload-img .delet-icon {
    position: absolute;
    cursor: pointer;
    left: 70px;
    top: 10px;
    background: #fff;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.shadow-dateInput {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

@media(max-width:767px) {
    .save-btn button {
        width: 100%;
        margin-bottom: 1em;
        margin-left: 0px !important;
    }
}