<div class="popup  modal-popup">
    <div class="popup-hdr">
        <h4>Trade Details</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="asset-table">
            <div class="inner-table mb-3">
                <div *ngIf="statusType !== 'closed'">
                    <div class="detail-table">
                        <h4>Asset Information</h4>
                        <div class="table-responsive">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td><b>Asset Id</b></td>
                                    <td>{{tableData?.id}}</td>
                                    <td><b>Category</b></td>
                                    <td>{{tableData?.category?.name == 'Other' ? tableData?.other_category : tableData?.category?.display_name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Brand</b></td>
                                    <td class="">{{tableData?.brand?.name == 'Other' ? tableData?.other_brand : tableData?.brand ?.display_name}}
                                    </td>
                                    <td><b>Model</b></td>
                                    <td class="">{{tableData?.model?.name == 'Other' ? tableData?.other_model : tableData?.model?.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Manufacturing Year</b></td>
                                    <td class="">{{tableData.mfg_year}}</td>
                                    <td><b>Asset Country</b></td>
                                    <td class="">{{tableData?.pin_code?.city?.state?.country?.name}}</td>
                                </tr>
                                <tr>
                                    <td><b>Asset State</b></td>
                                    <td class="">{{tableData?.pin_code?.city?.state?.name}}</td>
                                    <td><b>Asset Location</b></td>
                                    <td class="">{{tableData?.pin_code?.city?.name}}</td>
                                </tr>
                                <tr>
                                    <td><b>Repo Date</b></td>
                                    <td class="">{{tableData?.repo_date | date: 'dd-MM-yyyy'}}</td>
                                    <td><b>Ageing of Asset</b></td>
                                    <td class=""></td>
                                </tr>
                                <tr>
                                    <td><b>Reserve Price</b></td>
                                    <td class="">{{tableData?.reserve_price}}</td>
                                    <td><b>Parking Charges</b></td>
                                    <td class="">{{tableData?.parking_charge_per_day}}</td>
                                </tr>
                                <tr>
                                    <td><b>Trade Type</b></td>
                                    <td class="">{{tableData.is_insta_sale ? 'Insta Sale' : 'Portal Sale'}}</td>
                                    <td><b>Asset Status</b></td>
                                    <!-- <td class="">{{tableData.asset_status_display_name}}</td> -->
                                    <td>{{assetStatus}}</td>
                                    <!-- <td class="">{{tableData.equipment?.status}}</td> -->
                                </tr>
                                <tr>
                                    <td><b>Asset Description</b></td>
                                    <td colspan="3" class="">{{tableData.asset_description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="detail-table" *ngIf="(userType == 'seller') && tableData?.buyer">
                        <h4>Buyer information</h4>
                        <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Buyer Name</b></td>
                                    <td class="">{{tableData?.final_payments?.length ? tableData?.buyer?.first_name + ' ' + tableData?.buyer?.last_name : 'xxxx'}}</td>
                                    <td><b>Buyer Country</b></td>
                                    <td class="">{{ tableData?.final_payments?.length ? tableData?.buyer?.pin_code?.city?.state?.country?.name : 'xxxx'}}</td>
                                </tr>
                                <tr>
                                    <td><b>Buyer State</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData?.buyer?.pin_code?.city?.state?.name : 'xxxx'}}
                                    </td>
                                    <td><b>Buyer Location</b></td>
                                    <td class="">{{tableData?.final_payments?.length ? tableData?.buyer?.pin_code?.city?.name : 'xxxx'}}</td>
                                </tr>
                                <tr>
                                    <td><b>Buyer Mobile No.</b></td>
                                    <td>{{tableData?.final_payments.length ? tableData?.buyer?.mobile_number : 'xxxx'}}
                                    </td>
                                    <td><b>Buyer Email id</b></td>
                                    <td>{{tableData?.final_payments.length ? tableData?.buyer?.email : 'xxxx'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>

                <div class="" *ngIf="statusType === 'closed'">
                    <div class="detail-table">
                        <h4>Asset Information</h4>
                        <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Ticket Id</b></td>
                                    <td>{{tableData?.id}}</td>
                                    <td><b>Asset Id</b></td>
                                    <td>{{tableData?.equipment?.id}}</td>
                                </tr>
                                <tr>
                                    <td><b>Category</b></td>
                                    <td>{{tableData?.equipment?.category?.name == 'Other' ? tableData?.equipment?.other_category : tableData?.equipment?.category?.display_name}}</td>
                                    <td><b>Brand</b></td>
                                    <td>{{tableData?.equipment?.brand?.name == 'Other' ? tableData?.equipment?.other_brand : tableData?.equipment?.brand?.display_name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Model</b></td>
                                    <td>{{tableData?.equipment?.model?.name == 'Other' ? tableData?.equipment?.other_model : tableData?.equipment?.model?.name}}
                                    </td>
                                    <td><b>Manufacturing Year</b></td>
                                    <td>{{tableData.equipment?.mfg_year}}</td>
                                </tr>
                                <tr>
                                    <td><b>Asset Country</b></td>
                                    <td>{{tableData.equipment?.pin_code?.city?.state?.country?.name}}</td>
                                    <td><b>Asset State</b></td>
                                    <td>{{tableData.equipment?.pin_code?.city?.state?.name}}</td>
                                </tr>
                                <tr>
                                    <td><b>Asset Location</b></td>
                                    <td>{{tableData?.equipment?.pin_code?.city?.name}}</td>
                                    <td><b>Offer Type</b></td>
                                    <td>{{tableData?.trade_type_display_name}}</td>
                                </tr>
                                <tr>
                                    <td><b>Repo Date</b></td>
                                    <td> {{tableData?.repo_date | date: 'dd-MM-yyyy'}}</td>
                                    <td><b>Ageing of Asset</b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><b>Reserve Price</b></td>
                                    <td>{{tableData?.equipment?.reserve_price}}</td>
                                    <td><b>Parking Charge</b></td>
                                    <td>{{tableData?.equipment?.parking_charge_per_day}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="detail-table" *ngIf="tableData?.final_payments?.length">
                        <h4 *ngIf="userType == 'seller'">Buyer Information</h4>
                        <h4 *ngIf="userType == 'buyer'">Seller Information</h4>
                        <div class="table-responsive">
                        <table>
                            <tbody>
                                <tr *ngIf="userType == 'seller'">
                                    <td><b>Buyer Name</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData.buyer?.first_name + ' ' + tableData.buyer?.last_name : 'xxxx'}}</td>
                                    <td><b>Buyer Country</b></td>
                                    <td>{{ tableData?.final_payments?.length ? tableData.buyer?.pin_code?.city?.state?.country?.name : 'xxxx'}}
                                    </td>
                                </tr>
                                <tr *ngIf="userType == 'seller'">
                                    <td><b>Buyer State</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData.buyer?.pin_code?.city?.state?.name : 'xxxx'}}
                                    </td>
                                    <td><b>Buyer Location</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData.buyer?.pin_code?.city?.name : 'xxxx'}}
                                    </td>
                                </tr>
                                <tr *ngIf="userType == 'seller'">
                                    <td><b>Buyer Mobile No.</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData.buyer?.mobile_number : 'xxxx'}}
                                    </td>
                                    <td><b>Buyer Email id</b></td>
                                    <td>{{tableData?.final_payments?.length ? tableData.buyer?.email : 'xxxx'}}</td>
                                </tr>
                                <tr *ngIf="userType == 'buyer'">
                                    <td><b>Seller Name</b></td>
                                    <td>
                                        <span>{{tableData?.equipment?.seller?.first_name + " " + tableData.equipment?.seller?.last_name}}</span>
                                    </td>
                                    <td><b>Seller Contact No.</b></td>
                                    <td>
                                        <span>{{tableData?.equipment?.seller?.mobile_number}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <div class="detail-table trade-info-detail">
                        <h4>Trade Information</h4>
                        <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="info-table-bid-amount">
                                    <td><b>Bid Amount</b></td>
                                    <td>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>TCS</th>
                                                    <th>Parking
                                                    </th>
                                                    <th>Total</th>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{tableData.amount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td><b>Offer Status</b></td>
                                    <td>{{tableData?.offer_status_display_name}} </td>
                                </tr>

                                <tr>
                                    <td><b>Bid Status</b></td>
                                    <td colspan="3">{{tableData?.bid_status_display_name}} </td>
                                </tr>
                                <tr>
                                    <td><b>Bid Acceptance Comment</b></td>
                                    <td colspan="3">{{(tableData?.acceptance_comment == null || tableData?.acceptance_comment == "") ? 'N/A' : tableData?.acceptance_comment}}</td>
                                </tr>
                                <tr>
                                    <td><b>Bid Approval Comment</b></td>
                                    <td colspan="3">{{tableData?.approval_comment == null || tableData?.approval_comment == "" ? 'N/A' : tableData?.approval_comment}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{tableData?.trade_type == "BID" ? 'Bid Cancel Reason' : 'Transaction Cancel Reason'}}</b>
                                    </td>
                                    <td>
                                        <em>{{tableData?.rejection_reason == null || tableData?.rejection_reason == '' ?
                                            'N/A' : tableData.rejection_reason}}</em>
                                    </td>
                                    <td>
                                        <b>{{tableData?.trade_type == "BID" ? 'Bid Cancel Comment' : 'Transaction Cancel Comment'}}</b>
                                    </td>
                                    <td>
                                        <em>{{tableData?.rejection_comment == null || tableData?.rejection_comment == '' ?
                                            'N/A' : tableData?.rejection_comment}}</em>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>EMD Amount</b></td>
                                    <td>{{tableData?.emd_details == null ? 0 : tableData?.emd_details?.amount}} <span *ngIf="tableData?.emd_details?.amount_type == 2">%</span></td>
                                    <td><b>Full Payment Amount</b></td>
                                    <td>{{tableData?.final_payments?.length ? getFullAmount(tableData?.final_payments) : ''}}</td>
                                </tr>
                                <tr>
                                    <td><b>EMD Due Date/Time</b></td>
                                    <td>{{tableData?.emd_due_datetime}}</td>
                                    <td><b>Full Payment Due Date/Time</b></td>
                                    <td>{{tableData?.full_payment_due_date | date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr class="info-table">
                                    <td><b>EMD Details</b></td>
                                    <td colspan="3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Bank Name</th>
                                                        <th>Mode of Payment</th>
                                                        <th>Instrument No</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                    <tr *ngFor="let data of tableData?.partial_payment">
                                                        <td>{{data?.bank_name}}</td>
                                                        <td>{{data?.payment_mode}}</td>
                                                        <td>{{data?.order_id}}</td>
                                                        <td>{{data?.amount}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="info-table">
                                    <td><b>Full Payment Details</b></td>
                                    <td colspan="3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Bank Name</th>
                                                        <th>Mode of Payment</th>
                                                        <th>Instrument No</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    <tr *ngFor="let final of tableData?.final_payments">
                                                        <td>{{final?.bank_name == null ? 'N/A' : final?.bank_name}}</td>
                                                        <td>{{final?.payment_mode}}</td>
                                                        <td>{{final?.order_id}}</td>
                                                        <td>{{final?.amount}}</td>
                                                        <td>{{getPaymentStatus(final?.payment_status)}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="info-table" style="display: none;">
                                    <td><b>Refund Details</b></td>
                                    <td colspan="3">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Refund Ref</th>
                                                        <th>Mode of Refund</th>
                                                        <th>Bank Detail</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    <tr ng-repeat="payment in data.refundInfo" class="ng-scope">
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr class="info-table">
                                        <td><b>Invoice in Favour of</b></td>
                                        <td colspan="3">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody *ngIf="!isSelfInvoive">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Country</th>
                                                            <th>State</th>
                                                            <th>Location</th>
                                                            <th>Address</th>
                                                            <th>Email</th>
                                                            <th>Mobile No.</th>
                                                        </tr>
                                                        <tr>
                                                            <td> {{tableData.invoice_first_name+" " + tableData.invoice_last_name}}</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>{{tableData.invoice_address}}</td>
                                                            <td class="word-break ng-binding">{{tableData.invoice_email}}</td>
                                                            <td>{{tableData.invoice_mobile}}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="isSelfInvoive">
                                                        <tr>
                                                            <td>Self</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="info-table">
                                        <td><b>KYC Document</b></td>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Address Proof</th>
                                                            <th>ID Proof</th>
                                                            <th>Document Link</th>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-ellips">
                                                                <a href="" target="_blank"></a>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td><b>Delivery Order</b></td>
                                        <td><a [href]="tableData?.do_document" target="_blank" *ngIf="tableData?.do_document != null">{{getFileName(tableData?.do_document)}}</a></td>
                                        </tr>
                                        <tr>
                                            <td><b>Date of Delivery</b></td>
                                            <td> {{tableData.asset_delivery_date | date: 'dd-MM-yyyy'}} </td>
                                            <td><b>Deal Status </b></td>
                                            <td>{{tableData.deal_status_display_name}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Trade Type </b></td>
                                            <td>{{tableData.trade_type_display_name}}</td>
                                            <td><b>Asset Status</b></td>
                                            <!-- <td> {{tableData.equipment?.status}} </td> -->
                                            <td>{{assetStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Feedback</b></td>
                                            <td colspan="3">{{tableData.feedback}}</td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right dialog-actions-container">
            <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Close</button>
        </div>
    </div>
</div>