.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
}

.detail-table {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 15px;
}

.modal-popup .close-btn {
    line-height: inherit;
    margin-top: 0px;
}

.detail-table h4 {
    font-size: 15px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px 4px 0px 0px;
    color: #020202;
}

.detail-table table {
    width: 98% !important;
    margin: 0px auto 10px;
    /* table-layout: fixed; */
}

.popup-body {
    padding: 15px;
    overflow-y: auto;
    max-height: 80vh !important;
}

.popup {
    background: #fff;
    border-radius: 20px;
}

.close-btn:focus {
    outline: unset !important;
}

table {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
}

table td {
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 6px;
}

.dialog-actions-container {
    margin-top: 16px;
}

@media(max-width:767px) {

    .asset-table .table-responsive {overflow: auto !important;}
    .asset-table tbody {display: table;flex-wrap: nowrap;}
    .asset-table td {
        padding: 6px!important;
        width: auto;
        height: auto!important;
        white-space: nowrap!important;
        line-height: inherit!important;
        flex: none;
        min-height: inherit!important;
        word-break: inherit;
    }

    .asset-table td {
        font-size: 12px;
    }
    tr.info-table-bid-amount table,
    tr.info-table table {
        display: table !important;
    }
    .detail-table tr {
        width: 100%;
    }
    .asset-table td b {
        font-weight: 500;
        color: #ababab;
    }
    .detail-table .table {
        display: block;
    }
    tr.info-table {
        width: 100%;
        display: table-row;
    }
    tr.info-table td table tbody {
        display: table;
        width: 100%;
    }
    tr.info-table td table tr td {
        width: inherit !important;
        display: table-cell;
    }
    .info-table td {
        width: 100%;
    }
    tr.info-table-bid-amount td:nth-child(1),
    tr.info-table-bid-amount td:nth-child(2) {
        width: 100%;
    }
    tr.info-table-bid-amount tbody {
        display: table;
        width: 100%;
    }
    tr.info-table-bid-amount tbody tr {
        display: table-row;
    }
    tr.info-table-bid-amount td:nth-child(2) table tr {
        display: table-row;
    }
    tr.info-table-bid-amount td:nth-child(2) table td {
        width: inherit !important;
        display: table-cell;
    }
}