<div class="main-div product-wrapper">
  <div class="category-brand">
<mat-card>
  <div class="trade-tab-container">
    <main class="container-fluid">
  <section class="myself-details-main-wrapper corporate-details-main-wrapper">
    <div class="row">
      <div class="col-12 p-0">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                class="step-lbl">Profile</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span
                class="step-lbl">Preference</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                class="step-lbl">Banking</span></div>
            <div class="step-block" *ngIf="isOption"> <span class="step-no"><span class="steps">4</span></span><span
                  class="step-lbl">Terms & Conditions</span></div>
          </div>
        </div>


      </div>

    </div>
    <form [formGroup]='corporateProfileForm'>
      <div class="main-content-wrapper">
        <fieldset [disabled] = "isEditable">
        <div class="main-form-details-container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="type-block">
                <label for="" class="w-100">I Represent <span class="mandatory"></span></label>
                <mat-radio-group aria-label="Select an option" formControlName="Representer">
                  <mat-radio-button value="1" (click)='navselfDetails()'>Myself</mat-radio-button>
                  <mat-radio-button value="2">Corporate</mat-radio-button>
                </mat-radio-group>

              </div>
            </div>

          </div>
        </div>
        </fieldset>
        <fieldset [disabled] = "isEditable && isEntityEdittable">
        <div class="main-form-details-container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="type-block">

                <label for="" class="w-100">Entity Type <span class="mandatory"></span></label>
                <mat-radio-group aria-label="Select an option" formControlName="EntityType">
                  <mat-radio-button value="Proprietorship" (click)="onEntityTypeChange('Proprietorship')">Proprietorship
                  </mat-radio-button>
                  <mat-radio-button value="Partnership" (click)="onEntityTypeChange('Partnership')">Partnership
                  </mat-radio-button>
                  <mat-radio-button value="HUF" (click)="onEntityTypeChange('HUF')">HUF </mat-radio-button>
                  <mat-radio-button value="LLP" (click)="onEntityTypeChange('LLP')">LLP</mat-radio-button>
                  <mat-radio-button value="Private Ltd.Co." (click)="onEntityTypeChange('Private Ltd.Co.')">Private
                    Ltd.Co.</mat-radio-button>
                  <mat-radio-button value="Public Ltd.Co." (click)="onEntityTypeChange('Public Ltd.Co.')">Public Ltd.Co.
                  </mat-radio-button>
                  <mat-radio-button value="Trust" (click)="onEntityTypeChange('Trust')">Trust </mat-radio-button>
                  <mat-radio-button value="Society" (click)="onEntityTypeChange('Society')">Society</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="corporateProfileForm?.get('EntityType')?.hasError('required')">
                  <span class="validation-err">Please select entity type.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-form-details-container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="type-block">

                <label for="" class="w-100">Relationship with Entity <span class="mandatory"></span></label>
                <mat-radio-group aria-label="Select an option" formControlName="RelationshipEntity">
                  <mat-radio-button *ngIf="corporateProfileForm?.get('EntityType')?.value=='Proprietorship'" value="Proprietor" (click)="onRelationshipEntityChange('Proprietor')">Proprietor
                  </mat-radio-button>
                  <mat-radio-button *ngIf="corporateProfileForm?.get('EntityType')?.value=='Partnership' || corporateProfileForm?.get('EntityType')?.value=='LLP'" value="Partner" (click)="onRelationshipEntityChange('Partner')">Partner
                  </mat-radio-button>
                  <mat-radio-button *ngIf="corporateProfileForm?.get('EntityType')?.value=='HUF'" value="Karta" (click)="onRelationshipEntityChange('Karta')">Karta
                  </mat-radio-button>
                  <mat-radio-button *ngIf="corporateProfileForm?.get('EntityType')?.value=='Private Ltd.Co.' || corporateProfileForm?.get('EntityType')?.value=='Public Ltd.Co.' " value="Director" (click)="onRelationshipEntityChange('Director')">Director
                  </mat-radio-button>
                  <mat-radio-button *ngIf="corporateProfileForm?.get('EntityType')?.value=='Private Ltd.Co.' || corporateProfileForm?.get('EntityType')?.value=='Proprietorship' || corporateProfileForm?.get('EntityType')?.value=='Partnership' || corporateProfileForm?.get('EntityType')?.value=='LLP' || corporateProfileForm?.get('EntityType')?.value=='Public Ltd.Co.' || corporateProfileForm?.get('EntityType')?.value=='Society' || corporateProfileForm?.get('EntityType')?.value=='Trust'" value="Employee" (click)="onRelationshipEntityChange('Employee')">Employee
                  </mat-radio-button>
                  <mat-radio-button value="Trustee" *ngIf="corporateProfileForm?.get('EntityType')?.value=='Trust'" (click)="onRelationshipEntityChange('Trustee')">Trustee
                  </mat-radio-button>

                </mat-radio-group>
                <div *ngIf="corporateProfileForm?.get('RelationshipEntity')?.hasError('required')">
                  <span class="validation-err">Please select Relationship with Entity.</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        </fieldset>
        <div class="prof-of-identity">
          <h2 class="sub-head">Proof Of Identity</h2>
          <p class="txt-info"><span class="mandatory"></span>Pan card is mandatory. You need to provide an address proof in addition to the PAN Card. Please upload additional document to complete your profile.</p>
          <div class="poi-tabs-wrapper">
            <mat-tab-group animationDuration="0ms" [disableRipple]="true">
              <mat-tab label="PAN Card">
                <div class="row" formGroupName="pan">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">PAN Card Number<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" class="text-uppercase" [disabled]="isPanEditable" type="text" minlength="10" maxlength="10" (blur)="checkPan();verifyPanData();"
                              formControlName="docNumber">
                            <div class="h-20px">
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('required')">
                                <span class="validation-err">Please enter PAN Card Number.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('wrong') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">You have entered the PAN details of Individual. So Please
                                  choose Myself above.</span>
                              </div>


                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('partnership') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for partnership Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('llp') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for partnership LLP
                                  Entity Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('privateError') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Private Ltd.Co.
                                  Entity Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('publicError') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Public Ltd.Co. Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('trust') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Trust Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('society') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Society Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('huf') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for HUF Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('proprietorship') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Proprietorship Entity
                                  Type.</span>
                              </div>

                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please input 10 digits number.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('maxlength')">
                                <span class="validation-err">Please input 10 digits number.</span>
                              </div>
                            </div>
                          </mat-form-field>
                          <mat-checkbox *ngIf="!hideAppliedForPan" formControlName="applied_for_pan" [disabled]="isPanEditable "
                            [checked]="corporateProfileForm?.get('applied_for_pan')?.value"
                            (change)="toggleEditable($event)">I have applied for PAN Card</mat-checkbox>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload PAN Card <span class="mandatory"></span></label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" [disabled]="(corporateProfileForm?.get('applied_for_pan')?.value || this.isPanEditable) && this.isSuperAdmin" (change)="handleUpload($event,'pan','front')" id="front">
                            <label [class.haserror]="panFrontImageError" class="custom-file-label" for="front">
                              <span class="upload-icon"></span>
                              <span class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="panFrontImageError" style=" margin-left: 19px;">
                            <span class="validation-err">Please upload PAN Card.</span>
                          </div>
                        
                        <div *ngIf="corporateProfileForm.get('pan')?.get('docImages')?.get('front')?.hasError('imgIssue')">
                          <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                        </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div class="basic-upload-images">
                          <img class="cursor-pointer col-9"
                           [class.img-download]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value==''"
                           height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value!=''"
                           height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 order-2 order-lg-4 order-md-3 order-sm-2">
            <div class="pancard-wrapper">
              <label for="">Name on Pan Card<span class="mandatory"></span></label>
            <div class="row" >
              <div class="col-12">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text"  formControlName="name" >                                    
                </mat-form-field>
              </div> 
                                  
            </div>
            </div>
           </div> -->

                </div>

              </mat-tab>
              <mat-tab label="Aadhar Card">
                <div class="row" formGroupName="aadhar">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Aadhar Card Number<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" minlength="12" maxlength="12"
                              formControlName="docNumber">

                          </mat-form-field>
                          <div
                          *ngIf="corporateProfileForm?.get('docNumber')?.touched && corporateProfileForm?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">>Please enter aadhar number.</span>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('docNumber')?.touched && corporateProfileForm?.get('docNumber')?.hasError('minlength')">
                          <span class="validation-err">Please enter valid aadhar number.</span>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('docNumber')?.touched && corporateProfileForm?.get('docNumber')?.hasError('maxlength')">
                          <span class="validation-err">Please enter valid aadhar number.</span>
                        </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Aadhar Card (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'aadhar','front')" id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                         
                          <div
                          
                            *ngIf="corporateProfileForm?.get('aadhar')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div *ngIf="corporateProfileForm.get('aadhar')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'aadhar','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="corporateProfileForm.get('aadhar')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('aadhar')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img  class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('frontView')?.value==''"
                             height="100px">
                          <img  class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('frontView')?.value!=''"
                             height="100px">
                        </div>
                        <div>
                          <img  class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('backView')?.value==''"
                            height="100px">
                          <img  class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('aadhar')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <!-- <pre>{{corporateProfileForm?.get('aadhar').value | json}}</pre> -->
              </mat-tab>
              <mat-tab label="Passport">
                <div class="row" formGroupName="passport">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Passport Number<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('docNumber')?.touched && corporateProfileForm?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter the Passport Number.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Passport (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'passport','front')" id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('passport')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                            </div>
                            <div *ngIf="corporateProfileForm.get('passport')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'passport','back')" id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div
                            *ngIf="corporateProfileForm?.get('passport')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div *ngIf="corporateProfileForm.get('passport')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img class="cursor-pointer col-9" download [class.img-download]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('passport')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9" download [class.img-download]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('passport')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('frontView')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('passport')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('backView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('passport')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('passport')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Voter ID">
                <div class="row" formGroupName="voter">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Voter ID<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('voter')?.get('docNumber')?.touched && corporateProfileForm?.get('voter')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter the Voter ID.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Voter ID (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','front')"
                              id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div *ngIf="corporateProfileForm.get('voter')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="corporateProfileForm.get('voter')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Driving License66666">
                <div class="row" formGroupName="dl">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Driving License<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('dl')?.get('docNumber')?.touched && corporateProfileForm?.get('dl')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter Driving License Number.</span>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Driving License (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'dl','front')"
                              id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('dl')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div *ngIf="corporateProfileForm.get('dl')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'dl','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="corporateProfileForm.get('dl')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('dl')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('dl')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('frontView')?.value==''"
                           height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('dl')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('frontView')?.value!=''"
                           height="100px">
                        </div>
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('dl')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('backView')?.value==''"
                           height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('dl')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('dl')?.get('docImages')?.get('backView')?.value!=''"
                           height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Udyog Aadhar">
                <div class="row" formGroupName="uan">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Udyog Aadhar<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('uan')?.get('docNumber')?.touched && corporateProfileForm?.get('uan')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter Udyog Aadhar Number.</span>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Udyog Aadhar (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'uan','front')"
                              id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div *ngIf="corporateProfileForm.get('uan')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'uan','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="corporateProfileForm.get('uan')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value==''"
                           height="100px">
                          <img class="cursor-pointer col-9" [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value!=''"
                           height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Trade License">
                <div class="row" formGroupName="tradelicense">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Trade License<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('tradelicense')?.get('docNumber')?.touched && corporateProfileForm?.get('tradelicense')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter Trade License Number.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Trade License (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'tradelicense','front')" id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div *ngIf="corporateProfileForm.get('tradelicense')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'tradelicense','back')" id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="corporateProfileForm.get('tradelicense')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <img class="cursor-pointer col-9"
                             [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value)" [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value" *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value==''" 
                           height="100px">
                          <img class="cursor-pointer col-9"
                             [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value)" [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value" *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value!=''" 
                           height="100px">
                        </div>
                        <div>
                          <img class="cursor-pointer col-9"
                             [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value)" [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value" *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value==''"
                            height="100px">
                          <img class="cursor-pointer col-9"
                             [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value!=''" (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value)" [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value" *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>


              <!-- <mat-tab label="Aadhar Card">Content 2</mat-tab> -->

              <!-- <mat-tab label="Voter ID" >
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
             <div class="pancard-wrapper">
               <label for="">Voter ID Number<span class="mandatory"></span></label>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="" type="text" minlength="10" maxlength="10">                                    
                    </mat-form-field>
                    <mat-checkbox>I have applied for Voter ID</mat-checkbox>
                  </div> 
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
             <div class="pancard-wrapper">
               <label for="">Upload Voter ID</label>
             <div class="row mb-3">
               <div class="col-12">
                <div class="custom-file h-80">                     
                  <input  type="file" class="custom-file-input"  id="customFile"  >
                  <label class="custom-file-label" for="customFile"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> <span class="d-xs-none">or drag it here</span></span></label>
                </div>
                <div class="custom-file mt-2 h-80">                     
                  <input  type="file" class="custom-file-input"  id="customFile"  >
                  <label class="custom-file-label" for="customFile"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> <span class="d-xs-none">or drag it here</span></span></label>
                </div>
               </div>    
               </div>
             </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="row mb-3">
                <div class="col-9" style="margin-top: 10px;">
              <div>
            </div>
          </div>   
        </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Driving License">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
             <div class="pancard-wrapper">
               <label for="">Driving License Number<span class="mandatory"></span></label>
                <div class="row">
                  <div class="col-12">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="" type="text" minlength="10" maxlength="10">                                    
                    </mat-form-field>
                    <mat-checkbox>I have applied for Driving License</mat-checkbox>
                  </div> 
                  </div>
                </div>
                </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
             <div class="pancard-wrapper">
               <label for="">Upload Driving License</label>
             <div class="row mb-3">
               <div class="col-12">
                <div class="custom-file h-80">                     
                  <input  type="file" class="custom-file-input"  id="customFile"  >
                  <label class="custom-file-label" for="customFile"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> <span class="d-xs-none">or drag it here</span></span></label>
                </div>
                <div class="custom-file mt-2 h-80">                     
                  <input  type="file" class="custom-file-input"  id="customFile"  >
                  <label class="custom-file-label" for="customFile"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> <span class="d-xs-none">or drag it here</span></span></label>
                </div>
               </div>    
               </div>
             </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
              <div class="row mb-3">
                <div class="col-9" style="margin-top: 10px;">
              <div>
            </div>
          </div>   
        </div>
            </div>
          </div>
        </mat-tab> -->
            </mat-tab-group>
          </div>
        </div>

        <!-- <div class="customer-details-wrapper">
          <h2 class="sub-head">Address Proof</h2>
          <div class="row" formGroupName="address_proof">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Document Type <span class="mandatory"></span></label>

              <mat-select formControlName="docType">
                <mat-option *ngFor="let proof of proofList" [value]="proof">
                  <div class="ml-10">
                    <p class="mb-0 f-16 ln-20">{{proof}}</p>
                  </div>
                </mat-option>
              </mat-select>

            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Document Number <span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input matInput placeholder="" type="text" formControlName="docNumber" (click)="test()">
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">

              <div class="h-80">
                <div class="pancard-wrapper">
                  <label for="">Document proof</label>
                  <div class="row mb-3">
                    <div class="col-12">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="handleUploadAddress($event)"
                          id="address_proof">
                        <label
                          [class.haserror]="corporateProfileForm.get('address_proof')?.get('docNumber')?.value!='' && corporateProfileForm.get('address_proof')?.get('docImages')?.hasError('required')"
                          class="custom-file-label" for="address_proof"><span class="upload-icon"></span><span
                            class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                      </div>
                      <span class="f-12">File Size limit - 5MB</span>
                    </div>
                    <div *ngIf="isShowDocProof"  style="margin-top: 43px; margin-left: 19px;">
                      <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="mt-5">
                <div class="row mb-3">
                  <div class="col-9" style="margin-top: 10px;">
                    <div>
                      <img [src]="this.corporateProfileForm.get('address_proof')?.get('docImages').value" class="col-9"
                        height="100px">
                    </div>

                  </div>

                </div>
              </div>

            </div>


          </div>
        </div> -->
        <!-- <fieldset [disabled] = "isEditable"> -->
        <fieldset>
        <div class="customer-details-wrapper">
          <h2 class="sub-head">You have a MSME Number <span class="msme-slide">
              <mat-slide-toggle [disabled] = "isEditable" formControlName="enableMSME" (click)="enableMSME()" [disableRipple]="true">
              </mat-slide-toggle>
            </span></h2>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">MSME Number<span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input [attr.disabled] = "isEditable" matInput placeholder="Enter MSME Number" type="text" formControlName="MSMENumber">
              </mat-form-field>
              <div
                *ngIf="corporateProfileForm?.get('MSMENumber')?.touched && corporateProfileForm?.get('MSMENumber')?.hasError('required')">
                <span class="validation-err">Please enter MSME Number.</span>
              </div>
            </div>

          </div>
        </div>
        <div class="customer-details-wrapper">
          <h2 class="sub-head">Corporate Details</h2>
          <div class="row">
            <div *ngIf="corporateProfileForm?.get('EntityType')?.value=='Proprietorship'" class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">First Name <span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input  matInput placeholder="" type="text"  formControlName="FirstName" >                                    
             </mat-form-field>
             <div *ngIf="corporateProfileForm.get('FirstName')?.touched && corporateProfileForm.get('FirstName')?.hasError('required')">
              <span class="validation-err">Please fill mandatory field(s).</span>
            </div>
            </div>
          
            <div *ngIf="corporateProfileForm?.get('EntityType')?.value=='Proprietorship'" class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Last Name <span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input matInput placeholder="" type="text"  formControlName="LastName" >                                    
              </mat-form-field>
              <div *ngIf="corporateProfileForm.get('LastName')?.touched && corporateProfileForm.get('LastName')?.hasError('required')">
                <span class="validation-err">Please enter last name.</span>
              </div> 
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Company Name <span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input [attr.disabled] = "isEditable" matInput placeholder="" type="text" formControlName="CompanyName">
              </mat-form-field>
              <div
                *ngIf="corporateProfileForm?.get('CompanyName')?.touched && corporateProfileForm?.get('CompanyName')?.hasError('required')">
                <span class="validation-err">Please enter Company Name.</span>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2" >
              <label for="">Date of Incorporation <span class="mandatory"></span></label>
              <mat-form-field floatLabel="never">
                <input  [disabled] = "isEditable" matInput [matDatepicker]="picker" [max]="minDate" readonly (click)="picker.open()" type="text"
                  formControlName="DateoOfIncorporation">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                    calendar_today</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

              </mat-form-field>
              <div
                *ngIf="corporateProfileForm?.get('DateoOfIncorporation')?.touched && corporateProfileForm?.get('DateoOfIncorporation')?.hasError('required')">
                <span class="validation-err">Please enter the Date of Incorporation.</span>
              </div>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Mobile Number <span class="mandatory"></span></label>
              <div class="form-row">
                <div class="col-4">
                  <mat-select class="ptb-5 card-select payment-card-slct" formControlName="countryCode"
                    [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)">
                    <mat-select-trigger>
                      <div class="d-flex">
                        <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                        <div class="ml-10">
                          <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                        </div>
                      </div>
                    </mat-select-trigger>
                    <mat-option *ngFor="let country of countryList" [value]="country">
                      <div class="d-flex">
                        <img [src]="country.flag" class="saved-card-icn" alt="">
                        <div class="ml-10">
                          <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                        </div>
                      </div>
                    </mat-option>
                  </mat-select>
                </div>
                <div class="col-8">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter your Mobile number"
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                      minlength="10" maxlength="10" type="text" formControlName="Mobile">
                  </mat-form-field>
                  <div
                    *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('required')">
                    <span class="validation-err">Please enter Mobile Number.</span>
                  </div>
                  <div
                    *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('minlength')">
                    <span class="validation-err">Please input 10 digits number.</span>
                  </div>
                  <div
                    *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('maxlength')">
                    <span class="validation-err">Please input 10 digits number.</span>
                  </div>
                  <div *ngIf="corporateProfileForm?.get('Mobile')?.hasError('pattern')">
                    <span class="validation-err">Please input 10 digits number.</span>
                  </div>
                </div>

              </div>

            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
              <label for="">Email ID<span class="mandatory" *ngIf="isEmailReq"></span></label>
              <mat-form-field floatLabel="never">
                <input matInput placeholder="" type="text"  formControlName="EmailId" (blur)="checkEmailField();">                                    
              </mat-form-field>
              <div >
                <span  class="validation-err" *ngIf="corporateProfileForm.get('EmailId')?.touched && corporateProfileForm.get('EmailId')?.hasError('required')">Please enter the email.</span>
                <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
              </div>  
              <div >
                <span  class="validation-err" *ngIf="corporateProfileForm.get('EmailId')?.touched && corporateProfileForm.get('EmailId')?.hasError('pattern')">Please enter a valid email.</span>
                <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
              </div> 
             
            </div>



          </div>

        </div>
        <div class="customer-details-wrapper address-wrapper">
          <h2 class="sub-head">Corporate Address</h2>
          <div formArrayName="AddressArray">
            <div class="row" *ngFor="let bank of corporateProfileForm?.get('AddressArray')?.controls; let i = index"
              [formGroupName]="i">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Address Line1 <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="StreetAddress1">
                  <input type="hidden" formControlName="addressId">
                </mat-form-field>
                <!-- <div *ngIf="corporateProfileForm?.get('StreetAddress1')?.touched && corporateProfileForm?.get('StreetAddress1')?.hasError('required')">
          <span class="validation-err">Please complete this mandatory field.</span>
        </div> -->
        <div *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('StreetAddress1')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('StreetAddress1')?.hasError('required')">
          <span class="validation-err">Please enter address1.</span>
        </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Address Line2 <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="StreetAddress2">
                </mat-form-field>
                <!-- <div *ngIf="corporateProfileForm?.get('StreetAddress2')?.touched && corporateProfileForm?.get('StreetAddress2')?.hasError('required')">
          <span class="validation-err">Please complete this mandatory field.</span>
        </div> -->
        <div *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('StreetAddress2')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('StreetAddress2')?.hasError('required')">
          <span class="validation-err">Please enter address2.</span>
        </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Pincode <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never" [class.haserror]="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('pinCodeErrorFlag')?.value">
                  <input matInput placeholder="" [class.haserror]="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('pinCodeErrorFlag')?.value" type="text" (keyup)="getpinCodefn(i)" (blur)="getpinCodefn(i)" formControlName="PinCode" (keydown)=checkaddressFun($event)>
                </mat-form-field>
                <div *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('required')">
          <span class="validation-err">Please enter pincode.</span>
        </div>
        <div *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.value!='' && (corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('minlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('pinCodeErrorFlag')?.value || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('maxlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('pattern'))">
          <span class="validation-err">Please input a valid pincode</span>
          </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">State <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput formControlName="State" type="text" readonly>

                </mat-form-field>
                <!-- <mat-error>
          <div class="validation-err"
              *ngIf="corporateProfileForm.get('Stata')?.hasError('required')">
              Please complete this mandatory field.
          </div>
      </mat-error> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">City <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" readonly formControlName="City">
                </mat-form-field>
                <!-- <mat-error>
          <div class="validation-err"
              *ngIf="corporateProfileForm.get('City')?.hasError('required')">
              Please complete this mandatory field.
          </div>
      </mat-error> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">GST No. <span *ngIf="corporateProfileForm?.get('EntityType')?.value!='Proprietorship'" class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="GSTNo">
                </mat-form-field>
                <!-- <div *ngIf="corporateProfileForm?.get('GSTNo')?.touched && corporateProfileForm?.get('GSTNo')?.hasError('required')">
          <span class="validation-err">Please complete this mandatory field.</span>
        </div> -->
        <div *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('GSTNo')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('GSTNo')?.hasError('required')">
          <span class="validation-err">Please enter the GST number.</span>
        </div>
              </div>
              <div>
                <!-- <button mat-flat-button *ngIf="corporateProfileForm?.get('AddressArray')?.controls?.length>1"
                  (click)="removeAddressFormGroup(i)"> <span class="material-icons">remove</span> Remove
                  Address</button> -->
              </div>

            </div>
          </div>
        </div>
      </fieldset>
      </div>

      <div class="row mb-5">
        <div class="col-12 col-sm-6">
          <div class="addaddress-btn">
            <button mat-flat-button (click)="addNewAddress()"> <span class="material-icons">add</span> Add Another
              Address</button>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="saveandcont-btn">
            <button mat-flat-button [disabled]="this.corporateProfileForm.invalid || this.uploadingImage" (click)="onSubmit()">Save &
              Continue</button>
          </div>
        </div>
      </div>
    </form>

  </section>

</main>
</div>
</mat-card>
  </div>
</div>