<div class="py-5">
  <div class="container-fluid">
    <table mat-table [dataSource]="productDataSource" class="default-tbl mat-elevation-z8 w-100">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <!-- <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>Select </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-checkbox (ngModelChange)="updateSelectedRow()">
              
            </mat-checkbox> </td>
      </ng-container> -->
      <!-- Symbol Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"><img src={{element.primary_image}} style="height: 50px;width: 50px;" /></td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.selling_price}} </td>
      </ng-container>
    
      
    
        <!-- Symbol Column -->
      <ng-container matColumnDef="Trading">
        <th mat-header-cell *matHeaderCellDef> Trading </th>
        <td mat-cell *matCellDef="let element"> {{element.trade_type}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Fuel Type </th>
        <td mat-cell *matCellDef="let element"> {{element.fuel_type}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Categories">
        <th mat-header-cell *matHeaderCellDef> Categories </th>
        <td mat-cell *matCellDef="let element"> {{element.category.display_name}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element"> {{element.brand.display_name}} </td>
      </ng-container>
       <!-- Symbol Column -->
       <ng-container matColumnDef="Model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="Assets">
        <th mat-header-cell *matHeaderCellDef> Assets </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container> -->
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{getRowstatus(element.status)}} </td>
      </ng-container>
      
       <!-- Symbol Column -->
       <!-- <ng-container matColumnDef="Seller & Type">
        <th mat-header-cell *matHeaderCellDef>Seller & Type </th>
        <td mat-cell *matCellDef="let element"> {{element.seller}} </td>
      </ng-container> -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="Mfg. Year">
        <th mat-header-cell *matHeaderCellDef> Mfg. Year </th>
        <td mat-cell *matCellDef="let element"> {{element.mfg_year}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location.location}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button  class="iconbutton" color="primary" (click)="clickToEdit(element.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        <button mat-icon-button  class="iconbutton" color="warn" (click)="clickToDelete()">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <div *ngIf="productDataSource.length == 0">No records found</div> -->
    <mat-paginator #equipmentPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
    </mat-paginator>
  </div>
</div>
