<div class="popup">
  <!-- <div class="popup-hdr">
    Add/Edit Country
     <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->
  <div class="popup-body p-0">
    <div class="add-new-field mb-3">
      <h4 class="title">{{isEdit ?
        'Edit' : 'Add'}} Country</h4>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">Name<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <!-- <mat-label>Name<em>*</em></mat-label> -->
              <input matInput placeholder="Name" autocomplete="off" type="text" formControlName='Name' class="">
              <input formControlName='id' type="hidden">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">Code<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <!-- <mat-label>Code<em>*</em></mat-label> -->
              <input matInput placeholder="Code" autocomplete="off" type="text" formControlName='Code' class="">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3 upload-input">
            <!-- <mat-form-field floatLabel="never">
              <label class="f-12 d-block">Flag<span class="text-warning">*</span></label>
              <input matInput placeholder="" autocomplete="off" type="text" formControlName='Flag' class="">
            </mat-form-field> -->
            <label class="f-12 d-block">Flag<span class="text-warning">*</span></label>
            <div class="custom-file">
              <input type="file" id="fileInputFlagImg" class="custom-file-input" #fileInputFlagImg
                (change)="getFileName('fileInputFlagImg')" required>
              <label class="custom-file-label" (click)="fileInputFlagImg.click()"><span class="upload-icon2"></span>
                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                    file</span></span></label>
            </div>

            <div class="imgFile" *ngIf="imgName">
              <ul class="selectedFile">
                <li>
                  <a href="javascript:void(0)" target="_blank">{{imgName}}</a>
                  <span class="delet-icon" (click)="resetFile('fileInputFlagImg')">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </li>
              </ul>
            </div>

            <div class="edit-upload-img">
              <span *ngIf="flagImage">
                <img src={{flagImage}} alt="" class="imgHeight">
                <span class="delet-icon" (click)="deleteFlag(flagImage)">
                  <img src="../../../assets/images/Delete_icon.svg">
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">ISD Code<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <!-- <mat-label>ISD Code<em>*</em></mat-label> -->
              <input matInput placeholder="ISD Code" autocomplete="off" type="text" formControlName='ISDCode' class="">
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-6 mb-3"></div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <div class="text-right dialog-actions-container mt-2">
              <button class="default-btn-outline plr-md-40 mr-2" (click)="Close()" mat-button>Cancel</button>
              <!-- (click)="backClick() -->
              <button class="default-btn plr-md-40" [disabled]="!form?.valid || !isImgName" (click)="okClick()"
                mat-button>{{isEdit ?
                'Edit' : 'Add'}}</button>
            </div>
          </div>
        </div>
        <!--<div class="text-right dialog-actions-container mt-2">
        <button class="default-btn-outline plr-md-40 mr-2" (click)="Close()" mat-button>Cancel</button>
        <button class="default-btn plr-md-40" [disabled]="!form?.valid" (click)="okClick()" mat-button >Ok</button>
    </div> -->
      </form>
    </div>
  </div>
</div>