<main class="container-fluid">
    <section>
        <div *ngIf="selectedFormType == 'registrationType'" class="row">
            <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
                <app-left-menu-second></app-left-menu-second>
            </div>
            <div class="col-12  col-md-6 col-lg-7 right-side-container bg-white">
                <div class="signup-wrapper">
                    <h2>Register as a {{registrationTypeName}}</h2>
                    <p>Please choose your partnership type</p>
                    <form [formGroup]="frmRegistrationType" (ngSubmit)="moveNext($event,'RegistrationType')">
                    <div>
                        <div class="d-flex dealer-btn align-content-center mb-3 cursor-pointer active" (click)="selectRegistrationType($event,registrationTypes[0].id)">
                          <div class="dealer-icon">
                            <img src="../../../assets/images/dealer-icn.svg" alt="">
                          </div>
                            <div class="dealer-role">
                                <p class="f-16 mb-0">{{ registrationTypes[0].name }}</p>
                                <p class="f-12 mb-0 subtext">Enhance customer experience & benefits, Enable Faster TAT</p>
                            </div>
                            <div class="dealer-arrow">
                              <img src="../../../assets/images/noun_Arrow.svg" alt="">
                            </div>
                        </div>
                        <div class="d-flex dealer-btn align-content-center mb-3 cursor-pointer" (click)="selectRegistrationType($event,registrationTypes[1].id)">
                          <div class="dealer-icon">
                            <img src="../../../assets/images/manufacturing-icn.svg" alt="">
                          </div> 
                            <div class="dealer-role">
                                <p class="f-16 mb-0">{{ registrationTypes[1].name }}</p>
                                <p class="f-12 mb-0 subtext">Get visibility of the entire equipment lifecycle, 2nd Life and trade-in equipment sale and funnels for leads & sales for dealerships.</p>
                            </div>
                            <div class="dealer-arrow">
                              <img src="../../../assets/images/noun_Arrow.svg" alt="">
                            </div>
                        </div>
                        <div class="d-flex dealer-btn align-content-center mb-3 cursor-pointer" (click)="selectRegistrationType($event,registrationTypes[2].id)">
                          <div class="dealer-icon">
                            <img src="../../../assets/images/channel-icn.svg" alt="">
                          </div>
                            <div class="dealer-role">
                                <p class="f-16 mb-0">{{ registrationTypes[2].name }}</p>
                                <p class="f-12 mb-0 subtext">Get access to qualified leads with faster closure and better view of incentives</p>
                            </div>
                            <div class="dealer-arrow">
                              <img src="../../../assets/images/noun_Arrow.svg" alt="">
                            </div>
                        </div>
                        
                        <!-- <div class="d-flex dealer-btn align-content-center mb-3 cursor-pointer" (click)="selectRegistrationType($event,registrationTypes[3].id)">
                          <div class="dealer-icon">
                            <img src="../../../assets/images/valuation-icn.svg" alt="">
                          </div>                           
                            <div>
                                <p class="f-20 mb-0">{{ registrationTypes[3].name }}</p>
                                <p class="f-14 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    lorem Ipsum has been the industry’s standard dummy text ever</p>
                            </div>
                            <div class="dealer-arrow">
                              <img src="../../../assets/images/noun_Arrow.svg" alt="">
                            </div>
                        </div> -->
                        
                        <div class="ppartner-dealer-terms">
                              <mat-checkbox *ngIf="this.registrationTypeID==1" formControlName="becomeSouthPartner" >
                                I would also like to become a Source Partner with iQuippo</mat-checkbox>
                            <br>

                            <mat-checkbox [checked]="false" id="termCondition" (change)="isSubmitted=true;openTermAndConditions()" formControlName="tearmAndConditions">
                                I agree to iQuippo's Terms & Conditions</mat-checkbox>
                                        <div *ngIf="isSubmitted && frmRegistrationType?.get('tearmAndConditions')?.value==false">
                                          <span class="validation-err">Please agree to our conditions.</span>
                                          </div>

                           
                            <div class="form-group col-sm-12 text-right">
                                <label class="invisible">Button</label>
                                 <button mat-stroked-button [disabled]='(frmRegistrationType.invalid)' class="btn default-btn mat-button px-5 ng-scope">Next</button>
                               
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div *ngIf="selectedFormType == 'registrationInfo'" class="row">
            <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
                <app-left-menu-second></app-left-menu-second>
            </div>
            <div class="col-12  col-md-6 col-lg-7 right-side-container bg-white">
                <!-- <form [formGroup]="frmRegistrationInfo" (ngSubmit)="moveNext($event.submitter.name,'RegistrationInfo')"> -->
                <div class="signup-wrapper mt-4">
                    <h2>Welcome to {{registrationTypeName}} Registration</h2>
                    <p>Enter your mobile number below to continue dealer registration process</p>
                    <form [formGroup]='getotpForm'>
                        <div class="form-row">
                          <div class="col-12 mb-3">
                            <span class="validation-err" *ngIf="statuscodevar==229">Your session has expired. Please refresh the page to continue</span>
                          </div>
                          <div class="col-12 col-sm-3">
                            <mat-select  class="ptb-5 card-select payment-card-slct" [(value)]="selectedCity"  formControlName='countrycode' >
                              <mat-select-trigger>
                                <div class="d-block">
                                  <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                                  <div class="prefix-number">
                                    <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}({{selectedCity?.countryCode}})</p>
                                  </div>
                                </div>
                              </mat-select-trigger>
                              
                              <mat-option *ngFor="let country of countryList" [value]="country">
                                <div class="d-block">
                                  <img [src]="country.flag" class="saved-card-icn" alt="">
                                  <div class="prefix-number">
                                    <p class="mb-0 f-16 ln-20">{{country.prefixCode}}({{country?.countryCode}})</p>
                                  </div>
                                </div>
                              </mat-option>
                            </mat-select> 
                          </div>
                          <div class="col-12 col-sm-9">
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="Enter your mobile number" value="" [attr.maxlength]="maxLengthValue" formControlName='phone' (blur)="checkPhoneField()" (keyup)='statuscodevar=0;isGetOtpbtnHidden=false;' [ngClass]="isSubmittedPhone && (getotpForm.get('phone')?.hasError('required') || getotpForm.get('phone')?.hasError('minLength') || getotpForm.get('phone')?.hasError('maxLength')) ? 'haserror' : ''">
                            </mat-form-field>
                            <div *ngIf="getotpForm.get('phone')?.touched && !getotpForm.get('phone')?.valid"><span class="validation-err">Please input a valid Phone Number.</span></div>
                            <!-- <div *ngIf="getotpForm.get('phone')?.touched && getotpForm.get('phone')?.hasError('required')">
                              <span class="validation-err">Please enter the mobile number.</span>
                            </div> -->
                            
                            <span>
                              <span class="validation-scs" *ngIf="statuscodevar==219">OTP sent to your device successfully</span>
                              <div class="validation-err text-right" *ngIf="statuscodevar==202">You already have an account with iQuippo <br> <span class="clr000">Do you want to </span> <a (click)="redirecttologin()" style="color:#0d4fa3;"> Signin</a></div>
                              
                            </span> 
                          </div>
                          <div class="col-12">
                            
                          </div>
                        </div>
                        <div class="otp_btn">
                          <button mat-button (click)='getotpfn()' [hidden]="isGetOtpbtnHidden" [disabled]='getotpForm.invalid'>Get OTP</button>
                        </div>
                      </form>
                      <div class="otp-wrapper" *ngIf="statuscodevar==219" >
                        <form [formGroup]='submitOtp'>
                          <label for="">OTP</label>
                          <div class="row otp-group">
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField1' maxLength='1' minlength="1" #otpField1 (focus)="myfun('11')" (keyup)="myfun('1')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField2' maxLength='1' minlength="1" #otpField2 (focus)="myfun('22')" (keyup)="myfun('2')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField3' maxLength='1' minlength="1" #otpField3 (focus)="myfun('33')" (keyup)="myfun('3')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField4' maxLength='1' minlength="1" #otpField4 (focus)="myfun('44')" (keyup)="myfun('4')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField5' maxLength='1' minlength="1" #otpField5 (focus)="myfun('55')" (keyup)="myfun('5')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col">
                              <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="number" value="" formControlName='otpField6' maxLength='1' minlength="1" #otpField6 (focus)="myfun('66')" (keyup)="myfun('6')" onKeyPress="if(this.value.length==1) return false;"  />
                              </mat-form-field>
                            </div>
                            <div class="col-12">
                              <div>
                                <p class="validation-err" *ngIf="((submitOtp.get('otpField1')?.touched && submitOtp.get('otpField1')?.hasError('required')) || (submitOtp.get('otpField2')?.touched && submitOtp.get('otpField2')?.hasError('required')) || (submitOtp.get('otpField3')?.touched && submitOtp.get('otpField3')?.hasError('required')) || (submitOtp.get('otpField4')?.touched && submitOtp.get('otpField4')?.hasError('required')) || (submitOtp.get('otpField5')?.touched && submitOtp.get('otpField5')?.hasError('required')) || (submitOtp.get('otpField6')?.touched && submitOtp.get('otpField6')?.hasError('required')))">Enter complete 6 digit Numeric OTP.</p>
                                <p *ngIf="isSubmitted">
                                  <span class="validation-err" *ngIf="otpcodevar==260">OTP already verified</span>
                                  <span class="validation-err" *ngIf="otpcodevar==213">OTP didn't match</span>
                                  <span class="validation-err" *ngIf="otpcodevar==500">Exception raised</span>
                                </p>
                              </div> 
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-8 tnc-txt mt-4"><mat-checkbox [checked]="false" (change)='onTermConditionChange($event)' [(ngModel)]='isCheckedTermsCondition' formControlName="agree">I agree to iQuippo’s </mat-checkbox><a href="javascript:void(0)" class="tnclink" (click)="termsConditions()">Terms & Conditions</a>
                              <div *ngIf="submitOtp.get('agree')?.hasError('isAgree')">
                                <span class="validation-err">Please agree to our Terms & Conditions.</span>
                                </div>
                              </div>
                              <div class="col-12 col-sm-4 pl-md-0 resendotp mt-4">
                                <a *ngIf="!resendOTP" href="javaScript:void(0)" >Resend OTP in {{remainingTime}}</a>
                                <a *ngIf="resendOTP" href="javaScript:void(0)" (click)='resentOtp()' >Resend OTP</a>
                              </div>
                          </div>
                          <div class="cont_btn">
                            <button mat-button (click)='submitotpfn()' [disabled]='submitOtp.invalid || submitOtp.get("agree")?.value==false'>Continue</button>
                          </div>
                        </form>
                      </div>
                </div>
            <!-- </form> -->
            </div>
        </div>
        <div *ngIf="selectedFormType == 'registrationDetails'" class="row">
            <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
                <app-left-menu-second></app-left-menu-second>
            </div>
            <div class="col-12  col-md-6 col-lg-7 right-side-container bg-white">
              <div class="signup-wrapper mt-4">
                <form [formGroup]='basicinfoform' class="mt-4">
                  <h2>Welcome to  {{registrationTypeName}} Registration</h2>
                  <p>Enter your basic information</p>
                     <div class="sign-in-pwd-wrapper">
                        <div class="col-12 col-sm-9 err-msg ml-n2 pl-0  mt-5">
                            {{ message == "PreSignUp failed with error User with the provided Email id already exists." ? "User with the provided Email id already exists." : ""}}
                            {{ message == "PreSignUp failed with error User with the provided Mobile Number already exists." ? "User with the provided Mobile Number already exists." : ""}}
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="" class="form-label d-block f-12">Mobile Number</label>
                                <mat-form-field floatLabel="never" class="input-wrapper">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName='mobile' readonly='readonly' class="readonly">
                                    <mat-icon class="material-icons input-icon color-green" matSuffix>check_circle</mat-icon>
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('required')">
                                    <span class="validation-err">Please enter the mobile number.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('minLength')">
                                    <span class="validation-err">Please enter a valid mobile number with country code.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('maxLength')">
                                    <span class="validation-err">Please enter a valid mobile number with country code.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 mb-3">
                                <label for="" class="form-label d-block f-12">Password</label>
                                <mat-form-field floatLabel="never" class="input-wrapper">
                                    <input matInput placeholder="" autocomplete="off" [type]="fieldTextType ? 'text' : 'password'" formControlName='password' >
                                    <mat-icon class="material-icons-outlined input-icon cursor-pointer" matSuffix (click)="fieldTextType = !fieldTextType">{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                                <span class="f-10">
                                    Your passowrd must contain atleast one upper case, one lower case, one numeric and one special charecter.
                                </span>
                                <div *ngIf="basicinfoform.get('password')?.touched && basicinfoform?.get('password')?.hasError('required')">
                                    <span class="validation-err">Please enter the password.</span>
                                    </div>
                                <div *ngIf="basicinfoform.get('password')?.touched && basicinfoform?.get('password')?.hasError('pattern')">
                                    <span class="validation-err">Please use minimum one lower case, one upper case, one symbol and one digit, password length should be 8 characters or more.</span>
                                </div>																													
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="" class="form-label d-block f-12">Confirm password</label>
                                <mat-form-field floatLabel="never" class="input-wrapper">
                                    <input matInput placeholder="" [type]="fieldTextType1 ? 'text' : 'password'"   formControlName='confirmpassword'>
                                    <mat-icon class="material-icons-outlined input-icon cursor-pointer" matSuffix (click)="fieldTextType1 = !fieldTextType1">{{fieldTextType1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('confirmpassword')?.touched && basicinfoform?.get('confirmpassword')?.hasError('required')">
                                    <span class="validation-err">Please re-enter the password.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('confirmpassword')?.touched && basicinfoform?.get('confirmpassword')?.hasError('mustMatch')">
                                    <span class="validation-err">Password didn't match.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-3">
                                <label class="form-label d-block f-12" for="">First Name(Name as per PAN)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" type="text" (blur)="firstnameBlur=true" formControlName='firstname' maxlength="256">
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('required')">
                                    <span class="validation-err">Please enter the first name.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('minlength')">
                                    <span class="validation-err">Please enter minimum 1 characters.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('maxlength')">
                                    <span class="validation-err">Please enter maximum 256 characters.</span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <label class="form-label d-block f-12" for="">Last Name</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" type="text" (blur)="lastnameBlur=true" formControlName='lastname' maxlength="256">
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('required')">
                                    <span class="validation-err">Please enter the last name.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('minlength')">
                                    <span class="validation-err">Please enter minimum 1 characters.</span>
                                </div>
                                <div *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('maxlength')">
                                    <span class="validation-err">Please enter maximum 256 characters.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-3">
                                <label class="form-label d-block f-12" for="">Date Of Birth</label>
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input matInput [matDatepicker]="picker" [max]="minDate" (click)="picker.open()"  readonly formControlName='dob' max="{{minAge | date:'yyyy-MM-dd'}}">
                                    <mat-datepicker-toggle matSuffix class="calender-icon" [for]="picker">
                                      <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                      </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="basicinfoform?.get('dob')?.hasError('dobError') && basicinfoform?.get('dob')?.touched">
                                    <span class="validation-err">Age should be 18 & above</span>
                                </div>
                                 <div *ngIf="basicinfoform?.get('dob')?.touched && basicinfoform?.get('dob')?.value==''">
                                  <span class="validation-err">Please enter the date of birth.</span>
                                  </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-3">
                                <label class="form-label d-block f-12" for="">PIN Code</label>
                                <mat-form-field floatLabel="never" [class.haserror]="pinCodeErrorFlag">
                                <input matInput placeholder="" [class.haserror]="pinCodeErrorFlag" type="text" maxlength="50" formControlName='pincode' (blur)="getpinCodefn();pincodeBlur=true">
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('pincode')?.touched && basicinfoform?.get('pincode')?.value!='' && pincodeBlur && (basicinfoform?.get('pincode')?.hasError('minlength') || pinCodeErrorFlag || basicinfoform?.get('pincode')?.hasError('maxlength') || basicinfoform?.get('pincode')?.hasError('pattern'))">
                                <span class="validation-err">Please input a valid pincode</span>
                                </div>
                                <div *ngIf="basicinfoform.get('pincode')?.touched && basicinfoform?.get('pincode')?.hasError('required')">
                                    <span class="validation-err">Please enter the pincode.</span>
                                </div>
                                <!-- <div *ngIf="pinCodeErrorFlag">
                                    <span class="validation-err">Please input a valid pincode</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="" class="form-label d-block f-12">Email</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" (blur)="checkEmailField()" type="text" formControlName='Email'>                                       
                                </mat-form-field>
                                <div *ngIf="basicinfoform.get('Email')?.touched && basicinfoform?.get('Email')?.hasError('email')">
                                    <span class="validation-err">Please input a valid email</span>
                                </div>
                                <div *ngIf="basicinfoform.get('Email')?.touched && basicinfoform?.get('Email')?.hasError('required')">
                                    <span class="validation-err">Please enter the email address.</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12 tnc-txt mb-3"><mat-checkbox [checked]="false" (change)="isSubmitted=true" formControlName="agree">I agree that I am 18 years or above.</mat-checkbox>
                                <div *ngIf="isSubmitted && basicinfoform?.get('agree')?.value==false">
                                  <span class="validation-err">Please agree to our conditions.</span>
                                  </div>
                                </div>
                        </div> -->
                        <div class="mb-3">
                            <div class="cont_btn">
                                <button mat-flat-button (click)='creatAccount()' [disabled]='basicinfoform.invalid || isSubmitted || pinCodeErrorFlag'>Create My Account</button>
                              </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
      </div>
        <div *ngIf="selectedFormType == 'registrationUnderProcess'" class="row">
            <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
                <app-left-menu-second></app-left-menu-second>
            </div>
            <div class="col-12  col-md-6 col-lg-7 right-side-container bg-white">
              <div class="no-rgstr mt-4 bg-white">
                <div class="d-flex">
                    <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2">
                    <div class="w-80">
                        <p class="f-22 mb-0">Request Under Process.</p>
                        <p class="f-14 mb-0">
                            Your Request in under process. Our business team will review and get back to you in 2-3 working days.
                        </p>
                    </div>
                    <div>
                        <button class="default-btn d-none" mat-button (click)="mapOrg()">Next</button>
                    </div>
                </div>
            </div>
            </div>
      </div>
    </section>
</main>