.signup-wrapper {
    padding:1em 0em;margin:0 auto;
}
.dealer-btn{
    border: 1px solid #C4CFD8;
    border-radius: 10px;
    padding: 15px;
    background: #F5F8FA;
    position: relative;
}
.dealer-role {
    width: 84%;
}
 .dealer-btn.active{
   border: 2px solid darkblue;
}
.dealer-icon {
    margin-right: 10px;
}
.dealer-arrow {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0px, -50%);
}
.dealer-arrow img {
    width: 9px;
}
.no-rgstr{
    padding: 30px;
    border: 1px solid #C4CFD8;
    border-radius: 10px;
    
}

.input-wrapper {position: relative;}
.input-wrapper .input-icon {position: absolute; top: -28px; right: 10px;}

.sign-in-pwd-wrapper label {color: #77828a; font-weight: 500;}
.datepicker-input {
    position: relative;
}
.calender-icon {
    position: absolute;
    top: -32px;
    right: 10px;
}

.subtext {display: block;}

@media (max-width: 767px) { 
    .dealer-role {
        width: 54%;
    }
    
    
    .mat-checkbox-layout {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: inherit;
        align-items: baseline;
        vertical-align: middle;
        display: inline-flex;
        white-space: normal;
        font-size: 11px;
    }
    .left-side-container .welcome-box p.sub-header-text {
        margin-bottom: .5rem;
        font-size: 12px;
    }
    .right-side-container {
        z-index: 999999;
        margin-top: 150px;
        margin-bottom: 120px;
    }
    .left-side-container .welcome-box ul.tracker-list p{font-size: 12px !important;}
    .dealer-btn  {
        border: 1px solid #c4cfd8;
        border-radius: 10px;
        padding: 15px;
        background: #f5f8fa;
        white-space: normal;
    }
    .signup-wrapper {padding: 1rem 1rem 1rem;}

 }


 .signup-wrapper h2 {
    font-size: 24px;
    font-weight: 500;
    color: #001229;
}


@media (max-width: 576px) { 

    .dealer-btn {display: inline-block !important; width: 100%; padding: 10px;}
    .dealer-arrow , .dealer-icon {display: inline-block;}
    .dealer-role {display: inline-block;}
    .dealer-btn.active {border: 1px solid #00008b;}
    .right-side-container {margin-top: 170px;}
    .dealer-icon img {width: 50px;}
    .subtext {display: none;}
    .signup-wrapper h2 {font-size: 22px;}
   
}