.errorClass {
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.used-upload-section label{color: #77828a; font-weight: 500;}
.save-btn button {padding: 2px 50px;}

.add-new-field {border: 1px solid #c4cfd8; border-radius: 6px;}
.add-new-field h4.title {font-size: 16px; color: #fff; background-color: #0f3d94; padding: 15px 10px; border-radius: 6px 6px 0px 0px;}
.add-new-field form {padding: 10px;}