<div class="add-new-field mb-3">
    <h4 class="title">Add Field</h4>

    <form [formGroup]="addNewForm" class="used-upload-section">
        <div class="row">
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Select Category <span class="text-warning">*</span></label>
                <mat-select formControlName="category" placeholder="Select Category"
                    (ngModelChange)="getBrands($event)">
                    <mat-option>Select Category*</mat-option>
                    <mat-option *ngFor="let c of categoryArr" [value]="c.id">
                        {{c.name}}
                    </mat-option>
                </mat-select>
                <div class="errorClass" *ngIf="addNewForm.get('category')?.errors && addNewForm.get('category')?.invalid && 
                    (addNewForm.get('category')?.touched || addNewForm.get('gross_Weight')?.touched
                    || addNewForm.get('operating_weight')?.touched ||
                    addNewForm.get('bucket_capacity')?.touched ||
                    addNewForm.get('engine_power')?.touched ||
                    addNewForm.get('lifting_capacity')?.touched ||
                      addNewForm.get('category')?.dirty)">
                    <span *ngIf="addNewForm.get('category')?.errors?.required">Please select category</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Select Brand <span class="text-warning">*</span></label>
                <mat-select formControlName="brand" placeholder="Select Brand" (ngModelChange)="getModels($event)">
                    <mat-option>Select Brand*</mat-option>
                    <mat-option *ngFor="let b of brandArr" [value]="b?.id">
                        {{b?.name}}
                    </mat-option>
                </mat-select>
                <div class="errorClass" *ngIf="addNewForm.get('brand')?.errors && addNewForm.get('brand')?.invalid &&
                     (addNewForm.get('brand')?.touched || addNewForm.get('gross_Weight')?.touched
                     || addNewForm.get('operating_weight')?.touched ||
                     addNewForm.get('bucket_capacity')?.touched ||
                     addNewForm.get('engine_power')?.touched ||
                     addNewForm.get('lifting_capacity')?.touched 
                      || addNewForm.get('brand')?.dirty)">
                    <span *ngIf="addNewForm.get('brand')?.errors?.required">Please select brand</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Select Model <span class="text-warning">*</span></label>
                <mat-select formControlName="model" placeholder="Select Model">
                    <mat-option>Select Model*</mat-option>
                    <mat-option *ngFor="let m of modelArr" [value]="m?.id">
                        {{m?.name}}
                    </mat-option>
                </mat-select>
                <div class="errorClass" *ngIf="addNewForm.get('model')?.errors && addNewForm.get('model')?.invalid && 
                    (addNewForm.get('model')?.touched ||
                    addNewForm.get('gross_Weight')?.touched
                    || addNewForm.get('operating_weight')?.touched ||
                    addNewForm.get('bucket_capacity')?.touched ||
                    addNewForm.get('engine_power')?.touched ||
                    addNewForm.get('lifting_capacity')?.touched || addNewForm.get('model')?.dirty)">
                    <span *ngIf="addNewForm.get('model')?.errors?.required">Please select model</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Gross Weight (Kg)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Gross Weight" formControlName="gross_Weight">
                </mat-form-field>
                <div class="errorClass" *ngIf="addNewForm.get('gross_Weight')?.errors && addNewForm.get('gross_Weight')?.invalid && 
                    (addNewForm.get('gross_Weight')?.touched || addNewForm.get('gross_Weight')?.dirty)">
                    <span *ngIf="addNewForm.get('gross_Weight')?.errors?.required">Please enter Gross Weight</span>
                    <span *ngIf="addNewForm.get('gross_Weight')?.errors?.pattern">Characters not allowed</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Operating Weight (Kg)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Operating Weight" formControlName="operating_weight">
                </mat-form-field>
                <div class="errorClass" *ngIf="addNewForm.get('operating_weight')?.errors && addNewForm.get('operating_weight')?.invalid &&
                     (addNewForm.get('operating_weight')?.touched || addNewForm.get('operating_weight')?.dirty)">
                    <span *ngIf="addNewForm.get('operating_weight')?.errors?.required">Please enter Gross Weight</span>
                    <span *ngIf="addNewForm.get('operating_weight')?.errors?.pattern">Characters not allowed</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Bucket Capacity (Kg)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Bucket Capacity" formControlName="bucket_capacity">
                </mat-form-field>
                <div class="errorClass"
                    *ngIf="addNewForm.get('bucket_capacity')?.errors && addNewForm.get('bucket_capacity')?.invalid && (addNewForm.get('bucket_capacity')?.touched || addNewForm.get('bucket_capacity')?.dirty)">
                    <span *ngIf="addNewForm.get('bucket_capacity')?.errors?.required">Please enter Gross Weight</span>
                    <span *ngIf="addNewForm.get('bucket_capacity')?.errors?.pattern">Characters not allowed</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Engine Power (cc)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Engine Power" formControlName="engine_power">
                </mat-form-field>
                <div class="errorClass"
                    *ngIf="addNewForm.get('engine_power')?.errors && addNewForm.get('engine_power')?.invalid && (addNewForm.get('engine_power')?.touched || addNewForm.get('engine_power')?.dirty)">
                    <span *ngIf="addNewForm.get('engine_power')?.errors?.required">Please enter Gross Weight</span>
                    <span *ngIf="addNewForm.get('engine_power')?.errors?.pattern">Characters not allowed</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                <label class="f-12 d-block">Lifting Capicity (kg)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Lifting Capicity" formControlName="lifting_capacity">
                </mat-form-field>
                <div class="errorClass"
                    *ngIf="addNewForm.get('lifting_capacity')?.errors && addNewForm.get('lifting_capacity')?.invalid && (addNewForm.get('lifting_capacity')?.touched || addNewForm.get('lifting_capacity')?.dirty)">
                    <span *ngIf="addNewForm.get('lifting_capacity')?.errors?.required">Please enter Gross Weight</span>
                    <span *ngIf="addNewForm.get('lifting_capacity')?.errors?.pattern">Characters not allowed</span>
                </div>
            </div>

            <div class="form-group col-sm-12 pt-sm-4">
                <div class="text-right save-btn">
                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="close()">Close</button>
                    <button class="default-btn mr-2 mt-sm-2" mat-button (click)="resetForm()">Reset</button>
                    <button class="default-btn mt-sm-2" mat-button [disabled]="addNewForm.invalid"
                        (click)="saveForm(addNewForm.value)">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>