.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #a0adb7;
    color: #000000;
    position: relative;
}

.popup-body {
    padding: 20px;
    overflow-y: auto;
    height: 80vh;
}

.detail-table {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 15px;
}

.detail-table h4 {
    font-size: 15px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px 4px 0px 0px;
    color: #020202;
}

.detail-table table {
    width: 98% !important;
    margin: 0px auto 10px;
}

.modal-popup .close-btn {
    line-height: inherit;
    margin-top: 0px;
}

.popup {
    background: #fff;
    border-radius: 20px;
}


/* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */

.close-btn:focus {
    outline: unset !important;
}

table {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
}

table td {
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 6px;
}

.dialog-actions-container {
    margin-top: 16px;
}
/* 
.detail-table b {
    font-weight: 400;
} */

@media(max-width:767px) {

    .asset-table td {
        padding: 6px!important;
    width: auto; 
    height: auto!important; 
     white-space: nowrap!important; 
    line-height: inherit!important; 
     flex: none;
     min-height: inherit!important;
    }
    .asset-table .table-responsive {
        overflow: auto !important;
    }
    .detail-table tbody {
        display: table;
        width: 100%;
    }
    tr.bid-info-table tbody {
        display: table;
        width: 100%;
    }
    tr.bid-info-table table tbody td {
        display: table-cell;
        width: inherit;
        min-height: inherit;
    }
    tr.bid-info-table table tbody tr {
        display: table-row;
    }
    tr.info-table td {
        display: block;
        width: 100%;
    }
    tr.info-table td table tr {
        display: table-row;
    }
    tr.info-table td table tr td {
        width: inherit;
        display: table-cell;
    }
    .asset-table td {
        font-size: 12px;
    }
    tr.bid-info-table td:nth-child(1),
    tr.bid-info-table td:nth-child(2) {
        display: block;
        width: 100%;
    }
}