
.main-heading {
    font-size: 32px;
    font-weight: 700;
}

.upload-sub-section .title {
    font-size: 16px;
    padding: 10px;
    background: #0d4fa3;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
}

.used-upload-section label,
.upload-sub-section label {
    color: #77828a;
    font-weight: 500;
}

.datepicker-bx .mat-form-field {
    position: relative;
}

.datepicker-bx .mat-form-field .mat-form-field-suffix {
    position: absolute;
    right: 5px;
    top: 46%;
    transform: translate(0px, -50%);
    vertical-align: top;
}

.instructions-bx {
    background: #fcdd98;
    border-radius: 10px;
    padding: 15px;
}

.instructions-bx p {
    font-size: 14px;
}

.instructions-bx ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.instructions-bx ul li {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
}

.primary-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}

.imgHeight {
    height: 80px;
}

.datepicker-input {
    position: relative;
}

.datepicker-input .calender-icon {
    position: absolute;
    top: -35px;
    right: 10px;
}

.save-btn button {
    padding: 0px 50px;
}

.upload-sub-section {
    margin-bottom: 15px;
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    background: #fdfdfd;
}

.upload-sub-section .sub-section-field {
    padding: 10px;
}

.custom-file {
    height: 40px;
}

.lisFile {
    width: calc(100% - 2px);
}

.lisFile ul li a.file-upload {
    width: 85%;
}

.lisFile ul li a.delet-icon {
    margin-top: -3px;
    margin-right: 0px;
}

.lisFile {
    top: 1px;
    height: 38px;
    left: 1px;
}

.sell-visuals {
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    background-color: #fdfdfd;
}

.file-upload-box .custom-file {
    height: 80px;
}

.special-offer {
    cursor: pointer;
}




@media screen and (max-width: 767px) {
  
    .main-heading {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        line-height: 28px;
    }
    .save-btn button {
        padding: 5px 35px;
    }
    .used-upload-section .title {
        font-size: 15px;
    }
}

.mat-tab-label-container {
    overflow: hidden !important;
}

.repeated-offers {
    width: 97%;
    margin: 0 auto 1em;
    border: 1px solid #eee;
    padding: 10px 5px;
}

.add-morebtn {
    text-align: right;
}

section.sell-visuals h3 {
    font-size: 16px;
    padding: 10px;
    background: #0d4fa3;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0px !important;
}

.mat-tab-group {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 6px;
}

.shadow-dateInput {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

@media(max-width:767px) {
    .add-morebtn {
        margin-bottom: 15px !important;
    }
    .offer-remove button {
        width: 100%;
        margin-top: 0px !important;
    }
    .offer-remove {
        padding: 0px 5.5px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .add-morebtn button {
        width: 100%;
    }
    .addmore div,
    .addmore button {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .save-btn button {
        width: 100%;
        margin-bottom: 1em;
        margin-left: 0px !important;
    }
}


@media(max-width: 576px) {

    .admin-page-buttons { padding-top: 10px;}
    .admin-page-buttons button {width: 100%; margin: 5px 0px;}
}