<main class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/products/new-products']">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">New equipment upload</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-12">
                <h3 class="admin-page-title">New equipment upload</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-12">
                <span class="mr-2" *ngIf="this.editableRowData != null"><b>Asset Id:</b> {{this.editableRowData.id}}</span>
                <span class="mr-2" *ngIf="this.editableRowData != null"><b>Status:</b> {{getStatus(this.editableRowData.status)}}</span>
                <button mat-button class="default-btn mr-2" *ngIf="isEdit && !isApproved" type="button" [disabled]="isApproved" (click)="approve()">Approve</button>
                <button mat-button class="default-btn-outline mr-2" *ngIf="isEdit && !isApproved" type="button" [disabled]="isApproved" (click)="reject()">Reject</button>
            </div>


        </div>
        <section class="myself-details-main-wrapper">
            <div class="row">
                <div class="col-12 p-0">
                    <!-- <div class="progress-block"> -->
                    <!-- New equipment upload -->
                    <!-- </div> -->
                </div>
            </div>
        </section>
        <section class="vehicle-basic-dtl used-upload-section">
            <form [formGroup]="newProductUpload">
                <section class="upload-sub-section">
                    <h3 class="title">Seller information</h3>
                    <div class="sub-section-field">
                        <div class="row">


                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="form-label f-12 d-block" for="">Seller Type <span class="required">*</span></label>
                                <mat-select placeholder="Select Seller Type" [(ngModel)]="sellerTypeValue" (selectionChange)="sellerTypeSelect(sellerTypeValue)" formControlName="seller_type">
                                    <mat-option *ngFor="let type of sellerTypeArray" [value]="type.value">
                                        {{ type.typeName }}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="(newProductUpload.get('seller_type')?.touched) && newProductUpload?.get('seller_type')?.hasError('required')">
                                    <span class="validation-err">Please select seller type</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="form-label f-12 d-block" for=""> Mobile Number<span class="required">*</span></label>

                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto1" #trigger="matAutocompleteTrigger" placeholder="Search seller by mobile number" (keyup)="keyPress($event)" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'')" (keyup.enter)="keyPress($event);trigger.openPanel()" maxlength="256" formControlName='mobile'>
                                    <mat-autocomplete #auto1="matAutocomplete">
                                        <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller?.cognito_id)" [value]="seller?.first_name">
                                            {{seller?.first_name}} ({{seller?.mobile_number}})</mat-option>
                                        <!-- <mat-option *ngIf="sellerList?.length == 0" value="">No such user exists with valid
                                        Agreement</mat-option> -->
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('mobile')?.touched) && newProductUpload?.get('mobile')?.hasError('required')">
                                    <span class="validation-err">Please enter the mobile number.</span>
                                </div>
                                <div *ngIf="(newProductUpload.get('mobile')?.touched) && this.isMobileInvalid">
                                    <span class="validation-err">Please enter valid mobile number.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="f-12 d-block" for=""> Name<span class="required">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Name" maxlength="256" type="text" formControlName='firstname' readonly>
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('firstname')?.touched && newProductUpload?.get('firstname')?.hasError('required')">
                                    <span class="validation-err">Please enter the name.</span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="f-12 d-block" for=""> Email<span class="required">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Email" type="text" formControlName='email'>
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('email')?.touched && newProductUpload?.get('email')?.hasError('required')">
                                    <span class="validation-err">Please enter the email.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="upload-sub-section">
                    <h3 class="title">Basic information</h3>
                    <div class="sub-section-field">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Category<span class="required">*</span></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto" placeholder="Enter Category" type="text" (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateValidationsBasic();onCategorySelect($event.option.value)">
                                        <mat-option *ngFor="let category of categoryList" [value]="category">
                                            {{category.name}}</mat-option>
                                        <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('category')?.touched && newProductUpload?.get('category')?.hasError('required')">
                                    <span class="validation-err">Please enter the category.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="newProductUpload?.get('category')?.value == 'Other'">
                                <label for="" class="f-12 d-block">Other Category</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter other Category" autocomplete="off" type="text" formControlName="otherCategory">
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('otherCategory')?.touched ) && newProductUpload?.get('otherCategory')?.hasError('required')">
                                    <span class="validation-err">Please enter the category.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Product brand<span class="required">*</span></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto2" placeholder="Enter Product Brand" type="text" (keyup)="filterValuesBrand($event)" formControlName='brand' maxlength="256">
                                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="updateValidationsBasic();onBrandSelect($event.option.value)">
                                        <mat-option *ngIf="brandList?.length == 0" value="0">Other</mat-option>
                                        <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('brand')?.touched && newProductUpload?.get('brand')?.hasError('required')">
                                    <span class="validation-err">Please enter the brand.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="newProductUpload?.get('brand')?.value == 'Other'">
                                <label for="" class="f-12 d-block">Other Brand</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter other Brand" autocomplete="off" type="text" formControlName="otherBrand">
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('otherBrand')?.touched) && newProductUpload?.get('otherBrand')?.hasError('required')">
                                    <span class="validation-err">Please enter the brand.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Product model<span class="required">*</span></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto3" placeholder="Enter Product Model" (keyup)="filterValuesModal($event)" type="text" formControlName='modal' maxlength="256">
                                    <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="updateValidationsBasic();onModalSelect($event.option.value); this.getTechSpecifications();">
                                        <mat-option *ngIf="modelList?.length == 0" value="Other">Other</mat-option>
                                        <mat-option *ngFor="let model of modelList " [value]="model">{{model.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('modal')?.touched && newProductUpload?.get('modal')?.hasError('required')">
                                    <span class="validation-err">Please enter the model.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="newProductUpload?.get('modal')?.value == 'Other'">
                                <label for="" class="f-12 d-block">Other Model</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Other model" autocomplete="off" type="text" formControlName="otherModel">
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('otherModel')?.touched) && newProductUpload?.get('otherModel')?.hasError('required')">
                                    <span class="validation-err">Please enter the model.</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Certificate</label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="select-new-ui" formControlName="certificate" placeholder="Select certificate" multiple>
                                        <mat-option *ngFor="let certificate of certificateList" [value]="certificate.id">
                                            {{certificate.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('certificate')?.touched) && newProductUpload?.get('certificate')?.hasError('required')">
                                    <span class="validation-err">Please enter the certificate.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Product Name </label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Product name" type="text" formControlName='Prdoduct_name' maxlength="256" readonly>
                                </mat-form-field>
                                <div *ngIf="(newProductUpload.get('Prdoduct_name')?.touched) && newProductUpload?.get('Prdoduct_name')?.hasError('required')">
                                    <span class="validation-err">Please enter product name.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Active</label>
                                <mat-radio-group aria-label="Select an option" formControlName="isActive">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="(newProductUpload.get('isActive')?.touched ) && newProductUpload?.get('isActive')?.hasError('required')">
                                    <span class="validation-err">Please select an option.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="form-label f-12 d-block" for="">Trade Type</label> Sell
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Relationship Manager</label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="form-control" placeholder="Relationship Manager" formControlName='relationship_manager'>
                                        <mat-option>Relationship Manager</mat-option>
                                        <!-- <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                  </mat-option> -->
                                        <mat-option *ngFor="let manager of relationshipManager;" [value]="manager?.id">
                                            {{manager?.user?.first_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="upload-sub-section">
                    <h3 class="title">Equipments Details</h3>
                    <div class="sub-section-field">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Would you like to provide price on request <span class="required">*</span></label>
                                <mat-radio-group aria-label="Select an option" formControlName="isPriceOnRequest" (change)="updatePriceValidation()">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="newProductUpload?.get('isPriceOnRequest')?.touched && newProductUpload?.get('isPriceOnRequest')?.hasError('required')">
                                    <span class="validation-err">Please enter if you like to provide price on request.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="newProductUpload?.get('isPriceOnRequest')?.value == '0'">
                                <label for="" class="f-12 d-block">Ex-Showroom Price (INR)<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Ex-showroom Price" nuoninput="this.value=this.value.replace(/[^0-9]/g,'')" mbersOnly type="text" formControlName="showroomPrice">
                                </mat-form-field>
                                <div *ngIf="newProductUpload.get('showroomPrice')?.touched && newProductUpload?.get('showroomPrice')?.hasError('required')">
                                    <span class="validation-err">Please enter the showroom price.</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Upload brochure</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" formControlName="brochure" (change)="handleUpload($event,'brochure','front');">
                                    <div *ngIf="newProductUpload.get('brochure')?.touched && newProductUpload?.get('brochure')?.hasError('required')">
                                        <span class="validation-err">Please enter the brochure.</span>
                                    </div>
                                    <label class="custom-file-label custom-file-label2"><span
                                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                        class="upload-icon2"></span></label>
                                    <div class="lisFile" *ngIf="documentName.length > 0">
                                        <ul class="selectedFile">
                                            <li>
                                                <a class="file-upload" href="{{documentName[documentName.length-1].url}}" target="_blank">{{documentName[documentName.length-1].name}}</a>
                                                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                                <a class="delet-icon" (click)="resetFile()">
                                                    <img src="../../../assets/images/Delete_icon.svg" />
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Year of Manufacture<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="select-new-ui" formControlName="yearOfManufacture">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option [value]="year" *ngFor="let year of yearOfManufacture">{{year}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('yearOfManufacture')?.touched && newProductUpload?.get('yearOfManufacture')?.hasError('required')">
                                    <span class="validation-err">Please enter year of manufacturer.</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Fuel type</label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="select-new-ui" formControlName="fuelType">
                                        <mat-option value="">--Fuel type--</mat-option>
                                        <mat-option [value]="1">CNG</mat-option>
                                        <mat-option [value]="2">Diesel</mat-option>
                                        <mat-option [value]="3">Petrol</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <div
                                *ngIf="newProductUpload?.get('fuelType')?.touched && newProductUpload?.get('fuelType')?.hasError('required')">
                                <span class="validation-err">Please enter fuel Type.</span>
                            </div> -->
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Engine Power (CC)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Engine Power" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="enginePower">
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('enginePower')?.touched && newProductUpload?.get('enginePower')?.hasError('required')">
                                    <span class="validation-err">Please enter engine power.</span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Gross Weight (Kg)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Gross Weight" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="grossWeight">
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('grossWeight')?.touched && newProductUpload?.get('grossWeight')?.hasError('required')">
                                    <span class="validation-err">Please enter gross weight.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Operating Weight (Kg)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Operating Weight" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="operatingWeight">
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('operatingWeight')?.touched && newProductUpload?.get('operatingWeight')?.hasError('required')">
                                    <span class="validation-err">Please enter operating weight.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Bucket Capacity (Kg)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Bucket Capacity" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="bucketCapcity">
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('bucketCapcity')?.touched && newProductUpload?.get('bucketCapcity')?.hasError('required')">
                                    <span class="validation-err">Please enter bucket capcity.</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label for="" class="f-12 d-block">Lifting Capacity (kg)</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter Lifting Capacity" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="liftingCapcity">
                                </mat-form-field>
                                <div *ngIf="newProductUpload?.get('liftingCapcity')?.touched && newProductUpload?.get('liftingCapcity')?.hasError('required')">
                                    <span class="validation-err">Please enter lifting Capcity.</span>
                                </div>
                            </div>
                            <form [formGroup]="demoForm" class="w-100">
                                <div class="row m-0">

                                    <div formArrayName="demoArray" *ngFor="let arrayItem of arrayItems; let i=index" class="col-sm-4 mb-3">
                                        <div>
                                            <label for="" class="f-6 d-block">{{arrayItem.title}} {{arrayItem.field_unit}}</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" [formControlName]="i">
                                            </mat-form-field>

                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 mb-3">
                                <label for="" class="f-12 d-block">Unique Selling Feature</label>
                                <div formArrayName="uspAddArray">
                                    <div class="row" *ngFor="let bank of newProductUpload?.get('uspAddArray')?.controls; let k = index; let last = last" [formGroupName]="k">

                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                            <input type="text" placeholder="Enter USP" maxlength="50" formControlName="Usp" aria-label="Number" matInput>
                                            <!-- <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of basicUSPList" [value]="option">
                                                {{option}}
                                            </mat-option>[matAutocomplete]="auto"
                                        </mat-autocomplete> -->
                                            <!-- <div
                                            *ngIf="newProductUpload?.get('uspAddArray')?.controls[k]?.get('Usp')?.touched && newProductUpload?.get('uspAddArray')?.controls[k]?.get('Usp')?.hasError('required')">
                                            <span class="validation-err">Please enter usp.</span>
                                        </div> -->
                                        </div>
                                        <div class="col-sm-4 mb-3 btns-dash">
                                            <div class="d-inline-block admr">
                                                <button class="default-btn mat-button mr-3 " *ngIf="last" mat-flat-button (click)="newUspData()">
                                                Add More
                                            </button>
                                            </div>
                                            <div class="remove-feild d-inline-block removemr">
                                                <button class="default-btn-outline mat-button" mat-flat-button [disabled]="newProductUpload?.get('uspAddArray')?.controls?.length == 1" *ngIf="newProductUpload?.get('uspAddArray')?.controls?.length>=1" (click)="removeUspFormGroup(k)">Remove
                                            </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </form>

        </section>
        <section class="upload-sub-section">
            <h3 class="title">Offers</h3>
            <div class="sub-section-field">
                <form [formGroup]="offersForm">
                    <ng-container formArrayName="offersArray">
                        <div class="row" *ngFor="let offers of offersForm?.get('offersArray')?.controls; index as i;trackBy:trackByFn">
                            <ng-container [formGroupName]="i">
                                <div class="repeated-offers row">
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label for="" class="f-12 d-block">Type of Offer</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-select class="select-new-ui" formControlName="typeOfOffer" (selectionChange)="onOfferTypeSelect($event.value);updateValidations(i)">
                                                <mat-option value="">-- Select offer type --</mat-option>
                                                <mat-option value="3">Cash</mat-option>
                                                <mat-option value="1">Finance</mat-option>
                                                <!-- <mat-option value="2">Lease</mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.hasError('required')">
                                            <span class="validation-err">Please enter type of offer.</span>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label for="" class="f-12 d-block">Value of offer</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter Value of Offer" type="text"
                                            oninput="this.value=this.value.replace(/[^0-9]/g,'')" minlength="1"
                                            maxlength="10" formControlName="valueOfOffer">
                                    </mat-form-field>
                                    <div
                                        *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('valueOfOffer')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('valueOfOffer')?.hasError('required')">
                                        <span class="validation-err">Please enter value of offer.</span>
                                    </div>
                                </div> -->
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label for="" class="f-12 d-block">Freebies Worth Amount<span class="required"
                                        *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.value">*</span></label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="Enter Amount" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="amount">
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('amount')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('amount')?.hasError('required')">
                                            <span class="validation-err">Please enter freebies Worth Amount.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 datepicker-bx">
                                        <label for="" class="f-12 d-block">Start Date <span *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.value">*</span></label>
                                        <mat-form-field floatLabel="never" class="datepicker-input">
                                            <input matInput [matDatepicker]="picker" [min]="todayDate" (click)="picker.open()" readonly formControlName="startDate" placeholder="Enter Start Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                    <img src="../../../assets/images/calendar.svg" alt="">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.hasError('required')">
                                            <span class="validation-err">Please enter offer start date.</span>
                                        </div>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.hasError('matDatepickerMin')">
                                            <span class="validation-err">Please enter valid start date.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 datepicker-bx">
                                        <label for="" class="f-12 d-block">End Date<em *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.value">*</em></label>
                                        <mat-form-field floatLabel="never" class="datepicker-input">
                                            <input matInput [matDatepicker]="picker2" [min]="getEndDate(i)" (click)="picker2.open()" readonly formControlName="endDate" placeholder="Enter End Date">
                                            <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-icon">
                                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                    <img src="../../../assets/images/calendar.svg" alt="">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.hasError('required')">
                                            <span class="validation-err">Please enter offer end date.</span>
                                        </div>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.hasError('matDatepickerMin')">
                                            <span class="validation-err">Please enter valid end date.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mini-custom-file mb-3">
                                        <label for="" class="f-12 d-block">Offer Picture</label>

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" (change)="handleUploadOffers($event,'offerPicture','front',i);">
                                            <label class="custom-file-label custom-file-label2" for="front"><span
                                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                                class="upload-icon2"></span></label>
                                            <div class="lisFile" *ngIf="documentNameOffers[i]?.url">
                                                <ul class="selectedFile">
                                                    <li>
                                                        <a class="file-upload" href="{{documentNameOffers[i]?.url}}" target="_blank">{{documentNameOffers[i]?.name}}</a>
                                                        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                                        <a class="delet-icon" (click)="resetFileOffers(i)">
                                                            <img src="../../../assets/images/Delete_icon.svg" />
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block" >Dealer</label>
                    <input  type="text" matInput formControlName="dealer">
                </div> -->

                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label for="" class="f-12 d-block">Description</label>
                                        <mat-form-field floatLabel="never">
                                            <textarea matInput placeholder="Enter Description" maxlength="2500" type="text" formControlName="description"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label for="" class="f-12 d-block">Freebies with offer</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="Enter Freebies with offer" type="text" maxlength="100" formControlName="freeOfCost">
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('freeOfCost')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('freeOfCost')?.hasError('required')">
                                            <span class="validation-err">Please enter Freebies with offer.</span>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="offersForm?.controls['offersArray']?.controls[i]?.controls?.typeOfOffer?.value == 1 || offersForm?.controls['offersArray']?.controls[i]?.controls?.typeOfOffer?.value == 2">

                                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                            <label for="" class="f-12 d-block">Tenure</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Tenure" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" type="text" formControlName="tenure">
                                            </mat-form-field>
                                            <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('tenure')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('tenure')?.hasError('required')">
                                                <span class="validation-err">Please enter tenure.</span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                            <label for="" class="f-12 d-block">Rate</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="" maxlength="5" type="number" min="0" max="100" step="0.01" formControlName="rate" pattern="(^100(\.0{1,2})?$)|(^([1-9]([0-9])?|0)(\.[0-9]{1,2})?$)">
                                            </mat-form-field>
                                            <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('rate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('rate')?.hasError('required')">
                                                <span class="validation-err">Please enter rate.</span>
                                            </div>
                                            <div class="validation-err d-block" *ngIf="!offersForm?.get('offersArray')?.controls[i]?.get('rate')?.errors?.required && offersForm?.get('offersArray')?.controls[i]?.get('rate')?.errors?.pattern">
                                                <span class="validation-err">Invalid rate</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                            <label for="" class="f-12 d-block">Processing fee</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Processing Fee" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="processingFee">
                                            </mat-form-field>
                                            <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('processingFee')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('processingFee')?.hasError('required')">
                                                <span class="validation-err">Please enter rate.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                            <label for="" class="f-12 d-block">Installment</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Installment" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text" formControlName="installment">
                                            </mat-form-field>
                                            <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('installment')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('installment')?.hasError('required')">
                                                <span class="validation-err">Please enter rate.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                            <label for="" class="f-12 d-block">Margin</label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Margin" oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" type="text" formControlName="margin">
                                            </mat-form-field>
                                            <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('margin')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('margin')?.hasError('required')">
                                                <span class="validation-err">Please enter rate.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-sm-6 mini-custom-file">
                                            <label for="" class="f-12 d-block">Offer Terms & Conditions</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" (change)="handleUploadOffers($event,'offerTermsAndCond','front',i);">
                                                <label class="custom-file-label custom-file-label2" for="front"><span
                                                    class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                                    class="upload-icon2"></span></label>
                                                <div class="lisFile" *ngIf="documentNameTc[i]?.url">
                                                    <ul class="selectedFile">
                                                        <li>
                                                            <a class="file-upload" href="{{documentNameTc[i]?.url}}" target="_blank">{{documentNameTc[i]?.name}}</a>
                                                            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                                            <a class="delet-icon" (click)="resetFileTermCondition(i)">
                                                                <img src="../../../assets/images/Delete_icon.svg" />
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                    <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label for="" class="f-12 d-block">Pincode </label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" type="text" (keyup)="getLocationData($event,i)"
                                            formControlName="PinCode">
                                    </mat-form-field>

                                    <div
                                        *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('State')?.touched && stateList?.length == 0 ">
                                        <span class="validation-err">Please enter valid pinCode.</span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label for="" class="f-12 d-block">State </label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput formControlName="State" type="text" readonly
                                            placeholder="Enter State">

                                    </mat-form-field>
                                    <div
                                        *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('State')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('State')?.hasError('required')">
                                        <span class="validation-err">Please enter state.</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label for="" class="f-12 d-block">City </label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Enter City" type="text" readonly
                                            formControlName="City">
                                    </mat-form-field>
                                    <div
                                        *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('City')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('City')?.hasError('required')">
                                        <span class="validation-err">Please enter city.</span>
                                    </div>
                                </div> -->
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">Country</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-label>Country</mat-label>
                                            <mat-select formControlName='Country' (selectionChange)="getStates($event.value)" placeholder="Select Country" disabled>
                                                <mat-option *ngFor="let country of countryDataSource" [value]="country.id">
                                                    {{ country.name }}

                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('Country')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('Country')?.hasError('required')">
                                            <span class="validation-err">Please enter country.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">State</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-label>State</mat-label>
                                            <mat-select formControlName='State' (selectionChange)="getCities($event.value)" placeholder="Select  State" disabled>
                                                <mat-option *ngFor="let state of stateDataSource" [value]="state.id">{{state.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">City Name</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-label>City Name</mat-label>
                                            <mat-select formControlName='City' placeholder="Select City Name" disabled>
                                                <mat-option *ngFor="let city of cityDataSource" [value]="city.id">{{city.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">Pincode</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-label>Pincode</mat-label>
                                            <input matInput placeholder="" type="text" (keyup)="getLocationData($event,i)" formControlName="PinCode" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 mt-4" *ngIf="i>=1">
                                        <button mat-button class="default-btn-outline" (click)="removeOffer(i)">Remove
                                        Offer</button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col-12 mb-4 text-right add-morebtn" *ngIf=" getOffersLength() < this.maxOffersArrayLength">
                            <button mat-button class="default-btn-outline" (click)="addOffer()"> Add Another Offer</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <div class="row mt-3" *ngIf="!addVisual && !isEdit">
            <div class="col-12 mb-12 text-right">
                <div class="save-btn">
                    <button mat-button class="default-btn" type="button" (click)="backToList();">Cancel</button>
                    <button mat-button class="default-btn ml-3" type="submit" *ngIf="!isEdit" (click)="confirmation()">Add Visuals</button>
                </div>
            </div>
        </div>

        <section class="sell-visuals" *ngIf="addVisual">

            <app-new-visuals *ngIf="addVisual" [assetId]="assetId"></app-new-visuals>
        </section>

        <div class="row mt-3">
            <div class="col-sm-12 mb-4 text-right">
                <div class="save-btn">
                    <button mat-button class="default-btn-outline mr-2" type="button" *ngIf="isEdit" (click)="backToList()">Cancel</button>
                    <button mat-button class="default-btn" type="submit" *ngIf="isEdit" (click)="next()">Update</button>
                    <button mat-button class="default-btn ml-3" type="submit" *ngIf="isEdit" (click)="preview()">Asset Preview</button>
                    <button mat-button class="default-btn ml-3" *ngIf="addVisual && !isEdit" (click)="next()">Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
</main>