.data-warning{
    background: #C70119;
    color: #fff;
    padding: 10px 0;
}

.bulk-curation {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    background: #fff;
    margin: 15px;
}

.data-warning p{
    color: #fff;
    font-size: 16px;
}

.dtl-section{
    padding: 20px 30px 30px;
}

.imgHeight{
    height: 80px;
}
.hide{
    display: none;
}
.expanded .hide{
    display: inline-block;
}
.expanded .show{
    display: none;
}
.filtermenu{
    min-width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 24, 25, 0.30);
    background: #fff;
    position: relative;
}

.filtermenu::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: #fff;
    box-shadow: -3px -3px 7px rgba(22, 24, 25, 0.20);
    z-index: 0;
    transform: rotate(45deg);
}
.tbl-rspnsive{
    min-width: 510px;
    overflow: auto;
}

.mat-expansion-panel {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 15px rgba(51,78,104,0.1);
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 7px !important;
}
/* .mat-expansion-panel + .mat-expansion-panel {
    margin-top: 15px;
} */
.mat-expansion-panel-header {    
    padding: 10px 15px;   
    border-radius: 7px;
}
.mat-expansion-panel-header-title {
    font-size: 14px;
}
.mat-expansion-panel-body {
    padding: 15px 20px 15px;
    border-top: 1px solid #e0e0e0;
}

.bulk-record-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-right: 45px;
    position: relative;
}
.bulk-record-column {
    padding: 0 5px;
    width: 33.33%; 
    display: flex;
}
.bulk-record-wrap {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.bulk-record-wrap p:last-child {
    margin: 0;
}
.bulk-record-filter {
    position: absolute;
    right: 0;
    top: 5px;
}
.bulk-record-filterbtn {
    background-color: #0f3d94;
    color: #fff;
    padding: 0;
    width: 40px;
    height: 40px;
    min-width: auto;
}
.bulk-record-filter-menu ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}
.bulk-record-filter-menu ul li {
    padding: 3px 5px;
}
.bulk-record-filter-menu ul li a{
    font-size: 14px;
    display: block;
    padding: 5px 5px;
}
.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}
.bulk-accordian {border: 1px solid #d6d6d6; box-shadow: none;}
.bulk-accordian .mat-expansion-panel-header {background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%); color: #fff;}
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.mat-expansion-panel-body {padding-top: 10px;}
        .asset-table table {max-width: 100%; overflow: auto;}
        .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
        .asset-table table td:first-child {border-top: 0px;}
        .asset-table table td.mat-column-is_active {color: #00a767;}
        .asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;z-index:999;}
        .asset-table table td button.table-row-btn span {font-size: 18px;}
        .asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
        .asset-table table td button.table-row-btn.view-icon img{width: 22px;} 
        .asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
        .asset-table table td button.table-row-btn.new-icon img {width: 22px;}
        .asset-table table tr:nth-child(even){background-color:#f8fbfd;}
        .asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .no-record {padding: 10px;}
        .asset-table table td .category-img {width: 50px;
            height: 40px;
            padding: 3px;
            border: 1px solid #c1c9d0;
            border-radius: 4px;}


            .example-container {
                display: flex;
                flex-direction: column;
                max-height: 500px;
                min-width: 300px;
              }
              
              .mat-table {
                overflow: auto;
                max-height: 500px;
              }
              
              .element-row {
                position: relative;
              }
              
              .element-row:not(.expanded) {
                cursor: pointer;
              }
              
              .element-row:not(.expanded):hover {
                background: #f5f5f5;
              }
              
              .element-row.expanded {
                border-bottom-color: transparent;
              }

              .main-wrapper{
                padding: 15px 0;
                background: #EFF2F4;
            }
            .preview-bx{
                background: #fff;
                height: 100%;
                background: transparent linear-gradient(180deg, #FFFFFF 80%, #808080 100%) 0% 0% no-repeat padding-box;
                border: 1px solid #70707029;
                border-radius: 15px;
                min-height: 340px;
                position: relative;
            }
            .preview-bx img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-height: 400px;
            }
            .preview-bx img.copyr8-logo {
                position: absolute;
                width: 100px;
                opacity: 0.3;
            } 
            .preview-bx .tags p {
                margin-bottom: 8px;
                padding: 4px 15px 4px 4px;
                color: #fff;
                font-size: 10px;
                text-align: left;
                border-radius: 0 6px 6px 0;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
            }
            .preview-bx .tags p.verified-tag {
                background: transparent linear-gradient(279deg, #1A50B1 0%, #A01922 100%);
            }
            .preview-bx button {
                position: absolute;
                right: 20px;
                bottom: 20px;
                transform: scale(0.7);
            }
            .save2wl{
                position: absolute;
                right: 30px;
                top: 20px;
                background: #656565;
                border: 1px solid #707070;
                border-radius: 50px;
                margin-bottom: 0;
                padding: 12px 15px;
                color: #fff;
                font-weight: 400;
                font-size: 14px;
            }
            .save2wl img{
                position: relative;
                margin-right: 10px;
            }
            .eqpmt-name{
                font-size: 22px;
                color: #3D3855;
                margin-bottom: 10px;
                font-weight: bold;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                height: 36px;
            }
            .eqmnt-catgry{
                font-size:16px;
                color: #3D3855;
                margin-bottom: 10px;
            }
            .eqmnt-catgry span{
                color: #001229;
                margin-bottom: 10px;
                padding-left: 30px;
            }
            .price{
                font-size: 24px;
                color: #047007;
                font-weight: bold;
            }
            .price span{
                color: #587aa7;
                padding-left: 30px;
                padding-bottom: 10px;
                font-weight: 500;
                display: inline-block;
                vertical-align: middle;
                font-size:18px;
            }
            .offers{
                background: #FBFBFB 0% 0% no-repeat padding-box;
                border: 1px solid #cbcbcb52;
                padding: 20px;
                max-width: 450px;
            }
            .offers p{
                letter-spacing: 0px;
                color: #000000;
            }
            .offers ul{
                padding-left: 20px;
                margin: 0;
            }
            .offers ul li{
                font-size: 14px;
                list-style: none;
                margin-bottom: 5px;
            }
            .offers ul li::before{
                content: '';
                width: 9px;
                height: 9px;
                display: inline-block;
                border-radius: 50%;
                margin-left: -20px;
                background: #CFCFCF;
                margin-right: 8px;
            }
            .offers a{
                font-size: 10px;
                color: #0F3D94;
                text-decoration: none !important;
            }
            .btns-bx{
                padding: 10px 0 20px;
            }
            .btns-bx ul{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
            }
            .btns-bx ul li{
                margin-right: 15px;
                background: #0F3D9414;
                border: 1px solid #0F3D9461;
                border-radius: 12px;
                padding: 10px;
                text-align: center;
                width: 80px;
                height: 80px;
            }
            .btns-bx ul li:last-child{
                padding-top: 15px;
            }
            .btns-bx ul li img{
                height: 25px;
                display: block;
                margin: 0 auto 5px;
            }
            .btns-bx ul li span{
                height: 25px;
                font-size: 10px;
                color: #03070B;
                display: flex;
                line-height: normal;
                justify-content: center;
                text-decoration: none !important;
            }
            
            .pro-disc{
              padding-top: 50px;
            }
            .pro-disc h2{
              font-size: 30px;
              color: #0D4FA3;
              font-weight: 600;
              margin-bottom: 15px;
            }
            .pro-disc p{
              font-size: 20px;
              color: #3D3855;
            }
            .pro-disc ul{
              padding: 0;
              margin: 0;
              list-style: none;
              margin-top: 30px;
            }
            .pro-disc ul li{
              margin-right: 50px;
              display: inline-block;
            }
            .pro-disc ul li p{
              margin-bottom: 0;
              font-size: 20px;
              color: #3D3855;
              font-weight: 600;
            }
            .pro-disc ul li p:last-child{
              font-size: 18px;
              color: #7B8289;
              font-weight: 400;
            }
            
            
            
            
            
            
            
            .banner-bx{
                padding: 50px 0;
                /* background: url('/assets/images/newquipment-banner.png') no-repeat; */
                background-size: cover;
            }
            .bannerdtlbx{
                padding: 50px 25px 25px;
                background: rgba(0, 0, 0, 0.6);
                max-width: 700px;
                color: #fff;
                margin: 20px 0;
            }
            .prdct-bx{
                margin-top: 30px;
                position: relative;
            }
            .prdct-bx-txt{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .prdct-bx-txt span{
                background: rgba(0, 0, 0, 0.67);
                color: #fff;
                letter-spacing: 1.52px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 19px;
                padding: 10px 20px;
            }
            .featured-section{
                padding: 46px 0;
            }
            .featured-section h2{
                font-size: 28px;
                color: #001229;
                text-transform: uppercase;
                font-weight: 600;
            }
            .forbulkorder{
                padding: 40px 0;
                background: url('../../../../../../assets/images/bulkorder-bg.svg') no-repeat;
                background-size: cover;
                color: #fff;
            }
            .forbulkorder h2{
                font-size: 32px;
                color: #FFFFFF;
                text-shadow: 0px 0px 4px #00000029;
            }
            .forbulkorder p{
                font-size: 22px;
                color: #FFFFFF;
            }
            .our-partners-bx{
                padding: 46px 0;
                background: #F2F6FA;
            }
            .our-partners-bx h2{
                font-size: 28px;
                color: #001229;
                text-transform: uppercase;
                font-weight: 600;
            }
            ngx-light-carousel article{
                padding:0 20px;
            }
            ngx-light-carousel article .item{
                border: 1px solid #ECECEC;
                border-radius: 10px;
                overflow: hidden;
            }
            ngx-light-carousel .catergory-typ{
                background: #0F3D94;
                color: #fff;
                text-align: center !important;
                font-weight: 500;
                margin: 0;
                padding: 5px;
            }
            ngx-light-carousel .product-bx{
                height: 185px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .preview-bx .thumbnail-img{
                position: absolute;
                left: 5px;
                bottom: 20px;
                height: 80px;
                max-height: 18%;
                top: inherit;
                right: inherit;
                margin: inherit;
            }
            .preview-bx.product-sub-img {background: transparent; border: 0px;}
            
            .preview-bx .thumbnail-img2{
                bottom: 120px;
            }
            .preview-bx .thumbnail-img3{
                bottom: 220px;
            }
            .preview-bx .thumbnail-img4{
                bottom: 320px;
            }
            .deail-table {background-color: #fff;}
            .product-detail-container {padding: 0px 30px;}
            .product-detail-btn button {border-radius: 4px;}
            .product-detail-btn {margin-right: 15px;}
            .recent-view-section {background-color: #eff2f4; padding: 0px 30px;}
            .recent-view-container {padding: 20px 0px;}
            .recent-view-container h2 {font-size: 24px; color: #001229;  font-weight: 600; margin-bottom: 15px;}
            .category-detail-box {margin-top: 30px; margin-bottom: 30px;}
            .category-detail-box ul {background: #f5f8fa; border-radius: 4px; border: 1px solid #c4cfd8;}
            .category-detail-box ul li {padding: 12px;}
            .deail-table ul li.left-detail {float: left;}
            .category-detail-box ul li span {font-weight: 500;}
            .category-detail-box ul li span img {width: 20px; margin-right: 6px;}
            
            .deail-table ul {margin: 0px; border: 1px solid #e0e4e8;}
            .deail-table ul li { width: 50%; vertical-align: middle; padding: 15px 10px;}
            .deail-table ul li span.title {font-size: 14px; display: inline-block; width: 60%;}
            .deail-table ul li span.sub-title {font-size: 14px; display: inline-block; width: 40%;}
            .deail-table ul li.grey {background-color: #f8fbfd;}
            
            .accordian-wrapper .deail-table ul li span {vertical-align: top;}
            
            
            .product-img .preview-bx {min-height: 320px;}
            
            @media (max-width:991px){
                .eqpmt-name {margin-top: 20px; font-size: 26px;}
              .eqmnt-catgry {font-size: 28px; margin-top: 10px;}
              .breadcrumb-container {display: none;}
              .price {font-size: 26px; margin-bottom: 15px;}
              .timer {margin-bottom: 20px;}
              .timer .mat-form-field {margin-bottom: 10px;}
              .product-detail-btn {margin-right: 0px; margin-bottom: 10px;}
              .product-detail-accordian {margin-top: 20px;}
              .deail-table ul li {display: block; width: 100%;}
            }
            
            
            
            .recent-view-section .product-detail-container{padding: 0px 15px 15px;}

            .example-container {
                display: flex;
                flex-direction: column;
                max-height: 500px;
                min-width: 300px;
              }
              
              .mat-table {
                overflow: auto;
                max-height: 500px;
              }
              
              .element-row {
                position: relative;
              }
              
              .element-row:not(.expanded) {
                cursor: pointer;
              }
              
              .element-row:not(.expanded):hover {
                background: #f5f5f5;
              }
              
              .element-row.expanded {
                border-bottom-color: transparent;
              }












              .sell-visuals{ 
                font-size: 14px;
            }
            .instructions-bx{
                background: #FCDD98 ;
                border-radius: 10px;
                padding: 15px;
            }
            .instructions-bx ul{
                padding: 0;
                margin:0;
                list-style-type: none;
            }
            .instructions-bx ul li{
                display: inline-block;
                margin-right: 30px;
            }
            .imgHeight{
                height: 80px;
            }
            .instructions-bx ul li:last-child{
                margin-right: 0;
            }
            .primary-tag{
                position: absolute;
                bottom: 0;
                left: 0;
                background: #000;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 11px;
                letter-spacing: 1px;
            }
            .uploaded-img-bx{
                border: 1px solid #C4CFD8;
                border-radius: 6px;
                overflow: hidden;
            }
            .primary-checkbox{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            
            
            .upload-sub-section .title {font-size: 18px; background: #0f3d94; padding: 10px; border-radius: 8px 8px 0px 0px;
                color: #fff;}
            .upload-sub-section {border: 1px solid #cdd6dc; border-radius: 8px; background: #fdfdfd;}
            .upload-sub-section .sub-section-field {padding: 10px;}
            
            .custom-file-label::after{
                display: none;
            }
            
            span.deleteIcon {
                position: absolute;
                top: 3px;
                right: 3px;
                background: #fff;
                border-radius: 50%;
                cursor: pointer;
            }
            .custom-file.dragDrop {
                height: 84px;
                display: block;
            }




            
            /* @media screen and (max-width: 992px) and (min-width: 768px) {
                .product-wrapper {
                  padding: 20px 15px;
                  width: 100%;
                  float: none;
                  transition: 0.5s;
                  margin-top: 80px !important;
                }
              } */

              .new-equipment-tbl tr th{
                  min-width: 180px;
              }
              @media screen and (min-width: 1600px) {
                .new-equipment-tbl tr th{
                    min-width: 230px;
                }
                }





                .bulk-record-filter-menu {
                    background: #ffff;
                    border: 1px solid #eeee;
                }
                
                @media screen and (min-width: 576px) {
                    .mat-tab-labels {display: block;}
                    }