<section class="myself-details-main-wrapper">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <app-progress-steps [steps]="steps"></app-progress-steps> -->
        </div>
    </div>
</section>

<div class="bulk-curation">
    <div class="dtl-section py-3 px-0">
        <div class="container-fluid">
            <div class="bulk-upload-section">
                <div class="row">

                    <div class="col-sm-12">
                        <div class="bulk-upload-box">
                            <div class="row" [class.d-none]="!(this.role==this.appref.roles.admin || this.role==this.appref.roles.superadmin)" *ngIf="true">
                                <div class="col-md-6">
                                    <h2 *ngIf="!enterprise" class="f-20 f-500">Products Detail</h2>
                                    <h2 *ngIf="enterprise" class="f-20 f-500">Valuation Detail</h2>
                                </div>
                                <div class="col-md-6 text-right" ngbDropdown>
                                    <!-- <button mat-button [matMenuTriggerFor]="filtermenu" class="default-btn-outline f-16"><img
                        src="../../../assets/images/filtericn.png" class="mr-2" alt=""> Filter</button>
                <mat-menu #filtermenu="matMenu">
                   <div class="p-3">
                    <div class="filtermenu">
                        <mat-checkbox class="d-block">Successful</mat-checkbox>
                        <mat-checkbox class="d-block mb-0">Error</mat-checkbox>
                   </div>
                   </div>
                </mat-menu> -->
                                </div>
                            </div>
                            <mat-accordion [class.d-none]="!(this.role==this.appref.roles.admin || this.role==this.appref.roles.superadmin)">
                                <mat-expansion-panel class="mb-2 bulk-accordian" *ngIf="mismatchLocation.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Locations not identified
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="bulk-record-row mt-3" *ngFor="let loc of mismatchLocation">
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Location </strong>
                                                <p>{{loc.pin_code}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Count</strong>
                                                <p>{{loc.count}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Nearest Match </strong>
                                                <p>{{loc.matched_location}} </p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-filter mt-2">
                                            <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <mat-menu #filtermenu="matMenu">
                                                <div class="bulk-record-filter-menu">
                                                    <ul>
                                                        <!-- <li><a href="#"> Add to Dictionary </a></li> -->
                                                        <!-- <li><a href="#"> Discard Records</a></li> -->
                                                        <!-- <li><a href="#"> Add to Master </a></li> -->
                                                        <!-- <li><a href="#">  Update Value  </a></li> -->
                                                        <li><a (click)="bulkDiscardRecords('Location',loc)"> Discard Records</a></li>
                                                        <li *ngIf="loc.matched_percentage!=0"><a (click)="bulkUpdateValues('Location',loc)">  Update Value  </a></li>
                                                    </ul>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </div>

                                </mat-expansion-panel>
                                <mat-expansion-panel class="mb-2 bulk-accordian" *ngIf="mismatchCategory.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Categories not identified
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="bulk-record-row mt-3" *ngFor="let cat of mismatchCategory">
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Category</strong>
                                                <p>{{cat.category}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Count</strong>
                                                <p>{{cat.count}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Nearest Match </strong>
                                                <p>{{cat.matched_category}} ({{cat.matched_percentage}}%)</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-filter mt-2">
                                            <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <mat-menu #filtermenu="matMenu">
                                                <div class="bulk-record-filter-menu">
                                                    <ul>
                                                        <li *ngIf="cat.matched_percentage!=0"><a (click)="addToDictionary('Category',cat)"> Add to Dictionary </a></li>
                                                        <li><a (click)="bulkDiscardRecords('Category',cat)"> Discard Records</a></li>
                                                        <li><a (click)="addToMaster('Category',cat)"> Add to Master </a></li>
                                                        <li *ngIf="cat.matched_percentage!=0"><a (click)="bulkUpdateValues('Category',cat)">  Update Value  </a></li>
                                                    </ul>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </div>

                                </mat-expansion-panel>


                                <mat-expansion-panel class="mb-2 bulk-accordian" *ngIf="mismatchBrand.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Brands not identified
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="bulk-record-row mt-3" *ngFor="let brand of mismatchBrand">
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Brand </strong>
                                                <p>{{brand.brand}} </p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Count</strong>
                                                <p>{{brand.count}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Nearest Match  </strong>
                                                <p>{{brand.matched_brand}} ({{brand.matched_percentage}}%)</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-filter mt-2">
                                            <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <mat-menu #filtermenu="matMenu">
                                                <div class="bulk-record-filter-menu">
                                                    <ul>
                                                        <!-- <li><a (click)="addToDictionary('Brand',brand)"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a (click)="addToMaster('Brand',brand)"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li> -->
                                                        <li *ngIf="brand.matched_percentage!=0"><a (click)="addToDictionary('Brand',brand)"> Add to Dictionary </a></li>
                                                        <li><a (click)="bulkDiscardRecords('Brand',brand)"> Discard Records</a></li>
                                                        <li><a (click)="addToMaster('Brand',brand)"> Add to Master </a></li>
                                                        <li *ngIf="brand.matched_percentage!=0"><a (click)="bulkUpdateValues('Brand',brand)">  Update Value  </a></li>
                                                    </ul>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </div>



                                </mat-expansion-panel>

                                <mat-expansion-panel class="mb-2 bulk-accordian" *ngIf="mismatchModel.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Asset Models not identified
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="bulk-record-row mt-3" *ngFor="let model of mismatchModel">
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Model   </strong>
                                                <p>{{model.category}}-{{model.brand}}- {{model.brand}} {{model.model}} </p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Count</strong>
                                                <p>{{model.count}}</p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-column">
                                            <div class="bulk-record-wrap">
                                                <strong>Nearest Match  </strong>
                                                <p>{{model.actual_brand}} {{model.matched_model}}({{model.matched_percentage}}%) </p>
                                            </div>
                                        </div>
                                        <div class="bulk-record-filter" *ngIf="model.call_to_action">
                                            <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                            <mat-menu #filtermenu="matMenu">
                                                <div class="bulk-record-filter-menu">
                                                    <ul>
                                                        <!-- <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a (click)="addToMaster('Model',model)">Add to Master</a></li>
                                    <li><a href="#">Update Value</a></li> -->
                                                        <li *ngIf="model.matched_percentage!=0"><a (click)="addToDictionary('Model',model)"> Add to Dictionary </a></li>
                                                        <li><a (click)="bulkDiscardRecords('Model',model)"> Discard Records</a></li>
                                                        <li><a (click)="addToMaster('Model',model)"> Add to Master </a></li>
                                                        <li *ngIf="model.matched_percentage!=0"><a (click)="bulkUpdateValues('Model',model)">  Update Value  </a></li>
                                                    </ul>
                                                </div>
                                            </mat-menu>
                                        </div>
                                    </div>


                                </mat-expansion-panel>




                            </mat-accordion>



                            <div class="asset-table ">
                                <div class="table-responsive inner-table mb-3 user-management-heading new-equipment-tbl">
                                    <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
                                        <!-- <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                class="default-tbl w-100 mt-3 mat-elevation-z8"> -->

                                        <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>CRN</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element?.id}}</td>
                </ng-container> -->
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef>Record Id</th>
                                            <td mat-cell *matCellDef="let element">
                                                <span class="mobile-label">Record Id</span>
                                                <span>{{element.id}}</span>

                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="category">
                                            <th mat-header-cell *matHeaderCellDef>Category</th>
                                            <td mat-cell *matCellDef="let element">
                                                <span class="mobile-label">Category</span>
                                                <!--  <td mat-cell [class.error-rspns]="!element.is_category_valid" *matCellDef="let element"> -->
                                                <span>{{element.category}}</span>

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="brand">
                                            <th mat-header-cell *matHeaderCellDef>Brand</th>
                                            <td mat-cell *matCellDef="let element">
                                                <span class="mobile-label">Brand</span>
                                                <span>{{element.brand}}</span>

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="model">
                                            <th mat-header-cell *matHeaderCellDef>Model</th>
                                            <td mat-cell *matCellDef="let element">
                                                <span class="mobile-label">Model</span>
                                                <span>{{element.model}}</span>

                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="rc_number">
                                            <th mat-header-cell *matHeaderCellDef>Registration Number</th>
                                            <td mat-cell class="category-cell" *matCellDef="let element">
                                                <span class="mobile-label">Registration Number</span> {{element.rc_number}}
                                            </td>
                                        </ng-container>


                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef>Status</th>
                                            <td mat-cell [ngClass]="(element.status == 1) ? 'success-rspns': 'error-rspns'" *matCellDef="let element">
                                                <span class="mobile-label">Status</span> {{appref.BulkStatus[element.status]}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef>Action</th>
                                            <td mat-cell *matCellDef="let element">
                                                <span class="mobile-label">Action</span>
                                                <button type="button" class="table-row-btn new-icon show" (click)="expandRow(element)" mat-button>
                            <span><img src="../../../assets/images/visibility.svg"></span>
                        </button>
                                                <button type="button" class="table-row-btn new-icon hide" (click)="expandRow(element)" mat-button>
                          <span><img src="../../../assets/images/hide.svg"></span>
                      </button>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="expandedDetail">
                                            <td colspan="7" mat-cell *matCellDef="let element">
                                                <div class="row py-2">

                                                    <div class="col-sm-12">
                                                        <div class="deail-table">
                                                            <ul class="list-unstyled">
                                                                <li class="left-detail">
                                                                    <span class="title"><strong>Asset Id</strong></span>
                                                                    <span class="sub-title">{{element.element.id}}</span>
                                                                </li>
                                                                <li>
                                                                    <span class="title pl-2"><strong>Brand/Modal</strong></span>
                                                                    <span class="sub-title">{{element.element.brand}} / {{element.element.model}}</span>
                                                                </li>
                                                                <li class="grey left-detail">
                                                                    <span class="title"><strong>Category</strong></span>
                                                                    <span class="sub-title">{{element.element.category}}</span>
                                                                </li>
                                                                <li class="grey d-inline-block">
                                                                    <span class="title"><strong>Manufacturing Year</strong></span>
                                                                    <span class="sub-title">{{element.element.mfg_year}}</span>
                                                                </li>
                                                                <li class="left-detail">
                                                                    <span class="title"><strong>Country</strong></span>
                                                                    <span class="sub-title">India</span>
                                                                </li>
                                                                <li>
                                                                    <span class="title pl-2"><strong>Location</strong></span>
                                                                    <span class="sub-title">{{element?.element?.location_id?.city?.name}}, {{element?.element?.location_id?.city?.state?.name}}</span>
                                                                </li>
                                                                <li class="grey left-detail">
                                                                    <span class="title"><strong>Price (Exl. Tax).</strong></span>
                                                                    <span class="sub-title">Price on Request</span>
                                                                </li>
                                                                <li class="grey d-inline-block">
                                                                    <span class="title"><strong>Availability of Original Invoice</strong></span>
                                                                    <span class="sub-title">No</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row py-2" *ngIf="!this.enterprise">
                                                    <div class="col-sm-12">
                                                        <form [formGroup]="viewingOptionsForm" class="bg-fff p-3">
                                                            <section class="sell-visuals">
                                                                <h3 class="f-20 f-500 mb-2">Visuals</h3>
                                                                <div class="poi-tabs-wrapper">
                                                                    <mat-tab-group animationDuration="0ms">
                                                                        <mat-tab formArrayName="imageData" *ngFor="let visual of tabsList; let i = index;" label="{{visual.category_name}}">
                                                                            <ng-container formGroupName={{i}}>
                                                                                <div class="p-1">
                                                                                    <!-- <div class="instructions-bx">
                                                  <p class="f-16 mb-2">Instructions </p>
                                                  <ul>
                                                    <li>1- Click Picture in landscape mode</li>
                                                    <li>2- Upload minimum 3 pictures</li>
                                                    <li>3- Take front, back and side pictures </li>
                                                    <li>4- Avoid bright-light background</li>
                                                    <li>5- Photo size should not exceed 5 MB</li>
                                                  </ul>
                                                </div> -->
                                                                                    <div class="row mt-3">
                                                                                        <div class="col-md-4">
                                                                                            <label for="" class="f-12">Upload {{visual.category_name}} photo</label>
                                                                                            <div class="custom-file dragDrop">
                                                                                                <input type="file" id="app_file" class="custom-file-input" #imageInput formControlName="imageUrl" accept="image/*" multiple (change)="handleUpload($event.target.files,visual.id);">
                                                                                                <label class="custom-file-label" for="front">
                                                        <span class="upload-icon"></span>
                                                        <span class="cust-upload-txt">
                                                          <span class="blue-txt">Choose a file or Drag & Drop</span>
                                                        </span>
                                                      </label>
                                                                                                <ngx-file-drop dropZoneLabel="Drag Images here" multiple="true" (onFileDrop)="dropped($event,visual.id)">
                                                                                                </ngx-file-drop>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-5" *ngIf="imageFormGroup.controls[i]?.value.images.length > 0">
                                                                                            <label for="" class="f-12">Uploaded Photo</label>
                                                                                            <div formArrayName="images">
                                                                                                <span *ngFor="let image of imageFormGroup.controls[i]?.value.images; let j=index" class="p-relative d-inline-block uploaded-img-bx mr-2">
                                                        <ng-container [formGroupName]="j">
                                                          <span *ngIf="image.image_category == visual.id">
                                                            <img src={{image?.url}} alt="" class="imgHeight">
                                                            <span class="primary-checkbox" *ngIf="!image?.is_primary">
                                                              <mat-checkbox formControlName="is_primary" (change)="setPrimary($event, image)"></mat-checkbox>
                                                            </span>
                                                                                                <span *ngIf="image.is_primary == true" class="primary-tag">PRIMARY</span>
                                                                                                <span *ngIf="!image?.is_primary" class="material-icons deleteIcon" (click)="delete(image,i,j)">delete</span>
                                                                                                <!-- <span class="material-icons cropIcon" (click)="cropImage(image,visual.id, i,j)"> crop</span> -->
                                                                                                </span>
                                                                            </ng-container>
                                                                            </span>
                                                                            </div>
                                                                            <!-- <button class="default-btn-outline mt-1" mat-button>Mark as Primary</button> -->
                                                                            </div>
                                                                            </div>
                                                                            </div>
                                        </ng-container>
                                        </mat-tab>
                                        </mat-tab-group>
                                        </div>
                                        </section>
                                        </form>
                                        </div>
                                        </div>
                                        </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row class="element-row" [class.expanded]="expandedElement == row" *matRowDef="let row; columns: displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden">
                                        </tr>
                                        <!-- </mat-table> -->
                                    </table>
                                    <div class="no-record" *ngIf="!dataSource?.data.length">No records found</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 mb-2">
                                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md- col-6">
                    <button class="default-btn-outline" mat-button (click)="back()">Back</button>
                </div>
                <div class="col-md-6 col-6 text-right">
                    <button class="default-btn" [class.d-none]="!dataSource?.data.length" mat-button [disabled]="disabledButton" *ngIf="(this.role==this.appref.roles.admin || this.role==this.appref.roles.superadmin)" (click)="bulkImportData()">
                    Import</button>
                </div>
            </div>
        </div>
    </div>
</div>