<!--<div>
    <p style="text-align: center; color: red;">{{message}}</p>
</div>-->
<div class="div-wraapper">
  <div class="product-wrapper-box">
  <div class="breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>   
        <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard/customer-management']">Customer Management</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Add User</li>
    </ol>
</div>
<div class="admin-page-heading">
  <div class="admin-page-header col-lg-6 col-md-12">
    <h3 class="admin-page-title">Add User</h3>
  </div> 
</div>    
    <form [formGroup]='adduserform'>
        <div class="row">
            <div class="col-md-6 col-md-4  mb-3">
                <label for="" class="form-label">First Name <span class="required-star">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter your First Name" value="" type="text" formControlName='firstname'>
                </mat-form-field>
                <div *ngIf="adduserform.get('firstname')?.touched && adduserform?.get('firstname')?.hasError('required')">
                    <span class="validation-err">Please enter the first name.</span>
                </div>
            </div>
            <div class="col-md-6 col-md-4  mb-3">
                <label for="" class="form-label">Last Name <span class="required-star">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter your Last Name" value="" type="text" formControlName='lastname'>
                </mat-form-field>
                <div *ngIf="adduserform.get('lastname')?.touched && adduserform?.get('lastname')?.hasError('required')">
                    <span class="validation-err">Please enter the last name.</span>
                </div>
            </div>
            <div class="col-md-6 col-md-4  mb-3">
                <label for="" class="form-label">Mobile Number <span class="required-star">*</span></label>
                <div class="row mb-3">
                    <div class="col-4 col-sm-4 pr-0">
                      <mat-select  class="ptb-5 card-select payment-card-slct" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity?.prefixCode, selectedCity?.countryCode)" formControlNumber='countrycode'>
                        <mat-select-trigger>
                          <div class="d-block">
                            <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                            <div class="prefix-number">
                              <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                            </div>
                          </div>
                        </mat-select-trigger>
                        
                        <mat-option *ngFor="let country of countryList" [value]="country">
                          <div class="d-block">
                            <img [src]="country.flag" class="saved-card-icn" alt="">
                            <div class="prefix-number">
                              <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                            </div>
                          </div>
                        </mat-option>
                      </mat-select>
                    </div>
                    <div class="col-8 col-sm-8">
                      <mat-form-field floatLabel="never">
                        <input matInput  placeholder="Enter your Mobile number" [attr.maxlength]="maxLengthValue" (blur)="checkPhoneField()"   value="" formControlName="mobile" autocomplete="off" >
                      </mat-form-field>
                      <div *ngIf="adduserform.get('mobile')?.touched && !adduserform.get('mobile')?.valid"><span class="validation-err">Please input a valid Phone Number.</span></div>
                      <div *ngIf="adduserform.get('mobile')?.touched && adduserform.get('mobile')?.hasError('required')">
                        <span class="validation-err">Please enter the phone number.</span>
                      </div>
                      <div *ngIf="adduserform.get('mobile')?.touched && adduserform.get('mobile')?.hasError('minlength')">
                        <span class="validation-err">Please input a valid Phone Number.</span>
                      </div>
                      
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-4 mb-3">
                <label class="form-label" for="">Date Of Birth <span class="required-star">*</span></label>
                    <mat-form-field floatLabel="never">
                    <input matInput [max]="minDate"   [matDatepicker]="picker" (click)="picker.open()"  readonly formControlName='dob' >
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                     calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="adduserform?.get('dob')?.hasError('dobError') && adduserform?.get('dob')?.touched">
                    <span class="validation-err">Age should be 18 & above</span>
                   </div>
                  <div *ngIf="adduserform?.get('dob')?.touched && adduserform?.get('dob')?.value==''">
                 <span class="validation-err">Please enter the date of birth.</span>
                 </div>
            </div>
            <div class="col-md-6 col-md-4 mb-3">
                <label for="" class="form-label">Pincode <span class="required-star">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter your Pincode" [class.haserror]="pinCodeErrorFlag" value="" type="text" formControlName='pincode' (blur)="getpinCodefn();pincodeBlur=true">
                </mat-form-field>
                <div *ngIf="adduserform.get('pincode')?.touched && pincodeBlur && (adduserform?.get('pincode')?.hasError('minlength') || adduserform?.get('pincode')?.hasError('maxlength') || adduserform?.get('pincode')?.hasError('pattern') || pinCodeErrorFlag)">
                    <span class="validation-err">Please input a valid pincode</span>
                </div>
                <div *ngIf="adduserform.get('pincode')?.touched && adduserform?.get('pincode')?.hasError('required')">
                  <span class="validation-err">Please enter the pincode.</span>
                  </div> 
            </div>
            <div class="col-md-6 col-md-4 mb-3">
                <label for="" class="form-label">Email <span class="required-star">*</span></label>
                <mat-form-field floatLabel="never">
               <input matInput placeholder="Enter your Email" autocomplete="off"  value="" type="text" formControlName='Email'>                                       
               </mat-form-field>
               <div *ngIf="adduserform.get('Email')?.touched && adduserform?.get('Email')?.hasError('pattern')">
               <span class="validation-err">Please input a valid email</span>
              </div>
             <div *ngIf="adduserform.get('Email')?.touched && adduserform?.get('Email')?.hasError('required')">
             <span class="validation-err">Please enter the email address.</span>
             </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-4 mb-3">
                <label for="" class="form-label">Status <span class="required-star">*</span></label>
                <mat-select name="State"  floatLabel="never" formControlName='status'>
                    <mat-option  value="active">Active</mat-option>
                    <mat-option value="inactive">InActive</mat-option>
                </mat-select>
                <div *ngIf="adduserform.get('status')?.touched && adduserform?.get('status')?.hasError('required')">
                  <span class="validation-err">Please choose the status.</span>
                  </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button class="default-btn-outline plr-40 mr-3" (click)='backusernav()' mat-button>Back</button>
                <button class="default-btn plr-40" mat-button [disabled]='adduserform.invalid || pinCodeErrorFlag' (click)='adduser()'>Save</button>                
            </div>
        </div>
    </form>
</div>
</div>