.div-wraapper{
    width: calc(100% - 18em);
    padding: 15px;
    float: right;
    transition: 0.5s;
}
.main-heading{
    font-size: 32px;
    font-weight: 700;
}
.mat-datepicker-toggle{
    position: absolute;
    top: -32px;
    right: 3px;
}
.card-select {
    min-width: inherit;
    line-height: inherit;
    padding-left: 10px!important;
}
@media (max-width:767px){
    .div-wraapper {
        width: 100%;
    }
  }