<div class="popup modal-popup">
    <div class="popup-hdr">
     <h4 class="m-0"> View Details</h4>
      <button mat-button (click)="close()" class="close-btn"><img src="../../../../../../assets/images/Close.svg" alt=""></button> 
   </div>
   <div class="popup-body">
    <div class="asset-table">
      <div class="table-responsive inner-table mb-3">
  
        <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="feeDetailsData"
          matSortDirection="desc" matSortActive="id" matSortDisableClear matSort >
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">  <mat-checkbox (change)="checkFeeRow($event,row)" readonly="row.is_credit_note_generated"></mat-checkbox> </td>
          </ng-container>
          <ng-container matColumnDef="ucn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Control Number</th>
            <td mat-cell *matCellDef="let row"> {{row?.unique_control_number}} </td>
          </ng-container>
          <ng-container matColumnDef="asset_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
            <td mat-cell *matCellDef="let row"> {{row?.asset_name}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
            <td mat-cell *matCellDef="let row">
                <mat-form-field floatLabel="never" class="amount-input">
                    <input matInput placeholder="Amount" [value] = "row?.amount" (blur)="changeFee($event,row)" autocomplete="off" type="text">
                </mat-form-field>
           </td>
          </ng-container>
          <ng-container matColumnDef="valuation_charge">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Iquippo Valuation Charge</th>
            <td mat-cell *matCellDef="let row"> {{row?.quippo_valuation_charges}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="getDisplayColumns();sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayColumns();"></tr>
        </table>
        
        <div class="no-record table-recond" *ngIf="!total_count">No records found</div>
      </div>
    </div>
    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
    <div *ngIf="total_count" class="col-sm-12 text-right">
      <button (click)="saveData()" class="default-btn margin-r">Save</button>
      <button (click)="close()" class="default-btn-outline">Cancel</button>
    </div>
  </div>
  </div>
  