.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
    overflow-y: hidden;
  }
  .asset-table table {
    max-width: 100%;
    overflow: auto;
  }
  .asset-table table th,
  .asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
  }
  .asset-table table td:first-child {
    border-top: 0px;
  }
  .asset-table table tr td:last-child {background-color: #fff;}
  .asset-table table td.mat-column-is_active {
    color: #00a767;
  }
  .asset-table .mat-row button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
  }
  .asset-table table td button.table-row-btn span {
    font-size: 18px;
  }
  .asset-table .mat-cell button.simple-btn.delet-icon {
    background-color: #ffefec;
  }
  .asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
  }
  .asset-table .mat-row button.simple-btn.view-icon img {
    width: 18px;
  }
  .asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
  }
  .asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
  }
  /* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */
  .asset-table table .mat-header-row th {
    background-color: #0d4fa3;
    color: #fff;
  }

  .no-record {padding: 10px;}
  .amount-input input {width: 200px; height: 32px;}


  .margin-r{margin-right:15px;}