<div *ngIf="loading" class="spinnerOuter">
    <div class="spinner">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<div class='main-wrapper dashboard' [ngClass]="!loading ? 'displayBlock' : 'displayNone'">
    <div class="mainwrapperbanner">
        <owl-carousel [options]="bannerslideOptions" [items]="bannerRes?.banner_section1"
                        [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">
        <section *ngFor="let item of bannerRes?.banner_section1">
            <!-- *ngIf="item?.img_url != null && item?.img_url != ''" -->
            <div class="picsum-img-wrapper">
                <img [hidden]="loading" (load)="onLoad()" class="img-spinner"
                    [src]="item?.img_url ? item?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                    alt="{{item?.banner_title}}">
              
            </div>
            <div class="carousel-caption">
                <h3>{{item?.banner_title}}</h3>
                <p>{{item?.banner_description}}</p>
                <button class="theme-lg-btn mt-2" *ngIf="item?.button_label"
                    (click)="redirectToScreen(item?.button_link,item)" mat-button>{{item?.button_label}}</button>
            </div>
        </section>
     </owl-carousel>
    </div>

    <div class="main-content" [formGroup]="homeForm">
        <div class="search-equipment section">
            <div class="container-fluid bg-fff search-equipment-wrapper">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <h5>Search an Equipment </h5>
                    </div>
                    <!-- <div class="pr-lg-2 mb-3 col-lg-4 col-md-12 col-12">
                        <mat-button-toggle-group class="btn-group" value="New" name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle class="btn" value="New" (click)="changeType('New')">New</mat-button-toggle>
                            <mat-button-toggle class="btn" value="Used" (click)="changeType('Used')">Used</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div> -->
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="pr-lg-2 mb-3 col-lg-3 col-md-12 col-12">
                        <mat-button-toggle-group class="btn-group" value="New" name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle class="btn" value="New" (click)="changeType('New')">New
                            </mat-button-toggle>
                            <mat-button-toggle class="btn" value="Used" (click)="changeType('Used')">Used
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="pl-lg-2 pr-lg-2 col-lg-5 col-md-10 col-12" [hidden]="AdvancedSearch">
                        <mat-form-field floatLabel="never" class="input-icons">
                            <img src="../../../assets/images/magnifying-glass-dark.svg" alt="" class="pr-2 icon">
                            <mat-label style="padding-left:30px">Enter three or more characters to perform search
                            </mat-label>
                            <input class="input-field" matInput [matAutocomplete]="auto4" type="text"
                                (keyup)="searchByKeyWord($event.target.value)" (keyup.enter)="search()"
                                formControlName='searchAll' maxlength="256">
                            <mat-autocomplete #auto4="matAutocomplete">
                                <mat-option *ngFor="let search of autoSuggestList"
                                    (onSelectionChange)="onautoSelect(search.id,search.type,search.display_name)"
                                    [value]="search.display_name">
                                    {{search.display_name}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                    </div>

                    <div class="col-md-2 col-lg-2 pl-2" [class.mt-3]="AdvancedSearch" [hidden]="AdvancedSearch">
                        <button mat-button class="theme-btn btn-block" (click)="search()">Search</button>
                    </div>
                    <div class="col-md-12 col-lg-2 pl-2" [hidden]="AdvancedSearch">
                        <a class="float-right pt-2 text-underline advancedsearch-link"
                            (click)="AdvancedSearch = true">Advanced
                            Search</a>
                    </div>

                    <div class="col-lg-9">
                        <!-- <div class="col-md-3 mb-2 mb-md-0" [hidden]="!AdvancedSearch">
            <mat-form-field floatLabel="never" matAutocompleteOrigin>
              <mat-label for="category" class="f-12">Category</mat-label>
              <input matInput [matAutocomplete]="auto1" placeholder="" type="text"
                (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
              <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let category of allCategoryList"
                  (onSelectionChange)="onCategorySelect(category.id)"
                  [value]="category?.display_name">{{category?.display_name}}</mat-option>
              </mat-autocomplete>
            </mat-form-field> 
          </div> -->

                        <div class="row search-input-box">
                            <div class="mb-2 mb-md-0" [ngClass]="this.searchType == 'Used' ? 'col-md-3':'col-md-4'"
                                [hidden]="!AdvancedSearch">
                                <label for="category" class="f-12">Category</label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <mat-label for="category" class="f-12">Category</mat-label>
                                    <input matInput [matAutocomplete]="auto1" placeholder="" type="text"
                                        (keyup)="keyUp($event,'category')" (keyDown)="keyDown('category')"
                                        (keyup.enter)="search()" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto1="matAutocomplete">
                                        <mat-option *ngFor="let category of allCategoryList"
                                            (onSelectionChange)="onCategorySelect(category)"
                                            [value]="category?.display_name">
                                            {{category?.display_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="mb-2 mb-md-0" [ngClass]="this.searchType == 'Used' ? 'col-md-3':'col-md-4'"
                                [hidden]="!AdvancedSearch">
                                <label for="Brand" class="f-12">Brand</label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <mat-label for="brand" class="f-12">Brand</mat-label>
                                    <input matInput [matAutocomplete]="auto" placeholder="" type="text"
                                        (keyup)="keyUp($event,'brand')" (keyDown)="keyDown('brand')"
                                        (keyup.enter)="search()" formControlName='brand' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let brand of allbrandData"
                                            (onSelectionChange)="onBrandSelect(brand)" [value]="brand?.display_name">
                                            {{brand?.display_name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>
                            <div class="mb-2 mb-md-0" [ngClass]="this.searchType == 'Used' ? 'col-md-3':'col-md-4'"
                                [hidden]="!AdvancedSearch">
                                <label for="Model" class="f-12">Model</label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>

                                    <mat-label for="model" class="f-12">Model</mat-label>
                                    <input matInput [matAutocomplete]="auto2" placeholder="" type="text"
                                        (keyup)="keyUp($event,'modal')" (keyDown)="keyDown('modal')"
                                        (keyup.enter)="search()" formControlName='model' maxlength="256">
                                    <mat-autocomplete #auto2="matAutocomplete">
                                        <mat-option *ngFor="let model of allModelList"
                                            (onSelectionChange)="onModalSelect(model)" [value]="model?.name">
                                            {{model?.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>
                            <div class="col-md-3 mb-2 mb-md-0" *ngIf="this.searchType == 'Used'"
                                [hidden]="!AdvancedSearch">
                                <label for="assetLocation" class="f-12">Asset Location</label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <mat-label for="assetLocation" class="f-12">Asset Location</mat-label>
                                    <input matInput [matAutocomplete]="auto3" placeholder="" type="text"
                                        (keyup)="filterValuesState($event)" (keyup.enter)="search()"
                                        formControlName='assetLocation' maxlength="256">
                                    <mat-autocomplete #auto3="matAutocomplete">
                                        <mat-option *ngFor="let city of cityList"
                                            (onSelectionChange)="onStateSelect(city)" [value]="city.name">
                                            {{city.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 col-sm-6">

                    </div>
                    <div class="col-md-6 col-lg-8" [hidden]="!AdvancedSearch" [class.mt-3]="AdvancedSearch">
                        <span class="note">( Please enter a keyword and select from the list to perform search)</span>
                    </div>
                    <div class="col-md-3 col-lg-2 pl-lg-2 pl-md-2 pl-0 pr-2 pr-lg-2 pr-md-2" [hidden]="!AdvancedSearch"
                        [class.mt-3]="AdvancedSearch">
                        <a (click)="AdvancedSearch = false" class="btn btn-default back-advanced">Basic Search</a>
                    </div>
                    <div class="col-md-3 col-lg-2 pl-2" [hidden]="!AdvancedSearch" [class.mt-3]="AdvancedSearch">
                        <button mat-button class="theme-btn btn-block mt-0" (click)="search()">Advance Search</button>
                    </div>
                </div>
            </div>
            <!-- Search equipment -->
            <div class="category-section section">
                <div class="container-fluid bg-fff category-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">Category </h3>
                        <button class="view-all-btn" (click)="viewAllCategories()">View All</button>
                    </div>


                    <owl-carousel [options]="categorySlideOptions" [items]="categoryList"
                        [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">
                        <section class="content" *ngFor="let item of categoryList">
                            <article class="category-item cursor-pointer">
                                <div class="category-wrap">
                                    <div class="category-summery">
                                        <div class="category-image">
                                            <img appLazyLoad imageLoader class="img-spinner"
                                                [src]="item?.vector_img ? item?.vector_img : '../../../assets/images/default-thumbnail.jpg'">
                                        </div>
                                        <div class="category-name">{{item.display_name}}</div>
                                        <div _ngcontent-dqr-c13="" class="category-btns">
                                            <a class="new-asset" href="javascript:void(0);"
                                                (click)="redirectByCategory(item.id, 'New',item.name)">New</a>
                                            <a class="used-asset" href="javascript:void(0);"
                                                (click)="redirectByCategory(item.id, 'Buy',item.name)">Used</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </owl-carousel>

                </div>
            </div>
            <!-- End category slider -->
            <div class="mid-banner-section section">
                <div class="mid-banner-wrapper">
                    <div class="row">
                        <div class="pr-lg-2 mb-3 mb-lg-0 col-sm-12 col-lg-4 col-md-12 col-12"
                            *ngIf="bannerRes?.banner_section2?.length > 0">
                            <div class="secondwrapperbanner">
                                <owl-carousel [options]="bannerslideOptions" [items]="bannerRes?.banner_section2"
                        [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">

    <section  *ngFor="let item of bannerRes?.banner_section2">
                                    <!-- *ngIf="item.img_url != null && item.img_url != ''"  -->
        <div class="mid-banner-slider">
                                        <img appLazyLoad imageLoader class="img-spinner"
                                            [src]="item.img_url ? item.img_url : '../../../assets/images/default-thumbnail.jpg' "
                                            alt="{{item?.banner_title}}" />
                                        <!-- <img *ngIf="item.img_url == null || item.img_url == ''"
                      src="../../../assets/images/default-thumbnail.jpg" /> -->
                                        <div class="mid-banner-slidertext">
                                            <div class="banner-content">
                                                <!-- <span class="time-dsplay">24 : 03 : 20 time left</span> -->
                                                <h3>{{item?.banner_title}}</h3>
                                                <p class="date-text">{{item?.banner_description}}</p>
                                                <button class="btn mid-banner-sliderbtn" *ngIf="item?.button_label"
                                                    (click)="redirectToScreen(item?.button_link,item)">{{item?.button_label}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                           </owl-carousel>
                            </div>

                        </div>
                        <div class="pl-lg-2 pr-sm-3 pr-lg-2 mb-3 mb-lg-0 col-lg-4 col-md-6 col-12"
                            *ngIf="bannerRes?.banner_section3[0] || bannerRes?.banner_section4[0]">
                            <div class="mid-banner">
                                <div class="row">
                                    <div class="col-sm-12 col-12 pr-3 pr-mob-0" *ngIf="bannerRes?.banner_section3[0]">
                                        <div class="mid-banner-top">
                                            <div class="mid-banner-text">
                                                <div class="banner-content">
                                                    <h3 class="banner-title">
                                                        {{bannerRes?.banner_section3[0]?.banner_title}}</h3>
                                                    <p class="banner-description">
                                                        {{bannerRes?.banner_section3[0]?.banner_description}}</p>
                                                    <button class="btn banner-btn"
                                                        *ngIf="bannerRes?.banner_section3[0]?.button_label"
                                                        (click)="redirectToScreen(bannerRes?.banner_section3[0]?.button_link,bannerRes?.banner_section3[0])">{{bannerRes?.banner_section3[0]?.button_label}}</button>
                                                </div>
                                            </div>
                                            <!-- *ngIf="bannerRes?.banner_section3[0]?.img_url != null && bannerRes?.banner_section3[0]?.img_url != ''" -->
                                            <img appLazyLoad imageLoader class="img-spinner" [src]="bannerRes?.banner_section3[0]?.img_url ? 
                        bannerRes?.banner_section3[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                                alt="{{bannerRes?.banner_section3[0]?.banner_title}}" />
                                            <!-- <img
                        *ngIf="bannerRes?.banner_section3[0]?.img_url == null || bannerRes?.banner_section3[0]?.img_url == ''"
                        src="../../../assets/images/default-thumbnail.jpg" /> -->
                                        </div>
                                    </div>
                                    <!-- *ngIf="bannerRes?.banner_section4[0]?.img_url != null && bannerRes?.banner_section4[0]?.img_url != ''" -->
                                    <div class="col-sm-12  col-12 pl-3 pl-mob-0" *ngIf="bannerRes?.banner_section4[0]">
                                        <div class="mid-banner-bottom">
                                            <img appLazyLoad imageLoader class="img-spinner" [src]="bannerRes?.banner_section4[0]?.img_url ? 
                      bannerRes?.banner_section4[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                                alt="{{bannerRes?.banner_section4[0]?.banner_title}}" />
                                            <!-- <img
                        *ngIf="bannerRes?.banner_section4[0]?.img_url == null || bannerRes?.banner_section4[0]?.img_url == ''"
                        src="../../../assets/images/default-thumbnail.jpg" /> -->
                                            <div class="banner-content">
                                                <h3 class="banner-title">{{bannerRes?.banner_section4[0]?.banner_title}}
                                                </h3>
                                                <p class="banner-description">
                                                    {{bannerRes?.banner_section4[0]?.banner_description}}</p>
                                                <button class="btn banner-btn"
                                                    *ngIf="bannerRes?.banner_section4[0]?.button_label"
                                                    (click)="redirectToScreen(bannerRes?.banner_section4[0]?.button_link,bannerRes?.banner_section4[0])">{{bannerRes?.banner_section4[0]?.button_label}}</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- *ngIf="bannerRes?.banner_section5[0]?.img_url != null && bannerRes?.banner_section5[0]?.img_url != ''" -->
                        <div class="pl-lg-2 pl-sm-3 mb-3 mb-lg-0 col-lg-4 col-md-6 col-12"
                            *ngIf="bannerRes?.banner_section5[0]">
                            <div class="euipment-loan-banner">
                                <img appLazyLoad imageLoader class="img-spinner"
                                    [src]="bannerRes?.banner_section5[0]?.img_url ? bannerRes?.banner_section5[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                    alt="{{bannerRes?.banner_section5[0]?.banner_title}}" />
                                <!-- <img
                  *ngIf="bannerRes?.banner_section5[0]?.img_url == null || bannerRes?.banner_section5[0]?.img_url == ''"
                  src="../../../assets/images/default-thumbnail.jpg" /> -->
                                <div class="euipment-loan-wrap">
                                    <h3 class="banner-title">{{bannerRes?.banner_section5[0]?.banner_title}}</h3>
                                    <p class="banner-description">{{bannerRes?.banner_section5[0]?.banner_description}}
                                    </p>
                                    <button class="btn banner-btn" *ngIf="bannerRes?.banner_section5[0]?.button_label"
                                        (click)="redirectToScreen(bannerRes?.banner_section5[0]?.button_link,bannerRes?.banner_section5[0])">{{bannerRes?.banner_section5[0]?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End banner section -->
            <div class="featured-section featured-section-box section">
                <div class="container-fluid bg-fff featured-wrapper">

                    <div class="row">
                        <div class="section-header col-12">
                            <h3 class="section-title">Our Featured Products</h3>
                            <button class="view-all-btn" mat-button (click)="viewProductListing()">View All</button>
                        </div>
                        <div class="col-12">
                            <div class="product-tabs">
                                <mat-tab-group (selectedTabChange)="onFeaturedTabChanged($event);">
                                    <mat-tab label="New Equipment" *ngIf="newProductList?.length > 0">
                                        <div class=" ">
                                            <owl-carousel class="feature-carousel-slide" [options]="recentViewSlideOptions" [items]="newProductList"
                                                [carouselClasses]="['owl-theme', 'sliding']">
                                                <section class="content" *ngFor="let product of newProductList">
                                                    <article class="product-item cursor-pointer active">
                                                        <div class="product-wrap">
                                                            <div class="product-image">
                                                                <img appLazyLoad class="img-spinner"
                                                                    src="{{product?.primary_display_image ? product?.primary_display_image :'../../../assets/images/logo.png'}}"
                                                                    alt="">

                                                                <div class="product-wishlist" *ngIf="this.cognitoId">
                                                                    <img src="../../../assets/images/heart-wishlist.svg"
                                                                        *ngIf="!product?.is_watchlist"
                                                                        (click)="addToWishlist('new',product?.id)"
                                                                        alt="" class="wishlist-icon">
                                                                    <img src="../../../assets/images/heart-wishlist-active.png"
                                                                        *ngIf="product?.is_watchlist"
                                                                        (click)="removeFromWatchlist('new',product?.id)"
                                                                        alt="" class="wishlist-icon">
                                                                </div>

                                                            </div>
                                                            <div class="product-summery">
                                                                <h3 class="product-title" *ngIf="product.product_name">
                                                                    {{product.product_name}}</h3>
                                                                <h3 class="product-title" *ngIf="!product.product_name">
                                                                    {{product?.category?.display_name + ' ' +
                                                                    product?.brand?.display_name+ ' '
                                                                    +product?.model?.name }}
                                                                </h3>
                                                                <p class="product-price" *ngIf="product.selling_price">₹
                                                                    {{product.selling_price}}</p>
                                                                <p class="product-price" *ngIf="!product.selling_price">
                                                                    ₹ 0</p>
                                                                <ul class="product-info"
                                                                    *ngIf="product?.tech_fields?.length">
                                                                    <li
                                                                        *ngFor="let tech of product.tech_fields | slice:0:3">
                                                                        <div class="product-subtitle"
                                                                            [innerHTML]="getTitle(tech?.field_name)"></div>
                                                                        <div class="product-titlename">
                                                                            {{tech.field_value ? tech.field_value +
                                                                            (tech?.field_unit) : ''}}</div>
                                                                    </li>
                                                                </ul>
                                                                <ul class="product-info"
                                                                    *ngIf="!product?.tech_fields?.length">
                                                                    <div class="tech-info-no">
                                                                        <span>Tech Specs Not Available</span>
                                                                    </div>

                                                                    <li *ngIf="product.model.name">
                                                                        <div class="product-subtitle">Engine<br> Model</div>
                                                                        <div class="product-titlename">
                                                                            {{product.model.name}}</div>

                                                                    </li>
                                                                    <li *ngIf="product.engine_power">
                                                                        <div class="product-subtitle">Engine<br> Power
                                                                        </div>
                                                                        <div class="product-titlename">
                                                                            {{product.engine_power}} cc</div>

                                                                    </li>

                                                                    <li *ngIf="product.operating_weight">
                                                                        <div class="product-subtitle">Operational <br>Weight
                                                                        </div>
                                                                        <div class="product-titlename">
                                                                            {{product.operating_weight}} kg</div>

                                                                    </li>
                                                                </ul>
                                                                <button class="product-view-btn"
                                                                    (click)="redirectToEquipmentDetail('New',product.id)"
                                                                    mat-button>View Details</button>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </section>
                                            </owl-carousel>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Used Equipment" *ngIf="usedProductList?.length > 0">
                                        <div class="">
                                            <owl-carousel [options]="recentViewSlideOptions" [items]="usedProductList"
                                                [carouselClasses]="['owl-theme', 'sliding']">
                                                <section class="content" *ngFor="let product of usedProductList">
                                                    <article class="cursor-pointer active product-item">
                                                        <div class="product-wrap">
                                                            <div class="product-image">
                                                                <img appLazyLoad imageLoader
                                                                    src="{{product.primary_display_image ? product.primary_display_image : '../../../assets/images/equipment-1.png'}}"
                                                                    class="img-fluid img-spinner" alt="">
                                                                <div class="product-wishlist" *ngIf="this.cognitoId">
                                                                    <img src="../../../assets/images/heart-wishlist.svg"
                                                                        alt="" *ngIf="!product?.is_watchlist"
                                                                        (click)="addToWishlist('used',product?.id)"
                                                                        class="wishlist-icon">
                                                                    <img src="../../../assets/images/heart-wishlist-active.png"
                                                                        *ngIf="product?.is_watchlist"
                                                                        (click)="removeFromWatchlist('used',product?.id)"
                                                                        alt="" class="wishlist-icon">
                                                                </div>

                                                            </div>
                                                            <div class="product-summery">
                                                                <h3 class="product-title" *ngIf="product.product_name">
                                                                    {{product.product_name }}</h3>
                                                                <h3 class="mb-2 product-title"
                                                                    *ngIf="!product.product_name">
                                                                    {{product?.category?.display_name + ' ' +
                                                                    product?.brand?.display_name+ ' '
                                                                    +product?.model?.name}}</h3>
                                                                <p class="product-price mb-1"
                                                                    *ngIf="!product.is_price_on_request">₹
                                                                    {{product.selling_price}}
                                                                </p>
                                                                <p class=" mb-1 price-rqst"
                                                                    *ngIf="product.is_price_on_request">Price on Request
                                                                </p>
                                                                <ul class="product-info">
                                                                    <div class="tech-info-no">
                                                                        <span>Tech Specs Not Available</span>
                                                                    </div>
                                                                    <li *ngIf="product.model.name">
                                                                        <div class="product-subtitle">Engine<br> Model</div>
                                                                        <div class="product-titlename">
                                                                            {{product.model.name}}</div>

                                                                    </li>
                                                                    <li *ngIf="product.engine_power">
                                                                        <div class="product-subtitle">Engine<br> Power
                                                                        </div>
                                                                        <div class="product-titlename">
                                                                            {{product.engine_power}} cc</div>

                                                                    </li>

                                                                    <li *ngIf="product.operating_weight">
                                                                        <div class="product-subtitle">Operational<br> Weight
                                                                        </div>
                                                                        <div class="product-titlename">
                                                                            {{product.operating_weight}} kg</div>

                                                                    </li>
                                                                </ul>
                                                                <button class="product-view-btn"
                                                                    (click)="redirectToEquipmentDetail('Used',product.id)"
                                                                    mat-button>View Details</button>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </section>
                                            </owl-carousel>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End feature -->


            <!-- new change-->
            <div class="our-partner-section section">
                <div class="container-fluid  bg-fff our-partner-wrapper">
                    <div class="row">
                        <div class="section-header col-sm-12">
                            <h5 class="section-title">Our Valued Partner</h5>
                            <button class="view-all-btn" (click)="viewAllBrands()">View All</button>
                        </div>
                        <div class=" col-sm-12">
                            <owl-carousel [options]="categorySlideOptions" [items]="brandList"
                                [carouselClasses]="['owl-theme', 'sliding']">
                                <section class="content" *ngFor="let item of brandList">
                                    <article class="partner-box-item cursor-pointer">
                                        <div class="partner-box-wrap">
                                            <div class="partner-box-summery"
                                                (click)="redirectByBrand(item?.id,item?.name)">
                                                <div class="partner-box-image">
                                                    <img appLazyLoad imageLoader class="img-spinner"
                                                        [src]="item?.brand_logo_image ? item?.brand_logo_image : '../../../assets/images/brand.png'">
                                                </div>
                                                <div class="partner-box-name">{{item?.name}}</div>
                                            </div>
                                        </div>
                                    </article>
                                </section>
                            </owl-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new change ends-->
            <div class="trandingloan-scheme-section section" *ngIf="categoryList">
                <div class="container-fluid bg-fff trandingloan-scheme-wrapper">
                    <div class="section-header pt-2">
                        <h3 class="section-title">Trending Loan Schemes from our Finance Partners</h3>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <owl-carousel [options]="loanschemeSlideOptions"
                            [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">
                            <section class="content">
                                <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                    <div class="tranding-loan-wrap"
                                        onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                        <div class="loan-scheme-box">
                                            <div class="loan-scheme-header">
                                                <div class="loan-brand">
                                                    United Bank Of India
                                                </div>
                                            </div>
                                            <div class="loan-scheme-body">
                                                <div class="row m-0">
                                                    <div class="col-sm-4">
                                                        <div class="tranding-loan-image">
                                                            <img src="../../../assets/images/ubi.bank.png">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 pl-0">
                                                        <div class="tranding-loan-summery">
                                                            <div class="tranding-loan-text">MSME Loan within 2 days
                                                                /Instant disbursement</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </section>
                                <section class="content">
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        ICICI Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/icici-bank.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">MSME Loan within 2 days
                                                                    /Instant disbursement</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="content">
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        Punjab National Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/pnb-bank.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">1 Day Approval post
                                                                    document submission / Flexible Tenure &amp;
                                                                    moratorium period.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content">
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        Axis Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/bank-axis.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8  pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">Competitive interest
                                                                    rates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content">
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        ICICI Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/bank-axis.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">MSME Loan within 2 days
                                                                    /Instant disbursement</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>
                            </owl-carousel>

                            <!-- <ngx-light-carousel style="display: block;" *ngIf="loansList" [data]="loansList"
                                [options]="options2" class="wrapper tranding-carousel">
                                <section ngx-light-carousel-container class="content">
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        United Bank Of India
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/ubi.bank.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">MSME Loan within 2 days
                                                                    /Instant disbursement</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        ICICI Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/icici-bank.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">MSME Loan within 2 days
                                                                    /Instant disbursement</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        Panjab National Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/pnb-bank.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">1 Day Approval post
                                                                    document submission / Flexible Tenure &amp;
                                                                    moratorium period.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        Axis Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/bank-axis.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8  pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">Competitive interest
                                                                    rates</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tranding-loan-item cursor-pointer" ngx-light-carousel-item>
                                        <div class="tranding-loan-wrap"
                                            onclick="window.open('https://uat.iqsl.co.in', '_blank');">
                                            <div class="loan-scheme-box">
                                                <div class="loan-scheme-header">
                                                    <div class="loan-brand">
                                                        ICICI Bank
                                                    </div>
                                                </div>
                                                <div class="loan-scheme-body">
                                                    <div class="row m-0">
                                                        <div class="col-sm-4">
                                                            <div class="tranding-loan-image">
                                                                <img src="../../../assets/images/bank-axis.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 pl-0">
                                                            <div class="tranding-loan-summery">
                                                                <div class="tranding-loan-text">MSME Loan within 2 days
                                                                    /Instant disbursement</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #infiniteContainer></ng-template>
                                </section>

                                <ng-template #carouselPrev>
                                    <div class="click-area">
                                    </div>
                                </ng-template>
                                <ng-template #carouselNext>
                                    <div class="click-area">
                                    </div>
                                </ng-template>

                                <ng-template #carouselDot let-model>
                                    <div class="ball bg-accent"></div>
                                </ng-template>

                                <ng-template #carouselProgress let-progress>
                                    <div class="progress"></div>
                                </ng-template>
                            </ngx-light-carousel> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End trandingloan schem -->
            <div class="banner-second-section section">
                <div class="banner-second-wrap">
                    <div class="row">
                        <div class="pr-lg-2 mb-3 mb-lg-0 col-lg-6 col-md-12 col-12"
                            *ngIf="bannerRes?.banner_section6[0]">
                            <div class="banner-second-left">
                                <!-- *ngIf="bannerRes?.banner_section6[0]?.img_url != null && bannerRes?.banner_section6[0]?.img_url != ''" -->
                                <img appLazyLoad imageLoader class="img-spinner"
                                    [src]="bannerRes?.banner_section6[0]?.img_url ? bannerRes?.banner_section6[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                    alt="{{bannerRes?.banner_section6[0]?.banner_title}}" />
                                <!-- <img 
                  *ngIf="bannerRes?.banner_section6[0]?.img_url == null || bannerRes?.banner_section6[0]?.img_url == ''"
                  src="../../../assets/images/default-thumbnail.jpg" /> -->
                                <div class="banner-content">
                                    <h3 class="banner-title">{{bannerRes?.banner_section6[0]?.banner_title}}</h3>
                                    <p class="banner-description">{{bannerRes?.banner_section6[0]?.banner_description}}
                                    </p>
                                    <button class="btn banner-btn" *ngIf="bannerRes?.banner_section6[0]?.button_label"
                                        (click)="redirectToScreen(bannerRes?.banner_section6[0]?.button_link,bannerRes?.banner_section6[0])">{{bannerRes?.banner_section6[0]?.button_label}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="pl-lg-2 col-lg-6 col-md-12 col-12" *ngIf="bannerRes?.banner_section7?.length > 0">
                            <div class="banner-seven">
                                <owl-carousel [options]="bannerslideOptions" [items]="bannerRes?.banner_section7"
                                [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">
                                        <section *ngFor="let item of bannerRes?.banner_section7">
        
                                            <div class="banner-second-right">
                                                <img appLazyLoad imageLoader class="img-spinner"
                                                    [src]="item.img_url ? item.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                                    alt="{{item?.banner_title}}" />
        
                                                <div class="banner-content">
                                                    <h3 class="banner-title">{{item?.banner_title}}</h3>
                                                    <p class="banner-description">{{item?.banner_description}}</p>
                                                    <button class="btn banner-btn"
                                                        (click)="redirectToScreen(item?.button_link,item)">{{item?.button_label}}</button>
                                                </div>
                                            </div>
        
                                        </section>
        
                                    </owl-carousel>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- End second banner -->
            <div class="auction-section section">
                <div class="container-fluid bg-fff auction-wrapper">
                    <div class="section-header">
                        <h3 class="section-title">Auctions</h3>
                        <button class="view-all-btn" [routerLink]="['/auctions']">View All</button>
                    </div>
                    <div class="product-tabs">
                        <mat-tab-group>
                            <mat-tab label="Ongoing">
                                <div class="auction-row" *ngIf="ongoingAuctionList.length">
                                    <owl-carousel [options]="recentViewSlideOptions" [items]="ongoingAuctionList"
                                        [carouselClasses]="['owl-theme', 'sliding']">
                                        <section class="content" *ngFor="let ongoing of ongoingAuctionList">
                                            <article class="auction-item">
                                                <div class="auction-wrap">
                                                    <div class="auction-image">
                                                        <img appLazyLoad class="img-spinner"
                                                            [src]="ongoing?.img_url ? (ongoing?.img_url) : '../../../assets/images/auction-image.jpg'"
                                                            alt="">
                                                        <div class="auction-online-location">
                                                            <span class="auction-location"
                                                                *ngIf="ongoing?.sale_type == 'LV'"><img
                                                                    src="../../../assets/images/icon-stream.svg">
                                                                Live</span>
                                                            <span class="auction-online"
                                                                *ngIf="ongoing?.sale_type == 'OL'"><img
                                                                    src="../../../assets/images/icon-globe.svg">
                                                                Online</span>
                                                        </div>

                                                        <div class="auction-time-left">
                                                            <div class="auction-closing auction-time"
                                                                *ngIf="getTimeLeft(ongoing?.ends_at) as elapsed">
                                                                <span>Closing in</span> {{elapsed.days +
                                                                'D'}}:{{elapsed.hours + 'H'}}:{{elapsed.minutes +
                                                                'M'}}:{{elapsed.seconds + 'S'}}
                                                            </div>
                                                        </div>

                                                        <div class="auction-lost-id">
                                                            ({{ongoing?.lot_count}} Lots | Auction Id :
                                                            {{ongoing?.auction_engine_auction_id}})
                                                        </div>
                                                    </div>
                                                    <div class="auction-summery">
                                                        <div class="auction-deatial">
                                                            <h3 class="auction-title">{{ongoing?.name}}</h3>
                                                            <div class="auction-start-end-date">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                <span class="sdate">{{ongoing?.starts_at | date: 'dd MMM
                                                                    yyyy'}} - </span>
                                                                <span class="edate sdate">{{ongoing?.ends_at | date: 'dd
                                                                    MMM yyyy'}}</span>
                                                            </div>
                                                            <!-- <div class="auction-closing" *ngIf="getTimeLeft(ongoing?.ends_at) as elapsed">
                                                                <span>Closing in</span> {{elapsed.days + 'D'}}:{{elapsed.hours + 'H'}}:{{elapsed.minutes + 'M'}}:{{elapsed.seconds + 'S'}}
                                                            </div> -->
                                                        </div>
                                                        <div class="auction-btn-sec">
                                                            <button class="auction-veiwlot-btn"
                                                                (click)="showAuctionDetails(ongoing?.id, ongoing?.auction_engine_auction_id)">View
                                                                Lot</button>
                                                            <button class="auction-bidnaow-btn"
                                                                (click)="auctionBid(ongoing?.id, ongoing?.parent_auction)">Bid
                                                                Now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </section>
                                    </owl-carousel>
                                </div>
                                <div class="auction-row" *ngIf="!ongoingAuctionList.length">
                                    <div class="col-12">
                                        <p class="py-3">No Ongoing Auctions</p>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Upcoming">
                                <div class="auction-row" *ngIf="upcomingAuctionList.length">
                                    <owl-carousel [options]="recentViewSlideOptions" [items]="upcomingAuctionList"
                                        [carouselClasses]="['owl-theme', 'sliding']">
                                        <section class="content" *ngFor="let upcoming of upcomingAuctionList">
                                            <article class="auction-item">
                                                <div class="auction-wrap">
                                                    <div class="auction-image">
                                                        <img [src]="upcoming?.img_url ? (upcoming?.img_url) : '../../../assets/images/auction-image.jpg'"
                                                            alt="">
                                                        <div class="auction-online-location">
                                                            <span class="auction-location"
                                                                *ngIf="upcoming?.sale_type == 'LV'"><img
                                                                    src="../../../assets/images/icon-stream.svg">
                                                                Live</span>
                                                            <span class="auction-online"
                                                                *ngIf="upcoming?.sale_type == 'OL'"><img
                                                                    src="../../../assets/images/icon-globe.svg">
                                                                Online</span>
                                                        </div>
                                                        <div class="auction-lost-id">
                                                            ({{upcoming?.lot_count}} Lots | Auction Id :
                                                            {{upcoming?.auction_engine_auction_id}})
                                                        </div>
                                                    </div>
                                                    <div class="auction-summery">
                                                        <div class="auction-deatial">
                                                            <h3 class="auction-title">{{upcoming?.name}}</h3>
                                                            <div class="auction-closing"
                                                                *ngIf="getTimeLeft(upcoming?.ends_at) as elapsed">
                                                                <span>Closing in</span> {{elapsed.hours}} Hours
                                                                {{elapsed.hours}} Minutes {{elapsed.hours}} Seconds
                                                            </div>
                                                        </div>
                                                        <div class="auction-btn-sec">
                                                            <button class="auction-veiwlot-btn"
                                                                (click)="showAuctionDetails(upcoming?.id, upcoming?.auction_engine_auction_id)">View
                                                                Lot</button>
                                                            <button class="auction-bidnaow-btn"
                                                                (click)="onRegisterNow(upcoming)">Register
                                                                Now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </section>
                                    </owl-carousel>
                                </div>
                                <div class="row auction-row" *ngIf="!upcomingAuctionList.length">
                                    <div class="col-12">
                                        <p class="py-3">No Upcoming Auctions</p>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
            <!-- end auction section-->
            <div class="banner-third-section section">
                <div class="banner-third-wrapper banner-third-wrapper-box">
                    <div class="row">
                        <!-- *ngIf="bannerRes?.banner_section8[0]?.img_url != null && bannerRes?.banner_section8[0]?.img_url != ''" -->
                        <div class="pr-md-2 mb-3 mb-md-0 col-md-6 col-sm-12 col-12"
                            *ngIf="bannerRes?.banner_section8[0]">
                            <div class="banner-third-left banner-third-item">
                                <img appLazyLoad imageLoader class="img-spinner" [src]="bannerRes?.banner_section8[0]?.img_url  ? 
                bannerRes?.banner_section8[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                    alt="{{bannerRes?.banner_section8[0]?.banner_title}}" />
                                <div class="banner-third-left-content"
                                    *ngIf="bannerRes?.banner_section8[0]?.banner_title || bannerRes?.banner_section8[0]?.banner_description ||bannerRes?.banner_section8[0]?.button_label">
                                    <div class="banner-content  text-left">
                                        <h3 class="banner-title">{{bannerRes?.banner_section8[0]?.banner_title}}</h3>
                                        <p class="banner-description">
                                            {{bannerRes?.banner_section8[0]?.banner_description}}</p>
                                        <button class="btn banner-btn"
                                            *ngIf="bannerRes?.banner_section8[0]?.button_label != null"
                                            (click)="redirectToScreen(bannerRes?.banner_section8[0]?.button_link,bannerRes?.banner_section8[0])">{{bannerRes?.banner_section8[0]?.button_label}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pl-md-2 col-md-6 col-12 mb-3 mb-md-0 mb-lg-0" *ngIf="bannerRes?.banner_section9[0]">
                            <div class="banner-third-right banner-third-item">
                                <img appLazyLoad imageLoader class="img-spinner"
                                    [src]="bannerRes?.banner_section9[0]?.img_url ? bannerRes?.banner_section9[0]?.img_url : '../../../assets/images/default-thumbnail.jpg'"
                                    alt="{{bannerRes?.banner_section9[0]?.banner_title}}" />
                                <div class="banner-third-right-content">
                                    <div class="banner-content"
                                        *ngIf="bannerRes?.banner_section9[0]?.banner_title || bannerRes?.banner_section9[0]?.banner_description ||bannerRes?.banner_section9[0]?.button_label">
                                        <h3 class="banner-title">{{bannerRes?.banner_section9[0]?.banner_title}}</h3>
                                        <p class="banner-description">
                                            {{bannerRes?.banner_section9[0]?.banner_description}}</p>
                                        <button class="btn banner-btn"
                                            *ngIf="bannerRes?.banner_section9[0]?.button_label != null"
                                            (click)="redirectToScreen(bannerRes?.banner_section9[0]?.button_link,bannerRes?.banner_section9[0])">{{bannerRes?.banner_section9[0]?.button_label}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End asset banner -->

            <div class="trandingloan-scheme-section testimonials-container-section">
                <div class="container-fluid bg-fff trandingloan-scheme-wrapper">
                    <div class="section-header pt-2">
                        <h3 class="section-title">Testimonials</h3>
                        <!-- <button class="view-all-btn">View All</button> -->
                    </div>
                    <div class="testimonials-section">
                        <owl-carousel [options]="testimonialsSlideOptions"
                            [carouselClasses]="['owl-theme', 'sliding', 'owl-drag', 'owl-carousel']">
                            <section class="content">
                                <article class="partner-box-item testimonials-card cursor-pointer">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery">
                                            <div class="partner-box-image">
                                                <img class="img-spinner" src="../../../assets/images/brand.png">
                                            </div>
                                            <div class="partner-box-name">
                                                <h4>Deepak Singh</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Sit adipisci laboriosam quis dolor omnis excepturi aliquam
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                            <section class="content">
                                <article class="partner-box-item testimonials-card cursor-pointer">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery">
                                            <div class="partner-box-image">
                                                <img class="img-spinner" src="../../../assets/images/brand.png">
                                            </div>
                                            <div class="partner-box-name">
                                                <h4>Deepak Singh</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Sit adipisci laboriosam quis dolor omnis excepturi aliquam
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                            <section class="content">
                                <article class="partner-box-item testimonials-card cursor-pointer">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery">
                                            <div class="partner-box-image">
                                                <img class="img-spinner" src="../../../assets/images/brand.png">
                                            </div>
                                            <div class="partner-box-name">
                                                <h4>Deepak Singh</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Sit adipisci laboriosam quis dolor omnis excepturi aliquam
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                            <section class="content">
                                <article class="partner-box-item testimonials-card cursor-pointer">
                                    <div class="partner-box-wrap">
                                        <div class="partner-box-summery">
                                            <div class="partner-box-image">
                                                <img class="img-spinner" src="../../../assets/images/brand.png">
                                            </div>
                                            <div class="partner-box-name">
                                                <h4>Deepak Singh</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                    Sit adipisci laboriosam quis dolor omnis excepturi aliquam
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </owl-carousel>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>