.main-wrapper.dashboard {
    background: #EFF2F4;
}

.dashboard .carousel-indicators {
    bottom: 25% !important;
    justify-content: left !important;
    margin-left: 5% !important;
}

.dashboard .carousel-control-next,
.carousel-control-prev {
    display: none !important;
}

.picsum-img-wrapper {
    width: 100%;
    height: calc(100vh - 190px);
}

.picsum-img-wrapper:before {
    content: '';
    position: absolute;
    background: #00000042;
    width: 100%;
    height: 100%;
    display: block;
}

.picsum-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute !important;
    right: 0px;
    top: 40%;
    left: 45px !important;
    bottom: unset !important;
    text-align: left !important;
    transform: translate(0px, -50%);
    padding: 0px;
}

.carousel-caption h3 {
    font-weight: 600;
    font-size: 30px;
}

.carousel-caption p {
    text-shadow: 0px 2px 2px #00000029;
    max-width: 90%;
    margin-bottom: 25px;
    word-break: break-word;
    white-space: normal;
    font-size: 16px;
}

.carousel-caption button.theme-lg-btn {
    box-shadow: 0px 3px 6px #00000099;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 15px !important;
    width: 170px;
    height: 45px;
}


/* ============== Search Section ================ */

.search-equipment {
    margin-top: -105px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search-equipment-wrapper {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.search-equipment .mat-button-toggle-group {
    width: 100%;
    border-radius: 0px;
}

.search-equipment mat-button-toggle.btn {
    border-radius: 0px;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    box-shadow: 0px 3px 6px #0000002E;
    opacity: 1;
    border: 1px solid #D5D5D5;
    color: #212529;
    padding-top: 4px;
    height: 40px;
    padding-bottom: 4px;
}

.search-equipment mat-button-toggle.btn.mat-button-toggle-checked {
    background-color: #004394;
    border: 1px solid #004394;
    color: #fff;
}

.input-icons .icon {
    position: absolute;
    padding: 13px;
}


/* .input-icons {
  width: calc(100% - 200px); vertical-align: middle; display: inline-block;
  margin-bottom: 10px;
} */

.icon {
    padding: 15px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 45px !important;
}


/* ============== Default CSS ================ */

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px!important;
}

.section-title {
    color: #001229;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.view-all-btn {
    width: 100px;
    height: 36px;
    border: 1px solid #0D4FA3;
    border-radius: 8px;
    opacity: 1;
    color: #0D4FA3;
    background: transparent;
    font-size: 20px;
    font-size: 14px;
    font-weight: 500;
}

ngx-light-carousel article {
    margin: 0 7.5px;
    padding: 0px;
}

.banner-dotted-indicators .carousel-indicators li {
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

.banner-dotted-indicators .carousel-indicators {
    bottom: 5px !important;
    margin: 0 auto !important;
    left: 0;
    right: 0;
    justify-content: center !important;
}


/* ============== Category Section ================ */

.category-wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 15px;
}

article.category-item {
    padding: 0px 7.5px;
}


/* article.category-item:first-child{padding-left:0px !important;}
article.category-item:last-child{padding-right:0px !important;} */

.category-wrap {
    border: 1px solid #EBEBEB;
    box-shadow: -1px 3px 9px #00000012;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.category-image {
    height: 110px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-image img {
    width: 80px !important;
    display: block;
    background-size: auto !important;
    object-fit: contain !important;
}

.category-name {
    color: #000;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 46px;
}


/* .category-item:hover .category-name{ 
  background-color: #004394;
  color: #fff; 
} */


/* ============== Mid Banner Section ================ */

.mid-banner-section {
    min-height: 376px;
    margin: 20px auto;
    width: 100%;
}

.mid-banner-slider {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.mid-banner-slider img {
    width: 100%;
    height: 376px;
    min-height: 376px;
}

.mid-banner-slidertext {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    background: rgb(0 0 0 / 12%);
    padding: 0px 0px 10px 20px;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.time-dsplay {
    background-color: #d72f2f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px 6px 0px 0px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.mid-banner-slidertext h3 {
    font-size: 20px;
    font-weight: 600;
}

.mid-banner-slidertext .date-text {
    font-size: 14px;
}

.mid-banner-sliderbtn {
    background-color: #fff;
    padding: 6px 12px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: .25rem;
    border: 1px solid transparent!important;
    min-width: 110px;
    text-transform: capitalize;
}

.mid-banner-top {
    margin-bottom: 2%;
    position: relative;
}


/* .mid-banner-text {
  position: absolute;
  left: 0;
  align-items: center;
  color: #fff;
  padding: 0px 10px;
  bottom: 10px;
  right: 0px;
} */

button.btn.banner-btn {
    background: #fff;
    font-size: 12px;
    min-width: 110px;
    border: 2px solid #fff;
    text-transform: capitalize;
}

button.btn.banner-btn:hover {
    opacity: 1;
    color: #212529;
}

.mid-banner-text span {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-transform: uppercase;
    width: 115px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
    padding: 7px 5px;
    margin: 0 10px 0 20px;
}

.mid-banner-top img {
    width: 100%;
    height: 184px;
    min-height: 184px;
    border-radius: 10px;
}

.mid-banner-bottom {
    margin-top: 1%;
    position: relative;
}

.banner-content {
    position: absolute;
    left: 0;
    align-items: center;
    color: #fff;
    padding: 0px 10px;
    bottom: 15px;
    right: 0px;
}

.mid-banner-bottom img {
    height: 179px;
    min-height: 179px;
    width: 100%;
    border-radius: 10px;
}

.euipment-loan-banner {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.euipment-loan-banner img {
    width: 100%;
    height: 376px;
    min-height: 376px;
    border-radius: 6px;
}

.euipment-loan-wrap {
    background: rgba(0, 0, 0, .6509803921568628);
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 15px
}

.euipment-loan-btn {
    background: #fff;
    border: 0px;
    padding: 7px 22px;
    border-radius: 10px;
    color: #264ca5;
    font-weight: 500;
    font-size: 16px;
}


/* ============== Featured Product Section ================ */

.featured-section {
    position: relative;
    width: 100%;
    margin: 15px auto;
}

.featured-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 15px;
}

.featured-wrapper .section-header,
.auction-wrapper .section-header {
    margin: 0px;
}

.product-tabs .mat-tab-group {
    border: none !important;
    border-radius: 6px;
}

.product-tabs .mat-tab-label {
    border-right: none !important;
}

.product-tabs .mat-tab-label-active {
    background: none !important;
    opacity: 1 !important;
    color: #0D4FA3 !important;
}

.product-tabs .mat-tab-label-content {
    font-size: 16px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    line-height: 20px;
}

.product-tabs .mat-tab-body-content {
    padding: 0;
}

.product-item {
    position: relative;
}

.product-image>img {
    object-fit: contain;
    height: 100%;
}

.product-image img.copyr8-logo {
    position: absolute;
    width: 100px;
    opacity: 0.3;
}

.product-wishlist {
    /* background-color: #C2CAD0;
  border: 1px solid #C2CAD0; */
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    background-color: #eee;
    height: 35px;
    border-radius: 100%;
}

.product-wishlist img.wishlist-icon {
    width: 18px!important;
    /* height: 15px; */
    position: static;
}

.product-summery {
    border-top: 1px solid #C4CFD8;
    padding: 10px 5px 10px;
}

.product-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 36px;
    margin-bottom: 0.8rem !important;
}

.product-price {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #047007;
}

.product-info {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    min-height: 41px;
}


/* .product-info li{
  flex : 1 1 auto;
  
} */

.product-info li p {
    font-size: 11px;
    line-height: 17px;
    color: #727272;
    margin-bottom: 0;
}

.product-info li p span {
    color: #727272;
    color: #000;
}

.product-view-btn {
    background-color: #0D4FA3;
    color: #fff;
    width: 100%;
    font-size: 12px;
    line-height: 21px;
    padding: 7px 15px;
}


/* ============== Trandingloan Scheme Section ================ */

.loan-scheme-header {
    background: transparent linear-gradient( 110deg, #1a50b1 0%, #a01922 100%);
    padding: 6px 10px;
}

.loan-scheme-header .loan-brand {
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.trandingloan-scheme-section {
    width: 100%;
    margin: 15px auto;
    padding: 0px;
}

.trandingloan-scheme-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 15px;
}

.tranding-carousel {
    padding: 0px 0px 0px;
    width: 100%;
}

.tranding-loan-item {
    padding: 0 7.5px 10px;
    min-width: inherit !important;
}

.tranding-loan-wrap {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #EDF1F4;
    display: flex;
}

.tranding-loan-image img {
    width: 100%;
}

.tranding-loan-image {
    /* min-width: 125px; */
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 15px 10px 10px;
    background: #fff;
    line-height: 70px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.tranding-loan-summery {
    padding: 7px 10px 7px 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.tranding-loan-rate {
    font-size: 23px;
    color: #363636;
    font-weight: 600;
}

.tranding-loan-text {
    font-size: 12px;
    padding-top: 10px;
    color: #363636;
    line-height: 17px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 65px;
}


/* ============== Banner Second Section ================ */

.banner-second-section {
    width: 100%;
    margin: 15px auto;
    padding: 0px;
}

.banner-second-left {
    width: 100%;
    position: relative;
}

.banner-second-left img {
    width: 100%;
    height: 320px;
    min-height: 320px;
    border-radius: 10px;
    object-fit: cover;
}

.banner-second-right {
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    overflow: hidden;
}

.banner-second-right img {
    width: 100%;
    height: 320px;
    min-height: 320px;
    object-fit: cover;
}

.banner-second-content {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 15px;
}

.banner-second-heading {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    font-weight: 800;
}

.banner-title {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.banner-description {
    font-size: 14px;
    text-transform: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.banner-second-text {
    font-size: 14px;
    line-height: 30px;
    color: #e2e6eb;
    text-transform: uppercase;
}


/* ============== Auction Section ================ */

.auction-section {
    position: relative;
    width: 100%;
    margin: 15px auto;
}

.auction-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

.auction-row {
    margin: 0px;
}

.auction-item {
    margin-top: 15px;
    padding: 0 7.5px;
    /* max-width:25vw!important; */
}

.auction-wrap {
    background-color: #FFFFFF;
    border: 1px solid #C4CFD8;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.auction-image {
    width: 100%;
    position: relative;
    height: 150px;
    min-height: 150px;
}

.auction-image img {
    background-size: cover;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.auction-online-location {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 9;
}

.auction-online-location span {
    font-size: 9px;
    color: #fff;
    background-color: #EF0000;
    padding: 4px 7px;
    border-radius: 0 6px 6px 0;
    line-height: 14px;
}

.auction-online-location span.auction-online {
    background-color: #0D4FA3;
    display: flex;
    margin-bottom: 5px;
}

.auction-online-location span.auction-location {
    display: flex;
}

span.auction-location img {
    width: 17px !important;
}

.auction-online-location>span>img {
    width: 14px;
    margin-right: 5px;
    height: 14px;
}

.auction-lost-id {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 10px;
    border-radius: 10px 0 0 0;
}

.auction-summery {
    padding: 5px 7.5px;
}

.auction-title {
    color: #000;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 9px;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 44px;
}

.auction-closing {
    color: #001229;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    margin: 0 0 15px;
}

.auction-closing span {
    color: #727272;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
}

.auction-btn-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.auction-btn-sec button {
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 8px 15px;
    width: 50%;
    margin: 1.5px;
}

.auction-veiwlot-btn {
    background-color: #0D4FA3;
}

.auction-bidnaow-btn {
    background: transparent linear-gradient(106deg, #1A50B1 0%, #A01922 100%) 0% 0% no-repeat padding-box;
}


/* ============== Banner Third Section ================ */

.banner-third-section {
    width: 100%;
    margin: 15px auto;
    padding: 0px;
}

.banner-third-item {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 190px;
    min-height: 190px;
}

.banner-third-item img {
    width: 100%;
    height: 190px;
    min-height: 190px;
    object-fit: cover;
}

.banner-third-left-content {
    background-color: #0c0c0c78;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 6px 0px;
    right: 0;
    text-align: right;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner-third-left-content h4 {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    text-align: right;
    margin-bottom: 0;
    text-transform: uppercase;
}

.banner-third-left-content h4 a {
    color: #0D4FA3;
    display: block;
}

.banner-third-left-content p {
    color: #FFFFFF;
    font-size: 12px; 
    line-height: 25px;
    margin-bottom: 10px
}

.banner-third-left-content-btn {
    background-color: #0D4FA3;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    width: 170px;
    padding: 10px 10px;
}

.banner-third-right-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 8px 20px;
    height: 50%;
}

.banner-third-right-content .banner-content {
    background-color: rgba(12, 12, 12, .47058823529411764);
    position: inherit;
    text-align: left;
    right: inherit;
    left: inherit;
    padding-top: 10px;
    top: inherit;
    bottom: inherit;
    width: 100%;
    bottom: inherit;
    padding-bottom: 10px;
}

.banner-third-right-content span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.auction-time-left {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 36px;
    text-align: center;
    letter-spacing: 4px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction-time-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.auction-time {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
}

.testimonials-container-section.content {
    margin-right: 10px;
}

article.testimonials-card {
    height: auto !important;
}

article.testimonials-card .partner-box-name {
    display: block;
    text-align: center;
}

article.testimonials-card .partner-box-name h4 {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}

article.testimonials-card .partner-box-name p {
    font-size: 13px;
    color: #948a8a;
}

.search-input-box {
    margin-top: -25px;
}

.content article.testimonials-card img {
    border-radius: 50%;
    width: 80px;
    margin: 0px auto;
    background: #eee;
    background-size: auto;
}


/* ============== Our Partner Section ================ */

.our-partner-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
}

.our-partner-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px #D2DCE6;
    border-radius: 10px;
    padding: 20px;
}

.partner-box-wrap {
    background-color: #fff;
    border: none;
    padding: 0;
}

.partner-box-name {
    display: none;
}

.newsletter-section {
    background: transparent linear-gradient( 110deg, #1a50b1 0%, #a01922 100%);
}

.newsletter-title {
    font-size: 26px;
    color: #fff;
    line-height: 35px;
    padding-top: 10px;
}

.newsletter-title strong {
    font-size: 30px;
}

.newsletter-input-detail {
    background: #fff;
    height: 60px;
    border-radius: 50px;
}

.newsletter-input {
    width: calc(100% - 155px);
}

.newsletter-input input {
    height: 60px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 30px;
    box-shadow: none;
}

.newsletter-button {
    width: 150px;
}

.newsletter-button button {
    height: 54px;
    background: transparent linear-gradient( 110deg, #1a50b1 0%, #a01922 100%);
    color: #fff;
    font-size: 20px;
    width: 100%;
    border-radius: 50pc;
    margin-top: -3px;
}

.search-equipment mat-button-toggle.btn {
    padding-top: 1px;
}


/* ======================================================
                    Responsive Design
========================================================= */

@media screen and (max-width: 1199px) {
    .main-content {
        padding: 0 15px;
        width: 100%;
    }
    /* .search-equipment { 
    width: 100%; 
    padding: 0 15px;
  }
  .category-section{
    width: 100%; 
    padding: 0 15px;
  }
  .mid-banner-section {   
    width: 100%;
    padding: 0 15px;   
  }  
  .featured-section {   
    width: 100%; 
    padding: 0 15px;  
  }
  .trandingloan-scheme-section{
    width: 100%;  
    padding: 0 15px; 
  }  
  .banner-second-section{
    width: 100%;  
    padding: 0 15px; 
  }
  .auction-section{
    width: 100%;  
    padding: 0 15px; 
  }
  .banner-third-section{
    width: 100%;  
    padding: 0 15px; 
  }
  .our-partner-section{
    width: 100%;  
    padding: 0 15px 20px;
  }   */
}

@media screen and (max-width: 991px) {
    .search-input-box {
        margin-top: 0px;
    }
    .auction-row {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin: 0
    }
    .search-equipment mat-button-toggle.btn {
        font-size: 12px;
        padding: 0;
        line-height: 18px;
        max-width: 115px;
    }
    .search-equipment .mat-button-toggle-group {
        justify-content: center;
    }
    .search-equipment h5 {
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    .auction-item {
        margin-top: 0px;
        padding: 0 7.5px;
    }
    .product-view-btn {
        background-color: #0D4FA3;
        color: #fff;
        width: 100%;
        font-size: 12px;
        line-height: 21px;
        padding: 7px 15px;
    }
    .auction-item {
        padding: 0 5px!important;
    }
    .mid-banner-top {
        margin-bottom: 1em;
    }
    /* .our-partner-section{margin-top:15px;} */
    .navigation-ddropdown ul {
        list-style: none;
        padding: 0px;
    }
    .navigation-ddropdown ul li a {
        padding-left: 2em !important;
    }
    .navigation-ddropdown ul li a {
        padding-left: 2em !important;
    }
    .navigatiogn-dropdown ul {
        padding: 0px;
        list-style: none;
    }
    .banner-description,
    .banner-title {
        font-size: 14px;
    }
    .banner-third-section {
        width: 100%;
        margin: 15px auto 0px;
        padding: 0;
    }
    .tranding-loan-image {
        justify-content: center;
        border: 1px solid #eee;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 7px;
        margin: 1em auto;
        background: #fff;
        line-height: 70px;
        overflow: hidden;
        position: relative;
    }
    .mid-banner-section {
        height: 100%;
        margin: 15px auto 0px;
        width: 100%;
    }
    .picsum-img-wrapper {
        height: 170px;
    }
    .input-icons {
        width: 100%;
    }
    .product-price {
        font-size: 16px;
    }
    .picsum-img-wrapper img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    .carousel-caption {
        right: 5%;
        top: 40%;
        left: 3% !important;
    }
    .carousel-caption h3 {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .carousel-caption p {
        width: 100%;
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 5px;
    }
    .carousel-caption button.theme-lg-btn {
        font-size: 11px;
        line-height: 26px;
        width: auto;
        height: 36px;
        padding: 5px 15px !important;
        border-radius: 4px;
    }
    .dashboard ngb-carousel .carousel-indicators {
        bottom: 15px !important;
        justify-content: left !important;
        margin-left: 15px !important;
    }
    .section-title {
        font-size: 16px;
    }
    .view-all-btn {
        min-width: auto;
        height: 30px;
        width: auto;
        padding: 0 15px;
        font-size: 12px;
        line-height: inherit;
        border-radius: 4px;
    }
    .search-equipment {
        margin-top: 10px
    }
    .search-equipment-wrapper {
        border-radius: 8px;
    }
    .search-equipment h5 {
        text-align: center;
        font-size: 14px;
    }
    .search-equipment .mat-button-toggle-group {
        justify-content: center;
    }
    .search-equipment mat-button-toggle.btn {
        font-size: 12px;
        padding: 0;
        line-height: 18px;
        max-width: 115px;
    }
    a.advancedsearch-link {
        font-size: 12px;
    }
    .search-equipment .icon {
        padding: 10px;
        text-align: center;
    }
    .search-equipment .input-field {
        height: 36px;
        padding: 0 0 0 35px !important;
        font-size: 12px;
        line-height: 14px;
    }
    .search-equipment button.theme-btn {
        border-radius: 6px;
        padding: 8px 15px;
        height: 36px;
        font-size: 14px;
        margin-top: 15px;
        line-height: 20px;
    }
    .mat-button-toggle-label-content {
        line-height: 30px;
    }
    .category-wrapper {
        padding: 15px;
        border-radius: 8px;
    }
    .category-section ngx-light-carousel article.category-item {
        padding: 0 4px;
    }
    .category-image {
        height: 90px;
        min-height: 90px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mid-banner-slider img {
        height: 236px;
        min-height: 236px;
        object-fit: cover;
    }
    .time-dsplay {
        font-size: 11px;
        line-height: 17px;
        padding: 8px 20px;
    }
    .mid-banner-slidertext h3 {
        font-size: 14px;
        /* line-height: 28px; */
        font-weight: 600;
    }
    /* .mid-banner-sliderbtn {  
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding: 9px 25px;   
  }  */
    .featured-section {
        position: relative;
        width: 100%;
        margin: 0px auto;
    }
    .tranding-loan-text {
        font-size: 12px;
        padding-top: 0px;
        color: #363636;
        line-height: 17px;
        text-align: center;
    }
    .mid-banner-top img {
        height: 150px;
        min-height: 150px;
        object-fit: cover;
    }
    .mid-banner-bottom img {
        height: 150px;
        min-height: 150px;
        object-fit: cover;
    }
    .mid-banner-text span {
        width: 50px;
        line-height: 10px;
        padding: 2px 5px;
        margin: 0 5x 0 10px;
        font-size: 7px;
    }
    .euipment-loan-banner {
        width: 100%;
        height: auto;
    }
    .euipment-loan-banner img {
        width: 100%;
        height: 160px;
        min-height: 160px;
        border-radius: 6px;
    }
    .euipment-loan-wrap {
        height: auto;
        padding: 8px 10px;
        border-radius: 0 0 6px 6px;
    }
    .product-tabs .mat-tab-body-content {
        padding: 15px 0px 0;
        overflow: hidden;
    }
    .featured-wrapper .w100 {
        width: 100%!important;
        margin: 0px;
    }
    .euipment-loan-btn {
        font-size: 8px;
        padding: 5px 15px;
    }
    /* .featured-section button.view-all-btn {
    display: none;
  } */
    .featured-wrapper {
        padding: 15px 15px;
        border-radius: 8px;
    }
    .product-image {
        height: 125px;
        padding: 10px 10px;
        width: 100%;
        margin: 0 auto;
    }
    .content article img {
        width: 200px;
    }
    .product-wishlist {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
    }
    .product-wishlist img.wishlist-icon {
        width: 14px;
        height: 13px;
    }
    .product-summery {
        padding: 10px;
    }
    .trandingloan-scheme-wrapper {
        padding: 15px;
        border-radius: 8px;
    }
    .tranding-carousel {
        padding: 10px 0;
        width: 100%;
    }
    .tranding-loan-item {
        padding: 0 5px; 
    }
    .tranding-loan-rate {
        font-size: 12px;
        line-height: 20px;
    }
    .banner-second-left img {
        height: 190px;
        object-fit: cover;
        border-radius: 8px;
    }
    .banner-second-right {
        border-radius: 8px;
    }
    .banner-second-right img {
        height: 250px;
        object-fit: cover;
    }
    .banner-second-heading {
        font-size: 14px;
        line-height: 20px;
    }
    .banner-second-text {
        font-size: 12px;
        line-height: 20px;
    }
    .auction-wrapper {
        padding: 15px;
        border-radius: 8px;
    }
    .auction-title {
        font-size: 12px;
        min-height: 36px;
        line-height: 18px;
        margin: 0 0 5px;
    }
    .auction-closing {
        font-size: 10px;
        margin: 0 0 5px;
    }
    .auction-btn-sec button {
        font-size: 10px;
        min-width: 75px;
    }
    .banner-third-item {
        border-radius: 8px;
    }
    .banner-third-item img {
        height: 100%;
    }
    .banner-third-item[_ngcontent-ffh-c14] {
        height: 150px;
    }
    .banner-third-left-content {
        height: 60%;
        padding: 10px;
    }
    .banner-third-left-content h4 {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .banner-third-left-content p {
        font-size: 10px;
        line-height: 11px;
        margin-bottom: 5px;
        text-align: left !important;
    }
    .banner-third-left-content-btn {
        font-size: 10px;
        line-height: 16px;
        padding: 5px 15px;
        width: auto;
    }
    .banner-third-right-content span {
        font-size: 11px;
    }
    /* .banner-third-right-content button {
    font-size: 10px;
    padding: 6px 15px;
    width: auto;
  } */
    .our-partner-wrapper {
        padding: 15px;
        border-radius: 8px;
    }
}

@media screen and (max-width:576px) {
    .carousel-caption {
        top: 40%;
    }
    .mid-banner-top img,
    .mid-banner-bottom img {
        height: 150px;
    }
}

.featured-section section .product-view-btn {
    padding: 0px !important;
}

.product-view-btn {
    background: #094fa3;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    height: 38px;
    border-radius: 20px !important;
    border: 1px solid #094fa3 !important;
    padding: 0px 50px !important;
    margin: 1em auto 0em;
    font-size: 12px;
    display: block;
    min-width: 64px;
    width: 80%;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.partner-box-image {
    height: 100%;
}

.partner-box-image img {
    object-fit: contain;
    height: 80px;
}

.mid-banner-slidertext::after {
    background-color: rgba(0, 0, 0, 0.589);
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    text-transform: uppercase;
}

.mid-banner-section img {
    object-fit: cover;
    object-position: center;
}

.mid-banner-top::before,
.mid-banner-bottom::before {
    content: "";
    background: #0000004d;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
}

.banner-second-wrap .banner-content {
    background: rgba(0, 0, 0, .6509803921568628);
    bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    right: 0px !important;
    left: inherit;
    padding: 10px;
}

.banner-second-right .banner-content {
    bottom: 0px!important;
    width: 100%;
    margin: 0 auto!important;
    left: inherit;
    right: 0!important;
}

article.partner-box-item {
    border: 1px solid #eee;
    padding: 10px !important;
    height: 100px;
    margin: 0px 5px;
}

.product-box-image {
    height: 100%;
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.tranding-loan-wrap,
.loan-scheme-box {
    width: 100%;
}

.content article img {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.our-partner-wrapper .partner-box-wrap {
    margin: 0 auto;
    display: block;
}

.mid-banner-section.section .carousel {
    padding-bottom: 0px;
}

.category-section.section .carousel,
.featured-section .carousel,
.our-partner-section .carousel {
    padding: 0px;
}

.featured-wrapper .w100 {
    width: 100%!important;
}

.featured-section .wrapper {
    width: 100%;
}

.partner-box-image img {
    object-fit: contain !important;
}

.search-equipment-wrapper h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
}

.auction-wrap {
    width: 100%;
}

@media(max-width:576px) {
    .pr-mob-0 {
        padding-right: 7.5px;
    }
    .pl-mob-0 {
        padding-left: 7.5px;
    }
}

.banner-dotted-indicators .carousel-indicators {
    width: 30%;
}


/* .img-spinner {
  background-position: center;
	background-repeat: no-repeat;
} */

.featured-section mat-tab-header.mat-tab-header {
    border: none;
}

span.note {
    vertical-align: bottom;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin-top: 19px;
    display: block;
}

.displayBlock {
    visibility: visible !important;
}

.displayNone {
    visibility: hidden !important;
}

@media(max-width: 768px) {
    .banner-third-wrapper-box .row {
        margin: 0px !important;
    }
    .banner-third-wrapper-box .row .col-12 {
        padding: 0px !important;
    }
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;
}

.spinner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.849);
}

.loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    justify-content: center;
}

.loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
}

.loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
    background: #1A50B1;
}

.loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
    background: #3B428D;
}

.loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
    background: #643161;
}

.loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
    background: #832540;
}

.loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
    background: #A01922;
}

.loading .dot:nth-child(5)::before {
    animation-delay: 1s;
}

@keyframes wave {
    50%,
    75% {
        transform: scale(2.0);
    }
    80%,
    100% {
        opacity: 0;
    }
}

.spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
}