<main class="container-fluid">
    <section class="myself-details-main-wrapper">
        <div class="row">
            <div class="col-12 p-0">
                <app-progress-steps [steps]="steps"></app-progress-steps>
            </div>
        </div>
    </section>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
    <section class="bulkUploadmobile pt-2 pb-2">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="f-20">Bulk Upload</h2>
                </div>
                <div class="col-md-6 text-right mob-btns-upload">
                    <button class="default-btn-outline mr-3 px-3" mat-button><a target="_blank" href="https://iquippo-marketplace-uat-mp2.s3.ap-south-1.amazonaws.com/assets/template/Guidelines_Bulk_Upload.pdf"><img
                            src="../../../../../assets/images/guideline-icn.svg" alt="Guideline"class="mr-2"> View
                        Guidelines</a></button>
                    <button class="default-btn-outline mr-3 px-3" mat-button><a [href]="template_kit_url"><img
                            src="../../../../../assets/images/download-icn.svg" alt="" class="mr-2" width="16"> Download
                        Kit</a></button>
                </div>
            </div>
            <div class="row" *ngIf = "isAdminBulkUpload == 'true'">
                <div class="col-md-6 text-right">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Type"
                            (selectionChange)="updateSellerType($event)">
                            <mat-option value=''>Select Type</mat-option>
                            <mat-option value='Customer'>CUSTOMER</mat-option>
                            <mat-option value='Dealer'>DEALER</mat-option>
                            <!-- <mat-option value=2>MANUFACTURER</mat-option>
                            <mat-option value=2>CHANNEL PARTNER</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                    <!-- <label class="form-label f-12 d-block" for="">Seller Name</label> -->
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Disposal Method" [formControl]="pricingModel"
                            (selectionChange)="updatePricingModel($event?.value)">
                            <mat-option value=''>Select Disposal Method</mat-option>
                            <mat-option value='Portal' (onSelectionChange)="updatePricingModel('Portal')">Portal sale</mat-option> 
                            <mat-option value='insta' (onSelectionChange)="updatePricingModel('insta')">Insta sale</mat-option> 
                            <mat-option value='Auction' (onSelectionChange)="updatePricingModel('Auction')">Auction</mat-option> 
                            <!-- <mat-option value=2>MANUFACTURER</mat-option>
                            <mat-option value=2>CHANNEL PARTNER</mat-option> -->
                        </mat-select>
                        <div *ngIf="this.pricingModel.touched && this.pricingModel.hasError('required')">
                            <span class="validation-err">Please select the pricing Model.</span>
                        </div>
                    </mat-form-field>
                   
                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                        <input matInput [matAutocomplete]="auto1" placeholder="Search seller by Mobile number or Name" [formControl]="searchByMobile" (keyup)="keyPress($event)" type="text" maxlength="256">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let seller of sellerList"
                                (onSelectionChange)="onSellerSelect(seller.cognito_id)" [value]="seller.first_name">
                                {{seller.first_name}} ({{seller.mobile_number}})</mat-option>
                                <mat-option *ngIf="sellerList.length == 0" value="">{{this.msg}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    
                    <div *ngIf = "isSellerDetailOpen" class="sellerdetails">
                        <span class="validation-err">Seller Name : {{sellerName}}</span><br/>
                        <span class="validation-err">Seller EmailId : {{SellerEmailId}}</span><br/>
                        <span class="validation-err">Seller Mobile No. : {{SellerMobileNo}}</span>
                    </div>
                </div>
            </div>
            <!-- <form formGroup="bulkUpload"> -->
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="" class="f-12 d-block">Upload CSV File</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInput>
                            <label class="custom-file-label custom-file-label2" for="front">
                                <img src="../../../../../assets/images/upload_xlsx.svg" alt="">
                                <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName==''"><span>Choose a file</span> or drag it
                                    here</span>
                                <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName!=''"><span>{{excelName}}</span></span>
                                <span class="file-typ">Sheet should be in .xlsx format</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="" class="f-12 d-block">Upload Product Image</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onFileChangeZip($event,'image','front')">
                            <label class="custom-file-label custom-file-label2" for="front">
                                <img src="../../../../../assets/images/upload_zip.svg" alt="">
                                <span class="cust-upload-txt cust-upload-txt2" *ngIf="zipName==''"><span>Choose a file</span> or drag it
                                here</span>
                            <span class="cust-upload-txt cust-upload-txt2" *ngIf="zipName!=''"><span>{{zipName}}</span></span>
                                <span class="file-typ">Folder should be in .zip format</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-right mt-3">
                    <button class="default-btn px-4" (click)="submitData()" [disabled]="!payload.length || zipName=='' || disablesubmit" mat-button>Next</button>
                </div>
            <!-- </form> -->
        </div>
    </section>
    </div>
    </div>
</main>