/* .progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
    width: calc(100% - 160px);
} */
.product-wrapper {width: 100%;}
.custom-file .custom-file-label2 {
    text-align: center;
    padding: 30px 20px;
}
span.cust-upload-txt.cust-upload-txt2 {
    display: block;
    top: 10px;
    left: 0;
    margin-bottom: 15px;
}
span.cust-upload-txt.cust-upload-txt2 span{
    color: #0F3D94;
    text-decoration: underline;
}
.custom-file  .file-typ{
    color: #727272;
    font-size: 12px;
}
.custom-file .custom-file-label {
    height: auto;
}
.custom-file .custom-file-label2 {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}
.custom-file {
    height: auto;
}
.custom-file-input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.sellerdetails {
    background: #fafafa;
    color: #000;
    border: 1px solid #eee;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}
.sellerdetails .validation-err{color:#333;bottom: 0px;top: 0px;}

@media(max-width:767px){
    .mob-btns-upload button{display: block;width: 100%;margin-bottom:1em;}
    .bulkUploadmobile{padding-top:15px!important;}

    .product-wrapper {padding: 15px 0px;}
    .product-wrapper .product-wrapper-box {margin: 0px -5px;}
}