<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">EMD Master</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-6 col-6">
                <h3 class="admin-page-title">EMD Master</h3>
            </div>
            <div class="col-lg-6 col-6 col-md-6 mobile-btn text-right">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg mat-button" (click)="export()"><i
                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <button mat-button class="default-btn add-btn-new" (click)="showForm = !showForm">
                    <i class="fa fa-plus" aria-hidden="true"></i>  Add New</button>
            </div>
        </div>

        <div class="user-management">
            <div class="emd-container" *ngIf="showForm">
                <h4 class="title">Add New EMD Master</h4>
                <div class="add-certificate-section">
                    <form [formGroup]="emdChargeForm">
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-4">
                                <label class="f-12 d-block">EMD Charge Type <span class="text-warning">*</span></label>
                                <mat-select placeholder="Select EMD Charge Type" required formControlName="emdType">
                                    <!-- <mat-option [value]="1">
                                    Auction
                                </mat-option> -->
                                    <mat-option [value]="2">
                                        Used Asset
                                    </mat-option>
                                    <mat-option [value]="3">
                                        Default
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="emdChargeForm.get('emdType')?.errors && emdChargeForm.get('emdType')?.invalid && (emdChargeForm.get('emdType')?.touched || emdChargeForm.get('emdType')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('emdType')?.errors?.required">
                                    Please select EMD charge type
                                </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="form-label f-12 d-block" for="">Seller Type</label>
                                <mat-select placeholder="Select Seller Type" [(ngModel)]="sellerTypeValue" (selectionChange)="sellerTypeSelect(sellerTypeValue)" formControlName="seller_type">
                                    <mat-option *ngFor="let type of sellerTypeArray" [value]="type.value">
                                        {{ type.typeName }}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="(emdChargeForm.get('seller_type')?.touched) && emdChargeForm?.get('seller_type')?.hasError('required')">
                                    <span class="validation-err">Please select seller type</span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                <label class="form-label f-12 d-block" for=""> Mobile Number</label>

                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto1" placeholder="Search seller by mobile number" (keyup)="keyPress($event)" type="text" maxlength="256" formControlName='mobile'>
                                    <mat-autocomplete #auto1="matAutocomplete">
                                        <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller?.cognito_id)" [value]="seller?.first_name">
                                            {{seller?.first_name}} ({{seller?.mobile_number}})</mat-option>
                                        <mat-option *ngIf="sellerList?.length == 0" value="">No such user exists with valid Agreement
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="(emdChargeForm.get('mobile')?.touched) && emdChargeForm?.get('mobile')?.hasError('required')">
                                    <span class="validation-err">Please enter the mobile number.</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4  form-group emd-asset">
                                <label class="f-12 d-block">Asset <span class="text-warning">*</span></label>
                                <mat-select placeholder=" Select Asset" required formControlName="asset">
                                    <mat-option *ngFor="let asset of usedAssetList" [value]="asset.id">
                                        Asset Id - {{asset.id}} Asset Name- {{asset.product_name}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="emdChargeForm.get('asset')?.errors && emdChargeForm.get('asset')?.invalid && (emdChargeForm.get('asset')?.touched || emdChargeForm.get('asset')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('asset')?.errors?.required">
                                    Please select Asset
                                </span>
                                </div>
                            </div>
                            <div class="col-sm-6  col-md-6 col-lg-4 form-group">
                                <label class="f-12 d-block">Amount Type<span class="text-warning">*</span></label>
                                <mat-select placeholder="Select Amount Type" (selectionChange)="changeAmount($event?.value)" required formControlName="amountType">
                                    <mat-option [value]="1">
                                        Flat
                                    </mat-option>
                                    <mat-option [value]="2">
                                        Percentage
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="emdChargeForm.get('amountType')?.errors && emdChargeForm.get('amountType')?.invalid && (emdChargeForm.get('amountType')?.touched || emdChargeForm.get('amountType')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('amountType')?.errors?.required">
                                    Please select Amount type
                                </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                <label class="f-12 d-block">{{amountText}}</label>
                                <input matInput id="amount" (keyup)="TotalAmount()" formControlName="amount" placeholder="{{'Enter ' + amountText}}">
                                <div *ngIf="emdChargeForm.get('amount')?.errors && emdChargeForm.get('amount')?.invalid && (emdChargeForm.get('amount')?.touched || emdChargeForm.get('amount')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('amount')?.errors?.required">
                                    Please enter Loan amount
                                </span>
                                    <span class="validation-err d-block" *ngIf="!emdChargeForm.get('amount')?.errors?.required && emdChargeForm.get('amount')?.errors?.pattern">
                                    Characters are not allowed
                                </span>
                                </div>
                            </div>

                            <div class="form-group col-sm-6 col-md-6 col-lg-4" *ngIf="emdChargeForm?.get('amount')?.value && amountValue">
                                <label class="f-12 d-block">Calculated Amount</label>
                                <input matInput id="amount" [(ngModel)]="amountValue" [ngModelOptions]="{standalone: true}" disabled>
                            </div>
                        </div>
                        <div class="row ng-scope">
                            <div class="col-md-12">
                                <div class="save-btn">
                                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Close</button>
                                    <button mat-button class="default-btn" *ngIf="!this.editId" [disabled]="!emdChargeForm.valid" [ngStyle]="{'cursor': emdChargeForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
                                    <button mat-button class="default-btn" *ngIf="this.editId" [disabled]="!emdChargeForm.valid" [ngStyle]="{'cursor': emdChargeForm.valid ? 'pointer' : 'not-allowed'}" (click)="updateData()">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="user-management-top-section">
                <div class="row my-3">
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Charge type" (selectionChange)="chargeStatusFilter($event?.value)">
                                <mat-option>Select Charge type</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of chargeOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Amount type" (selectionChange)="amountStatusFilter($event?.value)">
                                <mat-option>Select Amount type</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of amountTypeOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="emdDataSouce" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Id</span> {{ element.id }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="emd_charge_type">
                            <th mat-header-cell *matHeaderCellDef> Charge Type </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Charge Type</span> {{ element.emd_charge_type }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="used_equipment.id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Asset Id</span> {{ element.used_equipment.id }} </td>
                        </ng-container>
                        <ng-container matColumnDef="used_equipment.product_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Asset Name</span> {{ element.used_equipment.product_name }} </td>
                        </ng-container>

                        <ng-container matColumnDef="emd_amount_type">
                            <th mat-header-cell *matHeaderCellDef> Amount Type </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Amount Type</span> {{ element.emd_amount_type }} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Amount</span> {{ element.amount }} </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <span class="mobile-label">Actions</span>
                                <div>
                                    <button class="simple-btn " mat-button (click)="action('Edit',element.id)">
                                    <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                                </button>
                                    <button mat-button class="simple-btn delet-icon" (click)="action('Delete',element.id)">
                                    <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                            title="Delete"></span>
                                </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tblColumns"></tr>
                    </table>
                    <div class="no-record" *ngIf="!emdDataSouce?.data?.length">No records found</div>
                </div>
            </div>
            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</div>