<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Auction payment history</li>
            </ol>
        </div>
        <div class="admin-page-heading m-0">
            <div class="admin-page-header col-lg-6 col-md-6 col-12 p-0">
                <h3 class="admin-page-title">Auction payment history</h3>
            </div>
        </div>

        <form [formGroup]="form">
            <div class="row export-row mb-2">
                <div class="col-md-6 col-lg-5">
                    <!-- <label class="f-12 d-block  invisible">date</label> -->
                    <!-- [min]="getMinDate()" -->
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" formControlName='startDate' [max]="now"
                            placeholder="From Date" [matDatepicker]="picker1" readonly>
                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                        <div *ngIf="form?.get('startDate')?.touched && 
                    form?.get('startDate')?.hasError('required')">
                            <span class="validation-err">Please select start date</span>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-5">
                    <!-- <label class="f-12 d-block  invisible">date</label> -->
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" formControlName='endDate' [min]="getEndDate()" [max]="now"
                            placeholder="To Date" [matDatepicker]="picker2" readonly>
                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker2">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                        <div *ngIf="form?.get('endDate')?.touched && 
                    form?.get('endDate')?.hasError('required')">
                            <span class="validation-err">Please select end date</span>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-lg-2">
                    <div class="text-right exportWrapper">
                        <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                        <button mat-button class="default-btn importBtn mr-0" (click)="export('isFromDate')"><i
                                class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5 mb-3 col-12">
                <label class="f-12 d-block">Auction ID - Auction name
                    <span class="text-warning">*</span>
                </label>
                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                    <input matInput [matAutocomplete]="auto1" [(ngModel)]="auctionValue" placeholder="Search Auction"
                        (keyup)="searchAuction()" (keydown.enter)="searchAuction()">
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option *ngFor="let obj of parentAuctionsData"
                            (onSelectionChange)="selectAuctionId(obj?.auction_engine_auction_id , obj?.auction_engine_parent_auction_id)"
                            [value]="(obj?.auction_engine_auction_id ? (obj?.auction_engine_auction_id + ' - ')  : '') + obj?.name">
                            {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}} {{obj.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <div class="text-left exportWrapper" *ngIf="auctionId">
                    <label class="f-12 d-block  invisible">date</label>
                    <button mat-button class="default-btn importBtn mr-0" (click)="export('isAuctionId')"><i
                            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export Selected Auction
                        Id</button>
                </div>
            </div>
        </div>


        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()"
                                (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3 mb-md-0 md-lg-0">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Status"
                                (selectionChange)="statusFilter($event?.value)">
                                <mat-option>Select Status</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort
                            (matSortChange)="onSortColumn($event)" matSortActive="payment_date" matSortDirection="desc">

                            <ng-container matColumnDef="transaction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction ID</span> {{element?.transaction_id ?
                                    element?.transaction_id : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="auction_engine_auction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Auction ID</span>
                                    <span
                                        *ngIf="element?.emd_details && !element?.emd_details.length || !element?.emd_details">
                                        -
                                    </span>
                                    <span *ngIf="element?.emd_details && element?.emd_details.length">
                                        <span
                                            *ngFor="let obj of element?.emd_details ; let isEmdLast=last;let i = index">
                                            <span
                                                *ngIf="obj?.auction_emd?.emd_subauctions && obj?.auction_emd?.emd_subauctions?.length > 0">
                                                <span
                                                    *ngFor="let sub of obj?.auction_emd?.emd_subauctions ; let isSubLast=last;let j= index">
                                                    <span
                                                        *ngIf="j == 0 || (j > 0 &&  sub?.auction?.auction_engine_auction_id !=
                                                        obj?.auction_emd?.emd_subauctions[j - 1].auction?.auction_engine_auction_id)">
                                                        {{sub?.auction?.auction_engine_auction_id}}
                                                        {{ (i >= 0 && (i != element?.emd_details.length-1)) ||
                                                        (j >= 0 && (j != obj?.auction_emd?.emd_subauctions?.length-1)) ?
                                                        ', ' : ''}}
                                                    </span>
                                                </span>
                                            </span>
                                            <span
                                                *ngIf="obj?.auction_emd?.emd_subauctions && !obj?.auction_emd?.emd_subauctions?.length || !obj?.auction_emd?.emd_subauctions ">
                                                <span
                                                    *ngIf="i == 0 || (i > 0 &&  obj?.auction_emd?.auction?.auction_engine_auction_id !=
                                                element?.emd_details[i-1].auction_emd?.auction?.auction_engine_auction_id)">
                                                    {{obj?.auction_emd?.auction?.auction_engine_auction_id}}
                                                    {{i > 0 && !isEmdLast ? ', ' : ''}}
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="parent_auction_engine_auction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Auction</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Parent Auction</span>
                                    <span *ngIf="element?.emd_details && element?.emd_details.length">
                                        <span
                                            *ngFor="let obj of element?.emd_details; let isLast = last; let i = index;">
                                            <span
                                                *ngIf="i == 0 || ( i > 0 &&  obj?.auction_emd?.auction?.auction_engine_auction_id !=
                                                element?.emd_details[i-1].auction_emd?.auction?.auction_engine_auction_id)">
                                                {{obj?.auction_emd?.auction?.auction_engine_auction_id}}
                                                {{i > 0 && !isLast ? ', ' : ''}}
                                            </span>
                                        </span>
                                    </span>
                                    <span
                                        *ngIf="element?.emd_details && !element?.emd_details.length || !element?.emd_details">
                                        -
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="eligible_for_refund">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eligible for Refund</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Eligible for Refund</span>
                                    <span *ngIf="element?.emd_details && element?.emd_details.length">
                                        <span *ngFor="let obj of element?.emd_details ; let isLast=last;let i = index">
                                            <span *ngIf="i == 0 || (i > 0 &&  obj?.eligible_for_refund !=
                                            element?.emd_details[i-1].eligible_for_refund)">
                                                {{obj?.eligible_for_refund}}
                                                {{i > 0 && !isLast ? ', ' : ''}}
                                            </span>
                                        </span>
                                    </span>
                                    <span
                                        *ngIf="element?.emd_details && !element?.emd_details.length || !element?.emd_details">
                                        -
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Registered_By">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered By</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Registered By</span> {{element?.emd_details &&
                                    element?.emd_details?.length && element?.emd_details[0]?.registered_by &&
                                    element?.emd_details[0]?.registered_by?.user_name ?
                                    element?.emd_details[0]?.registered_by?.user_name
                                    : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyer__customer_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element?.buyer?.customer_number ? element?.buyer?.customer_number : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="is_refunded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Refunded</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refunded</span> {{element?.is_refunded ? 'Yes' : 'No'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="User_Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">User Name</span> {{element?.buyer?.first_name ?
                                    element?.buyer?.first_name : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Mobile">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Mobile</span> {{element?.buyer?.mobile_number ?
                                    element?.buyer?.mobile_number : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Email</span> {{element?.buyer?.email ?
                                    element?.buyer?.email : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Status_of_Bidder">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status of Bidder</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Status of Bidder</span> {{element?.is_winner ? 'Winner' :
                                    'Non Winner'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef>Amount</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Amount</span> {{element?.amount}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_mode">
                                <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Mode</span> {{element?.payment_mode}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Type</span> {{(element?.payment_type == 1) ?
                                    'EMD' : 'Additional EMD'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Request Date</span> {{ element?.payment_date ?
                                    (element?.payment_date | date : 'dd-MM-yyyy') : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_status">
                                <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Status</span> {{element?.payment_status ?
                                    getPaymentStatus(element?.payment_status) : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Action</span>
                                    <button mat-button class="simple-btn view-icon"
                                        (click)="viewAllIds(element, 'emd_details')"
                                        *ngIf="element?.emd_details && element?.emd_details.length > 0">
                                        <span>
                                            <img src="../../../assets/images/chart.svg" alt="View"
                                                title="View Emd Details">
                                        </span>
                                    </button>

                                    <button mat-button class="simple-btn view-icon" (click)="viewPayment(element)">
                                        <span>
                                            <img src="../../../assets/images/visibility.svg" alt="View"
                                                title="View Payment">
                                        </span>
                                    </button>
                                    <ng-container
                                        *ngIf="((element?.payment_status == 2) && (element?.payment_type == 1))">
                                        <button *isPermission="['Auction - Auction EMD Top-up_View']" mat-button
                                            (click)="addTopUp(element)" class="simple-btn">
                                            <span>
                                                <img src="../../../assets/images/wallet-black.png" alt="Add Topup"
                                                    title="Add Topup">
                                            </span>
                                        </button>
                                    </ng-container>


                                    <button
                                        *ngIf="((element?.payment_status == 2) && (!element?.is_refunded) && (!element?.is_winner) && (element?.payment_type == 1))"
                                        mat-button (click)="deleteAuctionRegistration(element.id)" class="simple-btn">
                                        <span>
                                            <img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                title="Delete Auction Registration">
                                        </span>
                                    </button>

                                    <button *ngIf="element.loa_url" class="simple-btn mr-2 view-icon" mat-button
                                        (click)="sharedService.download(element.loa_url)">
                                        <span>
                                            <i class="fa fa-download invoce-downlad" title="View LOA"></i>
                                        </span>
                                    </button>

                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                    </div>
                </div>
                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
            </div>



        </div>
    </div>
</div>