<button class="theme-btn top-scroll-btn" *ngIf="showScrollIcon" (click)="scrollToTop()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i>
</button>

<mat-toolbar class="header-main" [class.header-inner]="!(router.url.includes('home') || router.url === '/'|| router.url.includes('customer') ||router.url.includes('admin-dashboard'))">
    <div class="header-outer header-fixed" id="header">
        <div class="header-top" [class.dashboard]="(router.url.includes('home') || router.url === '/'|| router.url.includes('customer') ||router.url.includes('admin-dashboard'))">
            <div class="container-fluid">
                <div class="header-row">
                    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" class="menutoggle-icon"
                        fxHide.gt-sm>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <div class="header-logo">
                        <a class="logo" href="{{mp1HomePage}}"><img src="../../../../assets/images/logo.png" alt="" class="logo-img"></a>
                    </div>
                    <div class="header-search-wrap" [formGroup]="homeForm" *ngIf="!(router.url.includes('home') || router.url === '/'||router.url.includes('customer') ||router.url.includes('admin-dashboard'))">
                        <div class="new-equipment">
                            <select class="equipment-selct" [(ngModel)]="this.selectedDropdown"
                                [ngModelOptions]="{standalone: true}" (change)="switchValue($event.target.value)">
                                <option value="1">New Equipment </option>
                                <option value="2">Used Equipment </option>
                            </select>
                        </div>
                        <div class="header-search">
                            <input class="form-control heder-search-input" matInput [matAutocomplete]="auto4"
                                type="text" (keyup)="searchByKeyWord($event.target.value)" formControlName='searchAll'
                                maxlength="256">
                            <mat-autocomplete #auto4="matAutocomplete">
                                <mat-option *ngFor="let search of autoSuggestList"
                                    (onSelectionChange)="onautoSelect(search.id,search.type,search.display_name)"
                                    [value]="search.display_name"> {{search.display_name}}</mat-option>
                            </mat-autocomplete>
                            <button type="submit" class="header-serch-btn" (click)="search()"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="header-menu-wrap" *ngIf="(router.url.includes('home') || router.url === '/'|| router.url.includes('customer') || router.url.includes('admin-dashboard'))">
                        <div class="header-menu">
                            <div fxShow="true" class="header-menu-outer" fxHide.lt-md>
                                <a href="javaScript:void(0)" [ngClass]="{ 'active': getClass() }" mat-button>Equipment
                                    <mat-icon>arrow_drop_down</mat-icon>
                                    <div class="navigation-dropdown">
                                        <ul>
                                            <li>
                                                <a [routerLink]="['/new-equipment-dashboard/dashboard']" mat-button>Buy New Equipment</a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['/used-equipment-dashboard/dashboard']" mat-button>Buy Used Equipment</a>
                                            </li>
                                            <li *ngIf="checkUserRole()">
                                                <a [routerLink]="['/new-equipment/sell-equipment']" mat-button>Sell New Equipment</a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['/used-equipment/sell-equipment']" mat-button>Sell Used Equipment</a>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                                <a [routerLink]="['/auctions']" mat-button>Auctions</a>
                                <a href="{{financePage}}" mat-button>Finance</a>
                                <a class="app-nav-item" [routerLink]="['/valuation-request/our-val']"  mat-button>Valuation </a>
                            </div>
                        </div>
                    </div>
                    <div fxFlexFill class="header-extra-wrap" [class.mr-3]="(router.url.includes(appRouteEnum.Usermanagement) || router.url.includes(appRouteEnum.Adduser))" class="header-menu-outer">
                        <div class="header-call header-menu callback-btn">
                            <button type="submit" class="makecall" (click)="opencallpopup()">
                                <i class="fa fa-phone" aria-hidden="true"></i> <span>Request a call back</span>
                            </button>

                            <div class="notification-icon d-inline-block position-relative ml-4"
                                (click)="this.activePage=1;showNotifications=!showNotifications;getNotifications()"
                                *ngIf="getUserData()">
                                <i class="fa fa-bell-o" aria-hidden="true" mat-button #notifyButton>
                                    <span class="no-of-notifications" *ngIf="count">{{count}}</span>
                                </i>

                                <div class="notification-list" *ngIf="showNotifications" #notifySection
                                    (scroll)="recursiveNotificationHit($event)">
                                    <div class="notification-title">
                                        <h4>Notifications</h4>
                                        <span *ngIf="notifications?.length > 0"><a href="javascript:void(0)"
                                                (click)="clearAllNotifications()">Clear all</a></span>
                                    </div>
                                    <div class="notification-item" *ngIf="notifications?.length > 0 && notificationAPi">
                                        <div class="mailcontent" *ngFor="let notification of notifications">
                                            <span
                                                (click)="markNotificationAsRead(notification?.id, notification?.message_url_key)"
                                                class="not-li">
                                                <div class="mailicon">
                                                    <i class="fa"
                                                        [ngClass]="(notification?.message_read) ? 'fa-envelope-open':'fa-envelope'"
                                                        aria-hidden="true"></i>
                                                </div>
                                                <div class="notificaion-content mb-3">
                                                    <p>{{notification?.message}}</p>
                                                    <div class="item-hour">
                                                        {{this.timeStampFilter(notification?.sent_at,'time')}}
                                                        {{this.timeStampFilter(notification?.sent_at,'date')}}</div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="nonotification-item"
                                        *ngIf="notifications?.length == 0 && notificationAPi">
                                        No new Notifications
                                    </div>
                                </div>
                            </div>
                            <div class="navigation-dropdown signin-drop">
                                <ul>
                                    <li class="">
                                        <a mat-button>Dashboard</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="profile-icon d-inline-block position-relative" mat-button>
                                <div class="signinbtn" *ngIf="!getUserData()" (click)="showSignIn = !showSignIn"
                                    #authMenuButton>
                                    Log In/Sign Up
                                </div>
                                <div class="signinbtn-profile" *ngIf="getUserData()" #authMenuButton
                                    (click)="showSignIn = !showSignIn">
                                    <img src="../../../../assets/images/usericn.svg" alt="">
                                    <span> {{sharedService.getUserFirstName()}}</span>
                                    <mat-icon class="down-arrow align-middle">arrow_drop_down</mat-icon>
                                </div>

                                <div class="navigation-dropdown-login signin-drop" #authMenu
                                    [ngClass]="{'show': showSignIn, 'hide': !showSignIn}" *ngIf="!getUserData()">
                                    <div class="row m-0">
                                        <div class="col-sm-12 bg-white col-md-6 border-right position-relative">
                                            <div class="exit-login">
                                                <div class="welcome-txt">Welcome Back</div>
                                                <p>If you already have an account, please sign in below.</p>
                                                <a href="javascript:void(0)" (click)="redirecttologin()" mat-button
                                                    class="signinbtn">Customer/ Partner </a>
                                            </div>
                                            <div class="or-txt-divid">
                                                OR
                                            </div>
                                        </div>
                                        <div class="signup-header-drop col-sm-12 col-md-6 ">
                                            <div class="not-member-txt mb-2">Not a member yet? Sign up as</div>
                                            <a href="javascript:void(0)" mat-button [routerLink]="['/register']"
                                                (click)="showSignIn = false"
                                                class="header-signup btn btn-default">Customer</a>
                                            <div class="or-txt">OR</div>
                                            <a [routerLink]="['/partner-dealer/registration']"
                                                (click)="showSignIn = false" mat-button>Partner</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="login-dashboard-link" *ngIf="getUserData()" #authMenu
                                    [ngClass]="showSignIn ? 'show':'hide'">
                                    <ul>
                                        <li class="mobile-show username-mobile">
                                            Welcome! <span> {{sharedService.getUserFirstName()}}</span></li>
                                        <li class="">
                                            <a (click)="getUserRoles();$event.stopPropagation()"
                                                mat-button>Dashboard</a>
                                        </li>

                                        <li class="">
                                            <a (click)="logout();$event.stopPropagation()" mat-button>Logout</a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom"
            *ngIf="!(router.url.includes('home') || router.url === '/'|| router.url.includes('customer') || router.url.includes('admin-dashboard'))">
            <div class="container-fluid">
                <div class="header-menu">
                    <div fxShow="true" class="header-menu-outer" fxHide.lt-md>
                        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-button>Home</a>
                        <a href="javaScript:void(0)" [ngClass]="{ 'active': getClass() }" mat-button>Equipment <mat-icon> arrow_drop_down</mat-icon>
                            <div class="navigation-dropdown">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/new-equipment-dashboard/dashboard']" mat-button>Buy New Equipment</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/used-equipment-dashboard/dashboard']" mat-button>Buy Used Equipment</a>
                                    </li>
                                    <li *ngIf="checkUserRole()">
                                        <a [routerLink]="['/new-equipment/sell-equipment']" mat-button>Sell New Equipment</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/used-equipment/sell-equipment']" mat-button>Sell Used Equipment</a>
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <a [routerLink]="['/auctions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-button>Auctions</a>
                        <a href="" mat-button>Finance</a>
                        <a class="app-nav-item" [routerLink]="['/valuation-request/our-val']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-button>Valuation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill [class.admin-conatiner-custom]="router.url.includes('customer')"
    class="main-wrapper-amazon"
    [ngClass]="(router.url.includes('new-equipment-dashboard/equipment-list') || router.url.includes('used-equipment-dashboard/equipment-list')) ? 'main-wrapper-listing':''">
    <mat-sidenav #sidenav>
        <div class="header-menu mobile-nav">
            <mat-nav-list>
                <ul class="list-unstyled">
                    <li (click)="sidenav.toggle()">
                        <a [routerLink]="['/home']" mat-button>Home</a>
                    </li>
                    <li>
                        <a class="" (click)="showEquipment = !showEquipment;showValuation=false" href="javaScript:void(0)" mat-button>Equipment <mat-icon> arrow_drop_down</mat-icon>
                        </a>
                        <div class="navigation-ddropdown" *ngIf="showEquipment">
                            <ul>
                                <li (click)="sidenav.toggle()">
                                    <a [routerLink]="['/new-equipment-dashboard/dashboard']" mat-button>Buy New Equipment</a>
                                </li>
                                <li (click)="sidenav.toggle()">
                                    <a [routerLink]="['/used-equipment-dashboard/dashboard']" mat-button>Buy Used Equipment</a>
                                </li>
                                <li (click)="sidenav.toggle()" *ngIf="checkUserRole()">
                                    <a [routerLink]="['/new-equipment/sell-equipment']" mat-button>Sell New Equipment</a>
                                </li>
                                <li (click)="sidenav.toggle()">
                                    <a [routerLink]="['/used-equipment/sell-equipment']" mat-button>Sell Used Equipment</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li (click)="sidenav.toggle()">
                        <a [routerLink]="['/auctions']" mat-button>Auctions</a>
                    </li>
                    <li (click)="sidenav.toggle()">
                        <a href="{{financePage}}" mat-button>Finance</a>
                    </li>
                    <li (click)="sidenav.toggle()">
                        <a [routerLink]="['/valuation-request/our-val']" mat-button>Valuation</a>
                    </li>
                </ul>

            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill class="bg-f5">
        <span [ngClass]="wrappertgl ? 'sidebarshow' : 'sidebarhide'">
            <div class="">
                <router-outlet></router-outlet>
            </div>
        </span>
    </mat-sidenav-content>
</mat-sidenav-container>