.header-main {
    padding-bottom: 80px;
}

.header-main.header-inner {
    padding-bottom: 130px;
}

.top-scroll-btn{
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 0px 6px #D2DCE6;
    outline: none;
}

.top-scroll-btn img {
    width: 20px;
    transform: rotate(90deg);
}

.header-outer {
    background-color: #fff;
    font-size: 14px;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-outer .container-fluid {
    padding: 0 45px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.header-logo {
    position: relative;
    display: flex;
}

.header-logo .logo {
    display: block;
    padding: 5px 0;
}

.header-logo .logo .logo-img {
    max-height: 50px;
}

.header-menu-wrap {
    display: flex;
}

.header-menu a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    line-height: 50px;
}

.header-extra-wrap {
    display: flex;
    align-items: center;
    /* margin: 10px 0; */
}

.makecall {
    background: transparent;
    border: 1px solid #0d4fa3;
    padding: 8px 30px;
    border-radius: 8px;
    color: #0d4fa3;
    font-weight: 500;
    height: 40px;
}

.makecall i {
    padding-right: 5px;
}

.signinbtn {
    background: transparent linear-gradient(105deg, #1551b5 0%, #a5171d 100%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-size: 14px;
    padding: 9px 20px;
    line-height: 20px;
    color: #fff !important;
    margin-left: 16px;
    cursor: pointer;
}

.header-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.header-search-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    max-width: 640px;
}

.equipment-selct {
    background: transparent;
    border: 1px solid #0d4fa3;
    padding: 8px 15px;
    border-radius: 10px;
    color: #0d4fa3;
    font-weight: 500;
    height: 40px;
}

.equipment-selct option {
    padding: 5px;
}

.header-search {
    width: 70%;
    display: flex;
    margin-left: 15px;
}

.heder-search-input {
    background: #f0f3f5;
    border: none;
    font-size: 14px;
    box-shadow: none;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    line-height: 40px;
}

.header-serch-btn {
    background: transparent linear-gradient(130deg, #1551b5 0%, #a5171d 100%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    padding: 8px 12px;
    line-height: 20px;
    color: #fff !important;
    border: none;
}

.header-profile {
    margin-left: 15px;
}

.profile-bx {
    display: flex;
}

.profile-bx>img {
    margin-right: 10px;
}

.profile-bx>div>p {
    margin-bottom: 0px;
}

.profile-bx button {
    height: 30px;
}

.profile-bx button:focus {
    outline: none;
}

.proname-bx p {
    font-size: 12px;
}

::ng-deep .mat-menu-content {
    padding: 0px !important;
}

.menu-spacer {
    flex: 1 1 auto;
}

mat-toolbar a:hover {
    text-decoration: none;
}

.mat-drawer-container {
    background: transparent;
}

.admin-conatiner {
    padding-bottom: 45px;
}


/* mat-sidenav-content {
  min-height: calc(100vh - 133px) !important;
} */

.menutoggle-icon:focus {
    outline: none;
}

.menutoggle-icon mat-icon {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    height: 30px;
    width: 32px;
    border-radius: 3px;
}


/* mat-sidenav-container, mat-sidenav {
  height: auto !important;
} */


/* mat-sidenav-container {
  min-height: calc(100% - 133px) !important;
} */

mat-sidenav {
    width: 100%;
}

mat-sidenav mat-nav-list {
    padding-top: 0;
}

mat-sidenav mat-nav-list a {
    border-bottom: 1px solid rgb(18, 30, 41);
    height: 40px;
}

mat-sidenav mat-nav-list a.menu-heading {
    height: 60px;
}

.slct-location {
    background: #f5f8fa 0% 0% no-repeat padding-box;
    border: 1px solid #c4cfd8;
    border-radius: 6px;
    font-size: 14px;
    padding: 9px 20px 9px 30px;
}

.select-span {
    position: relative;
    margin-left: 100px;
}

.select-span::before {
    content: "";
    background: url("../../../../assets/images/marker.svg") no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7px;
    left: 17px;
}

.menuhamburger {
    padding: 0 !important;
    background: transparent;
    width: 40px;
    min-width: auto;
    position: static !important;
}

.menuhamburger:active,
.menuhamburger:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.sidebar {
    background: linear-gradient(150deg, #1551b5, #a5171d);
    height: 100%;
    width: 270px;
    min-height: 570px;
    float: left;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    min-height: calc(100vh - 133px) !important;
    z-index: 99;
}

.sidebar ul {
    padding: 20px 10px 20px 30px;
}

.sidebar ul li {
    color: #fff;
    list-style-type: none;
    padding: 10px 0;
}

.sidebar ul li a {
    color: #fff;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.sidebar.hide {
    left: -270px;
    height: 100%;
}

.sidebar.show {
    left: 0;
}

mat-sidenav-content {
    overflow: inherit;
}

.navigation-dropdown ul,
.navigation-dropdown2 ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0px;
}

.navigation-dropdown {
    position: absolute;
    display: none;
    text-align: left;
    background: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
    left: 0px;
    top: 50px;
    z-index: 9;
    border-radius: 4px;
}

.navigation-dropdown2 {
    position: relative;
    text-align: left;
    background: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
    left: 0px;
    border-radius: 4px;
}

.navigation-dropdown-login.show {
    position: absolute;
    right: 0px;
    width: 500px;
    top: 56px;
    border: 1px solid #eee;
    display: block;
}

.navigation-dropdown-login {
    display: none;
}

.navigation-dropdown-login.hide {
    display: none;
}

.signinbtn-profile {
    cursor: pointer;
}

.login-dashboard-link.show {
    display: block;
}

.login-dashboard-link {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 2px #d2dce6;
    width: 250px;
    right: 0px;
    top: 56px;
}

.login-dashboard-link.hide {
    display: none;
}

.login-dashboard-link ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.login-dashboard-link ul li a {
    line-height: 40px;
    display: block;
    text-align: left;
}

.login-dashboard-link ul li a:hover {
    background: #f6f6f6;
}

.navigation-dropdown-login.show::before {
    content: "";
    position: fixed;
    top: 80px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.52);
    z-index: 0;
    display: none;
}

.navigation-dropdown-login.hide.login-user::before {
    display: none;
}

.header-menu .profile-icon:hover .navigation-dropdown,
.header-menu .profile-icon:hover .navigation-dropdown2,
.header-menu a:hover .navigation-dropdown,
.header-menu a:hover .navigation-dropdown2 {
    display: block;
}

.header-menu a:hover .mat-icon {
    transform: rotate(180deg);
    transition: 0.3s;
}

.header-menu a .mat-icon {
    transform: rotate(0deg);
    transition: 0.3s;
}

.navigation-dropdown ul li,
.navigation-dropdown2 ul li {
    line-height: normal;
}

.navigation-dropdown ul li a,
.navigation-dropdown2 ul li a {
    display: block;
    text-align: left;
    padding: 8px 10px;
    line-height: normal;
    font-size: 13px;
    border-radius: 0px;
    font-weight: 400;
}

.exit-login {
    white-space: normal;
    text-align: left;
    padding: 15px 0px;
}

.exit-login .welcome-txt {
    font-size: 16px;
}

.exit-login p {
    margin-bottom: 40px;
    margin-top: 4px;
    font-size: 13px;
    line-height: 18px;
}

.or-txt-divid {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(0px, -50%);
    width: 30px;
    height: 30px;
    border: 1px solid #b9b8b8;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    z-index: 9;
    background: #fff;
}

.notification-list {
    padding: 0px;
    background: #fff;
    height: 400px;
    overflow: auto;
    white-space: normal;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #d2dce6;
    top: 30px;
    right: -20px;
    width: 400px;
}

.notification-list h4 {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 15px;
}

.notification-list span {
    float: right;
}

.notification-list span a {
    font-size: 13px;
    line-height: normal;
}


/* .notificaion-content h5 {font-size: 13px; font-weight: 600;} */

.notificaion-content p {
    font-size: 12px;
    color: #949494;
    margin-bottom: 10px;
}

.notificaion-content .item-hour {
    font-weight: 600;
    color: #8f9ca5;
    font-size: 10px;
}

.notification-item .item-day {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.item-hour {
    text-align: right;
    font-style: italic;
}

.notification-item {
    border-bottom: 1px solid #eee;
}

.deleteicon {
    color: red;
}

.mailcontent {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.item-day {
    /* margin-top: 5px; */
    padding: 5px 10px;
    background: #eee;
}

.notification-title {
    background: #0d4fa3;
    padding: 10px;
    color: #fff;
}

.notification-title h4,
.notification-title a {
    color: #fff;
    margin: 0px;
}


/* .notification-icon:hover .notification-list {display: block;} */

.signup-header-drop {
    padding: 15px 20px;
}

.not-member-txt {
    font-size: 14px;
}

.or-txt {
    text-align: center;
}

.signin-drop.navigation-dropdown.login-user {
    width: 250px;
}

.signin-drop.navigation-dropdown,
.signin-drop.navigation-dropdown2 {
    width: 500px;
    top: 36px;
    right: 0px;
    left: inherit;
}

.signin-drop.navigation-dropdown ul li a,
.signin-drop.navigation-dropdown2 ul li a {
    padding: 10px 10px;
}

.signinbtn-profile {
    margin-left: 16px;
}

.signinbtn-profile span {
    padding-left: 5px;
    vertical-align: middle;
}

.navigation-dropdown ul li a:hover,
.navigation-dropdown2 ul li a:hover {
    background: #0d4fa3;
    color: #fff;
}

.header-menu a.signinbtn {
    line-height: normal;
    border-radius: 0px;
}

.signinbtn .down-arrow {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

@media (max-width: 1279px) {
    .header-outer .container-fluid {
        padding: 0 15px;
    }
    /* .header-menu a {   
    padding: 0 5px;
  } */
    .makecall {
        padding: 8px 15px;
    }
}

@media (max-width: 991px) {
    mat-sidenav mat-nav-list a {
        height: auto;
    }
    .header-call .notification-list .notification-item .not-li {
        display: flex;
    }
    .header-call .notification-list .notification-item .not-li .mailicon {
        flex: 1 1 10%;
        max-width: 14%;
        width: 14%;
    }
    .header-call .notification-list .notification-item .not-li .notificaion-content {
        flex: 1 1 71%;
        margin-bottom: 5px!important;
        width: 80%;
        text-align: left;
        margin-left: 10px;
    }
    .header-top {
        padding: 5px 0;
    }
    .header-search-wrap,
    .callback-btn span {
        display: none;
    }
    .makecall i {
        padding-right: 0px;
    }
    .makecall {
        padding: 6px 10px;
        height: 36px;
        vertical-align: middle;
    }
    .header-main,
    .header-main.header-inner {
        padding-bottom: 70px;
    }
    .header-extra-wrap {
        margin: 0 0;
    }
    .header-call {
        /* margin-right: 15px; */
        text-align: right;
    }
    .signinbtn-profile span {
        display: none;
    }
    .header-bottom {
        border-bottom: none;
    }
    .navigation-dropdown.signin-drop::before {
        display: none;
    }
    .header-menu-outer {
        min-width: inherit !important;
        width: auto !important;
    }
    .navigation-dropdown.signin-drop,
    .navigation-dropdown2.signin-drop {
        position: absolute !important;
        top: 50px;
    }
    .navigation-dropdown ul li a,
    .navigation-dropdown2 ul li a {
        color: #333;
    }
    .header-menu.mobile-nav a {
        color: #fff;
        display: block;
        text-align: left;
    }
    .header-menu-outer {
        min-width: auto !important;
        width: 100% !important;
    }
    .header-row {
        justify-content: normal;
    }
    .header-menu.mobile-nav ul li:hover .navigation-dropdown {
        display: block;
    }
    .signin-drop.navigation-dropdown,
    .signin-drop.navigation-dropdown2 {
        width: 250px;
    }
    .exit-login p {
        margin-bottom: 20px;
    }
    .or-txt-divid {
        position: static;
        transform: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .not-member-txt {
        font-size: 14px;
    }
    .signup-header-drop a {
        width: 100% !important;
    }
    .or-txt {
        padding-right: 0px;
    }
    mat-sidenav {
        background: linear-gradient(150deg, rgb(21, 81, 181), rgb(165, 23, 29));
        position: fixed;
        width: 270px;
        height: 100%;
        top: 70px;
    }
}

@media (max-width: 767px) {

    /* .header-bottom .active {
        background: #094fa3;
        border-radius: 0px;
        color: #fff;
    }
    .header-bottom .active span{
        color: #fff;
    } */
    .signinbtn-profile {
        margin: 0px !important;
    }
    .signinbtn-profile img {
        width: 30px;
    }
    .notification-list {
        height: auto;
        overflow-x: hidden;
        min-height: 200px;
        max-height: 400px;
        width: 250px;
        top: 50px;
        right: -60px;
    }
    .username-mobile {
        padding: 10px 16px;
        text-align: left;
        font-weight: 500;
        background: #eee;
    }
    .notification-title {
        text-align: left;
    }
    li.mobile-show.username-mobile span {
        display: inline-block !important;
    }
    .mobile-show {
        display: block!important;
    }
    .navigation-dropdown-login.show {
        width: 250px;
        top: 54px;
    }
    .navigation-dropdown-login.show::before {
        top: 70px;
    }
    mat-sidenav mat-nav-list a {
        display: block;
        text-align: left;
        border-radius: 0;
    }
    .navigation-dropdown.signin-drop::before {
        display: none;
    }
    .signin-drop.navigation-dropdown,
    .signin-drop.navigation-dropdown2 {
        width: 250px;
    }
    .exit-login p {
        margin-bottom: 20px;
    }
    .or-txt-divid {
        position: static;
        transform: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .not-member-txt {
        font-size: 14px;
    }
    .signup-header-drop a {
        width: 100% !important;
    }
    .or-txt {
        padding-right: 0px;
    }
    /* .header-menu a {padding: 0 16px;}  */
    .mat-icon-button {
        margin-left: -7px;
    }
    .header-menu.mobile-nav a {
        height: auto;
    }
    mat-sidenav {
        background: linear-gradient(150deg, rgb(21, 81, 181), rgb(165, 23, 29));
        position: fixed;
        width: 60%;
        height: 100%;
        top: 70px;
    }
    mat-sidenav mat-nav-list a mat-icon {
        float: right;
        margin-top: 10px;
    }
    .sidebar {
        width: 320px;
    }
    .sidebar.hide {
        left: -320px;
    }
    .sidebar ul li {
        padding: 10px 0;
    }
}

li.signup-header-drop {
    text-align: center;
}

.signup-header-drop a {
    text-align: center !important;
    width: 80%;
    border-radius: 0px;
    line-height: 36px;
    margin: 5px auto;
    border: 2px solid #004394;
    font-size: 12px !important;
    color: #004394 !important;
    background: #fff;
    text-transform: uppercase;
    font-weight: 500 !important;
    display: block;
}

.signup-header-drop a:hover {
    color: #fff !important;
    background: #0d4fa3;
}

.signup-header-drop {
    background: #fcfcfc;
}

.signin-drop {
    text-align: left;
}

.navigation-dropdown.signin-drop li:first-child div,
.navigation-dropdown2.signin-drop li:first-child div {
    padding: 0.5em;
}

a.signinbtn.mat-focus-indicator.mat-button.mat-button-base {
    margin-bottom: 0.5em;
    font-size: 12px !important;
    width: 100%;
}

.or-txt {
    text-align: center;
    width: 80% !important;
    margin: 0 auto !important;
}

a.signinbtn {
    width: 80%;
    display: block;
    text-align: center !important;
    margin: 0 auto 0.5em !important;
}


/* .custom-dp{position:absolute;} */


/* .notification-icon{display:none!important;} */

.notificaion-content.mb-3 {
    flex: 1 1 90%;
    margin-bottom: 5px !important;
}

.mailicon {
    flex: 1 1 10%;
    max-width: 10%;
    width: 10%;
}

.nonotification-item.ng-star-inserted {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background: #eee;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0px;
    right: 0px;
    width: 90%;
    margin: 0 auto;
    border: 1px dashed;
}

.not-li {
    float: none;
    display: flex;
    width: 100%;
}

.mobile-show {
    display: none;
}

.header-bottom .active {
    background: #094fa3;
    border-radius: 0px;
    color: #fff;
}
.header-bottom .active span{
    color: #fff;
}