<main class="container-fluid">
    <div class="">
    <section class="myself-details-main-wrapper">
        <div class="row">
            <div class="col-12 p-0">
                <app-progress-steps [steps]="steps"></app-progress-steps>
            </div>
        </div>
    </section>
    <app-vaahan-details [vaahanDetailsEditable]="this.vaahanDetailsEditable"></app-vaahan-details>
    <app-vehicle-details-section></app-vehicle-details-section>
    <div class="row mt-5">
        <div class="col-5 mb-4">
            <button mat-button class="default-btn-outline" (click)="back()">Back</button>
        </div>
        <div class="col-7 mb-4 text-right">
            <button mat-button class="default-btn" (click)="next()">Save & Continue</button>
        </div>
    </div>
</div>
</main>