<mat-card>
    <div class="main-div product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Location Master</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-12">
                    <h3 class="admin-page-title">Location Master</h3>
                </div>
            </div>

            <mat-tab-group class="sub-section-tab auction-tab" (selectedTabChange)="onListTabChanged($event);">
                <mat-tab label="Country">
                    <!-- <div class="row">
           <div class="col-md-6 mb-3">
            <h4 class="title">Country Master</h4>
          </div> 
        </div> -->

                    <ng-container *ngIf="showCountryForm">
                        <app-add-edit-country-dialog (ChdOutput)="GetChildData('CountryCreate' ,$event , 0)">
                        </app-add-edit-country-dialog>
                        <!-- <app-add-edit-country-dialog></app-add-edit-country-dialog> -->
                        <!-- [ChdInput] = "FlagPopUp" -->
                    </ng-container>

                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="Search" (input)="search($event.target.value,'Country')" (keydown.enter)="search($event.target.value,'Country')" autocomplete="off" type="text" class="">
                            </mat-form-field>
                        </div>

                        <div class="col-md-7 col-sm-6 col-lg-8 mb-3 user-search-btn">
                            <div class="excel-export-section">
                                <button class="ml-0 export-btn" mat-raised-button (click)="exportCountryData()"><i
                  class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                            </div>
                            <div class="add-more-btn" *ngIf="!showCountryForm">
                                <button mat-button (click)="add('Country')" class="default-btn"><i class="fa fa-plus" aria-hidden="true"></i>Add Country</button>
                            </div>
                        </div>

                    </div>

                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="countryDataSource" #TableOneSort="matSort" matSort>
                                <!-- <div class="default-tbl mt-2">
          <mat-table [dataSource]="countryDataSource"> -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Country </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Country</span> {{ element.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef> Code </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Code</span> {{ element.code }} </td>
                                </ng-container>

                                <ng-container matColumnDef="flag">
                                    <th mat-header-cell *matHeaderCellDef> Flag </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Flag</span>
                                        <img class="logo" src="{{element.flag}}" />
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="isd_code">
                                    <th mat-header-cell *matHeaderCellDef> ISD Code </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">ISD Code</span> {{ element.isd_code }} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button mat-button (click)="GetChildData('CountryEdit' , $event , i)" class="simple-btn mr-2"><span><img src="../../../assets/images/editicon.svg"></span></button>
                                            <button mat-button (click)="deleteCountry(element.id)" class="simple-btn delet-icon"><span><img
                          src="../../../assets/images/Delete_icon.svg"></span></button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="countryDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: countryDisplayedColumns"></tr>
                            </table>
                            <!-- </mat-table> -->
                        </div>
                    </div>
                    <mat-paginator #countryPaginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" [pageSize]="10">
                    </mat-paginator>
                </mat-tab>

                <mat-tab label="State">
                    <!-- <div class="row">
           <div class="col-sm-6 mb-3">
            <h4 class="title">State Master</h4>
          </div> 
        </div> -->

                    <ng-container *ngIf="showStateForm">
                        <app-add-edit-state-dialog (ChdOutput)="GetChildData('StateCreate' ,$event , 0)"></app-add-edit-state-dialog>
                        <!-- <app-add-edit-country-dialog></app-add-edit-country-dialog> -->
                        <!-- [ChdInput] = "FlagPopUp" -->
                    </ng-container>


                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="Search" (input)="search($event.target.value,'State')" (keydown.enter)="search($event.target.value,'State')" autocomplete="off" type="text" class="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7 col-lg-8 col-sm-6 mb-3 user-search-btn">
                            <div class="excel-export-section">
                                <button class="ml-3 export-btn" mat-raised-button (click)="exportStateData()"><i
                  class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                            </div>
                            <div class="add-more-btn" *ngIf="!showStateForm">
                                <button class="default-btn" mat-button (click)="add('State')"><i class="fa fa-plus" aria-hidden="true"></i>Add State</button>
                            </div>
                        </div>
                    </div>

                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="stateDataSource" #TableOneSort="matSort" matSort>
                                <!-- <mat-table [dataSource]="stateDataSource" class="default-tbl"> -->
                                <ng-container matColumnDef="country_name">
                                    <th mat-header-cell *matHeaderCellDef> Country </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Country</span> {{ element.country.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> State </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">State</span> {{ element.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button class="simple-btn" mat-button (click)="GetChildData('StateEdit' , $event , i)"><span><img
                          src="../../../assets/images/editicon.svg"></span></button>
                                            <!-- "addEditState(i)" -->
                                            <button class="simple-btn delet-icon" mat-button (click)="deleteState(element.id)"><span><img
                          src="../../../assets/images/Delete_icon.svg"></span></button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="stateDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: stateDisplayedColumns"></tr>
                                <!-- </mat-table> -->
                            </table>
                        </div>
                    </div>
                    <mat-paginator #statePaginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                </mat-tab>
                <mat-tab label="City/Location">
                    <!-- <div class="row">
          <div class="col-sm-6 mb-3">
            <h4 class="title">City/Location Master</h4>
          </div> 
        </div> -->

                    <ng-container *ngIf="showCityForm">
                        <app-add-edit-city-dialog (ChdOutput)="GetChildData('cityCreate' ,$event , 0)"></app-add-edit-city-dialog>
                        <!-- <app-add-edit-country-dialog></app-add-edit-country-dialog> -->
                        <!-- [ChdInput] = "FlagPopUp" -->
                    </ng-container>

                    <div>
                        <div class="row">
                            <div class="col-md-5 col-lg-4 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search" (input)="search($event.target.value,'City')" (keydown.enter)="search($event.target.value,'City')" autocomplete="off" type="text" class="">
                                </mat-form-field>
                            </div>
                            <div class="col-md-7 col-lg-8 user-search-btn mb-3">
                                <div class="excel-export-section">
                                    <button class="export-btn" mat-raised-button color="primary" (click)="exportCityData()"><i
                    class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                                </div>
                                <div class="add-more-btn" *ngIf="!showCityForm">
                                    <button class="default-btn" mat-button (click)="add('City')"><i class="fa fa-plus" aria-hidden="true"></i>Add City/Location</button>
                                    <!-- (click)="addEditLocation()" -->
                                </div>
                            </div>

                        </div>
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="CityDataSource" #TableOneSort="matSort" matSort>
                                    <!-- <mat-table [dataSource]="CityDataSource" class="default-tbl"> -->
                                    <ng-container matColumnDef="Country">
                                        <th mat-header-cell *matHeaderCellDef> Country </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Country</span> {{element.state.country.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="state_name">
                                        <th mat-header-cell *matHeaderCellDef> State </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">State</span> {{element.state.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> City/Location </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">State</span> {{ element.name }} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <span class="mobile-label">Actions</span>
                                            <div>
                                                <button class="simple-btn" mat-button (click)="GetChildData('CityEdit' , $event , i)"><span><img
                            src="../../../assets/images/editicon.svg"></span></button>
                                                <!-- (click)="addEditLocation(i)" -->
                                                <button class="simple-btn delet-icon" mat-button (click)="deleteCity(element.id)"><span><img
                            src="../../../assets/images/Delete_icon.svg"></span></button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="CityDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: CityDisplayedColumns"></tr>
                                    <!-- </mat-table> -->
                                </table>
                            </div>
                        </div>
                        <mat-paginator #cityPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>

                    </div>
                </mat-tab>
                <mat-tab label="Pincode">
                    <!-- <div class="row">
           <div class="col-sm-6 mb-3">
            <h4 class="title">Pincode Master</h4>
          </div> 

        </div> -->

                    <ng-container *ngIf="showPincodeForm">
                        <app-add-edit-pincode-dialog (ChdOutput)="GetChildData('PincodeCreate' ,$event , 0)">
                        </app-add-edit-pincode-dialog>
                        <!-- <app-add-edit-country-dialog></app-add-edit-country-dialog> -->
                        <!-- [ChdInput] = "FlagPopUp" -->
                    </ng-container>

                    <div>
                        <div class="row">
                            <div class="col-md-5 col-lg-4 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search" (input)="search($event.target.value,'Pincode')" (keydown.enter)="search($event.target.value,'Pincode')" autocomplete="off" type="text" class="">
                                </mat-form-field>
                            </div>
                            <div class="col-md-7 col-lg-8 user-search-btn mb-3">
                                <div class="excel-export-section">
                                    <button class="export-btn" mat-raised-button color="primary" (click)="exportPincodeData()"><i
                    class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                                </div>
                                <div class="add-more-btn" *ngIf="!showPincodeForm">
                                    <button class="default-btn" mat-button (click)="add('Pincode')"><i class="fa fa-plus" aria-hidden="true"></i>Add Pincode</button>
                                </div>
                            </div>
                        </div>
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="PincodeDataSource" #TableOneSort="matSort" matSort>

                                    <ng-container matColumnDef="Country">
                                        <th mat-header-cell *matHeaderCellDef> Country </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Country</span> {{ element.city.state.country.name }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="state_name">
                                        <th mat-header-cell *matHeaderCellDef> State </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">State</span> {{ element.city.state.name }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="City">
                                        <th mat-header-cell *matHeaderCellDef> City/Location </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">City/Location</span> {{ element.city.name }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="pin_code">
                                        <th mat-header-cell *matHeaderCellDef> Pincode </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Pincode</span> {{ element.pin_code }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="rm_name">
                                        <th mat-header-cell *matHeaderCellDef> RM </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">RM</span> {{ element.rm_name }} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <span class="mobile-label">Actions</span>
                                            <div>
                                                <!-- <button class="simple-btn" mat-button (click)="GetChildData('PincodeEdit' , $event , i)">
                      <span><img src="../../../assets/images/editicon.svg"></span></button> -->
                                                <!-- (click)="addEditLocation(i)" -->
                                                <button class="simple-btn delet-icon" mat-button (click)="deletePincode(element.pin_code)"><span><img
                            src="../../../assets/images/Delete_icon.svg"></span></button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="PincodeDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: PincodeDisplayedColumns"></tr>
                                    <!-- </mat-table> -->
                                </table>
                            </div>
                        </div>
                        <mat-paginator #pinCodePaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>

                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-card>