.outer-dashboard-div {
    padding: 15px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
    text-align: center;
}
.outer-dashboard-div .product-wrapper-box {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}
.dashboard-image img {
    width: 30em;
    margin: 2em auto;
    display: block;
}
.outer-dashboard-div h3, .outer-dashboard-div p {
    width: 80%;
    margin: 1em auto;
}

.outer-dashboard-div{
    display: block;
}


@media screen and (max-width: 992px) and (min-width: 768px) {

    /* .outer-dashboard-div {padding: 20px 15px; width: 100%; margin-top: 0px !important; float: none; transition: 0.5s;}
   */
    .outer-dashboard-div h3 {width: 100%; font-size: 20px;}
    .outer-dashboard-div p {width: 100%; font-size: 16px;}
  
  }
  
  @media screen and (max-width: 767px) {
    
    .outer-dashboard-div h3 {width: 100%; font-size: 20px;}
    .outer-dashboard-div p {width: 100%; font-size: 16px;}
  
  }
  @media(max-width:767px){
    .outer-dashboard-div {padding: 20px 15px; margin-top: 0px; width: 100%; float: none; transition: 0.5s;} 
  }