<app-sidebar></app-sidebar>
<router-outlet>

</router-outlet>
<div class="outer-dashboard-div" *ngIf="router.url=='/customer/dashboard'">
    <div class="product-wrapper-box">
    <h3>Welcome to the new and refreshed website of iQuippo!</h3>
<div class="dashboard-image">
<img src="../../../assets/images/iquippo-website.svg"  alt="" class="img-fluid">
</div>

<p>iQuippo is India's first and a one-of-its-kind digital marketplace for construction equipment, machinery and services. Our platform allows buyers and sellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner.</p>
<p *ngIf="!incompleteProfile">Thank you for completing your profile. You can now buy equipments on the site, participate in auctions or get the valuation done for your equipments.</p>
<p *ngIf="incompleteProfile">Thank you for registering with us. Please complete your profile to purchase the equipments available on our site, participate in auctions or get the valuation done for your equipments.
</p>
<p *ngIf="incompleteProfile">Click <a class="text-info text-underline" href="javascript:void(0)" (click)="redirectToPage()">here</a> to complete your profile.</p>
<!-- <div class="buttons-actions">
    <button class="btn theme-btn">Proceed to the Website</button>
</div> -->
</div>
</div>