<div class="popup">
    <div class="popup-hdr">
        Set New Password
         <!-- <button mat-button (click)="backClick()" class="close-btn"><img
                src="../../../../assets/images/Close.svg" alt=""></button> -->
    </div>
    <div class="popup-body" [formGroup]="newUserForm">
          <div class="otp-wrapper">
            <div class="sign-in-pwd-wrapper">
              <label for="">Password <span class="mandatory"></span></label>
            <div class="row mb-3">
              <div class="col-12">
                <mat-form-field floatLabel="never">
                  <input matInput [type]="fieldTextType ? 'text' : 'password'" placeholder="" formControlName='Password'>
                  <mat-icon class="material-icons-outlined cursor-pointer eyeicon" (click)="fieldTextType = !fieldTextType" matSuffix>{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>                   
                </mat-form-field>
                <mat-error>
                  <div class="validation-err" *ngIf="newUserForm.get('Password')?.hasError('required') && newUserForm.get('Password')?.touched">
                       Please enter the password.
                  </div>
                  <div class="validation-err" *ngIf="newUserForm.get('Password')?.hasError('pattern') && newUserForm.get('Password')?.touched" >
                    Password must contain atleast one numeric, one small case, one capital case character, one special character and minimum length should be 8.
               </div>
                </mat-error>
              </div>           
            </div>

            <label for="">Confirm New Password <span class="mandatory"></span></label>
            <div class="row mb-4">
                <div class="col-12">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder=""  [type]="fieldTextType1 ? 'text' : 'password'" formControlName='ConfirmPassword'>
                    <mat-icon class="material-icons-outlined cursor-pointer eyeicon" (click)="fieldTextType1 = !fieldTextType1" matSuffix>{{fieldTextType1 ? 'visibility' : 'visibility_off'}}</mat-icon>                   
                  </mat-form-field>
                  <mat-error>
                    <div class="validation-err" *ngIf="newUserForm.get('ConfirmPassword')?.hasError('required') && newUserForm.get('ConfirmPassword')?.touched">
                      Please re-enter the password.
                    </div>
                    <div class="validation-err" *ngIf="newUserForm.get('ConfirmPassword')?.hasError('notMatch') && newUserForm.get('ConfirmPassword')?.touched">
                      Password didn't match.
                 </div>
                  </mat-error>
                </div>            
              </div>
            </div>
      </div>
        <div class="text-right">
            <!-- <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Cancel</button> -->
                <button class="default-btn plr-md-40" [disabled]="newUserForm.invalid" (click)="okClick()" mat-button >Ok</button>
        </div>
    </div>
</div>