/* corporate details style start */
.corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
    width: 20%;
    margin-bottom: 0.5rem;
}
.p-r-0{padding-right:0px !important;}
.saveandcont-btn {
    text-align: right;
    padding: 0 0rem 1rem;
}
.comsaveandcont-btn {
    display: inline-block;
    padding: 0 0rem 0rem;
}
.div-wraapper .myself-details-main-wrapper {
    border: 1px solid #c4cfd8;
    border-radius: 8px;
}
.basic-details-section label {
    color: #77828a;
    font-weight: 500;
}

.myself-details-main-wrapper .progress-block {
    border-radius: 8px 8px 0px 0px;
}
.basic-details-section {
    padding: 20px;
}
.basic-details-section label {
    color: #77828a;
    font-weight: 500;
}

.brand-location {border: 1px solid #c4cfd8; margin-bottom: 15px; border-radius: 6px;}
.brand-location h2.sub-head {    font-size: 14px !important;
    padding: 10px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: #0f3d94;}
.brand-location .brand-form {padding: 10px;}



/* for mobile */

@media (max-width: 575.98px) { 
    
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
        width: 50%;	}
    

    }


/* corporate style end */

.h-80{
    height: 80px;
}
.div-wraapper{
    width: calc(100% - 18em);
     margin-bottom: 100px;
    padding: 15px;
    float: right;
    transition: 0.5s;
}
.type-block h4.title {
    font-size: 14px !important; 
    padding: 10px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: #0f3d94;
}
.type-block-box {padding: 12px;}
.type-block {
    border: 1px solid #c4cfd8; 
    border-radius: 6px;
}
.main-form-details-container {margin-bottom: 0px;}
.basic-details-section {
    padding: 20px;
}


@media screen and (max-width: 992px) and (min-width: 768px) {
  
    /* .div-wraapper {padding: 20px 15px; margin-top: 80px; width: 100%; float: none; transition: 0.5s;} */
  
  }




  .type-block h4.title {
    font-size: 14px !important; 
    padding: 10px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: #0f3d94;
}
.type-block-box {padding: 12px;}
.type-block {
    border: 1px solid #c4cfd8; 
    border-radius: 6px;
}
.address-wrapper .mat-select-trigger {
    top: inherit;
}
.remove-btn, .addaddress-btn{display: inline-block;}


@media screen and (max-width: 767px) {

    .div-wraapper {
        padding: 0px 10px 20px !important;
        width: 100%;
    }

}