<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Confirm</h4>
         <button mat-button (click)="close()" class="close-btn"><img
                src="../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <p [innerHTML]="description"></p>
        <div class="text-right" [class.d-none]="agreementNotApproved===true">
            <button class="default-btn-outline plr-md-40 mr-3" mat-dialog-close  (click)="dialogRef.close(false)" mat-button>No</button>
                <button class="default-btn plr-md-40"[mat-dialog-close]="true" (click)="dialogRef.close(true)" mat-button >Yes</button>
        </div>
    </div>
</div>