<div class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enterprise Valuation</li>
      </ol>
    </div>
  
    <div class="admin-page-heading">
      <div class="admin-page-header col-lg-5 col-md-12 col-sm-12 col-12">
        <h3 class="admin-page-title">Enterprise Valuation Request</h3>
      </div>
      <div class="text-right col-lg-7 pt-md-2 col-md-12 col-sm-12 col-12 text-right enterprise-btn" *ngIf="!showForm">
        <button mat-button class="default-btn add-btn" (click)="showForm = !showForm">
          <i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
        <button mat-button class="default-btn add-btn ml-3" [routerLink]="['/bulk-upload/bulk-upload-enterprise']">
          <i class="fa fa-upload" aria-hidden="true"></i>Bulk Upload</button>
        <div class="exportWrapper text-right">
          <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export('')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Export</button>
          <button type="button" class="btn btn-lg theme-btn mat-button mr-0" (click)="export('all')"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Export All</button>
        </div>
      </div>
      </div>
     
        <ng-container *ngIf="showForm">
          <div class="user-management">
            <mat-tab-group class="sub-section-tab">
              <mat-tab label="Enterprise Information">
                <h4 class="title">Add New Enterprise Valuation Request </h4>
                <div class="add-certificate-section">
                    <form [formGroup]="enterpriseValuationForm">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="f-12 d-block">Request Type<span class="text-warning">*</span></label>
                                <mat-select placeholder="Select Request Type" required formControlName="request_type" [disabled] ="this.isdisabled">
                                    <mat-option [value]="1">
                                        Valuation
                                    </mat-option>
                                    <mat-option [value]="2">
                                       Inspection
                                    </mat-option>
                                    <mat-option [value]="3">
                                      GPS Installation
                                   </mat-option>
                                   <mat-option [value]="4">
                                    Photographs Only
                                 </mat-option>
                                </mat-select>
                                <div
                                    *ngIf="(enterpriseValuationForm.get('request_type')?.touched || submitted) && enterpriseValuationForm?.get('request_type')?.hasError('required')">
                                    <span class="validation-err">Please select Request Type</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Purpose<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never" >
                                    <mat-select placeholder="Select Purpose" [disabled] ="this.isdisabled" required formControlName="purpose">
                                        <mat-option *ngFor="let purpose of purposeList" [value]="purpose.id">{{purpose.title}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div
                                    *ngIf="(enterpriseValuationForm.get('purpose')?.touched || submitted) && enterpriseValuationForm?.get('purpose')?.hasError('required')">
                                    <span class="validation-err">Please select purpose.</span>
                                </div>
                            </div>
                           <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Name of Original Owner</label>
                                <mat-form-field floatLabel="never">
                                  <input matInput id="original_owner" [readonly] ="this.isdisabled" formControlName="original_owner" placeholder="Enter Original Owner">
                                </mat-form-field>
                                <div
                                    *ngIf="(enterpriseValuationForm.get('original_owner')?.touched || submitted) && enterpriseValuationForm?.get('original_owner')?.hasError('required')">
                                    <span class="validation-err">Please enter the Original Owner.</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label for="" class="f-12 d-block">Name of Customer Seeking Finance</label>
                              <mat-form-field floatLabel="never">
                                <input matInput id="customer_seeking_finance"  [readonly] ="this.isdisabled" formControlName="customer_seeking_finance" placeholder="Enter Customer Seeking ">
                              </mat-form-field>
                              <div
                                  *ngIf="(enterpriseValuationForm.get('customer_seeking_finance')?.touched || submitted) && enterpriseValuationForm?.get('customer_seeking_finance')?.hasError('required')">
                                  <span class="validation-err">Please enter the name of Customer Seeking Finance</span>
                              </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Ref/FI Number</label>
                            <mat-form-field floatLabel="never">
                              <input matInput id="reference_number" [readonly] ="this.isdisabled" formControlName="reference_number" placeholder="Enter Reference Number ">
                            </mat-form-field>
                            <div
                                *ngIf="(enterpriseValuationForm.get('reference_number')?.touched || submitted) && enterpriseValuationForm?.get('reference_number')?.hasError('required')">
                                <span class="validation-err">Please enter the Ref/FI Number</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="" class="f-12 d-block">Repo Date</label>
                          <mat-form-field floatLabel="never" class="datepicker-input">
                            <input placeholder="Enter repo Date" matInput [matDatepicker]="picker1"
                                (click)="picker1.open()"  formControlName='repo_date' [disabled] ="this.isdisabled">
                            <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-icon" [disabled] ="this.isdisabled">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" />
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="" class="f-12 d-block">Do you have invoice Available?<span class="text-warning">*</span></label>
                        <mat-radio-group aria-label="Select an option" formControlName="is_original_invoice" [disabled] ="this.isdisabled">
                          <mat-radio-button value="1">Yes</mat-radio-button>
                          <mat-radio-button value="0">No</mat-radio-button>
                      </mat-radio-group>
                        <div
                            *ngIf="(enterpriseValuationForm.get('is_original_invoice')?.touched || submitted) && enterpriseValuationForm?.get('is_original_invoice')?.hasError('required')">
                            <span class="validation-err">Please enter invoice Availability.</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('is_original_invoice')?.value == '1'">
                      <label for="" class="f-12 d-block">Invoice Value<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never">
                        <input matInput id="invoice_value" formControlName="invoice_value" placeholder="Enter Invoice Value" [readonly] ="this.isdisabled">
                      </mat-form-field>
                      <div
                          *ngIf="(enterpriseValuationForm.get('invoice_value')?.touched || submitted) && enterpriseValuationForm?.get('invoice_value')?.hasError('required')">
                          <span class="validation-err">Please enter Invoice Value</span>
                      </div>
                  </div>
                  <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('is_original_invoice')?.value == '1'">
                    <label for="" class="f-12 d-block">Invoice Date<span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <input placeholder="Enter Invoice Date" matInput [matDatepicker]="picker2"
                          (click)="picker2.open()" readonly formControlName='invoice_date' [readonly] ="this.isdisabled">
                      <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-icon">
                          <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                              <img src="../../../assets/images/calendar.svg" />
                          </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                    <div
                        *ngIf="(enterpriseValuationForm.get('invoice_date')?.touched || submitted) && enterpriseValuationForm?.get('invoice_date')?.hasError('required')">
                        <span class="validation-err">Please enter the Invoice Date</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('is_original_invoice')?.value == '1'">
                  <label for="" class="f-12 d-block">Invoice Upload<span class="text-warning">*</span></label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="invoice_document"
                        (change)="handleUploadForm($event,'invoice','front');" [readonly] ="this.isdisabled">
                    <label class="custom-file-label custom-file-label2" for="front"><span
                            class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                            class="upload-icon2"></span></label>
                    <div class="lisFile" *ngIf="documentName && documentName.length > 0">
                        <ul class="selectedFile">
                          <li *ngFor="let document of documentName;let i=index">
                            <a class="file-upload" href="{{document.url}}" target="_blank">{{document.name}}</a>
                            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                            <a class="delet-icon" (click)="resetFile(i,document.url)">
                                <img src="../../../assets/images/Delete_icon.svg" />
                            </a>
                        </li>

                        </ul>
                    </div>
                    <div
                        *ngIf="enterpriseValuationForm?.get('invoice_document')?.touched && enterpriseValuationForm?.get('invoice_document')?.hasError('required')">
                        <span class="validation-err">Please enter the invoice.</span>
                    </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Category<span class="text-warning">*</span></label>
                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                    <input matInput [matAutocomplete]="auto" placeholder="Enter Category" type="text"
                        (keyup)="filterValuesCategory($event)" formControlName='category' [readonly] ="this.isdisabled" maxlength="256">
                    <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="onCategorySelect($event.option.value)">
                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}
                        </mat-option>
                        <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('category')?.touched || submitted) && enterpriseValuationForm?.get('category')?.hasError('required')">
                    <span class="validation-err">Please select the category.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm?.get('category')?.value == 'Other'">
                <label for="" class="f-12 d-block">Other Category</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter other Category" autocomplete="off" type="text"
                        formControlName="otherCategory" [readonly] ="this.isdisabled">
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('otherCategory')?.touched || submitted) && enterpriseValuationForm?.get('otherCategory')?.hasError('required')">
                    <span class="validation-err">Please enter the category.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Brand<span class="text-warning">*</span></label>
                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                    <input matInput [matAutocomplete]="auto2" placeholder="Enter Brand" type="text"
                        (keyup)="filterValuesBrand($event)" [readonly] ="this.isdisabled" formControlName='brand' maxlength="256">
                    <mat-autocomplete #auto2="matAutocomplete"
                        (optionSelected)="onBrandSelect($event.option.value)">
                        <mat-option *ngIf="brandList?.length == 0" value="0">Other</mat-option>
                        <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand.name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('brand')?.touched || submitted) && enterpriseValuationForm?.get('brand')?.hasError('required')">
                    <span class="validation-err">Please enter the brand.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm?.get('brand')?.value == 'Other'">
                <label for="" class="f-12 d-block">Other Brand</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter other Brand" autocomplete="off" type="text"
                        formControlName="otherBrand" [readonly] ="this.isdisabled">
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('otherBrand')?.touched || submitted) && enterpriseValuationForm?.get('otherBrand')?.hasError('required')">
                    <span class="validation-err">Please enter the brand.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Model<span class="text-warning">*</span></label>
                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                    <input matInput [matAutocomplete]="auto3" placeholder="Enter Model"
                        (keyup)="filterValuesModal($event)" [readonly] ="this.isdisabled" type="text" formControlName='model' maxlength="256">
                    <mat-autocomplete #auto3="matAutocomplete"
                        (optionSelected)="onModalSelect($event.option.value)">
                        <mat-option *ngIf="modelList?.length == 0" value="Other">Other</mat-option>
                        <mat-option *ngFor="let model of modelList " [value]="model">{{model.name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('model')?.touched || submitted) && enterpriseValuationForm?.get('model')?.hasError('required')">
                    <span class="validation-err">Please select the model.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm?.get('model')?.value == 'Other'">
                <label for="" class="f-12 d-block">Other Model</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter Other model" autocomplete="off" type="text"
                        formControlName="otherModel" [readonly] ="this.isdisabled">
                </mat-form-field>
                <div
                    *ngIf="(enterpriseValuationForm.get('otherModel')?.touched || submitted) && enterpriseValuationForm?.get('otherModel')?.hasError('required')">
                    <span class="validation-err">Please enter the model.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="" class="f-12 d-block">Asset Name<span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                  <input matInput placeholder="Enter Asset Name" autocomplete="off" type="text"
                      formControlName="asset_name" readonly>
              </mat-form-field>
              <div
                  *ngIf="(enterpriseValuationForm.get('asset_name')?.touched || submitted) && enterpriseValuationForm?.get('asset_name')?.hasError('required')">
                  <span class="validation-err">Please enter Asset Name</span>
              </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="" class="f-12 d-block">Engine No.</label>
            <mat-form-field floatLabel="never">
                <input matInput placeholder="Enter Engine No." autocomplete="off" type="text"
                    formControlName="engine_number">
            </mat-form-field>
            <div
                *ngIf="(enterpriseValuationForm.get('engine_number')?.touched || submitted) && enterpriseValuationForm?.get('engine_number')?.hasError('required')">
                <span class="validation-err">Please enter Engine No.</span>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="" class="f-12 d-block">Chassis No.</label>
          <mat-form-field floatLabel="never">
              <input matInput placeholder="Enter Chassis No." autocomplete="off" type="text"
                  formControlName="chassis_number">
          </mat-form-field>
          <div
              *ngIf="(enterpriseValuationForm.get('chassis_number')?.touched || submitted) && enterpriseValuationForm?.get('chassis_number')?.hasError('required')">
              <span class="validation-err">Please enter Chassis No.</span>
          </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="" class="f-12 d-block">Is Equipment Registered?<span class="text-warning">*</span></label>
        <mat-radio-group aria-label="Select an option" formControlName="is_equipment_registered" (change)="updateRcValidation()">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
        <div
            *ngIf="(enterpriseValuationForm.get('is_equipment_registered')?.touched || submitted) && enterpriseValuationForm?.get('is_equipment_registered')?.hasError('required')">
            <span class="validation-err">Please enter Is Equipment Registered?</span>
        </div>
    </div>
      <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('is_equipment_registered')?.value == '1'">
        <label for="" class="f-12 d-block">Registration Number<span class="text-warning">*</span></label>
        <mat-form-field floatLabel="never">
            <input matInput placeholder="Enter Registration Number" autocomplete="off" type="text"
                formControlName="rc_number">
        </mat-form-field>
        <div
            *ngIf="(enterpriseValuationForm.get('rc_number')?.touched || submitted) && enterpriseValuationForm?.get('rc_number')?.hasError('required')">
            <span class="validation-err">Please enter Registration Number</span>
        </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="" class="f-12 d-block">Serial Number</label>
      <mat-form-field floatLabel="never">
          <input matInput placeholder="Enter Serial Number" autocomplete="off" type="text"
              formControlName="machine_sr_number">
      </mat-form-field>
      <div
          *ngIf="(enterpriseValuationForm.get('machine_sr_number')?.touched || submitted) && enterpriseValuationForm?.get('machine_sr_number')?.hasError('required')">
          <span class="validation-err">Please enter Serial Number</span>
      </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">Year of Manufacture</label>
    <!-- <mat-form-field class="datepicker-input">
      <input matInput [matDatepicker]="dp1" placeholder="" formControlName="mfg_year">
      <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
          <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
              <img src="../../../assets/images/calendar.svg" alt="">
          </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
          (yearSelected)="chosenYearHandler($event, dp1)">
      </mat-datepicker>
  </mat-form-field> -->
  <mat-form-field floatLabel="never" class="datepicker-input">
    <input matInput id="Date" placeholder="Enter Year of Manufacture" readonly
        [value]="enterpriseValuationForm.get('mfg_year')?.value | dateFilter: 'yyyy'">
    <input matInput formControlName="mfg_year" [(ngModel)]="yearOfManufacture"
      [matDatepicker]="dp1" class="shadow-dateInput" [max]="todayDate"/>
      <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
            <img src="../../../assets/images/calendar.svg" alt="">
        </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
    (yearSelected)="closeDatePicker(dp1,$event)"> 
    </mat-datepicker>
</mat-form-field>
    <div
        *ngIf="(enterpriseValuationForm.get('mfg_year')?.touched || submitted) && enterpriseValuationForm?.get('mfg_year')?.hasError('required')">
        <span class="validation-err">Please enter Year of Manufacture</span>
    </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Asset Address<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter Asset Address" autocomplete="off" type="text"
          formControlName="asset_address" [readonly] ="this.isdisabled">
  </mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('asset_address')?.touched || submitted) && enterpriseValuationForm?.get('asset_address')?.hasError('required')">
      <span class="validation-err">Please enter Asset Address</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Country<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
    <mat-select formControlName="country" required [disabled] ="this.isdisabled" placeholder="Select Country">
      <mat-option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</mat-option>
    </mat-select>
</mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('country')?.touched || submitted) && enterpriseValuationForm?.get('country')?.hasError('required')">
      <span class="validation-err">Please select Country</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Pincode<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter Pincode" autocomplete="off" type="text" (keyup)="getLocationData()" maxlength="6"
          formControlName="pin_code" [readonly] ="this.isdisabled">
  </mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('pin_code')?.touched || submitted) && enterpriseValuationForm?.get('pin_code')?.hasError('required')">
      <span class="validation-err">Please enter Pincode</span>
  </div>
  <div *ngIf="enterpriseValuationForm?.get('pin_code')?.touched && (stateList?.length == 0 || validatePincode())">
      <span class="validation-err">Please enter valid pincode.</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">State</label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter State" autocomplete="off" type="text"
          formControlName="state" readonly>
  </mat-form-field>
  <!-- <div
      *ngIf="(enterpriseValuationForm.get('state')?.touched || submitted) && enterpriseValuationForm?.get('state')?.hasError('required')">
      <span class="validation-err">Please enter State</span>
  </div> -->
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">City</label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter City" autocomplete="off" type="text"
          formControlName="city" readonly>
  </mat-form-field>
  <!-- <div
      *ngIf="(enterpriseValuationForm.get('city')?.touched || submitted) && enterpriseValuationForm?.get('city')?.hasError('required')">
      <span class="validation-err">Please enter City</span>
  </div> -->
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Contact Person<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter Contact Person" autocomplete="off" type="text"
          formControlName="contact_person" [readonly] ="this.isdisabled">
  </mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('contact_person')?.touched || submitted) && enterpriseValuationForm?.get('contact_person')?.hasError('required')">
      <span class="validation-err">Please enter Contact Person</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Contact Person Number<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter Contact Person Number" autocomplete="off" type="text" maxlength="10"
          formControlName="contact_number" [readonly] ="this.isdisabled">
  </mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('contact_number')?.touched || submitted) && enterpriseValuationForm?.get('contact_number')?.hasError('required')">
      <span class="validation-err">Please enter Contact Person Number</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Distance to be Travelled</label>
  <mat-form-field floatLabel="never">
      <input matInput placeholder="Enter Distance to be Travelled" autocomplete="off" type="text"
          formControlName="distance_to_be_travelled" [readonly] ="this.isdisabled">
  </mat-form-field>
  <!-- <div
      *ngIf="(enterpriseValuationForm.get('distance_to_be_travelled')?.touched || submitted) && enterpriseValuationForm?.get('distance_to_be_travelled')?.hasError('required')">
      <span class="validation-err">Please enter Distance to be Travelled</span>
  </div> -->
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Enterprise<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never">
    <mat-select placeholder="Select Enterprise" required formControlName="enterprise" [disabled] ="this.isdisabled">
      <mat-option *ngFor="let customer of enterpriseCustomerList" [value]="customer.id">{{customer?.company_name}}
      </mat-option>
  </mat-select>
  </mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('enterprise')?.touched || submitted) && enterpriseValuationForm?.get('enterprise')?.hasError('required')">
      <span class="validation-err">Please select Enterprise</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">RC upload</label>
  <div class="custom-file">
    <input type="file" class="custom-file-input" formControlName="rc_document"
        (change)="handleUploadForm($event,'rc','front');" [readonly] ="this.isdisabled">
    <label class="custom-file-label custom-file-label2" for="front"><span
            class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
            class="upload-icon2"></span></label>
    <div class="lisFile" *ngIf="documentRCName && documentRCName.length > 0">
        <ul class="selectedFile">
          <li *ngFor="let document of documentRCName;let i=index">
            <a class="file-upload" href="{{document.url}}" target="_blank">{{document.name}}</a>
            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
            <a class="delet-icon" (click)="resetRCFile(i,document.url)">
                <img src="../../../assets/images/Delete_icon.svg" />
            </a>
        </li>

        </ul>
    </div>
    <div
        *ngIf="enterpriseValuationForm?.get('invoice_document')?.touched && enterpriseValuationForm?.get('invoice_document')?.hasError('required')">
        <span class="validation-err">Please enter the invoice.</span>
    </div>
</div>
  <div
      *ngIf="(enterpriseValuationForm.get('rc_document')?.touched || submitted) && enterpriseValuationForm?.get('rc_document')?.hasError('required')">
      <span class="validation-err">Please select RC upload</span>
  </div>
</div>
<div class="col-md-4 mb-3">
  <label for="" class="f-12 d-block">Request Date<span class="text-warning">*</span></label>
  <mat-form-field floatLabel="never" class="datepicker-input" readonly>
    <input placeholder="Enter Request Date" matInput [matDatepicker]="picker3"
        (click)="picker3.open()" readonly formControlName='request_date' readonly>
    <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-icon">
        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
            <img src="../../../assets/images/calendar.svg" />
        </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>
  <div
      *ngIf="(enterpriseValuationForm.get('request_date')?.touched || submitted) && enterpriseValuationForm?.get('request_date')?.hasError('required')">
      <span class="validation-err">Please select Request Date</span>
  </div>
</div>
                        </div>
                        <div class="row ng-scope">
                            <div class="col-md-12 save-btn text-right">
                                
                              
                                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
                                    <button mat-button class="default-btn" *ngIf="!this.editId" [disabled]="isDisabled()" [ngStyle]="{'cursor': !this.isDisabled() ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
                                    <button mat-button class="default-btn" *ngIf="this.editId" [disabled]="isDisabled()" [ngStyle]="{'cursor': !this.isDisabled() ? 'pointer' : 'not-allowed'}" (click)="saveData()">Update</button>
                               
                            </div>
                        </div>
                    </form>
                </div>
              </mat-tab>
              <mat-tab label="Agency Information" *ngIf="this.editId">
                <div class="add-certificate-section">
                <form [formGroup]="agencyInfoForm">
                  <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">Report No.</label>
                      <mat-form-field floatLabel="never">
                        <input matInput id="report_no" formControlName="report_number" placeholder="Enter Report No." readonly>
                      </mat-form-field>
                      <div
                          *ngIf="(agencyInfoForm.get('report_number')?.touched || submitted) && agencyInfoForm?.get('report_number')?.hasError('required')">
                          <span class="validation-err">Please enter the Report No.</span>
                      </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Report Date<span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <input placeholder="Enter report Date" matInput [matDatepicker]="picker5"
                          (click)="picker5.open()" readonly formControlName='report_created_at'>
                      <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
                          <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                              <img src="../../../assets/images/calendar.svg" />
                          </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                  </mat-form-field>
                    <div
                        *ngIf="(agencyInfoForm.get('report_created_at')?.touched || submitted) && agencyInfoForm?.get('report_created_at')?.hasError('required')">
                        <span class="validation-err">Please enter Report Date</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="" class="f-12 d-block">HMR</label>
                  <mat-form-field floatLabel="never">
                    <input matInput id="report_no" formControlName="hour_meter_reading" placeholder="Enter HMR">
                  </mat-form-field>
                  <div
                      *ngIf="(agencyInfoForm.get('hour_meter_reading')?.touched || submitted) && agencyInfoForm?.get('hour_meter_reading')?.hasError('required')">
                      <span class="validation-err">Please enter HMR.</span>
                  </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">KMR</label>
                <mat-form-field floatLabel="never">
                  <input matInput id="report_no" formControlName="hmr_kmr" placeholder="Enter KMR">
                </mat-form-field>
                <div
                    *ngIf="(agencyInfoForm.get('hmr_kmr')?.touched || submitted) && agencyInfoForm?.get('hmr_kmr')?.hasError('required')">
                    <span class="validation-err">Please enter KMR.</span>
                </div>
                <div
                    *ngIf="agencyInfoForm?.get('hmr_kmr')?.touched && agencyInfoForm?.get('hmr_kmr')?.hasError('pattern')">
                    <span class="validation-err">HMR/KMR is invalid</span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="" class="f-12 d-block">Assessed Value</label>
              <mat-form-field floatLabel="never">
                <input matInput id="report_no" formControlName="valuation_amount" placeholder="Enter Assessed Value">
              </mat-form-field>
              <div
                  *ngIf="(agencyInfoForm.get('valuation_amount')?.touched || submitted) && agencyInfoForm?.get('valuation_amount')?.hasError('required')">
                  <span class="validation-err">Please enter Assessed Value.</span>
              </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="" class="f-12 d-block">Inspection By</label>
            <mat-form-field floatLabel="never">
              <input matInput id="report_no" formControlName="inspection_by" placeholder="Enter Inspection By">
            </mat-form-field>
            <div
                *ngIf="(agencyInfoForm.get('inspection_by')?.touched || submitted) && agencyInfoForm?.get('inspection_by')?.hasError('required')">
                <span class="validation-err">Please enter Inspection By.</span>
            </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="f-12 d-block">Physical Condition<span class="text-warning">*</span></label>
          <mat-select placeholder="Select Physical Condition" required formControlName="asset_condition">
              <mat-option [value]="EX">
                  Excellent
              </mat-option>
              <mat-option [value]="VGD">
                 Very Good
              </mat-option>
              <mat-option [value]="GD">
                Good
             </mat-option>
             <mat-option [value]="AVG">
              Average
           </mat-option>
           <mat-option [value]="SCR">
            Scrap
         </mat-option>
         <mat-option [value]="POOR">
          Poor
       </mat-option>
          </mat-select>
          <div
              *ngIf="(agencyInfoForm.get('asset_condition')?.touched || submitted) && agencyInfoForm?.get('asset_condition')?.hasError('required')">
              <span class="validation-err">Please select Physical Condition</span>
          </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="" class="f-12 d-block">GPS Installed<span class="text-warning">*</span></label>
        <mat-radio-group aria-label="Select an option" formControlName="gps_installed">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
        <div
            *ngIf="(enterpriseValuationForm.get('gps_installed')?.touched || submitted) && enterpriseValuationForm?.get('gps_installed')?.hasError('required')">
            <span class="validation-err">Please enter GPS Installed.</span>
        </div>
    </div>
      <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('gps_installed')?.value == '1'">
        <label for="" class="f-12 d-block">GPS Device No</label>
        <mat-form-field floatLabel="never">
          <input matInput id="gps_device_number" formControlName="gps_device_number" placeholder="Enter GPS Device Number">
        </mat-form-field>
        <div
            *ngIf="(agencyInfoForm.get('gps_device_number')?.touched || submitted) && agencyInfoForm?.get('gps_device_number')?.hasError('required')">
            <span class="validation-err">Please enter GPS Device No.</span>
        </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="" class="f-12 d-block">IMEI No</label>
      <mat-form-field floatLabel="never">
        <input matInput id="imei_number" formControlName="imei_number" placeholder="Enter IMEI Number">
      </mat-form-field>
      <div
          *ngIf="(agencyInfoForm.get('imei_number')?.touched || submitted) && agencyInfoForm?.get('imei_number')?.hasError('required')">
          <span class="validation-err">Please enter IMEI No</span>
      </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">Distance to be Travelled</label>
    <mat-form-field floatLabel="never">
      <input matInput id="distance_to_be_travelled" formControlName="distance_to_be_travelled" placeholder="Enter Distance to be Travelled">
    </mat-form-field>
    <div
        *ngIf="(agencyInfoForm.get('distance_to_be_travelled')?.touched || submitted) && agencyInfoForm?.get('distance_to_be_travelled')?.hasError('required')">
        <span class="validation-err">Please enter Distance to be Travelled.</span>
    </div>
</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                          <label class="f-12 d-block" for="">Overall general Condition </label>
                          <mat-form-field floatLabel="never">
                              <textarea matInput placeholder="Overall general Condition" type="text" formControlName="overall_general_condition"  maxlength="2500" rows="4" cols="50"> </textarea>
                            </mat-form-field>
                          <div
                          *ngIf="agencyInfoForm?.get('description')?.touched && agencyInfoForm?.get('description')?.hasError('required')">
                          <span class="validation-err">Please enter Overall general Condition</span>
                      </div>
                      </div>
                  </div>
                  
                </form>
                <form [formGroup]="viewingOptionsForm">
                  <section class="sell-visuals">
                    <h3 class="f-20 f-500 mb-2">Visuals</h3>
                    <div class="poi-tabs-wrapper">
                      <mat-tab-group animationDuration="0ms">
                        <mat-tab formArrayName="imageData" *ngFor="let visual of tabsList; let i = index;"
                          label="{{visual.category_name}}">
                          <ng-container formGroupName={{i}}>
                            <div class="p-1">
                              <div class="instructions-bx">
                                <p class="f-16 mb-2">Instructions </p>
                                <ul>
                                  <li>1- Click Picture in landscape mode</li>
                                  <li>2- Upload minimum 3 pictures</li>
                                  <li>3- Take front, back and side pictures </li>
                                  <li>4- Avoid bright-light background</li>
                                  <li>5- Photo size should not exceed 5 MB</li>
                                </ul>
                              </div>
                              <div class="row mt-3">
                                <div class="col-md-4">
                                  <label for="" class="f-12">Upload {{visual.category_name}} photo</label>
                                  <div class="custom-file dragDrop">
                                    <input type="file" id="app_file" class="custom-file-input" #imageInput formControlName="imageUrl"
                                      accept="image/*" multiple (change)="handleUpload($event.target.files,visual.id);">
                                    <label class="custom-file-label" for="front">
                                      <span class="upload-icon"></span>
                                      <span class="cust-upload-txt">
                                        <span class="blue-txt">Choose a file or Drag & Drop</span>
                                      </span>
                                    </label>
                                    <ngx-file-drop dropZoneLabel="Drag Images here" multiple="true"
                                      (onFileDrop)="dropped($event,visual.id)">
                                    </ngx-file-drop>
                                  </div>
                                </div>
                                <div class="col-md-5" *ngIf="imageFormGroup.controls[i].value.images.length > 0">
                                  <label for="" class="f-12">Uploaded Photo</label>
                                  <div formArrayName="images">
                                    <span *ngFor="let image of imageFormGroup.controls[i].value.images; let j=index"
                                      class="p-relative d-inline-block uploaded-img-bx mr-2">
                                      <ng-container [formGroupName]="j">
                                        <span *ngIf="image.image_category == visual.id">
                                          <img src={{image?.url}} alt="" class="imgHeight">
                                          <span class="primary-checkbox" *ngIf="!image?.is_primary">
                                            <mat-checkbox formControlName="is_primary" (change)="setPrimary($event, image)"></mat-checkbox>
                                          </span>
                                          <span *ngIf="image.is_primary == true" class="primary-tag">PRIMARY</span>
                                          <span *ngIf="!image?.is_primary" class="material-icons deleteIcon" (click)="delete(image,i,j)">delete</span>
                                          <!-- <span class="material-icons cropIcon" (click)="cropImage(image,visual.id, i,j)"> crop</span> -->
                                        </span>
                                      </ng-container>
                                    </span>
                                  </div>
                                  <!-- <button class="default-btn-outline mt-1" mat-button>Mark as Primary</button> -->
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                    <div class="row mt-3">
                      <div class="col-12">
                        <h3 class="f-20 f-500">You can upload the video of asset</h3>
                        <!-- enter the Video URL or -->
                      </div>
                    </div>
                    <div class="row mt-3" formArrayName="videosData" *ngFor="let video of videosFormGroup.controls; let i=index">
                      <ng-container [formGroupName]="i">
                        <!-- <div class="col-md-4">
                          <label class="form-label f-12 f-384B63" for="">Video Link of Asset</label>
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="videoLink">
                          </mat-form-field>
                        </div> -->
                        <!--  [readonly]="video.get('url').value"
                         [readonly]="video.get('videoLink').value" -->
                        <div class="col-md-4 mini-custom-file">
                          <label for="" class="f-12 d-block">{{!video.get('url').value ? 'Upload video' : 'Uploaded Video'}}</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" formControlName="videoFile" (change)="handleVideoUpload($event, i);" #videoInput *ngIf="!video.get('url').value">
                            <label class="custom-file-label custom-file-label2" for="front">
                              <span class="cust-upload-txt cust-upload-txt2">{{video.get('url').value ? getVideoName(video.get('url').value) : 'Choose a file'}}</span>
                              <span class="upload-icon2"></span>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button *ngIf="video.get('url').value" class="default-btn-outline mt-4 mr-2" (click)="delete(video.value,i)" mat-button>Remove</button>
                          <button *ngIf="videosFormGroup.controls.length == i + 1" class="default-btn-outline mt-4" (click)="addNewVideo()" mat-button>Add More</button>
                        </div>
                      </ng-container>
                    </div>
                    <!-- <div class="row mt-3">
                      <div class="col-6 mb-4">
                        <button mat-button class="default-btn-outline" (click)="back()">Back</button>
                      </div>
                      <div class="col-6 mb-4 text-right">
                        <button mat-button class="default-btn mr-2" type="button" (click)="preview()">Asset Preview</button>
                        <button mat-button class="default-btn" type="submit" (click)="saveData()">Finish</button>
                      </div>
                    </div> -->
                  </section>
                </form>
                <div class="row ng-scope">
                  <div class="col-md-12">
                      <div class="save-btn">
                          <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
                          <button mat-button class="default-btn" *ngIf="this.editId" [disabled]="!agencyInfoForm.valid" [ngStyle]="{'cursor': agencyInfoForm.valid ? 'pointer' : 'not-allowed'}" (click)="editData()">Update</button>
                      </div>
                  </div>
              </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </ng-container>
      <div class="user-management-top-section">
      <div class="row my-3">
        <div class=" col-sm-6 col-lg-3 col-md-6 mb-3 mb-md-0 md-lg-0">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off"/>
          </mat-form-field>
        </div>
        <div class=" col-lg-3 col-md-6 mb-3">
            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
      <mat-form-field floatLabel="never" class="datepicker-input">
        <input placeholder="Enter From Date" matInput [matDatepicker]="picker5"
            (click)="picker5.open()" readonly [(ngModel)]="fromDate" [max]="getDate()" (dateInput)="this.activePage = 1;getPage()">
        <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                <img src="../../../assets/images/calendar.svg" />
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
    </mat-form-field>
        </div>
        <div class=" col-lg-3 col-md-6 mb-3 ">
            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
      <mat-form-field floatLabel="never" class="datepicker-input">
        <input placeholder="Enter To Date" matInput [matDatepicker]="picker6"
            (click)="picker6.open()" readonly [(ngModel)]="toDate" [min]="fromDate" [max]="todayDate" (dateInput)="this.activePage = 1;getPage()">
        <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                <img src="../../../assets/images/calendar.svg" />
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker6></mat-datepicker>
    </mat-form-field>
        </div>
        <div class=" col-sm-6 col-lg-3 col-md-6">
          <mat-form-field floatLabel="never">
            <mat-select class="form-control" placeholder="Filter Status" (selectionChange)="statusFilter($event?.value)">
              <mat-option>Filter Status</mat-option>
              <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                {{status?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
      </div>
    </div>


    <div class="desktop-table">
  
    <mat-card class="asset-table">
      <div class="table-responsive inner-table mb-3">
        <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc"
          matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
          <ng-container matColumnDef="unique_control_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UCN</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">UCN</span>
                {{row?.unique_control_number}} </td>
          </ng-container>
          <ng-container matColumnDef="request_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Request Type</span>
                {{row?.request_type}} </td>
          </ng-container>
          <ng-container matColumnDef="purpose">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Purpose</span>
                {{row?.purpose}} </td>
          </ng-container>
          <ng-container matColumnDef="reference_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference Number</th>
            <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Reference Number</span>
                {{row?.reference_number}} </td>
          </ng-container>
          <ng-container matColumnDef="enterprise__company_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise</th>
            <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Enterprise</span>
                {{row?.enterprise}} </td>
          </ng-container>
          <ng-container matColumnDef="customer_seeking_finance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Seeking Finance</th>
            <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Customer Seeking Finance</span>
                {{row?.customer_seeking_finance}} </td>
          </ng-container>
          <ng-container matColumnDef="job_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Id</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Job Id</span>
                {{row?.job_id}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__product_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
            <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Asset Name</span>
                {{row?.asset_name}} </td>
          </ng-container>
          <ng-container matColumnDef="request_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Request Date</span>
                {{row?.request_date| date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Status</span>
                {{row.status_display_name}} </td>
          </ng-container>
          <ng-container matColumnDef="report_generated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Generated</th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Report Generated</span>
                <span *ngIf="row.status >7 && row.status!=13">Yes</span><span *ngIf="row.status <7 || row.status==13">No</span></td>
          </ng-container>
          <ng-container matColumnDef="report_created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Generated Date </th>
            <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Report Generated Date</span>
                {{row.report_created_at| date:'dd-MM-yyyy'}} </td>
          </ng-container>
                    
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Actions</span>
                <button type="button" class="simple-btn table-row-btn" *ngIf="row.status >7 && row.status!=13"  (click)="edit(row)"><span><img src="../../../assets/images/editicon.svg" alt="Modify" title="Modify"></span></button>
                <button  mat-button *ngIf = "row.status == 5"  class="simple-btn payment-icon table-row-btn" (click) = 'resumeJob( row?.unique_control_number)'>
                  <span><i class="fa fa-pause" aria-hidden="true" alt ="On Hold" title="On Hold"></i></span>	
                </button>
                <button mat-button class="simple-btn decline table-row-btn" (click) = 'cancel( row?.unique_control_number)'>
                  <span><img src="../../../assets/images/decline.svg" alt="Decline" title="Cancel" /></span>	
                </button>
                <button class="simple-btn exclainmation-icon  table-row-btn" mat-button (click) = "moreInfoDialog(row.unique_control_number)" >
                  <span>
                    <i class="fa fa-info information-icon"></i>
                  </span>
                </button>
                <button  mat-button *ngIf = "row?.invoice_url != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.invoice_url)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download"  title="Download Invoice"></i></span>	
                </button>
                <button  mat-button *ngIf = "row?.valuation_report != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.valuation_report)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download"  title="Download Valuation Report"></i></span>	
                </button>
                <button  mat-button *ngIf = "row?.inspection_report != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.inspection_report)'>
                  <span><i class="fa fa-download" aria-hidden="true" alt ="Download"  title="Download Inspection Report"></i></span>	
              </button>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
      </div>
  
      <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
        (page)="onPageChange($event)"></mat-paginator>
    </mat-card>
    </div>


    
   </div>
  </div>