/* new css added start here */

.header-btn button {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background-color: #0d4fa3;
  }
  .exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 5px 20px;
  }
  .asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
  }
  .asset-table table {
    max-width: 100%;
    overflow: auto;
    width: 100%;
  }

  .enterprise-btn .default-btn {height: 34px; line-height: 34px;}

  .asset-table table th,
  .asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
  }
  .asset-table table td:first-child {
    border-top: 0px;
  }
  .asset-table table td.mat-column-is_active {
    color: #00a767;
  }
  .asset-table table td button.table-row-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    border: 0px;
    line-height: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
  }
  .theme-btn{
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 3px 17px;
    line-height: 20px;
    height: 34px;
  }
  .asset-table table td button.table-row-btn span {
    font-size: 18px;
  }
  .asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
  }
  .asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
  }
  .asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
  }
  .asset-table table .mat-header-row th {
    background-color: #0d4fa3;
    color: #fff;
  }
  .main-heading {
    font-size: 32px;
    font-weight: 700;
  }
 
  .mat-card {
    padding: 0px;
  }
  .default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
  }
  .default-tbl mat-row,
  .default-tbl .mat-header-row {
    border-color: #e0e4e8;
  }
  .default-tbl mat-cell,
  .default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    white-space: nowrap;
    height: 42px;
    padding: 15px 21px;
  }
  .default-tbl mat-cell:first-of-type,
  .default-tbl mat-header-cell:first-of-type,
  .default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
  }
  .default-tbl mat-header-cell,
  .default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
  }
  .default-tbl mat-row:hover {
    background-color: #f8fbfd;
  }
  .asset-table table tr:hover {
    background-color: #f8fbfd;
  }
  .e-grid .e-rowcell,
  .e-grid .e-groupcaption,
  .e-grid .e-indentcell,
  .e-grid .e-recordplusexpand,
  .e-grid .e-recordpluscollapse,
  .e-grid .e-detailrowcollapse,
  .e-grid .e-detailrowexpand,
  .e-grid .e-detailindentcell,
  .e-grid .e-detailcell {
    border-color: #e0e4e8;
  }
  
  .table-pagination ul {
    vertical-align: middle;
    float: right;
  }
  .table-pagination ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .table-pagination ul li a {
    background: #e0e4e8;
    margin-left: 8px;
    border: 0px solid #e9eef2;
    text-align: center;
    padding: 0px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 8px;
    color: #000000;
  }
  .table-pagination ul li.active a {
    background-color: #0d4fa3;
    color: #fff;
  }
  .table-pagination ul li.previous-item.disabled a,
  .table-pagination ul li.next-item.disabled a {
    background: #e0e4e8;
    border: 0px;
    cursor: not-allowed;
  }
  .table-pagination ul li.disabled:hover {
    cursor: not-allowed;
  }
  .table-pagination .table-recond {
    float: left;
    vertical-align: middle;
  }
  .table-pagination ul li.previous-item a,
  .table-pagination ul li.next-item a {
    background-color: #fff;
    border: 1px solid #0d4fa3;
  }
  .table-pagination ul li a span.material-icons {
    font-size: 28px;
    line-height: 46px;
    color: #0d4fa3;
  }
  .table-pagination ul li.previous-item.disabled a span.material-icons,
  .table-pagination ul li.next-item.disabled a span.material-icons {
    color: #989898;
  }
  .no-record {
    padding: 10px;
  }
  .header-btn .default-btn {height: 35px; line-height: 26px;}
  .lisFile {width: 99%; top: 1px; left: 1px; height: 38px;}
  .lisFile ul li a.delet-icon {margin-top: -2px; float: right; margin-right: 6px;}
  .lisFile ul li a.file-upload {width: 82%; padding-top: 7px; }
.user-management .mat-tab-body-content {border: 1px solid #f3f3f3;
  border-radius: 6px; margin-bottom: 15px;}
.user-management h4.title {    font-size: 14px;
  color: #fff;
  background-color: #0f3d94;
  padding: 10px 10px;
  border-radius: 6px 6px 0px 0px;margin:0px;
}
.add-certificate-section {padding: 10px;border:1px solid #eee;}

.enterprise-btn button.add-btn i {font-size: 0px;}
  /* new css added end here */
  
  @media screen and (max-width: 992px) and (min-width: 768px) {
  

    .enterprise-btn .default-btn {display: inline-block; font-size: 13px;}
    .exportWrapper.text-right {display: inline-block; font-size: 13px; margin-left: 8px !important;}
    .exportWrapper button {font-size: 13px;}

  }
  
  @media screen and (max-width: 767px) {
  
    .main-heading {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
      line-height: 28px;
    }
    .save-btn button {
      padding: 5px 35px;
    }
    .used-upload-section .title {
      font-size: 20px;
    }
  }
  .sell-visuals{
    padding: 30px 15px;
    font-size: 14px;
}
.instructions-bx{
    background: #FCDD98 ;
    border-radius: 10px;
    padding: 15px;
}
.instructions-bx ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}
.instructions-bx ul li{
    display: inline-block;
    margin-right: 30px;
}
.instructions-bx ul li:last-child{
    margin-right: 0;
}
.primary-tag{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}
.uploaded-img-bx{
    border: 1px solid #C4CFD8;
    border-radius: 6px;
    overflow: hidden;
}
.primary-checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
}
.primary-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.progress1{
    width: 80%;
    position: absolute;
    top: 48%;
    left: 10%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    height: 4px;
    border-radius: 2px;
}
.progress2{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    display: block;
    height: 4px;
    border-radius: 2px;
}
.mini-custom-file .custom-file {
    height: 46px;
}
.imgHeight{
    height: 80px;
}
.custom-file-input{
    height: 100%;
}
.cropIcon {
    position: absolute;
    z-index: 9;
    color: #000;
    padding: 3px;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    background-color: #fff;
}
.custom-file-label::after{
    display: none;
}

span.deleteIcon {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.exportWrapper.text-right {
  display: inline-block;
  margin-left: 1em;
}


button.simple-btn.decline img {
    width: 22px;
    margin-top: -3px;
}
.shadow-dateInput {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  }


  @media screen and (max-width: 767px) {
    .enterprise-btn button {font-size: 0px; height: 34px;}
    .enterprise-btn button i {
      font-size: 18px !important; 
      padding-top: 4px;
      padding-right: 0px !important;
    } 
    .exportWrapper button {font-size: 0px; height: 34px; vertical-align: middle;}
    .exportWrapper button i {
      font-size: 18px; 
      padding-top: 4px;
      padding-right: 0px !important;
    }
    .admin-page-header .admin-page-title {font-size: 15px; margin-bottom: 10px;}
    .enterprise-btn, .enterprise-btn{vertical-align: middle;}
  }