<div class="popup">
  <div class="popup-hdr">
    {{ isEdit ? "Edit Markup Price" : "Add Markup Price" }}
  </div>
  <div class="popup-body" [formGroup]="form">
    <div class="otp-wrapper">
      <div class="sign-in-pwd-wrapper">
        <div class="row mx-0" style="justify-content: flex-end">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Select Type</label>
            <mat-form-field floatLabel="never">
              <mat-select formControlName="Type" (selectionChange)="onTypeChange($event)">
                <mat-option value="" selected> Select Type </mat-option>
                <mat-option value="1"> Enterprise </mat-option>
                <mat-option value="2"> Seller </mat-option>
                <mat-option value="3"> Default </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">User</label>
            <mat-form-field floatLabel="never">
              <input required matInput type="text" placeholder="" formControlName="User" />
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Mobile no.</label>
            <mat-form-field floatLabel="never">
              <input required matInput type="text" placeholder="" formControlName="MobileNo" />
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Price in %</label>
            <mat-form-field floatLabel="never">
              <input required matInput type="text" placeholder="" formControlName="PricePercent" />
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2"></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2"></div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="default-btn plr-md-40" (click)="okClick()" mat-button>
        Save
      </button>
    </div>
  </div>
</div>