<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/customer/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Insta Valuation</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-sm-6 col-md-5 col-6">
                <h3 class="admin-page-title">Insta Valuation Request</h3>
            </div>
            <div class="admin-page-buttons col-md-6 col-sm-6 col-6">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export('')"><i aria-hidden="true" class="fa fa-file-excel-o pr-2  fa-lg"></i>Export</button>
                    <button type="button" class="btn btn-lg theme-btn mat-button mr-0" (click)="export('all')"><i aria-hidden="true" class="fa fa-file-excel-o pr-2  fa-lg"></i>Export All</button>
                </div>
            </div>
        </div>
        <div class="user-management-top-section">
            <div class="row mt-3">
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Search" (keydown.enter)="searchInList()" [(ngModel)]="searchText" (keyup)="searchInList()" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                            <mat-option>Select Status</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                {{status?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>

        <div class="desktop-table">
            <mat-card class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                        <ng-container matColumnDef="unique_control_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> UCN</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    UCN
                                </div>
                                {{row?.unique_control_number}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__category__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Category</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Asset Category
                                </div>
                                <span *ngIf="row?.valuation_asset?.category.display_name != 'Other'">{{row?.valuation_asset?.category.display_name}}</span>
                                <span *ngIf="row?.valuation_asset?.category.display_name == 'Other'">{{row?.valuation_asset?.other_category}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__brand__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Make</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Make
                                </div>
                                <span *ngIf="row?.valuation_asset?.brand.display_name != 'Other'">{{row?.valuation_asset?.brand.display_name}}</span>
                                <span *ngIf="row?.valuation_asset?.brand.display_name == 'Other'">{{row?.valuation_asset?.other_brand}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__model__name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Model
                                </div>
                                <span *ngIf="row?.valuation_asset?.model.name != 'Other'">{{row?.valuation_asset?.model.name}}</span>
                                <span *ngIf="row?.valuation_asset?.model.name == 'Other'">{{row?.valuation_asset?.other_model}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__mfg_year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturing Year</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Manufacturing Year
                                </div>
                                {{row?.valuation_asset?.mfg_year}} </td>
                        </ng-container>
                        <ng-container matColumnDef="oi_avail">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Availability</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Invoice Availability
                                </div>
                                {{row?.valuation_asset?.is_invoice_available ? "Yes":"No"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__is_equipment_registered">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Status</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Registration Status
                                </div>
                                {{row?.valuation_asset?.is_equipment_registered ? "Registered":"Not Registered"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__rc_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration number</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Registration Number
                                </div>
                                {{row?.valuation_asset?.rc_number}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="hmr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HMR</th>
            <td mat-cell *matCellDef="let row"> {{row?.valuation_asset?.hour_meter_reading}} </td>
          </ng-container> -->
                        <ng-container matColumnDef="hmr_kmr">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> HMR/KMR</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    HMR/KMR
                                </div>
                                {{row?.valuation_asset?.hmr_kmr}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__is_equipment_accidentally_damaged">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Equipment Accidentally Damaged?</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Is Equipment Accidentally Damaged?
                                </div>

                                {{row?.valuation_asset?.is_equipment_accidentally_damaged ? "Yes":"No"}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valuation_asset__asset_condition">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Condition</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Asset Condition
                                </div>
                                {{getAssetCondition(row?.valuation_asset?.asset_condition)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mobile-label">
                                    Status
                                </div>
                                {{getRowstatus(row.status)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">

                                <div class="mobile-label">
                                    Actions
                                </div>

                                <button class="simple-btn mr-2 edit-icon" mat-button *ngIf="row.status == '1'" (click)="edit(row)">
                    <span><img src="../../../assets/images/editicon.svg"></span>
                  </button>
                                <button class="simple-btn mr-2 view-icon" mat-button *ngIf="row.status == '2'" (click)="makePayment(row)">
                      <span><img src="../../../assets/images/make-payment.png"></span>
                    </button>
                                <button class="simple-btn mr-2 view-icon" mat-button *ngIf="row.status >= '5'" (click)="openviewpopup(row)">
                <span><img src="../../../assets/images/view-report.svg"></span>
              </button>
                                <button mat-button *ngIf="row?.invoice_url != null" class="simple-btn payment-icon table-row-btn" (click)='downloadInvoice(row?.invoice_url)'>
                  <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download"></i></span>	
              </button>
                                <!-- <button type="button" class="btn btn-lg theme-btn mat-button" *ngIf="row.status == '5'" (click)="openviewpopup(row)">View Report</button> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                            <td mat-cell *matCellDef="let row">

                                <div class="mobile-label">
                                    Created At
                                </div>


                                {{row.created_at| date:'dd-MM-yyyy, hh:mm a'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
                </div>

                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </mat-card>
        </div>



    </div>
</div>