<mat-card>
    <div class="custom-table-main product-wrapper">
      <div class="product-wrapper-box">
<main class="">

    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin-dashboard']">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Bulk Valuation Listing</li>
        </ol>
    </div>
    
    <div class="admin-page-heading">
        <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
          <h3 class="admin-page-title">Bulk Valuation Listing</h3>
        </div> 
        <div class="admin-page-buttons header-btn col-lg-6 col-md-4 col-sm-4 col-4">          
            <button mat-button class="default-btn" *ngIf="this.role==this.app.roles.admin || this.role==this.app.roles.superadmin" (click) = "multipleUpload()">
              <i class="fa fa-upload" aria-hidden="true"></i>Bulk Upload</button>           
         </div>
    </div>
   
   
        <div class=" user-management-heading new-equipment-tbl">
            <!-- <div class="row">
                <div class="col-sm-4 mb-3">
                    <input type="text" class="mat-input-element" #input placeholder="Search..." (keyup)="getbulkListDetails()">
                </div>
            </div> -->

            <div class="desktop-table">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource1"  matSort (matSortChange)="getbulkListDetails()" matSortActive="id">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Ref. Id</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Transaction Ref. Id
                                </span>
                        {{lesson.id}} </td>
                </ng-container>
                <ng-container matColumnDef="enterprise">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Enterprise
                                </span>
                        {{lesson.enterprise?.company_name}}</td>
                </ng-container>
                
                <ng-container matColumnDef="total_assets">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Assets</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Total Assets
                                </span>
                        {{lesson.total_assets}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Status
                                </span>
                        {{lesson.status}} </td>
                </ng-container>
                <ng-container matColumnDef="is_discarded">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Is discarded?</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Is discarded?
                                </span>
                        {{lesson?.is_discarded?"Yes":"No"}} </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
                    <td mat-cell *matCellDef="let lesson">
                            <span class="mobile-label">
                                    Created On
                                </span>
                        {{lesson.created_at | date : 'dd-MM-yyyy hh:mm:ss'}} </td>
                </ng-container>
                
              
                
                <!-- <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell class="Status-cell" *matCellDef="let lesson">{{this.LeadStatus[lesson.status]}}</mat-cell>
                </ng-container> -->


                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell class="Action-cell" *matCellDef="let lesson">
                        <span class="mobile-label">
                            Actions
                        </span>
                        <button *ngIf="!(this.role==this.app.roles.admin || this.role==this.app.roles.superadmin)" class="table-row-btn new-icon" mat-button (click)="actionPopup(lesson,'edit')">
                            <span><img src="../../../assets/images/visibility.svg"></span>
                        </button>
                        <!-- <a href="javascript:void(0)" (click)="actionPopup(lesson,'view')">
                            <span><img src="../../../assets/images/visibility.svg"></span>
                        </a> -->
                        <!-- <button class="table-row-btn" mat-button (click)="actionPopup(lesson,'edit')">
                            <span><img src="../../../assets/images/editicon.svg"></span>
                        </button> -->
                        <button *ngIf="this.role==this.app.roles.admin || this.role==this.app.roles.superadmin" class="table-row-btn" mat-button (click)="actionPopup(lesson,'edit')">
                            <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                        </button>
                        <!-- <a (click)="actionPopup(lesson,'edit')">
                            <span><img src="../../../assets/images/editicon.svg"></span>
                        </a> -->
                        <button *ngIf="this.role==this.app.roles.admin || this.role==this.app.roles.superadmin" class="table-row-btn delet-icon" mat-button (click)="actionPopup(lesson,'delete')">
                            <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
                        </button>
                            <!-- <a (click)="actionPopup(lesson,'delete')">
                                <span><img src="../../../assets/images/Delete_icon.svg"></span>
                            </a> -->
                            <!-- <button class="table-row-btn new-icon" mat-button (click)="approve(lesson)">
                                <span><img src="../../../assets/images/approve.svg"></span>
                            </button> -->
                            <!-- <a *ngIf="lesson.status == 1" (click)="approve(lesson)">
                                <span><img src="../../../assets/images/approve.svg"></span>
                            </a> -->
                            <!-- <button class="table-row-btn new-icon" mat-button  *ngIf="lesson.status == 1" (click)="reject(lesson)">
                                <span><img src="../../../assets/images/decline.svg"></span>
                            </button> -->
                            <!-- <a *ngIf="lesson.status == 1" (click)="reject(lesson)">
                                <span><img src="../../../assets/images/decline.svg"></span>
                            </a> -->
                        <!-- <mat-icon class="mr-1 cursor-pointer" (click)="actionPopup(3,lesson.id,lesson)">check</mat-icon>
                        <mat-icon class="cursor-pointer" (click)="actionPopup(4,lesson.id,lesson)">delete_forever</mat-icon> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- </mat-table> -->
                    </table>
            <div *ngIf="res?.results?.length==0">No records found</div>
            </div>
            </div>
            
            <mat-paginator [length]="res?.count" (page)="getbulkListDetails()" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
        </div>

        
        
        </div> 
</main>
</div>
</div>
<div class="clearfix"></div>
</mat-card>