.datepicker-bx .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.datepicker-bx .mat-datepicker-toggle{
    position: absolute;
    top: -35px;
    right: 3px;
    }

    /* .custom-table-main {
        width: 80% !important;
        float: right;
    } */
    
    /* .custom-table-main table {
        border-radius: 0px;
        margin-top: 0px
    }
    
    .custom-table-main table th {
        background: #0d4fa3;
        color: #fff;
        font-weight: 500;
    }
    
    .custom-table-main table tr td {
        border-bottom: 1px #eff0f2 solid;
    } */
    
    /* .custom-table-main table th,
    .custom-table-main table td {
        font-size: 15px !important;
    } */
    
    .action-cell a {
        display: inline-block;
        vertical-align: middle;
        padding: 2px;
        margin: 2px;
        line-height: 20px;
        background: #ddd;
        cursor: pointer;
    }
    
    .importBtn {
        position: relative;
    }
    
    .importBtn input.custom-file-input {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
    }
    .mat-card {padding: 0px;}
 
    .main-heading {
        font-size: 32px;
        font-weight: 700;
    }
    .asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
        .asset-table table {max-width: 100%; overflow: auto;}
        .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
        .asset-table table td:first-child {border-top: 0px;}
        .asset-table table td.mat-column-is_active {color: #00a767;}
        .asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
        .asset-table table td button.table-row-btn span {font-size: 18px;}
        .asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
        .asset-table table td button.table-row-btn.new-icon img {width: 22px;}
        .asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
        .asset-table table tr:nth-child(even){background-color:#f8fbfd;}
        .asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .cust-upload-txt2 {
            white-space: nowrap;
    width: 80%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
        }
    .no-record {padding: 10px;}
    .agreement-template {
        border: 1px solid #c4cfd8;
        background: #fbfbfb;
        border-radius: 6px;
        padding: 10px;
    }
    .add-agreement-container {
        border: 1px solid #c4cfd8;
        border-radius: 6px;
    }
    .add-agreement-container h4.title {
        font-size: 16px;
        color: #fff;
        background-color: #0f3d94;
        padding: 15px 10px;
        border-radius: 6px 6px 0px 0px;
    }
    .add-agreement {padding: 10px;}

    .header-btn button i {font-size: 0px;}





      @media screen and (max-width: 767px) {
        .header-btn button {font-size: 0px; height: 34px;}
        .header-btn button i {
          font-size: 18px; 
          padding-top: 4px;
          padding-right: 0px !important;
        }
        .exportWrapper, .header-btn{vertical-align: middle;}
      }