<mat-card>
    <div class="custom-table-main product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Call Back Request List</li>
                </ol>
            </div>

            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-8 col-8">
                    <h3 class="admin-page-title">Call Back Request List</h3>
                </div>
                <div class="admin-page-buttons col-lg-6 col-md-4 col-4">
                    <div class="exportWrapper text-right">
                        <button mat-raised-button (click)="exportData()"><i class="fa fa-file-excel-o pr-2  fa-lg"
                                aria-hidden="true"></i>Export</button>
                    </div>
                </div>
            </div>

            <div class="user-management">
                <div class="user-management-top-section">


                    <div class="text-right">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-6 col-lg-4">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search" [(ngModel)]="searchText"
                                        (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive default-tbl inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table
                                    [dataSource]="callBackRequestList" matSortDirection="desc" matSortActive="id"
                                    matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                        <td mat-cell class="category-cell" *matCellDef="let data">
                                            <span class="mobile-label">Id</span> {{data?.id}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                                        <td mat-cell class="category-cell" *matCellDef="let data">
                                            <span class="mobile-label">Name</span> {{data?.first_name + ' ' +
                                            data?.last_name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="contact_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
                                        <td mat-cell class="brand-cell" *matCellDef="let data">
                                            <span class="mobile-label">Mobile</span> {{data?.contact_number}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="email_address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                        <td mat-cell class="model-cell" *matCellDef="let data">
                                            <span class="mobile-label">Email</span> {{data?.email_address}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="request_from">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Capturing Screen</th>
                                        <td mat-cell class="model-cell" *matCellDef="let data">
                                            <span class="mobile-label">Email</span> {{data?.request_from}}
                                        </td>>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
                                        <td mat-cell class="gross-weight-cell text-left" *matCellDef="let data">
                                            <span class="mobile-label">Address</span> {{data?.address}}

                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Request Date</span> {{ element?.created_at ?
                                            (element?.created_at | date : 'dd-MM-yyyy') : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="pin_code__pin_code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> PinCode</th>
                                        <td mat-cell class="operating-weight-cell" *matCellDef="let data">
                                            <span class="mobile-label">Pincode</span> {{data?.pin_code?.pin_code}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="pin_code__city__name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                                        <td mat-cell class="bucket-capacity-cell" *matCellDef="let data">
                                            <span class="mobile-label">City</span> {{data?.pin_code?.city?.name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="pin_code__city__state__name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                                        <td mat-cell class="engine-power-cell" *matCellDef="let data">
                                            <span class="mobile-label">State</span>
                                            {{data?.pin_code?.city?.state?.name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="comment">
                                        <th mat-header-cell *matHeaderCellDef>Description</th>
                                        <td mat-cell class="lifting-capacity-cell" *matCellDef="let data">
                                            <span class="mobile-label">Description</span> {{data.comment}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                                <!-- </mat-table> -->
                                <div class="no-record" *ngIf="!callBackRequestList?.data?.length">No records found</div>
                            </div>
                        </div>

                        <!-- <mat-paginator #callBackPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
                        </mat-paginator> -->

                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
</mat-card>