<mat-card>
    <div class="custom-table-main product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Subscribers</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-12">
                    <h3 class="admin-page-title">Newsletter Subscribers List</h3>
                </div>
            </div>

            <div class="user-management">
                <div class="user-management-top-section">
                    <div class="text-right">
                        <div class="row mb-3">
                            <div class="col-md-6 col-lg-4">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <!-- <input matInput placeholder="Search" (keyup)="search($event,$event.target.value)" (keydown.enter)="search($event,$event.target.value)" autocomplete="off" type="text" class=""> -->
                                    <input matInput placeholder="Search" [(ngModel)]="searchText"
                                        (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="asset-table">
                        <div class="table-responsive default-tbl inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="subscribersData"
                                matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                (matSortChange)="onSortColumn($event)">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                    <td mat-cell class="category-cell" *matCellDef="let data">
                                        <span class="mobile-label">Id</span> {{data?.id}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                    <td mat-cell class="model-cell" *matCellDef="let data">
                                        <span class="mobile-label">Email</span> {{data?.email}}
                                    </td>>
                                </ng-container>

                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
                                    <td mat-cell class="category-cell" *matCellDef="let data">
                                        <span class="mobile-label">Created Date</span> {{data?.created_at | date :
                                        'dd-MM-yyyy'}}
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                            <div class="no-record" *ngIf="!subscribersData?.data?.length">No records found</div>
                        </div>

                    </div>
                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                        [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</mat-card>