<section class="add-certificate p-3 mb-0">
    <div class="row mx-n3 mt-n3">
        <div class="col-sm-12 sub-title p-0">
            <h4 class="title">ADD REFUND INFORMATION</h4>
        </div>
    </div>

    <div class="add-certificate-section p-0">

        <!-- <div class="customer-details-container mt-2">
            <div class="row">
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Online Payment:
                        </span><span>{{refundData?.transaction?.is_online_payment ? refundData?.transaction?.amount : 0 }}</span></label>
                </div>
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Wallet Payment:
                        </span><span>0</span></label>
                </div>
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Offline Payment:
                        </span><span>{{!refundData?.transaction?.is_online_payment ? refundData?.transaction?.amount : 0 }}</span></label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Online Refund:
                        </span>
                        <span>
                            {{refundData?.transaction?.is_refunded && refundData?.transaction?.is_online_payment ? refundData?.transaction?.amount : 0 }}
                        </span>
                    </label>
                </div>
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Wallet Refund:
                        </span><span>0</span></label>
                </div>
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Offline Refund:
                        </span><span>{{refundData?.transaction?.is_refunded && !refundData?.transaction?.is_online_payment ? refundData?.transaction?.amount : 0 }}</span></label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Forfeited Amount:
                        </span><span>NA</span></label>
                </div>
                <div class="col-sm-4">
                    <label class="f-12 d-block"><span class="label-txt">Remaining Refund:
                        </span><span>NA</span></label>
                </div>

            </div>

        </div> -->
        <form [formGroup]="form">
            <div class="row">
                <div class="form-group col-md-6 col-lg-6 col-sm-6 mb-3">
                    <label class="f-12 d-block">Amount <span class="text-warning">*</span></label>
                    <input matInput type="number" formControlName="Amount" [(ngModel)]="Amount" min="0"
                        placeholder="Enter Amount" autocomplete="off">
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 form-group mb-3">
                    <label class="f-12 d-block">UTR No / Ref No. <span class="text-warning">*</span></label>
                    <input matInput type="text" formControlName="refundId" [(ngModel)]="refundId"
                        placeholder="UTR No / Ref No." autocomplete="off">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 form-group mb-3">
                    <label class="f-12 d-block">Account No. <span class="text-warning">*</span></label>
                    <input matInput type="number" formControlName="AccountNo" [(ngModel)]="AccountNo" min="0"
                        placeholder="Account No" autocomplete="off">
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 form-group mb-3">
                    <label class="f-12 d-block">Bank Name <span class="text-warning">*</span></label>
                    <input matInput type="text" formControlName="bankName" [(ngModel)]="bankName"
                        formControlName="bankName" placeholder="Bank Name" autocomplete="off">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 form-group mb-3">
                    <label class="f-12 d-block">Comments</label>
                    <textarea matInput type="text" formControlName="Comments" [(ngModel)]="Comments"
                        placeholder="Comments" autocomplete="off"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 form-group mb-0 text-right">
                    <button class="default-btn-outline mr-3 plr-md-40" (click)="close()" mat-button>Close</button>
                    <button class="default-btn plr-md-40" [disabled]="!form.valid" (click)="submitRefundForm()"
                        mat-button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>