.main-heading {
    font-size: 32px;
    font-weight: 700;
}

.product-wrapper {
    padding: 15px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
}

.mat-card {
    padding: 0px;
}

.default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
}

.asset-table .mat-row .mat-cell .mat-button.payment-btn {
    width: auto;
    border-radius: 4px;
}

.default-tbl mat-row,
.default-tbl .mat-header-row {
    border-color: #e0e4e8;
}

.default-tbl mat-cell,
.default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    height: 42px;
    padding: 15px 21px;
}

.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
}

.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
}

.default-tbl mat-row:hover {
    background-color: #f8fbfd;
}

.asset-table .table-hover tbody tr:hover {
    background-color: #f8fbfd;
}

.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
    border-color: #e0e4e8;
}

.asset-table .inner-table {
    border-radius: 10px;
    border: 1px solid #e0e4e8;
}

.no-record {
    padding: 10px;
}

.asset-table .mat-row button.simple-btn.view-icon img {
    width: 22px;
}

.category-img {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 2px;
}

.asset-table .mat-row .mat-cell .mat-button {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.excel-export-section button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 5px 20px;
}

.exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 2px 20px;
}

.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table table td.mat-column-is_active {
    color: #00a767;
}

.asset-table .mat-row button.simple-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.table-row-btn span {
    font-size: 18px;
}

.asset-table .mat-cell button.simple-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table .mat-cell button.simple-btn.view-icon img {
    width: 18px;
}

.asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
}

.asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
}

.asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
}


/* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */

.asset-table table th {
    background-color: #0D4FA3;
    color: #fff;
}

.asset-table table td button.payment-btn {
    line-height: 34px;
    height: 34px;
}

.mobile-edit-icon img {
    width: auto;
}

.mobile-wallet-icon img {
    width: 15px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /* .product-wrapper {
        padding: 20px 15px;
        width: 100%;
        margin-top: 0px !important;
        float: none;
        transition: 0.5s;
    } */
    .table-detail-card button.payment-btn {
        height: 34px;
        line-height: 34px;
    }
}

@media screen and (max-width: 767px) {
    .header-btn button {
        padding: 6px 8px !important;
    }
    .product-wrapper {
        padding: 20px 15px;
        margin-top: 0px;
        width: 100%;
        float: none;
        transition: 0.5s;
    }
    .asset-table .mat-row .mat-cell .mat-button.payment-btn {
        width: auto !important;
        border-radius: 4px;
        padding: 0px 10px;
    }

}

.upload-input .custom-file {
    position: relative;
    height: 46px;
}

.upload-input .custom-file-input {
    position: absolute;
    height: 46px;
    cursor: pointer;
}

.upload-input .custom-file-label {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 46px;
    margin-bottom: 0px;
    line-height: 46px;
}

.upload-input .custom-file .upload-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.upload-input .custom-file .cust-upload-txt {
    position: absolute;
    top: 0px;
    left: 10px;
}

.upload-input .custom-file .cust-upload-txt .blue-txt {
    text-decoration: none;
}