<div class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Auction Fulfilment</li>
      </ol>
    </div>
    <div class="admin-page-heading">
      <div class="admin-page-header col-lg-6 col-md-6">
        <h3 class="admin-page-title">Auction Fulfilment</h3>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="exportWrapper text-right">
          <button type="button" class="btn btn-lg mr-0 theme-btn mat-button" (click)="export()"><i
              class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
        </div>
      </div>
    </div>

    <div class="custom-table-main">
      <div class="user-management-top-section">
        <div class="row mt-3">
          <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="Search" [(ngModel)]="searchText" (keydown.enter)="searchInList()"
                (keyup)="searchInList()" autocomplete="off" />
            </mat-form-field>
          </div>
        </div>

        <!-- <div class="col-md-8 category-btn text-right">
          <button mat-raised-button color="primary" (click)="export()" class="theme-btn export-btn "><i
              class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
        </div> -->
      </div>

      <div class="desktop-table">
        <div class="asset-table">
          <div class="table-responsive inner-table mb-3">
            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort
              (matSortChange)="onSortColumn($event)" matSortActive="id" matSortDirection="desc">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">ID</span> {{element?.id}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__lot__auction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Id</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Auction ID</span> {{element?.lot_bid && element?.lot_bid?.lot &&
                  element?.lot_bid?.lot?.auction?.auction_engine_auction_id ?
                  element?.lot_bid?.lot?.auction?.auction_engine_auction_id : 'NA'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__lot__lot_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lot Number</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Lot Number</span> {{element?.lot_bid && element?.lot_bid.lot &&
                  element?.lot_bid.lot.lot_number ? element?.lot_bid.lot.lot_number : ''}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__lot__description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lot Description</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Lot Description</span> {{element?.lot_bid && element?.lot_bid.lot &&
                  element?.lot_bid.lot.description ? element?.lot_bid.lot.description : ''}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bid Amount </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Bid Amount</span> {{element?.lot_bid && element?.lot_bid.amount ?
                  element?.lot_bid.amount : ''}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__lot__auction__buyers_premium">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyers Premium </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Buyers Premium</span> {{element?.actual_buyers_premium ?
                  element?.actual_buyers_premium : ''}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Bid Status </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Bid Status</span> {{ element?.bid_status_display_name ?
                  element?.bid_status_display_name : 'NA'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__deal_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Deal Status </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Deal Status</span> {{element?.deal_status_display_name ?
                  element?.deal_status_display_name : 'NA' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__lot__auction__payment_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Payment Due Date </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Full Payment Due Date</span>
                  <p class="payment-due-div m-0"> {{ element.payment_due_date ? (element.payment_due_date |
                    date:'dd-MM-yyyy') : element?.lot_bid && element?.lot_bid.lot && element?.lot_bid.lot.auction &&
                    element?.lot_bid.lot.auction.payment_date ? element?.lot_bid.lot.auction.payment_date
                    : ''}}</p>
                </td>
              </ng-container>

              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Request Date</span>
                  <p class="payment-due-div m-0"> {{ element.created_at ?
                    (element.created_at | date:'dd-MM-yyyy') : '-'}}</p>
                </td>
              </ng-container>

              <ng-container matColumnDef="lot_bid__user__relationship_manager__user__first_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RM Name
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">RM Name</span>
                  <p class="payment-due-div m-0"> {{ element?.lot_bid?.user_relationship_manager_full_name ?
                    element?.lot_bid?.user_relationship_manager_full_name : '-'}}</p>
                </td>
              </ng-container>


              <ng-container matColumnDef="Asset_Id">
                <th mat-header-cell *matHeaderCellDef>Asset Id</th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Asset Id</span>
                  <span *ngIf="!element?.asset_ids?.length">
                    -
                  </span>
                  <span *ngIf="element?.asset_ids?.length == 1">
                    {{element?.asset_ids.join(", ")}}
                  </span>

                  <span>
                    <a *ngIf="element?.asset_ids?.length > 1" href="javascript:void(0);" style="color:#336daa"
                      (click)="viewAllIds(element?.asset_ids)">View all
                      asset ids </a>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Full_Payment_Details">
                <th mat-header-cell *matHeaderCellDef> Full Payment Details </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Full Payment Details</span>
                  <span *ngIf="!element?.fulfilment_payments.length && !element?.is_fully_paid">NA</span>
                  <span *ngIf="element?.fulfilment_payments.length && !element?.is_fully_paid">Partial Paid</span>
                  <span *ngIf="element?.is_fully_paid">Paid</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Invoice_in_Favour_of">
                <th mat-header-cell *matHeaderCellDef> Invoice in Favour of </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Invoice in Favour of</span>
                  <span *ngIf="element?.delivery_order_url">
                    {{setInvoicePerson(element)}}
                  </span>
                  <button *ngIf="!element?.delivery_order_url" mat-button (click)="bidAction('Invoice',element)"
                    mat-button class="default-btn-outline payment-btn">
                    Update
                  </button>

                </td>
              </ng-container>

              <ng-container matColumnDef="delivery_order_url">
                <th mat-header-cell *matHeaderCellDef> Delivery Order </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Delivery Order</span>
                  <button *ngIf="element?.delivery_order_url" class="simple-btn mr-2 view-icon" mat-button>
                    <a [href]="element?.delivery_order_url">
                      <span><i class="fa fa-download invoce-downlad" title="View Delivery Order"></i></span>
                    </a>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="invoice_url">
                <th mat-header-cell *matHeaderCellDef> Sales Invoice </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Sales Invoice</span>
                  <button *ngIf="element?.invoice_url" class="simple-btn mr-2 view-icon" mat-button>
                    <a [href]="element?.invoice_url">
                      <span><i class="fa fa-download invoce-downlad" title="View Invoice"></i></span>
                    </a>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mobile-label">Action</span>
                  <button mat-button *ngIf="element?.deal_status == 'AD'" (click)="bidAction('feedback', element)"
                    class="simple-btn view-icon">
                    <span><img src="../../../assets/images/feedback.svg" /></span>
                  </button>

                  <!-- <button *ngIf="element?.loa_url" class="simple-btn mr-2 view-icon" mat-button>
                    <a [href]="element?.loa_url">
                      <span><i class="fa fa-download invoce-downlad" title="View LOA"></i></span>
                    </a>
                  </button>  -->


                  <button *ngIf="element?.loa_url" class="simple-btn mr-2 view-icon"
                    (click)="sharedService.download(element?.loa_url)" mat-button>
                    <a>
                      <span><i class="fa fa-download invoce-downlad" title="View LOA"></i></span>
                    </a>
                  </button>

                  <button class="simple-btn view-icon mr-2" *ngIf="!element?.is_fully_paid" mat-button
                    (click)="ProceedFullPayment(element)">
                    <span><img src="../../../assets/images/wallet-black.png"
                        title="Make Payment (Online/Offliine/Wallet)"></span>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
          </div>
        </div>
        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
  </div>