<div class="custom-table-main  product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Asset Sale Charge Master</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-12">
                <h3 class="admin-page-title">Asset Sale Charge Master</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-12">
                <div class="user-search-btn">
                    <div class="excel-export-section">
                        <button mat-button (click)="exportToExcel()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i> Export</button>
                    </div>
                    <div class="add-more-btn">
                        <button class="mat-button" (click)="addMoreField()">Add new</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-form-field>
                    <input matInput matInputplaceholder="Search" #input />
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div> -->

        <div class="asset-table">
            <div class="table-responsive inner-table mb-3">
                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource1" #TableOneSort="matSort" matSortDirection="asc" matSortDisableClear matSort>
                    <!-- <mat-table
    class="lessons-table mat-elevation-z8"
    [dataSource]="dataSource1"
    matSort
    matSortDisableClear
    class="default-tbl"
  > -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Type</span> {{ element.type === 1 ? "Enterprise" : element.type === 2 ? "Seller" : "Default" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef> User </th>
                        <td mat-cell *matCellDef="let element"> <span class="mobile-label">User</span> {{ element.user }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="from_date">
                        <th mat-header-cell *matHeaderCellDef> Effective From Date </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Effective From Date</span> {{ element.from_date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="to_date">
                        <th mat-header-cell *matHeaderCellDef> Effective To Date </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Effective To Date</span> {{ element.to_date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="category_name">
                        <th mat-header-cell *matHeaderCellDef> Asset Category </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label"> Asset Category</span> {{ element.category_name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="charge_basis">
                        <th mat-header-cell *matHeaderCellDef> Charge Basis(%) </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label"> Charge Basis(%)</span> {{ element.charge_basis === "1" ? "Flat" : "percent" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label"> Amount</span> {{ element.amount }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label"> Actions</span>
                            <div>
                                <button mat-button class="simple-btn mr-2" (click)="editField(element)">
            <mat-icon>edit</mat-icon>
          </button>
                                <button mat-button class="simple-btn" (click)="deleteField(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <!-- </mat-table> -->
                </table>
                <div class="no-record" no-record *ngIf="dataList?.results?.length == 0">No records found</div>
            </div>
        </div>


        <mat-paginator [length]="dataList?.count" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>
</div>