.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.myself-details-main-wrapper form {padding: 10px;}

.category-brand {
  background: #fff;
    padding: 0px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 15px 10px 10px;
}
  
  @media screen and (max-width: 992px) and (min-width: 768px) {
  
    .product-wrapper {padding: 20px 15px; width: 100%; margin-top: 0px !important; float: none; transition: 0.5s;}
  
  
  }
  
  @media screen and (max-width: 768px) {  
    .product-wrapper {padding: 0px; margin-top: 0px !important; margin-top: 0px; width: 100%; float: none; transition: 0.5s;} 
    .category-brand .mat-card {padding: 0px;}

    .comsaveandcont-btn {display: block;}

}

@media screen and (max-width: 576px) {   
  .comback-btn {margin: 0px 10px;}
  .comsaveandcont-btn {display: block !important; margin: 0px 10px !important;}

}




.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0px!important;
  border-radius: 4px;
}

.product-wrapper {
  padding: 0px!important;
  width: calc(100% - 18em);
  margin-bottom: 50px;
  margin-left: auto;
  transition: .5s;
}
.main-content-wrapper {
  padding: 1rem 0rem 0;
}

.comsaveandcont-btn {
  display: inline-block;
  padding: 0 0rem;
  margin-left: 1em;
}



