<div class="main-div product-wrapper">
    <div class="category-brand">
  <mat-card>
    <div class="trade-tab-container">
<main class="">
    <section class="myself-details-main-wrapper communication-pref-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="progress-block">
                    <div class="progress-steps-group-block">
                        <div class="step-block  activeline"> <span class="step-no active"><span class="steps">1</span></span><span
                                class="step-lbl">Profile</span></div>
                        <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span
                                class="step-lbl">Preference</span></div>
                        <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                                class="step-lbl">Banking</span></div>
                        <div class="step-block" *ngIf="isOption"> <span class="step-no active"><span class="steps">4</span></span>
                            <span class="step-lbl">Terms & Conditions</span></div>                   

                    </div>
                </div>


            </div>

        </div>
        <div class="communication-box p-2">
        <div class="main-content-wrapper">
            <form [formGroup]="communicationForm">
            <div class="customer-details-wrapper">
                <h2 class="sub-head">Communication Preferences</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2">

                        <mat-card>
                            <table class="mat-table default-tbl">
                                <tr class="mat-header-row">
                                    <th class="mat-header-cell">Communication Type</th>
                                    <th class="mat-header-cell">Service </th>
                                    <th class="mat-header-cell">Promotion </th>
                                </tr>
                                <tr class="mat-row">
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Email" [checked]="Email_services || Email_promotion" (change)="onComPrefChange($event, 1)">Emails</mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Email_services" (change)="addComPrefName($event,'email','services')"></mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox [disabled]="communicationForm.controls.Email.value == true ? false : true" formControlName="Email_promotion" (change)="addComPrefName($event,'email','promotion')"></mat-checkbox>
                                    </td>
                                </tr>
                                <tr class="mat-row">
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Sms" [checked]="Sms_services || Sms_promotion" (change)="onComPrefChange($event, 2)">SMS</mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Sms_services" (change)="addComPrefName($event,'sms','services')"></mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox [disabled]="communicationForm.controls.Sms.value == true ? false : true" formControlName="Sms_promotion" (change)="addComPrefName($event,'sms','promotion')"></mat-checkbox>
                                    </td>
                                </tr>
                                <tr class="mat-row">
                                    <td class="mat-cell">
                                        <mat-checkbox formControlName="Whatsapp" [checked]="communicationForm.get('Whatsapp_services')?.value || communicationForm.get('Whatsapp_promotion')?.value" (change)="onComPrefChange($event, 3)">Whatsapp</mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox [disabled]="communicationForm.controls.Whatsapp.value == true ? false : true" formControlName="Whatsapp_services" (change)="addComPrefName($event,'whatsapp','services')"></mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox [disabled]="communicationForm.controls.Whatsapp.value == true ? false : true" formControlName="Whatsapp_promotion" (change)="addComPrefName($event,'whatsapp','promotion')"></mat-checkbox>
                                    </td>
                                </tr>
                                <tr class="mat-row">
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Voicecall" [checked]="this.communicationForm.get('Voicecall_services')?.value || this.communicationForm.get('Voicecall_promotion')?.value" (change)="onComPrefChange($event, 4)">Voice Call</mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox disabled="true" formControlName="Voicecall_services" (change)="addComPrefName($event,'voicecall','services')"></mat-checkbox>
                                    </td>
                                    <td class="mat-cell">
                                        <mat-checkbox [disabled]="communicationForm.controls.Voicecall.value == true ? false : true" formControlName="Voicecall_promotion" (change)="addComPrefName($event,'voicecall','services')"></mat-checkbox>
                                    </td>
                                </tr>
                            </table>


                        </mat-card>

                    </div>




                </div>

            </div>

            <div class="customer-details-wrapper address-wrapper">

                <div class="row">
                    <div class="col-12 mb-2">
                        <label for="">My Industry</label>
                        
                        <mat-form-field floatLabel="never">
                            <mat-select multiple formControlName="Industry" class="select-new-ui">
                                <mat-option *ngFor='let i of objData?.masterData.industry_data' (click)="onCheckboxChange($event,'Industry',i.industryId)"  [value]="i.industryId">{{i.displayName}}</mat-option>
                               
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            <div class="validation-err"
                                *ngIf="communicationForm.get('Industry')?.touched && communicationForm.get('Industry')?.hasError('required')">
                                Please select industry.
                            </div>
                        </mat-error>
                    </div>

                    <div class="col-12 mb-2">
                        <label for="">My Asset Class</label>
                        <mat-form-field floatLabel="never">
                            <mat-select multiple formControlName="Asset" class="select-new-ui">
                                <mat-option *ngFor='let i of objData?.masterData.asset_response.Items' (click)="onCheckboxChange($event,'Asset',i.assetClass)"  [value]="i.assetClass">{{i.assetClass}}</mat-option>
                               
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            <div class="validation-err"
                                *ngIf="communicationForm.get('Asset')?.touched && communicationForm.get('Asset')?.hasError('required')">
                                Please select asset class.
                            </div>
                        </mat-error>

                    </div>
                    <div class="col-12 mb-2">
                        <label for="">Services I am Interested In</label>
                        <mat-form-field floatLabel="never">
                            <mat-select multiple formControlName="Services" class="select-new-ui">
                                <mat-option *ngFor='let i of objData?.masterData.services_data.Items' (click)="onCheckboxChange($event,'Services',i.services)"  [value]="i.services">{{i.services}}</mat-option>

                               
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            <div class="validation-err"
                                *ngIf="communicationForm.get('Services')?.touched && communicationForm.get('Services')?.hasError('required')">
                                Please select services.
                            </div>
                        </mat-error>
                    </div>
                    <div class="col-12 mb-2" >
                        <label for="">I am acting as</label>
                        <mat-form-field floatLabel="never">
                            <mat-select formControlName="Actas" class="select-new-ui">
                                <mat-option *ngFor='let i of objData?.masterData.actAs_data.Items' (click)="onCheckboxChange($event,'Actas', i.actAs)"  [value]="i.actAs">{{i.actAs}}</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            <div class="validation-err"
                                *ngIf="communicationForm.get('Actas')?.touched && communicationForm.get('Actas')?.hasError('required')">
                                Please select role.
                            </div>
                        </mat-error>
                    </div>


                </div>
            
            </div>
        </form>
        </div>

        <div class="row">
            <div class="col-12 text-right">
                <div class="comback-btn">
                    <button mat-flat-button (click)="goBack()">Back</button>
                </div>
                <div class="comsaveandcont-btn">
                    <button mat-flat-button  (click)="onSubmit()">Save & Continue</button>
                </div>
            </div>
        </div>
        
        </div>



    </section>

</main>
</div>
</mat-card>
  </div>
</div>