.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
  }

  .popup {
    background: #fff;
    border-radius: 20px;
    width: 80vw;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }

  table {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
  } 

  table td {
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 6px;
  }

  .dialog-actions-container{
    margin-top: 16px;
  }

  .info-pop b{font-weight: 500;}
  .popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
  }

  .popup {
    background: #fff;
    border-radius: 20px;
    width: 80vw;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }

  table {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
  } 

  table td {
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 6px;
  }

  .dialog-actions-container{
    margin-top: 16px;
  }
  .sell-visuals{
    padding: 30px 15px;
    font-size: 14px;
}
.instructions-bx{
    background: #FCDD98 ;
    border-radius: 10px;
    padding: 15px;
}
.instructions-bx ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}
.instructions-bx ul li{
    display: inline-block;
    margin-right: 30px;
}
.instructions-bx ul li:last-child{
    margin-right: 0;
}
.primary-tag{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}
.uploaded-img-bx{
    border: 1px solid #C4CFD8;
    border-radius: 6px;
    overflow: hidden;
}
.primary-checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
}
.primary-progress{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.progress1{
    width: 80%;
    position: absolute;
    top: 48%;
    left: 10%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    height: 4px;
    border-radius: 2px;
}
.progress2{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    display: block;
    height: 4px;
    border-radius: 2px;
}
.mini-custom-file .custom-file {
    height: 46px;
}
.imgHeight{
    height: 80px;
}

.custom-file-label2 .cust-upload-txt2 span {    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;}