<main class="div-wraapper">
  <div class="product-wrapper-box p-0">
  <section class="myself-details-main-wrapper corporate-details-main-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                class="step-lbl">Profile</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span
                class="step-lbl">Preference</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                class="step-lbl">Banking</span></div>
            <!-- <div class="step-block"> <span class="step-no"><span class="steps">4</span></span><span
                  class="step-lbl">Terms & Conditions</span></div> -->
          </div>
        </div>
      </div>

    </div>

    <form [formGroup]='corporateProfileForm'>

      <div class="main-content-wrapper basic-details-section">
        <div class="row">

          <div class="col-md-6 col-lg-4 mb-3">
            <label for="" class="f-12 d-block">Partner type <span class="mandatory"></span></label>
            <mat-form-field floatLabel="never">
              <mat-select class="select-new-ui" formControlName="partnerType">
                <mat-option value="">Select Partner Type</mat-option>
                <mat-option [value]="1" (onSelectionChange)="selectPartnerType(1)">Dealer</mat-option>
                <mat-option [value]="2" (onSelectionChange)="selectPartnerType(2)">Manufacturer</mat-option>
                <mat-option [value]="3" (onSelectionChange)="selectPartnerType(3)">Channel partner</mat-option>
                <mat-option [value]="4" (onSelectionChange)="selectPartnerType(4)">Valuation</mat-option>
                <mat-option [value]="5" (onSelectionChange)="selectPartnerType(5)">Enterprise customer</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <label for="" class="f-12 d-block">Partner admin <span class="mandatory"></span></label>
            <mat-form-field floatLabel="never" *ngIf="!isAdminAvailable">
              <mat-select class="select-new-ui" placeholder="Select partner admin " formControlName="partnerContact" [disabled]="isAdminAvailable">
                <mat-option value="">Select Partner admin</mat-option>
                <mat-option [value]="value.user.cognito_id" (onSelectionChange)="selectAdminType(value)"
                  *ngFor="let value of partnerContactList">{{value.user.first_name}}({{value.user.mobile_number}})</mat-option>
              </mat-select>
            </mat-form-field>
            <label for="" class="f-12 d-block entity-label" *ngIf="isAdminAvailable">{{editPartnerEntity?.partner_admin?.first_name}}</label>
          </div>
        </div>
        <fieldset [disabled]="isEditable">
          <div class="main-form-details-container m-0">
            <div class="row">
              <div class="col-12 col-sm-12">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset [disabled]="isEditable && isEntityEdittable">
          <div class="main-form-details-container">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="type-block">
                  <h4 class="title">Entity Type <span class="mandatory"></span></h4>
                  <div class="type-block-box">
                    <mat-radio-group aria-label="Select an option"  [(ngModel)]="entityType" formControlName="EntityType">
                      <!-- <mat-radio-button value="9" [checked]="corporateProfileForm?.get('EntityType')?.value == 9"
                        (change)="onEntityTypeChange('Individual',9)">
                        Individual
                      </mat-radio-button> -->
                      <mat-radio-button value="1" [checked]="corporateProfileForm?.get('EntityType')?.value == 1"
                        (change)="onEntityTypeChange('Proprietorship',1)">
                        Proprietorship
                      </mat-radio-button>
                      <mat-radio-button value="2" [checked]="corporateProfileForm?.get('EntityType')?.value == 2"
                        (change)="onEntityTypeChange('Partnership',2)">Partnership
                      </mat-radio-button>
                      <mat-radio-button value="3" [checked]="corporateProfileForm?.get('EntityType')?.value == 3"
                        (change)="onEntityTypeChange('HUF',3)">HUF </mat-radio-button>
                      <mat-radio-button value="4" [checked]="corporateProfileForm?.get('EntityType')?.value == 4"
                        (change)="onEntityTypeChange('LLP',4)">LLP</mat-radio-button>
                      <mat-radio-button value="5" [checked]="corporateProfileForm?.get('EntityType')?.value == 5"
                        (change)="onEntityTypeChange('Private Ltd.Co.',5)">Private
                        Ltd.Co.</mat-radio-button>
                      <mat-radio-button value="6" [checked]="corporateProfileForm?.get('EntityType')?.value == 6"
                        (change)="onEntityTypeChange('Public Ltd.Co.',6)">Public
                        Ltd.Co.
                      </mat-radio-button>
                      <mat-radio-button value="7" [checked]="corporateProfileForm?.get('EntityType')?.value == 7"
                        (change)="onEntityTypeChange('Trust',7)">Trust </mat-radio-button>
                      <mat-radio-button value="8" [checked]="corporateProfileForm?.get('EntityType')?.value == 8"
                        (change)="onEntityTypeChange('Society',8)">Society</mat-radio-button>
                    </mat-radio-group>
                    <!-- <div *ngIf="corporateProfileForm?.get('EntityType')?.hasError('required')">
                    <span class="validation-err">Please select entity type.</span>
                  </div> -->
                    <div
                      *ngIf="corporateProfileForm?.get('EntityType')?.touched && corporateProfileForm?.get('EntityType')?.hasError('required')">
                      <span class="validation-err">Please select entity type.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-form-details-container"
            *ngIf="corporateProfileForm?.get('EntityType')?.value">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="type-block">
                  <h4 class="title">Relationship with Entity <span class="mandatory"></span></h4>
                  <div class="type-block-box">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="relationEntityType" formControlName="RelationshipEntity">
                      <mat-radio-button value="1" *ngIf="corporateProfileForm?.get('EntityType')?.value=='1'"
                        [checked]="relationEntityType == 1"
                        (click)="onRelationshipEntityChange('Proprietor',1)">Proprietor
                      </mat-radio-button>
                      <mat-radio-button value="2"
                        *ngIf="corporateProfileForm?.get('EntityType')?.value=='2' || corporateProfileForm?.get('EntityType')?.value=='4'"
                        [checked]="relationEntityType == 2"
                        (click)="onRelationshipEntityChange('Partner',2)">Partner
                      </mat-radio-button>
                      <mat-radio-button value="3" *ngIf="corporateProfileForm?.get('EntityType')?.value=='3'"
                        [checked]="relationEntityType == 3"
                        (click)="onRelationshipEntityChange('Karta',3)">Karta
                      </mat-radio-button>
                      <mat-radio-button value="4"
                        *ngIf="corporateProfileForm?.get('EntityType')?.value=='5' || corporateProfileForm?.get('EntityType')?.value=='6' "
                        [checked]="relationEntityType == 4"
                        (click)="onRelationshipEntityChange('Director',4)">Director
                      </mat-radio-button>
                      <mat-radio-button value="5"
                        *ngIf="corporateProfileForm?.get('EntityType')?.value=='5' || corporateProfileForm?.get('EntityType')?.value=='1' || corporateProfileForm?.get('EntityType')?.value=='2' || corporateProfileForm?.get('EntityType')?.value=='4' || corporateProfileForm?.get('EntityType')?.value=='6' || corporateProfileForm?.get('EntityType')?.value=='7' || corporateProfileForm?.get('EntityType')?.value=='8'"
                        [checked]="relationEntityType == 5"
                        (click)="onRelationshipEntityChange('Employee',5)">Employee
                      </mat-radio-button>
                      <mat-radio-button value="6" *ngIf="corporateProfileForm?.get('EntityType')?.value=='7'"
                        [checked]="relationEntityType == 6"
                        (click)="onRelationshipEntityChange('Trustee',6)">Trustee
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div
                    *ngIf="corporateProfileForm?.get('RelationshipEntity')?.touched && corporateProfileForm?.get('RelationshipEntity')?.hasError('required')">
                    <span class="validation-err">Please select Relationship with Entity.</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>


        <fieldset>
          <div class="customer-details-wrapper">
            <h2 class="sub-head">You have a MSME Number <span class="msme-slide">
                <mat-slide-toggle [disabled]="isEditable" formControlName="enableMSME" (click)="enableMSME()"
                  [disableRipple]="true">
                </mat-slide-toggle>
              </span>
            </h2>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">MSME Number<span class="mandatory" *ngIf="corporateProfileForm?.get('enableMSME')?.value"></span></label>
                <mat-form-field floatLabel="never">
                  <input [attr.disabled]="isEditable" maxlength="10" matInput placeholder="Enter MSME Number" type="text"
                    formControlName="MSMENumber">
                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('MSMENumber')?.touched && corporateProfileForm?.get('MSMENumber')?.hasError('required')">
                  <span class="validation-err">Please enter MSME Number.</span>
                </div>
              </div>

            </div>
          </div>




        </fieldset>
        <div class="prof-of-identity">
          <h2 class="sub-head">Proof Of Identity</h2>
          <p class="txt-info"><span class="mandatory"></span>Pan card is mandatory. You need to provide an address proof
            in addition to the PAN Card. Please upload additional document to complete your profile.</p>
          <div class="poi-tabs-wrapper">
            <mat-tab-group animationDuration="0ms" [disableRipple]="true">
              <mat-tab label="PAN Card">
                <div class="row" formGroupName="pan">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">PAN Card Number<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter PAN Card Number" class="text-uppercase"
                              [disabled]="isPanEditable" type="text" minlength="10" maxlength="10" 
                              formControlName="docNumber" (keyup.enter)="checkPan()" (blur)="checkPan()">
                            <div class="h-20px">
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('required')">
                                <span class="validation-err">Please enter Correct PAN Card Number.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('wrong') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">You have entered the PAN details of Individual. So Please
                                  choose Myself above.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('partnership') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for partnership Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('llp') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for partnership LLP
                                  Entity Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('privateError') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Private Ltd.Co.
                                  Entity Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('publicError') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Public Ltd.Co. Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('trust') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Trust Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('society') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Society Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('huf') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for HUF Entity
                                  Type.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('proprietorship') && !corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please choose correct PAN details for Proprietorship Entity
                                  Type.</span>
                              </div>

                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('minlength')">
                                <span class="validation-err">Please input 10 digits number.</span>
                              </div>
                              <div
                                *ngIf="corporateProfileForm?.get('pan')?.get('docNumber')?.touched && corporateProfileForm?.get('pan')?.get('docNumber')?.hasError('maxlength')">
                                <span class="validation-err">Please input 10 digits number.</span>
                              </div>
                            </div>
                          </mat-form-field>
                          <!-- <mat-checkbox *ngIf="!hideAppliedForPan" formControlName="applied_for_pan"
                            [disabled]="isPanEditable " [checked]="corporateProfileForm?.get('applied_for_pan')?.value"
                            (change)="toggleEditable($event)">I have applied for PAN Card</mat-checkbox> -->
                        </div>

                      </div>
                    </div>
                  </div>

                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload PAN Card <span class="mandatory"></span></label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input"
                              [disabled]="(corporateProfileForm?.get('applied_for_pan')?.value || this.isPanEditable) && this.isSuperAdmin"
                              (change)="handleUpload($event,'pan','front')" id="front" placeholder="">
                            <label [class.haserror]="panFrontImageError" class="custom-file-label" for="front"><span
                                class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a
                                  file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div *ngIf="panFrontImageError" style=" margin-left: 19px;">
                            <span class="validation-err">Please upload PAN Card.</span>
                          </div>

                          <div
                            *ngIf="corporateProfileForm.get('pan')?.get('docImages')?.get('front')?.hasError('imgIssue')">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value)"
                            src="../../../assets/images/default-thumbnail.jpg"
                            *ngIf="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('pan')?.get('docImages')?.get('front')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>


                </div>

              </mat-tab>

              <mat-tab label="GSTIN">
                <div class="row" formGroupName="voter">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">GSTIN<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter GSTIN" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('voter')?.get('docNumber')?.touched && corporateProfileForm?.get('voter')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter the GSTIN.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload GSTIN (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','front')"
                              id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm.get('voter')?.get('docImages')?.get('front')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div
                            *ngIf="corporateProfileForm.get('voter')?.get('docImages')?.get('back')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('front')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value)"
                            [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('back')?.value"
                            *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value)"
                            [src]="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value"
                            *ngIf="this.corporateProfileForm?.get('voter')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Udyog Aadhar">
                <div class="row" formGroupName="uan">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Udyog Aadhar<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Udyog Aadhar" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('uan')?.get('docNumber')?.touched && corporateProfileForm?.get('uan')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter Udyog Aadhar Number.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Udyog Aadhar (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'uan','front')"
                              id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm.get('uan')?.get('docImages')?.get('front')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'uan','back')"
                              id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div
                            *ngIf="corporateProfileForm.get('uan')?.get('docImages')?.get('back')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('front')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value)"
                            [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('back')?.value"
                            *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value)"
                            [src]="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value"
                            *ngIf="this.corporateProfileForm?.get('uan')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Trade License">
                <div class="row" formGroupName="tradelicense">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Trade License<span class="mandatory"></span></label>
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Trade License" type="text" formControlName="docNumber">

                          </mat-form-field>
                        </div>
                        <div
                          *ngIf="corporateProfileForm?.get('tradelicense')?.get('docNumber')?.touched && corporateProfileForm?.get('tradelicense')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter Trade License Number.</span>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label for="">Upload Trade License (Front & Back)</label>
                      <div class="row mb-3">
                        <div class="col-12">
                          <div class="custom-file  h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'tradelicense','front')" id="front">
                            <label class="custom-file-label" for="front"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <div
                            *ngIf="corporateProfileForm.get('tradelicense')?.get('docImages')?.get('front')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                          <div class="custom-file mt-2 h-80">
                            <input type="file" class="custom-file-input"
                              (change)="handleUpload($event,'tradelicense','back')" id="back">
                            <label class="custom-file-label" for="back"><span class="upload-icon"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span></span></label>
                          </div>
                          <span class="f-12">File Size limit - 5MB</span>
                          <div
                            *ngIf="corporateProfileForm.get('tradelicense')?.get('docImages')?.get('back')?.hasError('imgIssue')"
                            style="margin-top:5px">
                            <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                          </div>
                          <div
                            *ngIf="corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.hasError('required')">
                            <span class="validation-err">Please upload document.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('frontView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value)"
                            [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value"
                            *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('front')?.value!=''"
                            height="100px">
                        </div>
                        <div>
                          <!-- <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value)"
                            [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('back')?.value"
                            *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value==''"
                            height="100px"> -->
                          <img class="cursor-pointer col-9"
                            [class.img-download]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value!=''"
                            (click)="sharedService.download(this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value)"
                            [src]="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value"
                            *ngIf="this.corporateProfileForm?.get('tradelicense')?.get('docImages')?.get('backView')?.value!=''"
                            height="100px">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </mat-tab>

            </mat-tab-group>
          </div>
        </div>
        <div class="customer-details-wrapper type-block">
          <h4 class="title">Corporate Details</h4>
          <div class="type-block-box">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2"  *ngIf="corporateProfileForm?.get('EntityType')?.value == 1">
                <label for="">First Name <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="FirstName">
                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm.get('FirstName')?.touched && corporateProfileForm.get('FirstName')?.hasError('required')">
                  <span class="validation-err">Please enter first name.</span>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2" *ngIf="corporateProfileForm?.get('EntityType')?.value == 1">
                <label for="">Last Name </label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="LastName">
                </mat-form-field>
                <div *ngIf="corporateProfileForm.get('LastName')?.touched && corporateProfileForm.get('LastName')?.hasError('required')">
                  <span class="validation-err">Please enter last name.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Company Name <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input [attr.disabled]="isEditable" matInput placeholder="Enter Company Name" type="text"
                    formControlName="CompanyName">
                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('CompanyName')?.touched && corporateProfileForm?.get('CompanyName')?.hasError('required')">
                  <span class="validation-err">Please enter Company Name.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Date of Incorporation <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never" class="datepicker-input">
                  <input [disabled]="isEditable" matInput [matDatepicker]="picker" [max]="minDate" readonly
                    (click)="picker.open()" type="text" formControlName="DateoOfIncorporation"
                    placeholder="Enter Date of Incorporation">
                  <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                      <img src="../../../assets/images/calendar.svg" alt="">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>

                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('DateoOfIncorporation')?.touched && corporateProfileForm?.get('DateoOfIncorporation')?.hasError('required')">
                  <span class="validation-err">Please enter the Date of Incorporation.</span>
                </div>
              </div>


              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Mobile Number <span class="mandatory"></span></label>
                <div class="form-row partner-mobile">
                  <div class="col-5 col-sm-4">
                    <mat-select class="ptb-5 card-select payment-card-slct" formControlName="countryCode"
                      [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)">
                      <mat-select-trigger>
                        <div class="d-block" style="line-height: 36px;">
                          <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                          <div class="prefix-number">
                            <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                          </div>
                        </div>
                      </mat-select-trigger>
                      <mat-option *ngFor="let country of countryList" [value]="country">
                        <div class="d-block">
                          <img [src]="country.flag" class="saved-card-icn" alt="">
                          <div class="prefix-number">
                            <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                          </div>
                        </div>
                      </mat-option>
                    </mat-select>
                  </div>
                  <div class="col-7 col-sm-8">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="Enter your Mobile number"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        minlength="10" maxlength="10" type="text" formControlName="Mobile">
                    </mat-form-field>
                    <div
                      *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('required')">
                      <span class="validation-err">Please enter Mobile Number.</span>
                    </div>
                    <div
                      *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('minlength')">
                      <span class="validation-err">Please input 10 digits number.</span>
                    </div>
                    <div
                      *ngIf="corporateProfileForm?.get('Mobile')?.touched && corporateProfileForm?.get('Mobile')?.hasError('maxlength')">
                      <span class="validation-err">Please input 10 digits number.</span>
                    </div>
                    <div *ngIf="corporateProfileForm?.get('Mobile')?.hasError('pattern')">
                      <span class="validation-err">Please input 10 digits number.</span>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <fieldset>
          <div class="customer-details-wrapper type-block address-wrapper">
            <h4 class="title">Tax Details</h4>
            <div formArrayName="TaxArray" class="type-block-box">
              <div class="row" *ngFor="let bank of corporateProfileForm?.get('TaxArray')?.controls; let j = index"
                [formGroupName]="j">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                  <label for="">State <span class="mandatory"></span></label>
                  <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" value='hr' formControlName="State">
                      <mat-option value="">Select state</mat-option>
                      <mat-option *ngFor="let city of stateListData" [value]="city.id">{{city.name}}</mat-option>

                    </mat-select>
                  </mat-form-field>
                  <div
                    *ngIf="corporateProfileForm?.get('TaxArray')?.controls[j]?.get('State')?.touched && corporateProfileForm?.get('TaxArray')?.controls[j]?.get('State')?.hasError('required')">
                    <span class="validation-err">Please Select State.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                  <label for="">Tax Details Registration Number <span class="mandatory"></span></label>
                  <mat-form-field floatLabel="never">
                    <input matInput maxlength="20" placeholder="Enter Tax Details Registration Number" type="text"
                      formControlName="registrationNo">
                  </mat-form-field>

                  <div
                    *ngIf="corporateProfileForm?.get('TaxArray')?.controls[j]?.get('registrationNo')?.touched && corporateProfileForm?.get('TaxArray')?.controls[j]?.get('registrationNo')?.hasError('required')">
                    <span class="validation-err">Please enter Registration number.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                  <div class="add-tax-more text-right">
                    <label class="f-12 d-block invisible">Add Feild</label>
                    <div class="d-inline-block align-middle mr-2">
                      <button mat-flat-button class="default-btn-outline " *ngIf=" j != 0"
                        (click)="removeTaxFormGroup(j)"> Remove Tax</button>
                    </div>
                  

                  </div>
                </div>


              </div>
            </div>
            <div class="row mb-12">
              <div class="col-12 col-sm-8">
      
              </div>
              <div class="col-12 col-sm-4">
                <div class="saveandcont-btn">
                  <button mat-flat-button (click)="addNewTax()"> Add Tax</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

      </div>
     
      <div class="row mb-12">
        <div class="col-12 col-sm-4">

        </div>
        <div class="col-12 col-sm-8">
          <div class="saveandcont-btn">
            <button mat-flat-button (click)="confirmSave()" [disabled]="!corporateProfileForm.valid">Save &
              Continue</button>
          </div>
        </div>
      </div>
      <!-- <div class="row mb-12" *ngIf="entityTypeValues == 9">
        <div class="col-12 col-sm-4">
         The information is same as User Data.
        </div>
      </div> -->
    </form>

  </section>
</div>
</main>