/* corporate details style start */
.corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
    width: 20%;
    margin-bottom: 0.5rem;
}

.div-wraapper{
    padding: 15px;
    width: calc(100% - 18em); margin-bottom: 100px;
    margin-left: auto;
    transition: 0.5s;
}
.main-heading{
    font-size: 32px;
    font-weight: 700;
}

.entity-label {    border: 1px solid #c4cfd8 !important;
    height: 42px;
    margin: 0px;
    background: #f5f8fa;
    border-radius: 6px;
    line-height: 42px;
    padding: 0px 15px;
}

.div-wraapper .myself-details-main-wrapper {border: 1px solid #c4cfd8; border-radius: 8px;}
.myself-details-main-wrapper .progress-block {border-radius: 8px 8px 0px 0px;}
.basic-details-section {padding: 20px;}
.basic-details-section h3.title {font-size: 24px;}
.basic-details-section h4.title {font-size: 18px;}
.basic-details-section label {color: #77828a; font-weight: 500;}
 
.indentity-section .heading h4 {font-size: 20px; margin-bottom: 5px;} 
.custom-file {height: 46px;}
.custom-file .custom-file-label {height: 46px; padding: 0px;}
.custom-file .cust-upload-txt {display: block; left: 16px; top: 13px; text-align: left;}
.custom-file .cust-upload-txt span {text-decoration: none;}
.custom-file .custom-file-input {cursor: pointer; height: 40px;}
.upload-doc img {width: 100%; height: 75px; border-radius: 4px;}
.mat-tab-body.mat-tab-body-active {overflow: hidden;}
.add-tax-more button {padding: 1px 20px;}
/* for mobile */

@media (max-width: 575.98px) { 
    
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
        width: 50%;	}
    

    }


/* corporate style end */

.h-80{
    height: 80px;
}

.type-block h4.title {
    font-size: 14px !important; 
    padding: 10px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: #0f3d94;
}
.type-block-box {padding: 12px;}
.type-block {
    border: 1px solid #c4cfd8; 
    border-radius: 6px;
}
.customer-details-wrapper.address-wrapper { 
    border: 1px solid #eee;
} 
.datepicker-input .calender-icon{top: -30px;}


@media screen and (max-width: 992px) and (min-width: 768px) {
  
    /* .div-wraapper {padding: 20px 15px; margin-top: 80px; width: 100%; float: none; transition: 0.5s;} */
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {width: 50%;}
  }
  .customer-details-wrapper .card-select {
    min-width: auto; 
}

.progress-block .progress-steps-group-block {
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}



@media screen and (max-width: 767px) {

    .div-wraapper {
        padding: 0px 10px 20px !important;
        width: 100%;
    }

}

@media (max-width: 575.98px)
{
    .myself-details-main-wrapper .sub-head {font-size: 14px;}
    .type-block-box {padding: 5px;}
    .saveandcont-btn {margin: 0px 10px 10px;}

}