<mat-card class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Agreement List</li>
      </ol>
    </div>

    <div class="custom-table-main">

      <main class="">
        <form [formGroup]="form">

          <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-6">
              <h3 class="admin-page-title">Agreement List</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-6">
              <!-- <button mat-button class="btn default-btn mat-button" *ngIf="!showForm" (click)="showForm = !showForm">Add New</button> -->
              <button mat-button class="btn default-btn mat-button"
                *ngIf="showForm && agreementTypeValue == 2 && !isSellerAgreementCreated" (click)="addNew()">Add
                New</button>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4 mb-3 pl-0" [hidden]="showForm">
            <label class="f-12 d-block">Select Agreement Type</label>
            <mat-select [(ngModel)]="agreementTypeValue" [ngModelOptions]="{standalone: true}"
              (selectionChange)="agreementTypeChange(agreementTypeValue)" placeholder="Select Agreement Type">
              <!-- <mat-option *ngFor="let type of agreementType" [value]="type.value">
                            {{ type.typeName }}
                        </mat-option> -->

              <mat-option
                *ngIf="isForEsign == false && agreementTypeValue == 2 && eSignReqData && eSignReqData.length > 0"
                value="1">
                Bidder undertaking
              </mat-option>
              <mat-option *ngIf="isForEsign == true || agreementTypeValue == 1" value="1">
                Bidder undertaking
              </mat-option>
              <mat-option value="2">
                Seller Agreement
              </mat-option>
            </mat-select>
          </div>

          <div class="no-content-box mt-4" *ngIf="(agreementTypeValue == 1 && eSignReqData && eSignReqData.length <= 0) || 
                ( showForm && agreementTypeValue == 2 && isSellerAgreementCreated)">
            <div class="no-content-img mt-5 mb-4">
              <img src="../../../assets/images/image-asset.png" />
            </div>
            <div class="not-content-txt">
              <h2>No Agreement Uploaded Yet?</h2>
              <p *ngIf="agreementTypeValue == 2">Please click on a add new button to create new agreement!
              </p>

              <p *ngIf="agreementTypeValue == 1">Click here to download the Bidder Agreement document. This is a one
                time activity which you need to perform for registering in iQuippo Auctions.
              </p>
              <button class="default-btn mat-button" *ngIf="agreementTypeValue == 2" (click)="addNew()">Add
                new</button>
              <button class="default-btn mat-button" *ngIf="agreementTypeValue == 1"
                (click)="downloadESignTemplate()">Download</button>
            </div>
          </div>

          <!-- *ngIf="showForm || res?.results?.length==0" -->
          <div [hidden]="showForm" class="mb-3">
            <div class="agreement-template mb-3" *ngIf="agreementTypeValue == 2">
              <div class="row mb-3">
                <div class="col-md-12">
                  <h5>Agreement Template</h5>
                  <p>Please download the seller agreement template from the provided download link, Fill in the details,
                    Sign, Scan and Upload the same to become part of the iQuippo seller network post agreement
                    confirmation by iQuippo.</p>
                </div>
                <div class="col-md-12 text-right header-btn">
                  <button class="default-btn" (click)="sharedService.download(agreementTemplateUrl)">Download</button>
                </div>
              </div>
            </div>
            <div>
              <!-- <div class="add-agreement-container" *ngFor="let agreement of form?.get('multipleAgreement')?.controls; index as i" [formGroupName]="i"> -->
              <div class="add-agreement-container" *ngIf="agreementTypeValue == 2">
                <!-- <h4 class="title">Agreement {{i+1}}</h4> -->
                <h4 class="title">Agreement</h4>
                <p class="txt-info col-sm-12"><span class="mandatory"></span>All fields are mandatory.</p>

                <div class="add-agreement">
                  <div class="row">

                    <!-- <div class="col-md-4 datepicker-bx">
                <label for="" class="f-12 d-block">Start Date</label>
                <mat-form-field floatLabel="never" class="datepicker-input">
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly formControlName="start_date" required>
                    <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
    
            <div class="col-md-4 datepicker-bx">
                <label for="" class="f-12 d-block">End Date</label>
                <mat-form-field floatLabel="never" class="datepicker-input">
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly formControlName="end_date" required>
                    <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4 form-group"> 
                <label class="f-12 d-block">Upload Agreement letter</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'agreement_letter',i)" required>
                    <label class="custom-file-label custom-file-label2"><span
                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                        class="upload-icon2"></span></label>
                </div> 
            </div>
            <div class="col-md-4 form-group">
                <label class="f-12 d-block">Upload work Order</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'work_order',i)" required>
                    <label class="custom-file-label custom-file-label2"><span
                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                        class="upload-icon2"></span></label>
                </div>
            </div> -->
                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                      <label for="" class="f-12 d-block">Agreement Start Date<em>*</em></label>
                      <mat-form-field floatLabel="never">
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                          formControlName="start_date" required placeholder="Enter Agreement Start Date">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                          </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <div class="validation-err"
                          *ngIf="form.get('start_date').touched && form.get('start_date').hasError('required')">
                          <span>It is required field.</span>
                        </div>

                      </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                      <label for="" class="f-12 d-block">Agreement End Date<em>*</em></label>
                      <mat-form-field floatLabel="never">
                        <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly
                          formControlName="end_date" [min]="form.get('start_date').value" required
                          placeholder="Enter Agreement End Date">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                          <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                          </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <div class="validation-err"
                          *ngIf="form.get('end_date').touched && form.get('end_date').hasError('required')">
                          <span>It is required field.</span>
                        </div>
                        <div class="validation-err"
                          *ngIf="form.get('end_date').touched && form.get('end_date').hasError('matDatepickerMin')">
                          <span>End date should be less than or equal to start date.</span>
                        </div>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4 form-group mb-3">
                      <label class="f-12 d-block">Upload Agreement letter</label>
                      <div class="custom-file-1">
                        <!-- <input #agreement type="file" (change)="handleUpload($event,'agreement_letter')" required> -->
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" #agreement
                            (change)="handleUpload($event,'agreement_letter')" autocomplete="off">
                          <label class="custom-file-label custom-file-label2"
                            [class.work-order-index]="this.form?.get('agreement_letter')?.value" for="front">
                            <span class="cust-upload-txt cust-upload-txt2">
                              {{this.form?.get("agreement_letter")?.value ?
                              this.form?.get("agreement_letter")?.value.substr(this.form?.get("agreement_letter")?.value.lastIndexOf("/")+
                              1) : 'Choose a file'}}
                            </span>
                            <span *ngIf="!this.form?.get('agreement_letter')?.value" class="upload-icon2"></span>
                            <span *ngIf="this.form?.get('agreement_letter')?.value"
                              (click)="deleteImg(this.form?.get('agreement_letter')?.value)" class="uplode-delet">
                              <img src="../../../assets/images/Delete_icon.svg" />
                            </span>
                            <!-- <span class="delete-icon2"></span> -->
                          </label>
                          <div
                            *ngIf="form?.get('agreement_letter')?.touched && form?.get('agreement_letter')?.invalid ">
                            <span class="validation-err" *ngIf="form?.get('agreement_letter')?.errors?.required">Please
                              upload
                              Agreement Order</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3 d-none">
                      <div class="fixed-cost">
                        <label class="f-12 d-block">Is Fixed Sales Commission?</label>
                        <mat-slide-toggle formControlName="enableCost" class="mt-2 fixed-toggle" (change)="enableCost()"
                          [disableRipple]="true"></mat-slide-toggle>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3 d-none">
                      <!-- <label>Fixed Commission Value</label> -->
                      <label for="" class="form-label f-12 d-block" *ngIf="form?.get('enableCost').value==true">Fixed
                        Sales Commission</label>
                      <label for="" class="form-label f-12 d-block" *ngIf="form?.get('enableCost').value==false">Sales
                        Commission
                        Percent(%)</label>
                      <!-- <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.get('enableCost').value==true">Fixed Commission Cost</label>
                <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.get('enableCost').value==false">Fixed Commission Percent(%)</label> -->
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="" value="5" type="text" formControlName='commission_value'
                          readonly>
                      </mat-form-field>
                      <!-- <div *ngIf="adduserform.get('firstname')?.touched && adduserform?.get('firstname')?.hasError('required')">
                    <span class="validation-err">Please enter the first name.</span>
                </div> -->
                    </div>
                    <div class="col-md-12 mb-3 form-group" formArrayName="multipleAgreement">
                      <div class="row" [formGroupName]="i"
                        *ngFor="let agreement of form?.get('multipleAgreement')?.controls; index as i">
                        <div class="col-md-4 d-none">
                          <label class=" f-12 d-block">Upload work Order {{i+1}}</label>
                          <div class="custom-file-1">
                            <!-- <input type="file" #work_order (change)="handleWorkUpload($event,'work_order',i)" required> -->
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" #work_order
                                (change)="handleWorkUpload($event,'work_order',i)" autocomplete="off">
                              <label class="custom-file-label custom-file-label2"
                                [class.work-order-index]="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value"
                                for="front">
                                <span class="cust-upload-txt cust-upload-txt2">
                                  {{this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value
                                  ?
                                  this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.substr(this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.lastIndexOf("/")+
                                  1) : 'Choose a file'}}
                                </span>
                                <span
                                  *ngIf="!this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value"
                                  class="upload-icon2"></span>
                                <span
                                  *ngIf="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value"
                                  (click)="deleteImg(this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value,i)"
                                  class="uplode-delet">
                                  <img src="../../../assets/images/Delete_icon.svg" />
                                </span>
                                <!-- <span class="delete-icon2"></span> -->
                              </label>
                              <div
                                *ngIf="form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.touched && form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.invalid ">
                                <span class="validation-err" *ngIf="form?.get('work_order')?.errors?.required">Please
                                  upload
                                  Agreement Order</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 d-none">
                          <button class="default-btn mt-4" *ngIf="form?.get('multipleAgreement')?.length==i+1"
                            (click)="addAgreement()" mat-button>Add More</button>
                          <button class="btn default-btn-outline mt-4"
                            *ngIf="form?.get('multipleAgreement')?.length>1 && form?.get('multipleAgreement')?.length!=i+1"
                            (click)="removeAgreement(i)">Delete</button>
                        </div>
                        <div class="col-md-12 text-right">
                          <label for="" class="form-label">&nbsp;</label>
                          <button mat-button class="default-btn-outline mr-2"
                            *ngIf="form?.get('multipleAgreement')?.length==i+1 && !showForm"
                            (click)="showForm = !showForm;resetForm();">Cancel</button>
                          <button mat-button class="mat-button default-btn mr-2"
                            *ngIf="form?.get('multipleAgreement')?.length==i+1" [disabled]="form.invalid"
                            (click)="onSubmit()">Submit</button>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-md-8 text-right">
                <button class="mat-button mt-4" *ngIf="form?.get('multipleAgreement')?.length==i+1" (click)="addAgreement()" mat-button>Add More</button>
                <button class="btn btn-danger mt-4" *ngIf="form?.get('multipleAgreement')?.length>1 && form?.get('multipleAgreement')?.length!=i+1" (click)="removeAgreement(i)">Delete</button>
            </div> -->

                  </div>
                  <div class="row">

                    <!-- <div class="col-md-4">
                <h6>Fixed Commission Cost</h6>
                    <mat-slide-toggle formControlName="enableCost"  (change)="enableCost(i)" [disableRipple]="true"></mat-slide-toggle>
            </div>
            <div class="col-md-4">
                 <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.controls[i]?.get('enableCost').value==true">Fixed Commission Cost</label>
                <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.controls[i]?.get('enableCost').value==false">Fixed Commission Percent(%)</label> 
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" value="5" type="text" formControlName='commission' readonly>
                </mat-form-field>
            </div> -->
                    <!-- <div class="col-md-12 text-right">
                <label for="" class="form-label">&nbsp;</label>
                <button mat-button class="default-btn-outline mr-2" *ngIf="form?.get('multipleAgreement')?.length==i+1 && !showForm" (click)="showForm = !showForm">Cancel</button> 
                <button mat-button class="mat-button mr-2" *ngIf="form?.get('multipleAgreement')?.length==i+1" [disabled]="form.invalid" (click)="onSubmit()">Submit</button> 
            </div> -->



                  </div>
                </div>
              </div>

            </div>
          </div>

          <div [hidden]="agreementTypeValue != 2 || isSellerAgreementCreated">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                <label class="f-12 d-block">Search: </label>
                <input type="text" class="mat-input-element" #input placeholder="Search..." (keyup)="getAgreement()"
                  (keydown.enter)="getAgreement()">
              </div>
            </div>

            <div class="desktop-table">

              <div class="asset-table">
                <div class="table-responsive inner-table mb-3 user-management-heading new-equipment-tbl">
                  <!-- <h5>Agreement List</h5> -->
                  <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource1" matSort
                    matSortStart="asc" (matSortChange)="getAgreement()" matSortActive="id">
                    <!-- <mat-table class="lessons-table default-tbl mat-elevation-z8" [dataSource]="dataSource1" class="default-tbl"> -->

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement Id</th>
                      <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Id</span> {{lesson.id}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="start_date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement Start Date</th>
                      <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Start Date</span> {{lesson.start_date| date:'dd-MM-yyyy'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="end_date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement End Date</th>
                      <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement End Date</span> {{lesson.end_date| date:'dd-MM-yyyy'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="seller_mobile_number">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
                      <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Mobile Number</span> {{lesson.user_data.mobile_number}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="seller_email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                      <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Email</span> {{lesson.user_data.email}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="agreement_letter">
                      <th mat-header-cell *matHeaderCellDef>Agreement Letter</th>
                      <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Letter</span>
                        <a href="javascript:void(0)" class="cursor-pointer"
                          (click)="sharedService.download(lesson.agreement_letter)">Agreement
                          Letter</a>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell class="Status-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Status</span> {{agreementStatus[lesson.status]}}
                      </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell class="Status-cell" *matCellDef="let lesson">{{this.LeadStatus[lesson.status]}}</mat-cell>
                </ng-container> -->


                    <ng-container matColumnDef="Action" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell class="Action-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Action</span>
                        <button class="table-row-btn view-icon" mat-button (click)="actionPopup(lesson,'view')">
                          <span><img src="../../../assets/images/visibility.svg" alt="View" title="View"></span>
                        </button>
                        <!-- <a href="javascript:void(0)" class="">
                            <span><img src="../../../assets/images/Delete_icon.svg"></span>    
                        </a> -->
                        <!-- <a (click)="actionPopup(lesson,'edit')">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a (click)="actionPopup(lesson,'delete')">
                                <mat-icon>delete</mat-icon>
                            </a> -->
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                  <!-- </mat-table> -->
                  <div class="no-record" *ngIf="res?.results?.length==0">No records found</div>
                </div>
              </div>

              <mat-paginator [length]="res?.count" (page)="getAgreement()" [pageSize]="3"
                [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

            </div>



          </div>

          <div class="" *ngIf="agreementTypeValue == 1 && eSignReqData && eSignReqData.length > 0">
            <div class="desktop-table">
              <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                  <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="eSignReqData">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef>Agreement Id</th>
                      <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Id</span> 1
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="start_date">
                      <th mat-header-cell *matHeaderCellDef>Agreement Start Date</th>
                      <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Start Date</span> {{lesson.created_at | date:'dd-MM-yyyy'}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="agreement_letter">
                      <th mat-header-cell *matHeaderCellDef>Agreement Letter</th>
                      <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Agreement Letter</span>
                        <a href="javascript:void(0);" (click)="sharedService.download(lesson.document_url)"
                          class="cursor-pointer">
                          Bidder Undertaking
                        </a>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell class="Status-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Status</span> {{lesson.status_display}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell class="Action-cell" *matCellDef="let lesson">
                        <span class="mobile-label">Action</span>
                        <button *ngIf="lesson.status != 'BUS'" class="esign-icon table-row-btn" mat-button
                          (click)="onProceed(lesson.reference_id)">
                          <span><img src="../../../assets/images/sign-icon.png" alt="E-sign process"
                              title="Click here to complete e-sign process"></span>
                        </button>
                        <button class="table-row-btn view-icon" mat-button (click)="viewBidderData(lesson)">
                          <span><img src="../../../assets/images/visibility.svg" alt="View" title="View"></span>
                        </button>

                        <!-- <button mat-button class="simple-btn delet-icon"
                          (click)="deleteEsignRecord(lesson.reference_id)">
                          <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
                        </button> -->
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedEsignColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedEsignColumns"></tr>
                  </table>
                  <div class="no-record table-recond" *ngIf="!eSignReqData?.length">No records found</div>
                </div>
              </div>
            </div>



          </div>

        </form>
      </main>
    </div>
    <div class="clearfix"></div>
    <div class="row ng-scope" *ngIf="this.returnUrl">
      <div class="col-md-12 text-right">
        <div class="save-btn">
          <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="proceed()">
            {{isForEsign == true && agreementTypeValue == 1 ? 'Back' :' Click to Proceed'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>