/* .datepicker-bx .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.datepicker-bx .mat-datepicker-toggle{
    position: absolute;
    top: -35px;
    right: 3px;
    }

    .custom-table-main {
        width: 80% !important;
        float: right;
    }
    
    .custom-table-main table {
        border-radius: 0px;
        margin-top: 0px
    }
    
    .custom-table-main table th {
        background: #0d4fa3;
        color: #fff;
        font-weight: 500;
    }
    
    .custom-table-main table tr td {
        border-bottom: 1px #eff0f2 solid;
    }
    
    .custom-table-main table th,
    .custom-table-main table td {
        font-size: 15px !important;
    }
    
    .action-cell a {
        display: inline-block;
        vertical-align: middle;
        padding: 2px;
        margin: 2px;
        line-height: 20px;
        background: #ddd;
        cursor: pointer;
    }
    
    .importBtn {
        position: relative;
    }
    
    .importBtn input.custom-file-input {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        top: 0;
        left: 0;
    } */

    .uplode-delet {width: 35px; float: right; margin-top: 2px;; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}
    
.main-heading {font-size: 32px; font-weight: 700;}
.product-wrapper {    padding: 15px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;}

.default-tbl {border: 1px solid #e0e4e8; overflow: auto;}
.default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e4e8;}
.default-tbl mat-cell, .default-tbl .mat-cell {color: #333; opacity: 0.87; height: 42px; padding: 15px 21px;}
.default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
.default-tbl mat-header-cell, .default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 52px;
    min-width: 100px;
}
.default-tbl mat-row:hover {background-color: #f8fbfd;}
.asset-table .table-hover tbody tr:hover {background-color: #f8fbfd;}
.e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-detailrowcollapse, 
.e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {border-color: #e0e4e8;}
.asset-table .inner-table {border-radius: 10px; border: 1px solid #e0e4e8;}            
.no-record {padding: 10px;}
.table-pagination ul {vertical-align: middle; float: right;}
.table-pagination ul li {display: inline-block; vertical-align: middle;}
.table-pagination ul li a {background: #e0e4e8; margin-left: 8px; border: 0px solid #e9eef2; text-align: center; padding: 0px; width: 52px; height: 52px; line-height: 52px; border-radius: 8px; color: #000000;}
.table-pagination ul li.active a {background-color: #0D4FA3; color: #fff;}
.table-pagination ul li.previous-item.disabled a, .table-pagination ul li.next-item.disabled a{background: #e0e4e8; border: 0px; cursor: not-allowed;}
.table-pagination ul li.disabled:hover {cursor: not-allowed;}
.table-pagination .table-recond {float: left; vertical-align: middle;}
.table-pagination ul li.previous-item a, .table-pagination ul li.next-item a {background-color: #fff; border: 1px solid #0D4FA3;}
.table-pagination ul li a span.material-icons {font-size: 28px; line-height: 52px; color: #0D4FA3;} 
.table-pagination ul li.previous-item.disabled a span.material-icons, .table-pagination ul li.next-item.disabled a span.material-icons {color: #989898;}
.category-img {height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 2px;}
.asset-table .mat-row .mat-cell .mat-button {
        width: 35px;
        min-width: inherit;
        margin-right: 8px;
        margin-left: 0px;
        height: 35px;
        text-align: center;
        line-height: 34px;
        padding: 0px;
        border-radius: 50%;
        background-color: #e7eef2;
    }
    .excel-export-section button {
      background-color: #00a767;
      font-size: 14px;
      color: #fff;
      margin-right: 12px;
      padding: 5px 20px;
  }
  .header-btn button {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background-color: #0d4fa3;
}

.add-agreement-container {border: 1px solid #c4cfd8;
    border-radius: 6px;}
.add-agreement-container h4.title {font-size: 16px;
    color: #fff;
    background-color: #0f3d94;
    padding: 15px 10px;
    border-radius: 6px 6px 0px 0px;}
.add-agreement {padding: 10px;}
.add-agreement-container label {color: #77828a;
    font-weight: 500;}
.custom-file {
        height: 46px;
    }
.custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        margin: 0;
        overflow: hidden;
        opacity: 0;
}
.datepicker-input .calender-icon  {
    position: absolute;
    top: -35px;
    right: 10px;
}
.datepicker-input {
    position: relative;
}
.agreement-template {border: 1px solid #c4cfd8; background: #fbfbfb;
    border-radius: 6px; padding: 10px;}

    .datepicker-bx .mat-icon{
        position: absolute;
        right: 10px;
        bottom: 3px; 
        opacity: 0.8;
        font-size: 20px;
    }
    .datepicker-bx .mat-datepicker-toggle{
        position: absolute;
        top: -35px;
        right: 3px;
        }

        .asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
        .asset-table table {max-width: 100%; overflow: auto;}
        .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 52px;}
        .asset-table table td:first-child {border-top: 0px;}
        .asset-table table td.mat-column-is_active {color: #00a767;}
        .asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
        .asset-table table td button.table-row-btn span {font-size: 18px;}
        .asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
        .asset-table table td button.table-row-btn.view-icon img{width: 22px;} 
        .asset-table table td button.table-row-btn.esign-icon img {width: 15px;}
        .asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
        .asset-table table tr:nth-child(even){background-color:#f8fbfd;}
        .asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .cust-upload-txt2 {
            white-space: nowrap;
    width: 80%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
        }
        .uplode-delet {width: 35px;display:inline-block; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}



        @media screen and (max-width: 992px) and (min-width: 768px) {
            /* .product-wrapper {
              padding: 20px 15px;
              width: 100%;
              margin-top: 0px;
              float: none;
              transition: 0.5s;
            } */
          }
          


        @media(max-width: 767px) {
    
            .product-wrapper {
                padding: 20px 15px;
                width: 100%;
                margin-top: 0px;
                float: none;
                transition: 0.5s;
              } 
              .modal-popup .popup-hdr h4{width: 70%;}
              .popup-body {max-height: 100%; width: 100%;}
              .txt-info {margin-bottom: 0px;}
              .fixed-cost {margin-top: 10px;}
              .datepicker-bx .mat-datepicker-toggle {top: -32px;}
              .fixed-cost label {display: inline-block !important; vertical-align: middle; margin: 0px;}
              .fixed-cost .fixed-toggle {float: right;}


          .work-order-index {
            position: absolute;
            z-index: 3;
        }
    }
    em{color:red;margin-left:5px;}

    .work-order-index {
        position: absolute;
        z-index: 3;
    }