.popup-hdr {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 20px;
    border-bottom: 1px solid #D2DAE2;
    color: #000000;
    position: relative;
    text-align: center;
}

.popup-body {
    padding: 0px ;
    max-height: 80vh;
    overflow-y: auto;
}
.popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
}
.popup {
    background: #fff;
    border-radius: 20px;
}
.close-btn{
    background: transparent;
    float: right;
    border: none;
    height: 30px;
    line-height: 20px;
    color: #0D4FA3;
}
.close-btn2{
    background: transparent;
    float: left;
    border: none;
}
.close-btn:focus, .close-btn2:focus {
    outline: unset !important;
}
.select-div{
    background: #DCE3EA;
    padding: 10px 20px;
    position: relative;
}
.select-div input{
    border: none;
    padding-left: 30px;
}
.select-div mat-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #666F76;
}
.brand-list{
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
}
.brand-list li{
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #D2DAE2;
    padding: 10px 20px;
}
.brand-list li:last-child{
    border-bottom: none;
}
.brand-list li a{
    text-decoration: none !important;
}
.brand-list li a svg path{
    stroke: #929BA3;
}
.brand-list li a.selected svg path{
    stroke: #0D4FA3;
}
.brand-list li a.selected span{
    color: #0D4FA3;
}
.brand-list li a span{
    padding-left: 10px;
    color: #292825;
}