<div class="popup">
    <div class="popup-hdr">
        {{dialogHeading}}
        <button mat-button (click)="closeDialog()" class="close-btn2">
            <img src="../../../../assets/images/Close.svg" alt="">
        </button>
        <button mat-button (click)="closeDialog()" class="close-btn">Done</button>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="popup-body" *ngIf="!isLoading">
        <div class="select-div">
            <!-- <form formGroup='SearchBrand'> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="Select brand" [(ngModel)]="searchText" type="text">
                    <mat-icon class="material-icons" matSuffix>search</mat-icon>
                </mat-form-field>
            <!-- </form> -->
        </div>
        <ul class="brand-list">
            <ng-container *ngFor="let s of selectedArr">
                <ng-container *ngIf="showRow(s)">
                    <li>
                        <a [class.selected]="selectedValue?.id == s?.id" (click)="selectedValue = s">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.26" height="12.183" viewBox="0 0 16.26 12.183">
                                <path id="Path_3641" data-name="Path 3641" d="M1.816,8.9,5.48,12.567,15.248,2.8"
                                    transform="translate(-0.402 -1.385)" fill="none" stroke="#0d4fa3" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" />
                            </svg>
                            <span>{{s.name}}</span>
                        </a>
                    </li>
                </ng-container>
            </ng-container>
            <!-- <li><a href="javascript:void(0)" class="selected">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.26" height="12.183" viewBox="0 0 16.26 12.183">
                        <path id="Path_3641" data-name="Path 3641" d="M1.816,8.9,5.48,12.567,15.248,2.8"
                            transform="translate(-0.402 -1.385)" fill="none" stroke="#0d4fa3" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </svg>
                    <span>Tata</span>
                </a></li>
            <li><a href="javascript:void(0)" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.26" height="12.183" viewBox="0 0 16.26 12.183">
                        <path id="Path_3641" data-name="Path 3641" d="M1.816,8.9,5.48,12.567,15.248,2.8"
                            transform="translate(-0.402 -1.385)" fill="none" stroke="#0d4fa3" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </svg>
                    <span>Ashok Leyland</span>
                </a></li> -->
        </ul>

    </div>
</div>