.remove-btn {
    background: #ff0000;
    color: #fff;
    padding: 5px 11px !important;
    min-width: auto;
    border-radius: 50%;
}

.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.myself-details-main-wrapper form {padding: 10px;}

.comback-btn {padding: 0px;}
  
  @media screen and (max-width: 768px) {  
      .category-brand .mat-card {padding: 0px;}
    .bank-detail .bank-detail-row {margin: 0px 0px;}
    .myself-details-main-wrapper .sub-head {margin: 0px 0px 10px;}

    .comback-btn {margin-bottom: 10px;}
}

@media screen and (max-width: 576px) {   

.comback-btn {margin-bottom: 10px;}
}


.banking-main-wrapper .main-content-wrapper {
  padding: 0em;
}
button.table-row-btn.delet-icon.mat-focus-indicator.mat-button.mat-button-base.ng-star-inserted {
  position: absolute;
  right: 2px;
  top: 3px;
  z-index: 999;
  background: #f5f8fa;
}
