<div class="main-div product-wrapper">
  <div class="product-wrapper-box p-0">
  <div class="category-brand">
<mat-card>
  <div class="trade-tab-container">
<main class="container-fluid">
  <section class="myself-details-main-wrapper banking-main-wrapper">
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block activeline"> <span class="step-no active"><span class="steps">1</span></span><span
                class="step-lbl">Profile</span></div>
            <div class="step-block activeline"> <span class="step-no active"><span class="steps">2</span></span><span
                class="step-lbl">Preference</span></div>
            <div class="step-block"> <span class="step-no active"><span class="steps">3</span></span><span
                class="step-lbl">Banking</span></div>
            <div class="step-block" *ngIf="isOption"> <span class="step-no"><span class="steps">4</span></span><span
                class="step-lbl">Terms & Conditions</span></div>
          </div>
        </div>


      </div>

    </div>
    <form [formGroup]='bankingForm' class="p-0">
      <div class="main-content-wrapper">
        <div class="customer-details-wrapper mt-3">
          <!-- <h2 class="sub-head">Bank Details</h2>
    <p class="txt-info"><span class="mandatory"></span>Please fill bank details.</p> -->
          <!-- {{bankingForm?.get('customersArray')?.controls | json}} -->

          <h2 class="sub-head">Bank Details <span *ngIf="!isOption">(Optional)</span></h2>
          <p *ngIf="isOption" class="txt-info"><span class="mandatory"></span>If you select a bank name from list, the
            bank details become mandatory.</p>
          <div formArrayName="customersArray" class="bank-detail p-2 row">
            <div class="col-sm-12 bank-detail-row" *ngFor="let bank of bankingForm?.get('customersArray')?.controls; let i = index"
              [formGroupName]="i">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Bank Name</label>

                  <mat-form-field floatLabel="never">
                    <mat-select formControlName="BankName" (selectionChange)="selectedValue($event,i)">
                      <mat-option *ngFor="let bank of objData?.masterData" [value]="bank.id">{{ bank.bankName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- {{bankingForm.get(['customersArray', i, 'BankName']).value}}      -->
                  <!-- {{bankingForm?.get('customersArray')?.get(i)?.get('BankName')?.value}} -->

                  <!-- <mat-form-field floatLabel="never" style="margin-top:10px;" formControlName="otherBank" *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('BankName')?.value=='1000'" maxlength="20" >
            <input matInput placeholder="" value="" type="text">  
            </mat-form-field> -->

                  <!-- <div *ngIf="bankingForm.get('AccountHolderName')?.touched && bankingForm.get('otherBank')?.hasError('required')">
            <span class="validation-err">Please complete this mandatory field.</span>
        </div>
       
        <div *ngIf="bankingForm.get('BankName')?.touched && bankingForm.get('BankName')?.hasError('required')">
          <span class="validation-err">Please complete this mandatory field.</span>
      </div> -->
                </div>

                <br />
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Branch</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="BranchName" maxlength="30"
                      (blur)="validateFields(i)">
                  </mat-form-field>
                  <div
                    *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('BranchName')?.touched && bankingForm?.get('customersArray')?.controls[i]?.get('BranchName')?.hasError('required')">
                    <span class="validation-err">Please enter the branch name.</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Account Holder's Name</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="AccountHolderName" maxlength="14"
                      (blur)="validateFields(i)">

                  </mat-form-field>
                  <div
                    *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('AccountHolderName')?.touched && bankingForm?.get('customersArray')?.controls[i]?.get('AccountHolderName')?.hasError('required')">
                    <span class="validation-err">Please enter the account holder's name.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Account Number</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text"
                      oninput=" this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                      formControlName="AccountNo" maxlength="20" (blur)="validateFields(i)">
                  </mat-form-field>
                  <div
                    *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('AccountNo')?.touched && bankingForm?.get('customersArray')?.controls[i]?.get('AccountNo')?.hasError('required')">
                    <span class="validation-err">Please enter the account number.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">IFSC Code/SWIFT CODE </label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="IFSCSWIFTCode" maxlength="15"
                      (blur)="validateFields(i)">
                  </mat-form-field>
                  <div
                    *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('IFSCSWIFTCode')?.touched && bankingForm?.get('customersArray')?.controls[i]?.get('IFSCSWIFTCode')?.hasError('required')">
                    <span class="validation-err">Please enter the IFSC code.</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <div class="account-block">
                    <label for="" class="w-100">Account Type</label>
                    <mat-radio-group aria-label="Select an option" formControlName="AccountType">
                      <mat-radio-button value="sav" (click)="accountTypeChangefn('sav',i)">Savings Account
                      </mat-radio-button>
                      <mat-radio-button value="curr" (click)="accountTypeChangefn('curr',i)">Current Account
                      </mat-radio-button>
                    </mat-radio-group>
                    <div
                      *ngIf="bankingForm?.get('customersArray')?.controls[i]?.get('AccountType')?.touched && bankingForm?.get('customersArray')?.controls[i]?.get('AccountType')?.hasError('required')">
                      <span class="validation-err">Please select the account type.</span>
                    </div>

                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mini-custom-file" *ngIf="isOption">
                  <label for="" class="f-12 d-block">Cancelled Cheque <span class="mandatory"></span></label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" #cancelledCheque (change)="uploadCheque($event,i,bank)" autocomplete="off">
                    <label class="custom-file-label custom-file-label2 position-absolute" for="front">
                      <span class="cust-upload-txt cust-upload-txt2">
                        {{bank?.controls?.cancelled_cheque?.value ? bank?.controls?.cancelled_cheque?.value.substr(bank.controls?.cancelled_cheque?.value?.lastIndexOf("/")+ 1) : 'Choose a file'}}
                      </span>
                      <span class="upload-icon2"></span>
                    </label>
                    <div *ngIf="bank.get('cancelled_cheque')?.touched && bank.get('cancelled_cheque')?.invalid ">
                      <span class="validation-err" *ngIf="bank.get('cancelled_cheque')?.errors?.required">Please upload
                        cancelled cheque</span>
                    </div>
                    <button class="table-row-btn delet-icon" *ngIf="bank?.controls?.cancelled_cheque?.value" (click)="deleteCheque(bank?.controls?.cancelled_cheque?.value,bank)" mat-button><span><img
                      src="../../../assets/images/Delete_icon.svg"  alt="Delete" title="Delete"></span></button>
                  </div>  
                </div>
                <!-- <div class="col-12 text-right">
      <button mat-flat-button class="remove-btn" (click)="removeBankFormGroup(i)"> <span class="material-icons" >remove</span></button>
    </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="addaddress-btn text-right">
            <button mat-flat-button (click)="addBankFormGroup()"> <span class="material-icons">add</span> Add Another
              Bank</button>
          </div>
        </div>

      </div>
      <div class="row pb-3">
        <div class="col-12 text-right">
          <div class="comback-btn mr-0 mr-sm-3 mr-md-3 mr-lg-3" *ngIf="!isOption">
            <button mat-flat-button (click)="skipfn()" [disabled]="masterData?.length != 0 && isOption">Skip</button>
          </div>
          <div class="comsaveandcont-btn p-0">
            <button mat-flat-button [disabled]='bankingForm?.invalid' (click)="saveBankDetailsfn()">Save &
              Continue</button>
          </div>
        </div>
      </div>
    </form>

  </section>

</main>
</div>
</mat-card>
  </div>
</div>
</div>