<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Refund(Offline) Account</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-12">
                <h3 class="admin-page-title">Refund(Offline) Account</h3>
            </div>
            <!-- <div class="col-lg-6 col-md-4 col-sm-4 col-4">
        <div class="exportWrapper text-right">
          <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()"><i
              class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
        </div>
      </div> -->
        </div>

        <!-- [min]="getMinDate()" -->

        <form [formGroup]="form">
            <div class="row export-row mb-2">
                <div class="col-sm-12 col-md-4 mb-2">
                    <!-- <label class="f-12 d-block  invisible">date</label> -->
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" formControlName='startDate' [max]="now"
                            placeholder="From Date" [matDatepicker]="picker1" readonly>
                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                        <div *ngIf="form?.get('startDate')?.touched && 
                form?.get('startDate')?.hasError('required')">
                            <span class="validation-err">Please select start date</span>
                        </div>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-4 mb-2">
                    <!-- <label class="f-12 d-block  invisible">date</label> -->
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" formControlName='endDate' [min]="getEndDate()" [max]="now"
                            placeholder="To Date" [matDatepicker]="picker2" readonly>
                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker2">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                        <div *ngIf="form?.get('endDate')?.touched && 
                form?.get('endDate')?.hasError('required')">
                            <span class="validation-err">Please select end date</span>
                        </div>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4 pt-md-2  pt-sm-2">
                    <div class="text-right exportWrapper">
                        <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                        <button mat-button class="default-btn importBtn mr-0" (click)="export()"><i
                                class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="user-management-top-section">
            <div class="row mt-3">
                <div class="col-md-6 col-lg-3 col-sm-6">
                    <label class="f-12 d-block">Type of Transactions</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Type of Transactions</mat-label>
                        <mat-select [(ngModel)]="transactionTypeValue" placeholder="Select Transaction Type"
                            (selectionChange)="transactionChange($event?.value)">
                            <mat-option *ngFor="let type of transactionType" [value]="type.value">
                                {{ type.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row mt-3">
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchInitiatedText"
                                (keyup)="searchInitiatedList()" (keydown.enter)="searchInitiatedList()"
                                autocomplete="off" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="initiatedDataSource"
                            matSort (matSortChange)="onInitiatedSortColumn($event)" matSortActive="created_at"
                            matSortDirection="desc">

                            <ng-container matColumnDef="transaction__transaction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Id</span> {{element?.transaction &&
                                    element?.transaction?.transaction_id ? element?.transaction?.transaction_id : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Refund_Id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Refund Id</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refund Id</span> {{element?.refund_id ?
                                    element?.refund_id : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="UCN">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>UCN</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">UCN</span> {{element?.transaction &&
                                    element?.unique_control_number ? element?.unique_control_number : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Asset_Id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Id</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Asset Id</span> {{element?.transaction &&
                                    element?.transaction?.asset_id && element?.transaction?.asset_id?.id ?
                                    element?.transaction?.asset_id?.id : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="AuctionId_ID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Auction ID</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Auction Id</span>
                                    <span *ngFor="let obj of element?.transaction?.emd_details; let isLast=last">
                                        <span>{{obj?.auction?.auction_engine_auction_id ?
                                            obj?.auction?.auction_engine_auction_id :
                                            '-'}}{{isLast ? '' : ', '}}
                                        </span>
                                    </span>
                                    <span *ngIf="!element?.transaction || !element?.transaction?.emd_details">-</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Transaction_Type">
                                <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Type</span> {{element?.type ?
                                    getTransactionType(element?.type) : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="User_Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">User Name</span> {{element?.transaction &&
                                    element?.transaction?.buyer && element?.transaction?.buyer?.first_name ?
                                    element?.transaction?.buyer?.first_name : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Mobile_No">
                                <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Mobile No</span> {{element?.transaction &&
                                    element?.transaction?.buyer && element?.transaction?.buyer?.mobile_number ?
                                    element?.transaction?.buyer?.mobile_number : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Email</span> {{element?.transaction &&
                                    element?.transaction?.buyer && element?.transaction?.buyer?.email ?
                                    element?.transaction?.buyer?.email : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Amount">
                                <th mat-header-cell *matHeaderCellDef> Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Amount</span> {{element?.transaction &&
                                    element?.transaction?.amount ? element?.transaction?.amount : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Transaction_Status">
                                <th mat-header-cell *matHeaderCellDef> Transaction Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Status</span>
                                    {{element?.transaction?.payment_status ?
                                    getPaymentStatus(element?.transaction?.payment_status) : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Refund_Status">
                                <th mat-header-cell *matHeaderCellDef> Refund Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refund Status</span> {{element?.status ?
                                    getPaymentStatus(element?.status) : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Refund_Amount">
                                <th mat-header-cell *matHeaderCellDef> Refund Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refund Amount</span> {{element?.amount ? element?.amount
                                    : "-"}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Refund_Type">
                                <th mat-header-cell *matHeaderCellDef> Refund Type </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refund Type</span> {{element?.refund_type ?
                                    element?.refund_type : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Refund Date</span> {{element?.created_at ?
                                    (element?.created_at | date:'dd-MM-yyyy') : '-'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Action</span>
                                    <button mat-button class="simple-btn">
                                        <span (click)="viewRalization(element)">
                                            <img src="../../../assets/images/visibility.svg" alt="View" title="View"
                                                style="width: 22px;">
                                        </span>
                                    </button>

                                    <button class="simple-btn view-icon mr-2" mat-button
                                        (click)="addRefundInfo(element.id, element)">
                                        <span><i class="fa fa-repeat" aria-hidden="true"></i></span>
                                    </button>
                                    <button class="simple-btn view-icon mr-2 exclainmation-icon" mat-button
                                        (click)="approveRefund(element)" *ngIf="element?.status == 5">
                                        <span><img src="../../../assets/images/approve.svg" alt="Approve"
                                                title="Approve" /></span>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getColumns();"></tr>
                        </table>

                        <div class="no-record" *ngIf="!initiatedDataSource?.data?.length">No records found</div>
                    </div>
                </div>

                <mat-paginator [length]="initiatedTotalCount" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]" (page)="onInitiatedPageChange($event)"></mat-paginator>
            </div>




        </div>

    </div>
</div>