<main class="product-wrapper sigin-main-wrapper ">
    <section>
        <div class="row">
            
            <div class="col-12 col-md-12 order-lg-1 order-2 order-md-2 col-sm-12 col-lg-6 right-side-container">
                <div class="signup-wrapper">
                    <h2>Change Password </h2>
                    <p class="sign-up-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero delectus
                        impedit enim unde fugit numquam.</p>
                    <form class="changePswd-wrapper" [formGroup]='changePswd_Form' autocomplete="off">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Old Password</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" type="password" formControlName="old_password" autocomplete="off">
                                    </mat-form-field>
                                    <div *ngIf="changePswd_Form.get('old_password')?.touched && changePswd_Form.get('old_password')?.invalid ">
                                        <span class="validation-err" *ngIf="changePswd_Form.get('old_password')?.errors?.required">Please provide old password</span>
                                        <span class="validation-err" *ngIf="(!changePswd_Form.get('old_password')?.errors?.required && changePswd_Form.get('old_password')?.errors?.pattern)">Please provide in valid format.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" type="password" formControlName="new_password" autocomplete="off">
                                    </mat-form-field>
                                    <div *ngIf="changePswd_Form.get('new_password')?.touched && changePswd_Form.get('new_password')?.invalid ">
                                        <span class="validation-err" *ngIf="changePswd_Form.get('new_password')?.errors?.required">Please provide new password</span>
                                        <span class="validation-err" *ngIf="(!changePswd_Form.get('new_password')?.errors?.required && changePswd_Form.get('new_password')?.errors?.pattern)">Please provide in valid format.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Confirm New Password</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" type="password" formControlName="cnf_password" autocomplete="off">
                                    </mat-form-field>
                                    <div *ngIf="changePswd_Form.get('cnf_password')?.touched && changePswd_Form.get('cnf_password')?.invalid ">
                                        <span class="validation-err" *ngIf="changePswd_Form.get('cnf_password')?.errors?.required">Please provide new password</span>
                                        <span class="validation-err" *ngIf="(!changePswd_Form.get('cnf_password')?.errors?.required && changePswd_Form.get('cnf_password')?.errors?.pattern)">Please provide in valid format.</span>
                                        <span class="validation-err" *ngIf="(!changePswd_Form.get('cnf_password')?.errors?.required && changePswd_Form.get('cnf_password')?.errors?.notMatch)">Password didn't match.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-sm-12">
                                <div class="simplesigninbtn">
                                    <button class="m-0 btn-block" mat-flat-button (click)="changePassword()" [disabled]='changePswd_Form.invalid'>
                                       Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-12 col-sm-12 order-lg-2 order-1 order-md-1 col-lg-6 p-0 left-side-banner">
                <div class="change-password-img text-center pt-3 pt-lg-5 pt-md-5">
                    <img src="../../../../../assets/images/change-password.png" />
                </div>
                <!-- <app-side-bar></app-side-bar> -->
            </div>

        </div>
    </section>

</main>