

  .signup-wrapper {width: 100%; padding: 2rem 1rem 3rem;}

.simplesigninbtn button {
  background: #094fa3;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  height: 46px;

  border-radius: 6px;
  display: block;
}
.product-wrapper.sigin-main-wrapper {background: #eff2f4;}
.product-wrapper section {    background: #fff; box-shadow: 0 0 6px #d2dce6;
  border-radius: 10px; padding-bottom: 15px;}
  .product-wrapper section input {background: #fff !important;}

.change-password-img img {width: 70%;}

@media screen and (max-width: 992px) and (min-width: 768px) {

  .signup-wrapper {margin-top: 0px !important;}
/* .product-wrapper {width: 100%; margin-top: 0px;} */
.change-password-img img {width: 30%;}

}

@media screen and (max-width: 767px) {
  .product-wrapper {width: 100%; margin-top: 0px;}
  .change-password-img img {width: 30%;}
    /* .signup-wrapper {margin-top: 80px;}  */
}