<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">Agreement Details</h4>
        <button mat-button class="close-btn" mat-dialog-close><img src="../../../../../../assets/images/Close.svg"
                alt=""></button>
    </div>
    <div class="popup-body" *ngIf="!actionObj.isFromBidder">
        <div class="agreement-detail-list">
            <div class="row grey">
                <div class="col-md-6">
                    <div class="title p-3"><strong>Agreement Start date</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{this.actionObj?.agreementObj?.start_date| date:'dd-MM-yyyy'}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-3"><strong>Agreement End date</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{this.actionObj?.agreementObj?.end_date| date:'dd-MM-yyyy'}}</div>
                </div>
            </div>
            <div class="row grey">
                <div class="col-md-6">
                    <div class="p-3"><strong> Agreement Document</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"><a href="javascript:void(0)" class="cursor-pointer modified-a"
                            (click)="sharedService.download(this.actionObj?.agreementObj?.agreement_letter)">Download
                            Agreement Document</a></div>
                </div>
            </div>
            <div class="row"
                *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3"><strong>Work Order</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"><a *ngFor="let a of actionObj?.agreementObj?.work_order;index as i"
                            href="javascript:void(0)" class="cursor-pointer modified-a"
                            (click)="sharedService.download(a.doc)">Download Work Order {{i+1}}</a></div>
                </div>
            </div>
            <div class="row grey"
                *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3"><strong> Status</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{this.agreementStatus[this.actionObj?.agreementObj?.status]}} </div>
                </div>
            </div>
            <div class="row"
                *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3"><strong> Is Fixed Sales Commission?</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{this.actionObj?.agreementObj?.is_fixed_commission?'Yes':'No'}} </div>
                </div>
            </div>
            <div class="row grey"
                *ngIf="(actionObj.agreementObj?.is_fixed_commission !='' && actionObj.agreementObj?.is_fixed_commission!=null) && this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3">
                        <strong *ngIf="this.actionObj?.agreementObj?.is_fixed_commission">Sales Commission</strong>
                        <strong *ngIf="!this.actionObj?.agreementObj?.is_fixed_commission">Sales Commission
                            Percent</strong>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{this.actionObj?.agreementObj?.commission_value}} </div>
                </div>
            </div>
            <div class="row grey" *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3">
                        <strong>EMD payout to?</strong>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{(actionObj?.agreementObj?.emd_to_iquippo && actionObj?.agreementObj?.emd_to_iquippo == true) ? 'iQuippo' : 'Seller'}} </div>
                </div>
            </div>
            <div class="row grey" *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3">
                        <strong>Full payout to?</strong>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{(actionObj?.agreementObj?.full_payment_to_iquippo && actionObj?.agreementObj?.full_payment_to_iquippo == true) ? 'iQuippo' : 'Seller'}} </div>
                </div>
            </div>
            <div class="row grey" *ngIf="this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin">
                <div class="col-md-6">
                    <div class="p-3">
                        <strong>Buyer Premium applicable?</strong>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{(actionObj?.agreementObj?.is_buyer_premium && actionObj?.agreementObj?.is_buyer_premium == true) ? 'Yes' : 'No'}} </div>
                </div>
            </div>
            <div *ngIf="(checkEmptyObject(actionObj.agreementObj?.bankObj)) && (this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Bank Name</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"> {{actionObj.agreementObj.bankObj.bank}}
                           </div>
                    </div>
                </div>
                <div class="row grey">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Branch Name</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"> {{actionObj.agreementObj.bankObj.branch}} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Account Number</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"> {{actionObj.agreementObj.bankObj.account_number}} </div>
                    </div>
                </div>
                <div class="row grey">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Account Holder Name</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"> {{actionObj.agreementObj.bankObj.account_holder_name}} </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Ifsc Code</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"> {{actionObj.agreementObj.bankObj.ifsc_code}} </div>
                    </div>
                </div>
                <div class="row grey">
                    <div class="col-md-6">
                        <div class="p-3"><strong> Cancelled Cheque</strong></div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-3"
                            *ngIf="(actionObj.agreementObj?.bankObj?.cancelled_cheque !='' && actionObj.agreementObj?.bankObj?.cancelled_cheque!=null) && (this.userRole === this.app.roles.admin || this.userRole === this.app.roles.superadmin)">
                            <a href="javascript:void(0)" class="cursor-pointer modified-a"
                                (click)="sharedService.download(actionObj.agreementObj.bankObj.cancelled_cheque)">Download
                                Cancelled Cheque</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-body overflow-hidden" *ngIf="actionObj.isFromBidder">
        <div class="agreement-detail-list">
            <div class="row grey">
                <div class="col-md-6">
                    <div class="title p-3"><strong> Start date</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{actionObj.agreementObj.created_at | date:'dd-MM-yyyy'}}</div>
                </div>
            </div>

            <div class="row grey">
                <div class="col-md-6">
                    <div class="p-3"><strong> Agreement Letter</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"><a href="javascript:void(0)" class="cursor-pointer modified-a" (click)="sharedService.download(actionObj.agreementObj.document_url)">Download Agreement Letter</a></div>
                </div>
            </div>

            <!-- <div class="row grey">
                <div class="col-md-6">
                    <div class="p-3"><strong> Status</strong></div>
                </div>
                <div class="col-md-6">
                    <div class="p-3"> {{actionObj.agreementObj.bank_details.cancelled_cheque}} </div>
                </div>
            </div> -->
        </div>
    </div>
</div>