.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
  }
  .popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
  }
  .popup {
    background: #fff;
    border-radius: 20px;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }
  
  .dialog-actions-container{
    margin-top: 16px;
  }
  .agreement-detail-list {border: 1px solid #e0e4e8; padding: 0px 15px;}
  .agreement-detail-list .grey {background-color: #f8fbfd; border: 1px solid #e0e4e8;}
  


  @media(max-width: 767px) {

    .popup-body {max-width: 100%; width: 100%;}
    .modal-popup .close-btn {margin-top: -0px !important;}
    .modal-popup .popup-hdr h4 {width: 72%;}
    .agreement-detail-list .row .p-3 {padding: 10px 0px !important;}

  }