/* corporate details style start */
.corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
    width: 20%;
    margin-bottom: 0.5rem;
}

/* for mobile */

@media (max-width: 575.98px) { 
    
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
        width: 50%;	}
    

    }


/* corporate style end */

.h-80{
    height: 80px;
}
.div-wraapper{
    width: calc(100% - 18em);
    padding: 0 30px 40px 30px;
    float: right;
    transition: 0.5s;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  
    /* .div-wraapper {padding: 20px 15px; margin-top: 80px; width: 100%; float: none; transition: 0.5s;} */
  
  }


  .type-block h4.title {
    font-size: 14px !important; 
    padding: 10px;
    font-weight: 600;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    background: #0f3d94;
}
.type-block-box {padding: 12px;}
.type-block {
    border: 1px solid #c4cfd8; 
    border-radius: 6px;
}


@media screen and (max-width: 767px) {

    .div-wraapper {
        padding: 0px 10px 20px !important;
        width: 100%;
    }

}