<main class="div-wraapper">
  <div class="product-wrapper-box p-0">
  <section class="myself-details-main-wrapper corporate-details-main-wrapper">
    <div class="row">
      <div class="col-12 p-0">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                class="step-lbl">Profile</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span
                class="step-lbl">Preference</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                class="step-lbl">Banking</span></div>
                <!-- <div class="step-block"> <span class="step-no"><span class="steps">4</span></span><span
                  class="step-lbl">Terms & Conditions</span></div> -->
          </div>
        </div>


      </div>

    </div>
    <form [formGroup]='corporateProfileForm'>
      <div class="main-content-wrapper p-0">
        <fieldset>
          <div class="main-form-details-container">
            <div class="row">
              <div class="col-12 col-sm-12">
              </div>
            </div>
          </div>
        </fieldset>
        <div class="customer-details-wrapper address-wrapper">
          <h4 class="title">Corporate Address</h4>
          <div>
            <div class="row m-0">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Address Line1 <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <textarea matInput placeholder="" type="text" formControlName="StreetAddress1"> </textarea>
                </mat-form-field>

                <div
                    *ngIf="corporateProfileForm?.get('StreetAddress1')?.touched && corporateProfileForm?.get('StreetAddress1')?.hasError('required')">
                    <span class="validation-err">Please enter Address.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">Pincode <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder=""
                    type="text" (keyup)="getLocationData()" (blur)="getLocationData()" formControlName="PinCode"
                    >
                </mat-form-field>
                <div
                *ngIf="corporateProfileForm?.get('PinCode')?.touched && corporateProfileForm?.get('PinCode')?.hasError('required')">
                <span class="validation-err">Please enter PinCode.</span>
            </div>
                <!-- <div
                  *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('required')">
                  <span class="validation-err">Please enter pincode.</span>
                </div>
                <div
                  *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.value!='' && (corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('minlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('pinCodeErrorFlag')?.value || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('maxlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('pattern'))">
                  <span class="validation-err">Please input a valid pincode</span>
                </div> -->
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">State <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput formControlName="State" type="text" readonly>

                </mat-form-field>
                <div
                *ngIf="corporateProfileForm?.get('State')?.touched && corporateProfileForm?.get('State')?.hasError('required')">
                <span class="validation-err">Please enter State.</span>
            </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                <label for="">City <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" readonly formControlName="City">
                </mat-form-field>
                <div
                *ngIf="corporateProfileForm?.get('City')?.touched && corporateProfileForm?.get('City')?.hasError('required')">
                <span class="validation-err">Please enter City.</span>
              </div>
              </div>
            </div>
          </div>
          <!-- <div class="addaddress-btn">
            <button mat-flat-button (click)="addNewAddress()"> <span class="material-icons">add</span> Add Another
              Address</button>
          </div> -->
        </div>
          <div class="customer-details-wrapper address-wrapper">
            <h4 class="title">Brand</h4>
            <mat-form-field appearance="fill">
              <mat-select class="select-new-ui" formControlName ="Brand" multiple>
                <mat-option *ngFor="let topping of modelList" [value]="topping.id">{{topping.display_name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
            *ngIf="corporateProfileForm?.get('Brand')?.touched && corporateProfileForm?.get('Brand')?.hasError('required')">
            <span class="validation-err">Please enter Brand.</span>
        </div>
          </div>
      </div>

      <div class="row mb-12">
        <div class="col-12 col-sm-4">
         
        </div>
        <div class="col-12 col-sm-8">    
          <div class="saveandcont-btn">
            <button mat-flat-button 
              (click)="onSubmit()">Save &amp;
              Continue</button>
          </div>
        </div>
      </div>
    </form>

  </section>
</div>
</main>