<div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">{{field.label}}</label>
<mat-form-field class="demo-full-width margin-top" [formGroup]="group">
    <mat-select class="select-new-ui" [formControlName]="field.name">
    <mat-option *ngFor="let item of field.options" [value]="item">{{item}}</mat-option>
    </mat-select>
    </mat-form-field></div>