.popup-hdr {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px solid #A0ADb7;
  color: #000000;
  position: relative;
}
.sub-section-tabs h4.title {
  font-size: 16px;
  margin: 0px;
  line-height: 36px;
}
.popup-body {
  padding: 20px ;
  max-height: 80vh;
  overflow-y: auto;
}
.popup-available-space{
  padding: 12px 20px;
  color: #204555;
  background: #E2F5E9;
  border-radius: 6px;
}
.popup {
  background: #fff;
  border-radius: 20px;
}
.close-btn{
  background: transparent;
  float: right;
  border: none;
}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container{
  margin-top: 16px;
}

.add-new-field {border: 1px solid #c4cfd8; border-radius: 6px;}
.add-new-field h4.title {font-size: 16px; color: #fff; background-color: #0f3d94; padding: 15px 10px; border-radius: 6px 6px 0px 0px;}
.add-new-field form {padding: 10px;}