<div class="popup">
  <!-- <div class="popup-hdr">
   
     <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->
  <div class="popup-body p-0 overflow-hidden">
    <div class="add-new-field mb-3">
      <h4 class="title">{{isEdit ? 'Edit' : 'Add'}} Pincode</h4>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">Country<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>Country</mat-label>
              <mat-select formControlName='Country' (selectionChange)="getStates($event.value)"
                placeholder="Select Country">
                <mat-option *ngFor="let country of countryDataSource" [value]="country.id">
                  {{ country.name }}
                  <!-- {{country.name}} -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">State<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>State</mat-label>
              <mat-select formControlName='State' (selectionChange)="getCities($event.value)"
                placeholder="Select  State">
                <mat-option *ngFor="let state of stateDataSource" [value]="state.id">{{state.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">City/Location Name<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>City/Location Name</mat-label>
              <mat-select formControlName='CityName' placeholder="Select City/Location Name">
                <mat-option *ngFor="let city of cityDataSource" [value]="city.id">{{city.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
            <label class="f-12 d-block">Pincode<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>Pincode</mat-label>
              <input matInput placeholder="Enter Pincode" autocomplete="off" type="text" formControlName='Pincode'
                class="">
              <input formControlName='id' type="hidden">
            </mat-form-field>
          </div>
        </div>
        <div class="text-right dialog-actions-container">
          <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
          <!-- (click)="backClick()" -->
          <button class="default-btn plr-md-40" [disabled]="!form.valid" (click)="okClick()" mat-button>{{isEdit ?
            'Edit' : 'Add'}}</button>
        </div>
      </form>
    </div>

  </div>
</div>