<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Certificate Master</li>
                </ol>
            </div>
            <div class="admin-page-heading ">
                <div class="admin-page-header col-lg-6 col-8">
                    <h3 class="admin-page-title">Certificate Master</h3>
                </div>

                <!-- <div class="col-md-2 col-sm-6 ml-auto">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
            </div> -->
            </div>
            <div class="custom-table-main">
                <div class="user-management">
                    <section class="add-certificate" *ngIf="showForm">
                        <div class="row">
                            <div class="col-sm-12 sub-title">
                                <h4 class="title">Add Certificate</h4>
                            </div>
                        </div>
                        <div class="add-certificate-section">
                            <form [formGroup]="addCertificateForm" (ngSubmit)="addCertificate()">
                                <div class="row">
                                    <!-- <div class="form-group col-sm-4 mb-3">
                                    <label class="f-12 d-block">Certificate<span class="text-warning">*</span></label>
                                    <mat-select placeholder="Select Certificate" (selectionChange)="onChangeCertificate($event.source.value)" required formControlName="certificateName">
                                        <mat-option
                                            *ngFor="let certificate of certificateMasterDataModel.certificateDataSource"
                                            [value]="certificate.id">
                                            {{certificate.name}}
                                        </mat-option>
                                    </mat-select>
                                </div> -->
                                    <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">Certification Name
                                        <span class="text-warning">*</span>
                                    </label>
                                        <input matInput formControlName="name" type="text" placeholder="Certification Name" autocomplete="off">
                                        <div *ngIf="(addCertificateForm.get('name')?.touched) && (addCertificateForm?.get('name')?.hasError('required'))">
                                            <span class="validation-err">Please enter certification Name</span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-sm-6 form-group mb-3">
                                        <label class="f-12 d-block">Sort By</label>
                                        <input matInput formControlName="sortBy" type="number" min="0" placeholder="Sort By" autocomplete="off">
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-6 form-group mb-3">
                                        <label class="f-12 d-block">Add Certificate Description By</label>
                                        <textarea matInput formControlName="certificateDesc" type="text" placeholder="" autocomplete="off"></textarea>
                                    </div>
                                    <div class="form-group upload-input col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block">Upload Logo Image</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" #fileInputLogo *ngIf="!addCertificateForm.get('certificate_logo_image').value" (change)="handleUpload($event, 'certificate_logo_image');">
                                            <label class="custom-file-label" for="front">
                                            <!-- <span class="upload-icon2"></span> -->

                                            <!-- <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                file</span></span></label> -->
                                            <!-- <label class="custom-file-label custom-file-label2" for="front"> -->
                                            <span class="cust-upload-txt cust-upload-txt2">{{addCertificateForm.get('certificate_logo_image').value
                                                ?
                                                getFileName('certificate_logo_image',addCertificateForm.get('certificate_logo_image').value)
                                                : 'Choose a file'}}</span>
                                            <span class="upload-icon2" *ngIf="!addCertificateForm.get('certificate_logo_image').value"></span>
                                            <span class="delet-icon" *ngIf="addCertificateForm.get('certificate_logo_image').value" (click)="deleteFile('certificate_logo_image', addCertificateForm.get('certificate_logo_image').value)">
                                                <img src="../../../assets/images/Delete_icon.svg">
                                            </span>
                                            </label>

                                        </div>
                                    </div>

                                    <!-- <div class="form-group col-sm-4 upload-input mb-3">
                                    <label class="f-12 d-block">Upload Primary Image</label>                               
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" #fileInputPrimaryImg>
                                        <label class="custom-file-label"><span class="upload-icon2"></span>
                                            <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                    file</span></span></label>
                                    </div>                               
                                </div> -->

                                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                        <label class="f-12 d-block d-md-none invisible">Upload Logo Image</label>
                                        <div class="checkbox mt-3">
                                            <mat-checkbox formControlName="seoInfo" (change)="addSEOInfo($event.checked)">
                                                Add SEO Information</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <!--SEO Group-->
                                <div class=" ng-scope mb-3">
                                    <div class="" *ngIf="certificateMasterDataModel.addSEOInfoGroup">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4 col-sm-6 form-group">
                                                <label class="f-12 d-block">SEO Title For Group</label>
                                                <input matInput id="gSeoTitle" formControlName="gSeoTitle" placeholder="Enter SEO Title For Group" autocomplete="off">
                                            </div>
                                            <div class="col-md-6 col-lg-4 col-sm-6 form-group">
                                                <label class="f-12 d-block">SEO Meta Keywords For Group</label>
                                                <input matInput id="gSeoMetaKey" formControlName="gSeoMetaKey" placeholder="Enter SEO Meta Keywords For Group" autocomplete="off">
                                            </div>
                                            <div class="form-group col-md-6 col-lg-4 col-sm-6">
                                                <label class="f-12 d-block">SEO Meta Description For Group</label>
                                                <textarea matInput id="gSeoMetaDes" formControlName="gSeoMetaDes" placeholder="" autocomplete="off"> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ng-scope">
                                    <div class="col-md-12">
                                        <div class="save-btn">
                                            <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
                                            <button mat-button class="default-btn">{{certificateMasterDataModel.actionName}}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- end ngIf: g.seoContent.p || g.seoContent.title || g.seoContent.metaKey || g.seoContent.metaDes -->
                            </form>
                        </div>
                    </section>

                    <div class="user-management-top-section">
                        <div class="row my-3">
                            <div class="col-md-5 col-lg-6 col-sm-6 col-12 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Search Certificate" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" type="text">
                                </mat-form-field>
                            </div>
                            <div class="col-md-7 col-lg-6 col-sm-6 certificate-btn col-12 text-right">
                                <div class="exportWrapper d-inline-block text-right align-middle">
                                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()"><i
                                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                                </div>
                                <button mat-button class="default-btn add-certificate-btn align-middle" *ngIf="!showForm" (click)="showForm = true">
                                Add Certificate</button>

                            </div>
                        </div>
                    </div>

                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">ID</span> {{element.id}} </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Certificate Name</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Certificate Name</span> {{ element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Order</span> {{ element.order }} </td>
                                </ng-container>

                                <ng-container matColumnDef="used_equipment_count">
                                    <th mat-header-cell *matHeaderCellDef> Used Equipment Count </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Used Equipment Count</span> {{ element.used_equipment_count }} </td>
                                </ng-container>

                                <ng-container matColumnDef="new_equipment_count">
                                    <th mat-header-cell *matHeaderCellDef> New Equipment Count </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Used Equipment Count</span> {{ element.new_equipment_count }} </td>
                                </ng-container>

                                <ng-container matColumnDef="Actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button class="simple-btn" mat-button (click)="action('Edit',element.id)">
                                            <span>
                                                <img src="../../../assets/images/editicon.svg" title="Edit" alt="Edit">
                                            </span>
                                        </button>
                                            <button class="simple-btn delet-icon" mat-button (click)="action('Delete',element.id)">
                                            <span class="mat-button-wrapper">
                                                <span>
                                                    <img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                        title="Delete">
                                                </span>
                                            </span>
                                        </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="tblCertificateColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: tblCertificateColumns"></tr>
                            </table>
                            <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                        </div>
                    </div>
                    <mat-paginator (page)="onPageChange($event)" [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</mat-card>