.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.mat-card {
  padding: 0px;
}
.sub-title {
  font-size: 16px;
}
.add-certificate-section label {
  color: #77828a;
  font-weight: 600;
}
.upload-input .custom-file {
  position: relative;
  height: 46px;
}
.upload-input .custom-file-input {
  position: absolute;
  height: 46px;
  cursor: pointer;
}
.upload-input .custom-file-label {
  padding: 0px;
  position: relative;
  width: 100%;
  height: 46px;
  margin-bottom: 0px;
  line-height: 46px;
}
.upload-input .custom-file .upload-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  background-size: cover;
  width: 30px;
  height: 30px;
}
.upload-input .custom-file .cust-upload-txt {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.upload-input .custom-file .cust-upload-txt .blue-txt {
  text-decoration: none;
}
.custom-file {
  height: auto;
}
.save-btn button {
  padding: 0px 50px;
}
.save-btn {
  text-align: right;
}
.asset-table .inner-table {
  border: 1px solid #e0e4e8;
  border-radius: 10px;
}
.asset-table table {
  max-width: 100%;
  overflow: auto;
}
.asset-table table th,
.asset-table table td {
  font-size: 12px;
  border-color: #e0e4e8;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
}
.asset-table table td:first-child {
  border-top: 0px;
}
.asset-table table td button.simple-btn {
  width: 35px;
  min-width: inherit;
  margin-right: 8px;
  margin-left: 0px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  padding: 0px;
  border-radius: 50%;
  background-color: #e7eef2;
}
.asset-table table td button.simple-btn.delet-icon {
  background-color: #ffefec;
}
.asset-table table td button.simple-btn span {
  font-size: 18px;
}
.asset-table table td.mat-column-is_active {
  color: #00a767;
}
.asset-table table td button.simple-btn:last-child {
  margin-right: 0px;
}
.asset-table table tr:nth-child(even) {
  background-color: #f8fbfd;
}
.asset-table table .mat-header-row th {
  background-color: #0d4fa3;
  color: #fff;
}
.asset-table table tr:hover {
  background-color: #f8fbfd;
}
.asset-table .inner-table {
  border-radius: 10px;
}
.default-tbl {
  border: 1px solid #e0e4e8;
  overflow: auto;
}
.default-tbl mat-row,
.default-tbl .mat-header-row {
  border-color: #e0e4e8;
}
.default-tbl mat-cell,
.default-tbl .mat-cell {
  color: #333;
  opacity: 0.87;
  white-space: nowrap;
  height: 42px;
  padding: 15px 21px;
}
.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
  padding-left: 21px;
  min-width: 50px;
  padding-right: 0px;
}
.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.default-tbl mat-row:hover {
  background-color: #f8fbfd;
}
.asset-table .table-hover tbody tr:hover {
  background-color: #f8fbfd;
}
.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
  border-color: #e0e4e8;
}
.asset-table .default-tbl .mat-row:nth-child(odd) {
  background-color: #f8fbfd;
}
.asset-table .default-tbl .mat-cell .simple-btn {
  width: 35px;
  margin-right: 8px;
  margin-left: 0px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  padding: 0px;
  border-radius: 50%;
  background-color: #e7eef2;
}
.asset-table .default-tbl .mat-cell .simple-btn.delet-icon {
  background-color: #ffefec;
}
.add-certificate {
  border: 1px solid #cdd6dc;
  margin-bottom: 15px;
  background-color: #fdfdfd;
  border-radius: 8px;
}
.add-certificate .title {
  font-size: 16px;
  background: #0f3d94;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  color: #fff;
}
.add-certificate-section {
  padding: 10px;
}
.custom-table-main {
  margin-bottom: 40px;
}
.no-record {
  padding: 10px;
}
.exportWrapper button {
  background: #00a767;
  font-size: 14px;
  color: #fff;
  margin-right: 12px;
  padding: 2px 20px;
  height: 40px;
}

.custom-file-label::after {display: none;}

.delet-icon {
  width: 35px;
    height: 35px;
    background: #dee5ea;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 4px;
    float: right;
    margin-right: 6px;
}

.certificate-btn .add-certificate-btn button i {font-size: 0px;} 

@media screen and (max-width: 992px) and (min-width: 768px) {

  .exportWrapper button {padding: 2px 10px;}
}

@media screen and (max-width: 767px) {

  .certificate-btn .exportWrapper button {font-size: 0px;}
  .certificate-btn .exportWrapper button i {font-size: 18px; padding-top: 10px; padding-right: 0px !important;}
  .certificate-btn button.add-certificate-btn {font-size: 0px;}
  .certificate-btn button.add-certificate-btn i {font-size: 18px;}

  .main-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    line-height: 28px;
  }
  .save-btn button {
    padding: 5px 35px;
    margin-bottom: 10px;
  }
  .used-upload-section .title {
    font-size: 20px;
  }
  .add-user button {
    height: 36px;
  }
}
.custom-file-label::after{
  content:'' !important;
}

