.codereset-bkbtn button{ width: 100%; color: #094FA3; font-size: 14px; font-weight: 500; background: #fff; height: 46px; border-radius: 6px;}
.codereset-btn button{ width: 100%; background: #094FA3; font-size: 14px; font-weight: 500; color: #fff; height: 46px; border-radius: 6px;}
.coderest-resend-btn{ text-align: center; margin-top: 1rem;}
.coderest-resend-btn a{ color: #094FA3; font-size: 14px; font-weight: 500; text-decoration: underline; }
.codereset-password-wrapper .signup-wrapper h2 {
    font-size: 26px;
    margin-top: 1rem;	
}
.codereset-password-wrapper .codereset-block{ text-align: center; width: 80%; margin: 0 auto;}

.errorColor{
	color: red;
}
.otp-wrapper .mat-input-element {
    text-align: left !important;
    padding-left: 15px !important;
    font-size: 14px;
    color: #001229;
    font-weight: 500;
}
.otp-wrapper2.otp-wrapper .mat-input-element{
    text-align: center !important;
    padding-left: 0 !important;
    font-size: 14px;
    color: #001229;
    font-weight: 500;
}