<main class="container-fluid codereset-password-wrapper">
    <section>
      <div class="row">
        <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
          <!-- <div class="left-side-container">
            <div class="welcome-box">
              <h2 class="sub-header">Welcome to iQuippo</h2>
              <p class="sub-header-text">India’s leading marketplace for end-to-end asset
                lifecycle management</p>
              <ul class="tracker-list d-xs-none">
                <li>95,000+ Registered Customers</li>
                <li>Track Ongoing & Upcoming Auctions</li>
                <li>Get Updated on financing Offers</li>
              </ul>
              <ul class="list-details d-xs-none ">
                <li>buy</li>
                <li>sell</li>
                <li>rent</li>
                <li>finance</li>
                <li>valuation</li>
              </ul>
            </div>
          </div> -->
          <app-left-menu></app-left-menu>
        </div>
        <div class="col-12  col-md-6 col-lg-7 right-side-container">
          <div class="signup-wrapper">
              <div class="codereset-block">
                  <img src="/assets/images/code-reset-image.png" alt="" class="img-fluid">
                <h2>Password Reset Code</h2>
                <p class="sign-up-text">You’ve requested a password reset. To get a new password, please check your inbox and enter the Password Reset Code.</p>
              </div>
              <div>
                <p>*If your Account exists on our website, You will recieve an OTP.</p>
              </div>
           
            <form [formGroup]="resetForm">
                <div class="otp-wrapper otp-wrapper2">
                    <label for="">Password Reset Code</label>
                    <div class="row otp-group" >
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp1" maxlength="1" #otp1 (focus)="myfun('11')" (keyup)="myfun('1')">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp2" maxlength="1" #otp2 (focus)="myfun('22')" (keyup)="myfun('2')">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp3" maxlength="1" #otp3 (focus)="myfun('33')" (keyup)="myfun('3')">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp4" maxlength="1" #otp4 (focus)="myfun('44')" (keyup)="myfun('4')">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp5" maxlength="1" #otp5 (focus)="myfun('55')" (keyup)="myfun('5')">
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" formControlName="otp6" maxlength="1" #otp6 autocomplete="off" (focus)="myfun('66')" (keyup)="myfun('6')">
                        </mat-form-field>
                      </div>
                    
                    </div>
                 
                  </div>
                  <mat-error> 
                    <div class="validation-err" *ngIf="otpError">
                      Enter complete 6 digit Numeric OTP.
                    </div>
                    <!-- <div class="validation-err" *ngIf="resetForm.get('otp1')?.touched && (resetForm.get('otp1')?.hasError('required') || resetForm.get('otp2')?.hasError('required') ||resetForm.get('otp3')?.hasError('required') ||resetForm.get('otp4')?.hasError('required') ||resetForm.get('otp5')?.hasError('required') ||resetForm.get('otp6')?.hasError('required') )">
                      Enter complete 6 digit Numeric OTP.
                    </div> -->
                    <!-- <div class="validation-err" *ngIf="(resetForm.get('otp1')?.hasError('pattern') || resetForm.get('otp2')?.invalid || resetForm.get('otp3')?.invalid && resetForm.get('otp4')?.invalid || resetForm.get('otp5')?.invalid || resetForm.get('otp6')?.invalid ) && resetForm.get('otp1')?.touched">
                      Enter complete 6 digit Numeric OTP.
                    </div> -->
                  </mat-error>

                 <!-- pass and new pass form -->
                 <div class="otp-wrapper">
                  <div class="sign-in-pwd-wrapper">
                    <label for="">Password</label>
                  <div class="row mb-3">
                    <div class="col-12">
                      <mat-form-field floatLabel="never">
                        <input matInput [type]="fieldTextType ? 'text' : 'password'" placeholder="" value=""  formControlName='Password'>
                        <mat-icon class="material-icons-outlined cursor-pointer eyeicon" (click)="fieldTextType = !fieldTextType" matSuffix>{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>                   
                      </mat-form-field>
                      <!-- <mat-form-field floatLabel="never">
                        <input matInput placeholder="" value="" autocomplete="off" [type]="fieldTextType ? 'text' : 'password'" formControlName='Password' >
                        <mat-icon class="material-icons-outlined cursor-pointer" matSuffix (click)="fieldTextType = !fieldTextType">{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field> -->
                      <mat-error>
                        <div class="validation-err" *ngIf="resetForm.get('Password')?.hasError('required') && resetForm.get('Password')?.touched">
                             Please enter the password.
                        </div>
                        <div class="validation-err" *ngIf="resetForm.get('Password')?.hasError('pattern') && resetForm.get('Password')?.touched" >
                          Password must contain atleast one numeric, one small case, one capital case character, one special character and minimum length should be 8.
                     </div>
                      </mat-error>
                    </div>           
                  </div>
    
                  <label for="">Confirm New Password</label>
                  <div class="row mb-4">
                      <div class="col-12">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" value="" [type]="fieldTextType1 ? 'text' : 'password'" formControlName='confirmPassword'>
                          <mat-icon class="material-icons-outlined cursor-pointer eyeicon" (click)="fieldTextType1 = !fieldTextType1" matSuffix>{{fieldTextType1 ? 'visibility' : 'visibility_off'}}</mat-icon>                   
                        </mat-form-field>
                        <mat-error>
                          <div class="validation-err" *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched">
                            Please re-enter the password.
                          </div>
                          <div class="validation-err" *ngIf="resetForm.get('confirmPassword')?.hasError('notMatch') && resetForm.get('confirmPassword')?.touched">
                            Password didn't match.
                       </div>
                        </mat-error>
                      </div>            
                    </div>
                  <!-- <div class="row">                
                 
                      <div class="col-12">
                        <div class="reset-pwd-btn">
                          <button mat-flat-button (click)="onSubmit()">Reset Password</button>
                        </div>  
                      </div>
                    </div> -->
                 
                  </div>
            </div>


            </form>
            <span class="validation-err">{{message}}</span>
            
            <div class="otp-wrapper">
              <div class="sign-in-pwd-wrapper">              
             
              <div class="row mt-3">                
                <div class="col-6 pr-0">
                 <div class="codereset-bkbtn">
                  <button mat-stroked-button (click)="gotoResetPass()">Back</button>
                 </div> 
                </div>
                <div class="col-6">
                  <div class="codereset-btn">
                    <button mat-flat-button (click)="resetPassFun()" >Reset Password</button>
                  </div>  
                </div>
              </div>
              <div class="row">
                  <div *ngIf = "resendOTP" class="col-12 coderest-resend-btn">
                      <a href="javaScript:void(0)" (click)="sendOTP()">Resend OTP</a>
                  </div>
                  <div *ngIf = "!resendOTP" class="col-12 coderest-resend-btn">
                    <a href="javaScript:void(0)">Resend OTP in {{remainingTime}}</a>
                </div>
              </div>
              </div>
             
              
             
              
            </div>
            
           
          </div>
        </div>
      </div>
    </section>
  
  </main>