.aboutus-maincontainer {
    margin-bottom: 3rem;
}

img {
    width: 100%;
}

.aboutus-maincontainer .banner-below-text-container p {
    margin-bottom: 0;
    padding: 30px 0;
}

.ourclients-container .mat-tab-label {display: none !important;}

.aboutus-maincontainer .card {
    margin: 15px 0;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
    border: 0;
}

.faded-card-shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .08) !important
}

.aboutus-maincontainer .card .markt-place-description-block {
    background: #f3f6fa;
    padding: 25px;
}

.aboutus-maincontainer .card .markt-place-description-block .block-title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.aboutus-maincontainer .card .markt-place-description-block .sub-title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.aboutus-maincontainer .card .markt-place-description-block .right-side-bar::after {
    content: '';
    background: url('/assets/images/rightbar.png');
    width: 30px;
    height: 100%;
    position: absolute;
    right: -10px;
    top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.aboutus-maincontainer .card .markt-place-description-block .block-level {
    margin-bottom: 5rem;
}

.aboutus-maincontainer .ceo-speaks-container {
    position: relative;
    margin-bottom: 1rem;
}

.aboutus-maincontainer .ceo-speaks-container .ceo-speak-txt.block-title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    background: #ed1c24;
    width: 300px;
    text-align: center !important;
    padding: 0px 10px;
    border-radius: 6px;
    margin-left: auto;
    color: #fff;
}

.ceo-speaks-container .ceo-img-block img {
    border-radius: 10px;
}

.ceo-speaks-container .ceo-img-block {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
    border: 0;
    background: #fff;
}

.aboutus-maincontainer .ceo-speaks-container .ceo-msg-block {
    position: absolute;
    right: 4em;
    top: 35%;
    width: 655px;
    padding: 2rem 3rem;
    background: #fff;
    border-radius: 10px;
}

.aboutus-maincontainer .ceo-speaks-container .ceo-msg-block .msg-quote {
    font-size: 14px;
    line-height: 25px;
}

.ceo-speak-txt .ceo-txt-color {
    color: #f7f7f7;
}

.aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::before {
    background: url('/assets/images/quote-sign.png');
    content: '';
    position: absolute;
    width: 65px;
    height: 55px;
    top: -13px;
    left: -33px;
}

.aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::after {
    background: url('/assets/images/quote-sign.png');
    content: '';
    position: absolute;
    width: 65px;
    height: 55px;
    bottom: -13px;
    right: -33px;
    transform: rotateY(180deg);
}

.aboutus-maincontainer .mkt-place-singlebanner {
    margin-bottom: 2rem;
}

.aboutus-maincontainer .ourclients-container .mat-tab-group {
    border: 0px;
}

.aboutus-maincontainer .ourclients-container .mat-tab-header {
    border-bottom: 0;
}

.aboutus-maincontainer .ourclients-container .mat-tab-labels {
    justify-content: center;
}

.aboutus-maincontainer .ourclients-container .mat-tab-label-active::after {
    display: none;
}

.aboutus-maincontainer .ourclients-container #mat-tab-label-0-0.mat-tab-label-active {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.aboutus-maincontainer .ourclients-container .mat-tab-label {
    border: 1px solid rgba(0, 0, 0, .5);
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.aboutus-maincontainer .block-title {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.aboutus-maincontainer .mat-stroked-button {
    border: 1px solid #0f3d94;
    padding: 0 15px;
    line-height: 34px;
    color: #0f3d94;
    background: none;
    font-size: 14px;
    font-weight: 400;
}

.aboutus-maincontainer .view-all-btn-block {
    text-align: right;
    position: relative; 
}

.aboutus-maincontainer .logos-block {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.ourclients-container .mat-tab-header {display: none !important;}
.aboutus-maincontainer .logos-block ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}

.aboutus-maincontainer .logos-block ul li {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.aboutus-maincontainer .logos-block ul li img {
    width: 200px;
}

.aboutus-maincontainer .media-container .overlay-block {
    background: #000;
    width: 95.4%;
    height: 80px;
    position: absolute;
    bottom: 20px;
    left: auto;
    opacity: 0.5;
    z-index: 5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.aboutus-maincontainer .media-container .overlay-text {
    position: absolute;
    left: auto;
    bottom: 20px;
    color: #fff;
    z-index: 10;
    width: 95%;
    padding: 0 10px;
    height: 80px;
    display: flex;
}

.aboutus-maincontainer .media-container .overlay-text p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.aboutus-maincontainer .right-media-img-block .overlay-block {
    width: 100% !important;
    bottom: 16px !important;
    height: 55px !important;
}

.aboutus-maincontainer .right-media-img-block .overlay-text {
    width: 100% !important;
    bottom: 17px !important;
    height: 55px !important;
}

.aboutus-maincontainer .testimonial-container .carousel-indicators {
    left: 37%;
}

.aboutus-maincontainer .testimonial-container .carousel-indicators>button {
    width: 60px !important;
    height: 5px !important;
    background: #eee;
    border-radius: initial;
}

.aboutus-maincontainer .testimonial-container .carousel-indicators>button:disabled {
    background: #0f3d94;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .carousel-slide-content {
    background: #fff;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block {
    text-align: center;
    position: relative;
    color: #fff;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .carousel {
    height: 400px !important;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .profile-block {
    position: relative;
    z-index: 10;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description {
    background: transparent linear-gradient(105deg, #1551B5 0%, #A5171D 100%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 50px 30px 20px;
    position: relative;
    top: -43px;
    margin: 0 50px;
}

.testimonial-container .carousel-indicators {
    transform: none;
    -webkit-transform: none;
    left: inherit;
    width: 100%;
    margin: 0px;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description::before {
    background: url('/assets/images/quote-sign.png');
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    top: -13px;
    left: -45px;
    background-size: contain;
    filter: grayscale(100%);
    opacity: 0.3;
}

.aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description::after {
    background: url('/assets/images/quote-sign.png');
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    bottom: -13px;
    right: -45px;
    background-size: contain;
    transform: rotateY(180deg);
    filter: grayscale(100%);
    opacity: 0.3;
}

.ceo-speak-txt.ceo-speak-txt1 {
    display: none;
}


@media(max-width: 768px) {
    .aboutus-maincontainer .ceo-speaks-container .ceo-speak-txt.block-title {width: 100%; margin-bottom: 15px;}
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block h2 {margin-bottom: 0px;}
    .aboutus-maincontainer .banner-below-text-container p { 
        padding: 15px 0;
    }
    .ceo-speak-txt.ceo-speak-txt2 {display: none;}
    .ceo-speak-txt.ceo-speak-txt1 {
        display: block;
    }
    .mat-tab-body-content {padding: 1rem;}
    .aboutus-maincontainer .card {border-radius: 10px;} 
    /* .media-container.media-section .block-title {padding-top: 10px;}
    .aboutus-maincontainer .media-container.media-section .view-all-btn-block {top: -32px;} */
    .aboutus-maincontainer .card .markt-place-description-block .block-title,
    .aboutus-maincontainer .block-title {font-size: 20px;}
    /* .aboutus-maincontainer .view-all-btn-block {top: -16px;} */
    .aboutus-maincontainer .logos-block ul {display: inherit;}
    .aboutus-maincontainer {margin-bottom: 1rem;}
    .aboutus-maincontainer .logos-block ul li {display: inline-block; width: 30%; margin-right: 20px;}
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul {font-size: 20px !important; margin-bottom: 0px;}
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li, 
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist {width: 50% !important; vertical-align: top;}
    .aboutus-maincontainer .mkt-place-singlebanner {height: 280px !important; padding: 1rem !important; margin-bottom: 0px !important;}
    .testimonial-carousel-block .profile-block img {width: 90px !important;}
    .testimonial-description p {    display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 85px;
        margin-bottom: .5rem!important;}
    /* india's leading digital market place -- start */
    .aboutus-maincontainer .mkt-place-singlebanner {
        height: 200px;
        background-size: contain;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul {
        font-size: 27px;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block h2 {
        margin-bottom: 15px;
        font-size: 22px;
    }
    .aboutus-maincontainer .mkt-place-singlebanner {
        padding: 1rem;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li {
        width: 130px;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist {
        width: 190px;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::before {
        left: -25px;
        top: 35px;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::after {
        right: 20px;
        top: 35px;
    }
    /* india's leading digital market place -- end */
    .aboutus-maincontainer .card {
        margin: 20px 0 0;
    }
    .aboutus-maincontainer .card .markt-place-description-block .right-side-bar::after {
        display: none;
    }
    .aboutus-maincontainer .card .markt-place-description-block .block-level {
        margin-bottom: 2rem;
        text-align: justify;
    }
    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block {
        position: static;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
        padding: 1.5rem 1.5rem;
    }

    
    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::before {
        top: 40px;
        left: -10px;
        width: 22px;
        height: 20px;
    }
    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::after {
        bottom: 10px;
        right: 10px;
        width: 22px;
        height: 20px;
    }
    .aboutus-maincontainer .media-container .overlay-block {
        width: 91%;
        bottom: 25px;
    }
    .aboutus-maincontainer .media-container .overlay-text {
        width: 91%;
        line-height: 18px;
    }
    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .carousel {
        height: 490px !important;
    }
}


/* mobile */

@media(max-width: 576px) {
    /* india's leading digital market place -- start */
    .aboutus-maincontainer .mkt-place-singlebanner {
        height: auto;
        background-repeat: round;
        background-size: cover;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li {
        margin-bottom: 1rem;
        width: 100%;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist {
        width: 100%;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::before {
        display: none;
    }
    .aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::after {
        display: none;
    }
    /* india's leading digital market place -- end */
    .aboutus-maincontainer .card {
        padding: 7px;
    }
    .aboutus-maincontainer .card .markt-place-description-block .block-level {
        margin-bottom: 1rem;
        text-align: left;
    }
    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::before {
        width: 22px;
        height: 20px;
        top: 60px;
        left: 10px;
        background-size: contain;
    }
    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block::after {
        width: 22px;
        height: 20px;
        bottom: 10px;
        right: 10px;
        background-size: contain;
    }
    .aboutus-maincontainer .media-container .overlay-block {
        width: calc(100% - 30px);
        bottom: 0;
    }
    .aboutus-maincontainer .media-container .overlay-text {
        width: calc(100% - 30px);
        line-height: 18px;
        bottom: 0;
    }

    .aboutus-maincontainer .ceo-speaks-container .ceo-msg-block {margin-top: 10px;}

    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .carousel {
        height: 745px !important;
    }
    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description {
        padding: 50px 10px 20px;
        margin: 0 30px;
    }
    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description::before {
        width: 24px;
        height: 20px;
        left: -29px;
    }
    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .testimonial-carousel-block .testimonial-description::after {
        width: 24px;
        height: 20px;
        right: -28px;
    }
}

@media(max-width: 320px) {
    .aboutus-maincontainer .testimonial-container .carousel-image-wrapper .carousel {
        height: 830px !important;
    }
}

.aboutus-maincontainer .ceo-speaks-container .card {
    background: #eee;
}

.ourclients-container .mat-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 auto;
}

.ourclients-container .mat-tab-header,
.ourclients-container .mat-tab-nav-bar {
    border-bottom: none;
}

.ourclients-container #mat-tab-label-0-0.mat-tab-label-active {
    border-top-left-radius: 6px;
    background: #0f3d94;
}

.ourclients-container .mat-tab-label {
    background: #eee;
    border: 1px solid #dedede;
}


/* india's leading digital market place -- start */

.testimonial-carousel-block .profile-block img {
    width: 140px;
}

.aboutus-maincontainer .mkt-place-singlebanner {
    padding: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    background: url('/assets/images/mkt-single-banner.png') no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 359px;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul {
    list-style: none;
    font-size: 45px;
    font-weight: 600;
    padding-left: 0;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li {
    display: inline-block;
    width: 270px;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist {
    width: 340px;
    position: relative;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::after {
    content: "|";
    position: absolute;
    right: 40px;
    top: 60px;
    font-weight: lighter;
    opacity: 0.5;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li.midlist::before {
    content: "|";
    position: absolute;
    left: -65px;
    top: 60px;
    font-weight: lighter;
    opacity: 0.5;
}

.aboutus-maincontainer .mkt-place-singlebanner .market-place-figures-block ul li .figure-block .fig-desc {
    font-size: 12px;
    font-weight: lighter;
}


/* india's leading digital market place -- end */

.aboutus-maincontainer .mat-tab-header,
.aboutus-maincontainer .mat-tab-nav-bar {
    border-bottom: none;
}