<section class="aboutus-maincontainer">  
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img src="/assets/images/main-banner.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
<div class="container">
   <div class="banner-below-text-container">
       <p>iquippo is India's first and largest digital marketplace for construction equipment, machinery, commercial vehicles and services. Our marketplace allows buyers and sellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner. 
    </p>
   </div> 
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <img src="/assets/images/mid-banner.png" class="img-fluid" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="markt-place-description-block">
            <div class="block-title">
                A Marketplace For Your Construction Needs !
            </div>
           <div class="row">
               <div class="col-lg-6 col-md-12 pr-md-0 pr-lg-5 right-side-bar">
                   <div class="block-level">
                    <img src="/assets/images/mkt-place-image1.png" class="img-fluid" alt="">
                   </div>
                   <div class="block-level">
                    <div class="sub-title">A digital marketplace launched to connect the contractors or construction companies</div>                    
                    <div class="mkt-desc1">iQuippo has developed proprietary tools for marketing and sales of equipment and market-connected dashboards, workflow tools that allow each stakeholder to centralize the activities, while improving their returns on investments and increasing efficiency. </div>
                   </div>
                   <div class="block-level">
                    <img src="/assets/images/mkt-place-image1.png" class="img-fluid" alt="">
                   </div>
               </div>

               <div class="col-lg-6 col-md-12 pl-md-0 pl-lg-5">
                <div class="block-level">
                    <div class="sub-title">A digital marketplace launched to connect the contractors or construction companies</div>
                    <div class="mkt-desc1">A digital marketplace launched to connect the contractors or construction companies with manufacturers or equipment suppliers at the click of a button, iQuippo has launched the industry specific solutions which have never been envisaged before, thereby kick-starting a transformational journey to deliver increased transparency, efficiency, and reliability in the industry.</div>
                    
                   </div>
                   <div class="block-level">
                    <img src="/assets/images/mkt-place-image2.png" class="img-fluid" alt="">
                   </div>
                   <div class="block-level">
                    <div class="sub-title">iQuippo provides a wider reach to original equipment manufacturers</div>
                    <div class="mkt-desc1">As a marketplace, iQuippo is providing a wider reach to original equipment manufacturers and thereby helping them connect with buyers to sell their new equipment. This surging online adoption, coupled with iQuippo’s seamless user experience is a big step forward in improving and expanding e-commerce for the equipment industry, matching up with a retail-like experience for the users.</div>
                    
                   </div>
               </div>

           </div>
         
        </div> 
    </div>
    <div class="ceo-speaks-container">  
        <div class="card faded-card-shadow">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="block-title ceo-speak-txt ceo-speak-txt1 text-right">
                        Our <span class="ceo-txt-color">CEO</span> Speaks
                    </div>
                    <div class="ceo-img-block">
                        <img src="/assets/images/ceo-speaks-image.png" alt="" class="img-fluid">
                       
                    </div>
                    
                </div>
                <div class="col-lg-5 col-md-12 ">
                    <div class="block-title ceo-speak-txt ceo-speak-txt2 text-right">
                        Our <span class="ceo-txt-color">CEO</span> Speaks
                    </div>
                    <div class="ceo-msg-block">
                        <div class="block-title">
                            History Industry Reinvention
                        </div>
                        <div class="msg-quote">
                            Diverse experience of working with domestic as well as international firms.<br/>
                            Brain behind iQuippo, steering its operations successfully since inception. Diverse experience of working with domestic as well as international firms.<br/>
                            Brain behind iQuippo, steering its operations successfully since inception.
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        
    </div>
    



    <div class="mkt-place-singlebanner">
        <div class="row">
            <div class="col-sm-12">
                <div class="market-place-figures-block">
                    <h2>india's leading digital marketplace</h2>
                    <ul>
                        <li>
                            <div class="figure-block">
                                1 LAC
                                <div class="fig-desc">registered users</div>
                            </div>
                            <div class="number-block">
                                34,000                                
                            </div>
                        </li>
                        <li class="midlist">
                            <div class="figure-block">
                                1.5 MILLION
                                <div class="fig-desc">annual website traffic</div>
                            </div>
                            <div class="number-block">
                                20,000 +                            
                            </div>
                        </li>
                        <li>
                            <div class="figure-block">
                                20,000 +
                                <div class="fig-desc">equipment valuation</div>
                            </div>
                            <div class="number-block">
                                34,0000                                
                            </div>
                        </li>
                        
                    </ul>
                </div>               
            </div>
        </div>
    </div>


<div class="ourclients-container">  
    <div class="card  faded-card-shadow">
        <div class="ourclients-block-box"> 
                <mat-tab-group animationDuration="0ms"  [disableRipple]="true">              
                    <mat-tab label="Our Clients">
                        <div class="ourclients-block"> 
                            <div class="row mb-3">
                                <div class="block-title col-sm-6 col-8">
                                    Our Valued Partner
                                </div>
                                <div class="col-sm-6 p-0 col-4 view-all-btn-block">
                                    <button class="d-none" mat-stroked-button>View All</button>
                                </div>                            
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="logos-block">
                                            <ul>
                                                <li><img src="/assets/images/amw-logo.png" alt="" class="img-fluid"></li>
                                                <li><img src="/assets/images/add-logo.png" alt="" class="img-fluid"></li>
                                                <li><img src="/assets/images/escorts-logo.png" alt="" class="img-fluid"></li>
                                                <li><img src="/assets/images/kobelco-logo.png" alt="" class="img-fluid"></li>
                                                <li><img src="/assets/images/jcb-logo.png" alt="" class="img-fluid"></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                       
                    </mat-tab>
                    <mat-tab label="Financial Partners">Financial Partner Blank Content</mat-tab>
                  </mat-tab-group> 
        </div>
    </div>  
   
</div>

<div class="media-container media-section">
    <div class="card faded-card-shadow">
        
        <div class="row mb-3">
            <div class="col-sm-6 col-8 block-title">
                Media
            </div>
            <div class="col-sm-6 col-4 view-all-btn-block">
                <button class="d-none" mat-stroked-button>View All</button>
            </div>                            
            </div>

        <div class="row">
            <div class="col-sm-6 position-relative">
                <img src="/assets/images/chairman.png" alt="" class="img-fluid">
                <div class="overlay-block"></div>
                <div class="overlay-text"><p>Centre must step up investments in infrastructure: SEFL Vice Chairman Sunil Kanoria</p></div>
            </div>
            <div class="col-sm-6  mt-3 mt-md-0">
                <div class="position-relative right-media-img-block">
                    <img src="/assets/images/media-img2.png" alt="" class="img-fluid mb-3">
                    <div class="overlay-block"></div>
                <div class="overlay-text"><p>iQuippo digitises co-lending programmes of banks & NBFCs</p></div>
                </div>
                <div class="position-relative right-media-img-block">
                    <img src="/assets/images/media-img3.png" alt="" class="img-fluid mb-3">
                    <div class="overlay-block"></div>
                <div class="overlay-text"><p>iQuippo brings Kobeico's equipment on its platform</p></div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="testimonial-container media-container media-section">
    <div class="card">
        
        <div class="row mb-3">
            <div class="block-title col-sm-6 col-8">
                Testimonials
            </div>
            <div class="col-sm-6 col-4 view-all-btn-block">
                <button class="d-none" mat-stroked-button>View All</button>
            </div>                            
            </div>
<div class=" ">
    <div class=" ">
        <mat-carousel timings="200ms ease-in"  [autoplay]="true"  [hideIndicators]="false"   class="carousel-image-wrapper">
                            <mat-carousel-slide>
                                <div class="testimonial-carousel-block">
                                    <div class="profile-block">
                                        <img src="/assets/images/user-pic.png" class="img-fluid" alt="">
                                  
                                    </div>
                                    
                                    <div class="testimonial-description">
                                        <div class="user-name">Lorem Ipsum</div>
                                        <div class="user-desg">Testimonials</div>
                                        <p>  Iquippo is Inclids first and ono-of-its-kind digital marketplace for construction equipment, machinery and services. The 380 degree platform facilitates buying, ceiling, Financing and leasing of equipment; asset certification: machinery evaluation; insurance of equipment; auctioning; parking and logistics facilities; yard management spare parts and other asset related services. The platform allows buyers and tellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner.</p>
                                    </div>
                                </div>
                            </mat-carousel-slide>
                            <mat-carousel-slide>
                                <div class="testimonial-carousel-block">
                                    <div class="profile-block">
                                        <img src="/assets/images/user-pic.png" class="img-fluid" alt="">
                                  
                                    </div>
                                    
                                    <div class="testimonial-description">
                                        <div class="user-name">Lorem Ipsum</div>
                                        <div class="user-desg">Testimonials</div>
                                       <p> Iquippo is Inclids first and ono-of-its-kind digital marketplace for construction equipment, machinery and services. The 380 degree platform facilitates buying, ceiling, Financing and leasing of equipment; asset certification: machinery evaluation; insurance of equipment; auctioning; parking and logistics facilities; yard management spare parts and other asset related services. The platform allows buyers and tellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner. </p>
                                    </div>
                                </div>
                            </mat-carousel-slide>
                            <mat-carousel-slide>
                                <div class="testimonial-carousel-block">
                                    <div class="profile-block">
                                        <img src="/assets/images/user-pic.png" class="img-fluid" alt="">
                                  
                                    </div>
                                    
                                    <div class="testimonial-description">
                                        <div class="user-name">Lorem Ipsum</div>
                                        <div class="user-desg">Testimonials</div>
                                        <p> Iquippo is Inclids first and ono-of-its-kind digital marketplace for construction equipment, machinery and services. The 380 degree platform facilitates buying, ceiling, Financing and leasing of equipment; asset certification: machinery evaluation; insurance of equipment; auctioning; parking and logistics facilities; yard management spare parts and other asset related services. The platform allows buyers and tellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner. </p>
                                    </div>
                                </div>
                            </mat-carousel-slide>
                            <mat-carousel-slide>
                                <div class="testimonial-carousel-block">
                                    <div class="profile-block">
                                        <img src="/assets/images/user-pic.png" class="img-fluid" alt="">
                                  
                                    </div>
                                    
                                    <div class="testimonial-description">
                                        <div class="user-name">Lorem Ipsum</div>
                                        <div class="user-desg">Testimonials</div>
                                        <p> Iquippo is Inclids first and ono-of-its-kind digital marketplace for construction equipment, machinery and services. The 380 degree platform facilitates buying, ceiling, Financing and leasing of equipment; asset certification: machinery evaluation; insurance of equipment; auctioning; parking and logistics facilities; yard management spare parts and other asset related services. The platform allows buyers and tellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner. </p>
                                    </div>
                                </div>
                            </mat-carousel-slide>
                        </mat-carousel>
    </div>
</div>


    </div>
</div>


 </div>

</section>