/* .main-div {
  width:80% !important;
  float: right;
} */
/* 
.header-box {
  margin: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
} */

.main-heading {font-size: 32px; font-weight: 700;}

.mat-card {padding: 0px;}



