<div class="main-div product-wrapper">
    <div class="product-wrapper-box">
    <div class="category-brand">
        <!-- <div class="header-box">
            <h2>Trade Details Dashboard</h2>
        </div> -->
        <router-outlet></router-outlet>
    </div>
</div>
</div>