<div *ngIf="loading" class="spinnerOuter">
    <div class="spinner">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<div [hidden]="loading">
    <div class="banner-bx" [ngStyle]="{ 'background-image': 'url(' + topBanner?.img_url + ')'}">
        <a [routerLink]="['/used-equipment-dashboard/equipment-list']">
            <div class="equipment-container">
                <div class="bannerdtlbx" [ngClass]="topBanner?.button_label != null ? '' : 'hand-icon'">
                    <h1 class="f-30 f-700 text-uppercase">{{topBanner?.banner_title}}</h1>
                    <h3 class="f-16 f-300">{{topBanner?.banner_description}}</h3>
                    <button class="theme-lg-btn mt-2" *ngIf="topBanner?.button_label != null"
                        [routerLink]="['/used-equipment-dashboard/equipment-list']"
                        mat-button>{{topBanner?.button_label?topBanner?.button_label:'Learn More'}}</button>
                </div>
            </div>
        </a>
    </div>

    <div class="container-custom">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                        <!-- <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">dashboard</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Equipment List</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="euipment-img-card">
        <div class="row">
            <div class="col-md-6 col-6 col-sm-6 mb-30" *ngFor="let banner of bannerList; let i ">
                <div class="old-equipment-bx prdct-bx" [ngClass]="banner?.button_label != null ? '' : 'hand-icon'"
                    (click)="redirectIfNoButton(banner?.button_label,banner?.banner_link,banner)">
                    <!-- *ngIf="banner?.img_url != null && banner?.img_url != ''" -->
                    <!-- <img appLazyLoad imageLoader
                    [src]="banner?.img_url ? banner?.img_url : '../../../assets/images/default-thumbnail.jpg'" alt=""
                    class="w-100"> -->

                    <img [hidden]="loading" (load)="onLoad()" class="w-100"
                        [src]="banner?.img_url ? banner?.img_url : '../../../assets/images/default-thumbnail.jpg'" />

                    <!-- <img *ngIf="banner?.img_url == null || banner?.img_url == ''" src="../../../assets/images/default-thumbnail.jpg"/> -->
                    <!-- <span class="">{{banner?.banner_title}}</span> -->
                    <div class="banner-content">
                        <h3 class="banner-title">{{banner?.banner_title}}</h3>
                        <button class="btn banner-btn" *ngIf="banner?.button_label != null"
                            (click)="redirectToScreen(banner?.banner_link,banner)">{{banner?.button_label}}</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="row">
    <div class="col-12 text-center">
        <div class="featured-section">
            <button class="theme-btn" [routerLink]="['/used-equipment-dashboard/equipment-list']"
                mat-button>View
                More</button>
        </div>
    </div>
</div>
    </div>
</div>