.banner-bx{
    padding: 50px 0;
    background: url('/assets/images/old-equipment-bg.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
    height:350px;
    background-position: center;
    border-radius: 0px 0px 10px 10px;
}
.bannerdtlbx{
    padding: 25px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 700px;
    color: #fff;
    margin: 0px 0;
}
.old-equipment-bx{
    position: relative;
}
.container-custom{
    padding-top: 10px;
    background: #eff2f4;
}
.prdct-bx{
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.old-equipment-bx span{
    position: absolute;
    background: #fff;
    color: #1B294E;
    font-size: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 10px 20px;
    top: 30px;
    left: 0;
    max-width: 75%;
    font-weight: 500;
}
.right-0{
    right: 0;
    left: auto !important;
}
.bottom-20{
    bottom: 20px;
    top: auto !important;
}
.bottom-40{
    bottom: 40px;
    top: auto !important;
}

.euipment-img-card .col-md-6:nth-child(odd) {padding-right: 10px;}
.euipment-img-card .col-md-6:nth-child(even) {padding-left: 10px;}

.featured-section .theme-btn {padding: 0px 30px; border-radius: 8px; font-weight: 600; background: transparent linear-gradient(279deg, #a01922  0%, #1a50b1 100%);}
.featured-section {margin-top: 10px; margin-bottom: 40px;}
.equipment-container {padding: 0px 30px;}
.bannerdtlbx h1 {
    font-weight: 700;
    font-size: 1.75rem;
}
.bannerdtlbx h3 {line-height: 20px;
    margin-bottom: 1em;
    font-size: 14px;}

.old-equipment-bx img {height: 300px;object-fit: cover;}

button.theme-lg-btn {
    box-shadow: 0 3px 6px rgb(0 0 0 / 60%);
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 15px!important;
    width: 170px;
    height: 45px;
}


.euipment-img-card {
  background-color: #fff;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 10px;
  padding: 15px 15px 0px;
  margin-bottom: 20px;
}

  
  
/* .img-spinner {
  background-position: center;
	background-repeat: no-repeat;
} */

.spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;     
    
}

.spinner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
} 
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.849);
  }
  .loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0,-50%);
    justify-content: center;
  }
  .loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
  }
  .loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
    background: #1A50B1;
  }
  .loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
    background: #3B428D;
  }
  .loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
    background: #643161;
  }
  .loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
    background: #832540;
  }
  .loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
    background: #A01922;
  }
  .loading .dot:nth-child(5)::before {
    animation-delay: 1s;
  }
  @keyframes wave {
    50%, 75% {
      transform: scale(2.0);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  .spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
    }
/* @import "toastr"; */





@media only screen and (max-width: 600px) {
  .euipment-img-card {padding: 15px 15px 10px;}
  .euipment-img-card .col-md-6:nth-child(odd) {padding-right: 15px;}
  .euipment-img-card .col-md-6:nth-child(even) {padding-left: 15px;}
  .bannerdtlbx {padding: 20px 15px 25px;}
  .equipment-container {padding: 0px 15px;}
  .bannerdtlbx h1 {font-size: 19px;}
  .bannerdtlbx h3 {font-size: 14px; line-height: 22px;}
  .we-deal-section ngx-light-carousel.wrapper.c-accent {padding: 0px 55px;} 
  .we-deal-section h2, .featured-section h2 {font-size: 24px; margin-bottom: 20px;}
  .featured-section .theme-btn {padding: 0px 20px;}
  .forbulkorder .equipment-container {margin-left: 0px;}
  .forbulkorder h2 {font-size: 24px;}
  .forbulkorder p {font-size: 18px;} 
  .product-box-image {height: 150px;}
  .old-equipment-bx img {height: 150px;} 
  .container-custom {padding: 10px 7.5px 0px !important;}
  .banner-bx {height: 250px; padding: 30px 0; margin-bottom: 0px;}
  button.theme-lg-btn {padding: 5px 15px!important; width: auto; height: 36px; font-size: 12px; border-radius: 4px; line-height: 26px;}

}


@media only screen and (max-width: 768px) {
      
  .banner-bx {height: 250px; padding: 30px 0;} 
  
}

@media only screen and (max-width: 992px) {
      
  .banner-bx {height: 250px; padding: 30px 0;} 
  
}


@media(max-width:767px){
  .banner-box-new{margin:0px;}
  .banner-bx {
    /* height: 150px!important; */
    padding: 30px 0;
    margin-bottom: 7.5px;
}
.prdct-bx  {
  margin-bottom: 7.5px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.old-equipment-bx .banner-content h3.banner-title {
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5em;
}
.pr-md-2, .px-md-2 {
    padding-right: .25rem!important;
}
.pl-md-2, .px-md-2 {
  padding-left: .25rem!important;
}
}



.spinner{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #ffffffe7;
  top: 0;     
  
}

.spinner img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
} 
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.849);
}
.loading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0,-50%);
  justify-content: center;
}
.loading .dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  border-radius: 50%;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #1A50B1;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #3B428D;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #643161;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #832540;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #A01922;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}
@keyframes wave {
  50%, 75% {
    transform: scale(2.0);
  }
  80%, 100% {
    opacity: 0;
  }
}

.spinnerOuter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.16);
  z-index: 9999;
  }
