<div class="popup modal-popup">
  <div class="popup-hdr">
    <h4 class="m-0"> View Details</h4>
    <button mat-button (click)="close()" class="close-btn"><img src="../../../../../../assets/images/Close.svg"
        alt=""></button>
  </div>
  <div class="popup-body">
    <div class="asset-table">
      <div class="table-responsive inner-table mb-3">

        <table *ngIf="!isFromFulfilment" class="mat-table default-tbl custom-mat-table" mat-table
          [dataSource]="transactionData" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort>
          <ng-container matColumnDef="transaction_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Id</th>
            <td mat-cell *matCellDef="let row"> {{row?.transaction_id}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_mode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment_mode}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment_type == 1 ? 'Partial' : 'Full'}} </td>
          </ng-container>
          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name</th>
            <td mat-cell *matCellDef="let row">
              {{row?.bank_name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="bank_ref_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Reference No.</th>
            <td mat-cell *matCellDef="let row"> {{row?.bank_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row"> {{row?.amount}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment_date | date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row"> {{getPaymentStatus(row?.payment_status)}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <table *ngIf="isFromFulfilment" class="mat-table default-tbl custom-mat-table" mat-table
          [dataSource]="transactionData" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort>
          <ng-container matColumnDef="transaction_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Id</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.transaction_id}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_mode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Mode</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.payment_mode}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Type</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.payment_type == 1 ? 'Partial' : 'Full'}} </td>
          </ng-container>
          <ng-container matColumnDef="bank_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name</th>
            <td mat-cell *matCellDef="let row">
              {{row?.payment?.transaction?.bank_name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="bank_ref_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Reference No.</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.bank_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.amount}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</th>
            <td mat-cell *matCellDef="let row"> {{row?.payment?.transaction?.payment_date | date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="payment_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row"> {{getPaymentStatus(row?.payment?.transaction?.payment_status)}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="no-record table-recond" *ngIf="!total_count">No records found</div>
      </div>
    </div>
    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
    </mat-paginator>
  </div>
</div>