<div class="banner-container">
    <div class="banner-box">
        <img src="../../../assets/images/static-banner.png" />
        <div class="caption">
            <div class="heading">
                <strong>Contact Us</strong>
            </div>
        </div>
    </div>
</div>

<div class="static-container">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ol>
    </div>
    <form [formGroup]='contactUsForm'>
        <div class="static-content-box">
            <div class="contact-form pt-4">
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <label class="f-12 d-block">Full Name <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Full Name" formControlName="full_name" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="f-12 d-block">Email <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Email" formControlName="email" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="f-12 d-block">Mobile Number <span class="text-warning">*</span></label>
                        <div class="row">
                            <div class="col-5 col-sm-3">
                                <mat-select class="ptb-5 card-select payment-card-slct" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)" formControlNumber='country_code'>
                                    <mat-select-trigger>
                                        <div class="d-block">
                                            <img [src]="selectedCity?.flag" class="saved-card-icn mt-2" alt="">
                                            <div class="prefix-number">
                                                <p class="mb-0 f-16 ln-20 mt-2">{{selectedCity?.prefixCode}}</p>
                                            </div>
                                        </div>
                                    </mat-select-trigger>

                                    <mat-option *ngFor="let country of countryList" [value]="country">
                                        <div class="d-block">
                                            <img [src]="country.flag" class="saved-card-icn" alt="">
                                            <div class="prefix-number">
                                                <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                                            </div>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class="col-7 pl-0 pl-md-3 pl-lg-3 col-sm-9 text-left">
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Enter your Mobile number" formControlName="mobile_number" autocomplete="off">
                                </mat-form-field>
                                <div *ngIf="contactUsForm.get('mobile_number')?.touched && contactUsForm.get('mobile_number')?.hasError('required')">
                                    <span class="validation-err">Please enter the mobile number.</span>
                                </div>
                                <div *ngIf="contactUsForm.get('mobile')?.touched && contactUsForm.get('mobile_number')?.hasError('minlength')">
                                    <span class="validation-err">Please input 10 digits number.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label class="f-12 d-block">Location <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Location" formControlName="location" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8 mb-3">
                        <label class="d-block f-12" for="">Comment<span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <textarea matInput placeholder="" type="text" formControlName="comments"> </textarea>
                        </mat-form-field>
                    </div>
                        <div class="text-right w-100 pr-3">
                            <button class="default-btn px-5" (click)="send()" mat-flat-button [disabled]="contactUsForm.invalid">Send</button>
                        </div>
                    </div>
                </div>
            <div class="location-map mb-3">
                <h5><strong>You can locate us</strong></h5>
                <div class="map mt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.1314032002833!2d88.43217561495963!3d22.574188185181942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDM0JzI3LjEiTiA4OMKwMjYnMDMuNyJF!5e0!3m2!1sen!2sin!4v1630566637151!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
                </div>
            </div>
            <div class="address-here">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="addess-container">
                            <h4><strong>India</strong></h4>
                            <h6><strong>iQuippo – New and Used Construction Equipment</strong></h6>
                            <h6><strong>Y-10 BL-EP, EP Block, Sector V, Bidhannagar, Kolkata, West Bengal 700091</strong></h6>
                            <div class="mb-2">
                                <span><strong>Telephone: </strong></span>
                                <span>+91 8956158589 / 033-6602-2059</span>
                            </div>
                            <div class="">
                                <span><strong>Email: </strong></span>
                                <span>customercare@iquippo.com</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</div>
 
    </form>
</div>