.static-container {
    background: #eff2f4;
    padding: 20px 45px 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

textarea {height: 42px; min-height: 42px !important;}

.static-content-box {
    background-color: #fff;
    box-shadow: 0px 0px 6px #d2dce6;
    border-radius: 10px;
    padding: 15px;
}

.ul-i {
    list-style: upper-roman !important;
}

.ul-a {
    list-style: decimal !important;
}

.banner-box {
    position: relative;
}

.banner-box .caption {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 45px;
    font-size: 32px;
    transform: translate(0px, -50%);
}

.map iframe {
    border-radius: 10px;
}

.addess-container {
    background-color: #eff2f4;
    border-radius: 15px;
    padding: 15px;
}

textarea {
    min-height: 100px;
}

.contact-form label {
    color: #77828a;
    font-weight: 500;
}

.banner-box img {
    width: 100%; height: 350px; object-fit: cover;
}

.addess-container strong {
    font-weight: 500;
}


@media (max-width: 767px) {

    .static-container {padding: 20px 10px 20px;}
    .location-map {margin-top: 10px;}
    .addess-container h6 {font-size: 14px;}
    .banner-box .caption {font-size: 22px;}

    .banner-box img {height: 250px;}
     
}