
.popup-hdr {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 10 15px;
  border-bottom: 1px solid #a0adb7;
  color: #000000;
  position: relative;
}

.popup-body {
  overflow-y: auto;
}

.accepted-container h5 {
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}

.default-btn, .default-btn-outline {min-width: 64px !important;}

.custom-file .custom-file-label {height: 42px;}
.uplode-delet {width: 35px; float: right; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}
.custom-file .cust-upload-txt2 {
  width: 76%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.accepted-container .bid-info {
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}
.accepted-container p {
  font-size: 15px;
  font-weight: 500;
}

.popup {
  background: #fff;
  border-radius: 8px;
  margin: auto;
}
/* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */

.invoice-favour-model {
  padding: 10px;
  background: #093874;
  color: #fff;
  font-size: 16px;
  margin: -15px -15px 20px -15px;
  border-radius: 8px 8px 0px 0px;
}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container {
  margin-top: 16px;
}

.accepted-container p {
  margin: 0px;
}

.accepted-container span img {
  width: 3em;
  display: block;
  margin: 0px auto;
}

.accepted-container span {
  display: block;
  text-align: center;
  margin-bottom: 0px;
}

.dialog-actions-container {
  display: block;
}
.feedback-points span.mat-radio-label-content {
  padding: 0px;
}
.accepted-container span mat-radio-group {
  display: flex;
  text-align: left;
  margin-bottom: 0px;

  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .popup {
    width: 100%;
  }
  .accepted-container span img {
    width: 30px;
  }
}

.dialog-actions-container {
  display: inline-block;
}

.accepted-container span mat-radio-group .mat-radio-button {
  flex: 0 0 16.5%;
  margin-bottom: 0px;
}

.accepted-container .mat-radio-label-content {
  /* display: block; */
  width: 100%;
}
.accepted-container
  span
  mat-radio-group
  .mat-radio-button
  span.mat-radio-label-content {
  /* padding: 0px; */
  width: 100%;
}

.accepted-container
  span
  mat-radio-group
  .mat-radio-button
  span.mat-radio-label-content {
  /* padding: 0px; */
  width: 100%;
  text-align: center;
}

.popup-header-feedback {
  background: #094fa3;
  padding: 10px;
  margin: -15px -15px 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px 8px 0 0;
}
.popup-header-feedback h3 {
  margin: 0px;
  font-size: 16px;
}

.uplode-delet {
  width: 35px;
  float: right;
  margin-top: 2px;
  min-width: inherit;
  margin-right: 8px;
  margin-left: 0px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  padding: 0px;
  border-radius: 50%;
  background-color: #ffefec;
}
