<section class="ourvaluationservices-maincontainer">
    <div class="header-img">
        <div class="row">
            <div class="col-12 p-0 mb-3 page-banner-image">
                <img src="assets/images/pexels-mark-stebnicki-2255801.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="breadcrumb-container">
        <div class="container-custom">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Valuation</li>
            </ol>
        </div>
    </div>

<div class="valuation-container">
    <div class="ourvaluationservices-container">
        <h1 class="main-heading text-center mb-4">Our Valuation Services</h1>   
    <div class="card">
        <div class="row mb-4">           
            <div class="col-12 col-sm-5 left-instant-val-image">
                <img src="assets/images/instant-val-left-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-7 right-instant-val-box">
                <h2 class="sub-heading"> <span class="icon"> <span class="instant-val-icon"></span> </span> Insta Valuation</h2>
                <div class="instant-va-desc">
                    Know the value of your equipment instantly in  <strong>3 simple step. </strong>
                </div> 
                <div class="valuation-step">                         
                        <ul class="pl-3 mb-0">
                            <li>Select Asset</li>
                            <li>Fill the Form</li>
                            <li>Get the equipment report instantly</li>
                        </ul> 
                </div>
                <div class="valuation-btn mt-5">
                    <button class="btn btn-valuation default-btn  mat-button" [routerLink]="['/valuation-request/asset-valuated']">Valuate</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">           
            <div class="col-12 col-sm-6 left-adv-val-box">
                <h2 class="sub-heading"> <span class="icon adv-val-icon-box"> <span class="adv-val-icon"></span> </span> Advance Valuation</h2>
                <div class="instant-va-desc">
                    Get the right value of your equipment - <strong> 18,000+ Valuation done Annually </strong>
                </div> 
                <div class="valuation-step advance">                         
                    <ul class="pl-3 mb-0">
                        <li>Fill in the form and select the asset details, location and your concerns.</li>
                        <li>Submit the details</li>
                        <li>Schedule physical inspection of your asset</li>
                        <li>Get detailed 60 checkpoints valuation report with image & video</li>
                    </ul> 
                    <div class="valuation-btn mt-5">
                        <button class="btn btn-valuation default-btn  mat-button" [routerLink]="['/valuation-request/equipval']">Valuate</button>
                    </div>
            </div>
            
               
            </div>
            <div class="col-12 col-sm-6 right-instant-val-box">
                <img src="assets/images/advance-right-image.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    </div>
    
    <div class="used-equipment-main-container">
        <h2 class="main-heading text-center mb-3">Get Right Value of Used Equipment, instantly</h2>  
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card">
                    <img src="assets/images/com-veh-img.png" class="img-fluid" alt="">
                    <div class="equip-name">Commercial Vehicle</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card">
                    <img src="assets/images/const-equip-img.png" class="img-fluid" alt="">
                    <div class="equip-name">Construction Equipment</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card">
                    <img src="assets/images/farm-equip.png" class="img-fluid" alt="">
                    <div class="equip-name">Farm Equipment</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-6">
                <div class="card">
                    <img src="assets/images/passenger-img.png" class="img-fluid" alt="">
                    <div class="equip-name">Passenger Car</div>
                </div>
            </div>
        </div> 
    </div>

    <div class="valuation-process-banner-container">
        <h2 class="main-heading mb-4 text-center">How to get your Asset Valuated?</h2> 
        <div class="row">
            <div class="col-12">
                <img src="assets/images/valuation-banner.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
  
</div>


</section>