.ourvaluationservices-container, .used-equipment-main-container, .valuation-process-banner-container{ margin-bottom: 3rem;}
.ourvaluationservices-container .card{
    padding: 4.5rem 0;
    border-radius: 3rem;
    background: #fcfcfc;
    border-color: #f5f5f5;
}
.ourvaluationservices-container h2.sub-heading{
    font-size: 20px;
    font-weight: 600;
    background: #f1f1f1;
    position: relative;
    padding: 1rem 0 1rem 5rem;
}
.ourvaluationservices-container h2.sub-heading .icon{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #707070;
    display: block;
    position: absolute;
    left: -22px;
    bottom: -18px;
    border: 5px solid #f1f1f1;
}
.ourvaluationservices-container h2.sub-heading .icon .instant-val-icon{
    background: url(/assets/images/intant-val-icon.png) no-repeat 50%;
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 19px;
    z-index: 999;
    width: 53px;
    height: 53px;
    
}

.ourvaluationservices-container h2.sub-heading .icon.adv-val-icon-box{
   
    left: initial;
    right: -30px;
}
.ourvaluationservices-container h2.sub-heading .icon.adv-val-icon-box .adv-val-icon{
    background: url(/assets/images/valuation-icon-red.png) no-repeat center;    
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 16px;
    z-index: 999;
    width: 53px;
    height: 53px;
}
.ourvaluationservices-container .card .instant-va-desc {
    font-size: 16px;
    padding: 1rem 0 1rem;
    text-align: left;
}
.ourvaluationservices-container .card .left-instant-val-image{ padding-left: 2rem;}
.ourvaluationservices-container .card .right-instant-val-box{ padding-left: 2rem;}
.ourvaluationservices-container .card .left-adv-val-box h2.sub-heading{padding-left: 2rem;}
.ourvaluationservices-container .card .left-adv-val-box .instant-va-desc{ padding: 1rem;}
.ourvaluationservices-container .card .left-adv-val-box .valuate-btn{ padding-left: 2rem; }

.used-equipment-main-container .card{ text-align: center; background: #f3f8fe; padding: 0;
    width: 100%;
    height: 180px;
    border-radius: 2rem;
}
.used-equipment-main-container .card img{ margin: 0 auto;
    width: 7em;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%)    
}
.used-equipment-main-container .card .equip-name{ 
    text-align: center;
    background: #eff2f4;
    font-weight: 600;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
}

.ourvaluationservices-container h1 {font-size: 24px;margin-top: .5em;
    margin-bottom: .5em;font-weight: 600;}
.valuation-btn .btn-valuation {padding: 0px 50px;border-radius: 25px;}
.valuation-step ul li {padding-bottom: 5px;font-size: 16px;}
.valuation-step.advance {padding-left: 2rem;}


.valuation-container {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 0px 30px 20px;
}
.used-equipment-main-container .main-heading {
    font-size: 24px;
    font-weight: 600;
}



.page-banner-image {
    height: 350px;
}
.page-banner-image img{
    width: 100%;height:100%;object-fit: cover;
}



@media(max-width:767px){
    .used-equipment-main-container .card img {
        margin: 0 auto;
        width: 5em;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
    }
    .used-equipment-main-container .card {
        margin-bottom: 15px !important;
        text-align: center;
        background: #f3f8fe;
        padding: 0;
        width: 100%;
        height: 140px;
        border-radius: 1rem;
    }

    .used-equipment-main-container .card .equip-name {
        text-align: center;
        background: #eff2f4;
        font-weight: 600;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        min-height: 60px;
    }
    /* .header-img img {height: 200px;}  */
    .valuation-container {margin: 0px 10px;}
    .ourvaluationservices-container h2.sub-heading {font-size: 18px;}
    .ourvaluationservices-container .card .instant-va-desc {font-size: 18px;}
    .used-equipment-main-container .card {margin-bottom: 20px;}
    .page-banner-image {height: 200px;}

}
@media(max-width:992px){
    
    .used-equipment-main-container .card {margin-bottom: 20px;}
    .page-banner-image {height: 250px;}

}


@media(max-width:576px){

    .header-img .mb-5 {margin-bottom: 2rem!important;}
    .ourvaluationservices-container .card .left-adv-val-box h2.sub-heading {padding-left: 1rem;}
    .ourvaluationservices-container .main-heading.mb-4 {margin-bottom: 1rem!important;} 
    .ourvaluationservices-container .card {padding: 2.5rem 0;}
    .ourvaluationservices-container h2.sub-heading {font-size: 18px; padding-left: 6rem;}
    .ourvaluationservices-container h2.sub-heading .icon {width: 6rem; height: 6rem; bottom: -18px;}
    .ourvaluationservices-container h2.sub-heading .icon .instant-val-icon {top: 18px; left: 19px;}
    .ourvaluationservices-container h2.sub-heading .icon.adv-val-icon-box .adv-val-icon {top: 18px; right: 17px;}
    .used-equipment-main-container h2, .valuation-process-banner-container h2 {font-size: 18px!important;}
    .ourvaluationservices-container h2.sub-heading .icon.adv-val-icon-box {right: -5px;}



}
