<main class="container-fluid basic-info-main-wrapper bg-white">
    <section>
        <div class="row">
            <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
                <div class="left-side-container">
                    <div class="welcome-box">
                        <h2 class="sub-header">Welcome to iQuippo</h2>
                        <p class="sub-header-text">India’s leading marketplace for end-to-end asset
                            lifecycle management</p>
                        <ul class="tracker-list d-xs-none">
                            <li>95,000+ Registered Customers</li>
                            <li>Track Ongoing & Upcoming Auctions</li>
                            <li>Get Updated on financing Offers</li>
                        </ul>
                        <ul class="list-details d-xs-none">
                            <li>buy</li>
                            <li>sell</li>
                            <li>rent</li>
                            <li>finance</li>
                            <li>valuation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-lg-7 right-side-container">
                <div class="signup-wrapper">
                    <h2>Basic Information</h2>
                    <p class="sign-up-text">Enter your basic information</p>
                    <div class="otp-wrapper">
                        <form [formGroup]='basicinfoform'>
                            <div class="sign-in-pwd-wrapper">
                                <div class="col-12 col-sm-9 err-msg ml-n2 pl-0  mt-5">
                                    {{ message == "PreSignUp failed with error User with the provided Email id already
                                    exists." ? "User with the provided Email id already exists." : ""}}
                                    {{ message == "PreSignUp failed with error User with the provided Mobile Number
                                    already exists." ? "User with the provided Mobile Number already exists." : ""}}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="" class="form-label">Mobile Number</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" autocomplete="off" type="text"
                                                formControlName='mobile' readonly='readonly' class="readonly">
                                            <mat-icon class="material-icons color-green" matSuffix>check_circle
                                            </mat-icon>
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('required')">
                                            <span class="validation-err">Please enter the mobile number.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('minLength')">
                                            <span class="validation-err">Please enter a valid mobile number with country
                                                code.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('mobile')?.touched && basicinfoform?.get('mobile')?.hasError('maxLength')">
                                            <span class="validation-err">Please enter a valid mobile number with country
                                                code.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="" class="form-label">Password</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" autocomplete="off"
                                                [type]="fieldTextType ? 'text' : 'password'" formControlName='password'>
                                            <mat-icon class="material-icons-outlined cursor-pointer" matSuffix
                                                (click)="fieldTextType = !fieldTextType">{{fieldTextType ? 'visibility'
                                                : 'visibility_off'}}</mat-icon>
                                        </mat-form-field>
                                        <span class="f-10">
                                            Your passowrd must contain atleast one upper case, one lower case, one
                                            numeric and one special charecter.
                                        </span>
                                        <div
                                            *ngIf="basicinfoform.get('password')?.touched && basicinfoform?.get('password')?.hasError('required')">
                                            <span class="validation-err">Please enter the password.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('password')?.touched && basicinfoform?.get('password')?.hasError('pattern')">
                                            <span class="validation-err">Please use minimum one lower case, one upper
                                                case, one symbol and one digit, password length should be 8 characters
                                                or more.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="" class="form-label">Confirm password</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" [type]="fieldTextType1 ? 'text' : 'password'"
                                                formControlName='confirmpassword'>
                                            <mat-icon class="material-icons-outlined cursor-pointer" matSuffix
                                                (click)="fieldTextType1 = !fieldTextType1">{{fieldTextType1 ?
                                                'visibility' : 'visibility_off'}}</mat-icon>

                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('confirmpassword')?.touched && basicinfoform?.get('confirmpassword')?.hasError('required')">
                                            <span class="validation-err">Please re-enter the password.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('confirmpassword')?.touched && basicinfoform?.get('confirmpassword')?.hasError('mustMatch')">
                                            <span class="validation-err">Password didn't match.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label" for="">First Name</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" type="text" (blur)="firstnameBlur=true"
                                                formControlName='firstname' maxlength="256">
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('required')">
                                            <span class="validation-err">Please enter the first name.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('minlength')">
                                            <span class="validation-err">Please enter minimum 1 characters.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('firstname')?.touched && basicinfoform?.get('firstname')?.hasError('maxlength')">
                                            <span class="validation-err">Please enter maximum 256 characters.</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label" for="">Last Name</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" type="text" (blur)="lastnameBlur=true"
                                                formControlName='lastname' maxlength="256">
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('required')">
                                            <span class="validation-err">Please enter the last name.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('minlength')">
                                            <span class="validation-err">Please enter minimum 1 characters.</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('lastname')?.touched && basicinfoform?.get('lastname')?.hasError('maxlength')">
                                            <span class="validation-err">Please enter maximum 256 characters.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label" for="">Date Of Birth</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput [matDatepicker]="picker" [max]="minDate"
                                                (click)="picker.open()" readonly formControlName='dob'
                                                max="{{minAge | date:'yyyy-MM-dd'}}">
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                    calendar_today</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform?.get('dob')?.hasError('dobError') && basicinfoform?.get('dob')?.touched">
                                            <span class="validation-err">Age should be 18 & above</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform?.get('dob')?.touched && basicinfoform?.get('dob')?.value==''">
                                            <span class="validation-err">Please enter the date of birth.</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label class="form-label" for="">PIN Code</label>
                                        <mat-form-field floatLabel="never" [class.haserror]="pinCodeErrorFlag">
                                            <input matInput placeholder="" [class.haserror]="pinCodeErrorFlag"
                                                type="text" maxlength="50" formControlName='pincode'
                                                (blur)="getpinCodefn();pincodeBlur=true">
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('pincode')?.touched && basicinfoform?.get('pincode')?.value!='' && pincodeBlur && (basicinfoform?.get('pincode')?.hasError('minlength') || pinCodeErrorFlag || basicinfoform?.get('pincode')?.hasError('maxlength') || basicinfoform?.get('pincode')?.hasError('pattern'))">
                                            <span class="validation-err">Please input a valid pincode</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('pincode')?.touched && basicinfoform?.get('pincode')?.hasError('required')">
                                            <span class="validation-err">Please enter the pincode.</span>
                                        </div>
                                        <!-- <div *ngIf="pinCodeErrorFlag">
                                            <span class="validation-err">Please input a valid pincode</span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="" class="form-label">Email</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" autocomplete="off" (blur)="checkEmailField()"
                                                type="text" formControlName='Email'>
                                        </mat-form-field>
                                        <div
                                            *ngIf="basicinfoform.get('Email')?.touched && basicinfoform?.get('Email')?.hasError('pattern')">
                                            <span class="validation-err">Please input a valid email</span>
                                        </div>
                                        <div
                                            *ngIf="basicinfoform.get('Email')?.touched && basicinfoform?.get('Email')?.hasError('required')">
                                            <span class="validation-err">Please enter the email address.</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row mb-3">
                                    <div class="col-12 tnc-txt"><mat-checkbox [checked]="false" (change)="isSubmitted=true" 
                                        formControlName="agree">I agree that I am 18 years or above.</mat-checkbox>
                                        <div *ngIf="isSubmitted && basicinfoform?.get('agree')?.value==false">
                                          <span class="validation-err">Please agree to our conditions.</span>
                                          </div>
                                        </div>
                                </div> -->
                                <div class="mb-3">
                                    <div class="cont_btn">
                                        <button mat-flat-button (click)='creatAccount()'
                                            [disabled]='basicinfoform.invalid || pinCodeErrorFlag'>Create
                                            My Account</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>