.basic-info-main-wrapper .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.basic-info-main-wrapper .mat-datepicker-toggle{
    position: absolute;
    top: -35px;
    right: 3px;
    }

.basic-info-main-wrapper .otp-wrapper .mat-input-element {
        text-align: left !important;
        padding-left: 15px !important;	
    }