<!-- <mat-card> -->
<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/customer/dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Used Products</li>
            </ol>
        </div>


        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-sm-6 col-6">
                <h3 class="admin-page-title">Used Products</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-7 col-sm-6 col-6">
                <div class="exportWrapper text-right d-inline-block">
                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()" [disabled]="!dataSource?.data?.length"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <button class="btn default-btn  d-inline-block" mat-button [routerLink]="['/used-equipment/sell-equipment']">
        <i class="fa fa-plus d-block d-md-none d-lg-none" aria-hidden="true"></i> Add Product
      </button>
            </div>
        </div>
        <div class="user-management-top-section">
            <div class="row mt-3">
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Search" (keydown.enter)="searchInList()" [(ngModel)]="searchText" (keyup)="searchInList()" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                            <mat-option>Select Status</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                {{status?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2 col-sm-6 ml-auto">

                </div>
            </div>
        </div>

        <!-- <div class="asset-table">
    <div class="table-responsive inner-table mb-3" *ngIf="dataSource">
    
      <mat-table class="default-tbl" [dataSource]="dataSource" matSort (matSortChange)="onSortColumn($event)"
        matSortActive="id" matSortDirection="desc">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="product_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.product_name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="selling_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="!element.is_price_on_request">{{ element.selling_price }}</span>
            <span *ngIf="element.is_price_on_request">Price on Request</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mfg_year">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Mfg. Year </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.mfg_year }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element?.pin_code?.city?.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="asset_status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getRowstatus(element.status) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <div class="editdlt-btn">
              <button mat-button *ngIf="element.status< 2" (click)="createUpdateCategory(element)">
                <img src="../../../../../assets/images/editicon.svg" alt="">
              </button>
              <button class="table-row-btn view-icon" mat-button  (click)="actionPopup(element.id)">
                <span><img src="../../../assets/images/visibility.svg"></span>
            </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="productDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: productDisplayedColumns"></mat-row>
      </mat-table>
      <div class="no-record" *ngIf="!dataSource?.data?.length">{{noRecordFound}}</div>
    </div>
  </div>
  <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    (page)="pageEvent = $event; onPageChange($event)"></mat-paginator> -->
        <div class="desktop-table">
            <mat-card class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Asset Id</span> {{row.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Image </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label"> Asset Image</span>
                                <img class="thumbnail category-img" [src]="row.primary_image || 'assets/images/eqpmnt-img-2.png'" alt="iQuippo" />
                            </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="trade_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trading Type </th>
            <td mat-cell *matCellDef="let row"> {{row.trade_type}}</td>
          </ng-container> -->
          <ng-container matColumnDef="service_type">
            <th mat-header-cell *matHeaderCellDef > Service Type </th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Service Type</span>
                <span *ngIf="row.is_sell == true">Portal Sale</span>
                <span *ngIf="row.is_sell == true && (row.is_auction == true || row.is_valuation == true)">, </span>
                <span *ngIf="row.is_auction == true">Auction</span>
                <span *ngIf="row.is_auction == true && row.is_valuation == true">, </span>
                <span *ngIf="row.is_valuation == true">Valuation</span>
                <span *ngIf="row.is_loa_generated == true">( LOA Generated )</span>
            </td>
        </ng-container>
                        <ng-container matColumnDef="category__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label"> Category</span>
                                <span *ngIf="row.category.display_name != 'Other'">{{row.category.display_name}}</span>
                                <span *ngIf="row.category.display_name == 'Other'">{{row.other_category}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="brand__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Brand</span>
                                <span *ngIf="row.brand.display_name != 'Other'">{{row.brand.display_name}}</span>
                                <span *ngIf="row.brand.display_name == 'Other'">{{row.other_brand}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="model__name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Model</span>
                                <span *ngIf="row.model.name != 'Other'">{{row.model.name}}</span>
                                <span *ngIf="row.model.name == 'Other'">{{row.other_model}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="selling_price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class=""> Price </th>
                            <td mat-cell *matCellDef="let row" class="">
                                <span class="mobile-label">Price</span>
                                <span *ngIf="!row.is_price_on_request">{{ row.selling_price }}</span>
                                <span *ngIf="row.is_price_on_request">Price on Request</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mfg_year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mfg. Year </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Mfg. Year</span> {{row.mfg_year}} </td>
                        </ng-container>
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Location</span> {{row.pin_code?.city?.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Status</span> {{getRowstatus(row.status)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <span class="mobile-label">Action</span>
                                <div class="editdlt-btn">
                                    <button mat-button *ngIf="element.status< 2" (click)="createUpdateCategory(element)">
                  <img src="../../../../../assets/images/editicon.svg" alt="">
                </button>
                                    <button class="table-row-btn view-icon" mat-button (click)="actionPopup(element.id)">
                  <span><img src="../../../assets/images/visibility.svg"></span>
              </button>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="productDisplayedColumns;sticky:true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: productDisplayedColumns;"></tr>
                    </table>
                    <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">{{noRecordFound}}</div>
                </div>

                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </mat-card>
        </div>



    </div>
</div>