/* corporate details style start */
.corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
    width: 20%;
    margin-bottom: 0.5rem;
}
.saveandcont-btn {
    text-align: right;
    padding: 0 0rem 1rem;
}
/* for mobile */

@media (max-width: 575.98px) { 
    
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
        width: 50%;	}
    

    }


/* corporate style end */

.h-80{
    height: 80px;
}