.payment-method .offine-form {
  padding: 0px 0px 0px;
}
.payment-method h4 { 
  background-color: #0f3d94;
  position: relative;
  color: #fff;
  margin-bottom: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
.my-class {height: auto;}
.popup-hdr {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px 15px;
  border-bottom: 1px solid #a0adb7;
  color: #000000;
  position: relative;
}

.my-class {height: auto;}

.custom-file-label::after {display: none;}
.custom-file .cust-upload-txt2 {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.uplode-delet {width: 35px; float: right; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}

.fullPayment-wrapper h4 {padding: 10px;}

.popup-body {
  padding: 15px;
  overflow-y: auto; 
  height: 80vh;
}
.detail-table {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-bottom: 15px;
}
.detail-table h4 {
  font-size: 15px;
  padding: 10px;
  background: #c3c3c3;
  border-radius: 4px 4px 0px 0px;
  color: #020202;
}
.detail-table table {
  width: 98% !important;
  margin: 0px auto 10px;
}
.custom-file .custom-file-label {height: 42px;}
.modal-popup .close-btn {
  line-height: inherit;
  margin-top: 0px;
}
.popup {
  background: #fff;
  border-radius: 20px;
}
/* .close-btn{
      background: transparent;
      float: right;
      border: none;
    } */

.close-btn:focus {
  outline: unset !important;
}

table {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.26);
}

table td {
  border: 1px solid rgba(128, 128, 128, 0.26);
  padding: 6px;
}

.dialog-actions-container {
  margin-top: 16px;
}
tr.payment-det td {
  background: #eee !important;
  font-weight: 600;
  background-color: #eee;
}