<div class="popup modal-popup payment-method wallet-payment">
    <div class="popup-hdr">
        <h4>Payment</h4>
        <button mat-button (click)="closeForm()" class="close-btn"><img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="asset-table">
            <div class="payment-method-type" *ngIf="data?.case == 'emdTopUp'">
                <div class="method-type">
                    <mat-radio-group [(ngModel)]="paymentMethod">
                        <mat-radio-button [value]="1" (change)="updateValidation($event.value)">Offline</mat-radio-button>
                        <mat-radio-button [value]="2" (change)="updateValidation($event.value)">Wallet</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="payment-method wallet-payment mt-3" *ngIf="paymentMethod == 2">
                <div class="wallet-box d-flex">
                    <h4 class="flex-fill pt-2">Pay via wallet</h4>
                    <div class="wallet-pay-amount flex-fill pt-2">₹ {{walletBalance}}</div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="f-12 d-block text-left">Amount <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <mat-label>Amount</mat-label>
                            <input matInput autocomplete="off" type="text" [(ngModel)]='walletValue' #walletInput="ngModel" pattern="^[0-9]*$" maxlength="8">
                        </mat-form-field>
                        <div *ngIf="walletInput?.errors">
                            <span class="validation-err d-block" *ngIf="walletInput?.errors?.pattern">
                                Characters are not allowed
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-right mb-3">
                        <button class="default-btn-outline mr-2" mat-button (click)="closeForm()">Close</button>
                        <button mat-button class="default-btn" [disabled]="walletInput.invalid" [ngStyle]="{'cursor': walletInput.valid ? 'pointer' : 'not-allowed'}" (click)="walletPayment()">Proceed</button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="data?.case == 'trade' || data?.case == 'auction'">
                <div class="col-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Bid Amount</td>
                                <td>{{data?.paymentDetails?.bid_amount}}</td>
                            </tr>
                            <tr *ngIf="data?.case == 'auction'">
                                <td>Registration Amount Paid</td>
                                <td>{{data?.paymentDetails?.emd_adjusted}}</td>
                            </tr>
                            <tr *ngIf="data?.case == 'auction'">
                                <td>Additional EMD Paid</td>
                                <td>{{data?.paymentDetails?.topup_adjusted}}</td>
                            </tr>                            
                            <tr>
                                <td>Buyer Premium</td>
                                <td>{{data?.paymentDetails?.buyer_premium}}</td>
                            </tr>
                            <tr>
                                <td>Parking</td>
                                <td>{{data?.paymentDetails?.parking}}</td>
                            </tr>
                            <tr>
                                <td>Invoice name change fee</td>
                                <td>{{data?.paymentDetails?.invoice_name_change_fee}}</td>
                            </tr>
                            <tr>
                                <td>Amount Paid</td>
                                <td>{{data?.paymentDetails?.amount_paid}}</td>
                            </tr>
                            <tr class="payment-det">
                                <td>Amount To be Paid</td>
                                <td>{{data?.paymentDetails?.amount_to_be_paid}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="paymentMethod == 1">
                <form [formGroup]="paymentForm" class="offine-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="f-12 d-block text-left">Payment Mode <span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>Payment Mode</mat-label>
                                <mat-select class="form-control" placeholder="Contact Person Name"
                                    (selectionChange)="onPaymentModeChange($event?.value)" formControlName="payment_mode">
                                    <mat-option [value]="pay?.value" *ngFor="let pay of paymentModeOptions;">
                                        {{pay?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="paymentForm?.get('payment_mode')?.invalid && (paymentForm?.get('payment_mode')?.touched )">
                                <span class="validation-err d-block"
                                    *ngIf="paymentForm?.get('payment_mode')?.errors?.required">
                                    Please select payment mode
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                            <label class="f-12 d-block text-left">Bank Name <span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>Bank Name</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                    formControlName="bank_name">
                            </mat-form-field>
                            <div
                                *ngIf="paymentForm?.get('bank_name')?.invalid && (paymentForm?.get('bank_name')?.touched )">
                                <span class="validation-err d-block"
                                    *ngIf="paymentForm?.get('bank_name')?.errors?.required">
                                    Please provide Bank name
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                            <label class="f-12 d-block text-left">Branch Name<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>Branch Name</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                    formControlName="branch">
                            </mat-form-field>
                            <div *ngIf="paymentForm?.get('branch')?.invalid && (paymentForm?.get('branch')?.touched )">
                                <span class="validation-err d-block" *ngIf="paymentForm?.get('branch')?.errors?.required">
                                    Please provide branch name.
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 auction-form mini-custom-file">
                            <label for="" class="f-12 d-block">Proof of Payment <span class="text-warning">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" *ngIf="!paymentForm?.get('proof_of_payment').value" (change)="handleUpload($event);" #imageInput>
                                <label class="custom-file-label custom-file-label2" for="front">
                                    <span class="cust-upload-txt cust-upload-txt2">{{paymentForm?.get('proof_of_payment').value ? getFileName(paymentForm?.get('proof_of_payment').value) : 'Choose a file'}}</span>
                                    <span class="upload-icon2" *ngIf="!paymentForm?.get('proof_of_payment').value"></span>
                                    <span class="uplode-delet" *ngIf="paymentForm?.get('proof_of_payment').value" (click)="deleteFile(paymentForm?.get('proof_of_payment').value)">
                                        <img src="../../../assets/images/Delete_icon.svg" />
                                    </span>
                                </label>
                            </div>
                            <div
                                *ngIf="paymentForm?.get('proof_of_payment')?.invalid && (paymentForm?.get('proof_of_payment')?.touched )">
                                <span class="validation-err d-block"
                                    *ngIf="paymentForm?.get('proof_of_payment')?.errors?.required">
                                    Please provide payment proof.
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                            <label class="f-12 d-block text-left">Payment Reference no <span
                                    class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>Payment Reference no</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                    formControlName="bank_ref_no">
                            </mat-form-field>
                            <div
                                *ngIf="paymentForm?.get('bank_ref_no')?.invalid && (paymentForm?.get('bank_ref_no')?.touched )">
                                <span class="validation-err d-block"
                                    *ngIf="paymentForm?.get('bank_ref_no')?.errors?.required">
                                    Please provide payment reference no.
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="paymentForm?.get('payment_mode')?.value == 'Demand Draft'">
                            <label class="f-12 d-block text-left">DD in favour of <span
                                    class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>DD in favour of</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                    formControlName="dd_in_favour_of">
                            </mat-form-field>
                            <div
                                *ngIf="paymentForm?.get('dd_in_favour_of')?.invalid && (paymentForm?.get('dd_in_favour_of')?.touched )">
                                <span class="validation-err d-block"
                                    *ngIf="paymentForm?.get('dd_in_favour_of')?.errors?.required">
                                    Please provide Demand draft favour of.
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="f-12 d-block text-left">Amount <span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="amount" maxlength="8">
                            </mat-form-field>
                            <div *ngIf="paymentForm?.get('amount')?.invalid && (paymentForm?.get('amount')?.touched )">
                                <span class="validation-err d-block" *ngIf="paymentForm?.get('amount')?.errors?.required">
                                    Please provide Amount.
                                </span>
                                <span class="validation-err d-block" *ngIf="!paymentForm?.get('amount')?.errors?.required && paymentForm.get('amount')?.errors?.pattern">Characters not allowed</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right mb-3">
                            <button class="default-btn-outline mr-2" mat-button (click)="closeForm()">Close</button>
                            <button mat-button class="default-btn" [disabled]="!paymentForm.valid"
                                [ngStyle]="{'cursor': paymentForm.valid ? 'pointer' : 'not-allowed'}"
                                (click)="saveData()">Proceed</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row my-4" *ngIf="data?.case == 'trade'">
                <div class="col-12">
                    <div class="fullPayment-wrapper">
                        <h4>Full Payment Details</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Mode of Payment</th>
                                    <th>Instrument No</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                <tr *ngFor="let final of bidDetails?.final_payments">
                                    <td>{{final?.bank_name == null ? 'N/A' : final?.bank_name}}</td>
                                    <td>{{final?.payment_mode}}</td>
                                    <td>{{final?.bank_ref_no}}</td>
                                    <td>{{final?.amount}}</td>
                                    <td>{{getPaymentStatus(final?.payment_status)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row my-4" *ngIf="data?.case == 'auction'">
                <div class="col-12">
                    <div class="fullPayment-wrapper">
                        <h4>Full Payment Details</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Bank Name</th>
                                    <th>Mode of Payment</th>
                                    <th>Instrument No</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                <tr *ngFor="let final of auctionFullPaymentDetails">
                                    <td>{{final?.payment?.transaction?.bank_name == null ? 'N/A' : final?.payment?.transaction?.bank_name}}</td>
                                    <td>{{final?.payment?.transaction?.payment_mode}}</td>
                                    <td>{{final?.payment?.transaction?.bank_ref_no}}</td>
                                    <td>{{final?.payment?.transaction?.amount}}</td>
                                    <td>{{getPaymentStatus(final?.payment?.transaction?.payment_status)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>