<!-- <main class="container-fluid reset-password-wrapper">
    <section>
      <div class="row">
        <div class="col-12  col-md-6 col-lg-5 p-0">
          <div class="left-side-container">
            <div class="welcome-box">
              <h2 class="sub-header">Welcome to iQuippo</h2>
              <p class="sub-header-text">India’s leading marketplace for end-to-end asset
                lifecycle management</p>
              <ul class="tracker-list">
                <li>95,000+ Registered Customers</li>
                <li>Track Ongoing & Upcoming Auctions</li>
                <li>Get Updated on financing Offers</li>
              </ul>
              <ul class="list-details">
                <li>buy</li>
                <li>sell</li>
                <li>rent</li>
                <li>finance</li>
                <li>valuation</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12  col-md-6 col-lg-7 right-side-container">
          <div class="signup-wrapper">
              <div class="password-block">
                  <img src="/assets/images/new-password-image.png" alt="" class="img-fluid">
                <h2>Reset Your Password</h2>
                <p class="sign-up-text">What would you like your new password to be?</p>
              </div>
           
              <div class="otp-wrapper" [formGroup]="resetpassForm">
                <div class="sign-in-pwd-wrapper">
                  <label for="">Password</label>
                <div class="row mb-3">
                  <div class="col-12">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="" value="" type="password" formControlName='Password'>
                      <mat-icon class="material-icons-outlined" matSuffix>visibility</mat-icon>                   
                    </mat-form-field>
                    <mat-error>
                      <div class="errorColor" *ngIf="resetpassForm.get('Password')?.hasError('required') && resetpassForm.get('Password')?.touched">
                           fill this mandatory field
                      </div>
                    </mat-error>
                  </div>           
                </div>
 
                <label for="">Confirm New Password</label>
                <div class="row mb-4">
                    <div class="col-12">
                      <mat-form-field floatLabel="never">
                        <input matInput placeholder="" value="" type="password" formControlName='confirmPassword'>
                        <mat-icon class="material-icons-outlined" matSuffix>visibility</mat-icon>                   
                      </mat-form-field>
                      <mat-error>
                        <div class="errorColor" *ngIf="resetpassForm.get('confirmPassword')?.hasError('required') && resetpassForm.get('confirmPassword')?.touched">
                             fill this mandatory field
                        </div>
                        <div class="errorColor" *ngIf="resetpassForm.get('confirmPassword')?.hasError('notMatch') && resetpassForm.get('confirmPassword')?.touched">
                          Both fields should be a match.
                     </div>
                      </mat-error>
                    </div>            
                  </div>
                <div class="row">                
               
                    <div class="col-12">
                      <div class="reset-pwd-btn">
                        <button mat-flat-button (click)="onSubmit()">Reset Password</button>
                      </div>  
                    </div>
                  </div>
               
                </div>
          </div>
           
           
          </div>
        </div>
      </div>
    </section>
  
  </main> -->