.reset-pwd-btn button{ width: 100%; background: #094FA3; font-size: 14px; font-weight: 500; color: #fff; height: 46px; border-radius: 6px;}

.reset-password-wrapper .signup-wrapper h2 {
	font-size: 26px;
	margin-top: 1rem;	
}
.reset-password-wrapper .password-block{ text-align: center; width: 78%; margin: 0 auto;}
.reset-password-wrapper .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.reset-password-wrapper .signup-wrapper{ padding-bottom: 4rem; }
.reset-password-wrapper .otp-wrapper .mat-input-element {
	text-align: left !important; padding-left: 15px !important;	
}

.errorColor{
	color: red;
}
