<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Terms & Conditions</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body tnc-page">
        <p>By visiting https://iQuippo.com (“Website”) you agree to be bound by the terms and conditions of this Privacy
            Policy. If you do not agree please do not use or access our Website. By mere use of the Website, you
            expressly consent to our use and disclosure of your personal information in accordance with this Privacy
            Policy. This Privacy Policy is incorporated into and subject to the Terms of Use.</p>
        <p>By providing us your personal information or by making use of the facilities provided by the Website, you
            hereby consent to the collection, storage, processing and transfer of any or all of your personal
            information by iQuippo as specified under this Privacy Policy. You further agree that such collection, use,
            storage and transfer of your Information shall not cause any loss or wrongful gain to you or any other
            person.</p>
        <h4>Nature of personal information collected </h4>
        <p>The information (which shall also include data) provided by you to IQuippo or collected from you by IQuippo
            may consist of Personal Information. Personal Information for the purposes of this Privacy Policy shall
            include, but not be limited to:</p>
        <ul>
            <li>Your user name along with Your password,</li>
            <li>Your name,</li>
            <li>Your address,</li>
            <li>Your telephone number,</li>
            <li>Your e-mail address or other contact information,</li>
            <li>Your date of birth,</li>
            <li>Your gender,</li>
            <li>Information regarding your transactions on the Website, (including sales or purchase history),</li>
            <li>Your financial information such as bank account information or credit card or debit card or other
                payment instrument details,</li>
            <li>Internet Protocol address,</li>
            <li>Any other items of ‘sensitive personal data or information' as such term is defined under the
                Information Technology (Reasonable Security Practices And Procedures And Sensitive Personal Data Of
                Information) Rules, 2011 enacted under the Information Technology Act, 2000;</li>
            <li>Identification code of your communication device which You use to access the Website or otherwise deal
                with any IQuippo entity,</li>
            <li>Your geographic location,</li>
            <li>details of Your telecom service provider or internet service provider,</li>
            <li>the type of browser (Internet Explorer, Firefox, Opera, Google Chrome etc.),</li>
            <li>the operating system of Your system, device and the Website You last visited before visiting the
                Website,</li>
            <li>The duration of Your stay on the Website is also stored in the session along with the date and time of
                Your access,</li>
            <li>Any other information that you provide during Your registration process, if any, on the Website. Such
                Personal Information may be collected in various ways including during the course of You:
                <ul>
                    <li>registering as a user on the Website,</li>
                    <li>registering as a seller on the Website,</li>
                    <li>availing certain services offered on the Website. Such instances include but are not limited to
                        making an offer for sale, online purchase, participating in any online survey or contest,
                        communicating with IQuippo's customer service by phone, email or otherwise or posting user
                        reviews on the items available on the Website, or</li>
                    <li>otherwise doing business on the Website or otherwise dealing with any IQuippo entity.</li>
                </ul>
            </li>
        </ul>
        <h4>Intimation about Cookies</h4>
        <p>To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic tools
            to collect information to assign each visitor a unique, random number as a User Identification (User ID) to
            understand the user's individual interests using the Identified Computer. Unless you voluntarily identify
            yourself (through registration, for example), we will have no way of knowing who you are, even if we assign
            a cookie to your computer. The only personal information a cookie can contain is information you supply. A
            cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your
            browser (if you click on their ads), a process that we do not control. The types of information a cookie
            collects include the date and time you visited, your browsing history, your preferences, and your username.
        </p>
        <p>Our web servers automatically collect limited information about your computer's connection to the Internet,
            including your IP address, when you visit our site. (Your IP address is a number that lets computers
            attached to the Internet know where to send you data -- such as the web pages you view.) Your IP address
            does not identify you personally. We use this information to deliver our web pages to you upon request, to
            tailor our site to the interests of our users, to measure traffic within our site and let advertisers know
            the geographic locations from where our visitors come.</p>
        <h4> Sharing of personal information with third parties</h4>
        <p>We may share personal information with our other corporate entities and affiliates. These entities and
            affiliates may reach out to you for business related purposes unless you explicitly opt-out. We may disclose
            personal information to third parties. This disclosure may be required for us to provide you access to our
            Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing
            and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal
            activities related to our Services. We do not disclose your personal information to third parties for their
            marketing and advertising purposes without your explicit consent. We may disclose personal information if
            required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond
            to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement
            offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably
            necessary to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or other
            content violates the rights of a third party; or protect the rights, property or personal safety of our
            users or the general public. In case we plan to merge with, or be acquired by another business entity, or in
            case of our re-organization, amalgamation, restructuring of business, we and our affiliates will share your
            personal information with such other business entity. Should such a transaction occur that other business
            entity (or the new combined entity) will be required to follow this privacy policy with respect to your
            personal information.</p>
        <p>iQuippo may share statistical data and other details (other than your personal information) without your
            express or implied consent to facilitates various programmes or initiatives launched by IQuippo, its
            affiliates, agents, third party service providers, partners or banks & financial institutions, from time to
            time. We may transfer/disclose/share Information (other than your personal information) to those parties who
            support our business, such as providing technical infrastructure services, analyzing how our services are
            used, measuring the effectiveness of advertisements, providing customer / buyer services, facilitating
            payments, or conducting academic research and surveys. These affiliates and third party service providers
            shall adhere to confidentiality obligations consistent with this Privacy Policy. Notwithstanding the above,
            we use other third parties such as a credit/debit card processing company, payment gateway, pre-paid cards
            etc. to enable you to make payments for buying products or availing services on IQuippo. When you sign up
            for these services, you may have the ability to save your card details for future reference and faster
            future payments. In such case, we may share your relevant personal information as necessary for the third
            parties to provide such services, including your name, residence and email address. The processing of
            payments or authorization is solely in accordance with these third parties policies, terms and conditions
            and we are not in any manner responsible or liable to you or any third party for any delay or failure at
            their end in processing the payments.</p>
        <h4>Your Representations </h4>
        <h6>You represent to iQuippo that</h6>
        <ul>
            <li>Your providing the Information to IQuippo and IQuippo's consequent storage, collection, usage, transfer,
                access or processing of the same shall not be in violation of any third party agreement, laws, charter
                documents, judgments, orders and decrees.</li>
            <li>IQuippo and each of IQuippo entities officers, directors, contractors or agents shall not be responsible
                for the authenticity of the Information that You or any other user provide to IQuippo. You shall
                indemnify and hold harmless IQuippo and each of IQuippo entities officers, directors, contracts or
                agents and any third party relying on the Information provided by You in the event You are in breach of
                this Privacy Policy including this provision and the immediately preceding provision above.</li>
            <li>Your Information will primarily be stored in electronic form however certain data can also be stored in
                physical form. We may store, collect, process and use your data in countries other than Republic of
                India but under compliance with applicable laws. We may enter into agreements with third parties (in or
                outside of India) to store or process your information or data. These third parties may have their own
                security standards to safeguard your information or data and we will on commercial reasonable basis
                require from such third parties to adopt reasonable security standards to safeguard your information /
                data.</li>
            <li>Your personal information for any purpose as may be permissible under applicable laws (including where
                the applicable law provides for such collection, usage, storage or processes in accordance with the
                consent of the user) connected with a function or activity of each of IQuippo entities and shall include
                the following (“Purpose”) :
                <ul>
                    <li>to facilitate Your use of the Website or other services of IQuippo entities;</li>
                    <li>to respond to Your inquiries or fulfil Your requests for information about the various products
                        and services offered on the Website;</li>
                    <li>to provide You with information about products and services available on the Website and to send
                        You information, materials, and offers from IQuippo;</li>
                    <li>to send You important information regarding the Website, changes in terms and conditions, user
                        agreements, and policies and/or other administrative information;</li>
                    <li>to send You surveys and marketing communications that IQuippo believes may be of interest to
                        You;</li>
                    <li>to personalize Your experience on the Website by presenting advertisements, products and offers
                        tailored to Your preferences;</li>
                    <li>to help You address Your problems incurred on the Website including addressing any technical
                        problems;</li>
                    <li>if You purchase any product or avail of any service from the Website, to complete and fulfil
                        Your purchase, for example, to have Your payments processed, communicate with You regarding Your
                        purchase and provide You with related customer service;</li>
                    <li>for proper administering of the Website;</li>
                    <li>to conduct internal reviews and data analysis for the Website (e.g., to determine the number of
                        visitors to specific pages within the Website);</li>
                    <li>to improve the services, content and advertising on the Website;</li>
                    <li>to provide value added services such as Single Sign On. Single Sign On shall mean a session/user
                        authentication process that permits a user to enter his/her name or mobile number or e-mail
                        address or any combination thereof and password in order to access multiple websites and
                        applications;</li>
                    <li>to facilitate various programmes and initiatives launched by IQuippo or third party service
                        providers and business associates</li>
                    <li>to analyze how our services are used, to measure the effectiveness of advertisements, to
                        facilitating payments</li>
                    <li>to conducting academic research and surveys</li>
                    <li>to protect the integrity of the Website;</li>
                    <li>to respond to legal, judicial, quasi judicial process and provide information to law enforcement
                        agencies or in connection with an investigation on matters related to public safety, as
                        permitted by law;</li>
                    <li>to conduct analytical studies on various aspects including user behaviour, user preferences
                        etc.;</li>
                    <li>to permit third parties who may need to contact users who have bought products from the Website
                        to facilitate installation, service and any other product related support;</li>
                    <li>to implement information security practices;</li>
                    <li>to determine any security breaches, computer contaminant or computer virus;</li>
                    <li>to investigate, prevent, or take action regarding illegal activities and suspected fraud,</li>
                    <li>to undertake forensics of the concerned computer resource as a part of investigation or internal
                        audit;</li>
                    <li>to trace computer resources or any person who may have contravened, or is suspected of having or
                        being likely to contravene, any provision of law including the Information Technology Act, 2000
                        that is likely to have an adverse impact on the services provided on any Website or by IQuippo;
                    </li>
                    <li>to enable a potential buyer or investor to evaluate the business of IQuippo you hereby agree and
                        acknowledge that the Information so collected is for lawful purpose connected with a function or
                        activity of each of the IQuippo entities or any person on their respective behalf.</li>
                </ul>
            </li>
        </ul>
        <h4>Links to third-party websites / advertisements</h4>
        <p>Our site may include third-party advertising and links to other Web sites. We do not provide any personally
            identifiable customer information to these advertisers or third-party Web sites.</p>
        <p>These third-party websites and advertisers, or Internet advertising companies working on their behalf,
            sometimes use technology to send (or "serve") the advertisements that appear on our website directly to your
            browser. They automatically receive your IP address when this happens. They may also use cookies,
            JavaScript, web beacons (also known as action tags or single-pixel gifs), and other technologies to measure
            the effectiveness of their ads and to personalise advertising content. We do not have access to or control
            over cookies or other features that they may use, and the information practices of these advertisers and
            third-party websites are not covered by this Privacy Notice. Please contact them directly for more
            information about their privacy practices. In addition, the Network Advertising Initiative offers useful
            information about Internet advertising companies (also called "ad networks" or "network advertisers"),
            including information about how to opt-out of their information collection.</p>
        <p>IQuippo.com may also display personalised third-party advertising based on personal information about
            customers, such as purchases on IQuippo.com or visits to IQuippo.com.</p>
        <p>Although IQuippo.com does not provide any personal information to advertisers, advertisers (including
            ad-serving companies) may assume that users who interact with or click on a personalised advertisement meet
            the criteria used to personalise the ad.</p>
        <h4>Security of personal information</h4>
        <p>Our Website has stringent security measures in place to protect the loss, misuse, and alteration of the
            information under our control. Whenever you change or access your account information, we offer the use of a
            secure server. Once your information is in our possession we adhere to strict security guidelines,
            protecting it against unauthorized access.</p>
        <p>Notwithstanding anything contained in this Policy or elsewhere, IQuippo shall not be held responsible for any
            loss, damage or misuse of your Personal Information, if such loss, damage or misuse is attributable to a
            Force Majeure Event (as defined below).</p>
        <p>A Force Majeure Event shall mean any event that is beyond the reasonable control of IQuippo and shall
            include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or
            industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorised
            access to computer, computer system or computer network,, computer crashes, breach of security and
            encryption (provided beyond reasonable control of IQuippo), power or electricity failure or unavailability
            of adequate power or electricity.</p>
        <p>Secured socket layer ("SSL") technology is used for processing payment transactions with third- party service
            provider partners, such as CCAvenue. Your registration information may be protected by a unique customer
            password and user ID. You should not disclose your password information to anyone and you should always
            remember to log off if using a shared computer.</p>
        <p>While we will endeavor to take all reasonable and appropriate steps to keep secure any Personal Information
            which we hold about you and prevent unauthorized access, you acknowledge that the internet or computer
            networks are not fully secure and that we cannot provide any absolute assurance regarding the security of
            Your Personal Information. Therefore, you acknowledge and agree that we assume no liability regarding the
            theft, loss, alteration or misuse of personal or other information or Content, including, without
            limitation, such information that has been provided to third parties or other users, or with regards to the
            failure of a third party to abide by the agreement between us and such third party. You agree that all
            Personal Information shall be retained till such time required for the Purpose or required under applicable
            law, whichever is later.</p>
        <h4>Phishing</h4>
        <p>Identity theft and the practice currently known as "phishing" are of great concern to the Platform.
            Safeguarding information to help protect You from identity theft is a top priority. We do not and will not,
            at any time, request your credit card information or national identification numbers in a non-secure or
            unsolicited e-mail or telephone communication.</p>
        <h4>Opting Out</h4>
        <p>We provide all users with the opportunity to opt-out of receiving non-essential (promotional,
            marketing-related) communications from us on behalf of our partners, and from us in general, after setting
            up an account. If you want to remove your contact information from all our lists and newsletters, please
            visit&nbsp;unsubscribe.</p>
        <h4>Grievance Redressal Mechanism</h4>
        <p>Any complaints, abuse or concerns with regards to content and or comment or breach of this Privacy Policy
            should be immediately informed to the designated Grievance Officer as mentioned below via in writing or
            through email to:&nbsp;customercare@iquippo.com.&nbsp;</p>
        <p>In accordance with Information Technology Act 2000 (as amended from time to time) and rules made there under,
            the name and contact details of the Grievance Officer are provided below:</p>
        <h6><strong>Mr. Avik Banerjee ("Nodal Officer")</strong></h6>
        <h6><strong>iQuippo Services Pvt. Ltd.</strong></h6>
        <h6><strong>Y-10 BL-EP, EP Block, Sector V,</strong></h6>
        <h6><strong>Salt Lake City, Kolkata - 700091</strong></h6>
    </div>
</div>