.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
}

.popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
}
.popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
}
.popup {
    background: #fff;
    border-radius: 20px;
}
/* .close-btn{
    background: transparent;
    float: right;
    border: none;
} */

.close-btn:focus {
    outline: unset !important;
}




.tnc-page h4{background: #094fa3;color: #fff; font-size: 18px; margin-bottom: 0px; padding:10px;border: 1px solid #eee;}
.tnc-page h6, .tnc-page p{padding:10px;}



@media (max-width: 767px){

    .popup-body {width: 100%;height: 80vh;}
    .modal-popup .popup-hdr h4 {width: 75%;}

}