<section class="myself-details-main-wrapper">
    <div class="row">
        <div class="col-12 p-0">
            <app-progress-steps [steps]="steps"></app-progress-steps>
        </div>
    </div> 
</section>
<div class="data-warning d-none" *ngIf="checkDataStatus()">
    <div class="container-fluid">
        <p class="mb-0">Data is not matched as per iQuippo Guidelines. Please click on the respective field and fix it.
        </p>
    </div>
</div>
<div class="dtl-section">
    <div class="">
        <div class="row" *ngIf="false">
            <div class="col-md-6">
                <h2 class="f-20 f-500">Products Detail</h2>
            </div>
            <div class="col-md-6 text-right" ngbDropdown>
                <!-- <button mat-button [matMenuTriggerFor]="filtermenu" class="default-btn-outline f-16"><img
                        src="../../../assets/images/filtericn.png" class="mr-2" alt=""> Filter</button>
                <mat-menu #filtermenu="matMenu">
                   <div class="p-3">
                    <div class="filtermenu">
                        <mat-checkbox class="d-block">Successful</mat-checkbox>
                        <mat-checkbox class="d-block mb-0">Error</mat-checkbox>
                   </div>
                   </div>
                </mat-menu> -->
            </div>
        </div>
        <mat-accordion *ngIf="false">
            <mat-expansion-panel (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Categories not identified 
                </mat-panel-title>              
              </mat-expansion-panel-header>             
               
              <div class="bulk-record-row">
                  <div class="bulk-record-column">
                    <div class="bulk-record-wrap">
                        <strong>Category</strong> 
                        <p>Tippers</p>
                    </div>
                  </div>
                  <div class="bulk-record-column">
                    <div class="bulk-record-wrap">
                        <strong>Count</strong> 
                        <p>10</p>
                    </div>
                  </div>
                  <div class="bulk-record-column">
                    <div class="bulk-record-wrap">
                        <strong>Nearest Match </strong> 
                        <p>Tipper (98%)</p>
                    </div>
                  </div>
                  <div class="bulk-record-filter">
                    <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                    <mat-menu #filtermenu="matMenu">
                        <div class="bulk-record-filter-menu">
                            <ul>
                                <li><a href="#"> Add to Dictionary </a></li>
                                <li><a href="#"> Discard Records</a></li>
                                <li><a href="#"> Add to Master </a></li>
                                <li><a href="#">  Update Value  </a></li>
                            </ul> 
                        </div>
                    </mat-menu>
                  </div>
              </div>
              
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Brands not identified 
                    </mat-panel-title>               
                </mat-expansion-panel-header>
               
                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Brand </strong> 
                          <p>International Tractors </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>5</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match  </strong> 
                          <p>International Tractors LTD (70%)</p>                        
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Brand </strong> 
                          <p>Tata Motors  </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>3</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match  </strong> 
                          <p>Tata Motors Limited LTD (70%)</p>                        
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Category  </strong> 
                          <p>JCB </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match  </strong>                           
                          <p>JCB Private LTD (40%)
                        </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Asset Models not identified  
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Model   </strong> 
                          <p>Truck-Sonaika- Sonalika DI-42 RX-3D </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match  </strong>                           
                          <p>Sonalika DI-42 RX(70%) </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Model</strong> 
                          <p>Truck-ACE- ACE SFC 407 </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match  </strong>                           
                          <p>ACE SFC 405(80% </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Model</strong> 
                          <p>Truck-Sonaika- 4118</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match </strong>                           
                          <p>No Record Found </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Model</strong> 
                          <p>Excavator-JCB-LPK 2518 </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match </strong>                           
                          <p>No Record Found </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>

             </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Locations not identified 
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="bulk-record-row">
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Location </strong> 
                          <p>India-Punjab- Chandigarh </p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Count</strong> 
                          <p>1</p>
                      </div>
                    </div>
                    <div class="bulk-record-column">
                      <div class="bulk-record-wrap">
                          <strong>Nearest Match </strong>                           
                          <p>Chandigarh (PB) </p>
                      </div>
                    </div>
                    <div class="bulk-record-filter">
                        <button mat-button [matMenuTriggerFor]="filtermenu" class="bulk-record-filterbtn"><i class="fa fa-filter"></i></button>
                        <mat-menu #filtermenu="matMenu">
                            <div class="bulk-record-filter-menu">
                                <ul>
                                    <li><a href="#"> Add to Dictionary </a></li>
                                    <li><a href="#"> Discard Records</a></li>
                                    <li><a href="#"> Add to Master </a></li>
                                    <li><a href="#">  Update Value  </a></li>
                                </ul> 
                            </div>
                        </mat-menu>
                      </div>
                </div>
                
            </mat-expansion-panel>    


          </mat-accordion>
          

        
          <div class="asset-table">
            <div class="table-responsive inner-table mb-3 user-management-heading new-equipment-tbl">
                <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
            <!-- <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
                class="default-tbl w-100 mt-3 mat-elevation-z8"> -->

                <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>CRN</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element?.id}}</td>
                </ng-container> -->
                <ng-container matColumnDef="sr_no">
                    <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.sr_no}}</td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                     <td mat-cell *matCellDef="let element">
                    <!--  <td mat-cell [class.error-rspns]="!element.is_category_valid" *matCellDef="let element"> -->
                        <span>{{element.category}}</span>
                        <!-- <span *ngIf="!element.is_category_valid"
                            [matMenuTriggerFor]="addCategory">{{element.other_category}}</span>
                        <mat-menu #addCategory="matMenu" xPosition="after">
                            <div class="px-2 py-3">
                                <div class="filtermenu">
                                    <a class="d-block">Add to Category</a>
                                    <a class="d-block" (click)="getDialogData('Category', element)">Replace with other
                                        Category</a>
                                </div>
                            </div>
                        </mat-menu> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef>Brand</th>
                     <td mat-cell *matCellDef="let element">
                        <span >{{element.brand}}</span>
                        <!-- <span *ngIf="!element.is_brand_valid"
                            [matMenuTriggerFor]="addBrand">{{element.other_brand}}</span>
                        <mat-menu #addBrand="matMenu" xPosition="after">
                            <div class="px-2 py-3">
                                <div class="filtermenu">
                                    <a class="d-block">Add to Brand</a>
                                    <a class="d-block" (click)="getDialogData('Brand', element)">Replace with other
                                        Brand</a>
                                </div>
                            </div>
                        </mat-menu> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef>Model</th>
                     <td mat-cell *matCellDef="let element">
                        <span>{{element.model}}</span>
                        <!-- <span *ngIf="!element.is_model_valid"
                            [matMenuTriggerFor]="addModel">{{element.other_model}}</span>
                        <mat-menu #addModel="matMenu" xPosition="after">
                            <div class="px-2 py-3">
                                <div class="filtermenu">
                                    <a class="d-block">Add to Model</a>
                                    <a class="d-block" (click)="getDialogData('Model', element)">Replace with other
                                        Model</a>
                                </div>
                            </div>
                        </mat-menu> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="engine_number">
                    <th mat-header-cell *matHeaderCellDef>Engine Number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.engine_number}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="request_type" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Request Type</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.request_type}}</td>
                </ng-container> -->
                <!-- <ng-container matColumnDef="purpose" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Purpose</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.purpose}}</td>
                </ng-container> -->
                <ng-container matColumnDef="asset_name" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Asset Name</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.asset_name}}</td>
                </ng-container>
                <ng-container matColumnDef="repo_date" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Repo Date</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.repo_date}}</td>
                </ng-container>
                <ng-container matColumnDef="distance_to_be_travelled" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Distance to be travelled</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.distance_to_be_travelled}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="enterprise" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Enterprise</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.enterprise}}</td>
                </ng-container> -->
                <ng-container matColumnDef="original_owner" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Original Owner</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.original_owner}}</td>
                </ng-container>
                <ng-container matColumnDef="customer_seeking_finance" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Customer Seeking Finance</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.customer_seeking_finance}}</td>
                </ng-container>
                <ng-container matColumnDef="reference_number" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Reference Number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.reference_number}}</td>
                </ng-container>
                <ng-container matColumnDef="contact_person" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>contact_person</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.contact_person}}</td>
                </ng-container>
                
                <ng-container matColumnDef="chassis_number">
                    <th mat-header-cell *matHeaderCellDef>Chassis Number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.chassis_number}}</td>
                </ng-container>
                <ng-container matColumnDef="rc_number">
                    <th mat-header-cell *matHeaderCellDef>Registration Number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.rc_number}}</td>
                </ng-container>
                <ng-container matColumnDef="mfg_year">
                    <th mat-header-cell *matHeaderCellDef>Manufacturing Year</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.mfg_year}}</td>
                </ng-container>
                <ng-container matColumnDef="selling_price">
                    <th mat-header-cell *matHeaderCellDef>Selling Price</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.selling_price}}</td>
                </ng-container>
                <ng-container matColumnDef="Last_Date_Of_Payment">
                    <th mat-header-cell *matHeaderCellDef>Last Date Of Payment</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.last_date_insta_payment!=undefined?(element.last_date_insta_payment | date:'dd-MM-yyyy'):(element.last_date_bid_payment | date:'dd-MM-yyyy')}}</td>
                </ng-container>
                <ng-container matColumnDef="hmr_kmr">
                    <th mat-header-cell *matHeaderCellDef>HMR/KMR</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.hmr_kmr}}</td>
                </ng-container>
                <ng-container matColumnDef="pin_code">
                    <th mat-header-cell *matHeaderCellDef>Pin Code</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.pin_code}}</td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>State</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.state}}</td>
                </ng-container>
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>City</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.city}}</td>
                </ng-container>
                <ng-container matColumnDef="motor_operating_hours">
                    <th mat-header-cell *matHeaderCellDef>Motor operating hours</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.motor_operating_hours}}</td>
                </ng-container>
                <ng-container matColumnDef="mileage">
                    <th mat-header-cell *matHeaderCellDef>Mileage</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.mileage}}</td>
                </ng-container>
                <ng-container matColumnDef="product_condition">
                    <th mat-header-cell *matHeaderCellDef>Product condition</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.product_condition}}</td>
                </ng-container>
                <ng-container matColumnDef="machine_sr_number">
                    <th mat-header-cell *matHeaderCellDef>Machine sr number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.machine_sr_number}}</td>
                </ng-container>
                <ng-container matColumnDef="gross_Weight">
                    <th mat-header-cell *matHeaderCellDef>gross Weight (Kg)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.gross_Weight}}</td>
                </ng-container>
                <ng-container matColumnDef="operating_weight">
                    <th mat-header-cell *matHeaderCellDef>operating weight (Kg)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.operating_weight}}</td>
                </ng-container>
                <ng-container matColumnDef="bucket_capacity">
                    <th mat-header-cell *matHeaderCellDef>bucket capacity (Kg)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.bucket_capacity}}</td>
                </ng-container>
                <ng-container matColumnDef="engine_power">
                    <th mat-header-cell *matHeaderCellDef>engine power (CC)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.engine_power}}</td>
                </ng-container>
                <ng-container matColumnDef="lifting_capacity">
                    <th mat-header-cell *matHeaderCellDef>lifting capacity (kg)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.lifting_capacity}}</td>
                </ng-container>
                <ng-container matColumnDef="service_date">
                    <th mat-header-cell *matHeaderCellDef>service date</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.service_date | date:'dd-MM-yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="operating_hours">
                    <th mat-header-cell *matHeaderCellDef>operating hours</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.operating_hours}}</td>
                </ng-container>
                <ng-container matColumnDef="service_at_kms">
                    <th mat-header-cell *matHeaderCellDef>service at kms</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.service_at_kms}}</td>
                </ng-container>
                <ng-container matColumnDef="authorized_station">
                    <th mat-header-cell *matHeaderCellDef>authorized station</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.authorized_station}}</td>
                </ng-container>
                <ng-container matColumnDef="engine_repaired">
                    <th mat-header-cell *matHeaderCellDef>engine repaired</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.engine_repaired==true?"Yes":"No"}}</td>
                </ng-container>
                <ng-container matColumnDef="video_link">
                    <th mat-header-cell *matHeaderCellDef>video link</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.video_link}}</td>
                </ng-container>
                <ng-container matColumnDef="is_contact_displayed_in_frontend">
                    <th mat-header-cell *matHeaderCellDef>is contact displayed in frontend</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.is_contact_displayed_in_frontend==true?"Yes":"No"}}</td>
                </ng-container>
                <ng-container matColumnDef="contact_number">
                    <th mat-header-cell *matHeaderCellDef>contact number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.contact_number}}</td>
                </ng-container>
                <ng-container matColumnDef="alt_contact_number">
                    <th mat-header-cell *matHeaderCellDef>alt contact number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.alt_contact_number}}</td>
                </ng-container>
                <ng-container matColumnDef="asset_address">
                    <th mat-header-cell *matHeaderCellDef>asset address</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.asset_address}}</td>
                </ng-container>
                <ng-container matColumnDef="customer_reference_number">
                    <th mat-header-cell *matHeaderCellDef>customer reference number</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.customer_reference_number}}</td>
                </ng-container>
                <ng-container matColumnDef="invoice_date" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Invoice date</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.invoice_date}}</td>
                </ng-container>
                <ng-container matColumnDef="invoice_value" *ngIf="enterprise">
                    <th mat-header-cell *matHeaderCellDef>Invoice value</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.invoice_value}}</td>
                </ng-container>
             
                <ng-container matColumnDef="variant">
                    <th mat-header-cell *matHeaderCellDef>Variant</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.variant}}</td>
                </ng-container>
                <!-- <ng-container matColumnDef="is_price_on_request">
                    <th mat-header-cell *matHeaderCellDef>Price On Request(Yes/No)</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.is_price_on_request==true?"Yes":"No"}}</td>
                </ng-container> -->
                <ng-container matColumnDef="reserve_price">
                    <th mat-header-cell *matHeaderCellDef>Reserve Price</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.reserve_price}}</td>
                </ng-container>
                <ng-container matColumnDef="buyer_premium">
                    <th mat-header-cell *matHeaderCellDef>buyer premium</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.buyer_premium}}</td>
                </ng-container>
                <ng-container matColumnDef="special_offer">
                    <th mat-header-cell *matHeaderCellDef>special offer</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.special_offer}}</td>
                </ng-container>
                <ng-container matColumnDef="rate_equipment">
                    <th mat-header-cell *matHeaderCellDef>rate equipment</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">{{element.rate_equipment}}</td>
                </ng-container>
                <ng-container matColumnDef="visuals">
                    <th mat-header-cell *matHeaderCellDef>visuals</th>
                     <td mat-cell class="category-cell" *matCellDef="let element">
                        <img *ngIf="element.visuals" [src]="element.visuals[0]" class="category-img" alt="">
                     </td>
                </ng-container>
                

                <!-- <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                     <td mat-cell [ngClass]="(element.status_code == 200) ? 'success-rspns': 'error-rspns'"
                        *matCellDef="let element">
                        {{(element.is_uploaded) ? "Successful" : "Failed"}}
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <!-- </mat-table> -->
            </table>
            <div class="no-record" *ngIf="!mainData?.length">No records found</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 mb-2"> 
                <mat-paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 20]"></mat-paginator>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                <button class="default-btn-outline" mat-button (click)="back();">Back</button>
            </div>
            <div class="col-md-6 col-6 text-right">
                <button class="default-btn" mat-button [disabled]="checkDataStatus()" (click)="runImporter()">Run
                    Importer</button>
            </div>
        </div>
    </div>
</div>