.data-warning{
    background: #C70119;
    color: #fff;
    padding: 10px 0;
}

.data-warning p{
    color: #fff;
    font-size: 16px;
}

.dtl-section{
    background-color: #fff;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 20px;
}

.filtermenu{
    min-width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 24, 25, 0.30);
    background: #fff;
    position: relative;
}

.filtermenu::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: #fff;
    box-shadow: -3px -3px 7px rgba(22, 24, 25, 0.20);
    z-index: 0;
    transform: rotate(45deg);
}
.tbl-rspnsive{
    min-width: 510px;
    overflow: auto;
}

.mat-expansion-panel {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 15px rgba(51,78,104,0.1);
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 7px !important;
}
.mat-expansion-panel + .mat-expansion-panel {
    margin-top: 15px;
}
.mat-expansion-panel-header {    
    padding: 15px 20px;   
    border-radius: 7px;
}
.mat-expansion-panel-header-title {
    font-size: 16px;
}
.mat-expansion-panel-body {
    padding: 15px 20px 15px;
    border-top: 1px solid #e0e0e0;
}

.bulk-record-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding-right: 45px;
    position: relative;
}
.bulk-record-column {
    padding: 0 5px;
    width: 33.33%;
    margin: 5px 0;
    display: flex;
}
.bulk-record-wrap {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.bulk-record-wrap p:last-child {
    margin: 0;
}
.bulk-record-filter {
    position: absolute;
    right: 0;
    top: 5px;
}
.bulk-record-filterbtn {
    background-color: #0f3d94;
    color: #fff;
    padding: 0;
    width: 40px;
    height: 40px;
    min-width: auto;
}
.bulk-record-filter-menu ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}
.bulk-record-filter-menu ul li {
    padding: 3px 5px;
}
.bulk-record-filter-menu ul li a{
    font-size: 14px;
    display: block;
    padding: 5px 5px;
}
.asset-table table .mat-header-row th {
    background-color: #0D4FA3;
    color: #fff;
}
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
        .asset-table table {max-width: 100%; overflow: auto;}
        .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 52px;}
        .asset-table table td:first-child {border-top: 0px;}
        .asset-table table td.mat-column-is_active {color: #00a767;}
        .asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
        .asset-table table td button.table-row-btn span {font-size: 18px;}
        .asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
        .asset-table table td button.table-row-btn.view-icon img{width: 22px;} 
        .asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
        .asset-table table tr:nth-child(even){background-color:#f8fbfd;}
        .asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .asset-table table tr:hover {background-color: #f8fbfd;}
        .no-record {padding: 10px;}
        .asset-table table td .category-img {width: 50px;
            height: 40px;
            padding: 3px;
            border: 1px solid #c1c9d0;
            border-radius: 4px;}