.vehicle-dtl{
    padding: 20px 0;
}
.dtl-bx{
    background: #F5F8FA 0% 0% no-repeat padding-box;
    border: 1px solid #C4CFD8;
    border-radius: 16px;
    padding: 20px;
}
.imgbx{
position: relative;
}
.imgbx img{
border: 1px solid #C4CFD8;
border-radius: 10px;
}
.imgbx span{
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 2px 8px;
    background: #0D4FA3;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
.vehicle-basic-dtl{
    font-size: 14px;
}
.default-btn, .theme-btn {height: auto;}
.custom-file {
    height: 46px;
}
.progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
    width: calc(100% - 170px);
}
.lisFile ul {
    
    text-align: left;
    padding: 0;
    margin-top: 7px;
    margin-left: 7px;
    font-size: 11px;
    font-weight: bold;
    padding-left: 7px;
    margin: 10px 0;
}
span.required {
    color: red;
}
.selectedFile{
    list-style: none;margin:10px 0px;border: none;background: #D8E9FF;
padding:5px;
}
.selectedFile li{display:flex;justify-content: space-between;}

.selectedFile i{color: red;
    line-height: 30px;
    margin-right: 10px;}


 
    .lisFile {
        width: 92%;
        position: absolute;
        top: 28px;
        z-index: 9;
        left: 16px;
        border-radius: 4px;
        height: 38px;
        background: #f5f8fa;
    }
    .vehicle-basic-dtl {
        background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    }
.lisFile ul li a.file-upload {font-size: 14px;
    white-space: nowrap;
    padding-top: 10px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0d4fa3;
    font-weight: 500;}
.lisFile ul.selectedFile {background: #f5f8fa; margin: 0px !important;}
.lisFile ul li a.delet-icon {    width: 35px;
    height: 35px;
    background: #dee5ea;
    margin-top: 2px;
    margin-right: 5px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;}

.datepicker-input .calender-icon {
    position: absolute;
    top: -12px;
    right: 10px;
}
.datepicker-input {
    position: relative;
}


@media (max-width: 767px) {

    .vehicle-basic-dtl {
        background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    }

    .lisFile.invoice-dov {
        width: calc(100% - 32px);
        top: 47px;
    }

}

@media (max-width: 576px) {

     
    .lisFile.invoice-dov {
        width: calc(100% - 32px);
        top: 46px;
    }

}