<section class="vehicle-basic-dtl pl-30 pr-30">
    <h3 class="f-20 mb-3"><span class="op-4">Basic Details </span><img src="../../../assets/images/arrow-right-icon.svg"
            alt="" class="pl-2 pr-2"> Vehicle Details</h3>
    <form [formGroup]="vehicleDetailsForm">
        <div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Product Condition <span class="required"
                            *ngIf="isRequiredField('productCondition')">*</span></label>
                    <!-- <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" formControlName="productCondition">
                        <mat-option value="1">AVERAGE</mat-option>
                        <mat-option value="2">GOOD</mat-option>
                        <mat-option value="3">EXCELLENT</mat-option>
                    </mat-select>
                </mat-form-field> -->

                    <mat-form-field floatLabel="never">
                        <mat-select class="select-new-ui" formControlName="productCondition">
                            <mat-option value="">Select Product Condition</mat-option>
                            <mat-option value="EX">EXCELLENT</mat-option>
                            <mat-option value="VGD">VERY GOOD</mat-option>
                            <mat-option value="GD">GOOD</mat-option>
                            <mat-option value="AVG">AVERAGE</mat-option>
                            <mat-option value="BAVG">BELOW AVERAGE</mat-option>
                            <mat-option value="SCR">SCRAP</mat-option>
                            <mat-option value="POOR">POOR</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div
                        *ngIf="vehicleDetailsForm?.get('productCondition')?.touched && vehicleDetailsForm?.get('productCondition')?.hasError('required')">
                        <span class="validation-err">Please select Product Conditio.</span>
                    </div>
                </div>
                <!-- <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Motor Operating Hours <span class="required" *ngIf="isRequiredField('MotorOperatingHours')">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="MotorOperatingHours">
                </mat-form-field>
                <div
                *ngIf="vehicleDetailsForm?.get('MotorOperatingHours')?.touched &&  vehicleDetailsForm?.get('MotorOperatingHours')?.hasError('required')">
                <span class="validation-err">Please enter Motor Operating Hours .</span>
            </div>
            </div> -->
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">KMR/HMR <span class="required"
                            *ngIf="isRequiredField('Mileage')">*</span></label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'')"  formControlName="Mileage">
                    </mat-form-field>
                    <div
                        *ngIf="vehicleDetailsForm?.get('Mileage')?.touched &&  vehicleDetailsForm?.get('Mileage')?.hasError('required')">
                        <span class="validation-err">Please enter KMR/HMR.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3" *ngIf="this.vaahanDetail?.is_valuation_completed">
                    <label for="" class="f-12 d-block">We have identified that you have inspection & valuation done by
                        iQuippo
                    </label>
                </div>
                <div class="col-md-4 mb-3" *ngIf="!this.vaahanDetail?.is_valuation_completed">
                    <label for="" class="f-12 d-block">Do you have inspection or valuation Report? <span
                            class="required" *ngIf="isRequiredField('isValuationReport')">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="isValuationReport">
                        <mat-radio-button value="1" (click)="updateValidations('1')">Yes</mat-radio-button>
                        <mat-radio-button value="0" (click)="updateValidations('0')">No</mat-radio-button>
                    </mat-radio-group>
                    <div
                        *ngIf="vehicleDetailsForm?.get('isValuationReport')?.touched &&  vehicleDetailsForm?.get('isValuationReport')?.hasError('required')">
                        <span class="validation-err">Please select Do you have inspection or valuation Report?</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3"
                    *ngIf="vehicleDetailsForm?.get('isValuationReport')?.value == 1 && !this.vaahanDetail?.is_valuation_completed">
                    <label for="" class="f-12 d-block">Upload Document</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="ValuationReportDoc"
                            (change)="handleUpload($event,'EQUIPMENT_DETAIL','front');">
                        <label class="custom-file-label custom-file-label2" for="front"><span
                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                class="upload-icon2"></span></label>
                    </div>
                    <div class="lisFile" *ngIf="documentName.length > 0">
                        <ul class="selectedFile">
                            <li *ngFor="let document of documentName;let i=index">
                                <a class="file-upload" href="{{document.url}}" target="_blank">{{document.name}}</a>
                                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                <a class="delet-icon" (click)="resetFile(i,document.url)">
                                    <img src="../../../assets/images/Delete_icon.svg" />
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div
                        *ngIf="vehicleDetailsForm?.get('ValuationReportDoc')?.touched &&  vehicleDetailsForm?.get('ValuationReportDoc')?.hasError('required') && documentName.length == 0">
                        <span class="validation-err">Please upload document</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3"
                    *ngIf="vehicleDetailsForm?.get('isValuationReport')?.value == 1 && !this.vaahanDetail?.is_valuation_completed">
                    <label for="" class="f-12 d-block">Valuation Amount <span class="required"
                            *ngIf="isRequiredField('valuationValue')">*</span></label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" (keyup)="checkValuatioAmount()" oninput="this.value=this.value.replace(/[^0-9]/g,'')"  formControlName="valuationValue">
                    </mat-form-field>
                    <div
                        *ngIf="vehicleDetailsForm?.get('valuationValue')?.touched &&  vehicleDetailsForm?.get('valuationValue')?.hasError('required')">
                        <span class="validation-err">Please enter valuation Amount.</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3 mt-3"
                    *ngIf="vehicleDetailsForm?.get('isValuationReport')?.value == 0 && !this.vaahanDetail?.is_valuation_completed">
                    <a (click)="redirectToVal()" class="btn theme-btn">Request Valuation
                        team</a>
                </div>
            </div>
            <div class="row" *ngIf="this.vaahanDetail?.is_valuation_completed">
                <span> <img src="/assets/images/valuation-1.svg" class="img-fluid" alt="">
                    <img src="/assets/images/valuation-2.svg" class="img-fluid" alt="">
                </span>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Do you have service logs available? <span class="required"
                            *ngIf="isRequiredField('isServiceLogs')">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="isServiceLogs">
                        <mat-radio-button value="1" (click)="updateServiceValidations('1')">Yes</mat-radio-button>
                        <mat-radio-button value="0" (click)="updateServiceValidations('0')">No</mat-radio-button>
                    </mat-radio-group>
                    <div
                        *ngIf="vehicleDetailsForm?.get('isServiceLogs')?.touched &&  vehicleDetailsForm?.get('isServiceLogs')?.hasError('required')">
                        <span class="validation-err">Please select Do you have service logs available?</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="vehicleDetailsForm?.get('isServiceLogs')?.value == 1">
                    <label for="" class="f-12 d-block">Upload Service logs</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="uploadServiceLogs"
                            (change)="handleUpload($event,'SERVICE_LOG','front');">
                        <label class="custom-file-label custom-file-label2" for="front"><span
                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                class="upload-icon2"></span></label>
                    </div>
                    <div class="lisFile" *ngIf="serviceLogName.length > 0">
                        <ul class="selectedFile">
                            <li *ngFor="let sdocument of serviceLogName;let i=index">
                                <a class="file-upload" href="{{sdocument.url}}" target="_blank">{{sdocument.name}}</a>
                                <a class="delet-icon" (click)="resetServiceFile(i,sdocument.url)">
                                    <img src="../../../assets/images/Delete_icon.svg" />
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div
                        *ngIf="vehicleDetailsForm?.get('uploadServiceLogs')?.touched && serviceLogName.length == 0 &&  vehicleDetailsForm?.get('uploadServiceLogs')?.hasError('required')">
                        <span class="validation-err">Please upload service logs</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Do you have Parking charges information? </label>
                    <mat-radio-group aria-label="Select an option" formControlName="isParkingCharges">
                        <mat-radio-button value="1" (click)="checkParkingValidation(1)">Yes</mat-radio-button>
                        <mat-radio-button value="0" (click)="checkParkingValidation(1)">No</mat-radio-button>
                    </mat-radio-group>
                    <div
                *ngIf="vehicleDetailsForm?.get('isParkingCharges')?.touched &&  vehicleDetailsForm?.get('isParkingCharges')?.hasError('required')">
                <span class="validation-err">Please select Do you have Parking charges information?</span>
                </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 mb-3" *ngIf="vehicleDetailsForm?.get('isParkingCharges')?.value == 1">
                    <label for="" class="f-12 d-block">Parked Since </label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                        <input matInput [max]="todayDate" [matDatepicker]="picker" (click)="picker.open()" readonly
                            formControlName='parkedSince'>
                        <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="parkedSince">
                </mat-form-field> -->
                    <div
                *ngIf="vehicleDetailsForm?.get('parkedSince')?.touched &&  vehicleDetailsForm?.get('parkedSince')?.hasError('required')">
                <span class="validation-err">Please select parked since</span>
                </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="vehicleDetailsForm?.get('isParkingCharges')?.value == 1">
                    <label for="" class="f-12 d-block">Parking Charge per day </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" (keyup)="parkingCharges()" oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text" formControlName="parkingChargePerDay" maxlength="10">
                    </mat-form-field>
                    <div
                *ngIf="vehicleDetailsForm?.get('parkingChargePerDay')?.touched &&  vehicleDetailsForm?.get('parkingChargePerDay')?.hasError('required')">
                <span class="validation-err">Please enter parking charges per day</span>
                </div>
                  
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Book Value</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="bookValue" maxlength="10">
                </mat-form-field>
                <div
                *ngIf="(vehicleDetailsForm.get('bookValue')?.touched) && (vehicleDetailsForm?.get('bookValue')?.hasError('maxlength'))">
                <span class="validation-err">Only 10 digits allowed</span>
                </div>
               
            </div> -->
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Availability of original invoice <span
                        class="required">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="isOriginalInvoice">
                        <mat-radio-button value="1" (click)="updateInvoiceValidations('1')">Yes</mat-radio-button>
                        <mat-radio-button value="0" (click)="updateInvoiceValidations('0')">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-4 mb-3" *ngIf="vehicleDetailsForm?.get('isOriginalInvoice')?.value == 1">
                    <label for="" class="f-12 d-block">Upload Original Invoice (Note: only images/pdf/word files allowed)</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="OriginalInvoiceDoc"
                            (change)="handleUploadInvoice($event,'INVOICE','front');">
                        <label class="custom-file-label custom-file-label2" for="front"><span
                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                class="upload-icon2"></span></label>
                    </div>
                    <div class="lisFile invoice-dov" *ngIf="invoiceName.length > 0">
                        <ul class="selectedFile">
                            <li *ngFor="let sdocument of invoiceName;let i=index">
                                <a class="file-upload" href="{{sdocument.url}}" target="_blank">{{sdocument.name}}</a>
                                <a class="delet-icon" (click)="resetinvoiceFile(i,sdocument.url)">
                                    <img src="../../../assets/images/Delete_icon.svg" />
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div
                        *ngIf="vehicleDetailsForm?.get('OriginalInvoiceDoc')?.touched && invoiceName.length == 0 &&  vehicleDetailsForm?.get('OriginalInvoiceDoc')?.hasError('required')">
                        <span class="validation-err">Please upload original invoice</span>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
            <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block">Would you like to provide price on request <span class="required">*</span></label>
                <mat-radio-group aria-label="Select an option" formControlName="isPriceOnRequest">
                    <mat-radio-button value="1" >Yes</mat-radio-button>
                    <mat-radio-button value="0" >No</mat-radio-button>
                </mat-radio-group>
                <div
                *ngIf="vehicleDetailsForm?.get('isPriceOnRequest')?.touched &&  vehicleDetailsForm?.get('isPriceOnRequest')?.hasError('required')">
                <span class="validation-err">Please select Would you like to provide price on request?</span>
                </div>
            </div>
            
        </div> -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">At what price do you want to sell your vehicle?<span
                            class="required">*</span> </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" (keyup)="enterPrice()" formControlName="sellingPrice" maxlength="9">
                    </mat-form-field>
                    <div
                        *ngIf="(vehicleDetailsForm.get('sellingPrice')?.touched) && (vehicleDetailsForm?.get('sellingPrice')?.hasError('maxlength'))">
                        <span class="validation-err">Only 10 digits allowed</span>
                    </div>
                    <div
                    *ngIf="vehicleDetailsForm?.get('sellingPrice')?.touched &&  vehicleDetailsForm?.get('sellingPrice')?.hasError('required')">
                    <span class="validation-err">please enter selling price</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>