.datepicker-bx .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.datepicker-bx .mat-datepicker-toggle{
    position: absolute;
    top: -35px;
    right: 3px;
    }
.agreement-template {border: 1px solid #c4cfd8; background: #fbfbfb;
	border-radius: 6px; padding: 10px;}
h3.title {
	font-size: 20px;  
}
.product-wrapper .product-wrapper-box{padding: 0px 0px 10px;}
.category-brand {
    border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.custom-file .custom-file-label {
    height: 42px;
}
.work-order-index {
    position: absolute;
    z-index: 3;
}
.uplode-delet {width: 35px; float: right; margin-top: 2px;; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 30px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.table-row-btn span {font-size: 18px;}
.asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.table-row-btn.view-icon img {width: 22px;}
.asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
.asset-table table tr:hover {background-color: #f8fbfd;}
.cust-upload-txt2 {
	white-space: nowrap;
width: 80%;
overflow: hidden;
display: inline-block;
text-overflow: ellipsis;
}
.add-agreement-container label {
    color: #77828a;
    font-weight: 500;
}
.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}
.agreement-box {
	margin-bottom: 15px;
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    background: #fdfdfd;
}
.agreement-box h5.title {
    font-size: 20px;
    padding: 10px;
    background: #0d4fa3;
    color: #fff;
    border-radius: 8px 8px 0px 0px;
}
.agreement-form {padding: 10px;}
.no-record {padding: 10px;}

@media (max-width: 576px) { 
    .mob-btns button {
        width: 100%;
        padding: 0px !important;
        margin-bottom: 15px;
        margin-left: 0px !important;
    }
    
    
    .progress-block {padding: 0px;} 

}

@media (max-width:767px) {
    .product-wrapper {
        padding: 15px;
        width: 100%;
        margin-bottom: 50px;
        margin-left: auto;
        transition: .5s;
    }
    .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 0px;
        border-radius: 4px;
    }
}