<div class="main-div product-wrapper">
    <div class="category-brand product-wrapper-box">
  <mat-card>
    <div class="trade-tab-container">
<section class="myself-details-main-wrapper communication-pref-wrapper">
    <div class="progress-block">
        <div class="progress-steps-group-block px-3">
            <div class="step-block  activeline">
                <!-- <h2 class="my-3">Register</h2> -->
                <span class="step-no active">
                    <span class="steps">1</span>
                </span>
                <span class="step-lbl">Profile</span>
            </div>
            <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span
                    class="step-lbl"> Preference</span></div>
            <div class="step-block"> <span class="step-no active" ><span class="steps">3</span></span><span
                    class="step-lbl">Banking</span></div>
            <div class="step-block"> <span class="step-no active"><span class="steps">4</span></span><span
                    class="step-lbl">Terms &amp; Conditions</span></div>
        </div>
    </div>
</section>
<main class="container-fluid" >
   <form [formGroup]="form" class="add-agreement-container">
    <div class="agreement-template mb-3 mt-4">
       <div class="row mt-3">
        <div class="col-md-12">
        <h5>Agreement Template</h5>
        <p>
            Please download the seller agreement template from the provided download link, Fill in the details, Sign, Scan and Upload the same to become part of the iQuippo seller network post agreement confirmation by iQuippo.
        </p>
        <!-- <p class="mb-0">Download, sign, and upload the document.</p> -->
        </div>
        <div class="col-md-12 text-right header-btn">
            <button class="default-btn px-3" (click)="sharedService.download(agreementTemplateUrl)">Download</button>
        </div>
       </div>
    </div>
    <div>
    <div class="agreement-box">
        <h5 class="title">Agreement </h5>
        <div class="agreement-form">
            <p class="txt-info"><span class="mandatory"></span>All fields are mandatory.</p>

        <div class="row mt-4">
            <div class="col-md-4 datepicker-bx mb-3">
                <label for="" class="f-12 d-block">Agreement Start Date</label>
                <mat-form-field floatLabel="never">
                    <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly formControlName="start_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="validation-err" *ngIf="form.get('start_date').touched && form.get('start_date').hasError('required')">
                        <span>It is required field.</span>
                    </div>
                </mat-form-field>
            </div>
            <div class="col-md-4 datepicker-bx mb-3">
                <label for="" class="f-12 d-block">Agreement End Date</label>
                <mat-form-field floatLabel="never">
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly [min]="form.get('start_date').value" formControlName="end_date" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <div class="validation-err" *ngIf="form.get('end_date').touched && form.get('end_date').hasError('required')">
                        <span>It is required field.</span>
                    </div>
                    <div class="validation-err" *ngIf="form.get('end_date').touched && form.get('end_date').hasError('matDatepickerMin')">
                        <span>End date should be less than or equal to start date.</span>
                    </div>
                </mat-form-field>   
            </div>
            <div class="col-md-4 mb-3">
                <label class="d-block f-12">Upload Agreement letter</label>
                <div class="custom-file-1">
                    <!-- <input #agreement type="file" (change)="handleUpload($event,'agreement_letter')" required> -->
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" #agreement (change)="handleUpload($event,'agreement_letter')" autocomplete="off">
                        <label class="custom-file-label custom-file-label2" [class.work-order-index]="this.form?.get('agreement_letter')?.value" for="front">
                          <span class="cust-upload-txt cust-upload-txt2">
                            {{this.form?.get("agreement_letter")?.value ? this.form?.get("agreement_letter")?.value.substr(this.form?.get("agreement_letter")?.value.lastIndexOf("/")+ 1) : 'Choose a file'}}
                          </span>
                          <span *ngIf="!this.form?.get('agreement_letter')?.value" class="upload-icon2"></span>
                          <span *ngIf="this.form?.get('agreement_letter')?.value" (click)="deleteImg(this.form?.get('agreement_letter')?.value)" class="uplode-delet">
                            <img src="../../../assets/images/Delete_icon.svg" />
                          </span>
                         </label>
                        <div *ngIf="form?.get('agreement_letter')?.touched && form?.get('agreement_letter')?.invalid ">
                          <span class="validation-err" *ngIf="form?.get('agreement_letter')?.errors?.required">Please upload
                            Agreement Order</span>
                        </div>
                      </div> 
                </div>
            </div>
            <div class="col-md-12 mb-3 d-none" formArrayName="multipleAgreement" >
                <div class="row mb-3" [formGroupName]="i" *ngFor="let agreement of form?.get('multipleAgreement')?.controls; index as i">
                    <div class="col-md-4" >
                    <label class="d-block f-12">Upload work Order {{i+1}}</label>
                    <div class="custom-file-1" >
                        <!-- <input type="file" #work_order (change)="handleWorkUpload($event,'work_order',i)" required> -->
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" #work_order (change)="handleWorkUpload($event,'work_order',i)" autocomplete="off">
                            <label class="custom-file-label custom-file-label2" [class.work-order-index]="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value" for="front">
                              <span class="cust-upload-txt cust-upload-txt2">
                                {{this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value ? this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.substr(this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.lastIndexOf("/")+ 1) : 'Choose a file'}}
                              </span>
                              <span *ngIf="!this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value" class="upload-icon2"></span>
                          <span *ngIf="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value" (click)="deleteImg(this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value,i)" class="uplode-delet">
                            <img src="../../../assets/images/Delete_icon.svg" />
                          </span>
                             </label>
                            <div *ngIf="form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.touched && form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.invalid ">
                              <span class="validation-err" *ngIf="form?.get('work_order')?.errors?.required">Please upload
                                Agreement Order</span>
                            </div>
                          </div> 
                    </div>
                    </div>
                    <div class="col-md-4">
                        <button class="default-btn mt-4" *ngIf="form?.get('multipleAgreement')?.length==i+1" (click)="addAgreement()" mat-button>Add More</button>
                        <button class="btn default-btn-outline mt-4" *ngIf="form?.get('multipleAgreement')?.length>1 && form?.get('multipleAgreement')?.length!=i+1" (click)="removeAgreement(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 d-none">
                <label class="f-12 d-block">Is Fixed Sales Commission?</label>
                    <mat-slide-toggle class="mt-2" formControlName="enableCost"  (change)="enableCost()" [disableRipple]="true"></mat-slide-toggle>
            </div>
            <div class="col-md-4 d-none">
                <!-- <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.get('enableCost').value==true">Fixed Commission Cost</label>
                <label for="" class="form-label" *ngIf="form?.get('multipleAgreement')?.get('enableCost').value==false">Fixed Commission Percent(%)</label> -->
                <label for="" class="form-label d-block f-12" *ngIf="form?.get('enableCost').value==true">Fixed Sales Commission</label>
                <label for="" class="form-label d-block f-12" *ngIf="form?.get('enableCost').value==false">Sales Commission Percent(%)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" value="5" type="text" formControlName='commission_value' readonly>
                </mat-form-field>
                <!-- <div *ngIf="adduserform.get('firstname')?.touched && adduserform?.get('firstname')?.hasError('required')">
                    <span class="validation-err">Please enter the first name.</span>
                </div> -->
            </div>
            <div class=" ml-auto col-md-12 text-right mob-btns mt-4">
                    <!-- <label for="" class="form-label f-12 d-block">&nbsp;</label> -->
                    <button class="default-btn" mat-button [disabled]="form?.invalid" (click)="onSubmit()">Send for Approval</button>
                    <button class="default-btn ml-2" mat-button [disabled]="res?.results?.length==0" (click)="finish()">Finish</button>
                    <!-- <button class="default-btn btn-block" mat-button *ngIf="form?.get('multipleAgreement')?.length==i+1" [disabled]="form.invalid" (click)="onSubmit()">Send for Approval</button> -->
                </div>
        </div>
        </div>
    </div>

    </div>
    
    <div class="row mt-4">
        
        <div class="col-lg-12 col-md-12 col-sm-12 user-management-heading new-equipment-tbl">
            <h3 class="title">Agreement List</h3>
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3 user-management-heading new-equipment-tbl">
                    <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource1" matSortStart="asc" matSort (matSortChange)="getAgreement()" matSortActive="id">
            <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource1" class="default-tbl"> -->

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement Id</th>
                    <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">{{lesson.id}}</td>
                </ng-container>

                <ng-container matColumnDef="start_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement Start Date</th>
                    <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">{{lesson.start_date| date:'dd-MM-yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="end_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement End Date</th>
                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson">{{lesson.end_date| date:'dd-MM-yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="seller_mobile_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        {{lesson.user_data.mobile_number}}</td>
                </ng-container>
                <ng-container matColumnDef="seller_email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                        {{lesson.user_data.email}}</td>
                </ng-container>
                <ng-container matColumnDef="agreement_letter">
                    <th mat-header-cell *matHeaderCellDef>Agreement Letter</th>
                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson"><a href="javascript:void(0)" class="cursor-pointer" (click)="sharedService.download(lesson.agreement_letter)">Agreement Letter</a> </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell class="Status-cell" *matCellDef="let lesson">{{agreementStatus[lesson.status]}}</td>
                </ng-container>
                
                <!-- <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell class="Status-cell" *matCellDef="let lesson">{{this.LeadStatus[lesson.status]}}</mat-cell>
                </ng-container> -->


                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Action</th> 
                    <td mat-cell class="Action-cell" *matCellDef="let lesson">
                        <!-- <a href="javascript:void(0)" (click)="actionPopup(lesson)">
                            <span><img src="../../../assets/images/visibility.svg"></span>
                        </a> -->
                        <button class="table-row-btn view-icon" mat-button  (click)="actionPopup(lesson)">
                            <span><img src="../../../assets/images/visibility.svg"></span>
                        </button>
                        <!-- <mat-icon class="mr-1 cursor-pointer" (click)="actionPopup(3,lesson.id,lesson)">check</mat-icon>
                        <mat-icon class="cursor-pointer" (click)="actionPopup(4,lesson.id,lesson)">delete_forever</mat-icon> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- </mat-table> -->
                    </table>
                    <div class="no-record" *ngIf="res?.results?.length==0">No records found</div>
                    </div>
            </div>
            
            <mat-paginator [length]="res?.count" (page)="getAgreement()" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
        </div>
    </div>
</form> 
</main>
</div>
</mat-card>
  </div>
</div>