<div class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']"> Advanced Valuation Request </a></li>
      </ol>
    </div>
  
    <div class="admin-page-heading">
      <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
        <h3 class="admin-page-title">Advanced Valuation Request</h3>
      </div>
      <div class="admin-page-buttons col-lg-6 col-md-4 col-sm-4 col-4">
        <div class="header-btn">
          <button mat-button class="excel-export-section" (click)="export()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
        </div>
        <!-- <div class="header-btn"><button mat-button [routerLink]="['/admin-dashboard/products/used-products-upload']">Add
            Product</button></div> -->
      </div>
    </div>
    <form [formGroup] = 'filterFormGroup'>
      <div class="user-management-top-section">
        <div class="row my-3">
          <div class=" col-sm-6 col-lg-3 col-md-6 mb-3 mb-md-0 md-lg-0">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="Search" [(ngModel)]="searchText" formControlName = 'serach' (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off"/>
            </mat-form-field>
          </div>
          <div class=" col-sm-6 col-lg-3 col-md-6">
            <mat-form-field floatLabel="never">
              <mat-select class="form-control" placeholder="Select Status" formControlName='filter' (selectionChange)="statusFilter($event?.value)">
                <mat-option>Select Status</mat-option>
                <!-- <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                  {{status?.name}}
                </mat-option> -->
                <mat-option  *ngFor="let status of statusOptions;" [value]="status?.value">
                  {{status?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3  mb-3">
            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
      <mat-form-field floatLabel="never" class="datepicker-input">
        <input placeholder="Enter From Date" matInput [matDatepicker]="picker5"
            (click)="picker5.open()" readonly [(ngModel)]="fromDate" [max]="getDate()" [ngModelOptions]="{standalone: true}" (dateInput)="this.activePage = 1;getPage()">
        <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                <img src="../../../assets/images/calendar.svg" />
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
    </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 mb-3 ">
            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
      <mat-form-field floatLabel="never" class="datepicker-input">
        <input placeholder="Enter To Date" matInput [matDatepicker]="picker6"
            (click)="picker6.open()" readonly [(ngModel)]="toDate" [min]="fromDate" [max]="todayDate" [ngModelOptions]="{standalone: true}" (dateInput)="this.activePage = 1;getPage()">
        <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                <img src="../../../assets/images/calendar.svg" />
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker6></mat-datepicker>
    </mat-form-field>
        </div>  
          
          
          
        </div>
      </div>
    </form>
    
  
    <div class="desktop-table">
    <mat-card class="asset-table">
      <div class="table-responsive inner-table mb-3">
        <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc"
          matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
          <ng-container matColumnDef="unique_control_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UCN</th>
            <td mat-cell *matCellDef="let row">
              <span class="mobile-label">UCN</span>
              {{row?.unique_control_number}} </td>
          </ng-container>
          <ng-container matColumnDef="advanced_valuation_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Request Type</span>
              {{row?.request_type}} </td>
          </ng-container>
          <!-- Purpose - to be removed bcz this is not available from frontend. -->
          <!-- <ng-container matColumnDef="purpose">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</th>
            <td mat-cell *matCellDef="let row"> {{row?.valuation_asset?.seller.first_name}} </td>
          </ng-container> -->
          <ng-container matColumnDef="valuation_asset__seller__first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">User Name</span>
              {{row?.user_name}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset No.</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Asset No.</span>
              {{row?.asset_number}} </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Request Date</span>
              {{row?.created_at | date : 'dd-MM-yyyy hh:mm:ss'}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Status</span>
              {{row?.status_display_name }} </td>
          </ng-container>
          <ng-container matColumnDef="transaction_id__payment_mode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Mode</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Payment Mode</span>
              {{row?.payment_mode}} </td>
          </ng-container>
          <ng-container matColumnDef="job_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job ID</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Job ID</span>
              {{row?.job_id}} </td>
          </ng-container>
          <ng-container matColumnDef="report_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Report No.</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Report No.</span>
              {{row?.report_number == null ? '' : row?.report_number +" "}}
              <!-- <a *ngIf = "row?.valuation_report != null" class="img-download" (click) = 'downloadInvoice(row?.valuation_report)'></a> -->
              <button  mat-button *ngIf = "row?.valuation_report"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.valuation_report)'>
                <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download"></i></span>	
              </button>
            </td>
          </ng-container>
          
          <!-- <ng-container matColumnDef="view_all">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>View All</th>
            <td mat-cell *matCellDef="let row"> 
              <button class="simple-btn exclainmation-icon  table-row-btn" mat-button (click) = "moreInfoDialog(row.unique_control_number)" >
                <span>
                  <img src="../../../assets/images/exclamation-mark.svg" alt="Information" title="Information" />
                </span>
              </button>
            </td>
          </ng-container> -->
          
          <ng-container matColumnDef="Actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Actions</span>
              <div class="act-flex">
                 
             <div class="acbtn">
                <button class="simple-btn mr-2 table-row-btn edit-icon" mat-button *ngIf="row.status == '1'" (click)="edit(row)">
                    <span><img src="../../../assets/images/editicon.svg"></span>
                  </button>
                  <button class="simple-btn  table-row-btn mr-2 view-icon" mat-button *ngIf="row.status == '2'" (click)="makePayment(row)">
                      <span><img src="../../../assets/images/make-payment.png"></span>
                    </button>
                  <button class="simple-btn exclainmation-icon  table-row-btn" mat-button (click) = "moreInfoDialog(row.unique_control_number)" >
                    <span>
                      <i class="fa fa-info information-icon" aria-hidden="true"></i>
                    </span>
                  </button>
                  <button  mat-button *ngIf = "row?.invoice_url != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.invoice_url)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download"></i></span>	
                  </button>
                  <button  mat-button *ngIf = "row?.inspection_report != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.inspection_report)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download"  title="Download Inspection Report"></i></span>	
                </button>
                  <!-- <a *ngIf = "row?.invoice_url != null" (click) = 'downloadInvoice(row?.invoice_url)' class="img-download" ></a> -->
                  <!-- <button  mat-button  class="simple-btn payment-icon table-row-btn" (click) = 'bidAction("Payment")'>
                    <span><i class="fa fa-credit-card" aria-hidden="true" alt ="Payment" title="Payment"></i></span>	
                  </button> -->
                  <!-- <button *ngIf = "isInvoiceGenerationActive(row)" class="simple-btn exclainmation-icon  table-row-btn" mat-button (click) = "generateInvoice(row.unique_control_number)" >
                    <span>
                      <img src="../../../assets/images/exclamation-mark.svg" alt="Information" title="Information" />
                    </span>
                  </button> -->
                  <button  mat-button *ngIf = "row.status == '5'"  class="simple-btn payment-icon table-row-btn" (click) = 'resumeJob( row?.unique_control_number)'>
                    <span><i class="fa fa-pause" aria-hidden="true" alt ="On Hold" title="On Hold"></i></span>	
                  </button>
                   <button mat-button class="simple-btn decline table-row-btn" (click) = 'openCancelDialog(row?.unique_control_number)'>
                     <span><img src="/assets/images/decline.svg" alt="Cancel" title="Cancel" /></span>	
                   </button>
                   <!-- <button type="button" class="simple-btn decline table-row-btn" *ngIf="row.status == '8' && !row?.invoice_url" (click)="generateInvoice(row?.unique_control_number)"><span><img src="../../../assets/images/chart.svg" alt="Generate Invoice" title="Generate Invoice"></span></button> -->
             </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
      </div>
  
      <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
        (page)="onPageChange($event)"></mat-paginator>
    </mat-card>
    </div>


    

    </div>
  </div>
  <!-- <div class="popup modal-popup" *ngIf='cancelConfirmation'>
    <div class="popup-hdr" >
      <h4> Cancellation Request</h4>
       <button mat-button (click)="backClick()" class="close-btn">
           <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="accepted-container" >
          <p>Do you want to Cancel this request?</p>
          <div class="text-right dialog-actions-container"> 
              <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>No</button>
              <button class="default-btn plr-md-40 mr-3" (click)='cancel(ucn)' mat-button>Yes</button>
          </div>
        </div>
    </div>
  </div> -->