
<div class="resetpwd-dialog-wrapper">
    <div class="signup-wrapper">
        <div class="password-block">
            <img src="/assets/images/confirm-pwd-image.png" alt="" class="img-fluid">
          <h2 class="mt-3">Password Reset Successful</h2>
          <p class="sign-up-text">Awesome, you’ve successfully updated your password.</p>
        </div>
     
        <div class="row mb-3">   
            <div class="col-12">
              <div class="signin-dialog-btn">
                <button mat-flat-button (click)="goToLogin()" mat-dialog-close >Sign In</button>
              </div>  
            </div>
          </div>
     
     
    </div>
    
</div>