.resetpwd-dialog-wrapper{ overflow: hidden;}
.resetpwd-dialog-wrapper .signup-wrapper{ width: 100%; height: auto; position: static; padding: 2em; text-align: center;}
.signin-dialog-btn button{
    width: 164px;
    background: #094FA3;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    height: 46px;
    border-radius: 6px;
    }
    

    .signup-wrapper {
        background: #fff;
        border-radius: 4px;
        padding: 1em;
    }