.weight-600{
    font-weight:600;
}
.box-val{
    border: 1px solid #ccc;
    width: 40%;
    padding: 10px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-val p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.valuation-report {
    height: 85vh;
}

.row.reuest-info .title {
    background: #eee;
    padding: 10px;
    margin-bottom: 0em;
}   
.row.reuest-info {
    margin: 0px;
    border: 1px solid #eee;
}
.row.reuest-info .form-group.col-sm-12.col-md-6.col-lg-6.col-12 {
    border: 1px solid #eee;
    margin: 0px;
    padding-top: 0.5em;
}

.row.image-report {
    margin: 15px 0px;
    border: 1px solid #eee;
}