<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">Insta valuation Report</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body valuation-report">
    <div class="row reuest-info">
        <div class="col-sm-12 title">Request Information</div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Unique Control Number</label>
            <p>{{this.reportData.ucn}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Category</label>
            <p>{{this.reportData.category}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Brand</label>
            <p>{{this.reportData.brand}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Model</label>
            <p>{{this.reportData.model}}</p>
        </div>
    </div>

    <div class="row image-report">
        <div class="col-md-6">
            <img class="w-100" [src]="getAssetCondition()" alt="">
        </div>

        <div class="col-md-6">
            <img class="w-100" src="/assets/images/asset-condition-scale.png" alt="">

            
          
        </div>
    </div>
    <div class="row asset-data-value text-right">
        <div class="col-sm-12">
                <div class="box-val ml-auto">
                        <p>{{this.reportData.valuation_min_amount}} - {{this.reportData.valuation_max_amount}}</p>
                    </div>
                    <label class="d-block f-12">Estimated Value based on information provided</label>
        </div>
    </div>
</div>
</div>