.popup-hdr {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px solid #a0adb7;
  color: #000000;
  position: relative;
}

.delet-icon {
  position: absolute;
    right: 20px;
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    top: 31px;
    text-align: center;
    padding: 0px;
    line-height: 25px;
    background: #fdefef;
}

.popup-body {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.popup-available-space {
  padding: 12px 20px;
  color: #204555;
  background: #e2f5e9;
  border-radius: 6px;
}
.popup {
  background: #fff;
  border-radius: 20px;
} 

.close-btn:focus {
  outline: unset !important;
}

.otp-wrapper .mat-input-element {
  text-align: left !important;
  padding-left: 15px !important;
}
