<div class="popup modal-popup">
  <div class="popup-hdr">
    <h4>{{isEdit ? "Edit Technical Specification" : "Add Technical Specification"}}</h4>
    <button class="close-btn mat-button" (click)="close()">
      <span><img alt="" src="../../../../../../assets/images/Close.svg"></span>
    </button>
  </div>
  <div class="popup-body" [formGroup]="fieldForm">
    <div class="otp-wrapper" formArrayName="OldFieldsValuesList"
      *ngFor="let field of oldfieldsValuesList.controls; let i = index">
      <div [formGroupName]="i" class="sign-in-pwd-wrapper">

        <div class="row mb-3">
          <div class="col-3">
            <label>{{ field.get("field_name")?.value }}</label>
            <mat-form-field floatLabel="never">
              <input required matInput type="text" placeholder="" formControlName="field_value" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <label class="d-block invisible">Checkbox</label>
            <!-- <mat-checkbox formControlName="visible_on_front">Select {{ field.get("field_name")?.value }}</mat-checkbox> -->
            <mat-checkbox class="mt-2" formControlName="visible_on_front"> Visible on Front</mat-checkbox>

          </div>
          <div class="col-3" *ngIf="field.get('visible_on_front')?.value">
            <label>Priority</label>
            <mat-form-field floatLabel="never">
              <input matInput type="number" placeholder="Enter priority" formControlName="priority" />
            </mat-form-field>
            <button class="table-row-btn delet-icon" *ngIf="field.get('visible_on_front')?.value == true" mat-button
              (click)="delete(field,i)"><span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                  title="Delete">
              </span></button>

          </div>

          <div class="col-3">
            <label>Unit</label>
            <mat-form-field floatLabel="never">
              <input matInput type="text" placeholder="Enter Unit" min="2" max="6" formControlName="field_unit" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="otp-wrapper" formArrayName="NewFieldsValuesList"
      *ngFor="let field of newfieldsValuesList.controls; let i = index">
      <div [formGroupName]="i" class="sign-in-pwd-wrapper">

        <div class="row mb-3">
          <div class="col-3">
            <label>{{ field.get("field_name")?.value }}</label>
            <mat-form-field floatLabel="never">
              <input required matInput type="text" placeholder="" formControlName="field_value" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <!-- <mat-checkbox formControlName="visible_on_front">Select {{ field.get("field_name")?.value }} &nbsp;
            </mat-checkbox> -->
            <label class="d-block invisible">Checkbox</label>
            <mat-checkbox class="mt-2" formControlName="visible_on_front"> Visible on Front &nbsp;
            </mat-checkbox>
          </div>
          <div class="col-3" *ngIf="field.get('visible_on_front')?.value">
            <label>Priority</label>
            <mat-form-field floatLabel="never">
              <input matInput type="number" placeholder="Enter priority" formControlName="priority" />
            </mat-form-field>
          </div>

          <div class="col-3">
            <label>Unit</label>
            <mat-form-field floatLabel="never">
              <input matInput type="text" placeholder="Enter Unit" min="2" max="6" formControlName="field_unit" />
            </mat-form-field>
          </div>

        </div>

      </div>
    </div>
    <div class="text-right">
      <button class="default-btn plr-md-40" *ngIf="newfieldsValues && newfieldsValues.length > 0 || oldfieldsValues &&
        oldfieldsValues.length > 0 " (click)="okClick()" mat-button>
        Save
      </button>
    </div>
  </div>
</div>