<mat-card>
    <div class="custom-table-main product-wrapper">
        <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Offer Master</li>
            </ol>
        </div>
        <div class="admin-page-heading">           
            <div class="admin-page-header col-lg-6 col-md-12">
              <h3 class="admin-page-title">Offer Master</h3>
            </div> 
            <div class="admin-page-buttons col-lg-6 col-md-6 add-user">
                    <div class="header-btn">
                    <button mat-button (click)="openDialog()">Add New</button>
                    <!-- (click)="openDialog()" -->
                    </div>
                </div>
          </div>
     

        <!-- <ng-container *ngIf="showForm">
                    
            <app-offer-master-create (ChdOutput) ="GetChildData(!showForm)"></app-offer-master-create>
         
        </ng-container> -->

        <app-offer-master-lists></app-offer-master-lists>
        </div>
    </div>
</mat-card>