/* .custom-table-main {width:80% !important;float: right;}
.user-management-heading, .add-user{display: inline-block;}
.add-user{text-align: right;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-management {
    padding-bottom: 30px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 100%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
} */


.main-heading {font-size: 32px; font-weight: 700;}

.mat-card {padding: 0px;}
.sub-title {font-size: 24px;}
.add-certificate-section label {color: #77828a; font-weight: 600;}
.upload-input .custom-file {position: relative; height: 46px;}
.upload-input .custom-file-input {position: absolute; height: 46px; cursor: pointer;}
.upload-input .custom-file-label {padding: 0px; position: relative; width: 100%; height: 46px; margin-bottom: 0px; line-height: 46px;}
.upload-input .custom-file .upload-icon {position: absolute; top: 7px; right: 10px; background-size: cover; width: 30px; height: 30px;}
.upload-input .custom-file .cust-upload-txt {position: absolute; top: 0px; left: 10px;}
.upload-input .custom-file .cust-upload-txt .blue-txt {text-decoration: none;}
.custom-file {height: auto;}
.save-btn button {padding: 0px 50px;}
.save-btn {text-align: right;}

.asset-table .inner-table {border-radius: 10px; overflow: auto;}
.default-tbl {border: 1px solid #e0e4e8;}
.default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e4e8;}
.default-tbl mat-cell, .default-tbl .mat-cell {color: #333; opacity: 0.87; white-space: nowrap; height: 42px; padding: 15px 21px;}
.default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
.default-tbl mat-header-cell, .default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.default-tbl mat-row:hover {background-color: #f8fbfd;}
.asset-table .table-hover tbody tr:hover {background-color: #f8fbfd;}
.e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-detailrowcollapse, 
.e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {border-color: #e0e4e8;}
.asset-table .default-tbl .mat-row:nth-child(odd) {
    background-color: #f8fbfd;
}
.asset-table .default-tbl .mat-cell .mat-button {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px;
    text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.export-btn {background: #00a767; padding: 5px 20px; border: 0px;}
.header-btn button{padding: 5px 20px; color: #fff; font-size: 14px; background-color: #0d4fa3;}


     

@media screen and (max-width: 767px) {

    
    .main-heading {font-size: 24px; margin-bottom: 15px;}
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}
    .save-btn button {padding: 5px 35px; margin-bottom: 10px;}
    .used-upload-section .title {font-size: 20px;}
    .add-user button {height: 36px; margin-bottom: 10px;}
}