.forgot-pwd{ text-align: right;}
.forgot-pwd a{
	color: #0D4FA3;
	font-size: 12px;
	font-weight: 500;
	text-align: right;
	text-decoration: underline;
}
.signinotp button{ width: 100%; color: #094FA3; font-size: 14px; font-weight: 500; background: #fff; height: 46px; border-radius: 6px;}
.simplesigninbtn button{ width: 100%; background: #094FA3; font-size: 14px; font-weight: 500; color: #fff; height: 46px; border-radius: 6px;}

.sigin-main-wrapper .otp-wrapper .sign-in-pwd-wrapper .mat-input-element {
	text-align: left !important;
	padding-left: 15px !important;
	font-size: 14px;
	color: #001229;
	font-weight: 500;
}

.sigin-main-wrapper .err-msg {	
	font-size: 12px;	
	position: static;
	width: 100%;	
	margin-bottom: 0;
	margin-top: -10px;
}
.sigin-main-wrapper .otp-group {	
	margin-bottom: 1rem;
}

.my-class .signup-wrapper {padding: 1rem 1rem 1rem;}
.signup-wrapper h2 {display: inline-block; width: 50%;}
.signup-wrapper button.popup-close {
	float: right;
    margin-top: 0px;
	border: 0px;
    background: transparent;
    padding: 0px !important;
    min-width: auto;
}

.sigin-main-wrapper .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.otp-wrapper .mat-input-element{
	text-align: left!important;
    padding-left: 15px !important;
}
.sign-in-with-otp-wrapper .otp-wrapper input{
	text-align: center !important;
	padding-left: 0 !important;
   }

@media(max-width:375px){
	.row.mt-3.mob-btns .col-btn {
		flex: 1 1 100%!important;
		max-width: 100%;
		padding: 0px 15px !important;
		margin-bottom: 1em;
	}
	.mat-input-element, .mat-select {
		border: none;
		height: 40px;
		border-radius: 6px;
		padding-left: 5px!important;
		background: #f5f8fa!important;
		padding: 0;
		border-radius: 0!important;
	}
}