<main class="container-fluid sigin-main-wrapper">
    <section>
      <div class="row">
        <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
          <!-- <div class="left-side-container">
            <div class="welcome-box">
              <h2 class="sub-header">Welcome to iQuippo</h2>
              <p class="sub-header-text">India’s leading marketplace for end-to-end asset
                lifecycle management</p>
              <ul class="tracker-list d-xs-none">
                <li>95,000+ Registered Customers</li>
                <li>Track Ongoing & Upcoming Auctions</li>
                <li>Get Updated on financing Offers</li>
              </ul>
              <ul class="list-details d-xs-none">
                <li>buy</li>
                <li>sell</li>
                <li>rent</li>
                <li>finance</li>
                <li>valuation</li>
              </ul>
            </div>
          </div> -->
          <app-left-menu></app-left-menu>
        </div>
        <div class="col-12  col-md-6 col-lg-7 right-side-container">
          <div class="signup-wrapper signin-close">
            <h2>Sign In</h2>
            <button class="close-btn popup-close  mat-button" (click)="close()">
              <img class="close-img" (click)='dialogRef.close(false)' alt="" src="../../../../../../assets/images/Close.svg">
          </button>
            <p class="sign-up-text">Sign In to Get started</p>
            <form class="otp-wrapper" [formGroup]='signinform' autocomplete="off">
              <label for="">Mobile Number</label>
              <div class="form-row mb-3">
                <div class="col-5 col-sm-3">
                  <mat-select  class="ptb-5 card-select payment-card-slct" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)" formControlNumber='countrycode'>
                    <mat-select-trigger>
                      <div class="d-block">
                        <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                        <div class="prefix-number">
                          <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                        </div>
                      </div>
                    </mat-select-trigger>
                    
                    <mat-option *ngFor="let country of countryList" [value]="country">
                      <div class="d-block">
                        <img [src]="country.flag" class="saved-card-icn" alt="">
                        <div class="prefix-number">
                          <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                        </div>
                      </div>
                    </mat-option>
                  </mat-select>
                </div>
                <div class="col-7 col-sm-9 text-left">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="Enter your Mobile number" (blur)="checkPhoneField()" [attr.maxlength]="maxLengthValue" (keyup)="otpSection=true" (keyup.enter)="signInWithOtp()" value="" formControlName="mobile" autocomplete="off" [ngClass]="isSubmitted && (signinform.get('mobile')?.hasError('required') || signinform.get('mobile')?.hasError('minLength') || signinform.get('mobile')?.hasError('maxLength')) ? 'haserror' : ''" >
                  </mat-form-field>
                  <!-- <div *ngIf="signinform.get('mobile')?.touched && signinform.get('mobile')?.hasError('required')">
                    <span class="validation-err">Please enter the mobile number.</span>
                  </div>
                  <div *ngIf="signinform.get('mobile')?.touched && signinform.get('mobile')?.hasError('minlength')">
                    <span class="validation-err">Please input 10 digits number.</span>
                  </div> -->
                  <div *ngIf="signinform.get('mobile')?.touched && !signinform.get('mobile')?.valid"><span class="validation-err">Please input a valid Phone Number.</span></div>
                  <div *ngIf="signinform.get('mobile')?.touched && signinform.get('mobile')?.hasError('required')">
                    <span class="validation-err">Please enter the mobile number.</span>
                  </div>
                  <div *ngIf="signinform.get('mobile')?.touched && signinform.get('mobile')?.hasError('minlength')">
                    <span class="validation-err">Please input a valid Phone Number.</span>
                  </div>
                  <div *ngIf="signinform.get('mobile')?.touched && signinform.get('mobile')?.hasError('maxlength')">
                    <span class="validation-err">Please input a valid Phone Number.</span>
                  </div>
                </div>
              </div>
              <div class="otp-wrapper" >
                <div class="sign-in-pwd-wrapper" [hidden]="!otpSection">
                  <label for="">Password</label>
                <div class="row mb-3">
                  <div class="col-12">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="" value="" autocomplete="off"  [type]="fieldTextType ? 'text' : 'password'" formControlName="password">
                      <mat-icon class="material-icons-outlined cursor-pointer" (click)="fieldTextType = !fieldTextType" matSuffix>{{fieldTextType ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                    <div *ngIf="signinform.get('password')?.touched && signinform.get('password')?.hasError('required')">
                      <span class="validation-err">Please enter the password.</span>
                    </div>
                    <!-- <div *ngIf="signinform.get('password')?.touched && signinform.get('password')?.hasError('minLength')">
                      <span class="validation-err">Please use minimum 8 charectors.</span>
                    </div> -->
                    <!-- <div *ngIf="signinform.get('password')?.touched && signinform.get('password')?.hasError('pattern')">
                      <span class="validation-err">Please use minimum one lower case, one upper case, one symbol and one digit, password length should be 8 chracters.</span>
                    </div> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-8 err-msg">
                      {{message}}
                  </div>
                  <div class="col-12 col-sm-4 pl-0 forgot-pwd">
                    <a href="javascript:void(0)" [hidden]="!otpSection" (click)="goToForgotPage()" >Forgot Password?</a>
                  </div>
                </div>
                <div class="row mt-3 mob-btns">
                  <div class="col-5 col-sm-6 col-btn">
                    <div class="simplesigninbtn">
                      <button mat-flat-button (click)="signin()" [disabled]='signinform.invalid'>Sign In</button>
                    </div>
                  </div>
                  <div class="col-7 col-sm-6 pl-0 col-btn">
                   <div class="signinotp">
                    <button mat-stroked-button (click)="signInWithOtp()" [disabled]='signinform.get("mobile")?.invalid'>Sign In using OTP</button>
                   </div>
                  </div>
                </div>
                </div>
                <div class="sign-in-with-otp-wrapper" [hidden]="otpSection">
                  <div class="otp-wrapper" [formGroup]='submitOtp' id="submitOtpid">
                    <label for="">OTP</label>
                    <div class="row otp-group mb-0">
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField1' #otpField1 (keyup)="myfun('1')" (focus)="myfun('11')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;"  />
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField2' #otpField2 (keyup)="myfun('2')" (focus)="myfun('22')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;"  />
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField3' #otpField3 (keyup)="myfun('3')" (focus)="myfun('33')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;" />
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField4' #otpField4 (keyup)="myfun('4')" (focus)="myfun('44')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;" />
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField5' #otpField5 (keyup)="myfun('5')" (focus)="myfun('55')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;" />
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" type="number" formControlName='otpField6' #otpField6 (keyup)="myfun('6')" (focus)="myfun('66')" maxlength="1" minlength="1" value="" onKeyPress="if(this.value.length==1) return false;" />
                        </mat-form-field>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-12">
                        <mat-error>
                          <div class="validation-err" *ngIf="((submitOtp.get('otpField1')?.touched && submitOtp.get('otpField1')?.hasError('required')) || (submitOtp.get('otpField2')?.touched && submitOtp.get('otpField2')?.hasError('required')) || (submitOtp.get('otpField3')?.touched && submitOtp.get('otpField3')?.hasError('required')) || (submitOtp.get('otpField4')?.touched && submitOtp.get('otpField4')?.hasError('required')) || (submitOtp.get('otpField5')?.touched && submitOtp.get('otpField5')?.hasError('required')) || (submitOtp.get('otpField6')?.touched && submitOtp.get('otpField6')?.hasError('required')))">
                            Enter complete 6 digit Numeric OTP.
                          </div>

                        </mat-error>
                        <div class="row">
                          <div class="col-12 col-sm-8 err-msg">
                            {{message}}
                          </div>
                          <div class="col-12 col-sm-4 pl-0 forgot-pwd">
                            <a  *ngIf="!resendOTP" href="javascript:void(0)" class="text-underline" >Resend OTP in {{remainingTime}}</a>
                          </div>
                          <div class="col-12 forgot-pwd">
                            <a  *ngIf="resendOTP" href="javascript:void(0)" class="text-underline" (click)="signInWithOtp()" [hidden]="otpSection">Resend OTP</a>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3  mob-btns">
                    <div class="col-5 col-sm-6 col-btn">
                      <div class="simplesigninbtn">
                        <button mat-flat-button (click)="verifyOtpForSignIN()" >Sign In</button>
                      </div>
                    </div>
                    <div class="col-7 col-sm-6 pl-0  col-btn">
                     <div class="signinotp">
                      <button mat-stroked-button (click)="otpSection=!otpSection">Sign In using Password</button>
                     </div>
                    </div>
                  </div>
                </div>



              </div>
            </form>


            <div class="signup-options-wrapper">
              <p class="singupvia-txt">OR YOU CAN SIGNIN VIA</p>
              <div class="row  mt-4 text-center">
                <div class="col-6 pad1 cursor-pointer"><a (click)="signInWithGoogle()"><img src="/../../assets/images/Google.png" class="img-fluid" alt=""></a></div>
                <div class="col-6 pad1 cursor-pointer"><a (click)="signInWithFB()"><img src="/../../assets/images/fb.png" class="img-fluid" alt=""></a></div>
              </div>
              <p class="signintxt">New to iQuippo?<a href="javascript:void(0)" (click)="signup()"> Signup</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>