<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Enterprise Valuation Settings</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-7 col-7">
                <h3 class="admin-page-title">Enterprise Valuation Settings</h3>
            </div>
            <div class="text-right header-btn col-lg-6 col-md-5 col-5 pl-0 pl-sm-2 pl-md-3 pl-lg-3">
                <div class="exportWrapper text-right d-inline-block align-middle">
                    <button type="button" class="btn btn-lg d-inline-block theme-btn mat-button" (click)="export('')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <div class="d-inline-block align-middle add-btn-more" *ngIf="!showForm">
                    <button mat-button class="default-btn ml-2 align-middle" (click)="showForm = !showForm"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                    <!-- <div class="exportWrapper text-right">
          <button type="button" class="btn btn-lg d-inline-block theme-btn mat-button" (click)="export('')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
          <button type="button" class="btn btn-lg d-inline-block mr-0 theme-btn mat-button" (click)="export('all')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export All</button>
        </div> -->
                </div>
            </div>
        </div>
        <ng-container *ngIf="showForm">
            <div class="user-management mt-4">
                <h4 class="title">Add New Enterprise Valuation Request </h4>
                <div class="add-certificate-section">
                    <form [formGroup]="enterpriseValuationForm">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                <label class="f-12 d-block">Request Type<span class="text-warning">*</span></label>
                                <mat-select placeholder="Select Request Type" required formControlName="request_type">
                                    <mat-option [value]="1">
                                        Valuation
                                    </mat-option>
                                    <mat-option [value]="2">
                                        Inspection
                                    </mat-option>
                                    <mat-option [value]="3">
                                        GPS Installation
                                    </mat-option>
                                    <mat-option [value]="4">
                                        Photographs Only
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="(enterpriseValuationForm.get('request_type')?.touched || submitted) && enterpriseValuationForm?.get('request_type')?.hasError('required')">
                                    <span class="validation-err">Please select Request Type</span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-lg-4 mb-3">
                                <label for="" class="f-12 d-block">Effective From Date<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter Effective From Date" matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName='effective_from'>
                                    <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('effective_from')?.touched || submitted) && enterpriseValuationForm?.get('effective_from')?.hasError('required')">
                                    <span class="validation-err">Please enter Effective From Date</span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-lg-4 mb-3">
                                <label for="" class="f-12 d-block">Effective To Date<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter Effective To Date" matInput [matDatepicker]="picker2" (click)="picker2.open()" formControlName='effective_to'>
                                    <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('effective_to')?.touched || submitted) && enterpriseValuationForm?.get('effective_to')?.hasError('required')">
                                    <span class="validation-err">Please enter Effective To Date</span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-6 col-lg-4 mb-3">
                                <label for="" class="f-12 d-block">Enterprise<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-select placeholder="Select Enterprise" required formControlName="enterprise" multiple [disabled]="this.disableEnt">
                                        <mat-option *ngFor="let customer of enterpriseCustomerList" [value]="customer.id">{{customer?.company_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('enterprise')?.touched || submitted) && enterpriseValuationForm?.get('enterprise')?.hasError('required')">
                                    <span class="validation-err">Please select Enterprise</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-md-6 col-lg-4">
                                <label class="f-12 d-block">Charge Basis<span class="text-warning">*</span></label>
                                <mat-select placeholder="Select Charge Basis" required formControlName="charge_basis" (selectionChange)="addValidations($event?.value)">
                                    <mat-option [value]="1">
                                        Categorical
                                    </mat-option>
                                    <mat-option [value]="3">
                                        Flat
                                    </mat-option>
                                    <mat-option [value]="4">
                                        Percentage
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="(enterpriseValuationForm.get('charge_basis')?.touched || submitted) && enterpriseValuationForm?.get('charge_basis')?.hasError('required')">
                                    <span class="validation-err">Please select Charge Basis</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="enterpriseValuationForm.get('charge_basis')?.value == 1">
                                <label for="" class="f-12 d-block">Category</label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="select-new-ui" formControlName="category" placeholder="Select Category" multiple>
                                        <mat-option *ngFor="let category of categoryList" [value]="category.id">
                                            {{category.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('category')?.touched) && enterpriseValuationForm?.get('category')?.hasError('required')">
                                    <span class="validation-err">Please enter the category.</span>
                                </div>
                            </div>
                            <!-- <div class="form-group col-sm-4" *ngIf="enterpriseValuationForm.get('charge_basis')?.value == 1 && enterpriseValuationForm.get('category')?.value != ''">
                      <label class="f-12 d-block">Charge Type<span class="text-warning">*</span></label>
                      <mat-select placeholder="Select Charge Type" required formControlName="charge_type">
                          <mat-option [value]="1">
                              Range
                          </mat-option>
                          <mat-option [value]="2">
                             Flat
                          </mat-option>
                          <mat-option [value]="3">
                           Percentage
                         </mat-option>
                      </mat-select>
                      <div
                          *ngIf="(enterpriseValuationForm.get('charge_type')?.touched || submitted) && enterpriseValuationForm?.get('charge_type')?.hasError('required')">
                          <span class="validation-err">Please select Charge Type</span>
                      </div>
                  </div> -->
                            <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="enterpriseValuationForm.get('charge_type')?.value == '1'">
                    <label for="" class="f-12 d-block">Brand</label>
                <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" formControlName="brand"
                        placeholder="Select certificate">
                        <mat-option *ngFor="let certificate of categoryData" [value]="certificate.id">
                            {{certificate.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                    <div
                        *ngIf="(enterpriseValuationForm.get('brand')?.touched) && enterpriseValuationForm?.get('brand')?.hasError('required')">
                        <span class="validation-err">Please enter the Brand.</span>
                    </div>
                </div> -->
                            <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="enterpriseValuationForm.get('charge_type')?.value == '1'">
                  <label for="" class="f-12 d-block">Model</label>
              <mat-form-field floatLabel="never">
                  <mat-select class="select-new-ui" formControlName="model"
                      placeholder="Select model" multiple>
                      <mat-option *ngFor="let certificate of categoryData" [value]="certificate.id">
                          {{certificate.name}}</mat-option>
                  </mat-select>
              </mat-form-field>
                  <div
                      *ngIf="(enterpriseValuationForm.get('model')?.touched) && enterpriseValuationForm?.get('model')?.hasError('required')">
                      <span class="validation-err">Please enter the model.</span>
                  </div>
              </div> -->
                            <div class=" col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="enterpriseValuationForm.get('charge_basis')?.value != '' &&  enterpriseValuationForm.get('charge_basis')?.value != 4">
                                <label for="" class="f-12 d-block">Amount</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput id="amount" formControlName="amount" placeholder="Enter Amount">
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('amount')?.touched || submitted) && enterpriseValuationForm?.get('amount')?.hasError('required')">
                                    <span class="validation-err">Please enter the Amount.</span>
                                </div>
                                <div *ngIf="(enterpriseValuationForm?.get('amount')?.touched || submitted) && enterpriseValuationForm?.get('amount')?.hasError('pattern')">
                                    <span class="validation-err">Amount is invalid</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3" *ngIf="enterpriseValuationForm.get('charge_basis')?.value != '' &&  enterpriseValuationForm.get('charge_basis')?.value == 4">
                                <label for="" class="f-12 d-block">Percentage</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput id="amount" type="number" max="100" formControlName="amount" placeholder="Enter Percentage" pattern="(^100(\.0{1,2})?$)|(^([1-9]([0-9])?|0)(\.[0-9]{1,2})?$)">
                                </mat-form-field>
                                <div *ngIf="(enterpriseValuationForm.get('amount')?.touched || submitted) && enterpriseValuationForm?.get('amount')?.hasError('required')">
                                    <span class="validation-err">Please enter the Percentage.</span>
                                </div>
                                <div *ngIf="(enterpriseValuationForm?.get('amount')?.touched || submitted) && enterpriseValuationForm?.get('amount')?.hasError('pattern')">
                                    <span class="validation-err">Percentage is invalid</span>
                                </div>
                            </div>

                        </div>
                        <div class="row ng-scope">
                            <div class="col-md-12">
                                <div class="save-btn text-right">
                                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
                                    <button mat-button class="default-btn" *ngIf="!this.editId" [disabled]="!enterpriseValuationForm.valid" [ngStyle]="{'cursor': enterpriseValuationForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
                                    <button mat-button class="default-btn" *ngIf="this.editId" [disabled]="!enterpriseValuationForm.valid" [ngStyle]="{'cursor': enterpriseValuationForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ng-container>
        <!-- <div class="admin-page-buttons col-lg-6 col-md-6">
       
      </div>  -->
        <div class="user-management-top-section">
            <div class="row my-3">
                <div class=" col-sm-6 col-lg-3 col-md-6">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                    </mat-form-field>
                </div>
                <!-- <div class=" col-sm-6 col-lg-3 col-md-6">
          <mat-form-field floatLabel="never">
            <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
              <mat-option>Select Status</mat-option>
              <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                {{status?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

            </div>
        </div>

        <div class="desktop-table">
            <mat-card class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                        <ng-container matColumnDef="request_type_display">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Request Type</span> {{row?.request_type_display}} </td>
                        </ng-container>
                        <ng-container matColumnDef="enterprise">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise Name</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Enterprise Name</span> {{getCompanyName(row?.enterprise)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="effective_from">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Effective From Date</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Effective From Date</span> {{row?.effective_from | date:'dd-MM-yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="effective_to">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Effective To Date</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Effective To Date</span> {{row?.effective_to | date:'dd-MM-yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="charge_basis_display">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Charge Basis</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Charge Basis</span> {{row?.charge_basis_display}} </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Amount</span> {{row?.amount}} </td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categories</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Categories</span> {{getCategory(row)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Actions</span>
                                <button class="simple-btn " mat-button (click)="action('Edit',row.id)">
                <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
            </button>
                                <button mat-button class="simple-btn delet-icon" (click)="action('Delete',row.id)">
                <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
            </button>





                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
                </div>

                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </mat-card>
        </div>




    </div>
</div>