<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Auction Fulfilment</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-7 col-md-5 col-sm-7 col-7">
                <h3 class="admin-page-title">Auction Fulfilment</h3>
            </div>
            <div class="admin-page-buttons col-lg-5 col-md-7 col-sm-5 col-5 pl-1 pl-sm-3 pl-md-3 pl-lg-3">
                <div class="text-right mr-2 position-relative upload-input d-inline-block align-middle">
                    <label class="f-12 d-block position-absolute" style="visibility: hidden;"> Upload <span
                            class="text-warning">*</span></label>
                    <button mat-button class="default-btn-outline importBtn">
                        <input type="file" class="custom-file-input" (change)="onFileChange($event, 'Upload')"
                            #fileInput>
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                </div>
                <div class="text-right position-relative  d-inline-block align-middle upload-input">
                    <label class="f-12 d-block position-absolute" style="visibility: hidden;"> Update <span
                            class="text-warning">*</span></label>
                    <button mat-button class="default-btn importBtn">
                        <input type="file" class="custom-file-input" (change)="onFileChange($event, 'Update')"
                            #fileInput>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
                </div>
            </div>
        </div>

        <div class="auction-fulfillment-field">
            <form [formGroup]="form">
                <div class="row export-row">
                    <div class="col-md-6 col-lg-4 text-right">
                        <div class="do-date-filed">
                            <mat-checkbox (change)="checkedDOIssueDate($event)">
                                DO Issue Date </mat-checkbox>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <mat-form-field class="datepicker-input" floatLabel="never">
                            <!-- [min]="getMinDate()" -->
                            <input matInput class="form-control" placeholder="From Date" formControlName='startDate'
                                [max]="now" [matDatepicker]="picker1" readonly>
                            <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                            <div
                                *ngIf="form?.get('startDate')?.touched && form?.get('startDate')?.hasError('required')">
                                <span class="validation-err">Please select start date</span>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-2">
                        <mat-form-field class="datepicker-input" floatLabel="never">
                            <input matInput class="form-control" placeholder="To Date" formControlName='endDate'
                                [matDatepicker]="picker2" [min]="getEndDate()" [max]="now" readonly>
                            <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker2">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                            <div *ngIf="form?.get('endDate')?.touched && form?.get('endDate')?.hasError('required')">
                                <span class="validation-err">Please select end date</span>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="text-right exportWrapper">
                            <button mat-button class="default-btn importBtn mr-0" (click)="export()"><i
                                    class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">

                <div class="row m-0">
                    <div class="col-sm-12 mb-3 upload-record" *ngIf="isShowInvalidRecords">
                        <a style="color:blue;" (click)="viewErrorList()">View Invalid Records</a>
                        <span class="delet-icon" (click)="hideErrorList()"><img
                                src="../../../assets/images/Delete_icon.svg" /></span>
                    </div>
                </div>
            </div>
            <mat-tab-group class="auction-tab" (selectedTabChange)="onListTabChanged($event);">
                <mat-tab label="Approved Bid">

                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <label class="f-12 d-block">Auction ID - Auction name
                                <span class="text-warning">*</span>
                            </label>
                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto1" [(ngModel)]="auctionValue"
                                    placeholder="Search Auction" (keyup)="searchAuction()"
                                    (keydown.enter)="searchAuction()">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let obj of parentAuctionsData"
                                        (onSelectionChange)="selectAuctionId(obj?.auction_engine_auction_id)"
                                        [value]="(obj?.auction_engine_auction_id ? (obj?.auction_engine_auction_id + ' - ')  : '') + obj?.name">
                                        {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}}
                                        {{obj.name}}
                                    </mat-option>

                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <label class="f-12 d-block">Select LOA Template <span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select LOA Template"
                                    (selectionChange)="selectLOATemplateValue($event?.value)">
                                    <mat-option>Select LOA Template</mat-option>
                                    <mat-option *ngFor="let obj of LOATemplateTypes" [value]="obj.value">
                                        {{obj.typeName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- fullfillmeny-generate-btn text-right -->
                        <div class="col-md-12 col-lg-6 col-sm-6 mb-3">
                            <div class=" d-inline-block align-middle">
                                <label class="f-12 d-block d-lg-block d-md-none" style="visibility: hidden;">Generate
                                    LOA <span class="text-warning">*</span></label>
                                <button type="submit" (click)="GenerateLOA()"
                                    class="default-btn px-2 mr-2 pull-right ng-scope">Generate
                                    LOA</button>

                            </div>
                            <div class=" d-inline-block align-middle">
                                <label class="f-12 d-block d-lg-block d-md-none" style="visibility: hidden;"> Skip
                                    Notification
                                </label>

                                <mat-checkbox (change)="onSkipNotificationCheck($event)" ([ngModel])="skipNotification">
                                    Skip Notification
                                </mat-checkbox>
                            </div>
                            <!-- <div
                                [ngClass]="auctionFilterValue ? 'd-inline-block align-middle displayBlock' : 'd-inline-block align-middle displayNone' ">
                                <label class="f-12 d-block d-lg-block d-md-none" style="visibility: hidden;">Change
                                    Revise Date <span class="text-warning">*</span></label>
                                <button type="submit" (click)="ShowChangeReviseDiv('','AuctionWise')"
                                    class="default-btn px-2 mr-2 pull-right ng-scope">Change Revise Date</button>
                            </div>
                            <div
                                [ngClass]="auctionFilterValue ? 'd-inline-block align-middle displayBlock' : 'd-inline-block align-middle displayNone' ">
                                <div class="text-left exportWrapper">
                                    <label class="f-12 d-block d-lg-block d-md-none" style="visibility: hidden;">Export
                                        Selected Auction
                                        Id</label>
                                    <button mat-button class="default-btn importBtn px-2 mr-0"
                                        (click)="exportSelectedAuctionId('ApprovedBid')"><i
                                            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export
                                        Selected Auction Id</button>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="edit-secction mb-3" *ngIf="isShowReviseDateDiv">
                        <h4>REVISE DATE</h4>
                        <div class="edit-secction-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="" class="f-12 d-block"> Date to be extended </label>
                                    <mat-form-field class="datepicker-input" floatLabel="never">
                                        <input matInput class="form-control" placeholder="Date to be extended"
                                            [min]="normalMinDate" [matDatepicker]="picker1" [(ngModel)]="reviseDate"
                                            readonly>
                                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="picker1">
                                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                <img src="../../../assets/images/calendar.svg" alt="">
                                            </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <label class="f-12 d-block" style="visibility: hidden;">Change Revise Date <span
                                    class="text-warning">*</span></label>
                            <div class="col-md-12 col-lg-12 col-sm-12 mb-3 text-right">

                                <button type="submit" (click)="ChangeReviseDate()"
                                    [disabled]="reviseDate ? false : true"
                                    class="default-btn px-4 ng-scope">Submit</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Search" [(ngModel)]="searchApprovedBidText"
                                    (keyup)="searchInList('ApprovedBid')" (keydown.enter)="searchInList('ApprovedBid')"
                                    autocomplete="off" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Deal Status"
                                    (selectionChange)="searchByDealStatus($event?.value, 'ApprovedBid')">
                                    <mat-option>Select Deal Status</mat-option>
                                    <mat-option value={{status?.value}} *ngFor="let status of DealStatus;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            [ngClass]="auctionFilterValue ? 'd-inline-block align-middle displayBlock' : 'd-inline-block align-middle displayNone' ">
                            <button type="submit" (click)="ShowChangeReviseDiv('','AuctionWise')"
                                class="default-btn px-2 mr-2 pull-right ng-scope">Change Revise Date</button>
                        </div>
                        <div
                            [ngClass]="auctionFilterValue ? 'd-inline-block align-middle displayBlock' : 'd-inline-block align-middle displayNone' ">
                            <div class="text-left exportWrapper">
                                <button mat-button class="default-btn importBtn px-2 mr-0"
                                    (click)="exportSelectedAuctionId('ApprovedBid')"><i
                                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export
                                    Selected Auction Id</button>
                            </div>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource"
                                    matSort (matSortChange)="onSortColumn($event, 'ApprovedBid')" matSortActive="-id"
                                    matSortDirection="desc">
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Select</span>
                                            <mat-checkbox *ngIf="!element.loa_url" [(ngModel)]="element.selectedAuction"
                                                (change)="onChange($event, element)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">ID</span> {{element?.id}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{element?.lot_bid &&
                                            element?.lot_bid?.lot &&
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id
                                            : 'NA'}}

                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parent_lot_bid__lot__auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Auction</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{
                                            element?.lot_bid?.lot?.auction?.auction_engine_parent_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_parent_auction_id :
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id
                                            : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__lot_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Number</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot Number</span> {{element?.lot_bid &&
                                            element?.lot_bid.lot && element?.lot_bid.lot.lot_number ?
                                            element?.lot_bid.lot.lot_number : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Description</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot Description</span> {{element?.lot_bid &&
                                            element?.lot_bid.lot && element?.lot_bid.lot.description ?
                                            element?.lot_bid.lot.description : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyer Name</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.first_name ?
                                            element?.lot_bid.user.first_name : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__mobile_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Mobile No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyer Mobile No</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.mobile_number ?
                                            element?.lot_bid.user.mobile_number: 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Email</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.email ?
                                            element?.lot_bid.user.email : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Bid Amount</span> {{element?.lot_bid &&
                                            element?.lot_bid.amount ? element?.lot_bid.amount : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction__buyers_premium">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyers Premium </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyers Premium</span>
                                            {{element?.actual_buyers_premium ? element?.actual_buyers_premium : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bid Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Bid Status</span> {{
                                            element?.bid_status_display_name ? element?.bid_status_display_name : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__deal_status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deal Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Deal Status</span>
                                            {{element?.deal_status_display_name ? element?.deal_status_display_name :
                                            'NA' }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction__payment_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Payment Due Date
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Full Payment Due Date</span>
                                            <p class="payment-due-div"> {{ element.payment_due_date ?
                                                (element.payment_due_date | date:'dd-MM-yyyy') : element?.lot_bid &&
                                                element?.lot_bid.lot && element?.lot_bid.lot.auction &&
                                                element?.lot_bid.lot.auction.payment_date ?
                                                element?.lot_bid.lot.auction.payment_date
                                                : 'NA'}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Request Date</span>
                                            <p class="payment-due-div"> {{ element.created_at ?
                                                (element.created_at | date:'dd-MM-yyyy') : '-'}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__relationship_manager__user__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> RM Name
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">RM Name</span>
                                            <p class="payment-due-div"> {{
                                                element?.lot_bid?.user_relationship_manager_full_name ?
                                                element?.lot_bid?.user_relationship_manager_full_name : '-'}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Asset_Id">
                                        <th mat-header-cell *matHeaderCellDef>Asset Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset Id</span>
                                            <span *ngIf="!element?.asset_ids?.length">
                                                NA
                                            </span>
                                            <span *ngIf="element?.asset_ids?.length == 1">
                                                {{element?.asset_ids.join(", ")}}
                                            </span>

                                            <span>
                                                <a *ngIf="element?.asset_ids?.length > 1" href="javascript:void(0);"
                                                    style="color:#336daa" (click)="viewAllIds(element?.asset_ids)">View
                                                    all
                                                    asset ids </a>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Full_Payment_Details">
                                        <th mat-header-cell *matHeaderCellDef> Full Payment Details </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Full Payment Details</span>
                                            <span
                                                *ngIf="!element?.fulfilment_payments.length && !element?.is_fully_paid">NA</span>
                                            <span
                                                *ngIf="element?.fulfilment_payments.length && !element?.is_fully_paid">Partial
                                                Paid</span>
                                            <span *ngIf="element?.is_fully_paid">Paid</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Invoice_in_Favour_of">
                                        <th mat-header-cell *matHeaderCellDef> Invoice in Favour of </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Invoice in Favour of</span>
                                            <span *ngIf="element?.delivery_order_url">
                                                {{setInvoicePerson(element)}}
                                            </span>
                                            <button *ngIf="!element?.delivery_order_url" mat-button
                                                (click)="bidAction('Invoice',element)" mat-button
                                                class="default-btn-outline mobile-btn payment-btn">
                                                Update
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Delivery_Order">
                                        <th mat-header-cell *matHeaderCellDef> Delivery Order </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Delivery Order </span>
                                            <button mat-button [disabled]="!element?.is_fully_paid"
                                                (click)="bidAction('DO',element)" mat-button
                                                class="default-btn-outline mobile-btn payment-btn">
                                                Issue DO
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Action </span>
                                            <button class="simple-btn mr-2 view-icon" mat-button
                                                (click)="moreInfoDialog(element)">
                                                <span>
                                                    <i class="fa fa-info information-icon"></i>
                                                </span>
                                            </button>

                                            <button *ngIf="element?.loa_url" class="simple-btn mr-2 view-icon"
                                                (click)="sharedService.download(element?.loa_url)" mat-button>
                                                <a>
                                                    <span><i class="fa fa-download invoce-downlad"
                                                            title="View LOA"></i></span>
                                                </a>
                                            </button>


                                            <button class="simple-btn view-icon mr-2" *ngIf="!element?.is_fully_paid"
                                                mat-button (click)="ProceedFullPayment( element )">
                                                <span><img src="../../../assets/images/wallet-black.png"
                                                        title="Make Payment (Online/Offliine/Wallet)"></span>
                                            </button>

                                            <button mat-button class="simple-btn date-icon"
                                                (click)="ShowChangeReviseDiv( element.id,'FulfilmentWise')">
                                                <span><img src="../../../assets/images/calendar.svg" alt="Delete"
                                                        Title="Change Payment Period"></span>
                                            </button>
                                            <button mat-button class="simple-btn decine-icon"
                                                (click)="bidAction('rejectTransaction',element)">
                                                <span><img src="../../../assets/images/decline.svg" alt="Delete"
                                                        Title="Reject"></span>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                </table>
                                <div class="no-record" *ngIf="!dataSource?.data?.length">No fulfillment record exists
                                    for the auctions(s)</div>
                            </div>
                        </div>

                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event , 'ApprovedBid')">
                        </mat-paginator>
                    </div>


                </mat-tab>
                <mat-tab label="Closed Bid">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Search" [(ngModel)]="searchClosedBidText"
                                    (keyup)="searchInList('ClosedBid')" (keydown.enter)="searchInList('ClosedBid')"
                                    autocomplete="off" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">

                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Deal Status"
                                    (selectionChange)="searchByDealStatus($event?.value, 'ClosedBid')">
                                    <mat-option>Select Deal Status</mat-option>
                                    <mat-option value={{status?.value}} *ngFor="let status of DealStatus;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">

                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto2" [(ngModel)]="closeBidAuctionValue"
                                    placeholder="Search Auction" (keyup)="searchCloseBidAuction()">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let obj of closedParentAuctionsData"
                                        (onSelectionChange)="selectClosedBidAuctionId(obj?.auction_engine_auction_id)"
                                        [value]="(obj?.auction_engine_auction_id ? (obj?.auction_engine_auction_id + ' - ')  : '') + obj?.name">
                                        {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}}
                                        {{obj.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                            <div class="text-left exportWrapper" *ngIf="ClosedBidAuctionFilterValue">
                                <!-- <label class="f-12 d-block  invisible">date</label> -->
                                <button mat-button class="default-btn importBtn mr-0"
                                    (click)="exportSelectedAuctionId('ClosedBid')"><i
                                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export Selected
                                    Auction Id</button>
                            </div>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="closeBidData"
                                    matSort (matSortChange)="onSortColumn($event , 'ClosedBid')" matSortActive="-id"
                                    matSortDirection="desc">

                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">ID</span> {{element?.id}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{element?.lot_bid &&
                                            element?.lot_bid?.lot &&
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id
                                            : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parent_lot_bid__lot__auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Auction</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{
                                            element?.lot_bid?.lot?.auction?.auction_engine_parent_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_parent_auction_id :
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id ?
                                            element?.lot_bid?.lot?.auction?.auction_engine_auction_id
                                            : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__lot_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Number</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot Number</span> {{element?.lot_bid &&
                                            element?.lot_bid.lot && element?.lot_bid.lot.lot_number ?
                                            element?.lot_bid.lot.lot_number : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Description</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot Description</span> {{element?.lot_bid &&
                                            element?.lot_bid.lot && element?.lot_bid.lot.description ?
                                            element?.lot_bid.lot.description : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyer Name</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.first_name ?
                                            element?.lot_bid.user.first_name : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__mobile_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Mobile No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyer Mobile No</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.mobile_number ?
                                            element?.lot_bid.user.mobile_number: 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Email</span> {{element?.lot_bid &&
                                            element?.lot_bid.user && element?.lot_bid.user.email ?
                                            element?.lot_bid.user.email : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bid Amount </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Bid Amount</span> {{element?.lot_bid &&
                                            element?.lot_bid.amount ? element?.lot_bid.amount : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction__buyers_premium">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyers Premium </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Buyers Premium</span>
                                            {{element?.actual_buyers_premium ? element?.actual_buyers_premium : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bid Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Bid Status</span> {{
                                            element?.bid_status_display_name ? element?.bid_status_display_name : 'NA'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__deal_status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deal Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Deal Status</span> {{
                                            element?.deal_status_display_name ? element?.deal_status_display_name : 'NA'
                                            }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__lot__auction__payment_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Payment Due Date
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Full Payment Due Date</span>
                                            <p class="payment-due-div"> {{ element.payment_due_date ?
                                                (element.payment_due_date | date:'dd-MM-yyyy') : element?.lot_bid &&
                                                element?.lot_bid.lot && element?.lot_bid.lot.auction &&
                                                element?.lot_bid.lot.auction.payment_date ?
                                                element?.lot_bid.lot.auction.payment_date
                                                : 'NA'}}</p>
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Request Date</span>
                                            <p class="payment-due-div"> {{ element.created_at ?
                                                (element.created_at | date:'dd-MM-yyyy') : '-'}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_bid__user__relationship_manager__user__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> RM Name
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">RM Name</span>
                                            <p class="payment-due-div"> {{
                                                element?.lot_bid?.user_relationship_manager_full_name ?
                                                element?.lot_bid?.user_relationship_manager_full_name : '-'}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Asset_Id">
                                        <th mat-header-cell *matHeaderCellDef>Asset Id</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset Id</span>
                                            <span *ngIf="!element?.asset_ids?.length">
                                                NA
                                            </span>
                                            <span *ngIf="element?.asset_ids?.length == 1">
                                                {{element?.asset_ids.join(", ")}}
                                            </span>
                                            <span>
                                                <a *ngIf="element?.asset_ids?.length > 1" href="javascript:void(0);"
                                                    style="color:#336daa" (click)="viewAllIds(element?.asset_ids)">View
                                                    all
                                                    asset ids </a>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Full_Payment_Details">
                                        <th mat-header-cell *matHeaderCellDef> Full Payment Details </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Full Payment Details</span>
                                            <span
                                                *ngIf="!element?.fulfilment_payments.length && !element?.is_fully_paid">NA</span>
                                            <span
                                                *ngIf="element?.fulfilment_payments.length && !element?.is_fully_paid">Partial
                                                Paid</span>
                                            <span *ngIf="element?.is_fully_paid">Paid</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Delivery_Order">
                                        <th mat-header-cell *matHeaderCellDef> Delivery Order </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Delivery Order</span>
                                            <button *ngIf="element?.delivery_order_url"
                                                class="simple-btn mr-2 view-icon" mat-button>
                                                <a [href]="element?.delivery_order_url">
                                                    <span><i class="fa fa-download invoce-downlad"
                                                            title="View Delivery Order"></i></span>
                                                </a>
                                            </button>
                                            <span *ngIf="!element?.delivery_order_url">NA</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="invoice_url">
                                        <th mat-header-cell *matHeaderCellDef> Sales Invoice </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Sales Invoice</span>
                                            <button *ngIf="element?.invoice_url" class="simple-btn mr-2 view-icon"
                                                mat-button>
                                                <a [href]="element?.invoice_url">
                                                    <span><i class="fa fa-download invoce-downlad"
                                                            title="View Invoice"></i></span>
                                                </a>
                                            </button>
                                            <span *ngIf="!element?.invoice_url">NA</span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Delivery_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Delivery Date</span> {{ element?.delivery_date ?
                                            (element?.delivery_date | date:'dd-MM-yyyy') : 'NA' }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Action</span>
                                            <!-- <button mat-button class="simple-btn decine-icon" (click)="approvedBid(element?.id)">
                            <span><img src="../../../assets/images/decline.svg" alt="Delete" Title="Reject"></span>
                          </button> -->

                                            <button *ngIf="element?.loa_url" class="simple-btn mr-2 view-icon"
                                                (click)="sharedService.download(element?.loa_url)" mat-button>
                                                <a>
                                                    <span><i class="fa fa-download invoce-downlad"
                                                            title="View LOA"></i></span>
                                                </a>
                                            </button>

                                            <button *ngIf="element.delivery_order_url" mat-button
                                                (click)="bidAction('SelInvoice',element)" mat-button
                                                class="simple-btn payment-btn invice-img">
                                                <span><img src="../../../assets/images/invoice.png" alt="Upload Invoice"
                                                        title="Upload Invoice" /></span>
                                            </button>
                                            <button mat-button *ngIf="element.invoice_url && !element?.delivery_date"
                                                (click)="bidAction('DOD', element)"
                                                class="simple-btn exprss-delivey-img">
                                                <span><img src="../../../assets/images/express-delivery.svg"
                                                        alt="Date Of Delivery" title="Date Of Delivery" /></span>
                                            </button>

                                            <button class="simple-btn mr-2 view-icon" mat-button
                                                (click)="moreInfoDialog(element)">
                                                <span><i class="fa fa-info information-icon"></i></span>
                                            </button>

                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="CloseBidDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: CloseBidDisplayedColumns;"></tr>
                                </table>
                                <div class="no-record" *ngIf="!closeBidData?.data?.length">No fulfillment record exists
                                    for the auctions(s)</div>
                            </div>
                        </div>
                        <mat-paginator [length]="closedBid_total_count" [pageIndex]="0" [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event , 'ClosedBid')"></mat-paginator>
                    </div>


                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>