.main-heading {
    font-size: 32px;
    font-weight: 700;
  }

  .mat-card {
    padding: 0px;
  }
  .default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
  }
  .default-tbl mat-row,
  .default-tbl .mat-header-row {
    border-color: #e0e4e8;
  }
  .default-tbl mat-cell,
  .default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    height: 42px;
    padding: 15px 21px;
  }
  .default-tbl mat-cell:first-of-type,
  .default-tbl mat-header-cell:first-of-type,
  .default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
  }
  .default-tbl mat-header-cell,
  .default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
  }
  .default-tbl mat-row:hover {
    background-color: #f8fbfd;
  }
  .asset-table .table-hover tbody tr:hover {
    background-color: #f8fbfd;
  }
  .e-grid .e-rowcell,
  .e-grid .e-groupcaption,
  .e-grid .e-indentcell,
  .e-grid .e-recordplusexpand,
  .e-grid .e-recordpluscollapse,
  .e-grid .e-detailrowcollapse,
  .e-grid .e-detailrowexpand,
  .e-grid .e-detailindentcell,
  .e-grid .e-detailcell {
    border-color: #e0e4e8;
  }
  .asset-table .inner-table {
    border-radius: 10px;
    border: 1px solid #e0e4e8;
  }
  .no-record {
    padding: 10px;
  }
  .asset-table .mat-row button.simple-btn.view-icon img {
    width: 22px;
  }
  .category-img {
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 2px;
  }
  
  .asset-table .mat-row .mat-cell .mat-button {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 24px;
    padding: 0px;
    /* border-radius: 50%;
    background-color: #e7eef2; */
  }

  .excel-export-section button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 5px 20px;
  }
  
  .exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 2px 20px;
  }
  .payment-due-div {
    margin: 0px;
    width: 400px;
    white-space: normal;
  }


  .fullfillmeny-generate-btn button {font-size: 13px;}

  .invoce-downlad {font-size: 18px; padding-top: 10px;}
  .asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
  .asset-table table {max-width: 100%; overflow: auto;}
  .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
  .asset-table table td:first-child {border-top: 0px;}
  .asset-table table td.mat-column-is_active {color: #00a767;}
  .asset-table .mat-row button.simple-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 24px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
  .asset-table table td button.table-row-btn span {font-size: 18px;}
  .asset-table .mat-cell button.simple-btn.delet-icon {background-color:#ffefec;}
  .asset-table .mat-cell button.simple-btn.view-icon img {width: 17px;}
  .asset-table .mat-cell button.simple-btn.decine-icon img {width: 20px;}
  .asset-table .mat-cell button.simple-btn.invice-img img {width: 18px;}
  .asset-table .mat-cell button.simple-btn.exprss-delivey-img img {width: 20px;}
  .asset-table .mat-cell button.simple-btn.date-icon img {width: 16px;}
  .asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
  .asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
  .asset-table table tr:nth-child(even){background-color:#f8fbfd;}
  /* .asset-table .mat-row:nth-child(odd){background-color:#f8fbfd;} */
  .asset-table table th {background-color: #0D4FA3; color: #fff;}
  .edit-secction {border: 1px solid #cdd6dc; border-radius: 8px; background: #fdfdfd;}
  .edit-secction h4 {font-size: 16px; background: #0f3d94; padding: 10px; border-radius: 8px 8px 0px 0px;
    color: #fff;}
  .edit-secction .edit-secction-body {padding: 10px;}

   
.upload-input .custom-file {position: relative; height: 46px;}
.upload-input .custom-file-input {position: absolute; height: 46px; cursor: pointer;}
.upload-input .custom-file-label {padding: 0px; position: relative; width: 100%; height: 46px; margin-bottom: 0px; line-height: 46px;}
.upload-input .custom-file .upload-icon {position: absolute; top: 7px; right: 10px; background-size: cover; width: 30px; height: 30px;}
.upload-input .custom-file .cust-upload-txt {position: absolute; top: 0px; left: 10px;}
.upload-input .custom-file .cust-upload-txt .blue-txt {text-decoration: none;}
.datepicker-input {position: relative;}
.datepicker-input .calender-icon {position: absolute; top: -19px; right: 10px;}
.datepicker-input.park-since .calender-icon {top: -32px;}

.upload-record {
  padding: 5px 10px;
  border: 1px solid #e0e4e8;
  border-radius: 6px;
  background: #f5f8fa;
}

.upload-record .delet-icon {
  display: inline-block;
  width: 35px;
  min-width: inherit; 
  margin-left: 10px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  padding: 0px;
  border-radius: 50%;
  background-color: #ffefec; cursor: pointer;;
}

.export-row{margin:1em 0;background:#fafafa; border:1px solid #eee;
  padding: 1em; justify-content: center;
  align-items: center;}

  .admin-page-buttons button.mat-button i, .admin-page-buttons .excel-export-section button.mat-button i, 
    .admin-page-buttons .header-btn button.mat-button i {
      font-size: 0px;
    }

    @-moz-document url-prefix() {
      .datepicker-input .calender-icon { 
          top: -40px !important; 
      }
    }
  
  @media screen and (max-width: 992px) and (min-width: 768px) {
    .fullfillmeny-generate-btn button {font-size: 12px; padding: 0px 4px !important;} 
  }
  
  @media screen and (max-width: 767px) {
    .asset-table table td .mobile-btn {
      width: auto!important;
      border-radius: 4px;
      padding: 0 10px !important;
  }
    .exportWrapper button.importBtn {font-size: 0px;}
    .exportWrapper button.importBtn i {font-size: 18px; padding-right: 0px !important;}

    .header-btn button {padding: 6px 8px !important;} 
  
    .export-row {padding: 1em 0px;}

    .admin-page-buttons button.mat-button, .admin-page-buttons .excel-export-section button.mat-button, 
    .admin-page-buttons .header-btn button.mat-button {
      font-size: 0px; padding: 6px 12px !important;
    }
    .admin-page-buttons button.mat-button i, .admin-page-buttons .excel-export-section button.mat-button i, 
    .admin-page-buttons .header-btn button.mat-button i {
      font-size: 18px;
    }
}



.displayBlock{
    visibility: visible !important;
}

.displayNone{
    visibility: hidden !important;
}