footer {
    background: #1a1a1a;
    color: #fff;
}

footer .footer-menu {
    padding: 1rem 2.5rem;
}

footer .footer-menu ul {
    padding-left: 0rem;
    margin-bottom: 0px;
}

footer .footer-menu ul li {
    list-style: none;
}

footer .footer-menu ul li a:hover {
    text-decoration: none;
}

footer .footer-menu ul li:first-child {
    margin-bottom: 0.5rem;
}


/* footer .footer-menu ul li:first-child a {
    text-transform: uppercase;
    color: #fff;
    pointer-events: none;
} */

.footer-title {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

footer .footer-menu ul li a {
    color: #d8d7d7;
    font-weight: 400;
}

footer .copyright-block {
    font-weight: normal;
    background: #000;
    padding: 12px 20px;
    font-size: 0.7rem;
    border-top: 1px solid #3e4041;
    padding: 0.5rem;
}

footer ul.social-footer {
    text-transform: uppercase;
}

footer ul.social-footer ul {
    padding-left: 0 !important;
    margin-left: -10px;
}

footer ul.social-footer ul li {
    display: inline-block;
    width: 65px;
}

.footer-social-icon {
    margin-top: 10px;
}

.footer-social-icon ul li {
    display: inline-block;
    margin-bottom: 0px !important;
    vertical-align: middle;
}

.footer-social-icon ul li a {
    width: 35px;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px;
    color: #fff !important;
}

.copyright-block p {
    font-size: 14px;
}

.admin-footer {
    width: 100%;
    /* margin-left: auto; */
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    z-index: 9;
}

.admin-footer .footer-menu {
    display: none;
}

@media (max-width: 575.98px) {
    footer .footer-menu {
        padding: 10px 10px;
    }
    .copyright-block {
        text-align: center;
    }
    .copyright-block p {
        float: none !important;
    }
    .copyright-block .footer-social-icon {
        float: none !important;
    }
    .disclaimer {
        text-align: center;
    }
}

.newsletter-input-detail {
    display: flex;
}

.newsletter-input input {
    height: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
}

.newsletter-button button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.disclaimer:hover {
    cursor: pointer;
}

@media(max-width:767px) {
    .copyright-block.disclaimer {
        text-align: center
    }
    .social-footer {
        text-align: center;
    }
    footer .footer-menu ul li {
        display: inline-block;
        width: 50%;
    }
    .newsletter {
        margin-top: 10px;
    }
    .newsletter ul li {
        width: 100% !important;
        text-align: left !important;
    }
    .newsletter-input-detail .newsletter-input {
        width: 100%;
    }
}