<footer [ngClass]="{'admin-footer': router?.url.includes('customer') || router?.url.includes('admin-dashboard')}">
    <section class="footer-menu">
        <div class="row no-gutters">

            <div class="col-6 col-sm-12 col-md-4">
                <!-- <h4 class="footer-title">Our Policies</h4> -->
                <ul>
                    <!-- <li><a href="#">Our Policies</a></li> -->
                    <li><a [routerLink]=" ['/privacy-policy']">Privacy Policy</a></li>
                    <li><a [routerLink]=" ['/terms-of-use']">Terms of Use</a></li>
                    <!-- <li><a href="#">Sell Equipment</a></li>
                    <li><a href="#">Compare Equipment</a></li> -->
                </ul>
            </div>
            <div class="col-6 col-sm-12 col-md-4">
                <!-- <h4 class="footer-title">About</h4> -->
                <ul>
                    <!-- <li><a href="#">Help</a></li> -->
                    <li><a [routerLink]=" ['/about-us']">About Us</a></li>
                    <li><a [routerLink]=" ['/contact-us']">Contact Us</a></li>
                    <!-- <li><a href="#">FAQs</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li> -->
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 newsletter">
                <ul class="social-footer">
                    <li>Subscribe to our Newsletter</li>
                    <form (ngSubmit)="subscribe()" [formGroup]="subscribeForm">
                        <div class="newsletter-input-detail">
                            <div class="newsletter-input d-inline-block">
                                <input type="text" placeholder="Enter your email..." formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" />
                            </div>
                            <div class="newsletter-button d-inline-block">
                                <button type="submit" class="btn theme-btn">SUBSCRIBE</button>
                            </div>
                        </div>
                    </form>
                </ul>

                <div class="disclaimer pt-1 f-12 p-0 border-0">
                    <span (click)="openDisclaimer()">Disclaimer</span>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="copyright-block">
                    <p class="float-left pt-1 m-0">
                        &copy; copyright 2020. All Rights Reserved
                    </p>
                    <div class="footer-social-icon float-right m-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <a href="https://www.facebook.com/iquippo/"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/IQuippo"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/iquippo/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>
    </section>

</footer>