<div class="site-content">
    <div class="container-custom">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/auctions']">Auctions</a></li>
                <li class="breadcrumb-item active" aria-current="page">Auction Detail</li>
            </ol>
        </div>
        <div class="auction-details">
            <div class="auction-details-summery">
                <div class="auction-details-header">
                    <div class="row">
                        <div class="auction-details-title-wrap col-lg-6 col-md-12 col-12">
                            <h1 class="auction-details-title">{{auctionDataById.name}}
                                <span class="auction-ongoing">{{ currentDate >= auctionDataById.starts_at && currentDate
                                    <= auctionDataById.ends_at ? 'ONGOING' : 'UPCOMING' }}</span>

                            </h1>
                            <span class="auction-id">
                                Auction Id : {{auctionDataById?.auction_engine_auction_id ?
                                auctionDataById?.auction_engine_auction_id : 'N/A'}}
                            </span>
                        </div>
                        <div class="auction-details-btn  col-lg-6 col-md-12 col-12">
                            <button class="theme-btn desktop-btn"
                                (click)="auctionbid(auctionDataById?.id, auctionDataById?.parent_auction)">
                                View {{auctionDataById.sale_type_display_name}}
                            </button>

                            <button class="btn default-btn-outline auction-catalogue"
                                *ngIf="auctionDataById.catalog_url">
                                <svg id="noun_Download_1271962" xmlns="http://www.w3.org/2000/svg" width="16.584"
                                    height="16.002" viewBox="0 0 16.584 16.002">
                                    <path id="Path_3633" data-name="Path 3633"
                                        d="M32.6,13.56a.659.659,0,0,0-.66.657v8.026L28.8,19.119a.659.659,0,0,0-.933.929l4.263,4.246h0a.661.661,0,0,0,.455.184h0a.661.661,0,0,0,.455-.184h0l4.285-4.246a.659.659,0,0,0-.933-.929l-3.136,3.124V14.217A.659.659,0,0,0,32.6,13.56Z"
                                        transform="translate(-24.309 -13.56)" fill="#0d4fa3" />
                                    <path id="Path_3634" data-name="Path 3634"
                                        d="M28.165,58.63a.658.658,0,0,0-.659.657v3.024a1.1,1.1,0,0,1-1.1,1.1H14.656a1.1,1.1,0,0,1-1.1-1.1V59.287a.659.659,0,0,0-1.318,0v3.024a2.413,2.413,0,0,0,2.416,2.41H26.409a2.413,2.413,0,0,0,2.416-2.41V59.287a.658.658,0,0,0-.659-.657Z"
                                        transform="translate(-12.24 -48.719)" fill="#0d4fa3" />
                                </svg>
                                <a href="{{auctionDataById.catalog_url}}" target="_blank">Auction Catalogue

                                </a>

                            </button>
                            <button (click)="onRegisterNow(auctionDataById)"
                                class="default-btn desktop-btn mob-default-btn">Register Now</button>

                            <div class="mobile-box-fit">
                                <button class="theme-btn"
                                    (click)="auctionbid(auctionDataById?.id, auctionDataById?.parent_auction)">
                                    View {{auctionDataById.sale_type_display_name}}
                                </button>
                                <button (click)="onRegisterNow(auctionDataById)"
                                    class="default-btn mob-default-btn">Register Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="auction-details-subheader">
                    <div class="auction-details-subheaderwrap">
                        <p>Start Date &amp; Time : <strong> {{auctionDataById.starts_at | date:'dd-MM-yyyy, hh:mm a'
                                }}</strong></p>
                        <p>Closing From : <strong> {{auctionDataById.ends_at | date:'dd-MM-yyyy, hh:mm a'}}</strong>
                        </p>
                        <p>Closing Time Interval : <strong> {{auctionDataById.sequential_time}} Minute</strong></p>
                        <p>Number of Lots :<strong> {{auctionDataById.lot_count}}</strong></p>
                    </div>
                </div>
                <div class="auction-details-buyers important-points">
                    <div class="auction-details-buyers-header">
                        <h4>Important Points for Buyers</h4>
                    </div>
                    <div class="auction-details-buyers-body">
                        <div class="auction-details-buyers-item">Buyers Premium :
                            <strong>{{auctionDataById && auctionDataById.buyers_premium ? auctionDataById.buyers_premium
                                : 'N/A'}}</strong>
                        </div>
                        <div class="auction-details-buyers-item">Tax : <strong>{{auctionDataById.tax ?
                                auctionDataById.tax : 'N/A'}}</strong></div>
                        <div class="auction-details-buyers-item">Payment Date :
                            <strong>
                                {{auctionDataById && auctionDataById.payment_date ? auctionDataById.payment_date :
                                'N/A'}}
                            </strong>
                        </div>
                        <div class="auction-details-buyers-item">Asset Removal Date :
                            <strong>
                                {{auctionDataById && auctionDataById.asset_removal_date ?
                                auctionDataById.asset_removal_date : 'N/A'}}
                            </strong>
                        </div>
                        <div class="auction-details-buyers-item">Additional Information :
                            <strong>{{auctionDataById && auctionDataById.additional_info ?
                                auctionDataById.additional_info : 'N/A'}}</strong>
                        </div>
                    </div>
                </div>

                <div class="auction-details-buyers mt-3 auction-contact-details" *ngIf="auctionContacts && auctionContacts?.length">
                    <div class="auction-details-buyers-header">
                        <h4>Contact Details</h4>
                    </div>
                    <div class="auction-detailscontacts">
                        <!-- <div class="col-sm-12 p-0"> -->
                            <owl-carousel [options]="contactSlideOptions" [items]="auctionContacts" [carouselClasses]="['owl-theme', 'sliding', 'row']">
                                <div class="item auction-contact-card" *ngFor="let contact of auctionContacts">
                                    <div class="auction-contact-card-hader">
                                        <div class="auction-details-buyers-item">
                                            <strong>{{contact?.name}}</strong>
                                        </div>
                                    </div>
                                    <div class="auction-contact-card-body">

                                        <div class="auction-details-buyers-item">
                                            <strong><span><i class="fa fa-map-marker pr-2"
                                                        aria-hidden="true"></i></span>{{contact?.city}}</strong>
                                        </div>
                                        <div class="auction-details-buyers-item">
                                            <a href="tel:{{contact?.mobile_number}}" class="auct-phone">
                                            <strong><span><i class="fa fa-phone pr-2"
                                                        aria-hidden="true"></i></span>{{contact?.mobile_number}}</strong>
                                            </a>           
                                        </div>
                                        <div class="auction-details-buyers-item">
                                            <a href="mailto:{{contact?.email}}" class="auct-email">
                                            <strong><span><i class="fa fa-envelope pr-2"
                                                        aria-hidden="true"></i></span>{{contact?.email}}</strong>
                                            </a>           
                                        </div>
                                    </div>
                                </div>
                            </owl-carousel>
                        <!-- </div> -->
                    </div>
                </div>

                <div class="auction-details-buyers mt-3" *ngIf="subAuction && subAuction.length > 0">
                    <div class="auction-details-buyers-header">
                        <h4>Sub Auctions
                            <a href="javascript:void(0)" class="viewall" (click)="viewAllSubAuction()">View All</a>
                        </h4>
                    </div>
                    <div class="auction-details-subauction-body-new">
                        <div class="auction-details-subauction-item" *ngFor="let sub of subAuction">
                            <div (click)="showSingleSubauction(sub.id)"
                                [ngClass]="isSingleSubactionShow && sub.id == activeSubauctionId ? 'auction-details-subauction-wrap auction-item-active' : 'auction-details-subauction-wrap'">
                                <div class="auction-details-subauction-title">
                                    {{sub.auction_engine_auction_id}}</div>
                                <div class="auction-details-subauction-content">
                                    <p>Start Date &amp; Time : <strong> {{sub.starts_at | date:'dd-MM-yyyy, hh:mm
                                            a'}}</strong></p>
                                    <p>Closing From : <strong> {{sub.ends_at | date:'dd-MM-yyyy, hh:mm a'}}</strong></p>
                                    <p>Closing Time Interval : <strong> {{sub.sequential_time}}
                                            Minute</strong></p>
                                    <p>Number of Lots :<strong> {{sub.lot_count}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auction-assets" #auctionAssets>
                <div class="section-header justify-content-between">
                    <h3 class="section-title"> Auctions Assets</h3>
                    <div class="auction-assets-filter">
                        <!-- <button class="btn btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="17.022" height="16.602" viewBox="0 0 17.022 16.602">
                        <path id="Path_3939" data-name="Path 3939" d="M12.39,22.2a1.068,1.068,0,0,1-.4-.091.937.937,0,0,1-.547-.858v-6.2L5.274,8.9A.937.937,0,0,1,5,8.225V7.149A.942.942,0,0,1,5.949,6.2H20.473a.942.942,0,0,1,.949.949V8.225a.937.937,0,0,1-.274.675L14.981,15.05v4.762a.97.97,0,0,1-.328.712L13.01,21.947A.935.935,0,0,1,12.39,22.2ZM6.022,8.189l6.167,6.167a.937.937,0,0,1,.274.675v6.04l1.478-1.277V15.013a.937.937,0,0,1,.274-.675l6.167-6.167V7.2H6.022Z" transform="translate(-4.7 -5.9)" fill="#0d4fa3" stroke="#0d4fa3" stroke-width="0.6"/>
                      </svg>Filter</button> -->
                    </div>
                </div>
                <div class="auction-assets-wrapper">
                    <div class="row">
                        <div class="sidebar-area col-lg-3 col-md-4 col-sm-12 col-12">
                            <div class="mobile-filter">
                                <label for=""></label>
                                <div class="filtericon" (click)="showFilters()">
                                    <i aria-hidden="true" class="fa fa-filter"></i>
                                </div>
                            </div>

                            <div class="widget-area" [ngStyle]="{'display': (showFilter || showFilter == undefined) ? 'block' : 'none'}">
                                <div class="filter-headdiv" *ngIf="isFilterApply">
                                    <h3 class="filter-head">Refine by</h3>
                                    <a (click)="clearSelectedFilter()" class="select-all">
                                        Clear All
                                    </a>
                                </div>
                                <div class="widget">
                                    <h4 class="widget-title">Category</h4>
                                    <div class="widget-body auction-widget">
                                        <mat-checkbox [checked]="category.isSelected" [value]="category.isSelected"
                                            *ngFor='let category of categoryFilters' (change)='applyFilter(category)'>
                                            {{category.text}}
                                            <span class="filter-count">{{category.count ? '(' + category.count + ')' : ''}}</span>
                                        </mat-checkbox>
                                            <span class="px-3 py-2" *ngIf="categoryFilters && !categoryFilters.length"> No record found</span>
                                    </div>

                                    <div class="text-right" *ngIf="categoryFilters && categoryFilters.length >= 5">
                                        <a href="javascript:void(0)" class=" more-options-btn" (click)="showMoreLess('category')">
                                            {{ categoryShow ? 'More' : 'Less'}}
                                        </a>
                                    </div>
                                </div>
                                <div class="widget">
                                    <h4 class="widget-title">Brand</h4>
                                    <div class="widget-body auction-widget">
                                        <mat-checkbox [checked]="brand.isSelected" [value]="brand.isSelected"
                                            *ngFor='let brand of brandFilters' (change)='applyFilter(brand)'>
                                            {{brand.text}}
                                            <span class="filter-count">{{brand.count ? '(' + brand.count + ')' :
                                                ''}}</span>
                                        </mat-checkbox>
                                        <span class="px-3 py-2" *ngIf="brandFilters && !brandFilters.length"> No record found</span>
                                    </div>

                                    <div class="text-right" *ngIf="brandFilters && brandFilters.length >= 5">
                                        <a href="javascript:void(0)" class=" more-options-btn"
                                            (click)="showMoreLess('brand')">{{
                                            brandShow ? 'More' : 'Less'}}
                                        </a>
                                    </div>
                                </div>
                                <div class="widget">
                                    <h4 class="widget-title">Location</h4>
                                    <div class="widget-body auction-widget">
                                        <mat-checkbox [checked]="location.isSelected" [value]="location.isSelected"
                                            *ngFor='let location of locationFilters' (change)='applyFilter(location)'>
                                            {{location.text}}
                                            <span class="filter-count">{{location.count ? '(' + location.count + ')' :
                                                ''}}</span>
                                        </mat-checkbox>
                                        <span class="px-3 py-2" *ngIf="locationFilters && !locationFilters.length"> No record found</span>
                                    </div>
                                    <div class="text-right" *ngIf="locationFilters && locationFilters.length >= 5">
                                        <a href="javascript:void(0)" class=" more-options-btn"
                                            (click)="showMoreLess('location')">{{
                                            locationShow ? 'More' : 'Less'}}
                                        </a>
                                    </div>
                                </div>
                                <div class="widget">
                                    <h4 class="widget-title">Manufacturing Year</h4>
                                    <div class="widget-body auction-widget">
                                        <mat-checkbox [checked]="year.isSelected" [value]="year.isSelected"
                                            *ngFor='let year of yearFilters' (change)='applyFilter(year)'>
                                            {{year.text}}
                                            <span class="filter-count">{{year.count ? '(' + year.count + ')' : ''}}</span>
                                        </mat-checkbox>
                                        <span class="px-3 py-2" *ngIf="yearFilters && !yearFilters.length"> No record found</span>
                                    </div>
                                    <div class="text-right" *ngIf="yearFilters && yearFilters.length >= 5">
                                        <a href="javascript:void(0)" class=" more-options-btn" (click)="showMoreLess('year')">
                                            {{ yearShow ? 'More' : 'Less'}}
                                        </a>
                                    </div>
                                </div>
                                <div class="filter-mobile-icon-filter" *ngIf="showFilter">
                                    <span><button class="theme-btn mat-button px-5" (click)="showFilter = false">Filter</button></span>
                                </div>
                            </div>
                        </div>

                        <div class="content-area col-lg-9 col-md-8 col-sm-12 col-12">
                            <div class="content-section"
                                *ngIf="subAuction  && subAuction.length > 0 && !isFilterApply && !isSingleSubactionShow">
                                <ngb-accordion [closeOthers]="true" activeIds="sub0">
                                    <ngb-panel id="{{'sub'+i}}" *ngFor='let sub of subAuction; let i = index;'>
                                        <!-- <div class="auction-assets-content"> -->
                                        <ng-template ngbPanelTitle>
                                            <div class="auction-assets-content-title" (click)="panelChange(sub)">
                                                {{ sub?.name}}
                                                {{sub?.auction_engine_auction_id ?
                                                (' (' + sub?.auction_engine_auction_id + ')') : ''}}
                                            </div>
                                        </ng-template>

                                        <ng-template ngbPanelContent>
                                            <div class="auction-assets-content-body p-0">
                                                <div class="row auction-assets-row">
                                                    <ng-container *ngIf="getFilterLot(sub?.id).length">

                                                        <div class="auction-assets-item col-lg-4 col-md-6 col-sm-6 col-12"
                                                            *ngFor='let lot of getFilterLot(sub?.id)'>
                                                            <div class="auction-assets-wrap">
                                                                <div class="auction-assets-image">
                                                                    <img src="../../../../assets/images/auction-image.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="auction-assets-summery">
                                                                    <h4 class="auction-assets-title">Lot Number -
                                                                        {{lot.lot_number}}
                                                                    </h4>
                                                                    <div class="auction-assets-desc">Asset
                                                                        Description :
                                                                        {{lot.description}}</div>
                                                                    <div class="auction-assets-timer"
                                                                        *ngIf="setAuctionCountDown(lot.ends_at) as elapsed">
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{setAuctionCountDown(lot.ends_at)}}</strong>
                                                                        Days</span> -->
                                                                            <span><strong>{{elapsed.days}}</strong>
                                                                                <span class="auction-timer-txt">  Days</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{hours}}</strong> Hours</span> -->
                                                                            <span><strong>{{elapsed.hours}}</strong>
                                                                                <span class="auction-timer-txt">   Hours</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{minutes}}</strong> Minutes</span> -->
                                                                            <span><strong>{{elapsed.minutes}}</strong>
                                                                                <span class="auction-timer-txt auction-timer-txt2">  Minutes</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{seconds}}</strong> Seconds</span> -->
                                                                            <span><strong>{{elapsed.seconds}}</strong>
                                                                                <span class="auction-timer-txt auction-timer-txt1">  Seconds</span></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="auction-assets-btn text-center">
                                                                        <!-- <a href="#"><img src="../../../assets/images/icon-view.svg">View Inspection Report</a> -->
                                                                        <button class="theme-btn"
                                                                            (click)="ViewLotDetails(sub?.id, auctionDataById?.id , lot?.id )">View
                                                                            Details</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </ng-container>
                                                    <ng-container *ngIf="!getFilterLot(sub?.id).length">
                                                        <div class="col-12">
                                                            <p>No lots mapped for this sub auction</p>
                                                        </div>
                                                    </ng-container>

                                                </div>
                                            </div>
                                        </ng-template>
                                        <!-- </div> -->
                                    </ngb-panel>
                                </ngb-accordion>

                                <mat-paginator [length]="totalLots" [pageIndex]="0"
                                    (page)="onPageChange($event, 'subauction')" [pageSize]="10"
                                    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                            </div>

                            <div *ngIf="signleSub && !isFilterApply && isSingleSubactionShow">

                                <div class="content-section">
                                    <div class="auction-assets-content">
                                        <div class="auction-assets-content-title">
                                            <span>
                                                {{ signleSub?.name}}
                                                {{signleSub?.auction_engine_auction_id ?
                                                (' (' + signleSub?.auction_engine_auction_id + ')') : ''}}
                                            </span>
                                        </div>
                                        <div class="auction-assets-content-body">
                                            <div class="row auction-assets-row">
                                                <ng-container>
                                                    <div class="auction-assets-item col-lg-4 col-md-6 col-sm-6 col-12"
                                                        *ngFor='let lot of getFilterLot(signleSub?.id)'>
                                                        <div class="auction-assets-wrap">
                                                            <div class="auction-assets-image">
                                                                <img src="../../../../assets/images/auction-image.jpg"
                                                                    alt="">
                                                            </div>
                                                            <div class="auction-assets-summery">
                                                                <h4 class="auction-assets-title">Lot Number -
                                                                    {{lot.lot_number}}
                                                                </h4>
                                                                <div class="auction-assets-desc">Asset
                                                                    Description :
                                                                    {{lot.description}}</div>
                                                                <div class="auction-assets-timer"
                                                                    *ngIf="setAuctionCountDown(lot.ends_at) as elapsed">
                                                                    <div class="auction-timer-box">

                                                                        <span><strong>{{elapsed.days}}</strong>
                                                                            <span class="auction-timer-txt">   Days</span></span>
                                                                    </div>
                                                                    <div class="auction-timer-box">
                                                                        <span><strong>{{elapsed.hours}}</strong>
                                                                            <span class="auction-timer-txt">   Hours</span></span>
                                                                    </div>
                                                                    <div class="auction-timer-box">
                                                                        <span><strong>{{elapsed.minutes}}</strong>
                                                                            <span class="auction-timer-txt auction-timer-txt2">   Minutes</span></span>
                                                                    </div>
                                                                    <div class="auction-timer-box">
                                                                        <span><strong>{{elapsed.seconds}}</strong>
                                                                            <span class="auction-timer-txt auction-timer-txt1">   Seconds</span></span>
                                                                    </div>
                                                                </div>

                                                                <div class="auction-assets-btn text-center">
                                                                    <button class="theme-btn"
                                                                        (click)="ViewLotDetails(signleSub?.id, auctionDataById?.id , lot?.id )">View
                                                                        Details</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </ng-container>

                                                <ng-container *ngIf="!getFilterLot(signleSub?.id).length">
                                                    <div class="col-12">
                                                        <p>No lots mapped for this sub auction</p>
                                                    </div>
                                                </ng-container>

                                            </div>
                                        </div>
                                    </div>
                                    <mat-paginator [length]="totalLots" [pageIndex]="0"
                                        (page)="onPageChange($event, 'subauction')" [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                                </div>

                            </div>

                            <div *ngIf="subAuction && subAuction.length > 0 && isFilterApply">
                                <div *ngFor='let sub of subAuction; let i = index;'>
                                    <div class="content-section" *ngIf="getFilterLot(sub?.id).length">
                                        <div class="auction-assets-content">
                                            <div class="auction-assets-content-title">
                                                <span>
                                                    {{ sub?.name}}
                                                    {{sub?.auction_engine_auction_id ?
                                                    (' (' + sub?.auction_engine_auction_id + ')') : ''}}
                                                </span>
                                            </div>
                                            <div class="auction-assets-content-body">
                                                <div class="row auction-assets-row">
                                                    <ng-container>

                                                        <div class="auction-assets-item col-lg-4 col-md-6 col-sm-6 col-12"
                                                            *ngFor='let lot of getFilterLot(sub?.id)'>
                                                            <div class="auction-assets-wrap">
                                                                <div class="auction-assets-image">
                                                                    <img src="../../../../assets/images/auction-image.jpg"
                                                                        alt="">
                                                                </div>
                                                                <div class="auction-assets-summery">
                                                                    <h4 class="auction-assets-title">Lot Number -
                                                                        {{lot.lot_number}}
                                                                    </h4>
                                                                    <div class="auction-assets-desc">Asset
                                                                        Description :
                                                                        {{lot.description}}</div>
                                                                    <div class="auction-assets-timer"
                                                                        *ngIf="setAuctionCountDown(lot.ends_at) as elapsed">
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{setAuctionCountDown(lot.ends_at)}}</strong>
                                                                Days</span> -->
                                                                            <span><strong>{{elapsed.days}}</strong>
                                                                                <span class="auction-timer-txt">   Days</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{hours}}</strong> Hours</span> -->
                                                                            <span><strong>{{elapsed.hours}}</strong>
                                                                                <span class="auction-timer-txt">   Hours</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{minutes}}</strong> Minutes</span> -->
                                                                            <span><strong>{{elapsed.minutes}}</strong>
                                                                                <span class="auction-timer-txt auction-timer-txt2">   Minutes</span></span>
                                                                        </div>
                                                                        <div class="auction-timer-box">
                                                                            <!-- <span><strong>{{seconds}}</strong> Seconds</span> -->
                                                                            <span><strong>{{elapsed.seconds}}</strong>
                                                                                <span class="auction-timer-txt auction-timer-txt1">   Seconds</span></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="auction-assets-btn text-center">
                                                                        <!-- <a href="#"><img src="../../../assets/images/icon-view.svg">View Inspection Report</a> -->
                                                                        <button class="theme-btn"
                                                                            (click)="ViewLotDetails(sub?.id, auctionDataById?.id , lot?.id )">View
                                                                            Details</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </ng-container>
                                                </div>
                                            </div>

                                            <!-- <mat-paginator [length]="totalLots" [pageIndex]="0"
                                        (page)="onPageChange($event, 'filterSubAuction' , sub.id)" [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content-section" *ngIf="(subAuction && !subAuction.length)">
                                <div class="auction-assets-content">
                                    <div class="auction-assets-content-title">
                                        {{ auctionDataById?.name }}
                                        {{auctionDataById?.auction_engine_auction_id ?
                                        (' (' + auctionDataById?.auction_engine_auction_id + ')') : ''}}
                                    </div>
                                    <div class="auction-assets-content-body">
                                        <div class="row auction-assets-row">
                                            <ng-container *ngIf="getFilterLot(auctionDataById?.id).length">

                                                <div class="auction-assets-item col-lg-4 col-md-6 col-sm-6 col-12"
                                                    *ngFor='let lot of getFilterLot(auctionDataById.id)'>
                                                    <div class="auction-assets-wrap">
                                                        <div class="auction-assets-image">
                                                            <img src="../../../../assets/images/auction-image.jpg"
                                                                alt="">
                                                        </div>
                                                        <div class="auction-assets-summery">
                                                            <h4 class="auction-assets-title">Lot Number -
                                                                {{lot.lot_number}}
                                                            </h4>
                                                            <div class="auction-assets-desc">Asset Description :
                                                                {{lot.description}}</div>
                                                            <div class="auction-assets-timer"
                                                                *ngIf="setAuctionCountDown(lot.ends_at) as elapsed">

                                                                <div class="auction-timer-box">
                                                                    <!-- <span><strong>{{setAuctionCountDown(lot.ends_at)}}</strong>
                                                                        Days</span> -->
                                                                    <span><strong>{{elapsed.days}}</strong>
                                                                        <span class="auction-timer-txt">   Days</span></span>

                                                                </div>
                                                                <div class="auction-timer-box">
                                                                    <!-- <span><strong>{{hours}}</strong> Hours</span> -->
                                                                    <span><strong>{{elapsed.hours}}</strong>
                                                                        <span class="auction-timer-txt">   Hours</span></span>
                                                                </div>
                                                                <div class="auction-timer-box">
                                                                    <!-- <span><strong>{{minutes}}</strong> Minutes</span> -->
                                                                    <span><strong>{{elapsed.minutes}}</strong>
                                                                        <span class="auction-timer-txt auction-timer-txt2">   Minutes</span></span>
                                                                </div>
                                                                <div class="auction-timer-box">
                                                                    <!-- <span><strong>{{seconds}}</strong> Seconds</span> -->
                                                                    <span><strong>{{elapsed.seconds}}</strong>
                                                                        <span class="auction-timer-txt auction-timer-txt1">   Seconds</span></span>
                                                                </div>
                                                            </div>
                                                            <div class="auction-assets-btn text-center">
                                                                <!-- <a href="#"><img src="../../../assets/images/icon-view.svg">View Inspection Report</a> -->
                                                                <!-- <button class="theme-btn"
                                                                    [routerLink]="['/auctions/auction-lot']">View
                                                                    Details</button> -->
                                                                <button class="theme-btn" (click)="ViewLotDetails(auctionDataById?.id, auctionDataById?.id,
                                                                    lot?.id)">View
                                                                    Details</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </ng-container>

                                            <ng-container *ngIf="!getFilterLot(auctionDataById?.id).length">
                                                <div class="col-12">
                                                    <p>No lots mapped for this auction</p>
                                                </div>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                                <mat-paginator [length]="totalLots" [pageIndex]="0"
                                    (page)="onPageChange($event, 'auction')" [pageSize]="10"
                                    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>