
.product-detail-accordian .card {border:  0px; border-radius: 8px;}
.product-detail-accordian .card .card-header {background: transparent; position: relative; padding: 0px;}
.product-detail-accordian .card .card-header a {font-size: 16px; font-weight: 600; position: relative; display: block; border-radius: 8px; background: #0D4FA3; color: #fff; padding: 10px 15px;}
.product-detail-accordian .card .card-header a::after {position: absolute; right: 20px; content: '\f107'; top: 7px;
  transition: 0.4s; font-size: 24px; color: #fff; font-family: FontAwesome;}
.product-detail-accordian .card .card-header a[aria-expanded="true"] {border-radius: 8px 8px 0px 0px; background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);}
.product-detail-accordian .card .card-header a[aria-expanded="true"]::after {position: absolute; right: 20px; content: '\f107'; top: 6px;
    transition: 0.4s; transform: rotate(180deg); color: #fff; font-family: FontAwesome;}


.auction-details-summery {
    background-color: #F5F8FA;
    border: 1px solid #B8C4CF;
    margin: 0px 0px 15px 0px;
    border-radius: 10px;
    padding: 15px;
}
.auction-details-header {
    margin: 0 0 15px;
}
.auction-details-title {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.section-title {font-weight: 600;}
.theme-btn {border: 0px;}
span.auction-ongoing {
    font-size: 14px;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 5px;
    padding: 4px 10px;
    border: 1px solid #B8C4CF;
    text-transform: uppercase;
    line-height: 20px;
    position: relative;
    margin-left: 10px;
}
span.auction-ongoing:before {
    content: "";
    background-color: green;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 1000px;
    margin: 0 8px 0 0;
}
.auction-details-btn {
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
}
.auction-details-btn button {
    /* font-size: 14px; */
    padding: 10px 15px;
    line-height: 20px;
    height: 42px;
    border-radius: 6px;
}


/* .auction-details-btn button:hover {background-color:transparent; color: #0d4fa3; opacity: 1;} */
.default-btn svg path {fill: white;
    opacity: 1;
    stroke: white;}
.auction-details-btn button + button {
    margin-left: 10px;
}
.auction-details-btn button svg {
    margin-right: 7px;
}
/* .auction-details-btn button:hover svg path, .auction-details-btn button:focus svg path{
    fill: #fff;
} */
.auction-details-subheader {
    border-top: 1px solid #C4CFD8;
    border-bottom: 1px solid #C4CFD8;
    padding: 10px 0;   
    margin: 0 0 15px;   
}
.auction-details-subheaderwrap {   
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;    
}
.auction-details-subheader p {
    width: 50%;
    margin: 5px 0;
    line-height: 20px;
    font-size: 14px;
    padding: 0 10px;
}
.auction-details-buyers {
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 10px;
    overflow: hidden;   
}
.auction-details-buyers-header {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    color: #fff;
    padding: 10px 15px;
}
.auction-details-buyers-header h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}
.auction-details-buyers-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 10px 15px;
}
.auction-details-buyers-item {
    width: 33.33%;
    padding: 0 10px;
    margin: 5px 0;
    font-weight: 600;
}
.auction-details-subauction-content p {
    font-weight: 400;
}
.auction-details-subauction-content p strong {
    font-weight: 600;
}


.auction-details-buyers-item strong {
    display: block;
    font-weight: 300;
    font-size: 14px;
}
/* .auction-details-subauction {
    padding:0px;
} */
.auction-details-subauction-header {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auction-details-subauction-header h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.auction-details-subauction-extra {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 70px;
    color: #fff;
    font-size: 13px;
}
.auction-details-subauction-extra p {
    margin: 0;
}
.auction-details-subauction-extra p + p {
    margin-left: 10px;
}
.product-detail-accordian {padding: 0px;}
.auction-details-subauction-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; 
}

.auction-details-subauction-body-new {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto !important;
}
.auction-details-subauction-item {
    padding: 0 10px;
    margin-bottom: 1em;;
    width: 33.33%;
}
.auction-details-subauction-wrap {
    border: 1px solid #AD6271;
    border-radius: 10px;
    overflow: hidden;
}
.auction-details-subauction-title {
    background-color: #f5f8fa;
    border-bottom: 1px solid #AD6271;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
}
.auction-details-subauction-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 10px;
}
.auction-details-subauction-content p {
    font-size: 12px;
    width: 50%;
    padding: 0 10px;
    margin: 3px 0;
}
.auction-details-subauction-content p strong {
    display: block;
}

.widget-area {
    border: 1px solid #eaeaea;
    padding: 15px;
}
.widget {
    position: relative;
    margin-bottom: 1em;
    border: 1px solid #eee;
    font-size: 13px;
}
.widget-title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0!important;
    padding: 8px 10px;
    background: #fafafa;
}

.widget-body mat-checkbox {
    display: block;
    padding:0px 5px;
}
.widget-body .mat-checkbox-layout {
    white-space: normal;
}
.more-options-btn{
    color: #0d4fa3;
}
.auction-assets-filter button svg {
    margin-right: 5px;
}
.auction-assets-filter button:hover svg, .auction-assets-filter button:focus svg {
   fill: #fff;
}
.auction-assets-content {
    border: 1px solid #eaeaea;
}
button .auction-assets-content-title {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: none;
    color: #fff;
}

.auction-assets-content-title {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: none;
    color: #fff;
}


button.collapsed .auction-assets-content-title {
    background: #0d4fa3;
}

.row.auction-assets-row p {
    margin: 0px;
}
.auction-assets-content-body {
    padding: 15px;
}
.auction-assets-row {    
    margin: 0 -7.5px;;   
}
.auction-assets-item {
    display: flex;
    margin-bottom: 15px;
    padding: 0 7.5px;
}
.auction-assets-wrap {
    background-color: #fff;
    border: 1px solid #c4cfd8;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.auction-assets-image {
    width: 100%;
}
.auction-assets-image img {
    width: 100%;
}
.auction-assets-summery {
    padding: 5px;
}
.auction-assets-title {
    font-size: 15px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 36px;
    margin-bottom: .5rem!important;
}
.auction-assets-desc {
    font-size: 11px;
    margin-bottom: 10px;
    color: #0d4fa3;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 30px;
}
.auction-assets-timer {
    display: flex;
    align-items: center;   
    margin: 0 -3px 10px;
}
.auction-timer-box {
    padding: 0 3px;
    width: 100%;
}
.auction-timer-box span {
    display: block;
    text-align: center;
    background: transparent linear-gradient(279deg,#1a50b1,#a01922);
    
    border-radius: 4px;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-transform: uppercase;
}
.auction-timer-box span strong{
    display: block;   
    font-size: 12px;
    line-height: 19px;
}
.auction-assets-btn {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
}
.auction-assets-btn a {
    color: #0d4fa3;
    font-size: 11px;
    width: 75%;
    margin-right: 5px;
}
.auction-assets-btn a img {
    width: 10px;
    margin-right: 3px;
}

.auction-assets-wrap .auction-assets-image {height: 160px;}
.auction-assets-wrap .auction-assets-image img {height: 100%; object-fit: contain;}
.content-section button:before {display: none;}
.auction-assets-btn button.theme-btn {
    font-size: 12px;
    padding: 8px 10px;
    height: auto;
    line-height: 18px;
    width: 50%;
    margin-left: 5px;
}

.sidebar-area .mobile-filter {display: none;}
.container-custom {
    background: #fff;
    padding: 10px !important;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    /* margin: 0px 30px; */
    width: 95%;
}
.auction-contact-card {
    box-shadow: 0px 0px 6px #d2dce6;
    border-radius: 4px;
    padding: 0 0px;
    border: 1px solid #eee;
    margin: 0px 5px 10px;
}
.auction-contact-card .auction-contact-card-hader {
    padding: 10px;
    background: #1b4faf;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.auction-contact-card .auction-details-buyers-item {
    width: 100%;
    text-align: center;
}
.auction-contact-card-hader .auction-details-buyers-item {margin: 0px;}
.auction-contact-card .auction-details-buyers-item strong {font-weight: 500;}
.auction-contact-card .auction-contact-card-body .auction-details-buyers-item strong {font-weight: 400; } 
.auction-contact-card .auction-contact-card-body .auction-details-buyers-item a:hover {color: #3e6cc1;}


.spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;     
    
}

.spinner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
} 
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.849);
  }
  .loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0,-50%);
    justify-content: center;
  }
  .loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
  }
  .loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
    background: #1A50B1;
  }
  .loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
    background: #3B428D;
  }
  .loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
    background: #643161;
  }
  .loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
    background: #832540;
  }
  .loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
    background: #A01922;
  }
  .loading .dot:nth-child(5)::before {
    animation-delay: 1s;
  }
  @keyframes wave {
    50%, 75% {
      transform: scale(2.0);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  .loading-txt {
    font-size: 18px;
    font-weight: 500;
  }
  .spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
    }
/* @import "toastr"; */

@media only screen and (max-width: 1199px) {
    .auction-details-btn button {
        padding: 10px 12px;    
        font-size: 12px;
    }
}

@media only screen and (max-width: 991px) {
    .auction-contact-card .auction-contact-card-body .auction-details-buyers-item strong{font-size:12px;}
    .auction-details-btn {      
        justify-content: flex-start;
        margin-top: 10px;
    }
    .auction-assets-btn {      
        flex-wrap: wrap;
    }
    .auction-assets-btn a {      
        font-size: 12px;
        width: 100%;
        margin-right: 0;
    }
    .auction-assets-btn button.theme-btn {        
        width: 100%;
        margin: 10px 0 0 0;
    }
} 
@media only screen and (max-width: 767px) {
    .auction-details-subauction-title {
        background-color: #f5f8fa;
        border-bottom: 1px solid #AD6271;
        padding: 4px 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
    }
    .auction-assets-wrap .auction-assets-image {
        height: 100px;
    }
    .content-section .card .auction-assets-content-title {
        border-radius: 4px;
        font-size: 12px;
        padding-right: 20px;
    }
    .container-custom {margin: 0px 10px; padding: 7.5px 7.5px!important;}
    .site-content {padding: 60px 0 20px !important;}

    .auction-timer-box span strong {
        display: block;
        font-size: 10px;
        line-height: 14px;
    }
    .auction-timer-box span {
        display: block;
        text-align: center;
        background-color: #f5f5f5;
        /* border: 1px solid #b8c4cf; */
        border-radius: 4px;
        font-size: 8px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .auction-assets-item {
        display: flex;
        margin-bottom: 15px;
        padding: 0 5px;
        max-width: 50%;
    }
    .auction-assets-content-body {
        padding: 7.5px;
    }
 .auction-catalogue{width:100%!important;}
   .desktop-btn{display: none;}
   .mobile-box-fit {
    display: block !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
}
.important-points .auction-details-buyers-item{
    width: 50%;
    background: #eee;
    padding: 5px;
    border: 2px solid #fff;
    font-size:12px;
}
.mobile-box-fit button {
    width: 50% !important;
}
.contact-details .auction-contact-card-hader .auction-details-buyers-item{background:none!important;border:none!important;}
    .auction-details-buyers-item {
        width: 50%;
        background: #eee;
        padding: 5px;
        border: 2px solid #fff;
        font-size:12px;
    }

    .auction-details-subauction-item:last-child {
        margin-top: 0px!important;
    }
    .auction-details-subauction-item {
        padding: 0 5px;
        margin-bottom: 1em;
        width: 33.33%;
    }
    .auction-details-summery {
        background-color: #F5F8FA;
        border: 1px solid #B8C4CF;
        margin: 0px 0px 15px 0px;
        border-radius: 10px;
        padding: 15px 7.5px;
    }
    .auction-details-subauction-body-new {
        display: flex;
        flex-wrap: nowrap;
        margin: 1em auto 0!important;
        overflow: auto;
    }
    .auction-details-btn button {
        /* width: 50% !important; */
        margin: 0px !important;
        border-radius: 0px !important;
    }

    .auction-assets-content-title{font-size: 14px;}

    .sidebar-area .mobile-filter {display: block; position: fixed; top: 70px; z-index: 11;
    width: 100%; padding: 10px 15px; left: 0px; background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%); border: 1px solid #ddd;}
    .mobile-filter .filtericon {
        float: right;
        width: 35px;
        height: 35px;
        background: #fff;
        color: #094fa3;
        text-align: center;
        vertical-align: middle;
        line-height: 27px;
    font-size: 16px;
        border-radius: 4px;
    }
    .site-content {padding: 55px 0 30px !important;}
    .mobile-filter label {      color: #fff;
        font-size: 19px;
        font-weight: 500;
        padding-top: 3px;
        margin: 0px;}

    .widget-area {   
        /* display: none; */
        position: fixed;
        top: 115px;
        z-index: 99;
        overflow: auto;
        width: 100%;
        background: #fff;
        left: 0px;
        height: 78vh}

    .auction-details-title {
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
    }
    span.auction-ongoing {      
        margin: 10px 0 0;
        display: inline-block;
    }
    .auction-details-btn {       
        flex-wrap: wrap;
    }
    .auction-details-btn button {
        width: 100%;
    }
    .auction-details-btn button + button{       
        margin: 7px 0 0 0;
    }
    .auction-details-subheader p {
        font-size: 12px;
        background: #fff;
        border: 1px solid #eee;
        padding: 5px;
        margin: 4px;
        width: 47%;      
    }
    .auction-details-subheader p strong {
        display: block;
    }
    .auction-details-subauction-header {        
        flex-wrap: wrap;
    }
    .auction-details-subauction-header h4 {
        margin: 0 0 10px;       
        width: 100%;
    }
    .auction-details-subauction-extra {       
        flex-wrap: wrap;
    }
    .auction-details-subauction-extra p + p{
        margin: 10px 0 0;
    }
    .auction-details-subauction-item {       
        flex: 0 0 80%;
    margin-bottom: 15px;
    }
    .mob-default-btn{border-left:2px solid #fff;}
    .auction-details-buyers-item strong {
        display: block;
        font-weight: 300;
        font-size: 12px;
    }
    .auction-details-subauction-item:last-child {       
        margin-top: 15px;
    }
    .widget-area {      
        margin-bottom: 15px;
    }
}   



@media screen and (max-width: 576px) {

    .auction-details-subauction-extra {position: static; color: #212529;}
    .auction-details-subauction-extra p {margin: 10px;}
    .auction-timer-box span strong {font-size: 12px; font-weight: 600;}
    .auction-assets-timer {margin: 0px !important;flex-wrap:wrap;background: transparent linear-gradient(279deg,#1a50b1,#a01922);}
    .auction-timer-box span {background-color: transparent; font-size: 10px; background: transparent; border: 0px;}
    .auction-timer-box span.auction-timer-txt {margin: auto; display: block; overflow: hidden;}
    .auction-timer-box {flex: 1 1 50%;
        border-radius: 4px;
        padding: 5px 0px 0px;}

}  

.site-content {
    padding: 15px 0 30px;
}

a.viewall {
    display: block;
    float:right;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 4px;
    margin-top: -4px;
    border-radius: 4px;
}
.more-options-btn {
    color: #0F3D94;
    margin-top: 0px;
    font-size: 12px;
    text-decoration: none !important;
    padding: 10px 5px;
}

.mobile-box-fit{display: none;}

/* .auction-contact-card .auction-details-buyers-item {
    width: 50%;
    background: none;
    padding: 0px;
    border: none;
    font-size: 12px;
} */

.auction-contact-details .auction-contact-card-hader .auction-details-buyers-item {
    background: none;
    border: none;
}

.auction-contact-details .auction-details-buyers-item {
    background: none!important;
}
.content-section .card-body {
    padding: 5px;
}
.auction-detailscontacts {
    padding: 10px 0px;
}
