/* table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eff0f2;
    margin: 10px 0 30px;
    overflow: hidden;
    @media only screen and (max-width:991px){
        min-width: 1000px;
    }
        
    }
    table th {
        background: #eff0f2;
        font-size: 13px;
        padding: 13px 10px;
        text-align: left;
    }
    tbody
        tr
            td {
                font-size: 13px;
                color: #3c3c3c;
                padding: 15px 10px;
                border-bottom: 1px solid #eff0f2;
            }
        
            tbody tr:last-child
            td {
                border-bottom: 0;
            } */

/* .custom-table-main {width:80% !important;float: right;}
.custom-table-main table{border-radius: 0px;margin-top:0px}
.custom-table-main table th{background: #0d4fa3; color: #fff;font-weight: 500;}
.custom-table-main table tr td{border-bottom:1px #eff0f2 solid;}
.custom-table-main table th, .custom-table-main table td{font-size: 15px !important;}
.excel-export-section {
    background: #fafafa;
    padding: 10px;
    border: 1px #eff0fc solid;
    border-bottom: 0px;
}
.excel-export-section button {
    background: #009a2c;
    border-radius: 0px;
    color: #fff;
}
.user-management-heading, .add-user{display: inline-block;}
.add-user{text-align: right;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-management {
    padding-bottom: 30px;
}
.custom-mat-table th, .custom-mat-table td {
    text-align: left !important;
    padding-left: 10px !important;
    padding-right: 10px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 50%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
}
.custom-file {
    height: 46px;
}
.custom-file .custom-file-label {
    padding: 0;
    margin-bottom: 0;
}
.custom-file .upload-icon {
    width: 34px;
    height: 42px;
}
.custom-file .custom-file-label {
    line-height: 1;
}

ul
{
    list-style-type: none; 
    display: inline-flex; 
    width: 100%; 
    margin-top:2%;
}

ul li
{
    margin-right: 2%;
}

.BtnSubmit
{
    border: 0px none; 
    background-color: white; 
    color: #0892D0; 
    height: 71%; 
    padding: 0px 0px 0px 0px; 
    margin-top: 3px; 
    font-size: smaller; 
    font-weight: bold;
}

.BtnDelete
{
    border: 0px none; 
    background-color: white; 
    color: #0892D0; 
    height: 71%; 
    padding: 0px 0px 0px 0px; 
    margin-top: 3px; 
    font-size: smaller; 
    font-weight: bold; 
    color:Red;
}

.FileUp
{
    background-color: forestgreen; 
    color: white; 
    font-size: small; 
    font-weight: bold; 
    height: 70%; 
    width: 120%; 
    text-align: center; 
    margin-left: -8%;
}

.BtnFileUp
{
    padding: 0px 0px 0px 0px; 
    margin-top: 1px; 
    font-size: smaller; 
    font-weight: bold; 
    height: 81%; 
    width: 120%;
}

.BtnSubmit1
{
    padding: 0px 0px 0px 0px; 
    margin-top: 1px; 
    font-size: smaller; 
    font-weight: bold; 
    height: 81%; 
    width: 120%;
}

.BtnTbl
{
    margin-right: 2%; 
    border-radius: 50%; 
    background-color: lightgrey;
}

.BtnDeleteTbl
{
    border-radius:50%; 
    background-color: lightgrey;
}
.page-wrapper{
    padding-bottom: 40px;
} */

.product-wrapper {
    padding: 15px;
      width: calc(100% - 18em);
      margin-left: auto;
      transition: 0.5s;
  }
  .main-heading {
    font-size: 32px;
    font-weight: 700;
}
  .mat-card {
    padding: 0px;
  }
  .asset-table .inner-table {
    border-radius: 10px;
  }
  .header-btn button {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background-color: #0d4fa3;
  }  
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table th {
    background-color: #0D4FA3;
    color: #fff; vertical-align: middle; margin: 0px;
}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px !important; white-space: nowrap; vertical-align: middle; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; height: 42px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td img.category-img {    width: 50px;
    height: 34px;
    padding: 3px;
    border: 1px solid #c1c9d0;
    border-radius: 4px;}
.asset-table table td.mat-column-is_active {color: #00a767;}

.excel-export-section button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 2px 20px;
}
.asset-table table td button.simple-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 30px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.simple-btn span {font-size: 18px;}
/* .asset-table table td button.simple-btn span img {margin-top: -15px;} */
.asset-table table td button.simple-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.simple-btn.view-icon img {width: 22px;}
.asset-table table td button.simple-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
.asset-table table tr:hover {background-color: #f8fbfd;}


.admin-page-buttons button.upload-btn i {font-size: 0px;}



 
@media screen and (max-width: 992px) and (min-width: 768px) {

    /* .product-wrapper {padding: 20px 15px; width: 100%; margin-top: 0px !important; float: none; transition: 0.5s;} */


}

@media screen and (max-width: 768px) {
    .admin-page-buttons button.upload-btn {font-size: 0px;}
    .admin-page-buttons button.upload-btn i {font-size: 18px;}
    .excel-export-section button {font-size: 0px;}
    .excel-export-section button i {font-size: 18px;}
    .product-wrapper {padding: 20px 15px; margin-top: 0px; width: 100%; float: none; transition: 0.5s;} 
}
