<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-card>
    <div class="custom-table-main product-wrapper">
       <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>   
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>     
                <li class="breadcrumb-item active" aria-current="page">New Asset</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-6">
              <h3 class="admin-page-title">New Asset</h3>
            </div> 
            <div class="admin-page-buttons col-lg-6 col-md-7  col-6">
                    <div class="excel-export-section d-inline-block align-middle">
                      <button mat-button (click)="export()"><i
                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                      </div>
                <button routerLink="/new-equipment/sell-equipment" class="btn upload-btn default-btn d-inline-block align-middle mat-button"> 
                  <i class="fa fa-upload" aria-hidden="true"></i>Upload Asset </button>
              </div> 
          </div> 
          <div class="user-management-top-section">
            <div class="row mt-3">
              <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                <mat-form-field floatLabel="never">
                  <mat-select class="form-control" placeholder="Select Status"
                    (selectionChange)="statusFilter($event?.value)">
                    <mat-option>Select Status</mat-option>
                    <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                      {{status?.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
       <div class="page-wrapper" id="page-wrapper">
           <div class="">
              

               <div class="asset-table"> 
                    <div class="table-responsive inner-table mb-3">
                    <table id="TblAssetMstr" name="TblAssetMstr" class="table mb-1 mt-0 w-100">
                        <thead id="TblHead" name="TblHead">
                            <tr>
                                <!-- <th style="text-align: center;">
                                    <input type="checkbox" name="ChkBoxHeader" id="ChkBoxHeader" (change)="ChkAllChkBoxTbl()" />
                                </th> -->
                                <th>Asset ID</th>
                                <th>Image</th>
                                <th>Asset Name</th>
                                <th>Category</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="TBodyAssetMstr" Name="TBodyAssetMstr"><!--bindings={
                            "ng-reflect-ng-for-of": "[object Object],[object Object"
                        }-->  
                        <tr *ngFor="let x of JData index as i;">
                            <!-- <td style="text-align: center;">
                                <input #Chk (change)="BChk_Change(Chk.checked)" type="checkbox" name="Chk" value="{{ x.id }}" />
                            </td> -->
                            <td>{{ x.id }}</td>
                            <td><img class="category-img" src="{{ x.primary_image }}" /></td>
                            <td>{{ x.product_name }}</td>
                            <td>{{ x.category.display_name }}</td>
                            <td>{{ x.brand.display_name }}</td>
                            <td>{{ x.model.name }}</td>
                            <td>{{ x.selling_price }}  </td>
                            <td>{{ getRowstatus(x.status) }}</td>
                            <td>
                                <button *ngIf="x.status< 2" routerLink="/new-equipment/basic-details/{{ x.id }}" class="simple-btn mr-2" mat-button>
                                    <span><img src="../../../assets/images/editicon.svg"></span> 
                                </button>
                                <button class="simple-btn view-icon" mat-button  (click)="actionPopup(x.id)">
                                    <span><img src="../../../assets/images/visibility.svg"></span>
                                </button>
                                <!-- <button routerLink="/new-equipment/basic-details/{{ x.id }}" class="btn btn-sm BtnTbl" type="button"><i class="fa fa-pencil" style="color:#0892D0;"></i></button> -->
                                <!-- <button routerLink="/new-equipment/basic-details/{{ x.id }}" class="btn btn-sm BtnTbl" type="button"><i class="fa fa-eye" style="color: darkgreen;"></i></button> -->
                                <!-- <button routerLink="/new-equipment/basic-details/{{ x.id }}" class="simple-btn delet-icon" mat-button>
                                    <mat-icon class="action-icon" (click) ="deleteAsset(x.id)"><span><img src="../../../assets/images/Delete_icon.svg"></span></mat-icon>
                                </button> -->
                                <!-- <button class="btn btn-sm BtnDeleteTbl" type="button"><i class="fa fa-trash" style="color: crimson;"></i></button> -->
                              </td>
                        </tr>
                        <tr class="no-record table-recond" *ngIf="!JData?.length">No Records Found</tr>
                 
              <tr style="display:none;">
                <td style="text-align: center;">
                    <input #Chk (change)="BChk_Change(Chk.checked)" type="checkbox" name="Chk" id="Chk" value="7452429" />
                </td>
                <td style="text-align: center;">
                    7452429                                  
                </td>
                <td style="width: 5%;text-align: center;">
                    <img src="../../../../../assets/images/CraneImg.PNG"  height="48px" width="45px" style="margin-top: -18%;" />
                </td>
                <td style="text-align: center;">JCB 3DX</td>
                <td style="text-align: center;">Construction</td>
                <td style="text-align: center;">JCB</td>
                <td style="text-align: center;">3DX</td>
                <td style="text-align: center;">DL 2C AZ 5145</td>
                <td style="text-align: center;">Active</td>
                <td style="width: 10%; text-align: center;">
                  <button class="btn btn-sm BtnTbl" type="button"><i class="fa fa-pencil" style="color:#0892D0;"></i></button>
                  <button class="btn btn-sm BtnTbl" type="button"><i class="fa fa-eye" style="color: darkgreen;"></i></button>
                  <button class="btn btn-sm BtnDeleteTbl" type="button"><i class="fa fa-trash" style="color: crimson;"></i></button>
                </td>
          </tr>
                      </tbody>
                    </table>
                   </div>
                </div>
                <mat-paginator [length]="total_count" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="0" [pageSize]="10"
      (page)="onPageChange($event)"></mat-paginator>
            </div>
            
        </div>

 
</div>
    </div>
</mat-card>