<mat-card>
    <div class="main-div product-wrapper">
      <div class="product-wrapper-box">
      <div class="breadcrumb-container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/admin-dashboard']">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">RM Tagging Master</li>
        </ol>
      </div>
      <div class="admin-page-heading">
        <div class="admin-page-header col-lg-6 col-md-12">
          <h3 class="admin-page-title">RM Tagging Master</h3>
        </div>
      </div>
  
       
          <!-- <div class="row">
             <div class="col-sm-6 mb-3">
              <h4 class="title">Pincode Master</h4>
            </div> 
  
          </div> -->
  
          <ng-container *ngIf="showPincodeForm">
            <div class="popup">
              <!-- <div class="popup-hdr">
               
                 <button mat-button (click)="backClick()" class="close-btn"><img
                        src="../../../../../../assets/images/Close.svg" alt=""></button>
              </div> -->
              <div class="popup-body p-0 overflow-hidden">
                <div class="add-new-field mb-3">
                  <h4 class="title">Tag RM</h4>
                  <div class="add-new-field-body">
                  <form [formGroup]="form">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                        <label for="" class="f-12 d-block">Relationship Manager <span class="mandatory"></span></label>
                        <mat-form-field floatLabel="never">
                          <mat-select class="select-new-ui" formControlName="rm" [disabled]="this.isEdit || this.isReassign" placeholder="Relationship Manager">
                            <mat-option value="">Relationship Manager</mat-option>
                            <mat-option *ngFor="let obj of RmList" [value]="obj.user.cognito_id">{{obj.user.first_name}} {{obj.user.last_name}}</mat-option>
          
                          </mat-select>
                        </mat-form-field>
                        <mat-error>
                          <div class="validation-err"
                            *ngIf="form.get('rm')?.touched && form.get('rm')?.hasError('required')">
                            Please select RM.
                          </div>
                        </mat-error>
                      </div>
                      <div class="col-md-6 col-lg-4 col-sm-6 mb-3" [class.d-none]="this.isReassign && this.form.value.Country==undefined">
                        <label class="f-12 d-block">Country<span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Country</mat-label>
                          <mat-select formControlName='Country'  [disabled]="this.isReassign" (selectionChange)="getStates($event.value)"
                            placeholder="Select Country">
                            <mat-option *ngFor="let country of countryData" [value]="country.id">
                              {{ country.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-lg-4 col-sm-6 mb-3" [class.d-none]="this.isReassign && this.form.value.State==undefined">
                        <label class="f-12 d-block">State</label>
                        <mat-form-field floatLabel="never">
                          <mat-label>State</mat-label>
                          <mat-select formControlName='State'  [disabled]="this.isReassign" (selectionChange)="getCities($event.value)"
                            placeholder="Select  State">
                            <mat-option *ngFor="let state of stateData" [value]="state.id">{{state.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
            
                      <div class="col-md-6 col-lg-4 col-sm-6 mb-3" [class.d-none]="this.isReassign && this.form.value.CityName==undefined">
                        <label class="f-12 d-block">City/Location Name</label>
                        <mat-form-field floatLabel="never">
                          <mat-label>City/Location Name</mat-label>
                          <mat-select formControlName='CityName'  [disabled]="this.isReassign" multiple placeholder="Select City/Location Name" [(ngModel)]="multipleCities">
                            <mat-option *ngFor="let city of locationData" [value]="city.id">{{city.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="isReassign">
                        <label for="" class="f-12 d-block">New Relationship Manager <span class="mandatory"></span></label>
                        <mat-form-field floatLabel="never">
                          <mat-select class="select-new-ui" formControlName="newrm" placeholder="Relationship Manager">
                            <mat-option value="">Relationship Manager</mat-option>
                            <mat-option *ngFor="let obj of RmList" [value]="obj.user.cognito_id">{{obj.user.first_name}} {{obj.user.last_name}}</mat-option>
          
                          </mat-select>
                        </mat-form-field>
                        <mat-error>
                          <div class="validation-err"
                            *ngIf="form.get('rm')?.touched && form.get('rm')?.hasError('required')">
                            Please select RM.
                          </div>
                        </mat-error>
                      </div>
                      <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="f-12 d-block">Pincode<span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Pincode</mat-label>
                          <input matInput placeholder="Enter Pincode" autocomplete="off" type="text" formControlName='Pincode'
                            class="">
                          <input formControlName='id' type="hidden">
                        </mat-form-field>
                      </div> -->
                    </div>
                    <div class="text-right dialog-actions-container">
                      <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
                      <!-- (click)="backClick()" -->
                      <button class="default-btn plr-md-40" [disabled]="!form.valid" (click)="okClick()" *ngIf="!isReassign" mat-button>{{isEdit ?
                        'Edit' : 'Add'}}</button>
                        <button class="default-btn plr-md-40" [disabled]="!form.valid || (this.form.value.newrm==undefined || this.form.value.newrm =='')" (click)="reassignUser()" *ngIf="isReassign" mat-button>Reassign RM</button>
                    </div>
                  </form>
                  </div>
                </div>
            
              </div>
            </div>
            <!-- <app-add-edit-pincode-dialog (ChdOutput)="GetChildData('PincodeCreate' ,$event , 0)">
            </app-add-edit-pincode-dialog> -->
            <!-- <app-add-edit-country-dialog></app-add-edit-country-dialog> -->
            <!-- [ChdInput] = "FlagPopUp" -->
          </ng-container>
  
          <div>
            <div class="row">
              <div class="col-sm-4 mb-3">
                <mat-form-field floatLabel="never">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Search" (input)="search($event.target.value,'Pincode')" (keydown.enter)="search($event.target.value,'Pincode')" autocomplete="off"
                    type="text" class="">
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-lg-8 user-search-btn mb-3">
                <!-- <div class="excel-export-section">
                  <button class="export-btn" mat-raised-button color="primary" (click)="exportPincodeData()"><i
                      class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div> -->
                <div class="add-more-btn" *ngIf="!showPincodeForm">
                  <button class="default-btn" mat-button (click)="add('Pincode')"><i class="fa fa-plus" aria-hidden="true"></i>Tag Location to RM</button>
                </div>
              </div>
            </div>
            <div class="asset-table">
              <div class="table-responsive inner-table mb-3">
                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="PincodeDataSource"
                  #TableOneSort="matSort" matSort>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Relationship Manager</th>
                    <td mat-cell *matCellDef="let element">
                      <span class="mobile-label">Relationship Manager</span>
                      {{ element.first_name }} {{ element.last_name }} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="Country">
                    <th mat-header-cell *matHeaderCellDef> Country </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="mobile-label">Country</span>
                      {{ element.states?.country_name!=undefined?element.states?.country_name:element.country.name+' - All States' }}</td>
                  </ng-container>
                  <ng-container matColumnDef="states">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="mobile-label">State</span>
                      {{element.states.name}}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="cities">
                    <th mat-header-cell *matHeaderCellDef> City/Location </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">City/Location</span>
                      <span *ngFor="let a of element.states.cities; let i = index">
                        {{a.name}}{{i==element.states.cities.length-1?'':','}}
                       </span> 
                    </td>
                  </ng-container>
  
                  <!-- <ng-container matColumnDef="pin_code">
                    <th mat-header-cell *matHeaderCellDef> Pincode </th>
                    <td mat-cell *matCellDef="let element"> {{ element.pin_code }} </td>
                  </ng-container> -->
  
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <span class="mobile-label">Actions</span>
                      <div>
                        <button class="simple-btn" title="Edit" mat-button (click)="GetChildData('PincodeEdit' , $event , i,element,false)">
                        <span><img src="../../../assets/images/editicon.svg"></span></button>
                        <!-- (click)="addEditLocation(i)" -->
                        <button class="simple-btn delet-icon" title="Tag RM" mat-button
                          (click)="GetChildData('PincodeEdit' , $event , i,element,true)"><span><img
                              src="../../../assets/images/transfer.png"></span></button>
                      </div>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="PincodeDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: PincodeDisplayedColumns"></tr>
                  <!-- </mat-table> -->
                </table>
              </div>
            </div>
            <mat-paginator #pincodePager [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
  
          </div>
        </div>
    </div>
  </mat-card>