<div class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enterprise Invoice</li>
      </ol>
    </div>
  
    <div class="admin-page-heading">
      <div class="admin-page-header col-lg-6 col-md-6">
        <h3 class="admin-page-title">Enterprise Invoice</h3>
      </div> 
    </div>

    <ng-container *ngIf="showForm">
      <div class="user-management">
            <h4 class="title">Invoice </h4>
            <div class="add-certificate-section">
                <form [formGroup]="enterpriseValuationForm">
                    <div class="row m-0">
                            <div class="col-md-6">
                                    <label for="" class="f-12 d-block">Service Fee<span class="text-warning">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Service Fee" autocomplete="off" type="text"
                                            formControlName="taxable_amount" readonly>
                                    </mat-form-field>
                                  </div>
                                 
                                    <div class="col-sm-6 mb-3">
                                      <div class="text-left">
                                        <button class="default-btn  m-t-3" mat-button (click)="viewDetails()">View Details</button>
                                      </div>
                                    </div>
                                
                      <div class="col-md-6 mb-3">
                        <div class="">
                          <ul class="taxes-chosen" *ngIf="gstDetails && gstDetails?.length > 0">
                            <li><a (click)='is_gst =!is_gst' [ngClass]="(is_gst) ? 'active':''">GST {{gstDetails[0].service_tax_rate}} <span><i *ngIf='is_gst' class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                            <li><a (click)='is_cgst = !is_cgst' [ngClass]="(is_cgst) ? 'active':''">CGST {{gstDetails[1].service_tax_rate}}<span><i *ngIf='is_cgst' class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                            <li><a (click)='is_igst = !is_igst' [ngClass]="(is_igst) ? 'active':''">IGST {{gstDetails[2].service_tax_rate}}<span><i *ngIf='is_igst' class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <div class="totalamount mb-3">
                              <span>Total Amount(Inc Tax): {{getTotalAmount()}}</span>
                          </div>
                      </div>
                        
                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">Description of Services<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never">
                          <input matInput placeholder="Description of Services" autocomplete="off" type="text"
                              formControlName="services">
                      </mat-form-field>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">Invoice Date<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="Enter Invoice Date" matInput [matDatepicker]="picker3"
                            (click)="picker3.open()" readonly formControlName='invoice_date'>
                        <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">Invoice in favour of<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never">
                          <input matInput placeholder="Invoice in favour of" autocomplete="off" type="text"
                              formControlName="billed_to">
                      </mat-form-field>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">PO/Ref No.<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never">
                          <input matInput placeholder="PO/Ref No." autocomplete="off" type="text"
                              formControlName="po_ref_no">
                      </mat-form-field>
                  </div>
                  
                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">PO / Ref Date<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="PO / Ref Date" matInput [matDatepicker]="picker4"
                            (click)="picker4.open()" formControlName='po_ref_date'>
                        <mat-datepicker-toggle matSuffix [for]="picker4" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4 mb-3">
                      <label for="" class="f-12 d-block">SAC Code<span class="text-warning">*</span></label>
                      <mat-form-field floatLabel="never">
                          <input matInput placeholder="SAC Code" autocomplete="off" type="text"
                              formControlName="sac_code" readonly>
                      </mat-form-field>
                  </div>

                  </div>

                  


<div class="row user-management m-0 cust-us-wdth">
<div class="col-md-12 p-0">
  <h4 class="title">User GST details</h4>
</div>
<div class="add-certificate-section m-0 p-0 col-sm-12">
  <div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">Address<span class="text-warning">*</span></label>
    <mat-form-field floatLabel="never">
        <input matInput placeholder="Address" autocomplete="off" type="text"
            formControlName="billing_address">
    </mat-form-field>
</div>

<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
    <label for="">Country<span class="validation-err">*</span></label>
    <div class="contact-person-typeblock">
      <mat-form-field floatLabel="never">
        <mat-select class="select-new-ui" (selectionChange)="countryChange()" #input formControlName="country">
          <!-- <mat-option value="{{con.id}}" *ngFor='let con of country_data'>{{con.name}}</mat-option> -->
          <mat-option *ngFor='let con of country_data' [value]="con.id" >{{con.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</div>

<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
    <label for="">Pincode<span class="validation-err">*</span></label>
    <div class="contact-person-typeblock">
      <mat-form-field>
        <input (keyup)="getLocationData()" matInput formControlName = "pin_code" maxlength="6"/>
      </mat-form-field>
      <div
      *ngIf="enterpriseValuationForm?.get('pin_code')?.touched && enterpriseValuationForm?.get('pin_code')?.hasError('required')">
      <span class="validation-err">Pincode is required.</span>
  </div>
</div>
</div>

<div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
<label class="d-block f-12">State<span class="validation-err">*</span></label>
<mat-form-field floatLabel= "never">
    <input matInput placeholder="State" formControlName = "state_name"/>
</mat-form-field>
<div
  *ngIf="enterpriseValuationForm?.get('state_name')?.touched && enterpriseValuationForm?.get('state_name')?.hasError('required')">
  <span class="validation-err">State is required.</span>
</div>
</div>

<div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
<label class="d-block f-12">City<span class="validation-err">*</span></label>
<mat-form-field floatLabel= "never">
<input matInput placeholder="City" formControlName = "city_name"/>
</mat-form-field>
<div
*ngIf="enterpriseValuationForm?.get('city')?.touched && enterpriseValuationForm?.get('city')?.hasError('required')">
<span class="validation-err">City is required.</span>
</div>
</div>

<div class="col-md-4 mb-3">
<label for="" class="f-12 d-block">Registration Number<span class="validation-err">*</span></label>
<mat-form-field floatLabel="never">
<input matInput placeholder="Registration Number" autocomplete="off" type="text"
formControlName="registration_number">
</mat-form-field>
</div>

</div>
</div>

<div class="user-management m-0 cust-us-wdth">
<div class="col-sm-12 p-0">
  <h4 class="title">iQuippo GST details</h4>
</div>
<div class="row add-certificate-section m-0">
  <div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">State<span class="validation-err">*</span></label>
    <mat-form-field floatLabel="never">
        <mat-select class="select-new-ui" formControlName="gst_state" (selectionChange)="onSellerSelect($event)">
          <!-- <mat-option value="{{con.id}}" *ngFor='let con of country_data'>{{con.name}}</mat-option> -->
          <mat-option *ngFor='let con of iquippoGstList'  [value]="con.state.id" >{{con.state.name}}</mat-option>
        </mat-select>
        </mat-form-field>
    <!-- <mat-form-field floatLabel="never">
        <input matInput placeholder="State" disabled autocomplete="off" type="text"
            formControlName="gst_state">
    </mat-form-field> -->
</div>

<div class="col-md-4 mb-3">
    <label for="" class="f-12 d-block">Registration Number<span class="validation-err">*</span></label>
    <mat-form-field floatLabel="never">
        <input matInput placeholder="Registration Number" autocomplete="off" type="text"
            formControlName="gst_registration_number">
    </mat-form-field>
</div>
</div>
</div>
                  
    

</form>
<div class="row ng-scope w-100">
  <div class="col-md-12 p-0">
      <div class="save-btn text-right">
          <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
          <button mat-button class="default-btn" [disabled]="!enterpriseValuationForm.valid" [ngStyle]="{'cursor': enterpriseValuationForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
      </div>
  </div>
</div>
</div>
</div>
</ng-container>


    <mat-tab-group class="individualinvoice" (selectedTabChange)="onListTabChanged($event);">
        <mat-tab label="Invoice To Be Generated">
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-3 text-right">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                [(ngModel)]="searchText" (keyup)="searchInList('togenerate')" (keydown.enter)="searchInList('togenerate')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="Enter From Date" matInput [matDatepicker]="picker5"
                            (click)="picker5.open()" readonly [(ngModel)]="fromDate" (dateInput)="filterFromDate()">
                        <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3  mb-3 ">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="Enter To Date" matInput [matDatepicker]="picker6"
                            (click)="picker6.open()" readonly [(ngModel)]="toDate" (dateInput)="filterFromDate()">
                        <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                    </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 ">
                            <mat-select placeholder="Select Request Type" [(ngModel)]="requestType" (selectionChange)="getPage()">
                                <mat-option [value]="1">
                                    Valuation
                                </mat-option>
                                <mat-option [value]="2">
                                   Inspection
                                </mat-option>
                                <mat-option [value]="3">
                                  GPS Installation
                               </mat-option>
                               <mat-option [value]="4">
                                Photographs Only
                             </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 ">
                         <mat-select placeholder="Select Enterprise"  [(ngModel)]="enterprise" (selectionChange)="getPage()">
                             <mat-option *ngFor="let customer of enterpriseCustomerList" [value]="customer.id">{{customer?.company_name}}
                              </mat-option>
                          </mat-select>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3">
                            <button class="default-btn btn btn-block" (click)="openGenerateInvoice()">Generate Invoice</button>
                        </div>
                    </div>
                </div>

                <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">

        <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="invoiceGeneratedData" matSortDirection="desc"
          matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-checkbox [checked]="getCheckedAll()" (change)="checkall($event)"></mat-checkbox> </th>
            <td mat-cell *matCellDef="let row">  <mat-checkbox [checked]="getCheckedStatus(row)" (change)="checkEnterpriseRow($event,row)"></mat-checkbox> </td>
          </ng-container>
          <ng-container matColumnDef="unique_control_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Control Number</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Unique Control Number</span>
              {{row?.unique_control_number}} </td>
          </ng-container>
          <ng-container matColumnDef="request_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Request Type</span>
              {{row?.request_type}} </td>
          </ng-container>
          <ng-container matColumnDef="enterprise">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Enterprise</span>
              {{row?.enterprise}} </td>
          </ng-container>
          <ng-container matColumnDef="reference_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference/FI Number</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Reference/FI Number</span>
              {{row?.reference_number}} </td>
          </ng-container>
          <ng-container matColumnDef="request_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Request Date</span>
              {{row?.request_date| date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="report_created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Report Generated Date </th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Report Generated Date</span>
              {{row?.report_created_at| date:'dd-MM-yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Status</span>
              Report Generated </td>
          </ng-container>
          <!-- <ng-container matColumnDef="invoice_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date</th>
            <td mat-cell *matCellDef="let row"> {{row?.invoice_created_date}} </td>
          </ng-container> -->
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="no-record table-recond" *ngIf="!invoiceGeneratedData?.data?.length">No records found</div>
      </div>
      </div>
      <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" [pageSize]="10"></mat-paginator>
      
      </div>


      
    
    </div>
    </mat-tab>



    <mat-tab label="Invoice Generated">
        <div class="">
            <div class="text-right">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="" autocomplete="off" type="text" class=""
                            [(ngModel)]="searchTextInvoice" (keyup)="searchInList('generated')" (keydown.enter)="searchInList('generated')">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                  <mat-form-field floatLabel="never" class="datepicker-input">
                    <input placeholder="Enter From Date" matInput [matDatepicker]="picker7"
                        (click)="picker7.open()" readonly [(ngModel)]="fromDateInvoice" (dateInput)="getPageInvoice()">
                    <mat-datepicker-toggle matSuffix [for]="picker7" class="calender-icon">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" />
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3 ">
                        <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                  <mat-form-field floatLabel="never" class="datepicker-input">
                    <input placeholder="Enter To Date" matInput [matDatepicker]="picker8"
                        (click)="picker8.open()" readonly [(ngModel)]="toDateInvoice" (dateInput)="getPageInvoice()">
                    <mat-datepicker-toggle matSuffix [for]="picker8" class="calender-icon">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" />
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                </mat-form-field>
                    </div>
                    <!-- <div class="col-md-8 text-right">
                        <button mat-raised-button color="primary" (click)="exportData()"
                            class="theme-btn">Export</button>
                    </div> -->
                </div>
            </div>

            <div class="desktop-table">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
            <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="generatedInvoiceData" matSortDirection="desc"
              matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
              <ng-container matColumnDef="invoice_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number</th>
                <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Invoice Number</span>
                  {{row?.invoice_number}} </td>
              </ng-container>
              <ng-container matColumnDef="unique_control_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Control Number</th>
                <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Unique Control Number</span>
                  <span *ngIf="row?.enterprise_valuation?.length > 1"><a href="javascript:void(0)" (click)="viewAllUcns(row?.enterprise_valuation)" class="view-all-popup">View All UCN's</a></span><span *ngIf="row?.enterprise_valuation?.length <= 1">{{row?.enterprise_valuation?.toString()}}</span> </td>
              </ng-container>
              <ng-container matColumnDef="enterprise">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise</th>
                <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Enterprise</span>
                  {{row?.enterprise?.company_name}} </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
                <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Amount</span>
                  {{row?.total_amount}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Status</span>
                  {{getInvoiceStatus(row?.status)}} </td>
              </ng-container>
              
              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row">
                    <span class="mobile-label">Actions</span>
                    <button type="button" class="table-row-btn wllet-icon" (click)="makePayment(row)">
                      <span><img src="../../../assets/images/wallet-black.png"  title="Make Payment"></span> <!-- Make Payment -->
                    </button>
                    <button  mat-button *ngIf = "row?.transaction?.length > 0"  class="simple-btn transection-icon table-row-btn" (click) = 'viewTransaction(row)'>
                      <span><img src="../../../assets/images/view-transection.svg"  title="View Transactions"></span>	
                    </button>
                    <button type="button" class="table-row-btn" (click)="modifyInvoice(row)">
                      <span><i class="fa fa-file-archive-o" aria-hidden="true"  title="Modify Invoice"></i></span> <!-- Modify Invoice -->
                    </button> 
                    <button type="button" class="table-row-btn" (click)="generateCreditNote(row)">
                      <span><i class="fa fa-credit-card" aria-hidden="true"  title="Generate Credit note"></i></span> <!-- Generate Credit Note -->
                    </button>
                    <button  mat-button *ngIf = "row?.invoice_url != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.invoice_url)'>
                        <span><i class="fa fa-download" aria-hidden="true" alt ="Download"  title="Download Invoice"></i></span>	
                    </button>
                    <button type="button" class="table-row-btn decline-icon" (click)="cancelInvoice(row)">
                      <span><img src="../../../assets/images/decline.svg" title="Cancel Invoice"></span> <!-- Cancel Invoice-->
                    </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns;sticky:true;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedInvoiceColumns;"></tr>
            </table>
            <div class="no-record table-recond" *ngIf="total_count_invoice == 0">No records found</div>
          </div>
          </div>
          <mat-paginator [length]="total_count_invoice" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChangeInvoice($event)" [pageSize]="10"></mat-paginator>
          
        </div>


        
        
        </div>
        </mat-tab>
        <mat-tab label="Credit note">
            <div class="">
                <div class="text-right">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class=""
                                [(ngModel)]="searchTextCredit" (keyup)="searchInList('creditNote')" (keydown.enter)="searchInList('creditNote')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="Enter From Date" matInput [matDatepicker]="picker9"
                            (click)="picker9.open()" readonly [(ngModel)]="fromDateCredit" (dateInput)="getPageCreditNote()">
                        <mat-datepicker-toggle matSuffix [for]="picker9" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker9></mat-datepicker>
                    </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 ">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                      <mat-form-field floatLabel="never" class="datepicker-input">
                        <input placeholder="Enter To Date" matInput [matDatepicker]="picker10"
                            (click)="picker10.open()" readonly [(ngModel)]="toDateCredit" (dateInput)="getPageCreditNote()">
                        <mat-datepicker-toggle matSuffix [for]="picker10" class="calender-icon">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" />
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker10></mat-datepicker>
                    </mat-form-field>
                        </div>
                        <!-- <div class="col-md-8 text-right">
                            <button mat-raised-button color="primary" (click)="exportData()"
                                class="theme-btn">Export</button>
                        </div> -->
                    </div>
                </div>

                <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="generatedCreditData" matSortDirection="desc"
                  matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumnCreditNote($event)">
                  <ng-container matColumnDef="credit_note_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit Note Number</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="mobile-label">Credit Note Number</span>
                      {{row?.credit_note_number}} </td>
                  </ng-container>
                  <ng-container matColumnDef="invoice_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="mobile-label">Invoice Number</span>
                      {{row?.invoice?.invoice_number}} </td>
                  </ng-container>
                  <ng-container matColumnDef="unique_control_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Control Number</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="mobile-label">Unique Control Number</span>
                      <span *ngIf="row?.invoice?.enterprise_valuation?.length > 1"><a href="javascript:void(0)" (click)="viewAllUcns(row?.invoice?.enterprise_valuation)">View All UCN's</a></span><span *ngIf="row?.invoice?.enterprise_valuation?.length <= 1">{{row?.invoice?.enterprise_valuation?.toString()}}</span> </td>

                    <!-- <td mat-cell *matCellDef="let row"> {{row?.invoice?.enterprise_valuation.toString()}} </td> -->
                  </ng-container>
                  <ng-container matColumnDef="enterprise_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Enterprise</th>
                    <td mat-cell *matCellDef="let row"> 
                        <span class="mobile-label">Enterprise</span>
                      {{row?.invoice?.enterprise.company_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount</th>
                    <td mat-cell *matCellDef="let row"> 
                        <span class="mobile-label">Amount</span>
                      {{row?.invoice?.total_amount}} </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                    <td mat-cell *matCellDef="let row"> 
                        <span class="mobile-label">Status</span>
                      {{getInvoiceStatus(row?.invoice?.status)}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <span class="mobile-label">Actions</span>
                        <button  mat-button *ngIf = "row?.invoice?.invoice_url != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.invoice?.invoice_url)'>
                            <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download Invoice"></i></span>	
                        </button>
                        <button  mat-button *ngIf = "row?.credit_note_url != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.credit_note_url)'>
                            <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download Credit Note"></i></span>	
                        </button>                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns_credit_note;sticky:true;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns_credit_note;"></tr>
                </table>
                <div class="no-record table-recond" *ngIf="!total_count_credit">No records found</div>
              </div>
              </div>
              <mat-paginator [length]="total_count_credit" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChangeCreditNote($event)"></mat-paginator>
              
              </div>


              
              
            </div>
            </mat-tab>
    </mat-tab-group>
</div>
</div>