<mat-card>
    <div class="custom-table-main product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Technical Information Master - Used</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-12">
                    <h3 class="admin-page-title">Technical Information Master - Used</h3>
                </div>

                <div class="admin-page-buttons col-lg-6 col-md-12 pt-md-2"
                    *ngIf="techDataSource && techDataSource?.data?.length > 0">
                    <div class="header-btn">
                        <button mat-button class="theme-btn export-btn mr-2" (click)="exportTechInfo()"><i
                                class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                        <button mat-button class="default-btn importBtn mr-2">
                            <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInput>
                            <i class="fa fa-upload" aria-hidden="true"></i> Import</button>
                        <button mat-button *ngIf="!showForm" class="default-btn  add-new"
                            (click)="showForm = !showForm">
                            <i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                    </div>
                </div>
            </div>

            <div class="no-content-box mt-4" *ngIf="!showForm && !isDisplay">
                <div class="no-content-img mt-5 mb-4">
                    <img src="../../../assets/images/image-asset.png" />
                </div>
                <div class="not-content-txt">
                    <h2>No Technical Information Used added Yet?</h2>
                    <p>Please click on a Add New button to create Technical Information Used
                    </p>

                    <button class="default-btn mat-button" (click)="showForm = !showForm">Add New</button>
                </div>
            </div>

            <div class="mb-3 upload-record" *ngIf="isShowInvalidRecords">
                <a style="color:blue;" (click)="viewErrorList()">View Invalid Records</a>
                <span class="delet-icon" (click)="hideErrorList()"><img
                        src="../../../assets/images/Delete_icon.svg" /></span>
            </div>

            <div class="user-management">
                <div class="user-management-top-section">
                    <ng-container *ngIf="showForm">
                        <app-add-new-tech (closeForm)="showForm = false; formClose($event)" [editData]="editData">
                        </app-add-new-tech>
                    </ng-container>

                    <div [hidden]="!isDisplay">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                                <!-- <div class="form-group form-inlin mb-0 used-upload-section">
                                    <input type="text" class="mat-input-element form-control" #input placeholder="Search...">
                                </div> -->
                                <div class="form-group form-inlin mb-0 used-upload-section">
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Search</mat-label>
                                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="search()"
                                            (keydown.enter)="search()" autocomplete="off" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="asset-table">
                            <div class="table-responsive default-tbl inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="techDataSource"
                                    matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                    (matSortChange)="onSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                                        <td mat-cell class="category-cell" *matCellDef="let data">
                                            <span class="mobile-label">ID</span> {{data?.id}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="category__display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                                        <td mat-cell class="category-cell" *matCellDef="let data">

                                            <span class="mobile-label">Category</span> {{data?.category?.display_name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="brand__display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
                                        <td mat-cell class="brand-cell" *matCellDef="let data">
                                            <span class="mobile-label">Brand</span> {{data?.brand?.display_name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="model__name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                                        <td mat-cell class="model-cell" *matCellDef="let data">
                                            <span class="mobile-label">Model</span> {{data?.model?.name}}
                                        </td>>
                                    </ng-container>

                                    <ng-container matColumnDef="gross_Weight">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gross Weight</th>
                                        <td mat-cell class="gross-weight-cell text-center" *matCellDef="let data">
                                            <span class="mobile-label">Gross Weight</span> {{data.gross_Weight}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="operating_weight">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Operating Weight</th>
                                        <td mat-cell class="operating-weight-cell text-center" *matCellDef="let data">
                                            <span class="mobile-label">Operating Weight</span> {{data.operating_weight}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bucket_capacity">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bucket Capacity</th>
                                        <td mat-cell class="bucket-capacity-cell text-center" *matCellDef="let data">
                                            <span class="mobile-label">Bucket Capacity</span> {{data.bucket_capacity}}
                                        </td>>
                                    </ng-container>

                                    <ng-container matColumnDef="engine_power">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Engine Power</th>
                                        <td mat-cell class="engine-power-cell text-center" *matCellDef="let data">
                                            <span class="mobile-label">Engine Power</span> {{data.engine_power}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lifting_capacity">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lifting Capacity</th>
                                        <td mat-cell class="lifting-capacity-cell text-center" *matCellDef="let data">
                                            <span class="mobile-label">Lifting Capacity</span> {{data.lifting_capacity}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let data" class="action-cell">
                                            <span class="mobile-label">Action</span>

                                            <button mat-button class="simple-btn" (click)="editTechInfo(data)">
                                                <span><img src="../../../assets/images/editicon.svg" alt="Edit"
                                                        title="Edit" /></span>
                                            </button>
                                            <button mat-button class="simple-btn delet-icon"
                                                (click)="removeTechInfo(data)">
                                                <span><img src="../../../assets/images/Delete_icon.svg" alt="delete"
                                                        title="Delete" /></span>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                                <!-- </mat-table> -->

                                <div class="no-record" *ngIf="!techDataSource?.data?.length">No records found</div>
                            </div>
                        </div>
                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>