<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Details</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="table-responsive">
        <table>
            <tbody>
                <tr>
                    <td><b>Invoice No.</b></td>
                    <td>{{tableData?.invoice_number}}</td>
                </tr>
                <tr>
                    <td><b>Unique Control Number</b></td>
                    <td>{{tableData?.unique_control_number}}</td>
                    <td *ngIf = "!isSelf(tableData?.valuation_on_behalf)"><b>Name of Customer</b></td>
                    <td *ngIf= "!isSelf(tableData?.valuation_on_behalf)">{{tableData?.customer_name}}</td>
                    <td *ngIf = "isSelf(tableData?.valuation_on_behalf)"><b>Valuation Done For</b></td>
                    <td *ngIf= "isSelf(tableData?.valuation_on_behalf)">{{tableData?.valuation_on_behalf ? 'Self': tableData?.customer_name}}</td>
                </tr>
                <tr>
                    <td><b>Request Type</b></td>
                    <td class="">{{setRequestDisplayValue(tableData?.advanced_valuation_type)}}</td>
                    
                </tr>
                <tr>
                    <td><b>Job ID</b></td>
                    <td class="">{{tableData?.job_id}}</td>
                </tr>
                <tr>
                    <td><b>Asset No:</b></td>
                    <td class="">{{tableData?.valuation_asset?.id}}</td>
                    <td><b>Status:</b></td>
                    <td class="">{{setStatusDisplayName(tableData?.status)}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><b>Remark:</b></td>
                    <td class="">{{tableData?.remarks}}</td>
                    <td><b>User:</b></td>
                    <td class="">{{tableData?.valuation_asset?.seller.first_name}}</td>
                </tr>
                <tr>
                    <td><b>Mobile No:</b></td>
                    <td>{{tableData?.contact_number}}</td>
                    <td><b>Request Date:</b></td>
                    <td class="">{{tableData?.created_at | date : 'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                    <td><b>Customer Invoice date:</b></td>
                    <td class="">{{tableData?.valuation_asset?.invoice_date | date : 'dd-MM-yyyy'}}</td>
                    <td><b>Customer Invoice Value:</b></td>
                    <td class="">{{tableData?.valuation_asset?.invoice_value}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><b>Invoice Upload:</b></td>
                    <td class="">{{tableData?.valuation_asset?.invoice_document}}</td>
                    <td><b>RC Upload:</b></td>
                    <td class="">{{tableData?.valuation_asset?.rc_document}}</td> 
                </tr>
                <tr>
                    <td><b>Asset Category:</b></td>
                    <td class="">
                    <span *ngIf="tableData?.valuation_asset?.category?.display_name != 'Other'">{{tableData?.valuation_asset?.category?.display_name}}</span>
                     <span *ngIf="tableData?.valuation_asset?.category?.display_name == 'Other'">{{tableData?.valuation_asset?.other_category}}</span> 
                    </td>
                    <td><b>Brand/Make</b></td>
                    <td class="">
                        <span *ngIf="tableData?.valuation_asset?.brand?.display_name != 'Other'">{{tableData?.valuation_asset?.brand?.display_name}}</span>
                        <span *ngIf="tableData?.valuation_asset?.brand?.display_name == 'Other'">{{tableData?.valuation_asset?.other_brand}}</span>    
                     </td>
                </tr>
            <tbody>
                <tr>
                    <td><b>Model:</b></td>
                    <td>
                        <span *ngIf="tableData?.valuation_asset?.model?.name != 'Other'">{{tableData?.valuation_asset?.model?.name}}</span>
                        <span *ngIf="tableData?.valuation_asset?.model?.name == 'Other'">{{tableData?.valuation_asset?.other_model}}</span>    
                    </td>
                    <td><b>Asset Name:</b></td>
                    <td class="">{{tableData?.valuation_asset?.product_name}}</td>
                </tr>
                <tr>
                    <td><b>Engine No.:</b></td>
                    <td>{{tableData?.valuation_asset?.engine_number}}</td>
                    <td><b>Chassis No.:</b></td>
                    <td>{{tableData?.valuation_asset?.chassis_number}}</td>
                </tr>
                <tr>
                    <td><b>Regn. No.:</b></td>
                    <td>{{tableData?.valuation_asset?.rc_number}}</td>
                    <td><b>Serial No.:</b></td>
                    <td>{{tableData?.valuation_asset?.machine_sr_number}}</td>
                </tr>
                <tr>
                    <td><b>Year of Manufacture:</b></td>
                    <td>{{tableData?.valuation_asset?.mfg_year}}</td>
                    <td><b>Country:</b></td>
                    <td>{{tableData?.valuation_asset?.pin_code?.city?.state?.country?.name}}</td>
                </tr>
                <tr>
                    <td><b>State:</b></td>
                    <td>{{tableData?.valuation_asset?.pin_code?.city?.state?.name}}</td>
                    <td><b>Location:</b></td>
                    <td>{{tableData?.valuation_asset?.pin_code?.pin_code}}</td>
                </tr>
                <tr>
                    <td><b>Contact Person:</b></td>
                    <td>{{tableData?.contact_person}}</td>
                    <td><b>Contact Person Tel No:</b></td>
                    <td>{{tableData?.contact_number}}</td>
                </tr>
                <!-- <tr>
                    <td><b>Comment:</b></td>
                    <td>{{tableData?.valuation_asset?.comments}}</td>
                </tr> -->
            </tbody>
            <tbody>
                <tr>
                    <td><b>Invoice in Favour of:</b></td>
                    <td colspan="3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Invoice in favour of</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Location</th>
                                    <th>Address</th>
                                    <th>GST Registration Number</th>
                                </tr>
                                <tr>
                                    <td> {{invoiceInFavorOf}}</td>
                                    <td>{{invoiceCountry}}</td>
                                    <td>{{invoiceState}}</td>
                                    <td>{{invoiceLocation}}</td>
                                    <td>{{tableData?.valuation_asset?.asset_address}}</td>
                                    <td class="word-break ng-binding"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td><b>Invoice Date: </b></td>
                    <td>{{tableData?.invoice_created_date | date : 'dd-MM-yyyy'}}</td>
                </tr>
                <tr>
                    <td><b>Payment Received: </b></td>
                    <td>{{tableData?.transaction_id?.amount}}</td>
                    <td><b>Invoice Generated Value:</b></td>
                    <td>{{tableData?.invoice_value}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="this.assetVisualData?.length">
                <form [formGroup]="viewingOptionsForm">
                        <section class="sell-visuals">
                          <h3 class="f-20 f-500 mb-2">Visuals</h3>
                          <div class="poi-tabs-wrapper">
                            <mat-tab-group animationDuration="0ms">
                              <mat-tab formArrayName="imageData" *ngFor="let visual of tabsList; let i = index;"
                                label="{{visual.category_name}}">
                                <ng-container formGroupName={{i}}>
                                  <div class="p-1">
                                    <div class="instructions-bx">
                                      <p class="f-16 mb-2">Instructions </p>
                                      <ul>
                                        <li>1- Click Picture in landscape mode</li>
                                        <li>2- Upload minimum 3 pictures</li>
                                        <li>3- Take front, back and side pictures </li>
                                        <li>4- Avoid bright-light background</li>
                                        <li>5- Photo size should not exceed 5 MB</li>
                                      </ul>
                                    </div>
                                    <div class="row mt-3">
                                      <!-- <div class="col-md-4">
                                        <label for="" class="f-12">Upload {{visual.category_name}} photo</label>
                                        <div class="custom-file dragDrop">
                                          <input type="file" id="app_file" class="custom-file-input" #imageInput formControlName="imageUrl"
                                            accept="image/*" multiple (change)="handleUpload($event.target.files,visual.id);">
                                          <label class="custom-file-label" for="front">
                                            <span class="upload-icon"></span>
                                            <span class="cust-upload-txt">
                                              <span class="blue-txt">Choose a file or Drag & Drop</span>
                                            </span>
                                          </label>
                                          <ngx-file-drop dropZoneLabel="Drag Images here" multiple="true"
                                            (onFileDrop)="dropped($event,visual.id)">
                                          </ngx-file-drop>
                                        </div>
                                      </div> -->
                                      <div class="col-md-5" *ngIf="imageFormGroup.controls[i].value.images.length > 0">
                                        <label for="" class="f-12">Uploaded Photo</label>
                                        <div formArrayName="images">
                                          <span *ngFor="let image of imageFormGroup.controls[i].value.images; let j=index"
                                            class="p-relative d-inline-block uploaded-img-bx mr-2">
                                            <ng-container [formGroupName]="j">
                                              <span *ngIf="image.image_category == visual.id">
                                                <img src={{image?.url}} alt="" class="imgHeight">
                                                <span class="primary-checkbox" *ngIf="!image?.is_primary">
                                                  <mat-checkbox formControlName="is_primary"></mat-checkbox>
                                                </span>
                                                <span *ngIf="image.is_primary == true" class="primary-tag">PRIMARY</span>
                                                <!-- <span *ngIf="!image?.is_primary" class="material-icons deleteIcon" (click)="delete(image,i,j)">delete</span> -->
                                                <!-- <span class="material-icons cropIcon" (click)="cropImage(image,visual.id, i,j)"> crop</span> -->
                                              </span>
                                            </ng-container>
                                          </span>
                                        </div>
                                        <!-- <button class="default-btn-outline mt-1" mat-button>Mark as Primary</button> -->
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </mat-tab>
                            </mat-tab-group>
                          </div>
                          <div class="row mt-3" *ngIf="visualVideoData?.length > 0">
                            <div class="col-12">
                              <h3 class="f-20 f-500">You can upload the video of asset</h3>
                              <!-- enter the Video URL or -->
                            </div>
                          </div>
                          <div class="row mt-3" formArrayName="videosData" *ngFor="let video of videosFormGroup.controls; let i=index">
                            <ng-container [formGroupName]="i">
                              <!-- <div class="col-md-4">
                                <label class="form-label f-12 f-384B63" for="">Video Link of Asset</label>
                                <mat-form-field floatLabel="never">
                                  <input matInput placeholder="" type="text" formControlName="videoLink">
                                </mat-form-field>
                              </div> -->
                              <!--  [readonly]="video.get('url').value"
                               [readonly]="video.get('videoLink').value" -->
                              <div class="col-md-4 mini-custom-file" *ngIf="video.get('url').value">
                                <label for="" class="f-12 d-block">{{!video.get('url').value ? 'Upload video' : 'Uploaded Video'}}</label>
                                <div class="custom-file">
                                  <!-- <input type="file" class="custom-file-input" formControlName="videoFile" #videoInput *ngIf="!video.get('url').value"> -->
                                  <label class="custom-file-label custom-file-label2" for="front">
                                    <span class="cust-upload-txt cust-upload-txt2">{{video.get('url').value ? getVideoName(video.get('url').value) : 'Choose a file'}}</span>
                                    <span class="upload-icon2"></span>
                                  </label>
                                </div>
                              </div>
                              <!-- <div class="col-md-4">
                                <button *ngIf="video.get('url').value" class="default-btn-outline mt-4 mr-2" (click)="delete(video.value,i)" mat-button>Remove</button>
                                <button *ngIf="videosFormGroup.controls.length == i + 1" class="default-btn-outline mt-4" (click)="addNewVideo()" mat-button>Add More</button>
                              </div> -->
                            </ng-container>
                          </div>
                          <!-- <div class="row mt-3">
                            <div class="col-6 mb-4">
                              <button mat-button class="default-btn-outline" (click)="back()">Back</button>
                            </div>
                            <div class="col-6 mb-4 text-right">
                              <button mat-button class="default-btn mr-2" type="button" (click)="preview()">Asset Preview</button>
                              <button mat-button class="default-btn" type="submit" (click)="saveData()">Finish</button>
                            </div>
                          </div> -->
                        </section>
                      </form>
                </div>
        </div>
        <div class="text-right dialog-actions-container">
            <button class="default-btn-outline" (click)="backClick()" mat-button>Cancel</button>
        </div>
    </div>
</div>