.remove-btn {
    background: #ff0000;
    color: #fff;
    padding: 5px 11px !important;
    min-width: auto;
    border-radius: 50%;
}
.comsaveandcont-btn {
  display: inline-block;
  padding: 0 0rem 0rem;
}

.lisFile ul li a.file-upload {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  width: 80%;
}
.lisFile ul li a.delet-icon {
  margin-top: 2px;
}
.lisFile{
  top: 29px; left: 16px; height: 38px; width: calc(100% - 32px);
}
.custom-file .cust-upload-txt2 {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-content-wrapper label {color: #77828a; font-weight: 500;}
.delet-icon {
  width: 35px; 
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: #ffefec;
    float: right;
    margin-top: 2px;
}
.category-brand .mat-card {padding: 0px;}
.category-brand {
    border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.myself-details-main-wrapper .main-content-wrapper {padding: 1rem 0rem 0;}
.delet-icon-box {
  position: absolute;
    width: 35px;
    height: 35px;
    background: #ffe9e9;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    top: 2px;
    right: 6px;
}
.main-form-details-container h3.heading {font-size: 20px; margin-bottom: 0px;} 

@media (max-width: 575.98px) { 
     
    .main-form-details-container h3.heading {font-size: 18px; margin-bottom: 10px; margin: 15px ​0px;}
    .add-txt-btn label {display: none !important;}
    .add-txt-btn {text-align: right;}
    .comsaveandcont-btn {display: block;}

    }


    @media screen and (max-width: 992px) and (min-width: 768px) {
        /* .product-wrapper { 
          width: 100%;
          float: none;
          transition: 0.5s;
          margin-top: 80px !important;
        } */
        .lisFile ul li a.file-upload {width: 74%;}
        .progress-block {padding: 0px;} 
        .progress-block .progress-steps-group-block {padding: 0px 10px;}
      } 
      
      
      @media screen and (max-width: 768px) and (min-width: 320px) {
        .product-wrapper {padding: 0px;
          width: 100%;
          margin-bottom: 50px;
          margin-left: auto;
          transition: 0.5s;}
          .product-wrapper .mat-card {padding: 0px;}
          .progress-block {padding: 0px;}
        .progress-block .progress-steps-group-block {padding: 0px 10px;}
        .progress-block .progress-steps-group-block .step-block .step-lbl {white-space: nowrap;}
      }

      .add-txt-btn button{display: inline-block;min-width: inherit!important;}