<div class="main-div product-wrapper">
  <div class="product-wrapper-box p-0">
    <div class="category-brand">
      <mat-card>
        <div class="trade-tab-container">
          <main class="container-fluid">
            <section class="myself-details-main-wrapper banking-main-wrapper">
              <div class="row">
                <div class="col-sm-12 p-0">
                  <app-progress-steps [steps]="steps"></app-progress-steps>
                  <!-- <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block activeline">
              <span class="step-no active">
                <span class="steps">1</span>
              </span>
              <span class="step-lbl">Profile</span>
            </div>
            <div class="step-block activeline">
              <span class="step-no active">
                <span class="steps">2</span>
              </span>
              <span class="step-lbl">Preference</span>
            </div>
            <div class="step-block">
              <span class="step-no active">
                <span class="steps">3</span>
              </span>
              <span class="step-lbl">Banking</span>
            </div>
          </div>
        </div> -->
                </div>
              </div>

              <form [formGroup]='bankingForm'>
                <div class="main-content-wrapper">
                  <fieldset>
                    <div class="main-form-details-container">
                      <div class="row">
                        <div class="col-12 col-sm-12">
                          <h3 class="heading">Corporate Details</h3>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="customer-details-wrapper banking-main-wrapper-prtnet">
                    <h2 class="sub-head">Bank Details <span></span></h2>
                    <!-- <p class="txt-info"><span class="mandatory"></span>If you select a bank name from list, the bank details
            become mandatory.</p> -->
                    <div formArrayName="bankDetailArray" class="p-2">
                      <ng-container
                        *ngFor="let bankObj of bankingForm?.get('bankDetailArray')?.controls; let i = index">
                        <div class="row mb-4" [formGroupName]="i">
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Bank Name <span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                              <mat-select formControlName="bank" placeholder="Select Bank Name">
                                <mat-option *ngFor="let bank of bankList" [value]="bank.id">{{ bank.bank_name }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div *ngIf="bankObj.get('bank')?.touched && bankObj.get('bank')?.invalid ">
                              <span class="validation-err" *ngIf="bankObj.get('bank')?.errors?.required">Please Select
                                Bank</span>
                            </div>
                          </div>

                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Branch <span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" type="text" formControlName="branch" autocomplete="off">
                            </mat-form-field>
                            <div *ngIf="bankObj.get('branch')?.touched && bankObj.get('branch')?.invalid ">
                              <span class="validation-err" *ngIf="bankObj.get('branch')?.errors?.required">Please
                                provide Branch
                                name</span>
                              <span class="validation-err" *ngIf="bankObj.get('branch')?.errors?.maxlength">Characters
                                Exceeded</span>
                            </div>
                          </div>

                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Account Holder's Name <span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" type="text" formControlName="account_holder_name"
                                autocomplete="off">
                            </mat-form-field>
                            <div
                              *ngIf="bankObj.get('account_holder_name')?.touched && bankObj.get('account_holder_name')?.invalid ">
                              <span class="validation-err"
                                *ngIf="bankObj.get('account_holder_name')?.errors?.required">Please
                                provide Account holder name</span>
                              <span class="validation-err"
                                *ngIf="bankObj.get('account_holder_name')?.errors?.maxlength">Characters Exceeded</span>
                            </div>
                          </div>

                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Account Number <span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" type="text" minlength="4" numberonly
                                formControlName="account_number" autocomplete="off">
                            </mat-form-field>
                            <div
                              *ngIf="bankObj.get('account_number')?.touched && bankObj.get('account_number')?.invalid ">
                              <span class="validation-err"
                                *ngIf="bankObj.get('account_number')?.errors?.required">Please provide
                                Account number</span>
                              <span class="validation-err"
                                *ngIf="bankObj.get('account_number')?.errors?.pattern">Characters not
                                allowed</span>
                            </div>
                          </div>

                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">IFSC Code/SWIFT CODE <span class="mandatory"></span> </label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" type="text" formControlName="ifsc_code" autocomplete="off">
                            </mat-form-field>
                            <div *ngIf="bankObj.get('ifsc_code')?.touched && bankObj.get('ifsc_code')?.invalid ">
                              <span class="validation-err" *ngIf="bankObj.get('ifsc_code')?.errors?.required">Please
                                provide
                                IFSC/SWIFt code</span>
                              <span class="validation-err"
                                *ngIf="bankObj.get('ifsc_code')?.errors?.maxlength">Characters
                                Exceeded</span>
                            </div>
                          </div>

                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <div class="account-block">
                              <label for="" class="w-100">Account Type <span class="mandatory"></span></label>
                              <mat-radio-group aria-label="Select an option" formControlName="account_type">
                                <mat-radio-button [checked]="bankObj.get('account_type')?.value==1" value="1">Savings
                                  Account </mat-radio-button>
                                <mat-radio-button [checked]="bankObj.get('account_type')?.value==2" value="2">Current
                                  Account </mat-radio-button>
                              </mat-radio-group>
                              <div
                                *ngIf="bankObj.get('account_type')?.touched && bankObj.get('account_type')?.invalid ">
                                <span class="validation-err"
                                  *ngIf="bankObj.get('account_type')?.errors?.required">Please select
                                  Account type</span>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                            <label for="" class="f-12 d-block">Upload Document</label>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" (change)="uploadCheque($event,i,bankObj)">
                              <label class="custom-file-label custom-file-label2" for="front"><span
                                  class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                  class="upload-icon2"></span></label>
                            </div>
                            <div class="lisFile" *ngIf="bankObj.controls.cancelled_cheque.value">
                              <ul class="selectedFile m-0">
                                <li>
                                  <a class="file-upload" href="{{documentName[i]?.url}}"
                                    target="_blank">{{bankObj.controls.cancelled_cheque.value ?
                                    bankObj.controls.cancelled_cheque.value.substr(bankObj.controls.cancelled_cheque.value.lastIndexOf("/")+
                                    1) : 'Choose a file'}}</a>
                                  <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                  <a class="delet-icon" *ngIf="bankObj.controls.cancelled_cheque.value"
                                    (click)="deleteCheque(bankObj.controls.cancelled_cheque.value,bankObj,i)">
                                    <img src="../../../assets/images/Delete_icon.svg" />
                                  </a>
                                </li>

                              </ul>
                            </div>
                            <div
                              *ngIf="bankObj.get('cancelled_cheque')?.touched && bankObj.get('cancelled_cheque')?.invalid  ">
                              <span class="validation-err"
                                *ngIf="bankObj.get('cancelled_cheque')?.errors?.required">Please upload
                                cancelled cheque</span>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mini-custom-file">
                            <label for="" class="f-12 d-block">.</label>

                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 text-right">
                            <div class="add-txt-btn">
                              <label class="d-block invisible">btn</label>
                              <button mat-flat-button class="default-btn-outline mr-2"
                                *ngIf="i != 0 || (i==0 && bankingForm?.get('bankDetailArray')?.controls.length>1)"
                                (click)="removeBankFormGroup(i)"> Remove
                              </button>
                              <button class="default-btn" mat-flat-button (click)="addBankFormGroup()"
                                *ngIf="i == 0 && bankingForm?.get('bankDetailArray')?.controls.length <= 1">
                                Add Another Bank
                              </button>
                              <button class="default-btn" mat-flat-button (click)="addBankFormGroup()"
                                *ngIf="i != 0 && i == bankingForm?.get('bankDetailArray')?.controls.length-1">
                                Add Another Bank
                              </button>
                            </div>
                          </div>
                          <div class="col-12 text-right">
                            <!-- <button mat-flat-button class="remove-btn" (click)="removeBankFormGroup(i)"> <span class="material-icons" >remove</span></button> -->

                          </div>

                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row mb-3 mx-0">
                  <!-- <div class="col-md-6 col-12">
          
        </div> -->
                  <div class="col-md-12 col-12 mt-md-0 mt-1 text-right p-0">
                    <div class="comback-btn">
                      <!-- <button mat-flat-button>Back</button> -->
                    </div>
                    <div class="comsaveandcont-btn">
                      <button mat-flat-button [disabled]="bankingForm.invalid" (click)="saveBankDetailsfn()">Save &
                        Continue</button>
                    </div>
                  </div>
                </div>

              </form>
            </section>

          </main>
        </div>
      </mat-card>
    </div>
  </div>
</div>