    <div class="left-side-container">
      <div class="welcome-box">
        <h2 class="sub-header">Welcome to iQuippo</h2>
        <p class="sub-header-text">India’s leading marketplace for end-to-end asset
          lifecycle management</p>
        <ul class="tracker-list d-xs-none">
          <li>95,000+ Registered Customers</li>
          <li>Track Ongoing & Upcoming Auctions</li>
          <li>Get Updated on financing Offers</li>
        </ul>
        <ul class="list-details d-xs-none">
          <li>buy</li>
          <li>sell</li>
          <li>rent</li>
          <li>finance</li>
          <li>valuation</li>
        </ul>
      </div>
    </div>
