<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0"> Generate Insta Valuation Report</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body valuation-report">
<form [formGroup] = 'newForm' class="make-call-popup">
    <div class="row valuation-report-box">
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Unique Control Number</label>
            <p>{{this.reportdata.ucn}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Category</label>
            <p>{{this.reportdata.category}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Brand</label>
            <p>{{this.reportdata.brand}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Model</label>
            <p>{{this.reportdata.model}}</p>
        </div>
        <div class = 'form-group col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Manufacturing Year</label>
            <p>{{this.reportdata.mfg_year}}</p>
        </div>
        <div class = 'form-group  col-sm-12 col-md-6 col-lg-6 col-12'>
            <label class="d-block f-14 weight-600">Invoice Availability</label>
            <p>{{this.reportdata.is_original_invoice? "Yes":"No"}}</p>
        </div>
        
        <div class="form-group  col-sm-12 col-md-6 col-lg-6 col-12">
            <label class="d-block f-14 weight-600">Registration status</label>
            <p>{{this.reportdata.is_equipment_registered  ? "Registered":"Not Registered"}}</p>
        </div>
        <div class="form-group  col-sm-12 col-md-6 col-lg-6 col-12" *ngIf="this.reportdata.reg_number">
            <label class="d-block f-14 weight-600">Registration Number</label>
            <p>{{this.reportdata.reg_number}}</p>
        </div>
        <div class="form-group  col-sm-12 col-md-6 col-lg-6 col-12">
            <label class="d-block f-14 weight-600">Is Equipment Accidentally Damaged?</label>
            <p>{{this.reportdata.is_equipment_accidentally_damaged ? "Yes":"No"}}</p>
        </div>
        <div class="form-group  col-sm-12 col-md-6 col-lg-6 col-12">
            <label class="d-block f-14 weight-600">Asset Condition</label>
            <p>{{getAssetCondition(this.reportdata.asset_condition)}}</p>
        </div>
        
        <div class="col-sm-12">
            
    </div>
    
    </div>

    <div class="row">
       
            <div class="form-group  col-sm-12 col-md-12 col-lg-12 col-12 m-0">
                <label class="d-block f-14 weight-600">Evaluation Amount 
                    <div class="info-tooltip">i
                        <span class="info-tooltip-text info-tooltip-top">Please enter the valuation amount in range(Min - Max)</span>
                      </div>
                </label>
            </div>
            <div class="form-group  col-sm-4 col-md-4 col-lg-4 col-12">
                <mat-form-field floatLabel= "never">
                    <input matInput placeholder="Estimated Min Value" autocomplete="off" formControlName="valuation_min_amount" maxlength="10"/>
                    <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <div
                        *ngIf="checkMinValue()">
                        <span class="validation-err">Please enter Estimated Min value less than Estimated Max Value</span>
                    </div>
                </div>
                <div class="form-group  col-sm-4 col-md-4 col-lg-4 col-12">
                <mat-form-field floatLabel= "never">
                    <input matInput placeholder="Estimated Max Value" autocomplete="off" formControlName="valuation_max_amount" maxlength="10"/>
                    <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
                </div>
                <div class="form-group  col-sm-4 col-md-4 col-lg-4 col-12">
                <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" formControlName="range" placeholder="Denomination">
                    <mat-option value="100">hundreds</mat-option>
                    <mat-option value="1000">thousands</mat-option>
                    <mat-option value="100000">lakhs</mat-option>
                    </mat-select>
                    </mat-form-field>
                    </div>
                
            
            <div class="form-group  col-sm-12 col-md-6 col-lg-6 col-12 getwords">
                {{getwords()}}
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">          
                <button mat-dialog-close='false' class="default-btn-outline mr-3 px-5" tabindex="-1">Cancel</button>
                <button mat-dialog-close='true' [disabled] = "!newForm.valid || checkMinValue()" class="default-btn px-5" mat-button (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</form>
</div>
</div>