.weight-600{
    font-weight:600;
}

.valuation-report{height:85vh;}

/* Tooltip css starts */
.info-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: 7px;
    font-style: italic;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 2px 6px;
    width: 18px;
    height: 18px;
    line-height: 14px;
    font-weight:600;
}
  
.info-tooltip .info-tooltip-text {
    visibility: hidden;
    font-weight: normal;
    background-color: #094fa3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
}

.info-tooltip .info-tooltip-top{
    width: 160px;
    bottom: 148%;
    left: 50%;
    margin-left: -60px; 
}

.info-tooltip .info-tooltip-text:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 38%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.info-tooltip:hover{
    cursor: pointer;
} 
.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
    cursor: pointer;
}
/* Tooltip css ends */

.valuation-report-box .form-group.col-sm-12.col-md-6.col-lg-6.col-12 {
    border: 1px solid #eee;
    margin-bottom: 1em;padding-top: 0.5em;
}
.valuation-report-box {
    margin: 0px;
}
.getwords{justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 40px;}