/* table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eff0f2;
    margin: 10px 0 30px;
    overflow: hidden;
    @media only screen and (max-width:991px){
        min-width: 1000px;
    }
        
    }
    table th {
        background: #eff0f2;
        font-size: 13px;
        padding: 13px 10px;
        text-align: left;
    }
    tbody
        tr
            td {
                font-size: 13px;
                color: #3c3c3c;
                padding: 15px 10px;
                border-bottom: 1px solid #eff0f2;
            }
        
            tbody tr:last-child
            td {
                border-bottom: 0;
            }

.custom-table-main {width:80% !important;float: right;}
.custom-table-main table{border-radius: 0px;margin-top:0px}
.custom-table-main table th{background: #0d4fa3; color: #fff;font-weight: 500;}
.custom-table-main table tr td{border-bottom:1px #eff0f2 solid;}
.custom-table-main table th, .custom-table-main table td{font-size: 15px !important;}
.excel-export-section {
    background: #fafafa;
    padding: 10px;
    border: 1px #eff0fc solid;
    border-bottom: 0px;
}
.excel-export-section button {
    background: #009a2c;
    border-radius: 0px;
    color: #fff;
}
.user-management-heading, .add-user{display: inline-block;}
.add-user{text-align: right;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-management {
    padding-bottom: 30px;
}
.custom-mat-table th, .custom-mat-table td {
    text-align: left !important;
    padding-left: 10px !important;
    padding-right: 10px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 50%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
}
.custom-file {
    height: 46px;
}
.custom-file .custom-file-label {
    padding: 0;
    margin-bottom: 0;
}
.custom-file .upload-icon {
    width: 34px;
    height: 42px;
}
.custom-file .custom-file-label {
    line-height: 1;
} */


.model-heading {
    padding: 15px;
    background-color: #0f3d94;
    position: relative;
    margin-bottom:0px;
}
.model-form-body table {width: 100%;}
.modal-popup .close-btn {
    background: #fff;
    float: right;
    border: none;
    min-width: auto;
    margin-top: -2px;
    padding: 4px 15px;
    border-radius: 4px;
}
.model-form-footer {padding: 15px;}
.model-form-body table {width: 100%;border-radius: 10px;
    border: 1px solid #e0e4e8;}
.model-form-body table tr th, .model-form-body table tr td {
    font-size: 12px;
    border: 1px solid #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}
.model-form-body table tr th:first-child, .model-form-body table tr td:first-child {
    border-top: 0px;
}
.add-certificate-section .mat-checkbox-frame {border-width: 1px;}
.model-form-body table tr:nth-child(even) {
    background-color: #f8fbfd;
}
.model-heading h3 {font-size: 18px; display: inline-block; vertical-align: middle; color: #fff; font-weight: 500;}
.model-form-body {
    padding: 15px;
    background: #fff;
    height: 85vh;
}
.model-form-body .table-responsive {height: 100%;}
.upload-record {
    padding: 5px 10px;
    border: 1px solid #e0e4e8;
    border-radius: 6px;
    background: #f5f8fa;
}
.upload-record .delet-icon {
    display: inline-block;
    width: 35px;
    min-width: inherit; 
    margin-left: 10px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0px;
    border-radius: 50%;
    background-color: #ffefec; cursor: pointer;;
}

.main-heading {font-size: 32px; font-weight: 700;}

.mat-card {padding: 0px;}
.sub-title {font-size: 16px;}
.add-certificate-section label {color: #77828a; font-weight: 600;}
.upload-input .custom-file {position: relative; height: 46px;}
.upload-input .custom-file-input {position: absolute; height: 46px; cursor: pointer;}
.upload-input .custom-file-label {padding: 0px; position: relative; width: 100%; height: 46px; margin-bottom: 0px; line-height: 46px;}
.upload-input .custom-file .upload-icon {position: absolute; top: 7px; right: 10px; background-size: cover; width: 30px; height: 30px;}
.upload-input .custom-file .cust-upload-txt {position: absolute; top: 0px; left: 10px;}
.upload-input .custom-file .cust-upload-txt .blue-txt {text-decoration: none;}
.custom-file {height: auto;}
.save-btn button {padding: 0px 50px;}
.save-btn {text-align: right;} 
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td button.simple-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 34px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.simple-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.simple-btn span {font-size: 18px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.simple-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;} 
.asset-table table tr:hover {background-color: #f8fbfd;}
.asset-table .inner-table {border-radius: 10px;}
.default-tbl {border: 1px solid #e0e4e8; overflow: auto;}
.default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e4e8;}
.default-tbl mat-cell, .default-tbl .mat-cell {color: #333; opacity: 0.87; white-space: nowrap; height: 42px; padding: 15px 21px;}
.default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
.default-tbl mat-header-cell, .default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.product-group-btn .add-new-group i {font-size: 0px;} 
.default-tbl mat-row:hover {background-color: #f8fbfd;}
.asset-table .table-hover tbody tr:hover {background-color: #f8fbfd;}
.e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-detailrowcollapse, 
.e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {border-color: #e0e4e8;}
.asset-table .default-tbl .mat-row:nth-child(odd) {
    background-color: #f8fbfd;
}
.asset-table .default-tbl .mat-cell .mat-button {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px;
    text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table .default-tbl .mat-cell .mat-button.delet-icon {background-color: #ffefec;}
.export-btn {background: #00a767; padding: 2px 20px; border: 0px;}
.selectedFile{
    list-style: none;margin:10px 0px;border: none;background: #D8E9FF;
padding:5px;
}
.sub-title h4 {font-size: 16px;}
.selectedFile li{display:flex;justify-content: space-between;}
mat-radio-button {width: 50%;}
.selectedFile i{color: red;
    line-height: 30px;
    margin-right: 10px;} 
.datepicker-input .calender-icon {
        position: absolute;
        top: -35px;
        right: 10px;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {padding: 0px;}


    .imgFile {
        width: calc(100% - 35px);
        position: absolute;
        top: 27px;
        z-index: 9;
        left: 16px;
        border-radius: 4px;
        height: 43px;
        background: #f5f8fa;
       }
       .imgFile ul li {list-style: none;}
      .imgFile ul li a.file-upload {font-size: 14px;
        white-space: nowrap;
        padding-top: 0px;
        width: 88%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #0d4fa3; vertical-align: middle;
        font-weight: 500;}
      .imgFile ul.selectedFile {background: #f5f8fa;
        padding-left: 15px;
        margin-bottom: 0px;
        margin-top: 0px;}
        .imgFile ul li a {padding-top: 5px; color: #0f3d94;}
        .imgFile ul li span.delet-icon {    width: 34px;
        height: 34px;
        cursor: pointer;
        background: #dee5ea;
        margin-top: 0px; 
        text-align: center;
        line-height: 34px;
        border-radius: 50%; vertical-align: middle; cursor: pointer;}
       
 .imgHeight{
    height: 80px;
      border-radius: 6px;
      padding: 4px;
      border: 1px solid #d2d4d6;  
      width: 102px;
  }
        .custom-file {height: 46px;}
        .edit-upload-img {position: relative;}
        .edit-upload-img .delet-icon img {width: 12px;}
        .edit-upload-img .delet-icon{
          position: absolute;
          left: 70px;
          top: 10px;
          background: #fff;
          width: 24px;
          border-radius: 50%;
          height: 24px;
          text-align: center;
          line-height: 24px;
        }

        .add-new-field{
            border: 1px solid #c4cfd8;
            border-radius: 6px;
        }
        .add-new-field h4.title {
            font-size: 14px;
            color: #fff;
            background-color: #0f3d94;
            padding: 10px;
            border-radius: 6px 6px 0 0;
        }
        .add-certificate-section, 
        /* .upload-record {padding: 10px;} */
        .upload-record {
            padding: 10px;
            max-width: 97% !important;
            margin: 0 auto;
            display: block;
        }
       



    @media screen and (max-width: 992px) and (min-width: 768px) {

  
}

@media screen and (max-width: 767px) {


    .product-group-btn .add-new-group {font-size: 0px; vertical-align: middle;}
    .product-group-btn .add-new-group i {font-size: 18px; padding-right: 0px !important;}
    .product-group-btn .export-btn {font-size: 0px; vertical-align: middle;}
    .product-group-btn .export-btn i {font-size: 18px; padding-right: 0px !important;}

   
    .main-heading {font-size: 24px; margin-bottom: 15px;}
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}
    .save-btn button {padding: 5px 35px; margin-bottom: 10px;}
    .used-upload-section .title {font-size: 20px;}
    .add-user button {height: 36px;}
}


/* .imgFile {
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: 4px;
    height: 45px;
    background: #f5f8fa;
 }

 .imgHeight{
  height: 80px;
} */

.mat-icon-close{
    color: #e61818;
    vertical-align: -6px;
}

.type-margin{
    margin-top: 5px;
}


