<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Master Data</li> -->
                    <li class="breadcrumb-item active" aria-current="page">{{breadCrumText}}</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-12">
                    <h3 class="admin-page-title">Master Data</h3>
                </div>
            </div>
            <div class="custom-table-main">

                <div class="user-management">
                    <!-- (selectedTabChange)="onTabChange()" -->
                    <mat-tab-group (selectedTabChange)="onTabChange($event)">
                        <mat-tab label="Product Group">
                            <div class="row">
                                <div class="col-sm-6  mb-3 sub-title">
                                </div>

                            </div>

                            <div class="add-new-field mb-3" *ngIf="isShowGroupForm">
                                <h4 class="title">Add/Update Group</h4>
                                <div class="add-certificate-section">
                                    <legend></legend>
                                    <form [formGroup]="addNewGroupForm" (ngSubmit)="saveData('Group')">
                                        <div class="row">
                                            <div class="form-group col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Group Name <span
                                                    class="text-warning">*</span></label>
                                                <input matInput id="groupName" formControlName="groupName" placeholder="Enter Group Name">
                                            </div>
                                            <div class="form-group col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Group Description</label>
                                                <input matInput id="groupDesc" formControlName="groupDesc" placeholder="Enter Group Description">
                                            </div>
                                            <div class=" col-md-6 col-lg-4 form-group">
                                                <label class="f-12 d-block">Equipment Type <span
                                                    class="text-warning">*</span></label>
                                                <mat-checkbox class="mr-3 mt-2" formControlName="usedEquipment">Used Equipment
                                                </mat-checkbox>
                                                <mat-checkbox class="mt-2" formControlName="newEquipment">New Equipment
                                                </mat-checkbox>
                                            </div>
                                            <!-- <div class="col-sm-2 form-group text-center align-items-center">
                                <label class="invisible f-12 d-block">Equipment Type</label>
                                
                            </div> -->
                                            <div class="form-group upload-input col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Upload Image</label>
                                                <!-- <span class="btn fileinput-button">
                    <span>Browse image...</span>
                    <input type="file" accept="image/*"  file="" class="">
                </span> -->
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="fileInputGroupImg" #fileInputGroupImg (change)="getFileName('fileInputGroupImg')">
                                                    <label class="custom-file-label" (click)="fileInputGroupImg.click()"><span
                                                        class="upload-icon2"></span>
                                                    <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                            file</span></span></label>
                                                </div>
                                                <div class="imgFile" *ngIf="groupImageName">
                                                    <ul class="selectedFile">
                                                        <li>
                                                            <a href="javascript:void(0)" target="_blank">{{groupImageName}}</a>
                                                            <span class="delet-icon" (click)="resetFile('fileInputGroupImg')">
                                                            <img src="../../../assets/images/Delete_icon.svg">
                                                        </span>
                                                            <!-- <i class="fa fa-times" aria-hidden="true"
                                                        (click)="resetFile('fileInputGroupImg')"></i> -->
                                                        </li>

                                                    </ul>
                                                </div>

                                                <div class=" col-md-6 col-lg-4" *ngIf="groupImageUrl">
                                                    <div class="edit-upload-img">
                                                        <span>
                                                        <img src={{groupImageUrl}} alt="" class="imgHeight">
                                                        <span class="delet-icon"
                                                            (click)="deleteImage(groupImageUrl, 'GroupImage')">
                                                            <img src="../../../assets/images/Delete_icon.svg">
                                                        </span>
                                                        <!-- <span class="material-icons deleteIcon"
                                                    (click)="deleteImage(groupImageUrl, 'GroupImage')">delete</span> -->
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- <span class="ng-binding"></span> -->
                                            </div>
                                            <!-- <div class="col-sm-4 form-group">
                                        <label class="f-12 d-block">Priority for Used</label>
                                        <input matInput formControlName="usedPriority" type="number"
                                            placeholder="Enter Priority for Used">
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label class="f-12 d-block">Priority for New</label>
                                        <input matInput formControlName="newPriority" type="number"
                                            placeholder="Enter Priority for New">
                                    </div> -->
                                            <div class=" col-md-6 col-lg-4 ">
                                                <!-- <label class="invisible">Action</label> -->
                                                <div class="checkbox">
                                                    <label class="d-block invisible">add information</label>
                                                    <mat-checkbox class="pt-2" formControlName="seoInfo" (change)="onCheckBoxChange($event.checked,'Group')">Add SEO Information
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <!--SEO Group-->
                                        <div class="ng-scope">
                                            <div class="" *ngIf="masterDataModel.addSEOInfoGroup">
                                                <div class="row">
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Title For Group</label>
                                                        <input matInput id="gSeoTitle" formControlName="gSeoTitle" placeholder="Enter SEO Title For Group">
                                                    </div>
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Meta Keywords For Group</label>
                                                        <input matInput id="gSeoMetaKey" formControlName="gSeoMetaKey" placeholder="Enter SEO Meta Keywords For Group">
                                                    </div>
                                                    <div class="form-group mb-3 col-md-6 col-lg-4">
                                                        <label class="f-12 d-block">SEO Meta Description For Group</label>
                                                        <textarea matInput id="gSeoMetaDes" formControlName="gSeoMetaDes" placeholder="Enter SEO Meta Description For Group"> </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ng-scope">
                                            <div class="col-md-12">
                                                <div class="save-btn">
                                                    <button mat-button [disabled]="!addNewGroupForm.valid" class="default-btn">{{masterDataModel.actionNameGroup}}</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end ngIf: g.seoContent.p || g.seoContent.title || g.seoContent.metaKey || g.seoContent.metaDes -->
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="search-input">
                                        <div class="row">
                                            <div class="col-md-5 col-lg-4 mb-3">
                                                <mat-form-field floatLabel="never">
                                                    <mat-label>Search</mat-label>
                                                    <input matInput placeholder="Enter Search Group" (keyup)="search($event,$event.target.value,'Group')" (blur)="searchOnBlur($event.target.value,'Group')" autocomplete="off" type="text" class="">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-7 product-group-btn col-lg-8 mb-3 text-right">
                                                <button mat-button class="default-btn add-new-group mr-3" *ngIf="!isShowGroupForm" (click)="AddForm('Group')"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                                                <button class="theme-btn export-btn">
                                                <span class="fileinput-button">
                                                    <span (click)="exportData('Group')"><i
                                                            class="fa fa-file-excel-o pr-2  fa-lg"
                                                            aria-hidden="true"></i>
                                                        Export</span>
                                                </span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="asset-table">
                                    <div class="table-responsive inner-table mb-3">
                                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="masterDataModel.groupDetailList" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn('Group', $event)">
                                            <!-- <mat-table [dataSource]="masterDataModel.groupDetailList" class="default-tbl"> -->
                                            <!-- <ng-container matColumnDef="Images">
                                <mat-header-cell *matHeaderCellDef> Images </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <img [src]="element.image_url|| 'assets/images/eqpmnt-img-2.png'" alt="Image">
                                </mat-cell>
                            </ng-container> -->

                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Group ID </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Group ID</span> {{ element.id }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Group </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Product Group</span> {{ element.name }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="description">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Description</span> {{ element.description }} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Actions" stickyEnd>
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let element; let i = index">
                                                    <span class="mobile-label">Actions</span>
                                                    <div>
                                                        <button class="simple-btn " mat-button (click)="action('Edit',element.id,'Group')"><span><img
                                                                src="../../../assets/images/editicon.svg"></span></button>
                                                        <button mat-button class="simple-btn delet-icon" (click)="action('Delete',element.id,'Group')"><span><img
                                                                src="../../../assets/images/Delete_icon.svg"></span></button>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="tblGroupColums"></tr>
                                            <tr mat-row *matRowDef="let row; columns: tblGroupColums"></tr>
                                            <!-- </mat-table> -->
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator #groupPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
                                </mat-paginator>
                            </div>
                        </mat-tab>
                        <mat-tab label="Product Category Mapping">
                            <div class="row">
                                <div class="col-sm-6 mb-3 sub-title">
                                </div>

                            </div>

                            <div class="add-new-field mb-3" *ngIf="isShowCategoryForm">
                                <h4 class="title">Add/Update Category Mapping</h4>
                                <div class="add-certificate-section">
                                    <form [formGroup]="addNewCategoryForm" (ngSubmit)="saveData('Category')">
                                        <div class="row">
                                            <div class="form-group col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Select Group <span
                                                    class="text-warning">*</span></label>
                                                <!-- <mat-select placeholder="--Select--" required formControlName="groupList">
                                            <mat-option *ngFor="let group of masterDataModel.groupMasterList"
                                                [value]="group.id">
                                                {{group.name}}
                                            </mat-option>
                                        </mat-select> -->

                                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                    <input matInput [matAutocomplete]="auto6" placeholder="Select group" type="text" (keyup)="filterValuesGroup($event)" formControlName="groupList" maxlength="256">
                                                    <mat-autocomplete #auto6="matAutocomplete" (optionSelected)="onGroupProductMapping($event)">
                                                        <mat-option *ngFor="let group of masterDataModel.groupMasterList" [value]="group.name">
                                                            {{group.name}}</mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>


                                            </div>

                                            <div class="form-group col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Category Name <span
                                                    class="text-warning">*</span></label>
                                                <!-- allCategoryMaster -->
                                                <!-- <mat-select placeholder="--Select--" required formControlName="categoryName">
                                    <mat-option *ngFor="let category of masterDataModel.categoryMasterList" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select> -->
                                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                    <input matInput [matAutocomplete]="auto" placeholder="Enter Category name" type="text" (keyup)="filterValuesCategory($event, 'CatMap')" formControlName='categoryName' maxlength="256">
                                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategoryProductMapping($event)">
                                                        <mat-option *ngFor="let category of categoryList" [value]="category.display_name">{{category.display_name}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>

                                            </div>

                                            <div class=" col-md-6 col-lg-4 form-group">
                                                <label class="f-12 d-block">Equipment Type <span
                                                    class="text-warning">*</span></label>
                                                <div class="checkbox">
                                                    <mat-checkbox class="mt-2 mr-3" formControlName="categoryUsedEquip" (change)="onCheckBoxChange($event.checked,'ValuationPartnerGroupID')">
                                                        Used Equipment</mat-checkbox>
                                                    <mat-checkbox formControlName="categoryNewEquip">New Equipment
                                                    </mat-checkbox>
                                                </div>

                                            </div>
                                            <!-- <div class="col-sm-2 form-group text-center ">
                                        <label class="invisible">Equipment Type</label>
                                    </div> -->
                                            <div *ngIf="isValuationPartnerGrpIdVisible || 
                                    (masterDataModel && masterDataModel.addCategoryMappingResponse && masterDataModel.addCategoryMappingResponse.is_used)" class="form-group  col-md-6 col-lg-4">
                                                <label class="f-12 d-block">Valuation Partner Group ID</label>
                                                <input type="number" min="1" max="14" matInput formControlName="valuationPartnerGrpId" placeholder="Enter Valuation Partner Group ID">
                                            </div>

                                            <!-- <div class="form-group col-sm-4 upload-input mb-3">
                                <label class="f-12 d-block">Upload Image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" #fileInputCategoryMap>
                                    <label class="custom-file-label"><span class="upload-icon2"></span>
                                    <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                            file</span></span></label>
                                </div>
                            </div> -->
                                            <div class="col-sm-12 mb-3">
                                                <div class="checkbox mt-md-3">
                                                    <mat-checkbox class="mt-3 mr-3" formControlName="seo_info_cat" (change)="onCheckBoxChange($event.checked,'Category')">Add SEO Information
                                                    </mat-checkbox>
                                                    <!-- <mat-checkbox formControlName="tcs_calculate">Calculate TCS</mat-checkbox> -->
                                                </div>
                                            </div>
                                        </div>

                                        <!--SEO Category-->
                                        <div class="ng-scope">
                                            <div class="" *ngIf="masterDataModel.addSEOInfoCatMap">
                                                <div class="row">
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Title For Category</label>
                                                        <input matInput id="cSeoTitle" formControlName="cSeoTitle" class="form-control" placeholder="Enter SEO Title For Category">
                                                    </div>
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Meta Keywords For Category</label>
                                                        <input matInput id="cSeoMetaKey" formControlName="cSeoMetaKey" class="form-control" placeholder="Enter SEO Meta Keywords For Category">
                                                    </div>
                                                    <div class="form-group mb-3 col-md-6 col-lg-4">
                                                        <label class="f-12 d-block">SEO Meta Description For
                                                        Category</label>
                                                        <textarea matInput id="cSeoMetaDes" class="form-control" formControlName="cSeoMetaDes" placeholder="Enter SEO Meta Description For Category"> </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row ng-scope mb-3">
                                            <div class="col-md-12">
                                                <div class="save-btn">
                                                    <button mat-button class="default-btn" [disabled]="!addNewCategoryForm.valid" type="submit">{{masterDataModel.actionNameCategoryMapping}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="search-input">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-4 mb-3 order-md-1">
                                            <mat-form-field floatLabel="never">
                                                <mat-label>Search</mat-label>
                                                <input matInput placeholder="Search Category" (keyup)="search($event,$event.target.value,'Category')" (blur)="searchOnBlur($event.target.value,'Category')" autocomplete="off" type="text" class="">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 col-lg-5 order-md-3">
                                            <div class="checkbox mb-3 mt-2">
                                                <mat-checkbox (change)="onCheckboxSearch($event.checked,'UsedEquipment')">
                                                    Used Equipment
                                                </mat-checkbox> &nbsp; &nbsp;
                                                <mat-checkbox (change)="onCheckboxSearch($event.checked, 'NewEquipment')">
                                                    New Equipment
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-lg-4 order-md-2 product-group-btn mb-3 text-right">
                                            <button mat-button class="default-btn add-new-group plr-md-40 mr-3" *ngIf="!isShowCategoryForm" (click)="AddForm('Category')"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                                            <button class="theme-btn export-btn">
                                            <span class="fileinput-button">
                                                <span (click)="exportData('Category')"><i
                                                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>
                                                    Export</span>
                                            </span>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="asset-table">
                                    <div class="table-responsive inner-table mb-3">
                                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="masterDataModel.categoryMappingDetailList" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn('Category', $event)">
                                            <!-- <mat-table [dataSource]="masterDataModel.categoryMappingDetailList" class="default-tbl"> -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">ID</span> {{ element.id }} </td>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Image">
                                <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                                <mat-cell *matCellDef="let element"> <img src="{{ element.image_url }}" alt="Image">
                                </mat-cell>
                            </ng-container> -->

                                            <ng-container matColumnDef="category__display_name">
                                                <th *matHeaderCellDef mat-sort-header> Product Category </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Product Category</span> {{ element.category.display_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="is_used">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Type </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Equipment Type</span> {{ (element.is_used ? 'For Used ' : '')+ ((element.is_used && element.is_new) ? ' & ' : '')+ (element.is_new ? ' For New' : '') }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="group__name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Group </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Product Group</span> {{ element.group.name }} </td>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Top Banner Uploaded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Top Banner Uploaded </th>
                                <td mat-cell *matCellDef="let element"> {{ element.top_banner_image }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Left Banner Uploaded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Left Banner Uploaded </th>
                                <td mat-cell *matCellDef="let element"> {{ element.left_banner_image }} </td>
                            </ng-container> -->

                                            <ng-container matColumnDef="category__status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Status</span> Active </td>
                                            </ng-container>

                                            <ng-container matColumnDef="Actions">
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let element; let i = index">
                                                    <span class="mobile-label">Actions</span>
                                                    <div>
                                                        <button class="simple-btn" mat-button (click)="action('Edit',element.id,'Category')"><span><img
                                                                src="../../../assets/images/editicon.svg"></span></button>
                                                        <button class="simple-btn delet-icon" mat-button (click)="action('Delete',element.id,'Category')"><span
                                                            class="mat-button-wrapper"><span><img
                                                                    src="../../../assets/images/Delete_icon.svg"></span></span></button>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="tblCategoryMappingColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: tblCategoryMappingColumns"></tr>
                                            <!-- </mat-table> -->
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator #categoryMappingPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
                                </mat-paginator>
                            </div>
                        </mat-tab>

                        <mat-tab label="Brand Mapping">
                            <div class="row">
                                <!-- <div class="col-sm-6 sub-title">
                                <h4>Add/Update Brand</h4>
                            </div> -->

                            </div>

                            <div class="add-new-field mb-3" *ngIf="isShowBrandForm">
                                <h4 class="title">Add/Update Brand</h4>
                                <div class="add-certificate-section">
                                    <form [formGroup]="addNewBrandForm" (ngSubmit)="saveData('Brand')">
                                        <div class="row">
                                            <div class="form-group col-md-6 col-lg-4 mb-3">
                                                <label class="f-12 d-block">Select Group <span
                                                    class="text-warning">*</span></label>
                                                <!-- <mat-select placeholder="--Select--" required
                                            (selectionChange)="loadCategoryByGroup($event.value)"
                                            formControlName="brandGroupName">
                                            <mat-option *ngFor="let group of masterDataModel.groupMasterList"
                                                [value]="group.id">
                                                {{group.name}}
                                            </mat-option>
                                        </mat-select> -->

                                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                    <input matInput [matAutocomplete]="auto7" placeholder="Select Group" type="text" (keyup)="filterValuesGroup($event)" formControlName="brandGroupName" maxlength="256">
                                                    <mat-autocomplete #auto7="matAutocomplete" (optionSelected)="onBrandMappingGroup($event);loadCategoryByGroup($event, 'BrandCategory')">
                                                        <mat-option *ngFor="let group of masterDataModel.groupMasterList" [value]="group.name">
                                                            {{group.name}}</mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>

                                            </div>
                                            <div class="form-group col-md-6 col-lg-4  mb-3">
                                                <label class="f-12 d-block">Select Category <span
                                                    class="text-warning">*</span></label>
                                                <!-- <mat-select placeholder="--Select--" required formControlName="brandCategoryName">
                                    <mat-option *ngFor="let category of masterDataModel.categoryMasterList" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select> -->
                                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                    <input matInput [matAutocomplete]="auto1" placeholder="Select Category" type="text" (keyup)="filterValuesCategory($event , 'BrandMap')" [(ngModel)]="brandCategoryName" formControlName='brandCategoryName' maxlength="256">
                                                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onBrandMappingCategory($event)">
                                                        <mat-option *ngFor="let category of brandCategories" [value]="category.display_name">
                                                            {{category.display_name}}</mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class=" col-md-6 col-lg-4 form-group mb-3">
                                                <label class="f-12 d-block">Equipment Type <span
                                                    class="text-warning">*</span></label>
                                                <div class="mt-2">
                                                    <mat-checkbox class="mr-3" formControlName="brandUsedEquip">Used Equipment
                                                    </mat-checkbox>
                                                    <mat-checkbox formControlName="brandNewEquip">New Equipment
                                                    </mat-checkbox>
                                                </div>
                                            </div>

                                            <!-- ngIf: b.isForNew -->
                                            <div class="form-group col-md-6 col-lg-4 mb-3">
                                                <label class="f-12 d-block">Brand Name
                                                <span class="text-warning">*</span>
                                            </label>
                                                <!-- allCategoryMaster -->
                                                <!-- <mat-select placeholder="--Select--" required formControlName="brandName">
                                    <mat-option *ngFor="let brand of masterDataModel.brandMasterList" [value]="brand.id">
                                        {{brand.name}}
                                    </mat-option>
                                </mat-select> -->
                                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                    <input matInput [matAutocomplete]="auto4" placeholder="Enter Brand Name" type="text" (keyup)="filterValuesBrand($event, 'Brand')" formControlName='brandName' maxlength="256">
                                                    <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="onBrandMappingBrand($event)">
                                                        <mat-option *ngFor="let brand of brandList" [value]="brand.display_name">
                                                            {{brand.display_name}}</mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col-sm-4 form-group mb-3">
                                        <label class="f-12 d-block">Priority for Used</label>
                                        <input matInput type="number" formControlName="usedPriority"
                                            class="form-control" placeholder="Enter Priority for Used">
                                    </div>
                                    
                                    <div class="col-sm-4 form-group mb-3">
                                        <label class="f-12 d-block">Priority for New</label>
                                        <input matInput type="number" formControlName="newPriority" class="form-control"
                                            placeholder="Enter Priority for New">
                                    </div> -->
                                            <!-- <div class="form-group upload-input col-sm-4 mb-3">
                                <label class="f-12 d-block">Upload Brand Logo</label> -->
                                            <!-- <span class="btn btn-warning fileinput-button">
                                    <span>Browse Brand Logo</span>
                                    <input type="file" accept="image/*" ng-model="files"
                                        ng-change="uploadImage(files, b, 'Brand', 0)" file=""
                                        class="ng-pristine ng-untouched ng-valid ng-isolate-scope">
                                </span>
                                <span class="ng-binding"> <span class="invisible">image name</span></span> -->
                                            <!-- <div class="custom-file">
                                    <input type="file" class="custom-file-input" #fileInputBrndMapLogo>
                                    <label class="custom-file-label"><span class="upload-icon2"></span>
                                    <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                            file</span></span></label>
                                </div>
                            </div> -->


                                            <!-- <div class="form-group upload-input col-sm-4 mb-3">
                                <label class="f-12 d-block">Upload Image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" #fileInputBrndMapImg>
                                    <label class="custom-file-label"><span class="upload-icon2"></span>
                                    <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                            file</span></span></label>
                                </div>
                            </div> -->

                                            <div class=" col-md-6 col-lg-4 mb-3">
                                                <div class="mt-3">
                                                    <mat-checkbox class="mt-3" formControlName="seoInfo" (change)="onCheckBoxChange($event.checked,'Brand')">Add SEO Information
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <!--SEO Brand-->
                                        <div class="ng-scope">
                                            <div class="" *ngIf="masterDataModel.addSEOInfoBrndMap">
                                                <div class="row">
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Title For Brand</label>
                                                        <input matInput formControlName="bSeoTitle" class="form-control" placeholder="Enter SEO Title For Brand">
                                                    </div>
                                                    <div class=" col-md-6 col-lg-4 mb-3 form-group">
                                                        <label class="f-12 d-block">SEO Meta Keywords For Brand</label>
                                                        <input matInput formControlName="bSeoMetaKey" class="form-control" placeholder="Enter SEO Meta Keywords For Brand">
                                                    </div>
                                                    <div class="form-group  col-md-6 col-lg-4 mb-3">
                                                        <label class="f-12 d-block">SEO Meta Description For Brand</label>
                                                        <textarea matInput class="form-control" formControlName="bSeoMetaDes" placeholder="Enter SEO Meta Description For Brand"> </textarea>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row ng-scope">
                                            <div class="col-md-12 mb-3">
                                                <div class="save-btn">
                                                    <button mat-button [disabled]="!addNewBrandForm.valid" class="default-btn">{{masterDataModel.actionNameBrandMapping}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="search-input">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-4 mb-3">
                                            <mat-form-field floatLabel="never">
                                                <mat-label>Search</mat-label>
                                                <input matInput placeholder="Search Brand" (keyup)="search($event,$event.target.value,'Brand')" (blur)="searchOnBlur($event.target.value,'Brand')" autocomplete="off" type="text" class="">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-7 product-group-btn col-lg-8 text-right">
                                            <button mat-button class="default-btn add-new-group plr-md-40 mr-3" *ngIf="!isShowBrandForm" (click)="AddForm('Brand')"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                                            <button class="theme-btn export-btn">
                                            <span class="fileinput-button">
                                                <span (click)="exportData('Brand')"><i
                                                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>
                                                    Export</span>
                                            </span>
                                        </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="asset-table">
                                    <div class="table-responsive inner-table mb-3">
                                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="masterDataModel.brandMappingDetailList" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn('Brand', $event)">
                                            <!-- <mat-table [dataSource]="masterDataModel.brandMappingDetailList" class="default-tbl"> -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">ID</span> {{ element.id }} </td>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Image">
                                <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                                <mat-cell *matCellDef="let element"> <img src="{{ element.brand_image }}" alt="Image"> </mat-cell>
                            </ng-container> -->

                                            <ng-container matColumnDef="brand__display_name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Brand</span> {{ element.brand.display_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="category__display_name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Product Category</span> {{ element.category.display_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="is_used">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Type </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Equipment Type</span> {{ (element.is_used ? 'For Used ' : '')+ ((element.is_used && element.is_new) ? ' & ' : '')+ (element.is_new ? ' For New' : '') }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="group__name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Group </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <span class="mobile-label">Product Group</span> {{ element.group.name }} </td>
                                            </ng-container>

                                            <!-- <ng-container matColumnDef="Top Banner Uploaded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Top Banner Uploaded </th>
                                <td mat-cell *matCellDef="let element"> {{ element.top_banner_image }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Left Banner Uploaded">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Left Banner Uploaded </th>
                                <td mat-cell *matCellDef="let element"> {{ element.left_banner_image }} </td>
                            </ng-container> -->

                                            <!-- <ng-container matColumnDef="Status">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                            <td mat-cell *matCellDef="let element"> </td>
                                        </ng-container> -->

                                            <ng-container matColumnDef="Actions">
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let element; let i = index">
                                                    <span class="mobile-label">Actions</span>
                                                    <div>
                                                        <button class="simple-btn " mat-button (click)="action('Edit',element.id,'Brand')"><span><img
                                                                src="../../../assets/images/editicon.svg"></span></button>
                                                        <button class="simple-btn delet-icon" mat-button (click)="action('Delete',element.id,'Brand')"><span><img
                                                                src="../../../assets/images/Delete_icon.svg"></span></button>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="tblBrandMappingColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: tblBrandMappingColumns"></tr>
                                            <!-- </mat-table> -->
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator #brandMappingPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
                                </mat-paginator>
                            </div>
                        </mat-tab>
                        <mat-tab label="Model">
                            <div class="row">
                                <!-- <div class="col-sm-4 upload-input mb-3">
                            <label class="f-12 d-block">Bulk Import</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInputBulkInsert file-upload="" data-operation="upload">
                                <label class="custom-file-label"><span class="upload-icon2"></span>
                                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                        file</span></span></label>
                            </div>
                        </div> -->
                                <!-- <div class="col-sm-4 upload-input mb-3">
                                <label class="f-12 d-block">Bulk Upload</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" (change)="onFileChange($event)"
                                        #fileInputBulkUpdate file-upload="" data-operation="upload">
                                    <label class="custom-file-label"><span class="upload-icon2"></span>
                                        <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                file</span></span></label>
                                </div>
                            </div> -->


                                <!-- <div class="col-sm-12" *ngIf="isShowInvalidRecords">
                                <li>
                                    <a style="color:blue;" (click)="viewErrorList()">View Invalid Records</a>
                                    <mat-icon (click)="hideErrorList()" class="mat-icon-close">cancel</mat-icon>
                                </li>
                            </div> -->
                            </div>
                            <div class="row">
                                <div class="col-sm-12  mb-3 ">
                                    <li>Download the <a style="color:blue;" href="https://s3.ap-south-1.amazonaws.com/iquippo-marketplace-blobs/assets/uploads/templates/Bulk_Model_Master_Template.xlsx" target="_blank">template</a> for import/update models
                                        using bulk upload and fill all fields. (*) mark fields are mandatory.</li>
                                </div>
                                <div class="col-sm-12 mb-3 upload-record" *ngIf="isShowInvalidRecords">
                                    <a style="color:blue;" (click)="viewErrorList()">View Invalid Records</a>
                                    <span class="delet-icon" (click)="hideErrorList()"><img
                                        src="../../../assets/images/Delete_icon.svg" /></span>
                                </div>
                            </div>

                            <div class="add-new-field mb-3" *ngIf="isShowModelForm">
                                <h4 class="title">Add New Model</h4>
                                <legend></legend>
                                <form [formGroup]="addNewModelForm" class="add-certificate-section" (ngSubmit)="saveData('Model')">
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Select Group <span
                                                class="text-warning">*</span></label>

                                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                <input matInput [matAutocomplete]="auto8" placeholder="Select Group " type="text" (keyup)="filterValuesGroup($event)" formControlName="modelGroupName" maxlength="256">
                                                <mat-autocomplete #auto8="matAutocomplete" (optionSelected)="onModelMappingGroup($event);loadCategoryByGroup($event, 'ModelCategory')">
                                                    <mat-option *ngFor="let group of masterDataModel.groupMasterList" [value]="group.name">
                                                        {{group.name}}</mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Select Category <span
                                                class="text-warning">*</span></label>

                                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                <input matInput [matAutocomplete]="auto2" placeholder="Select Category" type="text" (keyup)="filterValuesCategory($event, 'ModelMap')" [(ngModel)]="modelCategoryName" formControlName='modelCategoryName' maxlength="256">
                                                <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onModalMappingCategory($event);
                                        filterBrandByCategory($event)">
                                                    <mat-option *ngFor="let category of modelCategories" [value]="category.display_name">
                                                        {{category.display_name}}</mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class=" col-md-6 col-lg-4 form-group">
                                            <label class="f-12 d-block">Equipment Type <span
                                                class="text-warning">*</span></label>
                                            <div>
                                                <mat-checkbox class="type-margin mr-3" formControlName="modelUsedEquip" (change)="onCheckBoxChange($event.checked,'Model')">Used Equipment
                                                </mat-checkbox>
                                                <mat-checkbox class="type-margin" formControlName="modelNewEquip">New Equipment
                                                </mat-checkbox>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Select Brand <span
                                                class="text-warning">*</span></label>

                                            <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                                <input matInput [matAutocomplete]="auto5" placeholder="Select Brand " type="text" (keyup)="filterValuesBrand($event, 'ModelBrand')" formControlName='modelBrandName' [(ngModel)]="ModelbrandName" maxlength="256">
                                                <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="onModalMappingBrand($event)">
                                                    <mat-option *ngFor="let brand of brandFilterList" [value]="brand.display_name">
                                                        {{brand.display_name}}</mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Model Name <span
                                                class="text-warning">*</span></label>
                                            <!-- <input matInput formControlName="modelName" type="text" class="form-control" placeholder="Enter Model Name"> -->
                                            <!-- <mat-form-field floatLabel="never" matAutocompleteOrigin >
                                    <input matInput [matAutocomplete]="auto6"  placeholder="" (keyup)="filterValuesModal($event)" type="text"  formControlName='modelName' maxlength="256">
                                    <mat-autocomplete #auto6="matAutocomplete">
                                    <mat-option *ngFor="let model of modelList" (onSelectionChange)="onModalSelect(model.id)" [value]="model.name" >{{model.name}}</mat-option>
                                </mat-autocomplete> -->
                                            <mat-form-field floatLabel="never">
                                                <input matInput formControlName="modelName" type="text" class="form-control" placeholder="Enter Model Name ">
                                            </mat-form-field>
                                        </div>
                                        <!-- ngIf: m.isForNew -->
                                        <!-- <div *ngIf="isAboutModel" class="form-group col-sm-4 ng-scope">
                                    <label class="f-12 d-block">About Model</label>
                                    <input matInput formControlName="aboutModel" type="text" class="form-control"
                                        placeholder="Enter About Model">
                                </div> -->
                                        <!-- end ngIf: m.isForNew -->
                                        <!-- Asset Data Model fields start -->

                                        <div class=" col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Status</label>
                                            <mat-select [(ngModel)]="modelStatus" placeholder="--Select--" formControlName="modelStatus">
                                                <mat-option *ngFor="let type of modelStatusType" [value]="type.value">
                                                    {{ type.typeName }}
                                                </mat-option>
                                            </mat-select>
                                        </div>

                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Capacity Group</label>
                                            <input matInput formControlName="capacityGroup" type="text" class="form-control" placeholder="Enter Capacity Group">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Sub Category</label>
                                            <input matInput formControlName="subCategory" type="text" class="form-control" placeholder="Enter Sub Category">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Model Code</label>
                                            <input matInput formControlName="modelCode" type="text" class="form-control" placeholder="Enter Model Code">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Model Desc</label>
                                            <input matInput formControlName="modelDesc" type="text" class="form-control" placeholder="Enter Model Desc">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Capacity</label>
                                            <input matInput formControlName="capacity" type="Number" min="1" class="form-control" placeholder="Enter Capacity">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Capacity Unit</label>
                                            <input matInput formControlName="capacityUnit" type="text" class="form-control" placeholder="Enter Capacity Unit">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Risk Engine Asset ID</label>
                                            <input matInput type="number" formControlName="riskEngineAssetID" class="form-control" placeholder="Enter Risk Engine Asset ID">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Mfg Asset ID</label>
                                            <input type="number" matInput formControlName="mfgAssetID" class="form-control" placeholder="Enter Mfg Asset ID">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Is Attachment Applicable <span
                                                class="text-warning">*</span></label>
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isAttachmentApplicable" formControlName="isAttachmentApplicable">
                                                <mat-radio-button [checked]="isAttachmentApplicable == false" value="false">
                                                    No
                                                </mat-radio-button>
                                                <mat-radio-button [checked]="isAttachmentApplicable == true" value="true">
                                                    Yes
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <!-- <mat-select placeholder="--Select--" required formControlName="isAttachmentApplicable">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select> -->
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Is Attachment <span
                                                class="text-warning">*</span></label>
                                            <!-- <mat-select placeholder="--Select--" required formControlName="isAttachment">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select> -->
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isAttachment" formControlName="isAttachment">
                                                <mat-radio-button [checked]="isAttachment == false" value="false">No
                                                </mat-radio-button>
                                                <mat-radio-button [checked]="isAttachment == true" value="true">Yes
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label>HSN Code</label>
                                            <input matInput formControlName="hsnCode" type="text" class="form-control" placeholder="Enter HSN Code">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Is Discontinued</label>
                                            <!-- <mat-select placeholder="--Select--" required formControlName="isDiscontinued">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select> -->
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isDiscontinued" formControlName="isDiscontinued">
                                                <mat-radio-button [checked]="isDiscontinued == false" (change)="isDiscontinuedChange($event)" value="false">No
                                                </mat-radio-button>
                                                <mat-radio-button [checked]="isDiscontinued == true" (change)="isDiscontinuedChange($event)" value="true">Yes
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Year Launched
                                            <span class="text-warning">*</span>
                                        </label>
                                            <!-- <input matInput formControlName="yearLaunched" type="number" min="1" class="form-control" placeholder="Year Launched"> -->
                                            <mat-form-field appearance="fill" class="datepicker-input">
                                                <input matInput [matDatepicker]="dp" placeholder="Enter Year Launched" formControlName="yearLaunched" [value]="yearLaunched" [(ngModel)]="yearLaunched" [max]="todayDate" readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="dp">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="Model">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker" (yearSelected)="chosenYearHandler($event, dp)">

                                                </mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4" *ngIf="isShowDate">
                                            <label class="f-12 d-block">Year Discontinued</label>
                                            <!-- <input matInput formControlName="yearDiscontinued" type="number" class="form-control" placeholder="Year Discontinued"> -->
                                            <mat-form-field class="datepicker-input">
                                                <input matInput [matDatepicker]="dp1" placeholder="Enter Year Discontinued" [(ngModel)]="yearDiscontinued" formControlName="yearDiscontinued" readonly>
                                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="dp1">
                                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker" (yearSelected)="chosenYearHandlerDate($event, dp1)">
                                                </mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Is Registrable <span
                                                class="text-warning">*</span></label>
                                            <!-- <mat-select placeholder="--Select--" required formControlName="isRegistrable">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select> -->
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isRegistrable" formControlName="isRegistrable">
                                                <mat-radio-button [checked]="isRegistrable == false" value="false">No
                                                </mat-radio-button>
                                                <mat-radio-button [checked]="isRegistrable == true" value="true">Yes
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                        <!-- <div class="form-group col-sm-4">
                                    <label class="f-12 d-block">ImageURL</label>
                                    <input matInput type="text" class="form-control" placeholder="Enter Image URL"
                                        formControlName="imgURL">
                                </div> -->
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Asset Risk Rating</label>
                                            <input matInput formControlName="assetRiskRating" type="number" class="form-control" placeholder="Enter Asset Risk Rating" max="65535">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4 clearfix">
                                            <label class="f-12 d-block">Environmental Rating</label>
                                            <input matInput formControlName="environmentalRating" type="number" class="form-control" placeholder="Enter Environmental Rating" max="65535">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Fuel Capacity Ltr</label>
                                            <input matInput formControlName="fuelCapacityLtr" type="number" class="form-control" placeholder="Enter Fuel Capacity Ltr">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Is Off Road</label>
                                            <!-- <mat-select placeholder="--Select--" required formControlName="isOffRoad">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select> -->
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="isOffRoad" formControlName="isOffRoad">
                                                <mat-radio-button [checked]="isOffRoad == false" value="false">No
                                                </mat-radio-button>
                                                <mat-radio-button [checked]="isOffRoad == true" value="true">Yes
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Safety Rating</label>
                                            <input matInput formControlName="safetyRating" type="number" class="form-control" placeholder="Enter Safety Rating" max="65535">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4">
                                            <label class="f-12 d-block">Asset Cost</label>
                                            <input matInput formControlName="assetCost" type="number" class="form-control" placeholder="Enter Asset Cost">
                                        </div>
                                        <div class="form-group col-md-6 col-lg-4 upload-input">
                                            <label class="f-12 d-block">Model Image</label>

                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileInputModelImg" #fileInputModelImg data-operation="upload" (change)="getFileName('fileInputModelImg')">
                                                <label class="custom-file-label" (click)="fileInputModelImg.click()"><span
                                                    class="upload-icon2"></span>
                                                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                                                        file</span></span></label>
                                            </div>
                                            <div class="imgFile" *ngIf="modelImageName">
                                                <ul class="selectedFile">
                                                    <li>
                                                        <a href="javascript:void(0)" target="_blank">{{modelImageName}}</a>
                                                        <span class="delet-icon" (click)="resetFile('fileInputModelImg')">
                                                        <img src="../../../assets/images/Delete_icon.svg">
                                                    </span>
                                                        <!-- <i class="fa fa-times" aria-hidden="true"
                                                    (click)="resetFile('fileInputModelImg')"></i> -->
                                                    </li>

                                                </ul>
                                            </div>

                                            <div class=" col-md-6 col-lg-4" *ngIf="!modelImageUrl && masterDataModel.actionNameModel == 'Update' && categoryImg">
                                                <div class="edit-upload-img">
                                                    <span>Mapped Category Image</span> <br>
                                                    <span>
                                                    <img src={{categoryImg}} alt="" class="imgHeight">
                                                </span>
                                                </div>
                                            </div>

                                            <div class=" col-md-6 col-lg-4" *ngIf="modelImageUrl">
                                                <div class="edit-upload-img">
                                                    <span>
                                                    <img src={{modelImageUrl}} alt="" class="imgHeight">
                                                    <span class="delet-icon"
                                                        (click)="deleteImage(modelImageUrl , 'ModelImage')">
                                                        <img src="../../../assets/images/Delete_icon.svg">
                                                    </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Asset Data Model fields end -->

                                        <div class="form-group col-sm-12 mb-3">
                                            <div class="save-btn">
                                                <label class="f-12 d-block" class="invisible">Button</label>
                                                <!-- ngIf: !modelEdit --><button mat-stroked-button [disabled]="!addNewModelForm.valid" class="default-btn ng-scope">{{masterDataModel.actionNameModel}}</button>
                                                <!-- end ngIf: !modelEdit -->
                                                <!-- ngIf: modelEdit -->
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div class="search-input">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 mb-3">
                                            <mat-form-field floatLabel="never">
                                                <mat-label>Search</mat-label>
                                                <input matInput placeholder="Search Model" (keyup)="search($event,$event.target.value,'Model')" (blur)="searchOnBlur($event.target.value,'Model')" autocomplete="off" type="text" class="">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 product-group-btn col-lg-8 mb-3 text-right">
                                            <button mat-button class="default-btn add-new-group plr-md-40 mr-3" *ngIf="!isShowModelForm" (click)="AddForm('Model')"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                                            <button mat-button class="theme-btn export-btn d-inline-block" (click)="exportData('Model')"><i class="fa fa-file-excel-o pr-2  fa-lg"
                                                aria-hidden="true"></i>
                                            Export</button>
                                            <div class="upload-input d-inline-block ml-2">
                                                <button mat-button class="default-btn importBtn add-new-group">
                                                <input type="file" class="custom-file-input"
                                                    (change)="onFileChange($event)" #fileInputBulkInsert>
                                                    <i class="fa fa-upload" aria-hidden="true"></i>Bulk Import</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="asset-table">
                                    <div class="table-responsive inner-table mb-3">
                                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="masterDataModel.modelDetailList" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn('Model', $event)">
                                            <!-- <mat-table [dataSource]="masterDataModel.modelDetailList" class="default-tbl"> -->
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">ID</div>
                                                    {{ element.id }} </td>
                                            </ng-container>
                                            <!-- <ng-container matColumnDef="Model Image">
                                <mat-header-cell *matHeaderCellDef> Model Image </mat-header-cell>
                                <mat-cell *matCellDef="let element"><img src="{{ element.model_banner_image }}" alt="Image"> </mat-cell>
                            </ng-container> -->

                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Model</div>
                                                    {{ element.name }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="brand__display_name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Brand</div>
                                                    {{ element.brand.display_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="category__display_name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Product Category</div>
                                                    {{ element.category.display_name }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="is_used">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Type </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Equipment Type</div>

                                                    {{ (element.is_used ? 'For Used ' : '')+ ((element.is_used && element.is_new) ? ' & ' : '')+ (element.is_new ? ' For New' : '') }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="group__name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Group </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Product Group</div>
                                                    {{ element.group.name }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <div class="mobile-label">Status</div>
                                                    {{statusType[element.status] }}</td>
                                            </ng-container>

                                            <ng-container matColumnDef="Actions">
                                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                                <td mat-cell *matCellDef="let element; let i = index">
                                                    <div class="mobile-label">Actions</div>
                                                    <div>
                                                        <button class="simple-btn " mat-button (click)="action('Edit',element.id,'Model')"><span><img
                                                                src="../../../assets/images/editicon.svg" alt="Edit"
                                                                title="Edit"></span></button>
                                                        <button mat-button class="simple-btn delet-icon" (click)="action('Delete',element.id,'Model')"><span><img
                                                                src="../../../assets/images/Delete_icon.svg"
                                                                alt="Delete" Title="Delete"></span></button>
                                                    </div>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="tblModelColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: tblModelColumns"></tr>
                                            <!-- </mat-table> -->
                                        </table>
                                    </div>
                                </div>
                                <mat-paginator #modelPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10">
                                </mat-paginator>
                            </div>
                        </mat-tab>
                    </mat-tab-group>


                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</mat-card>