.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
  }

  .popup {
    background: #fff;
    border-radius: 20px;
    width: 80vw;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }

  table {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
  } 

  table td {
    border: 1px solid rgba(128, 128, 128, 0.26);
    padding: 6px;
  }

  .dialog-actions-container{
    margin-top: 16px;
  }

  .detall-table table {font-size: 12px; vertical-align: middle;}
  .detall-table table tr th, .detall-table table tr td {vertical-align: middle;}
