<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Details</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">

        <div class="detall-table">
            <div class="table-responsive">
                <table class="w-100 table">
                    <tr>
                        <!-- <th>Ticket :</th> -->
                        <!-- <td>NA</td> -->
                        <th>Auction Name : </th>
                        <td>{{element?.lot_bid && element?.lot_bid.lot && element?.lot_bid.lot.auction.name ? element?.lot_bid.lot.auction.name: 'NA'}}</td>
                    </tr>
                    <tr class="info-table">
                        <th>Bid Amount :</th>
                        <td>
                            <table class="w-100 table">
                                <tr>
                                    <!-- <th>TCS</th>
                                    <th>Parking</th> -->
                                    <th>Total</th>
                                </tr>
                                <tr>
                                    <!-- <td>NA</td>
                                    <td>NA</td> -->
                                    <td>{{element?.lot_bid && element?.lot_bid.amount ? element?.lot_bid.amount: 'NA'}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2">
                            <table class="w-100 table">
                                <tr>
                                    <th>Auction Id :</th>
                                    <th>Lot Number :</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{element?.lot_bid && element?.lot_bid?.lot && element?.lot_bid?.lot?.auction?.auction_engine_auction_id ? element?.lot_bid?.lot?.auction?.auction_engine_auction_id : 'NA'}}
                                    </td>
                                    <td>{{element?.lot_bid && element?.lot_bid.lot && element?.lot_bid.lot.lot_number ? element?.lot_bid.lot.lot_number : 'NA'}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <table class="w-100 table">
                                <tr>
                                    <th>Bid Status :</th>
                                    <td>{{ element?.bid_status_display_name ? element?.bid_status_display_name : 'NA'}}</td>
                                </tr>
                                <tr>
                                    <th>Cancellation Reason :</th>
                                    <td>{{
                                        element?.reject_reason_display_name ?
                                        element?.reject_reason_display_name : 'NA'}}</td>
                                </tr>
                                <tr>
                                    <th>Cancellation Comment :</th>
                                    <td>{{ element?.reject_comment ? element?.reject_comment : 'NA'}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="w-100 table">
                                <tr>
                                    <th rowspan="2">Full Payment Details</th>
                                    <td colspan="3">
                                        <table class="w-100">
                                            <tr *ngIf="element?.fulfilment_payments && element?.fulfilment_payments?.length">
                                                <th>Bank Name</th>
                                                <th>Mode of Payment</th>
                                                <!-- <th>Instrument No</th> -->
                                                <th>Amount</th>
                                                <th>Payment Status</th>
                                            </tr>
                                            <tr *ngFor="let obj of element?.fulfilment_payments">
                                                <td>{{obj?.payment?.transaction?.bank_name ? obj?.payment?.transaction?.bank_name : 'NA' }}</td>
                                                <td>{{obj?.payment?.transaction?.payment_mode ? obj?.payment?.transaction?.payment_mode : 'NA' }}</td>
                                                <!-- <td>{{obj?.payment?.transaction?.bank_name ? obj?.payment?.transaction?.bank_name : 'NA' }}</td> -->
                                                <td>{{obj?.payment?.transaction?.amount ? obj?.payment?.transaction?.amount : 'NA' }}</td>
                                                <td>
                                                    {{obj?.payment?.transaction?.payment_status ?
                                                        getPaymentStatus(obj?.payment?.transaction?.payment_status) : 'NA'}}
                                                </td>
                                            </tr>

                                            <tr *ngIf="element?.fulfilment_payments && !element?.fulfilment_payments?.length">
                                                <td>NA</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <th>Full Payment Due Date :</th>
                        <td colspan="3"> {{ element.payment_due_date ? (element.payment_due_date | date:'dd-MM-yyyy') : element?.lot_bid && element?.lot_bid.lot && element?.lot_bid.lot.auction && element?.lot_bid.lot.auction.payment_date ? element?.lot_bid.lot.auction.payment_date
                            : 'NA'}}</td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <table class="w-100 table">
                                <tr>
                                    <th rowspan="2">Invoice in Favour of :</th>
                                    <td *ngIf="element?.invoice_in_favour_of" colspan="3">
                                        <table class="w-100">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile No.</th>
                                                <th>Address</th>
                                                <th>Pincode</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{element?.invoice_in_favour_of?.first_name || element?.invoice_in_favour_of?.last_name ? element?.invoice_in_favour_of?.first_name + " " + element?.invoice_in_favour_of?.last_name : 'NA'}}
                                                </td>
                                                <td>
                                                    {{element?.invoice_in_favour_of?.email ? element?.invoice_in_favour_of?.email : 'NA'}}
                                                </td>
                                                <td>
                                                    {{element?.invoice_in_favour_of?.mobile_number ? element?.invoice_in_favour_of?.mobile_number : 'NA'}}
                                                </td>
                                                <td>
                                                    {{element?.invoice_in_favour_of?.pin_code?.city?.name ? element?.invoice_in_favour_of?.pin_code?.city?.name : 'NA'}}
                                                </td>
                                                <td> {{element?.invoice_in_favour_of?.pin_code?.pin_code ? element?.invoice_in_favour_of?.pin_code?.pin_code : 'NA'}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td *ngIf="!element?.invoice_in_favour_of"> Self</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <th>Delivery Order :</th>
                        <td colspan="3">
                            <a *ngIf="element?.delivery_order_url" href="javascript:void(0);" style="color: dodgerblue;" (click)="sharedService.download(element?.delivery_order_url)">
                                {{element?.delivery_order_url}}
                            </a>
                            <span *ngIf="!element?.delivery_order_url">NA</span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <table class="w-100 table">
                                <th>Date of Delivery :</th>
                                <td>{{ element?.delivery_date ? (element?.delivery_date | date:'dd-MM-yyyy') : 'NA' }}</td>
                                <th>Deal Status :</th>
                                <td> {{element?.deal_status_display_name ? element?.deal_status_display_name : 'NA' }}
                                </td>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th>Feedback :</th>
                        <td>{{element?.feedback}}</td>
                        <th>Feedback Comment:</th>
                        <td>{{element?.feedback_text}}</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>