<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Seller Commision Invoice</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-8">
                <h3 class="admin-page-title">Seller Commision Invoice</h3>
            </div>
        </div>

        <ng-container *ngIf="showForm">
            <div class="user-management">
                <h4 class="title">Invoice </h4>
                <div class="add-certificate-section">
                    <form [formGroup]="enterpriseValuationForm">
                        <div class="row m-0">
                            <div class="col-md-6">
                                <label for="" class="f-12 d-block">Service Fee<span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Service Fee" autocomplete="off" type="text"
                                        formControlName="taxable_amount" readonly>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6 mb-3">
                                <div class="text-left">
                                    <!-- <button class="default-btn  m-t-3" mat-button (click)="viewDetails()">View
                                    Details</button> -->
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="">
                                    <ul class="taxes-chosen" *ngIf="gstDetails && gstDetails?.length > 0">
                                        <li><a (click)='is_gst =!is_gst' [ngClass]="(is_gst) ? 'active':''">GST
                                                {{gstDetails[0].service_tax_rate}} <span><i *ngIf='is_gst'
                                                        class="fa fa-times-circle" aria-hidden="true"></i></span></a>
                                        </li>
                                        <li><a (click)='is_cgst = !is_cgst' [ngClass]="(is_cgst) ? 'active':''">CGST
                                                {{gstDetails[1].service_tax_rate}}<span><i *ngIf='is_cgst'
                                                        class="fa fa-times-circle" aria-hidden="true"></i></span></a>
                                        </li>
                                        <li><a (click)='is_igst = !is_igst' [ngClass]="(is_igst) ? 'active':''">IGST
                                                {{gstDetails[2].service_tax_rate}}<span><i *ngIf='is_igst'
                                                        class="fa fa-times-circle" aria-hidden="true"></i></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="totalamount mb-3">
                                    <span>Total Amount(Inc Tax): {{getTotalAmount()}}</span>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Description of Services<span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Description of Services" autocomplete="off" type="text"
                                        formControlName="services">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Invoice Date<span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter Invoice Date" matInput [matDatepicker]="picker3"
                                        (click)="picker3.open()" readonly formControlName='invoice_date'>
                                    <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Invoice in favour of<span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Invoice in favour of" autocomplete="off" type="text"
                                        formControlName="billed_to">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">PO/Ref No.<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="PO/Ref No." autocomplete="off" type="text"
                                        formControlName="po_ref_no">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">PO / Ref Date<span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="PO / Ref Date" matInput [matDatepicker]="picker4"
                                        (click)="picker4.open()" formControlName='po_ref_date'>
                                    <mat-datepicker-toggle matSuffix [for]="picker4" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">SAC Code<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="SAC Code" autocomplete="off" type="text"
                                        formControlName="sac_code" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row user-management m-0 cust-us-wdth">
                            <div class="col-md-12 p-0">
                                <h4 class="title">User GST details</h4>
                            </div>
                            <div class="add-certificate-section m-0 p-0 col-sm-12">
                                <div class="col-md-4 mb-3">
                                    <label for="" class="f-12 d-block">Address<span
                                            class="validation-err">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Address" autocomplete="off" type="text"
                                            formControlName="billing_address">
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                    <label for="">Country<span class="validation-err">*</span></label>
                                    <div class="contact-person-typeblock">
                                        <mat-form-field floatLabel="never">
                                            <mat-select class="select-new-ui" (selectionChange)="countryChange()" #input
                                                formControlName="country">
                                                <mat-option *ngFor='let con of country_data' [value]="con.id">
                                                    {{con.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                    <label for="">Pincode<span class="validation-err">*</span></label>
                                    <div class="contact-person-typeblock">
                                        <mat-form-field>
                                            <input (keyup)="getLocationData()" matInput formControlName="pin_code"
                                                maxlength="6" />
                                        </mat-form-field>
                                        <div
                                            *ngIf="enterpriseValuationForm?.get('pin_code')?.touched && enterpriseValuationForm?.get('pin_code')?.hasError('required')">
                                            <span class="validation-err">Pincode is required.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                                    <label class="d-block f-12">State<span class="validation-err">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="State" formControlName="state_name" />
                                    </mat-form-field>
                                    <div
                                        *ngIf="enterpriseValuationForm?.get('state_name')?.touched && enterpriseValuationForm?.get('state_name')?.hasError('required')">
                                        <span class="validation-err">State is required.</span>
                                    </div>
                                </div>

                                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                                    <label class="d-block f-12">City<span class="validation-err">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="City" formControlName="city_name" />
                                    </mat-form-field>
                                    <div
                                        *ngIf="enterpriseValuationForm?.get('city')?.touched && enterpriseValuationForm?.get('city')?.hasError('required')">
                                        <span class="validation-err">City is required.</span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="" class="f-12 d-block">Registration Number</label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Registration Number" autocomplete="off" type="text"
                                            formControlName="registration_number">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="user-management m-0 cust-us-wdth">
                            <div class="col-sm-12 p-0">
                                <h4 class="title">iQuippo GST details</h4>
                            </div>
                            <div class="row add-certificate-section m-0">
                                <div class="col-md-4 mb-3">
                                    <label for="" class="f-12 d-block">State<span
                                            class="validation-err">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <mat-select class="select-new-ui" formControlName="gst_state"
                                            (selectionChange)="onSellerSelect($event)">
                                            <mat-option *ngFor='let con of iquippoGstList' [value]="con.state.id">
                                                {{con.state.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="" class="f-12 d-block">Registration Number<span
                                            class="validation-err">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="Registration Number" autocomplete="off" type="text"
                                            formControlName="gst_registration_number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="row ng-scope w-100">
                        <div class="col-md-12 p-0">
                            <div class="save-btn text-right">
                                <button class="default-btn-outline mr-2 mt-sm-2" mat-button
                                    (click)="closeForm()">Cancel</button>
                                <button mat-button class="default-btn" [disabled]="!enterpriseValuationForm.valid"
                                    [ngStyle]="{'cursor': enterpriseValuationForm.valid ? 'pointer' : 'not-allowed'}"
                                    (click)="saveData()">{{editId ? 'Edit' : 'Save'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <mat-tab-group class="individualinvoice" (selectedTabChange)="onListTabChanged($event);">
            <mat-tab label="Invoice To Be Generated">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 mb-3 text-right">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class=""
                                        [(ngModel)]="searchText" (keyup)="searchInList('togenerate')">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-3">
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter From Date" matInput [matDatepicker]="picker5"
                                        (click)="picker5.open()" readonly [(ngModel)]="fromDate"
                                        (dateInput)="filterFromDate()">
                                    <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker5></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-3 ">
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter To Date" matInput [matDatepicker]="picker6"
                                        (click)="picker6.open()" readonly [(ngModel)]="toDate"
                                        (dateInput)="filterFromDate()">
                                    <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker6></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 col-lg-3 mb-3 ">
                                <div class="text-right exportWrapper">
                                    <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                                    <button mat-button class="default-btn importBtn mr-0"
                                        (click)="export('ToBeGenerated')"><i class="fa fa-file-excel-o pr-2  fa-lg"
                                            aria-hidden="true"></i>Export</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table default-tbl custom-mat-table" mat-table
                                    [dataSource]="invoiceGeneratedData" matSortDirection="desc" matSortActive="id"
                                    matSortDisableClear matSort (matSortChange)="onSortColumn($event, 'TobeGenerated')">

                                    <ng-container matColumnDef="equipment__id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID</th>
                                        <td mat-cell *matCellDef="let row">
                                            <span class="mobile-label">Asset ID</span>
                                            {{row?.equipment?.id ? row?.equipment?.id :
                                            '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="equipment__product_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Asset Name</span>
                                            {{row?.equipment?.product_name ?
                                            row?.equipment?.product_name : '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="equipment__asset_address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Location</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Asset Location</span>
                                            {{row?.equipment?.asset_address ?
                                            row?.equipment?.asset_address : '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="buyer__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Name (mobile number)
                                        </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Buyer Name (mobile number)</span>
                                            {{
                                            row?.buyer?.first_name ?
                                            row?.buyer?.first_name : '-' }}
                                            {{row?.buyer?.mobile_number ? '(' + row?.buyer?.mobile_number + ')' : ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="equipment__seller__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name (mobile
                                            number)
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label">Seller Name (mobile number)</span>
                                            {{
                                            row?.equipment?.seller?.first_name ?
                                            row?.equipment?.seller?.first_name : '-'}}
                                            {{row?.equipment?.seller?.mobile_number ? '(' +
                                            row?.equipment?.seller?.mobile_number + ')' : ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="trade_type">
                                        <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Trade Type</span>
                                            {{row?.trade_type_display_name ?
                                            row?.trade_type_display_name : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="equipment__selling_price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label">Trade Price</span>
                                            {{row?.equipment?.selling_price
                                            ?row?.equipment?.selling_price : '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="emd_details__amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMD Amount</th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label"> EMD Amount</span>
                                            {{row?.emd_details?.amount ?
                                            row?.emd_details?.amount : '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Amount </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label"> Trade Amount</span>
                                            {{row?.amount ? row?.amount : '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="seller_invoice">
                                        <th mat-header-cell *matHeaderCellDef> Sales Invoice</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label"> Sales Invoice</span>
                                            {{row?.seller_invoice ? row?.seller_invoice
                                            :
                                            '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label"> Actions</span>
                                            <button type="button" class="table-row-btn"
                                                *ngIf="!row?.is_invoice_generated" (click)="openGenerateInvoice(row)">
                                                <span><i class="fa fa-file-archive-o" aria-hidden="true"
                                                        title="Generate Invoice"></i></span>
                                            </button>

                                            <button mat-button *ngIf="row?.final_payments?.length > 0"
                                                class="simple-btn transection-icon table-row-btn"
                                                (click)='viewTransaction(row?.final_payments)'>
                                                <span><img src="../../../assets/images/view-transection.svg"
                                                        title="View Transactions"></span>
                                            </button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <div class="no-record table-recond" *ngIf="!invoiceGeneratedData?.data?.length">No
                                    records
                                    found</div>
                            </div>
                        </div>
                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]"
                            (page)="onPageChange($event)" [pageSize]="10"></mat-paginator>

                    </div>

                  

                </div>
            </mat-tab>

            <mat-tab label="Invoice Generated">
                <div class="">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class=""
                                        [(ngModel)]="searchTextInvoice" (keyup)="searchInList('generated')">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-3">
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter From Date" matInput [matDatepicker]="picker7"
                                        (click)="picker7.open()" readonly [(ngModel)]="fromDateInvoice"
                                        (dateInput)="getGeneratedInvoiceData()">
                                    <mat-datepicker-toggle matSuffix [for]="picker7" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker7></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-3 mb-3 ">
                                <mat-form-field floatLabel="never" class="datepicker-input">
                                    <input placeholder="Enter To Date" matInput [matDatepicker]="picker8"
                                        (click)="picker8.open()" readonly [(ngModel)]="toDateInvoice"
                                        (dateInput)="getGeneratedInvoiceData()">
                                    <mat-datepicker-toggle matSuffix [for]="picker8" class="calender-icon">
                                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker8></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6 col-lg-3 mb-3 ">
                                <div class="text-right exportWrapper">
                                    <!-- <label _ngcontent-ctk-c16="" class="f-12 d-block  invisible">date</label> -->
                                    <button mat-button class="default-btn importBtn mr-0"
                                        (click)="export('Generated')"><i class="fa fa-file-excel-o pr-2  fa-lg"
                                            aria-hidden="true"></i>Export</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table default-tbl custom-mat-table" mat-table
                                    [dataSource]="generatedInvoiceData" matSortDirection="desc" matSortActive="id"
                                    matSortDisableClear matSort
                                    (matSortChange)="onSortColumn($event , 'GeneratedInvoice')">

                                    <ng-container matColumnDef="bid__equipment__id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID</th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label"> Asset ID</span>
                                            {{row?.bid?.equipment?.id ?
                                            row?.bid?.equipment?.id :
                                            '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bid__equipment__product_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label"> Asset Name</span>
                                            {{row?.bid?.equipment?.product_name ?
                                            row?.bid?.equipment?.product_name : '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bid__equipment__asset_address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Location</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label"> Asset Location</span>
                                            {{row?.bid?.equipment?.asset_address ?
                                            row?.bid?.equipment?.asset_address : '-'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bid__buyer__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Name (mobile number)
                                        </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Buyer Name (mobile number)</span>
                                            {{
                                            row?.bid?.buyer?.first_name ?
                                            row?.bid?.buyer?.first_name : '-' }}
                                            {{row?.bid?.buyer?.mobile_number ? '(' + row?.bid?.buyer?.mobile_number +
                                            ')' :
                                            ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bid__equipment__seller__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name (mobile
                                            number)
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label">Seller Name (mobile number)</span>
                                            {{
                                            row?.bid?.equipment?.seller?.first_name ?
                                            row?.bid?.equipment?.seller?.first_name
                                            : '-'}}
                                            {{row?.bid?.equipment?.seller?.mobile_number ? '(' +
                                            row?.bid?.equipment?.seller?.mobile_number + ')' : ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bid__trade_type">
                                        <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Trade Type</span>
                                            {{row?.bid?.trade_type_display_name ?
                                            row?.bid?.trade_type_display_name : '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bid__equipment__selling_price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Trade Price</span>
                                            {{row?.bid?.equipment?.selling_price
                                            ?row?.bid?.equipment?.selling_price : '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bid__emd_details__amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMD Amount</th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">EMD Amount</span>
                                            {{row?.bid?.emd_details?.amount ?
                                            row?.bid?.emd_details?.amount : '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bid__amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Amount </th>
                                        <td mat-cell *matCellDef="let row"> 
                                                <span class="mobile-label">Trade Amount</span>
                                            {{row?.bid?.amount ? row?.bid?.amount :
                                            '-'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bid__seller_invoice">
                                        <th mat-header-cell *matHeaderCellDef> Sales Invoice</th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label">Sales Invoice</span>
                                            {{row?.bid?.seller_invoice ?
                                            row?.bid?.seller_invoice :
                                            '-'}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let row">
                                                <span class="mobile-label">Actions</span>
                                            <button type="button" class="table-row-btn" (click)="modifyInvoice(row)">
                                                <span><i class="fa fa-file-archive-o" aria-hidden="true"
                                                        title="Modify Invoice"></i></span> <!-- Modify Invoice -->
                                            </button>

                                            <button mat-button *ngIf="row?.bid?.final_payments?.length > 0"
                                                class="simple-btn transection-icon table-row-btn"
                                                (click)='viewTransaction(row?.bid?.final_payments)'>
                                                <span><img src="../../../assets/images/view-transection.svg"
                                                        title="View Transactions"></span>
                                            </button>

                                            <button mat-button *ngIf="row?.invoice_url != null"
                                                class="simple-btn payment-icon table-row-btn"
                                                (click)='downloadInvoice(row?.invoice_url)'>
                                                <span><i class="fa fa-download" aria-hidden="true" alt="Download"
                                                        title="Download Invoice"></i></span>
                                            </button>

                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns;sticky:true;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedInvoiceColumns;"></tr>
                                </table>
                                <div class="no-record table-recond" *ngIf="total_count_invoice == 0">No records found
                                </div>
                            </div>
                        </div>
                        <mat-paginator [length]="total_count_invoice" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]"
                            (page)="onPageChangeInvoice($event)" [pageSize]="10"></mat-paginator>

                    </div>


                    

                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>