<div class="div-wraapper">

    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">User Management</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-7 col-sm-7 col-5">
                <h3 class="admin-page-title">User Management</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-5 col-sm-5 col-7">
                <div class="exportWrapper text-right">
                    <button mat-raised-button color="primary" (click)="exportData()"
                        class="btn btn-lg theme-btn mat-button"><i class="fa fa-file-excel-o pr-2  fa-lg"
                            aria-hidden="true"></i>Export</button>
                </div>
                <div class="header-btn" *ngIf="this.userRole==this.apiRouteService.roles.rm">
                    <button class="default-btn float-right" mat-button (click)='addusernav()'>
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Customer</button>
                    <button class="default-btn float-right mr-2" mat-button (click)='addPartner()'>
                        <i class="fa fa-plus" aria-hidden="true"></i> Add User</button>
                </div>
            </div>
        </div>
        <div [formGroup]="filterUserForm">
            <div class="row used-upload-section">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                    <!-- <label class="f-12 d-block" for="">Search by Mobile Number</label> -->
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" formControlName="Mobile"
                            (keydown.enter)="filterData()" placeholder="Enter Mobile Number">
                    </mat-form-field>
                    <mat-error>
                        <div class="validation-err"
                            *ngIf="filterUserForm.get('Mobile')?.touched && filterUserForm.get('Mobile')?.hasError('required')">
                            Please enter Mobile Number.
                        </div>
                    </mat-error>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                    <!-- <label class="f-12 d-block" for="">Search by First Name</label> -->
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" (keyup)="filterNameData()"
                            (keydown.enter)="filterData()" formControlName="Name" placeholder="Enter First Name">
                    </mat-form-field>
                    <mat-error>
                        <div class="validation-err"
                            *ngIf="filterUserForm.get('Name')?.touched && filterUserForm.get('Name')?.hasError('required')">
                            Please enter Name.
                        </div>
                    </mat-error>
                </div>

                <div class="col-12 col-lg-4 col-md-12 col-sm-12 submit-buttons">
                    <!-- <button class="default-btn" mat-button (click)='getusersfn()'>Search</button>
            <button class="default-btn float-right" mat-button (click)='getusersfn()'>Reset</button> -->
                    <div class="comsaveandcont-btn search-btn">
                        <!-- <div class="comback-btn pb-0 mr-3 d-inline-block">
               <button mat-flat-button (click)="resetData()">Reset</button>
          </div>   -->
                        <button type="submit" class=" d-inline-block" mat-flat-button
                            [disabled]="filterUserForm.get('Name')?.value=='' && filterUserForm.get('Mobile')?.value=='' && filterUserForm.get('user_created_start')?.value=='' && filterUserForm.get('user_created_end')?.value=='' "
                            (click)="filterData()">Search</button>
                    </div>
                </div>
            </div>
            <div class="row used-upload-section"
                *ngIf="this.userRole==this.apiRouteService.roles.admin || this.userRole==this.apiRouteService.roles.superadmin">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" formControlName="kyc" placeholder="Filter by KYC"
                            (selectionChange)="selectkycType()">
                            <mat-option value=''>Filter by KYC</mat-option>
                            <mat-option value='1'>Pending</mat-option>
                            <mat-option value='2'>Approved</mat-option>
                            <mat-option value='3'>Rejected</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3"
                    *ngIf="(this.userRole==this.apiRouteService.roles.rm || this.userRole==this.apiRouteService.roles.admin || this.userRole==this.apiRouteService.roles.superadmin)">
                    <!-- <label for="" class="f-12 d-block">Relationship Manager</label> -->
                    <mat-form-field floatLabel="never">
                        <mat-select class="select-new-ui" formControlName="rm"
                            (selectionChange)="getPartnerContactList()" placeholder="Relationship Manager">
                            <mat-option value="">Filter by RM </mat-option>
                            <mat-option *ngFor="let obj of RmList" [value]="obj?.user?.cognito_id">
                                {{obj.user.first_name}} {{obj.user.last_name}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 datepicker-bx mb-3">
                    <!-- <label for="" class="f-12 d-block">Filter by User Creation</label> -->
                    <mat-form-field floatLabel="never">
                        <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly
                            formControlName="user_created_start" placeholder="Start date">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>

                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 datepicker-bx mb-3">
                    <!-- <label for="" class="f-12 d-block">Filter by User Creation</label> -->
                    <mat-form-field floatLabel="never">
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                            formControlName="user_created_end" [min]="filterUserForm.get('user_created_start').value"
                            placeholder="End date">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                </div>
                <div class="col-12 col-lg-4 col-md-12 col-sm-12 ml-auto mb-3 submit-buttons">
                    <!-- <button class="default-btn" mat-button (click)='getusersfn()'>Search</button>
        <button class="default-btn float-right" mat-button (click)='getusersfn()'>Reset</button> -->
                    <div class="comsaveandcont-btn search-btn">
                        <!-- <div class="comback-btn pb-0 mr-3 d-inline-block">
           <button mat-flat-button (click)="resetData()">Reset</button>
      </div>   -->
                        <button class=" d-inline-block" mat-flat-button
                            [disabled]="filterUserForm.get('user_created_start')?.value=='' && filterUserForm.get('user_created_end')?.value=='' "
                            (click)="filterData()">Filter By Date</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="desktop-table">

            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table custom-mat-table" mat-table [dataSource]="productDataSource" matSort
                        matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">

                        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container> -->
                        <!-- <ng-container matColumnDef="partnership_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Partnership Type</th>
          <td mat-cell *matCellDef="let row"> {{setPartnershipType(row.partnership_type)}} </td>
        </ng-container> -->

                        <ng-container matColumnDef="first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Name</span> {{row.first_name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Created Date</span> {{row.created_at| date:'dd-MM-yyyy, hh:mm
                                a'}}
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Incorporation Date </th>
          <td mat-cell *matCellDef="let row"> {{row.incorporation_date}} </td>
        </ng-container> -->

                        <ng-container matColumnDef="mobile_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Phone Number</span> {{row.mobile_number}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Role</span> {{convertGroupToString(row.groups)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="kyc_verified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kyc verified </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Kyc verified</span> {{getKycStatus(row.kyc_verified)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pan_address_proof">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address proof Added? </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Address proof Added?</span>
                                {{getStatus(row.pan_address_proof)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Email</span> {{row.email}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rm"
                            *ngIf="this.userRole == this.apiRouteService.roles.admin || this.userRole == this.apiRouteService.roles.superadmin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> RM </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">RM</span> {{row.relationship_manager_name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">State</span> {{row.pin_code.city.state.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">City</span> {{row.pin_code.city.name}}
                            </td>
                        </ng-container>



                        <ng-container matColumnDef="Actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Action</span>
                                <button class="table-row-btn" mat-button (click)="edit(row)"><span><img
                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                            title="Edit"></span></button>

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
                    </table>
                </div>
            </div>
            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
                (page)="onPageChange($event)"></mat-paginator>

        </div>




    </div>
</div>