/* table {
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eff0f2;
  margin: 10px 0 30px;
  overflow: hidden;
  @media only screen and (max-width: 991px) {
    min-width: 1000px;
  }
}
table th {
  background: #eff0f2;
  font-size: 13px;
  padding: 13px 10px;
  text-align: left;
}
tbody tr td {
  font-size: 13px;
  color: #3c3c3c;
  padding: 15px 10px;
  border-bottom: 1px solid #eff0f2;
}

tbody tr:last-child td {
  border-bottom: 0;
}

.custom-table-main {
  width: 80% !important;
  float: right;
}
.custom-table-main table {
  border-radius: 0px;
  margin-top: 0px;
}
.custom-table-main table th {
  background: #0d4fa3;
  color: #fff;
  font-weight: 500;
}
.custom-table-main table tr td {
  border-bottom: 1px #eff0f2 solid;
}
.custom-table-main table th,
.custom-table-main table td {
  font-size: 15px !important;
}
.excel-export-section {
  background: #fafafa;
  padding: 10px;
  border: 1px #eff0fc solid;
  border-bottom: 0px;
}
.excel-export-section button {
  background: #009a2c;
  border-radius: 0px;
  color: #fff;
}
.user-management-heading,
.add-user {
  display: inline-block;
}
.add-user {
  text-align: right;
}
.add-user button,
.user-search-btn button {
  background: #094fa3;
  border: 0px;
  padding: 10px 12px;
  color: #fff;
  border-radius: 5px;
}
.user-management {
  padding-bottom: 30px;
}
.custom-mat-table th,
.custom-mat-table td {
  text-align: left !important;
  padding-left: 10px !important;
  padding-right: 10px;
}
.user-form-label {
  width: 100%;
  float: left;
}
.user-management-form-section input {
  padding: 10px;
  border-radius: 5px;
  background: #f5f8fa;
  border: 1px #c4cfd8 solid;
  width: 100%;
}
.user-management-form-section {
  padding-top: 15px;
}
.user-management-heading button {
  padding: 10px 12px;
  border-radius: 5px;
  width: 100%;
}
.user-reset-btn {
  padding-right: 0px;
}
.user-reset-btn button {
  background: 0 none;
  color: #094fa3;
  border: 1px #094fa3 solid;
}
.action-btns a {
  padding-right: 10px;
} */

.mat-card {padding: 0px;}
.main-heading {font-size: 32px; font-weight: 700;}


  .user-management-heading h4 {font-size: 16px;}
   


@media screen and (max-width: 767px) {

  .main-heading {font-size: 24px; margin-bottom: 15px;}
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}
  .save-btn button {padding: 5px 35px;}
  .used-upload-section .title {font-size: 20px;}
  .add-user button {height: 36px;}
}