<mat-card class="product-wrapper">
    <div class="product-wrapper-box">
        <mat-tab-group class="auction-tab">
            <!-- <div class="breadcrumb-container">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="breadcrumb-item">
              <a [routerLink]="['/admin-dashboard']">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Technical Information Master - Used</li>
      </ol>
  </div>
  <div class="admin-page-heading">
    <div class="admin-page-header col-lg-6 col-md-12">
        <h3 class="admin-page-title">Technical Information Master - Used</h3>
    </div>
    <div class="admin-page-buttons col-lg-6 col-md-12">
        <div class="header-btn">
            <button mat-button class="theme-btn export-btn mr-2" (click)="exportTechInfo()"><i
                    class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
            <button mat-button class="default-btn importBtn mr-2">
                <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInput>
                Import</button>
            <button mat-button class="default-btn" (click)="showForm = !showForm">Add New</button>
        </div>
    </div>
</div> -->
            <mat-tab label="Category Technical Specification">
                <ng-template matTabContent>
                    <app-category-spec-list></app-category-spec-list>
                </ng-template>
            </mat-tab>
            <mat-tab label="Brand Technical Specification">
                <ng-template matTabContent>
                    <app-model-spec-list></app-model-spec-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>