<div class="popup">
  <!-- <div class="popup-hdr">
    
     <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->
  <div class="popup-body p-0 overflow-hidden">
    <div class="add-new-field mb-3">
      <h4 class="title">{{isEdit ? 'Edit' : 'Add'}} State</h4>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6">
            <label class="f-12 d-block">Select Country<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <!-- <mat-label>Country</mat-label> -->
              <mat-label>Select Country</mat-label>
              <mat-select formControlName='Country' aria-placeholder="Select Country">
                <mat-option *ngFor="let country of countryDataSource" [value]="country.id">
                  {{ country.name }}
                  <!-- {{country.name}} -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6">
            <label class="f-12 d-block">State Name<span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <!-- <mat-label>State Name</mat-label> -->
              <input matInput placeholder="Enter State Name" autocomplete="off" type="text" formControlName='StateName'>

              <input formControlName='id' type="hidden">
            </mat-form-field>
          </div>
        </div>
        <div class="text-right dialog-actions-container">
          <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
          <!-- (click)="backClick()" -->
          <button class="default-btn plr-md-40" [disabled]="!form.valid" (click)="okClick()" mat-button>{{isEdit ?
            'Edit' : 'Add'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>