.mywallet {
  width: calc(100% - 18em);
  float: right;
  padding: 15px;
  background: #eff2f4;
}

.mywallet .product-wrapper-box {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 10px;
}
.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.mywallet::after {
  clear: right;
}

.disabled-input input:disabled {background: #f5f8fa!important;}
.filter-form .form-group button {padding: 0px 20px;} 

.wallet-header {
  background: linear-gradient(150deg, #1751b4, #a3171e);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wallet-action button {
  width: 154px;
  border: none;
  margin: 8px;
 height:35px;
  border-radius: 5px;
  font-weight: 500;
}

.wallet-action button.btn-add {
  background: #fff;
  color: #094fa3;
}

.wallet-action button.btn-ref {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.wallet-balance-info {
  padding-top: 10px;
}

.wallet-balance-info p {
  margin-bottom: 5px;
}

.balance-text {
  font-size: 25px;
  font-weight: 700;
}

.wallet-icon {
  padding: 20px;
  border-radius: 30%;
  background: #4c70ba;
  margin-right: 15px;
}

.wallet-icon img {
  width: 35px;
  vertical-align: bottom;
}

.filter-card {
  padding: 15px;
  border: 1px solid #c4cfd8;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.transaction-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.transaction-detail {
  display: flex;
  justify-content: space-between;
  background: #f5f8fa;
  border: 1px solid #c4cfd8;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  align-items: center;
}

.tra-type {
  display: flex;
}

.tra-type img {
  margin-right: 10px;
}

.tr-ref p {
  margin-bottom: 0px;
  font-size: 13px;
}

.tr-ref p.ref {
  color: #2a64ae;
}

.tr-ref p:first-child {
  font-weight: 600;
  font-size: 16px;
}

.amount-date p {
  margin-bottom: 0px;
  text-align: right;
}

p.amount {
  font-size: 20px;
  font-weight: 700;
  color: #0d4fa3;
}

p.amount i {
  font-size: 17px;
}

.tra-date {
  font-size: 13px;
  color: #474848;
}

.transaction-download {
  display: flex;
}

.pdf-download-icon {
  margin-right: 10px;
}

a.pdf-download-text {
  text-decoration: none;
  color: #0d4fa3;
  font-weight: 600;
  position: relative;
}

a.pdf-download-text::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 65%;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #0d4fa3;
}

.filter-actions {
  display: block;
}

/* .filter-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
} */

.form-control:focus {
  outline: none;
}

.filter-form .form-control {
  background: #f5f8fa;
 
}

.filter-form .form-group label {
  font-size: 14px;
  margin-bottom: 0.3rem;
  color: #606f82;
}
/* 
.filter-form .form-group {
  margin-right: 15px;
} */

.filter-form .form-group:last-child {
  margin-right: 0px;
}
/* 
.filter-form .tsbmt {
  width: 26%;
}

.filter-form .tdate {
  width: 36%;
}

.filter-form .ttype {
  width: 36%;
} */

.filter-form .form-group select {
  width: 100%;
}

.filter-form .form-group input[type="date"] {
  width: 100%;
}

.filter-form button {
  padding: 0px 10px;
  height: 40px;
  background: #094fa3;
  margin: 0 2px;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0 !important;
}

.mywallet h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.no-record {
  padding: 10px;
}
.filter-form .form-group button:focus {box-shadow: none;} 
.datepicker-input {position: relative;}
.datepicker-input .calender-icon {position: absolute; top: -22px; right: 10px;}
.refund_icon{ cursor: pointer;}

@-moz-document url-prefix() {
  .datepicker-input .calender-icon { 
      top: -40px !important; 
  }
}

@media only screen and (max-width: 767px) {
  .mywallet {
    width: 100% !important;
    float: none;
    padding: 15px;
  }
  .sidebar-custom {
    width: 20% !important;
    display: none;
  }
  .wallet-header {
    flex-wrap: wrap;
  }
  .filter-form {
    flex-wrap: wrap;
  }
  .filter-form .ttype {
    width: 100%;
  }
  .transaction-title {
    flex-wrap: wrap;
  }
  .transaction-detail {
    display: flex;
    justify-content: space-between;
    background: #f5f8fa;
    border: 1px solid #c4cfd8;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
  }
  .wallet-action button {
    width: 130px;
    border: none;
    margin: 8px 5px 0;
    padding: 8px 8px;
    border-radius: 5px;
    font-weight: 500;
  }
  .filter-form .tsbmt {
    width: 100%;
  }
  .filter-form .form-group {
    margin-right: 0px;
  }
  .filter-form .tdate {
    width: 100%;
  }
}


.csv-download-icon img{width:20px;}




@media screen and (max-width: 992px) and (min-width: 768px) {

  /* .mywallet {padding: 20px 15px; width: 100%; max-height: 100% !important; margin-top: 0px !important; float: none; transition: 0.5s;} */


}

@media screen and (max-width: 767px) {
  .wallet-header {margin-top: 0px;}
  .admin-page-title {margin-bottom: 0px;}
  .mywallet {padding: 20px 15px; margin-top: 0px; max-height: 100% !important; width: 100%; float: none; transition: 0.5s;} 
}


.exportWrapper{    background: #00a767;
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
  padding: 2px 20px;}