<div class="mywallet">
  <div class="product-wrapper-box">
  <div class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">My wallet</li>
    </ol>
  </div>
  <div class="admin-page-heading">
    <div class="admin-page-header col-lg-6 col-md-12">
      <h3 class="admin-page-title">My Wallet</h3>
    </div>
  </div>
  <div class="contain-fluid">
    <div class="row">
      <div class="col col-md-12">
        <div class="wallet-header">
          <div class="wallet-balance d-flex">
            <div class="wallet-icon">
              <img src="../../../../../assets/images/wallet.png" alt="">
            </div>
            <div class="wallet-balance-info">
              <p>Your Wallet Balance</p>
              <p class="balance-text">{{walletBalance}} </p>
            </div>
          </div>
          <div class="wallet-action d-flex">
            <div class="form-group m-2">
              <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="payAmount"
                autocomplete="off" #walletInput="ngModel" pattern="^[0-9]*$">
              <div *ngIf="walletInput?.errors">
                <span class="validation-err d-block" *ngIf="walletInput?.errors?.pattern">
                  Characters are not allowed
                </span>
              </div>
            </div>
            <div class="add-money">
              <button class="btn-add" (click)="generateOrderId('add')" [disabled]="walletInput.invalid"
                [ngStyle]="{'cursor': walletInput.invalid ? 'not-allowed' : 'pointer'}">Add Money</button>
            </div>
            <!-- <div class="add-money">
              <button class="btn-ref" (click)="generateOrderId('refund')">Ask for Refund</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="filter-card">
          <h4>Filter</h4>
          <div class="filter-actions">
            <form action="" class="filter-form" [formGroup]="filterForm">
             
              <div class="row">
                <div class="col-sm-6 col-lg-4 col-md-6">
                  <div class="form-group tdate disabled-input">
                    <label for="todate">To Date</label>
                    <mat-form-field class="datepicker-input" floatLabel="never">
                      <input matInput class="form-control" [max]="maxDate" [matDatepicker]="fromPicker"
                        formControlName="created_at__gte" placeholder="Select From Date">
                      <mat-datepicker-toggle class="calender-icon" matSuffix [for]="fromPicker">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #fromPicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6">
                  <div class="form-group tdate  disabled-input">
                    <label for="fromdate">From Date</label>
                    <mat-form-field class="datepicker-input" floatLabel="never">
                      <input matInput class="form-control" [max]="maxDate" [matDatepicker]="toPicker"
                        formControlName="created_at__lte" placeholder="Select To Date">
                      <mat-datepicker-toggle class="calender-icon" matSuffix [for]="toPicker">
                        <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #toPicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-12">
                  <div class="d-flex mt-4 mt-md-0 mt-lg-4 mb-0 justify-content-end">
                    <button type="submit" class="default-btn" (click)="applyFiter()">Apply Filters</button>
                    <button type="button" class="default-btn" (click)="resetFiter()">Reset Filters</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="transaction-title">
          <h4>Transaction History</h4>

          <div class="transaction-download">
            <a class="btn btn-lg theme-btn mat-button exportWrapper" (click)="export()">
                <i  aria-hidden="true" class="fa fa-file-excel-o pr-2 fa-lg "></i>Export
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-12">
        <div class="transaction-detail" *ngFor="let wallet of walletDetails">
          <div class="tra-type">
            <div>
              <img src="../../../../../assets/images/transaction-icon.png" alt="">
            </div>
            <div class="tr-ref">
              <!-- <p>NEFT</p> -->
              <p class="ref">Ref. No. {{wallet?.transaction_id}}</p>
              <!-- <p>Payment for Tata Equipment</p> -->
              <p> {{(wallet?.usage_type == 'RF') ? 'Refund Successfull': getPaymentStatus(wallet?.status)}}</p>
            </div>
          </div>
          <div class="amount-date">
            <p class="amount">
              <i class="fa fa-inr" aria-hidden="true"></i>{{wallet?.amount | number: '2.'}}
              <span class="ml-2" *ngIf="getRefundIconStatus(wallet)" (click)="refund(wallet)">
                <mat-icon class="material-icons-outlined refund_icon">
                  published_with_changes
                </mat-icon>
              </span>
            </p>
            <p class="tra-date">{{wallet?.created_at | date:'dd-MM-yyyy, h:mm:ss a'}}</p>
          </div>
        </div>
        <div class="no-record" *ngIf="!walletDetails?.length">No records found</div>
      </div>
      <div class="col-12">
        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
          (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>


    <div class="no-content-box mt-4 d-none">
      <div class="no-content-img mt-5 mb-4">
        <img src="../../../assets/images/image-asset-4.png" />
      </div>
      <div class="not-content-txt">
        <h2>No Transaction Yet?</h2>
        <p>Please click on a Upload Asset button to upload new asset!</p>
      </div>
    </div>

  </div>
  </div>
</div>