<app-header></app-header>
<toastr-notification></toastr-notification>
<div *ngIf="loading" class="spinnerOuter">
    <div class="spinner">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<app-footer></app-footer>