.spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;     
    
}

.spinner img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
} 
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.849);
  }
  .loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0,-50%);
    justify-content: center;
  }
  .loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
  }
  .loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
    background: #1A50B1;
  }
  .loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
    background: #3B428D;
  }
  .loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
    background: #643161;
  }
  .loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
    background: #832540;
  }
  .loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
    background: #A01922;
  }
  .loading .dot:nth-child(5)::before {
    animation-delay: 1s;
  }
  @keyframes wave {
    50%, 75% {
      transform: scale(2.0);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  .spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
    }
/* @import "toastr"; */