/* .progress-steps-group-block{
    width: 100%;
} */
.dtl-side-bx{
    border:1px solid #C4CFD8;
    border-radius: 6px;
    overflow: hidden;
}
.dtl-side-bx .dtl-side-bx-header{
    padding: 15px;
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
}
.dtl-side-bx .dtl-side-bx-header p{
    color: #ffffff;
    margin-bottom: 0;
}
.dtl-side-bx-txt {
    padding: 15px;
    font-size: 14px;
    background: #F5F8FA;
}
.dtl-side-bx-txt ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}
.dtl-side-bx-txt ul li{
    margin-bottom: 20px;
    padding-left:20px;
    position: relative;
    font-size: 14px;
}
.dtl-side-bx-txt ul li::after{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0D4FA3;
}
.no-rgstr{
    padding: 30px;
    border: 1px solid #C4CFD8;
    border-radius: 10px;
}