<!-- <div class="row">
    <div class="col-12  col-md-6 col-lg-7 right-side-container">
      <div class="no-rgstr mt-4">
        <div class="d-flex">
            <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2">
            <div class="w-80">
                <p class="f-22 mb-0">Request Under Process.</p>
                <p class="f-14 mb-0">
                    Your Request in under process. Our business team will review and get back to you in 2-3 working days.
                </p>
            </div>
        </div>
    </div>
    </div>
</div> -->
<div class="main-div product-wrapper">
    <div class="category-brand">
  <mat-card>
    <div class="trade-tab-container">
<section class="myself-details-main-wrapper communication-pref-wrapper">
    <div class="progress-block">
        <div class="progress-steps-group-block px-3">
            <h2 class="my-3">Welcome! {{this.sharedService.updateUserName()}}</h2>
        </div>
    </div>
</section>
<main class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="py-4">
                <div class="no-rgstr mt-4">
                    <div class="d-flex">
                        <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2">
                        <div class="w-80">
                            <p class="f-22 mb-0">Request Under Process.</p>
                            <p class="f-14 mb-0">
                                Your Request in under process. Our business team will review and get back to you in 2-3 working days.
                            </p>
                        </div>
                        <div>
                            <button class="default-btn mt-3 mt-md-auto mt-lg-auto" mat-button [routerLink]="['/home']" >View Homepage</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-4">
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>Basic Details</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>Why iQuippo?</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>FAQs</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</mat-card>
  </div>
</div>