<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">EMD Auction Master</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-6 col-md-6">
                <h3 class="admin-page-title">EMD Auction Master</h3>
            </div>
            <div class="col-lg-6 col-6 col-md-6 mobile-btn text-right"> 
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg mat-button" (click)="export()"><i
                        class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <button mat-button class="default-btn add-btn-new" (click)="showForm = !showForm">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
            </div>
        </div>

        <div class="user-management">
            <div class="emd-container" *ngIf="showForm">
                <h4 class="title">Add New EMD Auction Master</h4>
                <div class="add-certificate-section">
                    <form [formGroup]="emdChargeForm">
                        <div class="row">
                            <!-- <div class="form-group col-sm-4">
                            <label class="f-12 d-block">EMD Charge Type <span class="text-warning">*</span></label>
                            <mat-select placeholder="Select EMD Charge Type" formControlName="emdType">
                                <mat-option [value]="1">Auction</mat-option>
                            </mat-select>
                            <div
                                *ngIf="emdChargeForm.get('emdType')?.errors && emdChargeForm.get('emdType')?.invalid && (emdChargeForm.get('emdType')?.touched || emdChargeForm.get('emdType')?.dirty)">
                                <span class="validation-err d-block"
                                    *ngIf="emdChargeForm.get('emdType')?.errors?.required">
                                    Please select EMD charge type
                                </span>
                            </div>
                        </div> -->

                            <div class="col-sm-6 col-md-6 col-lg-4 form-group" *ngIf="isAuctionShow">
                                <label class="f-12 d-block">Auction ID - Auction name <span
                                    class="text-warning">*</span></label>
                                <mat-select placeholder=" Select Auction" [disabled]="isEdit" (selectionChange)="selectAuctionId($event.value)" formControlName="auction">
                                    <mat-option *ngFor="let obj of parentAuctionsData" [value]="obj.id">
                                        {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}} {{obj.name}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="emdChargeForm.get('auction')?.errors && emdChargeForm.get('auction')?.invalid && (emdChargeForm.get('auction')?.touched || emdChargeForm.get('asset')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('auction')?.errors?.required">
                                    Please select auction
                                </span>
                                </div>
                            </div>
                            <!-- (selectionChange)="selectSubAuction($event.value)" -->
                            <div class="col-sm-6  col-md-6 col-lg-4 form-group" *ngIf="isSubAuctionShow">
                                <label class="f-12 d-block">Sub Auction ID - Name</label>
                                <mat-select placeholder=" Select Sub Auction" [disabled]="isEdit" [(ngModel)]="selectedSubAuction" formControlName="subAuction" multiple>
                                    <mat-option #subAllSelected (click)="toggleSubAllSelection()" [value]="0">All
                                    </mat-option>
                                    <mat-option *ngFor="let obj of subAuctionsData" [value]="obj.id" (click)="checkSubAuctionPerOne(subAllSelected.viewValue)">
                                        {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}} {{obj.name}}
                                    </mat-option>
                                </mat-select>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-4  form-group" *ngIf="isLotAuctionShow || isAuctionLot">
                                <label class="f-12 d-block">Lot Number - Lot name </label>
                                <mat-select placeholder=" Select Lot Auction" [disabled]="isEdit" [(ngModel)]="selectedLotAuction" multiple formControlName="lotAuction">
                                    <mat-option #lotAllSelected (click)="toggleLotAllSelection()" [value]="0">All
                                    </mat-option>
                                    <mat-option *ngFor="let obj of lotAuctionsData" [value]="obj.id" (click)="checkLotAuctionPerOne(lotAllSelected.viewValue )">
                                        {{obj.lot_number ? (obj.lot_number + '-') : ''}} {{obj.title}}
                                    </mat-option>
                                </mat-select>
                            </div>

                            <div class="form-group col-sm-6 col-md-6 col-lg-4 " *ngIf="!isEdit || emdType == 'LC'">
                                <label class="f-12 d-block">Lot Count</label>
                                <input matInput formControlName="lotCount" [(ngModel)]="lotCount" type="number" class="form-control" placeholder="Enter lot count">
                            </div>

                            <!-- <div class="col-sm-4 form-group">
                            <label class="f-12 d-block">Amount Type<span class="text-warning">*</span></label>
                            <mat-select placeholder="Select Amount Type" formControlName="amountType">
                                <mat-option [value]="1">
                                    Flat
                                </mat-option>
                            </mat-select>
                            <div
                                *ngIf="emdChargeForm.get('amountType')?.errors && emdChargeForm.get('amountType')?.invalid && (emdChargeForm.get('amountType')?.touched || emdChargeForm.get('amountType')?.dirty)">
                                <span class="validation-err d-block"
                                    *ngIf="emdChargeForm.get('amountType')?.errors?.required">
                                    Please select Amount type
                                </span>
                            </div>
                        </div> -->

                            <div class="form-group col-sm-6  col-md-6 col-lg-4">
                                <label class="f-12 d-block">Amount</label>
                                <input matInput id="amount" formControlName="amount" placeholder="Enter Amount">
                                <div *ngIf="emdChargeForm.get('amount')?.errors && emdChargeForm.get('amount')?.invalid && (emdChargeForm.get('amount')?.touched || emdChargeForm.get('amount')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="emdChargeForm.get('amount')?.errors?.required">
                                    Please enter Loan amount
                                </span>
                                    <span class="validation-err d-block" *ngIf="!emdChargeForm.get('amount')?.errors?.required && emdChargeForm.get('amount')?.errors?.pattern">
                                    Characters are not allowed
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row ng-scope">
                            <div class="col-md-12">
                                <div class="save-btn">
                                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Close</button>

                                    <button mat-button class="default-btn" *ngIf="!editId" [disabled]="!emdChargeForm.valid" [ngStyle]="{'cursor': emdChargeForm.valid ? 'pointer' : 'not-allowed'}" (click)="postAuctionData()">Save</button>

                                    <button mat-button class="default-btn" *ngIf="editId" [disabled]="!emdChargeForm.valid" [ngStyle]="{'cursor': emdChargeForm.valid ? 'pointer' : 'not-allowed'}" (click)="postAuctionData()">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="user-management-top-section">
                <div class="row my-3">
                    <div class="col-md-3 col-sm-6">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keydown.enter)="searchInList()" (keyup)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="emdDataSouce" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Id</span> {{ element.id }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="auction_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Id </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Auction Id</span> {{ element.auction.auction_engine_auction_id ? element.auction.auction_engine_auction_id :'-'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="subauction_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subauction Id </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Subauction Id</span>
                                <span *ngIf="element.emd_subauctions && !element.emd_subauctions.length">
                                -
                            </span>
                                <span *ngIf="element.emd_subauctions && element.emd_subauctions.length == 1 ">
                                <span *ngFor="let obj of element.emd_subauctions">
                                    {{ obj.auction.auction_engine_auction_id }}
                                </span>
                                </span>
                                <span *ngIf="element.emd_subauctions && element.emd_subauctions.length > 1 ">
                                <a href="javascript:void(0);" style="color:#336daa"
                                    (click)="viewAllIds(element.emd_subauctions , 'subids')">View all Subaction Ids</a>
                            </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="lot_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Id </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="mobile-label">Lot Id</span>
                                <span *ngIf="element.emd_lots && !element.emd_lots.length">
                                -
                            </span>
                                <span *ngIf="element.emd_lots && element.emd_lots.length == 1 ">
                                <span *ngFor="let obj of element.emd_lots">
                                    {{ obj.lot.lot_number }}
                                </span>
                                </span>
                                <span *ngIf="element.emd_lots && element.emd_lots.length > 1 ">
                                <a href="javascript:void(0);" style="color:#336daa"
                                    (click)="viewAllIds(element.emd_lots , 'lotids')">View all
                                    Lot Ids</a>
                            </span>

                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="emd_charge_type">
                        <th mat-header-cell *matHeaderCellDef> Charge Type </th>
                        <td mat-cell *matCellDef="let element">
                            Auction
                        </td>
                    </ng-container> -->

                        <!-- <ng-container matColumnDef="auction__name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Name</th>
                        <td mat-cell *matCellDef="let element"> {{ element.auction ? element.auction.name : '' }} </td>
                    </ng-container> -->

                        <!-- <ng-container matColumnDef="emd_amount_type">
                        <th mat-header-cell *matHeaderCellDef> Amount Type </th>
                        <td mat-cell *matCellDef="let element"> Flat </td>
                    </ng-container> -->

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                            <td mat-cell *matCellDef="let element"> <span class="mobile-label">Amount</span> {{ element.amount }} </td>
                        </ng-container>

                        <ng-container matColumnDef="emd_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicable on </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- {{element.emd_type}} -->
                                <span class="mobile-label">Applicable On</span> {{element.emd_type == 'AU' ? 'Auction' : element.emd_type == 'SW' ? 'Subauction' : element.emd_type == 'LC' ? 'Lot Count' : 'Lot'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <span class="mobile-label">Actions</span>
                                <div>
                                    <button class="simple-btn " mat-button (click)="action('Edit',element.id)">
                                    <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                                </button>
                                    <button mat-button class="simple-btn delet-icon" (click)="action('Delete',element.id)">
                                    <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                            title="Delete"></span>
                                </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tblColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tblColumns"></tr>
                    </table>
                    <div class="no-record" *ngIf="!emdDataSouce?.data?.length">No records found</div>
                </div>
            </div>
            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</div>