<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">Realization</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body overflow-hidden">
        <form [formGroup]="realizationForm">
            <div class="row">
                <div class="col-12 mb-3" *ngIf="mainData && mainData?.proof_of_payment">
                    <p>Payment Proof</p>
                    <img [src]="mainData?.proof_of_payment" class="img-fluid realise-img">
                </div>
                <div class="col-12 mb-3">
                    <label class="d-block f-12">Kindly confirm if this payment has been received in our bank
                        account <span class="text-warning">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="response">
                        <mat-radio-button [value]=true (change)="updateValidation($event.value)">Yes</mat-radio-button>
                        <mat-radio-button [value]=false (change)="updateValidation($event.value)">No</mat-radio-button>
                    </mat-radio-group>
                </div>                
                <div class="col-12 mb-3">
                    <label class="d-block f-12">Receipt date <span class="text-warning" *ngIf="isMandatory">*</span></label>
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" [max]="maxDate" [matDatepicker]="receiptPicker" formControlName="actual_receipt_date" placeholder="Receipt date" readonly>
                        <mat-datepicker-toggle class="calender-icon" matSuffix [for]="receiptPicker">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #receiptPicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="realizationForm.get('actual_receipt_date')?.invalid && realizationForm.get('actual_receipt_date')?.touched">
                        <span class="validation-err d-block"
                            *ngIf="realizationForm.get('actual_receipt_date')?.errors?.required">
                            Please select receipt date.
                        </span>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label class="d-block f-12">Transaction reference number <span class="text-warning" *ngIf="isMandatory">*</span></label>
                    <mat-form-field class="datepicker-input" floatLabel="never">
                        <input matInput class="form-control" autocomplete="off" type="text" maxlength="50" formControlName="actual_transaction_reference_number" placeholder="Transaction reference number">
                    </mat-form-field>
                    <div *ngIf="realizationForm.get('actual_transaction_reference_number')?.invalid && realizationForm.get('actual_transaction_reference_number')?.touched">
                        <span class="validation-err d-block" *ngIf="realizationForm.get('actual_transaction_reference_number')?.errors?.required">
                            Please provide transaction reference number.
                        </span>
                    </div>
                </div>
                <div class="col-12 mb-3" *ngIf="realizationForm.get('response').value == false">
                    <label class="d-block f-12">Remarks</label>
                    <mat-form-field floatLabel="never">
                        <textarea type="text" autocomplete="off" matInput placeholder="Description" formControlName="remarks"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-12 text-right dialog-actions-container">
                    <button class="default-btn-outline plr-md-40 mr-2" (click)="backClick()" mat-button>Cancel</button>
                    <button class="default-btn plr-md-40" [disabled]="realizationForm.invalid" [ngStyle]="{'cursor': realizationForm.valid ? 'pointer' : 'not-allowed'}" (click)="submit()" mat-button>Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>