/* new css added start here */

.header-btn button {
    padding: 5px 20px;
    color: #fff;
    font-size: 14px;
    background-color: #0d4fa3;
  }
  .exportWrapper button {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 5px 20px;
  }
  .exportWrapper button.default-btn {
    background: #00a767;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    margin-right: 12px;
    padding: 5px 20px;
  }

  .asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
  }
  .asset-table table {
    max-width: 100%;
    overflow: auto;
    width: 100%;
  }
  .asset-table table th,
  .asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
  }
  .asset-table table td:first-child {
    border-top: 0px;
  }
  .asset-table table td.mat-column-is_active {
    color: #00a767;
  }
  .asset-table table td button.table-row-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    vertical-align: middle;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
  }

  .asset-table table td button.table-row-btn.wllet-icon img {width: 18px;}
  .asset-table table td button.table-row-btn.decline-icon img,
  .asset-table table td button.table-row-btn.transection-icon img {width: 20px;}

  .theme-btn{
    background: #00a767;
    font-size: 14px;
    color: #fff;
    margin-right: 12px;
    padding: 3px 17px;
    line-height: 20px;
    height: 34px;
  }
  .asset-table table td button.table-row-btn span {
    font-size: 18px;
  }
  .asset-table table td button.table-row-btn.delet-icon {
    background-color: #ffefec;
  }
  .asset-table table td button.table-row-btn:last-child {
    margin-right: 0px;
  }
  .asset-table table tr:nth-child(even) {
    background-color: #f8fbfd;
  }
  .asset-table table .mat-header-row th {
    background-color: #0d4fa3;
    color: #fff;
  }
  .main-heading {
    font-size: 32px;
    font-weight: 700;
  }

  .mat-card {
    padding: 0px;
  }
  .default-tbl {
    border: 1px solid #e0e4e8;
    overflow: auto;
  }
  .default-tbl mat-row,
  .default-tbl .mat-header-row {
    border-color: #e0e4e8;
  }
  .default-tbl mat-cell,
  .default-tbl .mat-cell {
    color: #333;
    opacity: 0.87;
    white-space: nowrap;
    height: 42px;
    padding: 15px 21px;
  }
  .default-tbl mat-cell:first-of-type,
  .default-tbl mat-header-cell:first-of-type,
  .default-tbl mat-footer-cell:first-of-type {
    padding-left: 21px;
    min-width: 50px;
    padding-right: 0px;
  }
  .default-tbl mat-header-cell,
  .default-tbl .mat-header-cell {
    font-size: 12px;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
    min-width: 100px;
  }
  .default-tbl mat-row:hover {
    background-color: #f8fbfd;
  }
  .asset-table table tr:hover {
    background-color: #f8fbfd;
  }
  .e-grid .e-rowcell,
  .e-grid .e-groupcaption,
  .e-grid .e-indentcell,
  .e-grid .e-recordplusexpand,
  .e-grid .e-recordpluscollapse,
  .e-grid .e-detailrowcollapse,
  .e-grid .e-detailrowexpand,
  .e-grid .e-detailindentcell,
  .e-grid .e-detailcell {
    border-color: #e0e4e8;
  }
  
  .table-pagination ul {
    vertical-align: middle;
    float: right;
  }
  .table-pagination ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .table-pagination ul li a {
    background: #e0e4e8;
    margin-left: 8px;
    border: 0px solid #e9eef2;
    text-align: center;
    padding: 0px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 8px;
    color: #000000;
  }
  .table-pagination ul li.active a {
    background-color: #0d4fa3;
    color: #fff;
  }
  .table-pagination ul li.previous-item.disabled a,
  .table-pagination ul li.next-item.disabled a {
    background: #e0e4e8;
    border: 0px;
    cursor: not-allowed;
  }
  .table-pagination ul li.disabled:hover {
    cursor: not-allowed;
  }
  .table-pagination .table-recond {
    float: left;
    vertical-align: middle;
  }
  .table-pagination ul li.previous-item a,
  .table-pagination ul li.next-item a {
    background-color: #fff;
    border: 1px solid #0d4fa3;
  }
  .table-pagination ul li a span.material-icons {
    font-size: 28px;
    line-height: 46px;
    color: #0d4fa3;
  }
  .table-pagination ul li.previous-item.disabled a span.material-icons,
  .table-pagination ul li.next-item.disabled a span.material-icons {
    color: #989898;
  }
  .no-record {
    padding: 10px;
  }
  
  
  

  
  @media screen and (max-width: 767px) {
 
    .main-heading {
      font-size: 24px;
      margin-bottom: 15px;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
      line-height: 28px;
    }
    .save-btn button {
      padding: 5px 35px;
    }
    .used-upload-section .title {
      font-size: 20px;
    }
  }
  

  .asset-table table td button.table-row-btn {
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
    border: 1px solid #eee;
}
button.table-row-btn.ng-star-inserted img {
  width: 25px;
}



.user-management .title{
  font-size: 16px;
    background: #0f3d94;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
    margin:0px 0px 10px;
}

.user-management {border: 1px solid #cdd6dc;
    margin-bottom: 15px!important;
    background-color: #fdfdfd;
    border-radius: 8px;
    
  }
  .user-management .add-certificate-section{display: flex;flex-wrap: wrap;}
  .user-management label {
    font-size: 12px;
    color: #77828a;
    font-weight: 500;
}
.taxes-chosen{margin:0px;padding:0px;list-style: none;margin-bottom: 10px;display: flex;
  flex-wrap: wrap;}
  .taxes-chosen li a{
    font-size: 12px;
    background: #c9c9c9;color: #000;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 5px;
    position: relative;
    color: #fff;
  }
.taxes-chosen li a i {
  margin-left: 1em;
}
.taxes-chosen li a.active {
  background:  #0f3d94!important;
}


.m-t-3{margin-top: 25px;}


.cust-us-wdth  { width: 97%; 
    margin: 0 auto 1em !important; }

    .save-btn.text-right {
      margin-bottom: 1em;
  }

  .totalamount.mb-3 {
    margin: 0px !important;
    background: #eee;
    padding: 10px;
    border: 1px solid #ededed;
    font-weight: 500;
}