.compare-tbl{
    border: 1px solid #ccc;
}
.compare-tbl tr td{
    padding: 15px;
    text-align: center;
}
.compare-tbl tr td:first-child{
    font-weight: 600;
    text-align: left;
}
.compare-tbl tr:nth-child(even){
    background: #f1f1f1;
}
.compare-box {
    background-color: #fff;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.compare-div {
    flex: 1 1;
    padding: 7.5px;
}
.deail-table {
    border: 1px solid #eee;
}

.deail-table li {
    padding: 10px;font-size:12px;   
}

.deail-table li:nth-child(odd) {
    background: #fcfcfc;
}
.deail-table li span.compare-label {
    margin-right: 10px;
    font-weight: 500;
    display: inline-block;
    width: 30%; 
    vertical-align: text-top;
}
li.heading-compare {
    padding: 0px !important;
}

.assets-modal {min-height: 65px;}
.deail-table li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.ups-field {    border: 1px dashed #3781da;
    margin: 10px;
    background: #f1f6fb !important;
}

.compare-headind  {
    background: transparent linear-gradient( 
105deg
 , #1551B5 0%, #A5171D 100%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    
    padding: 15px 20px;
    color: #fff;
    margin-top: 1em;
    margin-bottom:0px;
}
.compare-title {color: #fff;font-size: 18px; margin: 0px;}
.compare-headind p {color: #fff;font-size: 13px; font-style: italic; margin: 5px 0px 0px;}
 
.deail-table .compare-label{font-weight: 600;}
.deail-table h3{margin: 0px; background: transparent linear-gradient(105deg,#1551b5,#a5171d 100%,#000 0) 0 0 no-repeat padding-box; color:#fff;padding:10px;font-size:16px;margin-top:1em;}
li.heading-compare h3 {
    margin: 0px !important;
}

.deail-table li .remove-compare img {width: 15px; height: auto;}

.remove-compare {
    width: 35px;
    min-width: inherit;
    margin-left: 0;
    height: 34px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: #ffefec;
}

@media(max-width:767px){
    .compare-parent button {
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}
@media(max-width:768px){
    .deail-table li {
        padding: 5px;
        font-size: 12px;
    }
    .compare-container .product-summery {
        border-top: 1px solid #c4cfd8;
        display: none;
    }
    .compare-container .product-wrap {
        width: 100%;
    }
    .pluc-icon[_ngcontent-chp-c14] span[_ngcontent-chp-c14] {
        font-size: 20px;
        font-weight: 500;
    }
    .compare-container .pluc-icon {
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
    }
    .compare-div {max-width: 100%; flex: 1 1 50%}
}

@media(max-width:640px){
    .table td, .table th {
        padding: .5rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    .compare-headind {
        background: transparent linear-gradient( 
    105deg
     , #1551B5 0%, #A5171D 100%, #000000 100%) 0% 0% no-repeat padding-box;
        border-radius: 8px 8px 0px 0px;
        padding: 15px 10px;
        color: #fff;
        margin-top: 1em;
        margin-bottom: 0px;
    }    
    .deail-table li span.compare-label {
        margin-right: 0px;
        font-weight: 500;
        display: block;
        width: 100%; 
    }
    span.compare-label {
        font-weight: 500;
    }
    .compare-parent {
        font-size: 12px;
    }
    h2.compare-title {
        font-size: 16px;
        margin-bottom:0em;
        
    }
    .deail-table h3 {
        font-size: 14px;
       
    }
}
span.compare-value {
    display: inline-block;
    width: 65%;
    vertical-align: text-top;
}




.asset-name p{margin: 0px;display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;}

    .Equipment-Information li {
        background: #eaf2ff !important;
        border-bottom: 1px solid #deee;
    }


    .compare-parent table th {
        background: #eee;
    }
    .compareimg {
        height: 160px;
        display: block;
        margin: 0 auto;
        object-fit:contain;
    }
    .primarycompareimg{position: relative;}