<div class="container-fluid">
  <div class="text-right"><button class="btn default-btn mt-3" (click)="redirectToListing()">Make Another
      Comparison</button> </div>
      <div class="compare-box">
  <div class="compare-headind">
    <h2 class="compare-title">Compare</h2>
    <p *ngIf="checkWidth()">You can compare a minimum of two and maximum three equipments.</p>
    <p *ngIf="!checkWidth()">You can compare a maximum of two equipments.</p>
  </div>

  <div class="compare-parent">
    <table class="table table-striped table-bordered">
      <tr>
        <th style="background:#fff;"></th>
        <td *ngFor="let equipmentDetails of compareList;index as i" class="primarycompareimg">
          <img src="{{equipmentDetails?.primary_image}}" class="img-fluid compareimg" alt="">
          <span class="remove-compare" *ngIf="this.compareList?.length > 2" (click)="delete(i)"><img src="../../../assets/images/Delete_icon.svg"></span>
        </td>
      </tr>
      <tr>
        <th>Asset ID</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.id}}</td>
      </tr>
      <tr>
        <th>Asset Name</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{compareList[i].product_name}}</td>
      </tr>
      <tr>
        <th>Brand/Model</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.brand?.display_name}} /
          {{equipmentDetails?.model?.name}}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.category?.display_name}}</td>
      </tr>
      <tr>
        <th>Manufacturing Year</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.mfg_year}}</td>
      </tr>
      <tr>
        <th>Price (Excl. Tax.)</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.selling_price ? equipmentDetails?.selling_price : 'NA'}}</td>
      </tr>
      <tr *ngIf="type=='new'">
        <th>Unique Selling Features</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.selling_price ? equipmentDetails?.selling_price : 'NA'}}</td>
      </tr>
      <!-- <tr>
        <th>Engine Power</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.engine_number}} (cc)</td>

      </tr> -->
      <!-- <tr>
        <th>Gross Weight</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.gross_Weight}} (Kg)</td>
      </tr>
      <tr>
        <th>Operating Weight</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.operating_weight}} (Kg)</td>
      </tr>
      <tr>
        <th>Bucket Capacity</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.bucket_capacity}} (Kg)</td>
      </tr>
      <tr>
        <th>Lifting Capacity</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.lifting_capacity}} (kg)</td>
      </tr> -->
        <tr *ngFor="let header of dynamicTechArray">
          <th>{{header}}</th>
          <td *ngFor="let equipmentDetails of compareList;index as i">{{getTechFieldValue(equipmentDetails,header)}}</td>
          <!-- <ng-container *ngFor="let equipmentDetails of compareList;index as i">
          <td *ngFor="let tech of equipmentDetails?.tech_fields;index as k">
              {{tech?.field_value}}
          </td> -->
        </tr>
        <!-- </ng-container>
      </tr> -->
      <!-- <tr>
        <th>Motor Operating Hours</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">{{equipmentDetails?.motor_operating_hours ? equipmentDetails?.motor_operating_hours : 'NA'}}</td>
      </tr> -->
      <tr *ngIf="type == 'used'">
        <th>Fuel Type</th>
        <td *ngFor="let equipmentDetails of compareList;index as i">
          {{getEquipmentFuelType(equipmentDetails?.fuel_type)}}</td>
      </tr>
      <tr>
        <th></th>
        <td  *ngFor="let equipmentDetails of compareList;index as i">
          <button *ngIf="type=='used'" class="btn default-btn"
            [routerLink]="['/used-equipment-dashboard/equipment-details/'+compareList[i].id]">View Details</button>
          <button *ngIf="type=='new'" class="btn default-btn"
            [routerLink]="['/new-equipment-dashboard/equipment-details/'+compareList[i].id]">View Details</button>

        </td>
      </tr>
    </table>
    
  </div>
  <!-- <div class="" *ngIf="equipmentDetails?.tech_fields?.length && type == 'new'">
                    
      <div class="deail-table">
        <h3>Equipment Information</h3>
        <ul class="list-unstyled Equipment-Information">
          
         <ng-container *ngFor="let details of compareList">
          <li *ngFor="let tech of details?.tech_fields">
            <span class="compare-label" [innerHTML] = "tech?.field_name"></span>
            <span class="compare-value">{{tech?.field_value}} {{(tech?.field_unit)}}</span>
          </li>
         </ng-container>
        </ul>
      </div>
    </div> -->
  <div class="back-btn mt-3 mb-3 text-right pr-3">
    <button *ngIf="type=='new'" class="btn default-btn-outline"
      [routerLink]="['/new-equipment-dashboard/equipment-list']">Back</button>
    <button *ngIf="type=='used'" class="btn default-btn-outline"
      [routerLink]="['/used-equipment-dashboard/equipment-list']">Back</button>

  </div>

</div>
</div>