/* table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eff0f2;
    margin: 10px 0 30px;
    overflow: hidden;
    @media only screen and (max-width:991px){
        min-width: 1000px;
    }
        
    }
    table th {
        background: #eff0f2;
        font-size: 13px;
        padding: 13px 10px;
        text-align: left;
    }
    tbody
        tr
            td {
                font-size: 13px;
                color: #3c3c3c;
                padding: 15px 10px;
                border-bottom: 1px solid #eff0f2;
            }
        
            tbody tr:last-child
            td {
                border-bottom: 0;
            }

.custom-table-main {width:80% !important;float: right;}
.custom-table-main table{border-radius: 0px;margin-top:0px}
.custom-table-main table th{background: #0d4fa3; color: #fff;font-weight: 500;}
.custom-table-main table tr td{border-bottom:1px #eff0f2 solid;}
.custom-table-main table th, .custom-table-main table td{font-size: 15px !important;}
.excel-export-section {
    background: #fafafa;
    padding: 10px;
    border: 1px #eff0fc solid;
    border-bottom: 0px;
}
.excel-export-section button {
    background: #009a2c;
    border-radius: 0px;
    color: #fff;
}
.user-management-heading, .add-user{display: inline-block;}
.add-user{text-align: right;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-management {
    padding-bottom: 30px;
}
.custom-mat-table th, .custom-mat-table td {
    text-align: left !important;
    padding-left: 10px !important;
    padding-right: 10px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 100%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
} */

/* new css added start here */

.header-btn button {padding: 5px 20px; font-size: 14px; color: #fff; background-color: #0d4fa3;}
.header-btn {display: inline-block; vertical-align: middle;}
.excel-export-section {display: inline-block; vertical-align: middle;}
.excel-export-section button {background-color: #00a767; font-size: 14px; color: #fff; margin-right: 12px; padding: 5px 20px;}

.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 34px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.table-row-btn span {font-size: 18px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;} 
.main-heading {font-size: 32px; font-weight: 700;}

.default-tbl {border: 1px solid #e0e4e8; overflow: auto;}
.default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e4e8;}
.default-tbl mat-cell, .default-tbl .mat-cell {color: #333; opacity: 0.87; white-space: nowrap; height: 42px; padding: 15px 21px;}
.default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
.default-tbl mat-header-cell, .default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.default-tbl mat-row:hover {background-color: #f8fbfd;}
.asset-table table tr:hover {background-color: #f8fbfd;}
.e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-detailrowcollapse, 
.e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {border-color: #e0e4e8;}

.table-pagination ul {vertical-align: middle; float: right;}
.table-pagination ul li {display: inline-block; vertical-align: middle;}
.table-pagination ul li a {background: #e0e4e8; margin-left: 8px; border: 0px solid #e9eef2; text-align: center; padding: 0px; width: 46px; height: 46px; line-height: 46px; border-radius: 8px; color: #000000;}
.table-pagination ul li.active a {background-color: #0D4FA3; color: #fff;}
.table-pagination ul li.previous-item.disabled a, .table-pagination ul li.next-item.disabled a{background: #e0e4e8; border: 0px; cursor: not-allowed;}
.table-pagination ul li.disabled:hover {cursor: not-allowed;}
.table-pagination .table-recond {float: left; vertical-align: middle;}
.table-pagination ul li.previous-item a, .table-pagination ul li.next-item a {background-color: #fff; border: 1px solid #0D4FA3;}
.table-pagination ul li a span.material-icons {font-size: 28px; line-height: 46px; color: #0D4FA3;} 
.table-pagination ul li.previous-item.disabled a span.material-icons, .table-pagination ul li.next-item.disabled a span.material-icons {color: #989898;}
.no-record {padding: 10px;}

.header-btn button i {display: none;}
/* new css added end here */




@media screen and (max-width: 767px) {

  
    .main-heading {font-size: 24px; margin-bottom: 15px;}
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}


    .excel-export-section button {font-size: 0px; height: 34px;}
  .excel-export-section button i {
    font-size: 18px; 
    padding-top: 0px;
    padding-right: 0px !important;
  }
  .excel-export-section, .header-btn{vertical-align: middle;}
  .header-btn button {font-size: 0px; height: 40px;}
  .header-btn button i {font-size: 18px; display: block; padding-top: 6px;}

  
}

@media screen and (max-width: 576px) {

    .exportWrapper button {min-width: 40px; padding: 6px 10px !important;}
    .header-btn button {min-width: 40px; padding: 6px 10px !important;}
}
