<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/products/new-products']">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New products</li>
                </ol>
            </div>

            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-5 col-sm-6 col-6">
                    <h3 class="admin-page-title">New Products</h3>
                </div>
                <div class="admin-page-buttons col-lg-6 col-md-7 col-sm-6 col-6">
                    <div class="excel-export-section">
                        <button mat-button (click)="export()">
                            <i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button></div>
                    <div class="header-btn">
                        <button mat-button [routerLink]="['/admin-dashboard/products/new-products-upload']">
          <i class="fa fa-plus" aria-hidden="true"></i>  Add Product</button></div>
                </div>
            </div>
            <div class="user-management-top-section">
                <div class="row mt-3">
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                                <mat-option>Select Status</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="custom-table-main">
                <div class="desktop-table">
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Asset Id</span> {{row.id}} </td>
                                </ng-container>

                                <ng-container matColumnDef="category">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Category</span> {{row.category.display_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="brand">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Brand</span> {{row.brand.display_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="model">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Model</span> {{row.model.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="selling_price">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class=""> Price </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Price</span> {{row.selling_price}} </td>
                                </ng-container>
                                <ng-container matColumnDef="asset_status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Assets Status </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Assets Status</span> {{getRowstatus(row.status)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="seller">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller &amp; Type </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Seller &amp; Type</span> {{row.seller.first_name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="mfg_year">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mfg. Year </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Mfg. Year</span> {{row.mfg_year}} </td>
                                </ng-container>
                                <ng-container matColumnDef="created_at">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Created Date</span> {{row.created_at | date : 'medium'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">  Location</span> {{row.location.city}}{{row.location.state}}{{row.location.country}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="is_active">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">  Active</span> {{row.is_active }} </td>
                                </ng-container>
                                <ng-container matColumnDef="Actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">  Action</span>
                                        <button class="table-row-btn" mat-button (click)="editRecord(row)"><span><img
                      src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span></button>
                                        <!-- <button class="table-row-btn delet-icon" (click)="deleteAsset(row?.id)" mat-button><span><img
                      src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span></button> -->
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div class="no-record" *ngIf="norecordvariable">No records found</div>
                        </div>
                        <div class="clearfix"></div>
                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
                    </div>
                </div>



            </div>
        </div>
    </div>
</mat-card>