/* table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #eff0f2;
    margin: 10px 0 30px;
    overflow: hidden;
    @media only screen and (max-width:991px){
        min-width: 1000px;
    }
        
    }
    table th {
        background: #eff0f2;
        font-size: 13px;
        padding: 13px 10px;
        text-align: left;
    }
    tbody
        tr
            td {
                font-size: 13px;
                color: #3c3c3c;
                padding: 15px 10px;
                border-bottom: 1px solid #eff0f2;
            }
        
            tbody tr:last-child
            td {
                border-bottom: 0;
            }

.custom-table-main {width:80% !important;float: right;}
.custom-table-main table{border-radius: 0px;margin-top:0px}
.custom-table-main table th{background: #0d4fa3; color: #fff;font-weight: 500;}
.custom-table-main table tr td{border-bottom:1px #eff0f2 solid;}
.custom-table-main table th, .custom-table-main table td{font-size: 15px !important;}
.excel-export-section {
    background: #fafafa;
    padding: 10px;
    border: 1px #eff0fc solid;
    border-bottom: 0px;
}
.excel-export-section button {
    background: #009a2c;
    border-radius: 0px;
    color: #fff;
}
.user-management-heading, .add-user{display: inline-block;}
.add-user{text-align: right;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-management {
    padding-bottom: 30px;
}
.custom-mat-table th, .custom-mat-table td {
    text-align: left !important;
    padding-left: 10px !important;
    padding-right: 10px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 50%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
}
.custom-file {
    height: 46px;
}
.custom-file .custom-file-label {
    padding: 0;
    margin-bottom: 0;
}
.custom-file .upload-icon {
    width: 34px;
    height: 42px;
}
.custom-file .custom-file-label {
    line-height: 1;
}
 */

/* .main-div {width:80% !important;float: right;}

.category-brand-heading {display: inline-block;}

.category-brand {
  padding-bottom: 30px;
}

.main-table-section {
  padding-top: 15px;
} */

 
 /* new css added start here */ 
 button.theme-btn.export-btn.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
    margin-left: 1em;
  }
  .sele-master-form label {color: #77828a; font-weight: 500;} 
  .cooling-box .mat-select {width: 100%; background: #f5f8fa !important; height: 40px; border-radius: 6px 0px 0px 6px;
    border: 1px solid #c4cfd8 !important; border-right: 0px !important;}
    .cooling-box .mat-input-element {border-radius: 0px 6px 6px 0px;}
   .mat-card {padding: 0px;}
   .header-btn button {padding: 5px 20px; color: #fff; font-size: 14px; background-color: #0d4fa3;}
   .sub-section-tab .title {font-size: 24px;}
   .asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
   .asset-table table {max-width: 100%; overflow: auto;}
   .asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
   .asset-table table td:first-child {border-top: 0px;}
   .asset-table tr td button.simple-btn {width: 35px; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
   .asset-table table td button.simple-btn span {font-size: 18px;}
   .asset-table tr td button.simple-btn:last-child {margin-right: 0px;}
   .asset-table tr:nth-child(even){background-color:#f8fbfd;}
   .asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
   .main-heading {font-size: 32px; font-weight: 700;}
  
   .mat-card {padding: 0px;}
   .default-tbl {border: 0px; overflow: auto;}
   .default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e4e8;}
   .default-tbl mat-cell, .default-tbl .mat-cell {color: #333; font-size: 12px; font-weight: 600; white-space: nowrap; height: 42px; padding: 15px 21px;}
   .default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
   .asset-table .default-tbl .mat-row:nth-child(odd){background-color:#f8fbfd;}
   .asset-table .default-tbl .mat-cell .simple-btn {width: 35px; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
   .asset-table .default-tbl .mat-cell .simple-btn mat-icon {font-size: 18px; width: auto; height: auto;}
   .default-tbl .mat-cell.mat-column-status {color: #00a767;} 
   .default-tbl mat-header-cell, .default-tbl .mat-header-cell {
     font-size: 12px;
     line-height: 21px;
     padding: 0 21px 0 21px;
     white-space: nowrap;
     height: 42px;
     min-width: 100px;
  }
  .default-tbl mat-row:hover {background-color: #f8fbfd;}
  .asset-table tr:hover {background-color: #f8fbfd;}
  .e-grid .e-rowcell, .e-grid .e-groupcaption, .e-grid .e-indentcell, .e-grid .e-recordplusexpand, .e-grid .e-recordpluscollapse, .e-grid .e-detailrowcollapse, 
  .e-grid .e-detailrowexpand, .e-grid .e-detailindentcell, .e-grid .e-detailcell {border-color: #e0e4e8;}
  
  .table-pagination .mat-paginator-container {padding: 0px;}
  .table-pagination .mat-paginator-container .mat-paginator-range-label {width: 100%; text-align: right; display: inline-block;}
  .table-pagination .mat-paginator-range-label {margin: 0px; float: left; font-size: 18px;}
  .table-pagination .mat-icon-button {width: 52px; height: 52px; background-color: #0f3d94; color: #fff;}
  .table-pagination .mat-icon-button.mat-button-disabled {background-color: #e9eef2; opacity: 1;} 
  
  .mat-paginator-range-label {margin: 0px; float: left;}
  .mat-paginator-container {padding:  0px; display: block;}
  .mat-paginator-range-actions {display: block; text-align: right;} 
  .mat-paginator-range-label {float: left;}
  .mat-icon-button {width: 52px; height: 52px; line-height: 52px; text-align: center; background-color: #eee; border-radius: 50%;}
   /* new css added end here */
  
   .export-btn {background: #00a767; padding: 2px 20px; border: 0px;}
   .markup-section {
    border: 1px solid #cdd6dc;
      border-radius: 8px;
      background: #fdfdfd;
  }
  .markup-section .markup-section-heading h3 {
    font-size: 16px;
    background: #0f3d94;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }
  .markup-section .markup-section-body {padding: 10px;}
  .sele-master-form label {color: #77828a; font-weight: 500;}
     

  
  @media screen and (max-width: 767px) {

    .cooling-select .cooling-box {padding: 0px 15px !important;}
    .cooling-box .mat-select {border-right: 1px solid #c4cfd8!important;}
    .main-heading {font-size: 24px; margin-bottom: 15px;}
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}
    .save-btn button {padding: 5px 35px;}
    .used-upload-section .title {font-size: 20px;}
    .add-user button {height: 36px;}
    .export-btn {margin-top: 10px; line-height: 26px;}
    .theme-btn {height: 36px;}
  }