<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sale Master</li>
                </ol>
            </div>

            <div id="page-wrapper">
                <div class="admin-page-heading">
                    <div class="admin-page-header col-lg-6 col-md-12">
                        <h3 class="admin-page-title">Sale Master</h3>
                    </div>
                </div>

                <div class="markup-section mb-3">
                    <div class="markup-section-heading">
                        <h3 class="admin-page-title">Add Sale Master</h3>
                    </div>
                    <div class="markup-section-body">
                        <form [formGroup]="SaleMstrFrmGrp" class="sele-master-form mb-3">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                                    <!-- <label class="f-12 d-block">Select Type</label>
                        <mat-select [(ngModel)]="sellModelData.user_role" placeholder="Select Type"
                            (selectionChange)="UserRoleChange(sellModelData.user_role)" formControlName="userRole">
                            <mat-option>Select Type</mat-option>
                            <mat-option *ngFor="let type of UserRoleTypeArray" [value]="type.typeName">
                                {{ type.typeName }}
                            </mat-option>
                        </mat-select> -->

                                    <label class="form-label f-12 d-block" for="">Seller Type</label>
                                    <mat-select placeholder="Select Seller Type" [(ngModel)]="sellModelData.user_role"
                                        (selectionChange)="sellerTypeSelect(sellModelData.user_role)"
                                        formControlName="userRole">
                                        <mat-option *ngFor="let type of sellerTypeArray" [value]="type.value">
                                            {{ type.typeName }}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="(SaleMstrFrmGrp.get('userRole')?.touched) && 
                                    SaleMstrFrmGrp?.get('userRole')?.hasError('required')">
                                        <span class="validation-err">Please select seller type</span>
                                    </div>
                                </div>

                                <!-- <div *ngIf="userIdHiddenFlag || partnerHiddenFlag" class="col-sm-4 mb-3">
                                <label class="f-12 d-block">Select User</label>
                                <mat-select *ngIf="userIdHiddenFlag" placeholder="Select User"
                                    [(ngModel)]="sellModelData.user_name" required #User [value]="User" name="User"
                                    formControlName="User" (selectionChange)="UserChange($event.value , isSellerList)">
                                    <mat-option>Select User</mat-option>
                                    <mat-option *ngFor="let x of UsersJData" [value]="x.cognito_id">
                                        {{ x.first_name }}
                                    </mat-option>
                                </mat-select>

                                <mat-select *ngIf="partnerHiddenFlag" placeholder="Select User"
                                    [(ngModel)]="sellModelData.user_name" required #User [value]="User" name="User"
                                    formControlName="User" (selectionChange)="UserChange($event.value , isSellerList)">
                                    <mat-option>Select User</mat-option>
                                    <mat-option *ngFor="let x of UsersJData"
                                        [value]="x.user && x.user.cognito_id ? x.user.cognito_id : ''">
                                        {{ x.user && x.user.first_name ? x.user.first_name : '' }}
                                    </mat-option>
                                </mat-select>
                            </div> -->

                                <!-- <div *ngIf="mobileHiddenFlag" class="col-sm-4 mb-3">
                                <label class="f-12 d-block">Mobile No.</label>
                                <input matInput [(ngModel)]="sellModelData.mobile_number" type="text" name="mobile"
                                    formControlName="mobile"
                                    class="  ng-pristine ng-invalid ng-invalid-required ng-touched"
                                    placeholder="Enter Mobile No." readonly>
                            </div> -->

                                <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label class="form-label f-12 d-block" for=""> Mobile Number</label>
                                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                        <input matInput [matAutocomplete]="auto1" #trigger="matAutocompleteTrigger" placeholder="Search seller by mobile number" (keyup)="keyPress($event)" type="text" maxlength="256" formControlName='mobile' oninput="this.value=this.value.replace(/[^0-9]/g,'')" (keyup.enter)="keyPress($event);trigger.openPanel()">
                                        <mat-autocomplete #auto1="matAutocomplete">
                                            <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller?.cognito_id)" [value]="seller?.first_name">
                                                {{seller?.first_name}} ({{seller?.mobile_number}})</mat-option>
                                            <mat-option *ngIf="sellerList?.length == 0" value="">No such user exists
                                                with valid Agreement
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <div
                                        *ngIf="(SaleMstrFrmGrp.get('mobile')?.touched) && SaleMstrFrmGrp?.get('mobile')?.hasError('required')">
                                        <span class="validation-err">Please enter the mobile number.</span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                                    <label class="form-label f-12 d-block" for="">User Name</label>
                                    <input matInput [(ngModel)]="sellModelData.user_name" placeholder="User Name"
                                        type="text" formControlName='User' readonly>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-4  mb-3">
                                    <label class="f-12 d-block">Functionality</label>
                                    <mat-select placeholder="Select Functionality" name="functionality"
                                        formControlName="functionality" [(ngModel)]="sellModelData.functionality"
                                        [value]="functionality">
                                        <mat-option>Select Functionality</mat-option>
                                        <mat-option value="assetsale">
                                            Asset Sale
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <!-- <div class="col-sm-4 mb-3">
                                    <label class="d-block f-12">Buy Now Price Approval Required</label>
                                    <mat-select [(ngModel)]="sellModelData.buy_now_price_approval"
                                        placeholder="Select--" formControlName="buyNowPriceApproval">
                                        <mat-option>Select Buy Now Price Approval Required</mat-option>
                                        <mat-option *ngFor="let type of buynowArray" [value]="type.booleanvalue">
                                            {{ type.typeName }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label class="f-12 d-block">Negotiated Sale Approval Required</label>
                                    <mat-select [(ngModel)]="sellModelData.negotiated_sale_approval"
                                        placeholder="Select Approval Required" formControlName="negotiatedSaleApproval">
                                        <mat-option>Select Negotiated Sale Approval Required</mat-option>
                                        <mat-option *ngFor="let type of negotiatedSaleArray"
                                            [value]="type.booleanvalue">
                                            {{ type.typeName }}
                                        </mat-option>
                                    </mat-select>
                                </div> -->

                                <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                                    <label class="f-12 d-block">Cooling Period</label>
                                    <div class="row cooling-select">
                                        <div class="col-sm-5 pr-0 padd-right cooling-box"
                                            ng-class="{'has-error':saleProcesssMasterForm.coolingPeriodIn.$invalid &amp;&amp; submitted}">
                                            <!-- <select [value]="coolingPeriodIn" name="coolingPeriodIn"
                                        formControlName="coolingPeriodIn"
                                        [(ngModel)]="sellModelData.cooling_period_unit"
                                        class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
                                        <option value="Days">Days</option>
                                        <option value="Hours">Hours</option>
                                    </select> -->
                                            <mat-select placeholder="Select Cooling Period" [value]="coolingPeriodIn"
                                                name="coolingPeriodIn" formControlName="coolingPeriodIn"
                                                [(ngModel)]="sellModelData.cooling_period_unit"
                                                class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
                                                <mat-option>Select Cooling Period</mat-option>
                                                <mat-option value="Days"> Days </mat-option>
                                                <mat-option value="Hours"> Hours </mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="col-sm-7 pl-0 padd-left cooling-box"
                                            ng-class="{'has-error':saleProcesssMasterForm.coolingPeriod.$invalid &amp;&amp; submitted}">
                                            <input matInput [(ngModel)]="sellModelData.cooling_period_count"
                                                class=" ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required ng-valid-pattern"
                                                min="0" name="coolingPeriod" formControlName="coolingPeriod"
                                                ng-pattern="/^\d+$/" placeholder="*Cooling Period" type="number" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4 mb-3"
                                    ng-class="{'has-error':saleProcesssMasterForm.emdPeriod.$invalid &amp;&amp; submitted}">
                                    <label class="f-12 d-block">EMD Period</label>
                                    <input matInput [(ngModel)]="sellModelData.emd_period"
                                        class=" ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required ng-valid-pattern"
                                        min="0" name="emdPeriod" formControlName="emdPeriod"
                                        placeholder="Enter EMD Period" type="number" />
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-4"
                                    ng-class="{'has-error':saleProcesssMasterForm.fullPaymentPeriod.$invalid &amp;&amp; submitted}">
                                    <label class="f-12 d-block">Full Payment Period</label>
                                    <input matInput [(ngModel)]="sellModelData.full_payment_period"
                                        class=" ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-required ng-valid-pattern"
                                        min="0" name="fullPaymentPeriod" formControlName="fullPaymentPeriod"
                                        placeholder="Enter Full Payment Period" type="number" />
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4 ml-auto">
                                    <label class="f-12 d-block d-md-none invisible">Full Payment Period</label>
                                    <button type="submit" (click)="SaleMstrSave(sellModelData.id)"
                                        [disabled]="!SaleMstrFrmGrp.valid" class="default-btn px-4 pull-right ng-scope"
                                        ng-if="!isEdit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="category-brand-table">
                    <div class="text-right">
                        <div class="row mb-3">
                            <div class="col-md-4 text-right">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <!-- <input matInput placeholder="" (keyup)="TblSearchMethod($event)" (keydown.enter)="TblSearchMethod($event)" autocomplete="off" type="text" class=""> -->
                                    <input matInput placeholder="Search" [(ngModel)]="searchText"
                                        (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                                </mat-form-field>
                            </div>


                        </div>
                    </div>

                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table w-100" #table mat-table [dataSource]="SellData"
                                matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                (matSortChange)="onSortColumn($event)">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">ID</span> {{ element.id }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef> Type </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Type</span> {{sellerType[element.type] }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="user">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">User</span> {{ element.user.first_name }}
                                        {{element.mobile_number ? '(' + element.mobile_number + ')' : ''}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="functionality">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Sale </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.functionality }} </td>
                                </ng-container>

                                <!-- <ng-container matColumnDef="buy_now_price_approval">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Buy Now Price Approval
                                        Required
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.buy_now_price_approval ? 'Yes' :
                                        'No'
                                        }} </td>
                                </ng-container>

                                <ng-container matColumnDef="negotiated_sale_approval">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Negotiated Sale Approval
                                        Required
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.negotiated_sale_approval ? 'Yes'
                                        :
                                        'No' }} </td>
                                </ng-container> -->

                                <ng-container matColumnDef="cooling_period_unit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cooling Period </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Cooling Period</span> {{ element.cooling_period_count
                                        }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="emd_period">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EMD Period </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">EMD Period</span> {{ element.emd_period }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="full_payment_period">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Payment Period </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Full Payment Period</span> {{
                                        element.full_payment_period }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button mat-button (click)="editSellData(element.id)" class="simple-btn">
                                                <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                                            </button>
                                            <button mat-button (click)="deleteSellData(element.id)" class="simple-btn">
                                                <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
                                            </button>
                                        </div>
                                    </td>

                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="sellDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: sellDisplayedColumns"></tr>
                            </table>
                        </div>
                        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>