

<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Verify</h4>
         <button mat-button (click)="close()" class="close-btn"><img
                src="../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <!--<div>
        <p style="text-align: center; color: red;">{{description}}</p>
    </div>-->
    <div class="popup-body">
       
                    <table class="table table-bordered">
                        <tr>
                            <th>Document Type</th>
                            <th>Document Number</th>
                            <th>Document Image</th>
                        </tr>
                        <tr  *ngFor="let doc of docIds">
                            <td style="text-transform: uppercase;">{{doc.docType}}</td>
                            <td class="f-600">{{doc.docNumber}}</td>

                           
                                <td >    
                                    <div  *ngFor="let url of doc.docUrl">                              
                                    <a [href]="url"   *ngIf="url" class="img-download" target="_blank"> 
                                        <img [src]="url" class="img-thumbnail" style="width: 100px; height: 100px;margin-bottom:5px;object-fit: contain;"></a>
                                    </div>  
                                </td>
                           



                        </tr>
                       
                       
                  
               
            <tr *ngIf="docIds?.length == 0">
              <td  colspan="3">No image uploaded   </td>                                  
        </tr>
        </table>
        <div class="text-right mt-5">
            <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Reject</button>
                <button class="default-btn plr-md-40" (click)="okClick()" mat-button >Verify</button>
        </div>
    </div>
</div>