.popup-hdr {
    font-size: 18px;  
    font-weight: 600;
    color: #fff; 
}

.popup-body {
    padding: 15px; 
    max-height: 80vh;
}


.popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
}
.popup {
    background: #fff;
    border-radius: 20px;
}
/* .close-btn{
    background: transparent;
    float: right;
    border: none;
} */

.close-btn:focus {
    outline: unset !important;
}