.vehicle-dtl{
    padding: 20px 0;
}
.dtl-bx{
    background: #F5F8FA 0% 0% no-repeat padding-box;
    border: 1px solid #C4CFD8;
    border-radius: 16px;
    padding: 20px;
}
.imgbx{
position: relative;
}
.imgbx img{
border: 1px solid #C4CFD8;
border-radius: 10px;
}
.imgbx span{
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 2px 8px;
    background: #0D4FA3;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}
mat-radio-button{
    width: 50%;
}
.vehicle-basic-dtl{
    font-size: 14px;
}
.custom-file {
    height: 46px;
}
.progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
    width: calc(100% - 170px);
}
.mat-input-element, .mat-select{
    background: #fff !important;
}


@media (max-width: 767px) {
    .dtl-bx {background: #fff;}
    .row.vahaan-details-box .col-6 {
        background: #fff;
        width: 48%;
        max-width: 48%;
        margin: 5px;
    }
    .row.vahaan-details-box .col-6 p {
        margin: 0px !important;
    }
    .row.vahaan-details-box .col-6 {
        background: #f0f4f6;
        width: 48%;
        max-width: 48%;
        margin: 3px;
        padding: 5px 15px;
        border: 1px solid #eee;
    }

    .imgbx{
        position: relative;width:100%;
        }
    .imgbx img {width: 100%; margin-bottom: 15px;}
    .vehicle-basic-dtl.pl-30 {padding: 0px;}
  .vehicle-basic-dtl.pr-30 {padding: 0px;}
}