

<section class="vehicle-dtl">
    <form [formGroup]=vaahanDetailsForm>
    <div class="dtl-bx bg-white">
        <div class='row'>
            <div class="col-md-2">
                <div class="imgbx">
                    <span>Used</span>
                    <img *ngIf="this.vaahanDetail?.model?.image_url" [src]="this.vaahanDetail?.model?.image_url" class="img-fluid" alt="">
                    <img *ngIf="!this.vaahanDetail?.model?.image_url && this.vaahanDetail?.category?.img_url" [src]="this.vaahanDetail?.category?.img_url" class="img-fluid" alt="">
                    <img *ngIf="!this.vaahanDetail?.model?.image_url && !this.vaahanDetail?.category?.img_url" src="../../../assets/images/jcbimg.svg" class="img-fluid" alt="">

                </div>
            </div>
            <div class="col-md-10">
                <h3 class="f-20 f-500 mb-3">{{this.vaahanDetailsForm?.get('name')?.value}}</h3>
                <div class="row vahaan-details-box">
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('registrationNumber')?.value">
                        <p class="f-384B63 f-12 mb-0">Registration Number</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('registrationNumber')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('chassisNumber')?.value">
                        <p class="f-384B63 f-12 mb-0">Chassis No.</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('chassisNumber')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('engineNumber')?.value">
                        <p class="f-384B63 f-12 mb-0">Engine No.</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('engineNumber')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('machineSerialNumber')?.value">
                        <p class="f-384B63 f-12 mb-0">Machine Serial No</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('machineSerialNumber')?.value}}</p>
                     </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('enginePower')?.value">
                        <p class="f-384B63 f-12 mb-0">Engine Power (In cc)</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('enginePower')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('grossWeight')?.value">
                        <p class="f-384B63 f-12 mb-0">Gross Weight (In kgs)</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('grossWeight')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('operationWeight')?.value">
                        <p class="f-384B63 f-12 mb-0">Operating Weight (In kgs)</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('operationWeight')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('bucketCapacity')?.value">
                        <p class="f-384B63 f-12 mb-0">Bucket Capacity (In kgs)</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('bucketCapacity')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('liftingCapacity')?.value">
                        <p class="f-384B63 f-12 mb-0">Lifting Capacity (In kgs)</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('liftingCapacity')?.value}}</p>
                    </div>
                    <div class="col-md-3 col-6" *ngIf="vaahanDetailsForm?.get('fuelType')?.value">
                        <p class="f-384B63 f-12 mb-0">Fuel Type</p>
                        <p class="f-14 mb-2" >{{vaahanDetailsForm?.get('fuelType')?.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
