<div class="product-wrapper">

    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buyer Premium Invoice</li>
        </ol>
    </div>

    <div class="admin-page-heading">
        <div class="admin-page-header col-lg-6 col-md-6">
            <h3 class="admin-page-title">Buyer Premium Invoice</h3>
        </div>
    </div>

    <ng-container *ngIf="showForm">
        <div class="user-management">
            <h4 class="title">Invoice </h4>
            <div class="add-certificate-section">
                <form [formGroup]="enterpriseValuationForm">
                    <div class="row m-0">
                        <div class="col-md-6">
                            <label for="" class="f-12 d-block">Service Fee<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Service Fee" autocomplete="off" type="text" formControlName="taxable_amount" readonly>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="text-left">
                                <button class="default-btn  m-t-3" mat-button (click)="viewDetails()">View
                                    Details</button>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="">
                                <ul class="taxes-chosen" *ngIf="gstDetails && gstDetails?.length > 0">
                                    <li><a (click)='is_gst =!is_gst' [ngClass]="(is_gst) ? 'active':''">GST
                                            {{gstDetails[0].service_tax_rate}} <span><i *ngIf='is_gst'
                                                    class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                                    <li><a (click)='is_cgst = !is_cgst' [ngClass]="(is_cgst) ? 'active':''">CGST
                                            {{gstDetails[1].service_tax_rate}}<span><i *ngIf='is_cgst'
                                                    class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                                    <li><a (click)='is_igst = !is_igst' [ngClass]="(is_igst) ? 'active':''">IGST
                                            {{gstDetails[2].service_tax_rate}}<span><i *ngIf='is_igst'
                                                    class="fa fa-times-circle" aria-hidden="true"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="totalamount mb-3">
                                <span>Total Amount(Inc Tax): {{getTotalAmount()}}</span>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Description of Services<span
                                    class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Description of Services" autocomplete="off" type="text" formControlName="services">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Invoice Date<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="Enter Invoice Date" matInput [matDatepicker]="picker3" (click)="picker3.open()" readonly formControlName='invoice_date'>
                                <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Invoice in favour of<span
                                    class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="Invoice in favour of" autocomplete="off" type="text" formControlName="billed_to">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">PO/Ref No.<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="PO/Ref No." autocomplete="off" type="text" formControlName="po_ref_no">
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">PO / Ref Date<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="PO / Ref Date" matInput [matDatepicker]="picker4" (click)="picker4.open()" formControlName='po_ref_date'>
                                <mat-datepicker-toggle matSuffix [for]="picker4" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">SAC Code<span class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="SAC Code" autocomplete="off" type="text" formControlName="sac_code" readonly>
                            </mat-form-field>
                        </div>

                    </div>




                    <div class="row user-management m-0 cust-us-wdth">
                        <div class="col-md-12 p-0">
                            <h4 class="title">User GST details</h4>
                        </div>
                        <div class="add-certificate-section m-0 p-0 col-sm-12">
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Address<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Address" autocomplete="off" type="text" formControlName="billing_address">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                <label for="">Country<span class="validation-err">*</span></label>
                                <div class="contact-person-typeblock">
                                    <mat-form-field floatLabel="never">
                                        <mat-select class="select-new-ui" (selectionChange)="countryChange()" #input formControlName="country">
                                            <!-- <mat-option value="{{con.id}}" *ngFor='let con of country_data'>{{con.name}}</mat-option> -->
                                            <mat-option *ngFor='let con of country_data' [value]="con.id">{{con.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                <label for="">Pincode<span class="validation-err">*</span></label>
                                <div class="contact-person-typeblock">
                                    <mat-form-field>
                                        <input (keyup)="getLocationData()" matInput formControlName="pin_code" maxlength="6" />
                                    </mat-form-field>
                                    <div *ngIf="enterpriseValuationForm?.get('pin_code')?.touched && enterpriseValuationForm?.get('pin_code')?.hasError('required')">
                                        <span class="validation-err">Pincode is required.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                                <label class="d-block f-12">State<span class="validation-err">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="State" formControlName="state_name" />
                                </mat-form-field>
                                <div *ngIf="enterpriseValuationForm?.get('state_name')?.touched && enterpriseValuationForm?.get('state_name')?.hasError('required')">
                                    <span class="validation-err">State is required.</span>
                                </div>
                            </div>

                            <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                                <label class="d-block f-12">City<span class="validation-err">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="City" formControlName="city_name" />
                                </mat-form-field>
                                <div *ngIf="enterpriseValuationForm?.get('city')?.touched && enterpriseValuationForm?.get('city')?.hasError('required')">
                                    <span class="validation-err">City is required.</span>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Registration Number<span
                                        class="validation-err">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Registration Number" autocomplete="off" type="text" formControlName="registration_number">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                    <div class="user-management m-0 cust-us-wdth">
                        <div class="col-sm-12 p-0">
                            <h4 class="title">iQuippo GST details</h4>
                        </div>
                        <div class="row add-certificate-section m-0">
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">State<span class="validation-err">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-select class="select-new-ui" formControlName="gst_state" (selectionChange)="onSellerSelect($event)">
                                        <!-- <mat-option value="{{con.id}}" *ngFor='let con of country_data'>{{con.name}}</mat-option> -->
                                        <mat-option *ngFor='let con of iquippoGstList' [value]="con.state.id">
                                            {{con.state.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <mat-form-field floatLabel="never">
        <input matInput placeholder="State" disabled autocomplete="off" type="text"
            formControlName="gst_state">
    </mat-form-field> -->
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Registration Number<span
                                        class="validation-err">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Registration Number" autocomplete="off" type="text" formControlName="gst_registration_number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>



                </form>
                <div class="row ng-scope w-100">
                    <div class="col-md-12 p-0">
                        <div class="save-btn text-right">
                            <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Cancel</button>
                            <button mat-button class="default-btn" [disabled]="!enterpriseValuationForm.valid" [ngStyle]="{'cursor': enterpriseValuationForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


    <mat-tab-group class="auction-tab">
        <mat-tab label="Invoice To Be Generated">
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-md-3 mb-3 text-right">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('togenerate')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="Enter From Date" matInput [matDatepicker]="picker5" (click)="picker5.open()" readonly [(ngModel)]="fromDate" (dateInput)="filterFromDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker5></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3 ">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="Enter To Date" matInput [matDatepicker]="picker6" (click)="picker6.open()" readonly [(ngModel)]="toDate" (dateInput)="filterFromDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker6></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="desktop-table">
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">

                            <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="invoiceGeneratedData" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">

                                <ng-container matColumnDef="Asset_Id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Asset ID</span> {{row?.equipment?.id ? row?.equipment?.id : '-'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Asset_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Asset Name</span> {{row?.equipment?.product_name ? row?.equipment?.product_name : '-'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Asset_Location">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Location</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Asset Location</span> {{row?.equipment?.asset_address ? row?.equipment?.asset_address : '-'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Buyer_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Name (mobile number)
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Buyer Name (mobile number)</span> {{ row?.buyer?.first_name || row?.buyer?.last_name ? (row?.buyer?.first_name + ' ' + row?.buyer?.last_name) : '-' }} {{row?.buyer?.mobile_number ? '('
                                        + row?.buyer?.mobile_number + ')' : ''}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Seller_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name (mobile number)
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Seller Name (mobile number)</span> {{ row?.equipment?.seller?.first_name || row?.equipment?.seller?.last_name ? (row?.equipment?.seller?.first_name + ' ' + row?.equipment?.seller?.last_name)
                                        : '-'}} {{row?.equipment?.seller?.mobile_number ? '(' + row?.equipment?.seller?.mobile_number + ')' : ''}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Trade_Type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Type </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Trade Type</span> {{row?.trade_type_display_name ? row?.trade_type_display_name : '-'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Total_Price">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Total Price</span> - </td>
                                </ng-container>

                                <ng-container matColumnDef="EMD_Amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EMD Amount</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">EMD Amount</span> - </td>
                                </ng-container>

                                <ng-container matColumnDef="Trade_Amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Amount </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Trade Amount</span> {{row?.amount ? row?.amount : '-'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Sales_Invoice">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales Invoice</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Sales Invoice</span> {{row?.seller_invoice ? row?.seller_invoice : '-'}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Actions</span>
                                        <button type="button" class="table-row-btn" (click)="openGenerateInvoice(row)">
                                            <span><i class="fa fa-file-archive-o" aria-hidden="true"
                                                    title="Generate Invoice"></i></span>
                                        </button>

                                        <button mat-button *ngIf="row?.transaction?.length > 0" class="simple-btn transection-icon table-row-btn" (click)='viewTransaction(row)'>
                                            <span><img src="../../../assets/images/view-transection.svg"
                                                    title="View Transactions"></span>
                                        </button>

                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div class="no-record table-recond" *ngIf="!invoiceGeneratedData?.data?.length">No records found
                            </div>
                        </div>
                    </div>
                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" [pageSize]="10"></mat-paginator>

                </div>




            </div>
        </mat-tab>



        <mat-tab label="Invoice Generated">
            <div class="">
                <div class="text-right">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchTextInvoice" (keyup)="searchInList('generated')">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="Enter From Date" matInput [matDatepicker]="picker7" (click)="picker7.open()" readonly [(ngModel)]="fromDateInvoice" (dateInput)="getGeneratedInvoiceData()">
                                <mat-datepicker-toggle matSuffix [for]="picker7" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker7></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3 ">
                            <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input placeholder="Enter To Date" matInput [matDatepicker]="picker8" (click)="picker8.open()" readonly [(ngModel)]="toDateInvoice" (dateInput)="getGeneratedInvoiceData()">
                                <mat-datepicker-toggle matSuffix [for]="picker8" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" />
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker8></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-8 text-right">
                        <button mat-raised-button color="primary" (click)="exportData()"
                            class="theme-btn">Export</button>
                    </div> -->
                    </div>
                </div>

                <div class="desktop-table">
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="generatedInvoiceData" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">

                                <ng-container matColumnDef="Asset_Id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Asset ID</span> {{row?.unique_control_number}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Asset_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Asset Name</span> {{row?.request_type}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Asset_Location">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Location</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Asset Location</span> {{row?.enterprise}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Buyer_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer Name (mobile number)
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Buyer Name (mobile number)</span> {{row?.reference_number}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Seller_Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name (mobile number)
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Seller Name (mobile number)</span> {{row?.request_date| date:'dd-MM-yyyy'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Trade_Type">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Type </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Trade Type</span> {{row?.trade_type_display_name}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Total_Price">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Total Price</span> Report Generated </td>
                                </ng-container>


                                <ng-container matColumnDef="EMD_Amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EMD Amount</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> EMD Amount</span> Report Generated </td>
                                </ng-container>

                                <ng-container matColumnDef="Trade_Amount">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade Amount </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label"> Trade Amount</span> Report Generated </td>
                                </ng-container>

                                <ng-container matColumnDef="Sales_Invoice">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sales Invoice</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Sales Invoice</span> Report Generated </td>
                                </ng-container>

                                <ng-container matColumnDef="action" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="mobile-label">Actions</span>
                                        <button mat-button *ngIf="row?.transaction?.length > 0" class="simple-btn transection-icon table-row-btn" (click)='viewTransaction(row)'>
                                            <span><img src="../../../assets/images/view-transection.svg"
                                                    title="View Transactions"></span>
                                        </button>

                                        <button mat-button *ngIf="row?.invoice_url != null" class="simple-btn payment-icon table-row-btn" (click)='downloadInvoice(row?.invoice_url)'>
                                            <span><i class="fa fa-download" aria-hidden="true" alt="Download"
                                                    title="Download Invoice"></i></span>
                                        </button>

                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedInvoiceColumns;sticky:true;"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedInvoiceColumns;"></tr>
                            </table>
                            <div class="no-record table-recond" *ngIf="total_count_invoice == 0">No records found</div>
                        </div>
                    </div>
                    <mat-paginator [length]="total_count_invoice" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChangeInvoice($event)" [pageSize]="10"></mat-paginator>

                </div>




            </div>
        </mat-tab>

    </mat-tab-group>
</div>