<main class="container-fluid">

  <section class="myself-details-main-wrapper">

    <div class="row">
      <div class="col-12 p-0">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block"> <span class="step-no"><span class="steps">1</span></span><span
                class="step-lbl">Asset Details</span></div>
            <div class="step-block active"> <span class="step-no"><span class="steps">2</span></span><span
                class="step-lbl">Valuation Details</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                class="step-lbl">Payments</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content-wrapper">
      <div class="raise-insta-val-main-container">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <div class="image-block">
                        <img [src]="this.get_response?.valuation_asset?.category?.vector_img ? this.get_response?.valuation_asset?.category?.vector_img :  'assets/images/valuation-icon.png'" alt="">
                    </div>
                </div>
                <div class="col-sm-10">
                  <div class="detail-container">
                   <div class="val-right-block-head"> <h1 class="info-sub-head">{{this.model_name}}</h1></div>
                    <div class="val-right-block-content no-gutters">
                        <div class="col" *ngIf="get_response?.valuation_asset?.is_engine_number_from_vaahan">
                            <div class="info-block"  >
                                <div class="info-label">Engine Power (In cc)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.engine_power}}</div>
                                
                            </div>
                        </div>
                        
                        <div class="col" *ngIf="get_response?.valuation_asset?.is_gross_weight_from_vaahan">
                            <div class="info-block" >
                                <div class="info-label">Gross Weight (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.gross_Weight}}</div>
                            </div>
                        </div>
                        <div class="col" *ngIf="get_response?.valuation_asset?.operating_weight">
                            <div class="info-block" >
                                <div class="info-label">Operating Weight (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.operating_weight}}</div>
                            </div>
                        </div>
                        <div class="col" *ngIf="get_response?.valuation_asset?.bucket_capacity">
                            <div class="info-block">
                                <div class="info-label">Bucket Capacity (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.bucket_capacity}}</div>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
              </div>
            </div>
            
        </div>
        <!-- [checked]='true' -->
      <form [formGroup] = 'valdetailsform'>
      <div class="col-12 col-sm-8 col-md-8 col-lg-4 mb-3 p-0">
        <label for="">Are you getting valuation done for yourself or on behalf of anyone?</label>
        <div class="contact-person-typeblock">
          <mat-radio-group aria-label="Select an option" (change)="behalf_validator()" formControlName="valuation_on_behalf">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0" >No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-8 col-lg-4 mb-3 p-0" *ngIf="valdetailsform.get('valuation_on_behalf').value=='0'">
        <label for="">Customer Name<span class="validation-err">*</span></label>
        <div class="contact-person-typeblock">
          <mat-form-field>
            <input matInput class="form-control" formControlName="customer_name">
          </mat-form-field>
          <!-- <div
            *ngIf = "(valdetailsform?.get('customer_name')?.touched) && (valdetailsform?.get('customer_name').hasError('required'))">
            <span class="validation-err">Customer Name required</span>
          </div> -->
          <div
            *ngIf = "(valdetailsform?.get('customer_name')?.touched) && (valdetailsform?.get('customer_name').hasError('pattern'))">
            <span class="validation-err">Please enter valid customer name</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <p class="col-12">Choose you valuation type</p>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
          <button class="btn btn-block btn-lg" [ngClass]="this.valdetailsform.get('advanced_valuation_type')?.value == '1' ? 'default-btn' : 'default-btn-outline'" (click)="adv_val_ins()">Inspection</button>
         </div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
          <button class="btn btn-block btn-lg" [ngClass]="this.valdetailsform.get('advanced_valuation_type')?.value == '2' ? 'default-btn' : 'default-btn-outline'" (click)="adv_val_ass()">Valuation (include Assets Inspection)</button>
         </div>
      </div>

      <div class="customer-details-wrapper other-info-block">
        <h2 class="sub-head">Assets Details</h2>
        <div class="card p-3">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3" *ngIf="get_response?.valuation_asset?.rc_number">
              <label for="">Registration No.</label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder="" value="{{this.get_response?.valuation_asset.rc_number}}" class="form-control" formControlName="rc_number">
                </mat-form-field>
                <!-- <div
                    *ngIf="valdetailsform?.get('rc_number')?.touched && valdetailsform?.get('rc_number')?.hasError('required')">
                    <span class="validation-err">Registration number is required.</span>
                </div> -->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Serial No.</label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder="" class="form-control" formControlName="machine_sr_number">
                </mat-form-field>
                <div
                *ngIf="valdetailsform?.get('machine_sr_number')?.touched && !(this.valdetailsform.value.engine_number || this.valdetailsform.value.machine_sr_number || this.valdetailsform.value.chassis_number)">
                <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
            </div>
                <!-- <div
                *ngIf="valdetailsform?.get('machine_sr_number')?.touched && valdetailsform?.get('machine_sr_number')?.hasError('required')">
                <span class="validation-err">Serial number is required.</span>
            </div> -->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Chassis No.</label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder="" type="text" class="form-control" formControlName="chassis_number">
                </mat-form-field>
                <div
                *ngIf="valdetailsform?.get('chassis_number')?.touched && !(this.valdetailsform.value.engine_number || this.valdetailsform.value.machine_sr_number || this.valdetailsform.value.chassis_number)">
                <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
            </div>
                <!-- <div
                *ngIf="valdetailsform?.get('chassis_number')?.touched && valdetailsform?.get('chassis_number')?.hasError('required')">
                <span class="validation-err">Chassis number is required.</span>
            </div> -->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Engine No. </label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder="" class="form-control" formControlName="engine_number" maxlength="25">
                </mat-form-field>
                <div
                    *ngIf="valdetailsform?.get('engine_number')?.touched && !(this.valdetailsform.value.engine_number || this.valdetailsform.value.machine_sr_number || this.valdetailsform.value.chassis_number)">
                    <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
                </div>
                <!-- <div
                *ngIf="valdetailsform?.get('engine_number')?.touched && valdetailsform?.get('engine_number')?.hasError('required')">
                <span class="validation-err">Engine number is required.</span>
            </div> -->
            <div
              *ngIf = "(valdetailsform?.get('engine_number')?.touched) && (valdetailsform?.get('engine_number')?.hasError('maxlength'))">
              <span class="validation-err">Length should not be greater than 25 digit</span>
            </div>
            <div
              *ngIf = "(valdetailsform?.get('engine_number')?.touched) && (valdetailsform?.get('engine_number')?.hasError('minlength'))">
              <span class="validation-err">Length should be greater than 2 digit</span>
            </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Manufacturing Year<span class="validation-err">*</span></label>
              <div class="contact-person-typeblock">
                <!-- <mat-form-field class="datepicker-input"> 
                  <input matInput [matDatepicker]="dp1" (click)="dp1.open()" placeholder="" formControlName="manu_year" [max]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                      <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                      </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                      (yearSelected)="chosenYearHandler($event, dp1)">
                  </mat-datepicker>
              </mat-form-field> -->
              <mat-form-field floatLabel="never" class="datepicker-input">
                <input matInput id="Date" placeholder="Enter Year of Manufacture" readonly
                    [value]="valdetailsform.get('manu_year')?.value | dateFilter: 'yyyy'">
                <input matInput formControlName="manu_year" [(ngModel)]="yearOfManufacture"
                  [matDatepicker]="dp1" class="shadow-dateInput" [max]="todayDate"/>
                  <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                        <img src="../../../assets/images/calendar.svg" alt="">
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                (yearSelected)="closeDatePicker(dp1,$event)"> 
                </mat-datepicker>
            </mat-form-field>
                
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">RC Upload</label>
              <div class="contact-person-typeblock">               
                <div class="custom-file">                     
                  <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'rc_upload','front');" *ngIf="!valdetailsform.get('rc_image').value">
                  <label class="custom-file-label custom-file-label2" for="front">
                    <span class="cust-upload-txt cust-upload-txt2">{{valdetailsform.get('rc_image').value ?
                      getFileName('rc_image',valdetailsform.get('rc_image').value) : 'Choose a file'}}</span>
                    <span class="upload-icon2" *ngIf="!valdetailsform.get('rc_image').value"></span>
                    <span class="uplode-delet" *ngIf="valdetailsform.get('rc_image').value"
                      (click)="resetFile('rc_image', valdetailsform.get('rc_image').value)">
                      <img src="../../../assets/images/Delete_icon.svg">
                    </span>
                  </label>
                  <!-- <label class="custom-file-label" for="rcupload" *ngIf="documentName.length == 0"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                  <div class="lisFile" *ngIf="documentName.length > 0">
                    <ul class="selectedFile">
                        <li>
                            <a class="file-upload" href="{{documentName[documentName.length-1].url}}" target="_blank" >{{documentName[documentName.length-1].name}}</a>
                            
                            <a class="delet-icon"  (click)="resetFile()">
                                <img src="../../../assets/images/Delete_icon.svg" />
                            </a>
                        </li>
                      
                    </ul>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="customer-details-wrapper other-info-block">
        <h2 class="sub-head">Assets Location</h2>
        <div class="card p-3">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Address<span class="validation-err">*</span></label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder="" class="form-control" formControlName="address">
                </mat-form-field>
                <!-- <div
                *ngIf="valdetailsform?.get('address')?.touched && valdetailsform?.get('address')?.hasError('required')">
                <span class="validation-err">Address is required.</span>
            </div> -->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Country<span class="validation-err">*</span></label>
              <div class="contact-person-typeblock">
                <mat-form-field floatLabel="never">
                  <mat-select class="select-new-ui" (selectionChange)="countryChange()" #input formControlName="country">
                    <!-- <mat-option value="{{con.id}}" *ngFor='let con of country_data'>{{con.name}}</mat-option> -->
                    <mat-option *ngFor='let con of country_data' [value]="con.id" >{{con.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div
                *ngIf="valdetailsform?.get('country')?.touched && valdetailsform?.get('country')?.hasError('required')">
                <span class="validation-err">Country is required.</span>
            </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Pincode<span class="validation-err">*</span></label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input (keyup)="getLocationData()" matInput formControlName = "pin" maxlength="6"/>
                </mat-form-field>
                <div
                *ngIf="valdetailsform?.get('pin')?.touched && valdetailsform?.get('pin')?.hasError('required')">
                <span class="validation-err">Pincode is required.</span>
            </div>
              </div>
            </div>
            <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
              <label class="d-block f-12">State<span class="validation-err">*</span></label>
              <mat-form-field floatLabel= "never">
                  <input matInput placeholder="State"  formControlName = "state"/>
              </mat-form-field>
              <div
                *ngIf="valdetailsform?.get('state')?.touched && valdetailsform?.get('state')?.hasError('required')">
                <span class="validation-err">State is required.</span>
            </div>
          </div>
          <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
            <label class="d-block f-12">City<span class="validation-err">*</span></label>
            <mat-form-field floatLabel= "never">
                <input matInput placeholder="City"  formControlName = "city"/>
            </mat-form-field>
            <div
                *ngIf="valdetailsform?.get('city')?.touched && valdetailsform?.get('city')?.hasError('required')">
                <span class="validation-err">City is required.</span>
            </div>
        </div>
          </div>
        </div>
      </div>

      <div class="customer-details-wrapper other-info-block">
        <div class="row">
                  
          <div class="col-lg-4 col-md-12 col-12 mb-3">
            <label for="" class="f-12 d-block">Do you have Invoice available?</label>
            <mat-radio-group aria-label="Select an option" formControlName="is_invoice_available" (change) = "invoice_update();setValidationOnInvoiceFields();">
              <mat-radio-button value="1" [checked]='true'>Yes</mat-radio-button>
              <mat-radio-button value="0">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        
        <div class="card p-3" *ngIf="valdetailsform.get('is_invoice_available')?.value==1">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="" class="f-12 d-block">Invoice Date<span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                                    formControlName="invoice_date">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                <div
                *ngIf="valdetailsform?.get('invoice_date')?.touched && valdetailsform?.get('invoice_date')?.hasError('required')">
                <span class="validation-err">Invoice date is required.</span>
            </div>
              </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Invoice Value<span class="mandatory"></span></label>
              <div class="contact-person-typeblock">
                <mat-form-field>
                  <input matInput placeholder=""  class="form-control" formControlName="invoice_value" maxlength="10">
                </mat-form-field>
                <!-- <div
                *ngIf="valdetailsform?.get('invoice_value')?.touched && valdetailsform?.get('invoice_value')?.hasError('required')">
                <span class="validation-err">Invoice Value is required.</span> 
            </div>-->
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
              <label for="">Invoice Upload<span class="mandatory"></span></label>
              <div class="contact-person-typeblock">               
                <div class="custom-file">                     
                  <input  type="file" class="custom-file-input" (change)="invoiceUpload($event,'invoice_document','front');" *ngIf="!valdetailsform.get('invoice_document').value">
                  <label class="custom-file-label custom-file-label2" for="front">
                    <span class="cust-upload-txt cust-upload-txt2">{{valdetailsform.get('invoice_document').value ?
                      getFileName('invoice_document',valdetailsform.get('invoice_document').value) : 'Choose a file'}}</span>
                    <span class="upload-icon2" *ngIf="!valdetailsform.get('invoice_document').value"></span>
                    <span class="uplode-delet" *ngIf="valdetailsform.get('invoice_document').value"
                      (click)="resetFile('invoice_document', valdetailsform.get('invoice_document').value)">
                      <img src="../../../assets/images/Delete_icon.svg" />
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-4 mb-3">
          <label for="">Are you the site contact person?</label>
          <div class="contact-person-typeblock">
            <mat-radio-group aria-label="Select an option" formControlName="is_site_person" (change) = "updateValidations()">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button value="0" >No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="valdetailsform.get('is_site_person')?.value==0">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3" >
          <label for="">Contact Person<span class="validation-err">*</span></label>
          <div class="contact-person-typeblock">
            <mat-form-field>
              <input matInput placeholder="" class="form-control" formControlName="contact_person" required>
            </mat-form-field>
            <div
              *ngIf = "(valdetailsform?.get('contact_person')?.touched) && (valdetailsform?.get('contact_person')?.hasError('required'))">
                <span class="validation-err">Contact person is required</span>
            </div>
            <div
              *ngIf = "(valdetailsform?.get('contact_person')?.touched) && (valdetailsform?.get('contact_person')?.hasError('pattern'))">
                <span class="validation-err">Please enter valid name</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
          <label for="">Contact Number<span class="validation-err">*</span></label>
          <div class="contact-person-typeblock">
            <mat-form-field>
              <input matInput placeholder="" class="form-control" formControlName="contact_number" maxlength="10" minlength="10">
            </mat-form-field>
            <div
                *ngIf="(valdetailsform?.get('contact_number')?.touched) && (valdetailsform?.get('contact_number')?.hasError('required'))">
                <span class="validation-err">Contact number is required</span>
            </div>
            <div
                *ngIf="(valdetailsform?.get('contact_number')?.touched) && (valdetailsform?.get('contact_number')?.hasError('maxlength'))">
                <span class="validation-err">Only 10 digits allowed</span>
            </div>
            <div
                *ngIf="(valdetailsform?.get('contact_number')?.touched) && (valdetailsform?.get('contact_number')?.hasError('minlength'))">
                <span class="validation-err">Minimum 10 digits allowed</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
          <label for="">Remark</label>
          <div class="contact-person-typeblock">
            <mat-form-field>
              <textarea matInput placeholder="" class="form-control" formControlName="remarks"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <mat-checkbox formControlName="for_sale">
           Are you looking for sale of this Asset?
        </mat-checkbox>
      </div>
</form>
      <div class="row mb-2">
        <div class="col-12 col-sm-6">
          <div class="valuationback-btn">
            <button mat-flat-button [routerLink]="['/valuation-request/equipval']"> Back</button>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="valuationsaveandcont-btn">
            <button [disabled] = "!valdetailsform.valid" (click)="save_and_close()" mat-flat-button>Save & Continue</button>
          </div>
        </div>
      </div>

    </div>

  </section>
</main>