
.raise-insta-val-main-container .card{
    border-radius: 15px;
    background: #f5f8fa;
    padding: 15px;
    margin-bottom: 40px;
}
.main-content-wrapper {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 1rem;
}
.raise-insta-val-main-container .image-block{
    padding: 30px 15px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}
.raise-insta-val-main-container .val-right-block-head h1.info-sub-head{
    font-size:20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.raise-insta-val-main-container .val-right-block-content{ display: inline-flex; width: 100%;}

.raise-insta-val-main-container .val-right-block-content .info-block .info-label{
    font-size: 12px;
    font-weight: 500;
    color: #677782;
    margin-bottom: 5px;
}
.raise-insta-val-main-container .val-right-block-content .info-block .info-value{
    font-size: 14px;
font-weight: 500;
color: #262f39;
margin-bottom: 15px;
}
.raise-insta-val-main-container .main-form-details-container .type-block{ margin-bottom: 1rem;}
.raise-insta-val-main-container .main-form-details-container .type-block label,
.raise-insta-val-main-container .main-form-details-container .valuation-btn-block label
{

    color: #2b2929;
    font-weight: 500;
    font-size: 15px;

}

.raise-insta-val-main-container .main-form-details-container  label{
    color: #384b63;
font-size: 13px;
font-weight: 500;
}

.valuation-btn-block{ margin-top: 1.5rem; margin-bottom: 2rem;}

.valuation-btn-block .inspection-btn,.valuation-btn-block .valuation-btn{ display: inline-block; margin-top: 0.5rem;}
.valuation-btn-block .inspection-btn button,.valuation-btn-block .valuation-btn button{ 
    width: 400px;
    font-size: 16px;
	padding: 15px;
    border: 2px solid #1d4dac;
    font-weight: 500;
}
.valuation-btn-block .inspection-btn button{
    background: #1d4dac;
	color: #fff;
    margin-right: 1rem;;
	
}

.valuation-btn-block .valuation-btn button{  
    color: #484744;
    background: #fff;
}


.asset-details .card{ background: #fff; border-radius: 0px; padding-bottom: 50px;}
.asset-details .sub-head {
	font-weight: 600;
    margin-bottom: 1.5rem;
}
.asset-details  label{
    font-weight: 600;
color: #586575;
font-size: 14px;
}
.asset-location .mat-icon{ position: absolute; top: 10px; right: 10px;}

.invoice-block .invoice-type-block .mat-radio-button{ padding: 8px 50px 0;}
.contact-person-block .contact-person-typeblock{ display: block;}
.contact-person-block .contact-person-typeblock .mat-radio-button {padding: 0 20px;}
.remarks-block textarea.mat-input-element {	
	height: 130px;
	resize: none;
}

.valuationback-btn {
	padding: 0;
}
.valuationback-btn button {
	background: #fff;
	color: #094fa3;
	border: 1px solid #094fa3;
	font-size: 15px;
	padding: 4px 30px;
	font-weight: 500;
}
.valuationsaveandcont-btn {
	text-align: right;
	padding: 0;
}
.valuationsaveandcont-btn button {
	background: #094fa3;
	color: #fff;
	font-size: 15px;
	padding: 5px 25px;
    font-weight: 500; 
}


.detail-container {margin-top: 15px;}
.asset-container-box {padding: 20px; margin-bottom: 30px; border-radius: 20px; box-shadow: 0 2px 3px 0 rgb(0 0 0 / 12%), 0 2px 10px 0 rgb(0 0 0 / 10%);}
.valuation-equiry h1 {margin-bottom: 20px; font-size: 30px; font-weight: 600; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.valuation-equiry {margin-bottom: 30px;}
.subtitle {font-size: 16px; color: #8697a2; font-style: italic; font-weight: 500;}

.uplode-delet {width: 35px; float: right; margin-top: 2px;; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}

.custom-file-label .cust-upload-txt {    width: 80%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;}

.custom-file {
    height: 53px;
}
.custom-file .custom-file-label {padding: 0px; text-align: left;}
.custom-file .cust-upload-txt {top: 10px; left: 15px;}
.lisFile {top: 5px;}
.lisFile ul li a.file-upload {width: 82% !important; padding-top: 8px;}
.lisFile ul li a.delet-icon {float: right;}
.custom-file-label::after{display: none;}


@media(max-width:576px){ 

    .progress-block {padding: 0px;}
    .raise-insta-val-main-container .val-right-block-head h1.info-sub-head {font-size: 18px; margin-bottom: 0px;}
    .valuation-equiry h1{font-size: 18px;}  
    .mat-radio-label-content {text-align: center;}
    span.contact-person-typeblock.feedback-points mat-radio-button {width: 50%;}




}
.shadow-dateInput {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    }
    .custom-file-label::after{
        content: "" !important;
    }








    @media (max-width:767px){
        .val-right-block-content.no-gutters .col {
            background: #e6eff5;
            height: 100%;
            margin: 5px 5px 0px 0px;
            padding: 0px 5px;
            border: 1px solid #eee;
        }
        .valuationback-btn button {
            background: #fff;
            color: #094fa3;
            border: 1px solid #094fa3;
            font-size: 15px;
            padding: 4px 30px;
            font-weight: 500;
            width: 100%;
            margin-bottom: 1em;
        }
        .valuationsaveandcont-btn button {
            background: #094fa3;
            color: #fff;
            font-size: 15px;
            padding: 5px 25px;
            font-weight: 500;
            width: 100%;
        }

        .main-content-wrapper {margin: 1rem 0px;}

    }



    .raise-insta-val-main-container .image-block img {
        width: 60px;
    }
    
    