<div class="popup">
  <!-- <div class="popup-hdr">
    Create/Update Category
    <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->

  <div class="popup-body p-0">
    <div class="add-new-field mb-3">
      <h4 class="title">Create/Update Category</h4>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3 upload-input">
            <label class="f-12 d-block">Category Name <span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>Category Name </mat-label>
              <input matInput placeholder="Enter Category Name" autocomplete="off" type="text"
                formControlName='CategoryName' class="">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3 upload-input">
            <label class="f-12 d-block">Category Display Name <span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>Category Display Name</mat-label>
              <input matInput placeholder="" autocomplete="off" type="text" formControlName='CategoryDisplayName'
                class="">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-sm-6 mb-3 upload-input">
            <label class="f-12 d-block">Status <span class="text-warning">*</span></label>
            <mat-form-field floatLabel="never">
              <mat-label>Active</mat-label>
              <mat-select required formControlName="Status">
                <mat-option [value]="1">Active</mat-option>
                <mat-option [value]="2">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 col-lg-4 col-sm-6 upload-input">
            <label class="f-12 d-block">Upload Image <span class="text-warning">*</span></label>
            <div class="custom-file">
              <input type="file" id="fileInputCatImg" class="custom-file-input" #fileInputCatImg
                (change)="getFileName('fileInputCatImg')" required>
              <label class="custom-file-label" (click)="fileInputCatImg.click()"><span class="upload-icon2"></span>
                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                    file</span></span></label>
            </div>

            <div class="imgFile" *ngIf="imgName">
              <ul class="selectedFile">
                <li>
                  <a href="javascript:void(0)" target="_blank">{{imgName}}</a>
                  <span class="delet-icon" (click)="resetFile('fileInputCatImg')">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </li>
              </ul>
            </div>

            <div class="edit-upload-img">
              <span *ngIf="editableData && editableData.ImageUrl">
                <img src={{editableData.ImageUrl}} alt="" class="imgHeight">
                <span class="delet-icon" (click)="delete(editableData.ImageUrl)">
                  <img src="../../../assets/images/Delete_icon.svg">
                </span>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
            <label for="">Vector Image Upload</label>
            <div class="contact-person-typeblock">               
              <div class="custom-file">                     
                <input  type="file" class="custom-file-input"  (change)="handleVectorUpload($event,'vector_img','front');" *ngIf="!form.get('vector_img').value">
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{form.get('vector_img').value ?
                    getVectorFileName('vector_img',form.get('vector_img').value) : 'Choose a file'}}</span>
                  <span class="upload-icon2" *ngIf="!form.get('vector_img').value"></span>
                  <span class="uplode-delet" *ngIf="form.get('vector_img').value"
                    (click)="resetFile('vector_img', form.get('vector_img').value)">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </label>
                <!-- <label class="custom-file-label" for="rcupload" *ngIf="documentName.length == 0"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                <div class="lisFile" *ngIf="documentName.length > 0">
                  <ul class="selectedFile">
                      <li>
                          <a class="file-upload" href="{{documentName[documentName.length-1].url}}" target="_blank" >{{documentName[documentName.length-1].name}}</a>
                          
                          <a class="delet-icon"  (click)="resetFile()">
                              <img src="../../../assets/images/Delete_icon.svg" />
                          </a>
                      </li>
                    
                  </ul>
              </div> -->
              </div>
            </div>
          </div>
          <!-- 
          <div class="col-sm-4 form-group">
            <label class="f-12 d-block">Priority for Used</label>
            <input matInput formControlName="usedPriority" type="number" placeholder="Enter Priority for Used">
          </div>
          <div class="col-sm-4 form-group">
            <label class="f-12 d-block">Priority for New</label>
            <input matInput formControlName="newPriority" type="number" placeholder="Enter Priority for New">
          </div> -->

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 form-group">
            <label class="f-12 d-block">Priority<span class="text-warning">*</span></label>
            <input matInput formControlName="priority" type="number" placeholder="Enter Priority">
          </div>

        </div>

        <div class="text-right dialog-actions-container">
          <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
          <!--<button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Cancel</button>-->
          <button class="default-btn plr-md-40" [disabled]="!form.valid || !isImgName" (click)="okClick()"
            mat-button>{{editableData ? 'Update' : 'Save'}}</button>
        </div>
      </form>
    </div>


  </div>
</div>