<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Realization</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
                <h3 class="admin-page-title">Realization</h3>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-4 col-4">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg theme-btn mat-button" (click)="export()"><i
                            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
            </div>
        </div>
        <div class="admin-page-heading">
            <div class="col-md-4 col-lg-3 col-sm-6">
                <label class="f-12 d-block">Type of Transactions</label>
                <mat-form-field floatLabel="never">
                    <mat-label>Type of Transactions</mat-label>
                    <mat-select class="form-control" [(ngModel)]="transactionType"
                        (selectionChange)="transactionChange($event?.value)">
                        <mat-option [value]='1'>Auction</mat-option>
                        <mat-option [value]='2'>Valuation</mat-option>
                        <mat-option [value]='3'>Trade</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row my-3">
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3 mb-md-0 md-lg-0">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()"
                                (keyup.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-3 mb-md-0 md-lg-0">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Realization Type"
                                (selectionChange)="realizationSelection($event?.value)">
                                <mat-option>Select Realization Type</mat-option>
                                <mat-option *ngFor="let obj of realizationTypes" [value]="obj?.value">
                                    {{obj?.typeName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6" *ngIf="transactionType == 1">
                        <input matInput (keyup)="searchAuction()" (keyup.enter)="searchAuction()" placeholder="Search Auction" [matAutocomplete]="auction" type="text" [(ngModel)]="auctionValue" autocomplete="off">
                        <mat-autocomplete #auction="matAutocomplete"
                            (optionSelected)="auctionSelection($event.option.value)">
                            <mat-option *ngFor="let auction of auctionList;" [value]="auction">
                                {{auction?.auction_engine_auction_id + ' - ' + auction?.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </div>

            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource"
                            matSortDirection="desc" matSortActive="payment_date" matSortDisableClear matSort
                            (matSortChange)="onSortColumn($event)">
                            <ng-container matColumnDef="transaction_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Transaction Id</span> {{ element.transaction_id }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="invoice_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Invoice Number</span> {{ element?.invoice?.invoice_number
                                    }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Amount</span> {{ element?.amount }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyer__first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">User Name</span> {{ element?.buyer?.first_name }} {{
                                    element?.buyer?.last_name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyer__mobile_number">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Mobile</span> {{ element?.buyer?.mobile_number }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyer__email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Email</span> {{ element?.buyer?.email }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_mode">
                                <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Mode</span> {{ element?.payment_mode }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Date</span> {{ element?.payment_date |
                                    date:'dd-MM-yyyy' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="payment_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Payment Status</span> {{
                                    getPaymentStatus(element?.payment_status) }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Actions</span>
                                    <div>
                                        <button mat-button class="simple-btn reciept-icon" *ngIf="element?.payment_status == 5">
                                            <span (click)="realizeTransaction(element)">
                                                <mat-icon class="action-icon">receipt</mat-icon>
                                            </span>
                                        </button>
                                        <button mat-button class="simple-btn view-icon">
                                            <span (click)="viewRalization(element)">
                                                <img src="../../../assets/images/visibility.svg" alt="View"
                                                    title="View">
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
                        </table>
                        <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                    </div>
                </div>
                <mat-paginator class="table-pagination" [length]="total_count" [pageIndex]="0"
                    [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
            </div>



        </div>
    </div>
</div>