<div class="site-content">
    <div class="product-wrapper-box">
    <div class="container-custom">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard/my-enquiries']">My Enquiries</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Enquiry View</li>
            </ol>
        </div>

        <div class="enquiry-clouser">
            <h3 class="enquiry-clouser-title">Enquiry Closure</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Id</p>
                        <strong>{{enquiryDetails?.new_equipment?.id}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Category</p>
                        <strong>{{enquiryDetails?.new_equipment?.category?.display_name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Brand</p>
                        <strong>{{enquiryDetails?.new_equipment?.brand?.display_name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Model</p>
                        <strong>{{enquiryDetails?.new_equipment?.model?.name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Selling Price</p>
                        <strong>{{enquiryDetails?.new_equipment?.selling_price}}</strong>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Required</p>
                        <strong>{{enquiryDetails?.number_of_equipment_required}}</strong>
                    </div>
                </div> -->
                <!-- <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Require Time</p>
                        <strong>{{getEquipmentRequiredTime(enquiryDetails?.equipment_req_in)}}</strong>
                    </div>
                </div> -->

                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Description</p>
                        <strong>{{enquiryDetails?.remarks}}</strong>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Enquiry Status</p>
                        <strong>{{getEnquiryStatus(enquiryDetails?.status)}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="enquiryDetails?.final_offer_price">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Final Offer Price</p>
                        <strong>{{enquiryDetails?.final_offer_price}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="enquiryDetails?.booking_value">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Booking Value</p>
                        <strong>{{enquiryDetails?.booking_value}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="(enquiryCurrentStatus > '3')">
                    <div class="enquiry-clouser-wrap">
                        <p>Booking Payment Status</p>
                        <strong>{{(enquiryCurrentStatus == '5') ? 'Paid' : 'Pending'}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="enquiry-clouser" *ngIf="enquiryDetails?.offer?.id">
            <h3 class="enquiry-clouser-title">Offer Details</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Offer Id</p>
                        <strong>{{enquiryDetails?.offer?.id}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Tenure(In Months)</p>
                        <strong>{{enquiryDetails?.offer?.tenure}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Rate of Interest(%)</p>
                        <strong>{{enquiryDetails?.offer?.rate}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Total Monthly Repayment (E.M.I)</p>
                        <strong>{{enquiryDetails?.offer?.installment}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Down-payment per unit</p>
                        <strong>{{enquiryDetails?.offer?.margin}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Processing Fee per unit</p>
                        <strong>{{enquiryDetails?.offer?.processing_fee}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Finance Amount Per Unit</p>
                        <strong>{{enquiryDetails?.offer?.amount}}</strong>
                    </div>
                </div>
                <div class="col-12" *ngIf="offer?.free_of_cost">
                    <div class="enquiry-clouser-wrap">
                        <p>Freebies</p>
                        <strong>{{enquiryDetails?.offer?.free_of_cost}}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="enquiry-chat-form">
            <div class="row" *ngIf="((userRole == 'Dealer') && ('5' > enquiryCurrentStatus))">
                <div class="col-md-4 col-sm-6 col-12 mb-3">
                    <label class="d-block f-12">Update Status</label>
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Status"
                            (selectionChange)="newEnquiryStatus = $event?.value">
                            <mat-option>Select Status</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of selectedStatusOptions;">
                                {{status?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mb-3" *ngIf="('3' != newEnquiryStatus)">
                    <label class="d-block f-12 invisible">Update Status</label>
                    <button type="button" class="default-btn" (click)="updateEnquiryStatus()">Update Status</button>
                </div>
                <div class="col-12" *ngIf="(3 == newEnquiryStatus) && (3 != enquiryCurrentStatus)">
                    <div class="enquiry-chat-filed">
                        <p>Submit Deal</p>
                        <form [formGroup]="dealForm">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-12">
                                    <mat-form-field floatLabel="never">
                                        <input matInput formControlName='final_offer_price' placeholder="Final Offer Price" autocomplete="off" maxlength="8"/>
                                    </mat-form-field>
                                    <div class="errorClass"
                                        *ngIf="dealForm.get('final_offer_price')?.errors && dealForm.get('final_offer_price')?.invalid && (dealForm.get('final_offer_price')?.touched || dealForm.get('final_offer_price')?.dirty)">
                                        <span class="validation-err d-block" *ngIf="dealForm.get('final_offer_price')?.errors?.required">Please enter Final offer Price</span>
                                        <span class="validation-err d-block" *ngIf="dealForm.get('final_offer_price')?.errors?.pattern">Characters not allowed</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12">
                                    <mat-form-field floatLabel="never">
                                        <input matInput formControlName='booking_value' placeholder="Booking Value (Down Payment)" autocomplete="off" maxlength="8"/>
                                    </mat-form-field>
                                    <div class="errorClass"
                                        *ngIf="dealForm.get('booking_value')?.errors && dealForm.get('booking_value')?.invalid && (dealForm.get('booking_value')?.touched || dealForm.get('booking_value')?.dirty)">
                                        <span class="validation-err d-block"
                                            *ngIf="dealForm.get('booking_value')?.errors?.required">Please enter Booking
                                            value</span>
                                        <span class="validation-err d-block"
                                            *ngIf="dealForm.get('booking_value')?.errors?.pattern">Characters not
                                            allowed</span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mb-3" *ngIf="('3' == newEnquiryStatus)">
                                    <button type="button" class="default-btn" (click)="updateEnquiryStatus()">Update
                                        Status</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="(userRole == 'Customer') && ((enquiryCurrentStatus == '3') || (enquiryCurrentStatus == '4'))">
                <div class="col-12">
                    <label>Approve or Reject the submitted deal by the Dealer and Pay the booking amount</label>
                </div>
                <div class="col-12 text-right">
                    <button class="btn btn-success mx-1" *ngIf="(enquiryCurrentStatus == '3')"
                        (click)="newEnquiryStatus = '4';updateEnquiryStatus();">Approve Deal</button>
                    <button class="btn btn-danger mx-1" *ngIf="(enquiryCurrentStatus == '3')"
                        (click)="newEnquiryStatus = '7';updateEnquiryStatus();">Reject Deal</button>
                    <button class="btn default-btn mx-1" *ngIf="(enquiryCurrentStatus == '4')"
                        (click)="payBookValue()">Pay Booking Value</button>
                </div>
            </div>
        </div>

        <div class="enquiry-chat-details">
            <h3 class="enquiry-chat-title">Enquiry Chat</h3>
            <div class="enquiry-chat">
                <ng-container *ngIf="chatDetails?.length">
                    <ng-container *ngFor="let chat of chatDetails">
                        <div class="chat-item chat-question" *ngIf="chat.agent_type == 'SR'">
                            <small><strong>Seller</strong> {{chat.comment_time | date:'yyyy-MM-dd, h:mm:ss a'}}</small>
                            <p>{{chat.agent_comment}}</p>
                        </div>
                        <div class="chat-item chat-reply" *ngIf="chat.agent_type == 'BR'">
                            <small><strong>Buyer</strong> {{chat.comment_time | date:'yyyy-MM-dd, h:mm:ss a'}}</small>
                            <p>{{chat.agent_comment}}</p>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="" *ngIf="!chatDetails?.length">
                    <p class="text=center my-2 f-700">There is no communication yet.</p>
                </div>
                <div class="chat-input">
                    <mat-form-field floatLabel="never">
                        <input class="form-control pr-3" matInput placeholder="Enter your text here.." [(ngModel)]="chatText">
                    </mat-form-field>
                    <button type="submit" class="theme-btn" (click)="postChat()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>