.left-side-container .welcome-box ul.tracker-list li {
    font-size: 14px;
    font-weight: 400;
    height: auto;
}
.list-details li{
    text-align: center;
    display: inline-block !important;
    padding: 0 12px;
}
.list-details li p{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.left-side-container .welcome-box ul.list-details li:not(:last-child)::after {
    content: '';
    top: 4px;
    right: 0;
    width: 1px;
    height: 50px;
    background: #ffffff6b;
}