<div class="left-side-container">
    <div class="welcome-box">
        <h2 class="sub-header text-left">Are you ready to join the iQuippo Marketplace seller community?</h2>
        <p class="sub-header-text text-left">Remember these helpful tips before you start to fill out your application?</p>
        <ul class="tracker-list d-xs-none">
            <li>Your progress will not be saved if you close this browser tab</li>
            <li>The registration process should take few minutes if you have all your information available (see blow).</li>
        </ul>
        <p class="f-14 op-8 ">Please have this required information available when completing the application</p>
        <ul class="list-details d-xs-none">
            <li>
                <img src="../../../../assets/images/pan-icn.svg" alt="">
                <p>PAN Number</p>
            </li>
            <li>
                <img src="../../../../assets/images/pan-icn.svg" alt="">
                <p>GST Number</p>
            </li>
            <li>
                <img src="../../../../assets/images/bank-icn.svg" alt="">
                <p>Bank Details</p>
            </li>
        </ul>
    </div>
</div>