<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">Transaction Details</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body" *ngIf="transactionDetails">
        <div class="row transection-label m-0">
            <div class="col-md-6 col-6">
                <label class="mb-0">Asset ID</label>
                <p>{{transactionDetails?.transaction?.asset_id?.id}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Asset Name</label>
                <p>{{transactionDetails?.transaction?.asset_id?.product_name}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Payment Mode</label>
                <p>{{transactionDetails?.transaction?.payment_mode}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Transaction ID</label>
                <p>{{transactionDetails?.transaction?.transaction_id}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Payment ID</label>
                <p>{{transactionDetails?.transaction?.payment_id}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Order ID</label>
                <p>{{transactionDetails?.transaction?.order_id}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Amount</label>
                <p>{{transactionDetails?.amount | number: '1.'}}</p>
            </div>
            <div class="col-md-6 col-6" *ngIf="(transactionDetails?.transaction?.payment_mode != 'Online') && (transactionDetails?.transaction?.payment_mode != 'Cash')">
                <label class="mb-0">Bank name</label>
                <p>{{transactionDetails?.transaction?.bank_name}}</p>
            </div>
            <div class="col-md-6 col-6" *ngIf="(transactionDetails?.transaction?.payment_mode != 'Online') && (transactionDetails?.transaction?.payment_mode != 'Cash')">
                <label class="mb-0">Branch</label>
                <p>{{transactionDetails?.transaction?.branch}}</p>
            </div>
            <div class="col-md-6 col-6" *ngIf="(transactionDetails?.transaction?.payment_mode != 'Online') && (transactionDetails?.transaction?.payment_mode != 'Cash')">
                <label class="mb-0">Payment Reference Number</label>
                <p>{{transactionDetails?.transaction?.bank_ref_no}}</p>
            </div>
            <div class="col-md-6 col-6" *ngIf="(transactionDetails?.transaction?.payment_mode != 'Online') && (transactionDetails?.transaction?.payment_mode != 'Cash')">
                <label class="mb-0">Proof of Payment</label>
                <p><a [href]="transactionDetails?.transaction?.proof_of_payment">{{getFileName(transactionDetails?.transaction?.proof_of_payment)}}</a></p>
            </div>
            <div class="col-md-6 col-6" *ngIf="(transactionDetails?.transaction?.payment_mode != 'Online') && (transactionDetails?.transaction?.payment_mode != 'Cash')">
                <label class="mb-0">Demand Draft in Favor of</label>
                <p>{{transactionDetails?.transaction?.dd_in_favour_of}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Payment Status</label>
                <p>{{getPaymentStatus(transactionDetails?.status)}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Service</label>
                <p>{{getServiceType(transactionDetails?.type)}}</p>
            </div>
            <div class="col-md-6 col-6">
                <label class="mb-0">Payment Date</label>
                <p>{{transactionDetails?.transaction?.payment_date | date:'dd-MM-yyyy'}}</p>
            </div>
        </div>
    </div>
</div>