.dialog-actions-container {
  margin-top: 16px;
}

mat-chip {
  border: 1px solid#0f3d94;
}

.popup-body {max-height: 80vh;}
.transection-label label {font-size: 12px; font-weight: 600;}
.transection-label p {word-break: break-all; white-space: normal;}

.sel {
  background-color: #0f3d94;
  color: #fff;
}


@media screen and (max-width: 768px) {
  
  .demo-calender.datepicker-input .calender-icon {
    top: 42px;
  }
}

@media (max-width: 767px) {
  .modal-popup .popup-hdr h4 {width: 75%;}
  .transection-label p {
    word-break: break-all;
    white-space: normal;
    font-size: 12px;
    margin-bottom: 10px;
}
.row.transection-label .col-md-6.col-6 {
  background: #eee;
  padding: 0px 5px 5px;
  max-width: 49%;
  margin: 0 auto 5px;
}

}
