<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">Request a call back</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body overflow-custom">
        <form [formGroup]='newForm' class="make-call-popup">
            <div class="row">
                <div class='form-group col-sm-12 col-md-6 col-lg-4 col-12'>
                    <label class="d-block f-12">First Name </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="First Name" formControlName="first_name" autocomplete="off" />
                        <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class='form-group  col-sm-12 col-md-6 col-lg-4 col-12'>
                    <label class="d-block f-12">Last Name </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Last Name" formControlName="last_name" autocomplete="off" />
                        <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">Mobile <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Mobile Number" formControlName="contact_number" autocomplete="off"
                            maxlength="10" />
                        <mat-error *ngIf="formControl.invalid">Please enter a valid mobile number</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">Email Address </label>
                    <mat-form-field floatLabel="never">
                        <input type="email" matInput placeholder="Email Address" formControlName="email_address"
                            autocomplete="off" />
                        <!-- <mat-error *ngIf="formControl.errors?.required">Required field</mat-error> -->
                        <mat-error *ngIf="formControl.errors?.email">Email not valid</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">Address </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Address" formControlName="address" autocomplete="off" />
                        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">Pin Code </label>
                    <mat-form-field floatLabel="never">
                        <input (keyup)="getLocationData()" (blur)="getLocationData()" matInput placeholder="Pin Code"
                            formControlName="pin_code" maxlength="6" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">City </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="City" readonly formControlName="city" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-6 col-lg-4 col-12">
                    <label class="d-block f-12">State </label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="State" readonly formControlName="state" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="form-group  col-sm-12 col-md-12 col-lg-12 col-12">
                    <label class="d-block f-12">Description</label>
                    <mat-form-field floatLabel="never">
                        <!-- <input matInput placeholder="Description" formControlName = "comment" autocomplete="off"/> -->
                        <textarea matInput placeholder="Description" formControlName="comment"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <div class="text-right">
                        <button mat-dialog-close='cancel' class="default-btn-outline mr-3 px-4"
                            tabindex="-1">Cancel</button>
                        <button mat-dialog-close='save' class="default-btn px-4" mat-button [disabled]="newForm.invalid"
                            (click)="submit()">Submit</button>
                    </div>
                </div>
                <div class="col-sm-12 reachus">
                    <h3>Reach Us</h3>
                    <p>You can contact our customer support team using the below options:</p>
                </div>
                <div class="col-sm-12 p-0 reachus-icon">
                    <div class="col-sm-4">
                        <div class="icon-call-back"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="icon-call-back-text">
                            <p class="icon-caption">MOBILE</p>
                            <p class="icon-caption-value">+91 - 8756432561</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-call-back"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="icon-call-back-text">
                            <p class="icon-caption">EMAIL</p>
                            <p class="icon-caption-value">needassistance@iquippo.com</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-call-back"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
                        <div class="icon-call-back-text">
                            <p class="icon-caption">WHATSAPP</p>
                            <p class="icon-caption-value">+91 - 8756432561</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>