.make-call-popup label {color: #77828a; font-weight: 500;}
.icon-call-back i {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    text-align: center;
}

.modal-popup.popup {height: 100%; overflow: hidden;}

p.icon-caption {
    opacity: 0.8;
    font-weight: 500;
    margin: 10px 0px 0px;
    /* padding-left: 10px; */
}
.text-warning {
    color: red!important;
}

.modal-popup .popup-hdr {padding: 15px 15px;} 
.overflow-custom{max-height: 82vh;}