<div *ngIf="loading" class="spinnerOuter">
    <div class="spinner">
        <div class="loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
<main class="div-wraapper">
    <div class="product-wrapper-box p-0">
        <section class="myself-details-main-wrapper">

            <form [formGroup]='profileForm'>

                <div class="main-content-wrapper  basic-details-section">
                    <fieldset [disabled]="isEditable">
                        <div class="main-form-details-container">
                            <div class="crate-contact-box">
                                <h2 *ngIf="!isEdit" class="sub-head">Partner contact</h2>
                                <div class="crate-contact-body">
                                    <div *ngIf="isEdit" class="row">
                                        <div class="col-md-6 mb-0 mb-sm-0 mb-md-3 mb-lg-3">
                                            <h3>Edit partner contact</h3>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="saveandcont-btn saveandcont-edit-btn">
                                                <button class="mr-2 w-auto" *ngIf="this.editableRowData.status==1" mat-flat-button (click)="statusUpdate(2)">Approve</button>
                                                <button class="w-auto" *ngIf="this.editableRowData.status==1" mat-flat-button (click)="statusUpdate(3)">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="" class="f-12 d-block">Partner type</label>
                                            <mat-form-field floatLabel="never">
                                                <mat-select class="select-new-ui" [disabled]="isMapped" formControlName="partnerType" (selectionChange)="partnerTypeChange()">
                                                    <mat-option value="">--Partner Type--</mat-option>
                                                    <mat-option [value]="1">Dealer</mat-option>
                                                    <mat-option [value]="2">Manufacturer</mat-option>
                                                    <mat-option [class.d-none]="this.isrm" [value]="3">Channel partner</mat-option>
                                                    <mat-option [class.d-none]="this.isrm" [value]="4">Valuation</mat-option>
                                                    <mat-option [class.d-none]="this.isrm" [value]="5">Enterprise</mat-option>
                                                    <mat-option [class.d-none]="this.isrm" [value]="6">Admin</mat-option>
                                                    <mat-option [class.d-none]="this.isrm || this.userRole != this.apiRouteService.roles.superadmin" [value]="7">Super Admin</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12 col-sm-7">
                                            <div class="gender-block">
                                                <label for="" class="f-12 d-block">Select Gender <span class="mandatory"></span></label>
                                                <mat-radio-group aria-label="Select an option" formControlName="Gender">
                                                    <mat-radio-button value="1" [checked]='true' (click)="onGenderChange('1')">Male</mat-radio-button>
                                                    <mat-radio-button value="2" (click)="onGenderChange('2')">Female</mat-radio-button>
                                                    <mat-radio-button value="3" (click)="onGenderChange('3')">Others</mat-radio-button>
                                                </mat-radio-group>
                                                <mat-error>
                                                    <div class="validation-err" *ngIf="profileForm.get('Gender')?.touched && profileForm.get('Gender')?.hasError('required')">
                                                        Please select gender.
                                                    </div>
                                                </mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="prof-of-identity">
                        <div class="crate-contact-box">
                            <h2 class="sub-head">Proof Of Identity</h2>
                            <p class="txt-info col-md-12" *ngIf="!(this.profileForm.get('partnerType')?.value == 6 || this.profileForm.get('partnerType')?.value == 7 || this.profileForm.get('partnerType')?.value == 3)"><span class="mandatory"></span>Pan card is mandatory. You need to provide an address proof in addition to the PAN Card. Please upload additional document to complete your profile.</p>
                            <div class="crate-contact-body">
                                <div class="poi-tabs-wrapper">
                                    <mat-tab-group animationDuration="0ms" [disableRipple]="true">
                                        <mat-tab label="PAN Card">
                                            <div class="row" formGroupName="pan">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">PAN Card Number<span *ngIf="!(this.profileForm.get('partnerType')?.value == 6 || this.profileForm.get('partnerType')?.value == 7 || this.profileForm.get('partnerType')?.value == 3)" class="mandatory"></span></label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <mat-form-field floatLabel="never">
                                                                    <input matInput placeholder="Enter PAN Card Number" (blur)="checkPan();verifyPanData();" class="text-uppercase" [disabled]="isPanEditable" type="text" minlength="10" maxlength="10" formControlName="docNumber">
                                                                    <input type="hidden" formControlName="documentId">

                                                                    <div class="">
                                                                        <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('required')">
                                                                            <span class="validation-err">Please enter PAN number.</span>
                                                                        </div>
                                                                        <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('wrong')">
                                                                            <span class="validation-err">You have entered the PAN details of Corporate. So Please
                                  enter correct pan number.</span>
                                                                        </div>
                                                                        <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('minlength')">
                                                                            <span class="validation-err">Please input 10 digits number.</span>
                                                                        </div>
                                                                        <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('maxlength')">
                                                                            <span class="validation-err">Please input 10 digits number.</span>
                                                                        </div>
                                                                    </div>
                                                                </mat-form-field>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Upload PAN Card</label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'pan','front');" id="front">
                                                                    <label [class.haserror]="panFrontImageError" class="custom-file-label" for="front"><span
                                class="upload-icon2"></span><span class="cust-upload-txt"><span class="blue-txt">Choose
                                  a file</span> </span></label>
                                                                </div>
                                                                <span class="f-12">File Size limit - 5MB</span>
                                                                <div *ngIf="profileForm.get('pan')?.get('docImages')?.get('front')?.hasError('imgIssue')">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="panFrontImageError">
                                                                    <span class="validation-err">Please upload PAN Card.</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img *ngIf="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value==''" [src]="this.profileForm.get('pan')?.get('docImages')?.get('front')?.value" [class.img-download]="this.profileForm.get('pan')?.get('docImages')?.get('front')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('pan')?.get('docImages')?.get('front')?.value)" class="cursor-pointer">
                                                                <img *ngIf="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value!=''" [src]="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value" [class.img-download]="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer">
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </mat-tab>

                                        <mat-tab label="Aadhar Card">
                                            <div class="row" formGroupName="aadhar">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Aadhar Card Number</label>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <mat-form-field floatLabel="never">
                                                                    <input matInput placeholder="Enter Aadhar Card Number" (keyup)="setAddharValidation()" type="text" minlength="12" maxlength="12" formControlName="docNumber">
                                                                    <input type="hidden" formControlName="documentId">
                                                                </mat-form-field>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('required')">
                                                                    <span class="validation-err">Please enter aadhar number.</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('minlength')">
                                                                    <span class="validation-err">Please enter valid aadhar number.</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('maxlength')">
                                                                    <span class="validation-err">Please enter valid aadhar number.</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Upload Aadhar Card (Front & Back)</label>
                                                        <div class="row mb-3">
                                                            <div class="col-12">
                                                                <div class="custom-file  h-80">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'aadhar','front')" id="front">
                                                                    <label class="custom-file-label" for="front"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('front')?.hasError('required')">
                                                                    <span class="validation-err">Please upload aadhar front image.</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('front')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div class="custom-file mt-2 h-80">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'aadhar','back')" id="back">
                                                                    <label class="custom-file-label" for="back"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('back')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('back')?.hasError('required')">
                                                                    <span class="validation-err">Please upload aadhar back image.</span>
                                                                </div>
                                                                <span class="f-12">File Size limit - 5MB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- <pre>{{profileForm?.get('aadhar').value | json}}</pre> -->
                                        </mat-tab>

                                        <mat-tab label="Passport">
                                            <div class="row" formGroupName="passport">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Passport Number</label>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <mat-form-field floatLabel="never">
                                                                    <input matInput placeholder="Enter Passport Number" (keyup)="setPassportValidation()" type="text" formControlName="docNumber">
                                                                    <input type="hidden" formControlName="documentId">

                                                                </mat-form-field>
                                                            </div>
                                                            <div *ngIf="profileForm.get('docNumber')?.touched && profileForm.get('docNumber')?.hasError('required')">
                                                                <span class="validation-err">Please enter passport number.</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Upload Passport (Front & Back)</label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'passport','front')" id="front">
                                                                    <label class="custom-file-label" for="front"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('front')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('front')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <div class="custom-file mt-2">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'passport','back')" id="back">
                                                                    <label class="custom-file-label" for="back"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('back')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('back')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <span class="f-12">File Size limit - 5MB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('front')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('front')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('back')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('back')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </mat-tab>

                                        <mat-tab label="Voter ID">
                                            <div class="row" formGroupName="voter">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Voter ID<span class="mandatory"></span></label>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <mat-form-field floatLabel="never">
                                                                    <input matInput placeholder="Enter Voter ID" type="text" (keyup)="setVotorValidation()" formControlName="docNumber">
                                                                    <input type="hidden" formControlName="documentId">

                                                                </mat-form-field>
                                                            </div>
                                                            <div *ngIf="profileForm.get('voter')?.get('docNumber')?.touched && profileForm.get('voter')?.get('docNumber')?.hasError('required')">
                                                                <span class="validation-err">Please enter voter id.</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Upload Voter ID (Front & Back)</label>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','front')" id="front">
                                                                    <label class="custom-file-label" for="front"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('front')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('front')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div class="custom-file mt-2">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'voter','back')" id="back">
                                                                    <label class="custom-file-label" for="back"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('back')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('back')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <span class="f-12">File Size limit - 5MB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('front')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('front')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('back')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('back')?.value)" class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </mat-tab>

                                        <mat-tab label="Driving License">
                                            <div class="row" formGroupName="dl">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Driving License</label>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <mat-form-field floatLabel="never">
                                                                    <input matInput placeholder="Enter Driving License" (keyup)="setDrivingValidation()" type="text" formControlName="docNumber">
                                                                    <input type="hidden" formControlName="documentId">

                                                                </mat-form-field>
                                                            </div>
                                                            <div *ngIf="profileForm.get('dl')?.get('docNumber')?.touched && profileForm.get('dl')?.get('docNumber')?.hasError('required')">
                                                                <span class="validation-err">Please enter driving license.</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="pancard-wrapper">
                                                        <label class="f-12 d-block" for="">Upload Driving License (Front & Back)</label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'dl','front')" id="front">
                                                                    <label class="custom-file-label" for="front"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('front')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('front')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div class="custom-file mt-2">
                                                                    <input type="file" class="custom-file-input" (change)="handleUpload($event,'dl','back')" id="back">
                                                                    <label class="custom-file-label" for="back"><span class="upload-icon2"></span><span
                                class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                                                                </div>
                                                                <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('back')?.hasError('imgIssue')" style="margin-top:5px">
                                                                    <span class="validation-err">Selected image should be less than 5 mb or should be .jpg,
                              .jpeg, .png, .bmp format</span>
                                                                </div>
                                                                <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('back')?.hasError('required')">
                                                                    <span class="validation-err">Please upload document.</span>
                                                                </div>
                                                                <span class="f-12">File Size limit - 5MB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('front')?.value)"
                                                                    class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="upload-doc">
                                                                <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('back')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('back')?.value)"
                                                                    class="cursor-pointer">
                                                                <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value"
                                                                    (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </mat-tab>

                                    </mat-tab-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <div class="customer-details-wrapper">
                            <div class="crate-contact-box">
                                <h2 class="sub-head">Partner Contact Details</h2>
                                <div class="crate-contact-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">First Name <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter First Name" type="text" formControlName="FirstName">
                                            </mat-form-field>
                                            <div *ngIf="profileForm.get('FirstName')?.touched && profileForm.get('FirstName')?.hasError('required')">
                                                <span class="validation-err">Please fill mandatory field(s).</span>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Last Name <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Last Name" type="text" formControlName="LastName">
                                            </mat-form-field>
                                            <div *ngIf="profileForm.get('LastName')?.touched && profileForm.get('LastName')?.hasError('required')">
                                                <span class="validation-err">Please enter last name.</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Date Of Birth <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never" class="datepicker-input">
                                                <input matInput [max]="minDate" [matDatepicker]="picker" formControlName="Dob" readonly (click)="picker.open()">
                                                <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                                        <img src="../../../assets/images/calendar.svg" alt="">
                                                    </mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>

                                            <div *ngIf="profileForm.get('Dob')?.touched && profileForm.get('Dob')?.hasError('required')">
                                                <span class="validation-err">Please select date of birth</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Mobile Number <span class="mandatory"></span></label>
                                            <div class="form-row contact-mobile">
                                                <div class="col-5 col-sm-4">
                                                    <mat-select class="ptb-5 card-select payment-card-slct" formControlName="countryCode" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)">
                                                        <mat-select-trigger>
                                                            <div class="d-block">
                                                                <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                                                                <div class="prefix-number">
                                                                    <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                                                                </div>
                                                            </div>
                                                        </mat-select-trigger>
                                                        <mat-option *ngFor="let country of countryList" [value]="country">
                                                            <div class="d-block">
                                                                <img [src]="country.flag" class="saved-card-icn" alt="">
                                                                <div class="prefix-number">
                                                                    <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                                                                </div>
                                                            </div>
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                                <div class="col-7 col-sm-8">
                                                    <mat-form-field floatLabel="never">
                                                        <input matInput placeholder="Enter Mobile number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" minlength="10" maxlength="10" type="text" formControlName="Mobile">
                                                    </mat-form-field>
                                                    <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('required')">
                                                        <span class="validation-err">Please enter mobile number.</span>
                                                    </div>
                                                    <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('minlength')">
                                                        <span class="validation-err">Please input 10 digits number.</span>
                                                    </div>
                                                    <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('maxlength')">
                                                        <span class="validation-err">Please input 10 digits number.</span>
                                                    </div>
                                                    <div *ngIf="profileForm.get('Mobile')?.hasError('pattern')">
                                                        <span class="validation-err">Please input 10 digits number.</span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Email ID<span class="mandatory" ></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Email Id" type="text" formControlName="EmailId">
                                            </mat-form-field>
                                            <div>
                                                <span class="validation-err" *ngIf="profileForm.get('EmailId')?.touched && profileForm.get('EmailId')?.hasError('required')">Please
                    enter email.</span>
                                                <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
                                            </div>
                                            <div>
                                                <span class="validation-err" *ngIf="profileForm.get('EmailId')?.touched && profileForm.get('EmailId')?.hasError('pattern')">Please
                    Enter a valid Email.</span>
                                                <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
                                            </div>

                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Alternate Email ID </label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Alternate Email ID" type="text" (blur)="validateAlternateEmailIdfn()" formControlName="AlternateEmailId">
                                                <span class="validation-err" *ngIf="profileForm.get('AlternateEmailId')?.hasError('pattern')">Please
                    Enter a valid Email.</span>
                                                <span class="validation-err" *ngIf="profileForm.get('AlternateEmailId')?.hasError('exists')"> Email
                    already Exist.</span>

                                            </mat-form-field>
                                        </div>



                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="customer-details-wrapper address-wrapper">
                            <div class="crate-contact-box">
                                <h2 class="sub-head">Address<span *ngIf="this.profileForm.get('partnerType')?.value == 2">(Pan India)</span> </h2>
                                <div class="crate-contact-body">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">House Number/Flat Number/Block Number <span
                    class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Address" type="text" formControlName="StreetAddress1">
                                                <input type="hidden" formControlName="addressId">
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('StreetAddress1')?.touched && profileForm.get('StreetAddress1')?.hasError('required')">
                                                    Please enter address1.
                                                </div>
                                            </mat-error>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Sector/Locality/Area/Landmark/District <span
                    class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter Sector/Locality/Area/Landmark/District" type="text" formControlName="StreetAddress2">
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('StreetAddress2')?.touched && profileForm.get('StreetAddress2')?.hasError('required')">
                                                    Please enter address2.
                                                </div>
                                            </mat-error>
                                        </div>
                                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="this.isrm ==undefined || this.isrm ==''">
                <label for="" class="f-12 d-block">Relationship Manager <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <mat-select class="select-new-ui" formControlName="rm" placeholder="Relationship Manager">
                    <mat-option value="">Relationship Manager</mat-option>
                    <mat-option *ngFor="let obj of RmList" [value]="obj.id">{{obj.user.first_name}} {{obj.user.last_name}}</mat-option>
  
                  </mat-select>
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                    *ngIf="profileForm.get('rm')?.touched && profileForm.get('rm')?.hasError('required')">
                    Please select RM.
                  </div>
                </mat-error>
              </div> -->
                                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="this.profileForm.get('partnerType')?.value == 2">
                <label class="f-12 d-block">Country<span class="text-warning">*</span></label>
                <mat-form-field floatLabel="never">
                  <mat-select class="select-new-ui" formControlName='Country'
                    placeholder="Select Country">
                    <mat-option *ngFor="let country of countryDataSource" [value]="country.id">
                      {{ country.name }}
                    
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div
                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('Country')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('Country')?.hasError('required')">
                <span class="validation-err">Please enter country.</span>
                </div>
              </div>
               -->
                                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="this.profileForm.get('partnerType')?.value == 2" >
                <label class="f-12 d-block">State</label >
                <mat-form-field floatLabel="never">
                  <mat-label>State</mat-label>
                  <mat-select class="select-new-ui" formControlName='StateDropdown' (selectionChange)="getCities($event.value)"
                    placeholder="Select  State">
                    <mat-option *ngFor="let state of stateDataSource" [value]="state.id">{{state.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->

                                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="this.profileForm.get('partnerType')?.value == 2">
                <label class="f-12 d-block">City Name</label>
                <mat-form-field floatLabel="never">
                  <mat-label>City Name</mat-label>
                  <mat-select class="select-new-ui" formControlName='CityDropdown' (selectionChange)="setCityFC($event.value)" placeholder="Select City Name">
                    <mat-option *ngFor="let city of cityDataSource" [value]="city.id">{{city.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->


                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">Pincode <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never" [class.haserror]="pinCodeErrorFlag">
                                                <input matInput placeholder="Enter Pincode" type="text" formControlName="PinCode" [class.haserror]="pinCodeErrorFlag" (keyup)="getpinCodefn();pincodeBlur=true" (keydown)=checkaddressFun($event)>
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('PinCode')?.hasError('required') && profileForm.get('PinCode')?.touched">
                                                    Please enter pincode.
                                                </div>
                                                <div *ngIf="profileForm.get('PinCode')?.touched && profileForm?.get('PinCode')?.value!='' && pincodeBlur && (profileForm?.get('PinCode')?.hasError('minlength') || pinCodeErrorFlag || profileForm?.get('PinCode')?.hasError('maxlength') || profileForm?.get('PinCode')?.hasError('pattern'))">
                                                    <span class="validation-err">Please input a valid pincode</span>
                                                </div>
                                            </mat-error>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">State <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput formControlName="State" type="text" readonly placeholder="Enter State">
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('State')?.touched && profileForm.get('State')?.hasError('required')">
                                                    Please enter state.
                                                </div>
                                            </mat-error>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                            <label class="f-12 d-block" for="">City <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <input matInput placeholder="Enter City" readonly type="text" formControlName="City">
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('City')?.touched && profileForm.get('City')?.hasError('required')">
                                                    Please enter city.
                                                </div>
                                            </mat-error>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="this.profileForm.get('rm')?.value !=''">
                                            <label for="" class="f-12 d-block">Relationship Manager <span class="mandatory"></span></label>
                                            <mat-form-field floatLabel="never">
                                                <mat-select class="select-new-ui" formControlName="rm" placeholder="Relationship Manager">
                                                    <mat-option value="">Relationship Manager</mat-option>
                                                    <mat-option *ngFor="let obj of RmList" [value]="obj.id">{{obj.user.first_name}} {{obj.user.last_name}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error>
                                                <div class="validation-err" *ngIf="profileForm.get('rm')?.touched && profileForm.get('rm')?.hasError('required')">
                                                    Please select RM.
                                                </div>
                                            </mat-error>
                                        </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                                <label for="" class="f-12 d-block">Partner Contact Entity</label>
                                                <mat-form-field floatLabel="never">
                                                    <!-- <mat-select class="select-new-ui" [disabled]="isMapped" formControlName="contactEntity" (selectionChange)='filterUserRole($event)' placeholder="Select Partner Contact Entity"> -->
                                                    <mat-select class="select-new-ui" [disabled]="isMapped && isEntityMapped" formControlName="contactEntity" (selectionChange)='filterUserRole($event)' placeholder="Select Partner Contact Entity">
                                                        <mat-option value="">--Contact Entity Type--</mat-option>
                                                        <mat-option *ngFor="let obj of filteredPartnerEntityList" [value]="obj.id">{{obj.company_name}}</mat-option>
        
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                                <label for="" class="f-12 d-block">User Role <span _ngcontent-bug-c17="" class="mandatory"></span></label>
                                                <!-- <mat-select class="select-new-ui" [disabled]="isMapped" formControlName="userRole" placeholder="Select User Role"  -->
                                                <mat-select class="select-new-ui" [disabled]="isMapped && isEntityMapped" formControlName="userRole" placeholder="Select User Role" (selectionChange)='doSomething($event?.value)'>
        
                                                    <mat-option *ngFor="let obj of filteredUserRole" [value]="obj">{{obj.name}}</mat-option>
        
                                                </mat-select>
                                                <mat-error>
                                                    <div class="validation-err" *ngIf="profileForm.get('userRole')?.touched && profileForm.get('userRole')?.hasError('required')">
                                                        Please select userrole.
                                                    </div>
                                                </mat-error>
                                            </div>
                                            <div class="col-md-4 mb-3" *ngIf="this.profileForm.get('partnerType')?.value==3 || this.profileForm.get('is_channel_partner')?.value">
                                                <label for="" class="f-12 d-block">Channel Partner Type</label>
                                                <mat-form-field floatLabel="never">
                                                    <mat-select class="select-new-ui" formControlName="channel_partner_type" placeholder="Select Channel Partner Type">
                                                        <mat-option value="">--Channel Partner Type--</mat-option>
                                                        <mat-option *ngFor="let obj of channelPartnerType" [value]="obj.id">{{obj.title}}</mat-option>
        
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4 mb-3" *ngIf="this.profileForm.get('userRole')?.value?.id==3">
                                                <section class="example-section">
                                                    <mat-checkbox class="example-margin" [class.d-none]="this.isrm" [disabled]="isMapped && isEntityMapped" formControlName="is_channel_partner">Check for Channel Partner Role</mat-checkbox>
                                                </section>
                                            </div>
                                    </div>
                                    
                                </div>
                                <!-- this is for contact entity -->
                               


                            </div>
                        </div>
                        <div class="asset-table d-none" *ngIf="this.profileForm.get('userRole')?.value?.id==8">
                            <table [formGroup]='enterprisePermissionForm'>
                                <tr>
                                    <th>Services</th>
                                    <th>Approval Required</th>
                                    <th>Role</th>

                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox formControlName="is_valuation">Services</mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-radio-group>
                                            <mat-radio-button [checked]="enterprisePermissionForm.get('is_valuation_approval_required').value" value="true">Yes</mat-radio-button>
                                            <mat-radio-button [checked]="!enterprisePermissionForm.get('is_valuation_approval_required').value" value="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_valuation_approver">Approver</mat-checkbox>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_valuation_requester">Requester</mat-checkbox>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <mat-checkbox formControlName="is_inspection">Asset Inspection</mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-radio-group formControlName="is_inspection_approval_required">
                                            <mat-radio-button value="true">Yes</mat-radio-button>
                                            <mat-radio-button value="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_inspection_approver">Approver</mat-checkbox>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_inspection_requester">Requester</mat-checkbox>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <mat-checkbox formControlName="is_financing">Financing</mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-radio-group formControlName="is_financing_approval_required">
                                            <mat-radio-button [checked]="enterprisePermissionForm.get('is_valuation_approval_required').value" value="true">Yes</mat-radio-button>
                                            <mat-radio-button [checked]="enterprisePermissionForm.get('is_valuation_approval_required').value" value="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_financing_approver">Approver</mat-checkbox>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_financing_requester">Requester</mat-checkbox>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <mat-checkbox formControlName="is_gps_installation">GPS Installation</mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-radio-group formControlName="is_gps_installation_approval_required">
                                            <mat-radio-button [checked]="enterprisePermissionForm.get('is_valuation_approval_required').value" value="true">Yes</mat-radio-button>
                                            <mat-radio-button [checked]="enterprisePermissionForm.get('is_valuation_approval_required').value" value="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_gps_installation_approver">Approver</mat-checkbox>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_gps_installation_requester">Requester</mat-checkbox>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <mat-checkbox formControlName="is_photographs">Photographs Only</mat-checkbox>
                                    </td>
                                    <td>
                                        <mat-radio-group>
                                            <mat-radio-button (click)="updateApprovalReq(is_photographs_approval_required,true)" [checked]="enterprisePermissionForm.get('is_photographs_approval_required').value" value="true">Yes</mat-radio-button>
                                            <mat-radio-button (click)="updateApprovalReq(is_photographs_approval_required,false)" [checked]="enterprisePermissionForm.get('is_photographs_approval_required').value" value="false">No</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_photographs_approver">Approver</mat-checkbox>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-checkbox formControlName="is_photographs_requester">Requester</mat-checkbox>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="customer-details-wrapper custom address-wrapper" style="padding: 10px;" *ngIf="isUserPermission">
                    <!-- *ngIf="isUserPermission" -->
                    <div class="crate-contact-box">
                        <h2 class="sub-head">User Permission</h2>
                        <div class="crate-contact-body">
                            <div class="permission-files-body">
                                <div *ngIf="permissionObj != undefined" >
                                    <div class="user-permission-box" *ngFor="let permission of permissionObj | keyvalue">
                                        <h4 *ngIf='!isArray(permission.value)'>{{permission.key}}</h4>
                                        <div class="user-permission-box-body" *ngIf='!isArray(permission.value)'>
                                            <div class="permission-files" *ngFor="let subpermission of permission?.value | keyvalue">
                                                <p style="font-weight: 600;
                    font-size: 16px;
                    margin-top: 15px;">{{subpermission.key}}</p>
                                                <div class="form-check form-check-inline">
                                                    <div *ngFor="let obj of subpermission.value; let i=index">
                                                        <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="obj.isChecked" id="inlineCheckbox_{{obj.id}}" value="obj.id" (change)="checkBoxClicked($event, obj.id)">
                                                        <label class="form-check-label" for="inlineCheckbox1">{{obj.name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="user-permission-box">
                                        <h4>Other</h4>
                                        <div class="user-permission-box-body">
                                    <div [class.permission-files]='isArray(permission.value)' [class.d-none]='!isArray(permission.value)' *ngFor="let permission of permissionObj | keyvalue">
                                    <div  *ngIf="isArray(permission.value)">
                                        <p style="font-weight: 600;
            font-size: 16px;
            margin-top: 15px;">{{permission.key}}</p>
                                        <div class="form-check form-check-inline">
                                            <div *ngFor="let obj of permission.value; let i=index">
                                                <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="obj.isChecked" id="inlineCheckbox_{{obj.id}}" value="obj.id" (change)="checkBoxClicked($event, obj.id)">
                                                <label class="form-check-label" for="inlineCheckbox1">{{obj.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    </div>  
                                        </div>
                                    </div>
                                </div>


                                <div class="user-permission-box d-none">
                                    <h4>AUCTIONS</h4>
                                    <div class="user-permission-box-body">
                                        <div class="permission-files">
                                            <p>Auction - Auction EMD Master</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="permission-files">
                                            <p>Auction - Auction Fulfilment</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="permission-files">
                                            <p>Auction - Auction Lot</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="permission-files">
                                            <p>Auction - Auction Payment History</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="permission-files">
                                            <p>Auction - Auction Registration</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="permission-files">
                                            <p>Auction - Auctions</p>
                                            <div class="form-check form-check-inline">
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">View</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Add</label>
                                                </div>
                                                <div>
                                                    <input class="form-check-input align-middle" type="checkbox">
                                                    <label class="form-check-label align-middle" for="inlineCheckbox1">Edit</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-12">
                        <div class="saveandcont-btn">
                            <button mat-flat-button [disabled]="profileForm.invalid || pinCodeErrorFlag || uploadingImage" (click)="createPartnerContact()">Save & Continue</button>
                        </div>
                    </div>
                </div>
            </form>






        </section>
    </div>
</main>