.div-wraapper {
    padding: 15px;
    width: calc(100% - 18em);
    margin-bottom: 100px;
    margin-left: auto;
    transition: 0.5s;
}

.main-heading {
    font-size: 32px;
    font-weight: 700;
}


.user-permission-box {
    box-shadow: 0 0 6px #d2dce6;
    background: #fff;
  }
  
  .user-permission-box-body {
    padding: 10px;
  }
  .user-permission-box-body .permission-files p {font-weight: 600;}
  .user-permission-box h4 {
    background: #d2cece;
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
  }

.div-wraapper .myself-details-main-wrapper {
    border: 1px solid #c4cfd8;
    border-radius: 8px;
}

.myself-details-main-wrapper .progress-block {
    border-radius: 8px 8px 0px 0px;
}

.basic-details-section {
    padding: 0px;
}

.basic-details-section h3.title {
    font-size: 24px;
}

.basic-details-section label {
    color: #77828a;
    font-weight: 500;
}

.customer-details-wrapper label {
    font-size: 12px;
}

.prof-of-identity .pancard-wrapper label {
    font-size: 12px;
}

.indentity-section .heading h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.custom-file {
    height: 46px;
}

.custom-file .custom-file-label {
    height: 46px;
    padding: 0px;
}

.custom-file .cust-upload-txt {
    display: block;
    left: 16px;
    top: 13px;
    text-align: left;
}

.custom-file .cust-upload-txt span {
    text-decoration: none;
}

.custom-file .custom-file-input {
    cursor: pointer;
    height: 46px;
}

.upload-doc img {
    width: 100%;
    height: 75px;
    border-radius: 4px;
}

.mat-tab-body.mat-tab-body-active {
    overflow: hidden;
}

.main-form-details-container h3 {
    font-size: 16px;
    margin-bottom: 1em;
}

h2.sub-head {
    background: #0d4fa3;
    padding: 10px;
    color: #fff;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 0em;
}

.user-permission-box {margin-bottom: 10px;}

.permission-files p {
    padding: 5px;
    background: #eee;
    font-size: 14px !important;
    margin-bottom: 0px;
}

.prof-of-identity,
.customer-details-wrapper {
    margin-bottom: 15px;
    padding: 10px;
}

.permission-files .form-check {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 5px;
}

.permission-files .form-check div {
    flex: 1 1 30%;
    margin: 0px;
}

.permission-files {
    background: #fafafa;
    padding: 0px;
    border: 1px solid #eee;
    width: 49%;
    display: inline-block;
    margin: 5px 3px;
}

.permission-files p {
    margin-top: 0px!important;
}

.main-form-details-container {
    font-size: 0.8rem;
    padding: 10px;
}

.d-block {
    line-height: normal;
}

.crate-contact-box {
    border: 1px solid #cdd6dc;
    border-radius: 6px;
}

.crate-contact-box .crate-contact-body {
    padding: 10px;
}

.payment-card-slct .mat-select-trigger {
    float: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    line-height: 40px;
    width: 100%;
}

.payment-card-slct .mat-select-trigger {
    float: none;
    width: 100%;
}

.payment-card-slct {
    padding-left: 5px !important;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /* .div-wraapper {
        padding: 20px 15px;
        margin-top: 80px;
        width: 100%;
        float: none;
        transition: 0.5s;
    } */
}

.progress-block .progress-steps-group-block {
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
    font: initial;
    line-height: 35px;
}

.contact-mobile .mat-select-value {
    padding-top: 9px;
    padding-left: 0px;
}

.datepicker-input .calender-icon {
    position: absolute;
    top: -28px;
    right: 10px;
}

.asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
}

.asset-table table {
    max-width: 100%;
    overflow: auto;
}

.asset-table table th,
.asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
}

.asset-table table td {
    border-right: 1px solid #e0e4e8 !important;
    height: 54px;
}

.asset-table table tr {
    border-bottom: 1px solid #e0e4e8 !important;
}

.asset-table table td mat-form-field {
    bottom: -2px;
}

.asset-table table td:last-child {
    border-right: 0px;
}

.asset-table table td:first-child {
    border-top: 0px;
}

.asset-table tr td button.simple-btn {
    width: 35px;
    margin-right: 8px;
    margin-left: 0px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    border-radius: 50%;
    background-color: #e7eef2;
}

.asset-table table td button.simple-btn span {
    font-size: 18px;
}

.asset-table tr td button.simple-btn:last-child {
    margin-right: 0px;
}

.asset-table tr:nth-child(even) {
    background-color: #f8fbfd;
}

.asset-table table th {
    background-color: #0d4fa3;
    color: #fff;
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #ffffffe7;
    top: 0;
}

.spinner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    justify-content: center;
}

.loading .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
}

.loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
    background: #1A50B1;
}

.loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
    background: #3B428D;
}

.loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
    background: #643161;
}

.loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
    background: #832540;
}

.loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
    background: #A01922;
}

.loading .dot:nth-child(5)::before {
    animation-delay: 1s;
}

@keyframes wave {
    50%,
    75% {
        transform: scale(2.0);
    }
    80%,
    100% {
        opacity: 0;
    }
}

.spinnerOuter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.16);
    z-index: 9999;
}


/* @import "toastr"; */

@media screen and (max-width: 767px) {
    .div-wraapper {
        padding: 0px 10px 20px !important;
        width: 100%;
    }
    .saveandcont-btn.saveandcont-edit-btn {width: auto; margin: 0px;}
    .permission-files { 
        width: 100%; 
        margin: 5px 0px;
    }
}

@media (max-width: 575.98px){
    .saveandcont-btn {margin: 0px 10px;}
    .saveandcont-btn.saveandcont-edit-btn {width: auto; margin: 0px;}

}