<div class="popup">
  <div class="popup-hdr">
    {{
      isEdit ? "Edit Asset Sale Charge Master" : "Add Asset Sale Charge Master"
    }}
  </div>
  <div class="popup-body" [formGroup]="form">
    <div class="otp-wrapper">
      <div class="sign-in-pwd-wrapper">
        <div class="row mx-0" style="justify-content: flex-end">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Select Type</label>
            <mat-form-field floatLabel="never">
              <mat-select
                formControlName="Type"
                (selectionChange)="onTypeChange($event)"
              >
                <mat-option value="" selected> Select Type </mat-option>
                <mat-option value="1"> Enterprise </mat-option>
                <mat-option value="2"> Seller </mat-option>
                <mat-option value="3"> Default </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div
            *ngIf="this.form.get('Type')?.value === '1'"
            class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2"
          >
            <label for="">User</label>
            <mat-form-field floatLabel="never">
              <input
                required
                matInput
                type="text"
                placeholder=""
                formControlName="User"
              />
            </mat-form-field>
          </div>

          <div
            *ngIf="form.get('Type')?.value === '2'"
            class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2"
          >
            <label for="">Mobile no.</label>
            <mat-form-field floatLabel="never">
              <input
                required
                matInput
                type="text"
                placeholder=""
                formControlName="MobileNo"
              />
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label class="form-label" for=""
              >Effective From Date <span class="required-star">*</span></label
            >
            <mat-form-field floatLabel="never">
              <input
                matInput
                [matDatepicker]="picker1"
                (click)="picker.open()"
                readonly
                formControlName="FromDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon
                  class="material-icons-outlined"
                  matDatepickerToggleIcon
                >
                  calendar_today</mat-icon
                >
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label class="form-label" for=""
              >Effective To Date <span class="required-star">*</span></label
            >
            <mat-form-field floatLabel="never">
              <input
                matInput
                [matDatepicker]="picker"
                (click)="picker.open()"
                readonly
                formControlName="ToDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon
                  class="material-icons-outlined"
                  matDatepickerToggleIcon
                >
                  calendar_today
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row mx-0" style="justify-content: flex-end">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Select Asset Category</label>
            <mat-form-field floatLabel="never">
              <mat-select formControlName="AssetCategory">
                <mat-option
                  *ngFor="let category of assetCategoryList"
                  [value]="category.id"
                  >{{ category.display_name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Select Charge Basis</label>
            <mat-form-field floatLabel="never">
              <mat-select formControlName="ChargeBasis">
                <mat-option value="1"> Flat </mat-option>
                <mat-option value="2"> % </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
            <label for="">Amount</label>
            <mat-form-field floatLabel="never">
              <input
                required
                matInput
                type="text"
                placeholder=""
                formControlName="Amount"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="default-btn plr-md-40" (click)="okClick()" mat-button>
        Save
      </button>
    </div>
  </div>
</div>
