<main class="container-fluid">
    <section class="myself-details-main-wrapper">
      <div class="row">
        <div class="col-12 p-0">
          <div class="progress-block">
            <div class="progress-steps-group-block">
              <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                  class="step-lbl">Basic Details</span></div>
              <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span
                  class="step-lbl">Preference</span></div>
              <div class="step-block"> <span class="step-no active"><span class="steps">3</span></span><span
                  class="step-lbl">Visuals</span></div>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <div class="visual-card"> 
    <form [formGroup]="viewingOptionsForm">
      <section class="sell-visuals">
        <h3 class="f-20 f-500 mb-2">Visuals</h3>
        <div class="poi-tabs-wrapper">
          <mat-tab-group animationDuration="0ms">
            <mat-tab formArrayName="imageData" *ngFor="let visual of tabsList; let i = index;"
              label="{{visual.category_name}}">
              <ng-container formGroupName={{i}}>
                <div class="p-1">
                  <div class="instructions-bx">
                    <p class="f-16 mb-2">Instructions </p>
                    <ul>
                      <li>1- Click Picture in landscape mode</li>
                      <li>2- Upload minimum 3 pictures</li>
                      <li>3- Take front, back and side pictures </li>
                      <li>4- Avoid bright-light background</li>
                      <li>5- Photo size should not exceed 5 MB</li>
                      <li>6- Allowed file types are .jpg, .png, .jpeg, .bmp, .svg+xml</li>
                    </ul>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <label for="" class="f-12">Upload {{visual.category_name}} photo 
                        <div class="info-tooltip">i
                          <span class="info-tooltip-text info-tooltip-top">Allowed file types are .jpg, .png, .jpeg, .bmp, .svg+xml</span>
                        </div>
                      </label>
                      <div class="custom-file dragDrop">
                        <input type="file" id="app_file" class="custom-file-input" #imageInput formControlName="imageUrl"
                          accept="image/*" multiple (change)="handleUpload($event.target.files,visual.id);">
                        <label class="custom-file-label" for="front">
                          <span class="upload-icon"></span>
                          <span class="cust-upload-txt">
                            <span class="blue-txt">Choose a file</span>
                          </span>
                        </label>
                        <ngx-file-drop dropZoneLabel="Drag Images here" multiple="true"
                          (onFileDrop)="dropped($event,visual.id)">
                        </ngx-file-drop>
                      </div>
                    </div>
                    <div class="col-md-5" *ngIf="imageFormGroup.controls[i].value.images.length > 0">
                      <label for="" class="f-12">Uploaded Photo</label>
                      <div formArrayName="images">
                        <span *ngFor="let image of imageFormGroup.controls[i].value.images; let j=index"
                          class="p-relative d-inline-block uploaded-img-bx mr-2">
                          <ng-container [formGroupName]="j">
                            <span *ngIf="image.image_category == visual.id">
                              <img src={{image?.url}} alt="" class="imgHeight">
                              <span class="primary-checkbox" *ngIf="!image?.is_primary">
                                <mat-checkbox formControlName="is_primary"
                                  (change)="updateSelected($event,image)">
                                </mat-checkbox>
                              </span>
                              <span *ngIf="image.is_primary == true" class="primary-tag">PRIMARY</span>
                              <span class="material-icons deleteIcon" (click)="delete(image,i,j)">delete</span>
                              <!-- <span class="material-icons cropIcon" (click)="cropImage(image,visual.id, i,j)"> crop</span> -->
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <!-- <button class="default-btn-outline mt-1" mat-button>Mark as Primary</button> -->
                    </div>
                  </div>
                </div>
              </ng-container>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h3 class="f-20 f-500">You can upload the video of asset
              <div class="info-tooltip">i
                <span class="info-tooltip-text info-tooltip-top">Allowed file types are .mp4, .avi, .webm, .3gpp, .mov, .wmv</span>
              </div>
            </h3>
            <!-- enter the Video URL or -->
          </div>
        </div>
        <div class="row mt-3" formArrayName="videosData" *ngFor="let video of videosFormGroup.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-4 mini-custom-file">
              <label for="" class="f-12 d-block">{{!video.get('url').value ? 'Upload video' : 'Uploaded Video'}}</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="videoFile"
                  (change)="handleVideoUpload($event, i);" #videoInput *ngIf="!video.get('url').value">
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{video.get('url').value ?
                    getVideoName(video.get('url').value) : 'Choose a file'}}</span>
                  <span class="upload-icon2"></span>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <button *ngIf="video.get('url').value" class="default-btn-outline mt-4 mr-2" (click)="delete(video.value,i)" mat-button>Remove</button>
              <button *ngIf="videosFormGroup.controls.length == i + 1" class="default-btn mt-4" (click)="addNewVideo()" mat-button>Add More</button>
            </div>
          </ng-container>
        </div>
        <div class="row mt-3 bottom-btn">
          <div class="col-12 col-sm-6 mb-2 mb-lg-4 mb-md-4">
            <button mat-button class="default-btn-outline" (click)="back()">Back</button>
          </div>
          <div class="col-12 col-sm-6 mb-4  text-right">
            <button mat-button class="default-btn mb-2 mb-lg-0 mb-md-0  mr-0 mr-lg-2 mr-md-2" type="button" (click)="preview()">Asset Preview</button>
            <button mat-button class="default-btn" type="submit" (click)="saveData()">Finish</button>
          </div>
        </div>
      </section>
    </form>
    </div>
  </main>