.sell-visuals { 
  font-size: 14px;
}
.instructions-bx {
  background: #fcdd98;
  border-radius: 10px;
  padding: 15px;
}

.visual-card {
  background-color: #fff;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 10px;
  padding: 15px 15px 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
 
.instructions-bx ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.instructions-bx ul li {
  display: inline-block;
  margin-right: 30px;
}
.instructions-bx ul li:last-child {
  margin-right: 0;
}
.primary-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
}
.uploaded-img-bx {
  border: 1px solid #c4cfd8;
  border-radius: 6px;
  overflow: hidden;
}
.primary-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}
.primary-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.progress1 {
  width: 80%;
  position: absolute;
  top: 48%;
  left: 10%;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  height: 4px;
  border-radius: 2px;
}
.progress2 {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  display: block;
  height: 4px;
  border-radius: 2px;
}
.mini-custom-file .custom-file {
  height: 46px;
}
.imgHeight {
  height: 80px;
}

.custom-file-label2 .cust-upload-txt2 span {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.custom-file-label::after{
    display: none;
}

@media only screen and (max-width: 600px) {
  .bottom-btn button {
    width: 100%;
  }
}



/* Tooltip css starts */

.info-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #bb7b0c;
  margin-left: 7px;
  font-style: italic;
  border: 1px solid #bb7b0c;
  border-radius: 50%;
  padding: 2px 6px;
  width: 18px;
  height: 18px;
  line-height: 14px;
  font-weight: 600;
}

.info-tooltip .info-tooltip-text {
  visibility: hidden;
  font-weight: normal;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

.info-tooltip .info-tooltip-top {
  width: 160px;
  bottom: 148%;
  left: 50%;
  margin-left: -60px;
}

.info-tooltip .info-tooltip-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 38%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info-tooltip:hover {
  cursor: pointer;
}

.info-tooltip:hover .info-tooltip-text {
  visibility: visible;
  cursor: pointer;
}


/* Tooltip css ends */