/* .progress-steps-group-block{
    width: 100%;
} */
.dtl-side-bx{
    border:1px solid #C4CFD8;
    border-radius: 6px;
    overflow: hidden;
}
.dtl-side-bx .dtl-side-bx-header{
    padding: 15px;
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
}
.dtl-side-bx .dtl-side-bx-header p{
    color: #ffffff;
    margin-bottom: 0;
}
.dtl-side-bx-txt {
    padding: 15px;
    font-size: 14px;
    background: #F5F8FA;
}
.dtl-side-bx-txt ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
}
.dtl-side-bx-txt ul li{
    margin-bottom: 20px;
    padding-left:20px;
    position: relative;
    font-size: 14px;
}
.dtl-side-bx-txt ul li::after{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0D4FA3;
}
.no-rgstr{
    padding: 30px;
    border: 1px solid #C4CFD8;
    border-radius: 10px;
}

.category-brand .mat-card {padding: 0px;}
.category-brand {
    border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}


@media (max-width: 576px) { 

    .organise-img {display: inline-block; vertical-align: top;}
    .orgnise-txt {display: inline-block; vertical-align: top; width: 100% !important;}
    .orgnise-btn {margin-top: 10px; text-align: right;}
    .no-rgstr {padding: 15px; }
    .orgnise-txt .main-txt {font-size: 14px; padding-bottom: 10px;}

}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .product-wrapper { 
      width: 100%;
      float: none;
      transition: 0.5s;
      margin-top: 80px !important;
    }
  } 
  
  
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .product-wrapper {padding: 0px 7.5px;
      width: 100%;
      margin-bottom: 50px;
      margin-left: auto;
      transition: 0.5s;}
      .product-wrapper .mat-card {padding: 0px;}
      .mob-search-btn {
        padding-left: 15px !important;
        margin-top: 1em;
    }
    .mob-search-btn button {
        width: 100%;
    }
  }