<div class="main-div product-wrapper">
    <div class="product-wrapper-box p-0">
    <div class="category-brand">
  <mat-card>
    <div class="trade-tab-container">
<section class="myself-details-main-wrapper communication-pref-wrapper">
    <div class="progress-block">
        <div class="progress-steps-group-block px-3">
            <h2 class="my-3">Welcome {{this.sharedService.updateUserName()}} !</h2>
        </div>
    </div>
</section>
<main class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="py-4">
                <div *ngIf="!isOrganization">
                    <h2 class="f-20">Link your organization with iQuippo</h2>
                <p class="f-14">Enter your Corporate PAN in the below box to search your organization</p>
                <div class="row">
                    <div class="col-md-6 mr-md-0 col-12">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter Your Pan Number" [(ngModel)]="searchInput" autocomplete="off" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 pl-0 col-12 mob-search-btn">
                        <button mat-button class="default-btn px-3" [disabled]="searchInput==''" (click)="searchOrg()">
                            <img src="../../../assets/images/magnifying-glass.svg" alt="" class="pr-2"> 
                            Search
                        </button>
                    </div>
                </div>
                </div>
                <ng-container *ngIf="isOrganization != null">
                    <div class="no-rgstr mt-4" *ngIf="!isOrganization">
                        <div class="d-md-flex d-lg-flex d-block">
                            <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2 organise-img">
                            <div class="w-80 orgnise-txt">
                                <p class="f-22 mb-0 main-txt">Your organisation is not registered with iQuippo</p>
                                <p class="f-14 mb-0">Click the Next button to register</p>
                            </div>
                            <div class="orgnise-btn">
                                <button class="default-btn" mat-button routerLink="/customer/dashboard/partner-dealer/corporate-details">Register</button>
                            </div>
                        </div>
                    </div>
                    <div class="no-rgstr mt-4" *ngIf="isOrganization">
                        <div class="d-flex">
                            <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2">
                            <div class="w-80">
                                <p class="f-22 mb-0">{{organizationDetails?.partner?.company_name}}</p>
                                <p class="f-14 mb-0">
                                    {{organizationAddress?.address}} {{organizationAddress?.pincode?.location}} {{organizationAddress?.pincode?.city.name}} {{organizationAddress?.pincode?.city?.state.name}} {{organizationAddress?.pincode?.city?.state?.country.name}}
                                </p>
                            </div>
                            <div>
                                <button class="default-btn mt-3 mt-md-auto mt-lg-auto" mat-button (click)="mapOrg()">Next</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="no-rgstr mt-4" *ngIf="isProgress">
                        <div class="d-flex">
                            <img src="../../../assets/images/undraw_Building_re_xfcm.svg" alt="" class="mr-2">
                            <div class="w-80">
                                <p class="f-22 mb-0">Request Under Process.</p>
                                <p class="f-14 mb-0">
                                    Your Request in under process. Our business team will review and get back to you in 2-3 working days.
                                </p>
                            </div>
                            <div>
                                <button class="default-btn d-none" mat-button (click)="mapOrg()">Next</button>
                            </div>
                        </div>
                    </div> -->
                </ng-container>
            </div>
        </div>
        <div class="col-md-4 py-4">
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>Basic Details</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>Why iQuippo?</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <p class="mb-0">At iQuippo, we offer user friendly, efficient, secure and trustworthy platform for equipment financing and fulfillment.<br>
                        Our Platform provides better experience, efficient business processes, let’s you compare different loan processing for best deals with verifiable trust.</p>
                </div>
            </div>
            <div class="dtl-side-bx mb-4">
                <div class="dtl-side-bx-header">
                    <p>FAQs</p>
                </div>
                <div class="dtl-side-bx-txt">
                    <ul>
                        <li><b>1. Why Link Organization? </b>
                        <p class="mb-0">Linking your organization will allow you to sell & list your equipment through our platform</p>
                        </li>
                        <li>
                            <b>2. How to link organization?</b>
                        <p class="mb-0">Submit your PAN, GST or Company full name. If your organization is already registered, Just tap on the name and it’s done!</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</mat-card>
  </div>
</div>
</div>