<mat-card>
    <div class="product-wrapper">
        <div class="product-wrapper-box">
            <div class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Category/Brand Master</li>
                </ol>
            </div>
            <div class="admin-page-heading">
                <div class="admin-page-header col-lg-6 col-md-12">
                    <h3 class="admin-page-title">Category/Brand Master</h3>
                </div>
            </div>

            <mat-tab-group class="sub-section-tab auction-tab" (selectedTabChange)="onListTabChanged($event);">
                <mat-tab label="CATEGORY MASTER">

                    <div class="no-content-box mt-4" *ngIf="!showForm && !isShowCategory">
                        <div class="no-content-img mt-5 mb-4">
                            <img src="../../../assets/images/image-asset.png" />
                        </div>
                        <div class="not-content-txt">
                            <h2>No category added Yet?</h2>
                            <p>Please click on a Add New button to create new category
                            </p>

                            <button class="default-btn mat-button"
                                (click)="GetChildData(true , 'CategoryCreate' ,$event , 0, 0)">Add
                                New</button>

                        </div>
                    </div>

                    <ng-container *ngIf="showForm">
                        <app-create-update-category-dialog-component
                            (ChdOutput)="GetChildData(!showForm , 'CategoryCreate' ,$event , 0, 0)" [value]="objCat">

                            <!--(ChdOutput) ="GetChildData(!showForm)">-->
                        </app-create-update-category-dialog-component>
                    </ng-container>

                    <div class="category-brand-table" *ngIf="isShowCategory">
                        <div class="text-right">
                            <div class="row mb-3">
                                <div class="col-md-4 text-right">
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Search</mat-label>
                                        <input matInput placeholder="Search" [(ngModel)]="searchText"
                                            (keyup)="searchCategory()" (keydown.enter)="searchCategory()"
                                            autocomplete="off" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8 category-btn text-right">
                                    <button mat-button *ngIf="!showForm"
                                        (click)="GetChildData(true , 'CategoryCreate' ,$event , 0, 0)"
                                        class="default-btn create-category"><i class="fa fa-plus"
                                            aria-hidden="true"></i>Create Category</button>
                                    <button mat-raised-button color="primary" (click)="exportData('categoryMaster')"
                                        class="theme-btn export-btn "><i class="fa fa-file-excel-o pr-2  fa-lg"
                                            aria-hidden="true"></i>Export</button>
                                </div>
                            </div>
                        </div>

                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" #table mat-table
                                    [dataSource]="categoryDataSource" matSortDirection="desc" matSortActive="id"
                                    matSortDisableClear matSort (matSortChange)="onCatSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Category ID</span> {{ element.id }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="img_url">
                                        <th mat-header-cell *matHeaderCellDef> Category Image</th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Category Image</span>
                                            <img src="{{element.img_url}}" class="logo" />
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Category Name</span> {{ element.name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Display Name
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Category Display Name</span> {{
                                            element.display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Status</span> {{ element.status }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <span class="mobile-label">Actions</span>
                                            <div>

                                                <button mat-button
                                                    (click)="GetChildData(true , 'CategoryEdit' , $event , i , element.id)"
                                                    class="simple-btn"><span><img
                                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                                            title="Edit"></span></button>
                                                <button mat-button
                                                    (click)="GetChildData(false , 'CategoryDelete' , $event , i , element.id)"
                                                    class="simple-btn"><span><img
                                                            src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                            title="Delete"></span></button>
                                            </div>
                                        </td>

                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="categoryDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: categoryDisplayedColumns"></tr>
                                </table>
                                <div class="no-record" *ngIf="!categoryDataSource.data?.length">No records found</div>
                            </div>

                            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event , 'categoryData')">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="BRAND MASTER">

                    <div class="no-content-box mt-4" *ngIf="!showBrandForm && !isShowBrand">
                        <div class="no-content-img mt-5 mb-4">
                            <img src="../../../assets/images/image-asset.png" />
                        </div>
                        <div class="not-content-txt">
                            <h2>No brand added Yet?</h2>
                            <p>Please click on a Add New button to create new brand
                            </p>

                            <button class="default-btn mat-button"
                                (click)="GetChildData(true , 'BrandCreate' ,$event , 0, 0)">Add
                                New</button>

                        </div>
                    </div>

                    <ng-container *ngIf="showBrandForm">

                        <app-create-update-brand-dialog
                            (ChdOutput)="GetChildData(!showBrandForm , 'BrandCreate' ,$event , 0, 0)"
                            [value]="objBrand">
                        </app-create-update-brand-dialog>

                    </ng-container>

                    <div class="category-brand-table" [hidden]="!isShowBrand">
                        <div class="text-right">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Search</mat-label>
                                        <input matInput placeholder="Search" [(ngModel)]="brandsearchText"
                                            (keyup)="searchBrand()" (keydown.enter)="searchBrand()"
                                            autocomplete="off" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8 category-btn text-right">
                                    <button mat-button *ngIf="!showBrandForm"
                                        (click)="GetChildData(true , 'BrandCreate' ,$event , 0, 0)"
                                        class="default-btn create-category"><i class="fa fa-plus"
                                            aria-hidden="true"></i>Create Brand</button>

                                    <button mat-raised-button color="primary" (click)="exportData('brandMaster')"
                                        class="theme-btn export-btn "><i class="fa fa-file-excel-o pr-2  fa-lg"
                                            aria-hidden="true"></i>Export</button>
                                </div>
                            </div>
                        </div>

                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="brandDataSource"
                                    matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                    (matSortChange)="onBrandSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand ID</span> {{ element.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="brand_image">
                                        <th mat-header-cell *matHeaderCellDef> Brand Image </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand Image</span>
                                            <img src="{{element.brand_image}}" class="logo" />
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="brand_logo_image">
                                        <th mat-header-cell *matHeaderCellDef> Brand Logo Image </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand Logo Image</span>
                                            <img src="{{element.brand_logo_image}}" class="logo" />
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand Name</span> {{ element.name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Display Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand Display Name</span> {{ element.display_name
                                            }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Status</span> {{ element.status }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index;">
                                            <span class="mobile-label">Actions</span>
                                            <div>
                                                <button class="simple-btn" mat-button
                                                    (click)="GetChildData(true , 'BrandEdit' ,$event , i, element.id)"><span><img
                                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                                            title="Edit" /></span></button>
                                                <button mat-button
                                                    (click)="GetChildData(false , 'BrandDelete' , $event , i , element.id)"
                                                    class="simple-btn"><span><img
                                                            src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                            title="Delete" /></span></button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="brandDisplayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: brandDisplayedColumns"></tr>
                                </table>
                                <div class="no-record" *ngIf="!brandDataSource.data?.length">No records found</div>
                            </div>

                            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event , 'brandData')">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="clearfix"></div>
</mat-card>