
.raise-insta-val-main-container .card{
    border-radius: 15px;
    background: #f5f8fa;
    padding: 15px;
    margin-bottom: 15px;
}
.main-content-wrapper {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 1rem;
}
.raiseinstavaluationenquiry {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 1rem 1rem 1rem;
}
.raise-insta-val-main-container .image-block{
    padding: 30px 15px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}
.raise-insta-val-main-container .val-right-block-head h1.info-sub-head{
    font-size:20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.raise-insta-val-main-container .val-right-block-content{ display: inline-flex; width: 100%;}

.raise-insta-val-main-container .val-right-block-content .info-block .info-label{
    font-size: 12px;
    font-weight: 500;
    color: #677782;
    margin-bottom: 5px;
}
.raise-insta-val-main-container .val-right-block-content .info-block .info-value{
    font-size: 14px;
font-weight: 500;
color: #262f39;
margin-bottom: 15px;
}
.raise-insta-val-main-container .main-form-details-container .type-block{ margin-bottom: 1rem;}
.raise-insta-val-main-container .main-form-details-container .type-block label,
.raise-insta-val-main-container .main-form-details-container .valuation-btn-block label
{

    color: #2b2929;
    font-weight: 500;
    font-size: 15px;

}

.raise-insta-val-main-container .main-form-details-container  label{
    color: #384b63;
font-size: 13px;
font-weight: 500;
}

.valuation-btn-block{ margin-top: 1.5rem; margin-bottom: 2rem;}

.valuation-btn-block .inspection-btn,.valuation-btn-block .valuation-btn{ display: inline-block; margin-top: 0.5rem;}
.valuation-btn-block .inspection-btn button,.valuation-btn-block .valuation-btn button{ 
    width: 400px;
    font-size: 16px;
	padding: 15px;
    border: 2px solid #1d4dac;
    font-weight: 500;
}
.valuation-btn-block .inspection-btn button{
    background: #1d4dac;
	color: #fff;
    margin-right: 1rem;;
	
}

.valuation-btn-block .valuation-btn button{  
    color: #484744;
    background: #fff;
}


.asset-details .card{ background: #fff; border-radius: 0px; }
.asset-details .sub-head {
	font-weight: 600;
    margin-bottom: 1.5rem;
}
.asset-details  label{
    font-weight: 500;
color: #384b63;
}
.asset-location .mat-icon{ position: absolute; top: 10px; right: 10px;}

.invoice-block .invoice-type-block .mat-radio-button{ padding: 8px 50px 0;}
.contact-person-block .contact-person-typeblock{ display: block;}
.remarks-block textarea.mat-input-element {	
	height: 130px;
	resize: none;
}

.valuationback-btn {
	padding: 0;
}
.valuationback-btn button {
	background: #fff;
	color: #094fa3;
	border: 1px solid #094fa3;
	font-weight: 500;
}
.valuationsaveandcont-btn {
	text-align: right;
	padding: 0;
}
.valuationsaveandcont-btn button {
	background: #094fa3;
	color: #fff;
    font-weight: 500;
}

/* Tooltip css starts */
.info-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-left: 7px;
    font-style: italic;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 2px 6px;
    width: 18px;
    height: 18px;
    line-height: 14px;
    font-weight:600;
}
  
.info-tooltip .info-tooltip-text {
    visibility: hidden;
    font-weight: normal;
    background-color: #094fa3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
}

.info-tooltip .info-tooltip-top{
    width: 160px;
    bottom: 148%;
    left: 50%;
    margin-left: -60px; 
}

.info-tooltip .info-tooltip-text:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 38%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.info-tooltip:hover{
    cursor: pointer;
} 
.info-tooltip:hover .info-tooltip-text {
    visibility: visible;
    cursor: pointer;
}
/* Tooltip css ends */

.asset-detail-container .card{ background: #fff;}
.asset-detail-container .card h1.raise-insta-value-title{ font-size: 30px;
    font-weight: 500;
    margin: 1.5rem 0;}

.asset-detail-container .card .raise-insta-val-text{ font-style: italic;
    font-size: 18px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    font-weight: 500;
    color: #888;}

    .other-info-block .card label{ display: block; margin-bottom: 1rem;}
    .other-info-block .card .mat-radio-button{ padding: 0 20px 0px 0px;}

    .detail-container {margin-top: 15px;}
    .asset-container-box {padding: 20px 0px 0px; margin-bottom: 0px;}
    .valuation-equiry h1 {margin-bottom: 15px; font-size: 24px; font-weight: 600; padding-bottom: 15px; border-bottom: 1px solid #eee;}
    
    .subtitle { color: #8697a2; font-style: italic; font-weight: 500;}

    span.contact-person-typeblock img {
        width: 3em;
    }
    span.contact-person-typeblock.feedback-points mat-radio-button {
        display: inline-block;
        width: 14.33%;
    }









    @media(max-width:576px){ 

        .progress-block {padding: 0px;}
        .raise-insta-val-main-container .val-right-block-head h1.info-sub-head {font-size: 18px; margin-bottom: 0px;}
        .valuation-equiry h1{font-size: 18px;}  
        .mat-radio-label-content {text-align: center;}
        span.contact-person-typeblock.feedback-points mat-radio-button {width: 50%;}




    }

    @media(max-width:768px){ 

        .main-content-wrapper {margin: 1rem 0px;}
 
    }