<main class="container-fluid">
   
    <section class="myself-details-main-wrapper">
      <div class="row">
        <div class="col-12 p-0">
            <div class="progress-block">
                <div class="progress-steps-group-block">
                    <div class="step-block"> <span class="step-no"><span class="steps">1</span></span><span class="step-lbl">Asset Details</span></div>                   
                    <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span class="step-lbl">Valuation Details</span></div>
                    <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span class="step-lbl">Payments</span></div>                   
                </div>
            </div>
           
        
        </div>
       
      </div>
<div class="main-content-wrapper">
    <div class="raise-insta-val-main-container">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <div class="image-block">
                        <img src="assets/images/valuation-icon.png" alt="">
                    </div>
                </div>
                <div class="col-sm-10">
                  <div class="detail-container">
                   <div class="val-right-block-head"> <h1 class="info-sub-head">{{this.model_name}}</h1></div>
                    <div class="val-right-block-content no-gutters">
                        <div class="col" *ngIf="get_response?.valuation_asset.is_engine_number_from_vaahan">
                            <div class="info-block"  >
                                <div class="info-label">Engine Power (In cc)</div>
                                <div class="info-value">4,500</div>
                                
                            </div>
                        </div>
                        
                        <div class="col" *ngIf="get_response?.valuation_asset.is_gross_weight_from_vaahan">
                            <div class="info-block" >
                                <div class="info-label">Gross Weight (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.gross_Weight}}</div>
                            </div>
                        </div>
                        <div class="col" *ngIf="get_response?.valuation_asset.operating_weight">
                            <div class="info-block" >
                                <div class="info-label">Operating Weight (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.operating_weight}}</div>
                            </div>
                        </div>
                        <div class="col" *ngIf="get_response?.valuation_asset.bucket_capacity">
                            <div class="info-block">
                                <div class="info-label">Bucket Capacity (in kgs)</div>
                                <div class="info-value">{{this.get_response?.valuation_asset.bucket_capacity}}</div>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
              </div>
            </div>
            
        </div>
        <form [formGroup] = 'raiseinstaform'>
    <div class="asset-detail-container asset-container-box main-form-details-container">
        
        <div class="card border-0">
            <!-- <h1 class="raise-insta-value-title"> Raise Insta Valuation enquiry</h1>
        <div class="raise-insta-val-text">
            To begin with, please share the following details with us to know more about your asset
        </div> -->
      
        
        <div class="asset-details asset-location">
          <div class="main-form-details-container">
            <div class="row">
              <div class="col-sm-12">
                <div class="valuation-equiry">
                  <h1>Raise Insta Valuation enquiry</h1>
                  <div class="subtitle">To begin with, please share the following details with us to know more about your asset</div>
                </div> 
              </div>
            </div>
          </div>
            <div class="customer-details-wrapper">
                <h2 class="sub-head">Asset Details</h2>
                <div class="card p-3">
                    <div class="row">
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3" *ngIf="get_response?.valuation_asset.rc_number">
                            <label for="">Registration No.</label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" maxlength="25" readonly value="{{this.get_response?.valuation_asset.rc_number}}" type="text" formControlName = "rc_number">                                    
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('rc_number')?.touched && raiseinstaform?.get('rc_number')?.hasError('required')">
                    <span class="validation-err">Please enter Registration Number.</span>
                </div>
                <div
                    *ngIf="raiseinstaform?.get('rc_number')?.touched && raiseinstaform?.get('rc_number')?.hasError('minlength') || raiseinstaform?.get('rc_number')?.hasError('maxlength')">
                    <span class="validation-err">Invalid Registration Number.</span>
                </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Engine No.</label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" maxlength="25" value="{{this.get_response?.valuation_asset.engine_number}}" type="text" formControlName = "engine_number">                                    
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('engine_number')?.touched && !(this.raiseinstaform.value.engine_number || this.raiseinstaform.value.machine_sr_number || this.raiseinstaform.value.chassis_number)">
                    <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
                </div>
                <div
                    *ngIf="raiseinstaform?.get('engine_number')?.touched && raiseinstaform?.get('engine_number')?.hasError('minlength') || raiseinstaform?.get('engine_number')?.hasError('maxlength')">
                    <span class="validation-err">Invalid Engine No. </span>
                </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Chassis No.</label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" maxlength="25" value="{{this.get_response?.valuation_asset.chassis_number}}" type="text" formControlName = "chassis_number">                                    
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('chassis_number')?.touched && !(this.raiseinstaform.value.engine_number || this.raiseinstaform.value.machine_sr_number || this.raiseinstaform.value.chassis_number)">
                    <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
                </div>
                <div
                    *ngIf="raiseinstaform?.get('chassis_number')?.touched && raiseinstaform?.get('chassis_number')?.hasError('minlength') || raiseinstaform?.get('chassis_number')?.hasError('maxlength')">
                    <span class="validation-err">Invalid Chassis No </span>
                </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Serial No.</label>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" value="" maxlength="25" type="text" formControlName = "machine_sr_number">                                    
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('machine_sr_number')?.touched && !(this.raiseinstaform.value.engine_number || this.raiseinstaform.value.machine_sr_number || this.raiseinstaform.value.chassis_number)">
                    <span class="validation-err">Please enter either of Engine Number, Chassis Number or Machine Serial Number</span>
                </div>
                <div
                    *ngIf="raiseinstaform?.get('machine_sr_number')?.touched && !raiseinstaform?.get('machine_sr_number')?.hasError('required')&& raiseinstaform?.get('machine_sr_number')?.hasError('invalid')">
                    <span class="validation-err">Machine Serial No is invalid.</span>
                </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">Manufacturing Year</label>
                            <mat-form-field class="datepicker-input"> 
                              <input matInput [matDatepicker]="dp1" placeholder="" formControlName="mfg_year" [max]="todayDate">
                              <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                                  <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                      <img src="../../../assets/images/calendar.svg" alt="">
                                  </mat-icon>
                              </mat-datepicker-toggle>
                              <mat-datepicker #dp1
                                              startView="multi-year"
                                              panelClass="example-month-picker" (yearSelected)="chosenYearHandler($event, dp1)">
                              </mat-datepicker>
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('mfg_year')?.touched && raiseinstaform?.get('mfg_year')?.hasError('required')">
                    <span class="validation-err">Please select some option.</span>
                </div>
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label for="">HMR/KMR<span class="validation-err">*</span></label>
                            <div class="info-tooltip">i
                              <span class="info-tooltip-text info-tooltip-top">Hour-meter Reading/Kilometer Reading</span>
                            </div>
                            <mat-form-field floatLabel="never">
                              <input matInput placeholder="" value="" type="text" formControlName = "hmr_kmr" maxlength="15">                                    
                            </mat-form-field>
                            <div
                    *ngIf="raiseinstaform?.get('hmr_kmr')?.touched && raiseinstaform?.get('hmr_kmr')?.hasError('required')">
                    <span class="validation-err">HMR/KMR is required</span>
                </div>
                <div
                    *ngIf="raiseinstaform?.get('hmr_kmr')?.touched && raiseinstaform?.get('hmr_kmr')?.hasError('pattern')">
                    <span class="validation-err">HMR/KMR is invalid</span>
                </div>
                          </div>


                     
                  
                  
                      </div>
                </div>
                
                
              </div>
        
        
        </div>
        
        
        <div class="asset-details">
            
            <div class="customer-details-wrapper other-info-block">
                <h2 class="sub-head">Other Information</h2>
               
                <div class="card p-3">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                            <label for="">Invoice Availability<span class="validation-err">*</span></label>
                            <span class="contact-person-typeblock"><mat-radio-group formControlName="is_invoice_available" aria-label="Select an option"  >
                                <mat-radio-button value='1'>Yes</mat-radio-button>
                                <mat-radio-button value='2'>No</mat-radio-button>
                              </mat-radio-group></span> 
                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-3">
                            <label for="">Is this equipment accidently damaged<span class="validation-err">*</span></label>
                            <span class="contact-person-typeblock"><mat-radio-group formControlName="is_equipment_accidentally_damaged" aria-label="Select an option"  >
                                <mat-radio-button value="1">Yes</mat-radio-button>
                                <mat-radio-button value="2">No</mat-radio-button>
                              </mat-radio-group></span> 
                          </div>
                          <div class="col-12 col-sm-12 mt-4 mb-3 quality-radio">
                            <label for="">Asset Condition<span class="validation-err">*</span></label>
                            <span class="contact-person-typeblock feedback-points"><mat-radio-group formControlName="asset_condition" aria-label="Select an option"  >
                                <mat-radio-button value="EX"><img  src="../../../../../../../assets/images/excellent.svg"><div>Excellent</div></mat-radio-button>
                                <mat-radio-button value="VGD"><img  src="../../../../../../../assets/images/midish-okay.svg"><div>Very Good</div></mat-radio-button>
                                <mat-radio-button value="GD"><img  src="../../../../../../../assets/images/happy.svg"><div>Good</div></mat-radio-button>
                                <mat-radio-button value="AVG"><img  src="../../../../../../../assets/images/average.svg"><div>Average</div></mat-radio-button>
                                <mat-radio-button value="POOR"><img  src="../../../../../../../assets/images/worst.svg"><div>Poor</div></mat-radio-button>
                                <mat-radio-button value="SCR"><img  src="../../../../../../../assets/images/sad.svg"><div>Scrap</div></mat-radio-button>
                              </mat-radio-group></span> 
                          </div>

                         
                          
                  
                      </div>
                </div>
              
               
       
        
        <div class="row mb-0 mt-4">
            <div class="col-6 col-sm-6">
              <div class="valuationback-btn">
                <button mat-flat-button [routerLink]="['/valuation-request/asset-valuated']"> Back</button>
              </div>  
            </div>
            <div class="col-6 col-sm-6">
              <div class="valuationsaveandcont-btn">
                <button mat-flat-button [disabled] = "!raiseinstaform.valid" (click)="save_and_close()">Save & Continue</button>
              </div>  
            </div>
          </div>
        
        
        
              </div>
        
        
        </div>
        
         </div> 


 



 

  
 

</div>

</form>

</div>

     
    </section>
  
  </main>