<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>
        Refund</h4>
        <button mat-button (click)="backClick()" class="close-btn"><img src="../../../../../../assets/images/Close.svg"
                alt=""></button>
    </div>
    <div class="popup-body">
        <form [formGroup]="refundForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <mat-form-field floatLabel="never">
                        <mat-label>Amount to be Refunded *</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName='refund_amount'>
                    </mat-form-field>
                    <div *ngIf="refundForm.get('refund_amount')?.errors && refundForm.get('refund_amount')?.invalid && (refundForm.get('refund_amount')?.touched || refundForm.get('refund_amount')?.dirty)">
                        <span class="validation-err d-block" *ngIf="refundForm.get('refund_amount')?.errors?.required">
                            Please enter amount to be refunded
                        </span>
                        <span class="validation-err d-block" *ngIf="!refundForm.get('refund_amount')?.errors?.required && refundForm.get('refund_amount')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>
            </div>

            <div class="text-right dialog-actions-container mt-2">
                <button class="default-btn-outline plr-md-40 mr-2" (click)="backClick()" mat-button>Cancel</button>
                <button class="default-btn plr-md-40" [disabled]="!refundForm.valid" [ngStyle]="{'cursor': refundForm.valid ? 'pointer' : 'not-allowed'}" (click)="submit()" mat-button>
                    Refund Amount
                </button>
            </div>
        </form>
    </div>
</div>