.popup-hdr {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding: 15px; 
  color: #fff;
  background-color: transparent;
  position: relative;
  margin-bottom: 5px;
}

.popup-body {
  padding: 15px ;  
  overflow-y: auto;
}

.popup-available-space{
  padding: 12px 20px;
  color: #204555;
  background: #E2F5E9;
  border-radius: 6px;
}

.popup {
  background: #fff;
  border-radius: 0px;
}

.close-btn{
  background: #fff;
  float: none;
  border: none; 
  min-width: auto;
  margin-top: -5px;
}

.wrapper-demo-banner h3 {
  color: #fff;
  padding-top: 20px;
  font-size: 22px;
  padding-left: 30px;
}

.close-btn img {width: 15px; margin-top: -1px;}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container{
  margin-top: 16px;
}

.label-title {
  margin-bottom: 7px;
  color: #a4a9ad;
  display: block;
}

.popup-hdr{
  margin-bottom:0px;
}
.popup-body{
  position: relative;
  min-height: 100%;
  padding:0px;
  overflow-y: auto !important;
  overflow-x: hidden;
  max-height: 80vh;
}
.modal-popup .popup-hdr {padding: 10px 15px;}
.query-img-wrapper img {margin-bottom: 50px;}
.dialog-actions-container button {min-width: 110px!important;}
.form-wrap-enquiry{
  position: relative;
  margin-bottom: 20px;
  top: 0px;
  right:10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-wrap-enquiry h3 {
  font-size: 16px;
    background: #1a50b0;
    color: #fff;
    padding: 10px;
    margin: -10px -10px 10px;
    border-radius: 6px 4px 0px 0px;
}
.text-wrapper{
  padding:45px;
}
.enquiry-form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.wrapper-demo-banner{
  min-height:110px;
  display: none;
  background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
  position:relative;
}
@media screen and (max-width: 767px) { 
  .dialog-actions-container button {min-width: auto !important;}
  .form-wrap-enquiry{
    position:unset;
    width: 85%;
    margin: 0 auto 10px;
  }
  .text-wrapper{
    padding:20px;
  }

  .wrapper-demo-banner {min-height: 50px;}
  .wrapper-demo-banner h3 {font-size: 16px; padding-top: 12px; padding-left: 20px;}
  .query-img-wrapper img {margin-bottom: 50px;}

}