<div class="popup">
  <div class="popup-hdr text-right">
     
    <button mat-button (click)="backClick()" class="close-btn"><img src="../../../../../../assets/images/Close.svg"
        alt=""></button>
  </div>
  <div class="popup-body">

    <div class="wrapper-demo-banner">
      <h3>Send your Enquiry to us</h3>
    </div>
    <div class="row m-0">
      <div class="col-md-7 order-2 order-sm-2 order-md-1 order-lg-1">
        <div class="query-img-wrapper text-center">
          <img src="../../../assets/images/query-img1.png" alt="">
        </div>
        <!-- <div class="text-wrapper">
               <h3>Drive business results on social</h3>
               <p>Take a look at how hostlite scalability, intergration and partners are set us apart from
                    the competition levels.</p>

                <h3>The demo is customized around you</h3>
               <p>Get answers to your unique questions and find out why hostsuite is the right choice for 
                 your business.</p>
                
           </div> -->
      </div>

      <div class="col-md-5 form-wrap-enquiry order-1 order-sm-1 order-md-2 order-lg-2">
        <h3>Send your Enquiry to us</h3>
        <div class="row">
          <div class="col-12 mb-3" *ngIf="offerData">
            <mat-label class="mb-1 d-block f-12">Offer type selected by you</mat-label>
            <div class="sub-title pt-0">{{getOfferType(offerData?.type)}}</div>
          </div>
          <div class="col-12 mb-3" *ngIf="offerData">
            <mat-label class="mb-1 d-block f-12">Offer description</mat-label>
            <div class="sub-title pt-0">{{offerData?.description}}</div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12 mb-3" *ngIf="offerData">
            <mat-label class="mb-1 d-block f-12">Offer Name</mat-label>
            <div class="sub-title pt-2">{{offerData?.name}}</div>
          </div>
          <div class="col-12 mb-3">
            <mat-label class="mb-1 d-block label-title">Are you buying equipment for the First Time? *</mat-label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value=true (change)="updateValidation($event.value)">Yes</mat-radio-button>
              <mat-radio-button value=false (change)="updateValidation($event.value)">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div> -->
        <form [formGroup]="enquiryForm" class="enquiry-form d-block">
          <!-- <div class="row">        
                <div class="col-12 mb-3" *ngIf="firstAsset == 'false'">
                  <mat-label class="mb-1 d-block label-title f-12">How many equipments do you have? *</mat-label>
                  <input matInput placeholder="" type="text" formControlName='number_of_equipment_avail' autocomplete="off">          
                  <div *ngIf="enquiryForm.get('number_of_equipment_avail')?.errors && enquiryForm.get('number_of_equipment_avail')?.invalid && (enquiryForm.get('number_of_equipment_avail')?.touched || enquiryForm.get('number_of_equipment_avail')?.dirty)">
                    <span class="validation-err d-block" *ngIf="enquiryForm.get('number_of_equipment_avail')?.errors?.required">
                      Please enter no. of equipment required.
                    </span>
                    <span class="validation-err d-block" *ngIf="!enquiryForm.get('number_of_equipment_avail')?.errors?.required && enquiryForm.get('number_of_equipment_avail')?.errors?.pattern">
                      Characters are not allowed
                    </span>
                  </div>
                </div>
                <div class="col-12 mb-3" *ngIf="firstAsset == 'false'">
                  <mat-label class="mb-1 d-block label-title f-12">Equipment Category You Already Have*</mat-label>
                  <mat-form-field floatLabel="never">
                    <mat-label>Equipment Category You Already Have*</mat-label>
                    <mat-select formControlName='category' multiple>
                      <mat-option *ngFor="let category of categoryMasterList" [value]="category.id">{{category.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="validation-err" *ngIf="enquiryForm.get('category')?.touched && enquiryForm.get('category')?.hasError('required')">
                    Please select equipment category you already have.
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <mat-label class="mb-1 d-block label-title f-12">How many equipments required? *</mat-label>
                  <input matInput placeholder="" type="text" formControlName='number_of_equipment_required' autocomplete="off">          
                  <div *ngIf="enquiryForm.get('number_of_equipment_required')?.errors && enquiryForm.get('number_of_equipment_required')?.invalid && (enquiryForm.get('number_of_equipment_required')?.touched || enquiryForm.get('number_of_equipment_required')?.dirty)">
                    <span class="validation-err d-block" *ngIf="enquiryForm.get('number_of_equipment_required')?.errors?.required">
                      Please enter no. of equipment required.
                    </span>
                    <span class="validation-err d-block" *ngIf="!enquiryForm.get('number_of_equipment_required')?.errors?.required && enquiryForm.get('number_of_equipment_required')?.errors?.pattern">
                      Characters are not allowed
                    </span>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <mat-label class="mb-1 d-block label-title f-12">Kindly specify how soon you need the equipment *</mat-label>
                  <mat-form-field floatLabel="never">
                    <mat-label>Select Duration *</mat-label>
                    <mat-select formControlName='equipment_req_in'>
                      <mat-option [value]=1>Immediate</mat-option>
                      <mat-option [value]=2>Within next 60 days</mat-option>
                      <mat-option [value]=3>Not sure</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="validation-err" *ngIf="enquiryForm.get('equipment_req_in')?.touched && enquiryForm.get('equipment_req_in')?.hasError('required')">
                    Please select Equipment Required In.
                  </div>
                </div>
              </div> -->

          <div class="row">
            <div class="col-sm-12 mb-3">
              <mat-label class="label-title f-12">Please enter your enquiry details <span class="text-warning">*</span> </mat-label>
              <textarea matInput class="w-100" rows="4" type="text" formControlName="remarks" placeholder="Your enquiry details goes here"
                autocomplete="off"></textarea>
              <div *ngIf="enquiryForm.get('remarks')?.errors && enquiryForm.get('remarks')?.invalid && 
              (enquiryForm.get('remarks')?.touched || enquiryForm.get('remarks')?.dirty)">
                <span class="validation-err d-block" *ngIf="enquiryForm.get('remarks')?.errors?.required">
                  Please enter description
                </span>
              </div>
            </div>
          </div>

          <div class="text-right dialog-actions-container mt-4 w-100">
            <button class="default-btn-outline plr-md-40 mr-2" (click)="backClick()" mat-button>Cancel</button>
            <button class="default-btn plr-md-40" [disabled]="!enquiryForm.valid"
              [ngStyle]="{'cursor': enquiryForm.valid ? 'pointer' : 'not-allowed'}" (click)="submit()" mat-button>Make
              Enquiry</button>
          </div>
        </form>
      </div>
    </div>



  </div>
</div>