.datepicker-input {
    position: relative;
}
.datepicker-input .calender-icon {
    position: absolute;
    top: -35px;
    right: 10px;
}

.vehicle-basic-dtl {
    border: 1px solid #C4CFD8;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.lisFile {
    width: 99%;
    position: absolute;
    top: 1px;
    z-index: 9;
    left: 1px;
    border-radius: 4px;
    height: 40px;
    background: #f5f8fa;
   }
   .lisFile ul li {list-style: none;}
.lisFile ul li a.file-upload {font-size: 14px;
    white-space: nowrap;
    padding-top: 0px;
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0d4fa3; vertical-align: middle;
    font-weight: 500;}
.lisFile ul.selectedFile {background: #f5f8fa;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 5px;}
.lisFile ul li a.delet-icon {    width: 35px;
    height: 35px;
    background: #dee5ea;
    margin-top: -2px;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%; vertical-align: middle;}

    .custom-file {height: 46px;}







    @media (max-width: 768px) { 
        .lisFile ul li a.file-upload {width: 75% !important;}
        .technical-form h3 {margin-left: 15px;}
        .vehicle-basic-dtl .pl-30 {padding: 0px;}
        .vehicle-basic-dtl .pr-30 {padding: 0px;}
        
    }



    .vehicle-dtl{
        padding: 20px 0;
    }
    .dtl-bx{
        background: #F5F8FA 0% 0% no-repeat padding-box;
        border: 1px solid #C4CFD8;
        border-radius: 16px;
        padding: 10px !important;
    }
    .imgbx{
    position: relative;
    }
    .imgbx img{
    border: 1px solid #C4CFD8;
    border-radius: 10px;
    }
    .imgbx span{
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 2px 8px;
        background: #0D4FA3;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
    }
    mat-radio-button{
        width: 50%;
    }
    .vehicle-basic-dtl{
        font-size: 14px;
    }
    .custom-file {
        height: 46px;
    }
    .progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
        width: calc(100% - 170px);
    }
    .mat-input-element, .mat-select{
        background: #fff !important;
    }
    
    
    @media (max-width: 767px) {
        .imgbx{
            position: relative;width:100%;
            }
        .imgbx img {width: 100%; margin-bottom: 15px;}
        .vehicle-basic-dtl.pl-30 {padding: 0px;}
      .vehicle-basic-dtl.pr-30 {padding: 0px;}
    }