<main class="container-fluid">
    <section class="myself-details-main-wrapper">
        <div class="row">
            <div class="col-12 p-0">
                <div class="progress-block">
                    <div class="progress-steps-group-block">
                        <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                                class="step-lbl">Basic Details</span></div>
                        <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span
                                class="step-lbl">Offers</span></div>
                        <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                                class="step-lbl">Visuals</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="details-vehicle">
        <section class="vehicle-dtl">
            <div class="dtl-bx bg-white">
                <div class='row'>
                    <div class="col-md-2">
                        <div class="imgbx">
                            <span>New</span>
                            <img *ngIf="this.basicDetailList?.model?.image_url"
                                [src]="this.basicDetailList?.model?.image_url" class="img-fluid" alt="">
                            <img *ngIf="!this.basicDetailList?.model?.image_url && this.basicDetailList?.category?.image_url"
                                [src]="this.basicDetailList?.category?.image_url" class="img-fluid" alt="">
                            <img *ngIf="!this.basicDetailList?.model?.image_url && !this.basicDetailList?.category?.image_url"
                                src="../../../assets/images/jcbimg.svg" class="img-fluid" alt="">

                        </div>
                    </div>
                    <div class="col-md-10">
                        <h3 class="f-20 f-500 mb-3">{{this.basicDetailList?.name}}</h3>
                        <div class="row">
                            <div class="col-md-3" *ngIf="basicDetailList?.registrationNumber">
                                <p class="f-384B63 f-12 mb-0">Registration Number</p>
                                <p class="f-14 mb-2">{{basicDetailList?.registrationNumber}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.chassisNumber">
                                <p class="f-384B63 f-12 mb-0">Chassis No.</p>
                                <p class="f-14 mb-2">{{basicDetailList?.chassisNumber}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.engineNumber">
                                <p class="f-384B63 f-12 mb-0">Engine No.</p>
                                <p class="f-14 mb-2">{{basicDetailList?.engineNumber</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.machineSerialNumber">
                                <p class="f-384B63 f-12 mb-0">Machine Serial No</p>
                                <p class="f-14 mb-2" >{{basicDetailList?.machineSerialNumber}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.enginePower">
                                <p class="f-384B63 f-12 mb-0">Engine Power (In cc)</p>
                                <p class="f-14 mb-2">{{basicDetailList?.enginePower}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.grossWeight">
                                <p class="f-384B63 f-12 mb-0">Gross Weight (In kgs)</p>
                                <p class="f-14 mb-2">{{basicDetailList?.grossWeight}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.operationWeight">
                                <p class="f-384B63 f-12 mb-0">Operating Weight (In kgs)</p>
                                <p class="f-14 mb-2">{{basicDetailList?.operationWeight}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.bucketCapacity">
                                <p class="f-384B63 f-12 mb-0">Bucket Capacity (In kgs)</p>
                                <p class="f-14 mb-2">{{basicDetailList?.bucketCapacity}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.liftingCapacity">
                                <p class="f-384B63 f-12 mb-0">Lifting Capacity (In pa)</p>
                                <p class="f-14 mb-2">{{basicDetailList?.liftingCapacity}}</p>
                            </div>
                            <div class="col-md-3" *ngIf="basicDetailList?.fuelType">
                                <p class="f-384B63 f-12 mb-0">Fuel Type</p>
                                <p class="f-14 mb-2">{{basicDetailList?.fuelType}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <section class="vehicle-basic-dtl bg-white pl-30 pr-30">
        <h3 class="f-20 mb-3">Basic Details</h3>
        <form [formGroup]="basicDetailsForm">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Year of Manufacture</label>
                    <mat-form-field floatLabel="never">
                            <mat-select class="select-new-ui" formControlName="yearOfManufacture">
                                <mat-option value="">Select</mat-option>
                                <mat-option [value]="year" *ngFor="let year of yearOfManufacture">{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    <div
                    *ngIf="basicDetailsForm?.get('yearOfManufacture')?.touched && basicDetailsForm?.get('yearOfManufacture')?.hasError('required')">
                    <span class="validation-err">Please enter year of manufacturer.</span>
                </div>  
                </div>
                <!-- <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Year of Manufacture</label>
                    <mat-form-field class="datepicker-input">
                        <input matInput [matDatepicker]="dp1" placeholder="" [max]="maxYear"
                            formControlName="yearOfManufacture">
                        <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                            <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                            (yearSelected)="chosenYearHandler($event, dp1)">
                        </mat-datepicker>
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('yearOfManufacture')?.touched && basicDetailsForm?.get('yearOfManufacture')?.hasError('required')">
                        <span class="validation-err">Please enter year of manufacturer.</span>
                    </div>
                </div> -->
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Would you like to provide price on request <span class="required">*</span></label>
                <mat-radio-group aria-label="Select an option" formControlName="isPriceOnRequest" (change)="updateValidation()">
                    <mat-radio-button value="1" >Yes</mat-radio-button>
                    <mat-radio-button value="0" >No</mat-radio-button>
                </mat-radio-group>
                    <div
                        *ngIf="basicDetailsForm?.get('isPriceOnRequest')?.touched && basicDetailsForm?.get('isPriceOnRequest')?.hasError('required')">
                        <span class="validation-err">Please enter if you like to provide price on request.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="basicDetailsForm?.get('isPriceOnRequest')?.value == '0'">
                    <label for="" class="f-12 d-block">Ex-Showroom Price (INR)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text"
                            maxlength="9" formControlName="showroomPrice">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('showroomPrice')?.touched && basicDetailsForm?.get('showroomPrice')?.hasError('required')">
                        <span class="validation-err">Please enter ex-show room Price.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Upload Brochure<span class="required">*</span></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="brochure"
                            (change)="handleUpload($event,'brochure','front');">
                        <label class="custom-file-label custom-file-label2" for="front"><span
                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                class="upload-icon2"></span></label>
                        <div class="lisFile" *ngIf="documentName && documentName.length > 0">
                            <ul class="selectedFile">
                                <li>
                                    <a class="file-upload" href="{{documentName[documentName.length-1].url}}"
                                        target="_blank">{{documentName[documentName.length-1].name}}</a>
                                    <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                    <a class="delet-icon" (click)="resetFile()">
                                        <img src="../../../assets/images/Delete_icon.svg" />
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div
                            *ngIf="basicDetailsForm?.get('brochure')?.touched && basicDetailsForm?.get('brochure')?.hasError('required')">
                            <span class="validation-err">Please select the brochure.</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Upload Video </label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="video" [value]="videoName"
                            (change)="handleVideoUpload($event,'video','front');">
                        <label class="custom-file-label custom-file-label2" for="front"><span
                                class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                class="upload-icon2"></span></label>
                        <div class="lisFile" *ngIf="videoName.length > 0">
                            <ul class="selectedFile">
                                <li>
                                    <a class="file-upload" href="{{videoName[videoName.length-1].url}}"
                                        target="_blank">{{videoName[videoName.length-1].name}}</a>
                                    <a class="delet-icon" (click)="resetvideoFile()">
                                        <img src="../../../assets/images/Delete_icon.svg" />
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div> -->
                <!-- <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Youtube link</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" type="text" formControlName="youtubeLink">
                    </mat-form-field>
                  
                </div> -->
            </div>
            <h3 class="f-20 mb-3 mt-3">Technical Details</h3>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Fuel type</label>
                    <mat-form-field floatLabel="never">
                        <mat-select class="select-new-ui" formControlName="fuelType">
                            <mat-option value="">--Fuel type--</mat-option>
                            <mat-option [value]="1">CNG</mat-option>
                            <mat-option [value]="2">Diesel</mat-option>
                            <mat-option [value]="3">Petrol</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <div
                        *ngIf="basicDetailsForm?.get('fuelType')?.touched && basicDetailsForm?.get('fuelType')?.hasError('required')">
                        <span class="validation-err">Please enter fuel Type.</span>
                    </div> -->
                </div>
                <div class="col-md-4 mb-3" >
                    <label for="" class="f-12 d-block">Engine Power (CC)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            maxlength="10" type="text" formControlName="enginePower">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('enginePower')?.touched && basicDetailsForm?.get('enginePower')?.hasError('required')">
                        <span class="validation-err">Please enter engine power.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" >
                    <label for="" class="f-12 d-block">Gross Weight (Kg)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            maxlength="8" type="text" formControlName="grossWeight">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('grossWeight')?.touched && basicDetailsForm?.get('grossWeight')?.hasError('required')">
                        <span class="validation-err">Please enter gross weight.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" >
                    <label for="" class="f-12 d-block">Operating Weight (Kg)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            maxlength="10" type="text" formControlName="operatingWeight">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('operatingWeight')?.touched && basicDetailsForm?.get('operatingWeight')?.hasError('required')">
                        <span class="validation-err">Please enter operating weight.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3" >
                    <label for="" class="f-12 d-block">Bucket Capacity (Kg)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            maxlength="8" type="text" formControlName="bucketCapcity">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('bucketCapcity')?.touched && basicDetailsForm?.get('bucketCapcity')?.hasError('required')">
                        <span class="validation-err">Please enter bucket capcity.</span>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="" class="f-12 d-block">Lifting Capacity (kg)</label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                            maxlength="8" type="text" formControlName="liftingCapcity">
                    </mat-form-field>
                    <div
                        *ngIf="basicDetailsForm?.get('liftingCapcity')?.touched && basicDetailsForm?.get('liftingCapcity')?.hasError('required')">
                        <span class="validation-err">Please enter lifting Capcity.</span>
                    </div>
                </div>
                <form [formGroup]="demoForm" class="technical-form">
                    <h3 class="f-20 mb-3 mt-3">Technical Specifications</h3>
                    <div class="row">

                        <div formArrayName="demoArray" *ngFor="let arrayItem of arrayItems; let i=index"
                            class="col-sm-4 mb-3">
                            <div>
                                <label for="" class="f-6 d-block">{{arrayItem.title}} ({{arrayItem.field_unit}})</label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder=""
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10"
                                        type="text" [formControlName]="i"> 
                                </mat-form-field>
                               
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 mb-3">
                    <label for="" class="f-12 d-block">Unique Selling Features</label>
                    <div formArrayName="uspAddArray">
                        <div class="row"
                            *ngFor="let bank of basicDetailsForm?.get('uspAddArray')?.controls; let k = index"
                            [formGroupName]="k">

                            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                                <input type="text" placeholder="Usp" maxlength="50" formControlName="Usp"
                                    aria-label="Number" matInput>
                            </div>
                            <div class="col-sm-4 mb-3">
                                
                                <div class="remove-feild d-inline-block">
                                    <button class="default-btn-outline mat-button" mat-flat-button
                                        *ngIf="basicDetailsForm?.get('uspAddArray')?.controls?.length>=1" [disabled]="basicDetailsForm?.get('uspAddArray')?.controls?.length == 1"
                                        (click)="removeUspFormGroup(k)">Remove
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="d-inline-block mr-3"
                                    *ngIf="basicDetailsForm?.get('uspAddArray')?.controls?.length < 5">
                                    <button class="default-btn mat-button" mat-flat-button (click)="newUspData()">
                                        Add More
                                    </button>
                    </div>

                    


                </div>

            </div>
        </form>

        <!-- <app-dynamic-form [fields]="basicDetailList.tech_fields" (submit)="submit()">
    </app-dynamic-form> -->
        <div class="row">
            <div class="col-5 col-sm-6 mb-4">
                <button mat-button class="default-btn-outline" (click)="back()">Back</button>
            </div>
            <div class="col-7 col-sm-6 mb-4 text-right">
                <button mat-button class="default-btn" type="submit" (click)="onSubmit()">Save & Continue</button>
            </div>
        </div>
    </section>

</main>