<div class="product-wrapper">
  <div class="product-wrapper-box">
    <div class="breadcrumb-container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Insta Valuation</li>
      </ol>
    </div>
  
    <div class="admin-page-heading">
      <div class="admin-page-header col-lg-6 col-md-6 col-sm-6 col-6">
        <h3 class="admin-page-title">Insta Valuation Request</h3>
      </div>
      <div class="admin-page-buttons col-lg-6 col-md-6 col-sm-6 col-6">
        <div class="exportWrapper text-right">
          <button type="button" class="btn btn-lg d-inline-block theme-btn mat-button" (click)="export('')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
          <button type="button" class="btn btn-lg d-inline-block mr-0 theme-btn mat-button" (click)="export('all')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export All</button>
        </div>
      </div> 
    </div>
    <div class="user-management-top-section">
      <div class="row my-3">
        <div class=" col-sm-6 col-lg-3 col-md-6 mb-3 mb-md-0 md-lg-0">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off"/>
          </mat-form-field>
        </div>
        <div class=" col-sm-6 col-lg-3 col-md-6">
          <mat-form-field floatLabel="never">
            <mat-select class="form-control" placeholder="Filter Status" (selectionChange)="statusFilter($event?.value)">
              <mat-option>Filter Status</mat-option>
              <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                {{status?.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
         
      </div>
    </div>
  
    <div class="desktop-table">
    <mat-card class="asset-table">
      <div class="table-responsive inner-table mb-3">
        <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc"
          matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
          <ng-container matColumnDef="unique_control_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UCN</th>
            <td mat-cell *matCellDef="let row">
              <span class="mobile-label">UCN</span>
              {{row?.unique_control_number}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__seller__first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Name</span>
              {{row?.valuation_asset?.seller.first_name}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__seller__mobile_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Mobile</span>
              {{row?.valuation_asset?.seller.mobile_number}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__seller__email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Email</span>
              {{row?.valuation_asset?.seller.email}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__category__display_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Category</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Asset Category</span>
                <span *ngIf="row?.valuation_asset?.category.display_name != 'Other'">{{row?.valuation_asset?.category.display_name}}</span>
                <span *ngIf="row?.valuation_asset?.category.display_name == 'Other'">{{row?.valuation_asset?.other_category}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__brand__display_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Make</th>
                <td mat-cell *matCellDef="let row"> 
                    <span class="mobile-label">Make</span>
                    <span *ngIf="row?.valuation_asset?.brand.display_name != 'Other'">{{row?.valuation_asset?.brand.display_name}}</span>
                    <span *ngIf="row?.valuation_asset?.brand.display_name == 'Other'">{{row?.valuation_asset?.other_brand}}</span> 
                </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__model__name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Model</span>
                <span *ngIf="row?.valuation_asset?.model.name != 'Other'">{{row?.valuation_asset?.model.name}}</span>
                <span *ngIf="row?.valuation_asset?.model.name == 'Other'">{{row?.valuation_asset?.other_model}}</span> 
            </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__mfg_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturing Year</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Manufacturing Year</span>
              {{row?.valuation_asset?.mfg_year}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__is_invoice_available">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Availability</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Invoice Availability</span>
              {{row?.valuation_asset?.is_invoice_available ? "Yes":"No"}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__is_equipment_registered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Status</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Registration Status</span>
              {{row?.valuation_asset?.is_equipment_registered ? "Registered":"Not Registered"}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__rc_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Number</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Registration Number</span>
              {{row?.valuation_asset?.rc_number}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="hmr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HMR</th>
            <td mat-cell *matCellDef="let row"> {{row?.valuation_asset?.hour_meter_reading}} </td>
          </ng-container> -->
          <ng-container matColumnDef="hmr_kmr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HMR/KMR</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">HMR/KMR</span>
              {{row?.valuation_asset?.hmr_kmr}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__is_equipment_accidentally_damaged">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Equipment Accidentally Damaged?</th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Is Equipment Accidentally Damaged?</span>
              {{row?.valuation_asset?.is_equipment_accidentally_damaged ? "Yes":"No"}} </td>
          </ng-container>
          <ng-container matColumnDef="valuation_asset__asset_condition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Condition</th>
            <td mat-cell *matCellDef="let row"> 
                <span class="mobile-label">Asset Condition</span>
              {{getAssetCondition(row?.valuation_asset?.asset_condition)}} </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Status</span>
              {{getRowstatus(row.status)}} </td>
          </ng-container>
          
          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
                <span class="mobile-label">Actions</span>
              <button class="simple-btn mr-2 table-row-btn edit-icon" mat-button *ngIf="row.status == '1'" (click)="edit(row)">
                <span><img src="../../../assets/images/editicon.svg"></span>
              </button>
              <button class="simple-btn  table-row-btn mr-2 view-icon" mat-button *ngIf="row.status == '2'" (click)="makePayment(row)">
                  <span><img src="../../../assets/images/make-payment.png"></span>
                </button>
                <button type="button" class="table-row-btn" *ngIf="row.status == '3'" (click)="opencallpopup(row)"><span><img src="../../../assets/images/checklist.svg" alt="Generate Report" title="Generate Report"></span></button>
                <button type="button" class="table-row-btn generate-icon" *ngIf="row.status == '5' || row.status == '6'" (click)="openviewpopup(row)"><span><img src="../../../assets/images/chart.svg" alt="View Report" title="View Report"></span></button>
                <button type="button" class="table-row-btn generate-icon" *ngIf="row.status == '5' && !row?.invoice_url" (click)="generateInvoice(row?.unique_control_number,true)"><span><img src="../../../assets/images/generate-report-icon.png" alt="Generate Invoice" title="Generate Invoice"></span></button>
                <button  mat-button *ngIf = "row?.invoice_url != null"  class="simple-btn generate-icon payment-icon table-row-btn" (click) = 'downloadInvoice(row?.invoice_url)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download"></i></span>	
                  </button>
              </td>
          </ng-container>
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
            <td mat-cell *matCellDef="let row"> {{row.created_at | date:'dd-MM-yyyy, hh:mm a'}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
      </div>
  
      <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
        (page)="onPageChange($event)"></mat-paginator>
    </mat-card>
    </div>

    
  
  </div>
  </div>