.assetvaluated-banner-box{ margin-bottom: 2rem;}
.assetvaluated-banner-box .asset-valuated-intro-box{ 
    background: #000000a8;
color: #fff;
padding: 2rem; 
border-radius: 1.5rem;
margin-top: 6rem;
}
.assetvaluated-main-container {background: #fff;}
.assetvaluated-banner-box .asset-valuated-intro-box h1{ font-size: 36px; font-weight: 600; margin-bottom: 1rem;}
.assetvaluated-banner-box .asset-valuated-intro-box p{
    font-size: 17px;
font-weight: 400;
line-height: 24px;
}
.banner-bx{
    padding: 30px 0 50px;
    background: url('/assets/images/insta-value-banner.png') no-repeat;
    background-size: cover;
}
.small-qtt{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D3DEE6;
    border-radius: 20px;
    width: 420px;
    max-width: 90%;
    float: right;
    padding:30px 30px 0;
    margin-right: 15px;
    font-size: 14px;
}
.small-qtt h2{
    font-size: 20px;
}
.small-qtt label{
    color: #384B63;
    font-weight: 600;
    font-size: 13px;
}
.mat-radio-button{
    width: 50%;
}

.used-equipment-main-container{ margin-bottom: 4rem;}
.used-equipment-main-container .card{ 
    text-align: center;
    background: #f3f8fe;
    padding: 0;
    width: 100%;
    height: 150px;
    border-radius: 1rem;
}
.used-equipment-main-container .card img.fill-form-img {width: 53px;}
.used-equipment-main-container .card img{ margin: 0 auto;
    width: 60px; 
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%)    
}
.used-equipment-main-container .card .equip-name{ 
    text-align: center; 
    background: #eff2f4;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    height: 70px;
    font-weight: 600;
}

.valuate-btn {
	text-align: center;	
    width: 100%;
}

.valuate-btn button {
	background: transparent linear-gradient(105deg, #1551B5 0%, #A5171D 100%, #000000 100%) 0% 0% no-repeat padding-box;
	color: #fff;
	font-size: 16px;
	padding: 6px 50px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 7px;

}
.small-qtt form .row{ margin-bottom: 1rem;}

.mat-input-element, .mat-select {
	border: 1px solid #C4CFD8 !important;
	height: 46px;
	border-radius: 6px;
	padding-left: 15px !important;
	background: #F5F8FA !important;
	line-height: 45px;
}

.asset-valuated-intro-box {margin-bottom: 30px;} 
.asset-valuated-intro-box h1 {font-weight: 600; font-size: 24px;}
.asset-valuated-intro-box .subtile {margin-top: 10px;  font-size: 16px;}
.main-heading {font-size: 18px; font-weight: 600; margin-bottom: 15px;}


@media(max-width:767px){
    .banner-bx {
        padding: 10px 0;
    }
    .bannerdtlbx {
        padding: 10px;
    }
    .f-30 {
        font-size: 20px;
    }
    .f-18 {
        font-size: 14px;
    }
    .valuate-btn {margin: 0px 15px; line-height: 28px;}
    .small-qtt {width: 95%; max-width: 95%; margin: 0px auto; padding: 20px 15px 10px; float: none;}
    .used-equipment-main-container .card {margin-bottom: 15px;}
    .asset-valuated-intro-box h1 {font-size: 24px;}
    .asset-valuated-intro-box .subtile {font-size: 14px;} 
    .main-heading {font-size: 18px!important;}



}


.custome-row{
    justify-content: center;
    align-items: center;
}
.valuation-main-heading{font-size:22px;}