<div class="assetvaluated-main-container">
    <div class="banner-bx assetvaluated-banner-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="small-qtt">
                        <h2>Get your Asset valuated</h2>

                        <form [formGroup]="sellEquipmentForm">
                            <!-- <div class="">
                                <label for="" class="f-12 d-block">Is your Equipment</label>
                                <mat-radio-group aria-label="Select an option" formControlName="newused">
                                    <mat-radio-button value="1">New</mat-radio-button>
                                    <mat-radio-button value="2">Used</mat-radio-button>
                                </mat-radio-group>
                            </div> -->
                            <!-- <div class="mb-2">
                                <label for="" class="f-12 d-block">You are a</label>
                                <mat-radio-group aria-label="Select an option" formControlName="customerType">
                                    <mat-radio-button value="1">Dealer</mat-radio-button>
                                    <mat-radio-button value="2">Manufacture</mat-radio-button>
                                </mat-radio-group>
                            </div> -->
                            <div class="mb-2">
                                <label for="category" class="f-12">Category<em>*</em></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto" placeholder="" type="text" (keyup)="filterValuesCategory($event)" (blur)="trimSpaces($event)" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="updateValidations();onCategorySelect($event.option.value)">
                                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
                                        <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="mb-2" *ngIf="sellEquipmentForm?.get('category')?.value == 'Other'">
                                <label for="otherCategory" class="f-12">Other Category<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_category">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    <label for="" class="f-12">Brand<em>*</em></label>
                                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                        <input matInput [matAutocomplete]="auto1" placeholder="" type="text" (blur)="trimSpaces($event)" (keyup)="filterValuesBrand($event)" formControlName='brand' maxlength="256">
                                        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="updateValidations();onBrandSelect($event.option.value)">
                                            <mat-option *ngIf="brandList?.length == 0" value="0">Other</mat-option>
                                            <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand.name}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    <label for="" class="f-12">Model<em>*</em></label>
                                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                        <input matInput [matAutocomplete]="auto3" placeholder="" (keyup)="filterValuesModal($event)" (blur)="trimSpaces($event)" type="text" formControlName='model' maxlength="256">
                                        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="updateValidations();onModalSelect($event.option.value)">
                                            <mat-option *ngIf="modelList?.length == 0" value="Other">Other</mat-option>
                                            <mat-option *ngFor="let model of modelList " [value]="model">{{model.name}}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-2" *ngIf="sellEquipmentForm?.get('brand')?.value == 'Other'">
                                    <label for="otherBrand" class="f-12">Other Brand<em>*</em></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_brand">
                                    </mat-form-field>
                                </div>
                                <div class="col-6 mb-2" *ngIf="sellEquipmentForm?.get('model')?.value == 'Other'">
                                    <label for="otherModel" class="f-12">Other Model<em>*</em></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="other_model">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="" class="f-12 d-block">Is your Equipment Registered?<em>*</em></label>
                                <mat-radio-group aria-label="Select an option" formControlName="is_equipment_registered" (change)="updateValidations()">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="mb-2" *ngIf="sellEquipmentForm?.get('is_equipment_registered')?.value == '1'">
                                <label for="" class="f-12">Registration Number<em>*</em></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName="rc_number">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="valuate-btn">
                                    <button class="default-btn-outline w-100" type="submit" mat-button [disabled]="!sellEquipmentForm.valid" (click)="submit()">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row custome-row">
            <div class="col-sm-12 col-12 col-md-12 col-lg-8">
                <div class="used-equipment-main-container">
                    <div class="asset-valuated-intro-box">
                        <h1>Introducing Insta Valuation</h1>
                        <div class="subtile">
                            <p class="mb-0"> Precise. Simple. Instant.</p>
                            <p> Get your equipment valuated and receive instant offer with india's leading digital marketplace for all your construction needs. </p>
                        </div>
                    </div>
                    <h2 class="main-heading valuation-main-heading">Know the value of your equipment instantly in 3 Simple Steps.</h2>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4 col-6">
                            <div class="card">
                                <img src="assets/images/com-veh-img.png" class="img-fluid" alt="">
                                <div class="equip-name pt-4">Select Asset</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 col-6">
                            <div class="card">
                                <img src="assets/images/fill-form-valuate.png" class="img-fluid fill-form-img" alt="">
                                <div class="equip-name pt-4">Fill Form</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 col-6">
                            <div class="card">
                                <img src="assets/images/asset-valuate-report.png" class="img-fluid" alt="">
                                <div class="equip-name">Get the equipment<br> report instantly</div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6 col-md-6 col-lg-3 col-12">
                        <div class="">
                            <img src="assets/images/instant-val-left-img.png" class="img-fluid" alt=""> 
                        </div>
                    </div> -->
                        <!-- <div class="col-sm-3">
                        <div class="card">
                            <img src="assets/images/passenger-img.png" class="img-fluid" alt="">
                            <div class="equip-name">Passenger</div>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-12">

                <div class="">
                    <img src="assets/images/instant-val-left-img.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>


</div>