<div class="product-wrapper">
    <div class="product-wrapper-box">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin-dashboard/auction/auction-list']">Auction</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{toEdit ? 'Edit' : 'Create'}} Auction Lot</li>
        </ol>
    </div>
    <div class="admin-page-heading lot-auction-head">
        <div class="admin-page-header col-lg-6 col-md-12">
            <h3 class="admin-page-title">{{toEdit ? 'Edit' : 'Create'}} Auction Lot</h3>
        </div>
    </div>

    <div class="lot-auction-table">
        <form [formGroup]="auctionLotForm">
            <div class="row mb-3">
                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Auction <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-select formControlName="parent_auction" placeholder="Select Auction" (selectionChange)="getSubaucitonList($event?.value)">
                            <mat-option value={{auction?.id}} *ngFor="let auction of auctionList;">
                                {{auction?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('parent_auction')?.invalid && auctionLotForm.get('parent_auction')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('parent_auction')?.errors?.required">
                            Please select Auction
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="subauctionList?.length">
                    <label class="f-12 d-block text-left">Sub Auction <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-select formControlName="auction" placeholder="Select Sub Auction">
                            <mat-option value={{auction?.id}} *ngFor="let auction of subauctionList;">
                                {{auction?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('auction')?.invalid && auctionLotForm.get('auction')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('auction')?.errors?.required">
                            Please select Sub Auction
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Lot Number <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Lot Number</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="lot_number">
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('lot_number')?.invalid && auctionLotForm.get('lot_number')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('lot_number')?.errors?.required">
                            Please provide lot number
                        </span>
                        <span class="validation-err d-block"
                            *ngIf="!auctionLotForm.get('lot_number')?.errors?.required && auctionLotForm.get('lot_number')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Title <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="title">
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('title')?.invalid && auctionLotForm.get('title')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('title')?.errors?.required">
                            Please provide title for auction lot
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Description</label>
                    <textarea matInput type="text" placeholder="" class="text-left"
                        formControlName="description"></textarea>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Serial Number</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Serial Number</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="serial_no">
                    </mat-form-field>
                </div>

                <!-- <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Date of Invoice</label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                        <mat-label>Date of Invoice</mat-label>
                        <input matInput [owlDateTime]="doi" [min]="toEdit ? '' : minDate"
                            placeholder="Ends At" autocomplete="off" formControlName='invoice_date' class="" readonly>
                        <span class="calender-icon" [owlDateTimeTrigger]="doi">
                            <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </span>
                        <owl-date-time #doi [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                </div> -->

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Measurement Unit <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Measurement Unit</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="measurement_unit">
                    </mat-form-field>
                    <div
                        *ngIf="auctionLotForm.get('measurement_unit')?.invalid && auctionLotForm.get('measurement_unit')?.touched">
                        <span class="validation-err d-block"
                            *ngIf="auctionLotForm.get('measurement_unit')?.errors?.required">
                            Please provide Measurement Unit
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Quantity <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Quantity</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="number" class=""
                            formControlName="quantity">
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('quantity')?.invalid && auctionLotForm.get('quantity')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('quantity')?.errors?.required">
                            Please provide Quantity
                        </span>
                        <span class="validation-err d-block"
                            *ngIf="!auctionLotForm.get('quantity')?.errors?.required && auctionLotForm.get('quantity')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Location</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Location</mat-label>  
                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="location" class="">    
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Facility Name </label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Facility Name</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="facility_name">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Additional Info</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Additional Info</mat-label>
                        <textarea matInput type="text" placeholder="Description" autocomplete="off" class="text-left"
                            formControlName="additional_info"></textarea>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Start Price</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Start Price</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="start_price">
                    </mat-form-field>
                    <div
                        *ngIf="auctionLotForm.get('start_price')?.invalid && auctionLotForm.get('start_price')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('start_price')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Reserve Price</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Reserve Price</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="reserve_price">
                    </mat-form-field>
                    <div
                        *ngIf="auctionLotForm.get('reserve_price')?.invalid && auctionLotForm.get('reserve_price')?.touched">
                        <span class="validation-err d-block"
                            *ngIf="auctionLotForm.get('reserve_price')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Lot Start Date & Time <span
                            class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                        <mat-label>Lot Start Date & Time</mat-label>
                        <input matInput [owlDateTime]="startAt" [min]="toEdit ? '' : minDate"
                            placeholder="Ends At" autocomplete="off" formControlName='starts_at' class="" readonly>
                        <span class="calender-icon" [owlDateTimeTrigger]="startAt">
                            <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </span>
                        <owl-date-time #startAt [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('starts_at')?.invalid && auctionLotForm.get('starts_at')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('starts_at')?.errors?.required">
                            Please select Start date and time
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Lot End Date & Time <span
                            class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                        <mat-label>Lot End Date & Time</mat-label>
                        <input matInput [owlDateTime]="endAt" [min]="toEdit ? '' : minDate"
                            placeholder="Ends At" autocomplete="off" formControlName='ends_at' class="" readonly>
                        <span class="calender-icon" [owlDateTimeTrigger]="endAt">
                            <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                        </span>
                        <owl-date-time #endAt [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('ends_at')?.invalid && auctionLotForm.get('ends_at')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('ends_at')?.errors?.required">
                            Please select End date and time
                        </span>
                    </div>
                </div> 

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Last Minute Bid(in minutes)</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Last Minute Bid(in minutes)</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="last_minute_bid">
                    </mat-form-field>
                    <div
                        *ngIf="auctionLotForm.get('last_minute_bid')?.invalid && auctionLotForm.get('last_minute_bid')?.touched">
                        <span class="validation-err d-block"
                            *ngIf="auctionLotForm.get('last_minute_bid')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Extended to(in minutes)</label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Extended to(in minutes)</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="extended_to">
                    </mat-form-field>
                    <div
                        *ngIf="auctionLotForm.get('extended_to')?.invalid && auctionLotForm.get('extended_to')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('extended_to')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Bid Increment Type</label>
                    <mat-radio-group aria-label="Select an option" formControlName="bid_increment_type">
                        <mat-radio-button value="ST" (change)="updateValidation($event.value)">Static</mat-radio-button>
                        <mat-radio-button value="BR" (change)="updateValidation($event.value)">Bid Range
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="auctionLotForm.get('bid_increment_type').value == 'ST'">
                    <label class="f-12 d-block text-left">Bid Increment Amount <span
                            class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-label>Bid Increment Amount</mat-label>
                        <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="amount">
                    </mat-form-field>
                    <div *ngIf="auctionLotForm.get('amount')?.invalid && auctionLotForm.get('amount')?.touched">
                        <span class="validation-err d-block" *ngIf="auctionLotForm.get('amount')?.errors?.required">
                            Please provide bid increment to value.
                        </span>
                        <span class="validation-err d-block"
                            *ngIf="!auctionLotForm.get('amount')?.errors?.required && auctionLotForm.get('amount')?.errors?.pattern">
                            Characters are not allowed
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-6 col-lg-4 col-sm-6 mb-3">
                    <label class="f-12 d-block text-left">Category</label>
                    <mat-form-field floatLabel="never">
                        <mat-select formControlName="category" placeholder="Select Category">
                            <mat-option value={{category?.id}} *ngFor="let category of categoryData;">
                                {{category?.display_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-12" *ngIf="auctionLotForm.get('bid_increment_type').value == 'BR'">
                    <div class="row bidder" formArrayName="bid_increments">
                        <div class="col-12 title">
                            <h6 style="margin:0px;">Bid Range Increment</h6>
                        </div>
                        <ng-container *ngFor="let details of bidArray.controls; let i = index; let last = last;">
                            <ng-container [formGroupName]="i">
                                <div class="form-group col-md-3">
                                    <label class="f-12 d-block text-left">Bid Increment From <span
                                            class="text-warning">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Bid Increment From</mat-label>
                                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                                            formControlName="bid_start_amount">
                                    </mat-form-field>
                                    <div
                                        *ngIf="details.get('bid_start_amount')?.invalid && details.get('bid_start_amount')?.touched">
                                        <span class="validation-err d-block"
                                            *ngIf="details.get('bid_start_amount')?.errors?.required">
                                            Please provide bid increment from value.
                                        </span>
                                        <span class="validation-err d-block"
                                            *ngIf="!details.get('bid_start_amount')?.errors?.required && details.get('bid_start_amount')?.errors?.pattern">
                                            Characters are not allowed
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="f-12 d-block text-left">Bid Increment To <span
                                            class="text-warning">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Bid Increment To</mat-label>
                                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                                            formControlName="bid_end_amount">
                                    </mat-form-field>
                                    <div
                                        *ngIf="details.get('bid_end_amount')?.invalid && details.get('bid_end_amount')?.touched">
                                        <span class="validation-err d-block"
                                            *ngIf="details.get('bid_end_amount')?.errors?.required">
                                            Please provide bid increment to value.
                                        </span>
                                        <span class="validation-err d-block"
                                            *ngIf="!details.get('bid_end_amount')?.errors?.required && details.get('bid_end_amount')?.errors?.pattern">
                                            Characters are not allowed
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="f-12 d-block text-left">Bid Increment Amount <span
                                            class="text-warning">*</span></label>
                                    <mat-form-field floatLabel="never">
                                        <mat-label>Bid Increment Amount</mat-label>
                                        <input matInput placeholder="" autocomplete="off" type="text" class=""
                                            formControlName="amount">
                                    </mat-form-field>
                                    <div *ngIf="details.get('amount')?.invalid && details.get('amount')?.touched">
                                        <span class="validation-err d-block"
                                            *ngIf="details.get('amount')?.errors?.required">
                                            Please provide bid increment to value.
                                        </span>
                                        <span class="validation-err d-block"
                                            *ngIf="!details.get('amount')?.errors?.required && details.get('amount')?.errors?.pattern">
                                            Characters are not allowed
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 text-right">
                                    <button class="btn default-btn mt-4" *ngIf="last" (click)="addBidArray()">Add
                                        More</button>
                                    <button class="btn default-btn mt-4" *ngIf="!last"
                                        (click)="removeBidDetails(i)">Remove</button>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group col-12 mt-3 text-right">
                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button
                        [routerLink]="['/admin-dashboard/auction/auction-list']">Close</button>
                    <button class="default-btn mt-sm-2" mat-button [disabled]="auctionLotForm.invalid" [ngStyle]="{'cursor': auctionLotForm.valid ? 'pointer' : 'not-allowed'}" (click)="submitForm(auctionLotForm?.value)">{{lotId ? 'Update' : 'Save'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>