
.lot-auction-table label{
    color: #77828a;
    font-weight: 600;
}
.lot-auction-table input{
    color: #77828a;
}






  .datepicker-input .calender-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0px, -59%);
}
.bidder {
  border: 1px solid #c4cfd8;
  border-radius: 6px;
  margin: 0px;
}

.bidder .title {
  font-size: 16px;
  color: #fff;
  background-color: #0f3d94;
  padding: 15px 10px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 1em;
}