<div class="popup modal-popup">
  <div class="popup-hdr">
    <h4 class="m-0">Confirm</h4> 
     <button mat-button (click)="backClick()" class="close-btn mat-button"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div>
  <div class="popup-body">
    <div>Are you sure want to delete?</div>
    <div class="text-right dialog-actions-container">
      <button class="default-btn-outline px-3 mr-3" (click)="backClick()" mat-button>Cancel</button>
      <button class="default-btn px-4" (click)="okClick()" mat-button >Ok</button>
    </div>
</div>
</div>
