<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4> {{mainData.heading}}</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>

    <div class="popup-body">
        <p> {{mainData.subHeading}}</p>
        <div *ngIf="mainData.type == 'Auction'">
            <form [formGroup]='actionForm'>
                <div class="marginBottom10">
                    <mat-radio-group aria-label="Select an option" formControlName="isSelfInvoice"
                        (change)="CheckUserExistOrNot($event)">
                        <mat-radio-button value="0">Yes</mat-radio-button>
                        <mat-radio-button value="1">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="actionForm?.get('isSelfInvoice')?.value == 0">
                    <div class="row mt-3">
                        <div class="col-sm-6 mb-3">
                            <label class="f-12 d-block">Mobile Number
                                <span class="text-warning">*</span>
                            </label>
                            <mat-form-field floatLabel="never">
                                <!-- <mat-label>Mobile Number</mat-label> -->
                                <input matInput placeholder="Search by mobile number" (keydown)="keyPress($event)"
                                    [matAutocomplete]="auto1" type="text" formControlName="mobileNo" maxlength="10">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let seller of sellerList"
                                        (onSelectionChange)="onSellerSelect(seller.mobile_number)"
                                        [value]="seller.mobile_number">
                                        {{seller.first_name}} ({{seller.mobile_number}})</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div
                                *ngIf="(actionForm.get('mobileNo')?.touched) && (actionForm?.get('mobileNo')?.hasError('required'))">
                                <span class="validation-err">Please enter the mobile number</span>
                            </div>
                        </div>
                    </div>

                    <div class="customer-details-container mt-2" *ngIf="!isNotSelectedUser">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="f-12 d-block"><span class="label-txt">Name
                                    </span><span>:</span></label>
                            </div>
                            <div class="col-sm-8">
                                <div class="customer-detail-txt">{{firstName || lastName ? (firstName + " " + lastName )
                                    :'-'}}</div>
                            </div>
                        </div>
                        <div class="row" *ngIf="mobileNo">
                            <div class="col-sm-4">
                                <label class="f-12 d-block"><span class="label-txt">Mobile Number
                                    </span><span>:</span></label>
                            </div>
                            <div class="col-sm-8">
                                <div class="customer-detail-txt">{{mobileNo ? mobileNo : '-'}}</div>
                            </div>
                        </div>
                        <div class="row" *ngIf="email">
                            <div class="col-sm-4">
                                <label class="f-12 d-block"><span class="label-txt">Email
                                    </span><span>:</span></label>
                            </div>
                            <div class="col-sm-8">
                                <div class="customer-detail-txt">{{email ? email : '-'}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-6 mb-3" *ngIf="actionForm.get('firstName').value">
                            <mat-form-field floatLabel="never">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="" type="text" formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 mb-3" *ngIf="actionForm.get('lastName').value">
                            <mat-form-field floatLabel="never">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="" type="text" formControlName="lastName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-3" *ngIf="actionForm.get('email').value">
                            <mat-form-field floatLabel="never">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="" type="text" formControlName="email">
                            </mat-form-field>
                        </div>
                    </div> -->
                    <!-- </div> -->
                    <div class="row" *ngIf="isOtherCustDetailAva">
                        <div class="col-sm-12 text-right">
                            <div class=" dialog-actions-container d-inline-block">
                                <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()"
                                    mat-button>Cancel</button>
                            </div>
                            <div class=" dialog-actions-container d-inline-block">
                                <button class="default-btn plr-md-40"
                                    [disabled]="!actionForm.valid || isNotSelectedUser" (click)="onSubmit()"
                                    mat-button>Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" *ngIf="sellerList.length == 0 && !isOtherCustDetailAva">
                <div class="col-sm-12">
                    <span class="validation-err">
                        This customer is not registered with us. Kindly ask him to register on our portal.
                    </span>
                </div>
            </div>
        </div>


    </div>
</div>