<div class="div-wraapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Partner Entity</li>
            </ol>
        </div>
        <!-- <div class="admin-page-heading">
    <div class="admin-page-header col-lg-6 col-md-12">
      <h3 class="admin-page-title">Partner Entity</h3>
    </div>      
    <div class="admin-page-buttons col-lg-6 col-md-12">
      <button class="default-btn float-right" mat-button (click)='addusernav()'>Create Partner Entity</button>     
    </div>      
  </div> -->
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-sm-6 col-6">
                <h3 class="admin-page-title">Partner Entity</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-7 col-sm-6 col-6">
                <div class="exportWrapper text-right">
                    <button mat-raised-button color="primary" (click)="exportData()" class="btn btn-lg theme-btn mat-button mr-3"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <div class="header-btn">
                    <button class="default-btn float-right" mat-button (click)='addusernav()'>
          <i class="fa fa-plus" aria-hidden="true"></i> Create Partner Entity</button>
                </div>
            </div>
        </div>

        <div class="row used-upload-section" [formGroup]="filterUserForm">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <!-- <label class="f-12 d-block" for="">Search</label> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" (keyup)="filterData()" (keydown.enter)="filterData()" formControlName="Mobile" placeholder="Search">
                </mat-form-field>
                <mat-error>
                    <!-- <div class="validation-err"
              *ngIf="filterUserForm.get('Mobile')?.touched && filterUserForm.get('Mobile')?.hasError('required')">
              Please enter Mobile Number.
          </div> -->
                </mat-error>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <!-- <label for="" class="f-12 d-block">Partner type <span class="mandatory"></span></label> -->
                <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" formControlName="partnerType" (selectionChange)="selectPartnerType()">
                        <mat-option value="">Select Partner Type</mat-option>
                        <mat-option [value]="1">Dealer</mat-option>
                        <mat-option [value]="2">Manufacturer</mat-option>
                        <mat-option [value]="3">Channel partner</mat-option>
                        <mat-option [value]="4">Valuation</mat-option>
                        <mat-option [value]="5">Enterprise customer</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <!-- <label for="" class="f-12 d-block">Partner type <span class="mandatory"></span></label> -->
                <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" formControlName="entityType" (selectionChange)="selectEntityType()">
                        <mat-option value="">Select Entity Type</mat-option>
                        <mat-option [value]="1">Proprietorship</mat-option>
                        <mat-option [value]="2">Partnership</mat-option>
                        <mat-option [value]="3">HUF</mat-option>
                        <mat-option [value]="4">LLP</mat-option>
                        <mat-option [value]="5">Private Ltd.Co.</mat-option>
                        <mat-option [value]="6">Public Ltd.Co.</mat-option>
                        <mat-option [value]="7">Trust</mat-option>
                        <mat-option [value]="8">Society</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>


        <div class="desktop-table">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table custom-mat-table" mat-table [dataSource]="productDataSource" matSort matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">ID</span> {{row.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="company_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Company Name</span> {{row.company_name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Created Date</span> {{row.created_at | date:'dd-MM-yyyy, hh:mm a'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="incorporation_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Incorporation Date </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Incorporation Date</span> {{row.incorporation_date | date:'dd-MM-yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="partnership_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Partnership Type </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Partnership Type</span>
                                <span *ngIf="row.partnership_type == 1">Dealer</span>
                                <span *ngIf="row.partnership_type == 2">Manufacturer</span>
                                <span *ngIf="row.partnership_type == 3">Channel partner</span>
                                <span *ngIf="row.partnership_type == 4">Valuation</span>
                                <span *ngIf="row.partnership_type == 5">Enterprise customer</span>

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Status</span>
                                <span *ngIf="row.status == 0">Draft</span>
                                <span *ngIf="row.status == 1">Pending</span>
                                <span *ngIf="row.status == 2">Approved</span>
                                <span *ngIf="row.status == 3">Reject</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Mobile</span> {{row.mobile}} </td>
                        </ng-container>
                        <ng-container matColumnDef="msme_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> MSME No. </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">MSME No.</span> {{row.msme_number}} </td>
                        </ng-container>


                        <ng-container matColumnDef="entity_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Entity Type </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Entity Type</span>
                                <span *ngIf="row.entity_type == 1">Proprietorship</span>
                                <span *ngIf="row.entity_type == 2">Partnership</span>
                                <span *ngIf="row.entity_type == 3">HUF</span>
                                <span *ngIf="row.entity_type == 4">LLP</span>
                                <span *ngIf="row.entity_type == 5">Private Ltd.Co.</span>
                                <span *ngIf="row.entity_type == 6">Public Ltd.Co.</span>
                                <span *ngIf="row.entity_type == 7">Trust</span>
                                <span *ngIf="row.entity_type == 8">Society</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="relation_with_entity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Relationship </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Relationship</span>
                                <span *ngIf="row.relation_with_entity == 1">Proprietor</span>
                                <span *ngIf="row.relation_with_entity == 2">Partner</span>
                                <span *ngIf="row.relation_with_entity == 3">Karta</span>
                                <span *ngIf="row.relation_with_entity == 4">Director</span>
                                <span *ngIf="row.relation_with_entity == 5">Employee</span>
                                <span *ngIf="row.relation_with_entity == 6">Trustee</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Actions</span>
                                <button class="table-row-btn" (click)="editusernav(row)" mat-button><span><img
                  src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span></button>
                                <!-- <button class="table-row-btn delet-icon" mat-button (click)="delete(row)"><span><img
                  src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span></button> -->

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



                    </table>
                </div>
            </div>
            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
        </div>



    </div>
</div>