<div class="popup modal-popup">
  <!--<div class="popup-hdr">
    
     <button mat-button (click)="backClick()" class="close-btn"><img
              src="../../../../assets/images/Close.svg" alt=""></button> 
  </div>-->
  <div class="popup-body p-0 overflow-hidden" [formGroup]="fieldForm">
    <div class="add-new-field mb-3">
    <h4 class="title">{{ isEdit ? "Edit Field" : "Add Field" }}</h4>
    <div class="otp-wrapper p-3">
      <div class="sign-in-pwd-wrapper">
        <label class="f-12 d-block" for="">Field <span class="mandatory"></span></label>
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field floatLabel="never">
              <input
                required
                matInput
                type="text"
                placeholder=""
                formControlName="Field"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4 text-right">
            <button
              class="default-btn plr-md-40"
              [disabled]="fieldForm.invalid"
              (click)="okClick()"
              mat-button
            >
              Ok
            </button>
          </div>
        </div>
      </div>
       
    </div>
    
    </div>
  </div>
</div>
