.popup-hdr {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px solid #a0adb7;
  color: #000000;
  position: relative;
}

.popup-body {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.popup-available-space {
  padding: 12px 20px;
  color: #204555;
  background: #e2f5e9;
  border-radius: 6px;
}
.popup {
  background: #fff;
  border-radius: 20px;
}
.close-btn {
  background: transparent;
  float: right;
  border: none;
}

.close-btn:focus {
  outline: unset !important;
}

.otp-wrapper .mat-input-element {
  text-align: left !important;
  padding-left: 15px !important;
}

.sign-in-pwd-wrapper label {color: #77828a; font-weight: 600;} 

.add-new-field {border: 1px solid #c4cfd8; border-radius: 6px;}
.add-new-field h4.title {font-size: 14px; color: #fff; background-color: #0f3d94; padding: 10px 10px; border-radius: 6px 6px 0px 0px;}
.add-new-field form {padding: 10px;}