<div class="product-wrapper">
    <div class="product-wrapper-box">


        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customer/dashboard']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Demo Requests</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-6 col-sm-8 col-8">
                <h3 class="admin-page-title">Demo Requests</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-6 col-sm-4 col-4">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg mr-0 theme-btn mat-button" (click)="export()"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="user-management-top-section">
                <div class="row mt-3">
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Search" (keydown.enter)="searchInList()" [(ngModel)]="searchText" (keyup)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                                <mat-option>Select Status</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of demoStatusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

            <div class="desktop-table">

                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortColumn($event)" matSortDirection="desc">

                            <ng-container matColumnDef="new_equipment">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Id</th>
                                <td mat-cell class="category-cell" *matCellDef="let data">
                                    <span class="mobile-label">Asset Id</span> {{data?.new_equipment?.id}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="new_equipment__category__display_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset Name</th>
                                <td mat-cell class="category-cell" *matCellDef="let data">
                                    <span class="mobile-label">Asset Name</span> {{data?.new_equipment?.product_name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="pin_code__city__name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                                <td mat-cell class="category-cell" *matCellDef="let data">
                                    <span class="mobile-label">Location</span> {{data?.pin_code?.city?.name}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="start_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date to End Date</th>
                                <td mat-cell class="gross-weight-cell" *matCellDef="let data">
                                    <span class="mobile-label">Start Date to End Date</span> {{data?.start_date | date:'dd-MM-yyyy'}} to {{data?.end_date | date:'dd-MM-yyyy'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="start_time">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Availability Time</th>
                                <td mat-cell class="gross-weight-cell" *matCellDef="let data">
                                    <span class="mobile-label">Availability Time</span> {{data?.in_second_half ? 'Post lunch' : 'Pre lunch'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell class="gross-weight-cell" *matCellDef="let data">
                                    <span class="mobile-label">Status</span> {{getDemoStatus(data?.status)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let data">
                                    <span class="mobile-label">Actions</span>
                                    <mat-form-field class="status-select" floatLabel="never" *ngIf="(userRole != 'Customer') && ((data?.status != 3) || (data?.status != 4))">
                                        <mat-select class="form-control mr-2" placeholder="Select Status" (selectionChange)="updateStatus($event?.value, data)">
                                            <mat-option>Select Status</mat-option>
                                            <mat-option value={{status?.value}} *ngFor="let status of getStatusOptions(data.status);">
                                                {{status?.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-button class="simple-btn delet-icon" [disabled]="(data?.status == 3) || (data?.status == 4)" *ngIf="(userRole == 'Customer')" (click)="updateStatus(4, data)">
                                        <span><img src="../../../assets/images/decline.svg" alt="Cancel Demo" title="Cancel Demo"></span>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
                        </table>
                        <div class="no-record" *ngIf="!dataSource.data.length">No records found</div>
                    </div>
                </div>
                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>

            </div>


        </div>
    </div>
</div>