<div class="popup">
    <div class="popup-hdr">
        <h4>{{modalDetails?.heading}}</h4>
        <button mat-button (click)="close()" class="close-btn"><img src="../../../../../../assets/images/Close.svg"
                alt=""></button>
    </div>
    <div class="popup-body">
        <div class="modal_message">
            <h5 *ngIf="modalDetails?.message">{{modalDetails?.message}}</h5>
            <h6 *ngIf="modalDetails?.submessage">{{modalDetails?.submessage}}</h6>
        </div>
        <div class="text-right dialog-actions-container mt-5 w-100" *ngIf="!modalDetails?.isRoleChannelPartner">
            <button class="default-btn-outline mr-2" (click)="close()" mat-button>No</button>
            <button class="default-btn " (click)="confirm()" mat-button>Yes</button>
        </div>
    </div>
</div>