.popup-hdr {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding: 15px; 
  color: #fff;
  background-color: #0F3D94;
  position: relative;
  margin-bottom: 5px;
}

.popup-body {
  padding: 15px;  
  overflow-y: auto;
}

.popup-hdr h4 {font-size: 18px; display: inline-block;}

.modal_message h5 {font-size: 15px; margin-bottom: 12px;}
.modal_message h6 {    font-size: 14px;
  font-weight: 400;
  padding: 8px 0px 0px; 
  border-radius: 4px;}

.popup-available-space{
  padding: 12px 20px;
  color: #204555;
  background: #E2F5E9;
  border-radius: 6px;
}

.popup {
  background: #fff;
  border-radius: 6px;
}

.close-btn{
  background: #fff;
  float: right;
  border: none; 
  min-width: auto;
  margin-top: -5px;
}

.close-btn img {width: 15px; margin-top: -1px;}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container{
  margin-top: 16px;
}

.label-title {
  margin-bottom: 7px;
  color: #a4a9ad;
  display: block;
}

.popup-hdr{
  margin-bottom:0px;
}
.popup-body{
  position: relative; 
  overflow-y: auto !important;
  overflow-x: hidden;
}

.text-wrapper{
  padding:45px;
}

@media screen and (max-width: 767px) { 
  
  .form-wrap-enquiry{
    position:unset;
    width: 90%;
    margin: 0 auto;
  }
  .text-wrapper{
    padding:20px;
  }
  .popup-hdr h4  {font-size: 16px; width: 75%;}
}