/* new css added start here */
button.theme-btn.export-btn.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
  margin-left: 1em;
}
.mat-card {
  padding: 0px;
}
.header-btn button {
  padding: 5px 20px;
  color: #fff;
  font-size: 14px;
  background-color: #0d4fa3;
}
.sub-section-tab .title {
  font-size: 24px;
}
.asset-table .inner-table {
  border: 1px solid #e0e4e8;
  border-radius: 10px;
}
.asset-table table {
  max-width: 100%;
  overflow: auto;
}
.asset-table table th,
.asset-table table td {
  font-size: 12px;
  border-color: #e0e4e8;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
}
.asset-table table td:first-child {
  border-top: 0px;
}

.asset-table table tr td:last-child{
  background-color: #fff;
}

.asset-table tr td button.simple-btn {
  width: 35px;
  margin-right: 8px;
  margin-left: 0px;
  height: 35px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
  border-radius: 50%;
  background-color: #e7eef2;
}
.asset-table table td button.simple-btn span {
  font-size: 18px;
}
.asset-table tr td button.simple-btn:last-child {
  margin-right: 0px;
}
.asset-table tr:nth-child(even) {
  background-color: #f8fbfd;
}
.asset-table table .mat-header-row th {
  background-color: #0d4fa3;
  color: #fff;
}
.main-heading {
  font-size: 32px;
  font-weight: 700;
}

.mat-card {
  padding: 0px;
}
.default-tbl {
  border: 0px;
  overflow: auto;
}
.default-tbl mat-row,
.default-tbl .mat-header-row {
  border-color: #e0e4e8;
}
.default-tbl mat-cell,
.default-tbl .mat-cell {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  height: 42px;
  padding: 15px 21px;
}
.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
  padding-left: 21px;
  min-width: 50px;
  padding-right: 0px;
}
.asset-table .default-tbl .mat-row:nth-child(odd) {
  background-color: #f8fbfd;
}
.asset-table .default-tbl .mat-cell .simple-btn {
  width: 35px;
  margin-right: 8px;
  margin-left: 0px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  padding: 0px;
  border-radius: 50%;
  background-color: #e7eef2;
}
.asset-table .default-tbl .mat-cell .simple-btn mat-icon {
  font-size: 18px;
  width: auto;
  height: auto;
}
.default-tbl .mat-cell.mat-column-status {
  color: #00a767;
}
.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.default-tbl mat-row:hover {
  background-color: #f8fbfd;
}
.asset-table tr:hover {
  background-color: #f8fbfd;
}
.e-grid .e-rowcell,
.e-grid .e-groupcaption,
.e-grid .e-indentcell,
.e-grid .e-recordplusexpand,
.e-grid .e-recordpluscollapse,
.e-grid .e-detailrowcollapse,
.e-grid .e-detailrowexpand,
.e-grid .e-detailindentcell,
.e-grid .e-detailcell {
  border-color: #e0e4e8;
}

.table-pagination .mat-paginator-container {
  padding: 0px;
}
.table-pagination .mat-paginator-container .mat-paginator-range-label {
  width: 100%;
  text-align: right;
  display: inline-block;
}
.table-pagination .mat-paginator-range-label {
  margin: 0px;
  float: left;
  font-size: 18px;
}
.table-pagination .mat-icon-button {
  width: 52px;
  height: 52px;
  background-color: #0f3d94;
  color: #fff;
}
.table-pagination .mat-icon-button.mat-button-disabled {
  background-color: #e9eef2;
  opacity: 1;
}

.mat-paginator-range-label {
  margin: 0px;
  float: left;
}
.mat-paginator-container {
  padding: 0px;
  display: block;
}
.mat-paginator-range-actions {
  display: block;
  text-align: right;
}
.mat-paginator-range-label {
  float: left;
}
.mat-icon-button {
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
}
/* new css added end here */

.export-btn {
  background: #00a767;
  padding: 2px 20px;
  border: 0px;
}
.no-record {padding: 10px;}
@media screen and (max-width: 992px) and (min-width: 768px) {
 
  button.theme-btn.export-btn.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {margin-left: 8px !important;}
}

@media screen and (max-width: 767px) {

  .main-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    line-height: 28px;
  }
  .save-btn button {
    padding: 5px 35px;
  }
  .used-upload-section .title {
    font-size: 20px;
  }
  .add-user button {
    height: 36px;
  }
  .export-btn {
    margin-top: 10px;
    line-height: 26px;
  }
  .theme-btn {
    height: 36px;
  }
}
