<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Auctions</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-6">
                <h3 class="admin-page-title">Auctions</h3>
            </div>
        </div>
        <mat-tab-group class="sub-section-tab auction-tab" (selectedTabChange)="onTabChanged($event);">
            <mat-tab label="Auction">
                <div class="category-brand-table">
                    <div class="row mb-3">
                        <div class="col-md-5 col-lg-4">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" [(ngModel)]="searchText" (keydown.enter)="searchInList()"
                                    (keyup)="searchInList()" autocomplete="off" type="text" class="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7 col-lg-8 text-right">
                            <!-- <button mat-button [routerLink]="['/admin-dashboard/auction/create-auction']"
                                class="default-btn">Add Auction</button> -->
                            <button mat-raised-button color="primary" (click)="exportAuction()"
                                class="theme-btn export-btn "><i class="fa fa-file-excel-o pr-2  fa-lg"
                                    aria-hidden="true"></i>Export</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Sale Type"
                                    (selectionChange)="applyAuctionFilter('sale',$event?.value)">
                                    <mat-option value=''>Select Sale Type</mat-option>
                                    <mat-option value={{status?.value}} *ngFor="let status of saleTypeFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Auction Type"
                                    (selectionChange)="applyAuctionFilter('auction',$event?.value)">
                                    <mat-option value=''>Select Auction Type</mat-option>
                                    <mat-option value={{status?.value}}
                                        *ngFor="let status of auctionTypeFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Auction Status"
                                    (selectionChange)="applyAuctionFilter('status',$event?.value)">
                                    <mat-option value=''>Select Auction Status</mat-option>
                                    <mat-option value={{status?.value}}
                                        *ngFor="let status of auctionStatusFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Business Vertical"
                                    (selectionChange)="applyAuctionFilter('buisness',$event?.value)">
                                    <mat-option value=''>Select Business Vertical</mat-option>
                                    <mat-option value={{status?.value}}
                                        *ngFor="let status of buisnessVerticalFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3 col-12">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Category Type"
                                    (selectionChange)="applyAuctionFilter('category',$event?.value)">
                                    <mat-option value=''>Select Category Type</mat-option>
                                    <mat-option value={{status?.value}}
                                        *ngFor="let status of categoryTypeFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource"
                                    matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                    (matSortChange)="onSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">ID</span> {{ element.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Name</span> {{ element.name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="auction_engine_auction_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Engine Auction Id
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Engine Auction Id</span> {{
                                            element.auction_engine_auction_id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="starts_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction Start Date &amp;
                                            Time </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Start Date &amp; Time</span> {{
                                            element.starts_at | date:'dd-MM-yyyy, hh:mm a' }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ends_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction End Date &amp;
                                            Time </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction End Date &amp; Time</span> {{
                                            element.ends_at | date:'dd-MM-yyyy, hh:mm a' }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="city">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Location</span> {{ element.city }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="auction_type_display_name">
                                        <th mat-header-cell *matHeaderCellDef> Auction Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Type</span> {{
                                            element.auction_type_display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="category_type_display_name">
                                        <th mat-header-cell *matHeaderCellDef> Category Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Category Type</span> {{
                                            element.category_type_display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="business_vertical">
                                        <th mat-header-cell *matHeaderCellDef> Business Vertical </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Business Vertical</span> {{
                                            getBuisnessVertical(element.business_vertical) }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="sale_type">
                                        <th mat-header-cell *matHeaderCellDef> Auction Sale Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Sale Type</span> {{
                                            getSaleType(element.sale_type) }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="auction_status_display_name">
                                        <th mat-header-cell *matHeaderCellDef> Auction Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Auction Status</span> {{
                                            element.auction_status_display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Actions</span>
                                            <div>
                                                <button mat-button class="simple-btn">
                                                    <span (click)="editAuction(element?.id)"><img
                                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                                            title="Edit"></span>
                                                </button>
                                                <button mat-button class="simple-btn">
                                                    <span (click)="deleteAuction(element.id)"><img
                                                            src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                            title="Delete">
                                                    </span>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                                <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                            </div>
                            <mat-paginator class="table-pagination" [length]="total_count" [pageIndex]="0"
                                [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" (page)="onPageChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Auction Lot">
                <div class="category-brand-table">
                    <div class="row mb-3">
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" [(ngModel)]="searchText" (keyup)="searchInList()"
                                    (keydown.enter)="searchInList()" autocomplete="off" type="text" class="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-select class="form-control" placeholder="Select Bid Increment Type"
                                    (selectionChange)="applyAuctionFilter('bid',$event?.value)">
                                    <mat-option value=''>Select Bid Increment Type</mat-option>
                                    <mat-option value={{status?.value}}
                                        *ngFor="let status of bidIncrementFilterOptions;">
                                        {{status?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8 col-lg-6 col-sm-6 text-right ml-auto">
                            <!-- <button mat-button [routerLink]="['/admin-dashboard/auction/create-lot']" class="default-btn">Add Lots</button> -->
                            <button mat-raised-button color="primary" (click)="exportAuctionLot()" class="theme-btn export-btn ">
                                <i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export
                            </button>
                        </div>
                    </div>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource"
                                    matSortDirection="desc" matSortActive="auction" matSort
                                    (matSortChange)="onSortColumn($event)">

                                    <ng-container matColumnDef="auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Auction ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{ element.auction }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parent_auction">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Auction ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Parent Auction ID</span> {{
                                            element.parent_auction }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Number </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot Number</span> {{ element.lot_number }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="start_price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Price </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Start Price</span> {{ element.start_price }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reserve_price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reserve Price </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Reserve Price</span> {{ element.reserve_price }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="last_minute_bid">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Minute Bid </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Last Minute Bid</span> {{ element.last_minute_bid
                                            }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="extended_to">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Extended To </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Extended To</span> {{ element.extended_to }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="bid_increment_type">
                                        <th mat-header-cell *matHeaderCellDef> Bid Increment Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Bid Increment Type</span> {{
                                            element?.bid_increments && element?.bid_increments.length > 0 ?
                                            element?.bid_increments[0]?.increment_type_display_name : ''}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="starts_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Start Date</span> {{ element.starts_at |
                                            date:'dd-MM-yyyy, hh:mm a'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ends_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> End Date</span> {{ element.ends_at |
                                            date:'dd-MM-yyyy, hh:mm a'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Actions</span>
                                            <div>
                                                <button mat-button class="simple-btn">
                                                    <span (click)="editLot(element?.id)"><img
                                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                                            title="Edit"></span>
                                                </button>
                                                <button mat-button class="simple-btn">
                                                    <span (click)="deleteAuctionLot(element.id)"><img
                                                            src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                            title="Delete">
                                                    </span>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="auctionLotColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: auctionLotColumns"></tr>
                                </table>
                                <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                            </div>
                            <mat-paginator class="table-pagination" [length]="total_count" [pageIndex]="0"
                                [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" (page)="onPageChange($event)">
                            </mat-paginator>
                        </div>
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Assets in Auction">
                <div class="category-brand-table">
                    <div class="row mb-3">
                        <div class="col-md-5 col-lg-4">
                            <mat-form-field floatLabel="never">
                                <mat-label>Search</mat-label>
                                <input matInput placeholder="" [(ngModel)]="searchText" (keyup)="searchInList()"
                                    (keydown.enter)="searchInList()" autocomplete="off" type="text" class="">
                            </mat-form-field>
                        </div>
                        <div class="col-md-7 col-lg-8 text-right">
                            <!-- <button mat-button class="default-btn" *ngIf="!addNewAssetLot" (click)="addNewAssetLot = true;">Add New</button> -->
                            <button mat-raised-button color="primary" (click)="exportAuctionAssetsLot()" class="theme-btn export-btn "><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                        </div>
                    </div>
                    <app-assets-auction *ngIf="addNewAssetLot" (closeForm)="addNewAssetLot = false; formClose($event)"
                        [editData]="editAssetLotData">
                    </app-assets-auction>

                    <div class="desktop-table">
                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource"
                                    matSortDirection="desc" matSortActive="id" matSortDisableClear matSort
                                    (matSortChange)="onSortColumn($event)">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">ID</span> {{ element?.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot__auction__id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Auction ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Auction ID</span> {{ element.lot?.auction?.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot__lot_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Lot No </span> {{ element.lot?.lot_number }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset ID </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset ID </span> {{ element.asset?.id }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__category__display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Category</span> {{
                                            element.asset?.category?.display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__brand__display_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Brand</span> {{
                                            element.asset?.brand?.display_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__model__name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Model</span> {{ element.asset?.model?.name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__asset_description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Desc </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Asset Desc </span> {{
                                            element.asset?.asset_description }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="lot__date_of_invoice">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Invoice Date</span> {{
                                            element.lot?.date_of_invoice }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__rc_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Registration No
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset Registration No</span> {{
                                            element.asset?.rc_number }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__engine_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Engine No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Engine No</span> {{ element.asset?.engine_number
                                            }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__location__location">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Location </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Asset Location</span> {{
                                            element.asset?.location?.location }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__is_invoice_available">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Original Invoice </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Original Invoice</span> {{
                                            element.asset?.is_invoice_available ? 'Yes' : "No" }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__seller__first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Contact Person</span> {{
                                            element.asset?.seller?.first_name }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__seller__mobile_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact No </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Contact No</span> {{
                                            element.asset?.seller?.mobile_number }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__is_sell">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sold </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Sold</span> {{ element.asset?.is_sell ? 'Yes' :
                                            "No" }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="asset__selling_price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Value </th>
                                        <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label"> Sale Value</span> {{
                                            element.asset?.selling_price }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <span class="mobile-label"> Actions</span>
                                            <div>
                                                <!-- <button mat-button class="simple-btn">
                          <span (click)="editAssetLot(element)"><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                      </button> -->
                                                <button mat-button class="simple-btn">
                                                    <span (click)="deleteAuctionAssestLot(element.id)"><img
                                                            src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                            title="Delete">
                                                    </span>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="assetAuctionColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: assetAuctionColumns"></tr>
                                </table>
                                <div class="no-record" *ngIf="!dataSource?.data?.length">No records found</div>
                            </div>
                            <mat-paginator class="table-pagination" [length]="total_count" [pageIndex]="0"
                                [pageSizeOptions]="[5, 10, 20]" [pageSize]="pageSize" (page)="onPageChange($event)">
                            </mat-paginator>
                        </div>
                    </div>


                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>