.main-wrapper {
    padding: 15px 0;
    background: #EFF2F4;
}

.more-options-btn {
    color: #0F3D94;
    text-decoration: none !important;
    padding: 10px 5px;
}

.pricefilter mat-checkbox {
    padding: 0px 5px 5px;
}

.remove-compare {
    width: 35px;
    min-width: inherit;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    ;
    border-radius: 50%;
    background-color: #ffefec;
}

.remove-compare img {
    width: 13px !important;
}

.viewport {
    height: 1400px;
    width: 100%;
    margin: 2em, 8em, 8em;
    box-shadow: 1px 1px 1px white;
}

.featured-product {
    margin-top: 20px;
}

.primary_image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}

.mat-select-value {
    line-height: 40px;
}

.theme-select {
    font-size: 14px;
}

.product-search-container {
    padding: 0px 15px;
}

.product-listing .mat-select {
    line-height: 40px;
    float: right;
    font-size: 14px;
    max-width: 270px;
    display: block;
    height: 40px;
    padding: 0px 10px!important;
}

.product-listing .featured-product {
    margin-top: 0px;
    margin-bottom: 15px;
}

.equipment-list.viewport .cdk-virtual-scroll-content-wrapper {
    padding: 0px 15px;
}

.view-details-btn {
    font-size: 12px;
}

.featured-product .img-bx img.wl-heart {
    bottom: -22px;
    right: 15px;
    width: 20px;
    top: inherit;
}

.featured-product .img-bx {
    height: 160px;
}

.primary_image {
    height: 160px;
}

.category-section {
    font-size: 14px;
    border-radius: 4px 4px 0px 0px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 0px !important;
    padding: 6px 10px;
    background: #eff2f4;
    border-bottom: 1px solid #e3e5e6;
}

.featured-product {
    transition: 0.5s;
}

.featured-product:hover {
    transition: 0.5s;
    box-shadow: 1px 1px 2px 4px #d2dce640;
    border: 1px solid #fff;
}

.category-section-div {
    margin-bottom: 1em;
    border: 1px solid #d9dfe2;
    border-radius: 4px;
    font-size: 13px;
}

.vehicle-cap-dtl {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 41px;
}

.featured-product {
    border: 1px solid #c4cfd8;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.products-list {
    flex: 1 1 33.3%;
    padding: 0px 7.5px;
    max-width: 33.3%;
    width: 33.3%;
}

.category-filter .mat-checkbox-label {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-overflow: clip;
    white-space: normal;
}

.content-list {
    padding-left: 0px;
}

.mat-select-value {
    line-height: 40px;
}

.listing-filters label {
    color: #747086;
    margin-bottom: 4px;
    white-space: normal;
}

.mat-select-value {
    line-height: 40px;
}

.compare-container .product-wrap {
    width: 100%;
}

.pluc-icon {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(0px, -50%);
    width: 40px;
    height: 40px;
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 54px;
}

.pluc-icon span {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
}

.category-filter,
.product-listing,
.product-detail-container {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

@media (max-width:991px) {
    .eqpmt-name {
        margin-top: 20px;
        font-size: 18px;
        height: auto;
    }
    .breadcrumb-container {
        display: none;
    }
    .main-wrapper {
        margin-top: 40px;
    }
    .product-listing {
        padding-top: 0px !important;
    }
    .bid-place-btn {
        margin-top: 15px;
    }
    .content-list {
        padding-left: 15px;
    }
    /* .product-listing .mat-select {max-width: 50%; float: left;} */
}

.recent-view-section {
    margin: 1em 0;
    padding: 0px 0px;
}

.recent-view-section .carousel {
    padding-bottom: 0px;
}

::ng-deep .mat-tooltip.red-tooltip {
    background-color: rgba(32, 27, 27, 0.418) !important;
    color: white !important
}

.no-equipment {
    width: 80%;
    margin: 0 auto 10px !important;
    padding: 10px;
    background: #bec3ce;
    display: block !important;
}

.no-equipment p {
    margin: 0px;
}

.listing-date {
    top: 130px;
    text-align: left;
}

.listing-date img {
    width: 100px;
    height: 30px;
}

.listing-date span {
    color: #fff;
}

@media (max-width: 768px) {
    .compare-button {
        margin: 20px 0px 0px!important;
        padding: 0!important;
    }
    .pluc-icon {
        right: -30px;
        height: 30px;
        width: 30px;
        line-height: 44px;
    }
    .listing-group {
        margin: 0px;
    }
    .product-search-container {
        padding: 0px 7.5px!important;
    }
    .content-list {
        padding: 0px !important;
    }
    .recent-view-section {
        margin: 1em 0 !important;
    }
}

.compare-icon img {
    display: none;
}

.price-div {
    margin: 0px;
    justify-content: space-between;
    min-height: 40px;
}

@media (max-width: 767px) {
    .filters-sidebar.show {
        height: calc(100vh - 40px);
    }
    .compare-icon {
        font-size: 0;
    }
    .compare-icon img {
        display: block;
        width: 14px;
    }
    .column-container {
        padding-top: 1em;
    }
    .featured-product .detailsbx h3 {
        font-size: 12px;
        line-height: 17px;
    }
    .mobile-view-btn {
        padding: 0;
        margin-top: .5rem!important;
        margin-bottom: .25rem!important;
    }
    .mobile-view-btn button {
        font-size: 12px;
        height: 32px;
        line-height: 29px;
    }
    .compare-container .product-wrap {
        width: 100%;
    }
    .product-image img {
        height: 100%;
    }
    .product-listing {
        padding-top: 0px !important;
    }
    .product-listing .mat-select {
        line-height: 40px;
        float: right;
        font-size: 14px;
        max-width: 100% !important;
        display: block;
        height: 40px;
        padding: 0 10px!important;
    }
    .featured-product .detailsbx .price-rqst.price-on-request {
        margin-bottom: 0!important;
        font-size: 12px;
    }
    .listing-date img {
        width: 80px;
        height: 26px;
    }
    .column-container {
        padding-top: 1em;
    }
    .compare-container .product-wrap {
        width: 100%;
    }
    .product-image img {
        height: 100%;
    }
    .pluc-icon {
        position: absolute;
        top: 50%;
        transform: translate(0px, -120%);
        background: transparent linear-gradient( 279deg, #1a50b1, #a01922);
        color: #fff;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 1;
        left: inherit;
    }
    .pluc-icon {
        right: -30px;
        height: 30px;
        width: 30px;
        line-height: 44px;
    }
    .pluc-icon span {
        line-height: 30px;
        font-size: 22px;
        ;
    }
    /* .listing-date img {
        height: 100%;width:inherit;
    } */
    .listing-date {
        width: 80px;
        height: 30px;
    }
    .listing-date {
        top: 70px;
    }
    .listing-date span {
        position: absolute;
        left: -5px;
        right: 0;
        /* color: #ddd; */
        padding: 0 10px;
        line-height: 25px;
        text-align: center;
        width: 100px;
        font-size: 12px;
        /* margin: 0 auto; */
        display: inline-block;
    }
    .view-details-btn {
        font-size: 12px;
        width: 100%;
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .product-feature ul li {
        flex: 1 1 33.3%;
    }
}

.total-bids {
    width: 16px;
}

.main-wrapper-amazon {
    overflow: inherit !important;
}

.mat-drawer-container {
    overflow: inherit !important;
}