<div class="compare-wrapper" *ngIf="this.compareList?.length > 0">
  <div class="compare-container p-4">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-6" *ngFor="let product of compareList; let i = index;">
        <article class="product-item cursor-pointer">
          <div class="product-wrap">
            <div class="product-image">
              <img class="w-100" src="{{product?.primary_image}}">
              <span class="remove-compare" (click)="remove_compare(i)">
                <img src="../../../assets/images/Delete_icon.svg" />
              </span>
            </div>
            <div class="product-summery p-2">
              <h3 class="product-title">{{product?.product_name}}</h3>
              <p class="model-no">Engine Model : <strong>{{product?.model?.name}}</strong></p>
              <p class="product-price">₹ {{product?.selling_price}}</p>
            </div>
          </div>
          <div class="pluc-icon" *ngIf="compareList[i+1]">
            <span class="material-icons">
              add
            </span>
          </div>
        </article>
      </div>
      <div class="col-sm-12 col-md-3 col-12">
        <div class="compare-button text-center mt-5 pt-5">
          <button class="theme-btn mat-button px-5" (click)="compare()"
            [disabled]="compareList?.length<2">Compare</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-wrapper" (scroll)="this.recursiveNewsApiHit($event)">
  <div class="product-search-container">
      <div class="row">
        <div class="col-sm-12 text-right total-count-list">Total Results: {{ count }}</div>
      </div>
    <div class="row listing-group">
      <div class="col-md-12 col-lg-3 col-md-12 filter-contnt filters-sidebar"
        [ngClass]="siebarToggle ? 'show' : 'hide'">
        <div class="bg-fff p-3 listing-filters mh-100p category-filter">
          <!-- <div class="category-section mt-4">Select</div> -->
          <div class="filter-headdiv">
            <h3 class="filter-head">Refine by</h3>
            <a (click)="clearAurSelectFilter('clear')" class="select-all">
              Clear All
              <!-- {{filterSelectClearDispName}} -->
            </a>
          </div>


          <div class="search-filter">
            <input matInput placeholder="Search" [(ngModel)]="searchText" (keydown.enter)="searchInList()"
              (keyup)="searchInList()" autocomplete="off" type="text" class="">
          </div>
          <div class="category-section-div">
            <div class="category-section mt-4">Asset Status</div>
            <mat-checkbox [checked]="asset.isSelected" [value]="asset.isSelected" *ngFor='let asset of limitedTypes'
              (change)='applyFilter(asset)'>
              {{asset.text}} <span class="filter-count">({{asset.count}})</span>
            </mat-checkbox>
          </div>
          <div class="category-section-div">
            <div class="category-section mt-4">Available In</div>
            <mat-checkbox [checked]="asset.isSelected" [value]="asset.isSelected" *ngFor='let asset of typeOfAsset'
              (change)='applyFilter(asset)'>
              {{asset.text}} <span class="filter-count">({{asset.count}})</span>
            </mat-checkbox>
            <div class="text-right" *ngIf="cloneCertificateObj?.length > 0 && !(isCertificateMore)"><a
                href="javascript:void(0)" class=" more-options-btn" (click)="showLess('certificate')">Less</a></div>
            <div class="text-right" *ngIf="cloneCertificateObj?.length > 0 && (isCertificateMore)"><a
                href="javascript:void(0)" class=" more-options-btn" (click)="showMore('certificate')">More</a></div>
          </div>
          <div class="category-section-div">
            <div class="category-section mt-4">Category</div>
            <mat-checkbox [checked]="category.isSelected" [value]="category.isSelected"
              *ngFor='let category of limitedCategory' (change)='applyFilter(category)'>
              {{category.text}} <span class="filter-count">({{category.count}})</span>
            </mat-checkbox>
            <div class="text-right" *ngIf="cloneObj?.length > 0 && !(isCategoryMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showLess('category')">Less</a></div>
            <div class="text-right" *ngIf="(cloneObj?.length > 0  && limitedCategory?.length == 5) && (isCategoryMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showMore('category')">More</a></div>
          </div>
          <div class="category-section-div">
            <div class="category-section">Brand</div>

            <mat-checkbox [checked]="brand.isSelected" [value]="brand.isSelected" *ngFor='let brand of limitedBrand'
              (change)='applyFilter(brand)'>
              {{brand.text}} <span class="filter-count">({{brand.count}})</span>
            </mat-checkbox>
            <div class="text-right" *ngIf=" cloneBrandObj?.length > 0 && !(isBrandMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showLess('brand')">Less</a></div>
            <div class="text-right" *ngIf="(cloneBrandObj?.length > 0 && limitedBrand?.length == 5) && (isBrandMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showMore('brand')">More</a></div>
          </div>
          <!-- <div class="text-right"><a href="javascript:void(0)" class=" more-options-btn">More</a></div> -->
          <div class="category-section-div">
            <div class="category-section mt-4">Model</div>
            <mat-checkbox [checked]="model.isSelected" [value]='model.isSelected' *ngFor='let model of limitedModel'
              (change)='applyFilter(model)'>
              {{model.text}} <span class="filter-count">({{model.count}})</span>
            </mat-checkbox>
            <div class="text-right" *ngIf="cloneModelObj?.length > 0 && !(isModelMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showLess('model')">Less</a></div>
            <div class="text-right" *ngIf="(cloneModelObj?.length > 0 && limitedModel?.length == 5) && (isModelMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showMore('model')">More</a></div>
          </div>
          <div class="category-section-div">
            <div class="category-section mt-4">Age of Equipment</div>
            <mat-checkbox [checked]="year.isSelected" [value]='year.isSelected' *ngFor='let year of mfgYearFilterList'
              (change)='applyFilter(year)'>
              {{year.text}} (Years)
            </mat-checkbox>
            <div class="text-right" *ngIf="cloneYearObj?.length > 0 && !(isYearMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showLess('year')">Less</a></div>
            <div class="text-right" *ngIf="cloneYearObj?.length > 0 && (isYearMore)"><a href="javascript:void(0)"
                class=" more-options-btn" (click)="showMore('year')">More</a></div>
          </div>
          <div class="category-section-div">
            <div class="category-section">Location</div>
            <mat-checkbox [checked]="location.isSelected" [value]='location.isSelected'
              *ngFor='let location of limitedLocation' (change)='applyFilter(location)'>
              {{location.text}} <span class="filter-count">({{location.count}})</span>
            </mat-checkbox>
            <div class="text-right" *ngIf="cloneLocationObj?.length > 0 && !(isLocationMore)"><a
                href="javascript:void(0)" class=" more-options-btn" (click)="showLess('location')">Less</a></div>
            <div class="text-right" *ngIf="(cloneLocationObj?.length > 0 && limitedLocation?.length == 5) && (isLocationMore)"><a
                href="javascript:void(0)" class=" more-options-btn" (click)="showMore('location')">More</a></div>
          </div>
          <div class="category-section-div">
            <div class="category-section mt-4">Price</div>
            <div class="pricefilter">
              <mat-checkbox [checked]="price.isSelected" [value]='price.isSelected'
                *ngFor='let price of priceFilterList' (change)='applyFilter(price)'>
                {{price.text}}
              </mat-checkbox>

            </div>

          </div>
          
        </div>
        <div class="filter-mobile-icon-filter">
          <span><button class="theme-btn mat-button px-5" (click)="closeFilters()">Filter</button></span>
      </div>
      </div>
      <div class="col-md-12 col-lg-9 col-12 content-list">
        <div class="bg-fff p-3 mh-100p product-listing">

          <div class="row mb-3">
            <div class="col-md-6">
              <div class="breadcrumb-container">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                  <li class="breadcrumb-item"><a [routerLink]="['/used-equipment-dashboard/dashboard']">Used
                      Equipment</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Used Equipment Listing</li>
                </ol>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sort-by-section">
                <div floatLabel="never" class="sort-by-select">
                  <mat-select class="theme-select" value="0" [(ngModel)]='sortInOrder'>
                    <mat-option value="0">Sort by :</mat-option>
                    <mat-option value="3" (click)="sortProduct('3')">Oldest to Newest Listing</mat-option>
                    <mat-option value="4" (click)="sortProduct('4')">Newest to Oldest Listing</mat-option>
                  </mat-select>
                </div>
                <div class="filter-mobile-icon">
                  <span><i class="fa fa-filter" (click)="sidebarshow()" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="category-filters-list">
                <ul *ngFor='let ass of typeOfAsset'>
                  <li *ngIf='ass.isSelected'>{{ass.text}}<i class="fa fa-times-circle" (click)='applyFilter(ass)'></i>
                  </li>
                </ul>
                <ul *ngFor='let cat of limitedCategory'>
                  <li *ngIf='cat.isSelected'>{{cat.text}}<i class="fa fa-times-circle" (click)='applyFilter(cat)'></i>
                  </li>
                </ul>
                <ul *ngFor='let bar of limitedBrand'>
                  <li *ngIf='bar.isSelected'>{{bar.text}}<i class="fa fa-times-circle" (click)='applyFilter(bar)'></i>
                  </li>
                </ul>
                <ul *ngFor='let mod of limitedModel'>
                  <li *ngIf='mod.isSelected'>{{mod.text}}<i class="fa fa-times-circle" (click)='applyFilter(mod)'></i>
                  </li>
                </ul>
                <ul *ngFor='let mfg of mfgYearFilterList'>
                  <li *ngIf='mfg.isSelected'>{{mfg.text}}<i class="fa fa-times-circle" (click)='applyFilter(mfg)'></i>
                  </li>
                </ul>
                <ul *ngFor='let loc of limitedLocation'>
                  <li *ngIf='loc.isSelected'>{{loc.text}}<i class="fa fa-times-circle" (click)='applyFilter(loc)'></i>
                  </li>
                </ul>
                <ul *ngFor='let pri of priceFilterList'>
                  <li *ngIf='pri.isSelected'>{{pri.text}}<i class="fa fa-times-circle" (click)='applyFilter(pri)'></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="productList?.length == 0 && productApi">
            <div class="col-sm-12">
              <div class="no-content-box mt-4">
                <div class="no-content-img mt-5 mb-4">
                  <img src="../../../assets/images/image-asset-3.png" />
                </div>
                <div class="not-content-txt">
                  <h2>No Products Found!</h2>
                  <h3>Try checking your spelling or use more general terms</h3>
                  <!-- <p>Please click on a Upload Asset button to upload new asset!</p>  -->
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="productList?.length > 0">
            <!-- <cdk-virtual-scroll-viewport itemSize="200" class="viewport"> -->
            <!-- <div *ngIf = "productList.length == 0" class="row m-0 no-equipment">
                <div>
                  <p> No equipment found</p> 
                </div>
            </div> -->
            <!-- <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 col-12" *cdkVirtualFor="let product of productList"> -->
            <div class="product-list" *ngFor="let product of productList">
              <div class="featured-product ">
                <div class="img-bx">

                  <div *ngIf="product.status ==5" class="sold">
                    <img src="../../../assets/images/sold-badge.png" alt="">
                  </div>

                  <span *ngIf="product.status ==3" class="reserved">
                    <img src="../../../assets/images/reserved-badge.png" alt="">
                  </span>
                  <!-- <img src={{product.category.img_url}} class="img-fluid" alt=""> -->
                  <img
                    src="{{product && product.primary_image ? product.primary_image  : '../../../assets/images/default-thumbnail.jpg'}}"
                    class="img-fluid primary_image" alt="">
                  <!-- <img src="../../../assets/images/logo.png" alt="" class="copyr8-logo"> -->
                  <div class="product-wishlist" *ngIf="this.cognitoId">
                    <img src="../../../assets/images/heart-wishlist.svg" *ngIf="!product?.is_watchlist"
                      (click)="addToWishlist(product?.id)" alt="" class="wishlist-icon" matTooltipClass='red-tooltip'
                      matTooltip="Add to watchlist">
                    <img src="../../../assets/images/heart-wishlist-active.png" *ngIf="product?.is_watchlist"
                      (click)="removeFromWatchlist(product?.id)" alt="" class="wishlist-icon"
                      matTooltipClass='red-tooltip' matTooltip="Remove from watchlist">

                  </div>

                </div>

                <div class="detailsbx">
                  <h3 class="product-title mb-0">
                    <!-- {{product.product_name + ' ' + product.mfg_year}} -->
                    {{product.product_name ? (product.product_name + ' ') : '' }}
                    <!-- {{ product.mfg_year ? product.mfg_year : ''}} -->
                    {{!product.product_name ? 'NA' : '' }}
                  </h3>
                  <!-- <div class="price mb-2">₹ {{product.selling_price}}</div> -->
                  <!-- <div class="price mb-2">{{setPrice(product)}}</div> -->
                  <div class="row price-div">
                    <div [ngClass]="{'mb-2 price' : setPrice(product) != 'Price On Request' ? true : false, 'mb-2 price-rqst' : setPrice(product) == 'Price On Request' ? true : false}">
                      <span *ngIf="product?.is_price_on_request || product?.is_insta_sale">{{setPrice(product)}}</span>
                      <!-- <span *ngIf="!product?.is_price_on_request && !product?.is_insta_sale"> &#8377;******</span> -->
                      <span *ngIf="!product?.is_price_on_request && !product?.is_insta_sale"> &#8377;</span>

                    </div>
                    <div class="noOfBIds" *ngIf="product?.is_online_bidding">
                      <h4><img src="../../../assets/images/auction.png" class="total-bids"> : {{product?.status == 5 ? product?.no_of_bids : product?.no_of_active_bids}}
                      </h4>
                    </div>
                  </div>
                  <div class="listing-date"  *ngIf="product.status ==2">
                    <div *ngIf="product.certificate[0]"><img
                        [src]="getCertificateImage(product.certificate[0])" /><span>{{getCertificateName(product.certificate[0])}}</span>
                      <!-- <img/> -->
                    </div>
                  </div>
                  <ul class="vehicle-cap-dtl product-detail"
                    *ngIf="product?.tech_fields && !product?.tech_fields?.length">
                    <div class="tech-info-no">
                      <span>Tech Specs Not Available</span>
                    </div>
                    <li *ngIf="product.engine_power">
                      <div class="product-subtitle">Engine<br>Power </div>
                      <div class="product-titlename">{{product.engine_power}}  cc </div>
                    </li>
                    <li *ngIf="product.bucket_capacity">
                      <div class="product-subtitle">Bucket<br>Capacity </div>
                      <div class="product-titlename">{{bindBucketCapacity(product.bucket_capacity)}} kg </div>
                    </li>
                    <li *ngIf="product.gross_Weight">
                      <div class="product-subtitle">Gross<br>Weight </div>
                      <div class="product-titlename">{{product.gross_Weight}} kg </div>
                    </li>
                  </ul>
                  <ul class="vehicle-cap-dtl product-detail"
                    *ngIf="product?.tech_fields && product?.tech_fields?.length > 0">
                    <div class="tech-info-no">
                      <span>Tech Specs Not Available</span>
                    </div>
                    <li *ngFor='let fields of product.tech_fields | slice:0:3'>
                      <div *ngIf='fields.visible_on_front'>

                      </div>
                      <div class="product-subtitle" [innerHTML]="fields?.field_name"></div>
                      <div class="product-titlename">{{fields.field_value}} {{fields?.field_unit}}</div>
                    </li>
                  </ul>
                  <div class="text-center mobile-view-btn mt-3 mb-2 col-12">
                    <button class="view-details-btn m-x-auto"
                      [routerLink]="['/used-equipment-dashboard/equipment-details/' + product?.id]" mat-button>View
                      Details</button>
                  </div>
                  <div class="row">
                    <div class="col-12 pt-md-3 pt-lg-3 pt-2 compare-icon-list">
                      <span *ngIf="checkifAddedtoCompare(product)" (click)="addToCompare(product)"><img src="../../../assets/images/compare-icon.svg">Add to Compare</span>
                      <span *ngIf="!checkifAddedtoCompare(product)" (click)="removeFromCompare(product)"><img src="../../../assets/images/remove-compare-icon.svg">Remove from Compare</span>
                    </div>
                    <!-- <div class="col-6 text-right brand-logo-list"> -->
                    <!-- <img src="../../../assets/images/ashok-leyland.svg" class="img-fluid" alt=""> -->
                    <!-- <img src={{product.brand.brand_logo_image}} class="img-fluid" alt=""> -->
                    <!-- </div> -->
                  </div>

                </div>
              </div>

              <!-- </cdk-virtual-scroll-viewport> -->
            </div>
          </div>
        </div>
         </div>
      </div>
      <div class="row" *ngIf="recentlyViewedList?.length > 0">
        <div class="col-12">
          <div class="recent-view-section">
            <div class="product-detail-container bg-fff">
              <div class="recent-view-container">
                <h2>Recently Viewed</h2>
                <owl-carousel [options]="recentViewSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                  <section class="content" *ngFor="let product of recentlyViewedList;let i = index;">
                    <article class="product-item cursor-pointer">
                      <div class="product-wrap">
                        <div class="product-image">
                          <img class="w-100" [src]="product?.used_equipment?.primary_image">
                        </div>
                        <div class="product-summery">
                          <h3 class="product-title" *ngIf="product?.used_equipment?.product_name">
                            {{product?.used_equipment?.product_name}}</h3>
                          <h3 class="product-title mb-2" *ngIf="!product?.used_equipment?.product_name">
                            {{product?.used_equipment?.category?.display_name + ' '
                            +product?.used_equipment?.brand?.display_name+ ' ' +product?.used_equipment?.model?.name+ '
                            '
                            + product?.used_equipment?.mfg_year}}</h3>
                          <p class="price mb-1" *ngIf="!product?.used_equipment?.is_price_on_request">₹
                            {{product?.used_equipment?.selling_price}}</p>
                          <p class="price-rqst mb-1" *ngIf="product?.used_equipment?.is_price_on_request">Price on
                            Request</p>

                          <!-- <ul class="vehicle-cap-dtl">
                            <li>
                              <p>Engine Power </p>
                              <p>{{product?.used_equipment?.engine_power}}  cc </p>
                            </li>
                            <li>
                              <p>Bucket Capacity </p>
                              <p>{{product?.used_equipment?.bucket_capacity}}  Kg </p>
                            </li>
                            <li>
                              <p>Operating Weight </p>
                              <p>{{product?.used_equipment?.operating_weight}} Kg </p>
                            </li>
                          </ul> -->
                          <ul class="vehicle-cap-dtl product-detail"
                    *ngIf=" !product?.used_equipment?.tech_fields?.length">
                    <div class="tech-info-no">
                      <span>Tech Specs Not Available</span>
                    </div>
                    <li *ngIf="product?.used_equipment?.engine_power">
                      <div class="product-subtitle">Engine<br>Power </div>
                      <div class="product-titlename">{{product?.used_equipment?.engine_power}}  cc </div>
                    </li>
                    <li *ngIf="product?.used_equipment?.bucket_capacity">
                      <div class="product-subtitle">Bucket<br>Capacity </div>
                      <div class="product-titlename">{{bindBucketCapacity(product?.used_equipment?.bucket_capacity)}} kg </div>
                    </li>
                    <li *ngIf="product?.used_equipment?.gross_Weight">
                      <div class="product-subtitle">Gross<br>Weight </div>
                      <div class="product-titlename">{{product?.used_equipment?.gross_Weight}} kg </div>
                    </li>
                  </ul>
                  <ul class="vehicle-cap-dtl product-detail"
                    *ngIf="product?.used_equipment?.tech_fields && product?.used_equipment?.tech_fields?.length > 0">
                    <div class="tech-info-no">
                      <span>Tech Specs Not Available</span>
                    </div>
                    <li *ngFor='let fields of product?.used_equipment?.tech_fields | slice:0:3'>
                      <div *ngIf='fields.visible_on_front'>

                      </div>
                      <div class="product-subtitle" [innerHTML]="fields?.field_name"></div>
                      <div class="product-titlename">{{fields.field_value}} {{fields?.field_unit}}</div>
                    </li>
                  </ul>
                          <div class="text-center mt-4 mb-3 col-12">
                            <button class="view-details-btn m-x-auto"
                              [routerLink]="['/used-equipment-dashboard/equipment-details/'+product?.used_equipment?.id]"
                              mat-button>View Details</button>
                          </div>
                        </div>
                      </div>
                    </article>
                  </section>
                </owl-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>