.sell-visuals{ 
    font-size: 14px;
}
.instructions-bx{
    background: #FCDD98 ;
    border-radius: 10px;
    padding: 15px;
}
.instructions-bx ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}
.instructions-bx ul li{
    display: inline-block;
    margin-right: 30px;
}
.imgHeight{
    height: 80px;
}
.instructions-bx ul li:last-child{
    margin-right: 0;
}
.primary-tag{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
}
.uploaded-img-bx{
    border: 1px solid #c4cfd8;
    border-radius: 6px;
    overflow: hidden;
    flex: 1 1 23.33%;
    max-width: 23.33%;
    margin-bottom: 7px;
}
.primary-checkbox{
    position: absolute;
    top: 10px;
    left: 10px;
}
.custom-file .cust-upload-txt2 {
    width: 80%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.upload-sub-section .title {font-size: 18px; background: #0f3d94; padding: 10px; border-radius: 8px 8px 0px 0px;
    color: #fff;}
.upload-sub-section {border: 1px solid #cdd6dc; border-radius: 8px; background: #fdfdfd;}
.upload-sub-section .sub-section-field {padding: 10px;}

.custom-file-label::after{
    display: none;
}

span.deleteIcon {
    width: 35px;
    min-width: inherit;
    margin-left: 0;
    height: 35px;
    text-align: center;
    line-height: 24px;
    padding: 0;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    background-color: #ffefec;
}



.image-div{
    display: flex;
    flex-wrap: wrap;
}