<div class="main-div product-wrapper">
  <div class="product-wrapper-box p-0">
  <div class="category-brand">
<mat-card>
  <div class="trade-tab-container">
<main class="container-fluid">
    <section class="myself-details-main-wrapper">
      <div class="row">
        <div class="col-sm-12">
            <div class="progress-block">
                <div class="progress-steps-group-block">
                    <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span class="step-lbl">Profile</span></div>                   
                    <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span class="step-lbl"> Preference</span></div>
                    <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span class="step-lbl">Banking</span></div>                   
                </div>
            </div>         
        </div>
      </div>
      <form [formGroup]='profileForm' class="basic-detial-form">

        <div class="main-content-wrapper">
          <fieldset [disabled] = "isEditable">
          <div class="main-form-details-container">
            <h3 class="heading"></h3>
            <div class="row">
                <div class="col-12 col-sm-7">
                    <div class="gender-block">
                        <label for="" class="d-block f-12">Select Gender <span class="mandatory"></span></label>
                        <mat-radio-group aria-label="Select an option"  formControlName="Gender" >
                          <mat-radio-button value="1" [checked]='true' (click)="onGenderChange('1')">Male</mat-radio-button>
                          <mat-radio-button value="2" (click)="onGenderChange('2')">Female</mat-radio-button>
                          <mat-radio-button value="3" (click)="onGenderChange('3')">Others</mat-radio-button>
                        </mat-radio-group>
                        <mat-error>
                          <div class="validation-err"
                              *ngIf="profileForm.get('Gender')?.touched && profileForm.get('Gender')?.hasError('required')">
                              Please select gender.
                          </div>
                      </mat-error>
                    </div>
                </div>
            </div>
          </div>
        </fieldset>
          <div class="prof-of-identity">
            <h2 class="sub-head" *ngIf="this.partnerAllDetail?.mapping?.partner?.partner_admin?.cognito_id!=undefined && this.partnerAllDetail?.mapping?.partner?.partner_admin?.cognito_id!=null && this.partnerAllDetail?.mapping?.partner?.partner_admin?.cognito_id!=this.cognitoId">Your Organisation: {{partnerAllDetail?.mapping?.partner?.company_name}}</h2>
            <h2 class="sub-head">Proof Of Identity</h2>
            <p class="txt-info"><span class="mandatory"></span>Pan card is mandatory. You need to provide an address proof
              in addition to the PAN Card. Please upload additional document to complete your profile.</p>
          
            <div class="poi-tabs-wrapper">
              <mat-tab-group animationDuration="0ms" [disableRipple]="true">
                <mat-tab label="PAN Card">
                 <div class="row" formGroupName="pan">
                   <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper">
                      <label class="d-block f-12" for="" >PAN Card Number<span class="mandatory"></span></label>
                    <div class="row" >
                      <div class="col-12">
                        <mat-form-field floatLabel="never">
                          <input matInput placeholder="" class="text-uppercase" [disabled]="isPanEditable" [readonly]="this.partnerAllDetail?.mapping?.status==2 && profileForm.get('pan')?.get('docNumber')?.value!=''" type="text" minlength="10" maxlength="10"
                           (blur)="checkPan();verifyPanData();" formControlName="docNumber" >                                    
                          <input type="hidden" formControlName="documentId">
          
                          <div class="h-20px">
                          <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('required')">
                            <span class="validation-err">Please enter PAN number.</span>
                          </div>
                          <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('wrong')">
                            <span class="validation-err">You have entered the PAN details of Corporate. So Please enter correct pan number.</span>
                          </div>
                          <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('minlength')">
                            <span class="validation-err">Please input 10 digits number.</span>
                          </div>
                          <div *ngIf="profileForm.get('pan')?.get('docNumber')?.touched && profileForm.get('pan')?.get('docNumber')?.hasError('maxlength')">
                            <span class="validation-err">Please input 10 digits number.</span>
                          </div>  
                        </div>
                        </mat-form-field>
                      </div> 
                                         
                    </div>
                    </div>
                   </div>
                   
                   <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="pancard-wrapper" >
                      <label class="d-block f-12" for="">Upload PAN Card<span class="mandatory"></span></label>
                    <div class="row mb-3">
                      <div class="col-12">
                         <div class="custom-file h-80">                     
                  <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'pan','front');" id="front"  >
                  <label [class.haserror]="panFrontImageError" class="custom-file-label" for="front"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                </div>
                <span class="f-12">File Size limit - 5MB</span>
                <div *ngIf="profileForm.get('pan')?.get('docImages')?.get('front')?.hasError('imgIssue')">
                  <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                </div>
                <div *ngIf="panFrontImageError">
                <span class="validation-err">Please upload PAN Card.</span>
              </div>      
                      </div>  
                         
                      </div>
                    </div>
                   </div>
                   <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="row mb-3">
                      <div class="col-9" style="margin-top: 10px;">
                    <div class="basic-upload-images">
                      <!-- <img *ngIf="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value==''" [src]="this.profileForm.get('pan')?.get('docImages')?.get('front')?.value" [class.img-download]="this.profileForm.get('pan')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('pan')?.get('docImages')?.get('front')?.value)"  class="cursor-pointer col-9" height="100px"> -->
                      <img *ngIf="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value!=''" [src]="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value" [class.img-download]="this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.profileForm.get('pan')?.get('docImages')?.get('frontView')?.value)"  class="cursor-pointer col-9" height="100px">
                    </div>
                        
                      </div>   
                       
                      </div>
                   </div>
                  
                  </div>
                 
                </mat-tab>

                <mat-tab label="Aadhar Card">
                  <div class="row" formGroupName="aadhar">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4   ">
                     <div class="pancard-wrapper">
                       <label class="d-block f-12" for="" >Aadhar Card Number</label>
                     <div class="row">
                       <div class="col-12">
                         <mat-form-field floatLabel="never">
                           <!-- <input matInput placeholder="" type="text" minlength="12" maxlength="12" [readonly]="this.partnerAllDetail?.mapping?.status==2 && profileForm.get('aadhar')?.get('docNumber')?.value!=''" formControlName="docNumber" >                                     -->
                           <input matInput placeholder="" type="text" minlength="12" maxlength="12"  formControlName="docNumber" >                                    
                           <input type="hidden" formControlName="documentId">
                         </mat-form-field>
                         <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('required')">
                          <span class="validation-err">Please enter aadhar number.</span>
                        </div>
                        <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('minlength')">
                          <span class="validation-err">Please enter valid aadhar number.</span>
                        </div>
                        <div *ngIf="profileForm.get('aadhar')?.get('docNumber')?.touched && profileForm.get('aadhar')?.get('docNumber')?.hasError('maxlength')">
                          <span class="validation-err">Please enter valid aadhar number.</span>
                        </div>    
                       </div> 
                                        
                     </div>
                     </div>
                    </div>  
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper" >
                       <label class="d-block f-12" for="">Upload Aadhar Card (Front &amp; Back)</label>
                     <div class="row mb-3">
                       <div class="col-12">
                            <div class="custom-file  h-80">                     
                              <input  type="file" class="custom-file-input" (change)="handleUpload($event,'aadhar','front')" id="front"  >
                              <label class="custom-file-label" for="front"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('front')?.hasError('required')">
                              <span class="validation-err">Please upload aadhar number.</span>
                            </div> 
                            <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div class="custom-file mt-2 h-80">                     
                              <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'aadhar','back')" id="back"  >
                              <label class="custom-file-label" for="back"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div *ngIf="profileForm.get('aadhar')?.get('docImages')?.get('back')?.hasError('required')">
                              <span class="validation-err">Please upload aadhar number.</span>
                            </div>
                            <span class="f-12">File Size limit - 5MB</span>
                       </div>         
                       </div>
                     </div>
                    </div>
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="row mb-3">
                       <div class="col-12" style="margin-top: 10px;">
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('front')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value" (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('back')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value" (click)="sharedService.download(this.profileForm.get('aadhar')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                         
                       </div>   
                        
                       </div>
                    </div>
                  </div>    
                  <!-- <pre>{{profileForm?.get('aadhar').value | json}}</pre> -->
                 </mat-tab>

                <mat-tab label="Passport">
                  <div class="row" formGroupName="passport">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper">
                       <label class="d-block f-12" for="" >Passport Number</label>
                     <div class="row">
                       <div class="col-12">
                         <mat-form-field floatLabel="never">
                           <!-- <input matInput placeholder="" type="text" formControlName="docNumber" [readonly]="this.partnerAllDetail?.mapping?.status==2 && profileForm.get('passport')?.get('docNumber')?.value!=''" >                                     -->
                           <input matInput placeholder="" type="text" formControlName="docNumber" >                                    
                           <input type="hidden" formControlName="documentId">
              
                         </mat-form-field>
                       </div> 
                       <div *ngIf="profileForm.get('docNumber')?.touched && profileForm.get('docNumber')?.hasError('required')">
                         <span class="validation-err">Please enter passport number.</span>
                       </div>
                                          
                     </div>
                     </div>
                    </div>  
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper" >
                       <label class="d-block f-12" for="">Upload Passport (Front & Back)</label>
                     <div class="row mb-3">
                       <div class="col-12">
                            <div class="custom-file  h-80">                     
                              <input  type="file" class="custom-file-input" (change)="handleUpload($event,'passport','front')" id="front"  >
                              <label class="custom-file-label" for="front"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('front')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div>
                            <div class="custom-file mt-2 h-80">                     
                              <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'passport','back')" id="back"  >
                              <label class="custom-file-label" for="back"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div *ngIf="profileForm.get('passport')?.get('docImages')?.get('back')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div>
                            <span class="f-12">File Size limit - 5MB</span>
                       </div>   
                       </div>
                     </div>
                    </div>
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="row mb-3">
                       <div class="col-9" style="margin-top: 10px;">
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('front')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('back')?.value" (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('back')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value" (click)="sharedService.download(this.profileForm.get('passport')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                         
                       </div>   
                        
                       </div>
                    </div>
                  </div>
                 </mat-tab>

                <mat-tab label="Voter ID">
                  <div class="row" formGroupName="voter">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper">
                       <label class="d-block f-12" for="" >Voter ID<span class="mandatory"></span></label>
                     <div class="row">
                       <div class="col-12">
                         <mat-form-field floatLabel="never">
                           <!-- <input matInput placeholder="" type="text" formControlName="docNumber" [readonly]="this.partnerAllDetail?.mapping?.status==2 && profileForm.get('voter')?.get('docNumber')?.value!=''">                                     -->
                           <input matInput placeholder="" type="text" formControlName="docNumber" >                                    
                           <input type="hidden" formControlName="documentId">
                        
                         </mat-form-field>
                       </div> 
                       <div *ngIf="profileForm.get('voter')?.get('docNumber')?.touched && profileForm.get('voter')?.get('docNumber')?.hasError('required')">
                         <span class="validation-err">Please enter voter id.</span>
                       </div>
                                          
                     </div>
                     </div>
                    </div>  
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper" >
                       <label class="d-block f-12" for="">Upload Voter ID (Front & Back)</label>
                     <div class="row mb-3">
                       <div class="col-12">
                            <div class="custom-file  h-80">                     
                              <input  type="file" class="custom-file-input" (change)="handleUpload($event,'voter','front')" id="front"  >
                              <label class="custom-file-label" for="front"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('front')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div>
                            <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div class="custom-file mt-2 h-80">                     
                              <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'voter','back')" id="back"  >
                              <label class="custom-file-label" for="back"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div *ngIf="profileForm.get('voter')?.get('docImages')?.get('back')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div>
                            <span class="f-12">File Size limit - 5MB</span>  
                       </div>   
                       </div>
                     </div>
                    </div>
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="row mb-3">
                       <div class="col-9" style="margin-top: 10px;">
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('front')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('back')?.value" (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('back')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value" (click)="sharedService.download(this.profileForm.get('voter')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                         
                       </div>   
                        
                       </div>
                    </div>
                  </div>
                 </mat-tab>

                <mat-tab label="Driving License">
                  <div class="row" formGroupName="dl">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper">
                       <label class="d-block f-12" for="" >Driving License</label>
                     <div class="row">
                       <div class="col-12">
                         <mat-form-field floatLabel="never">
                           <input matInput placeholder="" type="text" formControlName="docNumber" >                                    
                           <input type="hidden" formControlName="documentId">
                        
                         </mat-form-field>
                       </div> 
                       <div *ngIf="profileForm.get('dl')?.get('docNumber')?.touched && profileForm.get('dl')?.get('docNumber')?.hasError('required')">
                         <span class="validation-err">Please enter driving license.</span>
                       </div>
                                          
                     </div>
                     </div>
                    </div>  
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="pancard-wrapper" >
                       <label class="d-block f-12" for="">Upload Driving License (Front & Back)</label>
                     <div class="row mb-3">
                       <div class="col-12">
                            <div class="custom-file h-80">                     
                              <input  type="file" class="custom-file-input" (change)="handleUpload($event,'dl','front')" id="front"  >
                              <label class="custom-file-label" for="front"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('front')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div> 
                            <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('front')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div class="custom-file mt-2 h-80">                     
                              <input  type="file" class="custom-file-input"  (change)="handleUpload($event,'dl','back')" id="back"  >
                              <label class="custom-file-label" for="back"><span class="upload-icon"></span><span class="cust-upload-txt"><span class="blue-txt">Choose a file</span> </span></label>
                            </div>
                            <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('back')?.hasError('imgIssue')"  style="margin-top:5px">
                              <span class="validation-err">Selected image should be less than 5 mb or should be .jpg, .jpeg, .png, .bmp format</span>
                            </div>
                            <div *ngIf="profileForm.get('dl')?.get('docImages')?.get('back')?.hasError('required')">
                              <span class="validation-err">Please upload document.</span>
                            </div>
                            <span class="f-12">File Size limit - 5MB</span>  
                       </div>   
                       </div>
                     </div>
                    </div>
                    <div formGroupName="docImages" class="col-12 col-sm-6 col-md-6 col-lg-4">
                     <div class="row mb-3">
                       <div class="col-9" style="margin-top: 10px;">
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('front')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value==''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('front')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('front')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value!=''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('frontView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                     <div class="basic-upload-images">
                       <!-- <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('back')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value==''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('back')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('back')?.value)" class="cursor-pointer col-9" height="100px"> -->
                       <img [src]="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value" *ngIf="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value!=''" [class.img-download]="this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value" (click)="sharedService.download(this.profileForm.get('dl')?.get('docImages')?.get('backView')?.value)" class="cursor-pointer col-9" height="100px">
                     </div>
                         
                       </div>   
                        
                       </div>
                    </div>
                  </div>
                 </mat-tab>
                
              </mat-tab-group>
            </div>
          </div>
          <fieldset>
          <div class="customer-details-wrapper">
            <h2 class="sub-head">Partner Contact Details</h2>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">First Name <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input  matInput placeholder="" type="text"  formControlName="FirstName" >                                    
               </mat-form-field>
               <div *ngIf="profileForm.get('FirstName')?.touched && profileForm.get('FirstName')?.hasError('required')">
                <span class="validation-err">Please fill mandatory field(s).</span>
              </div>
              </div>
            
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Last Name <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text"  formControlName="LastName" >                                    
                </mat-form-field>
                <div *ngIf="profileForm.get('LastName')?.touched && profileForm.get('LastName')?.hasError('required')">
                  <span class="validation-err">Please enter last name.</span>
                </div> 
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Date Of Birth <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never" class="datepicker-input">
                  <input matInput [max]="minDate" [matDatepicker]="picker" formControlName="Dob" (click)="picker.open()"  readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                    <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                      <img src="../../../assets/images/calendar.svg" alt="">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            
              <div *ngIf="profileForm.get('Dob')?.touched && profileForm.get('Dob')?.hasError('required')">
                <span class="validation-err">Please select date of birth</span>
              </div>   
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Mobile Number</label>
                      <div class="form-row">                
                        <div class="col-sm-4 col-5">
                          <mat-select  class="ptb-5 card-select payment-card-slct"  formControlName="countryCode" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)">
                            <mat-select-trigger  >
                              <div class="d-block l40">
                                <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                                <div class="prefix-number">
                                  <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                                </div>
                              </div>
                            </mat-select-trigger>
                            <mat-option *ngFor="let country of countryList" [value]="country">
                              <div class="d-flex l40">
                                <img [src]="country.flag" class="saved-card-icn" alt="">
                                <div class="prefix-number">
                                  <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                                </div>
                              </div>
                            </mat-option>
                          </mat-select> 
                        </div>
                        <div class="col-7 col-sm-8">
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="Enter your Mobile number" 
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" minlength="10" maxlength="10" type="text" formControlName="Mobile" >
                          </mat-form-field>
                          <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('required')">
                            <span class="validation-err">Please enter mobile number.</span>
                          </div>
                          <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('minlength')">
                            <span class="validation-err">Please input 10 digits number.</span>
                          </div>
                          <div *ngIf="profileForm.get('Mobile')?.touched && profileForm.get('Mobile')?.hasError('maxlength')">
                            <span class="validation-err">Please input 10 digits number.</span>
                          </div>
                          <div *ngIf="profileForm.get('Mobile')?.hasError('pattern')">
                            <span class="validation-err">Please input 10 digits number.</span>
                          </div>
                        </div>
                         
                      </div>
               
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Email ID<span class="mandatory" *ngIf="isEmailReq"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text"  formControlName="EmailId" (blur)="checkEmailField();">                                    
                </mat-form-field>
                <div >
                  <span  class="validation-err" *ngIf="profileForm.get('EmailId')?.touched && profileForm.get('EmailId')?.hasError('required')">Please enter email.</span>
                  <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
                </div>  
                <div >
                  <span  class="validation-err" *ngIf="profileForm.get('EmailId')?.touched && profileForm.get('EmailId')?.hasError('pattern')">Please Enter a valid Email.</span>
                  <!-- <span class="validation-err"  *ngIf="profileForm.get('EmailId')?.hasError('pattern')">Please Enter  Valid Email.</span> -->
                </div> 
               
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Alternate Email ID </label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" (blur)="validateAlternateEmailIdfn()" formControlName="AlternateEmailId" >                                    
                  <span class="validation-err"  *ngIf="profileForm.get('AlternateEmailId')?.hasError('pattern')">Please Enter a valid Email.</span>
                  <span class="validation-err"  *ngIf="profileForm.get('AlternateEmailId')?.hasError('exists')"> Email already Exist.</span>
                  
                </mat-form-field>
              </div>
        
        
        
            </div>
            
          </div>
          
          <div class="customer-details-wrapper address-wrapper">
            <h2 class="sub-head">Address</h2>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">House Number/Flat Number/Block Number <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text"   formControlName="StreetAddress1" >                                    
                  <input type="hidden" formControlName="addressId">
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                      *ngIf="profileForm.get('StreetAddress1')?.touched && profileForm.get('StreetAddress1')?.hasError('required')">
                      Please enter address1.
                  </div>
              </mat-error>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Sector/Locality/Area/Landmark/District <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="StreetAddress2" >                                    
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                      *ngIf="profileForm.get('StreetAddress2')?.touched && profileForm.get('StreetAddress2')?.hasError('required')">
                      Please enter address2.
                  </div>
              </mat-error>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Pincode <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never" [class.haserror]="pinCodeErrorFlag">
                  <input matInput placeholder="" type="text" formControlName="PinCode" [class.haserror]="pinCodeErrorFlag" (blur)="getpinCodefn();pincodeBlur=true" (keyup)="getpinCodefn();pincodeBlur=true" (keydown)=checkaddressFun($event)>                                    
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                      *ngIf="profileForm.get('PinCode')?.hasError('required') && profileForm.get('PinCode')?.touched">
                      Please enter pincode.
                  </div>
                  <div *ngIf="profileForm.get('PinCode')?.touched && profileForm?.get('PinCode')?.value!='' && pincodeBlur && (profileForm?.get('PinCode')?.hasError('minlength') || pinCodeErrorFlag || profileForm?.get('PinCode')?.hasError('maxlength') || profileForm?.get('PinCode')?.hasError('pattern'))">
                    <span class="validation-err">Please input a valid pincode</span>
                    </div>
              </mat-error>
              </div>
             
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">State <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">         
                  <input matInput formControlName="State"  type="text" readonly >
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                      *ngIf="profileForm.get('State')?.touched && profileForm.get('State')?.hasError('required')">
                      Please enter state.
                  </div>
              </mat-error>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">City <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder=""  type="text" formControlName="City" readonly >  
                  </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                      *ngIf="profileForm.get('City')?.touched && profileForm.get('City')?.hasError('required')">
                      Please enter city.
                  </div>
              </mat-error>
              </div>
      
        
            </div>
          </div>
        </fieldset>
        </div>

        <div class="row mb-5">
          <div class="col-12">
            <div class="saveandcont-btn">
               <button mat-flat-button  [disabled]="profileForm.invalid || pinCodeErrorFlag || uploadingImage" (click)="onSubmit()">Save & Continue</button>
            </div>  
          </div>
        </div>
      </form>





     
    </section>
  
  </main>
</div>
</mat-card>
  </div>
</div>  
</div>