.h-80{
    height: 80px;
}

.datepicker-input {
    position: relative;
}
.calender-icon {
    position: absolute;
    top: -32px !important;
    right: 10px;
}
.l40 {
    line-height: 39px !important;
}


.myself-details-main-wrapper { 
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.myself-details-main-wrapper .progress-block {
  border-radius: 10px 10px 0px 0px;
}
.myself-details-main-wrapper .basic-detial-form {padding: 10px;}
.product-wrapper .product-wrapper-box {padding: 0px; margin: 15px;}
.product-wrapper-box .container-fluid {padding: 0px;}

@media (max-width: 576px) { 

    .progress-block {padding: 0px;}
    .main-form-details-container h3.heading {font-size: 22px; margin: 15px ​0px;}

}

/* .main-div {
  width:80% !important;
  float: right;
} */
/* 
.header-box {
  margin: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
} */

.main-heading {font-size: 32px; font-weight: 700;}
.product-wrapper {padding: 0px;
  width: calc(100% - 18em);
  margin-bottom: 50px;
  margin-left: auto;
  transition: 0.5s;}
.mat-card {padding: 0px;}
.main-content-wrapper {
  padding: 0rem 0rem 0;
}
.main-form-details-container h3.heading {
  font-size: 21px;
  margin-top: 1em;
}

.saveandcont-btn {
  text-align: right;
  padding: 0 0rem 0rem;
}


@media screen and (max-width: 767px){
  .product-wrapper { 
    width: 100%;
    float: none;
    transition: 0.5s;
    margin-top: 80px !important;
  }
}


.prof-of-identity, .customer-details-wrapper {
  margin-bottom: 2rem;
  border: 1px solid #eee;
  padding: 15px;
}
.prof-of-identity h2.sub-head.row, .customer-details-wrapper h2.sub-head.row{
  background: #0f3d94;
  padding: 10px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -20px;
}
 




@media (max-width:767px){
  .mob-m-b-3{margin-bottom:1em;}
}

.basic-upload-images img {
  object-fit: contain;
  margin: 0 auto;
  display: block;
}