<div class="add-new-field mb-3">
  <h4 class="title">Add Auction Assets</h4>
  <form [formGroup]="lotAssetForm">
    <div class="row mb-3">
      <div class="col-md-6 col-lg-4">
        <mat-form-field floatLabel="never">
          <mat-select placeholder="Select Auction" (selectionChange)="getLotList($event?.value)">
            <mat-option value={{auction?.id}} *ngFor="let auction of auctionList;">
              {{auction?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field floatLabel="never">
          <mat-label>Lot</mat-label>
          <mat-select class="form-control" placeholder="" formControlName="lot">
            <mat-option [value]="lot?.id" *ngFor="let lot of lotArray;">
              {{lot?.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="lotAssetForm.get('lot')?.invalid && lotAssetForm.get('lot')?.touched">
          <span class="validation-err d-block" *ngIf="lotAssetForm.get('lot')?.errors?.required">
            Please select Lot
          </span>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <mat-form-field floatLabel="never">
          <mat-label>Assets*</mat-label>
          <mat-select formControlName='assets' multiple>
            <mat-option *ngFor="let asset of assetsList" [value]="asset.id">
              {{asset?.product_name ? asset?.product_name : (asset?.category?.display_name + asset?.brand?.display_name
              + asset?.model?.name)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="lotAssetForm.get('assets')?.invalid && lotAssetForm.get('assets')?.touched">
          <span class="validation-err d-block" *ngIf="lotAssetForm.get('assets')?.errors?.required">
            Please select Asset/s.
          </span>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="close()">Close</button>
        <button class="default-btn mt-sm-2" mat-button [disabled]="lotAssetForm.invalid"
          (click)="submit(lotAssetForm.value)">
          Save
        </button>
      </div>
    </div>
  </form>
</div>