<div class="popup modal-popup">
    <div class="popup-hdr text-right"> 
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body overflow-hidden">
        <div class="wrapper-demo-banner">
            <h3>Raise a Demo request</h3> 
        </div>
        <div class="row">
            <div class="col-md-6 order-2 order-sm-2 order-md-1 order-lg-1">
                <div class="demo-img-wrapper text-center">
                    <img src="../../../assets/images/demo-img1.png" alt="">
                </div>
                <!-- <div class="text-wrapper">
                   <h3>Drive business results on social</h3>
                   <p>Take a look at how hostlite scalability, intergration and partners are set apart from
                        the competition levels.</p>

                    <h3>The demo is customized around you</h3>
                    <p>Get answers to your unique questions and find out why hostsuite is the right choice for 
                        your business.</p>
               </div> -->
            </div>
            <div class="col-md-6 form-wrap-demo order-1 order-sm-1 order-md-2 order-lg-2">
                
                <form [formGroup]="demoForm" class="demo-form">
                    <h3>Raise a Demo request</h3>
                    <h4>Select the date (s) and time on which you are available to take demo</h4>
                    <div class="row">
                        <!-- <div class="col-12 mb-3">
                           
                                <mat-label class="label-title f-12">Pincode *</mat-label>
                                <input matInput (keyup)="getLocation(demoForm?.get('pin_code').value)"
                                    [matAutocomplete]="pinCode" type="text" formControlName='pin_code' maxlength="6" autocomplete="off">
                                <mat-autocomplete #pinCode="matAutocomplete"
                                    (optionSelected)="pinCodeChange($event.option.value)">
                                    <mat-option *ngFor="let option of locationOptions" [value]="option?.pin_code">
                                        {{option?.pin_code}}
                                    </mat-option>
                                </mat-autocomplete>
                           
                            <div *ngIf="demoForm.get('pin_code')?.errors && demoForm.get('pin_code')?.invalid && (demoForm.get('pin_code')?.touched || demoForm.get('pin_code')?.dirty)">
                                <span class="validation-err d-block" *ngIf="demoForm.get('pin_code')?.errors?.required">
                                    Please enter pin code
                                </span>
                                <span class="validation-err d-block" *ngIf="!demoForm.get('pin_code')?.errors?.required && demoForm.get('pin_code')?.errors?.minlength">
                                    Minimum 6 digits required
                                </span>
                                <span class="validation-err d-block" *ngIf="!demoForm.get('pin_code')?.errors?.required && demoForm.get('pin_code')?.errors?.pattern">
                                    Characters are not allowed
                                </span>
                                <span class="validation-err d-block" *ngIf="!demoForm.get('pin_code')?.errors?.required && demoForm.get('pin_code')?.errors?.wrong">
                                    No location against entered pincode
                                </span>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                                <mat-label class="label-title f-12">State</mat-label>
                                <input matInput autocomplete="off" type="text" formControlName='state' readonly>
                        </div>
                        <div class="col-12 mb-3">
                                <mat-label class="label-title f-12">City</mat-label>
                                <input matInput autocomplete="off" type="text" formControlName='city' readonly>
                        </div> -->
                        <div class="col-12 mb-3">
                            <div class="demo-calender datepicker-input">
                                <mat-label class="label-title f-12">
                                    <!-- Select your start date and end date for  -->
                                    Availability Date
                                    <span class="text-warning">*</span>
                                </mat-label>
                                <div class="position-relative">
                                    <mat-date-range-input (click)="dateRangePicker.open()" [rangePicker]="dateRangePicker" [min]="minDate" class="form-control mat-input-element">
                                        <input matStartDate formControlName="start_date" placeholder="Start date" readonly>
                                        <input matEndDate formControlName="end_date" placeholder="End date" readonly>
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="dateRangePicker" class="calender-icon">
                                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                                            <img src="../../../assets/images/calendar.svg" alt="">
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-date-range-picker #dateRangePicker disabled="false"></mat-date-range-picker>
                                </div>
                                <div *ngIf="demoForm.get('start_date')?.errors && demoForm.get('start_date')?.invalid && (demoForm.get('start_date')?.touched || demoForm.get('start_date')?.dirty)">
                                    <span class="validation-err d-block"
                                        *ngIf="demoForm.get('start_date')?.errors?.required">Please select Start
                                        date</span>
                                </div>
                                <div
                                    *ngIf="demoForm.get('end_date')?.errors && demoForm.get('end_date')?.invalid && (demoForm.get('end_date')?.touched || demoForm.get('end_date')?.dirty)">
                                    <span class="validation-err d-block"
                                        *ngIf="demoForm.get('end_date')?.errors?.required">Please select End date</span>
                                </div>
                            </div>
                        </div>

                        <!-- Select your start time and end time for availability on daily basis * -->

                        <!-- <div class="col-12 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <mat-label class="label-title f-12">
                                        Availability Time
                                        <span class="text-warning">*</span>
                                    </mat-label>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <ngx-timepicker-field formControlName="start_time" [format]="24" min="09:00 am"
                                        max="20:00 pm" timepickerClass="timePicker">
                                    </ngx-timepicker-field>
                                    <div
                                        *ngIf="demoForm.get('start_time')?.errors && demoForm.get('start_time')?.invalid && (demoForm.get('start_time')?.touched || demoForm.get('start_time')?.dirty)">
                                        <span class="validation-err d-block"
                                            *ngIf="demoForm.get('start_time')?.errors?.required">Please select Start
                                            time</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <ngx-timepicker-field formControlName="end_time" [format]="24" min="09:00 am"
                                        max="20:00 pm" timepickerClass="timePicker">
                                    </ngx-timepicker-field>
                                    <div
                                        *ngIf="demoForm.get('end_time')?.errors && demoForm.get('end_time')?.invalid && (demoForm.get('end_time')?.touched || demoForm.get('end_time')?.dirty)">
                                        <span class="validation-err d-block"
                                            *ngIf="demoForm.get('end_time')?.errors?.required">Please select End
                                            time</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-12 mb-3">
                            <mat-label class="label-title f-12">
                                Availability Time
                                <span class="text-warning">*</span>
                            </mat-label>
                            <mat-radio-group aria-label="Select an option" formControlName="in_second_half"
                                [(ngModel)]="isBeforeHalf">
                                <mat-radio-button [value]=false>Prelunch</mat-radio-button>
                                <mat-radio-button [value]=true>Postlunch</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </div>
                    <div class="text-right dialog-actions-container w-100">
                        <button class="default-btn-outline plr-md-40 mr-2" (click)="backClick()"
                            mat-button>Cancel</button>
                        <button class="default-btn plr-md-40" [disabled]="!demoForm.valid"
                            [ngStyle]="{'cursor': demoForm.valid ? 'pointer' : 'not-allowed'}" (click)="submit()"
                            mat-button>
                            Book Demo
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>