
.dialog-actions-container{
  margin-top: 16px;
}

mat-chip{
  border: 1px solid#0f3d94;
}

.modal-popup .popup-hdr {background: transparent;}

.sel{
  background-color: #0f3d94;
  color: #fff;
}
.datepicker-input {position: relative;}
.datepicker-input .calender-icon {position: absolute; top: 8px; right: 10px;}
.demo-calender.datepicker-input .calender-icon {position: absolute; top: -5px !important; right: 10px;}

.modal-popup .popup-hdr{
  margin-bottom:0px; 
}
.modal-popup .popup-body{
  position: relative;
  min-height: 100%;
  padding:0px;
  overflow-y: auto !important;
  max-height: 80vh;
  overflow-x: hidden !important;
}
.modal-popup .popup-hdr {padding: 10px 15px;}
.wrapper-demo-banner h3 {
  color: #fff;
  padding-top: 20px;
  font-size: 22px;
  padding-left: 30px;
}
.form-wrap-demo .demo-form {border: 1px solid #ccc !important;}
.mat-input-element, .mat-select {width: 100%;}
.demo-img-wrapper img {margin-bottom: 50px; }
.modal-popup .close-btn {float: none;}
.demo-form h4 {font-size: 15px;
  padding: 10px; 
  color: #4d4c54;
  margin: -11px -11px 10px;
  border-radius: 8px 8px 0px 0px;}

  .form-wrap-demo h3 {
    font-size: 16px;
      background: #1a50b0;
      color: #fff;
      padding: 10px;
      width: 106%;
      display: block;
      margin: -10px -10px 10px;
      border-radius: 6px 4px 0px 0px;
  }

.form-wrap-demo{
  position:static;
  margin-bottom: 20px;
  top: 0px;
  right:10px;
}
.text-wrapper{
  padding:45px;
}
.demo-form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  float: right;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.wrapper-demo-banner{
  min-height:110px; display: none;
  background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
  position:relative;
}
@media screen and (max-width: 768px) { 
  .demo-calender.datepicker-input .calender-icon {top: -5px; right: 0px;}
  .form-wrap-demo{
    position:unset;
    padding: 10px 20px 20px; margin-bottom: 10px;
  }
  .demo-form {margin-right: 0px;}
  .text-wrapper{
    padding:20px;
  }

  .wrapper-demo-banner {min-height: 50px;}
  .wrapper-demo-banner h3 {font-size: 16px; padding-top: 12px; padding-left: 20px;}
  .demo-img-wrapper img {width: 210px; margin-top: 0px;}

}