<div class="main-wrapper" *ngIf="showData">

  <div class="product-detail-container">
    <div class="bg-fff p-3 pdp-card">
      <div class="row">
        <div class="col-sm-6">
          <div class="breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/equipment-list']">New Equipment List</a></li>
              <li class="breadcrumb-item active" aria-current="page">New Equipment Detail</li>
            </ol>
          </div>
        </div>
        <div class="col-12 col-sm-6 text-right" *ngIf="isPreview">
          <button class="default-btn-outline mr-3" (click)='backToPrevious()' mat-button>Back</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 col-12">
          <div class="preview-bx">
            <div class="listing-date-details"
              *ngIf="equipmentDetails?.status != 3 && equipmentDetails?.status != 5 && equipmentDetails?.certificate_obj && equipmentDetails?.certificate_obj.length">
              <div class="listdateimg" *ngFor="let certi of equipmentDetails?.certificate_obj">
                <img
                [src]="certi?.certificate_logo_image">
                <span>{{certi?.name}}</span>
              </div>
            </div>
            <gallery id="basic-test" gallerize fluid [items]="visualImageData" *ngIf="visualImageData?.length">
            </gallery>
            <div class="save2wl" *ngIf="this.cognitoId">
              <img src="../../../../../assets/images/heart-wishlist.svg" *ngIf="!equipmentDetails?.is_watchlist"
                (click)="addToWishlist(2)" alt="">
              <img src="../../../assets/images/heart-wishlist-active.png" *ngIf="equipmentDetails?.is_watchlist"
                (click)="removeFromWatchlist(equipmentDetails?.id)" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-6 col-12">
          <h1 class="eqpmt-name">
            <span *ngIf="equipmentDetails?.product_name">{{equipmentDetails?.product_name}}</span>
            <span *ngIf="!equipmentDetails?.product_name">{{equipmentDetails?.model?.name == 'Other' ?
              equipmentDetails?.other_model : equipmentDetails?.model?.name }}</span>
          </h1>

          <div class="equiment-detail-box">
            <div class="eqmnt-catgry">
              <div class="categ-name">
                <span class="eqmnt-catgry-txt">Category :</span>
                <span class="eqmnt-catgry-lbel"> {{equipmentDetails?.category?.name == 'Other' ?
                  equipmentDetails?.other_category : equipmentDetails?.category?.display_name}}</span>
              </div>
              <div class="bran-name">
                <span class="brand-name eqmnt-catgry-txt">Brand :</span>
                <span class="eqmnt-catgry-lbel"> {{equipmentDetails?.brand.name == 'Other' ?
                  equipmentDetails?.other_brand
                  : equipmentDetails?.brand.display_name}}</span>
              </div>
            </div>
            <div class="asset-id-location">
              <div class="eqmnt-catgry">
                <span class="eqmnt-catgry-txt">Manufactured In : </span>
                <span class="eqmnt-catgry-lbel">{{equipmentDetails?.mfg_year}}</span>
              </div>
            </div>

            <div class="product-feature">
              <ul>
                <li *ngIf="equipmentDetails?.engine_power">
                  <img src="../../../assets/images/milling-machine.svg" alt="" class="tech-img mr-2 mt-1">
                  <div class="specs-value">
                    <div class="specs-value-txt"><strong>Engine<br>Power </strong></div>
                    <p class="specs-value-title">{{equipmentDetails?.engine_power}} cc </p>
                  </div>
                </li>
                <li *ngIf="equipmentDetails?.bucket_capacity">
                  <img src="../../../assets/images/milling-machine.svg" alt="" class="tech-img mr-2 mt-1">
                  <div class="specs-value">
                    <div class="specs-value-txt"><strong>Bucket<br>Capacity</strong></div>
                    <p class="specs-value-title">{{equipmentDetails?.bucket_capacity}} kg </p>
                  </div>
                </li>
                <li *ngIf="equipmentDetails?.gross_Weight">
                  <img src="../../../assets/images/milling-machine.svg" alt="" class="tech-img mr-2 mt-1">
                  <div class="specs-value">
                    <div class="specs-value-txt"><strong>Gross<br>Weight </strong></div>
                    <p class="specs-value-title">{{equipmentDetails?.gross_Weight}} kg </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <h1 class="price" [ngClass]="equipmentDetails?.is_price_on_request ? 'price-on-request' : ''"
            *ngIf="!equipmentDetails?.is_price_on_request">
            ₹ {{equipmentDetails?.selling_price}}
          </h1>
          <h1 [ngClass]="equipmentDetails?.is_price_on_request ? 'price-on-request price-rqst' : ''"
            *ngIf="equipmentDetails?.is_price_on_request">
            Price on request
          </h1>

          <div class="special-offer" *ngIf="offerAvailable" (click)="scrollTo('offerSec',offerSec)">
            <img src="../../../assets/images/special-offer.png" />
          </div>

          <div class="btns-bx">
            <ul>
              <li *ngIf="equipmentDetails?.document">
                <a [href]="equipmentDetails?.document" class="d-block">
                  <img src="../../../assets/images/download-icn.svg" alt="">
                  <span>Download Brochure</span>
                </a>
              </li>
              <li *ngIf="equipmentDetails?.certificate == 2">
                <a (click)="addToWishlist(3)" class="d-block">
                  <img src="../../../assets/images/express-icn.svg" alt="">
                  <span>Express Interest</span>
                </a>
              </li>
              <li [ngClass]="{'active' : showEmiCalc}">
                <a (click)="scrollTo('emiCalc',emiCalc)" class="d-block">
                  <img class="emi-unactive" *ngIf="!showEmiCalc" src="../../../assets/images/emi-icn.svg" alt="">
                  <img class="emi-active" *ngIf="showEmiCalc" src="../../../assets/images/get-money.svg" alt="">
                  <span>EMI Calculator</span>
                </a>
              </li>
              <li>
                <a (click)="proceedToFinance()" class="d-block">
                  <img src="../../../assets/images/finance.svg" alt="">
                  <span>Finance</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="row m-0 buttons-on-pdp" *ngIf="!isSameUser && !isPreview && (equipmentDetails?.status == 2)">
            <div class="col-sm-6 p-0">
              <div class="product-detail-btn">
                <button class="theme-btn btn-block mr-3" (click)="bookDemo()" mat-button>Book a demo</button>
              </div>
            </div>
            <div class="col-sm-6 p-0">
              <div class="product-detail-btn p-0 w-100 m-0">
                <button class="default-btn-outline btn-block" (click)="makeEnquiry()" mat-button>Make an
                  Enquiry</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>

  <div class="equipment-detail-section">
    <div class="equipment-detail-container">
      <div class="equipment-item-container bg-fff p-3 pt-3">
        <div class="category-detail-box" *ngIf="equipmentDetails?.usp?.length">
          <ul class="list-unstyled d-flex">
            <li class="flex-fill" *ngFor="let usp of equipmentDetails?.usp">
              <span><img src="../../../assets/images/wheel-icon.svg" /></span>
              <span>{{usp?.val}}</span>
            </li>
          </ul>
        </div>

        <div class="emi-calculator-section my-3" id="emiCalcId" #emiCalc>
          <div class="emi-calculator-wrapper">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12 col-12 calculator-inputsd">
                  <div class="calculate-field grey-color">
                    <form [formGroup]="emiForm">
                      <div class="row">
                        <div class="col-md-6 col-6 mb-3">
                          <label class="d-block" for=""> Loan Amount</label>
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName='loan_amount' autocomplete="off"
                              maxlength="8">
                          </mat-form-field>
                          <div
                            *ngIf="emiForm.get('loan_amount')?.errors && emiForm.get('loan_amount')?.invalid && (emiForm.get('loan_amount')?.touched || emiForm.get('loan_amount')?.dirty)">
                            <span class="validation-err d-block" *ngIf="emiForm.get('loan_amount')?.errors?.required">
                              Please enter Loan amount
                            </span>
                            <span class="validation-err d-block"
                              *ngIf="!emiForm.get('loan_amount')?.errors?.required && emiForm.get('loan_amount')?.errors?.pattern">
                              Characters are not allowed
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 col-6 mb-3">
                          <label class="d-block" for=""> Interest Rate</label>
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName='rate_of_interest'
                              autocomplete="off" maxlength="3">
                          </mat-form-field>
                          <div
                            *ngIf="emiForm.get('rate_of_interest')?.errors && emiForm.get('rate_of_interest')?.invalid && (emiForm.get('rate_of_interest')?.touched || emiForm.get('rate_of_interest')?.dirty)">
                            <span class="validation-err d-block"
                              *ngIf="emiForm.get('rate_of_interest')?.errors?.required">
                              Please enter Rate of interest
                            </span>
                            <span class="validation-err d-block"
                              *ngIf="!emiForm.get('rate_of_interest')?.errors?.required && emiForm.get('rate_of_interest')?.errors?.pattern">
                              Characters are not allowed
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                          <label class="d-block" for=""> Enter payment prefrences</label>
                          <mat-form-field floatLabel="never">
                            <mat-select class="select-new-ui" placeholder="Select Payment Prefrence"
                              (selectionChange)="checkValue()" formControlName='payment_prefrence'>
                              <mat-option>Select Payment Prefrence</mat-option>
                              <mat-option value="1">Monthly</mat-option>
                              <mat-option value="3">Quarterly</mat-option>
                              <mat-option value="6">Half yearly</mat-option>
                              <mat-option value="12">Yearly</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div
                            *ngIf="emiForm.get('payment_prefrence')?.errors && emiForm.get('payment_prefrence')?.invalid && (emiForm.get('payment_prefrence')?.touched || emiForm.get('payment_prefrence')?.dirty)">
                            <span class="validation-err d-block"
                              *ngIf="emiForm.get('payment_prefrence')?.errors?.required">
                              Please select payment prefrence
                            </span>
                          </div>
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                          <label class="d-block" for=""> Loan tenure in months</label>
                          <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName='tenure' (blur)="checkValue()"
                              autocomplete="off" maxlength="3">
                          </mat-form-field>
                          <div
                            *ngIf="emiForm.get('tenure')?.errors && emiForm.get('tenure')?.invalid && (emiForm.get('tenure')?.touched || emiForm.get('tenure')?.dirty)">
                            <span class="validation-err d-block" *ngIf="emiForm.get('tenure')?.errors?.required">
                              Please enter Loan amount
                            </span>
                            <span class="validation-err d-block"
                              *ngIf="!emiForm.get('tenure')?.errors?.required && emiForm.get('tenure')?.errors?.pattern">
                              Characters are not allowed
                            </span>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="default-btn-outline btn-block mat-button" mat-flat-button
                            [disabled]="!emiForm.valid"
                            [ngStyle]="{'cursor': emiForm.valid ? 'pointer' : 'not-allowed'}" (click)="calculateEmi()">
                            Calculate
                          </button>

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-12 col-12 mt-2" [ngStyle]="{'display' : showCalculatedEmi ? 'block' : 'none'}">
                  <div class="emi-calculate-list">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 col-12">
                        <div class="calculate-list">
                          <div class="title">Loan EMI</div>
                          <div class="amount">₹ {{result?.emi}}</div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-12">
                        <div class="calculate-list">
                          <div class="title">Total Interest Payable</div>
                          <div class="amount">₹ {{result?.interest}}</div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-12">
                        <div class="calculate-list">
                          <div class="title">Total Payment <span class="d-block">(Principal + Interest)</span></div>
                          <div class="amount">₹ {{result?.total}}</div>
                        </div>
                      </div>
                      <!-- <div class="col-md-12 col-sm-6 col-12">
                    <div class="paynow-btn text-center mt-5 mx-5">
                      <button class="default-btn btn-block mat-button" mat-flat-button>
                        Pay Now
                      </button>
                    </div>
                  </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <img src="../../../assets/images/emi-calculator.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        
        <div class="product-detail-accordian offerDetail-wrapper" *ngIf="offerAvailable" #offerSec>
          <h4 class="mb-3">Offer Details</h4>
          <ngb-accordion [closeOthers]="true" [activeIds]="getActiveId()">
            <ngb-panel id="cash" *ngIf="allOffers?.cash?.length">
              <ng-template ngbPanelTitle>
                Cash Offers ({{allOffers?.cash?.length}} Available)
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="offering-detail">
                  <div class="offer-product-img" *ngIf="offer?.offer_image">
                    <img [src]="offer?.offer_image" class="offer_img img-fluid" alt="">
                  </div>
                  <div class="offer-field mb-2" *ngFor="let offer of allOffers?.cash; let j = index">
                    <div class="offer-line-txt">
                      <h5 class="mb-0"> Offer - {{j + 1}} </h5>
                    </div>
                    <div class="row mt-3 mt-md-0 mt-lg-0">
                      <div class="col-sm-4">
                        <div class="offer-product-img">
                          <img [src]="offer?.offer_image" class="offer_img img-fluid" alt="" *ngIf="offer?.offer_image">
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="row mt-3 mt-md-0 mt-lg-0">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <label class="label-txt mb-1">Start Date</label>
                            <div class="sub-title">{{offer?.start_date | date:'dd-MM-yyyy'}}</div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">End Date</label>
                              <div class="sub-title">{{offer?.end_date | date:'dd-MM-yyyy'}}</div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Amount</label>
                              <div class="sub-title">₹ {{offer?.amount}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content mb-3">
                              <label class="label-txt mb-1">Description</label>
                              <div class="sub-title">{{offer?.description}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-6" *ngIf="offer?.free_of_cost">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Freebies</label>
                              <div class="sub-title">{{offer?.free_of_cost}}</div>
                            </div>
                          </div>
                          <div class="col-md-12 mt-0 mt-md-3 mt-lg-3 col-12 text-right ml-auto"
                            *ngIf="!isSameUser && !isPreview && (equipmentDetails?.status == 2)">
                            <button type="button" class="default-btn btn" (click)="makeEnquiry(offer)">Proceed</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="lease" *ngIf="allOffers?.lease?.length">
              <ng-template ngbPanelTitle>
                Lease Offers ({{allOffers?.lease?.length}} Available)
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="offering-detail">
                  <div class="offer-field mb-3" *ngFor="let offer of allOffers?.lease; let k = index">
                    <div class="offer-line-txt">
                      <h5> Offer - {{k + 1}} </h5>
                    </div>
                    <div class="row">
                      <div class="col-sm-4" *ngIf="offer?.offer_image">
                        <div class="offer-product-img">
                          <img [src]="offer?.offer_image" class="offer_img img-fluid" alt="" *ngIf="offer?.offer_image">
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="row mt-3 mt-md-0 mt-lg-0">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <label class="label-txt mb-1">Start Date</label>
                            <div class="sub-title">{{offer?.start_date}}</div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">End Date</label>
                              <div class="sub-title">{{offer?.end_date}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <label class="label-txt mb-1">Tenure*(In Months)</label>
                            <div class="sub-title">{{offer?.tenure}}</div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Rate of Interest(%)</label>
                              <div class="sub-title">{{offer?.rate}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Total Monthly Repayment (E.M.I)</label>
                              <div class="sub-title">{{offer?.installment}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Down-payment per unit</label>
                              <div class="sub-title">{{offer?.margin}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Processing Fee per unit</label>
                              <div class="sub-title">{{offer?.processing_fee}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Finance Amount Per Unit</label>
                              <div class="sub-title">{{offer?.amount}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 col-md-6">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Description</label>
                              <div class="sub-title">{{offer?.description}}</div>
                            </div>
                          </div>
                          <div class="col-md-6 col-6" *ngIf="offer?.free_of_cost">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Freebies</label>
                              <div class="sub-title">{{offer?.free_of_cost}}</div>
                            </div>
                          </div>
                          <!-- <div class="col-md-3 col-12">
                                                        <div class="offer-content">
                                                            <label class="label-txt mb-1"></label>
                                                            <div class="sub-title"><a [href]="offer?.t_and_c_doc">Terms & Condition</a></div>
                                                        </div>
                                                    </div> -->
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-12 text-right"
                            *ngIf="!isSameUser && !isPreview && (equipmentDetails?.status == 2)">
                            <button type="button" class="default-btn btn" (click)="makeEnquiry(offer)">Proceed</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="finance" *ngIf="allOffers?.finance?.length">
              <ng-template ngbPanelTitle>
                Finance Offers ({{allOffers?.finance?.length}} Available)
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="offering-detail">
                  <div class="offer-field mb-3" *ngFor="let offer of allOffers?.finance; let l = index">
                    <div class="offer-line-txt">
                      <h5 class="m-0"> Offer - {{l + 1}} </h5>
                    </div>
                    <div class="row">
                      <div class="col-sm-4" *ngIf="offer?.offer_image">
                        <div class="offer-product-img mt-3">
                          <img [src]="offer?.offer_image" class="offer_img img-fluid" alt="" *ngIf="offer?.offer_image">
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="row mt-3 mt-md-0 mt-lg-0">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <label class="label-txt mb-1">Start Date</label>
                            <div class="sub-title">{{offer?.start_date}}</div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">End Date</label>
                              <div class="sub-title">{{offer?.end_date}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <label class="label-txt mb-1">Tenure*(In Months)</label>
                            <div class="sub-title">{{offer?.tenure}}</div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Rate of Interest(%)</label>
                              <div class="sub-title">{{offer?.rate}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Total Monthly Repayment (E.M.I)</label>
                              <div class="sub-title">{{offer?.installment}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Down-payment per unit</label>
                              <div class="sub-title">{{offer?.margin}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Processing Fee per unit</label>
                              <div class="sub-title">{{offer?.processing_fee}}</div>
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-6 col-6 mb-3">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Finance Amount Per Unit</label>
                              <div class="sub-title">{{offer?.amount}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="offer-content mb-3">
                              <label class="label-txt mb-0">Description</label>
                              <div class="sub-title">{{offer?.description}}</div>
                            </div>
                          </div>
                          <!-- <div class="col-md-3 col-12">
                      <div class="offer-content">
                        <label class="label-txt mb-1"></label>
                        <div class="sub-title"><a [href]="offer?.t_and_c_doc">Terms & Condition</a></div>
                      </div>
                    </div> -->
                        </div>
                        <div class="row">
                          <div class="col-md-9 col-6" *ngIf="offer?.free_of_cost">
                            <div class="offer-content">
                              <label class="label-txt mb-1">Freebies</label>
                              <div class="sub-title">{{offer?.free_of_cost}}</div>
                            </div>
                          </div>
                          <div class="col-md-3 col-6 text-right"
                            *ngIf="!isSameUser && !isPreview && (equipmentDetails?.status == 2)">
                            <button type="button" class="default-btn btn" (click)="makeEnquiry(offer)">Proceed</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

        <div class="product-detail-accordian">
          <ngb-accordion [closeOthers]="true" activeIds="basic">
            <ngb-panel id="basic">
              <ng-template ngbPanelTitle>
                Basic Information
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="deail-table">
                  <ul class="list-unstyled">
                    <li>
                      <span><strong>Asset Id</strong></span>
                      <span>{{equipmentDetails?.id}}</span>
                    </li>
                    <li>
                      <span><strong>Brand/Model</strong></span>
                      <span>{{equipmentDetails?.brand.name == 'Other' ? equipmentDetails?.other_brand
                        : equipmentDetails?.brand.display_name}} / {{equipmentDetails?.model?.name == 'Other' ?
                        equipmentDetails?.other_model : equipmentDetails?.model?.name }}</span>
                    </li>
                    <li class="grey">
                      <span><strong>Category</strong></span>
                      <span>{{equipmentDetails?.category?.name == 'Other' ? equipmentDetails?.other_category :
                        equipmentDetails?.category?.display_name}}</span>
                    </li>
                    <li class="grey">
                      <span><strong>Manufacturing Year</strong></span>
                      <span>{{equipmentDetails?.mfg_year}}</span>
                    </li>
                    <li>
                      <span><strong>Price (Excl. Tax.)</strong></span>
                      <span *ngIf="!equipmentDetails?.is_price_on_request">{{equipmentDetails?.selling_price}}</span>
                      <span class="price-on-request price-rqst" *ngIf="equipmentDetails?.is_price_on_request">Price on
                        request</span>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="technical">
              <ng-template ngbPanelTitle>
                Technical Information
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="deail-table teh-info">
                  <ul class="list-unstyled">
                    <li *ngFor="let tech of equipmentDetails?.tech_fields">
                      <span><strong>{{tech?.field_name}}</strong></span>
                      <span>{{tech?.field_value}} {{tech?.field_unit}}</span>
                    </li>
                    <li *ngIf="equipmentDetails?.engine_power">
                      <span><strong>Engine Power </strong></span>
                      <span>{{equipmentDetails?.engine_power}} cc </span>
                    </li>
                    <li *ngIf="equipmentDetails?.gross_Weight">
                      <span><strong>Gross Weight </strong></span>
                      <span>{{equipmentDetails?.gross_Weight}} kg </span>
                    </li>
                    <li class="grey" *ngIf="equipmentDetails?.operating_weight">
                      <span><strong>Operating Weight </strong></span>
                      <span>{{equipmentDetails?.operating_weight}} kg </span>
                    </li>
                    <li class="grey" *ngIf="equipmentDetails?.bucket_capacity">
                      <span><strong>Bucket Capacity </strong></span>
                      <span>{{equipmentDetails?.bucket_capacity}} kg </span>
                    </li>
                    <li *ngIf="equipmentDetails?.lifting_capacity">
                      <span><strong>Lifting Capacity </strong></span>
                      <span>{{equipmentDetails?.lifting_capacity}} kg</span>
                    </li>
                    <li class="grey">
                      <span><strong>Fuel Type</strong></span>
                      <span>{{getEquipmentFuelType(equipmentDetails?.fuel_type)}}</span>
                    </li>
                    <li class="grey"></li>
                  </ul>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="payment">
              <ng-template ngbPanelTitle>
                Payment Terms & Conditions
              </ng-template>
              <ng-template ngbPanelContent>
                <h5>To Buy:</h5>
                <ul>
                  <li>Buyer must make full payment within the stipulated time period as communicated by the facilitator.
                  </li>
                  <li>In case the buyer fails to deposit the sale consideration within the stipulated time frame, the
                    Security Deposit would stand forfeited and offer as null and void.</li>
                  <li>Payment can be made online through iQuippo payment gateway or directly into the bank account
                    through cheque, DD, RTGS or NetBanking.</li>
                </ul>
                <div class="bankDetails pl-3">
                  <table class="table">
                    <tr>
                      <td>Bank Name:</td>
                      <td>AXIS BANK LIMITED</td>
                    </tr>
                    <tr>
                      <td>Branch Name:</td>
                      <td>ELECTRONIC COMPLEX,SALT LAKE,SECTOR-V</td>
                    </tr>
                    <tr>
                      <td>Account Number:</td>
                      <td>917020058796837</td>
                    </tr>
                    <tr>
                      <td>Account Holder Name:</td>
                      <td>IQUIPPO SERVICES LIMITED</td>
                    </tr>
                    <tr>
                      <td>IFSC Code:</td>
                      <td>UTIB0000319</td>
                    </tr>
                  </table>
                </div>
                <ul class="mt-2">
                  <li>Listed Price inclusive of GST and Parking & Upkeep Charges.</li>
                  <li>TCS over and above the offer amount.</li>
                </ul>

                <h5 class="mt-3">To Bid:</h5>
                <ul>
                  <li>In case the asset is listed in auction, bidder needs to agree to the terms & conditions, and
                    deposit an EMD for the offer to be considered as a proxy bid.</li>
                  <li>In case the bid is approved in the auction, the buyer needs to deposit the consideration price as
                    per the terms and conditions of the auction. Failure to do so will result in forfeiture of EMD.
                  </li>
                  <li>Payment can be made online through iQuippo payment gateway or directly into the bank account
                    through cheque, DD, RTGS or NetBanking.</li>
                  <li>Offer to be made inclusive of GST.</li>
                  <li>TCS and Parking & Upkeep Charges as applicable and payable by the buyer over and above the offer
                    amount.
                  </li>
                </ul>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>

  <div class="equipmwnt-video-section" *ngIf="visualVideoData?.length">
    <div class="product-detail-container">
      <div class="video-container bg-fff p-3 pt-3">
        <div class="equipment-video-detail">
          <h2 class="text-left">Equipment Video</h2>
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let video of visualVideoData">
              <div class="picsum-img-wrapper">
                <video controls>
                  <source [src]="video?.url">
                </video>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  <div class="recent-view-section" *ngIf="!isPreview && recentlyViewedList?.length > 0">
    <div class="product-detail-container bg-fff">
      <div class="recent-view-container">
        <h2>Recently Viewed</h2>
        <owl-carousel [options]="recentViewSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
          <section class="content" *ngFor="let product of recentlyViewedList;let i = index;">
            <article class="product-item cursor-pointer">
              <div class="product-wrap">
                <div class="product-image">
                  <img class="w-100" [src]="product.new_equipment.primary_image">
                </div>
                <div class="product-summery">
                  <h3 class="product-title" *ngIf="product?.new_equipment?.product_name">
                    {{product?.new_equipment?.product_name}}</h3>
                  <h3 class="product-title" *ngIf="!product?.new_equipment?.product_name">
                    {{product?.new_equipment?.category?.display_name + ' ' +product?.new_equipment?.brand?.display_name+
                    ' ' +product?.new_equipment?.model?.name+ ' ' + product?.new_equipment?.mfg_year}}</h3>
                  <p class="price mb-1" *ngIf="!product?.new_equipment?.is_price_on_request">₹
                    {{product?.new_equipment?.selling_price}}
                  </p>
                  <p class="mb-1 price-rqst" *ngIf="product?.new_equipment?.is_price_on_request">Price on Request</p>
                  <ul class="vehicle-cap-dtl product-detail" *ngIf="product?.new_equipment?.tech_fields?.length > 0">

                    <li *ngFor='let fields of product?.new_equipment?.tech_fields | slice:0:3'>
                      <div *ngIf='fields.visible_on_front'>

                      </div>
                      <div class="product-subtitle">{{fields?.field_name}}</div>
                      <div class="product-titlename">{{fields?.field_value}} {{(tech?.field_unit)}}</div>
                    </li>
                  </ul>
                  <ul class="vehicle-cap-dtl product-detail" *ngIf="!product?.new_equipment?.tech_fields?.length">

                    <li *ngIf="product?.new_equipment?.engine_power">
                      <div class="product-subtitle">Engine<br>Power </div>
                      <div class="product-titlename">{{product?.new_equipment?.engine_power}} cc </div>
                    </li>
                    <li *ngIf="product?.new_equipment?.bucket_capacity">
                      <div class="product-subtitle">Bucket<br>Capacity </div>
                      <div class="product-titlename">
                        {{bindBucketCapacity(product?.new_equipment?.bucket_capacity)}} kg </div>
                    </li>
                    <li *ngIf="product?.new_equipment?.gross_Weight">
                      <div class="product-subtitle">Gross<br>Weight </div>
                      <div class="product-titlename">{{product?.new_equipment?.gross_Weight}} kg </div>
                    </li>
                  </ul>
                  <div class="text-center mt-4 mb-3">
                    <button class="view-details-btn m-x-auto"
                      [routerLink]="['/new-equipment-dashboard/equipment-details/'+product?.new_equipment?.id]"
                      mat-button>View Details</button>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </owl-carousel>
      </div>
    </div>
  </div>
</div>