.main-wrapper {
    padding: 15px 0;
    background: #eff2f4;
}

.product-detail-container .pdp-card {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.preview-bx {
    background: #fff;
    height: 100%;
    background: transparent linear-gradient(180deg, #ffffff 80%, #808080 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #d2d7da;
    border-radius: 8px;
    /* border-radius: 15px; */
    min-height: 450px;
    position: relative;
}

.preview-bx img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 400px;
}

.preview-bx img.copyr8-logo {
    position: absolute;
    width: 100px;
    opacity: 0.3;
}

.preview-bx .tags p {
    margin-bottom: 8px;
    padding: 4px 15px 4px 4px;
    color: #fff;
    font-size: 10px;
    text-align: left;
    border-radius: 0 6px 6px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.preview-bx .tags p.verified-tag {
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
}

.preview-bx button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: scale(0.7);
}

.save2wl {
    position: absolute;
    right: 30px;
    top: 20px;
    background: #656565;
    border: 1px solid #707070;
    border-radius: 50px;
    margin-bottom: 0;
    padding: 12px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
}

.save2wl img {
    margin-right: 0px;
    width: 24px;
    position: relative;
}

.listing-date-details {
    margin-bottom: 8px;
}

.listdateimg {
    position: relative;
    width: 110px;
    height: 30PX;
    border-radius: 60px;
    text-align: center;
    display: block;
    margin-right: 5px;
    display: inline-block;
}

.listdateimg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.listdateimg span {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    color: #fff;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}

.eqpmt-name {
    font-size: 22px;
    color: #3d3855;
    margin-bottom: 10px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 36px;
}

.eqmnt-catgry {
    font-size: 14px;
    color: #3d3855;
    margin-bottom: 10px;
    line-height: 14px;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px #d2dce6;
}

.eqmnt-catgry span {
    color: #001229;
    margin-bottom: 10px;
}

.price span {
    color: #587aa7;
    padding-left: 15px;
    padding-bottom: 0px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.offers {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border: 1px solid #cbcbcb52;
    padding: 20px;
    max-width: 450px;
}

.offers p {
    letter-spacing: 0px;
    color: #000000;
}

.offers ul {
    padding-left: 20px;
    margin: 0;
}

.offers ul li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}

.offers ul li::before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-left: -20px;
    background: #cfcfcf;
    margin-right: 8px;
}

.offers a {
    font-size: 10px;
    color: #0f3d94;
    text-decoration: none !important;
}

.btns-bx {
    padding: 10px 0 15px;
}

.btns-bx ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.btns-bx ul li.active {
    background: #094fa3;
}

.btns-bx ul li.active span {
    color: #fff;
}

.brand-name {
    padding-left: 30px;
    border-left: 1px solid #c6ced4;
}

.eqmnt-catgry .eqmnt-catgry-txt {
    font-weight: 400;
    color: #9ea7ad;
    padding-right: 10px;
}

.eqmnt-catgry .eqmnt-catgry-lbel {
    font-weight: 500;
}

.specs-value .specs-value-title {
    font-weight: 600;
}

.specs-value .specs-value-txt {
    margin-bottom: 3px;
    color: #4b535a;
}

.specs-value .specs-value-txt strong {
    font-weight: 400;
}

.emi-calculator-wrapper {
    border: 1px solid #dfe7ea;
    padding: 15px;
    border-radius: 4px;
}

.displayBlock {
    visibility: visible !important;
}

.displayNone {
    visibility: hidden !important;
}

.grey-color {
    background-color: #ecf0f7;
}

.calculate-field {
    padding: 15px;
}

.calculate-field label {
    font-weight: 500;
    color: #798293;
}

.calculate-field .mat-input-element,
.calculate-field .mat-select {
    background-color: #fff !important;
}

.calculate-list {
    border: 1px solid #ddd;
    text-align: center;
}

.calculate-list .title {
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
    min-height: 50px;
    background-color: #ddd;
}

.calculator-inputsd {
    padding: 0px;
}

.calculate-list .amount {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #047007;
    background-color: #f5f5f5;
}

.emi-active {
    display: none;
}

.btns-bx ul li.active .emi-active {
    display: block;
}

.btns-bx ul li .emi-unactive {
    display: block;
}

.btns-bx ul li.active .emi-unactive {
    display: none;
}

.view-offer a {
    display: block;
    text-align: right;
    color: #094fa3;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 300;
}

.pro-disc {
    padding-top: 50px;
}

.pro-disc h2 {
    font-size: 30px;
    color: #0d4fa3;
    font-weight: 600;
    margin-bottom: 15px;
}

.pro-disc p {
    font-size: 20px;
    color: #3d3855;
}

.pro-disc ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 30px;
}

.pro-disc ul li {
    margin-right: 50px;
    display: inline-block;
}

.pro-disc ul li p {
    margin-bottom: 0;
    font-size: 20px;
    color: #3d3855;
    font-weight: 600;
}

.pro-disc ul li p:last-child {
    font-size: 18px;
    color: #7b8289;
    font-weight: 400;
}

.banner-bx {
    padding: 50px 0;
    /* background: url('/assets/images/newquipment-banner.png') no-repeat; */
    background-size: cover;
}

.bannerdtlbx {
    padding: 50px 25px 25px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 700px;
    color: #fff;
    margin: 20px 0;
}

.prdct-bx {
    margin-top: 30px;
    position: relative;
}

.prdct-bx-txt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prdct-bx-txt span {
    background: rgba(0, 0, 0, 0.67);
    color: #fff;
    letter-spacing: 1.52px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 19px;
    padding: 10px 20px;
}

.featured-section {
    padding: 46px 0;
}

.featured-section h2 {
    font-size: 28px;
    color: #001229;
    text-transform: uppercase;
    font-weight: 600;
}

.equipment-detail-section {
    padding: 15px 0 0px;
    background: #EFF2F4;
}

.equipment-detail-section .equipment-detail-container {
    padding: 0px 30px;
}

.equipment-detail-container .equipment-item-container {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.forbulkorder {
    padding: 40px 0;
    background: url("../../../../../assets/images/bulkorder-bg.svg") no-repeat;
    background-size: cover;
    color: #fff;
}

.forbulkorder h2 {
    font-size: 32px;
    color: #ffffff;
    text-shadow: 0px 0px 4px #00000029;
}

.forbulkorder p {
    font-size: 22px;
    color: #ffffff;
}

.our-partners-bx {
    padding: 46px 0;
    background: #f2f6fa;
}

.our-partners-bx h2 {
    font-size: 28px;
    color: #001229;
    text-transform: uppercase;
    font-weight: 600;
}

ngx-light-carousel article .item {
    border: 1px solid #ececec;
    border-radius: 10px;
    overflow: hidden;
}

ngx-light-carousel .catergory-typ {
    background: #0f3d94;
    color: #fff;
    text-align: center !important;
    font-weight: 500;
    margin: 0;
    padding: 5px;
}

ngx-light-carousel .product-bx {
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-bx .thumbnail-img {
    position: absolute;
    left: 5px;
    bottom: 20px;
    height: 80px;
    max-height: 18%;
    top: inherit;
    right: inherit;
    margin: inherit;
}

.preview-bx.product-sub-img {
    background: transparent;
    border: 0px;
}

.preview-bx .thumbnail-img2 {
    bottom: 120px;
}

.preview-bx .thumbnail-img3 {
    bottom: 220px;
}

.preview-bx .thumbnail-img4 {
    bottom: 320px;
}

.product-detail-container {
    padding: 0px 30px;
}

.product-detail-btn button {
    border-radius: 4px;
}

.product-detail-btn {
    margin-right: 15px;
}

.recent-view-section {
    background-color: #eff2f4;
    padding: 0px 30px;
}

.category-detail-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.category-detail-box ul {
    background: #f5f8fa;
    border-radius: 4px;
    border: 1px solid #c4cfd8;
}

.category-detail-box ul li {
    padding: 12px;
}

.category-detail-box ul li span {
    font-weight: 500;
}

.category-detail-box ul li span img {
    width: 20px;
    margin-right: 6px;
}

.deail-table ul {
    margin: 0px;
    border: 1px solid #e0e4e8;
}

.deail-table ul li {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 10px;
}

.deail-table ul li span {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    vertical-align: top;
}

.deail-table ul li.grey {
    background-color: #f8fbfd;
}

.accordian-wrapper .deail-table ul li span {
    vertical-align: top;
}

.equipment-status .status {
    padding: 10px;
    margin-bottom: 8px;
    font-weight: 600;
    background-color: #fff2b0;
    border-radius: 8px;
    text-align: center;
}

.equipment-detail {
    padding: 10px 30px 0px;
}

.equipment-status .pending {
    background-color: #ffd180;
}

.equipment-status .approve {
    background-color: #cdebba;
}

.equipment-status .reject {
    background-color: #f7b397;
}

.compare-wrapper {
    background-color: #f5f8fa;
    border-bottom: 1px solid #b8bbbe;
}


/* .product-wrap {
  width: 85%;
} */

.product-image {
    padding: 0px;
}

.product-image>img {
    height: 160px;
}

.model-no {
    font-size: 12px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
}

.pluc-icon span {
    font-size: 30px;
    font-weight: 500;
}

.pluc-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
}

.product-img .preview-bx {
    min-height: 320px;
}

.product-compare-btn {
    position: absolute;
    right: 0px;
    z-index: 9;
}

.product-compare-btn button {
    font-size: 18px;
    right: 0px;
    bottom: 90px;
}

h4.offer-title {
    font-size: 14px;
}

.offer-field {
    padding: 10px;
    border: 1px solid #d6d2d2;
    border-radius: 10px;
}

.offering-detail h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.label-txt {
    color: #77828a;
    font-weight: 500;
}

.offer-product-img img {
    border: 1px solid #e0dede;
    border-radius: 8px;
    padding: 4px;
}

.offer-line {
    background: #eee;
}

.product-feature ul li:first-child {
    margin-left: 0px;
}

.asset-listdetails h3.product-manufacturing-year {
    margin-left: 0px;
}

@media (max-width: 991px) {
    .eqpmt-name {
        margin-top: 15px;
    }
    .eqmnt-catgry {
        margin-top: 10px;
    }
    .breadcrumb-container {
        display: none;
    }
    .timer {
        margin-bottom: 20px;
    }
    .timer .mat-form-field {
        margin-bottom: 10px;
    }
    .product-detail-btn {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .product-detail-accordian {
        margin-top: 20px;
    }
    .deail-table ul li {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    .deail-table ul li span {
        font-size: 12px;
        flex: 1 1 50%;
        width: 50%;
        vertical-align: middle;
    }
}

.recent-view-section .product-detail-container {
    padding: 0px 15px 15px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.product-detail-accordian {
    margin-top: 1em;
    padding: 0px 0px;
}

.state-city-offers {
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #eee;
    font-size: 12px;
    text-decoration: underline;
}

h4.offer-title {
    font-size: 14px;
}

.offerDetail-wrapper h4 {
    font-weight: 600;
    font-size: 18px;
}

h1.price-on-request.price-rqst {
    display: inline-block;
    padding: 3px 15px;
    border: 1px dashed #fd3e45;
    border-radius: 4px;
    background: #fff6f7;
    color: #e0454a;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .equiment-detail-box .eqmnt-catgry {
        display: flex;
    }
    .equiment-detail-box .categ-name {
        flex: 1 1 50%;
    }
    .brand-name {
        padding-left: 0px;
        margin-left: 0px;
    }
    .equiment-detail-box .bran-name {
        margin-top: 0px;
        width: 50%;
        display: inline-block;
        border-left: 1px solid #c6cbce;
        padding-left: 10px;
    }
    .eqmnt-catgry .eqmnt-catgry-lbel {
        white-space: normal;
        width: 100%;
        display: block;
        /* overflow: hidden;
        text-overflow: ellipsis; */
    }
    .eqmnt-catgry span {
        margin-bottom: 0px;
    }
    .preview-bx {
        min-height: 350px;
    }
    .eqmnt-catgry {
        font-size: 14px;
    }
    .eqpmt-name {
        font-size: 18px;
    }
    .state-city-offers {
        padding: 10px 0px;
    }
    .deail-table ul li {
        padding: 5px 12px;
    }
    /* .deail-table ul li span {
    display: inlblock;
    width: 100%;
  } */
    .recent-view-section {
        padding: 0px 10px;
        margin: 12px 0px 0px !important;
    }
    .recent-view-section .product-detail-container {
        padding: 0px 10px 10px !important;
    }
    ngx-light-carousel article {
        padding: 0px 10px;
    }
    .product-wrap {
        width: 100%;
    }
    .product-detail-container {
        padding: 0px 0px;
    }
    .main-wrapper {
        padding: 1px 0px 15px;
    }
    .product-detail-container .pdp-card {
        margin: 10px 7.5px 0px;
        padding: 10px !important;
    }
    .eqpmt-name {
        margin-top: 30px;
    }
    .eqmnt-catgry {
        font-size: 12px;
        width: 100%;
        white-space: normal;
        
    }
    .brand-name {
        border: 0px;
    }
    .equipment-detail-section .equipment-detail-container {
        padding: 0px 10px;
    }
    .eqmnt-catgry .eqmnt-catgry-txt {
        display: block;
        margin-bottom: 6px;
    }
    /* .product-summery h3 {
    font-size: 18px;
  } */
}

.emi-calculator-wrapper img {
    width: 63%;
    margin: 0 auto;
    display: block;
}

.view-offer-box {
    background: #dee7ff;
    padding: 10px 0px;
    width: 99.5%;
    margin: 0 auto;
}

.product-detail-accordian.offerDetail-wrapper {
    background: #f5f8fa;
    padding: 1em 1em;
    border: 1px solid #c4cfd8;
    border-radius: 4px;
}

.offer-product-img {
    display: inline-block;
}

.header-detail {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 15px;
}

.view-offer-box label.mat-checkbox-layout {
    margin: 0px;
}


/* .product-feature ul li{display: flex;} */

.product-feature ul li img {
    margin-right: 10px;
}

.product-feature ul li {
    flex: 1 1 32.3%;
    margin: 0px 5px 0px 0px;
    background: #fafafa;
    border: 1px solid #cad1d6;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    box-shadow: 0px 0px 3px 2px #e9e9e9;
    align-items: start;
}

.specs-value {
    line-height: 16px;
}

.deail-table.teh-info li:nth-child(3),
.deail-table.teh-info li:nth-child(4) {
    background-color: #f8fbfd;
}

.price {
    margin-top: 0.5rem;
}

.offer-field .offer-title {
    margin: -10px -10px 10px;
    padding: 10px 15px;
    background: #094fa3;
    border-radius: 10px 10px 0px 0px;
}

.special-offer img {
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #ccc;
}

.offer-field .offer-line-txt {
    margin: -10px -10px 10px;
    padding: 10px 15px;
    background: #094fa3;
    border-radius: 10px 10px 0px 0px;
}

.offer-field .offer-line-txt h5 {
    color: #fff;
    background: transparent;
    font-size: 14px;
}

div#cash .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 5px;
}

.product-feature-txt {
    width: 90%;
}

@media (max-width: 767px) {
    .eqmnt-catgry .eqmnt-catgry-txt {
        
        padding:0px;
        max-width: 100%;
        flex: 1 1 100%;
    }
    div#payment .bankDetails {
        padding-left: 0px !important;
        width: 90%;
        margin: 0 auto;
    }
    .equipment-detail-container .equipment-item-container {
        padding: 5px !important;
    }
    .product-detail-accordian.offerDetail-wrapper {
        padding: 0.5em 0.5em;
    }
    .product-detail-accordian.offerDetail-wrapper .card .card-body {
        padding: 0.5rem;
    }
    .offer-field .offer-line-txt h5 {
        font-size: 14px;
    }
    .category-detail-box {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    div#payment .card-body {
        padding: 0px;
    }
    /* .deail-table ul li span {
        font-size: 12px;
        display: inline-block; 
        width: 50%;
        vertical-align: middle;
    } */
    div#basic .card-body,
    div#technical .card-body,
    #payment .card-body {
        padding: 0.5em;
    }
    div#technical ul li:nth-child(even),
    div#basic ul li:nth-child(even) {
        background-color: #fff !important;
    }
    div#technical ul li:nth-child(odd),
    div#basic ul li:nth-child(odd) {
        background-color: #f8fbfd!important;
    }
    .recent-view-container h2 {
        padding-top: 15px !important;
    }
    /* .eqmnt-catgry .brand-name {display: block; margin-left: 0px; margin-top: 10px; padding-left: 0px;} */
    .specs-value {
        width: 65%;
    }
    .product-detail-accordian .card-body {
        padding: 10px;
    }
    .asset-id-location {
        display: flex;
        justify-content: normal;
        align-items: normal;
        font-weight: 500;
        flex-wrap: wrap;
    }
}

.product-feature ul li:last-child {
    margin-right: 0px;
}

.asset-id-location .eqmnt-catgry {
    margin: 0px;
    box-shadow: none;
    padding: 0px;
}

.asset-id-location {
    display: flex;
    justify-content: normal;
    align-items: normal;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px #d2dce6;
    background: #fff;
    margin: 0px 0px 10px;
}

.equiment-detail-box {
    background: #eff2f4;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d6dde2;
    margin-bottom: 10px;
}

.asset-id-location .eqmnt-catgry {
    max-width: 50%!important;
    flex: 1 1 50%!important;
}

.special-offer {
    cursor: pointer;
}

img.total-bids {
    width: 20px;
}

@media (max-width: 576px) {
    .product-feature ul li {
        background: #094fa3!important;
        border: 1px solid #094fa3!important;
        box-shadow: 0 1px 3px #d2dce6;
        color: #fff;
        max-width: 32% !important;
        flex: 1 1 33% !important;
        margin: 0px 5px 0px 0px !important;
    }
    .product-feature ul li img {
        display: none;
    }
    .specs-value {
        width: 100%;
    }
    .specs-value .specs-value-txt {
        color: #ffffff;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product-feature ul li:last-child {
        margin-right: 0px !important;
    }
    /* .eqmnt-catgry .eqmnt-catgry-txt {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0px;
    } */
    .asset-id-location {
        margin: 0px 0px 10px;
        padding: 0px;
        border-radius: 0px;
        background: #eff2f4;
        box-shadow: none;
    }
    .asset-id-location .eqmnt-catgry:first-child {
        width: 30%;
    }
    .asset-id-location .eqmnt-catgry:last-child {
        margin: 0px;
    }
    .asset-id-location .eqmnt-catgry {
        padding: 5px 10px;
        border-radius: 6px;
        box-shadow: 0 1px 3px #d2dce6;
        background: #fff;
        margin: 0px 5px 0px 0px;
        width: 33%;
        line-height: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}