.popup-hdr {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px solid #a0adb7;
  color: #000000;
  position: relative;
}

.popup-body {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.popup-available-space {
  padding: 12px 20px;
  color: #204555;
  background: #e2f5e9;
  border-radius: 6px;
}
.popup {
  background: #fff;
  border-radius: 20px;
}
.close-btn {
  background: transparent;
  float: right;
  border: none;
}

.close-btn:focus {
  outline: unset !important;
}

.otp-wrapper .mat-input-element {
  text-align: left !important;
  padding-left: 15px !important;
}
/* 
table {
  border-radius: 0px;
  margin-top: 0px;
}
table tr td {
  border-bottom: 1px #eff0f2 solid;
}
table th,
table td {
  font-size: 15px !important;
}
table {
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eff0f2;
  margin: 10px 0 30px;
  overflow: hidden;
  @media only screen and (max-width: 991px) {
    min-width: 1000px;
  }
}
table th {
  background: #eff0f2;
  font-size: 13px;
  padding: 13px 10px;
  text-align: left;
}
tbody tr td {
  font-size: 13px;
  color: #3c3c3c;
  padding: 15px 10px;
  border-bottom: 1px solid #eff0f2;
}

tbody tr:last-child td {
  border-bottom: 0;
}

.custom-table-main {
  width: 80% !important;
  float: right;
}
.custom-table-main table {
  border-radius: 0px;
  margin-top: 0px;
}
.custom-table-main table th {
  background: #0d4fa3;
  color: #fff;
  font-weight: 500;
}
.custom-table-main table tr td {
  border-bottom: 1px #eff0f2 solid;
}
.custom-table-main table th,
.custom-table-main table td {
  font-size: 15px !important;
} */


.header-btn button {padding: 5px 20px; font-size: 14px; color: #fff; background-color: #0d4fa3;}
.header-btn {display: inline-block; vertical-align: middle;}
.excel-export-section {display: inline-block; vertical-align: middle;}
.excel-export-section button {background-color: #00a767; font-size: 14px; color: #fff; margin-left: 12px; padding: 5px 20px;}

.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; font-weight: 600; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 52px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.table-row-btn span {font-size: 18px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
.asset-table table tr:hover td {background-color: #f8fbfd;}