<div class="popup modal-popup">
  <div class="popup-hdr"><h4>View Data</h4></div>
  <div class="popup-body">
    <div class="otp-wrapper">
      <div class="custom-table-main asset-table">
        <div class="table-responsive inner-table mb-3">
        <table class="mat-table custom-mat-table w-100">
          <tr class="mat-header-row">
            <th
              class="mat-header-cell"
              *ngFor="let headers of brandSpecTableHeaders"
            >
              {{ headers }}
            </th>
          </tr>
          <tr
            class="mat-row"
            *ngFor="let element of brandTechnicalSpecValues; let id = index"
          >
            <td class="mat-cell">
              {{ element.field_name }}
            </td>

            <td class="mat-cell">
              {{ element.field_value }}
            </td>
            <td class="mat-cell">
              {{ element.visible_on_front ? "Yes" : "No" }}
            </td>
            <td class="mat-cell">
              {{ element.priority }}
            </td>
          </tr>
        </table>
      </div>
        <!-- <mat-paginator
          [pageSizeOptions]="[2, 4, 6]"
          showFirstLastButtons
        ></mat-paginator> -->
      </div>
    </div>
    <br />
    <div class="text-right" style="clear: both">
      <button class="default-btn plr-md-40" (click)="okClick()" mat-button>
        Ok
      </button>
    </div>
  </div>
</div>
