<!-- <div class="product-wrapper">
<div class="esign-container">
     <div class="logo">
        <img src="../../../../assets/images/logo.png" alt="Logo" />
    </div>
    <div class="auction-register-heading text-center">
        <h4>Auction Registration Form</h4>
    </div>
    <div class="bidder-detail">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="bidder-detail-heading">1. Bidder Details :</h4>
            </div>
            <div class="col-sm-6">
                <h4 class="bidder-id">Bidder ID: <strong>IQ101329</strong></h4>
            </div>
        </div>
    </div>
    <div class="bidder-info-detail">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="info-detail">
                            <h4>Name : <span><strong>VIJAY SHRIRAM TARAFDAR</strong></span></h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="info-detail">
                            <h4>Attendee : <span><strong>VIJAY SHRIRAM TARAFDAR</strong></span></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="info-detail">
                            <h4>PAN : <span><strong>ABQPT3269D</strong></span></h4>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="info-detail">
                            <h4>GST IN : <span><strong>ABQPT3269D</strong></span></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="info-detail">
                       `    <h4>CIN / LLP-IN : <span><strong>ABQPT3269D</strong></span></h4>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-sm-4">
                <div class="auction-detail">
                    <div class="auction-id">
                        <h4>Auction ID : <span><strong>2576</strong></span></h4>
                    </div>
                    <div class="auction-id">
                        <h4>Date : <span><strong>12/15/2020</strong></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contant-info">
        <div class="row">
            <div class="col-sm-5">
                <div class="contact-detail">
                    <h4>Mobile No : <span>8130431479</span></h4>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="contact-detail">
                    <h4>Mobile No : <span>8130431479</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-detail">
                    <h4>Address : <span>ABS</span></h4>
                </div>
            </div> 
        </div> 
        <div class="row">
            <div class="col-sm-4">
                <div class="contact-detail">
                    <h4>City : <span>Mumbai</span></h4>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="contact-detail">
                    <h4>State : <span>Maharashtra</span></h4>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="contact-detail">
                    <h4>Pin : <span>400011</span></h4>
                </div>
            </div> 
        </div>  
        <div class="row">
            <div class="col-sm-4">
                <div class="contact-detail">
                    <h4>Address Proof Doc : <span>Voter ID</span></h4>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="contact-detail">
                    <h4>No. : <span>4565656</span></h4>
                </div>
            </div>  
        </div> 
    </div>

    <div class="emd-details mt-4">
        <h4>EMD Details</h4>
        <div class="emd-table">
            <table class="table w-100 mb-0">
                <thead>
                    <tr>
                        <th colspan="3">Payee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Amount /Token No.</strong></td>
                        <td>29000</td>
                        <td><strong class="pr-2">Mode</strong>Netbanking</td>
                    </tr>
                    <tr>
                        <td><strong>DD No. / UTR No.</strong></td>
                        <td>29000</td>
                        <td><strong class="pr-2">Date</strong>12/18/2020</td>
                    </tr>
                    <tr>
                        <td><strong>Amount</strong></td>
                        <td>29000</td>
                        <td><strong class="pr-2">Bank</strong>HDFC</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="auction-register-heading sub-register text-center mt-5">
        <h4>Bidder Undertaking</h4>
    </div>

    <div class="auction-register-txt">
        <p>
            That I/We, <strong> VIJAY SHRIRAM TARAFDAR,</strong> whose details are as mentioned above 
            <strong>(“Bidder”)</strong>, do hereby declare and acknowledge that I/we have gone through the <strong> Terms 
            and Conditions of Auction</strong> detailed in the <strong> Auction Catalogue </strong>for the Auction of the 
            Asset(s) vide Auction ID 2576 <strong> (“Auction”)</strong> conducted by <strong> iQuippo Services Limited 
            (“Auctioneer”)</strong> on the e-auction portal, https://iquippo.com and/or mobile applications 
            and related websites and applications (“Auction Portal”) and unconditionally and 
            irrevocably agrees to be bound by the said terms to participate in the Auction and submit 
            that I/we have understood the same to take part in the Auction.
        </p>
        <p>
            I/We do hereby also undertake and agree to the following:
        </p>

        <div class="sub-details">
        <h4 class="sub-heading">1. INFORMATION</h4>
        <div class="sub-info-detail">
            <ul>
                <li>
                    The information provided by me/us in the Auction Registration Form is true and 
                    correct and complete in every aspect.
                </li>
                <li>
                    I/We understand and agree that if any of the statement/information disclosed by 
                    me/us to the Auctioneer/Seller is found to be incorrect and/or untrue or 
                    misleading, the offer/bid submitted by me/us is liable to be cancelled and in such 
                    case, the EMD paid by me/us is liable to be forfeited and the Seller/ Auctioneer will 
                    be at liberty to annul the offer made to me/us at any point of time as well as 
                    suspend or permanently ban me/us from participating in any future Auctions 
                    and/or ban the User ID.     
                    <p>
                        For the purpose of this Bidder Undertaking, “Seller” shall have the meaning 
                        assigned to it in the Auction Catalogue.
                    </p>               
                </li>
                <li>
                    I/We confirm and agree that I/We are competent to enter into this Auction in 
                    accordance with applicable laws and is authorized to take all the steps required to 
                    be taken for participating and bidding in the Auction process including submission 
                    of necessary documents and execute all other agreements, deeds and writings as 
                    may be required in relation to the Auction process.                    
                </li>
                <li>
                    I/We confirm that our participation in the Auction process, submission of the Bid 
                    pursuant to the provisions of the Terms and Conditions of Auction and the Auction 
                    Catalogue will not conflict with, or result in a breach of, or constitute a default 
                    under (i) our documents of incorporation; or (ii) any applicable laws; (iii) any 
                    authorisation or approval of any government or local authority; or (iv) any 
                    judgment, order, injunction, decree, or ruling of any court or governmental 
                    authority, domestic or foreign binding on me/us; or (v) any agreement to which I 
                    am/we are a party or by which I am/we are bound.
                </li>
                <li>
                    I/We are citizen/incorporated in India
                </li>
            </ul>
        </div>
        </div>

        <div class="sub-details">
            <h4 class="sub-heading">2. INSPECTION</h4>
            <div class="sub-info-detail">
                <ul>
                    <li>
                        I/We have inspected and made independent enquiries about the Asset(s) as 
                        mentioned in Auction Catalogue at the respective yards and we are completely 
                        aware and have complete knowledge of the condition and status of the said 
                        Asset(s).
                    </li>
                    <li>
                        I/We agree that it shall be the responsibility of the Bidders to inspect and satisfy 
                        themselves about the Asset(s) and specification before submitting the bid.
                    </li>
                    <li>
                        I/We agree that by participating in the Auction it shall be treated as conclusive 
                        evidence of the fact that the Bidder has inspected the Asset(s) offered for sale and 
                        satisfied himself in all respects regarding condition of vehicles/equipment’s, taxes   
                        and duties, local working condition and other extraneous factors and the Principle 
                        of Caveat Emptor (let the buyer beware) will apply. It shall also be Bidder has carefully gone through and understood the Terms and Conditions of 
                        Auction, including the amendments, if any. No complaints or objections shall be 
                        entertained by Seller and or the Authority after the sale of the Asset(s).                                  
                    </li>
                    <li>
                        I /We further submit that we are aware that the Asset(s)’s put up in the AUCTION 
                        are to be sold on <strong> “AS-IS-WHERE-IS” and “AS-IS-WHAT-IS” and 
                        “WHATEVER-THERE-IS” and ON NON RECOURSE BASIS only.</strong> By “AS-ISWHERE-IS”, it means that the Asset(s) are sold without any warranty, or condition, 
                        express, implied or statutory and specifically disclaim any implied warranties of 
                        title, merchantability, fitness for a particular purpose and non-infringement and 
                        that all the pending statutory taxes, rates, assessments, charges, fees etc. owing to 
                        anybody including to Government/Regulatory authority till date on the Asset(s) is 
                        delivered to me/us will be cleared by me/us, should I/we be the Successful Bidder 
                        in the Auction.
                        <p>
                            The Bidder in whose favour the Bid may be awarded shall be referred to as <strong> ‘the 
                            Successful Bidder.’</strong>
                        </p>
                    </li>
                    <li>
                        I/We agree that the Successful Bidder shall bear all the necessary expenses like 
                        applicable stamp duties/additional stamp duty/transfer charges, Registration 
                        expenses, fees etc. for transfer of the Asset(s) in its/their name.
                    </li>
                    <li> 
                        I/We acknowledged and agrees that inadequacy, lack of completeness or 
                        incorrectness of information provided in the Auction documents or ignorance of 
                        any of the matters related to the e-Auction process or the Asset(s) shall not be a 
                        basis for any claim for compensation, damages, extension of time for performance 
                        of its obligations, loss of profits etc., from the Seller/Auctioneer.
                        <p>
                            I/We acknowledge that some of the Assets may have inspection report made by 
                            third parties, however, I/We understand that information provided in such 
                            inspection report are for reference only and shall not absolve the duty of the 
                            Bidder to inspect the Asset(s).
                        </p> 
                    </li>
                </ul>
            </div>
            </div>

            <div class="sub-details">
                <h4 class="sub-heading">3. EARNEST MONEY DEPOSIT (EMD)</h4>
                <div class="sub-info-detail">
                    <ul>
                        <li>
                            I /We understand and agrees that the Bidders will not be entitled to claim any 
                            interest, costs, expenses and any other charges (if any) on the EMD from the 
                            Auctioneer/Seller. 
                        </li>
                        <li>
                            I/We understand that the EMD for unsuccessful Bidder shall be refunded by 
                            Auctioneer/Seller, as the case may be, in the respective bank account of the Bidder 
                            as declared in the Auction Registration Form or to the virtual Wallet of the 
                            Auctioneer in a manner as specified in the Terms and Conditions of Auction 
                            attached to the Auction Catalogue.
                        </li>
                        <li>
                            I/ We understand that in case the EMD is collected by the Auctioneer, EMD will 
                            not be adjusted with the Bid Amount to be paid to the Seller. Bidder can get the 
                            access to participate in the upcoming / schedule auction/ sale events with the 
                            unutilized EMD which is lying with iQuippo or may request for refund.
                                
                        </li>
                        <li>
                            I/We understand that if the EMD is collected by the Seller, Seller may adjust the 
                            EMD with the final Bid Amount for Successful Bidder. I/ We further agree and 
                            confirm that the authorization is unconditional, irrevocable & shall continue to be 
                            in full force and in effect till such time the entire sale proceeds are transferred/ 
                            paid to the respective Seller/Auctioneer.

                        </li>
                        <li>
                            I/We do hereby agree that the Bid once submitted by me/us, the same cannot be 
                            cancelled / withdrawn and the Bidder shall be bound to buy the Asset(s) at the final 
                            bid price offered by the Bidder. The failure on part of the Successful Bidder to 
                            comply with the <strong> Terms and Conditions </strong>of Auction detailed in the <strong> Auction 
                            Catalogue</strong> will result in forfeiture of the EMD amount paid by the defaulting 
                            Bidder.
                        </li>
                        <li>
                            I/We acknowledge and accept that in case my/our Bid is accepted for one or more 
                            than one Asset(s) in the above mentioned Auction and due to any circumstances 
                            I/we are not be in a position to make the payment for any one or more than one 
                            Asset(s) then my deposit of Full EMD amount would be forfeited by the Seller / 
                            Auctioneer and that, I/we would not have any claim on the same what-so-ever.
                        </li>
                    </ul>
                </div>
                </div>

                <div class="sub-details">
                    <h4 class="sub-heading">4. PAYMENT</h4>
                    <div class="sub-info-detail">
                        <ul>
                            <li>
                                If, I/we are selected as the Successful Bidder, I/we agree to pay the final Bid 
                                Amount and all applicable Taxes and charges vide our bid placed by me on the 
                                Auction Portal<strong> (“Bid”)</strong> by way of RTGS/DD/Cheque/online payment such means as 
                                specified in the LOA to the Seller, <strong> within seven (7) working days from receipt 
                                of Letter of Intent to Award (LOA) OR as per the timeline specified in the 
                                LOA, whichever is earlier.</strong>
                                <p>
                                    <strong>“Bid Amount”</strong> shall mean the final irrevocable bid amount placed by a Bidder 
                                    during the Auction.
                                </p>
                            </li>
                            <li>
                                I/we also agree to pay applicable Buyer’s Premium and applicable taxes (as 
                                included in the Bid Amount, the percentage of Bid Amount payable as Buyer’s 
                                Premium to the Auctioneer.)
                            </li>
                            <li>
                                I/We hereby represents and confirms to the Auctioneer/Seller that the monies used 
                                for acquiring the Asset(s), including the EMD are entirely from my/our own 
                                sources and are not generated from any illegal activities/sources or in violation of 
                                any prevalent laws in India, inter alia including Prevention of Money Laundering 
                                Act, 2002 or any amount of tax payable under the Income Tax Act, 1961/GST Act, 
                                2017 and/or any other prevalent laws in force has been evaded
                                    
                            </li>
                            <li>
                                I/We hereby represents and confirms to the Auctioneer/Seller that all amount paid 
                                for the Auction is not in violation of extant foreign exchange laws and no amount 
                                has been paid in foreign currency or sent from a bank account situated outside 
                                India.    
                            </li>
                            <li>
                                I/We acknowledge and agree that non-payment of any of the aforesaid sums within 
                                specified time, or non-compliance with necessary requisitions to effect sale, shall 
                                lead to forfeiture of EMD amount, any other amounts paid and/or blocking of the 
                                User ID. Forfeiture of EMD amount and any other amounts shall be without 
                                prejudice to other rights and remedies available to the Seller.
                            </li>
                            <li>
                                I/We further agree and confirm that the quotation of the above Bid is an 
                                irrevocable offer from our end and shall continue to be in full force and in effect till 
                                such time the entire amount is paid in full to the Seller to its satisfaction.
                            </li>
                        </ul>
                    </div>
                    </div>

                    <div class="sub-details">
                        <h4 class="sub-heading">5. DELIVERY</h4>
                        <div class="sub-info-detail">
                            <ul>
                                <li>
                                    If, I/We are selected as the Successful Bidder, I/we undertake and agrees to 
                                    remove/lift/shift the Asset(s) at its own cost within seven (7) days from issuance of 
                                    the Release Order by the Seller or such time as mentioned in the Auction Catalogue, 
                                    whichever is earlier, and subject to receipt of Full Payment by the Seller and 
                                    execution/submission of necessary agreements and documents, as requested by the 
                                    Seller.
                                </li>
                                <li>
                                    I/We understand and agree that once the Sale Certificate/Sale Document/NOC is 
                                    issued by the Seller, the Seller/Auctioneer shall not be held responsible for security 
                                    and safe-keeping of the Asset(s). In case the Successful Bidder fails to take 
                                    possession of the Asset(s) within such number of days as specified in the Terms and 
                                    Conditions attached to the Auction Catalogue of issuance of the above documents, 
                                    the Seller reserves the right to revoke the sale confirmed in his/her favour, forfeit the 
                                    entire amount paid by the Successful Bidder and go for re-bidding or sell the Asset(s) 
                                    by any of the modes, including sale by negotiation with any of the bidders and/or 
                                    other parties by private treaty. In such an event, the original Successful Bidder shall have no claims on the Asset(s) or to any amount /s for which it may be subsequently 
                                    sold.
                                </li> 
                            </ul>
                        </div>
                        </div>

                        <div class="sub-details">
                            <h4 class="sub-heading">6. TRANSFER OF RISK, OWNERSHIP AND SALE CERTIFICATE</h4>
                            <div class="sub-info-detail">
                                <ul>
                                    <li>
                                        I/We hereby acknowledge and agree that the Sale Invoice or Certificate of Sale or 
                                        Sale Deed or Sale Letter (as the case may be) will be issued and /or transaction / sale 
                                        documents will be executed by the Seller in the name of the Successful Bidder only 
                                        and will not be issued in any other name(s) or any third party.
                                    </li>
                                    <li>
                                        I/We hereby acknowledge and agree that the post-sale documents shall be collected 
                                        in person by the Successful Bidder or through an authorized person by submission of 
                                        appropriate authority letter/power of attorney
                                    </li>
                                    <li>
                                        I/We hereby acknowledge and agree that the risk of loss of Asset shall pass onto the 
                                        highest Bidder on the fall of the hammer, which is once the email notification 
                                        confirming he/she has won the Bid has been sent to him/her.
                                            
                                    </li>
                                    <li>
                                        I/We hereby acknowledge and agree that right, title and ownership in the Asset(s) 
                                        shall pass to the Successful Bidder/purchaser only on payment of the full purchase 
                                        price (including the Bid Amount, commission, fees, Parking Charges, Upkeep 
                                        Charges, TCS, and applicable taxes ) has been made to the Seller within the 
                                        stipulated time.   
                                    </li>
                                    <li>
                                        I/We hereby acknowledge that the Auction and transfer of the Asset may be subject 
                                        to the directions/confirmations/orders passed by competent courts and we agree to 
                                        all risks or material considerations associated with it.
                                    </li>
                                    <li>
                                        I/We hereby acknowledge and agree that the delivery of the Asset(s) will be taken by 
                                        the Successful Bidder / authorized representative at his sole risk and responsibility 
                                        and no claim shall lie against Seller/Auctioneer on any account whatsoever if delivery 
                                        is obtained by wrong person. In the event of first highest tenderer / bidder fails to 
                                        pay the amount and lift the material within the stipulated time, the Seller reserves 
                                        the right to offer the same to the second highest tenderer / bidder or any other 
                                        person at the sole discretion of the Seller.
                                    </li>
                                </ul>
                            </div>
                            </div>
                    
                            <div class="sub-details">
                                <h4 class="sub-heading">7. INDEMNITY AND LIMITATION OF LIABILITY</h4>
                                <div class="sub-info-detail">
                                    <ul>
                                        <li>
                                            I/We hereby confirm and agree with all the other terms and conditions as 
                                            mentioned in the Auction Catalogue.
                                        </li>
                                        <li>
                                            I/We hereby agree and acknowledges that I/We will not held the Auctioneer and/or 
                                            its employees, staffs, directors, agents for any direct, indirect, consequential, 
                                            special or other kind of losses that I/We may face while participating in the 
                                            Auction.
                                        </li>
                                        <li>
                                            I/We hereby agree and acknowledges that in no event shall the Seller be liable for 
                                            any direct, indirect, incidental, special, incidental, consequential or exemplary 
                                            damages, including but not limited to, damages for loss of profits, goodwill, use, 
                                            data or other intangible losses arising out of or in connection with the Auction and 
                                            the Asset(s) ( however arising, including negligence).                                            
                                                
                                        </li>
                                        <li>
                                            I/We hereby release the Seller/Auctioneer, its directors, officers, employees and 
                                            agents from and against any and all claims, demands and damages, disputes (actual 
                                            and consequential) of every kind and nature, known and unknown, suspect and 
                                            unsuspected, disclosed and undisclosed, arising out of or in any way connected with 
                                            such disputes. In no event will Seller/Auctioneer be liable for any damages or losses 
                                            of the Bidder.
                                        </li>
                                        <li>
                                            Bidder hereby indemnify, defend and hold harmless each Seller and Auctioneer and 
                                            their employees, governing body, officers, owners, affiliates, subsidiaries, directors, agents and representatives from and against any and all claims, losses, damages, 
                                            liabilities, judgments, fees, costs and expenses (including reasonable attorneys’ fees 
                                            and expenses) related to, arising from or associated with i) Bidder’s or his agents or 
                                            representatives, use of the Auction Portal, including but not limited to personal 
                                            injuries or property damage incurred on the auction premises or during removal and 
                                            transport of any Auction item/lots; ii) arising out of, based upon, or resulting from any 
                                            breach or violation by Bidder of the Auction Terms and Conditions, this Bidder 
                                            Undertaking, the General Terms and Condition and Privacy Policy of the Auction 
                                            Portal or ii) any use by Bidder of the Auction Portal; or iii) as a result of a dispute with 
                                            another bidder; or iv) violation of applicable laws; or v) any loss, damage, claim, 
                                            obligation, suit or proceeding which may arise on account of payment of any monies 
                                            for acquiring such Asset(s) from any illegal activities/sources or in violation of any 
                                            applicable laws.
                                        </li>
                                        <li>
                                            Bidder hereby agrees that if it is selected as the Successful Bidder, it shall indemnify, 
                                            defend and hold harmless each Seller and Auctioneer and their employees, governing 
                                            body, officers, owners, affiliates, subsidiaries, directors, agents and representatives 
                                            from and against any and all claims, losses, damages, liabilities, judgments, fees, costs 
                                            and expenses (including reasonable attorneys’ fees and expenses) related to, arising 
                                            from or associated with i) any non-payment by the Successful Bidder of any statutory 
                                            taxes, dues, levies, cess etc. for whatsoever reasons, including and all past and future 
                                            statutory liabilities of any nature; or ii) all claims, demands, liabilities, obligations, 
                                            suits, actions or proceedings of any kind or nature whatsoever that may be instituted 
                                            or preferred by any person claiming to be entitled to any right, title, interest, dues in 
                                            respect of the Asset(s) which may affect or be deemed to affect the Seller/Auctioneer 
                                            and all costs, charges, outgoings and expenses that may be incurred by 
                                            Seller/Auctioneer in that behalf; or iii) any loss, damage, demand, claim, etc. by any 
                                            third party towards payment of monies (cash / cheques / demand drafts/RTGS/etc.) by 
                                            the Successful Bidder for acquiring such Asset(s).
                                        </li>
                                    </ul>
                                </div>
                                </div>

                                <div class="sub-details">
                                    <h4 class="sub-heading">8. OTHER TERMS & CONDITIONS</h4>
                                    <div class="sub-info-detail">
                                        <ul>
                                            <li>
                                                I/We agree and understand that I/we will solely be responsible for any errors or 
                                                mistakes made by me/ us during the Auction process and will have no claim or 
                                                request for that.
                                            </li>
                                            <li>
                                                I/We understand that any conditional bids or counter offer may be treated as invalid 
                                                bid.
                                            </li>
                                            <li>
                                                I/We agree and understand that the Seller is not bound to accept the highest offer 
                                                and the Seller has absolute right to accept or reject any or all offer(s) or 
                                                adjourn/postpone/cancel the Auction without assigning any reason thereof, 
                                                including after receipt of the Bid Amount from the Successful Bidder. However, in 
                                                such cases, the Seller shall refund the entire amount received, without any interest 
                                                or compensation.                                     
                                                    
                                            </li>
                                            <li>
                                                I/We agree and understand that in case of any dispute arises as to the validity of the 
                                                bid(s), amount of Bid, EMD or as to the eligibility of the Bidder, authority of the 
                                                person representing the bidder, selection of the highest Bidder/Successful Bidder, 
                                                the interpretation and decision of the Seller shall be final and conclusive.
                                            </li>
                                            <li>
                                                I/We agree that in case the H1 bidder is unable to pay the Bid Amount within the 
                                                stipulated timelines or is disqualified or otherwise, the Seller may sell the Asset(s) 
                                                to the H2/H3 Bidder or any other Bidder at its sole discretion, in such cases, the 
                                                H2/H3 and other Bidders shall be deemed to be Successful Bidder and all terms and 
                                                conditions as applicable on a H1 Successful Bidder will be applicable on them.
                                            </li>
                                            <li>
                                                I/ We understand that the Auctioneer or the Seller, during the period of online 
                                                Auction or Simulcast will not be held responsible for any power failures/ internet 
                                                connection failures/ Bandwidth problems/ erroneous bids etc. at my/ our end or be 
                                                responsible in any manner whatsoever for my/our failure to access and bid on the 
                                                Auction Portal due to loss of internet connectivity, electricity failure, virus attack, problems with the computer system, any other unforeseen circumstances, etc. 
                                                before or during the Auction event. I/ We agree to check at my/ our end and bid in 
                                                advance and monitor our lots.
                                            </li>
                                            <li>
                                                I/We agree and understand that Auctioneer is providing services as an independent 
                                                contractor for the Seller only and is not responsible for statements made by other 
                                                parties.
                                            </li>
                                            <li>
                                                I/We agree and understand that the Auctioneer does not have control over the 
                                                item/lots that are posted in the Auction Portal, and cannot guarantee the 
                                                authenticity and quality of said Asset(s). Auctioneer is not responsible for the 
                                                actions the Sellers and Bidder take before, during, and after the Auction, 
                                                typographical errors, misprints, loss of merchandise/money, damage or failure of 
                                                equipment, due to your visit to the Auction site.
                                            </li>
                                            <li>
                                                I/We agree not to use any robot, spider, other automatic device, or manual process 
                                                to monitor or copy the Auction Portal or the content contained herein without 
                                                Auctioneers prior, express written permission. You agree that you will not use any 
                                                device, software or routine to interfere or attempt to interfere with the proper 
                                                working of the Site or any activity being conducted on the Site.
                                            </li>
                                            <li>
                                                I/We also undertake to abide by the additional conditions, if any, announced during 
                                                the Auction, including any announcement for correction of and/or additions or 
                                                deletions to the time of the Auction.
                                            </li>
                                            <li>
                                                I/We also confirm that I/we have taken training on on-line bidding/auction and 
                                                confirm that we are fully conversant with the functionality and process.

                                            </li>
                                        </ul>
                                    </div>
                                    </div>

                                    <div class="sub-details">
                                        <h4 class="sub-heading">9. GOVERNING LAW AND JURISDICTION</h4>
                                        <div class="sub-info-detail">
                                            <ul>
                                                <li>
                                                   <strong> Governing Law:</strong> The Auction, the Auction Catalogue, this Bidder Undertaking and 
                                                    Terms and Conditions of Auction and other associated documents shall be 
                                                    governed in accordance with the laws of India.
                                                </li>
                                                <li>
                                                   <strong> Jurisdiction:</strong> I/We acknowledge and agree that any dispute, differences and or 
                                                    claims arising between the Parties under this Auction Catalogue and Auction or 
                                                    contract shall be settled by arbitration in accordance with the provisions of the 
                                                    Arbitration and Conciliation Act, 1996 or any statutory amendments thereof by a 
                                                    sole arbitrator to be appointed mutually by the Bidder and iQuippo. The said 
                                                    Arbitration proceedings will take place at Kolkata. The language of the arbitration 
                                                    shall be English and the award given by the said soles arbitrator shall be final and 
                                                    binding on all the Parties. Subject to the foregoing, the Courts and Tribunals in 
                                                    Kolkata shall have exclusive jurisdiction to adjudicate upon any such dispute.

                                                </li> 
                                            </ul>
                                        </div>
                                        </div>
                                <p>
                                    I/We hereby agree that by registering and participating in the Auction conducted by the 
                                    Auctioneer, event and/or transaction, I declare to have gone through and understood the 
                                    terms and conditions of the respective event/Auction – as defined in the Auction/Sale 
                                    Catalogue, Terms and Conditions of Auction of the said Auction (available on auction/event 
                                    page of Auction Portal), as well as the General Terms and Conditions and Privacy Policy of 
                                    Auction Portal, and agree to abide by the said terms and conditions. 
                                </p>
                                <p>
                                    The Bidder hereto agree to electronic authentication of this Bidder Undertaking and 
                                    acknowledge that the Bidder Undertaking and rights and obligations herein are legally 
                                    enforceable to the fullest extent permitted by prevalent law and the Bidder hereby waive 
                                    any objection to the contrary. The Bidder hereby also agrees and undertakes that it will 
                                    not challenge the validity or enforceability of such execution of this Bidder Undertaking.
                                </p>
                                <p>
                                    Digitally accepted and signed by <strong> VIJAY SHRIRAM TARAFDAR, Mobile - 8130431479 
                                    on 12/18/2020 11:44 am.</strong> Further verified by One Time Password <strong> (OTP) on <strong> 12/18/2020 
                                    11:44 am.</strong>
                                </p>
    </div>

    <div class="sign-certificate">
        <h4>
            Certificate of Signature Completion
        </h4>
        <div class="sign-certificate-detial">
            <div class="sub-certificate-section">
                <div class="sign-sub-heading">
                    Document Details
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Document ID: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>5fdc48f8849098319adf4c3a </strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Document Name: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>iquippo_bu_1608272119322</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Signature Algorithm: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>SHA-256 With RSA</strong></h4>
                    </div>
                </div>
            </div>
            <div class="sub-certificate-section">
                <div class="sign-sub-heading">
                    Signer Details
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Document ID: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>5fdc48f8849098319adf4c3a </strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Document Name: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>iquippo_bu_1608272119322</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="certificate-detial">Signature Algorithm: </h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="certificate-detial"><strong>SHA-256 With RSA</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
 -->

 <!-- <h1>Esign template call.....</h1> -->