
.product-wrapper {
    padding: 15px;
    width: calc(100% - 18em); 
    margin-left: auto;
    transition: 0.5s;
  }

.logo img {width: 100px;}
.auction-register-heading h4 {font-size: 26px; text-align: center;}
.esign-container {padding: 10px 0px;}
.bidder-detail {margin-top: 20px; margin-bottom: 20px;}
.bidder-detail .bidder-detail-heading {font-size: 20px;}
.bidder-detail .bidder-id {font-size: 20px; text-align: right;} 

.bidder-info-detail .info-detail h4 {font-size: 14px; margin-bottom: 12px; font-weight: normal;}

.auction-detail {padding: 15px; border: 1px solid #ddd;}
.auction-detail .auction-id h4 {font-size: 14px; font-weight: normal;}

.contant-info .contact-detail h4 {font-size: 14px; font-weight: normal;}

.emd-details h4 {font-size: 18px;}

.emd-table {border: 1px solid #e0e4e8; overflow: auto; border-radius: 10px;}

.emd-table table td, .emd-table table th {
    font-size: 12px;
    border-color: #e0e4e8; 
    padding: 0 21px;
    white-space: nowrap;
    height: 42px;
    line-height: 42px;
}
.emd-table table th {
    background-color: #0d4fa3;
    color: #fff;
}

.auction-register-heading.sub-register h4  {font-size: 20px;}

.sub-info-detail {margin-top: 20px;}
.sub-heading {font-size: 16px;}
.sub-info-detail ul {list-style: lower-alpha;}
.sub-info-detail ul li {padding-bottom: 10px; font-size: 14px;}


.sub-details {    margin-bottom: 15px;
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    background: #fdfdfd;}
.sub-details h4 {    font-size: 18px;
    padding: 10px;
    background: #0d4fa3;
    color: #fff;
    border-radius: 8px 8px 0 0;}
    .sub-details .sub-info-detail {padding: 10px;}