<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us List</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-6">
                <h3 class="admin-page-title">Contact Us List</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-7 col-6">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn align-middle btn-lg d-inline-block theme-btn mat-button" (click)="export('')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                    <button type="button" class="btn align-middle btn-lg d-inline-block mr-0 theme-btn mat-button" (click)="export('all')"><i
            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export All</button>
                </div>
            </div>
        </div>
        <div class="user-management-top-section">
            <div class="row my-3">
                <div class=" col-sm-6 col-lg-3 col-md-6">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                    </mat-form-field>
                </div>

            </div>
        </div>

        <div class="desktop-table">
            <mat-card class="asset-table p-0">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">ID</span> {{row?.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="full_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Full Name</span> {{row?.full_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="country_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country Code</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Country Code</span> {{row?.country_code}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Mobile Number</span> {{row?.mobile_number}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Email</span> {{row?.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Location</span> {{row?.location}} </td>
                        </ng-container>
                        <ng-container matColumnDef="comments">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Comments</span> {{row?.comments}} </td>
                        </ng-container>


                        <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="table-row-btn" *ngIf="row.status == '3'" (click)="opencallpopup(row)"><span><img src="../../../assets/images/checklist.svg" alt="Generate Report" title="Generate Report"></span></button>
                <button type="button" class="table-row-btn" *ngIf="row.status == '5' || row.status == '6'" (click)="openviewpopup(row)"><span><img src="../../../assets/images/chart.svg" alt="View Report" title="View Report"></span></button>
                <button type="button" class="table-row-btn" *ngIf="row.status == '5' && !row?.invoice_url" (click)="generateInvoice(row?.unique_control_number)"><span><img src="../../../assets/images/chart.svg" alt="Generate Invoice" title="Generate Invoice"></span></button>
                <button  mat-button *ngIf = "row?.valuation_report != null"  class="simple-btn payment-icon table-row-btn" (click) = 'downloadInvoice(row?.valuation_report)'>
                    <span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download"></i></span>	
                  </button>
              </td>
          </ng-container> -->
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Created At</span> {{row.created_at | date:'dd-MM-yyyy, hh:mm a'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">No records found</div>
                </div>

                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </mat-card>
        </div>


    </div>
</div>