<main class="container-fluid bg-white forgot-password-wrapper">
  <section>
    <div class="row">
      <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
        <!-- <div class="left-side-container">
            <div class="welcome-box">
              <h2 class="sub-header">Welcome to iQuippo</h2>
              <p class="sub-header-text">India’s leading marketplace for end-to-end asset
                lifecycle management</p>
              <ul class="tracker-list d-xs-none">
                <li>95,000+ Registered Customers</li>
                <li>Track Ongoing & Upcoming Auctions</li>
                <li>Get Updated on financing Offers</li>
              </ul>
              <ul class="list-details d-xs-none">
                <li>buy</li>
                <li>sell</li>
                <li>rent</li>
                <li>finance</li>
                <li>valuation</li>
              </ul>
            </div>
          </div> -->
        <app-left-menu></app-left-menu>
      </div>
      <div class="col-12  col-md-6 col-lg-7 right-side-container pb-4 pt-2">
        <div class="signup-wrapper">
          <div class="password-block">
            <img src="/assets/images/forgot-password-image.png" alt="" class="img-fluid">
            <h2>Forgot Password?</h2>
            <p class="sign-up-text">Enter your registered mobile number and we will send you a 6 digit code</p>
          </div>

          <form class="" [formGroup]="forgotPassForm">
            <label for="">Mobile Number</label>
            <div class="form-row mb-3">
              <div class="col-5 col-sm-3">
                <mat-select class="ptb-5 card-select payment-card-slct" formControlName="countryCode"
                  [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)">
                  <mat-select-trigger>
                    <div class="d-block l-40">
                      <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                      <div class="ml-10 prefix-number">
                        <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                      </div>
                    </div>
                  </mat-select-trigger>

                  <mat-option *ngFor="let country of countryList" [value]="country">
                    <div class="d-block l-40">
                      <img [src]="country.flag" class="saved-card-icn" alt="">
                      <div class="ml-10 prefix-number">
                        <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                      </div>
                    </div>
                  </mat-option>
                </mat-select>
              </div>
              <div class="col-7 col-sm-9">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="Enter your mobile number" [attr.maxlength]="maxLength"
                    formControlName="mobile">
                </mat-form-field>
                <mat-error>
                  <div class="validation-err"
                    *ngIf="forgotPassForm.get('mobile')?.touched && forgotPassForm.get('mobile')?.hasError('letterError')">
                    Alphabets are not allowed in mobile field.
                  </div>
                  <div class="validation-err"
                    *ngIf="forgotPassForm.get('mobile')?.touched && forgotPassForm.get('mobile')?.hasError('lengthError')">
                    Mobile field should be of length 10.
                  </div>
                  <div class="validation-err"
                    *ngIf="forgotPassForm.get('mobile')?.touched && forgotPassForm.get('mobile')?.hasError('emptyError')">
                    Please enter the mobile number.
                  </div>
                </mat-error>
              </div>
            </div>

          </form>

          <div class="otp-wrapper">
            <div class="sign-in-pwd-wrapper">
              <div class="row mt-3">
                <div class="col-6 pr-0">
                  <div class="forgot-pwd-bkbtn">
                    <button mat-stroked-button (click)="goToLogin()">Back</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="forgot-pwd-otpbtn">
                    <button mat-flat-button (click)="sendOTPFun()">Send OTP</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>