.forgot-pwd-bkbtn button{ width: 100%; color: #094FA3; font-size: 14px; font-weight: 500; background: #fff; height: 46px; border-radius: 6px;}
.forgot-pwd-otpbtn button{ width: 100%; background: #094FA3; font-size: 14px; font-weight: 500; color: #fff; height: 46px; border-radius: 6px;}

.forgot-password-wrapper .signup-wrapper h2 {
	font-size: 26px;
	margin-top: 1rem;	
}
.forgot-password-wrapper .password-block{ text-align: center; width: 78%; margin: 0 auto;}

.errorColor{
	color: red;
}
.d-block.l-40 {
    line-height: 39px;
}