<div class="custom-table-main">
    <div class="user-management">
        <div class="row mb-3 user-management-top-section">
            <div class="col-lg-7 col-md-8 col-sm-7 user-management-heading">
                <h4>Technical Specification Master</h4>
            </div>

        </div>

        <div class="user-management-form-section">
            <form [formGroup]="brandSpecForm">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="f-12 d-block" for="">Select Category</label>
                        <mat-form-field floatLabel="never" matAutocompleteOrigin>
                            <input matInput [matAutocomplete]="auto" placeholder="Select category" type="text"
                                (keyup)="filterValuesCategory($event)" formControlName='Category' maxlength="256">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let category of categories"
                                    (onSelectionChange)="loadBrandByCatgeory($event,category.id)"
                                    [value]="category.display_name">
                                    {{category.display_name}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="f-12 d-block" for="">Select Brand</label>
                        <mat-form-field floatLabel="never">
                            <mat-select formControlName="Brand" placeholder="Select Brand"
                                (selectionChange)="loadModelByBrand($event.value)">
                                <mat-option *ngFor="let brand of brands" [value]="brand.id">{{ brand.display_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="f-12 d-block" for="">Select Model</label>
                        <mat-form-field floatLabel="never">
                            <mat-select formControlName="Model" placeholder="Select Model"
                                (selectionChange)="loadModel($event.value)">
                                <mat-option *ngFor="let model of models" [value]="model.id">{{ model.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-12 pt-md-2 col-lg-12 mt-0 user-search-btn">
                        <div class="add-more-btn">
                            <button class="mdc-button mdc-button--raised" [disabled]="!brandSpecForm.valid" mat-button
                                (click)="addModelTechnicalSpecification()">
                                Add Technical Specification
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-4 col-sm-6">
                    <mat-form-field floatLabel="never">
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="search()"
                            (keydown.enter)="search()" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="col-sm-12 pt-md-2 col-lg-8 mt-0 user-search-btn">
                    <div class="excel-export-section">
                        <button mat-button (click)="exportToExcel()"><i class="fa fa-file-excel-o pr-2  fa-lg"
                                aria-hidden="true"></i> Export</button>
                    </div>

                </div>

            </div>

        </div>

        <div class="asset-table">
            <div class="table-responsive inner-table mb-3">
                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource1"
                    matSortDirection="desc" matSortActive="category_specifications__category__display_name"
                    matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                    <ng-container matColumnDef="category_specifications__category__display_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Category Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">

                                Category Name
                            </span> {{ element.category_specifications__category__display_name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="brand__name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Brand Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">

                                Brand Name
                            </span> {{ element.brand__name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="model__name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Model Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">

                                Model Name
                            </span> {{ element.model__name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">

                                Actions
                            </span>
                            <div>
                                <button class="simple-btn view-icon" mat-button (click)="
              viewModelTechSpec(
                element.category_specifications__category_id,
                element.brand_id,
                element.model_id
              )
            ">
                                    <span><img src="../../../assets/images/visibility.svg" alt="View"
                                            title="View" /></span>
                                </button>
                                <button class="simple-btn mr-2" mat-button (click)="
              editModelTechSpec(
                element.category_specifications__category_id,
                element.brand_id,
                element.model_id
              )
            ">
                                    <span><img src="../../../assets/images/editicon.svg" alt="Edit"
                                            title="Edit" /></span>
                                </button>
                                <button class="simple-btn delet-icon" mat-button (click)="
              deleteModelTechSpec(
                element.category_specifications__category_id,
                element.brand_id,
                element.model_id
              )
            ">
                                    <span><img src="../../../assets/images/Delete_icon.svg" title="Delete"
                                            alt="Delete" /></span>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="modelSpecDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: modelSpecDisplayedColumns"></tr>
                    <!-- </mat-table> -->
                </table>
                <div class="no-record" *ngIf="dataSource1?.data?.length == 0">No records found</div>
            </div>
        </div>
        <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>