<div class="col-md-4 mb-3" [formGroup]="group">
    <label class="f-12 d-block">{{field.label}}:</label>
    <mat-radio-group [formControlName]="field.name">
    <mat-radio-button *ngFor="let item of field.options" [value]="item">{{item}}</mat-radio-button>
    </mat-radio-group>
    </div>