<div class="col-md-4 mb-3">
<mat-form-field class="demo-full-width" [formGroup]="group">
    <label for="" class="f-12 d-block">{{field.label}}</label>
    <input matInput [formControlName]="field.name" [placeholder]="field.label" [type]="field.inputType">
    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{validation.message}}</mat-error>
    </ng-container>
    </mat-form-field>
</div>