<div class="compare-wrapper" id="divPayment" *ngIf="this.compareList?.length > 0">
    <div class="compare-container p-4">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-6" *ngFor="let product of compareList;let i = index">
                <article class="product-item cursor-pointer">
                    <div class="product-wrap">
                        <div class="product-image">
                            <img class="w-100" src="{{product?.primary_image}}">
                            <span class="remove-compare" (click)="remove_compare(i)">
                                <img src="../../../assets/images/Delete_icon.svg" />
                            </span>
                        </div>
                        <div class="product-summery p-2">
                            <h3 class="product-title">{{product?.product_name}}</h3>
                            <p class="model-no">Engine Model : <strong>{{product?.model?.name}}</strong></p>
                            <p class="product-price"
                                [ngClass]="product?.is_price_on_request ? 'price-on-request  price-rqst' : 'price'">
                                <span *ngIf="product?.is_price_on_request">Price on Request</span>
                                <span *ngIf="!product?.is_price_on_request">₹{{ product?.selling_price}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="pluc-icon" *ngIf="i != this.compareList.length - 1">
                        <span class="material-icons">
                            add
                        </span>
                    </div>
                </article>
            </div>
            <div class="col-sm-12 col-md-3 col-12">
                <div class="compare-button text-center mt-5 pt-5" *ngIf="this.compareList.length > 1">
                    <button class="theme-btn mat-button px-5" (click)="compare()">Compare</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper" (scroll)="this.recursiveNewsApiHit($event)">
    <div class="product-search-container">
        <div class="row">
            <div class="col-sm-12 text-right total-count-list">Total Results: {{ count }}</div>
          </div>
        <div class="row mobile-filters-custom">
            <div class="col-sm-6"> <button class="default-btn" mat-button>Filter</button></div>
            <div class="col-sm-6">
                <div class="sort-by-section">
                    <mat-form-field floatLabel="never" class="sort-by-select">
                        <mat-select class="theme-select" value="0">
                            <mat-option value="0">Sort by :</mat-option>
                            <mat-option value="3" (click)="sortProduct('3')">Oldest to Newest Listing</mat-option>
                            <mat-option value="4" (click)="sortProduct('4')">Newest to Oldest Listing</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="filter-mobile-icon">
                        <span><i class="fa fa-filter" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row listing-group" [formGroup]='form'>

            <div class="col-lg-3 col-md-12 filters-sidebar" [ngClass]="siebarToggle ? 'show' : 'hide'">
                <div class="bg-fff p-3 listing-filters mh-100p category-filter">
                    <div class="filter-headdiv">
                        <h3 class="filter-head">Refine by</h3>
                        <a (click)="clearAurSelectFilter('clear')" class="select-all">
                            Clear All
                        </a>
                    </div>
                    <div class="search-filter">
                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keydown.enter)="searchInList()"
                            [ngModelOptions]="{standalone: true}" (keyup)="searchInList()" autocomplete="off"
                            type="text" class="">
                    </div>
                    <div class="category-section-div">
                        <div class="category-section mt-4">Available In</div>
                        <mat-checkbox [checked]="asset.isSelected" [value]="asset.isSelected" *ngFor='let asset of typeOfAsset'
                          (change)='applyFilter(asset)'>
                          {{asset.text}} <span class="filter-count">({{asset.count}})</span>
                        </mat-checkbox>
                        <div class="text-right" *ngIf="cloneCertificateObj?.length > 0 && !(isCertificateMore)"><a
                            href="javascript:void(0)" class=" more-options-btn" (click)="showLess('certificate')">Less</a></div>
                        <div class="text-right" *ngIf="cloneCertificateObj?.length > 0 && (isCertificateMore)"><a
                            href="javascript:void(0)" class=" more-options-btn" (click)="showMore('certificate')">More</a></div>
                      </div>
                    <div class="category-section-div">
                        <div class="category-section mt-4">Category</div>
                        <mat-checkbox [checked]="category.isSelected" [value]="category.isSelected"
                            *ngFor='let category of limitedCategory; let i = index' (change)='applyFilter(category)'>
                            {{category.text}} <span class="filter-count">({{category.count}})</span>
                        </mat-checkbox>
                        <div class="text-right" *ngIf="cloneObj?.length > 0 && !(isCategoryMore)"><a
                                href="javascript:void(0)" class=" more-options-btn"
                                (click)="showLess('category')">Less</a></div>
                        <div class="text-right"
                            *ngIf="(cloneObj?.length > 0 && limitedCategory?.length == 5) && (isCategoryMore)"><a
                                href="javascript:void(0)" class=" more-options-btn"
                                (click)="showMore('category')">More</a></div>
                    </div>
                    <div class="category-section-div">
                        <div class="category-section">Brand</div>
                        <mat-checkbox [checked]="brand.isSelected" [value]="brand.isSelected"
                            *ngFor='let brand of limitedBrand' (change)='applyFilter(brand)'>
                            {{brand.text}} <span class="filter-count">({{brand.count}})</span>
                        </mat-checkbox>
                        <div class="text-right" *ngIf=" cloneBrandObj?.length > 0 && !(isBrandMore)"><a
                                href="javascript:void(0)" class=" more-options-btn" (click)="showLess('brand')">Less</a>
                        </div>
                        <div class="text-right"
                            *ngIf="(cloneBrandObj?.length > 0 && limitedBrand?.length == 5) && (isBrandMore)"><a
                                href="javascript:void(0)" class=" more-options-btn" (click)="showMore('brand')">More</a>
                        </div>
                    </div>
                    <div class="category-section-div">
                        <div class="category-section mt-4">Model</div>
                        <mat-checkbox [checked]="model.isSelected" [value]='model.isSelected'
                            *ngFor='let model of limitedModel' (change)='applyFilter(model)'>
                            {{model.text}} <span class="filter-count">({{model.count}})</span>
                        </mat-checkbox>
                        <div class="text-right" *ngIf="cloneModelObj?.length > 0 && !(isModelMore)"><a
                                href="javascript:void(0)" class=" more-options-btn" (click)="showLess('model')">Less</a>
                        </div>
                        <div class="text-right"
                            *ngIf="(cloneModelObj?.length > 0 && limitedModel?.length == 5) && (isModelMore)"><a
                                href="javascript:void(0)" class=" more-options-btn" (click)="showMore('model')">More</a>
                        </div>
                    </div>
                    <div class="category-section-div">
                        <div class="category-section mt-4">Price</div>
                        <div class="pricefilter">
                            <mat-checkbox [checked]="price.isSelected" [value]='price.isSelected'
                                *ngFor='let price of priceFilterList' (change)='applyFilter(price)'>
                                {{price.text}}
                            </mat-checkbox>
                        </div>

                    </div>
                </div>
                <div class="filter-mobile-icon-filter">
                    <span><button class="theme-btn mat-button px-5" (click)="closeFilters()">Filter</button></span>
                </div>
            </div>

            <div class="col-md-12 col-lg-9 col-12  content-list">
                <div class="bg-fff p-3 mh-100p product-listing">


                    <!-- <div class="row mb-3">
                        <div class="col-md-8"></div>
                        <div class="col-md-4 text-right compare-note">
                         <p> You can Compare up to 3 items</p>
                        </div>
                      </div> -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="breadcrumb-container">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                                    <li class="breadcrumb-item"><a
                                            [routerLink]="['/new-equipment-dashboard/dashboard']">New Equipment</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">New Equipment Listing</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="sort-by-section">
                                <mat-form-field floatLabel="never" class="sort-by-select">
                                    <mat-select class="theme-select" value="0" [(ngModel)]='sortInOrder'
                                        [ngModelOptions]="{standalone: true}">
                                        <!-- <mat-option value="0">Sort by : Featured</mat-option>
                                    <mat-option value="">Recent</mat-option>
                                    <mat-option value="">Most popular</mat-option> -->
                                        <mat-option value="0">Sort by :</mat-option>
                                        <!-- <mat-option value="3" (click)= "sortProduct('3')">Sort by : Featured</mat-option> -->
                                        <mat-option value="3" (click)="sortProduct('3')">Sort by : Oldest to Newest
                                        </mat-option>
                                        <mat-option value="4" (click)="sortProduct('4')">Sort by : Newest to Oldest
                                        </mat-option>
                                        <!-- <mat-option value="1" (click)="sortProduct('1')">Sort by : Price Lowest to
                                            Highest</mat-option>
                                        <mat-option value="2" (click)="sortProduct('2')">Sort by : Price Highest to
                                            Lowest</mat-option> -->

                                    </mat-select>
                                </mat-form-field>
                                <div class="filter-mobile-icon">
                                    <span><i class="fa fa-filter" aria-hidden="true" (click)="sidebarshow()"></i></span>
                                </div>
                                <!-- <button mat-button class="default-btn" (click)="sidebarshow()">Filters</button> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="category-filters-list">
                                <ul *ngFor='let ass of typeOfAsset'>
                                    <li *ngIf='ass.isSelected'>{{ass.text}}<i class="fa fa-times-circle" (click)='applyFilter(ass)'></i>
                                    </li>
                                  </ul>
                                <ul *ngFor='let cat of limitedCategory'>
                                    <li *ngIf='cat.isSelected'>{{cat.text}}<i class="fa fa-times-circle"
                                            (click)='applyFilter(cat)'></i></li>
                                </ul>
                                <!-- <p class="mt-2 f-500">brand</p> -->
                                <ul *ngFor='let bar of limitedBrand'>
                                    <li *ngIf='bar.isSelected'>{{bar.text}}<i class="fa fa-times-circle"
                                            (click)='applyFilter(bar)'></i></li>
                                </ul>
                                <!-- <p class="mt-2 f-500">Model</p> -->
                                <ul *ngFor='let mod of limitedModel'>
                                    <li *ngIf='mod.isSelected'>{{mod.text}}<i class="fa fa-times-circle"
                                            (click)='applyFilter(mod)'></i></li>
                                </ul>
                                <!-- <p class="mt-2 f-500">Year of Manufacture</p> -->
                                <ul *ngFor='let mfg of mfgYearFilterList'>
                                    <li *ngIf='mfg.isSelected'>Year: {{mfg.text}}<i class="fa fa-times-circle"
                                            (click)='applyFilter(mfg)'></i></li>
                                </ul>
                                <!-- <p class="mt-2 f-500">Location</p> -->
                                <!-- <ul *ngFor = 'let loc of limitedLocation'>
                                    <li *ngIf = 'loc.isSelected'>{{loc.text}}<i class="fa fa-times-circle" (click)='applyFilter(loc)'></i></li>
                                </ul> -->
                                <!-- <p class="mt-2 f-500">price</p> -->
                                <ul *ngFor='let pri of priceFilterList'>
                                    <li *ngIf='pri.isSelected'>Price: {{pri.text}}<i class="fa fa-times-circle"
                                            (click)='applyFilter(pri)'></i></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="productList?.length == 0 && productApi">
                        <div class="col-sm-12">
                            <div class="no-content-box mt-4">
                                <div class="no-content-img mt-5 mb-4">
                                    <img src="../../../assets/images/image-asset-3.png" />
                                </div>
                                <div class="not-content-txt">
                                    <!-- <h2>No Item Available</h2> -->
                                    <h2>No Products Found!</h2>
                                    <h3>Try checking your spelling or use more general terms</h3>
                                    <!-- <p>Please click on a Upload Asset button to upload new asset!</p>  -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="productList?.length > 0">
                        <!-- <cdk-virtual-scroll-viewport itemSize="200" class="viewport equipment-list"> -->
                        <!-- <div *ngIf = "productList.length == 0" class="row m-0 no-equipment">
                                <div>
                                  <p> No equipment found</p> 
                                </div>
                            </div> -->
                        <div class="row m-0 w-100 column-container">
                            <!-- <div class="col-md-6 col-lg-6 col-xl-4 col-sm-12 col-12"  *cdkVirtualFor = "let product of productList"> -->
                            <div class="product-list" *ngFor="let product of productList;index as i;">
                                <div class="featured-product " [ngClass]="product.status ==5 ? 'sold' : ''">
                                    <div class="img-bx">
                                        <img src="{{product && product?.primary_image ? product?.primary_image : '../../../assets/images/default-thumbnail.jpg'}}"
                                            class="img-fluid primary-img" alt="">
                                        <!-- <img src="../../../assets/images/logo.png" alt="" class="copyr8-logo"> -->
                                        <div class="product-wishlist" *ngIf="this.cognitoId">
                                            <img src="../../../assets/images/heart-wishlist.svg"
                                                *ngIf="!product?.is_watchlist" (click)="addToWishlist(product?.id)"
                                                alt="" class="wishlist-icon" matTooltipClass='red-tooltip'
                                                matTooltip="Add to watchlist">
                                            <img src="../../../assets/images/heart-wishlist-active.png"
                                                *ngIf="product?.is_watchlist" (click)="removeFromWatchlist(product?.id)"
                                                alt="" class="wishlist-icon" matTooltipClass='red-tooltip'
                                                matTooltip="Remove from watchlist">
                                        </div>
                                        <div *ngIf="product.status ==5" class="sold">
                                            <img src="../../../assets/images/sold-badge.svg" alt="">
                                        </div>
                                        <div class="tags">
                                            <!-- <p class="verified-tag">IQuippo Verified </p> -->
                                        </div>
                                        <div class="listing-date feature-list">
                                            <div *ngIf="product.certificate[0]"><img
                                                [src]="getCertificateImage(product.certificate[0])" /><span>{{getCertificateName(product.certificate[0])}}</span>
                                              <!-- <img/> -->
                                            </div>
                                          </div>

                                    </div>
                                    <div class="detailsbx pt-4">
                                        <h3 class="product-title mb-0">
                                            <!-- {{product?.product_name + ' ' + product?.variant + ' ' + product.mfg_year}} -->

                                            {{product?.product_name ?
                                            (product?.product_name + ' ') : '' }}
                                            {{product?.variant ? (product?.variant + ' ')
                                            : ''}}
                                            <!-- {{ product.mfg_year ? product.mfg_year : ''}} -->

                                            {{!product?.product_name && !product?.variant ? 'NA' : '' }}

                                        </h3>
                                        <div class="mb-2"
                                            [ngClass]="product?.is_price_on_request ? 'price-on-request price-rqst' : 'price'">
                                            <!-- ₹ {{product?.selling_price}} -->
                                            {{!product?.is_price_on_request ? '₹' +
                                            product?.selling_price : 'Price On Request'}}
                                        </div>

                                        
                                        
                                        <ul class="vehicle-cap-dtl product-detail"
                                            *ngIf="!product?.tech_fields?.length">
                                            <div class="tech-info-no">
                                                <span>Tech Specs Not Available</span>
                                            </div>
                                            <li *ngIf="product.engine_power">
                                                <div class="product-subtitle">Engine<br>Power </div>
                                                <div class="product-titlename">{{product.engine_power}} cc </div>
                                            </li>
                                            <li *ngIf="product.bucket_capacity">
                                                <div class="product-subtitle">Bucket<br>Capacity </div>
                                                <div class="product-titlename">
                                                    {{bindBucketCapacity(product.bucket_capacity)}} kg </div>
                                            </li>
                                            <li *ngIf="product.gross_Weight">
                                                <div class="product-subtitle">Gross<br>Weight </div>
                                                <div class="product-titlename">{{product.gross_Weight}} kg </div>
                                            </li>
                                        </ul>
                                        <ul class="vehicle-cap-dtl product-detail"
                                            *ngIf="product?.tech_fields?.length > 0">
                                            <div class="tech-info-no">
                                                <span>Tech Specs Not Available</span>
                                            </div>
                                            <li *ngFor='let fields of product.tech_fields  | slice:0:3'>
                                                <div *ngIf='fields.visible_on_front'>

                                                </div>
                                                <div class="product-subtitle" [innerHTML]="fields?.field_name"></div>
                                                <div class="product-titlename">{{fields?.field_value}}
                                                    <span *ngIf="fields?.field_unit">{{fields?.field_unit}}</span>
                                                    <span
                                                        *ngIf="!fields?.field_unit">{{getUnits(fields?.field_name)}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="text-center mobile-view-btn mt-3 mb-2 col-12">
                                            <button class="view-details-btn m-x-auto"
                                                [routerLink]="['/new-equipment-dashboard/equipment-details/' + product?.id]"
                                                mat-button>View Details</button>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-sm-8 pt-md-3 pt-lg-3 pt-2 compare-icon-list">
                                                <span *ngIf="checkifAddedtoCompare(product)" (click)="addToCompare(product)"><img src="../../../assets/images/compare-icon.svg">Add to Compare</span>
                                                <span *ngIf="!checkifAddedtoCompare(product)" (click)="removeFromCompare(product)"><img src="../../../assets/images/remove-compare-icon.svg">Remove from Compare</span>
                                                <!-- <mat-checkbox class="f-10 compare-icon" [checked]="product.checkCompare"
                                                    name="{{product.id}}" [value]="product.checkCompare"
                                                    (change)="addRemoveFromCompare($event.checked,product)">
                                                    
                                                    Add to Compare
                                                </mat-checkbox> -->
                                            </div>
                                            <div class="col-6 col-sm-4 text-right  text-sm-right text-md-right brand-logo-list"
                                                *ngIf="product.brand.brand_logo_image">
                                                <!-- <img src="../../../assets/images/ashok-leyland.svg" class="img-fluid" alt=""> -->
                                                <img src={{product.brand.brand_logo_image}} class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="recent-view-section" *ngIf="recentlyViewedList?.length > 0">
            <div class="product-detail-container bg-fff">
                <div class="recent-view-container">
                    <h2>Recently Viewed</h2>
                    <owl-carousel [options]="recentViewSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                        <section class="content" *ngFor="let product of recentlyViewedList;let i = index;">
                            <article class="product-item cursor-pointer">
                                <div class="product-wrap">
                                    <div class="product-image">
                                        <img class="w-100" [src]="product.new_equipment.primary_image">
                                    </div>
                                    <div class="product-summery">
                                        <h3 class="product-title" *ngIf="product?.new_equipment?.product_name">
                                            {{product?.new_equipment?.product_name}}</h3>
                                        <h3 class="product-title" *ngIf="!product?.new_equipment?.product_name">
                                            {{product?.new_equipment?.category?.display_name + ' '
                                            +product?.new_equipment?.brand?.display_name+ ' '
                                            +product?.new_equipment?.model?.name+ ' ' +
                                            product?.new_equipment?.mfg_year}}</h3>
                                        <p class="price mb-1" *ngIf="!product?.new_equipment?.is_price_on_request">₹
                                            {{product?.new_equipment?.selling_price}}</p>
                                        <p class="price-rqst mb-1" *ngIf="product?.new_equipment?.is_price_on_request">
                                            Price
                                            on Request</p>
                                        <!-- <ul class="vehicle-cap-dtl product-detail">
                                            <div class="tech-info-no">
                                                <span>Tech Specs Not Available</span>
                                            </div>
                                            <li
                                                *ngFor='let fields of product?.new_equipment?.tech_fields   | slice:0:3'>
                                                <div *ngIf='fields.visible_on_front'>

                                                </div>
                                                <div class="product-subtitle"
                                                    [innerHTML]="getTechTitle(fields?.field_name,fields?.field_unit)">
                                                </div>
                                                <div class="product-titlename">{{fields?.field_value}}</div>
                                            </li>
                                        </ul> -->
                                        <ul class="vehicle-cap-dtl product-detail"
                                            *ngIf="!product?.new_equipment?.tech_fields?.length">
                                            <div class="tech-info-no">
                                                <span>Tech Specs Not Available</span>
                                            </div>
                                            <li *ngIf="product?.new_equipment?.engine_power">
                                                <div class="product-subtitle">Engine<br>Power </div>
                                                <div class="product-titlename">{{product?.new_equipment?.engine_power}} cc </div>
                                            </li>
                                            <li *ngIf="product?.new_equipment?.bucket_capacity">
                                                <div class="product-subtitle">Bucket<br>Capacity </div>
                                                <div class="product-titlename">
                                                    {{bindBucketCapacity(product?.new_equipment?.bucket_capacity)}} kg </div>
                                            </li>
                                            <li *ngIf="product?.new_equipment?.gross_Weight">
                                                <div class="product-subtitle">Gross<br>Weight </div>
                                                <div class="product-titlename">{{product?.new_equipment?.gross_Weight}} kg </div>
                                            </li>
                                        </ul>
                                        <ul class="vehicle-cap-dtl product-detail"
                                            *ngIf="product?.new_equipment?.tech_fields?.length > 0">
                                            <div class="tech-info-no">
                                                <span>Tech Specs Not Available</span>
                                            </div>
                                            <li *ngFor='let fields of product?.new_equipment?.tech_fields  | slice:0:3'>
                                                <div *ngIf='fields.visible_on_front'>

                                                </div>
                                                <div class="product-subtitle" [innerHTML]="fields?.field_name"></div>
                                                <div class="product-titlename">{{fields?.field_value}}
                                                    <span *ngIf="fields?.field_unit">{{fields?.field_unit}}</span>
                                                    <span
                                                        *ngIf="!fields?.field_unit">{{getUnits(fields?.field_name)}}</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="text-center mt-4 mb-3">
                                            <button class="view-details-btn m-x-auto"
                                                [routerLink]="['/new-equipment-dashboard/equipment-details/'+product?.new_equipment?.id]"
                                                mat-button>View Details</button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>

                    </owl-carousel>
                </div>
            </div>
        </div>
    </div>
</div>