.main-wrapper {
    padding: 15px 0;
    background: #EFF2F4;
}

.more-options-btn {
    color: #0F3D94;
    text-decoration: none !important;
    padding: 10px 5px;
}

.pricefilter mat-checkbox {
    padding: 0px 5px 5px;
}

.viewport {
    height: 1400px;
    width: 100%;
}

.primary-img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}

.product-search-container {
    padding: 0px 15px;
}

.product-listing .mat-select {
    line-height: 40px;
    float: right;
    font-size: 14px;
    max-width: 270px;
    display: block;
    height: 40px;
    padding: 0px 10px!important;
    border: 0px impo !important;
}

.product-listing .featured-product {
    margin-top: 0px;
    margin-bottom: 15px;
}

.equipment-list.viewport .cdk-virtual-scroll-content-wrapper {
    padding: 0px 15px;
}

.product-detail li:last-child {
    width: auto;
    margin-right: 0px;
}

.view-details-btn {
    font-size: 12px;
}

.featured-product .img-bx {
    height: 160px;
}

.primary-img {
    height: 160px;
}

.category-section {
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 8px;
    margin-top: 0px !important;
    padding: 6px 10px;
    background: #eff2f4;
    border-bottom: 1px solid #e3e5e6;
}

.featured-product {
    transition: 0.5s;
}

.featured-product:hover {
    transition: 0.5s;
    box-shadow: 1px 1px 2px 4px #d2dce640;
    border: 1px solid #fff;
}

.vehicle-cap-dtl {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 41px;
}

.featured-product {
    border: 1px solid #c4cfd8;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.featured-product .detailsbx h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 36px;
    margin-bottom: 0.5rem !important;
}

.category-filter .mat-checkbox-label {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    text-overflow: clip;
    white-space: normal;
}

.content-list {
    padding-left: 0px;
}

.mat-select-value {
    line-height: 40px;
}

.listing-filters label {
    color: #747086;
    margin-bottom: 4px;
    white-space: normal;
}

.mat-select-value {
    line-height: 40px;
}

.breadcrumb li.breadcrumb-item {
    font-size: 12px;
}

.listing-date.feature-list {left: 0px; bottom: 0px; top: inherit; text-align: left;}

.category-section-div {
    margin-bottom: 1em;
    border: 1px solid #d9dfe2;
    font-size: 13px;
    border-radius: 4px;
}

.column-container {
    flex-wrap: wrap;
    justify-content: normal;
}

.recent-view-section {
    margin: 1em 0;
}

.recent-view-section .product-detail-container {
    padding: 15px;
}

.recent-view-section .product-detail-container h2 {
    margin: 0px 0px 15px;
    font-size: 20px;
}

.recent-view-section article {
    padding: 0px 7.5px;
}

.compare-wrapper {
    background-color: #f5f8fa;
    border-bottom: 1px solid #b8bbbe;
}

.compare-container .product-wrap {
    width: 85%;
}

.product-image {
    padding: 0px;
    position: relative;
}

.remove-compare {
    width: 35px;
    min-width: inherit;
    margin-left: 0px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    ;
    border-radius: 50%;
    background-color: #ffefec;
}

.remove-compare img {
    width: 13px !important;
}

.compare-wrapper .product-image {
    height: 90px;
}

.compare-wrapper .product-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 20px;
    margin-bottom: 0.5rem !important;
}

.compare-wrapper .product-price {
    font-size: 16px;
    margin: 0px;
}


/* .product-title {height: auto;} */

.model-no {
    font-size: 12px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
}

.pluc-icon span {
    font-size: 24px;
    font-weight: 500;
}

.pluc-icon {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(0px, -50%);
    width: 40px;
    height: 40px;
    background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 54px;
}

.product-img .preview-bx {
    min-height: 320px;
}

.product-compare-btn {
    position: absolute;
    right: 0px;
    z-index: 9;
}

.product-compare-btn button {
    font-size: 18px;
    right: 0px;
    bottom: 90px;
}

.recent-view-section {
    padding: 0px;
}

.category-filter,
.product-listing,
.product-detail-container {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
}

.featured-product .detailsbx .price-rqst.price-on-request {
    display: inline-block;
    padding: 0 10px;
    border: 1px dashed #fd3e45;
    border-radius: 4px;
    background: #fff6f7;
    font-size: 13px;
    color: #e0454a;
}

.compare-icon img {
    display: none;
}

@media (max-width:991px) {
    .eqpmt-name {
        margin-top: 20px;
        font-size: 18px;
        height: auto;
    }
    .main-wrapper {
        margin-top: 50px;
    }
    .product-listing {
        padding-top: 0px !important;
    }
    .content-list {
        padding-left: 0px;
    }
    .recent-view-section {
        margin: 1em 0 !important;
    }
    .listing-group {
        margin: 0px;
    }
    .product-listing .mat-select {
        max-width: 50%;
        float: left;
    }
}

@media (max-width: 768px) {

    .total-count-list {display: none;}
    .content-list {
        padding: 0px !important;
    }
    .compare-container .product-wrap {
        margin-bottom: 15px;
        ;
    }
    .compare-button {
        margin: 0px !important;
        padding: 0px !important;
    }
    .compare-div {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .compare-parent {
        display: block;
    }
    h2.compare-title {
        border-radius: 8px 8px 1px 0px;
        padding: 0px;
        font-size: 18px;
    }
    .compare-heading {
        font-size: 20px;
        pad: 10px;
    }
    .compare-wrapper {
        margin-bottom: -55px;
    }
    .pluc-icon {
        right: -30px;
        height: 30px;
        width: 30px;
        line-height: 44px;
    }
    .product-search-container {
        padding: 0px 7.5px!important;
    }
}

::ng-deep .mat-tooltip.red-tooltip {
    background-color: rgba(32, 27, 27, 0.418) !important;
    color: white !important
}

.no-equipment {
    width: 80%;
    margin: 0 auto 10px !important;
    padding: 10px;
    background: #bec3ce;
    display: block !important;
}

.no-equipment p {
    margin: 0px;
}

@media (max-width: 767px) {
    .listing-date.feature-list {font-size: 12px;}
    .compare-icon {
        font-size: 0;
    }
    .compare-icon img {
        display: block;
        width: 14px;
    }
    .category-filter,
    .product-listing,
    .product-detail-container {
        box-shadow: none;
        border-radius: 0px;
    }
    .compare-icon {
        font-size: 0;
    }
    .compare-icon img {
        display: block;
        width: 14px;
    }
    .column-container {
        padding-top: 1em;
    }
    .featured-product .detailsbx h3 {
        font-size: 12px;
        line-height: 17px;
    }
    .mobile-view-btn {
        padding: 0;
        margin-top: .5rem!important;
        margin-bottom: .25rem!important;
    }
    .mobile-view-btn button {
        font-size: 12px;
        height: 32px;
        line-height: 29px;
    }
    .compare-container .product-wrap {
        width: 100%;
    }
    .product-image img {
        height: 100%;
    }
    .product-listing {
        padding-top: 0px !important;
    }
    .product-listing .mat-select {
        line-height: 40px;
        float: right;
        font-size: 14px;
        max-width: 100% !important;
        display: block;
        height: 40px;
        padding: 0 10px!important;
    }
    .featured-product .detailsbx .price-rqst.price-on-request {
        margin-bottom: 0!important;
        font-size: 12px;
    }
    .view-details-btn {
        font-size: 12px;
        width: 100%;
        text-align: center;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.main-wrapper-amazon {
    overflow: inherit !important;
}