<div class="site-content">
    <div class="container-custom">
        <div class="enquiry-clouser mt-0">
            <h3 class="enquiry-clouser-title">Enquiry Closure</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Id:</p>
                        <strong>{{enquiryDetails?.new_equipment?.id}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Category:</p>
                        <strong>{{enquiryDetails?.new_equipment?.category?.display_name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Brand:</p>
                        <strong>{{enquiryDetails?.new_equipment?.brand?.display_name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Model:</p>
                        <strong>{{enquiryDetails?.new_equipment?.model?.name}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Asset Selling Price:</p>
                        <strong>{{enquiryDetails?.new_equipment?.selling_price}}</strong>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Required:</p>
                        <strong>{{enquiryDetails?.number_of_equipment_required}}</strong>
                    </div>
                </div> -->
                <!-- <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Require Time:</p>
                        <strong>{{getEquipmentRequiredTime(enquiryDetails?.equipment_req_in)}}</strong>
                    </div>
                </div> -->
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Description</p>
                        <strong>{{enquiryDetails?.remarks}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Enquiry Status:</p>
                        <strong>{{getEnquiryStatus(enquiryDetails?.status)}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="enquiryDetails?.final_offer_price">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Final Offer Price:</p>
                        <strong>{{enquiryDetails?.final_offer_price}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="enquiryDetails?.booking_value">
                    <div class="enquiry-clouser-wrap">
                        <p>Equipment Booking Value:</p>
                        <strong>{{enquiryDetails?.booking_value}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" *ngIf="(enquiryCurrentStatus > '3')">
                    <div class="enquiry-clouser-wrap">
                        <p>Booking Payment Status:</p>
                        <strong>{{(enquiryCurrentStatus == '5') ? 'Paid' : 'Pending'}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="enquiry-clouser" *ngIf="enquiryDetails?.offer?.id">
            <h3 class="enquiry-clouser-title">Offer Details</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Offer Id:</p>
                        <strong>{{enquiryDetails?.offer?.id}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Tenure(In Months):</p>
                        <strong>{{enquiryDetails?.offer?.tenure}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Rate of Interest(%):</p>
                        <strong>{{enquiryDetails?.offer?.rate}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Total Monthly Repayment (E.M.I):</p>
                        <strong>{{enquiryDetails?.offer?.installment}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Down-payment per unit:</p>
                        <strong>{{enquiryDetails?.offer?.margin}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Processing Fee per unit:</p>
                        <strong>{{enquiryDetails?.offer?.processing_fee}}</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="enquiry-clouser-wrap">
                        <p>Finance Amount Per Unit:</p>
                        <strong>{{enquiryDetails?.offer?.amount}}</strong>
                    </div>
                </div>
                <div class="col-12" *ngIf="offer?.free_of_cost">
                    <div class="enquiry-clouser-wrap">
                        <p>Freebies:</p>
                        <strong>{{enquiryDetails?.offer?.free_of_cost}}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="enquiry-chat-details">
            <h3 class="enquiry-chat-title">Enquiry Chat</h3>
            <div class="enquiry-chat">
                <ng-container *ngIf="chatDetails?.length">
                    <ng-container *ngFor="let chat of chatDetails">
                        <div class="chat-item chat-question" *ngIf="chat.agent_type == 'SR'">
                            <small><strong>Seller:</strong> {{chat.comment_time | date:'yyyy-MM-dd, h:mm:ss a'}}</small>
                            <p>{{chat.agent_comment}}</p>
                        </div>
                        <div class="chat-item chat-reply" *ngIf="chat.agent_type == 'BR'">
                            <small><strong>Buyer:</strong> {{chat.comment_time | date:'yyyy-MM-dd, h:mm:ss a'}}</small>
                            <p>{{chat.agent_comment}}</p>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>