.site-content {
    padding: 15px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
    margin-bottom:1em;
  }
  .site-content .container-custom {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
  }
  .enquiry-clouser {
    background-color: #f5f8fa;
    border: 1px solid #b8c4cf;
    margin: 10px 0 15px 0;
    border-radius: 10px;
    padding: 15px;
  }
  .enquiry-clouser-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight:600;
  }
  .enquiry-clouser-wrap {
    margin-bottom: 15px;
  }
  .enquiry-clouser-wrap p {
    margin-bottom: 5px;font-weight: 500;
  }
  .enquiry-clouser-wrap strong {
    font-weight: 400;
}
  .mat-select.form-control {
    height: 40px;
  }
  .mat-select.form-control .mat-select-arrow-wrapper {
    transform: none;
  }
  .enquiry-chat-form {
    margin-bottom: 20px;
  }
  .enquiry-chat-filed {
    background-color: #f5f8fa;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 10px;
  }
  .enquiry-chat-details {
    background-color: #fdfdfd;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 10px;
  }
  .enquiry-chat-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .chat-item {
    border: 1px solid #b8c4cf;
    border-radius: 5px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
  }
  .chat-item.chat-question {
    background-color: #e4ffdf;
    flex-direction: row-reverse;
  }
  .chat-item.chat-reply {
    background-color: #fff8dd;
  }
  .form-control {
    box-shadow: none;
  }
  .mat-input-element {
    height: 52;
    background: #fff !important;
  }
  .mat-form-field-infix .mat-form-field-label {
    top: 16px;
  }
  
  .slider-arrow ul li {
    display: inline-block;
    vertical-align: middle;
  }
  .slider-arrow ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0d4fa3;
    border-radius: 6px;
    font-size: 24px;
    color: #0d4fa3;
  }
  .chat-input button.theme-btn {
    height: 40px;
  }
  .chat-item p {
    font-size: 12px;
    /* font-weight: 600; */
    margin-bottom: 0;
  }
  .chat-item small {
    font-size: 10px;
    margin-bottom: -8px;
  }
  .chat-input {
    position: relative;
  }
  .chat-input button.theme-btn {
    position: absolute;
    right: 5px;
    padding: 5px 15px;
    height: 36px;
    top: 5px;
    border-radius: 5px;
  }
  

  @media (max-width: 767px){

    .site-content .container-custom {padding: 10px !important;}
    .site-content {width: 100%;}

  }