<mat-card>
    <div class="custom-table-main product-wrapper">
        <div class="product-wrapper-box">
            <main class="">
                <div class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/admin-dashboard']">DashBoard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">User Agreements</li>
                    </ol>
                </div>


                <form [formGroup]="form">
                    <div class="admin-page-heading">
                        <div class="admin-page-header col-lg-6 col-md-8 col-sm-8 col-8">
                            <h3 class="admin-page-title">User Agreements</h3>
                        </div>
                        <div class="admin-page-buttons header-btn col-lg-6 col-md-4 col-sm-4 col-4">
                            <!-- <button mat-button class="default-btn" *ngIf="showForm" (click)="addNew()">Add New</button> -->
                            <button mat-button class="default-btn" *ngIf="showForm && agreementTypeValue == 2 && !isSellerAgreementCreated" (click)="addNew()"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-4 mb-3 pl-0" [hidden]="showForm">
                        <label class="f-12 d-block">Select Agreement Type</label>
                        <mat-select [(ngModel)]="agreementTypeValue" [ngModelOptions]="{standalone: true}" (selectionChange)="agreementTypeChange(agreementTypeValue)" placeholder="Select Agreement Type">
                            <mat-option *ngFor="let type of agreementType" [value]="type.value">
                                {{ type.typeName }}
                            </mat-option>
                        </mat-select>
                    </div>

                    <div class="no-content-box mt-4" *ngIf="(agreementTypeValue == 1 && eSignReqData && eSignReqData.length <= 0) || 
                ( showForm && agreementTypeValue == 2 && isSellerAgreementCreated)">
                        <div class="no-content-img mt-5 mb-4">
                            <img src="../../../assets/images/image-asset.png" />
                        </div>
                        <div class="not-content-txt">
                            <h2>No Agreement Uploaded Yet?</h2>
                            <p *ngIf="agreementTypeValue == 2">Please click on a add new button to create new agreement!
                            </p>

                            <p *ngIf="agreementTypeValue == 1">Click here to download the Bidder Agreement document. This is a one time activity which you need to perform for registering in iQuippo Auctions.
                            </p>
                            <button class="default-btn mat-button" *ngIf="agreementTypeValue == 2" (click)="addNew()">Add
                            new</button>
                            <button class="default-btn mat-button" *ngIf="agreementTypeValue == 1" (click)="downloadESignTemplate()">Download</button>
                        </div>
                    </div>

                    <div [hidden]="showForm" class="mb-3">
                        <div class="agreement-template mb-3" *ngIf="agreementTypeValue == 2">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <h5>Agreement Template</h5>
                                    <p>Please download the seller agreement template from the provided download link, Fill in the details, Sign, Scan and Upload the same to become part of the iQuippo seller network post agreement confirmation by iQuippo.</p>
                                </div>
                                <div class="col-md-12 text-right header-btn">
                                    <button class="default-btn px-3" (click)="sharedService.download(agreementTemplateUrl)">
                                        <i class="fa fa-download" aria-hidden="true"></i>Download</button>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="add-agreement-container" *ngFor="let agreement of form?.get('multipleAgreement')?.controls; index as i" [formGroupName]="i"> -->
                        <div class="add-agreement-container" *ngIf="agreementTypeValue == 2">
                            <!-- <h4 class="title">Agreement {{i+1}}</h4> -->
                            <h4 class="title">Agreement</h4>
                            <div class="add-agreement">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                                        <label for="" class="f-12 d-block">Choose Seller Type</label>
                                        <mat-form-field floatLabel="never">
                                            <mat-select class="form-control" formControlName="sellerType" placeholder="Select Type">
                                                <mat-option value=''>Select Type</mat-option>
                                                <mat-option value='Customer'>CUSTOMER</mat-option>
                                                <mat-option value='Dealer'>DEALER</mat-option>
                                                <mat-option value='Manufacturer'>MANUFACTURER</mat-option>
                                                <!-- <mat-option value=2>MANUFACTURER</mat-option>
                        <mat-option value=2>CHANNEL PARTNER</mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="validation-err" *ngIf="form?.get('sellerType')?.touched && form?.get('sellerType')?.value==''">
                                            <span>Please select seller.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                                        <label for="" class="f-12 d-block">Seller Name</label>
                                        <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                            <input matInput [matAutocomplete]="auto" placeholder="Search by mobile number" type="text" [class.haserror]="form?.get('sellerSearchText')?.touched && form?.get('seller')?.value==''" (keyup)="filterValuesSeller($event)" formControlName='sellerSearchText'
                                                required maxlength="256">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller)" [value]="seller.first_name">
                                                    {{seller.first_name}}({{seller.mobile_number}})</mat-option>
                                                <mat-option *ngIf="sellerList?.length == 0 && this.form?.get('sellerType')?.value!=''" value="">No user exists with this mobile number</mat-option>
                                            </mat-autocomplete>

                                        </mat-form-field>
                                        <div class="validation-err" *ngIf="form?.get('sellerSearchText')?.touched && (form?.get('sellerSearchText')?.value=='')">
                                            <span>Please enter mobile number.</span>
                                        </div>
                                        <div class="validation-err" *ngIf="form?.get('sellerSearchText')?.touched && (form?.get('seller')?.value=='')">
                                            <span>Please select Seller.</span>
                                        </div>
                                        <!-- <div class="validation-err" *ngIf="form?.get('sellerSearchText')?.touched && form?.get('sellerType')?.value==''">
                        <span>Please select Seller Type.</span>
                    </div> -->
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                                        <div *ngIf="this.form?.get('seller')?.value?.first_name" class="sellerdetails">
                                            <span class="validation-err">Seller Name :
                                            {{this.form?.get('seller')?.value?.first_name}}
                                            {{this.form?.get('seller')?.value?.last_name}}</span><br />
                                            <span class="validation-err">Seller EmailId :
                                            {{this.form?.get('seller')?.value?.email}}</span><br />
                                            <span class="validation-err">Seller Mobile No. :
                                            {{this.form?.get('seller')?.value?.mobile_number}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                                        <label for="" class="f-12 d-block">Agreement Start Date</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly formControlName="start_date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                    <img src="../../../assets/images/calendar.svg" alt="">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <div class="validation-err" *ngIf="form.get('start_date').touched && form.get('start_date').hasError('required')">
                                                <span>It is required field.</span>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 datepicker-bx mb-3">
                                        <label for="" class="f-12 d-block">Agreement End Date</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" [min]="form.get('start_date').value" readonly formControlName="end_date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                                    <img src="../../../assets/images/calendar.svg" alt="">
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <div class="validation-err" *ngIf="form.get('end_date').touched && form.get('end_date').hasError('required')">
                                                <span>It is required field.</span>
                                            </div>
                                            <div class="validation-err" *ngIf="form.get('end_date').touched && form.get('end_date').hasError('matDatepickerMin')">
                                                <span>End date should be less than or equal to start date.</span>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">Upload Agreement letter</label>
                                        <div class="custom-file-1">
                                            <!-- <input #agreement type="file" (change)="handleUpload($event,'agreement_letter')" required> -->
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" #agreement (change)="handleUpload($event,'agreement_letter')" autocomplete="off">
                                                <label class="custom-file-label custom-file-label2" [class.work-order-index]="this.form?.get('agreement_letter')?.value" for="front">
                                                <span class="cust-upload-txt cust-upload-txt2">
                                                    {{this.form?.get("agreement_letter")?.value ?
                                                    this.form?.get("agreement_letter")?.value.substr(this.form?.get("agreement_letter")?.value.lastIndexOf("/")+
                                                    1) : 'Choose a file'}}
                                                </span>
                                                <span *ngIf="!this.form?.get('agreement_letter')?.value"
                                                    class="upload-icon2"></span>
                                                <span *ngIf="this.form?.get('agreement_letter')?.value"
                                                    (click)="deleteImg(this.form?.get('agreement_letter')?.value)"
                                                    class="uplode-delet">
                                                    <img src="../../../assets/images/Delete_icon.svg" />
                                                </span>

                                            </label>
                                                <div *ngIf="form?.get('agreement_letter')?.touched && form?.get('agreement_letter')?.invalid ">
                                                    <span class="validation-err" *ngIf="form?.get('agreement_letter')?.errors?.required">Please
                                                    upload
                                                    Agreement Order</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">Is Fixed Sales Commission?</label>
                                        <mat-slide-toggle class="mt-2" formControlName="enableCost" (change)="enableCost()" [disableRipple]="true"></mat-slide-toggle>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label for="" class="form-label d-block f-12" *ngIf="form?.get('enableCost').value==true">Fixed Sales Commission</label>
                                        <label for="" class="form-label d-block f-12" *ngIf="form?.get('enableCost').value==false">Sales Commission
                                        Percent(%)</label>
                                        <mat-form-field floatLabel="never">
                                            <input matInput placeholder="" type="text" formControlName='commission_value' [readonly]="isAdmin">
                                        </mat-form-field>
                                        <!-- <div *ngIf="adduserform.get('firstname')?.touched && adduserform?.get('firstname')?.hasError('required')">
                                            <span class="validation-err">Please enter the first name.</span>
                                        </div> -->
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">Would you like to give the option of Buyers premium to sellers for their assets?</label>
                                        <mat-slide-toggle class="mt-2" formControlName="is_buyer_premium" [disableRipple]="true"></mat-slide-toggle>
                                        <!-- <mat-radio-group aria-label="Select an option" formControlName="is_buyer_premium">
                                            <mat-radio-button [value]=true>Yes</mat-radio-button>
                                            <mat-radio-button [value]=false>No</mat-radio-button>
                                        </mat-radio-group> -->
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">invoice name change fees applicable</label>
                                        <mat-slide-toggle class="mt-2" formControlName="is_invoice_name_change_fee" [disableRipple]="true"></mat-slide-toggle>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">EMD payout to?</label>
                                        <mat-radio-group aria-label="Select an option" formControlName="emd_to_iquippo">
                                            <mat-radio-button [value]=true>iQuippo</mat-radio-button>
                                            <mat-radio-button [value]=false>Seller</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                        <label class=" d-block f-12">Full payout to?</label>
                                        <mat-radio-group aria-label="Select an option" formControlName="full_payment_to_iquippo">
                                            <mat-radio-button [value]=true>iQuippo</mat-radio-button>
                                            <mat-radio-button [value]=false>Seller</mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div class="col-md-12 form-group" formArrayName="multipleAgreement">
                                        <div class="row" [formGroupName]="i" *ngFor="let agreement of form?.get('multipleAgreement')?.controls; index as i">
                                            <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                                <label class=" d-block f-12">Upload work Order {{i+1}}</label>
                                                <div class="custom-file-1">
                                                    <!-- <input type="file" #work_order (change)="handleWorkUpload($event,'work_order',i)" required> -->
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" #work_order (change)="handleWorkUpload($event,'work_order',i)" autocomplete="off">
                                                        <label class="custom-file-label custom-file-label2" [class.work-order-index]="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value" for="front">
                                                        <span class="cust-upload-txt cust-upload-txt2">
                                                            {{this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value
                                                            ?
                                                            this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.substr(this.form?.get('multipleAgreement')?.get(''+i+'')?.get("work_order")?.value.lastIndexOf("/")+
                                                            1) : 'Choose a file'}}
                                                        </span>
                                                        <span
                                                            *ngIf="!this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value"
                                                            class="upload-icon2"></span>
                                                        <span
                                                            *ngIf="this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value"
                                                            (click)="deleteImg(this.form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.value,i)"
                                                            class="uplode-delet">
                                                            <img src="../../../assets/images/Delete_icon.svg" />
                                                        </span>

                                                    </label>
                                                        <div *ngIf="form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.touched && form?.get('multipleAgreement')?.get(''+i+'')?.get('work_order')?.invalid">
                                                            <span class="validation-err" *ngIf="form?.get('work_order')?.errors?.required">Please upload Agreement Order</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-lg-4 mb-3">
                                                <button class="default-btn mt-4" *ngIf="form?.get('multipleAgreement')?.length==i+1" (click)="addAgreement()" mat-button>Add More</button>
                                                <button class="btn default-btn-outline mt-4" *ngIf="form?.get('multipleAgreement')?.length>1 && form?.get('multipleAgreement')?.length!=i+1" (click)="removeAgreement(i)">Delete</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <label for="" class="form-label d-block f-12">&nbsp;</label>
                                        <button mat-button class="default-btn-outline mr-3" *ngIf="!showForm" (click)="showForm = !showForm;resetForm();">Cancel</button>
                                        <button mat-button class="mat-button default-btn" *ngIf="form?.get('status')?.value==1" [disabled]="form.invalid || sellerId == undefined" (click)="onSubmit()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" user-management-heading new-equipment-tbl" [hidden]="agreementTypeValue != 2 || isSellerAgreementCreated">
                        <div class="row">
                            <div class="col-sm-4 mb-3">
                                <input type="text" class="mat-input-element" #input placeholder="Search..." (keyup)="search()" (keydown.enter)="search()">
                            </div>
                            <div class="col-md-4 col-lg-3 col-sm-6 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-select class="form-control" placeholder="Select Status" (selectionChange)="searchByStatus($event?.value)">
                                        <mat-option>Select Status</mat-option>
                                        <mat-option value={{status?.value}} *ngFor="let status of agreementsStatus;">
                                            {{status?.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <!-- <h5>Agreement List</h5> -->


                        <div class="asset-table">
                            <div class="table-responsive inner-table mb-3">
                                <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="dataSource1" matSort matSortStart="asc" (matSortChange)="getAgreementDetails()" matSortActive="id">
                                    <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource1" class="default-tbl"> -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                        <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Id</span> {{lesson.id}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="start_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement Start Date</th>
                                        <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Agreement Start Date</span> {{lesson.start_date | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="end_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agreement End Date</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Agreement End Date</span> {{lesson.end_date | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="seller_first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller Name</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Seller Name</span> {{lesson.user_data.first_name}} {{lesson.user_data.last_name}}</td>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="seller_last_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Seller Last Name</th>
                                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                        {{lesson.user_data.last_name}}</td>
                                </ng-container> -->
                                    <ng-container matColumnDef="seller_mobile_number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Mobile Number</span> {{lesson.user_data.mobile_number}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="seller_email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Email</span> {{lesson.user_data.email}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="seller_location">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Location</span> {{lesson.user_data?.pin_code?.city?.name}}, {{lesson.user_data?.pin_code?.city?.state?.name}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="agreement_letter">
                                        <th mat-header-cell *matHeaderCellDef>Agreement Letter</th>
                                        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Agreement Letter</span>
                                            <a href="javascript:void(0)" class="cursor-pointer" (click)="sharedService.download(lesson.agreement_letter)">Agreement
                                            Letter</a> </td>
                                    </ng-container>
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell class="Status-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Status</span> {{agreementStatus[lesson.status]}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                                        <td mat-cell class="Action-cell" *matCellDef="let lesson">
                                            <span class="mobile-label">Actions</span>
                                            <button class="table-row-btn new-icon" mat-button (click)="actionPopup(lesson,'view')">
                                            <span><img src="../../../assets/images/visibility.svg" alt="View"
                                                    title="View"></span>
                                        </button>

                                            <button class="table-row-btn" mat-button *ngIf="lesson.status == 1 && isLessthanCurrentDate(lesson.end_date)" (click)="actionPopup(lesson,'edit')">
                                            <span><img src="../../../assets/images/editicon.svg" alt="Edit"
                                                    title="Edit"></span>
                                        </button>

                                            <!-- <button class="table-row-btn delet-icon" mat-button (click)="actionPopup(lesson,'delete')">
                            <span><img src="../../../assets/images/Delete_icon.svg"  alt="Delete" title="Delete"></span>
                        </button> -->

                                            <button class="table-row-btn new-icon" mat-button *ngIf="lesson.status == 1 && lesson.is_partner_approved == true" (click)="approve(lesson)">
                                            <span><img src="../../../assets/images/approve.svg" alt="Approve"
                                                    title="Approve"></span>
                                        </button>

                                            <button class="table-row-btn new-icon" mat-button *ngIf="lesson.status == 1 && lesson.is_partner_approved == true" (click)="reject(lesson)">
                                            <span><img src="../../../assets/images/decline.svg" alt="Decline"
                                                    title="Decline"></span>
                                        </button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                                    <!-- </mat-table> -->
                                </table>
                                <div *ngIf="res?.results?.length==0">No records found</div>
                            </div>
                        </div>

                        <mat-paginator [length]="res?.count" (page)="getAgreementDetails()" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
                    </div>

                    <div class="asset-table" *ngIf="agreementTypeValue == 1 && eSignReqData && eSignReqData.length > 0">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table w-100 custom-mat-table" mat-table [dataSource]="eSignReqData">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef>Agreement Id</th>
                                    <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                                        <span class="mobile-label">Agreement Id</span> 1
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="start_date">
                                    <th mat-header-cell *matHeaderCellDef>Agreement Start Date</th>
                                    <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">
                                        <span class="mobile-label">Agreement Start Date</span> {{lesson.created_at | date:'dd-MM-yyyy'}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="agreement_letter">
                                    <th mat-header-cell *matHeaderCellDef>Agreement Letter</th>
                                    <td mat-cell class="ModelId-cell" *matCellDef="let lesson">
                                        <span class="mobile-label">Agreement Letter</span>
                                        <a href="javascript:void(0);" target="_blank" (click)="sharedService.download(lesson.document_url)" class="cursor-pointer"> Bidder Undertaking
                                    </a> </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell class="Status-cell" *matCellDef="let lesson">
                                        <span class="mobile-label">Status</span> {{lesson.status_display}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                                    <td mat-cell class="Action-cell" *matCellDef="let lesson">
                                        <span class="mobile-label">Action</span>
                                        <button *ngIf="lesson.status != 'BUS'" class="esign-icon table-row-btn" mat-button (click)="onProceed(lesson.reference_id)">
                                        <span><img src="../../../assets/images/sign-icon.png" alt="E-sign process"
                                                title="Click here to complete e-sign process"></span>
                                    </button>
                                        <button class="table-row-btn new-icon" mat-button (click)="viewBidderData(lesson)">
                                        <span><img src="../../../assets/images/visibility.svg" alt="View"
                                                title="View"></span>
                                    </button>
                                        <button mat-button class="simple-btn delet-icon" (click)="deleteEsignRecord(lesson.reference_id)">
                                        <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                                title="Delete"></span>
                                    </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedEsignColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedEsignColumns"></tr>
                            </table>
                            <!-- <div *ngIf="isESignData">No records found</div> -->
                            <div class="no-record table-recond" *ngIf="!eSignReqData?.length">No records found</div>
                        </div>
                    </div>

                </form>
            </main>
        </div>
        <div class="clearfix"></div>
    </div>
</mat-card>