/* corporate details style start */
.corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
    width: 20%;
    margin-bottom: 0.5rem;
}
.p-r-0{padding-right:0px!important;}
.label-title label {color:#77828a; font-weight: 500;}

.category-brand {
    border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.category-brand .mat-card {padding: 0px;}
.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.myself-details-main-wrapper .main-content-wrapper {padding: 1rem 1rem 0;}
.main-form-details-container h3.heading {font-size: 20px; margin-bottom: 0px;}

/* for mobile */

@media (max-width: 575.98px) { 
    
    .corporate-details-main-wrapper .main-form-details-container .type-block .mat-radio-button {
        width: 50%;	}

    .add-loation-btn button {width: 100%;}
    .remove-loation-btn {margin: 1rem!important;}
    .main-form-details-container h3.heading {font-size: 18px; margin-bottom: 10px; margin: 15px ​0px;}

    }


/* corporate style end */

.h-80{
    height: 80px;
}


@media screen and (max-width: 992px) and (min-width: 768px) {
    .product-wrapper { 
      width: 100%;
      float: none;
      transition: 0.5s;
      margin-top: 80px !important;
    }
  } 
  
  
  @media screen and (max-width: 768px) and (min-width: 320px) {
    .product-wrapper {padding: 0px;
      width: 100%;
      margin-bottom: 50px;
      margin-left: auto;
      transition: 0.5s;}
      .product-wrapper .mat-card {padding: 0px;}
  }


  .myself-details-main-wrapper .sub-head {
    border-top-left-radius: 4px;
    font-size: 16px;
    background: #094fa3;
    padding: 10px;
    border-top-right-radius: 4px;
    color: #fff;
    margin:0px;
}
.saveandcont-btn {
    text-align: right;
    padding: 0 0rem 1rem;
}