<div class="main-div product-wrapper">
  <div class="product-wrapper-box p-0">
  <div class="category-brand">
<mat-card>
  <div class="trade-tab-container">
<main class="container-fluid p-0">
  <section class="myself-details-main-wrapper corporate-details-main-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="progress-block">
          <div class="progress-steps-group-block">
            <div class="step-block"> <span class="step-no active "><span class="steps">1</span></span><span
                class="step-lbl">Profile</span></div>
            <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span
                class="step-lbl">Preference</span></div>
            <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                class="step-lbl">Banking</span></div>
            <div class="step-block" *ngIf="isOption"> <span class="step-no"><span class="steps">4</span></span><span
                class="step-lbl">Terms &amp; Conditions</span></div>
          </div>
        </div>
      </div>

    </div>
    <form [formGroup]='corporateProfileForm'>
      <div class="main-content-wrapper">
        <fieldset>
          <div class="main-form-details-container">
            <div class="row">
              <div class="col-12 col-sm-12">
                <h3 class="heading">Corporate Details</h3>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="customer-details-wrapper address-wrapper label-title">
          <h2 class="sub-head">Corporate Address</h2>
          <div class="partner-wrapper">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Address Line1 <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <textarea matInput placeholder="" type="text" formControlName="StreetAddress1"> </textarea>
                </mat-form-field>

                <div
                  *ngIf="corporateProfileForm?.get('StreetAddress1')?.touched && corporateProfileForm?.get('StreetAddress1')?.hasError('required')">
                  <span class="validation-err">Please enter Address.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Pincode <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" (keyup)="getLocationData()" formControlName="PinCode">
                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('PinCode')?.touched && corporateProfileForm?.get('PinCode')?.hasError('required')">
                  <span class="validation-err">Please enter PinCode.</span>
                </div>
                <!-- <div
                    *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('required')">
                    <span class="validation-err">Please enter pincode.</span>
                  </div>
                  <div
                    *ngIf="corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.touched && corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.value!='' && (corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('minlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('pinCodeErrorFlag')?.value || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('maxlength') || corporateProfileForm?.get('AddressArray')?.controls[i]?.get('PinCode')?.hasError('pattern'))">
                    <span class="validation-err">Please input a valid pincode</span>
                  </div> -->
              </div>

              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">State </label>
                <mat-form-field floatLabel="never">
                  <input matInput formControlName="State" type="text" readonly>

                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('State')?.touched && corporateProfileForm?.get('State')?.hasError('required')">
                  <span class="validation-err">Please enter State.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <label class="d-block f-12" for="">City </label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" readonly formControlName="City">
                </mat-form-field>
                <div
                  *ngIf="corporateProfileForm?.get('City')?.touched && corporateProfileForm?.get('City')?.hasError('required')">
                  <span class="validation-err">Please enter City.</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="addaddress-btn">
              <button mat-flat-button (click)="addNewAddress()"> <span class="material-icons">add</span> Add Another
                Address</button>
            </div> -->
        </div>
        <div class="customer-details-wrapper corporate-multi-select address-wrapper" *ngIf="PartnerType == 2">
          <h2 class="sub-head">Brand</h2>
          <div class="partner-wrapper">
          <mat-form-field appearance="fill">
            <mat-select formControlName="Brand" class="select-new-ui" multiple placeholder="select brand" [(ngModel)]="manuFactBrands">
              <mat-option *ngFor="let topping of brandData" [value]="topping.id">{{topping.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="corporateProfileForm?.get('Brand')?.touched && corporateProfileForm?.get('Brand')?.hasError('required')">
            <span class="validation-err">Please enter Brand.</span>
          </div>
          </div>
        </div>



        <div class="customer-details-wrapper address-wrapper label-title"
          *ngIf="PartnerType == 1 || PartnerType == 4 || PartnerType == 5">
          <div formArrayName="BrandLocationArray">

            <div class=" mt-4"
              *ngFor="let bank of corporateProfileForm?.get('BrandLocationArray')?.controls; let k = index"
              [formGroupName]="k">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <h2 class="sub-head">Select Brand Location</h2>
              </div>
              <div  class="partner-wrapper p-0 pt-3 mx-0 row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                <label class="d-block f-12" for="">Select brand<span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <mat-select class="select-new-ui" name="model" formControlName="brandDeal">
                    <mat-option value="">-- Select brand --</mat-option>
                    <mat-option *ngFor="let model of brandData" [value]="model.id" (selectionChange)="checkOtherBrand(model.name)">{{model.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div
                  *ngIf="corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandDeal')?.touched && corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandDeal')?.hasError('required')">
                  <span class="validation-err">Please enter Deal in brand.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3"
                *ngIf="isNewBrandName">
                <label class="d-block f-12" for="">Brand Name <span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="" type="text" formControlName="brandName">
                </mat-form-field>

                <div
                  *ngIf="corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandName')?.touched && corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandName')?.hasError('required')">
                  <span class="validation-err">Please enter brand name.</span>
                </div>
              </div>
              <!-- (selectionChange)="getCity($event.value)" -->
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-2">
                <label for="">State:<span class="mandatory"></span></label>
                <mat-form-field floatLabel="never">
                  <mat-form-field floatLabel="never">
                    <mat-select class="select-new-ui" value='hr' formControlName="brandState">
                      <mat-option value="">--Select state--</mat-option>
                      <mat-option *ngFor="let states of stateListData" [value]="states.id">{{states?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-form-field>

                <div
                  *ngIf="corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandState')?.touched && 
                  corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandState')?.hasError('required')">
                  <span class="validation-err">Please enter state.</span>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-2">
                <label  for="">City:<span class="mandatory"></span></label>
                <mat-select class="select-new-ui" placeholder="select city" [(ngModel)]="someArray[k]"  formControlName="brandCity" multiple>
                <mat-checkbox style="margin-left: 15px;margin-top: 15px;"  value="0" [checked]="isCheckArray[k]" (change)="toggleSubAllSelection(k,$event)" *ngIf="getCriteria(corporateProfileForm.controls['BrandLocationArray']?.value[k]?.brandState)">select all
                </mat-checkbox>
                <mat-option (click)="toggleEverySelection(k)" *ngFor="let city of getCriteria(corporateProfileForm.controls['BrandLocationArray']?.value[k]?.brandState)"
                [value]="city.id">
                    {{city.name}}

                </mat-option>
                </mat-select>
                <div
                  *ngIf="corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandCity')?.touched && corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('brandCity')?.hasError('required')">
                  <span class="validation-err">Please enter City.</span>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 add-loation-btn col-lg-12 mb-3 text-right p-0">
                <div class="remove-loation-btn d-sm-inline-block d-block d-md-inline-block">
                <button class="default-btn-outline" mat-flat-button *ngIf="k != 0"
                  (click)="removeBrandFormGroup(k,corporateProfileForm?.get('BrandLocationArray')?.controls[k]?.get('id')?.value)">Remove
                  Area</button>
                </div>
                <div class="d-sm-inline-block d-block d-md-inline-block ml-3 pr-3">
                  <button class="default-btn px-3" mat-flat-button (click)="newBrandLocations()" *ngIf="k == corporateProfileForm?.get('BrandLocationArray')?.length -1">Add More Location
                  </button>
                </div>
              </div>
</div>
            </div>

          </div>
        </div>
      </div>

      <div class="row mb-12 mx-md-3 mx-lg-3 mx-0">
        <div class="col-12 col-sm-8">

        </div>
        <div class="col-12 col-sm-4  ">
          <div class="saveandcont-btn">
            <button mat-flat-button (click)="confirm()">Save &amp;
              Continue</button>
          </div>
        </div>
      </div>
    </form>

  </section>

</main>
</div>
</mat-card>
  </div>
</div>
</div>