<mat-card>
    <div class="trade-tab-container">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">DashBoard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Trade Details Dashboard</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-5 col-5 col-sm-6 col-md-12">
                <h3 class="admin-page-title">Trade Details Dashboard</h3>
            </div>
            <div class="admin-page-buttons col-lg-7 col-7 col-sm-6 col-md-12">
                <div class="header-btn"> 
                    <button mat-button class="excel-export-section" (click)="exportToExcelAccToPage()"><i
                            class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                    <button mat-button class="mr-2 add-btn-more-ion" (click)="exportAllFiles()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>All Export</button>
                    <button mat-button class=" add-btn-more-ion" (click)="allPaymentExport()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>All Payment Export</button>
                </div>
            </div>
        </div>
        <mat-tab-group class="" (selectedTabChange)='changeOnClickStatus($event)'>
            <mat-tab label="Pending for Approval">
                <div class="">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-md-4 mb-3 text-right">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('pendingSeller')" (keydown.enter)="searchInList('pendingSeller')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">

                            <table class="mat-table custom-mat-table" mat-table [dataSource]="tradeApprovalDataSource" #TableOneSort="matSort" matSort matSortActive="id" (matSortChange)="onSortColumn($event,'pendingSeller')" matSortDirection="desc">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Id</span> {{ element.id }} </td>
                                </ng-container>

                                <ng-container matColumnDef="product_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Name</span> {{(element?.category?.name == 'Other' ? element?.other_category : element?.category?.display_name) + ' ' + (element?.brand.name == 'Other' ? element?.other_brand : element?.brand.display_name)
                                        + ' ' + (element?.model?.name == 'Other' ? element?.other_model : element?.model?.name)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="tradeType">
                                    <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Trade Type</span> {{ element.is_insta_sale ? 'Insta Sale' : 'Portal Sale' }} </td>
                                </ng-container>

                                <ng-container matColumnDef="no_of_bids">
                                    <th mat-header-cell *matHeaderCellDef> No. of Bids
                                        <span matTooltipClass='red-tooltip' matTooltip="Number of bids as applicable for Portal or Insta Sale"><i class="fa pl-2 fa-info-circle" aria-hidden="true"></i></span>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">No. of Bids</span> {{ element.no_of_bids }} </td>
                                </ng-container>

                                <ng-container matColumnDef="max_bid">
                                    <th mat-header-cell *matHeaderCellDef> Highest Bid </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Highest Bid</span> {{ element?.max_bid }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="pin_code">
                                    <th mat-header-cell *matHeaderCellDef> Asset Location </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Location</span> {{ element?.pin_code?.city?.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Asset Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Status</span> {{ setassetStatus(element?.status) }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button mat-button (click)="viewBidDialog('approved', element?.id)" class="simple-btn view-icon">
                                                <span><img src="../../../assets/images/visibility.svg" alt="View" title="View"></span>
                                            </button>
                                            <button mat-button (click)="moreInfoDialog('approved', element?.id)" class="simple-btn">
                                                <span><i class="fa fa-info information-icon"></i></span>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="approvalDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: approvalDisplayedColumns"></tr>
                            </table>
                            <div class="no-record table-recond" *ngIf="!tradeApprovalDataSource?.data?.length">No records found</div>
                        </div>
                    </div>
                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Sale In Progress">
                <div class="">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('progressSeller')" (keydown.enter)="searchInList('progressSeller')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table" mat-table [dataSource]="tradeProgressDataSource" #TableOneSort="matSort" matSort matSortActive="id" (matSortChange)="onSortColumn($event,'progressSeller')" matSortDirection="desc">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </th>
                                    <td mat-cell *matCellDef="let element">
                                            <span class="mobile-label">Asset ID</span>
                                        {{ element.id }} </td>
                                </ng-container>

                                <ng-container matColumnDef="product_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Name</span> {{(element?.category?.name == 'Other' ? element?.other_category : element?.category?.display_name) + ' ' + (element?.brand.name == 'Other' ? element?.other_brand : element?.brand.display_name)
                                        + ' ' + (element?.model?.name == 'Other' ? element?.other_model : element?.model?.name)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="tradeType">
                                    <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Trade Type</span> {{ element.is_insta_sale ? 'Insta Sale' : 'Portal Sale' }} </td>
                                </ng-container>

                                <ng-container matColumnDef="no_of_bids">
                                    <th mat-header-cell *matHeaderCellDef> No. of Bids
                                        <span matTooltipClass='red-tooltip' matTooltip="Number of bids as applicable for Portal or Insta Sale"><i class="fa pl-2 fa-info-circle" aria-hidden="true"></i></span>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">No. of Bids</span> {{ element.no_of_bids }} </td>
                                </ng-container>

                                <ng-container matColumnDef="max_bid">
                                    <th mat-header-cell *matHeaderCellDef> Highest Bid</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Highest Bid</span> {{element?.max_bid}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="pin_code">
                                    <th mat-header-cell *matHeaderCellDef> Asset Location </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Location</span> {{ element?.pin_code?.city?.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Asset Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Status</span> {{ setassetStatus(element?.status) }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label">Actions</span>
                                        <div>
                                            <button mat-button (click)="viewBidDialog('progress',element?.id)" class="simple-btn view-icon">
                                                <span><img src="../../../assets/images/visibility.svg" alt="View" title="View"></span>
                                            </button>
                                            <button mat-button (click)="moreInfoDialog('progress', element?.id)" class="simple-btn exclainmation-icon">
                                                <span><i class="fa fa-info information-icon"></i></span>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="progressDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: progressDisplayedColumns"></tr>
                            </table>
                            <div class="no-record table-recond" *ngIf="!tradeProgressDataSource?.data?.length">No records found</div>
                        </div>
                    </div>
                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Closed">
                <div class="">
                    <div class="text-right">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <mat-form-field floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('closedSeller')" (keydown.enter)="searchInList('closedSeller')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="asset-table">
                        <div class="table-responsive inner-table mb-3">
                            <table class="mat-table custom-mat-table" mat-table [dataSource]="tradeClosedDataSource" #TableOneSort="matSort" matSort matSortActive="id" (matSortChange)="onSortColumn($event,'closedSeller')" matSortDirection="desc">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Ticket ID</span> {{ element?.id }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset ID</span> {{ element?.equipment?.id }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__product_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Name </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Name</span> {{(element?.equipment?.category?.name == 'Other' ? element?.equipment?.other_category : element?.equipment?.category?.display_name) + ' ' + (element?.equipment?.brand.name
                                        == 'Other' ? element?.equipment?.other_brand : element?.equipment?.brand.display_name) + ' ' + (element?.equipment?.model?.name == 'Other' ? element?.equipment?.other_model : element?.equipment?.model?.name)}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="trade_type">
                                    <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Trade Type</span> {{ element?.trade_type == "BID" ? 'Portal sale' : 'Insta Sale' }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__no_of_bids">
                                    <th mat-header-cell *matHeaderCellDef> No. of Bids
                                        <span matTooltipClass='red-tooltip' matTooltip="Number of bids as applicable for Portal or Insta Sale"><i class="fa pl-2 fa-info-circle" aria-hidden="true"></i></span>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">No. of Bids</span> {{ element?.equipment?.no_of_bids }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__pin_code">
                                    <th mat-header-cell *matHeaderCellDef> Asset Location </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label">Asset Location</span> {{ element?.equipment?.pin_code?.city?.name }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="buyer__first_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Buyer Name</span> {{ element?.buyer?.first_name + ' ' + element?.buyer?.last_name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="buyer__pin_code">
                                    <th mat-header-cell *matHeaderCellDef> Buyer Location </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Buyer Location</span> {{ element?.buyer?.pin_code?.city?.state?.country?.name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="buyer__mobile_number">
                                    <th mat-header-cell *matHeaderCellDef> Buyer Mobile No. </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Buyer Mobile No.</span> {{ element?.buyer?.mobile_number }} </td>
                                </ng-container>

                                <ng-container matColumnDef="buyer__email">
                                    <th mat-header-cell *matHeaderCellDef> Buyer Email Id </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Buyer Email Id</span> {{ element?.buyer?.email }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__selling_price">
                                    <th mat-header-cell *matHeaderCellDef> Selling Price </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Selling Price</span> {{ element?.equipment?.selling_price }} </td>
                                </ng-container>

                                <ng-container matColumnDef="emd_details__amount">
                                    <th mat-header-cell *matHeaderCellDef> EMD Amount </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> EMD Amount</span> {{ element?.emd_details == null ? 0 : element?.emd_details?.amount }}
                                        <span *ngIf="element?.emd_details?.amount_type == 2">%</span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <th mat-header-cell *matHeaderCellDef> Trade Amount </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Trade Amount</span> {{ element?.amount }} </td>
                                </ng-container>

                                <ng-container matColumnDef="offer_status">
                                    <th mat-header-cell *matHeaderCellDef> Offer Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Offer Status</span> {{ element?.offer_status_display_name }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="bid_status">
                                    <th mat-header-cell *matHeaderCellDef> Trade Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Trade Status</span> {{ element?.bid_status_display_name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="deal_status">
                                    <th mat-header-cell *matHeaderCellDef> Deal Status </th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Deal Status</span> {{ element?.deal_status_display_name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="equipment__status">
                                    <th mat-header-cell *matHeaderCellDef> Asset Status </th>
                                    <td mat-cell *matCellDef="let element">

                                        <span class="mobile-label"> Asset Status</span> {{ setassetStatus(element?.equipment?.status) }} </td>
                                </ng-container>

                                <ng-container matColumnDef="do_document">
                                    <th mat-header-cell *matHeaderCellDef>Delivery Order</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Delivery Order</span>
                                        <button mat-button *ngIf="element?.do_document" class="simple-btn payment-icon table-row-btn">
                                            <a [href]="element?.do_document"><span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download Delivery Order"></i></span></a>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="seller_invoice">
                                    <th mat-header-cell *matHeaderCellDef>Sales Invoice</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span class="mobile-label"> Sales Invoice</span>
                                        <button mat-button *ngIf="element?.seller_invoice" class="simple-btn payment-icon table-row-btn">
                                            <a [href]="element?.seller_invoice"><span><i class="fa fa-download" aria-hidden="true" alt ="Download" title="Download Sales Invoice"></i></span></a>	
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="actions" stickyEnd>
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element; let i = index">
                                        <span class="mobile-label"> Actions</span>
                                        <div>
                                            <button mat-button *ngIf="element?.offer_status == 'DG'" (click)="bidAction('SelInvoice',element)" mat-button class="simple-btn payment-btn">
                                                <span><img src="../../../assets/images/invoice.png" alt="Upload Invoice" title="Upload Invoice" /></span>
                                            </button>
                                            <button mat-button *ngIf="element?.offer_status == 'IG'" (click)="bidAction('DOD', element)" class="simple-btn">
                                                <span><img src="../../../assets/images/express-delivery.svg" alt="Date Of Delivery" title="Date Of Delivery" /></span>
                                            </button>
                                            <button mat-button (click)="moreInfoDialog('closed', element.id)" class="simple-btn exclainmation-icon">
                                                <span><i class="fa fa-info information-icon"></i></span>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="closedDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: closedDisplayedColumns"></tr>
                            </table>
                            <div class="no-record table-recond" *ngIf="!tradeClosedDataSource?.data?.length">No records found</div>
                        </div>
                    </div>
                    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>