<div class="view-bid-container">
    <div class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/admin-dashboard']">DashBoard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">View Trade Details</li>
        </ol>
    </div>

    <div class="">
        <div class="details-box">
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>Asset Id:</strong> {{ assetId }}</p>
                    <p><strong>Asset Name:</strong> {{ assetName }}</p>
                    <p><strong>Valuation Amount / Reserve Price:</strong> {{valuationAmount }} / {{ reservePrice }}</p>

                </div>
                <div class="col-sm-4">
                    <p><strong>Year of Manufacturing:</strong> {{ yearOfMfg }}</p>
                    <p><strong>Ageing of Asset:</strong> {{ ageingOfAsset }}</p>
                    <p><strong>Ageing of Portal:</strong> {{ ageingOfPortal }} Days</p>
                </div>
                <div class="col-sm-4">
                    <p><strong>Parking Charge:</strong> {{parkingCharges}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="" *ngIf="statusType == 'approved'">
        <div class="mt-3">
            <div class="text-right">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('pendingSeller')">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="tradeApprovalDataSource" #TableOneSort="matSort" matSort matSortActive="id" (matSortChange)="onSortColumn($event,'pendingSeller')" matSortDirection="asc">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Ticket Id</span> {{ element.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="sellerName">
                                <th mat-header-cell *matHeaderCellDef>Seller Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Seller Name</span>
                                    <span *ngIf="userRole == 'SuperAdmin'"></span>{{ element.equipment.seller.first_name + " " + element.equipment.seller.last_name }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="seller_mobile_number">
                                <th mat-header-cell *matHeaderCellDef> Seller Mobile Number</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Seller Mobile Number</span>
                                    <span *ngIf="userRole == 'SuperAdmin'">{{ element.equipment.seller.mobile_number
										}}</span>
                                    <span *ngIf="userRole != 'SuperAdmin'">******</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerName">
                                <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Name</span>
                                    <span *ngIf="userRole == 'SuperAdmin'">{{ element.buyer?.first_name + " " +
										element.buyer?.last_name}} </span>
                                    <span *ngIf="userRole != 'SuperAdmin'">******</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerMobileNo">
                                <th mat-header-cell *matHeaderCellDef> Buyer Mobile Number </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Mobile Number</span>
                                    <span *ngIf="userRole == 'SuperAdmin'">{{ element.buyer?.mobile_number }} </span>
                                    <span *ngIf="userRole != 'SuperAdmin'">******</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerEmailId">
                                <th mat-header-cell *matHeaderCellDef> Buyer Email Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Email Id</span>
                                    <span *ngIf="userRole == 'SuperAdmin'">{{element.buyer?.email }}</span>
                                    <span *ngIf="userRole != 'SuperAdmin'">******</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bidAmounnt">
                                <th mat-header-cell *matHeaderCellDef> Trade Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Amount</span> {{ element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="tradeType">
                                <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Type</span> {{ element.trade_type == "BID" ? 'Portal sale' : element.trade_type_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="offer_status">
                                <th mat-header-cell *matHeaderCellDef> Offer Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Offer Status</span> {{ element.offer_status_display_name }} 
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bidStatus">
                                <th mat-header-cell *matHeaderCellDef> Trade Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Status</span> {{ element.bid_status_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="dealStatus">
                                <th mat-header-cell *matHeaderCellDef> Deal Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Deal Status</span> {{ element.deal_status_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="delivery_Order">
                                <th mat-header-cell *matHeaderCellDef> Delivery Orders</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Delivery Orders</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="asset_Status">
                                <th mat-header-cell *matHeaderCellDef> Asset Status </th>
                                <!-- <td mat-cell *matCellDef="let element"> {{ element.equipment.status }} </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Asset Status</span> {{ setassetStatus(element) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="bid_Date">
                                <th mat-header-cell *matHeaderCellDef> Bid Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Bid Date</span> {{element.created_at | date : 'dd-MM-yyyy hh:mm:ss'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="in_Cooling_Period">
                                <th mat-header-cell *matHeaderCellDef>In Cooling Period</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> In Cooling Period</span> {{element.is_cooling_period ? 'Yes' : 'No'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <span class="mobile-label"> Actions</span>
                                    <div *ngIf="isBidClosed(element)" class="d-inline-block align-middle">
                                        <button mat-button *ngIf="!isBidApproved && !element.is_cooling_period" (click)="bidAction('accept', element)" class="simple-btn">
											<span><img src="../../../assets/images/approve.svg" alt="Approve" title="Approve"/></span>
										</button>
                                        <button mat-button (click)="bidAction('rejectTransaction', element)" class="simple-btn">
											<span><img src="../../../assets/images/decline.svg" alt="Decline Bid" title="Decline Bid"/></span>
										</button>
                                    </div>
                                    <button mat-button (click)="moreInfoDialog('closed', element.id)" class="simple-btn d-inline-block exclainmation-icon align-middle">
										<span><span><i class="fa fa-info information-icon"></i></span></span> 
									</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="approvalDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: approvalDisplayedColumns"></tr>
                        </table>
                    </div>
                </div>
                <mat-paginator #approvalPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
            </div>
        </div>
    </div>
    <div class="" *ngIf="statusType == 'progress'">
        <div class="mt-3">
            <div class="text-right">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="" autocomplete="off" type="text" class="" [(ngModel)]="searchText" (keyup)="searchInList('progressSeller')">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="tradeProgressDataSource" #TableOneSort="matSort" matSort matSortActive="id" (matSortChange)="onSortColumn($event,'progressSeller')" matSortDirection="asc">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Ticket Id</span> {{ element.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="sellerName">
                                <th mat-header-cell *matHeaderCellDef>Seller Name</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Seller Name</span> {{ element.equipment.seller.first_name + " " + element.equipment.seller.last_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="seller_mobile_number">
                                <th mat-header-cell *matHeaderCellDef> Seller Mobile Number</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Seller Mobile Number</span> {{ element.equipment.seller.mobile_number }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerName">
                                <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Name</span> {{ element.buyer?.first_name + " " + element.buyer?.last_name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerMobileNo">
                                <th mat-header-cell *matHeaderCellDef> Buyer Mobile Number </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Mobile Number</span> {{ element.buyer?.mobile_number }} </td>
                            </ng-container>

                            <ng-container matColumnDef="buyerEmailId">
                                <th mat-header-cell *matHeaderCellDef> Buyer Email Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Buyer Email Id</span> {{element.buyer?.email }} </td>
                            </ng-container>

                            <ng-container matColumnDef="bidAmounnt">
                                <th mat-header-cell *matHeaderCellDef> Trade Amount </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Amount</span> {{ element.amount }} </td>
                            </ng-container>

                            <ng-container matColumnDef="tradeType">
                                <th mat-header-cell *matHeaderCellDef> Trade Type </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Type</span> {{ element.trade_type == "BID" ? 'Portal sale' : element.trade_type_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="offer_status">
                                <th mat-header-cell *matHeaderCellDef> Offer Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Offer Status</span> {{ element.offer_status_display_name }} 
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="bidStatus">
                                <th mat-header-cell *matHeaderCellDef> Trade Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Trade Status</span> {{ element.bid_status_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="dealStatus">
                                <th mat-header-cell *matHeaderCellDef> Deal Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> Deal Status</span> {{ element.deal_status_display_name }} </td>
                            </ng-container>

                            <ng-container matColumnDef="EMD_Details">
                                <th mat-header-cell *matHeaderCellDef> EMD Details </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label"> EMD Details</span> {{ element?.emd_details == null ? 0 : element?.emd_details?.amount }} <span *ngIf="element?.emd_details?.amount_type == 2">%</span></td>
                            </ng-container>

                            <ng-container matColumnDef="EMD_Due_Date">
                                <th mat-header-cell *matHeaderCellDef>EMD Due Date</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">EMD Due Date</span> {{ element?.emd_due_datetime }} </td>
                            </ng-container>

                            <ng-container matColumnDef="full_Payment_due_date">
                                <th mat-header-cell *matHeaderCellDef> Full Payment Due Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Full Payment Due Date </span> {{ element?.full_payment_due_date }} </td>
                            </ng-container>

                            <ng-container matColumnDef="invoice_In_Favour_Of">
                                <th mat-header-cell *matHeaderCellDef>Invoice In Favour Of </th>
                                <!-- <td mat-cell *matCellDef="let element"> NA </td> -->
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Invoice In Favour Of </span>
                                    <!-- <button mat-button *ngIf="element?.bid_status == 'SP'" [disabled]="element.btnClicked" (click)="bidAction('Invoice',element)" mat-button class="default-btn-outline payment-btn">
										Update
									</button>
									<span *ngIf="element?.bid_status != 'SP'"> {{setInvoicePerson(element)}} </span>		 -->
                                    {{setInvoicePerson(element)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="full_Payment_Details">
                                <th mat-header-cell *matHeaderCellDef> Full Payment Details </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Full Payment Details </span>
                                    <button mat-button mat-button class="default-btn-outline mobile-btn" *ngIf="(element?.offer_status == 'BA') || element?.offer_status == 'PP'" (click)="updateFullPayment(element)">
										Update Details
									</button>
                                    <span *ngIf="element?.offer_status == 'FP'">Paid</span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="delivery_Order">
                                <th mat-header-cell *matHeaderCellDef> Delivery Orders</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Delivery Orders </span>
                                    <button mat-button [disabled]="(!element?.final_payments.length) || element?.is_do_generated" (click)="bidAction('DO',element)" mat-button class="default-btn-outline mobile-btn payment-btn">
										Issue DO
									</button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="asset_Status">
                                <th mat-header-cell *matHeaderCellDef> Asset Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Asset Status </span> {{ setassetStatus(element) }} </td>
                            </ng-container>

                            <ng-container matColumnDef="bid_Date">
                                <th mat-header-cell *matHeaderCellDef> Bid Date </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Bid Date </span> {{element.created_at | date : 'dd-MM-yyyy hh:mm:ss'}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <span class="mobile-label">Actions </span>
                                    <button mat-button *ngIf='element.offer_status_display_name != "Do Generated"' (click)="bidAction('rejectTransaction', element)" class="simple-btn">
										<span><img src="../../../assets/images/decline.svg" alt="Reject Transaction" title="Reject Transaction" /></span>
									</button>
                                    <button mat-button (click)="moreInfoDialog('closed', element.id)" class="simple-btn exclainmation-icon">
										<span><i class="fa fa-info information-icon"></i></span>
									</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="progressDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: progressDisplayedColumns"></tr>
                        </table>
                    </div>
                </div>
                <mat-paginator #progressPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="back-button-box mt-4 text-right">
                <button (click)="backClick()" mat-button class="default-btn px-5"> Back</button>
            </div>
        </div>
    </div>
</div>