<div class="popup modal-popup">
    <div class="popup-hdr" *ngIf="type === 'rejectTransaction'">
        <h4> Rejection Reason</h4>
         <button mat-button (click)="backClick()" class="close-btn">
             <img src="../../../../../../assets/images/Close.svg" alt=""></button>
     </div>
    <div class="popup-hdr" *ngIf="type === 'accept'">
        <h4> Accept Bid</h4>
         <button mat-button (click)="backClick()" class="close-btn">
             <img src="../../../../../../assets/images/Close.svg" alt=""></button>
     </div>
     <div class="popup-hdr" *ngIf = "type === 'DOD'">
        <h4>Date of Delivery</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
     </div>
     <div class="popup-hdr" *ngIf = "type === 'DO'">
        <h4>DO Issue</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
     </div>
     <div class="popup-hdr" *ngIf = "type === 'SelInvoice'">
        <h4>Upload Sales Invoice</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
     </div> 
     <div class="popup-hdr" *ngIf="type === 'Invoice'">
        <h4> Invoice in favour of self</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body">
        <div class="accepted-container" *ngIf="type === 'accept'">
            <h5>Trade Details</h5>
            <div class="bid-info" *ngIf="tradeMainData">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label class="f-600 mb-0">Bid Amount</label>
                    <p class="m-0">{{tradeMainData?.amount}}</p>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="f-600 mb-0">Asset Selling Price</label>
                    <p class="m-0">{{tradeMainData?.equipment?.selling_price}}</p>
                </div>              
            </div>
            </div>

            <p>Do you want to Accept this bid?</p>
            <div class="text-right dialog-actions-container d-block"> 
                <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>No</button>
                <button class="default-btn plr-md-40 mr-3" (click)="approveBid()" mat-button>Yes</button>
            </div>
        </div>
        
        <div class="" *ngIf="type === 'rejectTransaction'">
            <form [formGroup]='bidactionform'>
                <div class="marginBottom10">
                    <label for="" class="form-label">Select Reason<span class="required-star">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" formControlName="reason" required="" name="reason">
                            <mat-option value="">Select Reason</mat-option>
                            <mat-option value="WLF">Wrong LOA format used</mat-option>
                            <mat-option value="WLA">Wrong LOA issued by iQuippo</mat-option>
                            <mat-option value="SCS">Sale cancelled by seller</mat-option>
                            <mat-option value="AM">Asset mismatch at seller end</mat-option>
                            <mat-option value="BBO">Buyer backed out</mat-option>
                            <mat-option value="OTH">Others</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <div *ngIf="bidactionform.get('reason')?.invalid && bidactionform.get('reason')?.touched">
                        <span class="validation-err d-block" *ngIf="bidactionform.get('reason')?.errors?.required">
                          Please select rejection reason.
                        </span>
                    </div>      
                </div>

                <div class="marginBottom10" *ngIf="tradeMainData?.partial_payment?.length">
                    <label for="" class="form-label">Select Refund Type<span class="required-star">*</span></label>
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" formControlName="refund_type" name="refund_type" (selectionChange)="updateValidation($event?.value)">
                            <mat-option value="">Select Refund Type</mat-option>
                            <mat-option value="FL">Full</mat-option>
                            <mat-option value="PL">Partial</mat-option>
                            <mat-option value="FT">Forfeit</mat-option>
                        </mat-select>
                    </mat-form-field>  
                    <div *ngIf="bidactionform.get('refund_type')?.invalid && bidactionform.get('refund_type')?.touched">
                        <span class="validation-err d-block" *ngIf="bidactionform.get('refund_type')?.errors?.required">
                          Please select refund type.
                        </span>
                    </div>      
                </div>

                <div class="marginBottom10" *ngIf="bidactionform.get('refund_type').value == 'PL'">
                    <label class="form-label">Refund Amount <span class="required-star">*</span></label>
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="refund_amount" maxlength="8">
                    </mat-form-field>
                    <div *ngIf="bidactionform.get('refund_amount')?.invalid && bidactionform.get('refund_amount')?.touched">
                      <span class="validation-err d-block" *ngIf="bidactionform.get('refund_amount')?.errors?.required">
                        Please provide Refund amount.
                      </span>
                      <span class="validation-err d-block" *ngIf="!bidactionform.get('refund_amount')?.errors?.required && bidactionform.get('refund_amount')?.errors?.pattern">
                        Characters are not allowed
                      </span>
                    </div>
                </div>

                <div class="marginBottom10">
                    <label for="" class="form-label">Comments<span class="required-star">*</span></label>
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="" value="" type="text" formControlName='comments'>
                    </mat-form-field>
                    <div *ngIf="bidactionform.get('comments')?.invalid && bidactionform.get('comments')?.touched">
                        <span class="validation-err d-block" *ngIf="bidactionform.get('comments')?.errors?.required">
                          Please provide comments.
                        </span>
                    </div> 
                </div>
            </form>
            <div class="text-right dialog-actions-container">
                <button class="default-btn plr-md-40 mr-3" [disabled]="bidactionform.invalid" [ngStyle]="{'cursor': bidactionform.valid ? 'pointer' : 'not-allowed'}" (click)="rejectTransaction()" mat-button>Submit</button>
            </div>
        </div>
        
        <div *ngIf = "type === 'SelInvoice'">
            <form [formGroup]='sellerInvoiceForm'>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="" class="f-12 d-block">{{!sellerInvoiceForm.get('uploadDocument').value ? 'Upload Document' : 'Uploaded' }}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'Seller_Invoice','front');" #imageInput>
                            <label class="custom-file-label custom-file-label2" for="front">
                                <span class="cust-upload-txt cust-upload-txt2">
                                    {{sellerInvoiceForm.get('uploadDocument').value ? getDocumentName(sellerInvoiceForm.get('uploadDocument').value) : 'Choose a file'}}
                                </span>
                                <span class="upload-icon2" *ngIf="!sellerInvoiceForm.get('uploadDocument').value"></span>
                                <span class="uplode-delet" *ngIf="sellerInvoiceForm.get('uploadDocument').value" (click)="deleteFile('Seller_Invoice','uploadDocument', sellerInvoiceForm.get('uploadDocument').value)">
                                    <img src="../../../assets/images/Delete_icon.svg">
                                </span>
                            </label>
                        </div>                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="text-right col-sm-12 dialog-actions-container">
                        <button class="default-btn-outline mr-3" (click)="backClick()" mat-button>Cancel</button>
                        <button class="default-btn" (click)="uploadSellerInvoice()" mat-button>Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf = "type === 'DO'">
            <form [formGroup]='doGenerationForm'>
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <label for="" class="f-12 d-block">DO Created On</label>
                        <mat-form-field floatLabel="never" class="datepicker-input">
                            <input matInput [max]="minDate" [matDatepicker]="picker" (click)="picker.open()" readonly
                                formControlName='creationDate'>
                            <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 mb-3">
                        <label for="" class="f-12 d-block">{{!doGenerationForm.get('uploadDocument').value ? 'Upload Document' : 'Uploaded' }}</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="handleUpload($event,'DO_GENERATION','front');" #imageInput>
                            <label class="custom-file-label custom-file-label2" for="front">
                                <span class="cust-upload-txt cust-upload-txt2">
                                    {{doGenerationForm.get('uploadDocument').value ? getDocumentName(doGenerationForm.get('uploadDocument').value) : 'Choose a file'}}
                                </span>
                                <span class="upload-icon2" *ngIf="!doGenerationForm.get('uploadDocument').value"></span>
                                <span class="uplode-delet" *ngIf="doGenerationForm.get('uploadDocument').value" (click)="deleteFile('DO','uploadDocument', doGenerationForm.get('uploadDocument').value)">
                                    <img src="../../../assets/images/Delete_icon.svg">
                                </span>
                            </label>
                                
                        </div>                        
                    </div>
                 
                </div>
                <div class="row">
                    <div class="text-right dialog-actions-container col-sm-12">
                        <button class="default-btn" (click)="DODetailSubmited()" mat-button>Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf = "type === 'DOD' && !(isConfirming)">
            <form [formGroup]='dateOfDeliveryForm'>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="" class="f-12 d-block">Delivery Date</label>
                        <mat-form-field floatLabel="never" class="datepicker-input">
                            <input matInput [max]="minDate"   [matDatepicker]="picker" (click)="picker.open()"  readonly formControlName='dateOfDelivery' >
                            <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="text-right dialog-actions-container col-sm-12">
                        <button class="default-btn-outline plr-md-40 mr-3" 
                         (click)="DeliveryDateSubmit()" mat-button>Submit</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="row" *ngIf = "isConfirming">
            <div class="col-sm-12">
            <p>You are confirming the asset delivery.</p>
        </div>
        <div class="col-sm-12">
            <div class="text-right dialog-actions-container"> 
                <button class="default-btn-outline plr-md-40 mr-3" (click)="rejectDOD()" mat-button>No</button>
                <button class="default-btn plr-md-40 mr-3" (click)="confirmDOD()" mat-button>Yes</button>
            </div>
        </div>
        </div>


        <div class="" *ngIf="type === 'Invoice'">
            <form [formGroup]='invoiceActionForm'>
                <div class="marginBottom10">
                    <mat-radio-group aria-label="Select an option" formControlName="isSelfInvoice"
                        (change)="addValidations($event)">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="0">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="invoiceActionForm?.get('isSelfInvoice')?.value == 0">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput placeholder="Search by mobile number" (keydown)="keyPress($event)"
                                    [matAutocomplete]="auto1" type="text" formControlName="mobileNoInvoice"
                                    maxlength="10">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let seller of sellerList" (onSelectionChange)="onSellerSelect(seller.mobile_number)" [value]="seller.mobile_number">
                                        {{seller.first_name}} ({{seller.mobile_number}})</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div
                                *ngIf="(invoiceActionForm.get('mobileNoInvoice')?.touched) && (invoiceActionForm?.get('mobileNoInvoice')?.hasError('required'))">
                                <span class="validation-err">Please enter the mobile number</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="sellerList.length > 0 && isOtherCustDetailAva">
                        <div class="col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>FirstName</mat-label>
                                <input matInput placeholder="" type="text" formControlName="firstNameInvoice">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>LastName</mat-label>
                                <input matInput placeholder="" type="text" formControlName="lastNameInvoice">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="sellerList.length > 0 && isOtherCustDetailAva">
                        <div class="col-sm-6 mb-3">
                            <mat-form-field floatLabel="never">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="" type="text" formControlName="emailInvoice">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="isOtherCustDetailAva">
                    <div class="col-sm-12 text-right">
                        <div class=" dialog-actions-container d-inline-block">
                            <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Cancel</button>
                        </div>
                        <div class=" dialog-actions-container d-inline-block">
                            <button class="default-btn plr-md-40" [disabled]="!invoiceActionForm.valid" (click)="updateInvoice()" mat-button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row" *ngIf="sellerList.length == 0 && !isOtherCustDetailAva">
                <div class="col-sm-12">
                    <span class="validation-err">
                        This customer is not registered with us. Kindly ask him to register on our portal.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>