.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body { 
    overflow-y: auto;
  }

  .accepted-container h5 {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
  }

  .accepted-container .bid-info {
    padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  .accepted-container p {font-size: 15px; font-weight: 500;}

  .default-btn, .default-btn-outline {min-width: 64px !important;}

  .custom-file .custom-file-label {height: 42px;}
  .uplode-delet {width: 35px; float: right; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 34px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #ffefec;}


  .popup {
    background: #fff;
    border-radius: 20px; 
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }

  .dialog-actions-container{
    margin-top: 16px;
  }

  .accepted-container p {
      
      padding:0px;
  }

  .marginBottom10 {
      margin-bottom: 10px;
  }

  .detail-table b {
    font-weight: 400;
}