<div class="popup">
    <!--<div class="popup-hdr">
     <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->
    <div class="popup-body p-0 overflow-hidden">
        <div class="add-new-field mb-3">
            <h4 class="title">Create/Update Brand</h4>
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 brand-img-label">
                        <label class="f-12 d-block">Brand Name <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <mat-label>Brand Name</mat-label>
                            <input matInput placeholder="Enter Brand Name" autocomplete="off" type="text" formControlName='BrandName' class="">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 brand-img-label">
                        <label class="f-12 d-block">Brand Display Name <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <mat-label>Brand Display Name</mat-label>
                            <input matInput placeholder="Enter Brand Display Name" autocomplete="off" type="text" formControlName='BrandDisplayName' class="">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 brand-img-label">
                        <label class="f-12 d-block">Status <span class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                            <mat-label>Active</mat-label>
                            <mat-select formControlName="Status">
                                <mat-option [value]="1">Active</mat-option>
                                <mat-option [value]="2">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 upload-input mb-3 brand-img-label">
                        <label class="f-12 d-block">Brand Image<span class="text-warning">*</span></label>
                        <div class="custom-file">
                            <input type="file" id="fileInputBrandImg" class="custom-file-input" #fileInputBrandImg (change)="getFileName('fileInputBrandImg')" required>
                            <label class="custom-file-label" (click)="fileInputBrandImg.click()"><span class="upload-icon2"></span>
                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                    file</span></span></label>
                        </div>

                        <div class="imgFile" *ngIf="brandImgName">
                            <ul class="selectedFile">
                                <li>
                                    <a href="javascript:void(0)" target="_blank">{{brandImgName}}</a>
                                    <span class="delet-icon" (click)="resetFile('fileInputBrandImg')">
                    <img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete">
                  </span>
                                    <!-- <i class="fa fa-times" aria-hidden="true" (click)="resetFile('fileInputBrandImg')"></i> -->
                                </li>
                            </ul>
                        </div>

                        <div class="edit-upload-img upload-input mb-3 brand-img-label">
                            <span *ngIf="editableBrandData && editableBrandData.BrandImageUrl">
                <img src={{editableBrandData.BrandImageUrl}} alt="" class="imgHeight">
                <span class="delet-icon" (click)="deleteImage('BrandImage',editableBrandData.BrandImageUrl)">
                  <img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete">
                </span>
                            </span>
                        </div>
                    </div>

                    <!-- <span class="ng-binding"></span> -->

                    <div class="form-group col-md-6 col-lg-4 col-sm-6 upload-input mb-3 brand-img-label">
                        <label class="f-12 d-block">Logo Image<span class="text-warning">*</span></label>
                        <div class="custom-file">
                            <input type="file" id="fileInputBrandLogoImg" class="custom-file-input" #fileInputBrandLogoImg (change)="getFileName('fileInputBrandLogoImg')" required>
                            <label class="custom-file-label" (click)="fileInputBrandLogoImg.click()"><span
                  class="upload-icon2"></span>
                <span class="cust-upload-txt"><span class="blue-txt">Choose a
                    file</span></span></label>
                        </div>

                        <div class="imgFile" *ngIf="brandLogoImgName">
                            <ul class="selectedFile">
                                <li>
                                    <a href="javascript:void(0)" target="_blank">{{brandLogoImgName}}</a>
                                    <span class="delet-icon" (click)="resetFile('fileInputBrandLogoImg')">
                    <img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete">
                  </span>
                                </li>
                            </ul>
                        </div>

                        <div class="edit-upload-img">
                            <span *ngIf="editableBrandData && editableBrandData.BrandLogoImageUrl">
                <img src={{editableBrandData.BrandLogoImageUrl}} alt="" class="imgHeight">
                <span class="delet-icon"
                  (click)="deleteImage('BrandLogoImageUrl', editableBrandData.BrandLogoImageUrl)">
                  <img src="../../../assets/images/Delete_icon.svg"></span>
                            </span>
                        </div>
                    </div>


                    <!-- <span class="ng-binding"></span> -->
                    <!-- 
          <div class="col-sm-4 form-group">
            <label class="f-12 d-block">Priority for Used</label>
            <input matInput formControlName="usedPriority" type="number"
                placeholder="Enter Priority for Used">
        </div>
        <div class="col-sm-4 form-group">
            <label class="f-12 d-block">Priority for New</label>
            <input matInput formControlName="newPriority" type="number"
                placeholder="Enter Priority for New">
        </div> -->

                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 form-group">
                        <label class="f-12 d-block">Priority<em>*</em></label>
                        <input matInput formControlName="priority" type="number" placeholder="Enter Priority">
                    </div>

                </div>

                <div class="text-right dialog-actions-container">
                    <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
                    <!-- (click)="backClick()" -->
                    <button class="default-btn plr-md-40" [disabled]="!form.valid || !isBrandLogoImage || !isBrandImg " (click)="okClick()" mat-button>{{editableBrandData ? 'Update' : 'Save'}}</button>
                </div>
            </form>

        </div>
    </div>
</div>