.popup-hdr {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px solid #A0ADb7;
  color: #000000;
  position: relative;
}

/* .popup-body {
  padding: 20px ;
  max-height: 80vh;
  overflow-y: auto;
} */
.popup-available-space{
  padding: 12px 20px;
  color: #204555;
  background: #E2F5E9;
  border-radius: 6px;
}
.popup {
  background: #fff;
  border-radius: 20px;
}
.close-btn{
  background: transparent;
  float: right;
  border: none;
}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container{
  margin-top: 16px;
}

.add-new-field {border: 1px solid #c4cfd8; border-radius: 6px;}
.add-new-field h4.title {font-size: 14px; color: #fff; background-color: #0f3d94; padding: 10px 10px; border-radius: 6px 6px 0px 0px;}
.add-new-field form {padding: 10px;}


.brand-img-label label {color: #77828a; font-weight: 600;}
.upload-input .custom-file {position: relative; height: 46px;}
.upload-input .custom-file-input {position: absolute; height: 46px; cursor: pointer;}
.upload-input .custom-file-label {padding: 0px; position: relative; width: 100%; height: 46px; margin-bottom: 0px; line-height: 46px;}
.upload-input .custom-file .upload-icon {position: absolute; top: 7px; right: 10px; background-size: cover; width: 30px; height: 30px;}
.upload-input .custom-file .cust-upload-txt {position: absolute; top: 0px; left: 10px;}
.upload-input .custom-file .cust-upload-txt .blue-txt {text-decoration: none;}
.custom-file {height: auto;}

.selectedFile{
  list-style: none;margin:10px 0px;border: none;background: #D8E9FF;
padding:5px;
}
.selectedFile li{display:flex;justify-content: space-between;}
mat-radio-button {width: 50%;}
.selectedFile i{color: red;
  line-height: 30px;
  margin-right: 10px;} 

  .imgFile {
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: 4px;
    height: 45px;
    background: #f5f8fa;
 }

 .imgHeight{
  height: 80px;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #d2d4d6;
    width: 102px; 
    margin-right: 10px;
}


.imgFile {
  width: 90%;
  position: absolute;
  top: 27px;
  z-index: 9;
  left: 16px;
  border-radius: 4px;
  height: 43px;
  background: #f5f8fa;
 }
 .imgFile ul li {list-style: none;}
.imgFile ul li a.file-upload {font-size: 14px;
  white-space: nowrap;
  padding-top: 0px;
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0d4fa3; vertical-align: middle;
  font-weight: 500;}
.imgFile ul.selectedFile {background: #f5f8fa;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;}
  .imgFile ul li a {padding-top: 5px; color: #0f3d94;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;}
  .imgFile ul li span.delet-icon {    width: 34px;
  height: 34px;
  background: #dee5ea;
  margin-top: 0px;
  cursor: pointer;
  margin-right: 0px !important;
  text-align: center;
  line-height: 34px;
  border-radius: 50%; vertical-align: middle;}

  .custom-file {height: 46px;}

  .edit-upload-img {position: relative;}
  .edit-upload-img .delet-icon img {width: 12px;}
  .edit-upload-img .delet-icon{
    position: absolute;
    cursor: pointer;
    left: 70px;
    top: 10px;
    background: #fff;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    text-align: center;
    line-height: 24px;
  }