.excel-export-section {
  background: #fafafa;
  padding: 10px;
  border: 1px #eff0fc solid;
  border-bottom: 0px;
}
.excel-export-section button {
  background: #009a2c;
  border-radius: 0px;
  color: #fff;
}

.add-user {
  text-align: right;
}
.add-user button,
.user-search-btn button {
  background: #094fa3;
  border: 0px;
  color: #fff;
}

.user-form-label {
  width: 100%;
  float: left;
}
.user-management-form-section input {
  padding: 10px;
  border-radius: 5px;
  background: #f5f8fa;
  border: 1px #c4cfd8 solid;
  width: 100%;
}
.user-management-form-section {
  padding-top: 15px;
}
.user-management-heading button {
  padding: 10px 12px;
  border-radius: 5px;
  width: 100%;
}
.user-reset-btn {
  padding-right: 0px;
}
.user-reset-btn button {
  background: 0 none;
  color: #094fa3;
  border: 1px #094fa3 solid;
}
.action-btns a {
  padding-right: 10px;
}

.new-equipment-tbl mat-header-row {
  min-height: 100%;
}

/* new css added start here */

.main-heading {
  font-size: 32px;
  font-weight: 700;
}
.product-wrapper {
  padding: 15px;
  width: calc(100% - 18em);
  margin-left: auto;
  transition: 0.5s;
}
.asset-table .inner-table {
  border-radius: 10px;
  border: 1px solid #e0e4e8;
}
.mat-card {
  padding: 0px;
}
.default-tbl {
  border: 1px solid #e0e0e0;
}
.default-tbl mat-row,
.default-tbl .mat-header-row {
  border-color: #e0e0e0;
}
.default-tbl mat-cell,
.default-tbl .mat-cell {
  color: #333;
  opacity: 0.87;
  white-space: nowrap;
  height: 42px;
  padding: 0 21px 0 21px;
  min-width: 100px;
}
.default-tbl mat-cell:first-of-type,
.default-tbl mat-header-cell:first-of-type,
.default-tbl mat-footer-cell:first-of-type {
  padding-left: 21px;
  min-width: 50px;
  padding-right: 0px;
}
.default-tbl mat-header-cell,
.default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;
  border-color: #e0e0e0;
  height: 42px;
  min-width: 100px;
}
.asset-table table .mat-header-row th {
  background-color: #0d4fa3;
  color: #fff;
}
.asset-table .inner-table {
  border: 1px solid #e0e4e8;
  border-radius: 10px;
}
.asset-table table {
  max-width: 100%;
  overflow: auto;
}
.asset-table table th,
.asset-table table td {
  font-size: 12px;
  border-color: #e0e4e8;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
}
.asset-table table td:first-child {
  border-top: 0px;
}
.asset-table table td button.table-row-btn {
  width: 35px;
  min-width: inherit;
  margin-right: 8px;
  margin-left: 0px;
  height: 35px;
  text-align: center;
  line-height: 34px;
  padding: 0px;
  border-radius: 50%;
  background-color: #e7eef2;
}
.asset-table table td button.table-row-btn.view-icon img {width: 22px;}
.asset-table table td button.table-row-btn.delet-icon {
  background-color: #ffefec;
}
.asset-table table td button.table-row-btn span {
  font-size: 18px;
}
.asset-table table td.mat-column-is_active {
  color: #00a767;
}
.asset-table table td button.table-row-btn:last-child {
  margin-right: 0px;
}
.asset-table table tr:nth-child(even) {
  background-color: #f8fbfd;
}
.asset-table table .mat-header-row th {
  background-color: #0d4fa3;
  color: #fff;
}
.asset-table .default-tbl .mat-row:nth-child(odd) {
  background-color: #f8fbfd;
}
.default-tbl mat-row:hover {
  background-color: #f8fbfd;
}
.default-tbl mat-row:hover {
  background-color: #f8fbfd;
}
.asset-table table tr:hover {
  background-color: #f8fbfd;
}
.user-management-top-section .title {
  color: #77828a;
  font-weight: 500;
}
.no-record {
  padding: 10px;
}


.exportWrapper button{
    background: #00a767;
    padding: 2px 20px;
    border: 0px;
    color: #fff;
    margin-right: 15px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  /* .product-wrapper {
    padding: 20px 15px;
    width: 100%;
    margin-top: 0px;
    float: none;
    transition: 0.5s;
  } */
}

@media screen and (max-width: 767px) {
  .product-wrapper {
    padding: 20px 15px;
    margin-top: 0px;
    width: 100%;
    float: none;
    transition: 0.5s;
  }
  .main-heading {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    line-height: 28px;
  }
  .save-btn button {
    padding: 5px 35px;
  }
  .used-upload-section .title {
    font-size: 20px;
  }
  .add-user button {
    height: 36px;
  }
  .product-wrapper {width: 100%;}

  .admin-page-buttons button {
    font-size: 0px !important;
    min-width: 50px;
    min-height: 25px;
    height: 40px;
    vertical-align: middle;
    padding: 6px 10px !important;
  } 
  .admin-page-buttons button i {
    font-size: 16px; 
    padding-top: 8px;
    padding-right: 0px !important;  
  }

}
