<main class="container-fluid">
  <section>
    <div class="row bg-white">
      <div class="col-12  col-md-6 col-lg-5 p-0 left-side-banner">
        <!-- <div class="left-side-container">
          <div class="welcome-box">
            <h2 class="sub-header">Welcome to iQuippo</h2>
            <p class="sub-header-text">India’s leading marketplace for end-to-end asset
              lifecycle management</p>
            <ul class="tracker-list d-xs-none">
              <li>95,000+ Registered Customers</li>
              <li>Track Ongoing & Upcoming Auctions</li>
              <li>Get Updated on financing Offers</li>
            </ul>
            <ul class="list-details d-xs-none">
              <li>buy</li>
              <li>sell</li>
              <li>rent</li>
              <li>finance</li>
              <li>valuation</li>
            </ul>
          </div>
        </div> -->
        <app-left-menu></app-left-menu>
      </div>
      <div class="col-12  col-md-6 col-lg-7 right-side-container">
        <div class="signup-wrapper">
          <h2>SignUp</h2>
          <p class="sign-up-text" *ngIf="sharedService.GetSocialUserFullName()!=''" [innerHtml]="sharedService.GetSocialUserFullName()"></p>
          <p class="sign-up-text" *ngIf="sharedService.GetSocialUserFullName()==''">Signup to get started</p>
          <form [formGroup]='getotpForm'>
            <div class="form-row">
              <div class="col-12 mb-3">
                <span class="validation-err" *ngIf="statuscodevar==229">Your session has expired. Please refresh the page to continue</span>
              </div>
              <div class="col-5 col-sm-3">
                <mat-select  class="ptb-5 card-select payment-card-slct" [(value)]="selectedCity" (selectionChange)="updateCountryCode(selectedCity)" formControlName='countrycode' >
                  <mat-select-trigger>
                    <div class="d-block">
                      <img [src]="selectedCity?.flag" class="saved-card-icn" alt="">
                      <div class="prefix-number">
                        <p class="mb-0 f-16 ln-20">{{selectedCity?.prefixCode}}</p>
                      </div>
                    </div>
                  </mat-select-trigger>
                  
                  <mat-option *ngFor="let country of countryList" [value]="country">
                    <div class="d-block">
                      <img [src]="country.flag" class="saved-card-icn" alt="">
                      <div class="prefix-number">
                        <p class="mb-0 f-16 ln-20">{{country?.countryCode}} ({{country?.prefixCode}})</p>
                      </div>
                    </div>
                  </mat-option>
                </mat-select> 
              </div>
              <div class="col-7 col-sm-9">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="Enter your mobile number" value="" [attr.maxlength]="maxLengthValue" formControlName='phone' (blur)="checkPhoneField()" (keyup)='statuscodevar=0;isGetOtpbtnHidden=false;' [ngClass]="isSubmittedPhone && (getotpForm.get('phone')?.hasError('required') || getotpForm.get('phone')?.hasError('minLength') || getotpForm.get('phone')?.hasError('maxLength')) ? 'haserror' : ''">
                </mat-form-field>
                <div *ngIf="getotpForm.get('phone')?.touched && !getotpForm.get('phone')?.valid"><span class="validation-err">Please input a valid Phone Number.</span></div>
                <div *ngIf="getotpForm.get('phone')?.touched && getotpForm.get('phone')?.hasError('required')">
                  <span class="validation-err">Please enter the mobile number.</span>
                </div>
                <div *ngIf="getotpForm.get('phone')?.touched && getotpForm.get('phone')?.hasError('minlength')">
                  <span class="validation-err">Please input a valid Phone Number.</span>
                </div>
                <div *ngIf="getotpForm.get('phone')?.touched && getotpForm.get('phone')?.hasError('maxlength')">
                  <span class="validation-err">Please input a valid Phone Number.</span>
                </div>
                <span>
                  <span class="validation-scs" *ngIf="statuscodevar==219">OTP sent to your device successfully</span>
                  <span class="validation-err" *ngIf="statuscodevar==202">You already have an account with iQuippo <br> <span class="clr000">Do you want to </span> <a href="login"> Signin</a></span>
                  
                </span> 
              </div>
              <div class="col-12">
                
              </div>
            </div>
            <div class="otp_btn">
              <button mat-button (click)='getotpfn()' [hidden]="isGetOtpbtnHidden" [disabled]='getotpForm.invalid'>Get OTP</button>
            </div>
          </form>
          <div class="otp-wrapper" *ngIf="statuscodevar==219" >
            <form [formGroup]='submitOtp'>
              <label for="">OTP</label>
              <div class="row otp-group">
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField1' maxLength='1' minlength="1" #otpField1 (focus)="myfun('11')" (keyup)="myfun('1')" onKeyPress="if(this.value.length==1) return false;"  />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField2' maxLength='1' minlength="1" #otpField2 (focus)="myfun('22')" (keyup)="myfun('2')" onKeyPress="if(this.value.length==1) return false;"   />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField3' maxLength='1' minlength="1" #otpField3 (focus)="myfun('33')" (keyup)="myfun('3')" onKeyPress="if(this.value.length==1) return false;"  />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField4' maxLength='1' minlength="1" #otpField4 (focus)="myfun('44')" (keyup)="myfun('4')" onKeyPress="if(this.value.length==1) return false;"   />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField5' maxLength='1' minlength="1" #otpField5 (focus)="myfun('55')" (keyup)="myfun('5')" onKeyPress="if(this.value.length==1) return false;"   />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="number" value="" formControlName='otpField6' maxLength='1' minlength="1" #otpField6 (focus)="myfun('66')" (keyup)="myfun('6')" onKeyPress="if(this.value.length==1) return false;"   />
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div>
                    <p class="validation-err" *ngIf="((submitOtp.get('otpField1')?.touched && submitOtp.get('otpField1')?.hasError('required')) || (submitOtp.get('otpField2')?.touched && submitOtp.get('otpField2')?.hasError('required')) || (submitOtp.get('otpField3')?.touched && submitOtp.get('otpField3')?.hasError('required')) || (submitOtp.get('otpField4')?.touched && submitOtp.get('otpField4')?.hasError('required')) || (submitOtp.get('otpField5')?.touched && submitOtp.get('otpField5')?.hasError('required')) || (submitOtp.get('otpField6')?.touched && submitOtp.get('otpField6')?.hasError('required')))">Enter complete 6 digit Numeric OTP.</p>
                    <p *ngIf="isSubmitted">
                      <span class="validation-err" *ngIf="otpcodevar==260">OTP already verified</span>
                      <span class="validation-err" *ngIf="otpcodevar==213">OTP didn't match</span>
                      <span class="validation-err" *ngIf="otpcodevar==500">Exception raised</span>
                    </p>
                  </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-8 tnc-txt mt-4">
                  <mat-checkbox [checked]="false" (change)='onTermConditionChange($event)' [(ngModel)]='isCheckedTermsCondition' formControlName="agree">I agree to iQuippo’s </mat-checkbox><a href="javascript:void(0)" class="tnclink" (click)="termsConditions()">Terms & Conditions</a>
                  <div *ngIf="submitOtp.get('agree')?.hasError('isAgree')">
                    <span class="validation-err">Please agree to our Terms & Conditions.</span>
                  </div>
                  </div>
                  <div class="col-12 col-sm-4 pl-md-0 resendotp mt-4">
                    <a *ngIf="!resendOTP" href="javaScript:void(0)" >Resend OTP in {{remainingTime}}</a>
                    <a *ngIf="resendOTP" href="javaScript:void(0)" (click)='resentOtp()' >Resend OTP</a>
                  </div>
              </div>
              <div class="cont_btn">
                <button mat-button (click)='submitotpfn()' [disabled]='submitOtp.invalid || submitOtp.get("agree")?.value==false'>Continue</button>
              </div>
            </form>
          </div>
          
          <div class="signup-options-wrapper" *ngIf="sharedService.GetSocialUserFullName()==''">
            <p class="singupvia-txt">OR YOU CAN SIGNUP VIA</p>
            <div class="row  mt-4 text-center">
              <div class="col-6 pad1"><a href="javascript:void(0)" (click)="signInWithGoogle()"><img src="/../../assets/images/Google.png" class="img-fluid" alt=""></a></div>
              <div class="col-6 pad1"><a href="javascript:void(0)" (click)="signInWithFB()"><img src="/../../assets/images/fb.png" class="img-fluid" alt=""></a></div>
            </div>
            <p class="signintxt">Already have an account? <a href="javascript:void(0)" (click)="signinredirect()">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>