.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body { 
    overflow-y: auto;
  }

  .popup {
    background: #fff;
    border-radius: 20px;
    width: 500px;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  .close-btn:focus {
    outline: unset !important;
  }

  .dialog-actions-container{
    margin-top: 16px;
  }

  .accepted-container p {
      
      padding:0px;
  }

  .marginBottom10 {
      margin-bottom: 10px;
  }