<!-- <div class="popup modal-popup">
    <div class="popup-hdr" *ngIf="type === 'Payment'">
       <h4>Payment</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="" *ngIf = "type === 'Payment'">
            <form [formGroup]='paymentForm'>
                <div class="row marginBottom10">
                    <div class="col-sm-6">
                        <label for="" class="f-12 d-block">Mode of Payment</label>
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Mode Of Payment">
                            <mat-option>--Payment Mode--</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of modeOfPaymentObject;">
                                {{status?.name}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <label for="" class="f-12 d-block">Payment Date</label>
                            <mat-form-field floatLabel="never" class="datepicker-input">
                                <input matInput [max]="minDate"   [matDatepicker]="picker" (click)="picker.open()"  readonly formControlName='creationDate' >
                                <mat-datepicker-toggle matSuffix [for]="picker" class="calender-icon">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <div class="row marginBottom10">
                        <div class="col-sm-6">
                           <label for="" class="f-12 d-block">Payment Reference No</label> 
                            <mat-form-field floatLabel="never">
                                <mat-label>Payment Reference No</mat-label>
                                <input matInput placeholder="" type="text" formControlName="paymentReferenceNo" >
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                           <label for="" class="f-12 d-block">Amount</label> 
                            <mat-form-field floatLabel="never">
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="" type="text" formControlName="amount" >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                         <label for="" class="f-12 d-block">Bank Name</label> 
                            <mat-form-field floatLabel="never">
                                <mat-label>Bank Name</mat-label>
                                <input matInput placeholder="" type="text" formControlName="bankName">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="f-12 d-block">Branch Name</label> 
                            <mat-form-field floatLabel="never">
                                <mat-label>Branch Name</mat-label>
                                <input matInput placeholder="" type="text" formControlName="branchName" >
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>
                
                <div class="">
                    <div class="text-right dialog-actions-container">
                        <button class="default-btn-outline plr-md-40 mr-3" 
                         (click)="updateInvoice()" mat-button>Submit</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div> -->

<div class="popup modal-popup">
    <div class="popup-hdr" >
      <h4> Cancellation Request</h4>
       <button mat-button (click)="backClick()" class="close-btn">
           <img src="../../../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <div class="accepted-container" >
          <p>Do you want to Cancel this request?</p>
          <div class="text-right dialog-actions-container"> 
              <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>No</button>
              <button class="default-btn plr-md-40 mr-3" (click)='cancel()' mat-button>Yes</button>
          </div>
        </div>
    </div>
  </div>