.dialog-actions-container {
    margin-top: 16px;
  }
  
  mat-chip {
    border: 1px solid#0f3d94;
  }
  .modal-popup .popup-body {max-height: 80vh; overflow: auto;}

  
  .sel {
    background-color: #0f3d94;
    color: #fff;
  }
  
  @media screen and (max-width: 767px) {
    .demo-calender.datepicker-input .calender-icon {
      top: 42px;
    }

    .payment-data {margin: 0px;}
    .payment-data .col-6 {background: #eee; padding: 0px 10px; margin-bottom: 5px;}
    .payment-data .col-6 p {margin-bottom: 5px;}

  }
  