<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">{{!data.isFromOnlineRefund && !data.isFromOfflineRefund ? 'Payment Details' :
            data.isFromOnlineRefund && !data.isFromOfflineRefund ? 'Refund Details' :'Payment Information'}}</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div>
    <div class="popup-body" *ngIf="realizationDetails">
        <div class="row payment-data" *ngIf="!data.isFromOnlineRefund && !data.isFromOfflineRefund">
            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Payment Mode</label>
                <p>{{realizationDetails?.payment_mode ? realizationDetails?.payment_mode : 'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0"> Order Id</label>
                <p>{{realizationDetails?.order_id ? realizationDetails?.order_id :'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0"> Razorpay Reference No.</label>
                <p>{{realizationDetails?.payment_id ? realizationDetails?.payment_id : 'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Bank Name</label>
                <p>{{realizationDetails?.bank_name ? realizationDetails?.bank_name :'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Branch Name</label>
                <p>{{realizationDetails?.branch ? realizationDetails?.branch : 'NA'}}</p>
            </div>
            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Payment Reference No.</label>
                <p>{{realizationDetails?.bank_ref_no ? realizationDetails?.bank_ref_no : 'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Fees</label>
                <p>{{realizationDetails?.fees ? realizationDetails?.fees :'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Service Tax</label>
                <p>{{realizationDetails?.service_tax ? realizationDetails?.service_tax :'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Amount</label>
                <p>{{realizationDetails?.amount ? realizationDetails?.amount : 'NA'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Payment Date</label>
                <p>{{realizationDetails?.payment_date | date:'dd-MM-yyyy'}}</p>
            </div>

            <div class="col-md-6 col-6 col-sm-6">
                <label class="font-weight-bold mb-0">Status</label>
                <p>{{getPaymentStatus(realizationDetails?.payment_status)}}</p>
            </div>
        </div>        
    </div>
</div>