<mat-dialog-content>
    <div class="aspectOptions">
        <label>Aspect Ratio Options</label>
        <div class="options-wrapper  d-flex justify-content-around">
            <button type="button" class="btn mx-1" [ngClass]="(aspectRatio == 1/1) ? 'btn-primary' : 'btn-outline-primary'" (click)="aspectRatio = 1/1">1/1</button>
            <button type="button" class="btn mx-1" [ngClass]="(aspectRatio == 4/3) ? 'btn-primary' : 'btn-outline-primary'" (click)="aspectRatio = 4/3">4/3</button>
            <button type="button" class="btn mx-1" [ngClass]="(aspectRatio == 16/9) ? 'btn-primary' : 'btn-outline-primary'" (click)="aspectRatio = 16/9">16/9</button>
        </div>
    </div>
    <image-cropper [imageURL]="originalImage" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio" [resizeToWidth]="256" (imageCropped)="imageCropped($event)" *ngIf="originalImage"></image-cropper>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="closeDialog()" class="btn btn-primary close-btn">Crop</button>
</mat-dialog-actions>

