<div class="popup">
    <div class="popup-body text-center">
        <img src="../../../../assets/images/congo-icn.svg" alt="">
        <h3 class="f-26 f-500 mt-4">Congratulations</h3>
        <p class="f-14 mb-0">Your bulk upload request is successfully completed</p>
        <button class="default-btn-outline"  (click)="back()" *ngIf="this.userRole == this.apiRouteService.roles.admin || this.userRole == this.apiRouteService.roles.superadmin || this.userRole == this.apiRouteService.roles.enterprisePartner">Back to Listing</button>
        <button class="default-btn-outline" [class.d-none]="this.userRole == this.apiRouteService.roles.enterprisePartner" [routerLink]="['/home']" *ngIf="!(this.userRole == this.apiRouteService.roles.admin || this.userRole == this.apiRouteService.roles.superadmin)">Back to Home</button>
    </div>
</div>