<main class="div-wraapper">
  <div class="product-wrapper-box p-0">
  <section class="myself-details-main-wrapper banking-main-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <app-progress-steps [steps]="steps"></app-progress-steps>
        
      </div>
    </div>
    <form [formGroup]='bankingForm'>
      <div class="main-content-wrapper">
        <div class="customer-details-wrapper">
          <h2 class="sub-head">Bank Details</h2>
          <!-- <p class="txt-info"><span class="mandatory"></span>If you select a bank name from list, the bank details
            become mandatory.</p> -->
          <div formArrayName="bankDetailArray" class="bandetailbox">
            <ng-container *ngFor="let bankObj of bankingForm?.get('bankDetailArray')?.controls; let i = index">
              <div class="row bank-row mt-0 p-0 pt-2" [formGroupName]="i">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Bank Name</label>
                  <mat-form-field floatLabel="never">
                    <mat-select formControlName="bank" placeholder="Select Bank Name">
                      <mat-option *ngFor="let bank of bankList" [value]="bank.id">{{ bank.bank_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="bankObj.get('bank')?.touched && bankObj.get('bank')?.invalid ">
                    <span class="validation-err" *ngIf="bankObj.get('bank')?.errors?.required">Please Select Bank</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Branch</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="branch" autocomplete="off">
                  </mat-form-field>
                  <div *ngIf="bankObj.get('branch')?.touched && bankObj.get('branch')?.invalid ">
                    <span class="validation-err" *ngIf="bankObj.get('branch')?.errors?.required">Please provide Branch
                      name</span>
                    <span class="validation-err" *ngIf="bankObj.get('branch')?.errors?.maxlength">Characters
                      Exceeded</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Account Holder's Name</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="account_holder_name" autocomplete="off">
                  </mat-form-field>
                  <div
                    *ngIf="bankObj.get('account_holder_name')?.touched && bankObj.get('account_holder_name')?.invalid ">
                    <span class="validation-err" *ngIf="bankObj.get('account_holder_name')?.errors?.required">Please
                      provide Account holder name</span>
                    <span class="validation-err"
                      *ngIf="bankObj.get('account_holder_name')?.errors?.maxlength">Characters Exceeded</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">Account Number</label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="account_number" autocomplete="off">
                  </mat-form-field>
                  <div *ngIf="bankObj.get('account_number')?.touched && bankObj.get('account_number')?.invalid ">
                    <span class="validation-err" *ngIf="bankObj.get('account_number')?.errors?.required">Please provide
                      Account number</span>
                    <span class="validation-err" *ngIf="bankObj.get('account_number')?.errors?.pattern">Characters not
                      allowed</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <label for="">IFSC Code/SWIFT CODE </label>
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="ifsc_code" autocomplete="off">
                  </mat-form-field>
                  <div *ngIf="bankObj.get('ifsc_code')?.touched && bankObj.get('ifsc_code')?.invalid ">
                    <span class="validation-err" *ngIf="bankObj.get('ifsc_code')?.errors?.required">Please provide
                      IFSC/SWIFt code</span>
                    <span class="validation-err" *ngIf="bankObj.get('ifsc_code')?.errors?.maxlength">Characters
                      Exceeded</span>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                  <div class="account-block">
                    <label for="" class="w-100">Account Type</label>
                    <mat-radio-group aria-label="Select an option" formControlName="account_type">
                      <mat-radio-button [checked]="bankObj.get('account_type')?.value==1" value="1">Saving </mat-radio-button>
                      <mat-radio-button [checked]="bankObj.get('account_type')?.value==2" value="2">Current </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="bankObj.get('account_type')?.touched && bankObj.get('account_type')?.invalid ">
                      <span class="validation-err" *ngIf="bankObj.get('account_type')?.errors?.required">Please select
                        Account type</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-2 mini-custom-file">
                  <label for="" class="f-12 d-none d-md-block d-lg-block d-sm-block">Cancelled Cheque</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="uploadCheque($event,i,bankObj)" autocomplete="off">
                    <label class="custom-file-label custom-file-label2" for="front">
                      <span class="cust-upload-txt cust-upload-txt2">
                        {{bankObj.controls.cancelled_cheque.value ? bankObj.controls.cancelled_cheque.value.substr(bankObj.controls.cancelled_cheque.value.lastIndexOf("/")+ 1) : 'Choose a file'}}
                      </span>
                      <span class="upload-icon2"></span>
                      <span class="delet-icon" *ngIf="bankObj.controls.cancelled_cheque.value" (click)="deleteCheque(bankObj.controls.cancelled_cheque.value,bankObj)" mat-button><span><img
                        src="../../../assets/images/Delete_icon.svg"  alt="Delete" title="Delete"></span></span>  
                    </label>
                    <div *ngIf="bankObj.get('cancelled_cheque')?.touched && bankObj.get('cancelled_cheque')?.invalid  ">
                      <span class="validation-err" *ngIf="bankObj.get('cancelled_cheque')?.errors?.required">Please upload
                        cancelled cheque</span>
                    </div>
                    
                  </div>  
                </div> -->
                <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                  <label for="" class="f-12 d-block">Upload Document</label>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input"
                      (change)="uploadCheque($event,i,bankObj)">
                      <label class="custom-file-label custom-file-label2" for="front"><span
                              class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                              class="upload-icon2"></span></label>
                  </div>
                  <div class="lisFile" *ngIf="bankObj.controls.cancelled_cheque.value">
                      <ul class="selectedFile m-0">
                          <li>
                              <a class="file-upload" href="{{documentName[i]?.url}}"
                                  target="_blank">{{bankObj.controls.cancelled_cheque.value ? bankObj.controls.cancelled_cheque.value.substr(bankObj.controls.cancelled_cheque.value.lastIndexOf("/")+ 1) : 'Choose a file'}}</a>
                              <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                              <a class="delet-icon" *ngIf="bankObj.controls.cancelled_cheque.value" (click)="deleteCheque(bankObj.controls.cancelled_cheque.value,bankObj,i)">
                                  <img src="../../../assets/images/Delete_icon.svg" />
                              </a>
                          </li>

                      </ul>
                  </div>
                  <div *ngIf="bankObj.get('cancelled_cheque')?.touched && bankObj.get('cancelled_cheque')?.invalid  ">
            <span class="validation-err" *ngIf="bankObj.get('cancelled_cheque')?.errors?.required">Please upload
              cancelled cheque</span>
          </div>
              </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3 mini-custom-file">
                  <label for="" class="f-12 d-block">.</label>
                  
                    <button class="default-btn-outline" mat-flat-button *ngIf="i != 0" (click)="removeBankFormGroup(i)">Remove</button>

                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-right">
                 
                </div>
                
              </div>
            </ng-container>
          </div>
        </div>

        <div class="text-right mt-3">
         
          <div class="comsaveandcont-btn">
            <button mat-flat-button [disabled]="bankingForm.invalid" (click)="saveBankDetailsfn()">Save &amp; Continue</button>
            <button class="  ml-2" mat-flat-button (click)="addBankFormGroup()">
              Add Another Bank
             </button>
          </div>
        </div> 

      </div>
      

    </form>
  </section>
</div>
</main>