.comsaveandcont-btn {
    display: inline-block;
    padding: 0 0rem;
}

.div-wraapper{
    width: calc(100% - 18em);
     margin-bottom: 100px;
    padding: 15px;
    float: right;
    transition: 0.5s;
}


.lisFile ul li a.file-upload {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    width: 80%;
  }
  .lisFile ul li a.delet-icon {
    margin-top: 2px;
  }
  .lisFile{
    top: 29px; left: 16px; height: 38px; width: calc(100% - 32px);
  }
  .custom-file .cust-upload-txt2 {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.progress-block {border-radius: 8px 8px 0px 0px;}

.div-wraapper .myself-details-main-wrapper {
    border: 1px solid #c4cfd8;
    border-radius: 8px;
}
.myself-details-main-wrapper .progress-block {
    border-radius: 8px 8px 0px 0px;
}
.main-content-wrapper {padding: 15px;}
.bandetailbox{padding:1em;border: 1px solid #e8e8e8 !important;}
.customer-details-wrapper {
    margin-bottom: 1rem;
}

.delet-icon
{
    width: 35px;
    min-width: inherit;
    margin-right: 8px;
    margin-left: 0;
    height: 34px;
    text-align: center;
    line-height: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: #ffefec;
    float: right;
    margin-top: 2px;
}

.customer-details-wrapper h2.sub-head {
    background: #1a4fb0;
    padding: 10px;
    color: #fff;
    border-radius: 6px 6px 0px 0px;margin:0px;
}
.bank-row {
    background: #fbfbfb;
    width: 100%;
    margin: 1em auto;
    padding: 1em;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    
    .lisFile ul li a.file-upload {width: 74%;} 
  } 
  


@media screen and (max-width: 767px) {

    .div-wraapper {
        padding: 0px 10px 20px !important;
        width: 100%;
    }
    .banking-main-wrapper .comsaveandcont-btn button {margin: 5px 0px !important;}
    .custom-file .cust-upload-txt2 {
        width: 75%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    }

    .mini-custom-file {text-align: right;}

}