<!-- <div class="excel-export-section">
    <button mat-button>Excel Export</button>
</div>
<table class="mat-table custom-mat-table">
    <tr class="mat-header-row">
        <th class="mat-header-cell" *ngFor="let headers of tableHeaders">{{headers}}</th>
    </tr>
    <tr class="mat-row" *ngFor="let product of ProductList">
        <td class="mat-cell" *ngFor="let cell of product?.cells; let i = index">
            <span [innerHTML]="cell"></span></td>
        <td class="action-btns">
            <a href="#"><span class="material-icons">
                    edit
                </span></a>
            <a href="#"><span class="material-icons">
                    delete_forever
                </span></a>
        </td>
    </tr>
</table>
<mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator> -->
<div class="row">
    <div class="col-sm-4 mb-3">
<mat-form-field>

    <input matInput placeholder="Search lessons" (keydown.enter)="applyFilter($event.target.value)" (keyup)="applyFilter($event.target.value)" #input>

</mat-form-field>
</div>
</div>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div class="asset-table">
    <div class="table-responsive inner-table mb-3">
        <table class="mat-table custom-mat-table w-100" mat-table matSortActive="seqNo" [dataSource]="dataSource" #TableOneSort="matSort" matSortDirection="asc" matSortDisableClear matSort>
<!-- <mat-table class="lessons-table default-tbl mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="seqNo"
    matSortDirection="asc" matSortDisableClear> -->

    <ng-container matColumnDef="seqNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let lesson">{{lesson.id}}</td>
    </ng-container>

    <ng-container matColumnDef="CategoryId">
        <th mat-header-cell *matHeaderCellDef>Category Id</th>
        <td mat-cell class="CategoryId-cell" *matCellDef="let lesson">{{lesson.model.category.display_name}}</td>
    </ng-container>

    <ng-container matColumnDef="SubCategoryId">
        <th mat-header-cell *matHeaderCellDef>Sub Category Id</th>
        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">{{lesson.model.brand.display_name}}</td>
    </ng-container>

    <ng-container matColumnDef="ModelId">
        <th mat-header-cell *matHeaderCellDef>Model Id</th>
        <td mat-cell class="ModelId-cell" *matCellDef="let lesson">{{lesson.model.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell class="Location-cell" *matCellDef="let lesson">{{lesson.country.name}}</td>
    </ng-container>

    <ng-container matColumnDef="CashOnPurcahe">
        <th mat-header-cell *matHeaderCellDef>Cash On Purcahe</th>
        <td mat-cell class="CashOnPurcahe-cell" *matCellDef="let lesson">{{lesson.is_cash}}</td>
    </ng-container>

    <ng-container matColumnDef="ListInFinance">
        <th mat-header-cell *matHeaderCellDef>List In Finance</th>
        <td mat-cell class="ListInFinance-cell" *matCellDef="let lesson">{{lesson.is_finance}}</td>
    </ng-container>

    <ng-container matColumnDef="Lease">
        <th mat-header-cell *matHeaderCellDef>Lease</th>
        <td mat-cell class="Lease-cell" *matCellDef="let lesson">{{lesson.is_lease}}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell class="Status-cell" *matCellDef="let lesson">{{lesson.is_new}}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell class="Action-cell" *matCellDef="let lesson" (click)="editOffer(lesson.id)">
            <button class="simple-btn" mat-button><span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span></button></td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- </mat-table> -->

<div class="no-record" *ngIf="!dataSource.length">No records found</div> 
</div>
</div>
<!-- <mat-paginator #paginator [length]="lead?.count" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" (page)="pageEvents($event)"></mat-paginator> -->
<mat-paginator [length]="lead?.count" [pageSizeOptions]="[5, 10, 20]" [pageSize]="3" (page)="pageEvents($event)"></mat-paginator>