button.theme-btn.export-btn.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
  margin-left: 1em;
}


.sub-section-tab .title {
  font-size: 24px;
}
.export-btn {
  background: #00a767;
  padding: 2px 20px;
  border: 0px;
}

.auction-form label,
.add-info-form > label {
  color: #77828a;
  font-weight: 600;
}

.add-section {
  border: 1px solid #cdd6dc;
  margin-bottom: 15px;
  background-color: #fdfdfd;
  border-radius: 8px;
}
.add-section .title {
  font-size: 16px;
  background: #0f3d94;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  color: #fff;
}
.imp-head {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.more-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mini-custom-file .custom-file {
  height: 46px;
}
.custom-file-input {
  height: 100%;
}
.custom-file-label::after {
  display: none;
}

.uplode-delet {
  width: 35px;
  float: right;
  margin-top: 2px;
  min-width: inherit;
  margin-right: 8px;
  margin-left: 0px;
  height: 34px;
  text-align: center;
  line-height: 35px;
  padding: 0px;
  border-radius: 50%;
  background-color: #ffefec;
}

.custom-file .cust-upload-txt2 {
  white-space: normal;
  width: 80%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  top: 9px;
}


.auction-form label.mat-checkbox-layout {
  margin: 0px;
}

.datepicker-input .calender-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0px, -59%);
}

.row.mb-3.add-section.w-100 {
  margin: 0 auto;
}

.delet-icon {
  width: 34px;
  height: 34px;
  cursor: pointer;
  background: #dee5ea;
  margin-top: 0px;
  margin-right: 10px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

a.file-upload {
  font-size: 14px;
  white-space: nowrap;
  padding-top: 0;
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0d4fa3;
  vertical-align: middle;
  font-weight: 500;
}

.button-wrapper {
  margin-bottom: 1em;
}
