<div class="product-wrapper">
  <div class="product-wrapper-box">
  <div class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/admin-dashboard/auction/auction-list']">Auction</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{toEdit ? 'Edit' : 'Create'}}</li>
    </ol>
  </div>
  <div class="admin-page-heading">
    <div class="admin-page-header col-lg-6 col-md-12">
      <h3 class="admin-page-title">{{toEdit ? 'Edit' : 'Create'}} Auction</h3>
    </div>
  </div>

  <div class="create-auction-table">
    <div class="row mb-3">
      <div class="col-md-12">
        <form [formGroup]="auctionForm">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Would you like to add subauctions? <span class="text-warning">*</span></label>
              <mat-radio-group aria-label="Select an option" formControlName="has_subauctions">
                <mat-radio-button value='true' (change)="checkSubauction($event.value)">Yes</mat-radio-button>
                <mat-radio-button value='false' (change)="checkSubauction($event.value)">No</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="auctionForm.get('has_subauctions')?.invalid && auctionForm.get('has_subauctions')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('has_subauctions')?.errors?.required">
                  Please select would you like to add subauctions?
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Sale Type <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Sale Type</mat-label>
                <mat-select formControlName='sale_type'>
                  <mat-option *ngFor="let type of saleTypeFilterOptions" [value]="type.value">{{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="auctionForm.get('sale_type')?.invalid && auctionForm.get('sale_type')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('sale_type')?.errors?.required">
                  Please select Sale Type.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction Type <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Auction Type</mat-label>
                <mat-select formControlName='auction_type'>
                  <mat-option *ngFor="let type of auctionTypeFilterOptions" [value]="type.value">{{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="auctionForm.get('auction_type')?.invalid && auctionForm.get('auction_type')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('auction_type')?.errors?.required">
                  Please select Auction Type.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction Status <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Auction Status</mat-label>
                <mat-select formControlName='auction_status'>
                  <mat-option *ngFor="let type of auctionStatusFilterOptions" [value]="type.value">{{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="auctionForm.get('auction_status')?.invalid && auctionForm.get('auction_status')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('auction_status')?.errors?.required">
                  Please select Auction Status.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Business Vertical <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Business Vertical</mat-label>
                <mat-select formControlName='business_vertical'>
                  <mat-option *ngFor="let type of buisnessVerticalOptions" [value]="type.value">{{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="auctionForm.get('business_vertical')?.invalid && auctionForm.get('business_vertical')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('business_vertical')?.errors?.required">
                  Please select Buisness Vertical.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction Name <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Auction Name</mat-label>
                <input matInput placeholder="" autocomplete="off" type="text" formControlName='name' class="">
              </mat-form-field>
              <div *ngIf="auctionForm.get('name')?.invalid && auctionForm.get('name')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('name')?.errors?.required">
                  Please provide Auction Name
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction Start Date & Time <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never" class="datepicker-input">
                <mat-label>Auction Start Date & Time</mat-label>
                <input matInput [owlDateTime]="dp1" [min]="toEdit ? '' : minDate" autocomplete="off"
                  formControlName='starts_at' class="" readonly>
                <span class="calender-icon" [owlDateTimeTrigger]="dp1">
                  <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                    <img src="../../../assets/images/calendar.svg" alt="">
                  </mat-icon>
                </span>
                <owl-date-time #dp1 [hour12Timer]="true"></owl-date-time>
              </mat-form-field>
              <div *ngIf="auctionForm.get('starts_at')?.invalid && auctionForm.get('starts_at')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('starts_at')?.errors?.required">
                  Please select Auction Start date.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction End Date & Time <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never" class="datepicker-input">
                <mat-label>Auction End Date & Time</mat-label>
                <input matInput [owlDateTime]="dp2" [min]="getEndDate()" autocomplete="off" formControlName='ends_at'
                  class="" readonly>
                <span class="calender-icon" [owlDateTimeTrigger]="dp2">
                  <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                    <img src="../../../assets/images/calendar.svg" alt="">
                  </mat-icon>
                </span>
                <owl-date-time #dp2 [hour12Timer]="true"></owl-date-time>
              </mat-form-field>
              <div *ngIf="auctionForm.get('ends_at')?.invalid && auctionForm.get('ends_at')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('ends_at')?.errors?.required">
                  Please select Auction End date.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Owner <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Owner</mat-label>
                <mat-select class="form-control" placeholder="" formControlName="manager">
                  <mat-option value={{customer?.user?.cognito_id}} *ngFor="let customer of customerArray;">
                    {{customer?.user?.first_name}} {{customer?.user?.last_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="auctionForm.get('manager')?.invalid && auctionForm.get('manager')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('manager')?.errors?.required">
                  Please provide Owner.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Inspection Start Date & Time</label>
              <mat-form-field floatLabel="never" class="datepicker-input">
                <mat-label>Inspection Start Date & Time</mat-label>
                <input matInput [owlDateTime]="dp3" [min]="toEdit ? '' : minDate" autocomplete="off"
                  formControlName='inspection_starts_at' class="" readonly>
                <span class="calender-icon" [owlDateTimeTrigger]="dp3">
                  <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                    <img src="../../../assets/images/calendar.svg" alt="">
                  </mat-icon>
                </span>
                <owl-date-time #dp3 [hour12Timer]="true"></owl-date-time>
              </mat-form-field>
              <div
                *ngIf="auctionForm.get('inspection_starts_at')?.invalid && auctionForm.get('inspection_starts_at')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('inspection_starts_at')?.errors?.required">
                  Please select Inspection Start date.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Inspection End Date & Time</label>
              <mat-form-field floatLabel="never" class="datepicker-input">
                <mat-label>Inspection End Date & Time</mat-label>
                <input matInput [owlDateTime]="dp4" [min]="toEdit ? '' : minDate" autocomplete="off"
                  formControlName='inspection_ends_at' class="" readonly>
                <span class="calender-icon" [owlDateTimeTrigger]="dp4">
                  <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                    <img src="../../../assets/images/calendar.svg" alt="">
                  </mat-icon>
                </span>
                <owl-date-time #dp4 [hour12Timer]="true"></owl-date-time>
              </mat-form-field>
              <div
                *ngIf="auctionForm.get('inspection_ends_at')?.invalid && auctionForm.get('inspection_ends_at')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('inspection_ends_at')?.errors?.required">
                  Please select Inspection Start date.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Current Location <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Current Location</mat-label>
                <input matInput placeholder="" autocomplete="off" type="text" formControlName="city" class="">
              </mat-form-field>
              <div *ngIf="auctionForm.get('city')?.invalid && auctionForm.get('city')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('city')?.errors?.required">
                  Please provide location.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Address of Auction</label>
              <mat-form-field floatLabel="never">
                <mat-label>Address of Auction</mat-label>
                <textarea matInput placeholder="" autocomplete="off" type="text" class=""
                  formControlName='address'></textarea>
              </mat-form-field>
              <div *ngIf="auctionForm.get('address')?.invalid && auctionForm.get('address')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('address')?.errors?.required">
                  Please provide auction address.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Multiplier factor for credit Limit </label>
              <mat-form-field floatLabel="never">
                <mat-label>Multiplier factor for credit Limit</mat-label>
                <input matInput placeholder="" autocomplete="off" type="text" formControlName="credit_limit_multiplier"
                  class="">
              </mat-form-field>
              <div
                *ngIf="auctionForm.get('credit_limit_multiplier')?.invalid && auctionForm.get('credit_limit_multiplier')?.touched">
                <span class="validation-err d-block"
                  *ngIf="auctionForm.get('credit_limit_multiplier')?.errors?.required">
                  Please provide Multiplier factor.
                </span>
                <span class="validation-err d-block"
                  *ngIf="!auctionForm.get('credit_limit_multiplier')?.errors?.required && auctionForm.get('credit_limit_multiplier')?.errors?.pattern">
                  Characters are not allowed
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Tax Applicability</label>
              <mat-radio-group aria-label="Select an option" formControlName="is_tax_included">
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="auctionForm.get('is_tax_included')?.invalid && auctionForm.get('is_tax_included')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('is_tax_included')?.errors?.required">
                  Please select tax applicability.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Last Minute Bid(in minutes)</label>
              <mat-form-field floatLabel="never">
                <mat-label>Last Minute Bid(in minutes)</mat-label>
                <input matInput placeholder="" autocomplete="off" type="number" class=""
                  formControlName="last_minute_bid">
              </mat-form-field>
              <div *ngIf="auctionForm.get('last_minute_bid')?.invalid && auctionForm.get('last_minute_bid')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('last_minute_bid')?.errors?.required">
                  Please provide Last minute bid.
                </span>
                <span class="validation-err d-block"
                  *ngIf="!auctionForm.get('last_minute_bid')?.errors?.required && auctionForm.get('last_minute_bid')?.errors?.pattern">
                  Characters are not allowed
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Extended To(in minutes)</label>
              <mat-form-field floatLabel="never">
                <mat-label>Extended To(in minutes)</mat-label>
                <input matInput placeholder="" autocomplete="off" type="number" class="" formControlName="extended_to">
              </mat-form-field>
              <div *ngIf="auctionForm.get('extended_to')?.invalid && auctionForm.get('extended_to')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('extended_to')?.errors?.required">
                  Please provide extended to.
                </span>
                <span class="validation-err d-block"
                  *ngIf="!auctionForm.get('extended_to')?.errors?.required && auctionForm.get('extended_to')?.errors?.pattern">
                  Characters are not allowed
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Terms of Auction</label>
              <mat-form-field floatLabel="never">
                <mat-label>Terms of Auction</mat-label>
                <textarea matInput placeholder="" autocomplete="off" type="text" class=""
                  formControlName="terms"></textarea>
              </mat-form-field>
              <div *ngIf="auctionForm.get('terms')?.invalid && auctionForm.get('terms')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('terms')?.errors?.required">
                  Please provide Terms of auction.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">Auction Category</label>
              <mat-form-field floatLabel="never">
                <mat-label>Auction Category</mat-label>
                <mat-select formControlName='category_type'>
                  <mat-option *ngFor="let type of categoryTypeFilterOptions" [value]="type.value">{{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="auctionForm.get('category_type')?.invalid && auctionForm.get('category_type')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('category_type')?.errors?.required">
                  Please select Sale Type.
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form mini-custom-file">
              <label for="" class="f-12 d-block">Auction Catalogue</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" *ngIf="!auctionForm.get('catalog_url').value"
                  (change)="handleUpload($event, 'catalog_url');" #imageInput>
                <!-- <input type="text" class="custom-file-input" *ngIf="auctionForm.get('catalog_url').value" formControlName="catalog_url"> -->
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{auctionForm.get('catalog_url').value ?
                    getFileName('catalog_url',auctionForm.get('catalog_url').value) : 'Choose a file'}}</span>
                  <span class="upload-icon2" *ngIf="!auctionForm.get('catalog_url').value"></span>
                  <span class="uplode-delet" *ngIf="auctionForm.get('catalog_url').value"
                    (click)="deleteFile('catalog_url', auctionForm.get('catalog_url').value)">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </label>
              </div>
            </div>
            <!-- <div class="col-md-4 mb-3 auction-form mini-custom-file">
              <label for="" class="f-12 d-block">Bidder Undertaking Form</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" *ngIf="!auctionForm.get('bidder_undertaking_url').value"
                  (change)="handleUpload($event, 'bidder_undertaking_url');" #imageInput>
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{auctionForm.get('bidder_undertaking_url').value ?
                    getFileName('bidder_undertaking_url',auctionForm.get('bidder_undertaking_url').value) : 'Choose a
                    file'}}</span>
                  <span class="upload-icon2" *ngIf="!auctionForm.get('bidder_undertaking_url').value"></span>
                  <span class="uplode-delet" *ngIf="auctionForm.get('bidder_undertaking_url').value"
                    (click)="deleteFile('bidder_undertaking_url', auctionForm.get('bidder_undertaking_url').value)">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </label>
              </div>
            </div> -->
            <div class="col-md-6 col-lg-4 mb-3 auction-form mini-custom-file">
              <label for="" class="f-12 d-block">Upload Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" *ngIf="!auctionForm.get('img_url').value"
                  (change)="handleUpload($event, 'img_url');" #imageInput>
                <!-- <input type="text" class="custom-file-input" *ngIf="auctionForm.get('img_url').value" formControlName="img_url"> -->
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2 file-upload">{{auctionForm.get('img_url').value ?
                    getFileName('img_url',auctionForm.get('img_url').value) : 'Choose a file'}}</span>
                  <span class="upload-icon2" *ngIf="!auctionForm.get('img_url').value"></span>
                  <span class="uplode-delet" *ngIf="auctionForm.get('img_url').value"
                    (click)="deleteFile('img_url', auctionForm.get('img_url').value)">
                    <img src="../../../assets/images/Delete_icon.svg" />
                  </span>
                </label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form mini-custom-file">
              <label for="" class="f-12 d-block">Upload Registration Form</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" *ngIf="!auctionForm.get('registration_form_url').value"
                  (change)="handleUpload($event, 'registration_form_url');" #imageInput>
                <!-- <input type="text" class="custom-file-input" formControlName="registration_form_url" *ngIf="auctionForm.get('registration_form_url').value"> -->
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{auctionForm.get('registration_form_url').value ?
                    getFileName('registration_form_url',auctionForm.get('registration_form_url').value) : 'Choose a
                    file'}}</span>
                  <span class="upload-icon2" *ngIf="!auctionForm.get('registration_form_url').value"></span>
                  <span class="uplode-delet" *ngIf="auctionForm.get('registration_form_url').value"
                    (click)="deleteFile('registration_form_url', auctionForm.get('registration_form_url').value)">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form mini-custom-file">
              <label for="" class="f-12 d-block">Upload Undertaking Form</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" *ngIf="!auctionForm.get('undertaking_form_url').value"
                  (change)="handleUpload($event, 'undertaking_form_url');" #imageInput>
                <!-- <input type="text" class="custom-file-input" *ngIf="auctionForm.get('undertaking_form_url').value" formControlName="undertaking_form_url"> -->
                <label class="custom-file-label custom-file-label2" for="front">
                  <span class="cust-upload-txt cust-upload-txt2">{{auctionForm.get('undertaking_form_url').value ?
                    getFileName('undertaking_form_url',auctionForm.get('undertaking_form_url').value) : 'Choose a
                    file'}}</span>
                  <span class="upload-icon2" *ngIf="!auctionForm.get('undertaking_form_url').value"></span>
                  <span class="uplode-delet" *ngIf="auctionForm.get('undertaking_form_url').value"
                    (click)="deleteFile('undertaking_form_url', auctionForm.get('undertaking_form_url').value)">
                    <img src="../../../assets/images/Delete_icon.svg">
                  </span>
                </label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">&nbsp;</label>
              <mat-checkbox formControlName="is_active">Active</mat-checkbox>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">&nbsp;</label>
              <mat-checkbox formControlName="is_otp_enabled">OTP-enabled</mat-checkbox>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">&nbsp;</label>
              <mat-checkbox formControlName="is_offline_emd_available">Enable Offline EMD</mat-checkbox>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">&nbsp;</label>
              <mat-checkbox formControlName="is_wallet_emd_available">Enable Wallet EMD</mat-checkbox>
            </div>
            <div class="col-md-6 col-lg-4 mb-3 auction-form">
              <label class="f-12 d-block">&nbsp;</label>
              <mat-checkbox formControlName="is_online_emd_available">Enable Online EMD</mat-checkbox>
            </div>
            <div class="form-group col-md-6 col-lg-4 auction-form">
              <label class="f-12 d-block text-left">Bid Increment Type</label>
              <mat-radio-group aria-label="Select an option" formControlName="bid_increment_type">
                <mat-radio-button value="ST" (change)="updateValidation($event.value)">Static</mat-radio-button>
                <mat-radio-button value="BR" (change)="updateValidation($event.value)">Bid Range
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="form-group col-md-6 col-lg-4 auction-form" *ngIf="auctionForm.get('bid_increment_type').value == 'ST'">
              <label class="f-12 d-block text-left">Bid Increment Amount <span class="text-warning">*</span></label>
              <mat-form-field floatLabel="never">
                <mat-label>Bid Increment Amount</mat-label>
                <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="amount">
              </mat-form-field>
              <div *ngIf="auctionForm.get('amount')?.invalid && auctionForm.get('amount')?.touched">
                <span class="validation-err d-block" *ngIf="auctionForm.get('amount')?.errors?.required">
                  Please provide bid increment amount.
                </span>
                <span class="validation-err d-block"
                  *ngIf="!auctionForm.get('amount')?.errors?.required && auctionForm.get('amount')?.errors?.pattern">
                  Characters are not allowed
                </span>
              </div>
            </div>
            <div class="col-12 mb-3" *ngIf="auctionForm.get('bid_increment_type').value == 'BR'">
              <div class="row add-section m-0">
                <div class="col-sm-12 sub-title p-0 mb-2">
                  <h4 class="title">Bid Range Increment</h4>
                </div>
                <ng-container formArrayName="bid_increments">
                  <ng-container *ngFor="let details of bidArray.controls; let i = index; let last = last;">
                    <ng-container [formGroupName]="i">
                      <div class="form-group col-md-3 auction-form">
                        <label class="f-12 d-block text-left">Bid Increment From <span
                            class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Bid Increment From</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="bid_start_amount">
                        </mat-form-field>
                        <div
                          *ngIf="details.get('bid_start_amount')?.invalid && details.get('bid_start_amount')?.touched">
                          <span class="validation-err d-block"
                            *ngIf="details.get('bid_start_amount')?.errors?.required">
                            Please provide bid increment from range.
                          </span>
                          <span class="validation-err d-block"
                            *ngIf="!details.get('bid_start_amount')?.errors?.required && details.get('bid_start_amount')?.errors?.pattern">
                            Characters are not allowed
                          </span>
                        </div>
                      </div>
                      <div class="form-group col-md-3 auction-form">
                        <label class="f-12 d-block text-left">Bid Increment To <span
                            class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Bid Increment To</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="bid_end_amount">
                        </mat-form-field>
                        <div *ngIf="details.get('bid_end_amount')?.invalid && details.get('bid_end_amount')?.touched">
                          <span class="validation-err d-block" *ngIf="details.get('bid_end_amount')?.errors?.required">
                            Please provide bid increment range upto.
                          </span>
                          <span class="validation-err d-block"
                            *ngIf="!details.get('bid_end_amount')?.errors?.required && details.get('bid_end_amount')?.errors?.pattern">
                            Characters are not allowed
                          </span>
                        </div>
                      </div>
                      <div class="form-group col-md-3 auction-form">
                        <label class="f-12 d-block text-left">Bid Increment Amount <span
                            class="text-warning">*</span></label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Bid Increment Amount</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text" class=""
                            formControlName="amount">
                        </mat-form-field>
                        <div *ngIf="details.get('amount')?.invalid && details.get('amount')?.touched">
                          <span class="validation-err d-block" *ngIf="details.get('amount')?.errors?.required">
                            Please provide bid increment amount.
                          </span>
                          <span class="validation-err d-block"
                            *ngIf="!details.get('amount')?.errors?.required && details.get('amount')?.errors?.pattern">
                            Characters are not allowed
                          </span>
                        </div>
                      </div>
                      <div class="form-group col-md-3 text-right">
                        <button class="btn default-btn mt-4" *ngIf="last" (click)="addBidArray()">Add More</button>
                        <button class="btn default-btn mt-4 mx-1" *ngIf="!last"
                          (click)="removeBidDetails(i)">Remove</button>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="add-info-main col-12" *ngIf="addInfo">
              <div class="additional-inner">
                <section class="add-section">
                  <div class="row">
                    <div class="col-sm-12 sub-title">
                      <h4 class="title">Add Additional Information</h4>
                    </div>
                  </div>
                  <div class="add-info-form p-2">
                    <div class="row mb-3">
                      <div class="col-sm-6 form-group mb-3 auction-form">
                        <label class="f-12 d-block">On Behalf of our client</label>
                        <textarea matInput type="text" placeholder="On Behalf of our client"
                          formControlName="on_behalf_of"></textarea>
                      </div>
                    </div>
                    <div class="row mb-3 add-section w-100">
                      <div class="col-md-12 sub-title p-0">
                        <h4 class="title">Important points for Buyers</h4>
                      </div>
                      <div class="col-md-6 col-lg-4 form-group auction-form ">
                        <label class="f-12 d-block">Buyers Premium</label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Buyers Premium</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text"
                            formControlName="buyers_premium">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-lg-4 form-group  auction-form">
                        <label class="f-12 d-block">TAX</label>
                        <mat-form-field floatLabel="never">
                          <mat-label>TAX</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text" formControlName="tax">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-lg-4 form-group  auction-form">
                        <label class="f-12 d-block">Payment Date</label>
                        <mat-form-field floatLabel="never" class="datepicker-input">
                          <mat-label>Payment Date</mat-label>
                          <input matInput class="form-control" [min]="minDate" [matDatepicker]="pdate"
                            formControlName="payment_date" readonly>
                          <mat-datepicker-toggle class="calender-icon" matSuffix [for]="pdate">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                              <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #pdate disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-lg-4 form-group auction-form ">
                        <label class="f-12 d-block">Asset Removal Date</label>
                        <mat-form-field floatLabel="never" class="datepicker-input">
                          <mat-label>Asset Removal Date</mat-label>
                          <input matInput class="form-control" [min]="minDate" [matDatepicker]="removaldate"
                            formControlName="asset_removal_date" readonly>
                          <mat-datepicker-toggle class="calender-icon" matSuffix [for]="removaldate">
                            <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                              <img src="../../../assets/images/calendar.svg" alt="">
                            </mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #removaldate disabled="false"></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 col-lg-4 form-group  auction-form">
                        <label class="f-12 d-block">Additional Information</label>
                        <mat-form-field floatLabel="never">
                          <mat-label>Additional Information</mat-label>
                          <input matInput placeholder="" autocomplete="off" type="text"
                            formControlName="additional_info">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row mb-3 add-section w-100" formArrayName="contacts">
                      <div class="col-md-12 sub-title p-0">
                        <h4 class="title">Contact Details</h4>
                      </div>
                      <ng-container
                        *ngFor="let contact of auctionContact.controls; let j = index; let contactLast = last;">
                        <ng-container [formGroupName]="j">
                          <div class="col-md-6 col-lg-2 form-group auction-form ">
                            <label class="f-12 d-block">Contact Person Name</label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Contact Person Name</mat-label>
                              <mat-select class="form-control" placeholder="Contact Person Name"
                                (selectionChange)="onCustomerSelection('auction',contact,$event?.value)"
                                formControlName="user">
                                <mat-option value={{customer?.user?.cognito_id}}
                                  *ngFor="let customer of customerArray;">
                                  {{customer?.user?.first_name}} {{customer?.user?.last_name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 col-lg-2 form-group auction-form ">
                            <label class="f-12 d-block">Contact Number</label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Contact Number</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" formControlName="mobile_no"
                                readonly>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 col-lg-3 form-group auction-form ">
                            <label class="f-12 d-block">Email Address</label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Email Address</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" formControlName="email"
                                readonly>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 col-lg-2 form-group auction-form ">
                            <label class="f-12 d-block">Location</label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Location</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" formControlName="location"
                                readonly>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 col-lg-3 text-right">
                            <button mat-button class="default-btn mt-4" *ngIf="contactLast"
                              (click)="addAuctionContact()" [disabled]="!contact.get('user').value">Add Contact</button>
                            <button mat-button class="default-btn mt-4 mx-1" *ngIf="contact.get('user').value"
                              (click)="removeAuctionContact(j)">Remove</button>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 form-group mb-3 auction-form">
                        <label class="f-12 d-block">Add Terms/Disclaimer</label>
                        <textarea matInput type="text" placeholder="Terms/Disclaimer"
                          formControlName="disclaimer"></textarea>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="row my-2 m-0" formArrayName="subauctions">
            <div class="col-12 add-section"
              *ngFor="let subauction of subAuctions.controls; index as k; let subLast = last;">
              <ng-container [formGroupName]="k">
                <div class="row mt-3">
                  <div class="col-12 d-flex justify-content-between sub-title">
                    <h4 class="title">Sub Auction {{k+1}}</h4>
                    <button class="btn default-btn" (click)="removeSubauction(k)">Remove</button>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Sub-Auction Name <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Sub-Auction Name</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="text" formControlName='name' class="">
                    </mat-form-field>
                    <div *ngIf="subauction.get('name')?.invalid && subauction.get('name')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('name')?.errors?.required">
                        Please provide Sub-Auction Name
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Sub-Auction Start Date & Time <span
                        class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <mat-label>Sub-Auction Start Date & Time</mat-label>
                      <input matInput [owlDateTime]="sub_dp1" [min]="getAuctionStartDate()" [max]="getAuctionEndDate()"
                        autocomplete="off" formControlName='starts_at' class="" readonly>
                      <span class="calender-icon" [owlDateTimeTrigger]="sub_dp1">
                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </span>
                      <owl-date-time #sub_dp1 [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div *ngIf="subauction.get('starts_at')?.invalid && subauction.get('starts_at')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('starts_at')?.errors?.required">
                        Please select Sub-Auction Start date.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Sub-Auction End Date & Time <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <mat-label>Sub-Auction End Date & Time</mat-label>
                      <input matInput [owlDateTime]="sub_dp2" [min]="getSubAuctionStartDate(k)"
                        [max]="getAuctionEndDate()" autocomplete="off" formControlName='ends_at' class="" readonly>
                      <span class="calender-icon" [owlDateTimeTrigger]="sub_dp2">
                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </span>
                      <owl-date-time #sub_dp2 [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div *ngIf="subauction.get('ends_at')?.invalid && subauction.get('ends_at')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('ends_at')?.errors?.required">
                        Please select Auction End date.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Inspection Start Date & Time</label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <mat-label>Inspection Start Date & Time</mat-label>
                      <input matInput [owlDateTime]="sub_dp3" [min]="toEdit ? '' : minDate" autocomplete="off"
                        formControlName='inspection_starts_at' class="" readonly>
                      <span class="calender-icon" [owlDateTimeTrigger]="sub_dp3">
                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </span>
                      <owl-date-time #sub_dp3 [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div
                      *ngIf="subauction.get('inspection_starts_at')?.invalid && subauction.get('inspection_starts_at')?.touched">
                      <span class="validation-err d-block"
                        *ngIf="subauction.get('inspection_starts_at')?.errors?.required">
                        Please select Inspection Start date.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Inspection End Date & Time</label>
                    <mat-form-field floatLabel="never" class="datepicker-input">
                      <mat-label>Inspection End Date & Time</mat-label>
                      <input matInput [owlDateTime]="sub_dp4" [min]="toEdit ? '' : minDate" autocomplete="off"
                        formControlName='inspection_ends_at' class="" readonly>
                      <span class="calender-icon" [owlDateTimeTrigger]="sub_dp4">
                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                          <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                      </span>
                      <owl-date-time #sub_dp4 [hour12Timer]="true"></owl-date-time>
                    </mat-form-field>
                    <div
                      *ngIf="subauction.get('inspection_ends_at')?.invalid && subauction.get('inspection_ends_at')?.touched">
                      <span class="validation-err d-block"
                        *ngIf="subauction.get('inspection_ends_at')?.errors?.required">
                        Please select Inspection Start date.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Owner <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Owner</mat-label>
                      <mat-select class="form-control" placeholder="" formControlName="manager">
                        <mat-option value={{customer?.user?.cognito_id}} *ngFor="let customer of customerArray;">
                          {{customer?.user?.first_name}} {{customer?.user?.last_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="subauction.get('manager')?.invalid && subauction.get('manager')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('manager')?.errors?.required">
                        Please provide Owner.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Current Location <span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Current Location</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="text" formControlName="city" class="">
                    </mat-form-field>
                    <div *ngIf="subauction.get('city')?.invalid && subauction.get('city')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('city')?.errors?.required">
                        Please provide location.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Allow Bid <span class="text-warning">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="is_proxy">
                      <mat-radio-button value='true'>Yes</mat-radio-button>
                      <mat-radio-button value='false'>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Multiplier factor for credit Limit </label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Multiplier factor for credit Limit</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="text"
                        formControlName="credit_limit_multiplier" class="">
                    </mat-form-field>
                    <div
                      *ngIf="subauction.get('credit_limit_multiplier')?.invalid && subauction.get('credit_limit_multiplier')?.touched">
                      <span class="validation-err d-block"
                        *ngIf="subauction.get('credit_limit_multiplier')?.errors?.required">
                        Please provide Multiplier factor.
                      </span>
                      <span class="validation-err d-block"
                        *ngIf="!subauction.get('credit_limit_multiplier')?.errors?.required && subauction.get('credit_limit_multiplier')?.errors?.pattern">
                        Characters are not allowed
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Tax Applicability <span class="text-warning">*</span></label>
                    <mat-radio-group aria-label="Select an option" formControlName="is_tax_included">
                      <mat-radio-button value='true'>Yes</mat-radio-button>
                      <mat-radio-button value='false'>No</mat-radio-button>
                    </mat-radio-group>
                    <div
                      *ngIf="subauction.get('is_tax_included')?.invalid && subauction.get('is_tax_included')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('is_tax_included')?.errors?.required">
                        Please select tax applicability.
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Last Minute Bid(in minutes)</label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Last Minute Bid(in minutes)</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="number" class=""
                        formControlName="last_minute_bid">
                    </mat-form-field>
                    <div
                      *ngIf="subauction.get('last_minute_bid')?.invalid && subauction.get('last_minute_bid')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('last_minute_bid')?.errors?.pattern">
                        Characters are not allowed
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Extended To(in minutes)</label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Extended To(in minutes)</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="number" class=""
                        formControlName="extended_to">
                    </mat-form-field>
                    <div *ngIf="subauction.get('extended_to')?.invalid && subauction.get('extended_to')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('extended_to')?.errors?.pattern">
                        Characters are not allowed
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3 auction-form">
                    <label class="f-12 d-block">Terms of Auction</label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Terms of Auction</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="terms">
                    </mat-form-field>
                    <div *ngIf="subauction.get('terms')?.invalid && subauction.get('terms')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('terms')?.errors?.required">
                        Please provide Terms of auction.
                      </span>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="f-12 d-block text-left">Bid Increment Type</label>
                    <mat-radio-group aria-label="Select an option" formControlName="bid_increment_type">
                      <mat-radio-button value="ST" (change)="updateSubauctionValidation($event.value,k)">Static
                      </mat-radio-button>
                      <mat-radio-button value="BR" (change)="updateSubauctionValidation($event.value,k)">Bid Range
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="form-group col-md-4" *ngIf="subauction.get('bid_increment_type').value == 'ST'">
                    <label class="f-12 d-block text-left">Bid Increment Amount <span
                        class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                      <mat-label>Bid Increment Amount</mat-label>
                      <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="amount">
                    </mat-form-field>
                    <div *ngIf="subauction.get('amount')?.invalid && subauction.get('amount')?.touched">
                      <span class="validation-err d-block" *ngIf="subauction.get('amount')?.errors?.required">
                        Please provide bid increment amount.
                      </span>
                      <span class="validation-err d-block"
                        *ngIf="!subauction.get('amount')?.errors?.required && subauction.get('amount')?.errors?.pattern">
                        Characters are not allowed
                      </span>
                    </div>
                  </div>
                  <div class="col-12 mb-3" *ngIf="subauction.get('bid_increment_type').value == 'BR'">
                    <div class="row add-section">
                      <div class="col-sm-12 sub-title mb-2">
                        <h4 class="title">Bid Range Increment</h4>
                      </div>
                      <ng-container formArrayName="bid_increments"
                        *ngFor="let details of subAuctionBidArray(k).controls; let l = index; let subBidlast = last;">
                        <ng-container [formGroupName]="l">
                          <div class="form-group col-md-3">
                            <label class="f-12 d-block text-left">Bid Increment From <span
                                class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Bid Increment From</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" class=""
                                formControlName="bid_start_amount">
                            </mat-form-field>
                            <div
                              *ngIf="details.get('bid_start_amount')?.invalid && details.get('bid_start_amount')?.touched">
                              <span class="validation-err d-block"
                                *ngIf="details.get('bid_start_amount')?.errors?.required">
                                Please provide bid increment range from.
                              </span>
                              <span class="validation-err d-block"
                                *ngIf="!details.get('bid_start_amount')?.errors?.required && details.get('bid_start_amount')?.errors?.pattern">
                                Characters are not allowed
                              </span>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label class="f-12 d-block text-left">Bid Increment To <span
                                class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Bid Increment To</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" class=""
                                formControlName="bid_end_amount">
                            </mat-form-field>
                            <div
                              *ngIf="details.get('bid_end_amount')?.invalid && details.get('bid_end_amount')?.touched">
                              <span class="validation-err d-block"
                                *ngIf="details.get('bid_end_amount')?.errors?.required">
                                Please provide bid increment range upto.
                              </span>
                              <span class="validation-err d-block"
                                *ngIf="!details.get('bid_end_amount')?.errors?.required && details.get('bid_end_amount')?.errors?.pattern">
                                Characters are not allowed
                              </span>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label class="f-12 d-block text-left">Bid Increment Amount <span
                                class="text-warning">*</span></label>
                            <mat-form-field floatLabel="never">
                              <mat-label>Bid Increment Amount</mat-label>
                              <input matInput placeholder="" autocomplete="off" type="text" class=""
                                formControlName="amount">
                            </mat-form-field>
                            <div *ngIf="details.get('amount')?.invalid && details.get('amount')?.touched">
                              <span class="validation-err d-block" *ngIf="details.get('amount')?.errors?.required">
                                Please provide bid increment amount.
                              </span>
                              <span class="validation-err d-block"
                                *ngIf="!details.get('amount')?.errors?.required && details.get('amount')?.errors?.pattern">
                                Characters are not allowed
                              </span>
                            </div>
                          </div>
                          <div class="form-group col-md-3 text-right">
                            <button class="btn default-btn mt-4" *ngIf="subBidlast" (click)="addSubBidArray(k)">Add
                              More</button>
                            <button class="btn default-btn mt-4 mx-1" *ngIf="!subBidlast"
                              (click)="removeSubBidDetails(k, l)">Remove</button>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <div class="add-info-main col-12" *ngIf="addInfoTriggerArray.indexOf(k) != -1">
                    <div class="additional-inner mb-3">
                      <section class="add-section">
                        <div class="row">
                          <div class="col-sm-12 sub-title">
                            <h4 class="title">Add Additional Information</h4>
                          </div>
                        </div>
                        <div class="add-info-form p-2">
                          <div class="row mb-3">
                            <div class="col-sm-6 form-group mb-3">
                              <label class="f-12 d-block">On Behalf of our client</label>
                              <textarea matInput type="text" placeholder="On Behalf of our client"
                                formControlName="on_behalf_of"></textarea>
                            </div>
                          </div>
                          <div class="row mb-3 add-section w-100 m-0">
                            <div class="col-md-12 sub-title p-0">
                              <h4 class="title">Important points for Buyers</h4>
                            </div>
                            <div class="col-md-4">
                              <label class="f-12 d-block">Buyers Premium</label>
                              <mat-form-field floatLabel="never">
                                <mat-label>Buyers Premium</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text"
                                  formControlName="buyers_premium">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <label class="f-12 d-block">TAX</label>
                              <mat-form-field floatLabel="never">
                                <mat-label>TAX</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text" formControlName="tax">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <label class="f-12 d-block">Payment Date</label>
                              <mat-form-field floatLabel="never" class="datepicker-input">
                                <mat-label>Payment Date</mat-label>
                                <input matInput class="form-control" [min]="minDate" [matDatepicker]="subpdate"
                                  formControlName="payment_date" readonly>
                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="subpdate">
                                  <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                  </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #subpdate disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <label class="f-12 d-block">Asset Removal Date</label>
                              <mat-form-field floatLabel="never" class="datepicker-input">
                                <mat-label>Asset Removal Date</mat-label>
                                <input matInput class="form-control" [min]="minDate" [matDatepicker]="subremovaldate"
                                  formControlName="asset_removal_date" readonly>
                                <mat-datepicker-toggle class="calender-icon" matSuffix [for]="subremovaldate">
                                  <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                    <img src="../../../assets/images/calendar.svg" alt="">
                                  </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #subremovaldate disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <label class="f-12 d-block">Additional Information</label>
                              <mat-form-field floatLabel="never">
                                <mat-label>Additional Information</mat-label>
                                <input matInput placeholder="" autocomplete="off" type="text"
                                  formControlName="additional_info">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row mb-3 add-section w-100 m-0" formArrayName="contacts">
                            <div class="col-md-12 sub-title p-0">
                              <h4 class="title">Contact Details</h4>
                            </div>
                            <ng-container
                              *ngFor="let contact of subAuctionContact(k).controls; let m = index; let subContactLast = last;">
                              <ng-container [formGroupName]="m">
                                <div class="col-md-2 form-group auction-form ">
                                  <label class="f-12 d-block">Contact Person Name</label>
                                  <mat-form-field floatLabel="never">
                                    <mat-label>Contact Person Name</mat-label>
                                    <mat-select class="form-control" placeholder="Contact Person Name"
                                      (selectionChange)="onCustomerSelection('subauction',contact,$event?.value)"
                                      formControlName="user">
                                      <mat-option value={{customer?.user?.cognito_id}}
                                        *ngFor="let customer of customerArray;">
                                        {{customer?.user?.first_name}} {{customer?.user?.last_name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2 form-group auction-form ">
                                  <label class="f-12 d-block">Contact Number</label>
                                  <mat-form-field floatLabel="never">
                                    <mat-label>Contact Number</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text"
                                      formControlName="mobile_no" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3 form-group auction-form ">
                                  <label class="f-12 d-block">Email Address</label>
                                  <mat-form-field floatLabel="never">
                                    <mat-label>Email Address</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text"
                                      formControlName="email" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-2 form-group auction-form ">
                                  <label class="f-12 d-block">Location</label>
                                  <mat-form-field floatLabel="never">
                                    <mat-label>Location</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text"
                                      formControlName="location" readonly>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3 text-right">
                                  <button mat-button class="default-btn mt-4" *ngIf="subContactLast"
                                    (click)="addSubAuctionContact(k)" [disabled]="!contact.get('user').value">Add
                                    Contact</button>
                                  <button mat-button class="mx-1 default-btn" *ngIf="contact.get('user').value"
                                    (click)="removeSubAuctionContact(k,m)">Remove</button>
                                </div>
                              </ng-container>
                            </ng-container>
                          </div>
                          <div class="row">
                            <div class="col-sm-12 form-group mb-3">
                              <label class="f-12 d-block">Add Terms/Disclaimer</label>
                              <textarea matInput type="text" placeholder="Terms/Disclaimer"
                                formControlName="disclaimer"></textarea>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <div class="button-wrapper text-right col-12">
                    <button mat-button class="default-btn mx-2" (click)="addInfoTriggerFun(k)">Add Additional
                      Info.</button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row">
            <div class="button-wrapper text-right col-12">
              <button class="default-btn-outline mx-2" mat-button
                [routerLink]="['/admin-dashboard/auction/auction-list']">Close</button>
              <button mat-button class="default-btn mx-2" (click)="addInfo = !addInfo"
                *ngIf="auctionForm.get('has_subauctions').value == 'false'">Add Additional Info.</button>
              <button mat-button class="default-btn mx-2" (click)="addSubauction()"
                *ngIf="auctionForm.get('has_subauctions').value == 'true'">Add Subauctions</button>
              <button class="default-btn mx-2" mat-button [disabled]="auctionForm.invalid"
                [ngStyle]="{'cursor': auctionForm.valid ? 'pointer' : 'not-allowed'}"
                (click)="submitForm(auctionForm?.value)">{{toEdit ? 'Update' : 'Save'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>