 <main class="container-fluid">
    <section class="myself-details-main-wrapper">
      <div class="row">
        <div class="col-12 p-0">
            <app-progress-steps [steps]="steps"></app-progress-steps>
        </div>
      </div>
    </section>
    <app-vaahan-details [vaahanDetailsEditable]="this.vaahanDetailsEditable"></app-vaahan-details>
    <app-basic-details-section></app-basic-details-section>
    <div class="mt-4 mt-lg-5 mt-md-5 pl-30 pr-30">
    <div class="row">
        <div class="col-6 mb-4">
            <button mat-button class="default-btn-outline" (click)="back()">Back</button>
        </div>
        <div class="col-6 mb-4 text-right">
            <button mat-button class="default-btn"  (click)="next()">Next</button>
        </div>
    </div>
</div>
</main>