<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Valuation Settings</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-md-5 col-lg-6 col-6">
                <h3 class="admin-page-title">Valuation Settings</h3>
            </div>
            <div class="col-lg-6 col-md-7 col-6 valuation-btn text-right">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg mat-button" (click)="export()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <button mat-button class="default-btn add-btn" (click)="showForm = !showForm" *ngIf="!showForm"><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>
            </div>
        </div>

        <div class="user-management">
            <div class="emd-container" *ngIf="showForm">
                <h4 class="title">Add New Valuation Settings</h4>
                <div class="add-certificate-section">
                    <form [formGroup]="valuationSettingsForm">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-4 col-lg-4">
                                <label class="f-12 d-block">Valuation Type<span class="text-warning">*</span></label>
                                <mat-select placeholder="Select Valuation Type" required formControlName="valuationType" (selectionChange)="changeValuationType($event?.value)">
                                    <mat-option [value]="1">
                                        Insta Valuation
                                    </mat-option>
                                    <mat-option [value]="2">
                                        Advance Valuation
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-4 mb-3" *ngIf="this.valuationSettingsForm.get('valuationType').value == '1'">
                                <label for="" class="f-12 d-block">Asset Category<span class="required">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-select placeholder="Select Asset Category" required formControlName="asset_type">
                                        <mat-option *ngFor="let category of assetCategoryList" [value]="category.id">{{category.type}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="(valuationSettingsForm.get('asset_type')?.touched || submitted) && valuationSettingsForm?.get('asset_type')?.hasError('required')">
                                    <span class="validation-err">Please select asset category.</span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-4 mb-3" *ngIf="this.valuationSettingsForm.get('valuationType').value == '1'">
                                <label for="" class="f-12 d-block">Category<span class="required">*</span></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <input matInput [matAutocomplete]="auto" placeholder="Enter Category" type="text" (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategorySelect($event.option.value)">
                                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}
                                        </mat-option>
                                        <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div *ngIf="(valuationSettingsForm.get('category')?.touched || submitted) && valuationSettingsForm?.get('category')?.hasError('required')">
                                    <span class="validation-err">Please select the category.</span>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-md-4 col-lg-4 mb-3" *ngIf="this.valuationSettingsForm.get('valuationType').value == '2'">
                                <label for="" class="f-12 d-block">Service<span class="required">*</span></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <mat-select placeholder="Select Valuation Type" required formControlName="service">
                                        <mat-option [value]="3">
                                            Inspection
                                        </mat-option>
                                        <mat-option [value]="2">
                                            Valuation (include Assets Inspection)
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="(valuationSettingsForm.get('service')?.touched || submitted) && valuationSettingsForm?.get('service')?.hasError('required')">
                                    <span class="validation-err">Please select the service.</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-4" *ngIf="this.valuationSettingsForm.get('valuationType').value == '1' ||this.valuationSettingsForm.get('valuationType').value == '2'">
                                <label class="f-12 d-block">Valuation Amount</label>
                                <input matInput id="amount" formControlName="amount" placeholder="Enter Amount">
                                <div *ngIf="valuationSettingsForm.get('amount')?.errors && valuationSettingsForm.get('amount')?.invalid && (valuationSettingsForm.get('amount')?.touched || valuationSettingsForm.get('amount')?.dirty)">
                                    <span class="validation-err d-block" *ngIf="valuationSettingsForm.get('amount')?.errors?.required">
                                    Please enter Valuation amount
                                </span>
                                    <span class="validation-err d-block" *ngIf="!valuationSettingsForm.get('amount')?.errors?.required && valuationSettingsForm.get('amount')?.errors?.pattern">
                                    Characters are not allowed
                                </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-4" *ngIf="this.valuationSettingsForm.get('valuationType').value == '1'">
                                <label class="d-block invisible">sd</label>
                                <mat-checkbox formControlName="is_registrable">
                                    Is Registrable
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="row ng-scope">
                            <div class="col-md-12">
                                <div class="save-btn">
                                    <button class="default-btn-outline mr-2 mt-sm-2" mat-button (click)="closeForm()">Close</button>
                                    <button mat-button class="default-btn" *ngIf="!this.editId" [disabled]="!valuationSettingsForm.valid" [ngStyle]="{'cursor': valuationSettingsForm.valid ? 'pointer' : 'not-allowed'}" (click)="saveData()">Save</button>
                                    <button mat-button class="default-btn" *ngIf="this.editId" [disabled]="!valuationSettingsForm.valid" [ngStyle]="{'cursor': valuationSettingsForm.valid ? 'pointer' : 'not-allowed'}" (click)="updateData()">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="user-management-top-section">
                <div class="row my-3">
                    <div class="col-md-6 col-lg-4 col-sm-6 mb-3 mb-md-0 md-lg-0">
                        <mat-form-field floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <mat-form-field floatLabel="never">
                            <mat-select class="form-control" placeholder="Select Valuation Type" [(ngModel)]="valuationType" (selectionChange)="chargeStatusFilter($event?.value)">
                                <mat-option>Select Valuation Type</mat-option>
                                <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                    {{status?.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Valuation type"
                            (selectionChange)="chargeStatusFilter($event?.value)"  [(ngModel)]="valuationType">
                            <mat-option>Select Valuation type</mat-option>
                            <mat-option [value]="1">
                                Insta Valuation
                            </mat-option>
                            <mat-option [value]="2">
                                Advance Valuation
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    </div>
                    <!-- <div class="col-md-3 col-sm-6">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Amount type"
                            (selectionChange)="amountStatusFilter($event?.value)">
                            <mat-option>Select Amount type</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of amountTypeOptions;">
                                {{status?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->

                </div>
            </div>
        </div>

        <div class="custom-table-main">
            <div class="desktop-table">
                <div class="asset-table">
                    <div class="table-responsive inner-table mb-3">
                        <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="valuationDataSouce" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Id</span> {{ element.id }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="asset_type">
                                <th mat-header-cell *matHeaderCellDef>Asset Category </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Asset Category</span> {{getAssetCategory(element.asset_type)}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef> Category </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Category</span> {{ element?.category?.display_name }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="service">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Service</span> {{ getElementService(element.service) }} </td>
                            </ng-container>
                            <ng-container matColumnDef="fee">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee</th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Fee</span> {{ element.fee }} </td>
                            </ng-container>

                            <ng-container matColumnDef="is_registrable">
                                <th mat-header-cell *matHeaderCellDef>Is Registrable </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Is Registrable</span> {{ element.is_registrable? "Yes":"No" }} </td>
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <span class="mobile-label">Actions</span>
                                    <div>
                                        <button class="simple-btn " mat-button (click)="action('Edit',element.id)">
                                    <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
                                </button>
                                        <button mat-button class="simple-btn delet-icon" (click)="action('Delete',element.id)">
                                    <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
                                </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
                        </table>
                        <div class="no-record" *ngIf="!valuationDataSouce?.data?.length">No records found</div>
                    </div>
                </div>
                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </div>




        </div>
    </div>
</div>