<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4>Confirm</h4>
        <button mat-button (click)="backClick()" class="close-btn"><img src="../../../../../../assets/images/Close.svg"
                alt=""></button>
    </div>
    <div class="popup-body">
        <div>Please sign a bidder undertaking form with iQuippo to proceed for the auction registration. This is a one
            time activity which you need
            to perform and upon successful completion, you can participate in all iQuippo auctions. </div>
        <div class="text-right dialog-actions-container">
            <button class="default-btn-outline plr-md-40 mr-2" (click)="backClick()" mat-button>Cancel</button>
            <button class="default-btn plr-md-40" (click)="onProceed()" mat-button>Click here to proceed</button>
        </div>
    </div>
</div>

