.popup-hdr {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 20px;
    border-bottom: 1px solid #A0ADb7;
    color: #000000;
    position: relative;
  }
  
  .popup-body {
    padding: 20px ;
    max-height: 80vh;
    overflow-y: auto;
  }
  .popup-available-space{
    padding: 12px 20px;
    color: #204555;
    background: #E2F5E9;
    border-radius: 6px;
  }
  .popup {
    background: #fff;
    border-radius: 20px;
  }
  /* .close-btn{
    background: transparent;
    float: right;
    border: none;
  } */
  
  
  .close-btn:focus {
    outline: unset !important;
  }
  
  .dialog-actions-container{
    margin-top: 16px;
  }
  


  @media screen and (max-width: 576px) {
 
    .default-btn-outline, .default-btn {font-size: 12px;}

}  