<div class="popup">
    <div class="popup-hdr">
       Disclaimer
       <button mat-button (click)="close()" class="close-btn"><img src="../../../../../../assets/images/Close.svg" alt=""></button> 
    </div>
    <div class="popup-body">

       
        <div class="row">
            <div class="col-md-12">
           <p>
            You acknowledge and undertake that you are accessing the services on the website and transacting at your own risk and using your best and prudent judgment before entering into any transactions through the website. </p>

           <p> We further expressly disclaim any warranties or representations (express or implied) in respect of quality, suitability, accuracy, reliability, completeness, timeliness, performance, safety, merchantability, fitness for a particular purpose, or legality of the products listed or displayed or transacted or the content (including product or pricing information and/or specifications) on the website. We do not implicitly or explicitly support or endorse the sale or purchase of any products on the website. At no time shall any right, title or interest in the products sold through or displayed on the website vest with IQuippo nor shall IQuippo have any obligations or liabilities in respect of any transactions of sale/purchase/otherwise on the website.
           </p>
            </div>

           
        </div>
    </div>
</div>