.popup-hdr {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding: 15px;
  color: #fff;
  background-color: #0f3d94;
  position: relative;
  margin-bottom: 5px;
}

.popup-body {
  padding: 15px;
  overflow-y: auto;
}

.popup-available-space {
  padding: 12px 20px;
  color: #204555;
  background: #e2f5e9;
  border-radius: 6px;
}

.popup {
  background: #fff;
  border-radius: 20px;
}

.close-btn {
  background: #fff;
  float: right;
  border: none;
  min-width: auto;
  margin-top: -5px;
}

.close-btn img {
  width: 15px;
  margin-top: -1px;
}

.close-btn:focus {
  outline: unset !important;
}

.dialog-actions-container {
  margin-top: 16px;
}

.label-title {
  margin-bottom: 7px;
  color: #a4a9ad;
  display: block;
}

.popup-hdr {
  margin-bottom: 0px;
}
.popup-body {
  position: relative;
  height: 400px;

  overflow-y: auto !important;
  overflow-x: hidden;
}

.query-img-wrapper img {
  width: 400px;
  margin-top: -70px;
}

.form-wrap-enquiry {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.text-wrapper {
  padding: 45px;
}
.enquiry-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.wrapper-demo-banner {
  min-height: 150px;
  background: transparent linear-gradient(279deg, #1a50b1 0%, #a01922 100%);
  position: relative;
}
@media screen and (max-width: 767px) {
  .form-wrap-enquiry {
    position: unset;
    width: 90%;
    margin: 0 auto;
  }
  .text-wrapper {
    padding: 20px;
  }
}

.close-btn{
  background: #fff;
  float: right;
  border: none; 
  min-width: auto;
  margin-top: -5px;
}

.close-btn img {width: 15px; margin-top: -1px;}

.close-btn:focus {
  outline: unset !important;
}