p {
  margin: 0;
}

.greenColor{
  color:limegreen;
}

.product-wrapper-box{ 
  margin: 15px;
}

.payment-right-card {
  background: #fff;
  padding: 0px 0px 10px;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 10px;
}

.equipment-details {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.equipment-details h2 {
  font-weight: 600;
}
.equipmentImg-wrapper img {
  width: 300px;
  margin: 0px auto;
}
.equipmentImg-wrapper {
  text-align: center;
  border: 1px solid #d8d8d8;
  padding: 10px;
  border-radius: 8px;
  background: #f8fafb;
}

.extra-detail {
  background: #fff1de;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e6c599;
  font-style: italic;
}
table.table.table-bordered.payment-details {
  background: #fff;
}
.payment-details thead th {
  background: #0d4fa3;
  border-radius: 15px 15px 0 0;
  border-color: transparent;
}

.payment-details thead th h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.payment-details tbody tr td:first-child {
  width: 300px;
  background: #f0f3f5;
}

.payment-details tbody tr:nth-last-child(-n + 2) td {
  background: transparent;
}

.payment-details tbody tr:nth-last-child(3) td {
  background: #e8e8e8;
}
.payment-details tbody tr:nth-last-child(3) td h4 {
  margin-bottom: 0;
  font-weight: 500;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

/* button.theme-btn,
button.theme-btn:hover {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  height: auto;
} */

.payment-title h3 {
  font-size: 18px;
  margin-bottom: 1em;
}
.grand-total td {
  font-size: 18px;
}
.bid-your span {
  border: 1px solid #094fa3;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: #094fa3;
  font-weight: 500;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 6px; 
}
.equip-detail { 
  padding: 10px;
}

/* .payment-card-fix {
  top: 85px;
  z-index: 1;
  position: fixed;
  right: 0px;
} */

.asset-detail .category-txt {
  color: #b1b1b1;
}

.asset-detail {
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 0 6px #d2dce6;
  border-radius: 6px; 
  margin-bottom: 15px;
  margin-top: 20px;
}

.product-feature ul li {
  background: #f7f7f7;
  margin: 5px;
  flex: 1 1 32%;
  max-width: 32%;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}

.specs-value .product-feature-txt strong {font-weight: 500;}
.product-feature ul li p {font-weight: 600;}
.equip-detail h2 {
  font-size: 18px;
  font-weight: 500;
}
tr.grand-total h4 {
  font-size: 18px;
}
.equip-detail h5 {
  font-size: 14px;
  margin: 0px;
  line-height: normal;
  font-weight: 400;
}
.specs-value {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: 0em;
}
.online-payment-section,
.wallet-section {
  display: none;
}

.terms-txt {
  vertical-align: middle;
  display: inline-block;
  margin-top: -9px;
  margin-left: 5px;
  text-decoration: underline;
}

.payment-method.active .online-payment-section,
.payment-method.active .wallet-section {
  display: block;
}
.payment-method.active {
  border: 1px solid #e4e4e4;
}
.payment-method.active .online-payment-section .online-payment-table,
.payment-method.active .wallet-section {
  margin: 10px;
}

.auction-wise-pay {
  padding: 0px 15px;
  background: #f0f3f5;
  border: 1px solid #ccc;
}
.aucion-wise-heaidng h4 {
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
}
.auction-select-btn button {
  min-width: 100%;
}
.auction-id ul {
  margin: 0px;
  padding: 10px;
  /* background: #fff;
  border: 1px solid #ccc; */
}
.auction-id ul li {
  display: inline-block;
}
.auction-amount h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.custom-file .cust-upload-txt2 {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  top: 9px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.payment-section .payment-method.active {
  background: #fff;
  border: 1px solid #e4e4e4;
}
.payment-method h4 {
  margin: 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  margin-bottom: 10px;
  background: #f0f3f5;
  border: 1px solid #ccc;
}
.payment-method.wallet-payment .wallet-pay-amount {
  font-size: 14px;
}
.delet-icon {
  float: right;
  width: 35px;
  height: 35px;
  background: #dee5ea;
  margin-top: 0px;
  margin-right: 10px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}
.auction-amount {
  white-space: nowrap;
}
.payment-method.wallet-payment .wallet-box {
  padding: 12px;
  margin-bottom: 10px;
  background: #f0f3f5;
  border: 1px solid #ccc;
}

.payment-method.wallet-payment h4 {
  padding: 0px;
  background: transparent;
  border: 0px;
}

.payment-method .title {
  font-size: 16px;
  font-weight: 600;
}
.payment-method-type {
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px 10px 6px;
  border: 1px solid #e6e6e6;
  background: #f5f8fa;
}
.offline-section {
  margin-top: 15px;
}
.offline-section h4 {
  font-size: 16px;
  color: #212529;
}
.mini-custom-file .custom-file {
  height: 46px;
}
.custom-file-input {
  height: 100%;
}
.custom-file-label::after {
  display: none;
}

.wallet-section {
  margin-top: 20px;
}
.offline-section-txt h4 {
  font-size: 16px;
  margin-bottom: 3px;
}
.offline-section-txt .amount {
  font-size: 13px;
}
.offline-section-txt .amount span {
  color: #0f3d94;
  font-weight: bold;
}
.terms-condition {
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.online-payment-section {
  margin-top: 20px;
}
.online-payment-table {
  border-radius: 10px;
  border: 1px solid #e0e4e8;
  overflow: auto;
  overflow-y: hidden;
}

.online-payment-table table {
  width: 100%;
}
.online-payment-table table th {
  background-color: #0d4fa3;
  color: #fff;
}
/* .payment-table {
  border: 1px solid #eee;
  border-radius: 15px 15px 0 0;
  padding: 0px;
} */
.payment-section.ng-star-inserted {
  padding: 15px 15px;
  border: 1px solid #eee;
}
.payment-table h3 {
  background: #0d4fa3;
  border-radius: 6px 6px 0 0;
  border-color: transparent;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin: 0px;
}
.online-payment-table table th,
.online-payment-table table td {
  font-size: 12px;
  border-color: #e0e4e8;
  line-height: 21px;
  padding: 0 21px 0 21px;
  white-space: nowrap;
  height: 42px;
}
.payment-pending-txt,
.register-pending-txt {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.equip-detail-card {
  background: #eff2f4;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #c3c8cc;
}

.equip-detail-card ul li {display: inline-block; vertical-align: top;}
.equip-detail-card ul li .detail-wrrap {
  background: #fff;
    padding: 5px 15px;
    border-radius: 6px;
    box-shadow: 0 0 6px #d2dce6; 
    margin-right: 10px;
}
.equip-detail-card ul li span {color: #a3a6a9; display: block;}
.equip-detail-card ul li label {font-weight: 600; margin: 0px;}
.equip-detail-card ul li label span {display: inline-block; vertical-align: middle;}
.equip-detail-card ul li.subaction-card label {display: inline-block; vertical-align: middle;}

@media screen and (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
  /* .payment-details tbody tr:nth-last-child(3) td h4.total-txt {
    font-size: 20px;
  } */
  .payment-details tbody tr:nth-last-child(3) td h4.amount-txt {
    white-space: nowrap;
  }
  .payment-card-fix {position: static;}
}

.payment-title {  
  color: #0d4fa3;
  font-size: 16px !important;
  padding: 10px;
}
.payment-title h3 {
  margin: 0px !important;
}
.asset-detail {
  display: flex;
  justify-content: space-between;
}

h5.bid-your span {
  font-size: 16px;
  margin-top: 10px !important;
  display: block;
}
.product-feature ul li:last-child {
  margin-right: 0px;
}

body {
  background: #eee;
}

.viewLot {
  cursor: pointer;
  color: #0f3d94;
}

@media (max-width: 767px) {
  .product-feature ul li{
    flex: 1 1 31%;
    max-width: 31%;
    margin: 3px; 
  } 
  .asset-detail h5,
  .asset-detail p {  
    font-size: 12px !important; 
    flex: 1 1 48%;
    padding: 2px;
  }
  .equipmentImg-wrapper img {
    height: 100%;
    margin: 0 auto;
    display: block;
  }
  .equipmentImg-wrapper {
    height: 210px;
  }
  .payment-title h3 {
    font-size: 16px; 
    margin-bottom: 1em;
  }
}


@media (max-width: 576px) {

  .specs-value .product-feature-txt strong {font-size: 11px;}
  .product-feature ul li{
    flex: 1 1 31%;
    max-width: 31%;
    margin: 3px;
    background: #094fa3;
    border: 1px solid #094fa3;
    color: #fff;
    box-shadow: 0 0 6px #d2dce6;
  } 
  .specs-value {width: 100%;}
  .asset-detail {display: block;}
  .product-feature ul li img{
    display: none;
  }
  .asset-detail h5,
  .asset-detail p {
    padding: 2px;
    flex: 1 1 100%;
  }

}