<div class="product-wrapper-box">
    <div class="row">
        <div class="col-sm-12 col-md-7 ">
            <div class="col-12 col-md-12 mt-3 payment-right-card">
                <div class="row m-0">
                    <div class="col-12 payment-title">
                        <h3>{{getStatement()}}</h3>
                    </div>
                </div>
                <div class="equipment-details">
                    <div class="row rowcus">

                        <div class="col-12 col-md-12 col-sm-12 ">
                            <div class="equipmentImg-wrapper" *ngIf="!(this.paymentDetails?.case == 'Insta_valuation' || this.paymentDetails?.case == 'Advance_valuation')">
                                <img [src]="equipmentDetails?.primary_image ? equipmentDetails?.primary_image :  '../../../../assets/images/eqpmnt-img-2.png'" class="img-fluid rounded" alt="iQuippo" *ngIf="paymentDetails?.case != 'Auction'">
                                <img [src]="auctionDetails?.img_url ? auctionDetails?.img_url :  '../../../../assets/images/eqpmnt-img-2.png'" class="img-fluid rounded" alt="iQuippo" *ngIf="paymentDetails?.case == 'Auction'">
                            </div>
                            <div class="equipmentImg-wrapper" *ngIf="this.paymentDetails?.case == 'Insta_valuation' || this.paymentDetails?.case == 'Advance_valuation'">
                                <img [src]="equipmentDetails?.category?.vector_img ? equipmentDetails?.category?.vector_img :  '../../../../assets/images/default-icon.png'" class="img-fluid rounded" alt="iQuippo">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-sm-12">
                            <div class="equip-detail" *ngIf="paymentDetails?.case != 'Auction'">
                                <h2>{{equipmentDetails?.product_name ? equipmentDetails?.product_name: equipmentDetails?.model?.name}}</h2>
                                <div class="asset-detail">
                                    <h5>
                                        <span class="category-txt">Category :</span>
                                        <span class="category-label"> {{equipmentDetails?.category?.name == 'Other' ? equipmentDetails?.other_category : equipmentDetails?.category?.display_name}}
                                        </span>
                                    </h5>
                                    <p>
                                        <span class="category-txt">Brand :</span>
                                        <span class="category-label"> {{equipmentDetails?.brand.name == 'Other' ? equipmentDetails?.other_brand : equipmentDetails?.brand.display_name}}
                                        </span>
                                    </p>
                                </div>

                                <div class="product-feature" *ngIf="this.paymentDetails?.case != 'Insta_valuation' || this.paymentDetails?.case != 'Advance_valuation'">
                                    <ul>
                                        <li class="ng-star-inserted" *ngIf="equipmentDetails?.engine_number">
                                            <img alt="" class="tech-img"
                                                src="../../../assets/images/milling-machine.svg">
                                            <div class="specs-value">
                                                <div class="product-feature-txt">
                                                    <strong>Engine Number</strong>
                                                </div>
                                                <p class="text-left pt-1">{{equipmentDetails?.engine_number}} </p>
                                            </div>
                                        </li>
                                        <li class="ng-star-inserted" *ngIf="equipmentDetails?.chassis_number">
                                            <img alt="" class="tech-img"
                                                src="../../../assets/images/milling-machine.svg">
                                            <div class="specs-value">
                                                <div class="product-feature-txt">
                                                    <strong>Chasis Number</strong>
                                                </div>
                                                <p class="text-left pt-1">{{equipmentDetails?.chassis_number}} </p>
                                            </div>
                                        </li>
                                        <li class="ng-star-inserted" *ngIf="equipmentDetails?.machine_sr_number">
                                            <img alt="" class="tech-img"
                                                src="../../../assets/images/milling-machine.svg">
                                            <div class="specs-value">
                                                <div class="product-feature-txt">
                                                    <strong>Machine Serial Number</strong>
                                                </div>
                                                <p class="text-left pt-1">{{equipmentDetails?.machine_sr_number}} </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <h5 class="bid-your mt-4">
                                    <span *ngIf="!isNew && (paymentDetails?.case == 'Bid')">
                                        Your Bid &#8377; {{bidDetails?.bid_amount || tradeBidDetails?.bid_amount}}
                                    </span>
                                    <span *ngIf="!isNew && (paymentDetails?.case == 'Insta_sale')">
                                        Asset Cost &#8377; {{equipmentDetails?.selling_price}}
                                    </span>
                                    <span *ngIf="!isNew && (paymentDetails?.case == 'Insta_valuation')">
                                        Valuation Amount &#8377; {{instaValuationDetails?.valuation_fee}}
                                    </span>
                                    <span *ngIf="!isNew && (paymentDetails?.case == 'Advance_valuation')">
                                        Valuation Amount &#8377; {{advanceValuationDetails?.valuation_fee}}
                                    </span>
                                    <span *ngIf="isNew">Asset Cost &#8377; {{bookingDetails?.final_offer_price}}</span>
                                </h5>
                            </div>
                            <div class="equip-detail equip-detail-card" *ngIf="paymentDetails?.case == 'Auction'">
                                <ul class="list-unstyled mb-0">
                                    <li class="d-block mb-2">
                                        <div class="detail-wrrap">{{auctionDetails?.name}}</div>
                                    </li>
                                    <li>
                                        <div class="detail-wrrap">
                                            <span>Auction ID : </span>
                                            <label>{{auctionDetails?.auction_engine_auction_id}}</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="detail-wrrap">
                                            <span>Start Date & Time : </span>
                                            <label>{{auctionDetails?.starts_at | date: 'dd-MM-yyyy, hh:mm a'}}</label>
                                        </div>
                                    </li>
                                    <li class="subaction-card" *ngIf="auctionDetails?.subauctions?.length">
                                        <div class="detail-wrrap">
                                            <span> Sub Auction(s) : </span>
                                            <label *ngFor="let sub of auctionDetails?.subauctions; let last = last">
                                                {{sub?.auction_engine_auction_id}}<span *ngIf="!last">,&nbsp;</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="m-0" *ngIf="auctionLotDetails?.length">
                                        <div class="detail-wrrap">
                                            <span> Lots : </span>
                                            <label (click)="viewAllLotIds()" class="viewLot"> View Lot Details</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="extra-detail mt-3 d-none">
                    <p>
                        {{ description || bidDetails?.description || instaDetails?.description || bookingDetails?.description || tradeBidDetails?.description || instaValuationDetails?.description || advanceValuationDetails?.description }}
                    </p>
                </div>

                <ng-container *ngIf="((paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Partial') && (emdValues?.length))">
                    <div class="row m-0">
                        <div class="col-12 mt-2 text-right">
                            <button class="default-btn" mat-button (click)="resetEmdSelection()">Reset EMD Selection</button>
                        </div>
                    </div>
                    <div class="auction-wise-pay mx-3 mt-3" *ngFor="let emd of emdValues;">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="auction-select-btn pt-2" *ngIf="!emd?.is_already_paid">
                                    <mat-checkbox [checked]="emd?.checked" class="text-checkbox" (change)="onEmdSelection($event, emd)"></mat-checkbox>
                                </div>
                                <div class="greenColor pt-2" *ngIf="emd?.is_already_paid"><i class="fa fa-check" aria-hidden="true"></i></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="aucion-wise-heaidng pt-2">
                                    <h4 *ngIf="emd?.emd_type == 'AU' && (emd?.auction?.id == paymentDetails?.auction_id)"> 
                                        Select to pay for entire auction
                                    </h4>
                                    <h4 *ngIf="emd?.emd_type == 'SW' || ((emd?.auction?.id != paymentDetails?.auction_id) && (emd?.emd_type == 'AU'))"> 
                                        <span *ngIf="!emd?.is_already_paid">Select to pay for Sub auction(s)</span>
                                        <span class="greenColor" *ngIf="emd?.is_already_paid">You have already paid for Sub auction(s)</span>                                         
                                    </h4>
                                    <h4 *ngIf="emd?.emd_type == 'LW'">
                                        <span *ngIf="!emd?.is_already_paid">Select to pay for Lot number(s)</span>
                                        <span class="greenColor" *ngIf="emd?.is_already_paid">You have already paid for Lot number(s)</span>                                        
                                    </h4>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="auction-id">
                                    <ul class="list-unstyled" *ngIf="(emd?.emd_type == 'AU') && (emd?.auction?.id == paymentDetails?.auction_id)">
                                        <li>{{emd?.auction?.auction_engine_auction_id}}</li>
                                    </ul>
                                    <ul class="list-unstyled" *ngIf="(emd?.emd_type == 'SW') || ((emd?.auction?.id != paymentDetails?.auction_id) && (emd?.emd_type == 'AU'))">
                                        <li *ngIf="(emd?.auction?.id != paymentDetails?.auction_id) && (emd?.emd_type == 'AU')">
                                            {{emd?.auction?.auction_engine_auction_id}}</li>
                                        <ng-container *ngIf="emd?.emd_type == 'SW'">
                                            <li *ngFor="let sub of emd?.emd_subauctions; let last = last">
                                                {{sub?.auction?.auction_engine_auction_id}}<span *ngIf="!last">,  &nbsp;</span>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul class="list-unstyled" *ngIf="emd?.emd_type == 'LW'">
                                        <li *ngFor="let lot of emd?.emd_lots; let last = last">
                                            {{lot?.lot?.lot_number}}<span *ngIf="!last">, &nbsp;</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="auction-amount pt-2">
                                    <h3>₹ {{emd?.amount}}</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-container>                
            </div>
        </div>

        <div class="col-12 col-md-5 my-3 table-responsive payment-table">
            <div class="payment-title p-0" *ngIf="((paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Partial'))">
                <h3>Choose your payment mode</h3>
            </div>
            <div class="payment-section bg-white border" *ngIf="((paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Partial'))">
                <div class="payment-method-type">
                    <div class="method-type">
                        <mat-radio-group [(ngModel)]="paymentMethod">
                            <mat-radio-button [value]="1" *ngIf="auctionDetails?.is_offline_emd_available"
                                (change)="updateValidation($event.value)">Offline</mat-radio-button>
                            <mat-radio-button [value]="2" *ngIf="auctionDetails?.is_wallet_emd_available"
                                (change)="updateValidation($event.value)">Wallet</mat-radio-button>
                            <mat-radio-button [value]="3"
                                *ngIf="auctionDetails?.is_online_emd_available && !paymentDetails?.assistedMode"
                                (change)="updateValidation($event.value)">Online</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="payment-method wallet-payment mt-3" *ngIf="paymentMethod == 1">
                    <form [formGroup]="paymentForm">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="f-12 d-block text-left">Payment Mode <span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-label>Payment Mode</mat-label>
                                    <mat-select class="form-control" placeholder="Contact Person Name" (selectionChange)="onPaymentModeChange($event?.value)" formControlName="payment_mode">
                                        <mat-option [value]="pay?.value" *ngFor="let pay of paymentModeOptions;">
                                            {{pay?.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="paymentForm?.get('payment_mode')?.invalid && (paymentForm?.get('payment_mode')?.touched || proceedClicked)">
                                    <span class="validation-err d-block" *ngIf="paymentForm?.get('payment_mode')?.errors?.required">
                                        Please select payment mode
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6" *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                                <label class="f-12 d-block text-left">Bank Name <span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-label>Bank Name</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class=""
                                        formControlName="bank_name">
                                </mat-form-field>
                                <div
                                    *ngIf="paymentForm?.get('bank_name')?.invalid && (paymentForm?.get('bank_name')?.touched || proceedClicked)">
                                    <span class="validation-err d-block"
                                        *ngIf="paymentForm?.get('bank_name')?.errors?.required">
                                        Please provide Bank name
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6"
                                *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                                <label class="f-12 d-block text-left">Branch Name<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-label>Branch Name</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class=""
                                        formControlName="branch">
                                </mat-form-field>
                                <div
                                    *ngIf="paymentForm?.get('branch')?.invalid && (paymentForm?.get('branch')?.touched || proceedClicked)">
                                    <span class="validation-err d-block"
                                        *ngIf="paymentForm?.get('branch')?.errors?.required">
                                        Please provide branch name.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 auction-form mini-custom-file">
                                <label for="" class="f-12 d-block">Proof of Payment <span class="text-warning">*</span></label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" *ngIf="!paymentForm?.get('proof_of_payment').value" (change)="handleUpload($event);" #imageInput>
                                    <label class="custom-file-label custom-file-label2" for="front">
                                        <span class="cust-upload-txt cust-upload-txt2">{{paymentForm?.get('proof_of_payment').value
                                            ? getFileName(paymentForm?.get('proof_of_payment').value) : 'Choose a file'}}</span>
                                        <span class="upload-icon2" *ngIf="!paymentForm?.get('proof_of_payment').value"></span>

                                        <span class="delet-icon" *ngIf="paymentForm?.get('proof_of_payment').value"
                                            (click)="deleteFile(paymentForm?.get('proof_of_payment').value)">
                                            <img src="../../../assets/images/Delete_icon.svg">
                                        </span>
                                    </label>
                                </div>
                                <div *ngIf="paymentForm?.get('proof_of_payment')?.invalid && (paymentForm?.get('proof_of_payment')?.touched || proceedClicked)">
                                    <span class="validation-err d-block"
                                        *ngIf="paymentForm?.get('proof_of_payment')?.errors?.required">
                                        Please provide payment proof.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6"
                                *ngIf="paymentForm?.get('payment_mode').value != 'Cash'">
                                <label class="f-12 d-block text-left">Payment Reference no <span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-label>Payment Reference no</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class=""
                                        formControlName="bank_ref_no">
                                </mat-form-field>
                                <div
                                    *ngIf="paymentForm?.get('bank_ref_no')?.invalid && (paymentForm?.get('bank_ref_no')?.touched || proceedClicked)">
                                    <span class="validation-err d-block"
                                        *ngIf="paymentForm?.get('bank_ref_no')?.errors?.required">
                                        Please provide payment reference no.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-6"
                                *ngIf="paymentForm?.get('payment_mode')?.value == 'Demand Draft'">
                                <label class="f-12 d-block text-left">DD in favour of <span
                                        class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                    <mat-label>DD in favour of</mat-label>
                                    <input matInput placeholder="" autocomplete="off" type="text" class="" formControlName="dd_in_favour_of">
                                </mat-form-field>
                                <div
                                    *ngIf="paymentForm?.get('dd_in_favour_of')?.invalid && (paymentForm?.get('dd_in_favour_of')?.touched || proceedClicked)">
                                    <span class="validation-err d-block" *ngIf="paymentForm?.get('dd_in_favour_of')?.errors?.required">
                                        Please provide Demand draft favour of.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="payment-method wallet-payment mt-3" *ngIf="paymentMethod == 2">
                    <div class="wallet-box d-flex">
                        <h4 class="flex-fill pt-2">Pay via wallet</h4>
                        <div class="wallet-pay-amount flex-fill pt-2">₹ {{walletBalance}}</div>
                        <div class="add-money-btn flex-fill text-right" *ngIf="!paymentDetails?.assistedMode">
                            <button class="default-btn mat-button px-4" [routerLink]="['/customer/dashboard/wallet']">Add Money</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="divPayment">
            <h3 class="mt-3">Payment Details</h3>
            <table class="table table-bordered payment-details">
                <tbody>
                    <tr
                        *ngIf="(isNew || ((paymentDetails?.case == 'Insta_sale') && (paymentDetails?.payment_type == 'Partial')))">
                        <td>Booking Value for the Asset</td>
                        <td>&#8377; {{getSecurityDeposit()}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Bid') && (paymentDetails?.payment_type == 'Partial')">
                        <td>Security Deposit for this Bid</td>
                        <td>&#8377; {{getSecurityDeposit()}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Full')">
                        <td>Bid Amount </td>
                        <td>&#8377; {{tradeBidDetails?.bid_amount}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Full')">
                        <td>Registration Amount Paid </td>
                        <td>&#8377; {{tradeBidDetails?.emd_adjusted}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Full')">
                        <td>Additional EMD Paid</td>
                        <td>&#8377; {{tradeBidDetails?.topup_adjusted}}</td>
                    </tr>
                    <tr
                        *ngIf="((paymentDetails?.case == 'Bid') || (paymentDetails?.case == 'Insta_sale') || (paymentDetails?.case == 'Auction')) && (paymentDetails?.payment_type == 'Full')">
                        <td>Buyer Premium</td>
                        <td>&#8377; {{tradeBidDetails?.buyer_premium}}</td>
                    </tr>
                    <tr
                        *ngIf="((paymentDetails?.case == 'Bid') || (paymentDetails?.case == 'Insta_sale') || (paymentDetails?.case == 'Auction')) && (paymentDetails?.payment_type == 'Full')">
                        <td>Parking Charges</td>
                        <td>&#8377; {{tradeBidDetails?.parking}}</td>
                    </tr>
                    <tr
                        *ngIf="((paymentDetails?.case == 'Bid') || (paymentDetails?.case == 'Insta_sale') || (paymentDetails?.case == 'Auction')) && (paymentDetails?.payment_type == 'Full')">
                        <td>Invoice Name Change Fee</td>
                        <td>&#8377; {{tradeBidDetails?.invoice_name_change_fee}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Insta_valuation')">
                        <td>Valuation Amount</td>
                        <td>&#8377; {{instaValuationDetails?.valuation_fee}}</td>
                    </tr>
                    <tr *ngIf="(paymentDetails?.case == 'Advance_valuation')">
                        <td>Valuation Amount</td>
                        <td>&#8377; {{advanceValuationDetails?.valuation_fee}}</td>
                    </tr>
                    <tr *ngIf="(this.instaValuationDetails?.is_igst || this.advanceValuationDetails?.is_igst)">
                        <td>GST</td>
                        <td>&#8377; {{getGstApplicable('igst')}}</td>
                    </tr>
                    <tr *ngIf="(this.instaValuationDetails?.is_sgst || this.advanceValuationDetails?.is_sgst)">
                        <td>SGST</td>
                        <td>&#8377; {{getGstApplicable('sgst')}}</td>
                    </tr>
                    <tr *ngIf="(this.instaValuationDetails?.is_cgst || this.advanceValuationDetails?.is_cgst)">
                        <td>CGST</td>
                        <td>&#8377; {{getGstApplicable('cgst')}}</td>
                    </tr>
                    <tr *ngIf="((paymentDetails?.case == 'Auction') && (paymentDetails?.payment_type == 'Partial'))">
                        <td>Security Deposit for this Auction</td>
                        <td>&#8377; {{getSecurityDeposit()}}</td>
                    </tr>
                    <tr
                        *ngIf="((paymentDetails?.case == 'Bid') || (paymentDetails?.case == 'Insta_sale') || (paymentDetails?.case == 'Auction')) && (paymentDetails?.payment_type == 'Full')">
                        <td> Amount Paid </td>
                        <td>&#8377; {{tradeBidDetails?.amount_paid}}</td>
                    </tr>
                    <tr
                        *ngIf="((paymentDetails?.case == 'Bid') || (paymentDetails?.case == 'Insta_sale')) && (paymentDetails?.payment_type == 'Full')">
                        <td>
                            <span *ngIf="paymentDetails?.case == 'Bid'">Final Deposit for this Bid</span>
                            <span *ngIf="paymentDetails?.case == 'Insta_sale'">Final Payment for this Asset</span>
                        </td>
                        <td>&#8377; {{tradeBidDetails?.amount_to_be_paid}}</td>
                    </tr>
                    <tr class="grand-total">
                        <td>
                            <h4 class="total-txt">Total amount to be paid</h4>
                        </td>
                        <td>
                            <h4 class="amount-txt text-left">&#8377; {{getSecurityDeposit() +
                                getGstApplicable('total')}}</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="pt-3">
                            <div class="tnc">
                                <mat-checkbox [checked]="isAgree" class="text-checkbox" (change)="onChange($event)">
                                    I agree to the
                                </mat-checkbox>
                                <a class="terms-txt" (click)="termsConditions()"> terms & conditions</a>.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button mat-button class="btn btn-block btn-lg theme-btn" [disabled]="!isAgree"
                                (click)="proceedPayment()">SUBMIT</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-6 row-anotherhalf p-0">
            <div class="col-sm-12">
                <img src="../../../assets/images/payment-page.svg" class="img-fluid">
            </div>
        </div> -->
</div>