.header-top {
    background: #204555;
}

mat-toolbar {
    background: #fff;
    min-height: 80px;
    border-bottom: 1px solid #c4cfd8;
}

.menu-spacer {
    flex: 1 1 auto;
}

.logo-img {
    width: 87px;
    cursor: pointer;
}

mat-toolbar a {
    color: #000;
    font-weight: 400;
}

mat-toolbar a:hover {
    text-decoration: none;
}


/* .mat-drawer-container-has-open{
    display: block;
    position: absolute;
    right: 0;
    z-index: 99999;
    } */

.mat-drawer-container {
    background: transparent;
}

mat-sidenav-content {
    min-height: calc(100vh - 80px) !important;
}

.menutoggle-icon:focus {
    outline: none;
}

.menutoggle-icon mat-icon {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    height: 30px;
    width: 32px;
    border-radius: 3px;
}

.signin-btn {
    color: #fff;
    border-radius: 0;
}

.header-main {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

.header-top {
    position: relative;
    z-index: 2;
}

mat-sidenav-container,
mat-sidenav {
    height: auto !important;
}

mat-sidenav-container {
    min-height: calc(100% - 101px) !important;
}

mat-sidenav {
    width: 100%;
}

mat-sidenav mat-nav-list {
    padding-top: 0;
}

mat-sidenav mat-nav-list a {
    border-bottom: 1px solid rgb(18, 30, 41);
    height: 40px;
}

mat-sidenav mat-nav-list a.menu-heading {
    height: 60px;
}

.slct-location {
    background: #f5f8fa 0% 0% no-repeat padding-box;
    border: 1px solid #c4cfd8;
    border-radius: 6px;
    font-size: 14px;
    padding: 9px 20px 9px 30px;
}

.select-span {
    position: relative;
    margin-left: 100px;
}

.select-span::before {
    content: "";
    background: url("../../../../assets/images/marker.svg") no-repeat;
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7px;
    left: 17px;
}

.signinbtn {
    background: transparent linear-gradient(105deg, #1551b5 0%, #a5171d 100%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 14px;
    padding: 11px 20px;
    line-height: 20px;
    color: #fff !important;
    margin-left: 16px;
}

.header-wrapper {
    justify-content: space-between;
    padding: 0 15px 0px 0px;
}

.menuhamburger {
    padding: 0 !important;
    background: transparent;
    width: 40px;
    min-width: auto;
    position: static !important;
}

.menuhamburger:active,
.menuhamburger:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

.sidebar {
    background: #EFF2F4;
    width: 18em;
    min-height: 570px;
    position: absolute;
    transition: 0.5s;
    top: 0px;
    overflow: auto;
    left: 0;
    height: 100%;
    z-index: 99;
}

.sidebar .sidebar-container {
    background: linear-gradient(150deg, #1551b5, #a5171d);
    margin: 15px 0px 10px 10px;
    box-shadow: 2px 4px 6px #d2dce6;
    border-radius: 10px;
    height: calc(100% - 28px);
    overflow: auto;
}

.sidebar ul {
    padding: 15px 5px;
}

.sidebar ul li {
    color: #fff;
    list-style-type: none;
    padding: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    font-size: 13px;
}

.sidebar ul li a .material-icons {
    font-size: 20px;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.sidebar.hide {
    left: -270px;
    height: 100%;
}

.sidebar.show {
    left: 0;
}

.profile-bx {
    display: flex;
}

.profile-bx>img {
    margin-right: 10px;
}

.profile-bx>div>p {
    margin-bottom: 0px;
}

.profile-bx button {
    height: 30px;
}

.profile-bx button:focus {
    outline: none;
}

.sidebar-custom {
    width: 18em;
}

.sidebar-custom li {
    padding: 0px 0 !important;
    list-style: none !important;
}

.sub-nav li {
    padding: 5px 10px !important;
    list-style: none !important;
}

li {
    list-style: none !important;
}

.submenu {
    padding: 0 0 0 10px !important;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

.submenu.show {
    height: auto;
}

.sidebar-custom li a.active {
    background-color: rgb(255 255 255 / 29%);
}

.sidebar-custom li a {
    padding: 10px;
    display: block;
    border-radius: 4px;
}

.sidebar-custom li a:hover {
    background-color: rgb(255 255 255 / 29%);
}

.sidebar ul li a .sidebar-icon {
    display: none;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: rgb(241 241 241 / 42%);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #dacdcd;
    border-radius: 8px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* @media screen and (max-width: 992px) and (min-width: 768px) {
  .sidebar-custom li.active ul li a {
    background-color: transparent;
  }
  .sidebar-custom li.active a {
    background-color: rgb(255 255 255 / 29%);
  }
  .sidebar-custom li.active a,
  .sidebar li a.active {
  background-color: rgb(255 255 255 / 29%);
  }
  .sidebar {
    width: 95%; 
    background: #ecf0f4;
    min-height: inherit !important;
    display: block;
    position: static;
    margin: 20px auto; 
    height: auto;
  }
  .sidebar ul li ul {display: block;}
  .switch-role {margin-bottom: 10px; margin-left: 10px;}
  .switch-role span {display: block;}
    .sidebar ul {margin-bottom: 20px !important;}
  .sidebar ul {display: block;padding: 15px 5px 0px; margin-bottom: 0px !important; white-space: nowrap;}
  .switch-role {margin-bottom: 0px;}
  .sidebar.hide {
    left: -320px;
  }
  .sidebar-custom li.active a, .sidebar-custom li a:hover, 
    .sidebar li a.active{background-color: rgb(9 79 163); color: #fff !important;}
    .sidebar ul li a {color: #1A1A1E;}
    .sidebar ul li a, .switch-role span {color: #1A1A1E;}
} */

@media (max-width: 767.98px) {
    .sidebar-custom li.active ul li a {
        background-color: transparent;
    }
    .sidebar-custom li.active ul.submenu.show li a {
        color: #1A1A1E !important;
    }
    .sidebar-custom li.active ul.submenu.show li a.active {
        color: #fff !important;
        background: #094fa3;
        margin-top: 6px;
    }
    .sidebar-custom li.active a {
        background-color: rgb(255 255 255 / 29%);
    }
    .sidebar-custom li.active a,
    .sidebar li a.active {
        background-color: rgb(255 255 255 / 29%);
    }
    .header-wrapper {
        padding: 0 35px 0px 0px;
    }
}

@media (max-width: 420px) {
    .mat-toolbar-single-row {
        padding: 0 2px;
    }
    .header-main .header-wrapper button {
        right: 0px;
    }
}

@media (max-width: 767px) {
    /* .sidebar-custom li.active a, .sidebar li a.active {
      background-color: rgb(255 255 255 / 29%);
  }
*/
    .sidebar .sidebar-container {
        background: #eff2f4;
        box-shadow: none;
        margin: 15px 5px 0px 5px;
    }
    .sidebar ul li a .sidebar-icon {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    .sidebar ul li a.active .sidebar-icon .sidebar-icon-white {
        display: block;
    }
    .sidebar ul li a.active .sidebar-icon .sidebar-icon-black {
        display: none;
    }
    .sidebar ul li a .sidebar-icon img {
        width: 40px;
        margin: 0px auto;
    }
    .sidebar ul li a .sidebar-icon.dashboard-icon img {
        width: 30px;
        margin-top: 10px;
    }
    .sidebar ul li a .sidebar-icon .sidebar-icon-white {
        display: none;
    }
    .sidebar ul li a .sidebar-icon .sidebar-icon-black {
        display: block;
    }
    .sidebar {
        width: 100%;
        min-height: inherit !important;
        position: static!important;
        display: block;
        margin: 0px auto;
        height: auto;
        background: none!important;
        margin-bottom: 5px;
    }
    .sidebar ul li {
        background: #ecf0f4;
        margin-bottom: 8px;
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        position: relative;
        text-align: center;
    }
    .sidebar ul li a {
        box-shadow: 2px 4px 6px #d2dce6;
        font-size: 13px;
        height: 90px;
        background: #fff;
        margin-right: 8px;
    }
    /* .sidebar ul li a .material-icons {padding-top: 34px;} */
    .sidebar ul li a .menu-txt {
        max-width: 80%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        padding-left: 10px;
        text-overflow: ellipsis;
    }
    .sidebar-mobile.sidebar-custom .parent-list.active {
        width: 100%;
        margin: 0px;
    }
    .sidebar-mobile.sidebar-custom .parent-list.active a {
        height: 60px;
        margin: 0px;
    }
    .sidebar-mobile.sidebar-custom .parent-list.active a .sidebar-icon {
        margin: 0px;
        vertical-align: middle;
        display: inline-block;
    }
    .switch-role span {
        display: block;
    }
    .sidebar ul li:nth-child(even) a {
        margin-right: 0px;
    }
    .sidebar-mobile.sidebar-custom .parent-list.active ul.submenu.show {
        position: static;
        margin-top: 5px;
    }
    .sidebar ul li ul.submenu.hide {
        display: none
    }
    .sidebar ul li ul.submenu.show li a {
        box-shadow: none;
    }
    .sidebar ul li ul.submenu.show {
        position: absolute;
        z-index: 9;
        background: #fff;
        width: 100%;
        top: 91px;
        padding: 5px !important;
        box-shadow: 2px 4px 6px #d2dce6;
        border: 1px solid #d8dee2;
        border-radius: 4px;
    }
    .sidebar ul li.parent-list.active a .material-icons {
        padding-top: 12px;
    }
    .sidebar ul li ul.submenu.show li {
        margin: 0px;
        width: 100%;
        display: block;
        text-align: left;
    }
    .sidebar ul li ul.submenu.show li a {
        height: auto;
        margin-bottom: 5px;
        width: 100%;
    }
    .sidebar ul {
        display: block;
        padding: 0px 5px 0px;
        margin-bottom: 0px !important;
    }
    .switch-role .mat-select {
        width: 100%;
    }
    .switch-role {
        border-radius: 6px;
        margin-bottom: 0px;
        box-shadow: 2px 4px 6px #d2dce6;
        background: #fff;
        margin: 5px 5px;
        padding: 10px 10px 5px !important;
    }
    .sidebar.hide {
        left: -320px;
    }
    .parent-list.active > :first-child,
    .sidebar-custom li.active a:hover,
    .sidebar li a.active {
        background: #1551b5 !important;
        color: #fff !important;
    }
    .sidebar-custom li a:hover {
        background-color: #fff !important;
        border: 1px solid #1551b5;
        color: #1a1a1e!important;
    }
    .sidebar-custom li.parent-list.active a .sidebar-icon .sidebar-icon-white {
        display: block;
    }
    .sidebar-custom li.parent-list.active a .sidebar-icon .sidebar-icon-black {
        display: none;
    }
    .sidebar ul li a,
    .switch-role span {
        color: #1A1A1E;
    }
}

.label-Switch {
    color: #fff;
}

.switch-role {
    padding: 0px 15px;
}

.back-home-btn {
    margin-top: 10px;
    margin-left: 10px;
}