<button class="btn btn-default default-btn-outline back-home-btn d-none d-md-none" [class.d-inline-block]="this.router.url.includes('/admin-dashboard/')" [routerLink]="['/admin-dashboard']">Back to
	Menu</button>
<div class="sidebar sidebar-custom" [class.sidebar-mobile]="router.url.includes('/admin-dashboard/')">
	<div class="sidebar-container">
	<ul>
		<li  *isPermission="['Product - New Assets Management_View','Product - Used Assets Management_View']" class="parent-list" 
			[class.active]="this.router.url.includes('/admin-dashboard/products/used-products') || this.router.url.includes('/admin-dashboard/products/new-products') ">
			<a href="javascript:void(0)" (click)="showsubmenu1()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/asset-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/asset-icon-black.png"/>
                </div>
				<span class="menu-txt">Product Management</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a> 
			<ul class="submenu" [ngClass]="addClass1 ? 'show' : 'hide'">
				<li *isPermission="['Product - Used Assets Management_View']" ><a
						[routerLink]="['/admin-dashboard/products/used-products']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Used Product Listing</a></li>
				<li *isPermission="['Product - New Assets Management_View']"><a
						[routerLink]="['/admin-dashboard/products/new-products']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">New Product Listing</a></li>
			</ul>
		</li>

		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/bulk-listing') && !this.router.url.includes('/admin-dashboard/bulk-listing-enterprise')"
			*isPermission="['Product - Bulk Upload Listing_View']"><a [routerLink]="['/admin-dashboard/bulk-listing']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/bulk-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/bulk-icon-black.png"/>
                </div>
				<span class="menu-txt">Bulk Upload Listing</span></a></li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/new-equipment-lead')"
			*isPermission="['Lead Management_View']">
			<a [routerLink]="['/admin-dashboard/new-equipment-lead']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/asset-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/asset-icon-black.png"/>
                </div>
				<span class="menu-txt">New Equipment Lead</span></a>
		</li>
		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/trade/trade-details-dashboard')"
			*isPermission="['Trade Management_Pending for approval','Trade Management_Sale in Progress','Trade Management_Closed Bid']"><a [routerLink]="['/admin-dashboard/trade/trade-details-dashboard']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/trade-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/trade-icon-black.png"/>
                </div>
				<span class="menu-txt">Trade Management</span></a></li>

		<li class="parent-list" [class.active]="router.url.includes('admin-dashboard/customer-management')"
		*isPermission="['User Management - Customer/KYC_View']">
			<a [class.active]="router.url.includes('admin-dashboard/customer-management')"
				[routerLink]="['/admin-dashboard/customer-management']">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/kyc-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/kyc-icon-black.png"/>
                </div>
				<span class="menu-txt">Pending KYC</span></a>
		</li>

		<li class="parent-list" [class.active]="router.url.includes('admin-dashboard/user-management-new')"
			*isPermission="['User Management - Customer/KYC_View']">
			<a [class.active]="router.url.includes('admin-dashboard/user-management-new')"
				(click)="redirection()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/customer-management-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/customer-management-icon-black.png"/>
                </div>
				<span class="menu-txt">Customer Management</span></a>
		</li>

		<li *isPermission="['Partner Entity Management_View','Partner Contact Entity Management_View']"
			class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/partner-admin/partner-contact-list') || this.router.url.includes('/admin-dashboard/partner-admin/partner-entity-list')">
			<a href="javascript:void(0)" (click)="showsubmenu13()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/partner-management-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/partner-management-icon-black.png"/>
                </div>
				<span class="menu-txt">Partner Management</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass13 ? 'show' : 'hide'">
				<li *isPermission="['Partner Entity Management_View']"><a
						[routerLink]="['/admin-dashboard/partner-admin/partner-entity-list']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Partner Entity</a></li>
				<li *isPermission="['Partner Contact Entity Management_View']"><a
						[routerLink]="['/admin-dashboard/partner-admin/partner-contact-list']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Partner Contact</a></li>
			</ul>
		</li>
		<!-- <li *isPermission="['User Agreements_View']"><a [routerLink]="['/admin-dashboard/client-management/agreement']" routerLinkActive="active"
					[routerLinkActiveOptions]="{exact:true}">User Agreements</a></li> -->

		<!-- <li class="parent-list" *isPermission="['User Agreement_View']"><a [routerLink]="['/admin-dashboard/client-management/agreement']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">User Agreements</a></li> -->

		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/client-management/agreement')"
			*isPermission="['User Management - User Agreements_View']"><a
				[class.active]="this.router.url.includes('/admin-dashboard/client-management/agreement')"
				(click)="agreementLink()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/agreement-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/agreement-icon-black.png"/>
                </div>
				<span class="menu-txt">User Agreements</span></a></li>

		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/banner-settings/banner-settings')"
			*isPermission="['Banner Settings_View']"><a
				[routerLink]="['/admin-dashboard/banner-settings/banner-settings']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/banner-management-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/banner-management-icon-black.png"/>
                </div>
				<span class="menu-txt">Banner Management</span></a></li>
		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/transactions')"
			*isPermission="['Transactions_View']"><a [routerLink]="['/admin-dashboard/transactions']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/transection-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/transection-icon-black.png"/>
                </div>
				<span class="menu-txt">Transactions</span></a></li>
		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/accounts/realization') || this.router.url.includes('/admin-dashboard/accounts/online-refund') || this.router.url.includes('/admin-dashboard/accounts/offline-refund')"
			*isPermission="['Accounts_View']">
			<a href="javascript:void(0)" (click)="showsubmenu11()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/profile-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/profile-icon-black.png"/>
                </div>
				<span class="menu-txt">Accounts</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass11 ? 'show' : 'hide'">
				<li><a [routerLink]="['/admin-dashboard/accounts/realization']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Realization</a></li>

				<li><a [routerLink]="['/admin-dashboard/accounts/online-refund']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Online Refund</a></li>

				<li><a [routerLink]="['/admin-dashboard/accounts/offline-refund']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Offline Refund</a></li>
			</ul>
		</li>
		<li *isPermission="['Invoice - Buyer Premium_View','Invoice - Seller Commission','Invoice - Invoice Masters']" class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/ind-invoice') || this.router.url.includes('/admin-dashboard/enterprise-invoice')"
			>
			<a href="javascript:void(0)" (click)="showsubmenu8()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/invoice-management-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/invoice-management-icon-black.png"/>
                </div>
				<span class="menu-txt">Invoice Management</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass8 ? 'show' : 'hide'">
				<li *isPermission="['Invoice - Invoice Masters_View']"><a [routerLink]="['/admin-dashboard/ind-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Individual Invoice</a></li>

				<li *isPermission="['Invoice - Invoice Masters_View']"><a [routerLink]="['/admin-dashboard/enterprise-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Enterprise Invoice</a></li>

				<li *isPermission="['Invoice - Buyer Premium_View']"><a [routerLink]="['/admin-dashboard/buyer-premium-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Buyer Premium Invoice</a></li>

				<li *isPermission="['Invoice - Seller Commission_View']"><a [routerLink]="['/admin-dashboard/seller-commision-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Seller Commision Invoice</a></li>
<!-- 
				<li><a [routerLink]="['/admin-dashboard/emd-mr-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">EMD MR Invoice</a></li>

				<li><a [routerLink]="['/admin-dashboard/emd-forfeiture-invoice']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">EMD Forfeiture Invoice</a></li> -->
			</ul>
		</li>

		<li *isPermission="['Valuation - Insta Valuation_View','Valuation - Advance Valuation_View','Valuation - Enterprise Valuation_View','Valuation - Enterprise Valuation Bulk upload_View']"
			class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/val-request') || this.router.url.includes('/admin-dashboard/adv-val-request') || this.router.url.includes('/admin-dashboard/enterprise-val-request') || this.router.url.includes('/admin-dashboard/bulk-listing-enterprise')">
			<a href="javascript:void(0)" (click)="showsubmenu9()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/asset-valuation-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/asset-valuation-icon-black.png"/>
                </div>
				<span class="menu-txt">Asset Valuation</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass9 ? 'show' : 'hide'">
				<li *isPermission="['Valuation - Insta Valuation_View']"><a [routerLink]="['/admin-dashboard/val-request']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Insta Valuation</a></li>
				<li *isPermission="['Valuation - Advance Valuation_View']"><a [routerLink]="['/admin-dashboard/adv-val-request']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Advanced Valuation</a></li>
				<li *isPermission="['Valuation - Enterprise Valuation_View']"><a
						[routerLink]="['/admin-dashboard/enterprise-val-request']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Enterprise Valuation</a></li>
				<li *isPermission="['Valuation - Enterprise Valuation Bulk upload_View']"><a
						[routerLink]="['/admin-dashboard/bulk-listing-enterprise']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Bulk Upload Enterprise Valuation
						Listing</a></li>
			</ul>
		</li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/auction/auction-list')"
			*isPermission="['Auction - Auctions_View']">
			<a [routerLink]="['/admin-dashboard/auction/auction-list']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/auction-management-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/auction-management-icon-black.png"/>
                </div>
				<span class="menu-txt">Auctions Management</span></a>
		</li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/auction/auction-fulfilment')"
			*isPermission="['Auction - Auction Fulfilment_View']">
			<a [routerLink]="['/admin-dashboard/auction/auction-fulfilment']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/auction-fullfillment-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/auction-fullfillment-icon-black.png"/>
                </div>
				<span class="menu-txt">Auction Fulfilment</span></a>
		</li>


		<li class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/auction/auction-payment-history')"
			*isPermission="['Auction - Auction Payment History_View']">
			<a [routerLink]="['/admin-dashboard/auction/auction-payment-history']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/auction-payment-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/auction-payment-icon-black.png"/>
                </div>
				<span class="menu-txt">Auction Payment History</span></a>
		</li>

		<li *isPermission="['Equipment Masters - Model_View','Equipment Masters - Category_View','Equipment Masters - New Tech specifications_View','Equipment Masters - Used Tech specifications_View']" class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/new-equipment-master/category-brand-master') || this.router.url.includes('/admin-dashboard/new-equipment-master/technical-information-master-new-list') || this.router.url.includes('/admin-dashboard/new-equipment-master/tech-info-used') || this.router.url.includes('/admin-dashboard/new-equipment-master/certificate-master') || this.router.url.includes('/admin-dashboard/new-equipment-master/masterdata') || this.router.url.includes('/admin-dashboard/new-equipment-master/location-master')"
			>
			<a href="javascript:void(0)" (click)="showsubmenu5()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/transection-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/transection-icon-black.png"/>
                </div>
				Equipment Masters
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass5 ? 'show' : 'hide'">
				<li *isPermission="['Equipment Masters - Category_View']"><a
						[routerLink]="['/admin-dashboard/new-equipment-master/category-brand-master']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Category/Brand Master</a>
				</li>
				<li *isPermission="['Equipment Masters - New Tech specifications_View']"><a
						[routerLink]="['/admin-dashboard/new-equipment-master/technical-information-master-new-list']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Technical Information-
						New</a></li>
				<li *isPermission="['Equipment Masters - Used Tech specifications_View']"><a
						[routerLink]="['/admin-dashboard/new-equipment-master/tech-info-used']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Technical Information-
						Used</a>
				</li>
				<li><a [routerLink]="['/admin-dashboard/new-equipment-master/certificate-master']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Certificate Master</a></li>
				<li *isPermission="['Equipment Masters - Model_View']"><a
						[routerLink]="['/admin-dashboard/new-equipment-master/masterdata']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Cat/Brand/Model</a></li>
				<!-- <li><a href="https://dev.iquippo.com/iqd/assetmasterdata">Cat/Brand/Model - Ins.</a></li> -->
				<li><a [routerLink]="['/admin-dashboard/new-equipment-master/location-master']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Location</a></li>
				<li><a [routerLink]="['/admin-dashboard/new-equipment-master/rm-tagging']"
					routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">RM Tagging Master</a></li>
				<!-- <li><a [routerLink]="['/admin-dashboard/new-equipment-master/offer-master']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Offer Master – New Equip.</a></li> -->
				<!-- <li><a href="https://dev.iquippo.com/iqd/assetdatamodel/attachasset-master">Asset Data Model Master </a></li> -->
			</ul>
		</li>

		<li *isPermission="['Buy / Sell - Sale charge Master_View','Buy / Sell - Markup Price Master_View','Buy / Sell - Auction EMD Master_View','Buy / Sell - Auction EMD Master_View','Buy / Sell - Sale Process Master_View']"
			class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/buy-sell-process-master/emd-configuration-master') || this.router.url.includes('/admin-dashboard/buy-sell-process-master/emd-auction-master') || this.router.url.includes('/admin-dashboard/buy-sell-process-master/sell-process') || this.router.url.includes('/admin-dashboard/buy-sell-process-master/markup-price') || this.router.url.includes('/admin-dashboard/buy-sell-process-master/asset-sale-charge')">
			<a href="javascript:void(0)" (click)="showsubmenu6()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/transection-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/transection-icon-black.png"/>
                </div>
				<span class="menu-txt">	Buy/Sell Process Master</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass6 ? 'show' : 'hide'">
				<li *isPermission="['Buy / Sell - Auction EMD Master_View']"><a
						[routerLink]="['/admin-dashboard/buy-sell-process-master/emd-configuration-master'] || ['Buy / Sell - Sale charge Master_View']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">EMD Configuration Master</a>
				</li>
				<li *isPermission="['Buy / Sell - Auction EMD Master_View']"><a
						[routerLink]="['/admin-dashboard/buy-sell-process-master/emd-auction-master']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">EMD Auction Master</a></li>
				<li *isPermission="['Buy / Sell - Sale Process Master_View']"><a
						[routerLink]="['/admin-dashboard/buy-sell-process-master/sell-process']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sale Process</a></li>
				<li *isPermission="['Buy / Sell - Markup Price Master_View']"><a
						[routerLink]="['/admin-dashboard/buy-sell-process-master/markup-price']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Mark Up Price Master</a></li>
				<li *isPermission="['Buy / Sell - Sale charge Master_View']"><a
						[routerLink]="['/admin-dashboard/buy-sell-process-master/asset-sale-charge']"
						routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Asset Sale Charge Master</a>
				</li>
			</ul>
		</li>

		<li *isPermission="['Fee Master Settings - Advance Valuation_View']"
			class="parent-list"
			[class.active]="this.router.url.includes('/admin-dashboard/valuation-settings') || this.router.url.includes('/admin-dashboard/enterprise-valuation-settings')">
			<a href="javascript:void(0)" (click)="showsubmenu10()">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/master-setting-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/master-setting-icon-black.png"/>
                </div>
				<span class="menu-txt">	Master Settings</span>
				<span class="material-icons float-right">
					keyboard_arrow_down
				</span>
			</a>
			<ul class="submenu" [ngClass]="addClass10 ? 'show' : 'hide'">
				<li *isPermission="['Fee Master Settings - Advance Valuation_View']"><a
						[routerLink]="['/admin-dashboard/valuation-settings']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">
						Insta/Advance Valuation
						Settings</a>
				</li>
				<li *isPermission="['Fee Master Settings - Advance Valuation_View']"><a
						[routerLink]="['/admin-dashboard/enterprise-valuation-settings']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact:true}">Enterprise Valuation Settings</a></li>
			</ul>
		</li>

		<!-- <li *isPermission="['Customer Management_View']"><a [routerLink]="['/admin-dashboard/customer-management']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customer Management</a></li> -->

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/contact-us-list')"
			*isPermission="['ContactUs_View']"><a [routerLink]="['/admin-dashboard/contact-us-list']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/contact-us-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/contact-us-icon-black.png"/>
                </div>
				<span class="menu-txt">	Contact Us List</span></a></li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/my-demo')"
			*isPermission="['Demo Requests_View']"><a [routerLink]="['/admin-dashboard/my-demo']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/demo-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/demo-icon-black.png"/>
                </div>
				<span class="menu-txt">	Demo Requests</span></a></li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/callback-request')"
			*isPermission="['Call Back Request_View']"><a [routerLink]="['/admin-dashboard/callback-request']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/call-back-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/call-back-icon-black.png"/>
                </div>
				<span class="menu-txt">Call Back Request</span></a></li>

		<li class="parent-list" [class.active]="this.router.url.includes('/admin-dashboard/subscribers')"
			*isPermission="['Newsletter Subscribers_View']"><a [routerLink]="['/admin-dashboard/subscribers']"
				routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/newsletter-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/newsletter-icon-black.png"/>
                </div>
				<span class="menu-txt">	Newsletter Subscribers</span></a></li>
		<li class="parent-list" *ngIf="userRole == 'ChannelPartner'"
			[class.active]="this.router.url.includes('/admin-dashboard/change-password')">
			<a [routerLink]="['/admin-dashboard/change-password']">
				<div class="sidebar-icon">
                    <img class="sidebar-icon-white" src="../../../assets/images/password-icon-white.png"/>
                    <img class="sidebar-icon-black" src="../../../assets/images/password-icon-black.png"/>
                </div>	
				<span class="menu-txt">	Change Password</span></a>
		</li>
		<li *ngIf="userRole == 'ChannelPartner'" class="parent-list"><a (click)="redirectToPage()">
			<div class="sidebar-icon">
				<img class="sidebar-icon-white" src="../../../assets/images/transection-icon-white.png"/>
				<img class="sidebar-icon-black" src="../../../assets/images/transection-icon-black.png"/>
			</div>
			<span class="menu-txt">	My Profile</span></a></li>

	</ul> 

	<div class="switch-role parent-list ">
		<span class="label-Switch">Switch role:</span>
		<mat-select [(ngModel)]="userRole" (selectionChange)="switchRole(userRole)">
			<mat-option *ngFor="let role of this.rolesArray" [value]="role">
				{{role}}
			</mat-option>
		</mat-select>
	</div>
</div>
</div>