<div class="popup">
    <div class="popup-hdr">
        Confirm
         <button mat-button (click)="backClick()" class="close-btn"><img
                src="../../../../assets/images/Close.svg" alt=""></button>
    </div>
    <div class="popup-body">
        <p>{{description}}</p>
        <div class="text-right">
            <button class="default-btn-outline plr-md-40 mr-3" (click)="backClick()" mat-button>Cancel</button>
                <button class="default-btn plr-md-40" (click)="okClick()" mat-button >Ok</button>
        </div>
    </div>
</div>
