<div class="popup modal-popup">
    <div class="popup-hdr">
        <h4 class="m-0">{{!data.isFromOnlineRefund && !data.isFromOfflineRefund ? 'Offline Payment Details' :
            data.isFromOnlineRefund && !data.isFromOfflineRefund ? 'Refund Details' :'Payment Information'}}</h4>
        <button mat-button (click)="backClick()" class="close-btn">
            <img src="../../../../../../assets/images/Close.svg" alt="">
        </button>
    </div> 
    <div class="popup-body" *ngIf="realizationDetails">
        <div class="row" *ngIf="!data.isFromOnlineRefund && !data.isFromOfflineRefund">
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Mode</label>
                <p>{{realizationDetails?.payment_mode}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Type</label>
                <p>{{realizationDetails?.payment_type == 1 ? 'Partial' : 'Full'}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Transaction ID</label>
                <p>{{realizationDetails?.transaction_id}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Bank Name</label>
                <p>{{realizationDetails?.bank_name}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Branch Name</label>
                <p>{{realizationDetails?.branch}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Reference No.</label>
                <p>{{realizationDetails?.bank_ref_no}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Amount</label>
                <p>{{realizationDetails?.amount}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6" *ngIf="realizationDetails?.invoice?.invoice_number">
                <label class="font-weight-bold mb-0">Invoice Number</label>
                <p>{{realizationDetails?.invoice?.invoice_number}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6" *ngIf="realizationDetails?.invoice?.billed_to">
                <label class="font-weight-bold mb-0">Invoice in favour of</label>
                <p>{{realizationDetails?.invoice?.billed_to}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Date</label>
                <p>{{realizationDetails?.payment_date | date:'dd-MM-yyyy'}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Status</label>
                <p>{{getPaymentStatus(realizationDetails?.payment_status)}}</p>
            </div>
        </div>

        <div class="row" *ngIf="data.isFromOnlineRefund && !data.isFromOfflineRefund">
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Refund Transaction Id</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.transaction_id ? realizationDetails?.transaction?.transaction_id :
                    ''}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Id</label>
                <p>{{realizationDetails?.payment_gateway_payment_id}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Refund Id</label>
                <p>{{realizationDetails?.refund_id}}</p>
            </div>


            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Refund Type</label>
                <p>{{realizationDetails?.refund_type}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Transaction Amount</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.amount ?
                    realizationDetails?.transaction?.amount : ''}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Refunded Amount</label>
                <p>{{realizationDetails?.amount}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Request Status</label>
                <p>{{getPaymentStatus(realizationDetails?.status)}}</p>
            </div>
        </div>

        <div class="row" *ngIf="data.isFromOfflineRefund">
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Mode</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.payment_mode ? realizationDetails?.transaction?.payment_mode :
                    ''}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Payment Reference No.</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.bank_ref_no ? realizationDetails?.transaction?.bank_ref_no : ''}}
                </p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Bank Name</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.bank_name ? realizationDetails?.transaction?.bank_name :
                    ''}} </p>
            </div>


            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Branch Name</label>
                <p>{{realizationDetails?.transaction && realizationDetails?.transaction?.branch
                    ? realizationDetails?.transaction?.branch : ''}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Date of Payment</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.payment_date ? realizationDetails?.transaction?.payment_date :
                    ''}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Amount</label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.amount ?
                    realizationDetails?.transaction?.amount : ''}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Fees </label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.fees ? realizationDetails?.transaction?.fees :
                    ''}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Service Tax </label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.service_tax ? realizationDetails?.transaction?.service_tax :
                    ''}}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0">Total Amount </label>
                <p>{{realizationDetails?.transaction &&
                    realizationDetails?.transaction?.total_amount ? realizationDetails?.transaction?.total_amount :
                    ''}}</p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
                <label class="font-weight-bold mb-0"> Status </label>
                <p>{{getPaymentStatus(realizationDetails?.transaction?.payment_status)}}</p>
            </div>

        </div>
    </div>
</div>