.dialog-actions-container {
  margin-top: 16px;
}

mat-chip {
  border: 1px solid#0f3d94;
}

.modal-popup .popup-body{
  max-height: 80vh;
}

.sel {
  background-color: #0f3d94;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .modal-popup .popup-hdr h4 {width: 75%;}
  .demo-calender.datepicker-input .calender-icon {
    top: 42px;
  }
}



.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 42%;
  transform: translate(0px, 42%);
  right: 0px;
}
.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 40px!important;
}