<form class="dynamic-form" [formGroup]="form" (submit)="onSubmit()">
    <ng-container *ngFor="let field of fields;">
        <app-dynamic-field [field]="field" [group]="form"></app-dynamic-field>
    </ng-container>
    </form>