<div class="popup modal-popup">
        <div class="popup-hdr">
            <h4 class="m-0">Export</h4>
            <button mat-button (click)="backClick()" class="close-btn">
                <img src="../../../../../../assets/images/Close.svg" alt="">
            </button>
        </div>
        <div class="popup-body valuation-report">
        <div class="row reuest-info">
            <div class="col-sm-12 title mb-3">Please select date range to export data</div>
            
            <div class="col-md-6 mb-3">
                    <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
              <mat-form-field floatLabel="never" class="datepicker-input">
                <input placeholder="Enter From Date" matInput [matDatepicker]="picker5"
                    (click)="picker5.open()" readonly [(ngModel)]="fromDate" [max]="getDate()">
                <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-icon">
                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                        <img src="../../../assets/images/calendar.svg" />
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
            </mat-form-field>
                </div>
                <div class="col-md-6 mb-3 ">
                    <!-- <label for="" class="f-12 d-block"><span class="text-warning">*</span></label> -->
              <mat-form-field floatLabel="never" class="datepicker-input">
                <input placeholder="Enter To Date" matInput [matDatepicker]="picker6"
                    (click)="picker6.open()" readonly [(ngModel)]="toDate" [min]="fromDate" [max]="getMaxDate()">
                <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-icon">
                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                        <img src="../../../assets/images/calendar.svg" />
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>
                </div>
        </div>
    
        <div class="row asset-data-value text-right">
            <div class="col-sm-12 mt-3">
                    <div class="text-right">
                        <button class="default-btn  m-t-3" mat-button [disabled]="!this.fromDate || !this.toDate" (click)="export()">Export</button>
                    </div>
            </div>
        </div>
    </div>
    </div>