.card-partner {
    background-color: #fff;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    padding: 15px 15px 2px;
    margin: 15px;
}

ul.valued-partner-cards {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul.valued-partner-cards li {
    flex: 1 1 15%;
    margin: 5px auto;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 8px;
    max-width: 15%;
    justify-content: center;
    align-items: center;
}

ul.valued-partner-cards li img {
    height: 80px;
    margin: 5px;
    object-fit: contain;
    width: 100%;
}


/* ul.valued-partner-cards li:hover {
    box-shadow: 0px 1px 5px 2px #eee;
    cursor: pointer;
} */

.valuead-headinf {
    color: #001229;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}

@media(max-width:640px) {
    ul.valued-partner-cards li {
        flex: 0 0 48%;
        margin: 5px auto 0px 5px;
        border: 1px solid #eee;
        text-align: center;
        border-radius: 8px;
        max-width: 48%;
        justify-content: center;
        align-items: center;
    }
}

.mat-sidenav-content {
    overflow: hidden;
}