<div class="conatainer-fluid">
    <div class="row m-0">
        <div class="col-sm-12">
            <div class="card-partner">
                <div class="valuead-headinf">Our Valued Partners</div>
                <ul class="valued-partner-cards">
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Kobelco_logo.jpeg">
                        
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/A%20Dayal%20Drilling%20Pvt.Ltd._logo.png">
                        
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/AMW_logo.jpg">
                       
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/International%20Tractors%20Limited_logo.jpg">
                        
                    </li>

                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Jakson_logo.jpg">
                         
                    </li>

                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Jaypee_logo.png">
                        
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/JCB_logo.jpg">
                        
                    </li>
                    <li> >
                            <img src="../../../assets/images/brand.png">
                         
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                    <li>  
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Kobelco_logo.jpeg">
                         
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/A%20Dayal%20Drilling%20Pvt.Ltd._logo.png">
                       
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/AMW_logo.jpg">
                        
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/International%20Tractors%20Limited_logo.jpg">
                        
                    </li>

                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Jakson_logo.jpg">
                        
                    </li>

                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/Jaypee_logo.png">
                       
                    </li>
                    <li> 
                            <img src="https://iquippodocuments.s3.ap-south-1.amazonaws.com/TempUploadMP2/MasterData/JCB_logo.jpg">
                        
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                       
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                      
                    </li>
                    <li> 
                            <img src="../../../assets/images/brand.png">
                        
                    </li>
                     <li> 
                            <img src="../../../assets/images/brand.png">
                       
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>