<div class="custom-table-main product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]=" ['/admin-dashboard']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Markup Price Master</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-8 col-md-12">
                <h3 class="admin-page-title">Markup Price Master</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-4 col-md-12">
                <div class="user-search-btn">
                    <div class="excel-export-section">
                        <button mat-button (click)="exportToExcel()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>
            Export</button>
                    </div>
                    <!-- <div class="add-more-btn">
          <button class="mat-button" (click)="addMoreField()">Add new</button>
        </div> -->
                </div>
            </div>
        </div>

        <div class="markup-section mb-3">
            <div class="markup-section-heading">
                <h3 class="admin-page-title">{{ isEdit ? "Edit Markup Price" : "Add Markup Price" }}</h3>
            </div>
            <div class="markup-section-body">
                <form [formGroup]="form" class="sele-master-form mb-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label class="f-12 d-block">Select Type</label>
                            <mat-select [(ngModel)]="sellModelData.user_role" placeholder="Select Type" (selectionChange)="UserRoleChange(sellModelData.user_role)" formControlName="userRole">
                                <mat-option *ngFor="let type of UserRoleTypeArray" [value]="type.typeName">
                                    {{ type.typeName }}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div *ngIf="userIdHiddenFlag || partnerHiddenFlag" class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label class="f-12 d-block">Select User</label>
                            <!-- <mat-select *ngIf="userIdHiddenFlag" placeholder="--Select--" [(ngModel)]="sellModelData.user_name" required
          #User [value]="User" name="User" formControlName="User"
          (selectionChange)="UserChange($event.value)">
          <mat-option *ngFor="let x of UsersJData" [value]="x.cognito_id">
            {{ x.first_name }}
          </mat-option>
        </mat-select> -->


                            <mat-form-field *ngIf="userIdHiddenFlag" floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto1" placeholder="Enter name" type="text" (keyup)="searchUser($event, 'user')" formControlName='User' maxlength="256" [(ngModel)]="sellModelData.user_name">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let x of UsersJData" (onSelectionChange)="UserChange(x.cognito_id, $event)" [value]="x.first_name">{{x.first_name}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                            <!-- <mat-select *ngIf="partnerHiddenFlag" placeholder="--Select--" [(ngModel)]="sellModelData.user_name"
              required #User [value]="User" name="User" formControlName="User"
              (selectionChange)="UserChange($event.value)">
              <mat-option *ngFor="let x of UsersJData" [value]="x.user && x.user.cognito_id ? x.user.cognito_id : ''">
                {{ x.user && x.user.first_name ? x.user.first_name : '' }}
              </mat-option>
            </mat-select> -->

                            <mat-form-field *ngIf="partnerHiddenFlag" floatLabel="never" matAutocompleteOrigin>
                                <input matInput [matAutocomplete]="auto2" placeholder="Enter name" type="text" (keyup)="searchUser($event, 'partner')" formControlName='User' maxlength="256" [(ngModel)]="sellModelData.user_name">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let x of UsersJData" (onSelectionChange)="partnerChange(x.user.cognito_id, $event)" [value]="x.user.first_name">{{x.user.first_name}}</mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <!-- <div *ngIf="mobileHiddenFlag" class="col-sm-4 mb-3">
        <label class="f-12 d-block">Mobile No.</label>
        <input [(ngModel)]="sellModelData.mobile_number" type="text" name="mobile" formControlName="mobile"
          placeholder="*Mobile No." readonly>
      </div> -->

                        <div *ngIf="mobileHiddenFlag" class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label class="f-12 d-block">Mobile No.</label>
                            <mat-form-field floatLabel="never">
                                <mat-label>*Mobile No.</mat-label>
                                <input matInput placeholder="" [(ngModel)]="sellModelData.mobile_number" name="mobile" formControlName="mobile" required class="" readonly>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
                            <label class="f-12 d-block">Price in % </label>
                            <input matInput [(ngModel)]="sellModelData.price_in_per" min="0" max="100" name="PricePercent" formControlName="PricePercent" placeholder="*Price in %" type="number" />
                        </div>

                        <!-- <div class="col-sm-4 ml-auto">
            <label class="f-12 d-block invisible">save</label>
            <button type="submit" (click)="saveEditCategorySpec(sellModelData.id)" [disabled]="!form.valid"
              class="default-btn plr-md-40" ng-if="!isEdit">{{ isEdit ? "Update" : "Save" }}</button>
          </div> -->
                        <div class="col-sm-6 col-md-6 col-lg-4 text-right ml-auto">
                            <label class="f-12 d-block d-md-none invisible">save</label>
                            <button (click)="saveEditCategorySpec(sellModelData.id)" class="default-btn plr-md-40" mat-button [disabled]="!form.valid">{{ isEdit ? "Update" : "Save" }}</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-form-field floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search" (keyup)="search($event,$event.target.value)" (keydown.enter)="search($event,$event.target.value)" />
                </mat-form-field>
            </div>
        </div>
        <div class="asset-table">
            <div class="table-responsive inner-table mb-3">
                <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource1" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">ID</span> {{ element.id }} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Type</span> {{ element.type === 1 ? "Enterprise" : element.type === 2 ? "Seller" : "Default" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="user__first_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">User</span> {{ element.user.first_name }} {{element.mobileNumber ? '(' + element.mobileNumber + ')' : ''}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price_in_per">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price in % </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Price in %</span> {{ element.pricePerc }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="mobile-label">Actions</span>
                            <div>
                                <button mat-button class="simple-btn mr-2" (click)="editSellData(element.id)">
                <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span>
              </button>
                                <button mat-button class="simple-btn delet-icon" (click)="deleteField(element.id)">
                <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete" title="Delete"></span>
              </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <!-- </mat-table> -->
                </table>

                <div class="no-record" *ngIf="dataList?.results?.length == 0">No records found</div>
            </div>
        </div>
        <mat-paginator [length]="dataList?.count" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>
</div>