

<h2 mat-dialog-title>Add New</h2>
<mat-dialog-content [formGroup]="form">
    <div class="user-management-form-section">
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Type
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="offerType" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.offerType.errors }">
                    <option value="">-- Select Type --</option>
                    <option value="new">New</option>
                    <option value="used">Used</option>
                    <option value="both">Both</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Category
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="category" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" (change)="onCategorySelect($event.target.value)">
                    <option value="">-- Select Category --</option>
                    <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Brand
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="brand" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.brand.errors }" (change)="onBrandSelect($event.target.value)">
                    <option value="">-- Select Brand --</option>
                    <option *ngFor="let brand of brandList" [value]="brand.id">{{brand.name}}</option>
                </select>
            </div>          
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Model
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="model" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
                    <option value="">-- Select Model --</option>
                    <option *ngFor="let model of modelList" [value]="model.id">{{model.name}}</option>
                </select>
            </div>           
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Country
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="country" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                    <option value="">-- Select Country --</option>
                    <option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</option>
                </select>
            </div>           
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 user-management-heading">
            <div class="mdc-text-field mdc-text-field--outlined">
                <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                        <span class="mdc-floating-label" class="user-form-label">
                            Select Location
                        </span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                </span>
                <select formControlName="location" class="mdc-text-field__input form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" multiple>
                    <option value="">-- Select Location --</option>
                    <option *ngFor="let location of locationList" [value]="location.id">{{location.location}}</option>
                </select>
            </div>           
        </div>
        <div class="col-lg-12 user-management-heading mt-3">
            <section class="example-section">
                <mat-checkbox formControlName="carPurchase" (change)="toggleCarPurchase()">Cash Purchase</mat-checkbox>
                <a href="javascript:void(0)" (click)="addCarPurchase()" class="ml-5" *ngIf="isHiddenCarPurchase">Add More</a>
            </section>
        </div>
        <ng-container *ngIf="isHiddenCarPurchase">
            <section formArrayName="carPurchaseData" *ngFor="let contact of PDFormGroup.controls; let i = index;">
                <div [formGroupName]="i">
                    <div class="col-lg-5 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Price</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="price" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-5 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Free Of Cost</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="free_of_cost" class="mdc-text-field__input form-control" aria-labelledby="my-label-id" placeholder="Enter Free of cost">
                        </div>
                    </div>
                    <div class="col-lg-2 user-management-heading">
                        <button class="mat-raised-button btn-danger p-2" type="button" (click)="removeCarPurchase(i)"> Remove </button>
                    </div>
                </div><hr />
            </section>
        </ng-container>
        <div class="col-lg-12 user-management-heading mt-1">
            <section class="example-section">
                <mat-checkbox formControlName="listFinance" (change)="toggleListFinance()">List In Finance</mat-checkbox>
                <a href="javascript:void(0)" (click)="addListFinance()" class="ml-5" *ngIf="isHiddenListFinance">Add More</a>
            </section>
        </div>
        <ng-container *ngIf="isHiddenListFinance">
            <div class="col-lg-12 user-management-heading">
                <div class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" class="user-form-label">Select Financer</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <select formControlName="financer" class="mdc-text-field__input form-control">
                        <option value="">-- Select Financer --</option>
                        <option value="Test">Test</option>
                    </select>
                </div>
            </div>
            <section formArrayName="listFinanceData" *ngFor="let finanace of FDFormGroup.controls; let i = index;">
                <div [formGroupName]="i">
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Tenure</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="tenure" class="mdc-text-field__input form-control" aria-labelledby="my-label-id" placeholder="Enter Tenure">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Amount</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" placeholder="Enter Amount" formControlName="amount" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Rate</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" placeholder="Enter Rate" formControlName="rate" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Margin</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="margin" class="mdc-text-field__input form-control" aria-labelledby="my-label-id" placeholder="Enter Margin">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Processing Fee</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="processing_fee" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Installment</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="installment" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Free Cost</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="free_cost" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-2 user-management-heading">
                        <button class="mat-raised-button btn-danger p-2" type="button" (click)="removeListFinance(i)"> Remove </button>
                    </div>
                </div><hr />
            </section>
        </ng-container>
        <div class="col-lg-12 user-management-heading mt-1">
            <section class="example-section">
                <mat-checkbox formControlName="listLease" (change)="toggleListLease()">List In Lease</mat-checkbox>
                <a href="javascript:void(0)" (click)="addListLease()" class="ml-5" *ngIf="isHiddenListLease">Add More</a>
            </section>
        </div>
        <ng-container *ngIf="isHiddenListLease">
            <div class="col-lg-12 user-management-heading">
                <div class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label"  class="user-form-label">Select Financer</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <select formControlName="leaser" class="mdc-text-field__input form-control">
                        <option value="">-- Select Financer --</option>
                        <option value="test">Test</option>
                    </select>
                </div>
            </div>
            <section formArrayName="listLeaseData" *ngFor="let leaser of LDFormGroup.controls; let i = index;">
                <div [formGroupName]="i">
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Tenure</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="tenure" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Amount</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="amount" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Rate</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="rate" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Margin</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="margin" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Processing Fee</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="processing_fee" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Installment</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="installment" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-3 user-management-heading">
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__notch">
                                    <span class="mdc-floating-label"  class="user-form-label">Free Cost</span>
                                </span>
                                <span class="mdc-notched-outline__trailing"></span>
                            </span>
                            <input type="text" formControlName="free_cost" class="mdc-text-field__input form-control" aria-labelledby="my-label-id">
                        </div>
                    </div>
                    <div class="col-lg-2 user-management-heading">
                        <button class="mat-raised-button btn-danger p-2" type="button" (click)="removeListLease(i)"> Remove </button>
                    </div>
                </div> <hr />
            </section>
        </ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="Close()">Cancel</button>
    <button class="mat-raised-button mat-primary" *ngIf="!isEdit" (click)="save()">Save</button>
    <button class="mat-raised-button mat-primary" *ngIf="isEdit" (click)="update()">Update</button>
</mat-dialog-actions>