.user-management-heading, .add-user{display: inline-block;}
.add-user button, .user-search-btn button {
    background: #094fa3;
    border: 0px;
    padding: 10px 12px;
    color: #fff;
    border-radius: 5px;
}
.user-form-label{width:100%;float: left;}
.user-management-form-section input {
    padding: 10px;
    border-radius: 5px;
    background: #f5f8fa;
    border: 1px #c4cfd8 solid;
    width: 100%;
}
.user-management-form-section {
    padding-top: 15px;
}
.user-management-heading button {
    padding: 10px 12px;
    border-radius: 5px;
    width: 100%;
}
.user-reset-btn{padding-right: 0px;}
.user-reset-btn button {
    background: 0 none;
    color: #094fa3;
    border: 1px #094fa3 solid;
}
.action-btns a {
    padding-right: 10px;
}