<div class=''>
    <div class="banner-bx">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="small-qtt">
                        <h2>Sell Your New Equipment</h2>
                        <div class="col-12 col-sm-9 err-msg ml-n2 pl-0  mt-md-3">
                            <!-- {{ message}} -->
                        </div>
                        <form [formGroup]="sellEquipmentForm">
                            <!-- <div class="">
                                <label for="" class="f-12 d-block">Is your Equipment</label>
                                <mat-radio-group aria-label="Select an option" formControlName="newused">
                                    <mat-radio-button value="1">New</mat-radio-button>
                                    <mat-radio-button value="2">Used</mat-radio-button>
                                </mat-radio-group>
                            </div> -->
                            <!-- <div class="mb-2">
                                <label for="" class="f-12 d-block">You are a</label>
                                <mat-radio-group aria-label="Select an option" formControlName="customerType">
                                    <mat-radio-button value="1">Dealer</mat-radio-button>
                                    <mat-radio-button value="2">Manufacture</mat-radio-button>
                                </mat-radio-group>
                            </div> -->
                            <div class="mb-3">
                                <label for="category" class="f-12"><b>Category<em>*</em></b></label>
                                <mat-form-field floatLabel="never" matAutocompleteOrigin >
                                    <input matInput [matAutocomplete]="auto"  placeholder="" type="text" (blur)="trimSpaces($event)"  (keyup)="filterValuesCategory($event)" formControlName='category' maxlength="256">
                                    <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let category of categoryList" (onSelectionChange)="updateValidations();onCategorySelect(category.id)" [value]="category.name" >{{category.name}}</mat-option>
                                    <!-- <mat-option *ngIf="categoryList?.length == 0" value="Other">Other</mat-option> -->
                                </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="mb-3" *ngIf="sellEquipmentForm?.get('category')?.value == 'Other'">
                                <label for="otherCategory" class="f-12"><b>Other Category<em>*</em></b></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" autocomplete="off" type="text" formControlName="otherCategory">                                       
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="" class="f-12"><b>Brand<em>*</em>   </b></label>
                                      <mat-form-field floatLabel="never" matAutocompleteOrigin >
                                          <input matInput [matAutocomplete]="auto1"  placeholder="" type="text" (blur)="trimSpaces($event)"  (keyup)="filterValuesBrand($event)" formControlName='brand' maxlength="256">
                                          <mat-autocomplete #auto1="matAutocomplete">
                                            <!-- <mat-option value="Other" *ngIf="brandList?.length == 0" (onSelectionChange)="updateValidations();onBrandSelect(0)">Other</mat-option> -->
                                          <mat-option *ngFor="let brand of brandList" (onSelectionChange)="updateValidations();onBrandSelect(brand.id)" [value]="brand.name" >{{brand.name}}</mat-option>
                                      </mat-autocomplete>
                                      </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="" class="f-12"><b>Model<em>*</em></b></label>
                                 <mat-form-field floatLabel="never" matAutocompleteOrigin >
                                        <input matInput [matAutocomplete]="auto3"  placeholder="" (blur)="trimSpaces($event)"  (keyup)="filterValuesModal($event)" type="text"  formControlName='model' maxlength="256">
                                        <mat-autocomplete #auto3="matAutocomplete">
                                        <!-- <mat-option value="Other" *ngIf="modelList?.length == 0"  (onSelectionChange)="updateValidations();onModalSelect(0)">Other</mat-option> -->
                                        <mat-option *ngFor="let model of modelList " (onSelectionChange)="updateValidations();onModalSelect(model.id)" [value]="model.name" >{{model.name}}</mat-option>
                                    </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3" *ngIf="sellEquipmentForm?.get('brand')?.value == 'Other'">
                                    <label for="otherBrand" class="f-12"><b>Other Brand<em>*</em></b></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="otherBrand">                                       
                                    </mat-form-field>
                                </div>
                                <div class="col-6 mb-3" *ngIf="sellEquipmentForm?.get('model')?.value == 'Other'">
                                    <label for="otherModel" class="f-12"><b>Other Model<em>*</em></b></label>
                                    <mat-form-field floatLabel="never">
                                        <input matInput placeholder="" autocomplete="off" type="text" formControlName="otherModel">                                       
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-6 mt-2">
                                    <button class="default-btn-outline w-100" mat-button (click)="multipleUpload()">Bulk Upload</button>
                                </div> -->
                                <div class="col-12 text-center">
                                    <button class="default-btn btn-block" type="submit" (click)="createListing()" [disabled]="!sellEquipmentForm.valid" mat-button>Create Listing</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guidlines">
        <h2 class="f-36 text-center mb-5">Guidelines to create a good listing</h2>
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3  guidline-bx">
                <img src="../../../assets/images/trust-icon.svg" alt="">
                <p class="f-18 mb-0">Upload Multiple & Quality pictures</p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 guidline-bx">
                <img src="../../../assets/images/eco-search-icon.svg" alt="">
                <p class="f-18 mb-0">Have all available documents uploaded</p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 guidline-bx">
                <img src="../../../assets/images/rc-icon.svg" alt="">
                <p class="f-18 mb-0">Mention offers, If any, applicable</p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 guidline-bx">
                <img src="../../../assets/images/more-photos-icon.svg" alt="">
                <p class="f-18 mb-0">Upload proper information of equipment</p>
            </div>
        </div>
    </div>
    <div class="contact-care">
        <div class="contact-care-box">
            <div class="cntct-care-bx">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/contact-care-img.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <h3 class="f-36 f-500 mt-4">Facing any trouble?</h3>
                        <p class="f-16 op-6 mb-3">We are open to helping you</p>
                        <div class="contact-card mb-3">
                            <img src="../../../assets/images/email-card-icon.svg" alt="">
                            <span class="pl-3">
                                <p class="f-12 mb-0 op-6">MOBILE</p>
                                <p class="f-14 mb-0">+91 - 8756432561</p>
                            </span>
                        </div>
                        <div class="contact-card mb-3">
                            <img src="../../../assets/images/whatsapp-card-icon.svg" alt="">
                            <span class="pl-3">
                                <p class="f-12 mb-0 op-6">EMAIL</p>
                                <p class="f-14 mb-0">needassistance@iquippo.com</p>
                            </span>
                        </div>
                        <div class="contact-card mb-3">
                            <img src="../../../assets/images/phone-card-icon.svg" alt="">
                            <span class="pl-3">
                                <p class="f-12 mb-0 op-6">WHATSAPP</p>
                                <p class="f-14 mb-0">+91 - 8756432561</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-sell">
        <div class="how-sell-box">
            <h3 class="f-36 mb-5 text-center f-500">How to Sell Equipment</h3>
            <ul class="text-center">
                <li>
                    <img src="../../../assets/images/howsell-1.svg" alt="" class="img-fluid">
                    <p>Upload Products</p>
                </li>
                <li>
                    <img src="../../../assets/images/howsell-2.svg" alt="" class="img-fluid">
                    <p>Get Orders</p>
                </li>
                <li>
                    <img src="../../../assets/images/howsell-3.svg" alt="" class="img-fluid">
                    <p>Fullfill Orders</p>
                </li>
                <li>
                    <img src="../../../assets/images/howsell-4.svg" alt="" class="img-fluid">
                    <p>Receive Payments</p>
                </li>
            </ul>
        </div>
    </div>
</div>
