.main-wrapper{
    padding: 0 15px;
}
.banner-bx{
    padding: 50px 0 70px;
    background: url(/assets/images/sellbanner.svg) no-repeat;
    background-size: contain;
    height: 100%;
    background-color: #f0f6fa;
    background-position: left 50px;
}
.small-qtt{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #D3DEE6;
    border-radius: 20px;
    width: 420px;
    max-width: 90%; 
    float: right;
    padding:30px;
    margin-right: 15px;
    font-size: 14px;
}
.small-qtt h2{
    font-size: 20px;
}
.small-qtt label{
    color: #384B63;
}
.mat-radio-button{
    width: 50%;
}
.guidlines{
    padding: 70px 0;
    background: #FFFFFF;
}
.guidline-bx{
    text-align: center;
    position: relative;
}
.guidline-bx::after{
    content: '';
    position: absolute;
    top: 10%;
    height: 80%;
    right: 0;
    width: 1px;
    background: #B8C4CF;
}
.guidline-bx:last-child::after{
    display: none;
}
.guidline-bx img{
    height: 50px;
}
.guidline-bx p{
    font-size: 14px;
    margin: 20px auto 0;
    max-width: 150px;
}
.cntct-care-bx{
    background: transparent linear-gradient(109deg, #1551B5 0%, #A4181E 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px;
    padding: 30px;
    color: #fff;
}
.contact-card{
    display: flex;
    justify-items: center;
    margin-top: 20px;
}
.contact-card span{
    justify-self: center;
    align-self: center;
}
.how-sell{
    padding: 60px 0;
}
.how-sell ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.how-sell ul li{
    width: 25%;
    display: inline-block;
}
.how-sell ul li p{
    margin-bottom: 0;
    margin-top: 30px;
}
.contact-care, .how-sell {background: #fff;}

.contact-care .contact-care-box, .how-sell .how-sell-box {margin: 0px 100px;}

@media(max-width:767px){
    .banner-bx {
        padding: 10px 0;
    }
    .bannerdtlbx {
        padding: 10px;
    }
    .f-30 {
        font-size: 20px;
    }
    .f-18 {
        font-size: 14px!important;
    }
    .guidline-bx {margin-bottom: 20px; }
    .guidlines {padding-top: 20px;}
    .guidlines h2, .how-sell-box h3 {font-size: 24px; padding: 0px 24px;}
    .contact-care .contact-care-box, .how-sell .how-sell-box  {margin: 0px 15px;}
    .how-sell ul li {width: 50%;}
    .small-qtt {width: 100%; max-width: 100%; margin-right: 0px;} 
}