.h-80{
    height: 80px;
}
.l40{line-height:40px;}
.product-wrapper .product-wrapper-box {margin: 0px 15px 15px; padding: 0px;}
.product-wrapper-box .container-fluid {padding: 0px;}
.datepicker-input {position: relative;}
.datepicker-input .calender-icon {position: absolute; top: -30px; right: 10px;}
.mat-card{padding:0px; }
.product-wrapper {
    padding: 0px;
    width: calc(100% - 18em);
    margin-bottom: 50px;
    margin-left: auto;
    transition: .5s;
}
.main-content-wrapper {
    padding: 1rem 0rem 0;
}
.customer-details-wrapper {
    padding: 15px;
    border: 1px solid #eee;
}

.customer-details-wrapper .sub-head {
    font-size: 16px;
    background: #0f3d94;
    margin-top: -15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: #fff;
}
.prof-of-identity {
    border: 1px solid #eee;
    padding: 15px;
}
.saveandcont-btn {
    text-align: right;
    padding: 0 0rem 0rem;
}


.trade-tab-container .myself-details-main-wrapper {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}
.myself-details-main-wrapper .progress-block {border-radius: 10px 10px 0px 0px;}
.myself-details-main-wrapper form {padding: 10px;}


@media screen and (max-width: 992px) and (min-width: 768px) {

    /* .product-wrapper {padding: 20px 0px; width: 100%; margin-top: 0px !important; float: none; transition: 0.5s;}
   */
  
  }
  
  @media screen and (max-width: 767px) {
     
    .product-wrapper {padding: 20px 0px; margin-top: 0px; width: 100%; float: none; transition: 0.5s;} 
  }

  @media screen and (max-width: 576px) {
    
    .customer-details-wrapper, .prof-of-identity {margin-bottom: 1rem;}
  .saveandcont-btn {margin: 0px 15px;}  
  }