/* .main-div {
  width:80% !important;
  float: right;
} */


/* 
.header-box {
  margin: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
} */

.main-heading {
    font-size: 32px;
    font-weight: 700;
}

.product-wrapper {
    padding: 15px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
}

.mat-card {
    padding: 0px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /* .product-wrapper {
        padding: 20px 15px;
        width: 100%;
        margin-top: 0px !important;
        float: none;
        transition: 0.5s;
    } */
}

@media screen and (max-width: 767px) {
    .product-wrapper {
        padding: 20px 15px;
        margin-top: 0px;
        width: 100%;
        float: none;
        transition: 0.5s;
    }
}

.accepted-container span mat-radio-group .mat-radio-button {
    flex: 1 1 33.33%;
    margin-bottom: 10px;
}

.accepted-container .mat-radio-label-content {
    /* display: block; */
    width: 100%;
}

@media(max-width:767px) {}