.page-banner {
    position: relative;
}

.page-banner-image {
    height: 350px;
}

.page-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-search-btn .default-btn {
    padding: 2px 20px;
}

.slider-arrow ul li {
    display: inline-block;
    vertical-align: middle;
}

.slider-arrow ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0D4FA3;
    border-radius: 6px;
    font-size: 24px;
    color: #0D4FA3;
}

.page-banner-search {
    width: 100%;
    max-width: 820px;
    padding: 0 15px;
    margin: -40px auto 0;
    position: relative;
}

.page-banner-searchwrap {
    background-color: #fff;
    border: 1px solid #000;
    padding: 25px 15px;
}

.page-banner-searchwrap {
    background-color: #fff;
    border: 1px solid #b8c4cf;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.banner-search-btn button {
    padding: 5px 20px;
    margin-left: 15px;
    min-width: 150px;
    border-radius: 5px;
}

.auction-welcome-section {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 15px;
}

.section-header.text-center {
    justify-content: center;
}

.auction-welcome-item {
    margin-bottom: 20px;
}

.aution-welcome-wrap {
    position: relative;
}

.aution-welcome-icon {
    background-color: #e3f0ff;
    border: 1px solid #c3cfdd;
    border-radius: 100%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.aution-welcome-content {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
}

.ongoing-auction-section {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 15px;
}

.auction-row {
    margin: 0 -7.5px;
}

.auction-item {
    margin-bottom: 20px;
    padding: 0 7.5px;
}

.auction-wrap {
    background-color: #FFFFFF;
    border: 1px solid #C4CFD8;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.auction-image {
    width: 100%;
    position: relative;
    height: 150px;
}

.auction-image img {
    background-size: cover;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.auction-time-left {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 36px;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    letter-spacing: 4px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction-time-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.auction-time {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
}

.auction-time span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.auction-online-live {
    position: absolute;
    top: 20px;
    left: 20px;
}

.auction-online-live span {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background-color: #EF0000;
    padding: 4px 8px;
    border-radius: 5px;
}

.auction-online-live span.auction-online {
    background-color: #0D4FA3;
    display: inline-block;
    margin-bottom: 5px;
}

.auction-online-live span.auction-live {
    display: block;
}

.auction-online-live span img {
    width: 14px;
    margin-right: 5px;
    height: 14px;
    display: inline-block;
}

.auction-lost-id {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 15px;
    border-radius: 10px 0 0 0;
}

.auction-summery {
    padding: 5px 7.5px;
}

.auction-title {
    color: #000;
    font-size: 15px;
    min-height: 38px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.auction-catalogue-view {
    margin-bottom: 10px;
}

.auction-catalogue-view a {
    display: block;
}

.auction-catalogue-view a img {
    margin-right: 5px;
    width: 14px;
    display: inline-block;
}

.auction-loaction {
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.auction-loaction img {
    width: 15px;
    margin-right: 5px;
    display: inline-block;
}

.auction-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.auction-buttons button {
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    margin: 1.5px;
}

.auction-btn-bidnow {
    border: 1px solid #0D4FA3;
    background-color: #0D4FA3;
    color: #fff;
    padding: 7px 10px;
}


/* .auction-btn-bidnow:hover, .auction-btn-bidnow:focus {   
    background-color: #0D4FA3;
    color: #fff;   
} */

.auction-btn-viewlot {
    border: none;
    background: transparent linear-gradient(106deg, #1A50B1 0%, #A01922 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    padding: 8px 15px;
}


/* .auction-btn-viewlot:hover, .auction-btn-viewlot:focus {   
    background: #A01922;
    color: #fff;   
} */

.upcoming-auction-section {
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 15px;
}

.auction-date-summery {
    display: flex;
    padding: 10px;
}

.auction-date {
    background: transparent linear-gradient(180deg, #1A50B1 0%, #A01922 100%) 0% 0% no-repeat padding-box;
    min-width: 90px;
    border-radius: 6px 0px 0 6px;
}

.auction-date-wrap {
    color: #fff;
    border-radius: 6px 0px 0 6px;
    font-size: 18px;
    font-weight: 600;
    line-height: 42px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 8px)
}

.auction-date-wrap span {
    font-size: 18px;
    line-height: 28px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.auction-date-summery .auction-summery {
    /* background-color: #f5f5f5; */
    width: 100%;
    border: 2px solid #0d4fa3;
    /* padding: 10px; */
}

.slider-arrow {
    display: none;
}

@media screen and (max-width: 1199px) {
    .ongoing-auction-section {
        padding: 0 15px;
    }
    .upcoming-auction-section {
        padding: 0 15px;
    }
    .auction-row {
        /* flex-wrap: nowrap;
        overflow-x: scroll; */
        margin: 0
    }
    .auction-item {
        padding: 0 7.5px 0 0;
    }
}

@media screen and (max-width: 991px) {
    .page-banner-search {
        margin: -10px auto 0;
    }
    .page-banner-image {
        height: 220px;
    }
    .page-banner-searchwrap {
        padding: 15px 15px;
    }
    .auction-date-summery {
        flex-wrap: wrap;
    }
    .auction-date {
        width: 100%;
        border-radius: 6px 6px 0 0px;
    }
    .auction-date-wrap {
        border-radius: 6px 6px 0 0px;
        /* font-size: 28px; */
        line-height: 18px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .carousel {
        overflow-x: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
    }
    .auction-date-wrap span {
        font-size: 16px;
        line-height: 22px;
        flex: 1 1 auto;
        display: inherit;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .auction-date-summery .auction-summery {
        border-width: 0 1px 1px 1px;
    }
}

@media screen and (max-width: 767px) {
    .ongoing-auction-wrapper .section-header,
    .upcoming-auction-wrapper .section-header {
        margin-bottom: 15px;
        padding-top: 1em;
    }
    .aution-welcome-content {
        display: none;
    }
    .aution-welcome-content-mob {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        display: block;
    }
    .auction-details-subauction-item {
        flex: 0 0 75%;
        width: inherit;
        margin-bottom: 15px;
    }
    .aution-welcome-icon img {
        width: 30px;
    }
    .auction-details-subauction-title {
        background-color: #f5f8fa;
        border-bottom: 1px solid #ad6271;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 600;
        line-height: 13px;
    }
    .auction-details-subauction-content p {
        font-size: 12px;
        width: 50%;
        padding: 0 5px;
        margin: 3px 0;
    }
    .auction-details-subauction-body-new {
        display: flex;
        flex-wrap: nowrap;
        margin: 1em auto!important;
        overflow: auto;
    }
    .auction-online-live {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .ongoing-auction-section {
        padding: 0 7.5px;
    }
    .upcoming-auction-wrapper {
        padding: 7.5px 0px;
    }
    .section-header {
        margin-bottom: 15px;
    }
    .carousel {
        overflow-x: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 0px!important;
    }
    .page-banner-image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .page-banner-searchwrap {
        padding: 15px 15px;
        flex-wrap: wrap;
    }
    .page-banner-searchwrap .mat-input-element {
        height: 36px;
    }
    .page-banner-searchwrap .mat-form-field-infix .mat-form-field-label {
        top: 10px;
        font-size: 12px;
    }
    .banner-search-btn {
        width: 100%;
    }
    .banner-search-btn button {
        margin: 10px 0 0 0;
        width: 100%;
        height: 36px;
        padding: 8px 10px;
        line-height: 20px;
    }
    .aution-welcome-icon {
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
    }
    .auction-welcome-item {
        margin-bottom: 20px;
        padding: 0px;
    }
    .aution-welcome-content {
        font-size: 12px;
        line-height: 20px;
    }
    .auction-buttons button {
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        width: 100%;
    }
}

.auction-form label.mat-checkbox-layout {
    margin: 0px;
}

@media screen and (max-width: 576px) {
    .page-banner-search {
        margin: -60px auto 0;
    }
    .page-banner-image {
        height: 250px;
    }
}

.container-custom {
    width: 100%;
    padding: 15px 45px 0px;
    margin: 0 auto;
}

.auction-details-btn button.theme-btn:hover {
    color: #fff !important;
}

.ongoing-auction-items .wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.auction-catalogue-view {
    margin-bottom: 10px;
    min-height: 30px;
}

.auction-catalogue-view a {
    background: #eee;
    padding: 3px;
    width: 130px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
}

.no-upcoming-auctions {
    width: 90%;
    margin: 0 auto !important;
    background: #eee;
    display: block;
    border: 1px dashed #a9a9a9aa;
    text-align: center;
}

.no-upcoming-auctions p {
    margin: 0px;
}
.ongoing-auction-wrapper {
    padding-top: 1em;
}
