<div [hidden]="loading">
    <div class="page-banner">
        <div class="page-banner-image">
            <img (load)="onLoad()" src="../../../assets/images/pexels-roger-brown-512578.jpg" alt="">
        </div>
        <div class="page-banner-search">
            <div class="page-banner-searchwrap">
                <mat-form-field floatLabel="never" class="input-icons">
                    <mat-label>Search..</mat-label>
                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                        <input matInput [matAutocomplete]="auto1" [(ngModel)]="searchText" (keyup)="getAuctionSuggestions()" (keydown.enter)="searchInList()" maxlength="256">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let obj of auctionsSuggestions" (onSelectionChange)="selectAuctionId(obj?.id)" [value]="obj.auction_engine_auction_id + ' - ' + obj?.name">
                                {{obj.auction_engine_auction_id ? (obj.auction_engine_auction_id + '-') : ''}}
                                {{obj.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-form-field>
                <div class="banner-search-btn">
                    <button mat-button class="default-btn" (click)="searchInList()">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumb-container">
        <div class="container-custom">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Auctions</li>
            </ol>
        </div>
    </div>

    <div class="auction-welcome-section">
        <div class="auction-welcome-wrapper container">
            <div class="section-header text-center">
                <h2 class="section-title" style="text-transform: inherit!important;">Welcome to iQuippo Auctions</h2>
            </div>
            <div class="auction-welcome-icons">
                <div class="row">
                    <div class="auction-welcome-item col-lg-3 col-md-3 col-sm-6 col-3">
                        <div class="aution-welcome-wrap">
                            <div class="aution-welcome-icon">
                                <img src="../../../assets/images/icon-create-account.svg" alt="" />
                            </div>
                            <div class="aution-welcome-content">
                                Create Account
                            </div>
                            <div class="aution-welcome-content-mob">
                                Create
                            </div>
                        </div>
                    </div>
                    <div class="auction-welcome-item col-lg-3 col-md-3 col-sm-6 col-3">
                        <div class="aution-welcome-wrap">
                            <div class="aution-welcome-icon">
                                <img src="../../../assets/images/icom-register-for-auction.svg" alt="" />
                            </div>
                            <div class="aution-welcome-content">
                                Register for Auction
                            </div>
                            <div class="aution-welcome-content-mob">
                                Register
                            </div>
                        </div>
                    </div>

                    <div class="auction-welcome-item col-lg-3 col-md-3 col-sm-6 col-3">
                        <div class="aution-welcome-wrap">
                            <div class="aution-welcome-icon">
                                <img src="../../../assets/images/icon-start-bidding.svg" alt="" />
                            </div>
                            <div class="aution-welcome-content">
                                Start Bidding
                            </div>
                            <div class="aution-welcome-content-mob">
                                Bid
                            </div>
                        </div>
                    </div>
                    <div class="auction-welcome-item col-lg-3 col-md-3 col-sm-6 col-3">
                        <div class="aution-welcome-wrap">
                            <div class="aution-welcome-icon">
                                <img src="../../../assets/images/icon-increase-bid-limit.svg" alt="" />
                            </div>
                            <div class="aution-welcome-content">
                                Increase Bid Limit
                            </div>
                            <div class="aution-welcome-content-mob">
                                Increase
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- auction-welcome-section -->
</div>

<div class="ongoing-auction-section mt-4" #ongoing>
    <div class="ongoing-auction-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-header">
                    <h2 class="section-title">Ongoing Auctions</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="slider-arrow text-right">
                    <ul class="list-unstyled mb-0">
                        <li class="mr-3">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ongoing-auction-items">
            <div class="auction-row" *ngIf="auctionOngoinList.length">
                <owl-carousel [options]="ongoingSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">

                    <article class="auction-item content" *ngFor="let ongoing of auctionOngoinList; trackBy: trackByFn;">
                        <div class="auction-wrap">
                            <div class="auction-image">
                                <img [src]="ongoing?.img_url ? (ongoing?.img_url) : '../../../assets/images/auction-image.jpg'" alt="">
                                <div class="auction-time-left">
                                    <div class="auction-time" *ngIf="getTimeLeft(ongoing?.ends_at) as elapsed">
                                        {{elapsed.days + 'D'}}:{{elapsed.hours + 'H'}}:{{elapsed.minutes + 'M'}}:{{elapsed.seconds + 'S'}}
                                        <span>Time Left</span>
                                    </div>
                                </div>
                                <div class="auction-online-live">
                                    <span class="auction-location" *ngIf="ongoing?.sale_type == 'LV'"><img src="../../../assets/images/icon-stream.svg"> Live</span>
                                    <span class="auction-online" *ngIf="ongoing?.sale_type == 'OL'"><img src="../../../assets/images/icon-globe.svg"> Online</span>
                                </div>
                                <div class="auction-lost-id">
                                    ({{ongoing?.lot_count}} Lots | Auction Id : {{ongoing?.auction_engine_auction_id}})
                                </div>
                            </div>
                            <div class="auction-summery">
                                <h3 class="auction-title">{{ongoing?.name}}</h3>
                                <div class="auction-loaction">
                                    <img src="../../../assets/images/online-auction.png"> {{ongoing?.city}}
                                </div>
                                <div class="auction-start-end-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span class="sdate">{{ongoing?.starts_at | date: 'dd MMM yyyy'}} -</span>
                                    <span class="edate sdate">{{ongoing?.ends_at | date: 'dd MMM yyyy'}}</span>
                                </div>

                                <div class="auction-catalogue-view">
                                    <a href="{{ongoing?.catalog_url}}" target="_blank" *ngIf="ongoing?.catalog_url">
                                        <img src="../../../assets/images/icon-view.svg">View Catalogue
                                    </a>
                                </div>
                                <div class="auction-buttons">
                                    <button class="auction-btn-bidnow" (click)="auctionbid(ongoing?.id, ongoing?.parent_auction)">Bid Now</button>
                                    <button class="auction-btn-viewlot" (click)="showAuctionDetails(ongoing?.id, ongoing?.auction_engine_auction_id)">View Lots</button>
                                </div>
                            </div>
                        </div>
                    </article>

                </owl-carousel>
            </div>
            <div class="auction-row no-upcoming-auctions" *ngIf="!auctionOngoinList.length">
                <div class="col-12">
                    <p class="py-3">No Ongoing Auctions</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="upcoming-auction-section">
    <div class="upcoming-auction-wrapper">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-header">
                    <h2 class="section-title">Upcoming Auctions</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="slider-arrow text-right">
                    <ul class="list-unstyled mb-0">
                        <li class="mr-3">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="upcoming-auction-items">
            <div class="auction-row" *ngIf="auctionUpcomingList.length">
                <owl-carousel [options]="upcomingSlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                    <section class="content" *ngFor="let upcoming of auctionUpcomingList; trackBy: trackByFn;">
                        <article class="auction-item">
                            <div class="auction-wrap">
                                <div class="auction-image">
                                    <img [src]="upcoming?.img_url ? (upcoming?.img_url) : '../../../assets/images/auction-image.jpg'" alt="">
                                    <div class="auction-online-live">
                                        <span class="auction-location" *ngIf="upcoming?.sale_type == 'LV'"><img
                                                src="../../../assets/images/icon-stream.svg"> Live</span>
                                        <span class="auction-online" *ngIf="upcoming?.sale_type == 'OL'"><img
                                                src="../../../assets/images/icon-globe.svg"> Online</span>
                                    </div>
                                    <div class="auction-lost-id">
                                        ({{upcoming?.lot_count}} Lots | Auction Id : {{upcoming?.auction_engine_auction_id}})
                                    </div>
                                </div>
                                <div class="auction-date-summery">
                                    <div class="auction-date">
                                        <div class="auction-date-wrap">
                                            <span class="start-auction-date">{{upcoming?.starts_at | date: 'dd MMM'}}</span> -
                                            <span class="end-auction-date">{{upcoming?.ends_at | date: 'dd MMM'}}</span>
                                        </div>
                                    </div>
                                    <div class="auction-summery">
                                        <h3 class="auction-title">{{upcoming?.name}}</h3>
                                        <div class="auction-loaction">
                                            <img src="../../../assets/images/icon-location.png"> Asset Location: {{upcoming?.city}}
                                        </div>
                                        <div class="auction-catalogue-view">
                                            <a href="{{upcoming?.catalog_url}}" target="_blank" *ngIf="upcoming?.catalog_url">
                                                <img src="../../../assets/images/icon-view.svg">View Catalogue
                                            </a>
                                        </div>
                                        <div class="auction-buttons">
                                            <button class="auction-btn-bidnow" (click)="onRegisterNow(upcoming)">Register Now</button>
                                            <button class="auction-btn-viewlot" (click)="showAuctionDetails(upcoming?.id, upcoming?.auction_engine_auction_id)">View Lots</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </owl-carousel>
            </div>
            <div class="auction-row no-upcoming-auctions" *ngIf="!auctionUpcomingList.length">
                <div class="col-12">
                    <p class="py-3">No Upcoming Auctions</p>
                </div>
            </div>
        </div>
    </div>
</div>