<main class="container-fluid">
    <section class="myself-details-main-wrapper">
        <div class="row">
            <div class="col-12 p-0">
                <div class="progress-block">
                    <div class="progress-steps-group-block">
                        <div class="step-block"> <span class="step-no active"><span class="steps">1</span></span><span
                                class="step-lbl">Basic Details</span></div>
                        <div class="step-block"> <span class="step-no active"><span class="steps">2</span></span><span
                                class="step-lbl">Offers</span></div>
                        <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span
                                class="step-lbl">Visuals</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sell-offers">
        <h3 class="f-20 f-500 mb-2">Offers</h3>
        <form [formGroup]="offersForm" class="p-3 border offer-form">
            <ng-container formArrayName="offersArray">
                <div class="row copy-row"
                    *ngFor="let offers of offersForm?.get('offersArray')?.controls; index as i;trackBy:trackByFn">
                    <ng-container [formGroupName]="i">
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Type of Offer</label>
                            <mat-form-field floatLabel="never">
                                <mat-select class="select-new-ui" formControlName="typeOfOffer"
                                    (selectionChange)="onOfferTypeSelect($event.value);updateValidations(i)">
                                    <mat-option value="">-- Select offer type --</mat-option>
                                    <mat-option [value]="3">Cash</mat-option>
                                    <mat-option [value]="1">Finance</mat-option>
                                    <!-- <mat-option [value]="2">Lease</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.hasError('required')">
                                <span class="validation-err">Please enter type of offer.</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3"
                            *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('typeOfOffer')?.value=='3'">
                            <label for="" class="f-12 d-block">Value of offer<span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="text"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')" minlength="1" maxlength="10"
                                    formControlName="valueOfOffer">
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('valueOfOffer')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('valueOfOffer')?.hasError('required')">
                                <span class="validation-err">Please enter value of offer.</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 datepicker-bx">
                            <label for="" class="f-12 d-block">Start Date<span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput [matDatepicker]="picker" [min]="myDate" (click)="picker.open()" readonly
                                    formControlName="startDate">
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('startDate')?.hasError('required')">
                                <span class="validation-err">Please enter offer start date.</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 datepicker-bx">
                            <label for="" class="f-12 d-block">End Date<span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput [matDatepicker]="picker2" [min]="getEndDate(i)" (click)="picker2.open()"
                                    readonly formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                    <mat-icon class="material-icons-outlined" matDatepickerToggleIcon>
                                        <img src="../../../assets/images/calendar.svg" alt="">
                                    </mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.hasError('required')">
                                <span class="validation-err">Please enter offer end date.</span>
                            </div>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('endDate')?.hasError('invalid')">
                                <span class="validation-err">Offer end date is invalid</span>
                            </div>
                        </div>
                        <div class="col-md-4 mini-custom-file">
                            <label for="" class="f-12 d-block">Offer Picture</label>

                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                    (change)="handleUpload($event,'offerPicture','front',i);">
                                <label class="custom-file-label custom-file-label2" for="front"><span
                                        class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                        class="upload-icon2"></span></label>
                                <div class="lisFile" *ngIf="documentName[i]?.url">
                                    <ul class="selectedFile">
                                        <li>
                                            <a class="file-upload" href="{{documentName[i]?.url}}"
                                                target="_blank">{{documentName[i]?.name}}</a>
                                            <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                            <a class="delet-icon" (click)="resetFile(i)">
                                                <img src="../../../assets/images/Delete_icon.svg" />
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-3">
                <label for="" class="f-12 d-block" >Dealer</label>
                <input  type="text" matInput formControlName="dealer">
            </div> -->

                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Description</label>
                            <mat-form-field floatLabel="never">
                                <textarea matInput placeholder="" maxlength="2500" type="text"
                                    formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Freebies with offer</label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" type="text" maxlength="100" formControlName="freeOfCost">
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('freeOfCost')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('freeOfCost')?.hasError('required')">
                                <span class="validation-err">Please enter Freebies with offer.</span>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Freebies Worth Amount<span class="mandatory"></span></label>
                            <mat-form-field floatLabel="never">
                                <input matInput placeholder="" formControlName="amount"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="10" type="text">
                            </mat-form-field>
                            <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('amount')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('amount')?.hasError('required')">
                                <span class="validation-err">Please enter offer amount.</span>
                            </div>
                        </div>
                        <ng-container
                            *ngIf="offersForm?.controls['offersArray']?.controls[i]?.controls?.typeOfOffer?.value == 1 || offersForm?.controls['offersArray']?.controls[i]?.controls?.typeOfOffer?.value == 2">

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Tenure<span class="mandatory"></span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                        maxlength="2" type="text" formControlName="tenure">
                                </mat-form-field>
                                <div
                                    *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('tenure')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('tenure')?.hasError('required')">
                                    <span class="validation-err">Please enter tenure.</span>
                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Rate<span class="mandatory"></span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" maxlength="5" type="number" min="0" max="100" step="0.01" formControlName="rate"  pattern="(^100(\.0{1,2})?$)|(^([1-9]([0-9])?|0)(\.[0-9]{1,2})?$)">
                                </mat-form-field>
                                <div
                                    *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('rate')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('rate')?.hasError('required')">
                                    <span class="validation-err">Please enter rate.</span>
                                </div>
                                <div class="validation-err d-block"
                                    *ngIf="!offersForm?.get('offersArray')?.controls[i]?.get('rate')?.errors?.required && offersForm?.get('offersArray')?.controls[i]?.get('rate')?.errors?.pattern">
                                    <span class="validation-err">Invalid rate</span>
                            </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Processing fee<span class="mandatory"></span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                        maxlength="10" type="text" formControlName="processingFee">
                                </mat-form-field>
                                <div
                                    *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('processingFee')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('processingFee')?.hasError('required')">
                                    <span class="validation-err">Please enter processing fee.</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Installment<span class="mandatory"></span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                        maxlength="10" type="text" formControlName="installment">
                                </mat-form-field>
                                <div
                                    *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('installment')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('installment')?.hasError('required')">
                                    <span class="validation-err">Please enter installment.</span>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="" class="f-12 d-block">Margin<span class="mandatory"></span></label>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                        maxlength="2" type="text" formControlName="margin">
                                </mat-form-field>
                                <div
                                    *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('margin')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('margin')?.hasError('required')">
                                    <span class="validation-err">Please enter margin.</span>
                                </div>
                            </div>
                            <div class="col-md-4 mini-custom-file">
                                <label for="" class="f-12 d-block">Offer Terms & Conditions</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input"
                                        (change)="handleUpload($event,'offerTermsAndCond','front',i);">
                                    <label class="custom-file-label custom-file-label2" for="front"><span
                                            class="cust-upload-txt cust-upload-txt2">Choose a file</span><span
                                            class="upload-icon2"></span></label>
                                    <div class="lisFile" *ngIf="documentNameTc[i]?.url">
                                        <ul class="selectedFile">
                                            <li>
                                                <a class="file-upload" href="{{documentNameTc[i]?.url}}"
                                                    target="_blank">{{documentNameTc[i]?.name}}</a>
                                                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                                                <a class="delet-icon" (click)="resetFileTermCondition(i)">
                                                    <img src="../../../assets/images/Delete_icon.svg" />
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </ng-container>
                        <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="role != apiRouteService.roles.dealer">
                                <label class="f-12 d-block">Country<span class="text-warning">*</span></label>
                                <mat-form-field floatLabel="never">
                                  <mat-label>Country</mat-label>
                                  <mat-select formControlName='Country' (selectionChange)="getStates($event.value)"
                                    placeholder="Select Country">
                                    <mat-option *ngFor="let country of countryDataSource" [value]="country.id">
                                      {{ country.name }}
                                    
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div
                                *ngIf="offersForm?.get('offersArray')?.controls[i]?.get('Country')?.touched && offersForm?.get('offersArray')?.controls[i]?.get('Country')?.hasError('required')">
                                <span class="validation-err">Please enter country.</span>
                                </div>
                              </div>
                              <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="role != apiRouteService.roles.dealer" >
                                <label class="f-12 d-block">State</label >
                                <mat-form-field floatLabel="never">
                                  <mat-label>State</mat-label>
                                  <mat-select formControlName='State' (selectionChange)="getCities($event.value)"
                                    placeholder="Select  State">
                                    <mat-option *ngFor="let state of stateDataSource" [value]="state.id">{{state.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                    
                              <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="role != apiRouteService.roles.dealer">
                                <label class="f-12 d-block">City Name</label>
                                <mat-form-field floatLabel="never">
                                  <mat-label>City Name</mat-label>
                                  <mat-select formControlName='City' placeholder="Select City Name">
                                    <mat-option *ngFor="let city of cityDataSource" [value]="city.id">{{city.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                    
                              <div class="col-md-6 col-lg-4 col-sm-6 mb-3" *ngIf="role != apiRouteService.roles.dealer">
                                <label class="f-12 d-block">Pincode</label>
                                <mat-form-field floatLabel="never">
                                  <mat-label>Pincode</mat-label>
                                  <input matInput placeholder="" type="text" (keyup)="getLocationData($event,i)"
                                            formControlName="PinCode">
                                </mat-form-field>
                              </div>
                        <div class="col-md-4 mb-3 mt-4" *ngIf="i>=1">
                            <button type="button" mat-button class="default-btn-outline" (click)="removeOffer(i)">-
                                Remove
                                Offer</button>
                        </div>

                        <!-- <div class="col-md-4 mb-3 mt-4">
                            <div class="checkbox">
                                <mat-checkbox class="mt-2 mr-3" (change)="onCheckBoxChange($event.checked)">
                                    Available for pan india</mat-checkbox>
                            </div>

                        </div> -->

                    </ng-container>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12 text-right mb-4" *ngIf=" getOffersLength() < this.maxOffersArrayLength">
                    <button mat-button type="button" class="default-btn-outline" (click)="addOffer()">+ Add Another
                        Offer</button>
                </div>
            </div>
        </form>

        <div class="row mt-3 bottom-btn">
            <div class="col-12 col-sm-6 mb-2 mb-lg-4 mb-md-4">
                <button mat-button class="default-btn-outline" (click)="back()">Back</button>
            </div>
            <div class="col-12 col-sm-6 mb-4  text-right">
                <button mat-button class="default-btn mb-2 mb-lg-0 mb-md-0" (click)="skip()">Skip</button>
                <button mat-button class="default-btn ml-0 ml-md-3 ml-lg-3" (click)="confirmOffer()">Save & Continue</button>
            </div>
        </div>
    </section>
</main>