.sell-offers{
    font-size: 14px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    margin: 10px 0px;
}
.datepicker-bx .mat-icon{
	position: absolute;
	right: 10px;
	bottom: 3px;
	opacity: 0.8;
	font-size: 20px;
}
.sell-offers .offer-form.ng-touched.ng-invalid {border: 1px solid #dee2e6!important;}
.datepicker-bx .mat-datepicker-toggle{
    position: absolute;
    top: -35px;
    right: 3px;
    }
    .custom-file, .custom-file-input {
        height: 46px;
    }
    .progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
        width: calc(100% - 170px);
    }
    .lisFile {top: 1px; height: 40px;}
    .lisFile ul li a.delet-icon {margin-top:-2px; float: right;}
    .lisFile ul li a.file-upload {width: 85%;}
    .copy-row {
        border: 1px solid #eee;
        padding: 10px;
        margin: 0 auto 1em;
        background: #fafafa73;
    }
    label {
        font-size: 12px;
    }


    @media(max-width:767px){ 
        .copy-row {padding:0px}
        .sell-offers {margin: 10px -5px;}
        .sell-offers form.border {border: 0px !important;}
        .sell-offers form.p-3 {padding: 0px !important;}
    }

    
.disabledDiv {
    pointer-events: none;
    opacity: 0.4;   }



    @media only screen and (max-width: 600px) {
 
        .bottom-btn button {width: 100%;}
        .sell-offers .lisFile ul li a.file-upload {width: 75% !important;}

    }