<div class="custom-table-main">
    <div class="user-management">
        <div class="row mb-3 user-management-top-section">
            <div class="col-lg-8 col-md-12 col-sm-8 user-management-heading">
                <h4>Technical Specification Master</h4>
            </div>

        </div>
    </div>

    <div class="user-management-form-section category-section mb-3">
        <h4 class="m-0">{{isEditField ? 'Edit Category Specification' : 'Add Category Specification'}} </h4>
        <div class="user-management-form-section mb-3 px-3 pt-3" [formGroup]="categorySpecForm">
            <div class="row mb-3" style="justify-content: flex-start">
                <div class="col-md-6 col-lg-4 col-sm-6">
                    <label class="f-12 d-block" for="">Select Category</label>

                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                        <input matInput [matAutocomplete]="auto" placeholder="Select category" type="text"
                            [(ngModel)]="selectedCat" (keyup)="filterValuesCategory($event)" formControlName='Category'
                            maxlength="256">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let category of categories"
                                (onSelectionChange)="change($event,category.id)" [value]="category.display_name">
                                {{category.display_name}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="category-field" *ngIf="searchCatValue && !isEditField">
            <div class="row" *ngFor="let field of fieldArray; let i = index">
                <div class="col-md-6 col-lg-4 col-sm-6">
                    <div class="input-group">
                        <label class="f-12 d-block" for="">Field Name <span class="text-warning">*</span></label>
                        <input [(ngModel)]="field.field_name" (keyup)="checkField()" class="mat-input-element"
                            type="text" name="{{field.field_name}}" placeholder="Field Name"> &nbsp;
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-sm-6">
                    <label class="f-12 d-block invisible">Button</label>
                    <button *ngIf="field.isField" class="default-btn-outline px-3" type="button"
                        (click)="deleteFieldValue(i)">Delete</button>
                    <button *ngIf="fieldArray.length <= 50 && !field.isField" class="default-btn px-3" type="button"
                        (click)="addFieldValue()">Add More</button>
                </div>
                <br>
            </div>
            <div class="row" *ngIf="searchCatValue && !isEditField">
                <div class="col-md-12 save-field-btn">
                    <button (click)="saveCategorySpec()" class="default-btn plr-md-40" mat-button
                        [disabled]="!isFieldAdded">Save</button>

                </div>
            </div>
        </div>

        <div class="category-field" *ngIf="isEditField">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-6">
                    <div class="input-group">
                        <input required [(ngModel)]="editedFieldName" class="mat-input-element" type="text"
                            placeholder="Field Name"> &nbsp;
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 save-field-btn">
                    <button (click)="editFieldSubmit()" [disabled]="!editedFieldName" class="btn btn-primary btn-lg1 "
                        type="button">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="search-input">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                <mat-form-field floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="search()"
                        (keydown.enter)="search()" autocomplete="off" />
                </mat-form-field>
            </div>
            <div class="col-sm-4 col-lg-8 user-search-btn mt-0">
                <div class="excel-export-section">
                    <button mat-button (click)="exportToExcel()"><i class="fa fa-file-excel-o pr-2  fa-lg"
                            aria-hidden="true"></i>Export</button>
                </div>
            </div>
        </div>
    </div>

    <div class="asset-table">
        <div class="table-responsive inner-table mb-3">
            <table class="mat-table custom-mat-table w-100" mat-table [dataSource]="dataSource1" matSortDirection="desc"
                matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                <ng-container matColumnDef="category__name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Category Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">Category Name</span>
                        <!-- {{ element && element.category_name ? element.category_name : '' }} -->
                        {{ element && element?.category?.display_name ? element?.category?.display_name : '' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="field_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Field Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">Field Name</span> {{ element && element.field_name ?
                        element.field_name : '' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="field_type_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Field Type
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">Field Type</span> {{ element && element.field_type_name ?
                        element.field_type_name : '' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="mobile-label">Actions</span>
                        <div>

                            <button mat-button class="simple-btn" (click)="editField(element)">

                                <span><img src="../../../assets/images/editicon.svg" alt="Edit" title="Edit" /></span>
                            </button>
                            <button mat-button class="simple-btn delet-icon" (click)="deleteField(element.id)">
                                <span><img src="../../../assets/images/Delete_icon.svg" alt="Delete"
                                        title="Title" /></span>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="no-record" *ngIf="dataSource1?.data?.length == 0">No records found</div>
        </div>
    </div>

    <mat-paginator [length]="total_count" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>