/* table {
  border-radius: 0px;
  margin-top: 0px;
}
table tr td {
  border-bottom: 1px #eff0f2 solid;
}
table th,
table td {
  font-size: 15px !important;
}
table {
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eff0f2;
  margin: 10px 0 30px;
  overflow: hidden;
  @media only screen and (max-width: 991px) {
    min-width: 1000px;
  }
}
table th {
  background: #eff0f2;
  font-size: 13px;
  padding: 13px 10px;
  text-align: left;
}
tbody tr td {
  font-size: 13px;
  color: #3c3c3c;
  padding: 15px 10px;
  border-bottom: 1px solid #eff0f2;
}

tbody tr:last-child td {
  border-bottom: 0;
}

.custom-table-main {
  width: 80% !important;
  float: right;
}
.custom-table-main table {
  border-radius: 0px;
  margin-top: 0px;
}
.custom-table-main table th {
  background: #0d4fa3;
  color: #fff;
  font-weight: 500;
}
.custom-table-main table tr td {
  border-bottom: 1px #eff0f2 solid;
}
.custom-table-main table th,
.custom-table-main table td {
  font-size: 15px !important;
}
.excel-export-section {
  background: #fafafa;
  padding: 10px;
  border: 1px #eff0fc solid;
  border-bottom: 0px;
}
.excel-export-section button {
  background: #009a2c;
  border-radius: 0px;
  color: #fff;
}
.user-management-heading,
.add-user {
  display: inline-block;
}
.add-user {
  text-align: right;
}
.add-user button,
.user-search-btn button {
  background: #094fa3;
  border: 0px;
  padding: 10px 12px;
  color: #fff;
  border-radius: 5px;
}
.user-management {
  padding-bottom: 30px;
}
.custom-mat-table th,
.custom-mat-table td {
  text-align: left !important;
  padding-left: 10px !important;
  padding-right: 10px;
}
.user-form-label {
  width: 100%;
  float: left;
}
.user-management-form-section input {
  padding: 10px;
  border-radius: 5px;
  background: #f5f8fa;
  border: 1px #c4cfd8 solid;
  width: 100%;
}
.user-management-form-section {
  padding-top: 15px;
}
.user-management-heading button {
  padding: 10px 12px;
  border-radius: 5px;
  width: 100%;
}
.user-reset-btn {
  padding-right: 0px;
}
.user-reset-btn button {
  background: 0 none;
  color: #094fa3;
  border: 1px #094fa3 solid;
}
.action-btns a {
  padding-right: 10px;
} */

.user-management-heading h4 {font-size: 18px;}

.user-management-form-section label {color: #77828a; font-weight: 500;}
.user-search-btn .excel-export-section {display: inline-block; vertical-align: middle;}
.user-search-btn .add-more-btn {display: inline-block; margin-left: 10px; vertical-align: middle;}
.user-search-btn .excel-export-section button {padding: 0px 20px; color: #fff; font-size: 14px; background-color: #00a767;}
.user-search-btn .add-more-btn button {padding: 5px 20px; color: #fff; font-size: 14px; background-color: #0d4fa3;}
.user-search-btn {text-align: right; margin-top: 26px;}
.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 42px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td button.simple-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 34px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.simple-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.simple-btn span {font-size: 18px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.simple-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;} 
.asset-table table tr:hover {background-color: #f8fbfd;}
.asset-table .inner-table {border-radius: 10px; border: 1px solid #e0e4e8;}
.default-tbl {border: 1px solid #e0e0e0; overflow: auto;}
.default-tbl mat-row, .default-tbl .mat-header-row {border-color: #e0e0e0;}
.default-tbl mat-cell, .default-tbl .mat-cell {font-size: 12px; font-weight: 600; white-space: nowrap; height: 42px; padding: 0 21px 0 21px; min-width: 100px;}
.default-tbl mat-cell:first-of-type, .default-tbl mat-header-cell:first-of-type, .default-tbl mat-footer-cell:first-of-type {padding-left: 21px; min-width: 50px; padding-right: 0px;}
.default-tbl mat-header-cell, .default-tbl .mat-header-cell {
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 21px;border-color: #e0e0e0;
  white-space: nowrap;
  height: 42px;
  min-width: 100px;
}
.asset-table .default-tbl .mat-row:nth-child(odd) {
  background-color: #f8fbfd;
}
.default-tbl mat-row:hover {
  background-color: #f8fbfd;
}
.default-tbl mat-row:hover {background-color: #f8fbfd;}
.asset-table .default-tbl .mat-cell button {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px;
  text-align: center; line-height: 34px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.no-record {padding: 10px;}
.asset-table .default-tbl .mat-cell button.delet-icon {background-color: #ffefec;}

.user-management-form-section.category-section {
  border: 1px solid #c4cfd8;
  border-radius: 6px;
}
.asset-table table table td img {  width: 40px;
  padding: 1px;
  border: 1px solid #c8c8c8;
  height: 30px;}
.category-section h4 {
  font-size: 14px;
    color: #fff;
    background-color: #0f3d94;
    padding: 10px 10px;
    border-radius: 6px 6px 0px 0px;
}
.category-section .category-field {padding: 0px 15px 0px;}
   


@media screen and (max-width: 767px) {
  .user-management-heading h4 {font-size: 16px;}
  .excel-export-section {margin-bottom: 10px;}
  .excel-export-section button {font-size: 0px !important; line-height: 38px !important}
  .excel-export-section button i {font-size: 18px; padding-right: 0px !important;}

  .main-heading {font-size: 24px; margin-bottom: 15px;}
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {line-height: 28px;}
  .save-btn button {padding: 5px 35px;}
  .used-upload-section .title {font-size: 20px;}
  .add-user button {height: 36px;}
}

i {
  cursor: pointer;
}


.save-field-btn{
      text-align: right;
      margin-left: -5px;
      margin-bottom: 20px;
}