<div class="popup">
  <!-- <div class="popup-hdr">
   
     <button mat-button (click)="backClick()" class="close-btn"><img
            src="../../../../../../assets/images/Close.svg" alt=""></button>
  </div> -->
  <div class="popup-body p-0 overflow-hidden">
    <div class="add-new-field mb-3">
    <h4 class="title">Add/Edit Location</h4>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-sm-6">
        <mat-form-field floatLabel="never">
          <mat-label>State<em>*</em></mat-label>
          <mat-select formControlName='State' required>
            <mat-option *ngFor="let state of statesData" [value]="state.id">{{state.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-6">
        <mat-form-field floatLabel="never">
          <mat-label>Location Name<em>*</em></mat-label>
          <input matInput placeholder="Enter Location Name" autocomplete="off" type="text" formControlName='LocationName' required class="readonly">
        </mat-form-field>
      </div>

      <div class="col-md-6 col-lg-4 col-sm-6">
        <mat-form-field floatLabel="never">
          <mat-label>Pincode<em>*</em></mat-label>
          <input matInput placeholder="" autocomplete="off" type="text" formControlName='Pincode' required class="readonly">
        </mat-form-field>
      </div>
    </div>
    <div class="text-right dialog-actions-container">
      <button class="default-btn-outline plr-md-40 mr-3" (click)="Close()" mat-button>Cancel</button>
      <!-- (click)="backClick()" -->
      <button class="default-btn plr-md-40" [disabled]="!form.valid" (click)="okClick()" mat-button >Ok</button>
  </div>
  </form>
  </div>
  
</div>
</div>
