<div class="product-wrapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard/products/used-products']">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Used products</li>
            </ol>
        </div>

        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-sm-6 col-6">
                <h3 class="admin-page-title">Used Products</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-7 col-sm-6 col-6">
                <div class="exportWrapper text-right">
                    <button type="button" class="btn btn-lg theme-btn mat-button" [disabled]="dataSource?.data?.length == 0" (click)="export()"><i class="fa fa-file-excel-o pr-2  fa-lg" aria-hidden="true"></i>Export</button>
                </div>
                <div class="header-btn"><button mat-button [routerLink]="['/admin-dashboard/products/used-products-upload']">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Product</button></div>
            </div>
            <ng-container *ngIf="showForm">
                <app-used-product-upload (ChdOutput)="GetChildData(!showForm)"></app-used-product-upload>
            </ng-container>
        </div>
        <div class="user-management-top-section">
            <div class="row mt-3">
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Search" [(ngModel)]="searchText" (keyup)="searchInList()" (keydown.enter)="searchInList()" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 mb-3">
                    <mat-form-field floatLabel="never">
                        <mat-select class="form-control" placeholder="Select Status" (selectionChange)="statusFilter($event?.value)">
                            <mat-option>Select Status</mat-option>
                            <mat-option value={{status?.value}} *ngFor="let status of statusOptions;">
                                {{status?.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>


        <div class="desktop-table">
            <mat-card class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="dataSource" matSortDirection="desc" matSortActive="id" matSortDisableClear matSort (matSortChange)="onSortColumn($event)">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Asset Id</span> {{row.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="customer_reference_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Reference Id</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Customer Reference Id</span> {{row.customer_reference_number}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="trade_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Trading Type </th>
          <td mat-cell *matCellDef="let row"> {{row.trade_type}}</td>
        </ng-container> -->

                        <ng-container matColumnDef="category__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Category</span>
                                <span *ngIf="row.category.display_name != 'Other'">{{row.category.display_name}}</span>
                                <span *ngIf="row.category.display_name == 'Other'">{{row.other_category}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="brand__display_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Brand</span>
                                <span *ngIf="row.brand.display_name != 'Other'">{{row.brand.display_name}}</span>
                                <span *ngIf="row.brand.display_name == 'Other'">{{row.other_brand}}</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="model__name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Model</span>
                                <span *ngIf="row.model.name != 'Other'">{{row.model.name}}</span>
                                <span *ngIf="row.model.name == 'Other'">{{row.other_model}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="service_type">
                            <th mat-header-cell *matHeaderCellDef > Service Type </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Service Type</span>
                                <span *ngIf="row.is_sell == true">Portal Sale</span>
                                <span *ngIf="row.is_sell == true && (row.is_auction == true || row.is_valuation == true)">, </span>
                                <span *ngIf="row.is_auction == true">Auction</span>
                                <span *ngIf="row.is_auction == true && row.is_valuation == true">, </span>
                                <span *ngIf="row.is_valuation == true">Valuation</span>
                                <span *ngIf="row.is_loa_generated == true">( LOA Generated )</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="selling_price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Price</span>
                                <span *ngIf="!row.is_price_on_request">{{ row.selling_price }}</span>
                                <span *ngIf="row.is_price_on_request">Price on Request</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="seller__first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Seller</span> {{row.seller.first_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mfg_year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mfg. Year </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Mfg. Year</span> {{row.mfg_year}} </td>
                        </ng-container>
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Location</span> {{row.pin_code?.city?.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Created Date</span> {{row.created_at | date : 'medium'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Status</span> {{getRowstatus(row.status)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Action</span>
                                <button class="table-row-btn" mat-button (click)="editRecord(row)"><span><img
                  src="../../../assets/images/editicon.svg" alt="Edit" title="Edit"></span></button>
                                <!-- <button class="table-row-btn delet-icon" (click)="deleteAsset(row?.id)" mat-button><span><img
                  src="../../../assets/images/Delete_icon.svg"  alt="Delete" title="Delete"></span></button> -->
                                <!-- <button class="table-row-btn" mat-button *ngIf="row.status == 1 || row.status == 0" (click)="approve(row)"><span class="material-icons">check_circle</span></button>
            <button class="table-row-btn" mat-button *ngIf="row.status == 1 || row.status == 0" (click)="reject(row)"><span class="material-icons">highlight_off</span></button> -->
                                <!-- <button mat-button (click)="openDialog()">Action</button> -->
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="no-record table-recond" *ngIf="!dataSource?.data?.length">{{noRecordFound}}</div>
                </div>

                <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
            </mat-card>

        </div>



    </div>
</div>