<div class="progress-block">
    <div class="progress-steps-group-block">
        <div class="step-block" *ngFor="let tab of steps.total; let i = index; let j = last" [style.width]="!j ? someWidth : auto "> 
            <span class="step-no" [ngClass]="{'active':steps.current >= (i+1)}">
                <span class="steps">{{i+1}}</span>
            </span>
            <span class="step-lbl">{{tab.title}}</span></div>                   
        <!-- <div class="step-block"> <span class="step-no"><span class="steps">2</span></span><span class="step-lbl">View Details</span></div>
        <div class="step-block"> <span class="step-no"><span class="steps">3</span></span><span class="step-lbl">Completed</span></div>                    -->
    </div>
</div>