<main class="div-wraapper">
    <section class="myself-details-main-wrapper">
      <form>
        <div class="main-content-wrapper  basic-details-section">
          <fieldset>
            <div class="main-form-details-container">
              <div class="crate-contact-box">
                <h2 class="sub-head">Banner Settings and Welcome Text</h2>
                <div class="crate-contact-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Enter marketplace image here </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Choose a file</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <!--<div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Partner type</label>
                            <mat-form-field floatLabel="never">
                                <mat-select class="select-new-ui" formControlName="partnerType">
                                <mat-option value="">--Partner Type--</mat-option>
                                <mat-option value="1">Dealer</mat-option>
                                <mat-option value="2">Manufacturer</mat-option>
                                <mat-option value="3">Channel partner</mat-option>
                                <mat-option value="4">Valuation</mat-option>
                                <mat-option value="5">Enterprise</mat-option>
                                <mat-option value="6">Admin</mat-option>
                                <mat-option value="7">Super Admin</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6  mb-3">
                            <label for="" class="f-12 d-block">Welcome text (present below the Jumbotron Banner)
                            </label>
                            <textarea matInput type="text" placeholder="Comments" autocomplete="off" class="w-100"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Save</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 mb-3">
                            <h3 class="sub-head">A Marketplace for your component needs</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Change heading</label>
                                    <input matInput value="A marketplace for your component needs"/>
                                </mat-form-field>
                            </div>
                            <div class=" mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Paragraph 1 Title </label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Paragraph 1 Description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Update</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Paragraph 2 Title </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Paragraph 2 Description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Update</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Paragraph 3 Title </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Paragraph 3 Description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Update</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 mb-3">
                            <h3 class="sub-head">CEO Speaks Section</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="" class="f-12 d-block">Update image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input">
                                    <label class="custom-file-label">
                                        <span class="upload-icon2"></span>
                                        <span class="cust-upload-txt">
                                            <span class="blue-txt">Attach image here</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class=" mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">CEO Speaks Sub-title </label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">CEO Speaks paragraph description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Update</button>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col-12 mb-3">
                            <h3 class="sub-head">Achievements Section</h3>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Add image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Attach image here</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 1 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 2 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 3 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 4 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 5 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Achievement 6 </label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Set Priority</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Save Changes</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 mb-3">
                            <h3 class="sub-head">Media</h3>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Enter news image here</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Attach image here</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  mb-3">
                            <mat-form-field floatLabel="never">
                                <label class="f-12 d-block">Enter news headline here</label>
                                <input matInput type="text" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <button mat-button class="default-btn mt-4">Update</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 mb-3">
                            <h3 class="sub-head">Testimonials (Max 4)</h3>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Enter news image here</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Attach image here</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Testimonial 1 Title</label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class=" mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Testimonial 1 Subtitle</label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Testimonial 1 Description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Testimonial 1 Image </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Attach image here</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Testimonial 2 Title</label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class=" mb-3">
                                <mat-form-field floatLabel="never">
                                    <label class="f-12 d-block">Testimonial 2 Subtitle</label>
                                    <input matInput type="text" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="" class="f-12 d-block">Testimonial 2 Description</label>
                            <textarea matInput type="text" placeholder="" autocomplete="off" class="w-100" rows="6"></textarea>
                        </div>
                        <div class="col-md-4  mb-3">
                            <label for="" class="f-12 d-block">Testimonial 2 Image </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input">
                                <label class="custom-file-label">
                                    <span class="upload-icon2"></span>
                                    <span class="cust-upload-txt">
                                        <span class="blue-txt">Attach image here</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button mat-button class="default-btn mt-4">Save Changes</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </form>
    </section>
</main>