.div-wraapper{
    padding: 15px;
    width: calc(100% - 18em); margin-bottom: 100px;
    margin-left: auto;
    transition: 0.5s;
}
.main-heading{
    font-size: 32px;
    font-weight: 700;
}
 
.div-wraapper .myself-details-main-wrapper {border: 1px solid #c4cfd8; border-radius: 8px;}
.myself-details-main-wrapper .progress-block {border-radius: 8px 8px 0px 0px;}
.basic-details-section {padding: 0px;}
.basic-details-section h3.title {font-size: 24px;}
.basic-details-section label {color: #77828a; font-weight: 500;}
 
.customer-details-wrapper label {font-size: 12px;}
.prof-of-identity .pancard-wrapper label {font-size: 12px;}
.indentity-section .heading h4 {font-size: 20px; margin-bottom: 5px;} 
.custom-file {height: 46px;}
.custom-file .custom-file-label {height: 46px; padding: 0px;}
.custom-file .cust-upload-txt {display: block; left: 16px; top: 13px; text-align: left;}
.custom-file .cust-upload-txt span {text-decoration: none;}
.custom-file .custom-file-input {cursor: pointer; height: 46px;}
.upload-doc img {width: 100%; height: 75px; border-radius: 4px;}
.mat-tab-body.mat-tab-body-active {overflow: hidden;}
.main-form-details-container h3 {
    font-size: 16px;
    margin-bottom: 1em;
}
h2.sub-head {
    background: #0d4fa3;
    padding: 10px;
    color: #fff;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 1em;
}
.prof-of-identity, .customer-details-wrapper {
    margin-bottom: 15px; 
    padding: 10px;
}
.permission-files .form-check {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}
.permission-files .form-check div {
    flex: 1 1 30%;
    margin: 0px;
}
.permission-files {
    background: #fafafa;
    padding: 10px;
    border: 1px solid #eee;
}
.permission-files p{margin-top:0px!important;}
.main-form-details-container {
    font-size: 0.8rem; 
    padding: 10px;
}
.d-block {line-height: normal;}

.crate-contact-box {border: 1px solid #cdd6dc; border-radius: 6px;}
.crate-contact-box .crate-contact-body {padding: 10px;}

.payment-card-slct .mat-select-trigger {
    float: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    line-height: 40px;
    width: 100%;
}  
.payment-card-slct .mat-select-trigger {
    float: none;
    width: 100%;
}
.payment-card-slct {
    padding-left: 5px !important;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  
    .div-wraapper {padding: 20px 15px; margin-top: 80px; width: 100%; float: none; transition: 0.5s;}
  
  }



  .progress-block .progress-steps-group-block {
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
    font: initial;
    line-height: 35px;
}
.contact-mobile .mat-select-value {
    padding-top: 9px;
    padding-left: 0px;
}

.datepicker-input .calender-icon {
    position: absolute;
    top: -28px;
    right: 10px;
}