.div-wraapper{
    padding: 15px; margin-bottom: 100px;
    width: calc(100% - 18em);
    margin-left: auto;
    transition: 0.5s;
}
.main-heading{
    font-size: 32px;
    font-weight: 700;
}
table {
    width: 100%;
  }
  .user-mng-tbl{
      margin-top: 20px;
  }
  .e-grid {
    margin-bottom: 50px;
}
  .e-grid .e-rowcell {
    font-size: 12px;
    line-height: 21px;
    padding: 15px 21px;
}
  .e-grid .e-headercell, .e-grid .e-detailheadercell {
    background-color: #0D4FA3;
    color: #fff;
    height: 42px;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    background-color: #D3D8DD;
    border-color: transparent;
}
.e-headercell .e-checkbox-wrapper .e-frame, .e-headercell .e-css.e-checkbox-wrapper .e-frame {
    background-color: #6E96C8;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    height: 15px;
    width: 15px;
    padding: 1px 0;
    font-size: 10px !important;
}
.e-grid td.e-active {
    background: #ffffff;
}
.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    color: #ffffff;
}
.e-filtermenudiv.e-icons.e-icon-filter {
    display: none;
}
.e-columnheader .e-headercell:nth-child(1) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(2) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(3) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(4) .e-filtermenudiv.e-icons.e-icon-filter,
.e-columnheader .e-headercell:nth-child(6) .e-filtermenudiv.e-icons.e-icon-filter {
    display: block;
}
.e-columnheader .e-headercell:nth-child(1) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(2) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(3) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(4) .e-filtermenudiv.e-icons.e-icon-filter::before,
.e-columnheader .e-headercell:nth-child(6) .e-filtermenudiv.e-icons.e-icon-filter::before {
    content: url(../../../../../assets/images/filtericn.svg);
}

.editdlt-btn button{
    background: transparent;
    border: none;
}
.used-upload-section label {
    color: #77828a;
    font-weight: 500;
}

.asset-table .inner-table {border: 1px solid #e0e4e8; border-radius: 10px;}
.asset-table table {max-width: 100%; overflow: auto;}
.asset-table table th, .asset-table table td {font-size: 12px; border-color: #e0e4e8; line-height: 21px; padding: 0 21px 0 21px; white-space: nowrap; height: 52px;}
.asset-table table td:first-child {border-top: 0px;}
.asset-table table td button.table-row-btn {width: 35px; min-width: inherit; margin-right: 8px; margin-left: 0px; height: 35px; text-align: center; line-height: 35px; padding: 0px; border-radius: 50%; background-color: #e7eef2;}
.asset-table table td button.table-row-btn.delet-icon {background-color: #ffefec;}
.asset-table table td button.table-row-btn span {font-size: 18px;}
.asset-table table td button.table-row-btn.approve-icon img {width: 20px;}
.asset-table table td.mat-column-is_active {color: #00a767;}
.asset-table table td button.table-row-btn:last-child {margin-right: 0px;}
.asset-table table tr:nth-child(even){background-color:#f8fbfd;}
.asset-table table .mat-header-row th {background-color: #0D4FA3; color: #fff;}
.submit-buttons .search-btn {text-align: right; padding: 0px; margin-top: 0px; display: block; }
.submit-buttons .search-btn .comback-btn {padding: 0px;}
 
.exportWrapper, .header-btn {display: inline-block; vertical-align: middle;}
.exportWrapper button {background: #00a767; font-size: 14px; color: #fff; margin-right: 12px; padding: 2px 20px;}
.header-btn button {padding: 5px 20px; color: #fff; font-size: 14px; background-color: #0d4fa3;}



.header-btn button i {font-size: 0px;}

.asset-table table tr:hover {background-color: #f8fbfd;}
.search-btn button{
    padding: 0px 40px !important;
  }


  @media screen and (max-width: 992px) and (min-width: 768px) {
  
    /* .div-wraapper {padding: 20px 15px; margin-top: 80px; width: 100%; float: none; transition: 0.5s;} */
    .search-btn button {padding: 0px 22px !important;}
    .exportWrapper button {font-size: 13px; }
    .admin-page-buttons button.mat-button, .admin-page-buttons .excel-export-section button.mat-button, .admin-page-buttons .header-btn button.mat-button
    {padding: 6px 6px !important;}
    .header-btn button {font-size: 13px;}
    .submit-buttons .search-btn {margin-bottom: 10px;}
  }
 
  @media (max-width:767px){
    .div-wraapper {
        width: 100%;
    }
  }



  @media (max-width: 767px)
{

 .submit-buttons {margin-bottom: 15px;}
  .comsaveandcont-btn button {
    width: auto;
    }
    .comsaveandcont-btn {
        display: inline-block;
        width: 100%;
        padding: 0;
    }
    .comback-btn {
        display: inline-block;
        padding: 0 0rem 1rem;
        width: auto;
    }
    .comback-btn button {
        width: 100%;
    }

    .exportWrapper button {font-size: 0px; height: 34px;}
  .exportWrapper button i {
    font-size: 18px; 
    padding-top: 4px;
    padding-right: 0px !important;
  }
  .exportWrapper, .header-btn{vertical-align: middle;}
  .header-btn button {font-size: 0px; height: 34px;}
  .header-btn button i {
    font-size: 18px; 
    padding-top: 4px;
    padding-right: 0px !important;
  }
    
}

