<div class="div-wraapper">
    <div class="product-wrapper-box">
        <div class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Home</a></li>
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admin-dashboard']">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Partner Contact</li>
            </ol>
        </div>
        <div class="admin-page-heading">
            <div class="admin-page-header col-lg-6 col-md-5 col-sm-6 col-6">
                <h3 class="admin-page-title">Partner Contact</h3>
            </div>
            <div class="admin-page-buttons col-lg-6 col-md-7 col-sm-6 col-6">
                <div class="exportWrapper text-right">
                    <button mat-raised-button color="primary" (click)="exportData()"
                        class="btn btn-lg theme-btn mat-button"><i class="fa fa-file-excel-o pr-2  fa-lg"
                            aria-hidden="true"></i>Export</button>
                </div>
                <div class="header-btn">
                    <button class="default-btn float-right" mat-button (click)='addusernav()'>
                        <i class="fa fa-plus" aria-hidden="true"></i>Create Partner Contact</button>
                </div>
            </div>
        </div>

        <div class="row used-upload-section" [formGroup]="filterUserForm">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <!-- <label class="f-12 d-block" for="">Search by Mobile Number</label> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" (keydown.enter)="filterData()" formControlName="Mobile"
                        placeholder="Enter Mobile Number">
                </mat-form-field>
                <mat-error>
                    <div class="validation-err"
                        *ngIf="filterUserForm.get('Mobile')?.touched && filterUserForm.get('Mobile')?.hasError('required')">
                        Please enter Mobile Number.
                    </div>
                </mat-error>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                <!-- <label class="f-12 d-block" for="">Search by First Name</label> -->
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" (keydown.enter)="filterData()" formControlName="Name"
                        placeholder="Enter First Name">
                </mat-form-field>
                <mat-error>
                    <div class="validation-err"
                        *ngIf="filterUserForm.get('Name')?.touched && filterUserForm.get('Name')?.hasError('required')">
                        Please enter Name.
                    </div>
                </mat-error>
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12 submit-buttons">
                <!-- <button class="default-btn" mat-button (click)='getusersfn()'>Search</button>
          <button class="default-btn float-right" mat-button (click)='getusersfn()'>Reset</button> -->
                <div class="comsaveandcont-btn search-btn">
                    <div class="comback-btn pb-0 mr-3 d-inline-block">
                        <button mat-flat-button (click)="resetData()">Reset</button>
                    </div>
                    <button class=" d-inline-block" mat-flat-button
                        [disabled]="filterUserForm.get('Name')?.value=='' && filterUserForm.get('Mobile')?.value=='' "
                        (click)="filterData()">Search</button>
                </div>
            </div>
        </div>

        <div class="desktop-table">
            <div class="asset-table">
                <div class="table-responsive inner-table mb-3">
                    <table class="mat-table custom-mat-table" mat-table [dataSource]="productDataSource" matSort
                        matSortActive="id" (matSortChange)="onSortColumn($event)" matSortDirection="desc">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact ID</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Contact ID</span> {{row.id}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="partnership_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Partnership Type</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Partnership Type</span>
                                {{setPartnershipType(row.partnership_type)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="user__first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Name</span> {{row.user.first_name}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Created Date</span> {{row.created_at| date:'dd-MM-yyyy, hh:mm
                                a'}}
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incorporation Date </th>
        <td mat-cell *matCellDef="let row"> {{row.incorporation_date}} </td>
      </ng-container> -->

                        <ng-container matColumnDef="user__mobile_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Mobile</span> {{row.user.mobile_number}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="user__email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Email</span> {{row.user.email}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="companyName">
                            <th mat-header-cell *matHeaderCellDef> Company Name </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Company Name</span> {{row.partner_company }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rm_name">
                            <th mat-header-cell *matHeaderCellDef> RM Name </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">RM Name</span> {{row.user.relationship_manager_name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Status</span>
                                <span *ngIf="row.status == 0">Draft</span>
                                <span *ngIf="row.status == 1">Pending</span>
                                <span *ngIf="row.status == 2">Approved</span>
                                <span *ngIf="row.status == 3">Reject</span>

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isActive">
                            <th mat-header-cell *matHeaderCellDef> Is Active ?</th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Is Active ?</span>
                                <mat-slide-toggle [checked]="row.user.is_active==true"
                                    (click)="togglestatus(row.user.cognito_id,row.user.is_active)"
                                    [disableRipple]="true">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Actions" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <span class="mobile-label">Actions</span>
                                <button class="table-row-btn" mat-button (click)="edit(row)"><span><img
                                            src="../../../assets/images/editicon.svg" alt="Edit"
                                            title="Edit"></span></button>
                                <!-- <button class="table-row-btn delet-icon" mat-button (click)="delete(row)"><span><img src="../../../assets/images/Delete_icon.svg"  alt="Delete" title="Delete"></span></button> -->
                                <button class="table-row-btn approve-icon" mat-button *ngIf="row.status == 1"
                                    (click)="approve(row,2)"><span><img src="../../../assets/images/approve.svg"
                                            alt="Approve" title="Approve"></span></button>
                                <button class="table-row-btn approve-icon delet-icon" mat-button *ngIf="row.status == 1"
                                    (click)="approve(row,3)"><span><img src="../../../assets/images/decline.svg"
                                            alt="Decline" title="Decline"></span></button>
                                <!-- <mat-slide-toggle [checked]="row.user.is_active==true" (click)="togglestatus(row.user.cognito_id,row.user.is_active)" [disableRipple]="true">
          </mat-slide-toggle>   -->
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                        <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->
                    </table>
                </div>
            </div>
            <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"
                (page)="onPageChange($event)"></mat-paginator>
        </div>



    </div>
</div>