.vehicle-dtl {
  padding: 20px 0;
}

.dtl-bx {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #c4cfd8;
  border-radius: 16px;
  padding: 20px;
}

.imgbx {
  position: relative;
}

.imgbx img {
  border: 1px solid #c4cfd8;
  border-radius: 10px;
}

.imgbx span {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 2px 8px;
  background: #0d4fa3;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}

mat-radio-button {
  width: 50%;
}
.vehicle-basic-dtl {
  font-size: 14px;
}

.select-new-ui, section.vehicle-basic-dtl{
  font-size: 14px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c4cfd8;
}

.custom-file {
  height: 46px;
}

.progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
  width: calc(100% - 170px);
}

span.required {
  color: red;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
.datepicker-input .calender-icon {
  position: absolute; 
  right: 10px;
}

.datepicker-input {
  position: relative;
}
.l-40{line-height:40px;}