<section class="vehicle-basic-dtl pl-30 pr-30">
    <h3 class="f-20 mb-3">Basic Details <img src="../../../assets/images/arrow-right-icon.svg" alt="" class="pl-2 pr-2">
        <span class="op-4">Vehicle Details</span>
    </h3>
    <h6>
        <span class="op-1" *ngIf="!vaahanDetailsEditable.equipmentRegistered">KIndly fill atleast one of the three- Engine no, Chassis No and Machine serial No </span>
    </h6>
    <form [formGroup]="basicDetailsForm">
        <div class="row">
            <div class="col-md-4 mb-3" *ngIf="vaahanDetailsEditable.registrationNumber">
                <label for="" class="f-12 d-block">Registration Number <span class="required"
                        *ngIf="isRequiredField('rcCopyAvailable')">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="registrationNumber" maxlength="25">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('registrationNumber')?.touched && basicDetailsForm?.get('registrationNumber')?.hasError('required')">
                    <span class="validation-err">Please enter Registration Number.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('registrationNumber')?.touched && basicDetailsForm?.get('registrationNumber')?.hasError('minlength') || basicDetailsForm?.get('registrationNumber')?.hasError('maxlength')">
                    <span class="validation-err">Invalid Registration Number.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="!vaahanDetailsEditable.chassisNumber">
                <label for="" class="f-12 d-block">Chassis No. <span class="required"
                        *ngIf="isRequiredField('chassisNumber')">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="" formControlName="chassisNumber" maxlength="25">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('chassisNumber')?.touched && basicDetailsForm?.get('chassisNumber')?.hasError('required')">
                    <span class="validation-err">Chassis No is required.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('chassisNumber')?.touched && basicDetailsForm?.get('chassisNumber')?.hasError('minlength') || basicDetailsForm?.get('chassisNumber')?.hasError('maxlength')">
                    <span class="validation-err">Invalid Chassis No </span>
                </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="!vaahanDetailsEditable.engineNumber">
                <label for="" class="f-12 d-block">Engine No.</label>
                <mat-form-field floatLabel="never">
                    <input matInput type="text" placeholder="" formControlName="engineNumber" maxlength="25">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('engineNumber')?.touched && basicDetailsForm?.get('engineNumber')?.hasError('required')">
                    <span class="validation-err">Engine No. is required.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('engineNumber')?.touched && basicDetailsForm?.get('engineNumber')?.hasError('required') && basicDetailsForm?.get('engineNumber')?.hasError('invalid')">
                    <span class="validation-err">Invalid Engine No.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3" *ngIf="!vaahanDetailsEditable.machineSerialNumber">
                <label for="" class="f-12 d-block">Machine Serial No. </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="machineSerialNumber" maxlength="25">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('machineSerialNumber')?.touched && basicDetailsForm?.get('machineSerialNumber')?.hasError('required')">
                    <span class="validation-err">Machine Serial No is required.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('machineSerialNumber')?.touched && !basicDetailsForm?.get('machineSerialNumber')?.hasError('required')&& basicDetailsForm?.get('machineSerialNumber')?.hasError('invalid')">
                    <span class="validation-err">Machine Serial No is invalid.</span>
                </div>
            </div>
            <div class="col-md-4 col-6 mb-3" *ngIf="!vaahanDetailsEditable.enginePower">
                <label for="" class="f-12 d-block">Engine Power (In cc) </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="enginePower" maxlength="8">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('enginePower')?.touched && basicDetailsForm?.get('enginePower')?.hasError('required')">
                    <span class="validation-err">Engine Power (In cc) is required.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('enginePower')?.touched && basicDetailsForm?.get('enginePower')?.hasError('required') && !basicDetailsForm?.get('enginePower')?.hasError('required')">
                    <span class="validation-err">Engine Power (In cc) is invalid.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3 col-6" *ngIf="!vaahanDetailsEditable.grossWeight">
                <label for="" class="f-12 d-block">Gross Weight (In kgs)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="grossWeight" maxlength="8">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('grossWeight')?.touched && basicDetailsForm?.get('grossWeight')?.hasError('required')">
                    <span class="validation-err">Gross Weight (In kgs) is required.</span>
                </div>
                <div
                    *ngIf="basicDetailsForm?.get('grossWeight')?.touched && !basicDetailsForm?.get('grossWeight')?.hasError('required') && basicDetailsForm?.get('grossWeight')?.hasError('invalid')">
                    <span class="validation-err">Gross Weight (In kgs) is required.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3 col-6" *ngIf="!vaahanDetailsEditable.operationWeight">
                <label for="" class="f-12 d-block">Operating Weight (In kgs) </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="operationWeight" maxlength="8">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('operationWeight')?.touched && basicDetailsForm?.get('operationWeight')?.hasError('required')">
                    <span class="validation-err">Operating Weight (In kgs) is required.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3 col-6" *ngIf="!vaahanDetailsEditable.bucketCapacity">
                <label for="" class="f-12 d-block">Bucket Capacity (In kgs) </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" (keyup)="onKeydownEvent($event)" oninput="this.value=this.value.replace(/[^(10|\d)(\.\d{1,2})?$]/g,'')" formControlName="bucketCapacity" maxlength="8">
                </mat-form-field>
                <!-- <div
                    *ngIf="basicDetailsForm?.get('bucketCapacity')?.touched && basicDetailsForm?.get('bucketCapacity')?.hasError('required')">
                    <span class="validation-err">Bucket Capacity (In kgs) is required.</span>
                </div> -->
            </div>
            <div class="col-md-4 mb-3 col-6" *ngIf="!vaahanDetailsEditable.liftingCapacity">
                <label for="" class="f-12 d-block">Lifting Capacity (In kgs)</label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="liftingCapacity" maxlength="8">
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('liftingCapacity')?.touched && basicDetailsForm?.get('liftingCapacity')?.hasError('required')">
                    <span class="validation-err">Lifting Capacity (In kgs) is required.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3" *ngIf="!vaahanDetailsEditable.fuelType">
                <label for="" class="f-12 d-block">Fuel Type 
                    <!-- <span class="required"
                        *ngIf="isRequiredField('fuelType')">*</span> -->
                    </label>
                    <mat-select aria-label="Select an option" formControlName="fuelType">
                        <mat-option value="">--Select--</mat-option>
                        <mat-option [value]="1">Diesel</mat-option>
                        <mat-option [value]="2">Petrol</mat-option>
                        <mat-option [value]="3">CNG</mat-option>
                    </mat-select>
                <!-- <div
                    *ngIf="basicDetailsForm?.get('fuelType')?.touched && basicDetailsForm?.get('fuelType')?.hasError('required')">
                    <span class="validation-err">Fuel Type is required.</span>
                </div> -->
            </div>
            <!-- <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
                        <label class="form-label f-12 d-block" for="">Selling price</label>
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Sell Price" type="text" maxlength="16" (blur)="checkSellingPrice()"
                                formControlName="SellPrice">
                        </mat-form-field>
                        <div
                            *ngIf="basicDetailsForm.get('SellPrice')?.touched && basicDetailsForm?.get('SellPrice')?.hasError('required')">
                            <span class="validation-err">Please enter the sell Price.</span>
                        </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4 mb-3" *ngIf="vaahanDetailsEditable.registrationNumber">
                <label for="" class="f-12 d-block">Do you have RC Copy available? <span class="required"
                        *ngIf="isRequiredField('rcCopyAvailable')">*</span></label>
                <mat-radio-group aria-label="Select an option" formControlName="rcCopyAvailable">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
                <div
                    *ngIf="basicDetailsForm?.get('rcCopyAvailable')?.touched && basicDetailsForm?.get('rcCopyAvailable')?.hasError('required')">
                    <span class="validation-err">Please select RC Copy available.</span>
                </div>
             </div>
             <div class="col-md-4 mb-3">
                 <label for="" class="f-12 d-block">Is it first owned? <span class="required" *ngIf="isRequiredField('isFirstOwned')">*</span></label>
                 <mat-radio-group aria-label="Select an option" formControlName="isFirstOwned">
                     <mat-radio-button value="1">Yes</mat-radio-button>
                     <mat-radio-button value="0">No</mat-radio-button>
                 </mat-radio-group>
             </div>
             <div
                    *ngIf="basicDetailsForm?.get('isFirstOwned')?.touched && basicDetailsForm?.get('isFirstOwned')?.hasError('required')">
                    <span class="validation-err">Please select if equipment is first owned.</span>
                </div>
             <div class="col-md-4 mb-3">
                 <label for="" class="f-12 d-block">Year of Manufacture <span class="required" *ngIf="isRequiredField('yearOfManufacture')">*</span></label>
                 <mat-form-field class="datepicker-input"> 
                    <input matInput [matDatepicker]="dp1" (click)="dp1.open()" placeholder="" formControlName="yearOfManufacture" [max]="todayDate">
                    <mat-datepicker-toggle matSuffix [for]="dp1" class="calender-icon">
                        <mat-icon class="material-icons-outlined " matDatepickerToggleIcon>
                            <img src="../../../assets/images/calendar.svg" alt="">
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp1 startView="multi-year" panelClass="example-month-picker"
                        (yearSelected)="chosenYearHandler($event, dp1)">
                    </mat-datepicker>
                </mat-form-field>
                <div
                    *ngIf="basicDetailsForm?.get('yearOfManufacture')?.touched && basicDetailsForm?.get('yearOfManufacture')?.hasError('required')">
                    <span class="validation-err">Please select some option.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="f-12 d-block" for="">Customer Reference Number </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" maxlength="15" formControlName="customerReferenceNo">
                </mat-form-field>
                <!-- <div
                *ngIf="basicDetailsForm?.get('customerReferenceNo')?.touched && basicDetailsForm?.get('customerReferenceNo')?.hasError('required')">
                <span class="validation-err">Please enter Customer Reference Number.</span>
            </div> -->
            </div>
             <div class="col-md-4 mb-3">
                 <label class="f-12 d-block" for="">Pincode <span class="required" *ngIf="isRequiredField('pincode')">*</span></label>
                 <mat-form-field floatLabel="never">
                     <input (keyup)="getLocationData()" matInput placeholder="" type="text" formControlName="pincode" maxlength="6">
                 </mat-form-field>
                 <div
                    *ngIf=" basicDetailsForm?.get('pincode')?.touched && basicDetailsForm?.get('pincode')?.hasError('required')">
                    <span class="validation-err">Please enter pincode.</span>
                </div>
                <div *ngIf="basicDetailsForm?.get('location')?.touched && basicDetailsForm?.get('location')?.hasError('required') && (stateList?.length == 0 || validatePincode())">
                    <span class="validation-err">Please enter valid pincode.</span>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="f-12 d-block" for="">Asset Location <span class="required"
                        *ngIf="isRequiredField('address')">*</span></label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="address">
                </mat-form-field>
                <div
                    *ngIf="(basicDetailsForm.get('address')?.touched) && basicDetailsForm?.get('address')?.hasError('required')">
                    <span class="validation-err">Please enter Address.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="f-12 d-block" for="">Alternate Contact Number </label>
                <div class="row">
                    <div class="col-4 pr-0 pr-lg-3 pr-md-3">
                        <mat-select class="ptb-5 card-select payment-card-slct" value="+91"
                            formControlName="countryCode">
                            <mat-select-trigger>
                                <div class="d-block l-40">
                                    <img src="../../../assets/images/indflag.png" class="saved-card-icn" alt="">
                                    <div  class="prefix-number">
                                        <p class="mb-0 f-16 ln-20">+91</p>
                                    </div>
                                </div>
                            </mat-select-trigger>
                            <mat-option value="+91">
                                <div class="d-block l-40">
                                    <img src="../../../assets/images/indflag.png" class="saved-card-icn" alt="">
                                    <div  class="prefix-number">
                                        <p class="mb-0 f-16 ln-20">+91</p>
                                    </div>
                                </div>
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-8">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="" type="text" formControlName="contactNumber" maxlength="10">
                        </mat-form-field>
                        <div
                            *ngIf="(basicDetailsForm.get('contactNumber')?.touched) && (basicDetailsForm?.get('contactNumber')?.hasError('minlength') || basicDetailsForm?.get('contactNumber')?.hasError('maxlength'))">
                            <span class="validation-err">Please enter the 10 digit mobile.</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-3">
                 <label class="form-label" for="">Email Address <span class="required" *ngIf="isRequiredField('email')">*</span></label>
                 <mat-form-field floatLabel="never">
                     <input matInput placeholder="" type="text" formControlName="email">
                 </mat-form-field>
                 <div
                    *ngIf="basicDetailsForm?.get('email')?.touched && basicDetailsForm?.get('email')?.hasError('required')">
                    <span class="validation-err">Please enter email.</span>
                </div>
                <div *ngIf="(basicDetailsForm.get('email')?.touched) && basicDetailsForm?.get('email')?.hasError('email')">
                        <span class="validation-err">Please enter the valid  email.</span>
                    </div>
             </div> -->
            <div class="col-md-4 mb-3">
                <label class="f-12 d-block" for="">Alternate Email Address </label>
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="alternateEmail"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </mat-form-field>
                <div *ngIf="(basicDetailsForm.get('alternateEmail')?.touched) && (basicDetailsForm?.get('alternateEmail')?.hasError('email')|| basicDetailsForm?.get('alternateEmail')?.errors?.pattern)">
                    <span class="validation-err">Please enter the valid email.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="f-12 d-block" for="">Description of Asset </label>
                <!-- <mat-form-field floatLabel="never">
                    <input matInput placeholder="" type="text" formControlName="description"  maxlength="2500">
                </mat-form-field> -->
                <mat-form-field floatLabel="never">
                    <textarea matInput placeholder="" type="text" formControlName="description"  maxlength="2500" rows="4" cols="50"> </textarea>
                  </mat-form-field>
                <!-- <div
                *ngIf="basicDetailsForm?.get('description')?.touched && basicDetailsForm?.get('description')?.hasError('required')">
                <span class="validation-err">Please enter description.</span>
            </div> -->
            </div>
        </div>
    </form>
</section>