<main class="container-fluid">
    <section class="myself-details-main-wrapper">
        <div class="row">
            <div class="col-12 p-0">
                <app-progress-steps [steps]="steps"></app-progress-steps>
            </div>
        </div>
    </section>

    <div class="bulk-order-card">
    <section class="py-3">
        <form [formGroup]="enterpriseValuationForm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="f-20">Bulk Upload</h2>
                </div>
                <div class="col-md-6 text-right">
                    <button class="default-btn-outline mr-3 px-3" mat-button><a target="_blank" href="https://iquippo-marketplace-uat-mp2.s3.ap-south-1.amazonaws.com/assets/template/Guidelines_Bulk_Upload_Enterprise_Valuation.pdf"><img
                            src="../../../../../assets/images/guideline-icn.svg" alt="Guideline"class="mr-2"> View
                        Guidelines</a></button>
                    <button class="default-btn-outline mr-3 px-3" mat-button><a href="https://iquippo-marketplace-uat-mp2.s3.ap-south-1.amazonaws.com/assets/template/Bulk_Upload_Enterprise_Valuation_Template.xlsx"><img
                            src="../../../../../assets/images/download-icn.svg" alt="" class="mr-2" width="16"> Download
                        Template</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="f-12 d-block">Request Type<span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never">
                       
                                <mat-select placeholder="Select Request Type" (selectionChange)="updateRequestType($event?.value)" required formControlName="request_type">
                                    <mat-option [value]="1">
                                        Valuation
                                    </mat-option>
                                    <mat-option [value]="2">
                                       Inspection
                                    </mat-option>
                                    <mat-option [value]="3">
                                      GPS Installation
                                   </mat-option>
                                   <mat-option [value]="4">
                                    Photographs Only
                                 </mat-option>
                                </mat-select>
                               
                    </mat-form-field>
                    <div
                    *ngIf="(enterpriseValuationForm.get('request_type')?.touched) && enterpriseValuationForm?.get('request_type')?.hasError('required')">
                    <span class="validation-err">Please select Request Type</span>
                </div>
                    <!-- <label class="form-label f-12 d-block" for="">Seller Name</label> -->
                    <label for="" class="f-12 d-block">Purpose<span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" matAutocompleteOrigin>
                                    <mat-select placeholder="Select Purpose" (selectionChange)="updatePurpose($event?.value)" required formControlName="purpose">
                                        <mat-option *ngFor="let purpose of purposeList" [value]="purpose.id">{{purpose.title}}
                                        </mat-option>
                                    </mat-select>
                    </mat-form-field>
                    <div *ngIf="(enterpriseValuationForm.get('purpose')?.touched) && enterpriseValuationForm?.get('purpose')?.hasError('required')">
                                    <span class="validation-err">Please select purpose.</span>
                    </div>
                    <div *ngIf="this.userRole == this.apiPath.roles.admin || this.userRole == this.apiPath.roles.superadmin">
                    <label for="" class="f-12 d-block">Enterprise<span class="text-warning">*</span></label>
                    <mat-form-field floatLabel="never" >
                        <mat-select placeholder="Select Enterprise" (selectionChange)="updateEnterprise($event?.value)" required formControlName="enterprise">
                          <mat-option *ngFor="let customer of enterpriseCustomerList" [value]="customer?.partner_admin?.cognito_id">{{customer?.company_name}}
                          </mat-option>
                      </mat-select>
                      </mat-form-field>
                      <div
                     *ngIf="(enterpriseValuationForm.get('enterprise')?.touched) && enterpriseValuationForm?.get('enterprise')?.hasError('required')">
                       <span class="validation-err">Please select Enterprise</span>
                    </div> 
                    </div>

                </div>
                <div class="col-md-6">
                    <label for="" class="f-12 d-block">Upload CSV File</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInput>
                        <label class="custom-file-label custom-file-label2" for="front">
                            <img src="../../../../../assets/images/upload_xlsx.svg" alt="">
                            <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName==''"><span>Choose a file</span> or drag it
                                here</span>
                            <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName!=''"><span>{{excelName}}</span></span>
                            <span class="file-typ">Sheet should be in .xlsx format</span>
                        </label>
                    </div>
                </div>
                
            </div>
            <!-- <form formGroup="bulkUpload"> -->
                <!-- <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="" class="f-12 d-block">Upload CSV File</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="onFileChange($event)" #fileInput>
                            <label class="custom-file-label custom-file-label2" for="front">
                                <img src="../../../../../assets/images/upload_xlsx.svg" alt="">
                                <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName==''"><span>Choose a file</span> or drag it
                                    here</span>
                                <span class="cust-upload-txt cust-upload-txt2" *ngIf="excelName!=''"><span>{{excelName}}</span></span>
                                <span class="file-typ">Sheet should be in .xlsx format</span>
                            </label>
                        </div>
                    </div>
                    
                </div> -->
                <div class="text-right mt-3">
                    <button class="default-btn px-4" (click)="submitData()" [disabled]="!payload.length || enterpriseValuationForm.invalid" mat-button>Next</button>
                </div>
            <!-- </form> -->
        </div>
        </form>
    </section>
    </div>
</main>