/* .progress-block .progress-steps-group-block .step-block:nth-child(1)::before {
    width: calc(100% - 160px);
} */

.bulk-order-card {
    box-shadow: 0 0 6px #d2dce6;
    border-radius: 10px;
    background: #fff;
    margin: 15px 0px;
}

.custom-file .custom-file-label2 {
    text-align: center;
    padding: 30px 20px;
}
span.cust-upload-txt.cust-upload-txt2 {
    display: block;
    top: 10px;
    left: 0;
    margin-bottom: 15px;
}
span.cust-upload-txt.cust-upload-txt2 span{
    color: #0F3D94;
    text-decoration: underline;
}
.custom-file  .file-typ{
    color: #727272;
    font-size: 12px;
}
.custom-file .custom-file-label {
    height: auto;
}
.custom-file .custom-file-label2 {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}
.custom-file {
    height: auto;
}
.custom-file-input{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.sellerdetails {
    background: #fafafa;
    color: #000;
    border: 1px solid #eee;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}
.sellerdetails .validation-err{color:#333;bottom: 0px;top: 0px;}