.close-btn{
    background: #fff;
    float: right;
    border: none; 
    min-width: auto;
    margin-top: -5px !important;
  }
  
  .close-btn img {width: 15px; margin-top: -1px;}
  
  .close-btn:focus {
    outline: unset !important;
  }
 
  .popup-body {
    padding: 15px;
    overflow-y: auto;
  }

  .no-record {padding: 10px;}
  .asset-table .inner-table {
    border: 1px solid #e0e4e8;
    border-radius: 10px;
  }
  .asset-table table {
    max-width: 100%;
    overflow: auto;
    width: 100%;
  }
  .asset-table table th,
  .asset-table table td {
    font-size: 12px;
    border-color: #e0e4e8;
    line-height: 21px;
    padding: 0 21px 0 21px;
    white-space: nowrap;
    height: 42px;
  }
  .asset-table table td:first-child {
    border-top: 0px;
  }