<div class="popup modal-popup">
  <div class="popup-hdr">
    <h4>Generate Invoice</h4>
    <button mat-button (click)="close()" class="close-btn"><img src="../../../../../../assets/images/Close.svg" alt=""></button> 
 </div>
 <div class="popup-body">
  <div class="asset-table">
    <div class="table-responsive inner-table mb-3">

      <table class="mat-table default-tbl custom-mat-table" mat-table [dataSource]="invoiceGeneratedData"
        matSortDirection="desc" matSortActive="id" matSortDisableClear matSort >
        <ng-container matColumnDef="ucn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Control Number</th>
          <td mat-cell *matCellDef="let row"> {{row?.ucn.toString()}} </td>
        </ng-container>
        <ng-container matColumnDef="request_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type</th>
          <td mat-cell *matCellDef="let row"> {{row?.request_type}} </td>
        </ng-container>
        <ng-container matColumnDef="enterprise">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Enterprise</th>
          <td mat-cell *matCellDef="let row"> {{row?.enterprise}} </td>
        </ng-container>
        <ng-container matColumnDef="no_of_records">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Records</th>
          <td mat-cell *matCellDef="let row"> {{row?.no_of_records}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="asse">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Asset No.</th>
<td mat-cell *matCellDef="let row"> {{row?.total_amount}} </td>
</ng-container> -->
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
          <td mat-cell *matCellDef="let row"> <button class="default-btn" (click)="generateInvoice(row)">Generate Invoice</button> 
          <button class="default-btn ml-3 " (click)="generate_annexure(row)">Download Annexure</button> </td>
        </ng-container>
        <!-- <ng-container matColumnDef="invoice_date">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Date</th>
<td mat-cell *matCellDef="let row"> {{row?.invoice_created_date}} </td>
</ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="no-record table-recond" *ngIf="total_count == 0">No records found</div>
    </div>
  </div>
  <mat-paginator [length]="total_count" [pageIndex]="0" [pageSizeOptions]="[5, 10, 20]" [pageSize]="10"></mat-paginator>
</div>
</div>
